[2018-03-27 17:14] crazyfree opened #1538 "URGENT!!! Problem with 'identifier' => 'email'. Please support"
### Subject of the issue
Today i was trying to put another STRING instead of INT to 'identifier' property in jwt.php. So i passed 'email' into
Then i logged in to get token, after got the token, i decoded it and found sub=null. So whenever i call API to get data, it always returns 'user not found'. Of course, email is the primary key in my users table. How can i fix it?

Is that my fault?
Here is

[2018-03-27 21:17] mtpultz commented on #1538
This is something that will likely get more attention in StackOverflow since it is a question, not a feature request or bug report.

[2018-03-28 06:26] crazyfree commented on #1538
because email is my identifier so i think it should work right? in that case, maybe it should be improve right?

[2018-03-28 11:05] denisexavier commented on #81
I followed the step by @donald-slagle and it worked.
I've restarted my serve as well.
Thanks @donald-slagle

[2018-03-28 13:26] challet opened #1539 "encoding with an empty object field"
### Subject of the issue

Hi, I'm trying to encode a payload that I want to have an empty sub-field :
[code]
Since [Namshi JWT ](https://github.com/namshi/jose/blob/master/src/Namshi/JOSE/JWT.php#L58) doesn't force object (no [JSON_FORCE_OBJECT flag](http://php.net/manual/fr/function.json-encode.php)), it needs to be a StdClass as an input.

But the Namshi Provder from here requires the payload to

[2018-03-28 13:40] douglasjunior commented on #961
Same here.

When a pass a valid token everithing is ok. But when a pass a invalid or expired token, `MethodNotAllowedHttpException` is throw.

[code]

[2018-03-28 14:15] challet commented on #1539
workaround with using [get_object_vars](http://php.net/manual/en/function.get-object-vars.php) function :
[code]

[2018-03-28 14:22] douglasjunior commented on #1479
Checkout this tutorials
- https://arjunphp.com/laravel-5-6-rest-api-jwt-authentication/
- https://appdividend.com/2018/02/24/laravel-jwt-authentication-tutorial/

[2018-03-28 14:27] preciousgeorge commented on #1530
Thanks a lot @crossRT i finally was able to make it work using Irazasyed/jwt-auth-guard, i used it to set the guard i wanted it to authenticate with, each guard is already set up to a model. If you are interested i could give you a run down on how i went about it....Thanks a lot for the suggestion man, bless up.

[2018-03-29 07:19] adriiiprieto commented on #1486
@GizzmoAsus Great! That worked for me.

[2018-03-29 07:50] lmj0011 commented on #1290
@fideliscode

I was having this same problem for a few hours. I'm making a backend app with Lumen 5.6

It would have helped to see your `userController@signup` method.

I assume you were not hashing your password for the `User`, apparently when you do `\Tymon\JWTAuth\JWTAuth::attempt()`, it's expecting to validate against a Hashed password from the Users database table.

Meaning you pass a plain t

[2018-03-29 08:04] elrosi commented on #1524
Hi, i also do not work Auth::attempt($credentials) and JWTAuth::attempt($credentials)
Login will not complete.

[2018-03-29 13:11] omarnas commented on #670
I'm facing the same issue I'm not sure why it's not catching the Exception
using laravel 5.6

[2018-03-30 02:23] jjhesk commented on #925
same problem Class tymon.jwt.auth does not exist.

[code]
core: 5.5.x.
I used the solutions and i got this.
Illuminate \ Contracts \ Container \ BindingResolutionException
Target [Tymon\JWTAuth\Providers\JWT\JWTInterface] is not instantiable while building [Tymon\JWTAuth\Middleware\GetUserFromToken, Tymon\JWTAuth\JWTAuth, Tymon\JWTAuth\JWTManager, Tymon\JWTAuth\Middleware\GetUserFromToken, Tymon\J

[2018-03-30 02:29] jjhesk commented on #1100
same in here the class is not instantiable while building

[2018-03-30 02:56] jjhesk commented on #731
add provider in the config/app.php

    'providers' => [

        /*
         * Laravel Framework Service Providers...
         */
        Illuminate\Auth\AuthServiceProvider::class,
        Tymon\JWTAuth\Providers\JWTAuthServiceProvider::class,
...

[2018-03-30 03:16] jjhesk commented on #1460
same issue here

[2018-03-30 22:19] lmj0011 commented on #1524
sounds similar to this issue: https://github.com/tymondesigns/jwt-auth/issues/1290

see https://github.com/tymondesigns/jwt-auth/issues/1290#issuecomment-377153100

[2018-03-30 23:55] lmj0011 commented on #1347
You have to pass your current token in, to the logout the user

eg.)

[code]

[2018-03-31 15:22] josh9060 commented on #1511
This is not a bug, but something you should implement yourself. I haven't done it myself in a while, but I don't believe this package causes any problems with Password Resetting.

[2018-03-31 15:33] josh9060 opened #1540 ""auth()->attempt()" returns a boolean."
### `auth()->attempt()` returns a boolean.
In the 1.* docs, the example uses `auth()->attempt()`, however, when I attempt to use this it returns a boolean. I don't think it's a problem on my end, as I have recreated the 'bug' in a second app.

When I use the `JWTAuth` facade, it works - `JWTAuth::attempt()` -> returns a token.

### Your environment
| Q                 | A
| ----------------- | ---

[2018-03-31 15:44] josh9060 commented on #1540
For some reason, the guard was not being set to the default I set: "api". I done a composer dump-autoload and update - it now works as expected.

[2018-03-31 15:44] #1540 closed, assigned to nobody

[2018-04-01 20:11] lCHECHOl commented on #1511
@Joshgallagher  You can see my issue, so you understand what I need please #1502

[2018-04-02 22:14] macecchi opened #1541 "`blacklist_grace_period` allows expired token to be refreshed forever"
### Subject of the issue
I'm implementing jwt-auth and I noted a curious behaviour which I believe might be a bug. If not, it makes me reconsider the benefits of expiring tokens and the blacklist.

**With `blacklist_grace_period` enabled, I'm able to make requests and refresh an expired token indefinitely, as long as each refresh request is within less than `grace_period` of each other.**

Conside

[2018-04-03 11:12] ricardoperovano commented on #1474
@redolivedev 's answer worked!

[2018-04-04 06:02] huaiguoguo opened #1542 "how long wait for 1.0 version docment ?"
### Subject of the issue
Describe your issue here.

how long wait for 1.0 version docment ?

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no / yes                i don't know
| New Feature?      | no / yes          no
| Framework         | Laravel / Lumen   laravel
| Framework version | 5.x.y    5.6
| Package version   | 1.x.y     1.0.0-rc.2
| PHP ve

[2018-04-04 13:11] modpluz commented on #1361
`composer require tymon/jwt-auth:"^1.0.0-rc.2"` resolves this issue for me.

[2018-04-04 13:37] jamesdb commented on #1542
Try using `auth('api')->attempt($credentials)` instead.

[2018-04-04 16:28] ngocnd0242 commented on #1025
I saw same problem, any ideal?

[2018-04-05 04:12] ngocnd0242 commented on #1531
How to resolved follow bellow:
1. Store token when use logined
2. Invalidate token on next time login
[code]

[2018-04-05 13:48] onesSid opened #1543 "change the password encryption driver"
i'm using jwt with laravel 5.6, and i have to change the password encryption driver to MD5, i know that MD5 is not that good, but i have no choice but using it, the existing users  passwords are encrypted with MD5 in the database, i made the register controller register the  password encrypted with MD5 using this

        User::create([
            'name' => $request->get('name'),
            'ema

[2018-04-06 10:30] pencildrummer commented on #1322
+1

[2018-04-06 10:40] Mheetu opened #1544 "Get token without changing auth..."
### Subject of the issue
I'm just wanting to generate a JWT token that can then be passed to a websocket connection AFTER the user has already logged in via the default auth driver. Is there a way to do that with this package?

Using 1.0.0-rc.2 on Laravel 5.6.

[2018-04-07 19:56] ghost opened #1546 "How to override Token Refresh TTL"
Pls is there any method to override token refresh ttl like we have for token ttl
$token = auth()->setTTL(7200)->attempt($credentials);
i am using version 1.

[2018-04-07 21:28] dsouzas commented on #1522
I've spent some time digging around this issue, too. I solved this by changing the middleware execution order.

I just changed the file tymon/jwt-auth/src/Http/Middleware/RefreshToken.php from this:

        public function handle($request, Closure $next)
        {
                $this->checkForToken($request);
                try {
                    $token = $this->auth->parseToken()->refresh(

[2018-04-07 23:20] hjJunior commented on #1465
I am getting the same error

[2018-04-07 23:40] hjJunior commented on #1540
I've tried but keep returning bolean

[2018-04-08 04:29] binhlk commented on #1543
Here: https://stackoverflow.com/a/42177125/7045574
The `\Auth::login($user)` or `auth()->login($user)` will return the token.

[2018-04-08 12:17] martynaskre opened #1547 "[Feature]Pass all token values to authenticator"
### New feature
Ability to get all token values to byId() method or just let the developer decide if he wants to use Id or other values from token. One of uses could be to validate if user has changed password. Like you put custom claim with latest password reset time and then while authenticating you can check whether password has been changed or not.

### Your environment
| Q                 | A

[2018-04-08 17:11] josh9060 commented on #1543
I would seriously suggest you don't use md5. Force all your users to re enter their password, and encrypt them with bcrypt.

Then use this package as normal.

[2018-04-08 17:16] josh9060 commented on #1542
The actual way to do this would be setting the deafult driver to API.

[code]

It's in the docs.

[2018-04-08 17:18] josh9060 commented on #1534
Version 2.0.0 is still in development. You can use it in production, but be advised that their may be bugs that have not been ironed out yet.

[2018-04-08 17:27] josh9060 commented on #1541
What version of the package are you using ?

[2018-04-08 17:31] mehrdad-shokri commented on #1534
I ended up using 1.0.0-rc.2 since v2.0.0 was giving me a silly error i Don't remember right now.

[2018-04-08 17:32] #1534 closed, assigned to nobody

[2018-04-09 10:46] li3007liuu commented on #1298
jwt:generate 调用的命令函数handle（）在新版已经没有了，在新版中的函数是fire()；所以修改 vendor/tymon/jwt-auth/src/Commands/JWTGenerateCommand.php文件，类中间添加语句public function handle()
    {
        $this->fire();
    } 再次运行则解决上述问题。

[2018-04-09 23:38] husseinmirzaki opened #1548 "Can't login using Lumen"
### Subject of the issue
Describe your issue here.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | no
| Framework         |  Lumen
| Framework version | 5.6.*
| Package version   | 2.0.x-dev
| PHP version       | 7.x.y

### Steps to reproduce
tried to use it on Lumen like this
`config(['auth.guards.api.driver' => 'jwt' ,'auth.d

[2018-04-10 08:00] jayanthanantharapu opened #1549 "Same auth token is generating using auth()->login($user);"
### Subject of the issue
One of the user logged and generated auth token not expired, after some time another user trying to login generated same auth token.
Passing the user model to `auth()->login($user);`

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | yes
| New Feature?      | no
| Framework         | Laravel
| Framework version | 5.5
| Package ver

[2018-04-10 08:05] solidevolution opened #1550 "Change time unit (unit tests)"
### Subject of the issue
Change length of time from minutes to seconds or ticks

### Your environment
Improvement for Laravel / Lumen
All versions

### Steps to reproduce
Try to set expire or refresh token to 1 second

### Expected behaviour
Works (for "Token expired"-Unit Tests)

### Actual behaviour
Doesn't work, lowest common denominator is "minutes"

[2018-04-10 12:22] vesper8 commented on #1298
I wrote this little command to rename all the fire() to handle(). After running it then the command works fine.

[code]

[2018-04-10 12:43] Wowgreat commented on #1540
I meet same trouble    Can you hel me

[2018-04-10 14:05] hjJunior commented on #356
I with the same problem here, I even tried to use `getAuthPassword` to my custom column, but just work if I keep the name of column in database as 'password'

[2018-04-10 14:15] hjJunior opened #1551 "Using custom password column"
### Subject of the issue
I can't log in when I'm using a custom key in database instead of `password`, so I found this #356, and I keep with the same problem even after used `getAuthPassword()` function to return `$this->custom`

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              |  yes
| New Feature?      | no
| Framework         | Laravel
| Framework versi

[2018-04-10 14:20] hjJunior commented on #1551
### Worked now!

So to do this to work, I'm supposed to add in Model these line
``
    protected $hidden = [
        'custom'
    ];
``

[2018-04-10 14:20] #1551 closed, assigned to nobody

[2018-04-10 20:16] zacksmash opened #1552 "Problem with this package (v1.*) and the vue-auth package from websinova"
### Subject of the issue
Using the 0.5.* version of this package, it works flawlessly with the vue-auth package. However, when I upgrade to the 1.* version of this package, vue-auth no longer saves the token to local storage.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | yes
| New Feature?      | no
| Framework         | Laravel
| Framework version |

[2018-04-10 22:28] josh9060 commented on #1540
Set your default driver to your specific API provider where the driver is 'jwt'. It's in the docs.

[2018-04-11 02:25] Wowgreat commented on #1324
I have the same question

[2018-04-11 13:58] shijunti19 commented on #1502
db saves one character and then matches

[2018-04-11 14:15] lCHECHOl commented on #1502
@shijunti19  I do not understand, you can be a little more specific, thanks in advance

[2018-04-11 18:46] zacksmash commented on #1552
Fixed my own issue. In my original implementation, it called for appending a header to the response. I just need to do that with the new implementation from the docs.

I updated the `respondWithToken()` method as follows:

[code]

[2018-04-11 20:52] connor11528 commented on #1298
Github doesn't support PRs to the wiki. Can we update the changes to support Laravel 5.5 and 5.6?

Thank you!

[2018-04-12 12:17] ImArtur commented on #1298
Don't mess with external lib. Just use dev version as @lomholdt mention.

[2018-04-12 16:37] connor11528 commented on #1298
The documentation is pretty clear. Head to [the website](http://jwt-auth.readthedocs.io/en/develop/) for recent versions of Laravel. Also, use release candidate number 2 for Laravel 5.6.

There is also a nice tutorial for using this package here: https://blog.pusher.com/build-rest-api-laravel-api-resources/

[2018-04-12 16:40] aligajani commented on #1542
@Joshgallagher  How do I use this with the latest version of Laravel, 5.6+

[2018-04-12 16:43] aligajani opened #1553 "Full guide documentation for Laravel Framework 5.6.16?"
### Subject of the issue
Describe your issue here.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no / yes
| New Feature?      | no / yes
| Framework         | Laravel / Lumen
| Framework version | 5.x.y
| Package version   | 1.x.y
| PHP version       | 5.x.y / 7.x.y

### Steps to reproduce
Tell us how to reproduce this issue.

### Expected behaviour

[2018-04-12 16:45] aligajani commented on #1552
@zacksmash  Can you post a brief outline of how you set this package on Laravel Framework 5.6.16?

I am having a few issues because the outline is outdated.

What is your login() method like, what is your middlewares like?

Thank you in advance.

[2018-04-12 16:47] zacksmash commented on #1552
@aligajani I've followed the instructions on the unofficial v1.0 guide [here](http://jwt-auth.readthedocs.io/). The only thing I changed was the above method on the sample AuthController.php from the guide.

[2018-04-12 16:47] #1552 closed, assigned to nobody

[2018-04-12 17:00] aligajani commented on #1552
@zacksmash  I got that. Thanks a lot. What are your middlewares like though?

That is, do I need to anything to `$routeMiddleware` in `Kernel`?

[2018-04-12 17:15] zacksmash commented on #1552
@aligajani Currently, my `$routeMiddleware` and `Kernel` are unmodified, from a stock Laravel 5.6.16 installation. I haven't modified them at all.

[2018-04-12 17:18] aligajani commented on #1552
@zacksmash  Hey, I see. Another quick one.

1. What is your error handling like in the `AuthController.php` ?
2. JWT middleware throws this exception (` Route [login] not defined. {"exception":"[object]`) when it couldn't find the token and will try to redirect to the log in route. How do I fix this one? It certainly is annoying?

[2018-04-12 17:21] zacksmash commented on #1552
@aligajani My `AuthController.php` looks exactly like the one in the docs, except for the method I changed which I noted above. [Here](http://jwt-auth.readthedocs.io/en/develop/quick-start/#create-the-authcontroller)

[2018-04-12 17:23] aligajani commented on #1552
@zacksmash  Thanks for that. Any idea about 2.

[2018-04-12 17:25] zacksmash commented on #1552
@aligajani What does your `api.php` routes file look like?

[2018-04-12 17:27] aligajani commented on #1552
@zacksmash  Like this below

[code]

[2018-04-12 17:31] zacksmash commented on #1552
@aligajani What does your Vue component look like, where you make the login request?

[2018-04-12 17:31] aligajani commented on #1552
@zacksmash  I think I fixed 2. I just put this in `Handler.php`
[code]

[2018-04-12 17:34] aligajani commented on #1552
@zacksmash  Any particular reason why your `respondWithToken()` sends out token in the header in addition to the response? Also, while you are at it, why aren't you prefixing it with `Bearer`? Just curious that's all.

[2018-04-12 17:36] zacksmash commented on #1552
@aligajani I've since removed the json response because it's unnecessary. I don't need to prefix it with `Bearer` on the response, only on subsequent requests to authenticate a user. At this point, a user isn't authenticated which is why I'm requesting a token.

Edit: Scratch that, apparently it's necessary on the `refresh()` method. Keep it in there!

[2018-04-13 02:15] irfanabdurrasyid commented on #1348
@dinho19sp thanks it work

[2018-04-14 13:31] cre8 opened #1554 "Login user by id"
### Subject of the issue
I am using a listener with `Auth::id()`. When my QUEUE_DRIVER is set to sync everything works finde, but with set to `redis` it will return null.

I got the user id in my listener, but `\Auth::setUser(User::find($event->userId));` does not work. How can I login a user just by the id to get access to it with `Auth::user()`?

### Your environment
| Q                 | A
| --

[2018-04-14 19:43] bhanushalimahesh3 commented on #887
me too facing this error, any update on it apart from temporarily fixed by @ekstremedia ??

[2018-04-15 22:38] macecchi commented on #1541
Hi @Joshgallagher , forgot to add this on the issue :x

I'm using 1.0.0-rc.2 - https://github.com/caronae/caronae-backend/blob/master/composer.lock#L4299.

[2018-04-16 22:57] aligajani commented on #1552
@zacksmash  What is your AuthController.php 's construct like? Mine is below.

After logging in after 24 hours, the auth/refresh was returning Unauthenticated.

I then added the `refresh` to the `except[]` array in the controller. Is that secure in your opinion?

[code]

[2018-04-17 14:56] ce-page commented on #1498
Any update on this? I'm also having this issue. Although I am using the Passport package which allows the `actingAs` method to be used in my case.

[2018-04-17 15:24] artembatura opened #1555 "[Question] Using jwt-auth in JAM stack"
![image](https://user-images.githubusercontent.com/17342159/38879416-f7cb992e-426b-11e8-920b-0aabd04f2657.png)

The JAM Stack mean single Auth server, which store user and generate JWT, for other services. How to validate JWT on other services, if we don't store users on them?

[2018-04-17 20:34] aligajani opened #1556 "How to properly catch exceptions? I got a TokenBlackListed exception and Vue-Auth still refreshed it fine"
### Subject of the issue
Describe your issue here.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no / yes
| New Feature?      | no / yes
| Framework         | Laravel / Lumen
| Framework version | 5.x.y
| Package version   | 1.x.y
| PHP version       | 5.x.y / 7.x.y

### Steps to reproduce
Tell us how to reproduce this issue.

### Expected behaviour

[2018-04-18 09:42] ketavchotaliya commented on #240
I am facing same issue. I tried every possible way but all the time getting same error.

`$user = $this->jwt->toUser($token);` and `$user = $this->jwt->authenticate($token);`

Both throws an same error `A token is required`

Although `$user = Auth::user();` is works fine.

[2018-04-19 06:48] stevenkitter commented on #1431
@tymondesigns hello guys. it is just for validator not for expired.how can i know it was expired exactly.

[2018-04-19 09:12] ismailrami opened #1557 "not connecting to redis but still find keys with empty value in each logout"
### Subject of the issue
i can't understand why in every logout i find something in redis with empty value, and in the other hand i put nothing in cache is that a default behaviour or what.
any ideas..?
thanks.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | no
| Framework         | Laravel
| Framework version | 5.5.*
| Package

[2018-04-20 04:53] sursir opened #1558 "A mistake"

[2018-04-20 05:22] #1558 closed, assigned to nobody

[2018-04-20 07:36] shankesgk2 commented on #1233
I also with same error, plase.

[2018-04-20 09:36] HSkogmo commented on #872
@tom-aglow I've been recently implementing JWT refresh functionality on my API and I think I might have a clue what it might be as I encountered the same problem myself.

- Library version: 1.0.0-rc2
- Laravel version: 5.5

My issue was that my Authentication ("auth") middleware was executing before the RefreshToken middleware when hitting a route like this (below) with a JWT which was expired, bu

[2018-04-21 08:28] jayanthanantharapu commented on #1549
No tokens were same, the payload field capturing the user id where i am flushing the db repeatedly. so when ever a user is created with the same id which is already exists valid token payload user id then we are getting another user details after flushing the db; so for this passing additionally unique custom claims such that validating the users successfully.

[2018-04-21 08:28] #1549 closed, assigned to nobody

[2018-04-21 10:05] dontee01 commented on #1379
I have a separate table(not users table) handling merchant authentication for my app. So I'm using laravel query builder. Here's the error I got

[2018-04-21 12:32] i5on9i commented on #1322
I also got this issue, too.
In my case, the cause was the auth.php.

When I tried the jwt, i'd already used differenct auth, 'api'.
so I just make my configuration like the below.

That causes the wrong auth.driver is invoked.

And, this is only when I call the $this->jwt->attempt(). ( this is Lumen source).
~~Thus, I have decided to use JWTAuth::fromUser($user) instead of attempt() not to change

[2018-04-23 03:38] billyanto opened #1559 "Laravel Framework 5.5.40 error not found Tymon\JWTAuth\Providers\JWT\Lcobucci"
After isntaling my Laravel Framework 5.5.40 project with "tymon/jwt-auth": "1.0.0-rc.1"
i got respose error that show at postman like this Symfony\Component\Debug\Exception\FatalThrowableError: Class &#039;Tymon\JWTAuth\Providers\JWT\Lcobucci&#039; not found

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              |  yes
| New Feature?      | yes
| Framework

[2018-04-23 04:32] billyanto commented on #1559
not found in vendor\tymon\jwt-auth\src\Providers\AbstractServiceProvider.php on line 134

[2018-04-23 13:51] zacksmash commented on #1552
@aligajani My `AuthController.php` constructor looks just like yours, except the `refresh` method. I only have `login` under the `except` clause. Personally, I wouldn't want the `refresh` method outside of the `auth:api` middleware.

I think the unauthenticated error might be due to the refresh_ttl or the ttl config settings. You may want to extend those if you have issues.

[2018-04-23 14:56] aligajani commented on #1552
@zacksmash  Thanks Zach. I have ttl at 1h and blacklist at 1800s.

Do you have any error handling/exception handling in your controller?

[2018-04-24 09:37] Syafiqq commented on #1546
I Have the same problem to.

- jwt-auth [1.0.0-rc.2]
- Laravel [5.6.17]
- OS [Windows]
- php [7.1.13]

Here is my code

AuthController.php

    class AuthController extends Controller
    {
        public function __construct()
        {
        }

        public function login()
        {
            $credentials = request(['email', 'password']);

            if (!$token = j_auth('api')

[2018-04-24 16:21] rojonunoo commented on #1256
@tijanmdr Man you are a savior .. you have no idea

[2018-04-24 22:46] MatheusGit opened #1560 "Token has expired after JWTAuth::fromUser($user)"
### Subject of the issue
I am developing an api, and the error "Token has expired" happens in any request following the login that use token.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              |  yes
| New Feature?      | no
| Framework         | Laravel
| Framework version | 5.5
| Package version   | dev-develop
| PHP version       | 7.1

### Steps to repr

[2018-04-25 16:43] victorjkhalaf commented on #1446
Sorry to reopen this but with blacklist enabled our client app would effectively end up on a "timer" of however long the blacklist grace period is, and if no other calls are made in that period of time, the token will end up blacklisted because it got used once to validate.
This occurs when formrequests fail, validations fail, and when returning an error type response using Dingo.
It doesn't look

[2018-04-25 19:53] hmamman commented on #1038
For Laravel 5.6 use the following steps:

change the service provider from:
[code]
to:
[code]

then publish it as:
[code]

[2018-04-26 20:23] acidjazz opened #1561 "Session store not set on request."
On a fresh installation with Laravel 5.6 and using the setup guide I get `Session store not set on request.` When i try to access routes behind the `api` middleware

Unless I add `\Illuminate\Session\Middleware\StartSession::class,` to my 'api' $middlewareGroups in `app/Http/Kernel.php`

Is there any way around this? Or a better solution?

[2018-04-27 12:17] #1555 closed, assigned to nobody

[2018-04-27 16:00] maxrisk commented on #1355
Why I always catch “UnauthorizedHttpException” when the token has expired? How can I  catch “TokenExpiredException”??😩

[2018-04-27 16:22] maxrisk opened #1562 "How can I catch “TokenExpiredException” when token has expired?"
Why I always catch “UnauthorizedHttpException” when the token has expired? How can I catch “TokenExpiredException”??

[2018-04-27 16:49] loic-lopez opened #1563 "JWT Token with multiple authentication sources"
### Subject of the issue
I would like to know if is it possible to create a JWT token for multiple domains like :
First domain : api.test.local
Second domain : chat.test.local

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | ?
| Framework         | Laravel
| Framework version | 5.6
| Package version   | latest
| PHP version

[2018-04-28 01:25] inshaf commented on #819
im facing the same issue as "majomix"... not sure how to solve this

[2018-04-28 11:36] MatheusGit commented on #1562
try it

      try {

		if (! $user = JWTAuth::parseToken()->authenticate()) {
			return response()->json(['user_not_found'], 404);
		}

	} catch (Tymon\JWTAuth\Exceptions\TokenExpiredException $e) {

		return response()->json(['token_expired'], $e->getStatusCode());

	}

See: https://github.com/tymondesigns/jwt-auth/wiki/Authentication

[2018-04-28 13:42] maxrisk commented on #1562
Thanks!

[2018-04-28 13:42] #1562 closed, assigned to nobody

[2018-04-28 13:49] MatheusGit commented on #1562
To catch the error globally, go to App/Exceptions/Handler.php and replace render method with it:

        public function render($request, Exception $exception)
        {
           if($exception instanceof \Symfony\Component\HttpKernel\Exception\UnauthorizedHttpException){
              return response()->json(["error" => $exception->getMessage()], $exception->getStatusCode());
          }

[2018-04-28 13:51] MatheusGit commented on #1559
See it: https://github.com/tymondesigns/jwt-auth/issues/1316

[2018-04-28 13:52] #1560 closed, assigned to nobody

[2018-04-28 13:53] MatheusGit commented on #1563
Maybe if the JWT_SECRET are the same, it works

[2018-04-29 00:00] ratatatKE commented on #396
I am having the same problem when I write a for loop on the client side that does multiple frequent posts to the laravel server side. Somewhere in the middle jwt-auth throws a token invalid exception which forces user to logout and log back in disrupting the entire UX.

[2018-04-29 11:19] aldyson commented on #1487
@darrynten Do you know anything else about this issue? It's a really big blocker for me at the minute.

[2018-04-30 13:41] #1563 closed, assigned to nobody

[2018-04-30 14:48] JamesPoel commented on #1187
Same issue as @GregKeaney . Changed user setting in jwt.php but the query is still being made against the users table. Any idea why this is happening? Incidentally, the above comment from @EskimoLemon doesn't work for me. It just doesn't find the record - even if I hash the password first.

[2018-04-30 15:21] JamesPoel commented on #1187
Solved my issue:

Modified config/jwt.php with my custom model:
`'user' => App\Models\Driver::class,`

Added this line before the JWTAuth::attempt attempt in my controller:
`config()->set( 'auth.defaults.guard', 'api' );`

Added to config/auth.php > guards:
[code]

Added to config/auth.php > providers:
[code]

[2018-05-01 15:42] telliott22 commented on #1548
In `config/auth.php` does your specified guard `provider` match one of your declared `providers`?

So my config is as follows:

[code]

[2018-05-03 05:45] ramesh25 commented on #205
use php artisan key:generate

[2018-05-03 12:21] nsulistiyawan commented on #1199
I'm facing the same problem when using `Laravel 5.6` and `"tymon/jwt-auth": "1.0.*"`
Here's my approach to fix that.

1. Open  **app\Exceptions\Handler.php**
2. Edit **render** method
[code]

also dont forget to import all of required class.
[code]
Hope this could help someone :)

[2018-05-04 04:24] ralpdexterbongato commented on #926
hey i have same issue and solved it, i would just add my solution here for other who might face this problem in the future,
just change your refreshtoken function to this:
public function refresh()
  {
      return $this->respondWithToken(JWTAuth::fromUser(Auth::user()));
  }
protected function respondWithToken($token)
  {
      return response()->json([
          'access_token' => $token,

[2018-05-04 10:44] ntopulos commented on #1487
I have the same problem, I was testing my API and some tests were failing. At the end these issues seemed to originate in a problem of jwt-auth when it comes to distinguish users.

I wrote a test to verify this assumption and jwt-auth seems indeed to return the wrong user for the provided credentials.

My test is doing something like this:

[code]

I run this test multiple times in a loop. On the

[2018-05-04 16:00] itshazlan commented on #205
thanks @dambrogia  you saved my time :D

[2018-05-04 20:52] mikt opened #1564 "Middleware not verifying token sent via header"
### Subject of the issue
When I call a URL requiring authentication it behaves as expected when providing the token as a query string, but not when added as header.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | no
| Framework         | Laravel
| Framework version | 5.6
| Package version   | 1.x.y
| PHP version       | 7.2

##

[2018-05-06 08:25] abhisheksatre opened #1565 "jwt.auth middleware not taking custom guard"
I am using two guards. (Api and admin).
[code]

My route:
`Route::post('/dashboard', 'Admin\Controller@create')->middleware('jwt.auth');`

Issue:
When I pass token to above route, jwt.auth middleware is verifying token using default guard. But I want to verify it via admin guard. How to verify token via custom guard.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?

[2018-05-06 09:09] omarnas commented on #240
I solved it using  JWTAuth::setToken($token) before calling JWTAuth::toUser

$token=($request->token ? $request->token : $request->bearerToken() );
JWTAuth::setToken($token);
$user = JWTAuth::toUser($token);

[2018-05-06 14:48] espiro commented on #362
you can create a CustomAuthAdapter for this purpose
witch should implement Tymon\JWTAuth\Providers\Auth\AuthInterface
and in byCredentials method use your own credentials to get a user

do not forgot to change auth in jwt config file with your custom Adapter

[2018-05-07 16:10] helderferrari2 opened #1566 "Custom User Model - Laravel 5.6"
### Subject of the issue
- I would like to use a Model like App\Models\Clientes instead of APP\User(standard), would it be possible?
- Which version is recommended for Laravel 5.6?

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | no
| Framework         | Laravel
| Framework version | 5.6.18
| Package version   | dev-develop
| PH

[2018-05-07 18:41] codebriefly opened #1567 "jwt:generate not working"
### Trying to integrate within my Laravel Web App
I'm trying to integrate within my Laravel application. But when I executing  `jwt:generate` it's not working.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | yes
| New Feature?      | no
| Framework         | Laravel
| Framework version | 5.6.*
| Package version   | 0.5.12
| PHP version       | 7.2.4

#

[2018-05-08 07:04] gazben commented on #1567
@codebriefly Use the latest version.
[code]

composer require will not use this by default

[2018-05-08 14:35] Yremma commented on #1567
@gazben I get this error when I update jwt-auth version

![error](https://user-images.githubusercontent.com/21195993/39763346-3fe026ec-52b3-11e8-84a1-98598d62ad0e.png)

I'm using Laravel 5.6.21

[2018-05-09 07:41] svolence commented on #1560
I also encountered this problem. How did you solve it?

[2018-05-09 14:00] vsilva472 opened #1568 "Exception Handler Token Expired"
### JWT does not return TokenExpiredException
I'm trying to return a 419 response to client side in case of token expired but i think the Tymon\JWTAuth\Exceptions\TokenExpiredException is never instantiate at App\Exceptions\Handler.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | maybe
| New Feature?      | no
| Framework         | Laravel
| Framework

[2018-05-09 16:11] montyclt opened #1569 "Encrypt token"
### Subject of the issue
As I know, the token is signed using secret, but if I paste it in jwt.io, I can't modify the Payload because I don't have the secret, but I can see the payload, with the user ID.

I propose encrypt the token (maybe only the payload) with Laravel encrypter before send to the user, and decrypt it in the server where checking it.

To make it without breaking changes, I propos

[2018-05-10 11:53] vaishnavmhetre commented on #1554
Have you verified Redis configuration by building some other dummy event for testing (like _notification_)

[2018-05-11 07:27] fxxxf commented on #1565
You can use jwt.refresh middleware.
Jwt.auth performs auth verification, but it does not have guard information when executed. Only the default guard can be used.

[2018-05-12 23:48] aryby commented on #1004
merci bcp

[2018-05-14 08:10] rishijasapara opened #1570 "Pick up TTL, Refresh TTL, Secret from config"
### Subject of the issue
I am trying to configure jwt.php from another configuration file constants.php

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | yes
| New Feature?      | no
| Framework         | Laravel
| Framework version | 5.4
| Package version   | 0.5.*
| PHP version       | 7.0

### Steps to reproduce
Create a file called 'constants.php' in

[2018-05-14 22:09] 604bpierce commented on #1478
I'm having this same problem. I'm getting back a bool (true) instead of a token on the `auth()->attempt([$credentials]);` request.

_Edit: using `auth('api')->attempt($credentials)` seems to solve this issue_

[2018-05-15 16:59] mradamwood commented on #1406
Any update on this? I'm having the same problem ($request->user() being null).

Was on rc-2 and have upgraded to 2.0.x-dev to see if fixed.

[2018-05-16 12:43] sonoiche opened #1571 "lass="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>"
### Subject of the issue
Describe your issue here.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no / yes
| New Feature?      | no / yes
| Framework         | Laravel / Lumen
| Framework version | 5.x.y
| Package version   | 1.x.y
| PHP version       | 5.x.y / 7.x.y

### Steps to reproduce
Tell us how to reproduce this issue.

### Expected behaviour

[2018-05-17 12:17] rishijasapara commented on #1570
You may configure as follows in **jwt.php**:

`'ttl': app()->make('config')->get("constants.Authentication.Token.TTL");`

[2018-05-17 12:17] #1570 closed, assigned to nobody

[2018-05-18 09:14] lukeberry99 commented on #1567
@gazben @tymondesigns why is the latest version not released on composer? is it because its unstable, or is there another reason?

[2018-05-19 00:00] glodzienski commented on #1348
It's worked for me too, but I don't found another solution.

[2018-05-19 19:33] StephanMeijer commented on #1567
Issues here as well

[code]

[2018-05-20 08:12] temmy-alex commented on #773
Thanks whoan you saved my time!

[2018-05-20 10:08] dishcheng commented on #1355
[code]

I got The token has been blacklisted.....who can help me?

[2018-05-20 10:10] dishcheng opened #1573 "The token has been blacklisted"
I tried this https://github.com/tymondesigns/jwt-auth/issues/1355, but when I refresh my expired token, I got  The token has been blacklisted,who can help me ? my larval project should be 5.5.40 now.
[code]

[2018-05-20 14:30] CamiloManrique commented on #1566
@helderferrari2 The key is changing the users provider. You probably changed your config/auth.php as is stated in the docs:

[code]

As you can see, the api guard is using the users provider. If you look a little further the config/auth.php file, you will find the providers config. It probably looks like this:
[code]

As you can see the users provider uses the User class as model by default. Chang

[2018-05-20 15:09] core01 commented on #1573
Hi, show your code and axios interceptor

[2018-05-20 15:19] dishcheng commented on #1573
my Middleware
[code]
my api.php
[code]

I can get token when I login ？ but I need to refresh my token when the token was expired....I am a backend developer.... @core01

[2018-05-20 16:55] core01 commented on #1573
@caicaizi251 I guess the problem is with axios interceptor on frontend. When you send expired token at the first time (when your refresh TTL is not expired), jwt-auth returns the new one in response header.
If you send expired token again you will get error: "token blacklisted".
Check if on frontend you has something like this: https://gist.github.com/core01/9cb3c292576049e3be5cca0889ed3e52#file-c

[2018-05-21 07:21] mataheri opened #1574 "How to get user from JWTAuth when my table is not default users table"
### Subject of the issue
I'm going to use JWTAuth to create token from a model. So I used this method:

`$token = JWTAuth::fromUser($user);`

In my api routes I have:

Route::post('login', 'AuthController@login');

[code]
Now I should have access to get user from JWTAuth. Then I use:

`$user = JWTAuth::parseToken()->authenticate();`

But it returns false.

### Your environment
| Q

[2018-05-21 10:28] Harrrrry opened #1575 "laravel 5.0 +twilio "^4.0" give error Credentials are required to create a Client"
Hello All,
I just implemented the twilio with my laravel 5.0 application
All setup is done but when i use the below code in my controller
Twilio::message('+91XXXXXXXXXX', 'Pink Elephants and Happy Rainbows');

I get this errror :
`<abbr title="Twilio\Exceptions\ConfigurationException">ConfigurationException</abbr> in
                    <a title="C:\xampp\htdocs\mozzasa\vendor\twilio\sdk\Twilio\Re

[2018-05-23 04:57] farismohammed commented on #1442
:smile:

[2018-05-23 06:44] medz commented on #1442
@lucasmichot 😂I like your avatar.

[2018-05-24 10:49] kak-smko commented on #1367
In config/auth.php change
[code]
to
[code]
its work ;)

[2018-05-26 13:16] #945 closed

[2018-05-27 11:51] mhlsf commented on #961
Again I have the same issue that when I make a request without a token, I get MethodNotAllowedException.

I made some research, It seem that the method that parse the token send a JWTException when it failed to catch a response. JWTException is extends from Exception class and thus not showed to user because it seem laravel only show HttpException.

In the parseToken method JWT.php,  if you change

[2018-05-28 18:17] shah-newaz opened #1577 "Broadcast Auth route doesn't work with 'jwt.auth' middleware"
### Subject of the issue
I'm trying to implement a chat server using Laravel Echo, Redis, Websocket, Vue JS and tymon/jwt-auth. I need my broadcast auth route to be authenticated by jwt.

When I make a post request with 'Bearer my_token' to '/broadcasting/auth' it throws `AccessDeniedHttpException `. I've set up my `BroadcastServiceProvider ` like so:

`Broadcast::routes(['middleware' => [ 'api' ,

[2018-05-29 18:13] drmmr763 commented on #1486
Just a +1 from the suggestion from @GizzmoAsus. I recommend putting this into documentation somewhere until 1.0 stable is released.

[2018-05-30 07:07] hyosh opened #1578 "Full documentation for version 1.0.0"
### Subject of the issue
Hi,
When do you think you can offer the complete documentation for this version ?

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | no
| Framework         | Laravel
| Framework version | 5.6.x
| Package version   | 1.0.y
| PHP version       | 7.x.y

[2018-05-30 15:25] newaeonweb commented on #1568
Same problem here.

[2018-05-31 08:55] johncloud200 commented on #1578
maybe after final release 1.0.0,
bytheway when 1.0.0-rc.3 out?

[2018-05-31 12:53] chrislow commented on #1038
# Solution for Laravel 5.6:
### 1.) Add library to composer.json:

[code]
### 2.) Run this command in console:
[code]

### 3.) Remove any `Tymon\JWT` provider from `config/app.php`

### 4.) Delete Laravel Cache folders to remove old dependencies:
Delete the files in following folders:
```.../bootstrap/cache/services.php```
```.../bootstrap/cache/config.php```

### 5.) And then run those commands i

[2018-06-01 07:54] Newtypcr commented on #1038
https://github.com/tymondesigns/jwt-auth/issues/url

[2018-06-01 10:30] P4Thi0ut commented on #1038
@cieniurobot tested and approuved solution for v 5.5 !

[2018-06-01 14:16] kmuenkel commented on #887
Can anyone explain what the intended purpose of this 'Not Before' (nbf) value is?  The description is "The earliest point in time that the token can be used", which makes it sound like placing this date in the past would render it moot.  But at the same time, `Tymon\JWTAuth\Validators\PayloadValidator::validateTimestamps()` had a check on the date making sure it's not in the future.

[2018-06-01 16:22] kmuenkel commented on #887
I found a reliable hack around this.  Whenever you create your tokens, just leverage the `customClaims` array to set `'nfb' => 0`.  Without fully understanding what the purpose of this value is though, I can't promise it won't have other ramifications.

UPDATE: Sorry, apparently this solution did not work, I'm still getting the same problem.  Will update again if I figure it out.

[2018-06-01 16:40] loic-lopez opened #1579 "Token does not have three parts? : Wrong number of segments"
### Subject of the issue
**I ran to this error : `Wrong number of segments`**

Created token :
[code]
I have setup the JWT_SECRET `JWT_SECRET=4QSGXw8tatwI94HnYkHqgl7gEhQcUfRK`

<img width="541" alt="capture d ecran 2018-06-01 a 18 39 41" src="https://user-images.githubusercontent.com/17724398/40852597-3308241c-65cb-11e8-9f98-194531a6bb23.png">

### Your environment
| Q                 | A
| ------

[2018-06-01 17:15] loic-lopez commented on #1579
<img width="1266" alt="capture d ecran 2018-06-01 a 19 14 40" src="https://user-images.githubusercontent.com/17724398/40853981-241b9362-65d0-11e8-8ef5-6e3ed5136c84.png">

[2018-06-01 17:23] S0PEX opened #1580 "Is there an up2date Lumen 5.6 setup guide ?"
### Subject of the issue
I tried to integrate the latest develop branch jwt-auth into my lumen 5.6 project.
Although I followed the install guide and had a look at some older issues related to how to setup jwt for lumen I didn't found a working solution.
Where's the current guide to setting up a recent version of jwt-auth ?
Is this https://github.com/tymondesigns/jwt-auth/issues/1102#issuecomment-

[2018-06-01 20:53] ulisescarreonalvarez opened #1581 "The token could not be parsed from the request"
Lumen: 5.6
JWT: 1.0.0-rc.2
SO: Mac/Ubuntu

I'm making a simple API with Lumen, i use the JWTAuth library to make the tokens.

My login looks like:

[code]

That returns my token that is set on a React Frontend App, when i try to validate the token with curl or postman on my local enviroment with:

[code]
My request looks like:

[code]

The token is on the Header of the request but when i make the

[2018-06-03 08:39] shijunti19 commented on #1542
@Joshgallagher  He will affect the web pattern
Official pits should not modify any default values

[2018-06-03 19:06] davidoskay opened #1582 "Token Blacklist control"
### Subject of the issue
Hi, are the blacklisted tokens automatically deleted when their expiration date passes or not?
Are we able to control the blacklisted tokens?

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | no
| Framework         | Laravel
| Framework version | 5.6
| Package version   | 1.0.0
| PHP version       | 7.1.1

[2018-06-03 23:25] mhelaiwa commented on #1424
@gregorskii I changed my code like you said and my default guard to `web` but I am getting this error:
`Method Illuminate\Auth\SessionGuard::factory does not exist.`

Auth controller
[code]
My config
[code]
My routes
[code]

I have:
`Laravel Framework 5.6.23`
`JWT 1.0.0`

[2018-06-04 15:18] marijnhurkens opened #1583 "Multi server behind loadbalancer setup"
### Subject of the issue
I am trying to run our app behind an AWS loadbalancer and there are some issues with the tokens. Mainly we have some users which randomly have to sign in again when using the app.

I think this issue has to do with the tokens from server A being invalid when used on server B and vice versa.

My question: what would be the best way to handle this situation? Can the servers

[2018-06-04 16:12] devqx commented on #1583
The jwt-auth also works with a User Provider, since you are using a load
balancer, set up jwt on the load balancer which distributes and forward
traffic's, since your applications server make a request to a another
database server which hosts the user database.

On Mon, Jun 4, 2018, 16:18 Marijn Hurkens <notifications@github.com> wrote:

[2018-06-04 16:24] PhillyWebGuy commented on #1169
It always blows my mind when really simple install instructions flat out don't work. I don't get it.

[2018-06-05 18:48] Alishoaib commented on #81
i have tried all solutions mentioned here but doesn't work for me. I am stuck in this issue  plz check out my code if any body can help me
My publich/htaccess

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} ^(.*)
    RewriteRule .* - [e=HTTP_AUTHORIZ

[2018-06-05 21:37] connor11528 commented on #47
For anyone that is here looking for solution, I ran into this because I had my class as a string. In **config/jwt.php** change:
[code]

to

[code]

[2018-06-05 22:26] davidoskay opened #1584 "Refresh middleware"
### Subject of the issue
I'm using middleware('auth:api', ['except' => ['login']]) in constructor as provided in jwt wiki.
As I good undestand JWT I should be able to refresh token without having valid token, but the token should be valid only for refresh (because Refresh TTL is longer than normal token TTL) - but if I use this middleware I can't refresh token after normal TTL pass, because it say

[2018-06-06 03:17] eddiclin commented on #1137
Is this issue fixed yet?
I can't reset the claims when refresh the token, even thought the parameter `$resetClaims` is true.
See `Tymon\JWTAuth\Manager::refresh`

[2018-06-06 08:10] mhelaiwa commented on #1428
1- auth config
[code]

2- You need to tell basic auth to use `web` guard instead of `api`. You can achieve that by overriding `guard()` method inside auth controllers like `LoginController` and others. See [Authentication Quickstart > Guard Customization
](https://laravel.com/docs/5.6/authentication#authentication-quickstart)
[code]
3-Last but not least, you need to make all controllers and routes

[2018-06-06 08:21] mhelaiwa commented on #1424
#1428 Same issue was solved here

[2018-06-06 09:18] mhelaiwa opened #1585 "Consume my own api"
Is there any way to consume my own API that uses `JWT` like `Laravel Passport` does?
`Laravel Passport` enables you to enclude `CSRF` token in your request headers and that's all you'r authenticated.
See this [tutorial ](https://laracasts.com/series/whats-new-in-laravel-5-3/episodes/13)of Tylor Otwel about `Passport` talking about consuming your own API at `11:33`

[2018-06-06 19:03] chidiwilliams opened #1587 "Blacklisted emails return 500"
Using the Google login function, some specific emails get rejected when I attempt to login. The server returns: `{ "message": "Server Error" }` without any other message.

I have tried:
- Logging in in incognito mode
- Logging in on different computers/browsers

 They email addresses seem to have somehow gotten blacklisted. But, the server works perfectly using other email addresses.

| Q

[2018-06-06 19:05] davidoskay commented on #1195
Same question - @pavankumarkatakam how to create token in payload instance with just jti?

[2018-06-07 06:23] Zolak94 opened #1591 "How to use customClaims?"
I want for token to pass item name and id, how can i do it?

I'm using laravel 5.6

I have this function,
[code]

And I get this error
`JWT payload does not contain the required claims`

And this is my route
`Route::post('/inventoryitems', 'InventoryItemController@show'); `

[2018-06-07 06:51] Zolak94 commented on #1591
**SOLVED**
[code]

[2018-06-07 06:51] #1591 closed, assigned to nobody

[2018-06-07 11:39] mrwhy-orig opened #1594 "[DOCS] Use Cookie to save Token while user is logged in"
### Subject of the issue
Describe your issue here.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | no / yes
| Framework         | Laravel
| Framework version | 5.6
| Package version   | 1.0.0-rc.2
| PHP version       | 7.1.3

A short how to use jwt with cookies to achieve reauthentication would be nice.

[2018-06-07 14:45] DionisisKav commented on #1355
Does the package support  token validation via cookie and  not **Authorization'** Header?
Has anyone managed to do  this ?

[2018-06-07 20:04] iredmedia opened #1596 "Conflict with other package?"
### Subject of the issue
There seems to be a conflict with new versions of sentry? Can't really figure out why this would be :\ There are no problems with ^0.5.2 which is what i'm using now. But I *am* getting issues when trying to run generate as there's no `handle()` method in ^0.5.2.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | yes
| New Feature?

[2018-06-07 21:47] krott commented on #1594
## Update:
Ok, I think I found the problem. At least it's working for me now. The root of the culprit I guess is that Lumen by design no longer does cookies which I find a bit of a flaw in the light of all the blogs and OWASP suggestions of not storing a JWT in localstorage but rather in a httponly cookie to prevent XSS and deal with CSRF accordingly.
So, the jwt-auth doesn't include the cookie pa

[2018-06-08 06:04] krott commented on #1355
@DionisisKav Maybe my post in [#1594](https://github.com/tymondesigns/jwt-auth/issues/1594#issuecomment-395575980) helps you out, though I'm working with Laravel Light aka. Lumen although, if you're using Laravel you shouldn't have encountered the problem I had, i.e. the Cookie parser not being part of the Lumen service provider in jwt-auth because Lumen went all state less and got rid of all the

[2018-06-08 09:48] ojas-coditas commented on #321
Base64.Decoder decoder = Base64.getUrlDecoder();
        String src = " ";//pass token string here;
        String[] parts = src.split("\\."); // Splitting header, payload and signature
        System.out.println("Headers: "+new String(decoder.decode(parts[0]))); // Header
        System.out.println("Payload: "+new String(decoder.decode(parts[1]))); // Payload

[2018-06-08 11:23] DionisisKav commented on #1355
@krott  Ok Nvm i was passing the cookie the wrong way....
the correct way  is  `Cookie: token = $token;`
Which looks pretty strange to me since  almost all JWT guides   in their cookie example  use **access_token** name convention

[2018-06-08 12:02] knvpk commented on #1195
What I mean in the previous comment is you need to store the **jti**, **subject** (user related column), **client_details** (web/app, os, location, browser name) and **full token**. So that you can show the user in front-end these are the locations, tokens you have authenticated so that he may or may not flush the single token or full location wide tokens (or based on browser thats up to you.) now

[2018-06-08 15:25] krott commented on #1355
Yeah I was going to mention it should only be "token" but good to hear you got it working.

[2018-06-09 12:37] abrahamfast opened #1598 "Class 'Tymon\JWTAuth\Providers\LaravelServiceProvider' not found"
### Not found

It does not work
****
[code]

It work
[code]

[2018-06-10 07:28] gavinliu6 commented on #1568
Same problem here.

[2018-06-10 07:49] behnamazimi opened #1599 "Multi Jwt Auth with Laravel and Mongodb"
As I explained in [**my StackOverflow question**](https://stackoverflow.com/questions/50728067/multi-jwt-auth-with-laravel-and-mongodb/50779168#50779168), I have three authenticatable models and I want JWT to work with each separately.

Even when I change the `jwt.user` and `auth.providers.users.model` values manually in config files, it does not effect on my JWT auth.

After some deep search in c

[2018-06-10 07:59] behnamazimi commented on #896
Changing model with `Config::set()` not effect on auth. It changes but not effect!

[2018-06-11 11:14] wprincearora commented on #1256
@eranshmil  thanks man it worked

[2018-06-11 11:15] wwwprincearora commented on #1256
`sdsdsdsdsdsd`

[2018-06-11 15:57] mrwhy-orig commented on #1594
Unfortunately I'm using Laravel. For Laravel the AbstractServiceProvider Class registers the TokenParsers and therin the Cookies Parser is defined. As I can see the KeyTrait tells the Cookies parser the name of the cookie to look for: "token".
In the jwt config file, i guess, i have to use decrypt_cookies => true
But i think i miss something, if i make a page reload while logged in I get an unathe

[2018-06-11 18:23] krott commented on #1594
Yes, for Laravel it sounds like it's working out of the box.
So let's start at the beginning because you have not provided much in regards to the environment you're working with other than Laravel:

- so you are able to log in, i.e. you get a token and see a page containing user information of the logged in user?
- reload the page you hit the the Auth middleware in Laravel and you get the dreaded

[2018-06-12 05:33] mrwhy-orig commented on #1594
1. Yes, 2. The Domain is correctly set, 3. Right - Yesterday I discovered another error. If I set decrypt_cookie to true, and name the cookie like the default KeyTrait name, i got an "payload is invalid" error on login after the page reload. So i guess something is wrong within the cookie itself.
I'm sending the cookie along with token array in json format. Is it possible, that the token is restri

[2018-06-12 07:08] krott commented on #1594
Ok, to keep it simple: try it without encrypting the cookie and see if that works. I personally never used that functionality in Laravel but I heard that sometimes there are special characters that can encrypt into something like %3D and that can cause a problem during decryption....but maybe that's fixed in v5.6, no idea, can't help you there. Personally, I don't put anything sensitive in my JWTs

[2018-06-12 11:11] chris123987 commented on #1474
我也遇到这样的问题，重新生成秘钥也没有用

[2018-06-12 13:04] devshahrukhanwar commented on #1102
- place `"flipbox/lumen-generator": "^5.6",` in your `composer.json` and run `composer update`

- place following code in bootstrap/app.php
[code]

- Write following lines in your desired controller
[code]

- Write following code in your `routes/web.php` file,
[code]

[2018-06-13 03:23] bauersfeld commented on #1584
I'm having the same issue. It appears that the config setting for refresh_ttl is not being respected by the refresh method.  Any recommendation on how to refresh an expired token that has not exceed the refresh_ttl setting?

[2018-06-13 04:02] oliver-com commented on #1151
We offten use this
[code]

In fact, it use this one
[code]

I have config this in App.php **['aliases']**
So, we **instead**
[code]

**to**
[code]

[2018-06-13 07:16] antonioreyna commented on #891
any idea on this issue? im dealing with the same

[2018-06-13 07:47] antonioreyna commented on #1482
i tried that line of code and my custom claims are still not updating

[2018-06-13 08:18] davidoskay commented on #1584
@bauersfeld no reply from developers, so for now my solution is as I wrote:
`$this->middleware('auth:api', ['except' => ['login', 'refresh']]);`

[2018-06-13 08:29] jakewtaylor commented on #1482
@antonioreyna Are you definitely on version >1.0.0? Can you give an example of what's going wrong?

[2018-06-13 08:32] antonioreyna commented on #1482
i was trying to do this

[code]

data had new information about the user, but it kept returning the same token as the one logged

[2018-06-13 08:33] antonioreyna commented on #1482
at the moment i figured out how to fix the issue. i added this

[code]
and now my token is being genereted with new information

[2018-06-13 09:15] timolinn commented on #1038
@chrislow Thanks a lot! It worked for me :)

[2018-06-13 10:31] alex-zukitek opened #1600 "How to create a refresh_token."
### Subject of the issue
I get an access token, but i need more a refresh_token .

My solution:
$token = JWTAuth::fromUser($auth);
$refresh_token = JWTAuth::customClaims(['exp' => Carbon::now()->addYear()->timestamp])->fromUser($auth);

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | yes
| Framework         | Laravel
| Framework

[2018-06-13 17:16] hopeseekr commented on #1578
Version 2 already started work. Version 1.0 is still unreleased :-/

[2018-06-14 03:09] Robinda commented on #1368
Take a look at @philliperosario post here #1355, magnificent work!

[2018-06-14 17:46] J5Dev commented on #1583
Im not sure if you have already solved this, but the best way is to just ensure that the JWT secret is not autogenerated as part of your deploy script, instead generate one, and pass it in to each service as part of the env vars.

This should sort out your issues.

[2018-06-14 18:30] rSammy opened #1601 "Version 1.0 broken. N letter appearing at the top of the screen"
### Subject of the issue
Version 1.0 adds **EVERYWHERE** some "N" letter at the top of the screen and won't disappear even after removal

![image](https://user-images.githubusercontent.com/30237980/41430598-6dbcc4b0-6fde-11e8-815b-33d4cc463c69.png)

![image](https://user-images.githubusercontent.com/30237980/41430688-b713b772-6fde-11e8-9048-543002e212fc.png)

![image](https://user-images.githubuse

[2018-06-14 19:10] Bolhy10 commented on #1442
How about, you found some way to fix this. I'm having the same error. I'm working with angle and interceptors. When I refresh the token, it turns out that it can not be because it's expired. Please help.

[2018-06-14 19:38] rSammy commented on #1601
Removing, renaming **jwt.php** seems to do the trick.

[2018-06-14 19:43] rSammy commented on #1598
php artisan vendor:publish --provider="Tymon\JWTAuth\Providers\LaravelServiceProvider" is for version 1.0

Seems like you're using version 0.5 with 1.0 docs

[2018-06-15 06:05] tcc-world commented on #1487
I had a serious problem with JWT. Following sctoch.io's tutorial for using mongodb with passport.js, I found that out of around 3000 users that I had, some of them were logging in with wrong user info and they could see other user's dashboards. I tried every thing, no clue, then I found one more victime like me. 1-2 times in thousand, people would open wrong user's Id.  Finally I decided to remove

[2018-06-15 10:32] SheetalShebe commented on #1433
Any idea how we can achieve this?

[2018-06-15 10:39] SheetalShebe opened #1602 "Generate JWT without authentication"
### Generating token without authenticating the user.

I have a separate project that authenticates the user credentials and provides user details. I want to generate the JWT with the user details provided.

How to generate JWT without authenticating the user? and with all the user details provided.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
|

[2018-06-15 13:54] rSammy commented on #1602
In the docs there is something to manually authenticate a user with a User instance.

[2018-06-15 17:57] marijnhurkens commented on #1583
Thanks, this was the solution to the problem, the tokens work fine now :)

[2018-06-15 17:57] #1583 closed, assigned to nobody

[2018-06-15 20:35] behnamazimi commented on #1599
Multi Jwt Auth with Laravel and MongoDB

At first, when I faced this problem I asked a [question on Stack Overflow](https://stackoverflow.com/q/50728067/3534952), I suggest reading that before continue.

**Solution:**

After many kinds of research, Here is what I did to add multi auth ability with JWT to my project.

 1. In [tymon JWT auth](1) package I changed a file. In `JWTAuthServiceProvider`,

[2018-06-17 15:36] robbyneven opened #1603 "Validate token without auth provider"
I'm trying to add middleware to 'authenticated' routes, which only validates the token without searching for the corresponding user in a database. Users get a JWT from API 1. With this token, they can make requests to API 2. If the JWT signature is valid (by using the public key from API 1), the request should pass the middleware. At the moment i'm using the jwt.auth middleware, but then I get a Q

[2018-06-17 23:15] AndreFigueredo-Multilaser commented on #1564
Any news on that? I have the same problem.

[2018-06-17 23:19] AndreFigueredo-Multilaser commented on #1564
I found the solution, I add this middleware in my routes and works!

`middleware('jwt.auth');`

[2018-06-18 05:18] SheetalShebe commented on #1602
Do you mean by this?
**[](https://github.com/tymondesigns/jwt-auth/wiki/Creating-Tokens#creating-a-token-based-on-a-user-object)**

[2018-06-18 05:20] SheetalShebe commented on #1602
@rSammy , Do you mean by [this](https://github.com/tymondesigns/jwt-auth/wiki/Creating-Tokens#creating-a-token-based-on-a-user-object)?

[2018-06-18 08:49] #1603 closed, assigned to nobody

[2018-06-18 12:19] rSammy commented on #1602
Yup.

I'm not sure what you're trying to do.
Are you using the same database ?
Do your separate projects make use of some User credentials ? Do you have some User model in your separate projects that are the same ?

In that case you could simply make a request with some details, that your second project will authenticate, returning some access token that you could be storing via cookies for exampl

[2018-06-19 17:35] ifreesec commented on #1584
Don't use any middleware. I just use next controller

[code]

[2018-06-20 06:09] saeedvz commented on #1498
any updates? i have this problem too

[2018-06-20 09:16] jcharcosset commented on #1498
You should create `config/auth.php` file to root :

[code]

[2018-06-20 15:13] P4Thi0ut opened #1607 "Trying to use asymmetrical algorithm"
[EDIT : I was able to make it work with RSA algorithm, the issue was with my openssl command line issuing a binary and not a valid .pem file. I still could not make it work with EC type algorithm through]

### Trying to use JWT auth with ES384

Hello, I have been using tymon/jwt for a while with the default symmetrical algorithm HS256. I wanted to switch to an asymmetrical one : **ES384**.

### Th

[2018-06-20 16:48] #1607 closed, assigned to nobody

[2018-06-20 17:08] JessWallace94 commented on #1404
Hey,

Sorry to message on a closed issue - but I followed the instructions of adding ` Auth::guard('api')`

But now get the error `"message": "Cannot use Auth as Auth because the name is already in use",
    "exception": "Symfony\\Component\\Debug\\Exception\\FatalErrorException",`

[2018-06-21 11:02] wassimhattab opened #1608 "JWTAuth attempt not storing user_id in sessions table"
### JWTAuth attempt not storing user_id in sessions table
Hello,
In my laravel project i added the
SESSION_DRIVER to database

![capture](https://user-images.githubusercontent.com/20112008/41715121-1ed9a912-755b-11e8-8711-85fd8618baea.PNG)

When i sign in from the laravel Auth attempt the user ID is updated to my session id but when i try to login from the App using
`JWTAuth::attempt($credentials)

[2018-06-21 13:52] saeedvz commented on #1498
Solved...
@sanjukaniyamattam make sure that your are using default guard `web` on `config/auth.php`

    'defaults' => [
        'guard' => 'web',
        'passwords' => 'users',
    ],

[2018-06-22 13:49] beaplat-61f commented on #1298
Thanks, you solved my problem

[2018-06-22 15:24] Tarasovych opened #1609 "Can I make JWT work while token is inside a Cookie, not in Authorization header?"
### Subject of the issue
I want to store JWT as a `HttpOnly` Cookie. I've made logic to send it as a Cookie. But `auth:api` guard doesn't work with Cookies as I see. So what'd I override to make guard parse `access_token` from Cookie too?

Now I'm sending `Cookie: access_token=<access_token>` and I get redirected to `/login` route (like I'm not authenticated).

### Your environment
| Q

[2018-06-22 15:37] Tarasovych commented on #1609
I've found [this](https://github.com/tymondesigns/jwt-auth/blob/develop/src/Http/Parser/KeyTrait.php#L21) and set Cookie name as `token` instead `access_token`. Seems weird, because [here](http://jwt-auth.readthedocs.io/en/develop/quick-start/) the name used for JWT is `access_token`.

[2018-06-22 15:37] #1609 closed, assigned to nobody

[2018-06-25 21:34] chilio commented on #1413
Laravel Passport covers all my doubts out of the box.
That's why I don't use this package anymore.

[2018-06-26 06:11] joeltay17 commented on #887
I faced this error when I have a project set up over 2 servers (In amazon, there are 2 EC2 instances, load balanced by an ELB). These servers have a time difference of 7 seconds. So if i was unlucky, first API call will hit the server with the later time, and then 2nd API call will hit the other server with the earlier time.

Patching the time on both servers will eradicate this error.

@kmuenkel

[2018-06-26 20:59] amcsi commented on #1569
This is crazy. I had no idea JWTs were not encrypted until finding out today by accident. I thought `JWT_SECRET` was for encrypting the claims!

I was including really sensitive data in the payload -.-

definitely +1 for this ticket!

[2018-06-27 10:59] montyclt commented on #1569
@amcsi `JWT_SECRET` is used to sing the token, that means, anything can falsify the token without the secret, but is only signed, not encrypted.

[2018-06-27 23:07] gileneusz commented on #1577
@shah-newaz
I've got the same issue. Did you find any solutions?

[2018-06-28 06:45] gileneusz commented on #967
@gmann1982
 now it gives: `Class Tymon\\JWTAuth\\Middleware\\Authenticate does not exist`
LOL, I hate it

[2018-06-28 07:49] gileneusz opened #1610 "update from 0.5.* to 1.0.0-rc.2 --Class auth.jwt does not exist"
Guys I simply cannot update from 0.5.* to 1.0.0-rc.2
I've got error: `"Class auth.jwt does not exist",`
This is a little bit frustrating, because 0.5 worked fine for me.
on my 0.5 I had
[code]
and It worked fine. Now I have an error:
`message": "Class Tymon\\JWTAuth\\Middleware\\GetUserFromToken does not exist`

so I changed it to:
[code]
and now: `"Class auth.jwt does not exist",`

Guys this is r

[2018-06-28 08:20] #1610 closed, assigned to nobody

[2018-06-28 08:42] tintinboss commented on #1577
Hi, one workaround is to create your broadcast routes manually and not use the in built ones.
Thanks

[2018-06-28 09:13] gileneusz commented on #1577
@tintinboss can you provide any example?

[2018-06-28 09:23] gileneusz commented on #1577
why this is not working? :/

[2018-06-28 11:14] prasathkarnan commented on #1448
/**
 * Get the identifier that will be stored in the subject claim of the JWT.
 *
 * @return mixed
 */
public function getJWTIdentifier()
	{
		return $this->getKey();
	}

/**
 * Return a key value array, containing any custom claims to be added to the JWT.
 *
 * @return array
 */
public function getJWTCustomClaims()
	{
		return [];
	}
/**
 * Questi attributi possono essere modificati
 *
 * @var ar

[2018-06-29 17:06] GoGurtPrime commented on #1569
If you're always just encrypting/decrypting and someone gets a hold of your encrypted id, how is that any different than having your raw user_id? An attacker could just send a request to the server with your encrypted id. Your server is responsible for handling authorization. Your application should never authorize a request based on the presented user_id.

Also, if someone has your JWT don't you

[2018-06-29 17:22] GoGurtPrime commented on #1569
Also, I'm a little confused about how you can falsify a token without the signing secret? The header and payload of a JWT are concatenated and then signed using a key that the user does not have.

If you present a modified token, you must also regenerate the signature for the server to accept the JWT as a valid token. Otherwise, it will know you modified it.

Please research more about message aut

[2018-06-29 17:39] amcsi commented on #1569
@ColinLaws I myself am not saying it can be falsified. I'm just saying that it was problematic that it's not encrypted, because I was including custom _sensitive_ secret data in the JWT claims with the wrong assumption that the data is encrypted and that only the server would be able to read it.

[2018-06-29 19:29] GoGurtPrime commented on #1569
@amcsi I understand, I wasn't under the assumption you thought you could falsify it. It was @montyclt  that claims he can falsify it without the secret.

And no, your payload is not encrypted. The JWT is encoded, not encrypted. It uses base64 encoding. You should never include sensitive info inside of the JWT. If you need information about the user, then get the user_id from the token on the serve

[2018-06-29 19:33] GoGurtPrime commented on #1569
@montyclt I think I understand what you were saying now. It's just a language barrier. You are saying that if you don't use a signing secret, then you can falsify it because it isn't signed. That is true. But my point is, don't put sensitive data in a JWT.

[2018-06-29 20:29] markuskoehler commented on #1478
@604bpierce yeah also found that, this happens if you don't set your default guard in `config/auth.php` to `'api'`. If you do, it is perfectly fine with just using `auth()` instead of `Auth::guard('api')` and `auth()->attempt()` will always return a token instead of bool

[2018-06-29 22:30] montyclt commented on #1569
@ColinLaws

I think we misunderstood.

I'm signing my tokens and I know no one can falsify without token secret, because he doesn't knows the secret.

I simply emphasized the tokens aren't encrypted and I propose encrypt it.

[2018-06-30 09:28] ljieyao commented on #1389
i have the same issue, `logout()` or `invalidate()` seems not to address the issue, any suggestion?

[2018-07-02 02:55] wangle201210 opened #1611 "ttl setting invalid"
set JWT_TTL = 1440 at env,but when i decode the token,the exp is 3 hours later than now，don't one day

| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | no
| Framework         | Laravel
| Framework version | 5.4
| Package version   | 1.0@dev
| PHP version       | 7.2

[2018-07-02 03:03] wangle201210 commented on #1079
I have the same quesiton,have you solved it？

[2018-07-02 05:59] wangle201210 commented on #1611
Package version is 1.0.0-rc.2

[2018-07-02 09:38] Quix0r commented on #1598
This could be important when 1.0 comes out and people need to migrate. Then this should be included in a documentation file, e.g. `docs/migration-1.0.md` or so.

Edit: Hey, I made like no. 6300! 😀

[2018-07-02 13:37] saeedvz opened #1612 "Property [id] does not exist on this collection instance"
I have this problem in jwt 0.5 and laravel 5.6

[2018-07-02 15:17] drpiou commented on #1598
even with 1.0.0-rc2 this problem exists at install...

[2018-07-02 15:19] drpiou commented on #1304
in rc2 this is the same... I begining to loose trust on all of this!

[2018-07-02 17:40] awardx commented on #970
@jubairsaidi with this I encountered another issue. Now when you try to logout user from the system the token doesn't get blacklisted.

Have you found any solution for this?

[2018-07-02 18:42] awardx commented on #998
@Mark-Hoog  Could you please drop some demo code to see how you check the expiration time of the token?

[2018-07-03 07:19] s00d commented on #1568
Same problem here.

[2018-07-03 14:24] walidabou opened #1613 "How can i use cartalyst sentinel with tymon jwt in Laravel 5.6?"
I'm wondering how to implement tymon jwt 1.0.0 rc2 with Cartalyst Sentinel 2.0 authentication package in Laravel 5.6 to take advantage of throttling and others Sentinel features.

Inside AuthController I have this login() method as mentioned in jwt-auth Docs enter link description here to validate the credentials and generate a token.

`public function login()
{
    $credentials = request(['email'

[2018-07-03 21:44] hasnatbabur commented on #961
Adding /api prefix in postman request solved my method not allowed exception.

For example:

# file routes/api.php for the route
Route::post('/user/register', 'APIRegisterController@register');

I have to put http://example.com/api/user/register in postman address

Then I got proper response.

[2018-07-04 01:28] vesper8 opened #1614 "how to deal with trashed / soft deleted users ?"
In my app users can disable their account which I do by soft deleting their model, this is a convenient way to make sure they disappear for the rest of the users (it's a dating app)

later, users can restore their account. Prior to my migration to JWT I was doing this easily by allowing users to log in to their account even if it had been soft deleted, and then jailing them to a page where the onl

[2018-07-04 01:34] vesper8 commented on #1614
It also seems odd that this is even happening.. considering that I have used the method below to generate a valid token for my soft-deleted user

[code]

To then have this valid token fail the jwt.auth because the model is soft deleted seems.. odd to me? The token is valid.. why should it be denied?

The method that is failing is this one

Providers/Auth/Illuminate.php
[code]

[2018-07-04 05:23] hasnatbabur commented on #1226
Laravel always check possible response type to deliver.

If I set HTTP Header to Accept : application/json during ajax or any type of request it gives me response in json format.

Hope this will help. Thanks

[2018-07-04 07:13] dakipro commented on #1355
Thank you @philliperosario , I spent days trying to tick all the boxes with refreshing the token, and your solution does it all.
I wish this is implemented as official middleware, or at least linked from documentation, as it is not easy to find this ticket.

[2018-07-04 10:42] thecodecafe commented on #1598
The documentation for this project has always been lacking when it comes to keeping up with Laravel, I followed the docs with Laravel 5.4 as recommended by the docs and still got this error, @irvatoDev answer was what solved my problem, plus the artisan command on the docs for generating a secrete is `php artisan jwt:secret` but what really works is `php artisan jwt:generate` and also, I had to ch

[2018-07-05 08:45] dishcheng opened #1615 "Multi table authentication"
### Subject of the issue
How can jwt support more than one user tables?

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | i don't know
| Framework         | Laravel
| Framework version | 5.5
| Package version   | 1.0.0-rc.1
| PHP version       | 7.2

### Steps to reproduce
now I have more table to authenticate by jwt，I tried like

[2018-07-05 10:51] mattmcdev commented on #1263
I would store when the password was last updated on your user and then include as hash of this as a custom claim in your token.

When validating your token, check the password last updated hash matches when the password was last updated.

[2018-07-05 13:41] mrwhy-orig commented on #1594
Ok, then... now I figured it out. Thanks @krott.

I'm using @websanova/vue-auth for authentication with vue SPA in Laravel. The main thing was, that I had to alter the response headers in Laravel. If you add the Authorization Part to the header like
`$responseObj->withHeaders(['Authorization' => "Bearer " . $token])` The header is set properly. VueAuth (standard Bearer Auth driver) is looking for

[2018-07-05 13:41] #1594 closed, assigned to nobody

[2018-07-05 15:39] ColinRyan commented on #1600
I'm wondering about this to!

[2018-07-06 10:31] rajnishmishra20 commented on #1443
@digembok Any update on this.
I am facing same issue.

[2018-07-06 18:09] deivamagalhaes commented on #1298
It's frustrating to be starting another Laravel project and this still is on dev branch... 😭

[2018-07-07 08:45] TroyRay commented on #1531
Thank you! It works for me. @ngodinhngoc

[2018-07-08 17:31] shafrazlk commented on #1613
Hi,

Did you find a better solution for this?

[2018-07-09 10:13] #1608 closed, assigned to nobody

[2018-07-09 10:23] wassimhattab opened #1617 "Invalidating active token not working properly"
### Invalidating active token not working properly

I'm doing a logout function where i blacklist the active token of the user

[code]

It's returning success but when i try to fetch data with same token it returns data as if i didn't blacklist the token.

Normally the token should be expired and can't be used anymore.

I Might be missing something if someone can help

[2018-07-09 13:13] dharmesh-verve opened #1618 "JWT Auth token works for all environment If user is same."
Hello, I have 3 different environment for my project.
There URLs like this.

- local.project.com
- development.project.com
- production.project.com

All these 3 environments have different servers and different database. But in User table my user (testuser@gmail.com) is same in all 3 database.

For API, I have used jwt-auth and all 3 environment have different JWT_SECRET value.

In Postman tool I

[2018-07-09 17:44] bizongmun commented on #1038
Thanks a lot! It safed for me

[2018-07-10 05:29] csimpi commented on #142
@tymondesigns just a side note.
If apache server is stripping out the Authorization header the .htaccess not always able to override the apache settings. Happened with my and with GoDaddy :) After hours of debugging turned out GoDaddy made a mistake during updating/changing something on their server. I could override a couple of things with the .htaccess file, but the Authorization header rules ha

[2018-07-10 08:27] njbarrett commented on #891
I am having a similar issue

[2018-07-11 09:42] mn6893 opened #1620 "How to prevent multilogin for same user?"
I want prevent user from multi login. Like if user logged in one tab and also try to login another tab, the previous token will be blacklisted for that user and user should not have access to the previous one.

Thank in advance...
	try{
		if(! $token = JWTAuth::attempt($credentials)){
			return response()->json([
			'message' =>"Invalid Username /Password"],200);
		}
	}catch(JWTException $e){
		re

[2018-07-11 12:28] macedd commented on #1216
Still after checking the clock (no diff) and configuring `leeway` this error persists to me

[2018-07-11 12:58] cebik16 commented on #1316
hello! im getting this error

**_"Symfony\Component\Debug\Exception\FatalThrowableError"
file:"/var/www/html/sebi/admin_int/vendor/tymon/jwt-auth/src/Providers/Auth/Illuminate.php"
line:47
message:"Call to undefined method Illuminate\Auth\TokenGuard::once()"_**

any ideea?

[2018-07-11 17:29] FrederickUnlimited opened #1621 "Laravel 5.0 project with JWT Tymon in Godaddy say "token_not_provided" since yesterday"
### Subject of the issue
Have 3 laravel projects with jwt tymon, on godaddy hosting with laravel 5.0 , php 5.5.x working for months, but since yesterday can t work.
Can login but next requeriments say "token_not_provided", at godaddy they say nothing changed. but i saw a new cpanel, and i don't know if something has to do with tha update.

### Your environment
| Q                 | A
| -----------

[2018-07-11 18:33] wisammechano commented on #1436
I face this problem when I request a web route with Authorization Token in the header, and the default guard is api driven by jwt.

The problem seems to be that when Auth token is valid the guard resolve the user and it is authenticated then the AuthenticateSession middleware try to authenticate session presuming SessionGuard while you have JWTGuard.

[2018-07-12 15:55] calmeyda commented on #1621
I have similar bug,
using postman I have done two request:
- One to a custom laravel route to get all the Headers sent, but I don't see Authorization header
- After that I did a request to a php file (no laravel) to see if laravel was removing the header, but again I don't see Authorization header
I guess is a problem of apache or something else but bot for this package

[2018-07-12 18:13] hopeseekr opened #1622 "JWTAuth lacks phpdocs for proper static analysis"
## The Problem

When running phpstan/phpstan on a project which uses JWTAuth, errors are dutifully reported because JWTAuth also exposes all of the public methods of `JWTAuth\Manager`, without properly documenting in the class docblock that it does so.

### Problematic Code

[code]
**PHP Stan reports it as an error:**
![image](https://user-images.githubusercontent.com/1125541/42651531-43f6450e-85d

[2018-07-13 01:32] ctf0 commented on #800
https://github.com/tymondesigns/jwt-auth/issues/708, so the only way is to either save the token in a db or in cache

ex.cache
[code]

[2018-07-13 01:34] ctf0 commented on #1620
https://github.com/tymondesigns/jwt-auth/issues/800#issuecomment-404699020

[2018-07-13 10:25] dragoscirjan commented on #1326
This still happens with v-1.0.0-RC2. Perhaps revise `php artisan vendor:publish --provider="Tymon\JWTAuth\Providers\JWTAuthServiceProvider"` routine

[2018-07-15 00:57] kelvinau commented on #142
@csimpi I also have GoDaddy hosting, and I think this just happened very recently. It was working before like last one or two week ago.

[2018-07-15 19:58] SirDannyMunn commented on #1038
Upgrade to the following for Laravel >5.5

`
    "require-dev": {
        "tymon/jwt-auth": "1.0.*"
    },
`

See version compatibility [here](https://github.com/tymondesigns/jwt-auth/wiki)

[2018-07-16 04:50] ctf0 commented on #1413
i can multi-login the user and get a new token on each time, all the tokens will keep working until it gets expired.

unless u want to keep one token per user then maybe try https://github.com/tymondesigns/jwt-auth/issues/800#issuecomment-404699020

also check https://github.com/tymondesigns/jwt-auth/issues/1355

[2018-07-16 11:32] ctf0 commented on #1095
another solution would be cacheing the user along with its token, this way u gain 2 things
1- no more duplicate tokens for the same user https://github.com/tymondesigns/jwt-auth/issues/1620
2- no need for custom logic

to make sure the cache expire same as the token, use the `JWT_TTL` env variable

[2018-07-16 12:52] axdemelas commented on #1585
I wrote a SO question on this: https://stackoverflow.com/questions/51362253/laravel-jwt-consuming-your-own-api-with-javascript

[2018-07-16 13:01] axdemelas opened #1625 "Consuming your own API with Javascript"
I'm using Laravel 5.6 with jwt-auth for API Authentication. The idea behind it is simple:

1. You send a HTTP POST request with user credentials and get an "access_token" if successfully.
2. Every subsequent request should be sent with header "Authorization: Bearer {access_token}".
This steps are cool and flexible if the consumer is from outside (e.g. Android App).

But if the API consumer is my o

[2018-07-16 15:38] LucaMiozzo opened #1626 "Problem using different guard in routes..."
### Subject of the issue
I want to use a different guard in the routes but always use the default one.

I need to check the auth on the users tables and on the customers table too.

### Your environment
| Q                 | A
| ----------------- | ---
| Framework         | Laravel / Lumen
| Package version   | 1.0.0-rc.1
| PHP version       |  >=5.6.4

### Steps to reproduce
I've declared the new

[2018-07-16 16:40] mhelaiwa commented on #1585
This blog post [here ](https://blog.sqreen.io/authentication-best-practices-vue/)take you through storing the access token in your browser local storage and setting axios headers to take that token at every request. but after all still Laravel Passport's method with middleware is much better and easer and more secure as the access token is set through the middleware and not shown through localstor

[2018-07-17 00:01] jacinto-joao commented on #1626
@tymondesigns same problem here!

Can you help us please.

[2018-07-17 07:12] huanghantao commented on #1298
thx

[2018-07-17 11:11] mostakim64 commented on #1548
I have faced the same issue and after adding the  config/auth.php file it fixed :)

[2018-07-18 06:40] tiagomatosweb commented on #792
It might be old but you need to specify a middleware for your routes passing the guard as param like so

[code]
if you try to get the normal guard like so
[code]

if will throw error even though your JWT is valid, but not valid for this middleware.

[2018-07-18 10:14] ankitabhatti05 commented on #302
@tdhsmith Can you please give a practical demo?

[2018-07-18 16:15] felipesmendes opened #1630 "JWT Auth getting Unauthenticated on request."
Hi,

I'm [using jwt-auth](https://github.com/tymondesigns/jwt-auth) to integrate with my system.

So I created a route group that uses jwt.auth middleware:
[code]

But when I try to request one route from this group I'm getting this error:

[code]

On the request I'm passing the Authorization header with the Bearer and Token correct.

My Laravel version is 5.3

Appreciate your help.

[2018-07-19 17:53] dunkel015 commented on #182
Not found class with Illuminate\Support\Facades\Auth

[2018-07-20 09:30] seth-shi opened #1631 "Am I doing this multiuser table validation correctly?"
### Multi-table authentication user
![image](https://user-images.githubusercontent.com/28035971/42994209-03dab4fc-8c40-11e8-9f8a-23a267611aa9.png)
Both my users table and my admins table require jwt,When my users table has a user ID of 1 to generate a token, I can also use auth to get a user with a admins table ID of 1, so what's the right thing to do?
My approach is to:
Returns the class name in

[2018-07-20 21:16] virajkaulkar opened #1632 "UnauthorizedHttpException (Token not provided)"
### Subject of the issue
UnauthorizedHttpException Not Handled

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              |  yes
| New Feature?      | no
| Framework         | Laravel
| Framework version | 5.4.y
| Package version   | 1.x.y
| PHP version       | 7.x.y

### Steps to reproduce
Once I use middleware to guard my routes its throwing exception without han

[2018-07-21 03:40] dev4ndy commented on #81
Hi, I have the same problem as {'error': 'token_not_provided'}. I'm using Laravel 5.6 with "tymon / jwt-auth": "^ 0.5.12", everything worked fine on my localhost, but when I uploaded it to the hosting now I get the error mentioned above. In the headers I am sending the token, and I already change the .htaccess as indicated in this thread, but even so it does not work for me. Here are the headlines

[2018-07-21 05:56] dev4ndy commented on #1632
same problem.

Hi, I have the same problem as {'error': 'token_not_provided'}. I'm using Laravel 5.6 with "tymon / jwt-auth": "^ 0.5.12", everything worked fine on my localhost, but when I uploaded it to the hosting now I get the error mentioned above. In the headers I am sending the token, and I already change the .htaccess as indicated in others thread, but even so it does not work for me. Here

[2018-07-21 09:09] Alishoaib commented on #81
send me code of ur core.php file

On Sat, 21 Jul 2018 at 8:40 AM, Andres David Echeverri Jimenez <
notifications@github.com> wrote:

--
*Thanks and Regard*
*Ali Shoaib*
*Software Engineer *
*Contact: +92-3225325694*
*Skype :  ali.shoaib7*
*Flat no 4 block no 22 PHA flats Street# 118, Sector G-11/4, Islamabad,
Pakistan.*

[2018-07-21 13:31] josegus commented on #1598
why is this package poor documented? what about branch 2.0?

[2018-07-21 19:55] dev4ndy commented on #81
Hello @Alishoaib , thanks for reply. But in my project I do not have that file.

[2018-07-21 23:22] genyded opened #1633 "Docs need to explain where tokens are stored"
### Subject of the issue
Describe your issue here.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      |yes
| Framework         | Laravel
| Framework version | 5.6
| Package version   | 1.0.0-rc.2
| PHP version       | 7.1.3

### Steps to reproduce
The current 1.0.0 docs do not specify where the tokens are stored. if they are cleaned

[2018-07-22 05:10] Alishoaib commented on #81
Are you working on restfull services in laravel ?

On Sun, 22 Jul 2018 at 12:55 AM, Andres David Echeverri Jimenez <
notifications@github.com> wrote:

--
*Thanks and Regard*
*Ali Shoaib*
*Software Engineer *
*Contact: +92-3225325694*
*Skype :  ali.shoaib7*
*Flat no 4 block no 22 PHA flats Street# 118, Sector G-11/4, Islamabad,
Pakistan.*

[2018-07-22 07:45] vdomah commented on #1360
also got this issue. Any solution?

[2018-07-23 04:13] vovanmai commented on #1124
php artisan jwt:secret
It's solved. Thank you so much

[2018-07-23 08:19] vdomah commented on #1610
In 1.0 middlewares are completely different
![middle](https://user-images.githubusercontent.com/9612735/43065416-70d0db96-8e6a-11e8-939c-db17a0121b27.png)

[2018-07-23 19:31] leabdalla commented on #1108
+1!

How can tokens be used in different machines since they're stored in local cache?

I'm looking for some way to store them in database to solve this problem.

[2018-07-24 09:23] mattmcdev commented on #1633
JSON web tokens are stateless, they aren't stored anywhere.

Everything needed to validate the token is contained within the token itself.

[2018-07-24 10:45] genyded commented on #1633
OK - that makes sense, but was confusing because prior version had all the "auth" tables and those are gone now.

[2018-07-24 10:45] #1633 closed, assigned to nobody

[2018-07-24 14:38] viktorleschuk opened #1634 "[Feature] Ability to change custom header name in config"
### Subject of the issue
I need to change default header name from 'Authorization' to another, and for now for implement this - I need to make changes in JWTServiceProvider.
It's very easy to implement in the package, and it would be very good feature

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | yes
| Framework         | Lar

[2018-07-24 14:50] rmachado33 commented on #872
Hi @cristianpontes, I found your solution very logic but when I try to implement it in `app\http\Middleware\Authenticate` I get the following error `Method 'parseToken' not found in \JWTAuth`.  `JWTAuth` is an alias for `Tymon\JWTAuth\Facades\JWTAuth`. AFAIK this Facade should bring me access to methods of the JWTAuth class, so what I´m doing wrong here?

[2018-07-25 14:40] dev4ndy commented on #81
@Alishoaib It could be said that yes although I only work with the GET and POST methods. I also work only with API routes.
I have solved for now, although I do not like it at all. What I did was send the token as a parameter, and now if I take it. But it is not a solution with which you are satisfied.

[2018-07-25 20:37] gileneusz opened #1636 "Adding custom claims not working"
### Subject of the issue
How to add custom claims?

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no?
| New Feature?      | no
| Framework         | Laravel
| Framework version | 5.6
| Package version   | 1.0.0-rc.2
| PHP version       |  7.1.3

### Steps to reproduce
Trying to add custom claims to my token:
$token = JWTAuth::attempt($credentials, ['r

[2018-07-25 22:19] genyded commented on #1636
I believe that in rc2, custom claims must be implemented via the JWTSubject interface in the User model with the [getJWTCustomClaims](http://jwt-auth.readthedocs.io/en/develop/quick-start/) method. That allows for claims on the User model if needed which was not available having it tied to attemptin prior versions.

[2018-07-26 01:37] gileneusz commented on #1636
It is still not working, I've set inside User model:

[code]

and then trying many ways:

[code]

and it's giving error:

[code]

Why there is no documentation how to use it?

[2018-07-26 02:03] gileneusz commented on #1636
I get one step closer, using this:

[code]

it gives my new $payload, but now I cannot access to user from the token, because calling
`http://127.0.0.1:8000/api/auth/user`
gives me:

[code]

and my header is like:

`Authorization: Bearer {"iss":"http://127.0.0.1:8000/api/auth/login","iat":1532569847,"exp":1532571647,"nbf":1532569847,"jti":"efkS4XcSM4llfrAX","sub":1,"prv":"87e0af1ef9fd15812fdec9715

[2018-07-26 07:01] gileneusz commented on #1636
I made it this way:

[code]

and this is still not working :disappointed:

only primary user data is available, without 'foo': 'bar', despite adding this to User model

[code]
Why it is not working?

[2018-07-26 07:27] warlord0 opened #1637 "Are my tokens expiring before I can use them?"
### Subject of the issue
Can't remain authenticated. I confess to being a first time jwt user so it's possible I'm doing something wrong.

I'd be grateful if anyone could point out the error of my ways.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | _unknown_
| New Feature?      | no
| Framework         | Laravel
| Framework version | 5.5.*
| Package

[2018-07-26 09:09] gileneusz opened #1638 "Documentation needs update"
### Subject of the issue
The main issue od tymondesigns/jwt-aut is lack of documentation. You cannot install JWT without running into many issues and hours spend on searching for solutions.

Please provide updated documentation for the users with examples and good practices.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | yes -

[2018-07-26 10:05] warlord0 commented on #1637
I gave up on this with 0.5 and switch over to using dev-develop in my composer.json

Then went and configured it using the 1.0 guidance. I'll document what I had to do to keep it working with `@websanova/vue-auth` as there were a few things I tripped over where the login() response wasn't sending the header and incorrectly put the token in json etc.

[2018-07-26 10:05] #1637 closed, assigned to nobody

[2018-07-26 12:18] genyded commented on #1636
It looks like you are mixing and matching version calls. If you install using"

`composer require tymon/jwt-auth:1.0.0-rc.2`

... then follow the rest of the installation guide [here](http://jwt-auth.readthedocs.io/en/develop/laravel-installation/) and quick start [here](http://jwt-auth.readthedocs.io/en/develop/quick-start/) EXACTLY, it should work with any payload. It does for us using Laravel 5

[2018-07-26 12:28] gileneusz commented on #1636
I'm pretty sure I'm doing it correctly (for my level of experience).

As I can see:
`Authorization: Bearer {"iss":"http://127.0.0.1:8000/api/auth/login","iat":1532569847,"exp":1532571647,"nbf":1532569847,"jti":"efkS4XcSM4llfrAX","sub":1,"prv":"87e0af1ef9fd15812fdec97153a14e0b047546aa","foo":"bar"}`

`'foo':'bar'` is in correct place (?). Then I encode it and return it to spa app. My plugin is read

[2018-07-26 13:13] warlord0 commented on #1638
And what you do find can be confusing. Is it talking about 0.5 or 1.0?

I'm 2 days in and finally have it working with 1.0. I have to say that it is worth the effort, just a steep learning curve when you have never used jwt and not sure of the principles involved.

[2018-07-26 13:44] genyded commented on #1638
Also keep in mind this is ALL pre 1.0.0, so some rapid changes are expected. Some of that change has been driven by feedback from JWT experts trying to use this in real world applications which should only make it better for us all in the long run. I also have a feeling they recently added a team member who knows this stuff really well which is why things have really been changing (for the better)

[2018-07-26 14:18] gileneusz commented on #1638
I'm not telling tymondesigns jwt-auth is bad. I think this is clear and better than passport for the reasons you pointed out. I'm just asking for documentation that will be constantly updated. Since I first started working with jwt on beginning of this year, I can't see any changes on this field...

[2018-07-26 15:56] islam-moneer commented on #1298
As I don't like messing around in package source code and pull from develop branch confused me with so many different functions so I decided to create **handle** function to fire when you run `php artisan jwt:generate` command
Run `php artisan make:command NAME` and name it as you want - you can find it in **App/Console/Commands** then open it and in 'handle()' function paste this part of code `$t

[2018-07-27 13:13] tarekbazine commented on #1036
I'm on the 1.0.0-rc.2 version (caching in file "CACHE_DRIVER=file") and the bug still exists!

[2018-07-27 13:18] tarekbazine commented on #1036
issue not solved yet @tymondesigns (plz don't close !)

[2018-07-29 10:06] ahmadnwira commented on #967
this worked for me
using [laravel 5.6 & jwt-auth 1.0]
[code]

[2018-07-30 07:09] Hiroki111 opened #1639 "Argument 1 passed to Tymon\JWTAuth\JWTGuard::login() must be an instance of Tymon\JWTAuth\Contracts\JWTSubject"
### Subject of the issue
Describe your issue here.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no / yes
| New Feature?      | no / yes
| Framework         | Laravel / Lumen
| Framework version | 5.x.y
| Package version   | 1.x.y
| PHP version       | 5.x.y / 7.x.y

### Steps to reproduce
Tell us how to reproduce this issue.

### Expected behaviour

[2018-07-30 07:10] #1639 closed, assigned to nobody

[2018-07-30 07:27] Hiroki111 opened #1640 "Auth::attempt throws an error "Lcobucci\JWT\Signer\Hmac::createHash()", even though I don't use jwt-auth anymore"
### Subject of the issue
Describe your issue here.

### Your environment
Windows

I've installed jwt-auth and implemented it into Customer class (instead of User).

[code]
When I run the following lines...

[code]

I got an error message, saying that

"exception": "Symfony\Component\Debug\Exception\FatalThrowableError",
"file": "C:\\projects\AppTrulyCrueltyFreeAPI\vendor\lcobucci\jwt\src\Signer\Hm

[2018-07-30 13:48] Reached commented on #1638
Currently, I see the following problems with the documentation:

1. Following the docs for the v1 version on a brand new Laravel 5.6 installation will NOT work without some extra steps as there are some errors with the implementation, e.g. https://github.com/tymondesigns/jwt-auth/issues/1367
2. Versioning of the library/what is referred to is two different things. In the 1.0 docs, when you install

[2018-07-30 14:14] Mahfoud047 commented on #1036
**I'm using the 1.0.0-rc.2 version with Laravel 5.4 and CACHE_DRIVER is on file, The issue still exists, @tymondesigns would you please check it out?**

[2018-07-30 15:12] SantosDavid commented on #1640
run **php artisan jwt:secret**

[2018-07-30 19:58] vunguyen91 commented on #1636
@gileneusz
I tried this, you write in the User model
[code]
with
[code]
result:
<img width="1189" alt="screen shot 2018-07-31 at 2 56 15 am" src="https://user-images.githubusercontent.com/24471508/43420219-58730f48-946d-11e8-9bee-6e0cd81597af.png">

[2018-07-30 20:13] genyded commented on #1636
What version of JWT AUth shows in your composer.json file? Also, where and how are you creating and returning the token?

[2018-07-30 20:15] vunguyen91 commented on #1636
@genyded
`"tymon/jwt-auth": "^1.0.0-rc.2",`
Do not do anything other than the above

[2018-07-30 20:27] genyded commented on #1636
Follow [this guide](http://jwt-auth.readthedocs.io/en/develop/quick-start/). If you followed the above example, it does not actually invoke Auth which is what sets this. You need to either call attempt() or login() per [the guide](http://jwt-auth.readthedocs.io/en/develop/auth-guard/). There is some stuff in the code above from older versions.

[2018-07-30 20:52] vunguyen91 commented on #1636
@genyded exactly
Change code in file `config/auth.php`
[code]

Login API

[code]

[2018-08-01 10:59] mattmcdev commented on #1621
This is an issue with your hosting, not this package.

Your Authorization headers are being stripped, you could take a look at some of the suggestions here which may be relevant: https://stackoverflow.com/questions/26475885/authorization-header-missing-in-php-post-request

[2018-08-01 12:14] netEmmanuel commented on #1361
You can safely remove from your `app.php` file

`Tymon\JWTAuth\Providers\JWTAuthServiceProvider::class,`

[code]

[2018-08-01 13:48] calmeyda commented on #1621
Yes, is a hosting bug, I guess is now fixed.

[2018-08-02 10:47] kamaln7 commented on #872
Thanks @HSkogmo, that helped me a lot. One note I have is to rename the middleware to something other than `jwt.refresh` because that already exists in this jwt-auth library and appears to overwrite the new custom middleware even if you add `'jwt.refresh' => \App\Http\Middleware\RefreshToken::class` to `Kernel.php`, so the token is renewed on every request as per the original middleware. Other tha

[2018-08-04 07:20] mn6893 opened #1641 "How not to use Password in JWTAuth:attempt?"
### Login without password - Undefined Index password
I want to login using emailid and userid, not with password. When i try login with emailid and userid, i'm getting "**undefined index:password**". It seems that "**JWTAuth:attempt**" is looking for password. But in my case i don't want to login with password.

Help!!

[code]
### Your environment
| Q                 | A
| ----------------- | ---

[2018-08-04 08:11] clickervinod opened #1642 "how i can add multi auth?"
how i can add multi auth?

 i have two user Model with two table (User, Admin)

[code]

tried this in login function but not worked

Thanks

[2018-08-06 22:56] avlima commented on #935
I have the same problem

[2018-08-07 05:02] SamHz commented on #1626
@tymondesigns the same as my problem, please help us, thanks a lot

[2018-08-07 06:06] robertnicjoo commented on #608
same error here version 1.0.0

[2018-08-08 07:39] ashishtz commented on #1066
have you found any solution?

[2018-08-08 21:16] jprobert commented on #1632
Got the same problem, any fix?

[2018-08-09 17:49] pablorsk commented on #1385
jwt-auth don't have any direct method to set personalized TTL. TTL is set on Factory reading config() of Laravel. Then, for now, you have 3 options.

### Option 1: with JWTAuth() facade and config()

1. Set TTL for don't remember option on `config/jwt.php`

[code]

2. And in your controller, for example:

[code]

### Option 2: with auth() facade

[code]

### Option 3

https://github.com/tymondesig

[2018-08-10 10:34] chrispage1 commented on #886
Same here. I was just looking at setting up authentication logging but putting it directly through the controllers isn't ideal 👎

[2018-08-10 11:22] mihailivanchev opened #1644 "Artisan command to generate token does not work"
### Subject of the issue
Generation of a token does not work. In the command you don't have a handle() method.
Instead, fire() is used, and laravel does not like that.
### Your environment
| Bug?              |  yes
| New Feature?      | no
| Framework         | Laravel
| Framework version | 5.6.33
| Package version   | 0.5.12
| PHP version       | 7.2.8

### Steps to reproduce
Run command ```php

[2018-08-10 22:07] webfelipemaia commented on #675
@aftabnaveed Thanks!
Worked for me!

[2018-08-12 05:30] shcode commented on #1644
use this:
[code]
and the command has changed to
[code]

[2018-08-13 05:08] blindsz opened #1645 "Laravel 5.7 Compatibility"
is the latest version supported and compatible in laravel 5.7?

[2018-08-14 14:42] megama5 commented on #1645
nope

[2018-08-15 08:20] robertnicjoo opened #1646 "getting logged user id"
why is so hard to find proper solutions for this package? :\

I need simple request `to get logged user id`, how can I do that?

[code]

this

[code]
Wont't work.

[2018-08-15 11:45] DaniloBenevides opened #1647 "Artisan command to make auth scaffolding"
### Subject of the issue
What do you think about an artisan command like "make:auth" to generate controller and routes needed to authentication?
### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | yes
| Framework         | Laravel / Lumen
| Framework version | 5.x.y
| Package version   | 1.x.y
| PHP version       | 5.x.y / 7.x.y

[2018-08-15 14:40] docmattman commented on #1600
Any progress on getting this working?  Wondering how to get it working as well.

[2018-08-15 23:58] #1646 closed, assigned to nobody

[2018-08-17 00:11] softwareishappiness opened #1648 "Routes not working"
I followed the quick start at: https://jwt-auth.readthedocs.io/en/develop/quick-start/. After copying the code from this tutorial to my routes/api.php and created an AuthController.php (also) using source on that tutorial. The route is not found-- the standard, familiar Laravel page:

I looked in Kernel.php and there was not middleware? Not sure what to do. Ideas? Really would like to use JWT but

[2018-08-20 04:49] rohan-deshpande opened #1649 "JWT_BLACKLIST_GRACE_PERIOD not being honoured"
### Subject of the issue

The `JWT_BLACKLIST_GRACE_PERIOD` is not being honoured and therefore flows which worked previously with `laravel/framework@5.4.*` and `tymon/jwt-auth@dev-develop#1b69f44c7bee9345d7070905b75967ffba11567c` are now broken.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | ~no~ / yes
| New Feature?      | ~no~ / yes
| Framework

[2018-08-20 05:02] zhuman90 commented on #1615
I have the same problem

[2018-08-20 05:30] rohan-deshpande commented on #1649
Discovered a bug in the front end request flow that was most likely causing this to occur. Closing for now.

[2018-08-20 05:30] #1649 closed, assigned to nobody

[2018-08-20 10:50] hhhormean commented on #1234
did u fix that？

[2018-08-20 16:27] ansoncsh commented on #1234
We haven't fixed it.
After some considerations, we prefer passing token as bearer token in Authorization Header.
I think it is "better than" using query string because:

- in web server access log, the url can be shorten
- "more clearer": client side always pass token in Header (as a required parameter for all calls) and pass additional parameters in query string for some calls only

[2018-08-21 02:56] jamesaspence commented on #1393
I'm having this exact issue, almost a year later. Trying to write a test that ensures that my refresh works with an expired token (but before refresh ttl is expired). I did a bit of digging but it seems difficult to create the claims for a subject, since the default factory appears to handle that logic inside of protected methods.

[2018-08-21 12:07] jgrossi commented on #1393
@jamesaspence thanks for bringing this back. sorry, but I forgot to update (and close) this issue... what I'm doing is changing the `Carbon` date for testing. `Carbon` has a  `setTestNow()` method that allows you to change the current date, so you can "start" a test 5 days ago, and then your expiration stuff is gonna work.

in my case a token is created when the user is created, so that's why I ch

[2018-08-21 12:07] #1393 closed, assigned to nobody

[2018-08-21 15:53] jamesaspence commented on #1393
Nice! Thanks. I actually found a way (potentially) to get this working as well - I had to do a ton of tinkering and it was kinda a pain, so this seems the better way forward.

I'll attempt to clean up my attempt and test it, and post it when I get the chance (in case it helps somebody else)

[2018-08-23 23:34] drunnkman opened #1650 "google two factor auth"
hi .
i searched a lot but i dident find the answer .

how can i use jwt + google2fa otp authentication in laravel?

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      |   yes
| Framework         | Laravel / Lumen
| Framework version | 5.6.y
| Package version   | 1.x.y
| PHP version       |   7.2.y

[2018-08-26 07:48] piotrgulbis commented on #1355
Thank you for this!

Would anyone have the code omitted from the example:
1) ./default
2) getToken()
3) setToken()
4) destroyToken commit

[2018-08-26 13:24] Nischal-shrestha commented on #1632
You can try this in app/exceptions/Handler.php

Make sure you use these on top
[code]
And Inside the render method
[code]

[2018-08-26 13:30] Nischal-shrestha commented on #1647
That would be good to have. 👍

[2018-08-26 13:42] Nischal-shrestha commented on #1625
You need to login once and use that token until it expires for the api requests.
Once it expires you need to refresh the token by providing the old token, which will give you a new token for the same amount of time.
You can store the token in local storage or cookies for persistence.

[2018-08-27 07:10] javasaravanan opened #1651 "MongoDB \ Driver \ Exception \ InvalidArgumentException Cannot use empty keys in filter document"
how to check token valid or not , every api call token authentication it is not wor

[2018-08-27 07:17] javasaravanan commented on #1651
![untitled](https://user-images.githubusercontent.com/38725417/44646003-4685f300-a9f7-11e8-882a-a9c8212e94be.png)

[2018-08-27 08:40] itsnotvalid opened #1652 "JWTAuth::getToken() signature change is not yet documented"
### Subject of the issue
Since milestone 1.0.0-rc.2, on commit https://github.com/tymondesigns/jwt-auth/commit/7c1d58e294b255c4afa31c121b11b947e8699cbe there is additional changes to the values returned by `JWTAuth::getToken()`. This function is suggested to be used in the 0.5.0 doc (wiki: https://github.com/tymondesigns/jwt-auth/wiki/Authentication ) as a way to obtain the token.

However, it's n

[2018-08-27 13:24] JulietteGSOS commented on #1626
@tymondesigns I've the same problem. I hope you give us a solution soon. Thanks a lot.

[2018-08-27 14:04] LucaMiozzo commented on #1626
I have found a solution:
**auth.php**
[code]

**routes/api.php**
[code]

**Model Admin.php**
[code]

**Controller AdminAuthController.php**
[code]

[2018-08-27 14:04] #1626 closed, assigned to nobody

[2018-08-27 14:17] jacinto-joao commented on #1626
Hi @LucaMiozzo  This sound interesting,

On my side, I ended up using Laravel Passport, but aren't easy to implement passport on my use case, once I needed to use UUID and passport doesn't support as defaults, same as MultiAuth.

But after some googling and testing I could get passport working nicely with Multi Auth and uuid and with a bonus of OAuth2 which I can extend my application to external

[2018-08-27 18:27] ye7iaserag opened #1653 "JWT Refresh - old token not expiring - still in latest version"
Exactly #1036
This is a huge security flow which have not been fixed for a long time
Please look into it

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | yes
| New Feature?      | no
| Framework         | Laravel
| Framework version | 5.5
| Package version   | r2
| PHP version       | 7.1

### Steps to reproduce
Follow the latest comments in #1036

###

[2018-08-28 09:09] JulietteGSOS commented on #1626
It works for me when I set the api guard as default but it's not what I want to do as 95% of my site uses the web guard. It's much easier for me to have it as default.
The strangest thing is that it works on my development server with web guard as default and also on the staging site which is on my production server, but on my production site it won't work. I keep on tryting different solution but

[2018-08-28 17:05] binaryk commented on #1645
Not yet:
<img width="1023" alt="screenshot 2018-08-28 at 20 04 39" src="https://user-images.githubusercontent.com/6833714/44738456-a6ff5800-aafd-11e8-917a-b139f2744443.png">

[2018-08-28 17:18] ghost commented on #1645
Is this repo even still maintained?

Does anyone know of an alternative package?

[2018-08-28 17:19] omaryoussef commented on #1645
Well there was an update about 2 months ago... Don't know of any alternative packages.

[2018-08-28 22:04] megama5 commented on #1645
Just for you, omaryoussef (with support of laravel 5.7 lol)
https://github.com/megama5/jwt-auth

[2018-08-29 08:10] #815 closed

[2018-08-29 08:15] SamHz commented on #1626
@LucaMiozzo Are you sure that is use jwt?  your means we need use laravel passport to solve this problem？it's not best for my project! thanks.

[2018-08-29 12:53] JulietteGSOS commented on #1626
I didn't understand why it worked for me on my staging site but not my production one (same server, same database). I figured out that some of my users work and others don't. I've been over and over my database but I can't figure what could be wrong with the ones that don't work. And when I set api guard by default they all work !!! It drives me crazy....

[2018-08-29 14:33] samktest opened #1656 "How can i refresh token using laravel api routes with old token"
### Subject of the issue
Describe your issue here.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no / yes
| New Feature?      | no / yes
| Framework         | Laravel / Lumen
| Framework version | 5.x.y
| Package version   | 1.x.y
| PHP version       | 5.x.y / 7.x.y

### Steps to reproduce
Tell us how to reproduce this issue.

### Expected behaviour

[2018-08-29 16:46] xdstack commented on #1184
Same question.    Laravel 5.5

————————

Update:

I have solved the problem. The reason is I used dingo/api which took over the exception handler.

So I custom a handler at AppServiceProvider@register.
[code]

[2018-08-30 01:22] SamHz commented on #1615
Has this problem been solved?

[2018-08-30 01:25] SamHz commented on #1565
I have the same problem

[2018-08-30 01:32] SamHz commented on #1530
@crossRT
[code]
can be use in middleware?

[2018-08-30 08:44] JulietteGSOS commented on #1626
I ended using the api guard by default and now everything works fine.

In routes/web.php I specify the guard for my authentitified routes :

      Route::group(['middleware' => ['auth:web']], function () {
            ...
      });`

And in my authentification controllers I specify the guard I'm using for each use of Auth() :

      $token = Auth::guard('api')->attempt($credentials)

[2018-08-30 09:02] SamHz commented on #1626
@JulietteGSOS your idea same as mine. your code use auth middleware? the middleware working ok?

[2018-08-30 12:02] #1530 closed, assigned to nobody

[2018-08-30 13:12] JulietteGSOS commented on #1626
I use Laravel 5.6 and tymon/jwt-auth 1.0.0-rc.2.

On my authentified routes from web, I use the middleware auth and, on the api one's, I use jwt.auth.

My config/auth.php is like that :

    'defaults' => [
        'guard' => 'api',
        'passwords' => 'users',
    ],
    'guards' => [
        'web' => [
            'driver' => 'session',
            'provider' => 'users',
        ],
        'a

[2018-08-30 14:02] aziev commented on #1298
@islam-moneer when I did so I got error `The "show" option does not exist.`

[2018-08-30 16:25] KenathK opened #1657 "Refresh token is not working as expected."
### Subject of the issue
Describe your issue here.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              |  yes
| New Feature?      | no
| Framework         | Laravel
| Framework version | 5.6
| Package version   | 2.x.y
| PHP version       | 7.x.y

### Steps to reproduce
Try to refresh a token once it expired (Seems like refresh ttl is same as jwt ttl)

### E

[2018-09-01 07:46] ivahidmontazer commented on #1573
please note that you can change config options in your codes in run time. I used this code and this was a solution for me:
[code]

[2018-09-01 07:46] ivahidmontazer commented on #831
please note that you can change config options in your codes in run time. I used this code and this was a solution for me:
[code]

[2018-09-01 07:46] ivahidmontazer commented on #983
please note that you can change config options in your codes in run time. I used this code and this was a solution for me:
[code]

[2018-09-03 07:16] Jason-Nake commented on #1038
Today i have meet the same problem,and my Laravel version is 5.6.37.According to the official document ,i configuration the composer.json "tymon/jwt-auth": "1.0.0.*" and configuration the app.php  service provider Tymon\JWTAuth\Providers\JWTAuthServiceProvider::class and
aliases:
        'JWTAuth' => Tymon\JWTAuth\Facades\JWTAuth::class,
        'JWTFactory' => Tymon\JWTAuth\Facades\JWTFactory::cl

[2018-09-03 09:30] Jason-Nake commented on #1151
me too for 1.0.0.*
I have config this in APP.php ['aliases']
 'JWTAuth' => Tymon\JWTAuth\Facades\JWTAuth::class,
So,i instead
   use Tymon\JWTAuth\JWTAuth;
to
   use JWTAuth;
but,it't not works!why?it tip me the JWTAuth is not defined

[2018-09-03 09:57] Jason-Nake commented on #182
please instead config\jwt..php : ` 'jwt' => 'Tymon\JWTAuth\Providers\JWT\NamshiAdapter',` as ` 'jwt' => Tymon\JWTAuth\Providers\JWT\Namshi::class`  , `'auth' => 'Tymon\JWTAuth\Providers\Auth\IlluminateAuthAdapter'` as ` 'auth' => Tymon\JWTAuth\Providers\Auth\Illuminate::class` , `'storage' => 'Tymon\JWTAuth\Providers\Storage\IlluminateCacheAdapter'` as ` 'storage' => Tymon\JWTAuth\Providers\Storag

[2018-09-03 09:57] Jason-Nake commented on #1151
please instead config\jwt..php : ` 'jwt' => 'Tymon\JWTAuth\Providers\JWT\NamshiAdapter',` as ` 'jwt' => Tymon\JWTAuth\Providers\JWT\Namshi::class`  , `'auth' => 'Tymon\JWTAuth\Providers\Auth\IlluminateAuthAdapter'` as ` 'auth' => Tymon\JWTAuth\Providers\Auth\Illuminate::class` , `'storage' => 'Tymon\JWTAuth\Providers\Storage\IlluminateCacheAdapter'` as ` 'storage' => Tymon\JWTAuth\Providers\Storag

[2018-09-03 13:12] jayeshanandani commented on #896
any ETA on this? We have a use case for this and new version doesn't supports this for long enough now I guess.

If we can contribute in any way or if PR's are accepted we will be happy to provide a fix for this.

Appreciate all the hard work done so far on this.

[2018-09-04 00:09] #1645 closed, assigned to nobody

[2018-09-05 04:49] Dadan93 commented on #1298
@Milos0110 thanks , this is worked for me

[2018-09-05 21:11] ixms opened #1658 "Unauthorized - refresh session (token)"
### Subject of the issue

I have Angular/Laravel app on 2 domains.
After something like 40min of not requesting to Laravel from Angular app, laravel returns "unauthorized" - so user session expired.
Can i login the user again with old token from user storage instead of logging him out from Angular and continue the request before it throw user an error?

### Your environment
| Q                 | A

[2018-09-05 21:27] jafar-albadarneh opened #1659 "Install in Laravel 5.7"
### Subject of the issue
Package “tymon/jwt-auth”: “1.0.0-rc.2” was not able to be installed

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | yes
| New Feature?      | no
| Framework         | Laravel
| Framework version | 5.7.1
| Package version   | 1.0.0-rc.2
| PHP version       | 7.2

### Steps to reproduce
- `composer require “tymon/jwt-auth”: “1.0.

[2018-09-06 08:46] TobiasJ commented on #1659
This was fixed in tymon/jwt-auth (dev-develop e190b6a) + (https://github.com/tymondesigns/jwt-auth/commit/d6fab6e52f388f99156b1f313ffd393958196b04).

Using the develop branch should fix your issue.

[2018-09-06 09:07] TobiasJ commented on #1658
You should be able to refresh the token with:
[code]

When this does not work, check your jwt config. `'refresh_ttl' => env('JWT_REFRESH_TTL', 20160),` is the default, which let's you refresh the given token within 2 weeks.

How your app determines wether to refresh the token or not is up to you. The most basic approach would be to leverage an "expires_in" upon authentication and check if the toke

[2018-09-06 09:41] TobiasJ commented on #1657
Do you have an auth-exception for your `refresh` Route?
[code]

[2018-09-06 11:26] MaartenStaa commented on #1659
@TobiasJ can you tag a new release, so we don't have to use a `dev-` prefix?

[2018-09-06 12:01] TobiasJ commented on #1656
[code]

Would be a simple and most basic implementation. Do keep in mind that when using the auth middleware on this route it will fail since the token might be already expired (hence the refresh).

[2018-09-06 12:11] TobiasJ commented on #1659
@MaartenStaa I'm not a maintainer as I just started using this package myself. But maybe @tymondesigns got the time to tag a new release for us.

[2018-09-06 20:09] garbinmarcelo commented on #1546
any news?

[2018-09-07 08:54] TobiasJ commented on #1648
Maybe a bit late but that's an easy fix. When you followed the instructions on the install guide and quick start you should be able to request the endpoints with the default laravel api route pattern which is `my-domain.tld/api`. What you were missing (where the guide isn't 100% correct) is the `api` prefix.

Testing the endpoints with `localhost:8000/api/auth/login` should be working as expected.

[2018-09-07 11:13] sidjaix commented on #301
I am also facing the same kind of issue with JWT token usage. Below is the scenario of it. Please guide us if you know any approach or solution for this.

On every HTTP call, we are checking whether the token is present in local storage or not.

If it's not there in local storage or expired, we are keeping the current request on hold and will make a separate HTTP get a request to get token and sto

[2018-09-07 12:14] ajoslin103 commented on #301
I managed this problem by maintaining a single queue for all token calls into which I put functions that would check if a token was available in local storage before processing the request and storing the token locally when retrieved.

Then I processed only one of those queued requests at once.

That way if a particular token was queued up to be requested more than once the following calls would f

[2018-09-07 12:48] sidjaix commented on #301
Hi @ajoslin103, Thank you for responding, Could you share some code with me that I can refer to solve the problem.

[2018-09-07 13:40] ajoslin103 commented on #301
All this code is ancient -- from early 2015 and uncommented [sorry about that]

Frontend code is Angular 1.x  Reading back in this thread I see where I might have turned off single-use because of odd blacklisting of returned tokens...  The backend was written twice, originally in Laravel, then re-written in AdonisJS.  Since AdonisJS is Laravel inspired it was _extremely_ easy to port.  Basically j

[2018-09-07 23:47] brian-gerrity commented on #1355
If you are having trouble with Laravel 5.6 use tymon/jwt-auth (1.0.0-rc.2)

[2018-09-08 21:23] faryar76 opened #1661 "_"
_

[2018-09-08 21:34] #1661 closed, assigned to nobody

[2018-09-09 08:27] jimmyd-be commented on #1581
I have the same issue on my configuration. Is there some fix for this?

[2018-09-10 00:55] tiaguinhor commented on #967
laravel 5.6+ & jwt-auth 1.0+

[code]

[2018-09-11 02:09] garbinmarcelo opened #1663 "Control of logged in users"
### Control of logged in users
Is it possible to control logged in users?
Example: Limit the number of logins / users who are accessing the application.

Another question, is it possible to check if a user has already logged in? In this case, for example the command "Auth::check()", then if he had already logged in he did not generate another token, keep the token (if it is not expired).

Could so

[2018-09-11 13:36] stafin commented on #1038
@chrislow thanks... **LARAVEL 5.7 ok**

[2018-09-12 00:09] stefanocurnis commented on #1568
Same problem here.

[2018-09-12 01:50] richellyitalo opened #1664 "Route [login] not defined (How return right the status and message?)"
### Subject of the issue
Problem when try access route that need token with my spa, show me "Route [login] not defined.", but needs show unautorized status.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | no
| Framework         | Laravel
| Framework version | 5.7
| Package version   | 1.0.0-rc.2
| PHP version       | 7.2

[2018-09-12 02:13] richellyitalo commented on #1226
Not work with me. I'm using version 5.7
Any solution?

[2018-09-12 15:17] mateuszkardas commented on #1664
Try name Your route `Route::post('login', 'AuthController@login')->name('login');`

[2018-09-13 14:06] sykorax opened #1665 "IssuedAt Claim maxRefreshPeriod expiration detection error"
### IssuedAt.php

Just noticed that at [this](https://github.com/tymondesigns/jwt-auth/blob/be03e7f12ba985f1474a84e0fa0b48787bb4f056/src/Claims/IssuedAt.php#L55) line of IssuedAt.php claim the predicate should be negated.

I've just set the **JWT_MAX_REFRESH_PERIOD** environment variable to some positive integer differs from null and during the unit tests it always throws expired token exception.

[2018-09-14 03:08] richellyitalo commented on #1664
But it's on api, the right way it's return **`{message: unathenticated}`** throught rest.

[2018-09-14 07:11] husseinmirzaki commented on #1548
Thanks, my bad

[2018-09-14 07:11] #1548 closed, assigned to nobody

[2018-09-15 08:38] john-xu commented on #1664
@richellyitalo
you should check line 216 in file "vendor/laravel/framework/src/Illuminate/Foundation/Exceptions/Handler.php"
you could put Accept: application/json in your request header

[2018-09-15 08:59] richellyitalo commented on #1664
Thanks, @john-xu .
After check that and run **`php artisan make:auth`** it's works.
Thanks guys and have a nice day!

[2018-09-15 08:59] #1664 closed, assigned to nobody

[2018-09-16 08:57] AmirrezaNasiri opened #1666 "Unexpected `Token Signature could not be verified.` randomly happens"
### Authentication results in 401 `Token Signature could not be verified.` randomly
We're working on a project where back-end is being handled by `Laravel 5.6` using `jwt-auth`. On front-end, we use `Vue.js` and `vue-auth` to handle authorization.
The issue happens randomly so I couldn't find a way to trace it. It's explained in sections below.

### My environment
| Q                 | A
| -------

[2018-09-16 23:33] #1490 closed, assigned to nobody

[2018-09-17 07:26] dbrw commented on #1347
How about in testing environment, how do you get current user token?

you can login with `$this->actingAs($user)` from a test, but how to get the token?

[2018-09-18 07:48] SergeyMiracle commented on #1659
@tymondesigns any updates?

[2018-09-18 16:12] moazam1 commented on #1361
Almost one year passed but this issue is still remain active. I do see regular updates on this package. I hope package developer will consider fixing this issue ASAP now!

[2018-09-18 18:14] fgilio commented on #886
Same here. Ended up doing it manually `event(new Illuminate\Auth\Events\Logout($user));`

[2018-09-19 04:12] Bayasgalan commented on #1653
yes. same here. all old tokens working. not expiring.

[2018-09-19 11:32] praveenrengarajan opened #1667 "Token Generated from System.IdentityModel.Tokens.Jwt Microsoft throwing "Invalid Token""
### Subject of the issue
Jwt token generating in C# IdentityModel(Microsoft.IdentityModel) V5.2.2 and verifying that token in Laravel rest call jwt-auth (V1.0), it's throwing "Token Invalid" Exception. Encrypt key and other claims are same, but jwt-auth library failed to decode it.
Encrypt Key: xfoSiRSaetjS9eEJ7ixGx9dYZB4nqaW3
Jwt Token:
"ew0KICAiYWxnIjogIkhTMjU2IiwNCiAgInR5cCI6ICJKV1QiDQp9.ew0KIC

[2018-09-19 19:31] shooka commented on #1667
The decoded token is missing the `jti` claim which is required by default in the config file.

present in the payload.

[code]

[2018-09-20 01:38] hopeseekr commented on #1659
I officially forked this repo and I will be adding 5.7 support tomorrow. I'm tired of waiting.

[2018-09-20 03:32] TheSachin opened #1668 "Verify the token from string rather than request."
Verify the token from string rather than request.

| Q                 | A
| ----------------- | ---
| Bug?              |  yes
| New Feature?      |  yes
| Framework         | Laravel
| Framework version | 5.7
| Package version   | 1.x.y
| PHP version       |  7.1

[2018-09-20 04:23] praveenrengarajan commented on #1667
@shooka  added jti in claims with random guid. still same issue while validating "Invalid Token"

[2018-09-20 07:46] tymondesigns commented on #1659
Sorry to keep you guys waiting! I've just tagged a new release

https://github.com/tymondesigns/jwt-auth/releases/tag/1.0.0-rc.3

[2018-09-20 07:46] #1659 closed, assigned to nobody

[2018-09-20 08:50] SergeyMiracle commented on #1659
@tymondesigns thank you very much 👍

[2018-09-20 10:52] avrahamm commented on #1038
adapted App\User by
https://blog.pusher.com/laravel-jwt
and got the token
$credentials = $request->only('email', 'password');
$token = JWTAuth::attempt($credentials)

[2018-09-21 07:47] brentschmaltz commented on #1667
@praveenrengarajan 	what error are we getting?

[2018-09-21 12:55] Nischal-shrestha commented on #1658
well what i do on my app is that, the laravel route to refresh token should be publicly accessible and from your angular project try to use the token and if it returns unauthorized then try to refresh it. If it was a valid token and it is just expired, you should get back a new token.

[2018-09-21 13:00] Nischal-shrestha commented on #1668
like passing token as a query string on the url?
If so you can already do that.
Example:
anything.dev/private/route?**token=full_jwt_token_here**

[2018-09-21 14:59] homeoftheunits opened #1669 "Login with JWT and Web"
Hi there,

until now i use jwt to login in my api. But now i want to use Horizon additionally. To secure the horizon app, i want to use the laravel LoginController. The Login succes, but the auth()->user() is everytime null. Mayby its an conflict with JWT, what can i do?

Cheers
Ralf

[2018-09-21 16:54] mirfansulaiman commented on #1659
@tymondesigns Thank you 👍

[2018-09-22 03:11] khanhvu14 commented on #1659
@tymondesigns Thank you 💯

[2018-09-22 20:02] MOHAMMED-ABD-RAZAQ commented on #1336
delete vendor folder
then inastall composer again

[2018-09-23 18:42] emprove opened #1671 "auth()->user() always return null"
### Subject of the issue
I can only login, but all protected routes under auth:api was unauthorized.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | yes
| New Feature?      | no
| Framework         | Laravel
| Framework version | 5.7.5 / 5.6.* trying too
| Package version   | 1.0.0-rc3 / dev-develop
| PHP version       | 7.2.3 / 7.2.10

login() was OK

[2018-09-24 02:22] oldskool73 commented on #1298
@aziev fix for "The "show" option does not exist." , in your new command file...

[code]

[2018-09-24 13:37] emprove commented on #1671
My mistake. In Postman i forgot set dynamic variable like {{access_token}} for all requests. -_-

[2018-09-24 13:37] #1671 closed, assigned to nobody

[2018-09-25 06:24] thlassche opened #1672 "Make cache instance / blacklist storage configurable"
### Make cache instance / blacklist storage configurable
Because the token blacklist is stored in the default laravel cache instance, the blacklist is cleared every time the cache is cleared. Would be better to make the cache instance configurable, just like Laravel did it for the session and cache instances: https://github.com/laravel/laravel/commit/c3b99e971cd9d8213ada259b9f624a8f70ddd57b#diff-e

[2018-09-25 10:52] miki131 commented on #1672
You can use contextual binding
[code]

[2018-09-25 12:40] secmohammed opened #1673 "middleware should be applied to retrieve user"
### middleware should be applied to retrieve user
I'm trying to log a view of user and optionally  insert the id of this user in case of authentication, therefore this route shouldn't be guarded, and I should retrieve the user using auth()->check() in case the user is already logged in, otherwise that, I'll just insert a nullable value.

It happens to not retrieve the user until i have the middlew

[2018-09-27 10:45] nikolaof opened #1674 "Why attempt() method doesn't throw any Exception?"
### Subject of the issue
While using the `auth()->setTTL(1)->attempt($credentials)` I realized that if it doesn't match the credentials with a user in DB, it doesn't return an exception like UnauthorizedHttpException. For that reason one has to enclose the above command inside an if clause.

In contrast methods like `check()` did return one and exception is handled by the global handler.
### Your

[2018-09-28 11:53] surtibhavin6006 commented on #1226
@richellyitalo

At App\Http\Middleware\Authenticate

`
protected function redirectTo($request)
{
        if(strpos($request->getUri(), '/api') !== false){
                return false;
        }
        return route('login');
}
`

[2018-09-28 12:55] richellyitalo commented on #1226
Works when i ran `php artisan make:auth`

[2018-09-28 13:22] surtibhavin6006 commented on #1226
I think don't need `php artisan make:auth` if we are using only API with JWT

[2018-09-28 15:00] richellyitalo commented on #1226
I'll try without `make:auth`.

[2018-09-29 09:40] smithyj opened #1675 "What is the order of getting tokens?"
### Subject of the issue
Describe your issue here.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | yes
| Framework         | Laravel
| Framework version | 5.7.6
| Package version   | dev-develop
| PHP version       | 7.2.3

### Steps to reproduce
nothing

### Expected behaviour
nothing

### Actual behaviour
nothing

I observed

[2018-09-29 13:56] kalemdzievski commented on #1246
Facing the same issue, and none of the workaround above work for me,
Plus one for resolving this issue.

[2018-09-29 23:10] iwex commented on #1376
Bump

[2018-09-30 00:56] iforwms commented on #1246
I'm using Laravel 5.7 and edited the above code a bit. Basically use the existing `json` call for unauthenticated routes, and below for authenticated routes:

[code]

Which means unless you want to log in as a specific user, just change any of your test calls from `json` to `apiAs` and you're done.

EDIT: Add this to your base TestCase class.

[2018-10-01 07:29] kalemdzievski commented on #1246
[This answer on stackoverflow](https://stackoverflow.com/questions/31309098/laravel-testcase-not-sending-authorization-headers-jwt-token), provided by @emersonbroga helped me, but still, this is just a workaround.

[2018-10-01 07:47] vjrngn commented on #1246
I use a trait in all my tests. Hope this helps someone.

[code]

[2018-10-01 08:01] kalemdzievski commented on #1246
Did somebody had the trouble of getting the user from the JWTAuth facade in some part of the application that is created on boot?

[2018-10-01 11:17] kalemdzievski commented on #1246
@tymondesigns can somebody please check this issue, its really painful for testing.
Thanks!

[2018-10-01 13:50] Theldeniya commented on #1169
steps not clear sis can you please clearly mention the steps again please..

[2018-10-01 19:19] HybridFox opened #1676 "Laravel creating new session file on each requests"
### Subject of the issue
After implementing jwt-auth in my laravel project a new session file is being created on each request. Only after deploying to production and noticing inode usage is through the rough i noticed the issue. So the exact cause is not known.

If anyone has ever encoutered this and / or knows a fix for this. Please let me know. otherwise i will be redo adding jwt-auth and check

[2018-10-02 11:55] raimundocf-net commented on #1498
If you look at the documentation you will see that:
config/auth.php

 'defaults' => [
        'guard' => 'web',
        'passwords' => 'users',
    ],

for

  'defaults' => [
        'guard' => 'api',
        'passwords' => 'users',
    ],

[2018-10-03 07:05] rohanisuhadi commented on #1659
@tymondesigns Thank You very much

[2018-10-03 16:32] jgrossi commented on #1246
@kalemdzievski just an update here. I'm using an easier way to add the header to the call. Just add this to a trait that overrides how the `actingAs()` method works:

[code]

[2018-10-04 07:51] dvlpr91 commented on #1546
can't

[2018-10-04 10:29] msyadav88 opened #1678 "In ProviderRepository.php line 208: Class 'Tymon\JWTAuth\Providers\JWTAuthServiceProvider' not found"
while running below command
php artisan vendor:publish --provider="Tymon\JWTAuth\Providers\JWTAuthServiceProvider"

I am getting the below error

In ProviderRepository.php line 208:    Class 'Tymon\JWTAuth\Providers\JWTAuthServiceProvider' not found

I am using laravel 5.7 and jwt-auth 1.0

[2018-10-04 14:17] einnar82 commented on #1577
I found a solution, update your jwt-auth package into `1.0.0-rc.2` then modify the BroadcastServiceProvider into `Broadcast::routes(['middleware' => ['auth:api']]); `

[2018-10-05 12:31] kurbar opened #1679 "CookieParser does not account for encrypted non-serialized cookies since 5.6.30"
### Subject of the issue
With the Cookie serialization vulnerability changes in 5.6.30, cookies are not serialized by default anymore.

When `Tymon\JWTAuth\Http\Parser/\Cookies->decrypt()` is called, it calls Laravel's `Crypt::decrypt()` which has a default parameter of `$unserialize = true`. Currently tymon/jwt-auth doesn't validate if the cookie value might indeed be non-serialized.

### Your en

[2018-10-05 14:39] mvsiaga opened #1681 "No token is returned using auth()->tokenById()"
### Subject of the issue
I need to get the the user token using the user id. But auth()->tokenById() does not return any data. Please help me on this. Thanks.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no / yes
| New Feature?      | no / yes
| Framework         | Laravel / Lumen
| Framework version | 5.7
| Package version   | 1.0.0
| PHP version

[2018-10-05 17:31] weiweitoo commented on #205
Same issue with  Laravel 5.7.8 here. I able to solved it by add following line in config/app.php

[code]

Reference [here](https://appdividend.com/2018/02/24/laravel-jwt-authentication-tutorial/)

[2018-10-05 19:02] loperd commented on #1465
Hi. I have a question.
Please answear me.
How to unlogin user token? I tried use `auth('api')->logout()` but this don't work for me,
the token still could be used..

Thanks!

[2018-10-06 02:18] davidrtpereira commented on #1298
To work around this problem, create a class that is a default class:
Run command: php artisan make:command JWTGenerateCommand

Find to class JWTGenerateCommand (app/Console/Commands/JWTGenerateCommand):

[code]

[2018-10-06 08:37] bespired commented on #1347
How did you visit /api/auth/logout ?
Forms in laravel are validated against a CSRF-TOKEN, did you provide one?

[2018-10-06 20:31] Bogardo commented on #1568
The `TokenExpiredException` is in fact thrown.
In the case that the token is expired but can be refreshed:
https://github.com/tymondesigns/jwt-auth/blob/develop/src/Claims/Expiration.php#L31

In the case that the token is expired and cannot be refreshed:
https://github.com/tymondesigns/jwt-auth/blob/develop/src/Claims/IssuedAt.php#L59

But the Exceptions in both instances are caught and ignored, o

[2018-10-08 02:49] dvlpr91 commented on #321
The payload of the expired cookie is required to set the lifetime of the cookie for refresh token. But it's not possible on 1.0 version.

[2018-10-08 02:54] dvlpr91 opened #1687 "get payload of expired token"
version: 1.0

I need a way to get the value of the payload of an expired token. Is there a way to get some public values?

(I want to check the value of 'keep login' in the expired token for the cookie lifetime setting.)

[2018-10-08 03:18] dvlpr91 commented on #383
not working.

[2018-10-08 03:39] dvlpr91 opened #1688 "get payload of refresh token"
How do I get the payload of a refreshed token (before sending the refreshed token to the client)?

[2018-10-08 05:27] measproem commented on #1361
Same problem

[2018-10-08 06:18] measproem commented on #1102
@shahrukh4 Perfect, I just looking for generate jwt token spent nearly 10 hours finally got your and it work like charm!
Save me life

[2018-10-08 06:44] umutyerebakmaz commented on #1659
Thanks @tymondesigns

[2018-10-08 06:56] TheSachin commented on #1668
No i meant not from url but programmatically in  the code, right now we have to use
`auth()->setToken($token)` but can we simply pass the token string and verify it's tokens without calling  `setToken`

[2018-10-08 09:42] thlassche commented on #1672
@miki131 Great, thanks. That will do the job for now for me.

[2018-10-08 13:05] MadWillow commented on #1233
Had the same issue, fixed it by removing the content of the cache-folder and then ran `composer dumpautoload`

[2018-10-08 21:37] abdolrhman opened #1690 "what version to use for laravel 5.6"
Please tell me what version to use ,
and what are the steps to install and use ,
am soooooooooooo confused of version develop or .5 or .6 or 1.0

i have used some docs and every thing missed my project ,
so i uninstall the package , and am waiting for a version and a documentaion to follow without any problem ,
cauz am so so confused and i got into many errors used some diff versions still errror

[2018-10-08 21:42] abdolrhman commented on #1690
@tymondesigns  @lucasmichot @GrahamCampbell
please some help guys :)

[2018-10-09 00:34] jehadja commented on #1431
Hi , Simply JWT is base64 coded HEADER.PAYLOAD.VERIFY_SIGNATURE
we need exactly PAYLOAD
it will look something like
[code]
covert it to json and then compare 👍
[code]

[2018-10-09 01:39] izakntun opened #1691 "Support for RFC 7519"
Does this library has support for RFC 7519? https://tools.ietf.org/html/rfc7519

[2018-10-10 00:01] eliyas5044 commented on #1690
@abdolrhman update your composer file with this `"tymon/jwt-auth": "1.0.0-rc.3"` , then update composer `composer update` and next just follow [docs](https://jwt-auth.readthedocs.io/en/develop/laravel-installation/#generate-secret-key)

[2018-10-10 23:56] guillermors39 commented on #1567
How can i fix this problem?

[2018-10-11 00:02] guillermors39 commented on #1567
https://github.com/tymondesigns/jwt-auth/issues/1111
Try it with this solution or execute the command as superuser

[2018-10-11 14:32] fer-ri commented on #1226
Since this package extended from auth guards using `JWTGuard`, so it always throws `Illuminate\Auth\AuthenticationException` when `check` or `user` is `null` as you can see at https://github.com/illuminate/auth/blob/master/Middleware/Authenticate.php#L67

My solution is to replace `App\Http\Middleware\Authenticate` with this

[code]

As you can see I removed `redirectTo` method and replace `authen

[2018-10-11 16:39] izakntun commented on #1691
@tymondesigns some answer?

[2018-10-11 16:44] tymondesigns commented on #1691
JSON Web Encryption (JWE) is not supported out of the box right now but you could implement your own JWT provider and use something like https://github.com/web-token/jwt-framework to power it

[2018-10-11 16:44] #1691 closed, assigned to nobody

[2018-10-12 04:16] nurmantg opened #1693 "JWTAuth authenticate 500 Internal server error"
Hello all, i have a question about jwt authenticate function

I got 500 internal server error when token is unsuccessfull authenticate like expire,invalid,etc
but if i request with right token, postman result is going well and print all data inside token.

here are details of error

Postman result success
`{
    "data": {
        "id": 2100,
        "empl_id": 27,
        "empl_username": "CGK0101

[2018-10-14 00:32] Jrb1x commented on #1102
Any ETA for the official documentation? Can’t get any of the above suggestions to work on Lumen 5.7.

[2018-10-14 15:17] marufmax commented on #205
Having the same issue in laravel 5.7 application.

just add `  "tymon/jwt-auth": "dev-develop"`   will solve your problem.

[2018-10-14 23:58] vsecades opened #1695 "Proper installation instructions for Laravel 5.7"
### Proper installation instructions for Laravel 5.7
Really, need a proper walk-through of installation

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no / yes
| New Feature?      | no / yes
| Framework         | Laravel
| Framework version | 5.7
| Package version   | 1.0.0-rc.3
| PHP version       | 7.1

### Steps to reproduce
Had to follow 3 differe

[2018-10-15 03:58] irfanabdurrasyid commented on #205
where your add script. are in .env?

[2018-10-15 05:32] marcioelias commented on #1695
Hey @vsecades,

can you share these steps that you have to do in order to get all working?

I'm upgrading a project to Laravel 5.7, and are having a lot of problems.

[2018-10-15 15:59] kudlohlavec commented on #1406
Experiencing the same problem on 0.5.12 version... Except that for me its happening in RedisBroadcaster.php when its trying to access `$request->user()` any news about this?

[2018-10-16 00:22] bangtiray commented on #1695
hy @vsecades
please share your step,,

[2018-10-16 06:44] shirshak55 opened #1697 "Getting user when not using auth:api middleware?"
In Laravel

`auth()->user()`

returns true if user is logged in  and null if user get logged out.

If route is protected by `auth:api`
`auth()->user()` works as expected

But if route has only been added to `api` not to `auth:api`
auth()->user() it always returns null even if I passed authentication token in header.

There may be some part of application where I don't want user to login compulsori

[2018-10-16 06:45] shirshak55 commented on #1695
it is working as expected. The docs is also working properly which step did you failed?

[2018-10-16 06:46] shirshak55 commented on #1676
did you use api and auth api as route middleware? Using `web` middleware is responsible for such thing. If you are using this package then web middleware is usually redundant

[2018-10-16 06:49] shirshak55 commented on #1674
auth attempt returns try or false only isn't it? Using methods like `JWTAuth::parseToken();` etc will return exception bro.

[2018-10-16 06:51] shirshak55 commented on #1669
you can use middleware web etc for that .And use auth:web middleware for authentication. For part you need jwt use api and auth:api

[2018-10-16 07:19] shirshak55 commented on #1663
I think you should do it manually. Whenever user login increment their count and like that. I don't think this package should be responsible for that.

[2018-10-16 07:25] #1697 closed, assigned to nobody

[2018-10-16 08:19] nurmantg commented on #1693
Solved with changing path of exception

Thanks

[2018-10-16 08:19] #1693 closed, assigned to nobody

[2018-10-16 12:33] kudlohlavec commented on #1360
Same problem here, have you managed to find any solution?

[2018-10-16 12:40] Kreateyou commented on #1360
Override the class and pass octobercms class

[2018-10-16 12:43] kudlohlavec commented on #1360
@Kreateyou which classes are you referring to?

[2018-10-16 13:16] daalvand commented on #1484
in config/auth.php change defualt guard from web to api
  'defaults' => [
    'guard' => 'api',
    'passwords' => 'users',
  ],

[2018-10-16 16:25] LastxTemplar commented on #1669
@shirshak55 would you be able to provide an example of this? I am trying to achieve the same thing for 2 days now and I can't. For me it all depends on what I put in the /config/auth.php file. if ```defaults->guard => api``` then my api login routes work but the web ones dont, and it's vice-versa if I put ```defaults->guard => web```

Thanks!

[2018-10-16 16:33] shirshak55 commented on #1669
@LastxTemplar
hmm have you set auth:api and api middleware for api related routes?

the best option is to put web by default and use middleware api explicitly :)

[2018-10-17 01:59] hackerunet commented on #205
This doesn't work... I have a complete fresh install and none of the code added to the entire issue works for latest lumen.

[2018-10-17 03:35] marufmax commented on #205
in your composer.json file.

[2018-10-17 03:51] hackerunet commented on #205
The issue here is the order how to do things, you have to enable all facades and providers first before attempting the jwt:secret from cli.

[2018-10-17 05:12] iammackinnon commented on #1695
[This comment](https://github.com/tymondesigns/jwt-auth/issues/1038#issuecomment-393520213) should help solve the issue for most I think.

The docs also needs updating.  I had to delve into the issues to find out how to at least install (following the docs resulted in jwt:secret throwing an error)

[2018-10-17 09:38] benmcm1994 commented on #1695
I believe the only step missing is `composer update`. I was getting

Until I updated my composer.

[2018-10-17 09:54] LastxTemplar commented on #1669
hey @shirshak55
thanks for the response. That is exactly what I wanted to do. Basically I have a fresh Laravel 5.7 installation, and I use ```"tymon/jwt-auth": "^1.0.0.rc3"``` for the jwt package.
Here is my config/auth.php:
[code]

Here is my routes/api.php
[code]
And here is my ApiAuthController.php
[code]

I used ``` php artisan make:auth``` after I made the fresh Laravel installation so I have

[2018-10-17 10:14] shirshak55 commented on #1669
for api route use api guard bro.

[code]

Or

[code]

Otherwise auth() will use web which don't work with api. I am using web route and jwt is working perfectly

Here is my sample authenticate controller

[code]

[2018-10-17 10:26] LastxTemplar commented on #1669
Oh wow, this actually worked! Thank you so much!
Although I don't understand this too well, admittedly I am new at using guards, but when we are setting
```$this->middleware('auth:api', ['except' => ['login']]);```
doesn't this mean that it should use this guard from the ```config/auth.php```?
[code]

[2018-10-17 10:42] shirshak55 commented on #1669
@LastxTemplar
Think middleware like onions. When user hit the router first thing is it passes from middleware.

$this->middleware('auth:api', ['except' => ['login']]); means the route which is hitting this controller requires authentication with driver api. If not then it throws invalid message.

auth('api') means use api based authentication manager so auth('api')->check() means using use api bas

[2018-10-17 11:45] LastxTemplar commented on #1669
Thanks, makes more sense now :)

[2018-10-17 11:50] matheusb-comp opened #1698 "Invalid value provided for claim [nbf]"
### Subject of the issue
When overriding the `nbf` claim with the "adding custom claims" method described [here](https://jwt-auth.readthedocs.io/en/develop/auth-guard/#more-advanced-usage), using a timestamp in the future, an `InvalidClaimException` is raised with message `Invalid value provided for claim [nbf]`.

Inside [`validateCreate()`](https://github.com/tymondesigns/jwt-auth/blob/develop/sr

[2018-10-17 11:59] HybridFox commented on #1676
I am not using the web middleware, only the one the package provided

[2018-10-17 12:00] HybridFox commented on #1676
I "fixed" the issue by switching to memcached and setting a relatively short expiry. This stopped my inodes from running out.

I know this is not a real fix though

[2018-10-17 12:00] #1676 closed, assigned to nobody

[2018-10-17 13:24] tymondesigns commented on #1698
Good catch! I guess not many people have been creating tokens for future use. I will patch this now

Thanks!

[2018-10-17 13:25] #1698 closed, assigned to nobody

[2018-10-18 10:14] itsnotvalid commented on #1038
On Laravel 5.5+, there is already a feature called package auto discovery, which means that you shouldn't run `artisan vendor:publish` but instead should run `artisan package:discover`, which in your composer.json could include the recommended scripts to be run upon `composer install`:
[code]
(latest version here: https://github.com/laravel/laravel/blob/master/composer.json)

[2018-10-18 12:34] 82rules commented on #1695
I've installed 1.0.0-rc.3 and was able to install correctly BUT the login() function in the AuthController example in the docs derives the token from Auth()->attempt() which return a boolean.

Should the User model be extending a different class, all I see is an interface with two abstracts to implement.

[2018-10-18 12:43] shirshak55 commented on #1695
@82rules it returns boolean which is correct. You check using that boolean and generate token

[2018-10-18 12:47] 82rules commented on #1695
@shirshak55 I dont see in the docs how to generate the token. I'm following the instructions provided https://jwt-auth.readthedocs.io/en/develop/quick-start/

The way I got it working was to resolve JWTAuth in the auth controller and substitute it for auth()

`use Illuminate\Http\Request;
use Tymon\JWTAuth\JWTAuth;
use App\Http\Controllers\Controller;

class AuthController extends Controller
{
  p

[2018-10-18 12:51] n0minal commented on #383
Not working for me too, I get a "token string must contain two dots" message, i really need to be able to decode my token even after it has expired cause I save which guard I'm using for this token inside of the claims itself since the JWT-Auth library does not automatically detect which guard I'm using when I try to refresh my token. That's a damn headache, @tymondesigns please help us.

[2018-10-18 12:58] andersonmadeira commented on #133
@npx I followed your instructions and it worked. Thanks!
EDIT: This error persists in middlewares: jwt.auth jwt.refresh. Any ideas of how it can be solved?

[2018-10-18 14:13] andersonmadeira commented on #133
@vivex
If you are using a custom User model like me, you'll have to set `jwt.providers.auth` too, in` jwt.php` config file, in order to user the middlewares defined in the package.
Also make sure to change the user model in users provider in auth.php and make your custom User model implement `Illuminate\Contracts\Auth\Authenticatable interface`.
That should make the middlewares work.

_I propose c

[2018-10-18 15:23] shirshak55 commented on #1695
Can you format the code .

Here is my config which works properly

[code]

[2018-10-18 15:39] aneira92 commented on #1642
@ClickerTech Did you solve it? I have the same problem

[2018-10-20 00:58] iberno commented on #1690
The better way to install on latest version of laravel:

composer require tymon/jwt-auth "dev-develop"

[2018-10-20 05:31] clickervinod commented on #1642
hi,
No got get any solution. Now  i am using passport with smartins/passport-multiauth for multi auth.

[2018-10-20 14:44] drfenixion commented on #1124
If you are using Expo with Linking.parse(url). Where you are transferring your token, you need clear urlHash then getting token parameter. You have this error because this urlHash is stuck.
If you are using something other, checks your token. This error occurs because you have broken token.

[2018-10-20 14:57] haidang666 commented on #1678
try this instead
```php artisan vendor:publish --provider="Tymon\JWTAuth\Providers\LaravelServiceProvider"```

[2018-10-21 11:19] jamby77 commented on #1695
@82rules - today I struggled with making this run as well.
I think key part of the docs is:
[code]
Which makes default auth guard to be 'api'. If you do not do that, you need to change the call in login() from
[code]
to
[code]
Note the auth() helper is called with argument 'api'

[2018-10-23 07:51] muhtarudinsiregar commented on #1695
i try to follow instruction in wiki, then i get error
`"Call to undefined method Illuminate\\Auth\\TokenGuard::attempt()",`.

then i refactor my controller with @jamby77, still get error.

but when i use laravel 5.6, its no problem :thinking:
anyone who success using jwt auth in laravel 5.7 can share the setup :pray:

[2018-10-23 08:13] shirshak55 commented on #1695
@muhtarudinsiregar see above  my reply it is working perfectly on laravel 5.7.

Did you configured config/auth.php file too? Many people arenot configuring that.

[2018-10-23 21:46] philwamba commented on #205
I had the same issue in Laravel 5.7... Solved it by updating `"tymon/jwt-auth": "^0.5"` in `composer.json` file to `"tymon/jwt-auth": "^1.0.0-rc.3"`
[code]
and then run

`composer update`

and finally, add following line in `config/app.php`
[code]

[2018-10-24 01:59] muhtarudinsiregar commented on #1695
@shirshak55 yeah, already configured config/auth.php. you can check my auth.php here https://gist.github.com/muhtarudinsiregar/2444f502c173f292073348be732687c5

[2018-10-24 05:33] shirshak55 commented on #1695
@muhtarudinsiregar use this it is working fine for me

[code]

[2018-10-24 20:48] Owlnofeathers commented on #28
Please run `vendor/bin/phpcs` and fix all the errors!

[2018-10-25 09:12] seyidaniels commented on #935
I have the same problem

[2018-10-25 10:49] bambamboole commented on #940
I have the very same problem with laravel 5.7 and jwt-auth@1.0.0-rc.3.
@tymondesigns do you know whats the issue with policies?

[2018-10-25 11:10] bambamboole commented on #940
Ok I figured it out.

Adding a middleware like this to the `App\Http\Kernel`
[code]

and using in routes like this
[code]
solves the authentication problem :-)

For nice json error messages i customized render moethod of the `App\Exceptions\Handler` like this;

[code]

It's just normal laravel middleware.

[2018-10-25 14:51] muhtarudinsiregar commented on #1695
@shirshak55 i solved my problem about
`"Call to undefined method Illuminate\\Auth\\TokenGuard::attempt()"`,
and your code work too, thank you :+1:

Its because i forget set my middleware with jwt-auth in routes but in documentation no one mention it. I dont know if its dingo/api middleware or jwt-auth.  You can follow this [tutorial](https://codebriefly.com/laravel-5-6-jwt-auth-api/) its work with

[2018-10-25 15:08] shirshak55 commented on #1695
hmm it is in docs
https://jwt-auth.readthedocs.io/en/develop/quick-start/

where did you check?

[2018-10-25 15:22] muhtarudinsiregar commented on #1695
@shirshak55 i check in jwt-auth wiki [here](https://github.com/tymondesigns/jwt-auth/wiki) but no one mention that jwt-auth in middleware. if you check readthedoc part `Add some basic authentication routes`, in routes used `'middleware' => 'api'` not `jwt.auth`.

[2018-10-25 16:46] shirshak55 commented on #1695
api will work because in config/auth.php api array you will set jwt :)

i mean this

[code]

[2018-10-25 16:47] shirshak55 commented on #1695
I am currently using laravel 5.7 development branch which is latest and jwt is working really fine with api auth.

[2018-10-25 23:42] haidang666 commented on #1695
I wrote this hope it helps https://medium.com/@hdcompany123/laravel-5-7-and-json-web-tokens-tymon-jwt-auth-d5af05c0659a

[2018-10-26 03:20] muhtarudinsiregar commented on #1695
thank you @shirshak55, my bad, i forget to change api driver to jwt :+1:

[2018-10-28 06:19] shantudas opened #1705 "Argument 2 passed to Lcobucci\JWT\Signer\Hmac::createHash() must be an instance of Lcobucci\JWT\Signer\Key, null given, called in /app/vendor/lcobucci/jwt/src/Signer/BaseSigner.php on line 34"
### jwt: auth not working
Locally jwt worked fine but on heroku server its not working

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              |  yes
| New Feature?      | no
| Framework         | Laravel
| Framework version | 5.7.9
| Package version   | 1.0.0-rc.3
| PHP version       | 7.2.1

### Steps to reproduce
try jwt on heroku server

### Expected behavio

[2018-10-28 14:05] muhtarudinsiregar commented on #1705
are you already run command `php artisan jwt:secret` to generate jwt  secret key in your heroku?

[2018-10-29 07:55] shantudas commented on #1705
@muhtarudinsiregar yes , already did

[2018-10-29 11:08] 2637977081 commented on #1430
@tymondesigns
he say:"How to check if the token expires? "----------from goole translate [Chinese to English]
We have used “jwt” to give an expiration time，but how do we get it

[2018-10-29 11:22] 2637977081 commented on #1430
`Jwts.parser().setSigningKey(secretKey).parseClaimsJws(jwt).getBody().getExpiration();`

可以使用getBody获取过期时间，过期时间与当前时间进行判断，但前提是你需要将过期时间存入jwt中

[2018-10-29 12:32] mateusgalasso commented on #205
Thank you

[2018-10-30 06:05] valehasadli commented on #1355
try this "^tymon/jwt-auth": "1.0.0-rc.1"

[2018-10-30 09:21] 20170801078 commented on #540
public function login(Request $request)
    {
        $field = filter_var($request->input('username'), FILTER_VALIDATE_EMAIL) ? 'email' : 'username';

        $credentials = [
            $field => $request->input('username'),
            'password' => $request->input('password')
        ];

        if (! $token = auth('api')->attempt($credentials)) {
            return response()->json(['error' =

[2018-10-30 09:22] 20170801078 commented on #540
Maybe this fix your problem
public function login(Request $request)
    {
        $field = filter_var($request->input('username'), FILTER_VALIDATE_EMAIL) ? 'email' : 'username';

        $credentials = [
            $field => $request->input('username'),
            'password' => $request->input('password')
        ];

        if (! $token = auth('api')->attempt($credentials)) {
            return

[2018-10-30 10:11] adhikarysunil1 commented on #1530
@preciousgeorge  How you get the authenticated member information using api:member guard?

[2018-10-30 10:17] jegjessing commented on #1008
I get token cannot be verified... If I call the API with token=[token] then the call goes just fine through it.
I can verify this by removing a character from the token which results in "Could not decode token". If I leave the token out then I get token not provided. So, JWT is working fine as such.
But when Laravel receives it from the FE code. (Angular 6) then it fails with the above message.
I

[2018-10-31 03:30] ariefsn opened #1706 "Token Always Blacklisted on Ajax"
### Token Always Blacklisted on Ajax

### My environment
| Q                 | A
| ----------------- | ---
| Bug?              | no / yes
| New Feature?      | no / yes
| Framework         | Lumen
| Framework version | 5.6
| Package version   | 1.0.0-rc.2
| PHP version       | 7.2.10

I have logged in my application and got a token.
then I log out by including the token, but always gets a response

[2018-10-31 14:40] haji4ref opened #1707 "Is it possible to invalidate all jwt tokens in a system?"
### Is it possible to invalidate all jwt tokens in a system?
Hi.
I want to invalidate all jwt tokens for a specific user if there is a record in my session table with that user's ip. Invalidate all tokens then login the user , generate a token for him then pass the token to the user.
### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?

[2018-10-31 17:11] yehiasalah commented on #1216
**am using xampp on windows platform** and I was faced with the same problem but after a large number of attempts and debugging I found the following:
The value of the [exp] expected to be [ Timestamp in milliseconds ] like that

but my server provide Timestamp in Different format some thing like that

I have to modify
 `public function exp()
    {
        return Utils::now()->addMinutes($this->tt

[2018-10-31 20:19] macedd commented on #1216
Very good point, @yehiasalah . Is the server expecting the `exp` in microseconds a nodejs app?

[2018-10-31 23:38] yehiasalah commented on #1216
yes the `JWT` package expecting `exp` value as `Timestamp in milliseconds` some thing like `1541003656000`

[2018-11-01 07:18] meitesi commented on #1565
me too

[2018-11-01 10:21] yehiasalah commented on #1025
**am using xampp on windows platform** and I was faced with the same problem but after a large number of attempts and debugging I found the following:
The value of the [exp] expected to be [ Timestamp in milliseconds ] like that

but my server provide Timestamp in Different format some thing like that

I have to modify
 `public function exp()
    {
        return Utils::now()->addMinutes($this->tt

[2018-11-01 10:22] yehiasalah commented on #1025
@ngodinhngoc    the `JWT` package expecting `exp` value as `Timestamp in milliseconds` some thing like `1541003656000`

[2018-11-01 12:48] ablishek commented on #1640
Try. This worked for me.

$ php artisan cache:clear
$ php artisan route:clear
$ php artisan config:clear

[2018-11-02 08:48] rgillera commented on #935
Any fix on this?

[2018-11-02 10:37] beckon111 commented on #1679
When this fix come to the package?

[2018-11-02 12:18] Tarasovych opened #1708 "Creating a Token based on anything you like"
### Subject of the issue
I'm trying to create custom claims accroding to [wiki](https://github.com/tymondesigns/jwt-auth/wiki/Creating-Tokens#creating-a-token-based-on-anything-you-like).

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | no
| Framework         | Laravel
| Framework version | 5.7
| Package version   | 1.0.0-rc.3
|

[2018-11-02 20:55] hopeseekr commented on #1695
@shirshak55 I followed your guide...

`JWTAuth::attempt($payload);` works fine.

`\Auth::guard('api')->attempt($payload);` always returns false. :-/

[2018-11-02 21:25] vsecades commented on #1695
https://medium.com/@hdcompany123/laravel-5-7-and-json-web-tokens-tymon-jwt-auth-d5af05c0659a

This works well, once you realize everything is being done on the .env file.  Anyhow, closing as it is resolved, the package mantainer SHOULD update instructions.  Not going to kill them.

[2018-11-02 21:25] #1695 closed, assigned to nobody

[2018-11-04 12:52] haidang666 commented on #1708
Hi @Tarasovych, you have to log user in first before using `customClaims` for example:

        $credentials = request(['email', 'password']);

        $tokenWithCustom = auth('api')->attempt($credentials);

        $customClaims = ['foo' => 'bar', 'baz' => 'bob'];

        $payload = JWTFactory::make($customClaims);

        $token = JWTAuth::encode($payload);

        dd($token->get());

FYI, yo

[2018-11-04 13:22] Tarasovych commented on #1708
@HaiDang666 hi, thanks for your response. So without authorized user I can't generate any JWT, am I right?

[2018-11-04 14:13] pwwat commented on #983
@ivahidmontazer  where to change there ?

[2018-11-04 16:31] haidang666 commented on #1708
@Tarasovych You can create token by creating a payload by manual for example:

        $requiredClaims = [
             new Issuer('faker'),
             new IssuedAt(Carbon::now('UTC')) ,
             new Expiration(Carbon::now('UTC')->addDays(1)),
             new NotBefore(Carbon::now('UTC')),
             new JwtId('faker'),
             new Subject('faker')
        ];

        $claims = new C

[2018-11-04 16:33] haidang666 commented on #1707
I think you can add a custom claim like a flag in payload and check it in middleware

[2018-11-04 16:40] haidang666 commented on #1675
Using provided middleware to validate token, you should put it in the header

[2018-11-04 18:45] Tarasovych commented on #1708
Still wonder why don't [this](https://github.com/tymondesigns/jwt-auth/wiki/Creating-Tokens#creating-a-token-based-on-anything-you-like) work as it is. Maybe I need to adjust `required_claims` array in `config/jwt.php` somehow...

[2018-11-05 02:32] haidang666 commented on #1708
@Tarasovych yes, you can modify `required_claims` in config. It work as expected.

    'required_claims' => [
        'iss',
        // 'iat',
        // 'exp',
        // 'nbf',
        // 'sub',
        'jti',
    ],

[2018-11-05 09:31] Tarasovych commented on #1708
Now with config
[code]
and
[code]
I get

[2018-11-05 10:44] haidang666 commented on #1708
Can you upload your repo, here is my code
https://github.com/HaiDang666/LrvAdmin/blob/custom-token/app/Http/APIControllers/Auth/APILoginController.php
 make post request in at `http://localhost:8000/api/auth/login`

[2018-11-05 10:55] Tarasovych commented on #1708
@HaiDang666 your token is made inside `login()` which belongs to auth logic. I want to create token without any auth logic (if that's possible). Even without User entity.

[2018-11-05 11:02] haidang666 commented on #1708
@Tarasovych `login()` just a normal function in `Controller`. I just moved it into other controller and it's still work

[2018-11-05 12:02] #1708 closed, assigned to nobody

[2018-11-05 15:18] jamiehd commented on #887
Not sure if this should be a separate issue as its a slightly different cause, but we've been having an issue where our server times were out by a few milliseconds. This means a token issued by one server but used on another would sometimes throw this error as it was technically used before it was issued.

This has only become an issue since Carbon added milliseconds support to their library.

I h

[2018-11-05 15:20] tymondesigns commented on #887
@jamiehd there is a `leeway` option in the config for this exact purpose https://github.com/tymondesigns/jwt-auth/blob/develop/config/config.php#L211

[2018-11-05 17:32] jamiehd commented on #887
@tymondesigns  I did not realise this! Thanks very much :)

[2018-11-06 01:06] cesarve77 commented on #1263
Is just an idea.

You can sign the token with the password haH, then any old token will be invalid

[2018-11-06 01:53] smithyj commented on #1675
@HaiDang666 Thanks

[2018-11-06 01:53] #1675 closed, assigned to nobody

[2018-11-06 06:16] iamsajidjaved commented on #1695
First Run php artisan package:discover
Then php artisan vendor:publish --provider="Tymon\JWTAuth\Providers\JWTAuthServiceProvider"
Then php artisan jwt:secret

[2018-11-06 13:23] le-pepe opened #1709 "Random Unauthorized"
### Subject of the issue

I use Lumen as an **API**, I've setup **JTW** like other projects that work well, but in this case 40% of the requests to the **API** return Unauthorized

Some screenshot **[here](https://imgur.com/a/bZK9fOp)**

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | yes
| New Feature?      | no
| Framework         | Lumen
| Framework

[2018-11-06 17:17] aymard229 commented on #1038
@chrislow  thks a lot

[2018-11-07 17:42] ntopulos commented on #1487
I found a solution to this problem:

1. If you are on version 0.5.*, update to 1.0.0-rc.3.
2. Replace `JWTAuth::toUser()` by `auth()->user()`.

I did not try to find out why, but the jwt-auth returns the wrong user when using `JWTAuth::toUser()`, at least during tests.

[2018-11-08 12:14] aldyson commented on #1487
@ntopulos Thank you! I'll try this out and see if it solve the issue for me too. I was hoping that updating the version may solve it so I'll give it a go :)

[2018-11-08 13:29] ntopulos commented on #1487
@aldyson Sorry, but I noticed afterwards that this update caused the authentication to fail elsewhere. Then trying to fix one bug, created a another one and so on. If you give it a try, let us know if you are luckier.

[Official documentation for the development version](https://jwt-auth.readthedocs.io/en/develop/laravel-installation/)

Anyways, at the end [Passport](https://laravel.com/docs/5.7/p

[2018-11-08 14:21] aldyson commented on #1487
@ntopulos No problem, I'll let you know how it goes.

[2018-11-08 17:19] SeoRoman commented on #1355
Stumbled across this and attempting to use... for some reason I get "get is not defined" from the axios interceptor? thoughts?

[2018-11-08 21:21] pedropinheiro75 commented on #1687
You can try this:

[code]

It worked for me in the version 1.0.0-rc.2

[2018-11-09 03:30] SeoRoman commented on #1355
This worked wonders in rc.3 // after I figured out that I was overriding my middleware (.... wow...)

took me forever to figure out what was wrong, my routes had the 'jwt' but my controller overwrote it with $this->middleware('auth:api', [ 'except' => 'login' ]); // it was killing me...

in any case, once I figured out that little issue it's flawless! Thanks so much man! I owe you one!

[2018-11-09 03:51] SeoRoman commented on #1355
Having the same issue now, did you find a fix for this?

[2018-11-09 13:17] SzymonLisowiec opened #1710 "Is secure to set custom `iss` claim on e.g. "MY EXAMPLE APP"?"
Quick question. Is secure to set custom, non-url `iss` claim on e.g. "MY EXAMPLE APP"?

[2018-11-09 13:23] darktomaton commented on #1640
Worked for me!

[2018-11-10 06:21] buglinjo commented on #1105
As I know access tokens and refresh tokens should be stored differently too on the client side. Access tokens can be "not as securely" stored as refresh tokens. What happens if let's say hacker gets access token from you? They can refresh and refresh it forever am I right? Can anyone explain it to me why we only have access tokens here and not using refresh tokens? I think it's very insecure...

[2018-11-10 08:06] napoleon-na commented on #1568
Hello, I faced with same problem and resolved it by overriding authenticate method in middleware. This might not be good solution though, hope to help someone.

[code]

[2018-11-10 10:44] aldyson commented on #1487
A quick update on this issue:

I followed steps suggests by @ntopulos and for now (at least) the issue seems to have been resolved. I will test this over the next few days / weeks as the issue wasn't very common in the first place.

For me at least, what seemed to solve this was the following approach -

- Updating `tymon/jwt-auth` from `"0.5.*"` to `"0.5.12"`
- Following the documentation here ht

[2018-11-10 18:29] webdndmmlpro opened #1711 "TypeError Argument 3 passed to Tymon\JWTAuth\Claims\Factory::get()"
I have error using version 2.0 with message
"Argument 3 passed to Tymon\JWTAuth\Claims\Factory::get() must be an instance of Tymon\JWTAuth\Options or null, array given, called in {project_path}\vendor\tymon\jwt-auth\src\Builder.php on line 172"

i open claims factory at method get. There requires "?Options $options = null". So i try edit in class Builder and set third parameter with "new Options([

[2018-11-11 17:07] xdiegom commented on #1678
@msyadav88 Documentation says that for Laravel 5.4 or below, add the ServiceProvider in the app config file.
I am using Laravel 5.7 too and had the same problem.

I realized that when you ran `composer require tymon/jwt-auth`, it installed the version 0.5.12 and not the last version 1.0 in `composer.json` file. So what I did was to manually change the version to 1.0 and ran `composer update`. Then

[2018-11-12 10:02] ycgambo commented on #1690
It's not about how to follow the latest version.
It's about which version is the best to configure, to use in production stably.

[2018-11-12 20:44] feeh27 opened #1712 "Lumen Logout"
### Logout in Lumen
I want to invalidate my token, I created a function to logout, but it isn't working.

### Your environment
| Q                            | A
| -----------------      | ---
| Bug?                       | yes
| New Feature?         | no
| Framework             | Lumen
| Framework version | 5.7.5
| Package version      | 1.0.0-rc.3
| PHP version            | 7.2.10

### Steps to

[2018-11-13 06:05] padmaruban commented on #1712
_try the following. It works in my application_

$this->jwt->parseToken()->invalidate();

[2018-11-13 10:52] feeh27 commented on #1712
Thanks @padmaruban for your help, I tested your code but it didn't work for me.

How did you instantiate your JWTAuth class?

[2018-11-13 11:35] feeh27 commented on #1712
I made a new attempt, follow below code snippet:

[code]

And that didn't work for me either.

[2018-11-13 12:39] padmaruban commented on #1712
below is my code. in

function

[code]

[2018-11-13 12:50] feeh27 commented on #1712
@padmaruban bellow my controller code:

[code]

I made the changes and it still didn't work.

The current version of my packages is:
Lumen: 5.7.5
JWTAuth: 1.0.0-rc.3

Which version of Lumen are you using and which version of JWTAuth?

[2018-11-13 15:04] AleksandarSavic95 commented on #1559
You might try installing the Lcobucci first with:
``` composer require lcobucci/jwt ```

[Here](https://github.com/lcobucci/jwt/blob/3.2/README.md) is the github link of the project.

[2018-11-14 16:41] jamiehd opened #1714 "Leeway is not respected when refreshing tokens"
### Subject of the issue
I have a slight time desync between my servers which I handle through use of the leeway config option. When using the jwt.refresh middleware this setting does not seem to be respected. It works fine if I just use the auth middleware.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              |  yes
| New Feature?      | no
| Framework

[2018-11-15 09:45] abdullahessam commented on #1695
you should use auth('api')->attempt()

[2018-11-15 13:58] bernard-murunga commented on #1003
Has anyone been able to find a solution to  issue  #1003 ?

[2018-11-15 14:00] jgrossi commented on #1003
@bernard-murunga check my comment here. it's what you're looking for https://github.com/tymondesigns/jwt-auth/issues/1353#issuecomment-345805157

[2018-11-15 14:22] bernard-murunga commented on #1003
@jgrossi Sorry but your solution doesn't work for me. The only response i still get is status code 401 from the Authenticate middleware

[2018-11-15 17:20] jgrossi commented on #1003
@bernard-murunga you must change how you handle exceptions. did you update your `Handler.php` class? that's the file you're gonna change to handle the `AuthorizationException`. what's happening on the `Authenticate` middleware is correct, it's throwing the exception, just that. now you have to deal with it in your `Handler.php` file.

here you find an example of the `render()` method. attention to

[2018-11-16 05:43] kalpeshaexonic opened #1715 "In laravel jwt verify token always return XHR status:200 in testand in postman is working perfectly. #137"
**Api.php middleware jwt verify token**

[code]
It's always return 200 status whether token is valid or not . if we are not added header still it get 200 status.

**jwt.auth middleware (its always return 401 whether token is not valid )**

[code]
**auth:api middleware (its always return 401 whether token is not valid )**

[code]

**Authjwt middleware file.**

[code]

**Apache .htaccess file**

[co

[2018-11-16 10:38] feeh27 commented on #1712
@tymondesigns can you help me?

[2018-11-17 16:56] SzymonLisowiec commented on #1710
I found answer

   JWT.  The processing of this claim is generally application specific.
   The "iss" value is a case-sensitive string containing a StringOrURI
   value.  Use of this claim is OPTIONAL.

~ [https://tools.ietf.org/html/rfc7519#page-9](url)

[2018-11-17 16:56] #1710 closed, assigned to nobody

[2018-11-19 13:33] yurik94 commented on #1565
Same here, i need auth against custom guard

[2018-11-20 02:46] insign commented on #1443
I gave up for now and using plain uuid

[2018-11-20 14:15] IgnacioYanjari opened #1716 "getJWTCustomClaims with parameters"
Exists one way to pass parameters to getJWTCustomClaims() function inside user class?

[2018-11-21 17:59] aleangelico commented on #1346
yes, i had the same problem this is an error in the documentation,
The docs should say [(here):](https://jwt-auth.readthedocs.io/en/develop/quick-start/)
_You should now be able to POST to the login endpoint `(e.g. http://example.dev/api/auth/login)` with some valid credentials and see a response like:_

[2018-11-22 02:23] tonylangworthy commented on #1706
Hey @ayiexz, I just set up Lumen with this library today, and I do believe that, from looking at the source code, a token is blacklisted once a user is logged out. This is the method from the JWTGuard class...
`/**
     * Logout the user, thus invalidating the token.
     *
     * @param  bool  $forceForever
     *
     * @return void
     */
    public function logout($forceForever = false)
    {

[2018-11-22 06:07] knuks opened #1717 "Error: The token could not be parsed from the request from command line in laravel"
Version: "tymon/jwt-auth": "^0.5.12",
Laravel; "5.4.*",

I got error `The token could not be parsed from the request` error when i make a request from user defined command in laravel and also when i dont want to apply `jwt.auth` middleware.

when i can fetch records but cant insert or update any data to/from table..

My `kernel.php` is as follow
<pre>protected $routeMiddleware = [
        'auth' =

[2018-11-22 12:51] renepardon commented on #1298
Same error on latest laravel. Working solution is

    composer require tymon/jwt-auth:dev-develop --prefer-source

Which also includes auto discovery etc. Maybe one could create a new version because using dev-develop ist not a good way to install packages.

[2018-11-22 13:08] #1717 closed, assigned to nobody

[2018-11-25 15:44] rpalexis commented on #670
I'm using Laravel 5.6 too.
And this : `"catch (\Tymon\JWTAuth\Exceptions\TokenExpiredException $e)"` is not working for me

[2018-11-26 11:36] feeh27 commented on #1712
@tymondesigns ?

[2018-11-26 22:06] avanarden commented on #1636
Have you tested this?
` $token = JWTAuth::customClaims(['role' => 'test'])->fromUser($user);`

Seems to be the way to go.

[2018-11-27 11:06] luizeduard0 commented on #1484
This does the trick when you do not want the "api" as a default guard.

[2018-11-27 12:47] Oleg-Arkhipov opened #1719 "Why does the guide suggest responding with redundant data?"
### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | no

### Subject of the issue
Why does the guide suggests responding with token like this:
[code]
and not just:
[code]
or, if you want to support older JSON spec (which doesn't allow string as root):
[code]

I am not sure why would you need static `token_type: bearer` and especially

[2018-11-28 12:19] Harsukh21 commented on #1659
`$credentials = $request->only('email', 'password');`
`Config::set('jwt.user', \App\Admin::class); `
`Config::set('auth.providers.users.model', \App\Admin::class);`

`dd(JWTAuth::attempt($credentials));`

it's give me false. so it's not working with another model how to fixed it please help me.

[2018-11-28 14:37] solegs opened #1720 "Type error: Argument 2 passed to __construct() must be an instance of App\Domain\Admin, instance of App\Domain\User given"
### Type error: Argument 2 passed to __construct() must be an instance of App\Domain\Admin, instance of App\Domain\User given

| Q                 | A
| ----------------- | ---
| Bug?              |  yes
| New Feature?      | no
| Framework         | Laravel
| Framework version | 5.6
| Package version | 0.5.12
| PHP version       |  7.1

Bug only on testing (phpunit 6.5.13), in another environment

[2018-11-28 21:44] therealartz commented on #1707
`php artisan jwt:secret`

[2018-11-29 12:03] haidang666 commented on #1719
You can read [here](https://stackoverflow.com/questions/5925954/what-are-bearer-tokens-and-token-type-in-oauth-2) and [here](https://tools.ietf.org/html/draft-ietf-oauth-v2-15#section-4.3.3) for the protocol. I think it's just a good practice for implementation of jwt-auth. In some particular cases, clients may need those information.

[2018-11-29 12:24] Oleg-Arkhipov commented on #1719
@HaiDang666 what does OAuth 2.0 protocol has to do with this package? It is pure single token authentication (using JWT aas token format) and does not implement a single bit of OAuth. Putting 2 similar fields in response does not automatically give you anything. And expiration time is not redundant in case of OAuth with random string cause it is not embedded in it already (like in JWT token).

[2018-11-30 01:56] dennisoderwald opened #1721 "Laravel 5.8 Support"
Unfortunately jwt-auth is currently not compatible with Laravel 5.8. Is there an update planned?

[2018-11-30 21:43] umairm638 opened #1722 "Laravel Jwt how to check if user email is verified?"
### Subject of the issue
This is a question related to how I can add a custom check in authentication and return error message if failed.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | no
| Framework         | Laravel
| PHP version       | 5.6

### Steps to reproduce
I've a column in user table having info about user email ver

[2018-12-02 00:10] haidang666 commented on #1722
You can write it in a new middleware or login function. Example before this in login function `auth('api')->attempt($credentials)`

[2018-12-02 06:44] umairm638 commented on #1722
@HaiDang666 thanks for your reply, actually my question is mainly that I'm unable to find that piece of code which is being used to check login. It's not coming inside 'authenticate' method.

Can you please tell if there is any default middleware or event or anything else in Laravel which is used by jwt-auth for this URL '/oauth/token' so that I can modify that code.

[2018-12-02 12:31] haidang666 commented on #1722
Could you post the code for that route

[2018-12-02 23:39] claytongf commented on #1298
Go to JWTGenerateCommand.php and replace
`public function fire()`
to
`public function handle()`

It worked well for me.

[2018-12-04 07:35] nguyenphuocnhatthanh commented on #886
same issue...maybe we are missing function for handle it

[2018-12-05 11:02] aldyson commented on #1487
An update on this - The above changes didn't solve the issue and I've given up trying to resolve it. Since it's too much of a blocker I'll be using Firebase which is probably a much better solution based on my own requirements anyway. Hopefully someone can get to the bottom of this though.

[2018-12-05 15:26] empresarrollo commented on #1355
@philliperosario your solution is great but it needs one tweek:
In your `RefresToken.php` , the `\Auth::onceUsingId($payload['sub']); // Log the user using id.` line has to be  before/outside the if, because if it wasn't cached, you ended up without a logged in user!

[2018-12-05 22:41] ChadTaljaardt commented on #1355
@empresarrollo Like this?

[code]

[2018-12-06 15:31] BuiltByBucky commented on #1581
Same here.
tymon/jwt-auth/src/JWTGuard.php

[code]

[2018-12-06 18:06] elightbo commented on #1697
I just noticed this today, too. Did you come up with a solution?

[2018-12-06 18:13] shirshak55 commented on #1697
@elightbo i forgot to use auth:api middleware that was only problem

[2018-12-06 18:15] shirshak55 commented on #1697
also make sure you configured config/auth.php. It was a silly mistake

[2018-12-06 18:24] elightbo commented on #1697
@shirshak55 Maybe I misunderstood the problem, but I thought the issue only came up when you were trying to access the user without using the `auth:api` middleware. I'd like my endpoint to be open, but only return certain data if there is an authenticated user.

[2018-12-06 19:10] shirshak55 commented on #1697
you can use auth('api') like that.

[2018-12-06 19:10] shirshak55 commented on #1697
use api middleware and you may able to use auth('api')

[2018-12-06 20:13] empresarrollo commented on #1355
@ChadTaljaardt yes, I did it like that.

[2018-12-06 21:01] elightbo commented on #1697
Yep! Doing `auth('api')->user()` did the trick. https://github.com/laravel/passport/issues/175#issuecomment-351670973. Thanks for the help.

[2018-12-13 09:56] majidkarimizadeh commented on #1361
same

[2018-12-13 10:45] Oleg-Arkhipov commented on #1721
But there is no 5.8 release yet.

[2018-12-13 17:14] marcellopato opened #1724 "Can I NOT use users table at all?"
### Can I user ANOTHER Model besides User?
I want to use another type of data

### Your environment
| Q                   | A
| ----------------- | ---
| Bug?             | no
| New Feature?      | no
| Framework         | Laravel
| Framework version | 5.7
| Package version   | 0.5.12
| PHP version       |  7.x.y

### Steps to reproduce
I want to use a table 'sites' with a hole different scructure

[2018-12-14 07:13] shahidarzoo commented on #983
i use this but not work in laravel 5.4 everything is working except logout
[code]

[2018-12-14 07:16] shahid-hussain009 opened #1725 "How to Blacklist or logout JWT token in laravel 5.4"
### Token Black list
i use this but not work in laravel 5.4 everything is working except logout

[code]

[2018-12-14 07:19] shahidarzoo commented on #1573
not work

[2018-12-14 16:09] billriess opened #1726 "Error Handling"
What is the best way to handle errors when using jwt-auth? Currently, I am using both web and api guards. If an api user sends a bad token, they get a response of the login page not a json response indicated an invalid token as expected. Is there some higher level thing I'm missing here? Do I have to catch exceptions in the Exceptions\Handler@render? What are the exceptions I can catch if so?

To

[2018-12-14 21:50] ivahidmontazer commented on #983
You can change this config in your controllers or everywhere else, run time .

[2018-12-15 05:05] shahid-hussain009 commented on #983
I have used this but not work

On Sat, Dec 15, 2018, 02:50 Vahid Montazer <notifications@github.com wrote:

[2018-12-16 10:12] ivahidmontazer commented on #983
I had same problem specially when using multi auth with jwt. You can use a `try`, `catch`. when exception happens you can `return 'You have logged out successfully';` in catch section.
I know this way user will not actually be logged out, but only solution I have found, was this!

[2018-12-16 11:50] ereztdev commented on #1721
I think he was referring to:
https://packagist.org/packages/laravel/framework#dev-master

[2018-12-17 04:36] shahid-hussain009 commented on #983
nothing work i am using this code in my controller on run time
[code]

[2018-12-17 10:12] ivahidmontazer commented on #983
I set `return response()->json(['message' => 'Successfully logged out']);` in `catch` section not in `try` section. I know this way user will not be logged out, but I didn't fount any other solution.

[2018-12-17 11:02] shahid-hussain009 commented on #983
then what is the good of using
[code]
this code is catch section this way it shows only logout message my aim is not to show only message but logout the user as well
what a funny answer it is but thanks for your response it will never work.

[2018-12-18 05:27] muhaimincs commented on #1204
wow it issued since 2017

[2018-12-18 07:26] daffodilistic commented on #1687
This is how I get the payload from an expired token in version 0.5.12, via reconstruction of a token:

[code]

[2018-12-18 09:50] rayleroux commented on #1468
If you only want to do this for JWT exceptions, add the following to your /app/Exceptions/Handler.php render function:

`
public function render($request, Exception $exception){

	if ($exception->getHeaders()['WWW-Authenticate'] == 'jwt-auth'){
		return response()->json(['message'=>$exception->getmessage()],$exception->getStatusCode());
		}

	return parent::render($request, $exception);

	}
`

[2018-12-18 09:52] rayleroux commented on #1468
If you want to do this for JWT exceptions only, add the following to your app/Exceptions/Handler.php render function:

`
public function render($request, Exception $exception){
	if ($exception->getHeaders()['WWW-Authenticate'] == 'jwt-auth'){
		return response()->json(['message'=>$exception->getmessage()],$exception->getStatusCode());
		}
	return parent::render($request, $exception);
	}
`

[2018-12-18 11:33] letmetodo commented on #1095
@mikemillers can you give me a demo…… it too difficult... Thanks..

[2018-12-18 13:39] #1726 closed, assigned to nobody

[2018-12-18 14:21] ghost opened #1727 "Cannot refresh token after ttl expires"
### Subject of the issue
Describe your issue here.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | yes
| New Feature?      | no
| Framework         | Laravel
| Framework version | 5.7.11
| Package version   | 1.0.0.rc3
| PHP version       | 7.2.1

### Steps to reproduce
Follow the documentation to install the package.  Have these settings in `config/jw

[2018-12-18 15:18] measproem commented on #1361
I fixed problem quickly by using: https://github.com/firebase/php-jwt sorry that I recommend it is not [tymondesigns/jwt-auth]

[2018-12-19 05:42] hriverahdez commented on #1185
So, I found this issue because I'm currently facing the same problem. At first I thought I was encountering a weird bug, but now that I've read this it makes sense. So any news on the refresh_ttl reset??. I could set to to null as suggested by @tymondesigns but the way my app is required to work is:
- Have a token ttl of 1h
- Able to refresh within a time frame of 2h, so that if the user is workin

[2018-12-21 02:12] #1687 closed, assigned to nobody

[2018-12-21 02:12] #1688 closed, assigned to nobody

[2018-12-21 03:09] ghost opened #1728 "Invalid blacklist processing"
### Subject of the issue
Describe your issue here.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | yes
| New Feature?      | yes
| Framework         | Laravel
| Framework version | 5.6
| Package version   | 1.0.0.rc3
| PHP version       | 7.2.13

### Steps to reproduce
When invalidating tokens generated using setTTL (null)
Run add flow, not addForever.

[2018-12-21 09:13] sulemankhann opened #1729 "Argument 3 passed to Lcobucci\JWT\Signer\Hmac::doVerify() must be an instance of Lcobucci\JWT\Signer\Key, null given"
### Subject of the issue
Describe your issue here.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | no
| Framework         | Laravel
| Framework version | 5.7
| Package version   | 11.0.0-rc.3
| PHP version       |  7.x.y

### Steps to reproduce
Tell us how to reproduce this issue.
After Pushing code to live server and generatin

[2018-12-22 03:00] muhaimincs commented on #1690
for 5.7 which version is the best. Because I'm having a problem for just getting user info

[2018-12-22 04:07] muhaimincs opened #1730 "Middleware Priority"
### Subject of the issue
in Laravel 5.7 there is option to prioritize the middleware. Should there be any documentation about this?

[2018-12-22 04:27] muhaimincs commented on #1564
[code]

is this the one that you use?

[2018-12-22 10:50] kirill-oficerov commented on #1640
also make sure please you have `'secret' => env('JWT_SECRET'),` and `'passphrase' => env('JWT_PASSPHRASE')`, in your config/jwt.php

[2018-12-23 03:39] ogisusu commented on #1568
I also faced the same problem and solved it as follows.

[code]
I changed the middleware from "auth:api" to "jwt:auth".

[2018-12-23 10:25] ereztdev commented on #1708
@Tarasovych Why did you close this? I haven't managed to make this token without auth either.
I am looking exactly at this issue now; Need to create a token with custom claims without any auth attempts/credentials.

[2018-12-23 11:53] ereztdev commented on #176
not really, removed the exp key and still receiving error.

[2018-12-23 12:08] Tarasovych commented on #1708
@ereztdev you can go like it's described in the [docs](https://jwt-auth.readthedocs.io/en/develop/quick-start/).

For any model you want you can ` implements JWTSubject` and go on.

[2018-12-24 01:07] ghost commented on #1727
bumping :(

[2018-12-24 04:54] muhaimincs commented on #710
@tymondesigns is it true that we can't move to another table with another fields?

[2018-12-24 07:40] muhaimincs commented on #1574
did it return false or 401? I have similar situation

https://stackoverflow.com/questions/53893570/laravel-jwt-auth-middleware-custom-user-table-always-return-401

[2018-12-24 07:41] muhaimincs commented on #1567
are you suppose to run this? `php artisan jwt:secret`

[2018-12-24 07:42] muhaimincs commented on #1566
did it work?

[2018-12-24 22:35] reisdev commented on #1298
It still a problem. We shouldn't need to change the `JWTGenerateCommand.php` to get it working. Renaming the `fire()` method to `handle()` works fine, but it shouldn't be needed.

[2018-12-25 23:57] solonik1 commented on #926
Same Issue

[2018-12-26 02:38] sulemankhann commented on #1729
Error occurred because of Config Cached and i know that and clear cache multiple time with
php artisan config:clear but no luck but after running php artisan config:cache command i recached config file and error was gone :-)

[2018-12-26 02:38] #1729 closed, assigned to nobody

[2018-12-26 14:48] adelsedighi commented on #1326
angel8731 commented on Oct 11, 2017 fixed my error thank you

[2018-12-29 05:24] rulgf opened #1731 "Protected routes only work with callback function, not with string"
### Subject of the issue
Protected Routes only work when passing a function as a callback

For Example:

[code]
The route `http://localhost:3000/api/user` with Bearer Token always returns 404 Not found

But if I change the above code for this, it works fine:

[code]
Both have the same request headers

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | yes

[2018-12-29 06:10] rulgf commented on #1731
Figure it out. My controller had the `guest` middleware. I think this middleware doesn't expect any Auth header. It was really annoying.

[2018-12-29 06:10] #1731 closed, assigned to nobody

[2018-12-29 08:23] #1532 closed, assigned to nobody

[2018-12-30 16:34] Zubair-Iftikhar opened #1732 "Call to undefined function auth()"
### Call to undefined function App\Http\Controllers\auth()
If follow Step by Step Instrations From [ jwt-auth](https://jwt-auth.readthedocs.io/en/develop/lumen-installation/)
I Same Copy Past This [AuthConstroller ](https://jwt-auth.readthedocs.io/en/develop/quick-start/#create-the-authcontroller)
 $token = auth()->attempt($credentials);
 Error Message: Call to undefined function App\Http\Controll