[2016-04-25 16:10] #688 closed

[2016-04-25 23:04] pipegris commented on #608
I had the same problem, and strangely when I wrotemanually the ServiceProvider and the Facades, the problem went away, even PHPStorm showed me some weird mispelling red mark on the single quotes. So it's probably because the copy+paste from the docs drags some "exotic" characters.

[2016-04-26 02:06] andrewhl opened #692 "Call to undefined method Tymon\JWTAuth\Exceptions\TokenExpiredException::getStatusCode()"
If you use the Global Exception Handling error code [here](https://github.com/tymondesigns/jwt-auth/wiki/Authentication#global-exception-handling), and you actually get the error, you get the following result:

[code]

Because ```class TokenExpiredException extends JWTException```, which extends Exception, which does not actually define getStatusCode().

[2016-04-26 02:14] stueynet commented on #692
+1

[2016-04-26 06:31] momic commented on #340
@tymondesigns Can we somehow dynamically call setRequiredClaims and setTTL to be able to remove 'exp' claim when in need of permanent token, but have them in default claims for every other creation.

I suggestions like
JWTAuth::factory()->validator()->setRequiredClaims(['iss', 'iat', 'nbf', 'jti']);
JWTAuth::factory()->setTTL(null);

or
JWTAuth::factory()->setDefaultClaims(['iss', 'iat', 'nbf', 'j

[2016-04-27 12:17] cj-schultz opened #693 "User Authentication in Lumen 5.2 - is it supported?"
When attempting to authenticate a user with JWTAuth, it calls the byCrendentials function in Tymon\JWTAuth\Providers\Auth\IlluminateAuthAdapter.

I get an error saying call_user_func_array() expects parameter 1 to be a valid callback, class 'Illuminate\Auth\RequestGuard' does not have a method 'once'.

I was wondering if this is a problem with jwt-auth support for lumen 5.2? Thanks.

[2016-04-28 07:56] HlaingTinHtun commented on #513
Can you show logout function in auth controller? @mtpultz

[2016-04-28 08:38] nagoz opened #694 "PHPUnit Test Get Token Login"
Hello,
I have the following code.
I want to test the token recovering through post request.

The problem is that $response is always '{"error":"invalid_credentials"}' with PHPUnit.
When I get the token with my front application ou with PostMan, the token is ok.

Can you help me ?

[code]

[2016-04-28 13:50] om4rezz commented on #371
hello, guys.!
JWT works gracefully when i send GET request with ?token=<token>
But how to send the token in a POST request.. please, help!

[2016-04-28 13:51] om4rezz commented on #371
<script>alert(1)</script>

[2016-04-29 01:09] ghprod commented on #513
@mtpultz thats really great .. also need logout example :+1:

[2016-04-29 04:29] djoks commented on #648
@akanevsky Unfortunately that does not seem to be the issue, at least when I tested it it wasn't, the value always sets to the default value in my jwt.php file which means that that config file overwrites all other custom claims.

[2016-04-29 04:44] feeekkk commented on #693
I've also been having this issue, similar to #669. Not sure how to proceed with integrating this package with Lumen

[2016-04-29 16:23] sirago commented on #480
@tymondesigns I'm running 5.9 - is it possible to assign a delay time for blacklisted tokens? Without it, my Angular app is breaking.

[2016-04-30 02:39] cj-schultz commented on #693
So I got past this error by commenting out the AuthServiceProvider in app.php.

Now I just get "Auth guard driver [api] is not defined" error.

[2016-04-30 08:05] ShahrokhNiakan opened #696 "class 'Illuminate\Auth\RequestGuard' does not have a method 'once'"
I'm using Lumen 5.2  and install the ymondesigns/jwt-auth. I've follow the instructions on the https://laravelista.com/json-web-token-authentication-for-lumen , but it gives me error Class 'Illuminate\Auth\RequestGuard' does not have a method 'once'

how to attempt the user login on Lumen 5.2

[2016-04-30 09:17] jycr753 commented on #675
All works properly now in alpha 👍

[2016-04-30 09:17] #675 closed

[2016-05-01 00:51] cj-schultz commented on #696
You have to comment out the AuthServiceProvider in app.php. However, this just brings you to a new error Auth guard driver [api] is not defined.

[2016-05-01 17:38] feeekkk commented on #696
#693

[2016-05-02 11:42] CBR09 opened #698 "How do I use version 1.0.0-alpha?"
Hi everyone,
I've tried jwt-auth 0.5.\* with laravel 5 and everything is okay, but I want to use public/private key to sign jwt and only jwt-auth 1.0.0-alpha have that. Unfortunately, the docs isn't update :(,  many things has changed and I don't know how to config, how to get it work. Can anyone help me?  Can give me step-by-step to get it working?.

Thanks

[2016-05-02 16:39] andrewhl opened #700 "Invalid tokens with refresh middleware and parallel requests"
I have the following situation:

1. GET /profile with valid JWT Bearer token
2. GET /otherEndpoint with same JWT Bearer token
3. Request 1. goes through jwt.refresh middleware
4. Old token is blacklisted
5. Request 2. goes through jwt.refresh middleware
6. Old token is invalid, return response 401 unauthorized for request 2
7. Return response 200 OK for request 1
8. Browser receives new token from

[2016-05-02 20:00] rochapablo opened #701 "Getting object not found even having the right token"
I'm not understanding what I'm missing here.

Sometimes when my front-end application calls to the back-end I got the response 401. This sometimes happen passing the token through GET and/or Header.Authorization.

[code]

[code]

Right after the error with the same token I'm able to access using postman. So because of this I can't understand why in a time work and other don't.

Here's the authenti

[2016-05-03 21:01] iWader commented on #698
I wrote a quick blog post on how I got things working with Lumen. https://iwader.co.uk/post/tymon-jwt-auth-with-lumen-5-2

[2016-05-04 00:54] mtpultz commented on #513
@HlaingTinHtun and @ghprod,

Logout
=====

[code]

This invokes JWTGuard's logout method, which invalidates the token, resets the user, and unsets the token.

JWTGuard's Logout
-----

[code]

[2016-05-04 08:22] davidwadge commented on #47
I'm having the same issue and changing the namespace in auth and jwt config makes no difference.

[2016-05-04 12:01] aleemb commented on #629
This would be useful (parser would be nearly identical to `InputSource` parser). Cookies are persistent which brings some nice benefits. browser-based clients can be setup with zero configuration because the server response would set the token in the cookie. It would make token refreshes less painful. More importantly, the browser-based clients would require zero configuration as cookie-based toke

[2016-05-04 16:31] #696 closed

[2016-05-05 12:34] HlaingTinHtun commented on #513
@mtpultz Thanks. It works successfully

[2016-05-05 21:49] andrewhl commented on #700
Found it! There's a setting in jwt.php:

[code]

Setting this to 30 seconds did the trick.

[2016-05-05 21:49] #700 closed

[2016-05-06 13:54] HtmHell opened #702 "Net_SFTP has a deprecated constructor"
If I'm trying to use the `phpseclib/phpseclib` package I am getting this warning, that's because your package requires on old version of `namshi/jose` which requires on old version of `phpseclib/phpseclib`.
Please update the version of `namshi/jose` in order to fix this.

Thanks in advanced!

[2016-05-06 22:06] autaut03 commented on #698
Oh fuck! I've been fucking with 0.5.9 version for the whole day, finally got it working as needed.. then I saw the 1.0.0 alpha and immideatelly updated.. stopped, when ->fromUser method gave me error about implementing JWTSubject and was complaining about how to append some custom claims.. Then returned everything back to the old version and now I want to get back to the alpha again. OH SHIT!

[2016-05-06 23:30] autaut03 opened #706 "1.0.0 Alpha - support of binary uuids"
Hey! I'm using your package, but right now I have to replace your auth providers just to modify $id used in auth provider byId method.. Really, it would be just great if you add some function to your JWTSubject interface like transformIdentifierIn and transformIdentifierOut.. and why do we need this - because I personally use UUID's and store it as binary 16. So when I try to authenticate - it giv

[2016-05-07 08:51] nivv commented on #700
@andrewhl I can't find this option, and adding it manually does nothing. What version of `jwt-auth` are you on?

I'm in the same situation as you were. I'd like to only use a token once, but with many async requests it's hard to keep track of which token is actually valid.

[2016-05-07 12:29] petyots opened #707 "Authorization Header"
Hello, i have issue with setting the header Authentication: Bearer.

If i remove the Bearer and only Authentication is there it's working but then i get unable to parse token. I saw the instructions about apache but it's not working either.

This is my .hta

[code]

Btw I am using the latest version of laravel. Thanks in advance

[2016-05-07 14:09] theatrain commented on #707
Authorization is the key and Bearer is part of the value e.g. ['Authorization' => 'Bearer {json_token}']

[2016-05-07 16:07] petyots commented on #707
Arghhh, too much time without sleeping... Thank you I will check it later on, and i will let u know.

[2016-05-07 16:38] andrewhl commented on #700
My version is: "0.6.*@dev"

[2016-05-07 17:38] vladislavHadzhiyski commented on #640
The jwt.auth middleware is setting the new token in the Authorization header in the response.

Authorization →Bearer **token**

Hope this helps you.

[2016-05-09 18:27] mtpultz commented on #513
To keep the complete answer all in one place I've also added the logout to the [original post of the "guide"](https://github.com/tymondesigns/jwt-auth/issues/513#issuecomment-186087297).

[2016-05-10 07:26] evivz opened #708 "How to implement JWT for multi login?"
I want to allow users to login with same creds from two different browsers at same time. How can I generate two different tokens for the same user?

Do jwt support some device id kind of concept? And refresh only particle device token?

[2016-05-10 11:02] movostudios commented on #684
I believe this has been renamed and that is why it can't be found.

It was:
`'jwt' => Tymon\JWTAuth\Providers\JWT\Namshi::class,`

and should now be:
`'jwt' => Tymon\JWTAuth\Providers\JWT\NamshiAdapter::class,`

You will probably then find that the storage class is also missing as it has been renamed in this later version.

`'storage' => Tymon\JWTAuth\Providers\Storage\Illuminate::class,`
to
`'sto

[2016-05-11 02:45] aloha1003 opened #709 "jwt config required_claims is no effect"
although I set required_claims like 'required_claims' => ['iss', 'exp', 'sub', 'jti']
But the jwt token payload still has iat、nbf field

Because Your Code :
Tymon\JWTAuth\PayloadFactory
protected function buildClaims(array $customClaims)
    {
        // add any custom claims first
        $this->addClaims(array_diff_key($customClaims, $this->defaultClaims));

        foreach ($this->defaultClaims

[2016-05-11 03:02] #709 closed

[2016-05-12 06:35] fantiq opened #710 "how to disabling the user model"
hi , when i use this package , it will new my User Model where i configurate at the config/jwt.php

but i change the Table Prefix at the User Model by Override the __construct function .

if i user the JWTAuth in the Middleware , the other DB operation will error by the table prefix is changed  . it is because the JWTAuth __construct function inject the User Class like this

[code]

but i did not

[2016-05-12 09:44] SecurID opened #711 "Error create Token from User after update to dev-develop"
Hey,

I needed to update my jwt-auth because i need the feature to delay the blacklisting of tokens.
I updated the jwt.php but when i try to login i get the following error.

<img width="1065" alt="screenshot 2016-05-12 11 38 21" src="https://cloud.githubusercontent.com/assets/7266850/15210456/dec5be66-1836-11e6-89b0-fc127654bef1.png">

Does anybody has an idea on this issue?

[2016-05-12 12:08] aleemb commented on #629
I saw the cookie parser was committed, thanks very much for that.

However, this parser should be considered dangerous as it opens up a CSRF attack vector and should not be used in production.  I had meant to comment earlier but I shied away from this approach for this reason.

My motivation for cookie based tokens was because it works entirely through existing HTTP mechanisms meaning browser-base

[2016-05-12 17:06] feeekkk commented on #710
will overriding the table prefix via the table property outside of the constructor help at all? I'm kind of confused as to what your problem is. https://laravel.com/docs/5.2/eloquent#defining-models

[2016-05-13 14:47] rajgit2012 commented on #184
After spending hours I have fixed this by defining primary key in the User model class as

protected $primaryKey = 'user_id';

My User table primary key was different than just defining "id".

[2016-05-14 22:56] lukeed opened #713 "use built-in bearerToken() for parsing"
As of Laravel 5.2, there is a new `Request.bearerToken()` token, which will either return then token itself (sans "Bearer") or null.

Source: [API Ref](https://laravel.com/api/5.2/Illuminate/Http/Request.html#method_bearerToken)

[2016-05-15 06:45] deepslux opened #714 "How to check the disabled user account flag during JWTAuth::attempt?"
Hi,

I would like to implement "disabled" flag in user table. During login (JWTAuth::attempt), I would like to check if the "disabled" field is true. How could I achieve that?

[code]

[2016-05-15 07:27] crynobone commented on #713
is tymon/jwt-auth already dropping support for Laravel 5.1?

[2016-05-15 15:30] jcamiloaa commented on #104
Thank you!

[2016-05-15 22:19] mtpultz opened #715 "Logout Doesn't Invalidate Tokens"
On logout I'd like to have the token blacklisted (not sure of the use case for invalidate forever), but when I logout and invoke `Auth::guard($this->getGuard())->logout(true);` the token is still viable.  In config blacklisting is true, and even though I'm not sure of the use case I invalidated the token forever, but I can still hit my API endpoints using Postman after having logged out using the

[2016-05-16 00:01] mtpultz commented on #715
Never mind was a routing issues related to guest middleware intercepting the request containing the token considering the user to authenticated and not hitting the controller action.  Had guest middleware on controller for AuthController (except logout), but the middleware was also set on the route group so it was not reading the except logout param.

[2016-05-16 00:01] #715 closed

[2016-05-16 13:04] fantiq commented on #710
@feeekkk  i don't want to use the user Model in this package ....
but the class `JWTAuth ` has used the `UserInterface ` at the function `__construct`

[2016-05-16 17:41] chevet commented on #687
[code]

should work.

[2016-05-16 17:45] chevet commented on #687
[code]
should work.

[2016-05-16 19:58] antekk commented on #702
+1 same issue here. Is it possible to do a quick upgrade?

[2016-05-17 14:10] deepslux commented on #603
Hello?

[2016-05-17 23:33] feeekkk commented on #206
calling refreshApplication fixed this for me in Lumen 5.2

[2016-05-18 14:42] gabrielalack commented on #67
bump!

[2016-05-19 13:37] rdpascua opened #716 "FormRequest doesn't return bearer key?"
The response from the server when validating using form request doesn't return any bearer key, is this normal? I'm using `jwt.refresh` middleware inside my route group.

**Server response from server**

[code]

After this error, If I correct my form or send the form again after a minute or two server responds `401`

**routes.php**

[code]

btw I'm using dingo.

[2016-05-19 17:52] jeroenbourgois opened #718 "Change header name"
Hi

For a specific use case we would like to change the header from `Authorization` to `JWTAuthorization`. We are working in an environment that hijacks the `Authorization` header thus disabling us to use this package since the token gets overwritten. Would you considering this if we supplied a PR?

[2016-05-19 18:28] pierot commented on #718
Extending the request: We are using `Basic auth` (in this case via nginx) to secure a staging site. But the implementation of JWT overwrites the `Basic auth` header with the Bearer token.
Therefore each requests returns a 403: unauthorized in nginx.

[2016-05-19 18:39] pierot commented on #718
Ok, so issue https://github.com/tymondesigns/jwt-auth/issues/560 is a possible solution. However, I think it would still be interesting to be able to change this params globally through the config file.

Let us know what you think.

[2016-05-20 06:42] Abdulhmid commented on #351
i'm still error like this "Array to string conversion", anybody can help me ,

[2016-05-20 07:13] Abdulhmid commented on #351
@igostavro  can u help me ?

[2016-05-20 07:14] Abdulhmid commented on #351
@tymondesigns ?

[2016-05-20 07:15] Abdulhmid opened #719 "Refresh Token Error Array to string conversion"
I use refresh token but any error like this "PayloadFactory.php line 194:
Array to string conversion "

[2016-05-20 10:35] czler6 opened #720 "How to avoid having to manually authenticate when refreshed token is sent to client but lost in transition"
I noticed that if i refresh my token (Token A) and a new token (Token B) is generated, Token A will be blacklisted and cannot be used. If in the process of sending Token B to the client (mobile app), the client gets disconnected due to unstable network, is there any way the client can use Token A for refreshing and continue usage without the app user manually entering the user name and password? I

[2016-05-20 11:53] anasinfo commented on #351
aslam 
what help do u want ?? in laravel??ahmed
 Disclaimer : "Information transmitted by this e-mail and attachments may be proprietary to Dr. Chishti Mahboob Ahmed., and/or the authors of the information and is intended for use only by the individual or entity to which it is addressed and may contain confidential or legally privileged information. Unauthorized use, disclosure or copying is stric

[2016-05-20 16:08] pengbo37877 commented on #720
you can set `blacklist_grace_period` more than 0 to fix this.

[2016-05-20 23:41] Gujarats opened #722 "How to get email from generated token"
Hi I'm trying to get the email user from the token that authenticated from the login,
I've tried this to get parse the token but I always got empty value according to this [example](https://github.com/tymondesigns/jwt-auth/wiki/Authentication):
[code]

I put the token on the url like this localhost:8000/admin/user/get_all?token={{token}}
how to resolve this issue?
Note : I'm using laravel 5.2, and

[2016-05-22 09:38] logusgraphics commented on #640
The middleware or refresh() method only work if the JWT_BLACKLIST_ENABLED is set to FALSE which won't make sense because the only scenario in which you will need to refresh the token is if the old ones are blacklisted.

[2016-05-22 15:15] fvanhove commented on #696
Is there any news regarding this issue ?

[2016-05-22 15:52] helloflow commented on #706
+1 I'm facing the same issue. Would be great if their is a solution for working with UUID's.

[2016-05-22 18:14] feeekkk commented on #696
@fvanhove https://iwader.co.uk/post/tymon-jwt-auth-with-lumen-5-2 worked great for getting this set up with lumen

[2016-05-22 23:03] belohlavek commented on #513
@mtpultz I'm geting `Method [handle] does not exist.` with Lumen (using _dev-develop_) after following your instructions on how to configure _auth.php_.
This was the result of trying to apply the Middleware to my routes group (using Dingo/Api).
I guess that this happens because it's unable to find the middleware, but I really have no idea :sweat_smile:

Any clue why this happens?

Thanks for readi

[2016-05-23 01:44] belohlavek commented on #513
Never mind, forgot to register the middleware, which is commented-out by default in Lumen. My bad :sweat:

[2016-05-23 03:56] patchthecode opened #723 "Urgent help please. Change User table?"
https://github.com/tymondesigns/jwt-auth/wiki/Configuration#user-model-path---user

From this link i assume you can change the user table to something else.
How and where do i change it?

[2016-05-23 07:36] jonagoldman commented on #723
This is the path that points to your User class. You can change the user table in the User class but this has nothing to do with JWT, please read the [Eloquent](https://laravel.com/docs/5.2/eloquent) docs.

[2016-05-23 12:42] patchthecode commented on #723
What i mean is, JWT is always checking the `User` table as the table for users. Is there any other way to make JWT choose another table name for the users?
If this is not a JWT issue then i apologize but i really need some help if you know the answer. please..

[2016-05-23 12:44] patchthecode commented on #723
Here it says this in the JWT documentation.

**User model path - user**
This should be the namespace path that points to your User class.

Where do i change the User model path to something like `MyCompany_UserModel` path ?

[2016-05-23 20:23] #723 closed

[2016-05-23 20:36] patchthecode opened #724 "Bug? I changed the default User model to my custom one"
this framework uses the default `USER` model that I have setup in the namespace.

1. Usually this file is the `App/User.php` file
2. It usually uses the authentication fields `email` and `password` to authenticate

For purposes of my project,
1. my User model file is called `SE_Users.php`
2. my authentication fields are `se_users` and `se_password`

I have every thing setup correctly. And it finds

[2016-05-24 06:55] Gujarats commented on #722
I got the answer now from here : http://stackoverflow.com/a/37406268/2652524, I think we need to add about this  in the documentation, but I dont know may be I miss something.

[2016-05-24 06:55] #722 closed

[2016-05-24 10:33] SecurID commented on #711
Anybody? Couldn't solve the problem until now :(

[2016-05-24 18:09] autaut03 opened #725 "Is this dead?"
Is this dead?

[2016-05-24 18:11] sangar82 commented on #698
@iWader Thanks for your blog post!! Is very helpful!

I need to know how publish the config file. Copy it in the config file and add in bootstrap/app.php  $app->configure('config') or $app->configure('jwt-auth') (I tested with two names) has no effect.

[2016-05-24 18:54] mallardduck commented on #725
No, I think what you're seeing is just a result of the project becoming so popular.

In the last 4-6 months there was a bit of an increase in Issues being opened from my observations, many of which focused on pushing the project to move more quickly to releasing the 1.0.0 version. Then with the increase in popularity of this project you inevitably are met with a situation where we find ourselves n

[2016-05-24 18:57] tymondesigns opened #726 "My absence of late..."
So, some of you may have noticed that I haven't really been responding to issues here lately...

The reason is simply that I have been tied up with other things, mainly work and family commitments. - as have many others throughout the open-source community, I have a full-time job and a family to support, so I don't always have the time that I wish I had to devote to this project.

Let me be clear

[2016-05-24 19:01] tymondesigns commented on #725
@mallardduck You've made some fair and solid observations there 😄

I have just opened #726 to let people who may be interested know what's happening

[2016-05-24 19:01] #725 closed

[2016-05-24 19:01] tymondesigns commented on #725
It'll also give me the kick up the arse to finish the documentation I think 😆

[2016-05-24 19:06] mallardduck commented on #726
Hey, keep kicking ass man!
This is one of the best JWT packages and IMO you've done an awesome job so far.

[2016-05-24 19:25] tymondesigns commented on #726
@mallardduck Cheers! 👍

[2016-05-24 20:26] feeekkk commented on #726
Once the documentation is more complete I'm sure more of us will be able to help close out the issues!

[2016-05-24 20:32] feeekkk commented on #711
could you show some of your code that is triggering this error?

[2016-05-24 20:39] tymondesigns commented on #711
The issue here is that your User class must now implement the [`JWTSubject`](https://github.com/tymondesigns/jwt-auth/blob/develop/src/Contracts/JWTSubject.php) interface and the of course the 2 methods within it

[2016-05-24 20:40] tymondesigns commented on #726
@feeekkk Right you are 👍

[2016-05-24 20:41] feeekkk commented on #724
Are you proposing a custom property for denoting the password attribute on the user model being validated?

[2016-05-24 20:58] feeekkk commented on #694
I feel like this is probably a bug on your implementation, I am able to login during my PHPUnit tests.

I'm using Lumen 5.2 and jwt-auth: ^1.0@dev

    $this->post('auth/login', [
		'email' => $this->vendor->email,
		'password' => $this->vendorRawPassword
	]);

	$this->seeJsonStructure([
		'token'
	]);

I'm resolving my user via the following endpoint

    /**
	 * @param Request $request
	 * @retu

[2016-05-24 21:07] petyots commented on #707
Fixed !

[2016-05-24 21:07] #707 closed

[2016-05-24 21:18] patchthecode commented on #724
@feeekkk  from your response i take it that we can't select a custom property right now. hmm...

In terms of proposing it, I say, why not? With `password` hardcoded, its basically forcing users to have the field called `password

[2016-05-24 21:42] nagoz commented on #694
thanks I'll test this soon

[2016-05-24 22:34] feeekkk commented on #724
Maybe this functionality could live within `JWTSubject` as `getPasswordIdentifier` or something so all models would have to implement it? I'm not a huge fan of requiring all models to have to implement this though considering `password` is probably used 99% of the time...

Then `validateCredentials` could be changed to something like

    public function validateCredentials(UserContract $user, arr

[2016-05-24 22:46] patchthecode commented on #724
Ok. I am not used to writing php libraries. I am used to writing Swift/ObjectiveC libs for iOS.
My PHP still needs some work, so i can't understand what the code you wrote above says.

But is it basically this?
1. Ask the user for what key they wish to use in the database as the `password` key
2. Then use that key as the field to use in the database table

If it's that then i think this will be a

[2016-05-25 00:42] #724 closed

[2016-05-25 01:59] tdhsmith commented on #724
`EloquentUserProvider` is part of Laravel core, not this library. The password requirement is enforced by its defaults. However there are a number of ways to address this issue:

1. Create a custom user provider that doesn't have the password hardcoded. Laravel docs [have details on this](https://laravel.com/docs/5.2/authentication#adding-custom-user-providers). You'll want to override the `valida

[2016-05-25 02:10] patchthecode commented on #724
@tdhsmith  man thank you so much for this info!

[2016-05-25 02:41] tdhsmith commented on #718
Yeah if you're using **v0.5**, you can use the solution in that issue.

**In 1.0.0**, you can configure this, although you have to do it through the parser setup and not just a config file change. If headers are the only thing you care about checking, it goes something like this:

[code]

If you want the rest of the default parsing chain's fallbacks, like query strings & route parameters, you'll h

[2016-05-25 02:43] tdhsmith commented on #718
Though if you want this globally though the app, it should probably be done with a service provider. You can look at [how it's already done in the `LumenServiceProvider` for an example](https://github.com/tymondesigns/jwt-auth/blob/1.0.0-alpha.2/src/Providers/LumenServiceProvider.php#L43). Just replace the `AuthHeaders` bit with the configured instance like I showed above.

[2016-05-25 02:51] tdhsmith commented on #560
Just a note that over in #718 I described how this kind of configuration can be accomplished on the 1.0 branch. We're discussing headers specifically, but that approach can be applied to [any of the `Parser` classes](https://github.com/tymondesigns/jwt-auth/tree/1.0.0-alpha.2/src/Http/Parser).

(`parseToken` works differently on 1.0 and no longer takes parameters in any circumstances, so the solut

[2016-05-25 03:10] tdhsmith commented on #714
You can just add it to the `$credentials` array... stuff other than passwords just gets "where-d" against the user table. So if you only want to allow users that aren't disabled, just do this before you call `attempt`:

[code]

_If we're being technical_, this functionality comes from Laravel's [`EloquentUserProvider`](https://github.com/laravel/framework/blob/5.2/src/Illuminate/Auth/EloquentUserP

[2016-05-25 03:25] tdhsmith commented on #713
@lukeed - The parser options available in JWTAuth are much more powerful and configurable than that (i.e. some people use custom headers or prefixes and the library supports that at present) so switching to that method exclusively would be a downgrade. Is there any specific benefit to using the Laravel built-in that you'd be looking for?

@crynobone - I don't know the specific plans, but I have no

[2016-05-25 03:37] tdhsmith commented on #710
@fantiq If you "don't want to use the User model in the package", then why are you setting it in `config/jwt.php`? Just make a dummy class that implements [`UserInterface`](https://github.com/tymondesigns/jwt-auth/blob/0.5.9/src/Providers/User/UserInterface.php) and set it to that instead.

[2016-05-25 03:37] tdhsmith commented on #710
That said, I'm with @feeekkk... I don't really understand why injecting an instance of your user is causing problems, or why you would set the user table using something other than the `$table` class property. Those things seem to indicate your app has a very nonstandard design, at least from my perspective.

[2016-05-25 03:43] tdhsmith commented on #708
The library will work this way by default. It has no idea what tokens might currently exist; it can only see the token attached to the current request. This is one of the principles of JWT (_statelessness_).

So if you visit from a device/browser that doesn't provide an existing token to the server. It won't know about any other tokens that might exist for that user. And if you refresh a token on

[2016-05-25 04:05] tdhsmith commented on #716
Two thoughts:

1) Are you sure the server isn't stripping out the header somehow? I see you have some CORS stuff enabled and usually nginx doesn't need as much nudging on that front, but can you see the header in a debug route like this?
[code]

2) I see your response is `422 Unprocessable Entity`. Is that because an exception is being thrown? If control passes to the exception handler, the contro

[2016-05-25 04:11] tdhsmith commented on #724
Not a problem! :ok_hand:

[2016-05-25 04:31] tdhsmith commented on #719
How are you initially creating the token? For some reason your `sub` claim is being stored as an array, and I think it must be happening earlier than the actual call to `refresh`...

[2016-05-25 04:53] tdhsmith commented on #603
The library still uses `try`-`catch` for essential functions (like `getToken`, as you pointed out), so there isn't much way to avoid them altogether. However I have no reason to believe they would cause a slowdown. Are you positive it isn't coming from somewhere else? For example, have you checked that the difference isn't in `static::getDefaultUser()`?

For Laravel 5.1 projects, I usually wrap al

[2016-05-25 05:07] rdpascua commented on #716
Yes @tdhsmith I'm aware of that, but is there a workaround for this current issue? I've been banging my head for a week now. I resorted disabling the `jwt.refresh` at the meantime.

[2016-05-25 05:37] tdhsmith commented on #716
The "current issue" being that exceptions cancel the middleware? You really have that few "successful" requests that your `ttl` is running out?

I'm not sure what a good approach is then. I guess you could have a try-catch in the middleware that still sets the header in the catch and then rethrows the exception.

Or maybe you could have a generalized concept of "handleable" middleware that pushes

[2016-05-25 07:28] rdpascua commented on #716
I've seen a working example

[2016-05-25 08:39] nagoz commented on #694
hello,
`$this->jwt->attempt($credentials)` is not working. What are include ?

This is my code
TokenAuthController
[code]

JWTTest.php
[code]

[2016-05-25 09:26] pradeep-rajapaksha opened #727 "Laravel 5.2 authenticate occur always {"error":"token_not_provided"}"
I'm trying to use tymon/jwt-auth with laravel 5.2 and I got `{"error":"token_not_provided"}` every time when calling `http://localhost/testapp/public/api/authenticate`.

this is the routes I tried!
`Route::group(['prefix' => 'api', 'middleware' => 'jwt.auth' ], function()
{
    Route::resource('authenticate', 'AuthenticateController', ['only' => ['index']]);
    Route::post('authenticate', 'Authen

[2016-05-25 09:53] pradeep-rajapaksha commented on #726
Hello! I need help.
https://github.com/tymondesigns/jwt-auth/issues/727

[2016-05-25 10:03] sabinad256 opened #728 "Laravel 5.2 Blacklist error"
I am getting this error. It was working in laravel 5.1 but when i upgraded to 5.2 it suddenly stop working. How to fix this problem ?

[2016-05-25 11:25] achimha commented on #600
Any update on this? I'm running into the same problem, instead of JSON we get the exception when specifying `\Tymon\JWTAuth\Http\Middleware\Authenticate` as route middleware (using `before`).

Any way to restore the previous behavior?

[2016-05-25 15:12] tdhsmith commented on #716
I don't think we're understanding eachother.

FormRequest _can_ return the token. But if you're attaching the token with middleware, it will not happen when an exception is raised.

The link you provided shows this behavior:

- If you access the update page for a dog that does exist (e.g. http://vue.layer7.be/#!/dogs/1400), the response will have a token in the authorization header.

- If you acce

[2016-05-25 15:23] tdhsmith commented on #727
Are you _providing a token_? Your front end must send a JWT to the server somehow (usually through headers, but query strings, route parameters, and other methods are supported). Just sharing your routes tells us little about how you accomplish this.

[2016-05-25 15:24] tdhsmith commented on #727
Also, immediately calling for help in an unrelated thread is rather impolite. Doing it in a thread that _specifically talks about the challenges of supporting a burgeoning open-source project_ is downright ironic.

[2016-05-25 16:09] feeekkk commented on #694
$this->jwt is just an instance of JWTAuth.

    protected $jwt;
    public function __construct(JWTAuth $jwt)
	{
		$this->jwt = $jwt;
	}

are you still getting `invalid credentials`?

You might need to call `$this->refreshApplication();` before sending your post request.

might be similar to #206

[2016-05-25 16:22] tdhsmith commented on #728
What version are you on? 0.5.9? What's your jwt config setting for `providers['storage']` (probably the last line in `config/jwt.php`)?

The last couple of version bumps for 0.5 changed how the providers were configured, and you could have an old copy, either of the library or just the config values.

[2016-05-25 16:38] tdhsmith commented on #600
The previous behavior was dropped because it turned out there were many cases where people didn't want responses and using exceptions was a more general solution. Laravel 5+'s `Handler` also supports exception-based control flow a lot better (and encourages it some extent), so paralleling that is a bit more natural.

You can use global capture if you want. Here's an example I'm using. Inside `Hand

[2016-05-25 16:47] tdhsmith commented on #694
What version of jwt-auth are you on?

Does `Auth::once($credentials)` succeed in phpunit? What is the value of `Auth::user()` afterwards?

[2016-05-25 16:49] tdhsmith commented on #726
@tymondesigns Is there any way we can help you with the documentation? I know you probably don't want to put anything incomplete in this repo, lest a flood of confused souls pour down upon us, but I'd be happy to do a proofing & suggestions run if you want to put it up in a gist somewhere.

[2016-05-25 17:39] achimha commented on #600
Thank you for the feedback. Do you suggest modifying `BaseMiddleware` of jwt-auth or deriving from it?

[2016-05-25 17:43] tdhsmith commented on #701
Are you still having this problem? What jwt-auth version are you on?

And you're saying you get the `not_found` response (corresponding to the `!$user` condition), or a different failure?

[2016-05-25 17:46] tdhsmith commented on #600
I would just use it as a template to copy from and make a brand new class that doesn't formally inherit or override it.

[2016-05-25 18:13] achimha commented on #600
This works fine without much code duplication:

[code]

I had to patch the throttle middleware due to a Laravel/Lumen bug, see here: https://github.com/laravel/framework/issues/12309

[2016-05-25 18:34] tdhsmith commented on #600
Looks good! I assume you know it can still throw an `UnauthorizedHttpException` when the token is  invalid, expired, or blacklisted?

[2016-05-25 20:21] nagoz commented on #694
version tymon/jwt-auth 0.5.9

`$this->refreshApplication()` doesn't work too.
When I use `$this->jwt`, error 500. I verify the error message, now i've got

I confirm that the users table exists.

[2016-05-25 21:35] nagoz commented on #694
I found !
My mistake ! :(
I have a different environnement in test mode with sqllite and not my prod environment.
I create a user and now it's ok.
Thanks for all !!

[2016-05-25 21:35] #694 closed

[2016-05-26 01:42] rdpascua commented on #716
You can see that attaching the token with middleware works, even with exception raised.

[`DogRequest`][1] extends the [`FormRequest`][2] from dingo.

You can see that even on my screenshot, 422 raises and exception and returns the `BearerKey`
![screenshot from 2016-05-26 09 35 59](https://cloud.githubusercontent.com/assets/2498246/15561130/4ba7af50-2325-11e6-8df0-888bd86efebd.png)

[1]: https://g

[2016-05-26 02:29] estebansanti opened #729 "Same id"
While working locally I noticed something odd happening. When a Token is created using credentials e.g email and password, I can return the user object using Auth. Which is fine. However, the Token is attached to the user's id. So if another user has the same id, e.g on a different environment, and the token has not expired, it will not trigger an exception and it will return the object for the di

[2016-05-26 03:04] eduacostam commented on #729
This would only happen if you use the same JWT_KEY in both local and production environments,  as that value is used to encrypt and decrypt the JWT in question.

This is definitely wrong as you should not be using the same value in both environments (from a security point of view). Your server JWT_KEY must be well guarded as it's the key to the auth system in your website.

Hope this helps!

[2016-05-26 04:00] chillyistkult opened #730 "JWT Auth doesn't work"
Hello guys I'am new to laravel and try to get this boilerplate up and running. I have setup the database and seeded a testuser.

This is my User class:

[code]

And the important part of the AuthController

[code]

I get  **{"message":"Unauthorized","status_code":401}** when try to login with my testuser and don't have any idea whats going wrong. Haven't changed anything of the default configurati

[2016-05-26 04:16] pradeep-rajapaksha commented on #727
for the `authenticate`, there is no use of token right? we do authenticate to obtain a token. here it's asking for a token even for authenticate. :-/

[2016-05-26 04:32] feeekkk commented on #727
is it because you are looking for a token in your middleware...?

[2016-05-26 04:38] pradeep-rajapaksha commented on #727
Yeah! think JWTAuth middleware looking for a token!

However, I'm confused with laravel 5.2 + tymon/jwt-auth. It's worked perfectly in laravel 5.1 and configs were easy.

[2016-05-26 04:40] feeekkk commented on #727
All you have to do is remove the `jwt.auth` middleware from running on your authenticate route, then it won't look for a token anymore

[2016-05-26 04:47] pradeep-rajapaksha commented on #727
Okay! Um gonna check with that. but, using this code in AuthenticateController it should be refused!
`public function __construct()
 {
      $this->middleware('jwt.auth', ['except' => ['authenticate']]);
 }`

[2016-05-26 05:56] pradeep-rajapaksha commented on #727
Thanks guys! I got it done. and feeekkk, you were right. Thanks again and sorry for distract before.

[2016-05-26 11:51] tymondesigns commented on #726
@tdhsmith Yea, once I pull it together a bit more, a once over from yourself would be a great help!

Are you on the larachat slack channel or something similar?

[2016-05-26 15:01] estebansanti commented on #729
That explains a bit. Thanks @eduacostam

[2016-05-26 15:01] #729 closed

[2016-05-26 15:20] v3rron commented on #290
still having this issue, even after deleting `jwt.php` file from `config` folder and running:
[code]
everything is configured. Middleware is only working for me from Controller __construct function:
[code]
but not working when set in routes.php:
[code]

[2016-05-26 15:55] tdhsmith commented on #726
Yeah I'm in the Larachat Slack under the same username. I haven't been there in a while, but I _should_ still get DM notifications...

[2016-05-26 16:05] tdhsmith commented on #290
You're using the different middleware names there: `jwt-auth` in the group definition and `jwt.auth` in your controller. (hyphen vs period)

[2016-05-26 16:30] tdhsmith commented on #730
Hrm I don't see anything obviously wrong, but that error looks like Dingo's `errorUnauthorized` that you're calling in `AuthController` right after this line:
[code]
If `attempt` is returning false, it's probably something to do with your credentials process. Try using Laravel's standard login functions and see what these return: (put them above the try-catch)

[code]

Ideally that would return tr

[2016-05-26 17:57] v3rron commented on #290
OMG thank you. That was it.

[2016-05-26 22:59] SecurID commented on #711
Great. It worked. :)

`<?php

namespace App\Http\Controllers;

use Illuminate\Http\Request;

use App\Http\Requests;
use Tymon\JWTAuth\Facades\JWTAuth;

class Helper extends Controller
{
    public static function getUserFromToken() {
        $token = JWTAuth::getToken();
        $user = JWTAuth::authenticate();

        return $user;
    }
    public static function getTokenRefreshed(){
        $t

[2016-05-27 05:17] chillyistkult commented on #730
Hello I made a terrible mistake when seeding my testuser:

[code]

And in my User class I had

[code]

So the password got double hashed. It's working now. Thank you!

[2016-05-27 05:17] #730 closed

[2016-05-27 08:54] Abdulhmid commented on #719
I create token like this ( with array parameter ),
 $payload = JWTFactory::make($array);
 return JwtAuth::encode($payload)->get();

[2016-05-27 10:40] kiuka opened #731 "BindingResolutionException in Container.php line 752: Target [Illuminate\Contracts\Routing\ResponseFactory] is not instantiable while building [Tymon\JWTAuth\Middleware\GetUserFromToken]."
Hey guys,

I tried to implement JWT into Lumen, but I got the following error after request a route that requires jwt.auth:

BindingResolutionException in Container.php line 752: Target [Illuminate\Contracts\Routing\ResponseFactory] is not instantiable while building [Tymon\JWTAuth\Middleware\GetUserFromToken].

I've found https://github.com/tymondesigns/jwt-auth/pull/532 it seemed the same issue,

[2016-05-27 11:34] rochapablo commented on #701
No, for now the problem is gone. Anyway it's seems that is the env file the problem. [Here's](https://laracasts.com/discuss/channels/laravel/access-denied-for-user-atlocalhost) where I tried to describe some details.

[2016-05-27 11:34] #701 closed

[2016-05-27 12:00] kiuka commented on #731
I've found the solution. The AppServiceProvider is not used by default, so it should be uncommented:)

After that I had an other error, but it can be solved by https://github.com/tymondesigns/jwt-auth/issues/564

[2016-05-27 12:00] #731 closed

[2016-05-27 17:01] tdhsmith commented on #719
Hrm that looks fine. And what does your `$array` look like? The `sub` value isn't multidimensional is it?

[2016-05-27 17:23] tdhsmith commented on #719
Aside: @tymondesigns there's still some odd array manipulation going on in the required claims checks in v0.5.9 at `PayloadFactory->buildClaims` and `PayloadValidator->validateStructure` (cf. 70f4d2eec). The first is just doing nothing and probably wouldn't affect anybody (except in the extreme edge case of using low integers as your claim names). The second though isn't checking that required cla

[2016-05-27 17:26] tdhsmith commented on #719
Actually thinking about it, the first edge case could be pretty bad if someone accidentally passes in an unkeyed array to `PayloadFactory::make`. Then basically none of their custom claims will get added. It's still a user error of incorrect arguments, but it would be very confusing for them to debug...

I'll submit a fix sometime tomorrow.

[2016-05-27 21:36] antonioreyna commented on #513
@mtpultz for that should i install the dev-master? using composer? thanks

[2016-05-28 00:35] mtpultz commented on #513
Hi @antonioreyna, yah you'll need dev-master.  That's the branch the currently has the JWTGuard class.  If you look  in `/src` of the master branch you'll see that there is no JWTGuard.php file, but switching to dev-master you'll see it.

Cheers

[2016-05-28 12:45] #711 closed

[2016-05-30 11:53] HtmHell opened #732 "How do I get the token expiration time?"
Is it possible?

[2016-05-30 14:24] patrickdronk commented on #261
@evivz if you read the documentation, you can set your custom claims.

 $customClaims = ['exp' => date('Y-m-d', strtotime('+2 week'))];

$token = JWTAuth::attempt($credentials, $customClaims)

[2016-05-30 21:45] tdhsmith commented on #732
You can get the "payload" of a token by _decoding_ it:

[code]

The expiration time is stored in the payload's `exp` "claim" (which is just a key=>value pair). This can be retrieved in multiple ways:

[code]

In the default setup, the `exp` will simply be a UTC timestamp.

[2016-05-30 21:48] tdhsmith commented on #261
This is accurate for 0.5.x, but in 1.0.x, the `attempt` method no longer has the custom claims argument.

There are couple ways to do this (the common solution is to call `JWTAuth::customClaims($array)` before `attempt`), but if the expiration differences are truly user-based, I would recommend taking advantage of the `JWTSubject` interface itself, which requires `User` instances to identify any c

[2016-05-31 05:02] tucq88 commented on #726
I'm in love with this library and have struggled to get it works :D What could I do to help you improve the docs ?

[2016-05-31 06:35] tucq88 commented on #670
Wow it helps me. Thanks @unabomber87

[2016-05-31 08:53] raghu2333 opened #733 "Can't canonicalize query: BadValue unknown operator: $id"
Hi,
 i am getting "Can't canonicalize query: BadValue unknown operator: $id" while using JWTAuth::parseToken()->toUser()

my database is mongodb
in route.php
        $api->version('v1',['middleware' => 'jwt.auth'],function($api){
       $api->get('getuser','App\Http\Controllers\Auth\AuthController@getUser');
       }
in AuthController.php
    public function getUser()
    {
        return JWTAuth:

[2016-05-31 09:26] Benji6996 opened #734 "Lib-OpenSSL Dependency Issue"
For some reason, since yesterday, when I run `composer update`, I get the following error:

Everything has been working absolutely fine for months, I have no idea why this has suddenly occurred...

I am running this locally on Mac OSX, using PHP 5.6.19 and openssl 0.9.8zh. Can anyone suggest what may be occuring?

[2016-05-31 09:54] svenluijten commented on #726
As others have suggested, I'd gladly help out with the documentation. You can ping me on Larachat Slack under the username "sven" if you need any more help! :smile:

[2016-05-31 13:26] Benji6996 commented on #734
For anyone else experiencing this issue, here is how I solved it, just follow these steps:

http://www.farces.com/wikis/naked-server/php/php-openssl/

[2016-05-31 13:27] #734 closed

[2016-05-31 15:18] fantiq commented on #710
@tdhsmith  yes, now i am doing like what you said ...

about the design ...
like this package it will query the db every time if the route is in the jwt.auth  middle ware ...
i think it is not necessary , i only need to change the token every time , parse the token and get the session id by my rule .

1. token can be parse by other tools
2. if the user info changed the token must be change
3. it i

[2016-05-31 16:33] tdhsmith commented on #733
Hrm. The error is coming from MongoDB, but I don't know why.

If you're using a different model class things can get a little unusual. Sometimes you have to write a custom user provider for jwt-auth, _but_ in this case I wouldn't think that was necessary (because `Jenssegers\Mongodb\Eloquent\Model` extends the Eloquent model and still supports the `where` method in the same way).

What happens if

[2016-05-31 16:46] tdhsmith commented on #734
Thanks for the report!

Did you figure out why your system PHP could no longer see lib-openssl though? Was that a system update thing?

[2016-05-31 16:53] Benji6996 commented on #734
I don't quite know why it happened, but by following the steps in the mentioned link, it fixed the issue. I think it was due to a Mac OSX update changing somethign to do with the transport security...

[2016-06-01 10:10] elieandraos commented on #732
@HtmHell
[code]

[2016-06-01 13:52] cchen-alison commented on #720
I am worrying about the same issue.

@tymondesigns The blacklist_grace_period setting hasn't been released on the latest master branch yet, has it?

[2016-06-01 19:30] tdhsmith opened #735 "Proposal: Handle validation, defaults, & refreshes in individual Claim classes"
I've been thinking it might be cleaner and more modular to hold all of the validation methods and defaults inside each of the `Claim` classes. This would make claim initialization and validation a lot more configurable, and checks would be more internalized so the user doesn't have to manually examine the token payload.

Before I go too far, I want to highlight a couple use cases:
- I'd like to ha

[2016-06-01 19:59] tymondesigns commented on #735
@tdhsmith Thanks for pulling this together. It's been on my mind for a while too.. it always felt wrong generating the claim values in the Factory class, and I've tried a few things myself, but hadn't come up with anything workable.

You have definitely peaked my interest on the matter again, so I will look trying some stuff out soon!

As you say though, there are some things that will need consid

[2016-06-01 22:11] #732 closed

[2016-06-02 07:09] HtmHell commented on #732
Thanks alot!

[2016-06-02 09:36] chenjiabin opened #736 "Class '\App\User' not found"
namespace App\Models;       App\Models\User.php
use App\Common\Constant;
class User extends BaseModel
{
    protected $table = 'user';
}

'user' => 'App\Models\User',     jwt.php

message: "Fatal error: Class '\App\User' not found",

I use dingo/api

[2016-06-02 09:38] chenjiabin commented on #736
version : 0.5.9

[2016-06-02 11:08] jeslomo opened #737 "Some clarification with JWT Refresh"
Hello!,

This is not a bug, I just need some clarification on how to proceed.

I set in laravel 5.2 jwt.auth middleware and jwt.refresh and I configuring the blacklist parameter to true.

With this I get:

A) The user login and returns a token.
B) The user makes a request with the token A), this token is placed on the blacklist, and a new token that is returned in the header is generated.
C) The a

[2016-06-02 15:58] tdhsmith commented on #736
Do you have a stack trace of that error? Can you identify where it is occurring in the code?

[2016-06-02 16:02] tdhsmith commented on #720
No it is not available in the 0.5.x releases (current master branch).

Also I'm not the owner, but I'm not certain it is planned to be released there. I think new features (as opposed to bugfixes) for 0.5 will be limited.

[2016-06-02 16:13] tdhsmith commented on #710
Hrm. If you don't use the `fromUser` or `toUser` methods, there won't be a user lookup, and hence no DB query. Write your own middleware that leaves out those methods. (Also look at [the `Check` middleware in 1.0](https://github.com/tymondesigns/jwt-auth/blob/develop/src/Http/Middleware/Check.php) for an example.)

I do agree though: the library is somewhat user-centric, and it can be difficult to

[2016-06-02 16:15] tymondesigns commented on #720
@tdhsmith is right. No new features will be added to `0.5.*`. Only patches for existing functionality.

All new features target the next release (`1.0.0`)

[2016-06-02 16:16] #720 closed

[2016-06-03 11:31] elieandraos commented on #732
you're welcome @HtmHell  :)

[2016-06-03 20:28] mallardduck commented on #736
Somewhere in your code, or configs, there is something setting it to:

From what I see here:

You seem to have moved it to a Models folder which is totally fine; you just need to find where you have the reference to App\User.

If you are a Linux [probably mac too] use you can try running this, from the project folder:

If you are a Windows user...good luck I have no clue there. Maybe they have som

[2016-06-04 15:36] tymondesigns commented on #735
Just to let you know, I'm working on refactoring the whole validation system. It's coming along nicely!

Can't wait to share what I have 😄

[2016-06-04 16:46] pouyaamreji commented on #513
I'm sorry for this noobish question but i don't get it after step 6. where can i find `AuthenticateUsers::login`?

[2016-06-04 20:40] mtpultz commented on #513
Hi @pouyaamreji,

The AuthenticatesUsers::login is a trait applied to the AuthController.  It is actually a composite trait since it is a trait within the AuthenticatesAndRegistersUsers trait that you see being used by the AuthController.  If you need to find these files, and your IDE doesn't provide a shortcut to indexed classes or methods, look at the use statement at the top of the file:

`use

[2016-06-05 22:02] adstechnetwork commented on #513
Hi.  I am working on getting the guard functionality working.  If I install dev-master through Composer, the JWTGuard.php file is not included in source.  If I install dev-develop, however, JWTGuard is included, but  I get an error: Fatal error: Class 'Tymon\JWTAuth\Providers\JWTAuthServiceProvider' not found when I include it in app.php under service providers.  Any suggestions would be most appr

[2016-06-05 23:37] feeekkk commented on #513
@adstechnetwork if you take a look at the providers in the src directory, you'll see there is a `LumenServiceProvider` and a `LaravelServiceProvider` now.

[2016-06-06 00:41] adstechnetwork commented on #513
Thank you @feeekkk . That worked.  However now, when I make a post to login I get the following reflection exception: Class Tymon\JWTAuth\Providers\JWT\NamshiAdapter does not exist.

Any thoughts?

[2016-06-06 00:44] feeekkk commented on #513
@adstechnetwork one of these should help you https://github.com/tymondesigns/jwt-auth/search?q=NamshiAdapter&type=Issues&utf8=%E2%9C%93

[2016-06-06 00:52] adstechnetwork commented on #513
@feeekkk thank you very much.  That fixed that piece and I can keep  moving forward.  Most appreciated.

[2016-06-06 18:16] vivex commented on #133
@npx I implemented your steps, but still middleware is not using this provider.

[2016-06-06 18:42] adstechnetwork commented on #513
I have my application utilizing JWTGuard through the dev-devlop branch, and am trying to utilize the standard auth object such as Auth::user(), Auth::guest() etc. in my controllers, but they are returning incorrectly, as if they were looking for login credentials or session.  So if a user has passed a correct JWOT token, Auth::guest() still believes they are not logged in.  Is there an implementat

[2016-06-06 23:42] NathanBurkett commented on #736
Saw this issue pop up using this package in Laravel 5.2.*. Solution was to change the `providers` configuration in `config/auth.php`. @chenjiabin's solution should be:
[code]
to
[code]

[2016-06-07 09:17] ghprod commented on #89
is it possible now for using closure as custom claims?

thanks

[2016-06-08 01:32] affanhmalik opened #749 "Error when publishing the config"
I am setting up jwt-auth in my laravel app. Following all the commands in the wiki.

When I run the publish command, it throws an error:

Command: `php artisan vendor:publish --provider="Tymon\JWTAuth\Providers\JWTAuthServiceProvider"`

Error: `PHP Fatal error:  Class 'Tymon\JWTAuth\Providers\JWTAuthServiceProvider' not found in /home/vagrant/dev/letsjs/vendor/laravel/framework/src/Illuminate/Foun

[2016-06-08 01:43] affanhmalik commented on #608
I tried manually typing the lines in app.php - no luck, still the same error as above.

Any other suggestions?

[2016-06-08 03:56] mtpultz commented on #749
Hi @affanhmalik,

What version of the jwt-auth are you using?  Depending on which version you might need to add a different provider class and artisan command.  Try this https://github.com/tymondesigns/jwt-auth/issues/513#issuecomment-186087297 and see if that solves your issue.

[2016-06-08 05:10] mtpultz commented on #749
Dupe https://github.com/tymondesigns/jwt-auth/issues/608#issuecomment-224464369

[2016-06-08 05:10] mtpultz commented on #608
Hi @affanhmalik, @pipegris, @HawiCaesar, and @pankajthakur007

What version of the jwt-auth are you using? Depending on which version you might need to add a different provider class and artisan command. Try #513 (comment) and see if that solves your issue.

[2016-06-08 09:49] jonihlp commented on #341
Actually this issue is not (not in my case anyway) related to jwt-auth. The "issue" is with laravel and its built in auth functionality.

To resolve this i had to define the NAME of password field in my User model:

public function getAuthPassword() {
    	return $this->pwdfield_name;
    }

And in my AuthController i have to use:
JWTAuth::attempt(["usrname_field"=>$request->user, "password" => $r

[2016-06-09 06:50] harveyslash opened #750 "Get user on successful attempt"
on successful authentication , is it possible to get the user that was authenticated ?
right now I'm doing this
`$token = JWTAuth::attempt($credentials);
`
so is it possible to get the user without doing another db hit a second time ?(i have to do second time because i have to check if he verified or not) ?

[2016-06-09 08:26] rapidtechsolutions commented on #692
+1

[2016-06-09 08:49] tymondesigns commented on #692
The documentation in the wiki, is not for the `1.*` version... There is no plan to add http specific methods to the exceptions again

[2016-06-09 08:49] #692 closed

[2016-06-09 10:56] dodohack commented on #706
@autaut03 Have you resolved this issue? I have exactly the same problem as yours. Just trying to use binary(16) uuid instead of auto-incrementing id in user table.

[2016-06-09 14:57] peterstarling opened #751 "getToken() after attempt()"
For a valid call to attempt method:

`
$this->jwtAuth->attempt(['email' => $email, 'password' => $password]);
`

Wouldn't it be logical to be able to retrieve the token via getToken?

`
$token = $this->jwtAuth->getToken();
`

This however is 'false'. Do I need to manually set the created token (setToken) returned from attempt so that jwtAuth object would assign a token to its protected property an

[2016-06-10 05:31] harveyslash opened #752 "Fetch only required columns when authenticating"
When sending in a token , and monitoring the db query, I see:
`select * from`users`where`users`.`id`= '1' limit 1;`

Is there a way for it to just load just certain columns (I have them indexed and hope to use covering index) instead of the entire row ?

[2016-06-10 09:57] mitajunior opened #753 "jwt.auth middleware help"
So i have configured, signin and get user from token is working well. Probably am the one who doesn't know how to do this but am trying to protect certain routes to require the token.

In my Kernel.php i have

[code]

in my routes.php

[code]

but when i request http://example.dev/posts without the token, it returns the posts...its seems to ignore the jwt.auth middleware
@tymondesigns

[2016-06-10 15:06] joejordanbrown commented on #750
@harveyslash

This should do it without another db query. It should still have the user stored in the class variable user.
`$userData = JWTAuth::toUser($token);`

[2016-06-11 04:51] wizard97 opened #755 "Calling invalidate() through Auth:: facade"
Hi,

I'm on the 1.0 dev branch. Anyways, I'm not sure if this is a bug, or you intentionally didn't implement it, but `invalidate()` works fine to blacklist when it is called on an JWTAuth instance. However, when called through the `Auth` facade (`Illuminate\Auth\AuthManager`), it throws an `JWTException` with "A token is required". I looked at the backtrace, and it nearly works, here is what happ

[2016-06-11 21:23] tymondesigns commented on #755
this is indeed a bug, I will get on fixing that!

[2016-06-11 21:30] tymondesigns commented on #755
just added the method to the guard ccbbba29418190f7243033d76278c2e90d39d3fd

[2016-06-11 21:30] #755 closed

[2016-06-12 00:35] autaut03 commented on #706
@dodohack Sure. Replaced AuthProvider's method and that's all. Not an elegant solution but it works.

[2016-06-13 14:52] grenadecx opened #756 "jwt malformed"
Okay so I'm running laravel 5.2 and trying to generate a token that is valid on a socket.io server. However I seem to fail horrible at this, (not sure if this is a problem with me or this library) so some help would be much appreciated!

On my laravel I have some simple lines:

[code]

And then I use this token when making the socket io connection from the client:

[code]

Simple socketio server:

[2016-06-13 15:07] tymondesigns commented on #756
cool story bro

[2016-06-13 15:07] grenadecx commented on #756
Sorry, I accidentally opened it without context, it's added.

[2016-06-13 15:09] grenadecx commented on #756
And at some point I also got jwt malformed, just trying to replicate that. But any help would be appreciated.

[2016-06-13 15:25] grenadecx commented on #756
I just tried another library, https://github.com/lcobucci/jwt and I have no problems generating a token that will get validated from the socketio server.

[code]

Could this be an issue with the underlying namshi/jose library?

[2016-06-13 16:11] tymondesigns commented on #756
No problem.. reopened.. I'll take a look when I can

[2016-06-14 14:14] vforv opened #757 "Get token expiration time?"
I want to refresh token before it expire, but problem is I don't know how to get expiration time for some token...

Flow:
1. Check how much time till expire. Ex: 3min till token expire
2. If 3 or less then invalidate old token and refresh it

[2016-06-14 16:35] tdhsmith commented on #757
#732 - *How do I get the token expiration time?*
#321 - *Get token expiration after JWTAuth::attempt*

[2016-06-14 23:07] andreliem opened #758 "How to mock authentication in kernel?"
I'm trying to write some unit tests which do not actually test authentication itself.

Is there an easy way to mock the auth guard to make it pass or fail or ideally act as a specific authenticated user?

I really just want the following to work:

[code]

[2016-06-15 02:59] tdhsmith commented on #758
Sorry I'm not understanding exactly where the problem is. Does that code _fail_, or are you hitting other issues?

If you're having issues hitting the middleware, you can just [turn it all off in your tests](https://laravel.com/docs/5.1/testing#disabling-middleware) with `use WithoutMiddleware;` or `$this->withoutMiddleware();`.

If you really need finer grained control, you can [mock the facade](

[2016-06-15 04:02] tdhsmith commented on #753
I think your route group options are malformed... all of the options should be set in a single _flat_ array:
[code]

[2016-06-15 04:17] tdhsmith commented on #752
That behavior is controlled by Laravel's _user provider_, not by the jwt-auth library.

You _can_ modify the behavior by creating a custom provider. For more details, check out the official docs ([Laravel 5.1](https://laravel.com/docs/5.1/authentication#adding-custom-authentication-drivers), [Laravel 5.2](https://laravel.com/docs/5.2/authentication#adding-custom-user-providers)).

[2016-06-15 04:20] tdhsmith commented on #752
Here's a slightly-outdated diagram if that helps. (IIRC it's only accurate to jwt-auth v0.5 & stock Laravel 5.2, but the general idea is still right.)

![jwt_diagram](https://cloud.githubusercontent.com/assets/1791252/16067759/02e53872-3285-11e6-8515-ab7c022bb4e6.png)

[2016-06-15 04:43] tdhsmith commented on #756
Could you post an example of a failing JWT with its key?

[2016-06-15 04:50] tdhsmith commented on #750
Actually, if you're on v0.5, `toUser` will always run a `where` on your user model. (cf. [JWTAuth.php L76](https://github.com/tymondesigns/jwt-auth/blob/0.5.9/src/JWTAuth.php#L76)) The situation is similar in v1.0; it will depend on your user provider, but it's likely to also hit the DB.

After an `attempt`, you can get the user from `Auth::user()` which should run off its cached user value. Other

[2016-06-15 07:10] grenadecx commented on #756
Sure.

Token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXUyJ9.eyJzdWIiOjEsImlzcyI6Imh0dHA6XC9cL3JwYW5lbC5sb2NhbFwvc2VydmVyXC8xIiwiaWF0IjoiMTQ2NTk3NDM4NCIsImV4cCI6IjE0NjU5Nzc5ODQiLCJuYmYiOiIxNDY1OTc0Mzg0IiwianRpIjoiYzdjZTFmN2M0Y2Q5NDExNGQzODZiYjk1OTc0ZWU5YTcifQ.OGVmZjFhMDM4OGViMzVhNjc3NmJjNjM0ZmIyNTFlOTYyYzExOTMzNmI3ZTY4YTZkZGY3OTcyYmRiODg5NGE0OQ

Key: supersecretkey

[2016-06-15 19:22] tymondesigns commented on #757
Cheers @tdhsmith - A good look through other issues first is a good idea

[2016-06-15 19:22] #757 closed

[2016-06-15 20:02] andreliem commented on #758
Hi @tdhsmith,

I'm trying to make the JWTAuth in the middleware pass authentication so I can unit test some controller methods which require a token.

With normal authentication, I can use Laravel's built in "actingAs" method to authenticate as a specific user.

Is there a good way to do this with JWTAuth? If I turn off middleware then I feel like that will be the same thing as taking the endpoint

[2016-06-16 17:25] matt-catellier commented on #184
I am having same problem as @jidesakin . Have been stuck on this for days.

My problems is in retrieving the user from JWT token.

`JWTAuth::parseToken()->authenticate();`

Is always returning false. When I look in JWTAuth.php I find the authenticate method is using AuthInterface byId() method to authenticate the user, but as I search through my codes, I can find no implementation as to this metho

[2016-06-16 18:17] tdhsmith commented on #184
The implementation of `byId()` can be found in [`IlluminateAuthAdapter`](https://github.com/tymondesigns/jwt-auth/blob/0.5.9/src/Providers/Auth/IlluminateAuthAdapter.php#L48).  It simply calls `Auth::onceUsingId()`, which is a Laravel function. Are you certain your token has a subject matching a user's ID?

[2016-06-16 18:58] matt-catellier commented on #184
I think that was my problem.  I was trying to create a **new user** with an id of 1.  It seems authenticate byId() will look into your db at some point (I don't know, does it?) and try and retrieve this user, which doesn't exist yet.  So it will return false.

Thinking this is the source of my problem.  Will test with a user in the DB and see if this solves the problem.

[2016-06-16 19:55] tdhsmith commented on #184
Yep, in most cases `Auth::onceUsingId($id)` calls `User::find($id)`, which will make a DB call to find the user.

You need the user to exist in order to authenticate them. This is true for the base Laravel authentication (how can you log in as a user that doesn't exist?), but even more so for JWTs because they usually only store the user's ID and no other information about them.

[2016-06-16 20:00] matt-catellier commented on #184
Thanks @tdhsmith .  Think I have enough info to move forward.  Will post solution if/when I find one.

[2016-06-17 06:41] righter opened #763 "JWTException when trying to use RS256 algorithm"
In order to successfully sign and verify tokens using RS256, I had to override a few methods in `Tymon\JWTAuth\Providers\JWT\Namshi`.
Here's what I have set up:

- I'm working from a fresh Laravel 5.2 installation
- I installed tymon/jwt-auth, 1.0.0-alpha.2
- JWT_PUBLIC_KEY=/tmp/jwt_auth/pubkey.pem
- JWT_PRIVATE_KEY=/tmp/jwt_auth/privkey.pem
- JWT_ALGO=RS256

I'm authenticating a user like this:
[

[2016-06-17 09:58] SeBuDesign opened #764 "Exception when trying to create a token with a custom payload"
Hi all,

I think I've found a bug in the 0.5.10 version of this package. With the 0.5.9 version I am able to create a token with a custom payload. The code is like this:

[code]

With 0.5.9 this works just fine but with 0.5.10 I get the following exception: `JWT payload does not contain the required claims`

The data I wish to put into the token is:
[code]

I changed my composer.json to use the 0.

[2016-06-17 10:30] tymondesigns commented on #764
Sorry about that... I may just revert this release, as this is worrying

[2016-06-17 10:33] tymondesigns commented on #764
ok release deleted until I can investigate that

[2016-06-17 10:33] #764 closed

[2016-06-17 11:16] SeBuDesign commented on #764
@tymondesigns no problem, if you need more information feel free to ask!

[2016-06-17 15:42] seleneav commented on #321
Hello guys! reading this now I know how to get expiration date thanks, but still I'm a little bit confuse on setting expiration date I don't know exactly  how to set it. My idea is set the expiration date for a year since the token was created. I found within the documentation that expiration date can be added within an array of claims, something  like this:

$customClaims = ['exp' => 'expDateUnix

[2016-06-17 16:49] tdhsmith commented on #321
The expiration is set based on your configured `ttl` (in `config/jwt.php`), which sets the default number of minutes until the token expires. Just change that config value and you'll have tokens with a longer expiration. See [the documentation](https://github.com/tymondesigns/jwt-auth/wiki/Configuration) for more info.

You could technically do it the way you were describing, but this way is a lot

[2016-06-17 17:04] tdhsmith commented on #764
@SeBuDesign It looks like your payload doesn't contain a subject claim, which is in the default required claims list. If you are not using subjects in your tokens, simply remove the `sub` entry from the `jwt.required_claims` config.

(Before 0.5.10, not having a subject would incorrectly pass the test as long as you had at least one custom claim, which is why you'd first see the message now.)

[2016-06-17 17:07] tdhsmith commented on #764
@tymondesigns Maybe to help with this, that message should explain which are missing? https://github.com/tymondesigns/jwt-auth/compare/master...tdhsmith:patch-1

[2016-06-17 17:12] tymondesigns commented on #764
@tdhsmith I think you may be right there.. I will re-instate the release when I've checked everything over again.. passing through the missing claims looks like a great idea

[2016-06-17 17:19] tdhsmith commented on #764
Yeah more checks are encouraged. I don't mean to sound overly confident in my code; this just happened to be a case I had already considered but forgot to communicate/do anything about earlier. 😐

[2016-06-17 17:47] tdhsmith commented on #763
So what changes did you make?

Looking at Namshi's source, it _seems_ like you should be able to pass in a file reference. The `PublicKey` signers have [a `getKeyResource($key)` function](https://github.com/namshi/jose/blob/7.1.0/src/Namshi/JOSE/Signer/OpenSSL/PublicKey.php#L57) that retrieves a resource from a string. Hrm...

[2016-06-17 17:52] tdhsmith commented on #763
Wait I think I see a potential issue: `getKeyResource($key)` relies on `openssl_pkey_get_public($certificate)` which, [according to PHP docs](http://php.net/manual/en/function.openssl-pkey-get-public.php), requires certificate to be one of:

I just checked in the interactive shell, and that `file://` prefix in (2) is totally required for strings. The function returns `false` without it. So try add

[2016-06-17 17:55] mcblum opened #765 "Very strange errors"
After using this package on many, many apps for years, something is happening that I can't explain or figure out!

When I log in the attempt is sucessful and it triggers the JSON response, but it errors now every time.

[code]

The above error actually randomly changes, too.

[code]

I have been able to fix the error by doing `php artisan migrate:refresh' which to me makes to sense at all.

Thanks

[2016-06-17 17:56] mcblum commented on #756
Does this sound like it could be the same as the issue I just submitted, #765?

[2016-06-17 19:01] mcblum commented on #765
Never mind! Feel freeze to close. It was actually an error within the JSON within the user object and nothing to do with JWT.

Thanks again for this package and I sent over a beer!

[2016-06-17 19:04] jonasvanderhaegen commented on #693
@feeekkk https://github.com/khlipeng/lumen-api-jwt i used this as example, it works ;)

[2016-06-17 19:46] tymondesigns commented on #765
Glad you sorted it. Thanks for the beer! 👍🍻

[2016-06-17 20:01] tdhsmith commented on #756
@grenadecx Ok well I can confirm that jwt.io and jsonwebtoken don't accept it for some reason, but I'm not sure why yet.

I manually verified that the signature _looks_ valid based on the given payload and header, though:

[code]

There is one discrepancy: your payload has escaping backslashes before the forward slashes:
[code]
The extra slashes then disappear to javascript because / isn't a metac

[2016-06-17 20:29] grenadecx commented on #756
Thanks for taking a look.

I've no idea why I have baskslashes in the url. I mean, I don't do anything funky with it, I'm running the basic configuration file and all I do is the JWTAuth::fromUser function with a user and then insert the token with {{$token}} in the javascript.

How imporant is the iss? Seems like it can basically be anything and still give a valid signature?

[2016-06-17 20:40] tdhsmith commented on #756
Actually I'm thinking the backslash thing was a red herring. The way I calculated the signature was wrong, so it's not a good sign that namshi/jose agreed with me.

`iss` isn't actually checked by this library's validators, but some services use it to identify where requests are coming from for example. If you're building both ends of the communication, it isn't required by any means. You'd have t

[2016-06-17 21:02] tdhsmith commented on #756
Do you know what version of namshi/jose you have installed? (run `composer show namshi/jose`)

It's possible you're hitting namshi/JOSE#36. It's been fixed in this library since #126 (i.e. jwt-auth v0.5.4), but it's possible you haven't updated or are running a really old version. (What jwt-auth version _are_ you running by the way?)

[2016-06-17 21:08] tdhsmith commented on #756
The odd thing--and the reason I think that's the issue--is that your signature is the base64url encoded version of the HMAC _hex string_. But you should be taking the base64url of the HMAC's actual _binary value_.

Otherwise it's doing a weird conversion that's basically useless (base64 is mostly about making binary data consumable as text, but hex is already text). It also explains why your signa

[2016-06-17 23:50] righter commented on #763
I thought I tried `file://` in my `.env` but it was late and I was tired. I'll take another look.

Here's what I did to get signed keys coming back:
[code]

[2016-06-18 00:10] righter commented on #763
I gave `file://` a shot with no luck. Here are the different things I tried in the `.env` config to no avail.

[code]

[2016-06-18 08:16] grenadecx commented on #756
Yeah I also found it weird that the token as so long compared to other libraries when generating the same amount of data.

namshi/jose
[code]

tymon/jwt-auth
[code]

I was using the documentation when installing just a few days ago, but I can try updating to 0.5.4 or whatever the latest is and see if that solves it.

I'll report back in a bit :)

[2016-06-18 08:24] grenadecx commented on #756
Okay so I updated to tymon/jwt-auth 0.5.9 which updated the namshi/jose to 5.0.2 and it solved my problem.

Not sure why I was using an older version since the documentation says to install 0.5.*. I really appreciate the help and wish ya the best!

[2016-06-18 08:24] #756 closed

[2016-06-18 14:30] ghost opened #766 "invalid token"
I followed your tutorial from the wiki and the login is working correctly:

[code]

And for the response I got the token.

But every time I try to use the toke I got:

[code]

ie:

[code]

This is a GET to `{{url}}/api/getUser` with the header `Authorization: Bearer {{token}}`

my routes.php contains the following:

[code]

How can I make this working with the token? Am I missing something here?

[2016-06-18 17:49] tdhsmith commented on #766
Can you share a token? Have you tried checking it on http://jwt.io?

[2016-06-18 19:52] BrunoRamalho-SmartConsulting commented on #766
I got the following token:
eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOjEsImlzcyI6Imh0dHA6XC9cL3NtYXJ0YXBwXC9hcGlcL2xvZ2luIiwiaWF0IjoxNDY2Mjc5NDYzLCJleHAiOjE0NjYyODMwNjMsIm5iZiI6MTQ2NjI3OTQ2MywianRpIjoiZTdhZTg3MjliMmMwYjU1NDk5ZGNjYzVlMTBlYTUxN2EifQ.C-JWeCNOReZZb5OOk-CSxjgSfAwZ1ACxyuG1yWtDow4

When I test in jwt.io I got invalid signature. Why this is returning me an invalid signature?

[2016-06-19 16:02] Frondor opened #768 "Hash/encrpyt passwords by default"
Why isn't there a hashing/encrypting method for user passwords implemented by default?

[2016-06-20 08:33] ALionNamedBoy opened #769 "Unable to undo custom claims when refreshing tokens"
Hello, thank you all for the work and time you put into this!

I've got the in-development JWTAuth (dev-master#dfd929d) in my local setup and managed to get it working with a Lumen 5.2 setup that also uses Dingo API.

For a password recovery solution, I've resorted to emailing users a token that contains their password hash as a custom claim, and then unpacking that token to compare against the DB

[2016-06-20 15:45] tdhsmith commented on #769
You should be able to call `JWTAuth::customClaims([])` with an empty array to clear them. (Or call the same method on the factory, if that's where you were setting them.)

This doesn't come up terribly often because it's rare people issue more than one token in a request, but I guess it could be useful to have a `removeClaim` method...

[2016-06-20 15:55] tdhsmith commented on #768
Are you talking about when using `attempt`? The hashing/user retrieval there is handed entirely by Laravel / you user provider. It doesn't have anything to do with jwt-auth, so you'll have to look into your app's Auth settings.

This library doesn't do anything with loading/saving users to the database.

[2016-06-20 16:02] tdhsmith commented on #766
Did you enter your secret key in the box at the right?

Also what version of jwt-auth are you on? I don't recall or see any versions where `token is invalid` is one of the response messages, but I could easily be missing it.

[2016-06-20 16:28] #768 closed

[2016-06-20 20:21] gjunior-tray opened #770 "Load Balancer"
I have 2 servers running with a load balancer server that is reverse proxy. I need a centralized secret key.

What would be the most appropriate way to use the library?

Save the key in the database or what else?

[2016-06-20 20:39] BrunoRamalho-SmartConsulting commented on #766
Yes I added the the secret to the right box, same result.
I'm using this secret now: `Rzp92TtQlD1vjgOk5E3J0bypLZ7NDujt`
And I got the following token: `eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOjEsImlzcyI6Imh0dHA6XC9cL3NtYXJ0YXBwXC9hcGlcL2xvZ2luIiwiaWF0IjoxNDY2NDU0ODIyLCJleHAiOjE0NjY0NTg0MjIsIm5iZiI6MTQ2NjQ1NDgyMiwianRpIjoiNmU2ZTA0YmM1Yjg1MGRiZmQ0YTg4NzIzYWQzMzc5ZjYifQ.GENFjr4N9Dx2h9aA-dlGwnW-

[2016-06-20 21:00] seleneav commented on #321
Hello tdsmith, thanks for your suggestion. I've set the expiration time:

 $expiration_date   = Carbon\Carbon::now()->addYear()->timestamp;
        $customClaims     = ['exp' =>$expiration_date];

        if (! $token = JWTAuth::fromUser($user, $customClaims)) {
          return response()->json(['Message:' => trans('signup.invalid_credentials')], 401);
        }

But now I have a couple more doub

[2016-06-21 02:10] ALionNamedBoy commented on #769
I'm afraid that using customClaims([]) doesn't remove the password claim from the token being newly generated. Somehow the custom claim is getting stuck in the manager's list of claims when it gets read in, and doesn't reset even when the validating token is blacklisted.

[2016-06-21 04:40] jgardezi opened #771 "Unable to get public token from JWTAuth::encode($payLoad)"
Hi,

I have was able to create custom claims and able generate token like this. The issue that I am gettting is that the token it is generating is private and I am unable get the token string.

`
$payLoad = JWTFactory::make(['foo' => 'bar', 'baz' => 'bob']);
$token      = JWTAuth::encode($payLoad);
`

Now $token that is being generated is private not public so I am not able to access it. Can you p

[2016-06-21 04:41] jgardezi commented on #44
Can someone please have a look at this issue its kind of similar https://github.com/tymondesigns/jwt-auth/issues/771.

[2016-06-21 05:55] jgardezi commented on #771
I was able to fix this issue by calling get() method on encode. As it is also stated in this comment as well
https://github.com/tymondesigns/jwt-auth/issues/719#issuecomment-222095356

`$token = JWTAuth::encode($payLoad)->get();`

[2016-06-21 05:55] #771 closed

[2016-06-21 12:37] luisdalmolin opened #772 "Testing failing to parse authorization header"
Hi there. First of all, thanks for the awesome work.

I'm writing unit tests for my API. When I use `WithoutMiddleware`, work's fine. But there is some endpoints that I need to parse the current user:

[code]

When I need this, I write my tests like this:

[code]

But in the test above, I always get an `JWTException`. Researching more, I checked the `Tymon\JWTAuth\JWTAuth` class, `parseAuthHeader`

[2016-06-21 15:20] feeekkk commented on #770
edit the `.env` file and ensure that both servers have the same secret key.

[2016-06-21 17:39] tdhsmith commented on #772
You're correct. During tests, Laravel constructs the `Request` object a bit differently. The problem is that, in production, Laravel is booted with an incoming request, but in testing it has to create a placeholder, while it waits for you run `$this->call` or a similar function. Thus, the `Request` object that gets injected during construct isn't exactly the one you want. (Which I believe is why j

[2016-06-21 17:45] tdhsmith commented on #770
Yeah I agree the simplest solution is what @feeekkk suggested. Were you implying your setup has an obstacle to synchronizing the env settings?

I think that should be the only _big_ concern to ensure the auth behaves identically, but I haven't tried running anything distributed myself. However, if you're invalidating or refreshing your tokens, you'll want to make sure your `Cache` driver is shared

[2016-06-21 17:51] luisdalmolin commented on #772
Oh, now I get it. I just enable the middlewares from test's like this and it worked correctly. Thanks!

[2016-06-21 17:51] #772 closed

[2016-06-21 18:59] gjunior-tray commented on #770
@feeekkk and @tdhsmith thanks for your attention.

To solve the problem on time, I will implement the key solution in .env file.

The caching layer is shared, so I'm cool with the blacklist.

My concern was about the use of TTL, how can I implement this in a distributed environment.

I will not be able to do this if I add it in .env file, will I?

I'll do some tests here right now. Thanks for the

[2016-06-21 18:59] #770 closed

[2016-06-21 19:49] BrunoRamalho-SmartConsulting commented on #766
Any suggestion why this is not working?

[2016-06-22 02:07] mjbillings opened #773 "config/jwt.php missing; can't set ttl"
Running laravel 5, installed jwt-auth.  Everything is working.  Need to extend ttl and read posts about config/jwt.php but it was not installed.  How to set ttl or why is config/jwt.php missing?

Thanks,
Michael

[2016-06-22 02:24] tdhsmith commented on #773
You might not have "published" the vendor files, which is the action that actually copies the configs for you:

[code]

( cf. the [installation guide](https://github.com/tymondesigns/jwt-auth/wiki/Installation))

[2016-06-22 02:33] tdhsmith commented on #766
Well the token you've shown isn't using that secret. In fact, it's using an _empty string_ as its secret:

[code]

Unfortunately I can't for the life of me figure out why it would create with one secret and verify against another. Are you positive you aren't somehow constructing the token with different settings, or have a rogue config setting somewhere?

Also can you verify which versions of `tym

[2016-06-22 02:33] mjbillings commented on #773
Thanks for the quick response.  I had ran that but got "Nothing to publish for tag []".  Perhaps I messed something up in the install?

Michael

[2016-06-22 02:48] tdhsmith commented on #773
Did you add `Tymon\JWTAuth\Providers\JWTAuthServiceProvider` to the `providers` array in `config\app.php`? (And if you have, it might take a `composer dump-autoload` to reload the classes.)

[2016-06-22 03:33] mjbillings commented on #773
It is/was in the config/app.php.  I tried composer dump-autoload then retried the vendor:publish and same result. dump-autoload reported that it was "generating autoload files".  Any other suggestions?

[2016-06-22 06:27] tdhsmith commented on #773
`php artisan cache:clear`?

Also you are on jwt-auth version 0.5, correct?

[2016-06-22 08:08] dmmelnychenko opened #774 "Artisan "route:list" not working"
I have problems with using artisan commands, particulary with the "route:list" command. There is an error:  "[Tymon\JWTAuth\Exceptions\JWTException] The token could not be parsed from the request". Can anyone help me?

[2016-06-22 15:43] chebyte commented on #765
@mcblum  please dont forget to approval your wish on beerpay, so @tymondesigns can buy his beer!
@mcblum  this wish is waiting for owner approval!

[2016-06-22 16:10] mcblum commented on #765
@chebyte wait what? I already sent that!

[2016-06-22 16:57] tymondesigns commented on #765
@mcblum I think it's because you sent via a "wish" which requires you to say "I'm happy that this wish has been fulfilled" as apposed to a straight up "support donation"

Thanks again

[2016-06-22 17:06] mcblum commented on #765
One would think if I sent a 'wish' and the issue was resolved, that would be all you need to do. I'd like to open an issue with that service :)

[2016-06-22 17:07] chebyte commented on #765
@mcblum exactly, as @mcblum said, you need to check that the issue was fixed properly, then you have to accept their work, and the developer will get the donation!.

[2016-06-22 17:08] tdhsmith commented on #774
What version of Laravel and jwt-auth are you on? How are you attaching your middleware?

Do you get any more details on the error if you run the command in verbose mode (`php artisan route:list -v`)?

[2016-06-23 06:34] dmmelnychenko commented on #774
I use Laravel 5.2 and "tymon/jwt-auth": "^0.5.9". There are my Kernel.php:
[code]

And there is errors details:
[code]

[2016-06-23 16:47] tdhsmith commented on #774
It looks like you're calling `JWTAuth::parseToken()` in the constuctor of your `RegisterController`, which is what's triggering it. (Controllers _do_ get constructed during some Artisan commands, but you won't have any tokens in that environments, so the parser throws an exception.)

The solution is going to depend on your needs. One option is to change the call to `JWTAuth::getToken()`. That will

[2016-06-23 20:34] mjbillings commented on #773
This is in my composer.json, any other way I can verify.

        "tymon/jwt-auth": "0.5.*"

[2016-06-23 20:44] tdhsmith commented on #773
`composer info` will tell you which versions you have actually installed.

I'd definitely try running `php artisan cache:clear` and then try publishing again though... I now see that that has been the issue for some people in the past.

[2016-06-24 04:06] kylanhurt commented on #403
On a sidenote, everyone make sure they keep close attention to where the slashes are in their Kenerl.php file. For me I was missing the "\" before "Tymon\JWTAuth...", etc. Hard to catch!

[2016-06-24 07:55] heroghost opened #776 "Call to undefined method Illuminate\Auth\RequestGuard::once"
<b>Fatal error</b>:  Call to undefined method Illuminate\Auth\RequestGuard::once() in <b>D:\webprojects\lumen\vendor\tymon\jwt-auth\src\Providers\Auth\Illuminate.php</b> on line <b>43</b><br />
{"message":"Call to undefined method Illuminate\Auth\RequestGuard::once()","code":1,"status_code":500,"debug":{"line":43,"file":"D:\webprojects\lumen\vendor\tymon\jwt-auth\src\Providers\Auth\Illuminate.php"

[2016-06-24 15:09] trangchuvn opened #777 "The token expired after 60 minutes"
Hello guys!
I know that we can custom the "ttl" time in the jwt.php file. but the problem is when i'm working on my application, the token is still expired. i thought when i send a request to the server, the time of token should be refreshed. i have research and found the way is "jwt.refresh". but when i use "jwt.refresh", the token will be changed when i send a request to the server. i thought it

[2016-06-24 17:11] tdhsmith commented on #777
That time--specifically, `exp` the timestamp of expiration--isn't stored on the server; it's stored inside the token. So in order to change the amount of time left, you have to change the token.

Since tokens are considered _immutable_, you can't modify them after they are made. You have to create an entirely new copy, which is exactly what `jwt.refresh` is doing.

Then don't use the refresh middl

[2016-06-24 17:25] tdhsmith commented on #776
Lumen isn't supported on the v0.5 branch. You can get (undocumented) support on the 1.0 alpha branch.

The general idea is that instead of using `JWTAuth` to make all your calls, you configure the application's "guard" to be the `JWTGuard` in this library. Then when you want to do stuff, you use the regular `Auth` commands like `Auth::user()`, `Auth::guest()`, `Auth::check()` etc.

There are some

[2016-06-25 01:11] trangchuvn commented on #777
thank for your reply. store new tokens is ok. but with many async requests i think it's impossible. right? Can you tell me what should i do in this case please?

[2016-06-26 07:15] michaelcyyuen commented on #726
Thank you tymon for producing such an awesome lib.
By the way, can i say, version 0.5 is stable to run in production but just lacks documentation support to be v1.0?

[2016-06-26 19:34] mjbillings commented on #773
Okay, I ran the clear and then reran the vendor:publish with the same results.  I'm not sure what else to do.  Can I uninstall/reinstall?  Update? or maybe just manually stick in a jwt.php?

[2016-06-26 21:24] mjbillings commented on #773
I was able to generate the jwt.php file now.  I uninstalled and reinstalled the package but what I think did it is that I ran the vendor:publish command from the command line.  I had been running it from within PHPStorm.  Not sure what is different about the two but I think I'm all good.

TANGENT:  Do you know of a way to list the current valid tokens, TTL, and perhaps invalidate them for testing

[2016-06-27 03:05] tdhsmith commented on #773
Ohhh interesting. That could be the reason, but I'm not really sure why either... Well I'm glad you got it figured out!

Nope, you can't really do it with the stock library. JWTs are stateless, so the server keeps no record of which ones exist. It merely trusts them because it can validate the signatures against its key.

You're welcome to save tokens every time you generate them, but I wouldn't r

[2016-06-27 03:10] tdhsmith commented on #773
There are a couple of ideas for how to invalidate users when you don't have their token, but they all pretty much equate to "leaving yourself a note" to invalidate future tokens they try to use. You can also do the nuclear option and change the jwt secret, which will invalidate ALL tokens, by merit of their signatures no longer being correct.

There's discussion on invalidating users [here](https:

[2016-06-28 13:10] bitcalc opened #778 "Token creation works without a password, for any user, and always returns the first user (Lumen 5.2)."
[code]

When the email address does not exist, invalid credentials error will be raised. However, when the email does exist, regardless of the password, even a blank one, a token will be created for the first user in the database.

[2016-06-28 13:25] crynobone commented on #778
![screen shot 2016-06-28 at 9 23 08 pm](https://cloud.githubusercontent.com/assets/172966/16416831/a4b6e1d6-3d76-11e6-9aee-c2aaf929e7d0.png)

Can't replicate the issue

![screen shot 2016-06-28 at 9 25 17 pm](https://cloud.githubusercontent.com/assets/172966/16416946/d6481314-3d76-11e6-8f6b-8e22bdf635cc.png)

[2016-06-28 13:52] bitcalc commented on #778
@crynobone what version of JWTAuth are you using, and can you remember which install guide you followed?

This is my `bootstrap/app.php`:

[code]

See anything out of the ordinary?

[2016-06-28 14:56] crynobone commented on #778
Latest `dev-develop` branch.

[2016-06-28 16:27] tdhsmith commented on #778
Yeah to reiterate what @bitcalc asked, what install guide did you follow? Support for Lumen is still in alpha, so it's hard to know how you set it up since there isn't an official guide.

If you're using `RequestGuard` (the default guard, of sorts) things can get a little funny. Though I would expect `attempt` to fail then...

The generally recommended way is to use the provided `JWTGuard` instead

[2016-06-28 21:35] crynobone commented on #778
[code]

[code]

I'm using `tymon/jwt-auth` with `dingo/api` and have a custom `AuthServiceProvider`.

[2016-06-28 21:41] crynobone commented on #778
And under `api.php` config (dingo/api):

[code]

I need this to authenticate either using API or JWT on the same app.

[code]

[2016-06-29 04:17] LuisMejiaF commented on #343
Hi @morfin , what your mean for version 0.6? It seems to me that this repository doesn't have a 0.6 release, it jumps from 0.5.9 to alpha.

I'm trying to implement the JWTSubject contract, but is not present in the 0.5.9 release.

[2016-06-29 08:03] bitcalc commented on #778
Thanks @crynobone, I copied the relevant parts from the `app.php` but still had no luck. I changed the driver from `api` to `jwt` in my `auth.php` config file without reason, but it worked and now behaves as expected. I've written up my steps @tdhsmith if you need it and anyone else, see next comment.

[code]

[2016-06-29 08:03] bitcalc commented on #778
## JWTAuth Lumen 5.2 Guide

The steps I took... You should note that this isn't official, it's just what steps I took to get things working. There may be a better way and I don't believe I've missed anything, but I was using JWTAuth for the project prior to the Laravel to Lumen conversion.

### JWTAuth

Install via `composer require tymon/jwt-auth:dev-develop` (also works with alpha).

### User Mo

[2016-06-29 09:09] Crazyweed opened #779 "It didn't work when installed kbwebs/multiauth"
it didn't work when I installed the package kbwebs/multiauth. how do i set the config to make it works.

[2016-06-29 12:42] FerchoCarcho opened #780 "How to use the Jwt-auth with Filemanager to get user Credentials?"
Hello !!

At my site Im using  [Simogeo/Filemanager](https://github.com/simogeo/Filemanager) to browse Images and Files.
To secure the User Access Im Using
 [Bestmomo Filemanager](https://github.com/bestmomo/filemanager) to retrieve user credentials.
There,the config file [default.config.php](https://github.com/bestmomo/filemanager/blob/master/public/filemanager/connectors/php/default.config.php)

[2016-06-29 13:36] tdhsmith commented on #343
Version 0.6 was renamed version 1.0 a few months ago.

Then don't implement it? It's only part of v1.0. In v0.5 you can follow the normal instructions...

[2016-06-29 13:41] LuisMejiaF commented on #343
Ok, thanks for the clarification is the versions.

So I guess it means I need to try with the 1.0 version. The thing is that I'm using Doctrine and not Eloquent, and for what I have seen in this thread, I need to implement the JWTSubject contract.

5.* versions doesn't even have a Contracts folder.

[2016-06-29 16:48] tdhsmith commented on #343
I believe my earlier comments ended up being correct:

- _Regardless of version_, first you will need to make sure Laravel's "user provider" is set up correctly to work with Doctrine. If you're using something like laravel-doctrine/orm, this should be provided.

- On 0.5, you will need to make a custom jwt-auth user provider (this is distinct from the Laravel one above, which powers the whole auth

[2016-06-29 18:57] tdhsmith commented on #779
How doesn't it work? What's wrong? For example, tell us what you did to try to make it work, and if you're seeing an error, please post the stack trace.

[2016-06-29 21:43] tdhsmith commented on #780
How are you sending the token to the server? Does filemanager need the user to exist on the session specifically, or somewhere else?

Did you try "normal" jwt-auth calls, like `JWTAuth::authenticate()`?

[2016-06-29 23:10] FerchoCarcho commented on #780
Hello @tdhsmith,
To make petitions to the server I use ``` client({path: '/posts'}).then() ```   from [cujojs/rest](https://github.com/cujojs/rest/) . About The User living on a session , its not obligatory.
my Issue is that Im not getting how to Send the token to Filemanager when the User Press the Browse Button, Filemanager is called within Ckeditor.
[Here is an Illustration](https://postimg.org

[2016-06-30 06:06] romykundal commented on #498
Very thanks @w0rd-driven for this, really i spent 2-3 hours to set token expiry. its was only set in jwt.php file.

Thanks
Rohit

[2016-06-30 08:55] Mylo-92 opened #781 "Changing Authentication Provider"
Good Day,

I just wanted to know if it is possible to change the 'default' authentication provider ```'auth' => 'Tymon\JWTAuth\Providers\Auth\IlluminateAuthAdapter',``` in jwt.php to something else. For example, I am trying to implement the package with [Adldap2](https://github.com/Adldap2/Adldap2-Laravel) but kinda noob and not too sure how to proceed. I tried changing the value of the 'auth' key

[2016-06-30 13:07] FerchoCarcho commented on #780
I have Found The solution and its like that:
On Click Browse Button.
1. at Ckeditor there is the fileBrowserUrl Directive which you should point to a laravel Route First where you can  Use the jwt-aut token to validate and retrieve user permissions.
2. Based on the user's Permission Return to the Browser the Url where Filemanager can Access.

Now  I need to learn how to parse that Access Url withi

[2016-06-30 15:26] tdhsmith commented on #780
Great, I'm glad you figured it out! And thanks for explaining the solution here.

[2016-06-30 17:04] tdhsmith commented on #781
Yep, it's totally possible. In fact, that's why it's set up that way in the first place! Otherwise all of those functions could live inside the jwt-auth core, but with them as swappable providers, you can more easily change how jwt-auth behaves without actually editing this package's code.

Yeah, it's going to be a class that you have to write. A "_service_ provider" in Laravel is a specific kind

[2016-06-30 17:12] tdhsmith commented on #781
Actually I should back up to the first question -- are you sure you need to change the auth provider? I'm not familiar with Adldap2/Adldap2-Laravel but a cursory glance seems to indicate that it might use Laravel's built-in auth system. (It's definitely adding a new _user provider_, but that's just a piece that the auth "guard" interacts with.)

[2016-06-30 17:30] Mylo-92 commented on #781
Honestly, I am not too sure. Using ```JWTAuth::attempt($credentials)``` the token gets generated and user is authenticated. However, when I try to retrieve the authenticated Active Directory user via ```$user->adldapUser``` where the Adldap Model is bound to the the Laravel Model, it returns a null value. Using the regular ```Auth::attempt($credentials)```, no token is generated, just a boolean re

[2016-07-01 02:12] FerchoCarcho commented on #780
If I do
filebrowserImageBrowseUrl: '/laravel-filemanager?type=Images&token='+localStorage.getItem('jwt-token'),
                    filebrowserImageUploadUrl: '/laravel-filemanager/upload?type=Images',
                    filebrowserBrowseUrl: '/laravel-filemanager?type=Files&token='+localStorage.getItem('jwt-token'),
[code]
{"error":"token_invalid"}
[code]
http://mysite.dev/laravel-filemanager?ty

[2016-07-01 06:40] buihoang91tin opened #782 "ErrorException in RequestGuard.php when use JWTAuth::attempt($credentials)"
First I have problem with

I try to add this code
`$this->app->singleton('Illuminate\Contracts\Routing\ResponseFactory', function ($app)
        {
            return new ResponseFactory($app['Illuminate\Contracts\View\Factory'], $app['Illuminate\Routing\Redirector']);
        });`
It's error Class Tymon\JWTAuth\Middleware\ResponseFactory not found

So I try again to back and remove useless "use" o

[2016-07-01 07:33] buihoang91tin commented on #782
I have fixed this error
But when I try to login in website

I have create form to login
![image](https://cloud.githubusercontent.com/assets/9276526/16514824/9dad0edc-3f98-11e6-9ad4-de17f44f714d.png)

And try to login in desktop. and this is repsonse

{"error":"token_not_provided"}

What must I do now. Can I login by android by this

[2016-07-01 08:49] buihoang91tin commented on #782
I try login with android, It's still reponse {"error":"token_not_provided"}
So what must I do for login from android by jwt. Please help me

[2016-07-01 09:17] buihoang91tin commented on #782
I try to add these lines to .htaccess on public folder

[code]

And My Database user have id column

It's still response {"error":"token_not_provided"}. What must I do now

[2016-07-01 09:27] buihoang91tin commented on #782
My table is not default user table. So now How can I config login with other tables on database

[2016-07-01 09:42] buihoang91tin commented on #782
I have edit Model in Model User for my table. But it's still response

{"error":"token_not_provided"}

[2016-07-01 13:19] FerchoCarcho commented on #780
I had To remove the word "Bearer" from the Token and then authenticate it with
JWTAuth::authenticate($string);

[2016-07-01 14:24] boedy opened #783 "Invalid signature after upgrade"
I upgraded from 0.5.9 to 1.0.0-alpha.2.

1.0.0-alpha.2 can't verify signatures generated by 0.5.9.

The following config is unchanged:
- JWT_SECRET
- ttl
- refresh_ttl
- algo
- required_claims

Can anyone confirm?

Need to upgrade without forcing people to login again.

[2016-07-01 15:17] tdhsmith commented on #780
Yes the "Bearer" component isn't part of the _token_, it's part standard format for the header: `Authorization: Bearer <token>`. So if you're not sending the token in an HTTP header, it won't need that part.

Did you try `authenticate()` without any arguments? It should already read from the `token=` query string. (see [JWTAuth::parseToken](https://github.com/tymondesigns/jwt-auth/blob/0.5.9/src/J

[2016-07-01 16:12] tdhsmith commented on #782
Are you _providing a token_? The message is indicating that that middleware expects your request to have a token in it somewhere.

The token is most commonly included in an HTTP header, but it can also be included in a query string, the message body, a URL parameter, a cookie, (jwt-auth will automatically check the first 2 in v0.5, and all of them in v1.0) or elsewhere.

If you are confused about

[2016-07-01 16:14] tdhsmith commented on #783
The version of [namshi/jose](https://github.com/namshi/jose) (the underlying library that handles the token signatures) does change between those branches, from ^5.0 to ^7.0. It's possible something in their implementation changed. Previously there had been an issue where that library was off-spec, and the fix invalidated all sigs (since every signature was being generated slightly wrong). That ch

[2016-07-01 16:26] tdhsmith commented on #781
Hrm it sounds like you might not need the auth provider then. Usually it's only necessary when calls like `JWTAuth::attempt`and `JWTAuth::authenticate` completely fail and error out. If they're working, then jwt-auth is successfully connecting with Laravel's auth management.

This is to be expected. On v0.5, this library does not change the behavior of the `Auth` facade, so it'll keep on not knowi

[2016-07-01 18:36] FerchoCarcho commented on #780
if I just  $this->me= JWTAuth::authenticate();

[2016-07-02 01:04] buihoang91tin commented on #782
But hơ can I create token for HTTP request with JWTAuth in Laravel Lumen. I have set csrf_token but lumen did not have them

[2016-07-02 02:27] buihoang91tin commented on #782
So now I have this error
ErrorException in RequestGuard.php line 66:
Undefined index: request

When I try to change once function in IlluminateAuthAdapter and I got this error. Some one know this problem

[2016-07-02 03:19] buihoang91tin commented on #782
Please help me so now, How can I authenticated user in lumen laravel,

This is my code

`    public function postLogin(Request $request)
    {
        try {
            $this->validate($request, [
                'email' => 'required|email|max:255', 'password' => 'required',
            ]);
        } catch (HttpResponseException $e) {
            return response()->json([
                'error' =

[2016-07-02 04:02] buihoang91tin commented on #782
Could someone help me. I'm  using jwt
`"tymon/jwt-auth": "^0.5.9",`

[2016-07-02 06:56] feeekkk commented on #782
https://laravelista.com/json-web-token-authentication-for-lumen/

[2016-07-02 11:15] mehranhadidi opened #784 "token generated but cant validate token."
Hi

I generated a token without using user object.

[code]

but when i want to access a route that is protected i get an error:

[code]

but my generated token has valid signature on jwt.io

i think there should be a bug. what should i do?

[2016-07-03 01:34] yorchv opened #785 "Include the Cookie Parser in the Abstract Service Provider"
By Default the Cookie parser is not included in the Service Provider neither for Laravel nor Lumen. This removes the option to handle the token via cookie, leaving outside the benefits of security that the cookie offers.

There are many ways to make the cookie behavior outside the provider, but now that I know that is included in the library but not used, I should consider that is restored as part

[2016-07-04 01:05] buihoang91tin commented on #782
Sorry, But i've tried this tutorial. But it's not success for me. I'm trying to config for them.
I still have this problem. Please help me

[2016-07-04 01:51] buihoang91tin commented on #782
I have tried like this issue. [654](https://github.com/lucadegasperi/oauth2-server-laravel/issues/654)
It's return Auth::user()->id
But response()->json(compact('token')); always return null. So how can I compact token when I have auth

[2016-07-04 02:37] buihoang91tin commented on #782
I have fixed this error. Thank you all

[2016-07-04 02:38] #782 closed

[2016-07-04 07:43] boedy commented on #783
Yes,  my env file's JWT_SECRET is the same.

[2016-07-04 07:54] Mylo-92 commented on #781
Did some more digging/testing and eventually it all made sense. In order to integrate Adldap, laravel's default authentication driver has to be replaced with the packages own e.g 'adldap'. And as JWTAuth makes use of laravel's built-in auth system as you said, that "wrapper" exists for it as well. So yeah, kinda embarrassing but I guess it was overthinking on my part. Thank you for your help thoug

[2016-07-04 07:54] #781 closed

[2016-07-04 09:38] dmoreno commented on #604
Hi,

same problem here. Codeception tests are broken when using it with jwt-auth.

JWTGuard->logout() method needs a valid token. But this is really necessary?

Others guards, like SesionGuard (default guard in Laravel), don't need a valid credential in logout method (like valid cookies).

[2016-07-05 13:58] tdhsmith commented on #782
Great news.

I'm guessing the issue was: you declared `$token` inside a try-catch, so it wasn't actually defined in the outer scope, and `compact` couldn't see it.

[2016-07-05 15:43] commnerd commented on #736
I too, am running into an issue.  My current provider setup looks as so:
`
    'providers' => [
        'users' => [
            'driver' => 'eloquent',
            'model' => Dovetail\Models\User::class,
        ],
    ],
`
The plugin seems to ignore the setting.

[2016-07-05 15:50] tdhsmith commented on #736
Are you on jwt-auth 0.5.x? If so, did you change the value of `user` in `config/jwt.php` as well?

What file/line is the error pointing to?

[2016-07-05 16:00] commnerd commented on #736
So I'm missing a config/jwt.php file...  Working with NathanBurkett over slack...  I'll update with fix.  I might have missed an installation step.

[2016-07-05 16:06] tdhsmith commented on #736
Yep, you'll want to publish the config file. ([second to last item in the installation guide](https://github.com/tymondesigns/jwt-auth/wiki/Installation#laravel-5))

[code]

The subsequent configuration steps in the guide pretty much all refer to that `config/jwt.php` file.

[2016-07-05 16:38] commnerd commented on #736
Yeah, I caught that.  I'm not real sure how jwt.php got blown away, because I remember running this, but apparently it was user error.

[2016-07-06 08:46] vivex commented on #289
I am also facing this error, and cause is also same , is there any way i can skip jwt to throw error if it is being loaded via command line.

[2016-07-06 10:26] renanpro03 commented on #777
@trangchuvn You can check at your front-end if the response was "error":"token_expired" if so, you can call a method to refresh it and store the new token...

[2016-07-06 11:02] iamrutvik commented on #647
I dont want to expire token for entire app? How would you do that in config?

[2016-07-06 13:44] PrashanthRaghu opened #786 "Unable to parse the token from the Authorization header"
The middleware for jwt.refresh just accepts tokens from the url but does not accept it from the Authorization header. We have a use case where we are unable to pass the token from the url.

Any help is appreciated.

[2016-07-06 14:38] tdhsmith commented on #647
Then you can't use true infinite tokens.

That said, you can still set the `ttl` expiration length to something absurdly high, like 10 years. (Do you think your app will be running the exact same configuration beyond 10 years? Probably not.)

Be aware that if you use token refreshing or token invalidation, you'll have to keep your cache intact for that whole time as well...

[2016-07-06 14:43] tdhsmith commented on #786
The refresh middleware calls the exact same `parseToken` method as the other middlewares, so it's very unusual if it behaves differently. Are you sure you have the routes set up the same way?

What version of jwt-auth are you on? And how are your headers formatted? (i.e. did you remember the "Bearer" keyword? etc `Authorization: Bearer <token>`)

[2016-07-06 15:06] tdhsmith commented on #777
For particularly dense requests, the 1.0 branch provides a "grace period" where old refreshed tokens stay valid for a short time before being blacklisted.

If you're doing "refresh-as-needed" (what @renanpro03 suggests) you can just wait until you see an error response, request a new token, and then resend all of the errored responses that accumulated since then with the new token.

[2016-07-06 15:21] tdhsmith commented on #289
@vivex Where's this happening? If you're using jwt-auth calls in the controller's constructor, check out #774.

You can't really just turn off a class when you have calls to it somewhere. And besides, that would be ignoring the root problem.

[2016-07-07 07:19] vivex commented on #289
@tdhsmith  umm ok i will put  condition in my constructor to check if request is CLI then dont initiate JWT->getuser .

[2016-07-07 08:32] PrashanthRaghu commented on #786
@tdhsmith : thanks for the response.

Example route:

Route::post('load_notifications', ['middleware' => ['jwt.refresh'], 'uses'=> 'NotificationController@loadNotifications']);

Version: "tymon/jwt-auth": "0.5.*"

Yes I have added the Bearer keyword as well. I tested it using POSTMAN rest api client. Do you think there might be issue with the client ?

[2016-07-07 09:05] #778 closed

[2016-07-07 09:08] bitcalc commented on #786
Are you using Apache? Have you got the `src/public/.htaccess`:

[code]

The lines there prevent Apache from ignoring the header if not base64 encoded.

[2016-07-07 09:10] PrashanthRaghu commented on #786
@bitcalc : Thanks for the response.

Yes I am using Apache. I will try adding these headers.

[2016-07-07 10:37] PrashanthRaghu commented on #786
@bitcalc: It's working fine. Thanks for the response.

[2016-07-07 18:24] djordn commented on #763
Hi.
I could only fix this adding `file_get_contents` in my `config.php`
Here's my code:

[code]

and my JWT_SECRET :

`'secret' => env('JWT_SECRET', $rs ),`

[2016-07-07 20:13] tdhsmith commented on #763
Ok I dug into this in a little bit, and I have successfully managed to get file path strings to work, with the following config:
[code]

I think the issues are a lot of little quirks about the process:

- [`file://`](http://php.net/manual/en/wrappers.file.php) can lend itself to easy mistakes. If you want absolute paths, you need to start it with a hard-to-see third slash `file:///`. And you have

[2016-07-07 20:31] righter commented on #763
Thanks @tdhsmith! From my prospective, this issue is resolved unless you want to keep it open.

[2016-07-07 21:42] tdhsmith commented on #763
Feel free to close (I don't have the perms). I'll be tracking the JOSE improvements in their PR since that isn't specific to this lib.

[2016-07-07 22:51] jbardnz commented on #783
Hey

Just to chime in I ran into this exact same issue a couple of days ago. Specifically for me I was trying refresh tokens generated in 0.5.9 but it wasn't able to validate them at all.

Maybe their is a workaround were I can manually verify a 0.5.9 token with 1.0.0?

[2016-07-08 02:53] majdichaabene commented on #261
Hey!
About the forgot password fonctionality can we implement it in cakephp not Laravel?
and if yes how to do it since
thanks

[2016-07-08 03:02] trangchuvn commented on #777
@renanpro03 thank for your help, but maybe it's not a solution for me.
@tdhsmith i think it's better if i can increase the time out of the token for each request. if i can do it, it would be great
but at the moment, the "grace period" is also a another solution for me. but can you tell me how can i get the 1.0 branch by composer please?
i'm using laravel 5.2. Can you help me to change this compose

[2016-07-08 08:09] kurbar opened #787 "Token blacklisted after creating it from User object and trying to invalidate it + AuthenticateAndRenew not invalidating old token"
I've implemented JWT authentication to a Lumen 5.2 project and am using the latest from `dev-develop`.

Environment:
PHP 7.0.4-7ubuntu2.1
nginx 1.10.0
## Token blacklisted after creating it from User object and trying to invalidate it

In my login endpoint I'm creating the token from the User object (`JWTAuth::fromUser($user)`) and then tried doing tests on the logout endpoint to see that it gets

[2016-07-08 09:56] #763 closed

[2016-07-08 14:26] tdhsmith commented on #261
This library exclusively supports Laravel at the moment. I suspect it would be a very great challenge to get it to work in CakePHP...

(Also AFAIK, Cake doesn't have a built-in password reset)

[2016-07-08 18:07] tdhsmith commented on #783
Hrm I haven't been able to reproduce this yet, but I've only done a small example. At the very least, HS256 seems to be consistent between JOSE v5 & v7.

Can you guys share a token & key that validate in 0.5.9 but not in 1.0.0? (I'd temporarily change your secret to something irrelevant like 'password'...)

[2016-07-08 18:34] boedy commented on #783
Here is token which is generated by 0.5.9 (with a different secret):

I've currently extended the refresh middleware to support both versions as an migration strategy until the majority of users has acquired a new token. Not Ideal.

[2016-07-09 04:47] qurius opened #788 "composer version not updated?"
I installed jwt-auth yesterday upon `composer update` but I did not get JWTGuard etc and other files are also different. Is this version not registered with composer?. Sorry if I am mistaken. I am new to jwt-auth/composer

[2016-07-09 11:28] mehranhadidi commented on #784
@tdhsmith thanks for your replay. i understand it. my bad. but, if i want to separate these two from each other? i mean is there any way to create a token & pass it to user over an api but dont create a user?

i have a situation that i have some guest users that want to use the mobile app. they should see stuf (so they need a valid token) but they should not cannot do anything moderating (like, co

[2016-07-10 10:43] ratatatKE commented on #261
Hi @shraddhabanerjee, could you please share your code for the forgot password functionality, I am implementing the same thing in laravel and angularjs using JWTAuth.
Thanks.

[2016-07-10 12:02] majdichaabene commented on #261
I used this tutorial to use JWT in cake :
http://www.bravo-kernel.com/2015/04/how-to-build-a-cakephp-3-rest-api-in-minutes/
it works fine and it's very good one but I didn't figure out how to implement reset password

[2016-07-10 12:14] ratatatKE commented on #261
@majdichaabene Ouch :+1: @shraddhabanerjee to the rescue

[2016-07-11 00:22] mattisdada opened #789 "URLs in payload changes the token - forcing it to always be invalid"
Confirmed this using multiple tools to generate the token, but having a forward slash (`/`) will **always** change the token - and therefore a valid signature.
### Input:

**Header:**

[code]

**Payload:**

[code]

You can use any string as the secret (I used "secret" for this example)

**Token:**
`eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwiaWF0IjoiMTQ2NzkzMzgzMSIsImlzcyI6ImJ

[2016-07-11 00:42] mattisdada commented on #766
I'm pretty sure this bug is the same as #789

[2016-07-11 15:21] tdhsmith commented on #789
Hrm I haven't seen that issue before. I'm not sure if we can blame _all_ slashes immediately because the default `iss` constructor is `request()->url()`, which usually has some slashes in it. Then again I've seen some oddities on 0.5 similar to what you say where the payload slashes are escaped in the output or the hash refers to a different level of escaping...

Was the JOSE bug documented somewh

[2016-07-12 06:28] mattisdada commented on #789
I couldn't find the JOSE bug, but when testing, 0.5.* did not work, anywhere I put a `/`. But on 0.7.* it never had an issue. It might have been accidentally fixed or something

[2016-07-12 06:42] mattisdada commented on #788
JWTGuard as an example is only available on the master branch, or the "in development" part. Composer generally works with tags (you can set it to use branches instead, but I'd recommend against that). You most likely have the latest stable version of the codebase.

[2016-07-12 08:48] qurius commented on #788
If we use this(develop) branch would it break any code with dingo api?

[2016-07-12 15:36] tdhsmith commented on #788
Just to clarify, the **0.5.x** release series (the "old" version) is currently the *master* branch and the **1.0.x** release series (the "new" version with `JWTGuard` etc) is currently the *develop* branch.

What version you get is going to depend on what version you specified in your original install. For example if you selected `^0.5` or `~0.5` or `0.5.*`, composer won't update you past the "maj

[2016-07-14 08:11] MateuszKoguc opened #791 "JWTAuth requireToken($token) bug"
I have a code

[code]

which outputs:

[code]

every call it's adding next nested level. I use newest `0.5.9` version.

Temporary fix in `src/JWTAuth.php`:
before:

[code]

after:

[code]

[2016-07-15 05:55] pankajidealittechno opened #792 "How to use jwt auth to authenticate two table?"

[2016-07-15 17:52] djordn commented on #763
Hello!
Thanks for explanation.
@tdhsmith, where am I suppose to set this key config?

[code]

When I set in `config/jwt.php` it is ignored.

[2016-07-15 18:31] tdhsmith commented on #763
Are you on v0.5? The setting (and ability to use public key systems) only exists in 1.0.

[2016-07-15 18:33] tdhsmith commented on #763
Also for reference to anyone visiting this thread, the patch landed in namshi/jose as of their version 7.2.0, so if you update to that you should start seeing error messages explaining any key issues.

[2016-07-15 19:52] djordn commented on #763
You're right.
I'll give a shot after update my project.
Thanks!

[2016-07-15 20:16] tdhsmith commented on #791
I think all of these issues were resolved in 1.0, but it looks like they weren't addressed in 0.5.

I believe @tymondesigns is on the record as not wanting to implement "automatic unwrapping" because it doesn't address the root cause of incorrect argument types (which I agree with). That said it does look like the logical flaw is here in `requireToken`. Maybe a better approach is just to separate

[2016-07-16 09:05] chmoelders commented on #783
Hey!

I ran into the same issue. After a little research I'm sure the problem originated in (namshi/jose)[https://github.com/namshi/jose], commit [do not escape slashes in json_encoding of jwt components](https://github.com/namshi/jose/commit/04c5a8bbe79e8f4ca3b21cb2e122f9ee97396f92).
When I revert this commit, jwt-auth 1.0.0-alpha.2. is able to validate tokens generated with 0.5.9.

My assumption

[2016-07-17 00:21] patrickcurl opened #793 "Can't test auth'd user."
my testcase seeds and migrates a database. -- users need special permissions to access list of all users.

I'm trying to authenticate in a test and getting this error:

"The token could not be parsed from the request"

public function authUserGetWithGroup($uri, $usergroup, $headers = [])
    {

[code]

}

I've echoed out the token, and url - the url shows up as: "http://api.test.dev/v1/users?token

[2016-07-17 07:06] imilakovic commented on #614
Did you find out what was the issue?

[2016-07-17 18:16] Newbie012 opened #794 "A guest middleware"
Is there a way to do a guest middleware?

[2016-07-18 02:39] Master-Xia opened #795 "check() can't distinguish different guard"
In **config/auth.php**, I have two guards:

[code]

I got token with:
`$token = Auth::guard('api')->attempt($credentials)`
And I check it with:
`Auth::guard('admin_api')->check()`
But it should be true.
where is wrong?

[2016-07-18 14:19] masingacom opened #797 "Custom Claims Dont Working"
Hi,
My custom claim's variables doesn't get pushed into my jwt token

Does anyone have any advice?

Version
"tymon/jwt-auth": "1.0.0-alpha.2"
"irazasyed/jwt-auth-guard": "^1.0"

[code]

[2016-07-18 14:34] chmoelders commented on #797
Hi!

With 1.0.0-alpha.2 you should use the contract [JWTSubject](https://github.com/tymondesigns/jwt-auth/blob/1.0.0-alpha.2/src/Contracts/JWTSubject.php) in your user model and that's it.

[2016-07-19 00:53] archie20 commented on #787
I seem to have the exact same problem. Im

[2016-07-19 09:34] masingacom commented on #797
@chmoelders thank you

[2016-07-19 09:34] #797 closed

[2016-07-19 17:26] djordn commented on #763
Hello!
Now its everything ok.
Thanks for spent time.
I hope to contribute to project soon.

[2016-07-20 08:14] tyteen4a03 opened #798 "Dependency conflict with google/clientapi v2"
`google/clientapi`'s [composer.json](https://github.com/google/google-api-php-client/blob/master/composer.json) requires `phpseclib/phpseclib` to be `~2.0` but the latest stable release of jwt-auth uses `namshi/jose` 5.0.\* which requires `phpseclib/phpseclib` to be `~0.3`.

Is it possible to update the 0.5 branch to use jose 7.0 to avoid this dependency conflict?

[2016-07-20 08:24] chmoelders commented on #798
Hi @tyteen4a03,

be careful with namshi/jose:7.0 !

Have a look at my [comment](https://github.com/tymondesigns/jwt-auth/issues/783#issuecomment-233121249). Decoding/encoding in namshi/jose:7.0 is a little bit different.

[2016-07-20 11:21] harveyslash commented on #752
@tdhsmith , thanks for the diagram!
What I am doing at the moment , is , inside JWTAuth's authenticate function , I am preventing the library from  calling byId(). This is what the function looks like now:

[code]

Is there anything crazy wrong with this approach ?

[2016-07-20 11:47] mattmcdonald-uk opened #799 "AuthenticateAndRenew middleware doesn't use refresh flow"
The AuthenticateAndRenew middleware looks to authenticate a token and refresh it, combining the Authenticate and Refresh middleware.

But this doesn't work when a token has expired but can still be refreshed because it doesn't use the refreshFlow.

Should it not be allowing this in the same way the Refresh middleware would allow this?

[2016-07-20 11:53] mattmcdonald-uk commented on #799
Alternatively - if that is as intended - then my issue instead would be why the Refresh middleware (in develop branch) doesn't set the User as the other middleware do (it never seems to make a call to byId so setUser is never invoked).

[2016-07-21 02:33] tyteen4a03 commented on #798
This is a new system so I should be OK. Thanks for the heads up.

[2016-07-21 03:30] tdhsmith commented on #798
Have you tried forcing jose 7.0 in your project? I don't know for certain, but I suspect the signatures of the methods that jwt-auth uses are unchanged between the versions, so you can probably get away with doing it in your own project.

As @chmoelders points out, the change invalidates existing tokens, so it shouldn't be applied to 0.5 without careful planning or a warning for users. (And in gen

[2016-07-22 14:20] Phillys commented on #737
Refreshing of tokens works inconsistently for me too. The first refreshed token from the `RefreshToken` middleware always works but then sometimes the second request fails. Any ideas?

[2016-07-22 14:23] jeslomo commented on #737
Hi!

The problem is that the middleware add in blacklist the new token. This problem has been correctly in alpha version.

What version are you using?

[2016-07-22 14:25] javisperez commented on #737
Well... i had this problem and in my case, my problem was that i had parallel requests, so when the first ended, the token was invalidated and the second request failed. My solution was to set a grace period (of about 1 minute i think) for expired tokens and that solved all my problems. There's a grace-period key in the JWT config file.

Hope this helps!

[2016-07-22 14:36] Phillys commented on #737
I'm using 0.5.9. Will the bug be fixed in this version?

My requests which hits the `RefreshToken`middleware do not occur asynchronously since they is chained with promises.

[2016-07-22 16:04] oleghmelevschi commented on #798
Same problem here.
I updated the "tymon/jwt-auth" to the "1.0.x-dev" version with "google/apiclient": "2.*".
It's works. In the config/app.php i changed the provider for the Tymon\JWTAuth\Providers\LaravelServiceProvider::class, but now i have this error: "Class Tymon\JWTAuth\Providers\JWT\NamshiAdapter does not exist"

May be a small doc for the alpha version will help?

Tnx!

[2016-07-24 01:51] maojindao55 opened #800 "How to implement JWT for ban multi login?"
Such as, A device login, get  A-token;
and later B device login, get B-token;
I except that then A-token invalidate, force A logout.
 How can I implement it?

[2016-07-24 18:43] matthewbdaly opened #801 "Invalidate all tokens for user"
Is it possible to invalidate all of a given user's tokens?

I have a scenario where I'm building a REST API for a dating app that requires the facility to blacklist users. I can deny them the ability to log in again and create messages, but I haven't yet found a way to immediately invalidate all their tokens. I can't find a method of doing this in the wiki.

[2016-07-25 02:58] ahmadazimi opened #802 "Add exception for token_not_provided"
Is there any idea to add an exception for `token_not_provided` error, so developers can handle it and pass their custom message?

[2016-07-25 09:45] kennj2016 opened #803 "how to add auto token in using ajax"
if using "GET" methods then no matter what happens. However, if using "GET" methods, error token_not_provided"

[2016-07-25 10:14] #803 closed

[2016-07-25 14:19] ynixt opened #804 "Invalidate other token from current user"
It's possible get all tokens from the current user with a purpose of invalidate one of them?

When I've a valid token in my "Device 1", I've need to, sometimes, disconnect a "Device 2" that belongs to the same account that "Device 1" belongs, but consumes a different token.

I searched in wiki and I read another issues, but I can't find something that help me.

[2016-07-25 14:24] chmoelders commented on #783
It looks like we need an update-strategy.
Any ideas?

[2016-07-25 16:39] Errvald opened #805 "Token not authenticating"
I'm creating the token like this:

[code]

When trying to authenticate the token:

`$user = JWTAuth::parseToken()->authenticate();`

returns `False`.

[2016-07-25 17:16] Errvald commented on #805
I assume it only works with a ``User`` object, I managed to get the payload by doing:

[code]

I couldn't find ``getPayLoad()`` in the documentation.

[2016-07-25 17:16] #805 closed

[2016-07-25 23:03] Deleugpn commented on #206
I'm currently facing this issue with both `Codeception` and Laravel Tests powered by PHPUnit. Both methods (?token and HTTP Header) does not work. Codeception `$I->amBearerAuthenticated` also gives "Could not parse token from the request".

The only way I was able to put a **band-aid** on it was creating a middleware and setting it to all my routes in the `Kernel Middleware` attribute.

[code]

I

[2016-07-27 07:50] prashantidealittechno opened #806 "How to expire all old tokens and generate new token?"
Hello,
In my application for iphone and android I am using JWT auth in rest API.
In case if any user login into any other device I want to make him logout from previous device.
The most easy way to do that is expire the old token and generate new one.

I wrote some code in Login to check and authentication of user email and password than I expire all the old token it expire the new one also.

Is a

[2016-07-27 07:56] prashantidealittechno commented on #801
I have the same scenario to invalidate the old token after generate new token, Me too do not found any solution do you find something?

[2016-07-27 08:01] prashantidealittechno commented on #618
How you used code, when I run JWTAuth::invalidate() it invalidate the currently generated code.
Thanks

[2016-07-27 16:16] copiersonsale commented on #179
@jrmadsen67 Quick fix for Lumen, it's in `bootstrap/app.php` not in `app/config.php`

[2016-07-27 16:17] JillzTom commented on #179
Quick fix for Lumen is in `bootstrap/app.php` not in `app/config.php`

[2016-07-27 23:50] martimarkov commented on #781
@Mylo-92 How did you solve this exactly?

[2016-07-28 13:10] bkolicoski opened #808 "RefreshToken is prematurely blacklisted"
When using the 1.0.0-alpha.2 version of the RefreshToken with the "jwt.refresh" the token is first refreshed and then it is being checked for the next request. This result in the current token being blacklisted by the refresh() call and not proceeding to execute the request.

[code]

should be:

[code]

[2016-07-28 16:07] tdhsmith commented on #808
Where isn't it proceeding? Sure it gets blacklisted, but that doesn't stop in the try-catch and it should still execute everything...

The timing of this middleware was a deliberate change from 0.5->1.0. If the check goes after `next` you can end up running actions that are unauthorized before hitting an exception.

[2016-07-28 18:30] timbroder commented on #758
@andreliem I handle this in my integration tests by retrieving a user from the db in my test's setUp and then using that token.

You are talking about Unit Tests so this feels dirty, but might be a good temporary workaround

[2016-07-29 11:27] bkolicoski commented on #808
I'm using the "jwt.refresh" middleware on the route to check if the token sent is being valid but that only executes on getting the next request. If the next request is taken after the token is refreshed, the middleware sees the token as blacklisted and it is not executing it.

If the request is taken first, token passed from previous request is valid, next request is taken and then the token is b

[2016-07-29 17:27] jafaronly commented on #403
I had the same problem , even if you fix it in your own way maybe some one else make use of how I

[2016-07-31 07:57] paramadharmika commented on #186
You can use setup a route on your laravel project and use default 'jwt.refresh' middleware on that route.
The new token itself will on the authorization header of the response, i.e

These step will be something like below:
1. `Route::post('api/refresh', ['uses' => 'APIAuthenticateController@refresh', 'middleware' => 'jwt.refresh']);
`
2. Call the refresh token url: i.e on my local environment look

[2016-07-31 10:07] doncabron commented on #789
I run into the same problem. I successfully created a token but I can't authenticate against it. It might have to do with the slash in the `iss` field. Is there any workaround, as this is getting frustrating. I'm using the 1.0.0-alpha2 and through that JOSE 0.7.*

Thanks a lot for your help...

[2016-07-31 21:48] mtpultz opened #810 "Laravel 5.3-dev Support"
Trying to install JWTAuth into a Laravel 5.3-dev install, and installation is prevented due to dependency on illuminate/contracts.  I can always jump down a version of Laravel, but since it is being released now that Laracon is over thought it was worth putting on the issue queue.

[code]

[2016-08-03 13:33] gin1314 opened #811 "no json output for manually generated token"
Hi, I've been trying to generate a token based on a given data, like the given code below

`class UserController extends Controller
{

    /**
     * route: /api/users
     */
	public function index()
	{
        $payload = JWTFactory::sub(123)->aud('foo')->foo(['bar' => 'baz'])->make();

        $token = JWTAuth::encode($payload);

		return response()->json(compact('token'));
	}`

however im getti

[2016-08-03 17:03] tdhsmith commented on #811
`compact('payload')` would generate a result in the form `'payload' => $payload`; there would be no key named `"token"`. Are you sure this is the code you're running?

Why have you come to this conclusion? Are there some characters that work and some that don't?

[2016-08-04 04:52] gin1314 commented on #811
Thanks, yeah, sorry I mean `compact ('token')` , edited now, tried on var dumping the `$token` and im getting a random string as expected.

[2016-08-04 11:06] gin1314 commented on #811
Got it, im plugging a `Tymon\JWTAuth\Token` object directly to an array value, it should be this
way:

`$token = JWTAuth::encode($payload)->get();`

to return a token as a string.

[2016-08-04 11:06] #811 closed

[2016-08-04 11:28] prime-ralph commented on #786
Can I ask you to close this issue if you've got it working? To help those that are searching for solutions as well.
Almost missed this because I checked the closed issues first, and others might do the same.

[2016-08-04 13:08] hfuccillo opened #813 "Remove custom claims"
I'm adding a custom claim like this: JWTAuth::fromUser($user, ['imp'=>$authenticated]);

How can I remove this custom claim?
I try this: JWTAuth::fromUser($user, []); but it doesn't work. It still getting an 'imp' in payload

Any ideas?
Thanks

[2016-08-04 14:07] ishankhare07 commented on #811
this should be specified in the wiki as well

particularly [here -> Creating a Token based on anything you like](https://github.com/tymondesigns/jwt-auth/wiki/Creating-Tokens#creating-a-token-based-on-anything-you-like)

[2016-08-05 06:10] setkyar opened #814 "Token Invalid Error"
I use Laravel **5.1** with jwt-auth **^0.5.9** .

After I got token value then I make get request as **?token=value**, i got `{"error":"token_invalid"}` in the every request.

The following is my route

[code]

The following is how I create token

[code]

[2016-08-05 14:30] lukeed commented on #814
Same. Strong suspicion this package has been neglected.

[2016-08-05 17:25] #810 closed

[2016-08-05 17:26] tymondesigns commented on #814
have you tried verifying the token on jwt.io aswell ?

@lukeed Nope just not been very active lately

[2016-08-05 17:28] lukeed commented on #814
@tymondesigns My token is created from a User record, and immediately considered invalid. Extremely basic implementation; there's not even blacklisting enabled.

[2016-08-05 17:49] tymondesigns commented on #814
could you try the following code in your routes

[code]

This will allow the exception to bubble up and expose the true error

[2016-08-06 06:29] spc324 opened #815 "How do not use the default guard, because the default Guard does not require token Api?"
How do not use the default guard, because the default Guard does not require token Api?
I set the jwt config file user='App\Member', but the default is to match the Default under the Guard Auth.php

[2016-08-06 17:59] HanSon commented on #179
+1 @jrmadsen67

[2016-08-07 10:57] antonioreyna commented on #503
Hi, i dont see this method on my version, i have the "version": "0.5.9", how can i get this version?

[2016-08-07 16:18] ratul0 opened #816 "Authentication - wiki page fix for laravel 5 route middleware"
I fix the wiki page for laravel 5 route middleware in Authentication page.

Here is the repo:

 https://github.com/ratulcse27/jwt-auth-wiki

you can review my changes and merge them in.

[2016-08-07 21:44] antonioreyna commented on #503
can you please add that method to the current master @tymondesigns thanks!

[2016-08-07 23:49] jaymoh commented on #229
@SuperlativeEntity you just me from crushing my laptop...

[2016-08-08 04:58] whoan commented on #773
I solved the same problem clearing the config cache:

    artisan config:clear

[2016-08-08 07:17] antonioreyna commented on #280
I find it useful because for example now i need to send an appkey in the token that appkey is a hash that then i look into the database to get a real signature this is to allow my jwt login accept different apps linked to my api each app with its own secret.

I was able to sign the jwt with a different secret.

[2016-08-08 13:32] hauthorn commented on #792
Do you mean to use two different Models? Like a `User` model and a `Admin` model?

[2016-08-08 15:26] johannesschobel commented on #816
You need to make a pull-request in order to get your changes merged

[2016-08-08 15:30] johannesschobel opened #818 "Status V1.0 Stable"
Dear @tymondesigns and Contributors,
first of all, I would like to thank you for your **awesome** package. I really appreciate the effort you have put into your work!

I just wanted to ask, if there are is a relase-date for the stable 1.0 version?

Thanks a lot and cheers

[2016-08-08 20:11] feeekkk commented on #816
@johannesschobel I thought Github doesn't support PR's for wiki's though?

[2016-08-08 22:48] briscula commented on #802
+1

[2016-08-09 00:11] mtpultz commented on #792
@pankajidealittechno you'll need to add what version of the JWT Auth you're using since there is a 0.5.x version and a pseudo-stable development version, and on top of that whether you're using JWTAuth or JWTGuard if you're using the development branch.

If you are using the JWTGuard in Laravel 5.2 it should be as easy as setting up the auth.php configuration to have the right guards something lik

[2016-08-09 06:03] johannesschobel commented on #816
I am sorry, you are right! Forking a repository on github only clones the _main_ repository, but not the _wiki repository_. My bad!
I think, it works on BitBucket though ;)

[2016-08-09 08:58] majomix opened #819 "Parallel requests - random Token Signature could not be verified"
Hello,

I'm running latest version of jwt-auth (tymon/jwt-auth dev db99bbf5c54c9792286244096c46781fae2e3b67, namshi/jose 7.2.1) and got into some strange problems. I'm using HS256 and I'm randomly getting TokenInvalidException: Token Signature could not be verified at Tymon\JWTAuth\Providers\JWT\Namshi->decode('eyJ0eXAiOiJKV1Q...').

What I mean by randomly is that I can make 300 consecutive reque

[2016-08-09 13:26] dmodaii opened #820 "delete jwt token"
how to delete token after logout or other condition?

[2016-08-09 16:15] andreliem commented on #758
@timbroder Thanks, I do the same thing as well. I often find that integration tests are more useful for controller testing than unit tests... might just be me but I find I'm hardly testing anything when I do unit tests on controllers.

[2016-08-09 16:15] #758 closed

[2016-08-10 09:00] nhaarman commented on #813
Why is there even any state at all in a factory?

[2016-08-10 09:00] nhaarman commented on #769
Why is there even any state at all in a factory class?

[2016-08-10 12:11] mariaczi commented on #808
Hello,

I think I have similar issue. Similar behavior like @bkolicoski
When I login (vue front end), I am getting token, then it is going through one request, getting refreshed token back and then there is new token attached to next request, but it is throwing `invalid_token` exception.

This is code of function where I am checking token (stored in cookie etc):
[code]

Both - first and second req

[2016-08-10 12:18] bkolicoski commented on #808
@mariaczi I ended up using "jwt.renew" instead of refresh and it seams to have solved the issue for me.

It does have similar logic as "refresh" so I'm not sure what is the difference between both and when each should be used. Maybe someone can add more input on this?

[2016-08-10 13:02] mariaczi commented on #808
@bkolicoski hopefully @tymondesigns can sort it out, as it would be perfect to secure routes just with `jwt.refresh` and have them secured with JWT checking and with token refreshed after every request to increase security. For this moment I've switched over to just jwt.auth to not waste my time, but all logic in frontend(Vue) is prepared to consume refreshed tokens on every request.

[2016-08-10 14:02] hfuccillo commented on #813
Hi Niek, sorry I don't understand your question. I'm just asking how can I
remove a custom claim that was previously added.
Is my question clear enough?
Thanks!

El mié., 10 ago. 2016 a las 6:00, Niek Haarman (<notifications@github.com>)
escribió:

[2016-08-11 10:26] majomix commented on #819
Update: I tried to reproduce the problem. I ran Postman Runner with 1000 consecutive requests to the same API with the same token, all of them ran fine. Then I tried running 3 parallel instances of Postman Runner with 1000 consecutive requests and results were consistent, 50-60 failures out of 1000. I really only have basic setup, first tried AuthenticateAndRenew then Authenticate flow but they be

[2016-08-11 13:29] wipflash opened #821 "Getting invalid credentials"
I have always getting invalid credentials error. after calling to API. but using postman it is working properly. I have used [guzzle/guzzle](https://github.com/guzzle/guzzle) pakage.

Here is my code

[code]

Here is my API codes

[code]

Error occurred on  ```!$token = JWTAuth::attempt($credentials)``` line. And my password are encrypted.

[2016-08-11 20:17] mariaczi opened #822 "How to get current user data inside controller method?"
Hi,

It's probably somewhere in issues but I can't find it... it's a shame that it's not in Docs. (to be honest it's great package but Documentation... )

All my API methods are under `jwt.auth`.
How can I access user who makes current request inside controller method ?

[2016-08-11 20:27] mtpultz commented on #822
If you're using 0.5.9 look at JWTAuth class for a method that identifies a user through the subject claim, if you're using the develop branch JWTAuth class has the same method, and if you're using develop branch and guards for Laravel 5.2 then JWTGuard class has a method to get the user from the token.

[2016-08-11 23:38] ezdata commented on #773
I can verify that, as @mjbillings noted, running the commands in PHPStorm's terminal window is the culprit. Once I ran it from a regular terminal window, the missing config file magically appeared.

[2016-08-12 08:28] laxx commented on #792
@mtpultz first off all, i've been battling with JWT as a whole for 3 days now so pardon me if I sound frustrated. Let me just give you a background to my problem, how i'm trying to achieve it and what i've done so far. Also keep in mind this is my first laravel project so i might not fully understand some of the concepts yet.

PROBLEM
-----------
I'm developing an application using laravel 5.2 whi

[2016-08-12 09:00] mtpultz commented on #792
Hi @laxx, have a look at https://github.com/tymondesigns/jwt-auth/issues/513#issuecomment-186087297 and see if you can setup the guard how the "guide" indicates.  With the guard you'll be using the jwt driver not the session, which you'll see outlined in the "guide".

Hope that helps

[2016-08-12 09:32] johannesschobel commented on #822
To be more precise, with 0.5.9 just call:
[code]
Be sure to send a ```?token=yourToken``` with the request

[2016-08-12 09:35] mariaczi commented on #822
I am sending token with headers as it's more elegant way.

2016-08-12 10:32 GMT+01:00 Johannes Schobel <notifications@github.com>:

[2016-08-12 10:05] dmodaii opened #824 "how to delete token or make it expried"
while user logout ， I need to delete  his token or make it expried，but how？

[2016-08-12 11:39] laxx commented on #792
ok thanks for the response. So its safe to imagine that most if not everyone that's been using the JWTAuth has used the session driver? Also just figured that out and switched the driver from token to session and everything is working fine. What is the main difference from the session driver and jwt (guard) driver?

[2016-08-12 11:42] laxx commented on #792
Also quick question, ever encountered where calls to compact('user') return {} where $user = JWTAuth::parseToken()->authenticate(). I get the proper model if I use JWTAuth::parseToken()->fromUser(). Also JWTAuth::parseToken()->getToken() returns {}. However a dd() on any of those two calls would display the object

[2016-08-12 16:22] #824 closed

[2016-08-12 16:22] #820 closed

[2016-08-13 02:47] ricoa commented on #189
It works for me too! @oldskool73

[2016-08-13 05:55] laxx opened #825 "Conflict with config field (user => 'App\User') when trying to using jwt-auth for multiple models"
So I have a scenario where I'm building an app which is one part Admin and one part API. So i've decided to use the default 'auth' middleware for the admin routes while i'm using the jwt-auth for my API. So on a side note I was just wondering what if I want to use the jwt-auth to authenticate both portions of my routes by creating custom providers, the JWTAuth::Authenticate() uses the settings in

[2016-08-14 06:54] aminNazarii commented on #394
in the laravel 5 or higher
/bootstrap/autoload.php
add this line to this file

ini_set('xdebug.max_nesting_level', 120);

[2016-08-14 08:14] bpongvh opened #827 "AuthManager Exception"
Not sure what I'm missing here. I've set token auth up by the instructions in the wiki. Here's the authentication function I'm using:

    public function postLogin(Request $request)
    {
        // grab credentials from the request
        $credentials = $request->only('email', 'password');

        try {
            // attempt to verify the credentials and create a token for the user

[2016-08-15 23:59] bpongvh commented on #827
Irrelevant now :) Implemented Laravel 5.2 native stateless auth as detailed here:

[Feature: Laravel 5.2 Custom Authentication Guard ...](https://github.com/tymondesigns/jwt-auth/issues/513)

[2016-08-15 23:59] #827 closed

[2016-08-16 12:22] akptp commented on #53
Hi,

Please follow the instruction at https://github.com/tymondesigns/jwt-auth/wiki/Installation

it worked for me after changing config/app.php aliases from

 'JWTAuth'   => Tymon\JWTAuthFacades\JWTAuth::class,
to
 'JWTAuth' => 'Tymon\JWTAuth\Facades\JWTAuth',

[2016-08-17 11:19] mariaczi commented on #822
Is there any way to improve middleware JWTAuth to make $user available from controller without calling this method every time ?

[2016-08-17 11:39] johannesschobel commented on #822
You can write your own `AuthenticatedController` and let all other controllers extend from this one. Inside the `__construct()` method of the `AuthenticatedController` you can set the `protected $user` variable!

I would not recommend adding `logic` to the middleware. The middleware should - at least in my opinion - just check the requests!

[2016-08-17 13:51] ranaclyde opened #829 "How to use jwt auth to blade template in Laravel?"
Hello, I dont know how pass the token to the view from the controller.
Can somebody help me?
Thanks

[2016-08-17 20:17] rlander commented on #824
@dmodaii did you find a way do invalidate a token?

[2016-08-18 02:03] kristoff2016 opened #830 "How to return user Data with token ?"
I want to return json data below after logged success Please help me how to do this ? thank you
{
  "id": 1,
  "name": "Manith Jupiter",
  "token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9"
  "profile": "images/avatar.jpg",
  "email": "test@gmail.com",
  "contact": "1223344",
  "created_at": "2016-08-11 07:54:49",
  "updated_at": "2016-08-13 08:29:27"
}

[2016-08-18 04:02] kristoff2016 commented on #830
I done with it

[2016-08-18 04:02] #830 closed

[2016-08-18 05:32] kharysharpe commented on #684
Ran into this issue as well.
Regenerate the config file, as the latest version has changed.

[code]
Remove the old one first or use --force

[2016-08-18 12:30] strugglezhang commented on #731
I need help

[2016-08-18 12:32] strugglezhang commented on #731
please help me!!

[2016-08-18 16:27] eastonqiu commented on #800
I have the same problem, anybody help?

[2016-08-19 02:04] leepin opened #831 "how to refresh a token ? The token has been blacklisted ?"
Hello , I use Lumen framework (Version 5.2 , JWT version 1.0 )

I get a token , but i can't refresh it , the system tell me "The token has been blacklisted".

I am sorry,my english is very bad.

thanks for your help.

Route:
[code]

Sign in
[code]

refresh:

[code]
Auth Service Provider
[code]

[2016-08-19 06:23] leepin commented on #640
@kbchandiran Hey, how did you solve the problem? Can you please share?

[2016-08-19 11:30] trousers commented on #176
I had this error after setting the TTL to null

[2016-08-20 03:56] ramal-ratne commented on #184
Hello guys,

I would like to share so that others can save a lot of time.

I was using postman to test the api.   The password I entered in the form is not the one being sent to the server.

Postman had cashed an earlier password I used and using that to register the user.  So when I tried to log on, it failed all the time.

cheers

[2016-08-20 04:58] eddnav commented on #776
Please link this issue on the wiki, it can save people a lot of time.

[2016-08-21 21:01] andjelicsasa opened #832 "Custom claims transfered to a new token"
Hi,

I am trying to use a custom claim for impersonation possibility without using the session.

So, the new token is generated in the following way on impersonation request:
`$newToken = JWTAuth::fromUser($user, ['impersonating' => $id]);`

This all works well. I can get the value normally and override the logged in user within the middleware accordingly.
The problem is when I want to stop impers

[2016-08-22 03:30] ToBeEngineer commented on #801
This is something you would need to implement yourself. See #300

[2016-08-22 04:22] leepin commented on #831
I have solved this problem. I removed `jwt.refresh middleware` then i using `JWT Manager` to refresh my token. It's is work for me.

[2016-08-22 04:22] #831 closed

[2016-08-23 12:25] dazza041 opened #833 "Authentication - JWT::attempt extension"
I've started using JWT auth for token based authentication, and wondered if its possible to only authenticate a user if they're verified or by another set of database fields?

Does JWT auth support this? Or do I need to write an extension myself?

[2016-08-23 16:00] Arkanius opened #834 "Use JWT with uuid"
Is there a way to use JWT with uuid ? My users table has a "id" field but this field isn't int but uuid (char 36).
When I try to get the user by token (JWTAuth::toUser) using uuid (char 36) as my id field type, I get "user_not_found" error; but when I use int as my id field type I get the user correctly.

Is there a way to fix it ?

[2016-08-23 19:06] JimmyHavenith commented on #394
I had the same error when I wanted add an element in a migration .. " ini_set('xdebug.max_nesting_level', 120); " has fixed my issue but I wonder what the problem ? An idea ? ^^

[2016-08-24 14:02] ddctd143 commented on #834
jwt.php file has config attribute for that.

[code]

and can be changed to your custom storage field.

[2016-08-24 14:29] ddctd143 commented on #829
why do you need JWT authentication if you are using server side page rendering ?
Just use laravel default built in authentication functionality.

https://laravel.com/docs/5.3/authentication

[2016-08-24 16:41] Arkanius commented on #834
Yes, but in this case my identifier still is "id". I just changed the type of"id". This isn't a int anymore but char.

I tried to change:

'identifier' => 'uuid',

but still not working.

Any way to use "id" with other type (like char) and not int ?

[2016-08-24 19:17] ddctd143 commented on #834
Looks like then you need to write your own custom authentication or user adapter.

In config there is lines:

        'user' => Tymon\JWTAuth\Providers\User\EloquentUserAdapter::class,

        'auth' => Tymon\JWTAuth\Providers\Auth\IlluminateAuthAdapter::class,

which can be swapped with your own auth or user implementations. I did that to use JWT with Sentinel package functionality, but I can't

[2016-08-25 14:29] ghprod commented on #793
have you solve it?

[2016-08-25 14:53] Arkanius commented on #834
Thank you! I will try then

[2016-08-25 14:54] ghprod commented on #772
@luisdalmolin, could you share your test code?

thanks

[2016-08-25 15:27] mariaczi opened #835 "Tymon - Are you going to maintain this package or not?"
It's really long time since any updates.
@tymondesigns  - Are you going to maintain this package anymore?

[2016-08-25 16:37] mtpultz commented on #835
There have been tons of updates, but you need to use the develop branch until the 1.0 release is official.  Develop contains the  new JWTGuard specific to Laravel 5.2+, which is great and though the wiki isn't up to date regarding the develop branch the community has posted wiki-like instructions on how to set it up for Laravel and Lumen.

[2016-08-25 16:55] mariaczi commented on #835
What to change in composer?

czw., 25 sie 2016, 17:37 użytkownik Martin Pultz <notifications@github.com>
napisał:

[2016-08-25 18:11] luisdalmolin commented on #772
In most tests, I just enabled the middleware and it worked.

But in some tests, I had to do this in some controllers:

[code]

It's not the ideal but it's better to have this and a test that really test something.
Hope it helps.

[2016-08-25 19:35] mtpultz commented on #835
Add this to composer:
"tymon/jwt-auth": "dev-develop"

And then you can read this post if you're using Laravel 5.2:
https://github.com/tymondesigns/jwt-auth/issues/513

If this helps then please close the issue.

[2016-08-25 19:53] mariaczi commented on #835
Should I then replace

`Tymon\JWTAuth\Providers\JWTAuthServiceProvider::class,`
With ` Tymon\JWTAuth\Providers\LaravelServiceProvider::class` ?

From: Martin Pultz [mailto:notifications@github.com]
Sent: Thursday, August 25, 2016 8:36 PM
To: tymondesigns/jwt-auth <jwt-auth@noreply.github.com>
Cc: Mariaczi <marekurbanowicz@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [tymondesigns/jw

[2016-08-25 20:16] myagentfinder commented on #834
is the uuid the primary key on your user model?

[2016-08-25 20:17] shalomabitan commented on #834
is the uuid the primary key on your user model?

[2016-08-25 21:01] Arkanius commented on #834
Yes!

[2016-08-25 21:06] shalomabitan commented on #834
Perfect, so here is what i've done and it works perfects.

in `App\User` I made sure to set my primary key as follows

    /**
     * [$primaryKey description]
     * @var string
     */
    protected $primaryKey = 'db_column_name';

[code]

Now when you get your JWT token using the example in this repo and then plug it into jwt.io with your hash and you should see that your "sub" is the uuid sinc

[2016-08-25 22:35] mtpultz commented on #835
That post is for a clean install of Laravel 5.2 I think if you follow that post you'll find all your questions will be answered regarding setting up JWTGuard within Laravel, but yes the post indicates you need to change the provider.

[2016-08-26 02:47] Arkanius commented on #834
@shalomabitan Yes! I tried this but still isn't working. It worked for you ?
In my case seems that the problem occurs when the length of my "id" is bigger then ¨9".

When I try to use uuid it doesn't works, but when my id is int with length minor or equals 9 (like 11111111) then works fine, but when that length is bigger (like 1111111111) JWT doesn't get the right user with _JWTAuth::toUser_ metho

[2016-08-26 08:30] mariaczi commented on #513
Hi,

I don't know what I am doing wrong, but  I am handling register,login,logout in User Controller. I am using Laravel 5.3.

I have two issues:

**First issue**
I did copy AuthenticateUsers::login to UserController and changed it to
[code]

`$this->validateLogin`  and all others of course does not exist. What should I do?

**Second issue**
In User model I have following code:
[code]

Authenticab

[2016-08-26 08:31] #835 closed

[2016-08-26 09:01] ghprod commented on #772
@luisdalmolin Thanks a lot for your reply :)

[2016-08-26 13:09] diegocaprioli commented on #186
I'm stuck with a Laravel 4 project and I'm having this issue as well, with the version 0.4.3 of this package.

I'm trying the solution suggested by @kylestev on Aug 23, 2015, and I added a refresh-token endpoint:

[code]

[code]

And I'm getting this dump /  exception:

[code]

I'm not sure if I'm doing something wrong here, or this is still an issue on 0.4.3? Anyone can give some help here?

[2016-08-26 23:13] mtpultz commented on #513
Hi @mariaczi, so this post is really for Laravel 5.2 since 5.3 was only released 3 days ago, but that said it should probably be updated for 5.3 so if I have time I might drop something in this weekend since I have a new project that needs to be started up.  That said the gist is the same you have a token and you need to get it to the client so hopefully these points might help:

1. You're moving

[2016-08-27 00:32] shalomabitan commented on #834
okay, so I set up my user model as follows. Perhaps you're missing something. Also, what version of laravel you using?

[code]

[2016-08-27 06:26] mariaczi commented on #513
@mtpulz I and probably others would be really grateful if you would find time for complete tutorial for 5.3 to let understand it correctly as 5.3 changed some main ideas behind.

[2016-08-28 00:17] elainexinxin opened #836 "Getting more done in GitHub with ZenHub"
Hola! @elainexinxin has created a [ZenHub](http://www.zenhub.com) account for the **tymondesigns** organization. ZenHub is the only project management tool integrated natively in GitHub – created specifically for fast-moving, software-driven teams.

---
#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.com?utm_source=Z

[2016-08-28 14:50] juavidn commented on #422
Hi, Im using the 1.0.0-alpha1 version and same route test behind jwt.check Auth::guest always return true, can you please help me, I need a route that supports guests and authenticated users .. thank you so much

[2016-08-29 14:53] Arkanius commented on #834
@shalomabitan I'm using 5.2 version. Ok! I'll try again tonight, and I will post the result! Thanks

[2016-08-30 02:41] Arkanius commented on #834
Thanks @shalomabitan  and @ddctd143 it worked now!

The problem was the keytype. I was using the default (int), and now I just changed the property $keytype to char and worked!

`protected $keyType = 'char';`

Thanks!

[2016-08-30 02:41] #834 closed

[2016-08-31 19:56] jelkevdh opened #839 "Laravel 5.3 exception with TokenGuard"
Hi,

Since I upgraded to laravel 5.3 I get an FatalErrorException using this package. Is this a known issue?
It's using the TokenGuard and that class does not have the once method (see below)

Thanks,
J. van der Horst

[2016-08-31 21:42:59] local.ERROR: exception 'Symfony\Component\Debug\Exception\FatalErrorException' with message 'Call to undefined method Illuminate\Auth\TokenGuard::once()' in /v

[2016-09-01 08:33] prewk commented on #798
Has anyone been able to solve this properly for the `0.5` branch? We're stuck in not being able to use `google/clientapi` v2 at all, and upgrading to `jwt-auth` alpha without docs is not an option.

[2016-09-01 08:44] tyteen4a03 commented on #798
@prewk As a workaround, you can force composer to install jose 7.0 and make it look like 5.0.

Put this line in your composer.json: `"namshi/jose": "^7.0 as ^5.0"`

[2016-09-02 05:47] cariboufute commented on #814
Hi, I have the same problem and used the above code to check the Exception. Here is the error stack. This is normal since ```foo``` doesn't have 3 dot-separated segments.

[code]

However, when I use a real token produced by the login method given as example here,

[code]

... I have this error stack.

[code]

[2016-09-02 05:53] cariboufute commented on #814
I just noticed that I was missing the JWT secret key, since I changed computers! That is why I had this error and the token was invalid. Adding the key with ```artisan jwt:generate``` solved this issue.

@setkyar, @lukeed : please try this and check if it solves your issue too.

[2016-09-02 05:56] setkyar commented on #814
I just `$ composer update` and it worked.

[2016-09-03 00:15] dgtal commented on #839
Hello @jelkevdh

I think your problem is due to the _default authentication "guard"_

Check config/auth.php.

[code]

[2016-09-03 15:39] psychonetic commented on #814
I also have this issue. Sometimes I can send 10-20 requests and all works, and sometimes I send 3 requests and I get a token is invalid exception. (The token has a correct signature.)
@tymondesigns I tried to check with

    Route::get('/test', function () {
       return JWTAuth::parseToken()->authenticate();
    });
I got a token blacklisted exception.
Any ideas?

[2016-09-09 04:28] hpaknia opened #841 "Installing in Lumen 5.3"
After taking more than 10 hours, it seems there is no way to install this module in Lumen 5.3. Has anyone installed this package in Lumen 3? Any tutorials?

[2016-09-09 21:16] tsetliff-work opened #842 "Using JWT with no user or equivalent account"
I'm building an API where I need to validate if they are allowed to receive data based on a custom claim in their token.  This API is in Laravel however everything User related was removed as this API does not receive user data. There's also no equivalent.

I just need to generate tokens to make tests pass and decode tokens to verify that custom claim.  Unfortunately everything seems to require a

[2016-09-11 14:55] mattpramschufer commented on #829
I too would like some insight on this.  We have a Laravel app that uses an external API for authentication, we are not creating a single page app or Angular type app, as we are going for separation of the API vs the actual web app.

[2016-09-11 19:18] deepu9 opened #843 "Auth guard driver [api] is not defined."
Hi,
I've installed Laravel 5.3 with Dingo & JWT Auth modules. I've configured both the modules according to their wiki documentation, but I'm still getting the error "**Auth guard driver [api] is not defined.**", when I try to login into the app. Please find my configs below:

**config/auth.php**
[code]
[code]

**routes/api.php**
[code]

Can anyone help me out.

[2016-09-11 19:26] deepu9 commented on #839
Hello @jelkevdh,

You may be having the following configuration:

[code]

then, you will get the above error.

[2016-09-12 18:21] RichardFans commented on #646
so how can server side make clients know if their token is expired and refresh them?
Create a middleware for checking that? use checkOrFail() of JWT class and catch Exception ?
Any suggestion? Thanks.

[2016-09-12 18:32] RichardFans opened #844 "In 1.0.0 alpha3, How can server side make clients know if their token is expired and then refresh them?"
So how can server side make clients know if their token is expired and then refresh them?
Create a middleware for checking that? In there, use checkOrFail() of JWT class and catch Exception ?
Any suggestion? Thanks.
Question from: #646
and I follow handsom mtpultz's guide from #513

[2016-09-13 06:04] RichardFans commented on #844
my solution：
`<?php

namespace App\Http\Middleware;

use Closure;
use Illuminate\Support\Facades\Auth;
use Tymon\JWTAuth\Exceptions\JWTException;
use Tymon\JWTAuth\Exceptions\TokenExpiredException;
use Tymon\JWTAuth\Exceptions\TokenInvalidException;

class Authenticate
{
    /**
     * Handle an incoming request.
     *
     * @param  \Illuminate\Http\Request $request
     * @param  \Closure $next

[2016-09-13 11:39] achiduku commented on #841
This tutorial states Lumen 5.2 but has worked perfectly for me on 5.3

P.s. don't forget to uncomment the AppServiceProvider in your bootstrap/app.php

https://iwader.co.uk/post/tymon-jwt-auth-with-lumen-5-2

[2016-09-13 19:09] mikepsinn commented on #814
Thanks for all your great work, @tymondesigns ! :)

I randomly get a `{"error":"token_invalid"}` response when passing the token to my API via a mobile browser.  Then I'll copy the exact same request from the server logs into my computer's browser and it works fine.  My secret is hard coded and seems fine.  I'm using Laravel 5.1 and tymon/jwt-auth version 0.5.9.

Could a token be invalid if decode

[2016-09-14 08:05] psychonetic commented on #833
As mentioned in the doku: https://github.com/tymondesigns/jwt-auth/wiki/Creating-Tokens you can easily force the token to require more than the basic fields. Just add your fields and change the config to of jwt, so that your custom field is required.

[2016-09-14 08:09] psychonetic commented on #814
@mikepsinn Your issue seems almost the same as my. Do you have this issue only on mobile devices? I get the token invalid exception also on desktop browsers.
The tokens are blacklisted to earlier. As a workaround I disabled the blacklisting. Which works good for now, but I hope there will be a fix soon, although the issue is open since 5. Aug. Maybe I will write my own blacklisting extension.

[2016-09-14 09:51] kylesean commented on #513
@mtpultz  Could you please show me your middleware file, you defined 'middleware' => 'auth:api', I don't know how to use the middleware . I write it like this:
[code]
But it didn't work. Hope you can help me .Thanks.Happy Mid-Autumn Festival

[2016-09-14 12:49] jaydeepesparkinfo opened #845 "Unresolvable dependency resolving [Parameter #0 [ <required> $data ]] in class"
I am having this issue while using doctrine in laravel 5.3 and jwt 0.5

I used doctrine and my entity is in App\Entities\User

I have changed config file of jwt like below
 'user' => 'App\Entities\User',

 'providers' => [
 'user' => 'Tymon\JWTAuth\Providers\User\DoctrineUserAdapter',
   ],

my DoctrineUserAdapter is like below

<?php

use App\Entities\User;
use Doctrine\ORM\EntityManagerInterface

[2016-09-14 14:08] jkirkby91-2 opened #846 "Doctrine Auth for lumen"
Im a bit confused on trying to create and auth driver for JWT-Auth and lumen using laravel doctrine

so far ive registered the service provider in app.php

`$app->register(App\Providers\DoctrineAuthAdapterServiceProvider::class);`

my service provider looks like so

[code]

set my custom driver in jwt.php config

` 'auth' => App\Adapters\DoctrineAuthDriver::class,`

the customer driver looks like

[2016-09-14 14:33] jkirkby91-2 commented on #845
Have you got a service provider like

[code]

[2016-09-14 15:17] mikepsinn commented on #814
@psychonetic Yes, it is only on mobile.  I actually disabled blacklisting yesterday after seeing your earlier comment and haven't seen the issue since, either.  Thanks for the tip! :D

[2016-09-15 02:53] naderst commented on #396
Hi @Vishal0203

How did you solve this? I'm having the same issue, I checked that the client is sending the token and I also checked that the server is recieving it but it's returning invalid token.

[2016-09-15 06:23] jaydeepesparkinfo commented on #133
Thank you so much you made my day.

[2016-09-15 06:48] surinderpalsingh commented on #550
Hi
I'm using v0.5.9 and I'm getting same error with doctrine.

Cannot access private property App\Entities\User::$id

Please help me.

Thanks

[2016-09-15 13:52] jkirkby91-2 commented on #846
my pull request fixes this issue

https://github.com/tymondesigns/jwt-auth/pull/847

[2016-09-15 13:52] #846 closed

[2016-09-16 12:22] icodebuster opened #848 "Laravel 5.3 Global exception handling not working"
I am using `jwt-auth` with `Laravel 5.3`, carried out all the steps as per the wiki pages.
My problem is the global exception handling is not working, when I call an API with invalid token it is not following the  global exception added in 'app/Exceptions/Handler.php'

I need to customize the token related error json output as per my needs. In order to do that I have added some custom code in 'app

[2016-09-16 16:09] RichardFans commented on #848
what version of jwt-auth do you use?

[2016-09-16 16:21] icodebuster commented on #848
I am using, I would like to know a better way to manage custom json error

    "tymon/jwt-auth": "0.5.*"

I tried making a new middleware which is as follows.

    public function handle($request, Closure $next)
        {
            try {
                $user = JWTAuth::toUser($request['token']);
            } catch (Exception $exception) {
                if ($exception instanceof \Tymon\JWTAut

[2016-09-16 18:01] danieldeppe commented on #187
Hey, is there yet a version available with working post parameter token?

[2016-09-17 08:09] icodebuster commented on #848
@RichardFans any comments.

[2016-09-17 14:29] icodebuster commented on #848
Update:
JWT-Auth works with Laravel 5.3 and by creating a custom middleware I was able to customize the JSON output.

[2016-09-17 14:29] #848 closed

[2016-09-18 11:01] RichardFans commented on #848
maybe you should try  1.0.0 alpha3 , see #844

[2016-09-19 09:37] shaljam opened #849 "[Question] Is there a way to invalidate all past tokens for a user?"
Think of the user lost his phone and application working with the token, how is it possible to invalidate the token stored on application? Does changing password have an effect?

[2016-09-19 19:19] mtpultz commented on #513
Hi @kylesean,  I actually don't use JWTAuth I use the JWTGuard in Laravel 5.2+ so I don't have to write any middleware like you are doing.

[2016-09-20 16:16] hesomWela opened #850 "{error: "token_invalid"} when using jwt-auth behind ec2 load balancer"
When I setup my API behind a ec2 load balancer with 2 servers, I start getting some random token_invalid errors when its trying to call endpoints on the different boxes. Is there any setup I need to do to enable multi-server?

[2016-09-21 07:05] Rah1x opened #851 "laravel 5.3 + Tymon\JWTAuth = How to create token with own authentication"
Im building a Restful api, except that I DONT want to use Laravel's User authentication model (instead I use my own).

So im on stuck here:

    $this->jwt_token = JWTAuth::attempt(['email'=>$email, 'pass'=>$pass])

which gives me the following error:

    Type error: Argument 1 passed to Illuminate\Auth\EloquentUserProvider::validateCredentials() must be an instance of Illuminate\Contracts\Auth\A

[2016-09-22 02:18] ChitaGideon commented on #534
Use a trait to capsulate  the necessary change of `Authcontroller` could be nice

[2016-09-22 09:11] bb128b opened #852 "PHPUnit Authorization Header not received"
Been having problems with my API tests. In the test I use an existing seeded User and generate a token and attach this to the Authorization header as "Authorization: Bearer {token}".

On the other end I have a base controller with the following code; which works fine on the app itself.

[code]

When performing a unit test I get the following error.

After some debugging I realised that the HTTP_AU

[2016-09-22 10:58] lukevear commented on #841
@hpaknia Was your issue similar to #843?

If so, feel free to try [this little package](https://github.com/lukevear/jwt-auth-guard) put together on Lumen 5.3 and see if that works for you. If it does please let me know so I can update the documentation to include Lumen installation instructions.

[2016-09-22 10:59] lukevear commented on #843
@deepu9 I had the same issue with Laravel 5.3 that you are experiencing. [This little package](https://github.com/lukevear/jwt-auth-guard) I put together might help you out.

[2016-09-22 11:43] tymondesigns commented on #841
@lukevear not sure if you are aware but this package *does* have a Guard implementation, although not documented just yet. via the [1.0.0 alpha releases](https://github.com/tymondesigns/jwt-auth/releases/tag/1.0.0-alpha.3).

[here it is in the flesh](https://github.com/tymondesigns/jwt-auth/blob/develop/src/JWTGuard.php)

[2016-09-22 11:47] lukevear commented on #841
@tymondesigns Ha! Well that's fun! I did not see that at all (I've only been looking at `0.5.*`). I'll update my package incase someone is stuck on `0.5.*` for whatever reason), and update my code to use the `1.0.0-alpha` releases.

Cheers!

[2016-09-22 15:57] hpaknia commented on #841
@lukevear I ended up with creating my own middleware (and my own middleware decodes received token using jwt-auth methods.

[2016-09-22 21:09] wilcarjose commented on #843
@lukevear I installed you package, any idea about this error: "Call to undefined method LukeVear\\JWTAuthGuard\\AuthGuard::once()"

[2016-09-23 03:32] hpaknia opened #853 "Unable to invalidate tokens with more than 30 days expiration time"
I use memcached as my cache driver. I set ttl to 200 weeks and tried to invalidate my token, but no avail. I traced the code up to here: https://github.com/tymondesigns/jwt-auth/blob/develop/src/Blacklist.php#L73
It seems storing values with an expiration more than 720 minutes (30 days) leads to have an already expired key. I guess we can handle this issue either by adding diif minutes to `intval(

[2016-09-23 05:20] p4scu41 opened #854 "Using with Yii2"
I have used your package with Laravel 5.3 and all ok. I would like to use it with Yii2, Is it possible?

[2016-09-23 05:26] lukevear commented on #843
@wilcarjose Looks like I didn't implement the `once` method in the guard. If you'd like to do it, feel free to send a pull request, or I can do it over the weekend.

Also, as @tymondesigns pointed out, the alpha version of this package do have an auth guard, my package will only work with `0.5.*`.

[2016-09-23 15:54] hpaknia commented on #854
I bet you've searched for yii2 jwt packages. Why don't you use one of them? This package has some issues even with Lumen!

[2016-09-23 16:21] p4scu41 commented on #854
I think this package is really simple and useful, thast why I love it, I found others but them don't have a friendly api and have some issues and aren't flexible

[2016-09-23 16:41] hpaknia commented on #854
I believe If you understand the idea of JWT, then it's nothing more than
[code]
Take a look at: https://github.com/firebase/php-jwt
Also this package https://packagist.org/packages/damirka/yii2-jwt uses  firebase/php-jwt package.

[2016-09-25 06:18] Frandys commented on #376
i am try to get token using only Email but i am get error this one -> Argument 1 passed to Tymon\JWTAuth\JWT::fromUser() must be an instance of Tymon\JWTAuth\Contracts\JWTSubject, instance of App\Model\User given, called in C:\wamp\www\users-project\vendor\illuminate\support\Facades\Facade.php on line 217 and defined

i am using this code to Get token ->
  $user=User::where('email','=','abc@gmail.

[2016-09-25 06:22] Frandys commented on #260
i am try to get token using only Email but i am get error this one -> Argument 1 passed to Tymon\JWTAuth\JWT::fromUser() must be an instance of Tymon\JWTAuth\Contracts\JWTSubject, instance of App\Model\User given, called in C:\wamp\www\users-project\vendor\illuminate\support\Facades\Facade.php on line 217 and defined

i am using this code to Get token ->
$user=User::where('email','=','abc@gmail.co

[2016-09-26 14:55] deepu9 commented on #843
Thanks to all for helping me out.

[2016-09-26 15:34] mabasic commented on #841
Hi, I have written a lesson on getting this package working with Lumen 5.3 on my website [JSON Web Token Authentication for Lumen REBOOT](https://laravelista.com/lessons/json-web-token-authentication-for-lumen-reboot)

[2016-09-26 15:35] mabasic commented on #513
Hi, I have written a lesson on getting this package working with Lumen 5.3 on my website [JSON Web Token Authentication for Lumen REBOOT](https://laravelista.com/lessons/json-web-token-authentication-for-lumen-reboot)

[2016-09-27 04:01] Yanniyiyi commented on #341
It works fine with Laravel 5.3. My problem is that my post request does not contain 'email' attribute. So maybe you can check your post request

[2016-09-27 14:29] ahm-hossein opened #859 "token not provided only when token have custom claims"
Hi, I have a weird  problem with jwt that when I add some custom claims to the token's payload the jwt middleware start to send back error that the token is not provided while the token is provided. but if I remove the claims payload everything works great. this is my authentication code :

![image](https://cloud.githubusercontent.com/assets/13381026/18878397/4bd29994-84dd-11e6-9227-986ad9b7c82d.p

[2016-09-28 08:12] hahmadicorp commented on #859
Obviously the problem is from custom claims that passed as second argument to the `fromUser` function. I checked the token when the token going to validate the token that validation taken on is different from the token that provided from http request.

[2016-09-28 08:27] mtpultz opened #860 "Laravel 5.3 Setup "Guide""
Okay, I've got a bit of time, and need to set up a new project with Laravel 5.3 and JWTGuard.  @tymondesigns I hope you don't mind this being in your issues similar to my other "guide" (#513), and if so I can try and find a different spot, but I don't write blogs or tutorials.

This is just a post of the steps to get the [JWTGuard](https://github.com/tymondesigns/jwt-auth/blob/develop/src/JWTGuard

[2016-09-28 08:32] mtpultz commented on #513
I've added an updated version for getting JWTGuard working with Laravel 5.3.x #860.

[2016-09-28 13:45] serak commented on #125
how do i add data's like userID or email to the token payload?

[2016-09-28 16:35] amsoell commented on #605
@angelmartz Can I ask how you got this to work? I've tried 1.0.0alpha3 and the Dev branch and neither one works for me with Laravels build in Policies

[2016-09-28 20:47] mtpultz commented on #815
Hi @spc324, this sounds more like you might not understand guards, and the issue doesn't actually reside in the jwt-auth package.  I'll attempt to give you a quick idea of guards in Laravel 5.2+, but since this isn't an issue with jwt-auth afterwards could you please close this issue.

In 5.2 if you look at your AuthenticatesUsers you see a method getGuard(), which checks for a member variables $t

[2016-09-28 20:56] mtpultz commented on #825
@laxx you might find it easier to use the development branch and instead use JWTGuard not JWTAuth.  JWTGuard integrates directly into Laravel 5.2's new guard API and removes a lot of the overhead from multi-auth, and the requirements for middleware.  Even more so with Laravel 5.3 updates to the middleware and integration into core.

5.2 setup can be found at #513
5.3 setup can be found at #860

[2016-09-29 10:17] yanchogeorgiev commented on #802
or at leaset to change BadRequestHttpException('Token not provided') with UnauthorizedHttpException. I don't think this is a bad request.

[2016-09-29 15:22] spawn-guy commented on #860
Thanks for the Tutorial. Right on time for me.

although.. for some reason in the LoginController i get token as "(bool) true".
Nothing fails.
`$this->guard()->user()` is the full user object i fetched (i have a CustomUserProvider that loads data into an Eloquent model).
but for some reason ($token == true).

i'll investigate tomorrow, but maybe someone already has an answer what i am doing wrong

[2016-09-29 19:51] mtpultz commented on #860
@spawn-guy did you remove the second parameter from attempt in login?

[code]

[2016-09-30 04:27] kenpeter commented on #97
@jfadich, I assume we don't want to append the secret with users hashed password?

"You could accomplish the same thing without storing tokens on the server by appending the secret with the users hashed password. That way if the password changed the tokens should automatically invalidate. Of course this would only be useful if password changes were the only event you want to invalidate on. It woul

[2016-09-30 09:42] spawn-guy commented on #860
@mtpultz yes.
all according to your tutorial
[code]

[2016-09-30 10:11] spawn-guy commented on #860
may i add my 5 cents, @mtpultz ? a quick-fix to make the response of the login endpoint to be "resembling" OAuth2 flows  - edit response() lines to

[code]

[2016-09-30 15:29] jrbarnard opened #864 "Method getBy line 40: Tymon\JWTAuth\Providers\User\EloquentUserAdapter does not prefix key with table name"
The method getBy of getBy line 40: Tymon\JWTAuth\Providers\User\EloquentUserAdapter, accepts a key but doesn't prefix it with the table name so if you're running it and have a global scope that say does a left join, will fail because the identifier is ambiguous.

Setting the identifier in the config to say users.id does not work because the identifier is also used to get the id off of the model. $

[2016-09-30 15:30] jrbarnard commented on #864
I'm happy to look at and change, but won't be for a while

[2016-09-30 20:11] coogle commented on #860
Great help thanks!

One issue though, I'm having some trouble getting my app to accept my token. I can login fine (and I get a token back from the request). However, when I try to use Postman to hit an endpoint and provide a header "Authorization Bearer <token>" I end up getting an Illuminate\Auth\AuthenticationException saying "Unauthenticated"

Any clue what I might be doing sideways?

[2016-10-03 15:54] sleenen commented on #850
make sure the server time is the same on the different servers.
Consider this:

1. request token call goes to server 1
2. a second api call with that newly created token goes to server 2

Now if the server time on server 2 is a few seconds behind server 1, to server 2 the token would seem to be created in the future and will then decline the token.

[2016-10-04 10:18] pabloalbrecht opened #865 "JWTAuth::fromUser doesnt work or your doc is too old"
I'm doing this:

[code]

As explained here [https://github.com/tymondesigns/jwt-auth/wiki/Creating-Tokens#creating-a-token-based-on-a-user-object](https://github.com/tymondesigns/jwt-auth/wiki/Creating-Tokens#creating-a-token-based-on-a-user-object)

And I get

`"Call to undefined method Tymon\\JWTAuth\\Providers\\JWTAuthServiceProvider::fromUser()`

[2016-10-04 10:21] pabloalbrecht commented on #865
Fixed. I had the alias pointing to the JWTAuthServiceProvider not the JWTAuth Facade.

[2016-10-04 10:21] #865 closed

[2016-10-04 17:19] cona88 opened #866 "[Question] Integrating jwt-auth with roles and permissions route"
Hi Everybody,
When using the Jwt-auth, I met the issue: the user logged in using Jwt-auth and then user go to the new route "/abc" this route need to permission (such as admin role) :
[code]
Because user already loggin, so now how to check user's permission and role for this route?  My solution : check permission in "Controller" but it is not good solution.
Please help me the solution for this cas

[2016-10-04 17:29] franc014 commented on #831
@leepin please can you show in your example the JWT manager use.
Thanks.

[2016-10-05 08:22] nXu commented on #852
Can confirm, the same happens to me (using lumen 5.3)

[2016-10-05 16:01] bertheyman commented on #106
I've had the same issue using the 1.0.0-alpha.3 version with Lumen 5.3.
Fixed it by adding `RewriteRule ^ - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]` to the .htaccess, so the authorisation header does not get discarded by Lumen/Laravel. Might be useful to add this to the docs.

I created a pull request based on the solution from Jeroen to make it work without the .htaccess rule in case that co

[2016-10-05 16:28] joelezeu commented on #111
geea789 I followed your instruction and I'm getting my jwt token, but the problem now is that I can't use the token to retrieve my user details.

[2016-10-05 16:48] joelezeu commented on #822
I used

`Config::set('auth.model', App\Customer::class)`

To authenticate from the customers table and I'm getting my token but I can't use my token to get my customers details from customers table even though I used `JWTAuth::parseToken()->authenticate()`

Please help.

[2016-10-05 17:23] vikramparihar commented on #53
Change controller line
use JWTAuth;
with
use Tymon\JWTAuth\Facades\JWTAuth;

[2016-10-05 23:29] mtpultz commented on #831
@leepin I'd also be interested to know what you did with the JWT Manager if you have time.

[2016-10-06 08:18] haydarai opened #868 "Refresh token not sent after get an internal server error 500 response code"
Hi, I want to clarify how to use jwt.refresh middleware correctly. I enabled the blacklist so each token only valid for one request.

What I want to ask is when I sent a request that got a 200 response code, the token will be sent back to me in response header as what the below image shows.
![screenshot 12](https://cloud.githubusercontent.com/assets/2961388/19145150/d434fe02-8bd7-11e6-95eb-61930a4

[2016-10-06 15:31] yopop666 opened #869 "TokenValidator validateStructure"
Hello!
Thank you for great package. Why token string from **Tymon\JWTAuth\Validators\TokenValidator** class
**validateStructure** method must have exactly 3 segments. Can this validator be changed? How?

I want to use **JWTAuth::setToken($tokenString)** where $tokenString has just caracters witout any dots and validator give exception.

Thank you.

[2016-10-07 09:28] daeXecutoR commented on #860
@spawn-guy maybe I don't get your point but JWT has nothing to do with oauth2 as explained here:

[http://www.seedbox.com/en/blog/2015/06/05/oauth-2-vs-json-web-tokens-comment-securiser-un-api/](url)

[2016-10-07 09:59] spawn-guy commented on #860
@daeXecutoR if you use `Bearer ` keyword in the `Authorisation` header - then how do you tell an api-client to prepend it to the plain token value that you got from the authentication endpoint? (/api/login in this case).
and when you are making this first step towards OAuth2 flows with `Bearer ` why not make a second step? and make your `/api/login` endpoint output the 2 other fields that are int

[2016-10-07 10:05] spawn-guy commented on #860
OAuth2 is not about `JWT vs RandomizedTokens`. It's about flows of the tokens themselves(doesn't matter the tech you made them with) and some standardization.

JWT is useful when you work with multitude of different services at the same time. and you don't actually need to have the whole userObject everywhere and/or read the full User from Original database.

[2016-10-07 10:07] daeXecutoR commented on #860
@spawn-guy In my case I'm using angularjs as Front-End for my API and I've now what to add to the header for the restricted ressources ( so I'm okay with just getting a "token: 234....." string)

If you take it further you would also need to setup refresh tokens because your target is to simulate oauth2 password grant except your not using any oauth2-plugins out there for your front-end.

I mean a

[2016-10-07 10:12] spawn-guy commented on #860
@daeXecutoR refresh_token's are totally optional ;)

[2016-10-07 10:49] daeXecutoR commented on #860
@spawn-guy How do you handle your jwt tokens in terms of lifetime? I'm not yet sure which approache I should go for. I was thinking about using short lifed tokens like 60 minutes and create an wachter service in my front-end which requests an extension like 5 minutes prior to the expiration.

[2016-10-07 14:08] spawn-guy commented on #860
@daeXecutoR _most_ of ppl give access_tokens for an Hour. refresh_tokens for 2 weeks.
but if you don't have refresh_tokens, each time access_token expires - you need to ask for user's password(which you must NOT store in sessions).

there is an option to _refresh_ the access_tokens.
- Facebook has a call to exchange one access_token to a different one with a longer lifetime.
- in this case, where

[2016-10-07 15:19] daeXecutoR commented on #860
@spawn-guy the reason I think about storing the token is that it gives me the possibility to sign them and with that improve security. (storing hash/verify and prevent manipulation)

Yet I'm looking for a complete example of laravel 5.3 + jwt + angularjs that covers all of the challenges we discused here ;-)

But thanks for your valuable inputs. I'm going over a new dev environment and try to achi

[2016-10-07 15:25] daeXecutoR commented on #868
@haydarai Personally I don't like the approach of one-time-tokens. As soon as you create an SPA with lets say a dashboard, you definitly want to have self-updating containers like charts. After your first async ressource call hits the backend it unauthorizes all pending requests.

Are you calling on the same domain? If you're using CORS it could ibe that you have a problem with sending the OPTIONS

[2016-10-07 16:19] engAhmad commented on #866
Use middlware for that if the user authinticated you can check his role .

[2016-10-07 16:24] haydarai commented on #868
@daeXecutoR thanks for reminding me for that scenario. I'm thinking to disable the blacklist at the moment. However, I think I'm going to let this issue still open, in case if somebody has a solution for this approach.

[2016-10-07 16:59] cona88 commented on #866
Hi @engAhmad ,
Can you give me the example?
Thank you

[2016-10-07 17:23] engAhmad commented on #866
@cona88

https://scotch.io/tutorials/role-based-authentication-in-laravel-with-jwt

[2016-10-07 20:03] daeXecutoR commented on #860
I'm suck at step 6. There is no /app/LoginController.php file and I even don't know where you edit or what to do with the other steps. Can someone help me out on that?

[2016-10-07 20:08] mtpultz commented on #860
@daeXecutoR that is a typo the LoginController is in `/app/http/controllers/auth`

[2016-10-07 20:20] daeXecutoR commented on #860
@mtpultz Thanks so much for your support. I got the file, but it is quit empty. Can you show me how the file should look at the end, and where you copied the code from? (I'm pretty new to laravel so sorry for that)

[2016-10-07 20:29] daeXecutoR commented on #860
@mtpultz I guess I found the source file. May you want to add it for others:

`\vendor\laravel\framework\src\Illuminate\Foundation\Auth\AuthenticatesUsers.php`

[2016-10-07 20:45] daeXecutoR commented on #860
@mtpultz Where do you put the changes in step 10? I don't think I do change the file here:

`vendor\laravel\framework\src\Illuminate\Foundation\Auth\User.php`

I guess I have to create one in my app folder and apply the changes there, right? But where exactly?

[2016-10-07 20:55] daeXecutoR commented on #860
@mtpultz In Step 5 you have to remove the API-group-prefix. Because your route is in the **route/api.php** it's allready added by Laravel. Your route is /api/api right now.

[2016-10-07 22:04] daeXecutoR commented on #860
I can't get this to work. If I send username&password credentials I just got a white page. If I try to hit api/test I get "NotFoundHttpException in RouteCollection.php line 161:"

Think I will go with the oauth2 package instead.

[2016-10-07 22:46] mtpultz commented on #860
@daeXecutoR it seems like you're having more issues with OOP and knowing how Laravel works then how to use this package.

From your questions you should read up on Laravel Guards and Routes to start.

With regards to `AuthenticatesUsers` that is a trait in PHP, which you can override in `LoginController` which "inherits" the actions within the trait.  So you can just copy the method into LoginCont

[2016-10-08 02:59] leepin commented on #831
@franc014 @mtpultz

Controller.php
[code]

Refresh Toekn
[code]

It's work for me.

[2016-10-08 14:41] daeXecutoR commented on #860
@mtpultz You're right, first time using the underlaying Laravel framework and don't see through it yet. However I got a working solution following this tutorial:

`https://scotch.io/tutorials/role-based-authentication-in-laravel-with-jwt`

Thank you very much for your support @mtpultz and @spawn-guy

[2016-10-08 22:38] mtpultz commented on #860
@daeXecutoR nice glad you found a solution that works for you.  Only thing I'd point out is your using jwt-auth (version prior to Laravel Guards) instead of the jwt-guard that integrates into Laravel's Guard API introduced in Laravel 5.2, which is a much more robust API that doesn't require a bunch of setup since it integrate thoroughly with Laravel and lets it do all the lifting.  Maybe not now s

[2016-10-09 09:01] bradbird1990 commented on #852
Thanks @nXu. Still haven't resolved it myself and given up.

[2016-10-09 15:10] cona88 commented on #866
Thank @engAhmad .

[2016-10-09 15:10] #866 closed

[2016-10-09 19:42] devtosystems commented on #860
console error:

[code]

my `composer.json`

[code]

[2016-10-09 20:05] mtpultz commented on #860
@devtosystems add the service provider to `app.php`.  Service providers aren't hooked up automatically so each time you pull them in they need to be added to the list of providers.  I've updated the steps above to explicitly say it needs to be added to your list of providers.

[2016-10-09 20:21] devtosystems commented on #860
@mtpultz  the versions run is 0.5.* like instalation wiki informs.

[2016-10-09 20:56] mtpultz commented on #860
@devtosystems if you're using jwt-guard you have to use the development branch (or any of the 1.x-alpha branches that also contain the JWTGuard class).

**NOTE:** `0.5.x` only contains the older version this package (JWTAuth class) that existed prior to Laravel v5.2.  The wiki is not up to date, and should not be consulted for any version of jwt-auth outside of version v0.5.x or less.  The initial

[2016-10-09 20:59] devtosystems commented on #860
@mtpultz  I don't like the jwt-guard use doc middleware. For me it's confuse. =/
I not use jwt-guard more.

Please, answer me, jwt-auth branch `dev-develop` not use aliases in `config/app.php`?

[2016-10-09 21:04] mtpultz commented on #860
Sorry @devtosystems this guide is specific to using the guard since it is so much easier an uses Laravel's built in middleware, as well as any you can create.  I don't know anything about the JWTAuth class of this package.

[2016-10-10 05:28] ichuprov opened #871 "Invalid token error - its incorrectly changing data"
I've noticed something weird happen.
If the payload happens to contain folders with slashes, the slashes get escaped when the verification happens, which makes it fail.

eg original token has folder /tmp/file in the verification it becomes \/tmp\/file

Also float numbers ending with .0 get their decimal dropped, eg 1475638413.0 becomes 1475638413 in the verification stage.

This makes the signatur

[2016-10-10 13:23] sleenen commented on #850
Actually, that was 1 part of the problem. Now I am facing another problem:

I have 2 servers, when I do a login call to server 1 to retrieve a new token and then use that token with a request to server 2, I get a Token invalid exception, with the message "Token Signature could not be verified."

I don't understand why this happens, since the settings (secret, algorithm etc) are all the same?!?

[2016-10-10 20:28] devtosystems commented on #860
I know! I know but I understand now how runs jwt-auth in version dev-develop.
Thanks!

[2016-10-11 19:19] knox2 commented on #822
The user is also available via Auth as:
`$user = Auth::user();`

[2016-10-12 09:37] johannesschobel commented on #869
A ```JWT``` must have 3 segments, which are connected using a ```.``` (dot). See [the official JWT site](https://jwt.io/) for the specificiation!

[2016-10-13 06:10] #869 closed

[2016-10-13 17:57] punnawat opened #872 "When I do refresh token?"
My back-end is Laravel framwork with jwt-auth and front-end is mobile application with React Native.
When I call to API (back-end), I must refresh token every time or not?

If I refresh a token when it expired, it is secure?

[2016-10-14 17:26] knox2 commented on #872
Its not necessary to refresh the token every time but only when its almost expiring,
You can't use an expired token. refresh it before use at its already been blacklisted
You can use the following to refresh the token

[code]

However if you want the token to refresh on every request add the jwt.refresh middleware in your app\Http\Kernel.php to be

[code]

then add the jwt.refresh middleware in yo

[2016-10-14 21:49] devtosystems commented on #860
@mtpultz help me to set a json return in logout method:

[code]

[2016-10-14 22:26] devtosystems commented on #860
@mtpultz I have a problem with post for api route in console. Look:

[code]

My test data  (without database yet) is:

[code]

[2016-10-15 04:13] punnawat commented on #872
If I don't refresh a token every time, how to check the expire token?

[2016-10-15 15:18] bona1337 commented on #860
@mtpultz can you provide a github sample repo?

[2016-10-16 12:07] s00d commented on #860
@devtosystems remove jwt.php and run php artisan vendor:publish --provider="Tymon\JWTAuth\Providers\LaravelServiceProvider"

[2016-10-16 20:47] devtosystems commented on #860
Now it is right because the message contains database erros.

[code]

Now, how do I transcribe plain text messages to the api?

[2016-10-16 21:43] belohlavek commented on #649
I'm also interested in this

[2016-10-16 21:46] mtpultz commented on #860
@devtosystem you should be asking questions outside of setting up your application using JWTGuard on a forum like stackoverflow.  This is just a guide to get the basics running using the JWTGuard.  The hope was that at the end of setting it up people would understand how it works not just copy the code.  If these steps don't work to get a basic application running using JWTGuard then by all means