[2016-10-17 11:26] yashbarot commented on #798
I have one [plugin](https://github.com/webelightdev/laravel-dbbackup)  which used `"google/apiclient": "^2.0"`. While i am installing it in one of my project which has `jwt-auth` installed, i am getting following

![screen shot 2016-10-17 at 4 53 38 pm](https://cloud.githubusercontent.com/assets/6562115/19435809/500d091a-948a-11e6-973d-da6b794c764e.png)

[2016-10-17 20:37] devtosystems commented on #860
Ok, sorry @mtpultz !

[2016-10-18 05:10] sanchitpuri13 commented on #47
Hi, I have recently started learning Laravel-5 and i am developing rest web service. To make api secure i am using JWT. I am facing the same issue as stated above.
I have moved the user class from "App\User" to "App\Models\User" and i have added following code in jwt.php

 'user' => 'App\Models\User', // code in jwt.php

Inside my Controller Action i have written following code

public function si

[2016-10-18 05:21] ganeshghalame commented on #47
It looks cache/autoload issue:
`composer dump-autoload`
`php artisan clear-compiled`
and then restart your server. Just search the "App\User" in your project to get better idea

[2016-10-18 05:24] sanchitpuri13 commented on #736
Hi, I have recently started learning Laravel-5 and i am developing rest web service. To make api secure i am using JWT("tymon/jwt-auth": "0.5.*"). I am facing the same issue as stated above.
I have moved the user class from "App\User" to "App\Models\User" and i have added following code in jwt.php

'user' => 'App\Models\User', // code in jwt.php

Inside my Controller Action i have written followin

[2016-10-18 09:03] vishwasrao commented on #821
Check if your inputs are getting passed correctly.
In my case it was going null;

`$credentials = $request->only('email', 'password');

**//check what it is priniting
dd($credentials);**

        try {
            if (!$token = JWTAuth::attempt($credentials)) {
                return $this->response->array(['error' => 'User credentials not valid.'], 401);
            }
        } catch (JWTExceptio

[2016-10-18 09:55] sanchitpuri13 commented on #47
@ganeshghalame thanks for giving your valuable time.

I tried the same but the issue still remains, but at end i found the solution. I am providing the link of solution, which can be used by others as well.

https://github.com/jenssegers/laravel-mongodb/issues/702.

Rest the changes needs to be done in Auth.php to replace App\User to App\Models\User and same in Jwt.php. I have also replaces all th

[2016-10-18 14:18] TSerra-PT opened #873 "Error 400 Token not provided Safari"
Hello,

I have a strange issue. I'm developing an aplication in Laravel 5.1 with jwt-auth and whether on Windows (Firefox/Chrome/Edge) or Linux (Firefox/Chrome) it works well. However when i test (one particular request) on Mac (Safari) it gives me this error -> _message: "Token not provided", status_code: 400_.
If i look to the header of my request, the _Authorization: Bearer_ isn't here (this is

[2016-10-18 17:48] Arkanius opened #874 "Is there a way to make dynamic JWT time to live ?"
Hello again, I would like to know  if is there a way to make dynamic ttl in jwt. In my API I setted it to 300 minutes and works well, but I want to change it and set to null (infinite) just in my mobile app. So I will create a mobile auth endpoint, and just at this endpoint I want to set another ttl.
I know that I can change in config/jwt.php but it will change for all.

How could I do it ?

[2016-10-19 06:32] johannesschobel commented on #849
changing password does **not** have an effect. The token is still valid!
You need to invalidate the token - I don't think this is covered by this plugin (yet)..

[2016-10-19 06:38] johannesschobel commented on #849
You may also take a look at #58 .. Might help you!?

[2016-10-19 10:22] fojameru commented on #734
How can I fix if I'm not using brew ?

[2016-10-20 06:49] johannesschobel commented on #872
You can simply make another request with respective (old) token. The `jwt.auth` middleware will tell you, that the token is expired. Then you need to re-login in order to get a new token.

Not the best way, but works ;)

[2016-10-20 09:18] shaljam commented on #849
@johannesschobel I moved to another solution. Thanks anyway.

[2016-10-20 09:18] #849 closed

[2016-10-20 09:38] johannesschobel commented on #849
What do you mean by "another solution"? Another package or another way to invalidate the token?

[2016-10-20 13:44] shaljam commented on #849
@johannesschobel I'm using [Laravel Passport](https://laravel.com/docs/5.3/passport).

[2016-10-20 21:34] devtosystems commented on #860
ok @mtpultz sorry! --'
Please help me to create associate tables to user auth with `PostgreSQL `.
I read the issue #792 but I can't understand yet.

table `authentication.users`:

[code]

table `authentication.users_auth`:

[code]

[2016-10-21 02:36] jrosczyk commented on #851
Here's a basic way:

### Create token
[code]

### Authenticate token
[code]

[2016-10-21 05:27] prashantidealittechno opened #876 "How to integrate JWT auth in Lumen 5.3?"
I am trying to integrate the JWT Auth in Lumen 5.3, Is their any way we can implement it? I try some tutorials but did not see any tutorial for Lumen 5.3.

[2016-10-21 07:30] zhaohehe commented on #484
get user model by JWTAuth::parseToken()->authenticate(),
and use JWTAuth::parseToken()->authenticate()->can('user.get.profile')  to get result.

[2016-10-21 20:06] cristianpontes commented on #872
Hello, this is custom middleware that I use, maybe could help...

[code]

[2016-10-21 21:39] tyteen4a03 commented on #798
@yashbarot Did you use the workaround I provided?

[2016-10-22 11:15] krisanalfa commented on #876
Hey, @prashantidealittechno, maybe you want to check [this](https://github.com/krisanalfa/lumen-jwt) out.

[2016-10-22 23:53] checo06 commented on #874
Im having the same doubt.. any answers for this??

[2016-10-23 16:44] jessica-mulein opened #877 "Allow for using other field besides 'sub' such as 'uid'"
I was hoping to use firebase-compatible tokens for my app, and it seems they need 'sub' to be an email and instead want to use a 'uid' field.

https://firebase.google.com/docs/auth/server/create-custom-tokens

If I change my getJwtIdentifier() function to return the email address firebase wants, I can auth with firebase fine, but jwt-auth package is unhappy when it tries to use sub to get the ID b

[2016-10-23 17:06] BrettTrotter commented on #877
Taking a quick stab at this, I first looked at making another function in JWTSubject that was getJwtIdentifierField() but then this could not easily be known during JWTAuth. Then I looked at adding a config item like JWT_IDENTIFIER_CLAIM_FIELD (defaulted to 'sub'), but config is not really easily accessible anywhere in JWT or JWTAuth where we'd need them. I was looking at passing the config data i

[2016-10-24 08:12] GIANTCRAB opened #880 "Add CORS to docs"
Hi all,

I think it would be good to have some docs on CORS. This is because most of us are using this to support our API authentication and the API backend and the API frontend consuming site might be fully decoupled and may also reside on different domains.

On top of that, jwt-auth also returns back a value upon 'token refreshing' in the headers. Usually, browsers will not be able to read this

[2016-10-24 14:41] knox2 commented on #880
Have you looked at https://github.com/barryvdh/laravel-cors

[2016-10-24 18:50] unnutz commented on #186
Just found a working solution that allows to use custom middleware that refreshes token along with standard middleware that just authenticates:

[code]

[2016-10-24 20:28] devtosystems commented on #860
How to make full logout method?

[2016-10-25 14:56] mvaliolahi opened #881 "jwt.refresh not working from cross origin request"
i have some problem with this library, when i use it and test with POST-MAN everything work  but when i want to use my api from other origini have 2 problem:

1) from angular 2 side i make request but refresh middleware dos not work and header has not token,
2) if i pass a token because refresh dos not work is valid for every request.

---

in fact i write a larave api and want consume it from ang

[2016-10-25 15:04] Arkanius commented on #881
Try to add:

[code]

in your routes.php

Or you can create a middleware to add these headers.

[2016-10-25 15:08] mvaliolahi commented on #881
thanks Arkanius, i use this header but my problem is not solved. in fact everything work in post-man but in cors refresh dos not work...!

[2016-10-25 17:49] devtosystems commented on #229
`JWTAuthServiceProvider` is now `Tymon\JWTAuth\Providers\LaravelServiceProvider::class,` and `GetUserFromToken` is not found.

Can you help me please?

[2016-10-26 09:37] sleenen commented on #874
I could use this functionality too. Would be nice to be able to overwrite/set the attributes just before making the token perhaps?

[code]

Or is something like this already possible? I haven't been able to find it yet

[2016-10-26 11:28] TSerra-PT commented on #873
Hello,

For future reference, I have a Get request with a slash in the end and it gave me a warning "301 - Moved Permanently". After this warning system calls other request without slash in the end.For example (1º request -> http://yoursite.com/api/users/ ; 2º request ->http://yoursite.com/api/users). And the "original" resquest is without slash
I receive response from the first request and error

[2016-10-26 11:28] #873 closed

[2016-10-27 08:46] plgautam commented on #872
@cristianpontes
Thanks for solution!!It should work.

I have one query regarding above code .

What is "ApiHelpers::ApiResponse(101, null) ;" in above code ?

[2016-10-27 09:01] plgautam opened #883 "Single sign on does not work in tymondesigns/jwt-auth package"
I used tymondesigns/jwt-auth package with angularjs .It works fine in that application for one of the domain.Satellizer package of angularjs help to send authorization header automatically.

But when i use the same package without angularjs it i am unable to send authorisation header and also i want to send same header in all subdomain to maintain sso.

right now i am getting "error : something is

[2016-10-27 09:09] knox2 commented on #881
have a look at this cors library  https://github.com/barryvdh/laravel-cors

[2016-10-27 11:28] cristianpontes commented on #872
@plgautam the "ApiHelpers::ApiResponse(101, null) ;" is just global helper that I use for simplify the responses in my API, the response schema is always the same. Let me show you how it will work without this helper.

[code]
BTW, if you have some problems setting headers in the middleware, use this update.

[2016-10-27 11:39] plgautam commented on #872
@cristianpontes thanks for reply. This solve my query. Great work friend!!!

[2016-10-27 11:42] morenDev commented on #513
I have such an error with laravel 5.2
BadMethodCallException in JWTGuard.php line 405:
Method [handle] does not exist.

[2016-10-27 15:29] larsbo commented on #876
@prashantidealittechno Same problem here. I tried this tutorial:
https://iwader.co.uk/post/tymon-jwt-auth-with-lumen-5-2
(It's for Lumen 5.2 but I think that's not a problem. You must use the 1.0.0 alpha release of tymon/jwt-auth.

So far I got this: The jwt token generation works but calling any protetected route with authorizisation header results in a "Unauthorized" response.

[2016-10-27 18:26] mtpultz commented on #513
You might have to provide a bit more information like the version of JWT Auth that you're using, maybe the action that is calling JWTGuard, etc

[2016-10-27 19:57] BasConijn commented on #860
What is the best way to generate an token after registering?

Now i have added something like this to the 'register' function.
`        $credentials = [
            'email' => $request['email'],
            'password' => $request['password'],
        ];

        $token = $this->guard()->attempt($credentials);`
The LoginController uses the "credentials" function.

[2016-10-27 21:50] prince-code commented on #370
php artisan cache:clear

and then

php artisan config:cache

solved my problem

[2016-10-27 23:03] devtosystems commented on #860
@BasConijn I did the same. 👍

[2016-10-27 23:40] arsen-s commented on #245
thanx, man

[2016-10-28 01:54] mofodojodino commented on #808
I found this issue as well and I think I tracked down the place where this is occurring. I've added a PR for fixing this which changes the timing of the blacklist versus refreshing the token so that the blacklist occurs after the refresh token has been generated instead of blacklisting first invalidating the token.

How to replicate the issue:
set config jwt.blacklist_enabled = true
set config jwt

[2016-10-28 12:43] galexth opened #885 "refreshing tokens"
How should I handle tokens refresh?  Is this backend or frontend job? I've followed by instructions in #513 . It works fine, but after ttl expired I getting to login page without any Exceptions

[2016-10-28 13:43] morenDev commented on #883
How do you manage the token refresh stuff? By angular?

[2016-10-29 13:46] wemersonjanuario opened #886 "Listening for Auth events"
How about event listening in JWT-Auth guard? I need to listen for attemp, auttenticated and others jwt auth events like this https://laravel.com/docs/5.3/authentication#events

Using jwt-auth package I can't listen for theses events. Help?

[2016-10-30 01:05] SimonErich opened #887 "Not Before (nbf) timestamp cannot be in the future error"
hey guys,

just had a strange problem where I got the above mentioned error when trying to login to one of our platforms for no reason.
After a bit of debugging I found the problem and it seemed to have been caused by the switch to standard time here in Austria. (just between 02:00 and 03:00)
I just waited it out to confirm it was indeed that and now everything works fine again.

I have two reason

[2016-10-30 07:24] szpakol commented on #887
Confirming - same issue in the UK. Definitelly need to l

[2016-10-30 13:13] kkhurramshahzad opened #888 "Could not get any response in laravel 5.3 for postmen"
Please help me in solving this. I am new in API stuff.
Although I am entering correct credentials

![screenshot 175](https://cloud.githubusercontent.com/assets/9502091/19836768/71d84e46-9ecc-11e6-8a08-36cf58d3820a.png)
![screenshot 176](https://cloud.githubusercontent.com/assets/9502091/19836769/71dcb3f0-9ecc-11e6-9ed4-9ffccd88d122.png)

[2016-10-30 15:05] kkhurramshahzad commented on #888
Its resolved now..
the issue was regarding ssl certificate..
and its solution was here.

http://blog.getpostman.com/2014/01/28/using-self-signed-certificates-with-postman/

[2016-10-30 15:05] #888 closed

[2016-10-30 15:32] plgautam commented on #883
@morenDev
I used laravel+angularjs in one application but i just want to use laravel and jwt package to handle single sign on across subdomains

[2016-10-30 15:33] plgautam commented on #883
@morenDev
I will use laravel to refresh token

[2016-10-30 15:36] plgautam commented on #883
@morenDev
Please let me know how to pass token generated in one subdomain across subdomains

[2016-10-31 00:31] wemersonjanuario opened #889 "Custom claims payload"
How to include customs fields in token payload while login attempt?

Using Laravel 5.3
jtw-auth dev-develop

[2016-11-01 00:42] izupet opened #891 "Update custom claims with refresh token"
I use refresh token middleware for every request I make to my server and it works fine. I ran into a problem when i wanted to update custom claims (user first name, last name and some more). I update user and then I want updated token (with updated user claims) to be present in response header. So how can I set this updated token to be as response header? I tried to set it manually but the refresh

[2016-11-01 09:10] JK-SR commented on #852
You can use $this->refreshApplication() to solve it.

When you make more than one request in a single test something is not being flushed internally.

    $this->getAuthUser();

    $this->refreshApplication();

    $response = $this->authUserGet('/api/question-set');

[2016-11-01 09:47] ftvs commented on #265
Great to know this was fixed. To help those coming from Google/issues search, is there actually a 0.6.0 release? Or is this fix in the 1.0.0-alpha.3 release?

[2016-11-01 10:43] mattmcdonald-uk commented on #860
As of b9a525b56e9c1787b794d1e4adf11109a21b7106 you'll also need to pass true to the guard's logout method.

[2016-11-01 13:35] devtosystems commented on #860
@mattmcdonald-uk passing "true" the token will be updated but the user's session is lost?

[2016-11-01 16:31] mattmcdonald-uk commented on #860
@devtosystems Sorry - that commit had nothing to do with the behaviour I was seeing! But, unless I pass true to logout (setting `forceForever` to true when invalidate is called), the logged out user's token could be used still.

This may be a side-effect of my allowing a small grace period on tokens for multiple requests, but it seems more secure to ensure the token is entirely blacklisted when th

[2016-11-01 19:33] BasConijn commented on #860
What is the difference between "api.auth" and "auth:api"?
The "auth:api" does not work because it generates an 500 error with "Unauthenticated".

[2016-11-01 20:21] mtpultz commented on #860
I've never used `api.auth` in fact I don't even know where to find it, but `auth:api` is middleware being passed a parameter, which just means the `auth` middleware is being passed the `api` guard.

The idea behind $guards is to provide a means to authenticate against different drivers that you assign associated providers.  Following the steps above you're setting the `api` guard to use the `jwt`

[2016-11-01 20:52] BasConijn commented on #860
But with the "api.auth" I am getting the correct 401 or 403 http errors which makes much more sense when providing an invalid token.
(It might also be the reason that I use dingo instead of the default router)

[2016-11-01 21:33] mtpultz commented on #860
@BasConijn I stand corrected it does return a 401 for invalid tokens.  Your 500 error is unrelated to the authentication.

[2016-11-02 03:25] chancezeus opened #892 "Error in refresh flow"
Using the "dev-develop" version of this package I came across a bug. If I try to refresh a token (well within it's 2 week limit) it always errors with a TokenExpiredException. Tracing the reason I found that when the blacklist is enabled, the token is parsed using the "regular" (ie. non refresh) flow, this results in the token being validated as expired and the error thrown.

To resolve this on li

[2016-11-02 07:07] yambug opened #893 "Command not Found!"

[2016-11-02 07:18] #893 closed

[2016-11-02 15:41] Mapamatician opened #894 "Invalidating token error"
I am building iOS with Swift 3 with a Laravel 5.3 backend running on a live server with SwiftKeychainWrapper to store jwt and JWTDecode to decode them.

In iOS I can log the user in and I can call if jwt.expired to check for the expiration .. but I cannot figure out how to invalidate the token when the user logs out.

I have searched through the forms and cannot find a solution.

In Laravel I have

[2016-11-02 17:01] Mapamatician commented on #894
*facepalm*
forgot to change
[code]
during logout
Code works fine.

[2016-11-02 17:43] Mapamatician commented on #894
I thought it was a matter of changing the buttons but when I fire
[code]
I am still getting  `A token is required` with status code 500

[2016-11-02 18:11] argentinaluiz commented on #892
I think with set refreshFlow = true before check blacklist

[2016-11-02 18:11] argentinaluiz commented on #892
This related in other issues

[2016-11-02 18:53] BasConijn commented on #894
Do you have the blacklist enabled in the config?

I am using the new JWTGuard and call it like this:
[code]
That logout functions calls the following code.
[code]

[2016-11-02 18:59] Mapamatician commented on #894
Update:
Removing the invalidated token from the keychain worked

[2016-11-02 18:59] #894 closed

[2016-11-03 19:05] BasConijn commented on #885
I can't refresh tokens either that are expired but withing the refresh ttl (on the dev version).

[2016-11-03 19:31] BasConijn commented on #892
This has been fixed in the latest develop, however you can refresh of an blacklisted token.
Created pull request to fix this.

[2016-11-03 19:37] BasConijn commented on #887
The timestamps are stored in UTC.
I checked the IsFuture function and they seem to use UTC times as well.

[2016-11-03 20:28] argentinaluiz commented on #892
Exact!! @tymondesigns said!! Thanks @BasConijn!!

[2016-11-04 07:45] mikahoy045 opened #896 "Change default User table"
I have 2 auth system using Laravel 5.2. 1 for apps (I use "User" Model) and 1 for API (I use "Ngate" Model)

My Model
[code]

Controller
[code]

but why always result invalid credential, if i set back to  users table, everything works fine.
ps: I already change config/jwt user to  'user' => 'App\Ngate', and identifier to id.

[2016-11-04 16:51] orditeck commented on #716
@rdpascua, how did you manage to send a token even after a 422 error from Dingo? We're facing the same problem.

[2016-11-04 17:12] hpiso opened #897 "Token not returned using jwt.refresh"
Hi,

I'm having an issue with jwt.refresh that does not return the refresh token in the header when catching an error (for example : request validation with forms).

Any advises to solve it ?

Thanks

[2016-11-04 17:38] nukkerone commented on #860
If you are getting the login page as response instead of JSON when the authentication failed, that may be because you are not sending the proper headers so laravel treats the request as AJAX.

That was happening to me when testing using postmat, I fixed it by passing Content-Type: application/json, and Accept: application/json

[2016-11-04 19:13] devtosystems commented on #860
@mtpultz - I'd like make authentication fragmented with two tables in database. So, I'd like override **retrieveByCredentials** method.

I have a implementation's problem *(I don't no how make it)* with override ***SessionGuard::retrieveByCredentials()*** method to use my CustomUserProvider.

I created my custom auth provider with "retrieveByCredentials" method but SessionGuard::attempt method cal

[2016-11-04 20:04] mcblum commented on #896
I have the same issue -- it creates a token but then when I try to use it I always get `user_not_found`

[2016-11-04 20:12] mcblum commented on #111
I'm having the same issue always getting `user_not_found` after changing the config. Any ideas how to solve this?

[2016-11-04 20:28] tymondesigns opened #898 "[sticky] [poll] Premium Laravel API Boilerplate Interest?"
Hey peeps..

So I thought I'd give everyone a quick update on things.

I'm close to releasing the long awaited `v1.0.0` release. I just need to finish the documentation.
And I'm going to push out the beta version very soon.

I will then tackle the backlog of issues (Sorry for my absence there!)

-------------------

For the last couple of weeks, I've been working on a boilerplate type project, whi

[2016-11-04 20:37] wstaples commented on #686
I'm encountering this as well. I noticed that the published config is not being updated either.

[2016-11-04 20:41] mikahoy045 commented on #896
Are you using laravel 5.2? If yes then as far as i know It still read your old table (if you want to check it then try put your user and pass in old table). when you create your data bcrypt your password (there are issue with hash). Wrap your jwt.auth middleware group with your custom middleware group you created above (config middleware). Dont forget to change config/jwt user to your model and ch

[2016-11-04 20:44] mcblum commented on #896
@mikahoy045 I'm on 5.3. When the token and user object are returned the first time, everything is correct and the user has id:6 in the `other_users` table. The issue is only when I try to validate a token, it's seeing the token is good and going to find the user but it looks in `users` rather than `other_users`.

[2016-11-04 20:48] mikahoy045 commented on #896
Thats right, now wrap your jwt.auth middleware group in route with your custom middleware group you created above (config middleware). Dont forget to change config/jwt user to your model and check identifier, cause replacing config/jwt user is not enough.

[2016-11-04 20:53] mcblum commented on #896
@mikahoy045 ok, I did exactly that. No dice. I added a third line:

[code]

Still getting `user_not_found`. Do I need to do anything to the actual OtherUser model? Is that why it's maybe not working?

[2016-11-04 21:02] mikahoy045 commented on #896
So there should be 1 last thing.... do you implements AuthenticatableContract, CanResetPasswordContract on your new user model?
I stuck in these part... according to what I read this is last configuration needed....

[2016-11-04 21:21] mtpultz commented on #860
@devtosystems you need to ask questions that have nothing to do with setting up a basic implementation of Laravel 5.3 with jwt-auth in a forum like http://stackoverflow.com.  The original post clearly states:

This isn't a sounding board for your development issues outside the guide.  All this does is obscure any questions to help people setup the basics that are having issues specifically with th

[2016-11-04 21:26] devtosystems commented on #860
Thanks @mtpultz , the application has been work on basically yeah! 👍

[2016-11-05 00:36] stueynet opened #899 "Refresh action should also check if the token is expired"
When you use the refresh middleware, it only seems to check if the refresh_ttl has past but does not check if the token has expired. SO for example if I issue a token that expires in 1 minute, but can be refreshed anytime within a week, if I try to refresh after 5 minutes, I will get a refreshed token that expires in 1 minute. Shouldn't that refresh fail if the token expired? So the refresh first

[2016-11-05 05:47] rdpascua commented on #716
hi all, I haven't find a fix for this one.

Sent from my iPhone

On 5 Nov 2016, at 12:51 AM, Keven Lefebvre <notifications@github.com<mailto:notifications@github.com>> wrote:

@rdpascua<https://github.com/rdpascua>, how did you manage to send a token even after a 422 error from Dingo? We're facing the same problem.

—
You are receiving this because you were mentioned.
Reply to this email directly,

[2016-11-05 10:34] tymondesigns commented on #899
This is actually expected behaviour (by default). When the `refreshFlow()` is set internally it does not check the token `exp` vs the `ttl`, instead it checks it against the `refresh_ttl`, meaning the token can be refreshed successfully if it is within the specified `refresh_ttl`, but has expired as per the `ttl` value.

If this is undesirable then you could set the `refresh_ttl` to the same value

[2016-11-05 11:41] stueynet commented on #899
Here is the issue. If you are trying to achieve a secure token flow you want the exp to be relatively short. So if the token gets compromised, there is only a short window to try and refresh it. The refresh_ttl requires a new authentication (login) from the user if it is expired. You don't want that to be say 15 min because the user would need to keep re-authenticating with their credentials. So a

[2016-11-05 15:46] orditeck commented on #716
Okay. We opened a similar (I think) issue to this one.

https://github.com/tymondesigns/jwt-auth/issues/897

@tymondesigns ?

[2016-11-06 01:17] devtosystems commented on #851
There's a problem because JWTAuth::setToken() should not be called statically.

[2016-11-06 03:55] rdpascua commented on #716
I haven't nail down the issue yet, but what I did to temporarily disable the issue is I disabled the `jwt.refresh` and just extend the life of the token to 30 days. I don't really know what happens here. I wish someone can enlighten us

[2016-11-06 10:27] pierre-fromager commented on #852
SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1

do the job using fcgi

ProxyPassMatch ^/(.*\.php)$ fcgi://127.0.0.1:9007/var/www/larapi/public/$1

Cf : http://stackoverflow.com/questions/17018586/apache-2-4-php-fpm-and-authorization-headers

[2016-11-06 11:51] devtosystems opened #900 "How to create my custom auth verification extending the jwt auth?"
Hi, I am facing a problem creating my custom login, I had no where else to ask, so I created this issue to discuss the matter.

- If I want to have more than one form of authentication for social networks, facebook, by twitter, SMS, the current authentication does not do this because the credentials not using relationship's table.

- I also can not get the information of which channel the user is

[2016-11-06 13:14] amandiobm opened #901 "Sharing a blacklist token?"
Hello guys I have a little problem.

I need to share my blacklist token with other applications.

In my case I have an API which is responsible to authenticate the user and generate the token. And I have a few API's that use that tokens.

But when I blacklist a token that information is contained on authentication API.

I'm using redis at the moment and i'm trying to change the prefix to be possib

[2016-11-06 14:30] stueynet commented on #877
Watching. We use uuids for users.

[2016-11-07 12:52] agneshoving96 opened #902 "Conflict with google apiclient"
This package conflicts with the google apiclient package because it uses an old version of phpseclib.

[2016-11-08 05:19] surinderpalsingh commented on #892
I've installed dev branch and getting this error while publishing.

Here is my composer entry ``` "tymon/jwt-auth": "^1.0@dev"```

[Symfony\Component\Debug\Exception\FatalErrorException]   Class 'Tymon\JWTAuth\Providers\JWTAuthServiceProvider' not found

Please help me out. I'm stuck here.

[2016-11-08 09:41] morenDev commented on #883
no clue((
I was curious about how to refresh the token, whether on backend or frontend

[2016-11-08 14:13] andrefcgoncalves commented on #902
Same problem here.

[2016-11-08 18:27] mouhsinelonly commented on #614
i m having the same probleme some users receive the wrong id . is theire any fix fir this

[2016-11-08 18:29] BasConijn commented on #892
You need to add it to your providers list, see the Wiki.

[2016-11-09 02:11] surinderpalsingh commented on #892
[Wiki](https://github.com/tymondesigns/jwt-auth/wiki/Installation) is bit old.  On emust use ```Tymon\JWTAuth\Providers\LaravelServiceProvider::class``` instead of ```Tymon\JWTAuth\Providers\JWTAuthServiceProvider```  and  executre following command in the console

`php artisan vendor:publish --provider="Tymon\JWTAuth\Providers\LaravelServiceProvider"`
`php artisan jwt:secret`

[2016-11-09 02:27] surinderpalsingh opened #903 "can't signed token with cleint id"
A toekn generated from web app can be used with other client like postman. Is there anyway to sign token with client id?

[2016-11-09 07:09] knox2 commented on #903
explain your situation further

[2016-11-09 10:31] SomethingWrong commented on #206
I don't know if it's really right solution, but You can make a per-request authentication directly from your test cases. For simplicity, I have created a method in my test case (it can be trait anyway)
[code]

Then I just call `$this->authenticate(User::first());` before making a request.

I hope this will be helpful.

[2016-11-10 13:59] ipridham commented on #902
Run the following commands
`composer remove tymondesigns/jwt-auth  `
`composer require namshi/jose:6.1`
then edit your composer.json to read
` "namshi/jose": "6.1 as 5.0.2"`

then `composer require tymondesigns/jwt-auth  `

You should be able to install google apiclient package now, although i'm not sure previous tokens generated will work due to the changes to namshi/jose

[2016-11-10 15:50] vrubiella commented on #902
Hello, I have a lot of problems too.This versions works fine for me:
[code]

[2016-11-10 20:40] PsychicCat commented on #155
i had this problem as well with laravel 5.1.

@TrustOkoroego's solution fixed it for me. I am not using a custom primary key.

[2016-11-11 14:48] thunder87 commented on #860
Hi all, how do I circumvent the redirect to view after a successful login through token?

My problem is that if I login using the email/password everything is fine and I get a response from the "authenticated" method.

[code]

But if i login with just the token, i get the following error ("View [home] not found.")

[code]

[2016-11-11 15:13] mattmcdonald-uk commented on #903
Yes - this should be achievable with custom claims - described here: https://github.com/tymondesigns/jwt-auth/wiki/Creating-Tokens

[2016-11-11 21:47] Emmanuel-Mariki opened #904 "[Symfony\Component\Debug\Exception\FatalThrowableError] Class 'Tymon\JWTAuth\Providers\JWTAuthServiceProvider' not found"
After update to 1.0.0-alpha.3 version  i keep getting

 [Symfony\Component\Debug\Exception\FatalThrowableError]
  Class 'Tymon\JWTAuth\Providers\JWTAuthServiceProvider' not found

both in terminal when i run  artisan vendor:publish --provider="Tymon\JWTAuth\Providers\JWTAuthServiceProvider"

and when i try to login i keep getting

FatalThrowableError in ProviderRepository.php line 146:
Class 'Tymo

[2016-11-11 22:00] Emmanuel-Mariki commented on #904
changed  Class `'Tymon\JWTAuth\Providers\JWTAuthServiceProvider'`  to `Tymon\JWTAuth\Providers\LaravelServiceProvider::class,` acording to [this comment](http://stackoverflow.com/questions/35476045/tymon-jwtauth-class-not-found)
but i ended up with
[code]

The api gard is defined in config aith.php and i checked it is there

[2016-11-12 00:32] Emmanuel-Mariki commented on #684
[Symfony\Component\Debug\Exception\FatalThrowableError]
  Class 'Tymon\JWTAuth\Providers\JWTAuthServiceProvider' not found

[2016-11-13 09:14] HuanMeng0 opened #905 "How to use dingoAPI and jwt-auth with JWTGuard in Laravel5.3?"
I created a pull request https://github.com/tymondesigns/jwt-auth/pull/882 18 days ago.
But the PR was closed by author.

Author said:"The authenticate method already exists via the inclusion of Illuminate\Auth\GuardHelpers".
I think:
 I call the **setToken** method in front of the authenticate method.
If I don't call the setToken method,it will throw a exception:
![image](https://cloud.githubuser

[2016-11-13 09:18] HuanMeng0 commented on #905
OK, I fix it.

as long as:
![image](https://cloud.githubusercontent.com/assets/11138015/20244651/22a1cfc4-a9c5-11e6-94c6-bc01206a19f7.png)

[2016-11-13 09:18] #905 closed

[2016-11-14 07:00] Hesesses commented on #850
did you ever solve this?

[2016-11-14 12:41] hesomWela commented on #850
@Hesesses Yes, I was able to solve the issue by setting up a NTP service on the 2 machines.

[2016-11-14 12:41] #850 closed

[2016-11-14 21:11] Hesesses commented on #850
Did the same and works for me also 👍

[2016-11-15 07:35] luzhuqun opened #906 "change table and fields"
in my App\Models\User.php
`class User extends BaseModel implements AuthenticatableContract,
{
    use SoftDeletes, Authenticatable;
    protected $table = 'Employee_info';
    protected $primarykey = 'Emp_No';
}`
in jwt.php
`  'user' => 'App\Models\User',
'identifier' => 'Emp_No',`
but when i use postman to test, it reports error:
`"message": "Undefined property: Illuminate\\Database\\Eloquent\\Co

[2016-11-15 20:01] starnix59 commented on #887
Is anyone still seeing this, I am getting this error intermittently with no changes to our code or systems.

[2016-11-15 21:22] JCarlosR commented on #763
Hi. Sorry if my next doubt is too strange, but I am new using JWT.
I'm trying to authenticate a user in Firebase using the credentials of my Laravel app.
According with this tutorial: https://firebase.google.com/docs/auth/server?hl=es
I have to create a JWT with custom parameters. I did that, and the token is generated.
But the last step is change the algorithm to RS256. **To use RS256 is neccesar

[2016-11-16 00:51] luzhuqun commented on #906
its my fault ,
`  $check = Employee::where('Emp_No', $this->request->input('Emp_No'))->where('Emp_Pwd', md5($this->request->input('Emp_Pwd')))->get();`
` $token = \JWTAuth::fromUser($check);`
I forgot to use first() rather than get().

[2016-11-16 00:51] #906 closed

[2016-11-16 08:45] soja123 commented on #155
i am having the same issue
i am not using user model
public function authenticate(Request $request)
    {
        Config::set('auth.providers.users.model', \App\Modules\Panelist\Models\Panelist::class);
        $credentials = $request->only('email', 'password');
        try {
                // get panel id
                $panel = $request->only('panel_id');
                 $id = Encryption::dec

[2016-11-16 13:58] ocdC0d3r opened #908 "Sending authentication params through url"
I could be wrong, but I've noticed that there isn't any kind of data encryption.

Is there any way to secure the parameters other than sending them as plain string through the url ?

[2016-11-17 08:47] herudi opened #909 "401: Unauthorized laravel 5.2"
In my controller
Store users
`public function store(Request $request) {`
      `$data = new User;`
      `$data->username = $request->input('username');`
      `$data->password = bcrypt($request->input('password'));`
      `$data->save()`
`}`

Login auth
`public function authenticate(Request $request) {`
`$credentials = $request->only('username', 'password');`
`try {`
`if (!$token = JWTAuth::attem

[2016-11-17 13:29] animationatul opened #910 "JWTAuth::toUser Not Working Properly"
This code return false why this is not working please help !!!

[2016-11-17 13:48] animationatul commented on #910
How to convert token to user Details Kindly Help some time it works sometime it doesn't work

[2016-11-18 10:49] animationatul commented on #240
Same issues with 0.5.9 Its giving me false when i try to get user from token But Token returns fine...
Please help

[2016-11-18 11:19] faresite commented on #898
I definitely would be interested, and I do like the idea of it being premium as that gives it more chance to stay maintained... GitHub is now full of old and unmaintained boilerplates. So yes, please! 🙂

[2016-11-18 18:59] GabrielDeveloper opened #912 "Wrong algorithm passed throw ReflectionException"
Wrong algorithm passed broke the code

If the algorithm configured is wrong the code throw an Reflection exception.

I made a test to cover this behavior.

[2016-11-18 19:22] tvmota commented on #798
Don't work, jwt-identify the version of namshi/jose 7.0 and install 5.0,

[2016-11-18 20:07] GabrielDeveloper commented on #912
#913.

If you want, I can fix this problems just using the native php method 'is_subclass_of()'.

[2016-11-18 21:25] Fabiantjoeaon opened #915 "Token invalid | Token Signature could not be verified."
I'm getting pretty tired of this error.. Stuck for 2 days now.

I do receive a token on valid credentials, but my token stays invalid, no matter if I pass it through url parameter (?token=[token]) or as Auth header (Bearer: [token]).
Anyone still experiencing this? I followed everything in the tutorial. Also configured both .htaccess in my public folder, and in my apache configuration.

[code]
Goi

[2016-11-19 08:05] punnawat commented on #872
@cristianpontes Thanks so much.

[2016-11-19 17:40] devtosystems commented on #860
@mtpultz I try to implement refresh token when user data to retrieved before token expired, but the generated token always return by invalid.

I can to post my custom token refresh middleware here?

[2016-11-20 07:09] snRNA commented on #110
@ykenny  did you handled your problem? how to post the JWT token .I think I may face the problem same with you

[2016-11-20 10:38] Fabiantjoeaon commented on #789
Any info on this issue? I'm experiencing the same problem.

[2016-11-20 10:45] Fabiantjoeaon commented on #766
Any info on this? Experiencing the same problem.

[2016-11-21 07:52] Steve-Junior commented on #821
I have same issue..the output of
dd(credentials) is
    array:2 [
     "email" => "example@gmail.com",
     "password" => "password"
    ]
I have those values in my database and my password is not encrypted

[2016-11-21 10:45] Steve-Junior commented on #821
I have solved my problem...I forgot to add to
 X-Request-With => XMLHttpRequest header in postman

[2016-11-21 10:47] wipflash commented on #821
Can you explain more

[2016-11-21 13:36] essivision opened #917 "Two-Factor authentication with SMS"
Hi,
I want to authenticate with sms verification. As matter of fact I want to implement 2-factor authentication like gmail with jwt-auth library. What should I do? What's your idea?

Thanks

[2016-11-21 14:51] devtosystems opened #918 "How to implement refresh token in laravel? 5.3.x"
I have a question about refresh valid token issue.

I try to implement refresh token in handle() when user data are retrieved after token to expire, but the generated token always return by invalid.

I can to post my custom token refresh middleware here?

[code]

Please, I need you help.

[2016-11-21 17:14] devtosystems commented on #918
All I needed was to set the new token before authenticating it.

[code]

[2016-11-21 18:34] Jack97 opened #919 "Dynamic refresh ttl?"
I'm trying to implement remember me functionality into my app and I want to do this by setting the refresh ttl to null if the login request's remember me input is true. Is this possible? I'm using the development branch and the JWT Guard for authentication. Thanks

[2016-11-22 12:05] angaraggantumur commented on #125
[code]

[2016-11-22 12:05] angaraggantumur commented on #125
[code]

[2016-11-22 12:06] angaraggantumur commented on #125
[code]

[2016-11-22 12:07] angaraggantumur commented on #125
[code]

[2016-11-22 13:25] Steve-Junior commented on #821
Actually my issue was from *postman*, a chrome app I was using to test my
*Api* built with *Laravel 5.3*...Whenever I make post-like request such a
*update* or even *post*,                             I get
*httpmethodnotfoundexception.
*All this started after I implemented the JWTAuthenitication in the
Api...after a little research with no concrete result, I guessed the
exception was thrown as a

[2016-11-22 17:35] timbroder commented on #806
@prashantidealittechno you'll need to keep track of the tokens yourself. see #300

[2016-11-22 19:56] timbroder commented on #684
@Emmanuel-Mariki in the latest beta, in ```config/app.php``` include ```Tymon\JWTAuth\Providers\LaravelServiceProvider::class,``` and then run ```php artisan vendor:publish --provider="Tymon\JWTAuth\Providers\LaravelServiceProvider"``

[2016-11-22 21:27] fThues commented on #860
Has anyone gotten this to work in Lumen 5.3 without Eloquent?

[2016-11-24 09:57] irumil commented on #67
+1

[2016-11-25 19:55] BasConijn commented on #908
Use a HTTPS connection, that is the only way to keep your data save.

[2016-11-25 22:20] iannazzi commented on #889
This may be what you are looking for... I am looking to get the payload when validating the login...

` public function authenticate(Request $request)
    {
        // grab credentials from the request
        // will it be username or email?
        $credentials = $request->only('username', 'password');
        $company = $request->only('company');
        $system = System::where('company', '=',

[2016-11-25 22:30] iannazzi opened #920 "Middleware for custom claims"
Ahh I am stuck! I have a custom claim 'company' in my payload. For http requests I need to get to the payload to get the 'company' name out to set up the database connection before I can retreive user information. Before JWT I would have middleware to do this.

In other words I need to run this code before looking up the user....
[code]

Where do I put this? It Looks like I need to modify GetUserF

[2016-11-26 11:53] iannazzi commented on #920
I think I answered my own question
[http://stackoverflow.com/questions/40813820/laravel-jwt-auth-get-custom-claim-before-looking-up-user-information]

[2016-11-26 20:18] felipemarques opened #921 "Update documentation"
In doc for installation:

change this: 'Tymon\JWTAuth\Providers\JWTAuthServiceProvider'

for this: Tymon\JWTAuth\Providers\LaravelServiceProvider::class,

@tymondesigns

[2016-11-27 08:55] bahman2216 commented on #81
Same error.
Im using version ^1.0@dev
I did all works but:
`Token not provided
`

[2016-11-27 11:32] yarcowang commented on #675
The wiki still... https://github.com/tymondesigns/jwt-auth/wiki/Installation

[2016-11-28 12:43] Pedneri1 commented on #341
Solved it by creating my users with the password hashed with Laravel's Hash::make function

[2016-11-28 13:06] anilskalyane commented on #915
+1

[2016-11-28 23:50] andrewmclagan commented on #206
How does that work when everything is reset once the request is made?

[2016-12-01 12:18] jamesgraham opened #923 "Upgrading namshi/jose to 7?"
We would love to use your library but cannot due to it conflicting with other libraries requiring phpseclib @ v2.

namshi/jose is fixed at v5 which is the problem. Can this be upgraded to 7?

[2016-12-01 13:04] tymondesigns commented on #923
this has been resolved on the newer versions of this package (`1.0.0*`). docs coming soon

[2016-12-01 13:04] #923 closed

[2016-12-01 14:48] jamesgraham commented on #923
That's great but do you know when they might be stable?

[2016-12-04 10:44] kristijorgji opened #924 "Improved JTI generation"
If 2 requests are made within the same second and blacklist is enabled the refreshtoken middleware returns back a blacklisted token (jti is the same as the token that was just blacklisted before being refreshed because nbf field and subject_id are the same). I fixed this by changing the jti generation code in PayloadFactory.php file from

[code]

to

`        return md5(sprintf('jti.%s.%s.%s', $su

[2016-12-04 11:10] tymondesigns commented on #924
This has been fixed in the `1.0.0*` prereleases. Not far of being released

[2016-12-04 11:10] #924 closed

[2016-12-04 11:14] kristijorgji commented on #924
Perfect, and great library by the way very good job. When will the new version be released? Is there any place where I can see the prereleases

[2016-12-04 11:17] tymondesigns commented on #924
Yea check out the releases here - https://github.com/tymondesigns/jwt-auth/releases

[2016-12-04 11:17] tymondesigns commented on #924
Not got a final date yet

[2016-12-04 13:29] daviestar commented on #860
Hello all, I've been following these steps and I have Authentication behaving correctly. 👍

However my `logout` method appears to be losing its CORS headers.  My routes look like this:

[code]
LoginController@logout:
[code]
Response:
[code]
The correct header `Authorization: Bearer ${token}` is passed to the logout route.

Using `php artisan route:list` I can see the `cors` middleware is indeed ap

[2016-12-04 15:00] faustbrian commented on #860
Instead of overwriting the `register` method you could leave it untouched and instead override the `registered` method.

[code]

[2016-12-05 13:59] #902 closed

[2016-12-06 09:47] Lauriy commented on #915
I noticed vendor\tymon\jwt-auth\src\Providers\JWT\Namshi.php decode function takes in my token as:
": eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJuYW1lIjoiTGF1cmkgRWxpYXMiLCJleHAiOjE0ODE4ODE0NjV9.PgENjq9vuTeijRrPIXIyc1ioFE1DoEzPikMZlZYsO7eJepRqj5SN354glSjqi2ozaYC2HQ1m2egi_WxH3tFifqefwhAeBAiHOuOTGQ9ZpDOUKWlM-ld8P4m3h0qEwg5hFPJ03r7lmjBKzxfU7rWPaeL3cmEOlfX4OWGRXAdUvcs"
(notice the colon and space)

If I

[2016-12-06 10:45] samthomson commented on #910
In your config/jwt.php file set user to 'App\Admin' or whatever user model you're using. Worked for me.

[2016-12-06 10:49] Lauriy commented on #915
Went with this for now:
[code]
And in jwt.php config file:
[code]
And in tests:
[code]

[2016-12-06 12:42] mehranhadidi commented on #921
for god sake please update the documentation. i gets sick of googling & guessing. ty @tymondesigns for hard work

[2016-12-07 22:14] lasergoat commented on #649
right now it looks like the only way would be to make your own instance of `NamshiAdapter` or use a separate library... lol.

[2016-12-08 05:30] NikhilRadadiya commented on #34
Not able to publish config file. Laravel version is 5.2.* ,Tried
1. $ php artisan vendor:publish --provider="Tymon\JWTAuth\Providers\JWTAuthServiceProvider"
2. php artisan vendor:publish
3. php artisan publish:config tymon/jwt-auth

[2016-12-08 13:49] pankaj-garg opened #925 "Class tymon.jwt.auth does not exist"
2016/12/08 19:18:53 [error] 10840#10840: *72 FastCGI sent in stderr: "PHP message: PHP Fatal error:  Uncaught ReflectionException: Class tymon.jwt.auth does not exist in /home/pankag/bfrs/MultiChannel_API/vendor/laravel/framework/src/Illuminate/Container/Container.php:734
Stack trace:
#0 /home/pankag/bfrs/MultiChannel_API/vendor/laravel/framework/src/Illuminate/Container/Container.php(734): Reflec

[2016-12-08 19:00] izupet opened #926 "Refresh token not updates user custom claims"
I am using beta.1 version of this great lib and I run into an issue. When I use refresh token and update user field which is included in token as custom claim it does'nt get updated in new token. I think new (refreshed) token should contain new (updated) user field.

My usage:

[code]

How can I achieve desired functionality?

[2016-12-09 22:45] anjosi commented on #860
I managed to receive the token but I cannot hit the /test route. What would be the correct url to enter? api/test? I just always get the NotFoundHttpException.

[2016-12-10 00:36] mtpultz commented on #860
Hi @anjosi can you show your test route?  It isn't in the example you have above.

[2016-12-10 07:39] anjosi commented on #860
Here's my routes/api.php file

<?php

use Illuminate\Http\Request;

/*
|--------------------------------------------------------------------------
| API Routes
|--------------------------------------------------------------------------
|
| Here is where you can register API routes for your application. These
| routes are loaded by the RouteServiceProvider within a group which
| is assigned the "ap

[2016-12-10 08:05] mtpultz commented on #860
@anjosi try `/restricted/test`

[2016-12-10 13:50] anjosi commented on #860
/api/restricted/test seems to be correct. However it only works if I comment out the middleware element in the argument list. Should I register the auth:api in kernel.php? To which middleware class that alias refers?

[2016-12-10 23:21] tymondesigns commented on #926
You can set the persistent claims in the config [here](https://github.com/tymondesigns/jwt-auth/blob/develop/config/config.php#L171-L174)

[2016-12-10 23:21] #926 closed

[2016-12-11 22:08] izupet commented on #926
I think this should not be closed yet. I have set the persistent and required claims as documented but the issue is still there.

[2016-12-12 10:41] absemetov opened #927 "Tokens storage"
I deploy my project to shared hosting, when i set permission to /storage dir in ftp client I show 1000+ files.
How to clear all token in the server?

I think this happend, because  my Ember app logout action kill token only web browser.

[2016-12-13 06:24] razor9999 opened #928 "authentication with 3 columns instead of 2"
I have a table with unique (email, app_id). so an email could be have 2 records.
there is any option to authenticate  with 2 columns like
           $credentials = Input::only('email','app_id' 'password');
            // attempt to verify the credentials and create a token for the user
            $token = JWTAuth::attempt($credentials)

[2016-12-13 07:03] razor9999 commented on #928
the issues has been close. I found the answer

[2016-12-13 07:03] #928 closed

[2016-12-14 11:26] sushilsth commented on #874
Have you found the solution to this.

[2016-12-14 12:55] sirsquall opened #929 "Small question"
Hello,

I'm using jwt-auth for a while now, thank you a lot for this beautiful package :), I wanted to know, if is possible to retrieve a list of current active users ?

Thanks

[2016-12-16 11:34] mhafizhasan opened #931 "JWTAuth::parseToken()->authenticate() error when id contains character"
Hi there, I have a user table where **id** is varchar. I've manage to generate a token based on user object using  ```JWTAuth::fromUser($user);```. However, when i tried to authenticate generated user token using ```JWTAuth::parseToken()->authenticate()``` it throws **user_not_found** error. This only happens if my user id contains character (ie: abc123) rather than just integer (123) which is wor

[2016-12-16 13:38] laeeqairtango opened #932 "Destroy token in logout in Restapi"
I am building a RESTapi  , i want the token to be destroyed on the user logout.

[2016-12-17 18:25] bellalMohamed opened #933 "jwt-auth Cahnge Default User Model"
In my `Config/auth.php` I've multi providers
`'providers' => [
        'members' => [
            'driver' => 'eloquent',
            'model' => App\Member::class,
        ], 'users' => [
            'driver' => 'eloquent',
            'model' => App\User::class,
        ],
],`

and in `jwt.php` I wanna use `Member::class` instead of `User::class`
so I changed :
`'user' => App\User::class,`
To
`'m

[2016-12-17 19:38] payamzarei commented on #932
use JWTAuth::invalidate($token)

[2016-12-17 23:05] #933 closed

[2016-12-18 08:36] springleng opened #934 "Do you have a guide to use jwt-auth 1.0.x version ? Could you update the document ?"
Do you have a guide to use jwt-auth 1.0.x version ? Could you update the document ? Ths !

[2016-12-19 11:49] laeeqairtango commented on #932
Thanks a lot , it worked for me as I wanted :)

Regards,

Laeeq ur Rehman
Software Engineer

airtango Private Limited

2nd Floor Shaaf Plaza # 70

Civic Center, Bahria Town - Phase IV
44000 Islamabad - Pakistan

T  +92   51 2724 178

M +92 312 4051 646

l.rehman@airtango.pk
www.airtango.pk <http://www.airtango.pk/>

  _____

Disclaimer: This message is intended only for the use of the individual o

[2016-12-20 13:37] ScottSwan commented on #860
I'm having the same problem as anjosi,

Has there been an update to Laravel that's blocking this?

[2016-12-20 19:51] anjosi commented on #860
I've finally got thing working by setting up the laravel passport as instructed in this wonderful video (https://laracasts.com/series/whats-new-in-laravel-5-3/episodes/13) by Taylor Otwell.

[2016-12-20 20:16] johnjjung commented on #934
+1

[2016-12-21 19:34] shurjomoy opened #935 "Always getting invalid_credentials"
I checked this issue but did not work: https://github.com/tymondesigns/jwt-auth/issues/341

//seeder file
[code]

// Controller
[code]

// .env
[API_PREFIX=api
API_STANDARDS_TREE=vnd
API_VERSION=v1
API_CONDITIONAL_REQUEST=false
API_STRICT=false
API_DEBUG=true](url)

//model
[code]
// composer

[code]

// route
[code]

//output
[code]
How can i solve this problem?
Thanks

[2016-12-22 11:37] ntja commented on #821
Check the length of your password field in DB. Maybe the hash stored in DB is truncated

[2016-12-22 11:39] ntja commented on #341
Check the length of your password field in DB. Maybe it is truncated

[2016-12-23 22:13] devtosystems opened #937 "Auth guard driver [api] is not defined"
Hi guys! I have a problem utilizing laravel 5.3 and jwt-auth:0.5.9. I used it until I needed to update the expired token and since then it no longer met my expectations, and now returned `Unauthenticated` for validate authenticate.

I'm using a guard for each type of connection to api. Be it facebook, form, twitter, among others. This was the way I found to perform the verification in separate cas

[2016-12-24 01:20] devtosystems commented on #937
I solved my problem with two old Middlewares from 0.5.x version.

[2016-12-24 01:20] #937 closed

[2016-12-24 01:22] francisrod01 opened #939 "Refresh token is the same old token in blacklist"
I have a question about jwt-auth api route.

Reference issue `Using guard with laravel 5.3.x` no. #860

GET /myproject/public/api/user

The code below return "unauthorized 401" code:

[code]

output:

[code]

Is it correct after receiving 401 code I invoke the method of updating the user's expired token?

route:

[code]

[code]

\App\Http\Middleware\RefreshToken

[code]

output below:

[code]

The

[2016-12-24 09:08] MuhammadShaban commented on #934
+1

[2016-12-24 14:39] devtosystems commented on #939
This issue will merged with https://github.com/tymondesigns/jwt-auth/issues/918

[2016-12-24 14:39] devtosystems commented on #939
#918

[2016-12-24 15:22] devtosystems commented on #918
Issue solved in #939 .

[2016-12-24 15:22] #918 closed

[2016-12-24 15:26] devtosystems commented on #939
I just changed the name of jwt routeMiddleware.

[code]

and I changed routes also:

[code]

That's it!

[2016-12-25 13:00] devtosystems commented on #939
But I do not know how to retrieve the new token using routes, because every time I access `JWTAuth::getToken()` or access the headers in search of authorization I get the old token

[2016-12-25 20:59] akrami opened #940 "Laravel 5.3 Policies not working with jwt"
I'm trying to use policies for my API but it seems that policies do not run with JWT.
https://laravel.com/docs/5.3/authorization#creating-policies

any workaround or fix?

[2016-12-26 06:54] web30india opened #941 "Laravel jwt tymon multiple device login issue."
I want to allow users to login from any number of devices they want. How can i generate multiple tokens for same user and validate them all?

[2016-12-26 11:54] tonystatic commented on #677
Same issue

[2016-12-26 15:22] vperminov commented on #925
in Kernel.php to $routeMiddleware array add
`  'jwt.auth' => \Tymon\JWTAuth\Middleware\GetUserFromToken::class,
 'jwt.refresh' => \Tymon\JWTAuth\Middleware\RefreshToken::class,`

[2016-12-26 18:12] paxku commented on #841
Hi all!

This lib saved me tons of time. Thanks a lot tymondesigns!

I did have some trouble setting up 1.0.0-beta.1 with Lumen 5.3, so I ended up deciding to write the steps down and create a repo with an example (all free as in beer).

You can check it out in http://www.akaita.com/post/json-web-token-authentication-for-lumen-5-tymon-jwt-auth

Cheers!

[2016-12-28 03:36] woriheck commented on #940
Register Middleware  to the route

![screen shot 2016-12-28 at 11 27 02 am](https://cloud.githubusercontent.com/assets/4267182/21513182/997bb63e-ccf0-11e6-8822-80bd4a122fcc.png)

Route::group(['middleware' => 'jwt.auth'], function () {
           // your api url
});

Then the login user may be get inside laravel policy.

![screen shot 2016-12-28 at 11 34 13 am](https://cloud.githubusercontent.com/

[2016-12-28 08:26] engAhmad commented on #940
make sure the user_id is integer number or cast it

"1" === 1 False

[2016-12-29 20:29] yak0 commented on #934
+1

[2016-12-30 20:01] devtosystems commented on #186
@unnutz I use the same but in api route I can't return the `X-Token`.

[2016-12-30 21:39] kennysinkeler opened #944 "Class App\Http\Tymon\JWTAuth\MiddlewareGetUserFromToken does not exist"
laravel 5.3
app.config
`Tymon\JWTAuth\Providers\JWTAuthServiceProvider::class`

` 'JWTAuth'   => Tymon\JWTAuth\Facades\JWTAuth::class,
    'JWTFactory' => Tymon\JWTAuth\Facades\JWTFactory::class`

composer.json
[code]

[2016-12-31 10:15] engAhmad commented on #934
+1

[2017-01-01 20:39] ccoeder opened #945 "login without eloquent model"
Hi, I want to login with jwt-auth without using eloquent model. I am using raw sql for login. How can i combine them?

[2017-01-03 08:22] zeshan-inquiron commented on #917
@essivision Did you find something for this? I am also looking for 2FA with JWT.

Thanks

[2017-01-05 13:16] mgawrys1 opened #946 "Generate token with custom secret."
I need to generate token based on custom secret. Did anyone tried to do this?

[2017-01-06 02:52] twlz0ne commented on #874
[code]

[2017-01-06 20:13] marcoshenriqueb commented on #95
+1

[2017-01-06 22:35] mehrdaad commented on #934
+1

[2017-01-06 23:02] ben-x opened #947 "Passing Token as parameter in request return error code 400:token_not_present"
(Jwt-auth version 0.5.9)
Tried sending the token as part of my api request from angularjs but gets a status code of 400, token_not_present.
After much investigation, I found out the issue was coming from the parseToken method of  JWTAuth.php
The $request->query($query, false) method always return false, for some reasons am yet to find out.
I tried modifying that line from $request->query($query, f

[2017-01-08 09:24] ratatatKE commented on #873
I am also having a huge issue with this on Safari alone.

[2017-01-09 08:53] essivision commented on #917
No I don't find any useful things. but I think it doesn't very hard to write manually.

[2017-01-09 11:06] Broutard commented on #934
+1

[2017-01-09 11:13] ahmedonee opened #948 "how to use content-type:json"
how to make request with content-type:json instead of application/x-www-form-urlencoded

[2017-01-09 22:13] creightonja commented on #798
Same issue here due to a conflict with phpseclib versions. Any working fixes?

[2017-01-10 04:32] jimmy19990 commented on #934
+1

[2017-01-10 10:02] shankerm opened #949 "Deleted config/jwt.php but still can generate token"
Hi, I had some issues with the token's signature. After attempting a number of things, i totally removed the jwt.php file in config folder. I attempted to login via postman and authenticate my user hoping to see some errors. Shockingly no error was reported and i still received a token. I even cleared cache and config cache but nothing happened. How can this be? Thanks.

[2017-01-10 23:43] heroselohim commented on #557
I had this problem too. It was solved setting up correctly in **session.php** this value:

`'domain' => '.yoursite.com',`

This will correct the cookies and verify the CSRF token as expected. Remember to remove your site related cookies in your browser.

[2017-01-11 11:24] marc-inn commented on #934
+1

[2017-01-11 12:02] umairnow commented on #934
👍

[2017-01-11 18:13] mtpultz commented on #934
Does this help https://github.com/tymondesigns/jwt-auth/issues/860?

[2017-01-11 20:51] eness commented on #176
to overcome this issue for those who use JWT_TTL=null, remove 'exp' key from your config/jwt.php's 'required_claims' array then you'll be fine! :)

[2017-01-11 22:38] warriorkitty commented on #777
I had the same problem and removing `bootstrap/cache/config.php` did the trick.

[2017-01-12 06:13] leezene opened #950 "How to store logged in user id in database while filling a form Not register form."
![error](https://cloud.githubusercontent.com/assets/20589958/21879174/ec333fa8-d8be-11e6-85e7-a3cf3c9d232a.PNG)
![controller](https://cloud.githubusercontent.com/assets/20589958/21879048/531da178-d8be-11e6-9c67-167e94e4e581.PNG)
![model](https://cloud.githubusercontent.com/assets/20589958/21879049/53204130-d8be-11e6-9058-d01eb302ef95.PNG)
![table](https://cloud.githubusercontent.com/assets/2058995

[2017-01-12 13:38] earnaway commented on #898
Would you consider something similar for Lumen 5.3 as well?

[2017-01-13 07:51] knox2 opened #951 "Token still valid after the user logs in again"
The token seems to be valid and usable even after the user logs in and obtains another token. This happens during testing when using postman

[2017-01-13 15:03] xFlatlinex commented on #785
I agree, having it on the cookie is better, and since the Parser is there, why not just add it to the chain?
@yorchv I ended up essentially doing the same thing, it is a good and simple option.
But I think it would be useful if one could configure the chain through a config file, just to give a simpler option.

[2017-01-13 23:01] blakethepatton commented on #951
You may want to familiarize yourself with [how JWT's work.](https://en.wikipedia.org/wiki/JSON_Web_Token#How_it_works) Once a user successfully signs in, their token is generated and stored in the browser. This token authorizes them to do whatever they are allowed to do. Creating another token is just going to create another token that has access to the same stuff. If you are trying to sign out th

[2017-01-14 00:16] Mirdrack opened #952 "[Question]How to add an extra parameter on login query"
I would like to be able to add an extra parameter on the query to attempt login

For example:
[code]

Should I create my own **Auth Adapter** or what is the best approach to face this because right know im getting this query exception:
[code]

If anybody needs more information just let me know
Thanks in advance

[2017-01-14 13:00] diquinnyonk commented on #940
I had same issue but I had a general check to make (which would've been nice to use in before() ) but instead opted to use a middleware

[2017-01-14 19:32] Mr-Anonymous opened #953 "Login Throttle for too many failed attempts"
I am using JWT for my Laravel + Angular application. I see Laravel 5.3 has login throttling feature out of the box. But does this feature work when using JWT? I have the following code but the login throttling is not working:

How do you use this feature using using JWTAuth? Can you someone help me out please?

[code]

[2017-01-14 20:19] ketys opened #954 "Token not blacklisted after resfresh"
Hello, I've got a problem with token blacklisting. I have `'blacklist_enabled' => true` in `jwt.php` file and following method for token refreshing:

[code]

Method returns token correctly, but the old one is still valid... why?

Thanks for response! :)

[2017-01-14 20:31] Mr-Anonymous commented on #953
This wasnt working because of 2 things:

1) I had array as cache driver which doesnt work. So I changed cache to a request persistable driver

2) I then had to add the `$this->incrementLoginAttempts($request);` inside the try block and not when the exemption is thrown.

After the above edits, it works now.

[2017-01-14 20:31] #953 closed

[2017-01-15 10:35] hocza commented on #206
The only problem with this is that if you are using sqlite :memory: it also wipes the database.

I ended up with the following:

http://hocza.com/2017-01-09/day-1-lumen-jwt-testing-tymon-jwtauth/

[2017-01-15 13:47] engsamar commented on #935
i have the same problem , Do you solve it @shurjomoy

[2017-01-15 15:33] hazzo commented on #860
After struggling a bit I got it running on Laravel 5.3. If I can help some one let it me know. Files ended being kind of different in some occasions. I will try to post them later.

[2017-01-15 17:15] maikdiepenbroek commented on #860
@hazzo Been struggling a bit myself but got it to work, please post your results so i can compare.

[2017-01-15 18:30] hazzo commented on #860
@maikdiepenbroek Yes here are de `LoginController`, `api` routes and `User` model.

Here I used the same methods only that variable $credentials did not have any value, so I look inside the Laravel login trait and used the same method to crate credentials that Auth uses `  $credentials = $this->credentials($request);`. Also the `string` part of Auth gave me error when inserting it in the second pa

[2017-01-15 18:36] maikdiepenbroek commented on #860
@hazzo Thnx for the code example, it's more or less the same as i have so thats a good confirmation.

The string is called Scalar type hint, more info here: https://wiki.php.net/rfc/scalar_type_hints

[2017-01-15 18:43] hazzo commented on #860
@maikdiepenbroek  oh thanks, I supposed that it was something like that (used `int` many times) but I don't know why it was not working.

[2017-01-16 05:51] moveo opened #955 "Is first beta release available for install via composer?"

[2017-01-16 07:54] johannesschobel commented on #952
Hey @Mirdrack ,

does your `users` table in the database provide a `guild_id` field? Because the SQL error you posted says, the column is unknown (e.g., not present)..
Can you give an update on this issue?

If you do not have a `guild_id` field, you need to write a specific `migration file` in order to append this field to the `users` table. For more information see this link here: [Laravel Migrat

[2017-01-16 07:55] johannesschobel commented on #949
that is, because the default `jwt.php` config file from the `package` itself is used. This file is stored in the `vendor` folder (e.g., `\vendor\tymon\jwt-auth\src\config\jwt.php`

Cheers

[2017-01-16 13:36] knox2 commented on #951
Thanks, I solved it by setting expiration times and refresh tokens

[2017-01-16 13:36] #951 closed

[2017-01-16 19:30] MitchellMcKenna commented on #915
I had been experiencing this issue as well, however I discovered the issue is having a colon `:` after `bearer` is actually not supported. Remove that from your `Authorization` header and you should be good to go.

[2017-01-17 05:59] shurjomoy commented on #935
@engsamar
Unfortunately i could not figure out why JWTAuth::attempt() not working.
However I manually Hash::check() the credential.
and generate  token using JWTAuth::fromUser() method.

[2017-01-17 09:59] Lauriy commented on #915
Thanks for the tip.

[2017-01-17 10:39] ulshamim opened #956 "laravel5.3 + Jwt + Wordoress database"
Hi I am using wordpress database and laravel 5.3 so I install this package and also add

[code]

[2017-01-17 11:48] vandemberg commented on #670
Thanks! @unabomber87

[2017-01-17 15:21] Mirdrack commented on #952
Thanks for the quickly answer and yes you are right my class map wasn't updated and that is the reason why my field was not present
Sorry for this but its good to know that the attempt function keeps the same functionality as in Laravel
Please consider this as resolved and thanks for your time

[2017-01-17 15:49] johannesschobel commented on #948
Dear @ahmedonee ,

shouldn't it work "right out of the box" with `application/json`? Plase try using `Postman` (extension for google chrome) in order to test your request. Using this application (Postman) you are able to set the respective request-headers needed (e.g., `Content-Type = application/json' ).

Can you report on this issue again? If it does not work _out of the box_, I can send you cod

[2017-01-17 15:58] johannesschobel commented on #929
Hey @sirsquall ,

unfortunately, I do not know, if there is some kind of way to _reverse-engineer_ the token and retrieve the users' information from this data..

However, what could be some kind of work-around..
You can write your own Laravel `Middleware` (Docs)[https://laravel.com/docs/5.1/middleware], extract the user from the token (e.g., using `JWTAuth::attempt($credentials);`) and then flag

[2017-01-17 16:36] earnaway commented on #186
@TheGhoul21 - just wondering where you placed the `JWTAuth::setRequest($request);` for phpunit? I'm stuck on that now and can't figure out the best place for it inside my tests. Thanks!

[2017-01-17 21:35] jcaillot commented on #205
Just my 50 cents
had the same issue while I was using cached configuration. php artisan config:clear solved the issue

[2017-01-18 13:05] mithek commented on #917
Authenticate the user with the laravel Auth:attempt. If true sent sms.
The second api call will validate the code from the sms if true then generate the JWT token from user model.

Api call 1: email + password
Api call 2: email + sms code

[2017-01-18 13:21] sirsquall commented on #929
Hello @johannesschobel,

Good idea, I had exactly the same, and I started doing like this, but after I changed my mind, and I used Google Analytics, it's more convenient for real-time dashboard.

Thanks

[2017-01-18 13:21] #929 closed

[2017-01-18 14:32] Migweld commented on #944
The documentation doesn't include the preceding slash on the middleware declarations:

`'jwt.auth'    => \Tymon\JWTAuth\Middleware\GetUserFromToken::class,`

Had the same problem in Laravel 5.3 until I added that backslash

[2017-01-18 15:27] knox2 opened #958 "Dynamically set default claims"
Ability to dynamically override a default claim by a custom claim? like for example expiration

[code]

[2017-01-18 17:16] johannesschobel commented on #929
Hey @sirsquall ,
nice idea of using google analytics for this use-case. However, this might not be applicable in specific scenarios. For example, you may need to give google analytics access to your API.

Cheers

[2017-01-18 18:35] JesusGR4 commented on #860
Hello @hazzo , when I use 'auth:api' in middleware it gives me an error, any idea?
PD: Show me your Kernel.php, jwt.php and auth.php pls :(

[2017-01-18 22:25] GIANTCRAB commented on #955
Add this into your composer.json

[code]

And then change the require part to this instead

[code]

This will set it to use the develop branch instead.

[2017-01-19 10:22] chuajose commented on #825
Hello, I'm using JWTGuard with two models App\ User and App\ customer.

`Route::group([
    'prefix' => 'admin',
], function () {

    Route::post('login', 'Auth\LoginController@login');
    // Authentication Routes...
    Route::group(['middleware' => 'auth:api'], function(){
        Route::resource('home', 'HomeController');
         Route::get('logout', 'Auth\LoginController@logout');
    });
}

[2017-01-19 11:37] JesusGR4 opened #961 "MethodNotAllowed"
Hello, I'm having troubles when I'm trying to use the 'auth:api' middleware in my routes.
With this configuration, the response to the request is 'MethodNotAllowedHttpException in RouteCollection.php'
If I don't use the middleware, it works. Where's the problem?
I'm using "tymon/jwt-auth": "1.0.*@dev"
This is my jwt.php
`<?php

/*
 * This file is part of jwt-auth.
 *
 * (c) Sean Tymon <tymon148@gm

[2017-01-19 18:55] SolidXnake opened #962 "Manipulate dynamically the refresh_ttl"
Dear partner,

I would like to know if there is a way to set dynamically the refresh_ttl, Im developing a web app that would be perfect if exists a way to deliver tokens with differents refresh_ttl depending on a role of a specific user

[2017-01-20 10:21] f7n commented on #860
`Command "jwt:secret" is not defined.`

`jwt:generate` doesn't seem to set the key anywhere either.

Version 0.5.9

[2017-01-20 10:23] f7n opened #963 "JWT secret not being set."
I'm using `php artisan jwt:generate` to generate a token, which returns the following:

    jwt-auth secret [...] set successfully.

But where is it set? The `JWT_SECRET` variable in my .ENV file doesn't change, and if I perform a project wide search for the key it's not found.

Does this command work?

Laravel 5.3, jwt-auth 0.5.9.

[2017-01-20 10:37] yokesharun opened #964 "Model Not Changing"
`'user' => 'App\Provider',`

Model is not changing eventhough i changed in config/jwt.php. then i used `Config::set('auth.providers.users.model','App\Provider');` is this a perfect solution ?

[2017-01-20 11:12] w5m opened #965 "How does jwt-auth return the JWT to the client? In the HTTP response header or body?"
Hi there,

I'm hoping to use jwt-auth in Laravel 5 in the near future. I need to know the means by which jwt-auth sends the JWT back to the client within the HTTP response, but I'm struggling to find any information on this.

Does jwt-auth utilise the Authorization header in the HTTP response? Or is the JWT embedded in the HTTP response body?

I'm trying to write a client, so I need to know where

[2017-01-20 15:47] hazzo commented on #860
@JesusGR4 what kind of error do you get?

Here is 'auth.php', Kernel and JWT are untouched.

[code]

Maybe you are missing this aliases in your `app.php`

[code]

[2017-01-20 17:45] sirago opened #966 "Less verbose logging"
Is there a way to minimize the verbosity of logging? We are getting errors in our logs when tokens expires or are blacklisted. That's a normal part of using JWT. Can we turn these exceptions off?

[2017-01-21 09:48] phpnets commented on #155
Here is the answer
http://stackoverflow.com/questions/34246464/tymon-jwt-user-not-found-laravel-5-1/34246991#34246991

[2017-01-21 19:44] REBELinBLUE commented on #963
Same

[2017-01-22 00:17] feeekkk commented on #965
Return it from your server however you want to return it.. This is a library, you can implement it how you please.

[2017-01-22 06:26] niknackster commented on #261
@shraddhabanerjee I am also implementing the forgot password functionality usingJWT Auth with Laravel api and angular js UI. Could you please share the code.
Thanks in advance :-)

[2017-01-23 14:03] thiagoaos opened #967 "Only when testing ReflectionException: Class Tymon\JWTAuth\Middleware\GetUserFromToken"
When i run vendor/bin/phpunit show the error

[code]

But the application works like a charm in develop mode.

[code]

I test with  class approach too

        'jwt.auth' => \Tymon\JWTAuth\Middleware\GetUserFromToken::class,
        'jwt.refresh' => \Tymon\JWTAuth\Middleware\RefreshToken::class,

[code]

I was using alpha.2 (another Provider config) and now i test with this config using beta.1. Bo

[2017-01-23 23:13] smarques84 commented on #851
@francisrod01 So whats the correct way to achieve such scenario? I also need to this since the database i am connecting is already has a users table with different column names and hashing algorithm for the password so i would like to avoid using Eloquent and authenticate the user my self and generate the token of that.

@jrosczyk Where does the authenticate token code goes in lumen? I known the c

[2017-01-24 01:17] jrosczyk commented on #851
@smarques84 The authenticate token code can also go in the controller as a new function, or be middleware, or even go in the route... it all depends on how you want to set it up.

Basically... the user pings your app, and your app generates the data and encodes it in a jwt token, then returns it to them in the header, json, or url. They then are responsible to retrieve your token and pass it back

[2017-01-24 03:27] smarques84 commented on #851
@jrosczyk Thanks for anwering the problem is that i am having an hard time trying to implement this scenario. The only example/tutorial with jwt that i tried and works with default config is this one:
https://github.com/krisanalfa/lumen-jwt

The problem is trying to adapt that project to avoid using eloquent and needing the Laravel Users table created on the Microsoft database. Following your tuto

[2017-01-24 07:40] knox2 commented on #965
You return it however you please....

[code]

[2017-01-24 08:14] knox2 commented on #941
Just login from multiple devices, it should be able to work by default

[2017-01-24 08:15] knox2 commented on #961
MethodNowAllowed usually means you are sending a GET request to a POST route or vice versa

[2017-01-24 10:50] gmann1982 commented on #967
Getting the same error when using Laravel 5.4

`Class Tymon\JWTAuth\Middleware\GetUserFromToken does not exist`

[2017-01-24 11:21] gmann1982 commented on #967
Fixed by changing:

`Tymon\JWTAuth\Middleware\GetUserFromToken::class`

to

`Tymon\JWTAuth\Http\Middleware\Authenticate::class`

[2017-01-24 11:25] thiagoaos commented on #967
I see that in source code :)
The middleware in alpha 2 and beta 1 change the name.
And now, don't need more do declare in kernel.php, the new Provider already did that automatically.

The strange thing is that only happened the error when i started the system by phpunit

[2017-01-24 14:47] microdesign opened #968 "Set user problem"
`        $user = User::find($id);

        JWTAuth::fromUser($user);
        dd(JWTAuth::getToken());`

the result is 'false'
user object is there I check it already.

[2017-01-24 17:27] f7n commented on #887
Anyone?

[2017-01-24 18:24] jrosczyk commented on #851
I believe you will still need to have a model class for your users table, even if it is different than the Laravel/Lumen setup. You'll also need to specify the location of your User model and how to find the user within the table in the config/jwt.php file.

Maybe https://github.com/tymondesigns/jwt-auth/issues/184 will help.

[2017-01-24 18:47] mcblum opened #970 "How to refresh tokens while rolling expiration into the future"
Hello.

Maybe I'm being dense, but is there a way to refresh a token each time a user sends a request that requires one while each time pushing the expiration out?

For example, we have a couple apps in production that have a set time, and occasionally if you are very unlucky you will hit "save" and the system will kick you out rather than saving. This is, obviously, a really dumb way to do it. So

[2017-01-24 22:34] isaackearl opened #972 "LaravelServiceProvider not registering middleware properly?"
I'm on the dev-develop branch.  I just upgraded to Laravel 5.4 and now I get errors that say that jwt.auth doesn't exist.

[code]

I have checked the LaravelServiceProvider and made sure I registered it in my app.php (this all works before I upgraded to 5.4)... this is the line that I'm assuming should create that middleware option:

[code]

I tried creating a middleware group like this:
[code]

b

[2017-01-24 22:59] gustavobissolli commented on #955
@tymondesigns would be great release the new version!

[2017-01-25 01:55] wuori commented on #972
Strange, the only thing I had to change was the provider in `app.php` (changed to `        Tymon\JWTAuth\Providers\LaravelServiceProvider::class`.

This is probably known already but it's my first time working from the dev branch.

[2017-01-25 06:25] isaackearl commented on #972
@wuori Are you on laravel 5.4?  And you can use 'jwt.auth' in your middleware?

I just retried installing everything just to make sure... and I still can't use jwt.auth middleware for the dvelop branch on 5.4.

[2017-01-25 11:03] juanpscotto commented on #972
jwt it's not 100% compatible with laravel 5.4 yet see https://github.com/tymondesigns/jwt-auth/pull/969

[2017-01-25 11:05] knox2 commented on #970
Add the routes in question under the 'jwt.refresh' middleware this should refresh the token on evry request to those routes.

[2017-01-25 11:09] knox2 commented on #968
How have you checked it

[2017-01-25 11:21] microdesign commented on #968
I mean I check the user object with dd($user); in case I send empty object to fromUser method.

But the user var contain the data from the model and the correct user is loaded.
But the method doesnt seems to doing something.

[2017-01-25 11:26] Cannonb4ll opened #973 "How to handle the login/token inside another laravel installation"
I started with this API inside Laravel, another Laravel frontend installation should be able to login to this Laravel API, but im not really sure how to handle this the right way.

My setup is like this:

Laravel API -> receives POST login -> returns a token and a user model -> Laravel frontend receives this data

But then what? How would I 'auth' the right way inside the Laravel frontend part?

J

[2017-01-25 11:51] knox2 commented on #968
can you paste the result of dd($user)

[2017-01-25 12:01] microdesign commented on #968
I already did it

"the result is 'false'"

[2017-01-25 12:14] knox2 commented on #968
You've said dd($user) returns an object?

[2017-01-25 12:19] microdesign commented on #968
yes, return a User model object from Laravel

[2017-01-25 12:21] voinearob opened #974 "Laravel 5.4"
Hello,

Please add support for the latest version of Laravel.

Thanks.

[2017-01-25 12:37] alaksandarjesus opened #975 "Error after installing in version 5.4"
I am getting this error after composer update....
I am using laravel version 5.4.*

` Call to undefined method Illuminate\Foundation\Application::share()`

My providers array

[code]

My alias array
[code]

My composer.json
,
`        "tymon/jwt-auth": "0.5.*"`

The error is
[code]

[2017-01-25 12:43] knox2 commented on #968
which version of jwt

[2017-01-25 12:48] microdesign commented on #968
"tymon/jwt-auth": "^0.5.6",

[2017-01-25 15:44] spirant commented on #975
I get the same error when updating to Laravel 5.4. I will delay upgrading to the latest version for now and thank everyone in advance for any work getting a fix for this ;-)

[2017-01-25 16:02] wuori commented on #972
@isaackearl Yes, just upgraded to 5.4 when I posted the comment. Verified version just in case, as it seemed a little odd to have it work without making other changes. Still using older middleware syntax in the route:

[code]

[2017-01-25 16:10] isaackearl commented on #972
@wuori if you look at the LaravelServiceProvider class you'll see where the name 'jwt.auth' is registered for the Authenticate class... I was trying to use this name in order to use the middleware.  This worked fine before the upgrade.  Like this:

[code]

Because of this I've always been able to use jwt.auth as a middleware like this:
[code]

I see your says 'auth' instead of jwt.auth... is that

[2017-01-25 16:58] wuori commented on #972
@isaackearl Ok, so I... lied. Sorry! I was testing a login endpoint (uses `JWTAuth::attempt`). Will update my comments to reflect my ignorance...

However, I updated Kernal with:
`'jwt.auth' => 'Tymon\JWTAuth\Http\Middleware\Authenticate'` instead of
`'jwt.auth' => 'Tymon\JWTAuth\Http\Middleware\GetUserFromToken'`

That allows me to keep using:
`Route::group(['middleware' => ['jwt.auth']], functio

[2017-01-25 18:17] jerguslejko commented on #975
Same here.

[2017-01-25 18:17] jerguslejko commented on #974
+1

[2017-01-25 18:27] juanpscotto commented on #975
jwt it's not 100% compatible with laravel 5.4 yet see https://github.com/tymondesigns/jwt-auth/pull/969

[2017-01-25 20:02] isaackearl commented on #972
@wuori I've found the fix for the issue and created a pull request.  It ends up the middleware function used in the LaravelServiceProvider doesn't work anymore in Laravel 5.4... and instead the aliasMiddleware function must be called instead.  That is why 'jwt.auth' was not being added to the alias middleware for me.

[2017-01-25 20:04] jackkitley commented on #974
PHP Fatal error:  Call to undefined method Illuminate\Foundation\Application::share() in /Applications/XAMPP/xamppfiles/htdocs/projects/ford_approved/vendor/tymon/jwt-auth/src/Providers/JWTAuthServiceProvider.php on line 132

  [Symfony\Component\Debug\Exception\FatalErrorException]
  Call to undefined method Illuminate\Foundation\Application::share()

Solution: Use of the singleton method. Share

[2017-01-25 20:31] isaackearl commented on #972
Pull request #976 fixes this issue for Laravel

I'm not sure if this issue exists for Lumen.

[2017-01-25 20:31] #972 closed

[2017-01-26 00:05] cabrerabywaters commented on #975
+1.  It would be great If you could tag the develop branch that seems to have the fix for 5.4 =) Thanks youuu!!!

[2017-01-26 12:01] spirant commented on #975
Looking at another project relying on the share method [https://github.com/mpociot/laravel-apidoc-generator/pull/150/files](https://github.com/mpociot/laravel-apidoc-generator/pull/150/files) this may be the approach:
[code]

There are further uses of share in this Class which would likely need updating too.

[2017-01-26 13:42] knox2 commented on #968
Then it should work, can you paste your controller?

[2017-01-26 13:57] microdesign commented on #968
OK

`class AdminUserController extends AdminGeneralController
{

     public function logginAs($id)
    {

        \Session::set('loggin_as_admin', $id);

        $user = User::find($id);

        JWTAuth::fromUser($user);
        dd(JWTAuth::getToken());

        return redirect('/#/dashboard');
    }
}
`

[2017-01-26 14:24] knox2 commented on #968
Its false because at that point you arent passing in the token via the request yet..

Do this

[code]

[2017-01-26 22:02] microdesign commented on #968
Yes generate token now, but in the API where we redirect responses are

{"error":"token_not_provided"}

maybe this is the problem because I redirect to API

[2017-01-26 22:06] GlenHughes commented on #182
What was the solution to this? I'm getting the same error!

[2017-01-27 01:48] knox2 commented on #968
In the API attach the token eg API?token=token_provided_from_user or add an Authorization header with value 'Bearer token_provided_from_user'

[2017-01-27 06:48] donnygunawan93 commented on #972
App\Exceptions\Handler.php

[code]

when token invalid I got
[code]
instead of json 'token_invalid', How to fix?

[2017-01-27 10:12] rajathans commented on #973
keep that token in local storage and send it in request header every time

[2017-01-27 10:16] rajathans commented on #962
you can use `Config::set('jwt.refresh_ttl', 700)` to dynamically set the refresh_ttl value

[2017-01-27 13:15] donnygunawan93 opened #977 "jwt.auth middleware not work"
constructor $this->middleware('jwt.auth');
return 'hello world';

Then I delete my user record on database from phpmyadmin then fire the function above again.

I got hello world, why jwt.auth not kick me?

I use dev-develop and L5.4.3
On previous version will return status code 404 with { error: 'user_not_found' }

[2017-01-27 13:46] Hretic opened #978 "getting user information after generating the token"
i've red the document and in all examples it goes like this

        $user = JWTAuth::parseToken()->authenticate();
        $userId = $user->id;

but what if we already have the token and it will not be send with the request ?
for example what if we want to return user full information right after login ... how can i do something like this ?

            $cerdintionals = $request->only('email' , '

[2017-01-27 22:35] microdesign commented on #968
Thanks I`ll try it

[2017-01-27 23:09] alexbowers commented on #975
@spirant You should actually use `singleton`. It's part of the upgrade guides.

https://laravel.com/docs/5.4/upgrade search for `share` on there.

[2017-01-28 00:25] dbbk commented on #860
Why is this still not documented?

[2017-01-28 02:31] darkylmnx opened #980 "BUG Laravel 5.4 FatalThrowableError in JWTAuthServiceProvider.php line 122"
The following error occured with a just fresh install with zero config except providers and facades for your Lib :

As of laravel 5.4 "share" has been removed. You will have to use the singleton instead.

[2017-01-28 03:24] darkylmnx commented on #980
In fact these are the things not working in 5.4 so far :
- the **share** method has been changed to **singleton**
- the **make** method does not take an array of params anymore

https://laravel.com/docs/5.4/upgrade#upgrade-5.4.0

[2017-01-28 05:12] hao10 opened #981 "how can i create a token in 1.0.x"
I find in #860
close

[2017-01-28 15:15] stefensuhat opened #982 "Laravel 5.4 Support phpseclib/phpseclib dependencies"
Run `composer require tymon/jwt-auth`

Return me:

Your requirements could not be resolved to an installable set of packages.

     Problem 1
    - Installation request for tymon/jwt-auth ^0.5.9 -> satisfiable by tymon/jwt-auth[0.5.9].
    - Conclusion: remove phpseclib/phpseclib 2.0.4
    - Conclusion: don't install phpseclib/phpseclib 2.0.4
    - tymon/jwt-auth 0.5.9 requires namshi/jose 5.0.* -

[2017-01-28 23:44] njt1982 commented on #955
I just had to do this:

[code]

[2017-01-29 00:12] njt1982 opened #983 "Token immediately blacklisted"
I'm upgrading my Laravel 5.2 app to Lumen 5.4  and have managed to repair my app to a point where  I can at least log in again ;)

So on login, I get a token back and my Angular app stores it and makes 3 API requests with it. These all work perfectly.

Then I click something to make another request. This request fails with:
[code]

I can confirm the correct header is being sent:

[code]

I get 2 s

[2017-01-29 00:14] njt1982 commented on #983
Note: I can make the error go away by adding this to my `.env`:
[code]

But this does not feel like a "fix"... This feels like I have just made the problem go away without actually solving the cause ;)

[2017-01-29 03:33] frozonfreak commented on #980
+1

[2017-01-29 10:15] imagine10255 commented on #974
Hi, Try this is success

http://stackoverflow.com/questions/41853751/tymon-jwt-auth-laravel-5-4-error

[2017-01-29 18:53] gandra opened #984 "FatalThrowableError on artisan vendor:publish for laravel 5.4"
`php artisan vendor:publish --provider="Tymon\JWTAuth\Providers\JWTAuthServiceProvider"` fails:

[code]

Here is my `composer.json` relevant part:

[code]

My environment:
- Windows 7
- PHP 7.1

[2017-01-29 21:40] alexgarrett commented on #984
I *believe* the 5.4 updates are not tagged yet. I'm currently using `dev-master` on 5.4 until it's been released, and everything is working perfectly. Make sure you switch this back out once a stable release is out.

For clarity:

[code]

[2017-01-29 22:03] tymondesigns commented on #984
Just tagged `0.5.10` 😄

[2017-01-29 22:03] #984 closed

[2017-01-29 22:35] Shirjeel313 commented on #935
# **Solution...**
If your code is correct, then also if your getting output:
{
  "error": "invalid_credentials"
}
# **Just Follow this Steps:---------------**
## **first step check:**
dd($request->only('email', 'password')); **or** dd($credentials);
 // output should be like this..

array:2 [
  "email" => "myemail@myemail.com"
  "password" => "test123"
]

## **second step check:**
 dd($token);
//

[2017-01-29 22:36] Shirjeel313 commented on #341
# **Solution...**
If your code is correct, then also if your getting output:
{
  "error": "invalid_credentials"
}
# **Just Follow this Steps:---------------**
## **first step check:**
dd($request->only('email', 'password')); **or** dd($credentials);
 // output should be like this..

array:2 [
  "email" => "myemail@myemail.com"
  "password" => "test123"
]

## **second step check:**
 dd($token);
//

[2017-01-29 22:49] Shirjeel313 commented on #184
# **Solution...**
If your code is correct, then also if your getting output:
{
  "error": "invalid_credentials"
}
# **Just Follow this Steps:---------------**
## **first step check:**
dd($request->only('email', 'password')); **or** dd($credentials);
 // output should be like this..

array:2 [
  "email" => "myemail@myemail.com"
  "password" => "test123"
]

## **second step check:**
 dd($token);
//

[2017-01-30 01:03] bkintanar opened #985 "1.0.0-beta.2 breaks Laravel 5.3 composer update"
[code]

due to this commit: https://github.com/tymondesigns/jwt-auth/commit/3f0b23118dae645c8e0b9d2ffa42390a1a0253c7#diff-7117d71558a2c03aa1fb70751a8b5d6dR321

[2017-01-30 02:25] fgagneten opened #986 "[Question]Full example for login controller"
Hi! There is a full example where the user can log in get the response from the database and generate the key?
Thanks

[2017-01-30 05:02] voinearob commented on #974
@tymondesigns Now with beta.2 out, support was added. Thank you very much Mr. Tymon!

[2017-01-30 05:02] #974 closed

[2017-01-30 08:03] tymondesigns commented on #985
Thabks for the heads up.. I will fix this shortly

[2017-01-30 10:14] olivecashlez opened #987 "lumen 5.3 - Argument 1 passed to Tymon\JWTAuth\Providers\Storage\Illuminate::__construct() must be an instance of Illuminate\Contracts\Cache\Repository, none given"
I'm using lumen 5.3 and I got this error :
`ErrorException in Illuminate.php line 40:
Argument 1 passed to Tymon\JWTAuth\Providers\Storage\Illuminate::__construct() must be an instance of Illuminate\Contracts\Cache\Repository, none given, called in /var/www/html/api-lumen/vendor/tymon/jwt-auth/src/Providers/AbstractServiceProvider.php on line 321 and defined`

[2017-01-30 10:34] tymondesigns commented on #987
this has been fixed... run composer update again

[2017-01-30 10:34] #987 closed

[2017-01-30 10:35] tymondesigns commented on #985
ok should be fixed now

[2017-01-30 10:35] #985 closed

[2017-01-31 10:32] kushal555 opened #988 "TokenBlacklistedException Exception not handling in Handler.php in Laravel 5.3"
I am trying to handle the ``TokenBlacklistedException``  exception but it never comes in my condition.
it always return the default laravel error log.

 Below i mentioned my App/Exception/Handler.php code.
[code]

What it return

[code]

[2017-01-31 11:43] jonogould opened #989 "Laravel 5.4: Problem with Auth"
Laravel 5.4 with JWT-Auth `1.0.0-beta.2` (latest `dev-develop` branch (9265f94)):

[code]

This happens on authentication after a successful `JWTAuth->attempt`.

Stack trace:

[code]

[2017-01-31 11:56] rdpascua commented on #989
Check #860, this is not a laravel 5.4 issue.

[2017-01-31 12:44] jonogould commented on #989
Oh brilliant, thanks for pointing this out, and thanks to @mtpultz for the awesome walkthrough!

All fixed up and working. Feels even better than before! The wiki definitely could do with an update (which I am sure is in progress!)

**Note to others:**
In my case I had need to keep my `web` guard as the default provider in `config/auth.php`. It is simple to specify the guard that you would like to

[2017-01-31 12:44] #989 closed

[2017-02-01 01:43] wuori commented on #988
I was having this issue too tonight. Doesn't seem like the constructors for the exceptions are setup or are otherwise incomplete. Since I catch most other errors any (on my API) I just put a check on the exception handler (`Handler.php`) for the following:

[code]

Not a great solution, but suffices until I get time to make a PR.

[2017-02-01 01:45] olivecashlez commented on #987
@tymondesigns still can not, I still get the same error after run composer update.

[2017-02-01 08:28] kushal555 commented on #988
@wuori  thanks for your reply, but actually it's not a proper solution. if I integrate it then it will handle all the token related error.
I had another one solution

[code]

the `TokenBlacklistedException` Exception give this exception.

[2017-02-01 13:43] dazza041 opened #990 "Token always null"
I've been trying for the past few hours to try and get the Authorization: Bearer <token> header to pass into Laravel, via an API call, to no avail.

I can see that the headers are set in the Response Payload, but it just always returns the error "The token could not be parsed from the request". If I parse the token via a query string then this works.

I've also tried in Postman, which I know isn't

[2017-02-01 14:56] dbr0 commented on #83
Has this been solved or is there another open issue?

[2017-02-01 15:04] leehicks opened #991 "Custom claims not working when passed as param in make()"
Getting 'JWT payload does not contain the required claims' when adding a couple of custom claims.
This works in latest release with Laravel 5.3, but not develop branch on Laravel 5.4...

$claims = ['sub' => $userId, 'email' => $email, 'forever' => $forever];
$payload = JWTFactory::make($claims);
$token = JWTAuth::encode($payload);

but this works...

$payload = JWTFactory::sub($userId)->email($ema

[2017-02-01 15:15] mcblum commented on #970
Thanks for the reply @knox2. If I implement that, will it refresh the same token, meaning it pushes its expiration into the future? Also does that mean the token is returned in the response as well?

[2017-02-01 16:10] leehicks commented on #991
Sorry, looks like the signature of a lot of Factory methods changed in latest develop.

[2017-02-01 16:10] #991 closed

[2017-02-01 19:21] knox2 commented on #970
@mcblum it invalidates the current token and generates a new one, returning it in the header of the response

[2017-02-01 19:23] mcblum commented on #970
@knox2 I'm sorry to be dense. And when it does that, it resets the expiration time to whatever you have the time set to, correct? Meaning every request pushes the expiration that much further into the future?

[2017-02-02 11:07] hakobsharabkhanyan commented on #977
Hi . We are facing the eact same issue .

[2017-02-03 03:36] ricksonchew opened #992 "Vendor publish command returns "Nothing to publish for tag []" in Lumen"
Hi, I am using the 1.0 dev version of this `"tymon/jwt-auth": "^1.0@dev",` and notice that it is not creating a jwt.php config upon vendor publishing using this command `php artisan vendor:publish --provider="Tymon\JWTAuth\Providers\LumenServiceProvider"`. Was able to do this using Lumen 5.3.*. It just returns a message of "Nothing to publish for tag []".

In order to run the vendor publish, you m

[2017-02-03 04:41] ricksonchew opened #993 "Missing handle method on the JWTGuard"
On the `__call` method of JWTGuard, it has a condition that checks if a method exists: `if (method_exists($this->jwt, $method))`. It seems that it is passing `handle` on the `$method` in which it search on the `$this->jwt` that is non existent.

[2017-02-03 05:30] ricksonchew opened #994 "Only getting first user"
When retrieving a token for a user, it only validates the first user. I have set up a database seeder with the following users.

[code]

Then  on postman, when I ran `http://localhost:8080/login` and pass the following parameters, it returns the token.
email = test1@test.com
pass = testtest1

Then when I pass the returned token on my 'http://localhost:8080/users', it works fine as well.

But when

[2017-02-03 18:47] TungCena opened #995 "refresh token && refresh_ttl"
In here, what's the meaning of refresh token? Is refreshed access token or actual refresh token?
I tried
$refreshedToken = JWTAuth::refresh($token);
It is a refreshed access token, so what is the config refresh_ttl using?

[2017-02-03 19:42] WanderingKazuma commented on #982
I am seeing the same:
[code]

[2017-02-04 01:39] sourcesita commented on #860
@hazzo I love u man, that code example help me a lot, was stuck for 2 hours. +1

[2017-02-04 02:30] ssuhat commented on #982
beta-1 fix this.

[2017-02-05 02:34] jkTANdeveloper commented on #111
I would like to ask how to I make the JWT authenticate for multiple table ?
For now JWT worked fine for my user table ( sign in and sign up )
then I implement it to my commercial table, it can sign up which come out token, but it cannot sign in.
it always stated "commercials not found" .

I tried the method of \Config::set('jwt.user' , "App\Commercial");
however, it stated
" Type error: Argument 1

[2017-02-05 15:32] ortho23 commented on #647
In a new version remember to disable blacklisting alongside with high ttl and refresh_ttl values. Just set env variable: JWT_BLACKLIST_ENABLED=false

[2017-02-06 05:06] LTFENG commented on #860
Hi, I would like to use jwt-auth 1.0.x in laravel 5.4 for JWT multiple table
Is it possible ?

[2017-02-06 09:43] entriol commented on #944
@Migweld Thanks. That fixed my problem. You should submit PR to Wiki.

Also, anything to read it about that. My skills are limited using classes in PHP.

[2017-02-06 10:29] Yannici commented on #980
+1

[2017-02-06 15:40] Motard commented on #396
I also have this problem. And I noticed that this only happens when I made some request on top of another request. Let me try to explain. I am using Postman to develop, and when I click the send button with more or less a second interval between requests, all is fine, but when I click very fast the send button, I get an invalid token response.

[2017-02-06 15:43] Motard opened #996 "Token time to live not working"
I am using laravel, and I set in config/jwt.php ttl => 1, but I am not getting token expired after 1 minute I created the token. I do login, get a new token, then start making requests, supplying the received token, but all works, I mean, the requests are satisfied. I think that after 1 minute I should get a token expired response.

[2017-02-07 14:31] ebarault commented on #860
@mtpultz many thanks for bootstrapping me into this. I had just finished a skeleton with vanilla jwt-auth. The move to jwt-guard is worth it 👍
I'd highly recommend to repost this how-to in a different issue so to clean up a bit the mess with comments.

For anyone wondering how to get rid of this required bit of config in `config/auth.php`
[code]

just override the auth provider for guard in your L

[2017-02-08 07:55] marczahn commented on #887
Get this as well - Even  with setting the nbf manually to the past. And it is not reproducable deterministcally.

[2017-02-08 08:52] ebarault opened #997 "(develop branch) Middleware to return JWT exceptions"
Hi @tymondesigns,
Many thanks for jwt-auth.

Would you consider returning instances of JWT exceptions in BaseMiddleware ([here](https://github.com/tymondesigns/jwt-auth/blob/develop/src/Http/Middleware/BaseMiddleware.php#L51) and [there](https://github.com/tymondesigns/jwt-auth/blob/develop/src/Http/Middleware/BaseMiddleware.php#L71)) so we could differentiate the error handling in `App\Exceptions

[2017-02-08 09:10] sleenen opened #998 "Token refresh; Refresh on a refreshed token"
After refreshing a token and getting back a new valid token. The issued at time (IAT) claim remains the same as intended.
However the validate refresh code looks like this and checks based on that IAT:

[code]

Should this not be checked against the expiry (EXP) claim, so that the 'new'/refreshed token again has the refreshTTL to be able to refresh this newly created token and the refreshTTL gets

[2017-02-08 11:08] sleenen commented on #995
Not quite sure what your actual question is. But clearly stated in the comment above the settings:

[code]

[2017-02-08 11:12] sleenen commented on #996
Depends on what you do with the token; you using middleware to protect the routes?

[2017-02-08 11:16] sleenen commented on #970
Nope, I'm running into this problem too. See issue I just created: [#998](https://github.com/tymondesigns/jwt-auth/issues/998)

Basically the problem is, the refreshed token does get a new expiration time set correctly, but when that token does expire and you want to refresh that, it will give a token expired exception as well, because the check for the refresh time is based on the IAT time, which

[2017-02-08 12:29] fahadonline opened #999 "PHP 5.5.9, JWTAuth::invalidate, DateTime::setTimezone() Error"
Hi All,

My server is running PHP 5.5.9.

On logout when I try to JWTAuth::invalidate, I get following error.

"DateTime::setTimezone(): Can only do this for zones with ID for now"

This seems to be PHP bug https://3v4l.org/mlZX7#v527

Any way around other then upgrading PHP ?

[code]

[2017-02-08 21:04] Mahmoudz opened #1000 "The `refresh` function returning the same token and it's expired!"
I'm using the Dingo API package with this JWT package.

Here's my straight forward code from the controller:

[code]

Here's the result of that code:

[code]

When disabling the blacklisting feature `'blacklist_enabled' => false`

The new Token returned is the exact old Token with the same expiry date!!

WHY!

[2017-02-10 03:13] RotateAt60MPH opened #1001 "what is JWTAuth::encode?"
I'm wanting to create a token from an array of properties.  The docs say this:
[code]

[2017-02-10 14:47] Motard commented on #996
Yes, I am using middleware. And I have tested that if I increase the TTL to anything bigger that one hour, that TTL is respected. But any TTL under an hour, is defaulting to one hour.

[2017-02-10 21:01] Mando-Chris commented on #983
Hi @njt1982 , I am no expert, but I was just poking around in the code in this area.  And the code that does the refresh  (Manager->refresh) will blacklist the token immediately if you have that enabled, making the tokens "one use only".

[code]

The refresh middleware seems to only be something you would use if you were doing one use tokens.

Again, I'm no expert, currently poking around the code

[2017-02-10 21:25] Mando-Chris commented on #1000
Hi @Mahmoudz

The version of the api I am using doesn't have JWTAuth::decode in it, so my information may not apply. What version are you using?

Not sure if this helps, but

1. JWTAuth::refresh doesn't take an old token, it gets and uses the token from the request itself I believe. It takes optional bool params (see JWT->refresh I believe).
1. It builds the token from the "claims" payload.  Since

[2017-02-12 05:30] jeff-h commented on #860
This should be in the wiki. That would be *really* helpful.

Secondly, any chance anyone has some code to share for 5.4? I wish there was a repo somewhere with the basics covered, like this tutorial does.

[2017-02-12 06:09] jeff-h opened #1002 "Consider opening up wiki to public editing"
Would you consider allowing unrestricted editing permissions for the wiki for this project? I've seen this work really well in other projects, and have myself contributed quite a bit of documentation that way.

For example, in this project, the guide in #860 for Laravel 5.3 would be ideal for the wiki, in my opinion, and opening up wiki editing rights would allow the community to keep that guide u

[2017-02-12 08:58] alihasanzaade opened #1003 "Lumen handling jwt exception"
I've setup JWT in lumen framework based to this article
www.akaita.com/post/json-web-token-authentication-for-lumen-5-tymon-jwt-auth/

But i cannot handle JWTExceptions, when my token is invalid, application throws AuthorizationException exception and it is not throw JWTException s.

[2017-02-12 09:01] alihasanzaade commented on #983
i have this issue

[2017-02-12 09:51] Mando-Chris commented on #983
@njt1982 Are you storing the refreshed token?

[2017-02-13 04:26] aofdev opened #1004 "Laravel 5.4 *Always getting invalid_credentials*"
[code]

//function signin output :    {"error":"Invalid credentials!"}﻿

[2017-02-13 17:07] Mahmoudz commented on #1000
@Mando-Chris I'm using version 0.5.10.

`JWTAuth::refresh` does take token as input and it's optional.

[code]

All it's doing after getting the token is this:

[code]

[2017-02-13 17:37] Mando-Chris commented on #1000
@Mahmoudz Just realized we are using the `develop` branch.

So my points are not relevant to you, sorry about that.

[2017-02-13 18:21] Mahmoudz commented on #1000
@Mando-Chris thanks anyway man :)

[2017-02-14 00:54] alsofronie commented on #1004
Well... your stored password is a `bcrypt` of user's email addres. You have a typo in your code on `signup`, it should be

        ...
        $user = new User([
            'name' => $request->input('name'),
            'email' => $request->input('email'),
            'password' => bcrypt($request->input('password'))
        ]);
        ....

[2017-02-14 08:56] ahmadbadpey commented on #886
I have same problem. can you find any solution ?

[2017-02-14 11:29] kyoukhana opened #1005 "when token expires change to error 401"
When the token expires how can i change the headers to the following.

[code]

[2017-02-14 13:17] Mark-Hoog commented on #963
For me the problem was that my .env file is not in the same folder as the Lumen basepath. (I'm integrating lumen in an existing ~not~ greatly structured project)

[2017-02-14 17:07] gthuo commented on #839
@deepu9 so what should the configuration above look like?

[2017-02-14 18:09] aofdev commented on #1004
me Email and password okay ? but   output : {"error":"Invalid credentials!"}﻿

[2017-02-14 20:54] RotateAt60MPH commented on #1001
I don't think JWTFactory::make takes a claim array any more.

Since the docs appear to be really out of date, can someone can send me an updated snippet of creating a token from a claims array. That would really help.

[2017-02-14 22:18] kyoukhana opened #1006 "Headers reporting 401 on local apache machine but not live"
So on my local machine I have all the proper header response information returning.  I am using Apache on the local machine.  On the live machine is Nginx.  With the live machine if the token is not valid it will return a 500 server error.  Here is all of my code.

I am using Laravel 5.3.  and "tymon/jwt-auth": "0.5.*"

### Sample Route that requires auth
[code]

I access the route like this

/api

[2017-02-15 00:51] jsdecena commented on #784
I second on this. I am also getting `Unable to authenticate with invalid token.` error. I am only providing an API Key and Secret to the app that wants to access a resource on my server so there is no `User` attached to it. Anyway, in the [docs ](https://github.com/tymondesigns/jwt-auth/wiki/Creating-Tokens#creating-a-token-based-on-anything-you-like), it says that you can create a token from anyt

[2017-02-15 03:54] mcblum commented on #970
@sleenen I see - so your issue is the same as mine. Basically we both want the expiration of the token to be moved forward into the future each time it is refreshed. So, if a user was constantly using an app they could, esentially, continue to use it forever as long as they made one api request that was calling `jwt.refresh` within the defined `ttl` time. So if I have `ttl` set to two hours, one A

[2017-02-15 03:55] mcblum commented on #998
Obviously you linked to my issue but just wanted to re-iterate this is exactly what I am looking to do.

[2017-02-15 04:20] garhbod commented on #982
Is the transition from ^0.5 to 1.0.0.beta easy?
Is there any migration required?

[2017-02-15 09:23] aofdev commented on #1004
thanks

[2017-02-15 10:09] #1004 closed

[2017-02-15 12:06] sudheerpal opened #1007 "I want to customize the error handling when token expires or mismatches"
Below mentioned is the standard output when token is expired or mis-matched.
{
  "error": {
    "message": "Token has expired",
    "status_code": 401
  }
}

While i want to return something like this, pasted below

return response()->json([
                'status' => 'error',
                'message' => 'Token has expired'
                ], 401);

Its a simple way, how i am get user id from to

[2017-02-15 18:10] derekmd commented on #1007
If you're using middleware classes `BaseMiddleware` and `RefreshToken` on your routes, update the `App\Exceptions\Handler@render()` method to handle `UnauthorizedHttpException`.

[code]

Parsing request tokens at the controller-level on your own, these three classes have to be caught and handled for custom JSON responses:

* `Tymon\JWTAuth\Exceptions\JWTException`
* `Tymon\JWTAuth\Exceptions\Token

[2017-02-16 08:32] brickgale commented on #289
Also encountered this issue. After commenting it on my constructor it displays my routes fine.

[2017-02-16 10:39] paolog22 opened #1008 "Token Signature could not be verified."
`TokenInvalidException in NamshiAdapter.php line 71:
Token Signature could not be verified.`

Got this error while trying to decode Jwt Token , but decoding at jwt.io site it is fine.

any idea?
thanks

[2017-02-16 17:01] johannesschobel commented on #986
You might want to try [this one here](https://github.com/francescomalatesta/laravel-api-boilerplate-jwt)

It contains a Laravel 5.3 application, JWT and dingo..
Hope this helps..

[2017-02-16 17:08] johannesschobel commented on #964
The line respective `config.jwt.user` key must point to your `User` model. For example

[code]

[2017-02-16 18:34] padronleandro opened #1009 "timeout error"
I'm sorry if this is not an issue but i couldn't find any solution anywhere.

I'm having a timeout when i want to create the token, this is my code.

this is my code

    `$credentials = $request->only('email', 'password');

        try {
            // verify the credentials and create a token for the user
            if (! $token = JWTAuth::attempt($credentials)) {
                return respons

[2017-02-19 20:29] RotateAt60MPH opened #1011 "Wiki documentation out of date. Project dead?"
Can anyone tell me what the vintage of the documentation is?  I can't seem to do anything useful with JWT since I cannot even get the sample code snippets to work (yet).

[2017-02-19 20:35] RotateAt60MPH commented on #934
#860 is very dated, from that I can tell.

+1

[2017-02-19 21:21] abosami2000 opened #1012 "Can I know the current valid tokens"
Hey ,

Are there a way to know all the valid tokens or how many users uses my app right now.

[2017-02-20 00:30] didadan commented on #1011
Also the vendor publish command in the installation instructions dont seem to do anything. There are over 200 open issues, is this abandoned?

[2017-02-20 00:46] RotateAt60MPH commented on #1011
Sure as heck seems like that to me...

[2017-02-20 03:24] CHOMNANP opened #1013 "Decode Custom JWT"
I had custom format JWT sending from other application.
I would like to decode the custom JWT, so I could use the Payload inside it.
Can I use the package to decode?

Thanks.

[2017-02-20 05:04] karlpatrickespiritu opened #1014 "Authorization: Bearer null but with query string token"
Requests with `token` query string param but `Authorization` header is `Bearer null` returns:

[code]

I might be just missing something but shouldn't it just proccess the request although my `Authorization` header is null? Since I have the token as a query string param on the request.

[2017-02-20 06:07] deepu9 commented on #839
Sorry @gthuo, I'm not sure about the config, but from what I remember is that when you assign "api" as a default guard, then it will look for those drivers, if it couldn't find any of them, then it will throw error.

[2017-02-20 22:29] rohitsodhia opened #1015 "Getting "does not contain the require claims" error, though included"
Hi,

I'm trying JWT for the first time, and this was the most recommended extension for Lumen. I'm having some difficulty, and hoping you can help me out. The docs are a bit sparse for Lumen, but I found some guides to get me going, and thought I'd try an example of a custom claim to learn more.

[code]

I first copied the examples straight in step 3 of the docs, but kept getting an error about no

[2017-02-21 05:50] #667 closed

[2017-02-21 17:50] meritlouka opened #1016 "Refresh Js permission Without Logout"
how  to refresh my menu par according to changed permissions  to current user immediately without logout while using entrust with "laravel"

[2017-02-21 20:37] didadan commented on #1011
Well, there are recent commits and I guess Laravel 5.4 compatibility is still in progress. What version do you use?

[2017-02-21 20:38] didadan commented on #1011
And what exactly doesnt work for you?

[2017-02-21 21:49] RotateAt60MPH commented on #1011
For me, it's that JWTAuth::encode does not appear to exist anymore, per the samples for creating a token.

[2017-02-21 21:59] didadan commented on #1011
Which Laravel version are you running?

[2017-02-21 22:02] didadan commented on #1011
This worked for me:
`$token = JWTAuth::fromUser($user);
return response()->json(compact('token'));
`

[2017-02-21 23:44] mediaceh commented on #860
It sample not working absolutely. I spent more five hours to get it work.

[2017-02-22 11:37] Akikev opened #1017 "Breaking changes from 0.5.9 to 0.5.10"

[2017-02-22 14:09] cvgeldern commented on #860
I get {token: "1"} as response if I login successfully, instead of a token. I can not trace the reason of this behaviour. I'm using Laravel 5.4 and the dev-develop branch (1.0.x) in composer.json. With some minor 5.3->5.4 tweaks researching errors on the go, this seems to be the last problem I can't tackle myself to get this fully functional.

[2017-02-22 14:40] ebarault commented on #860
Shortest way : Change the default auth to "api" in auth.php

[2017-02-22 14:55] cvgeldern commented on #860
I'm ashamed, how did I miss that one... I did have it set to api, but somehow I/something reverted it back. Probably staring too much at the code last few days... Thanks a lot!

[2017-02-22 21:36] vollyimnetz commented on #1015
I also getting this error message while using "JWTFactory::make($customClaims)".
Where $customClaims are some variables (not including the default claims).

I got this error on Version 0.5.10
When i downgrade to 0.5.9 the problem is gone.

Will this be fixed?
Exact Error message:
"_Tymon\JWTAuth\Exceptions\TokenInvalidException: JWT payload does not contain the required claims in_"

[2017-02-23 12:20] unabomber87 opened #1019 "Authorization header returning null"
Hi,
on a fresh installation (laravel5.4) i can generate token from login password
but the problem is that when i try to retrieve user from token using Authorization header
i'm getting a null value via `JWTAuth::parseToken()->authenticate()`
I tested even via `$request->header('Authorization')` which also return null.

So i changed the signature of the method on `class JWTAuth` from
`public functio

[2017-02-23 17:26] bradbird1990 commented on #206
@SomethingWrong This actually works. I'm not sure if it is the right way... But as long as you test that the user can login, register and refresh a token it will inherently pass all other auth tests. Thanks.

[2017-02-24 10:16] microdesign commented on #968
I solve it by another way - thanks a lot for help

[2017-02-24 10:54] emerico commented on #104
Thanks Man

[2017-02-24 11:32] rujaun commented on #1015
Having the exact same issue, had to revert back to 0.5.9

[2017-02-24 14:51] rohitsodhia commented on #1015
I guess I can look into using 0.5.9 with Lumen and manually utilizing the factory.

[2017-02-25 22:57] prateekvarma commented on #944
@Migweld , i seem to be missing something really silly here. Where is the middleware declaration?
I don't see any such thing on the wiki - https://github.com/tymondesigns/jwt-auth/wiki/Installation

[2017-02-26 20:33] Migweld commented on #944
@prateekvarma It should be under app/Http/Kernel.php, although I  must admit I've switched over to Dingo in my project and can't seem to find the commit wherin I was using JWT to confirm :grimacing:

[2017-02-26 21:40] samthomson commented on #802
+1

[2017-02-27 06:20] didadan commented on #975
If not known yet. On release 1.0.0-beta.2 This doesn't seem to do anything, yet:
`php artisan vendor:publish --provider="Tymon\JWTAuth\Providers\JWTAuthServiceProvider"`

[2017-02-27 13:39] stellasoft-will opened #1020 "Set custom claims based on Eloquent User relationship"
I have a requirement to get the team id from a teams table joined to users Via many to many relationship added as a custom claim. I am using 1.0.0-beta.2 and would like to add team id as a custom claim. can anyone help explain this as the documentation is for 0.5.* and is therefore very difficult to figure out how to accomplish this. Thanks.

[2017-02-27 19:53] mehrdaad opened #1021 "Should I use version ``0.5`` or ``1.*``"
Currently I'm using Laravel ``5.3`` with Dingo version ``1.0.x@dev``.
Witch version of Jwt should I use?
I see many breaking changes in version 1

[2017-02-27 21:18] mehrdaad opened #1022 "What's the difference between Check and Authenticate middleware"
I'm using version ``dev-develop`` of ``jwt-auth``.
I see 2 middlewares under ``Middlewares`` directory which are similar.
One is ``Check`` and the other ``Authenticate``.
But both of them function similarly.
I suppose I have misunderstanding about ``Check``.
I think ``Check`` middleware should just authenticate user if token is present.
Can you describe these 2 middlewares please?

[2017-02-27 21:38] mehrdaad commented on #1022
I noticed that if I change ``jwt.auth`` in ``Kernel.php`` to something else, it will work as expected.
Any thoughts on this?

[2017-02-28 05:23] DevYunus opened #1023 "Get All active tokens [ Need help ]"
I have gone through documentation but i haven't found  method which return all active tokens . I need to implement invoking user token functionality. I can do it by managing tokens in database but i don't need that overhead . I am just a beginner in Laravel please give any valuable feedback .

[2017-02-28 12:12] caruzko commented on #860
I made all work (returning token upon successful login, restricting access to protected routes) under Laravel 5.3, but when I make a request to а protected route without or with unvalid token, I receive 404 Not Found, instead of 401 Unauthorized.
Anyone facing this issue?
Thanks in advance.

[2017-02-28 16:21] mehrdaad opened #1024 "Should status code be 400 or 401 if token is not provided"
The title is self explanatory, If ``Authorization`` header is absent what would be appropriate status code?
I see if u use ``api.auth`` middleware from Dingo it will be 401 while jwt will be 400.

[2017-02-28 21:04] rgehan commented on #992
`laravelista/lumen-vendor-publish` is the full package name. `lumen-vendor-publish` is abandoned and is not being installed

[2017-03-01 16:27] gandra opened #1025 "InvalidClaimException: Invalid value provided for claim [exp] in vendor\tymon\jwt-auth\src\Claims\DatetimeTrait.php:44"
Hi!

I have laravel 5.4 app as backend APP using tymon/jwt-auth for JWT. App works fine on linux box but on windows I have `InvalidClaimException`.

Here is the stack trace:
[code]

Any idea why?

[2017-03-02 00:30] caposaric opened #1026 "Authorization header ignored"
I'm using `jwt.auth` as middleware for some API routes. However, I can't get it to work by passing the token on the Authorization header.

Adding the token via JSON for POST requests or via URL for GET requests gets me past authentication, but Authorization header is just not working. Has anyone gone through this before?

I've tested this with Postman/RequestBin, Alamofire on my iOS app, returning

[2017-03-02 14:11] lukasvy commented on #980
+1

[2017-03-02 14:16] phaniapsr commented on #277
One of the reason is when running php with xdebug enabled. I have disabled and tried it worked like a charm...

[2017-03-02 16:46] sleenen commented on #996
Did you add logging to the handle function? To see if it actually goes in there and passes the code you pasted

[2017-03-02 17:03] sleenen commented on #998
I'm using 1.0.0-alpha.3 by the way.

@tymondesigns any thoughts on this? I see the code has changed in the 1.0.0-beta.2, making it unclear for me where the actual checking on the time difference is done. Gonna have to look into that.

[2017-03-03 03:48] Walk-Code commented on #378
**You can try to build an authJWT middleware and register it like this:**
public function handle($request, Closure $next)
    {
        try {
            $user = JWTAuth::toUser($request->input('token'));
        } catch (Exception $e) {
            if ($e instanceof \Tymon\JWTAuth\Exceptions\TokenInvalidException){
                return response()->json(['error'=>'token_invalid']);
            }

[2017-03-03 09:17] sleenen commented on #970
@mcblum exactly what we want yes

[2017-03-03 09:23] veelen commented on #970
Would setting the JWT_REFRESH_TTL in your config to NULL actually be the same thing?

[2017-03-03 09:31] sleenen commented on #970
Unfortunately, no, that would not be the same

[2017-03-03 09:38] veelen commented on #970
No, i guess so. The difference is that the token renewal now depends on the 'manual' login action, while you want it t be the last time the user visited the application.

[2017-03-03 11:48] Walk-Code commented on #939
+1

[2017-03-03 15:01] Walk-Code commented on #999
+1

[2017-03-03 15:34] francisrod01 commented on #939
This line is responsible to retrieve headers after with `Bearer <token>` and you will be a parse in response authorization.

[code]

and output is that:

[code]

[2017-03-03 15:34] #939 closed

[2017-03-04 02:52] Walk-Code opened #1027 "Use JWTAuth :: refresh in the official environment with an error"
This is my mistake in the formal environment:
[official]('https://ooo.0o0.ooo/2017/03/04/58ba2b23961b5.png')
This is the result of my local environment:
[localhost]('https://ooo.0o0.ooo/2017/03/04/58ba2b8b49810.png')
I do not know what the problem, I hope to have encountered the same small partners, can answer for me, in this thanks.

[2017-03-04 05:27] Walk-Code commented on #1027
JWTAuth :: refresh worked when i rolled back to the system tray.

[2017-03-06 09:46] TimothePearce commented on #1021
If you look at `composer.json` in https://github.com/francescomalatesta/laravel-api-boilerplate-jwt/ repository, @francescomalatesta use version 0.5.9 with Laravel 5.4.

[2017-03-06 10:11] rico commented on #1008
I think it actually happens on line 84 of `Namshi.php`. The `verify()`Method of `JWS.php` always fails.

[2017-03-06 11:13] rico commented on #1022
You don't have to add the middleware to kernel manually, this happens when you add the `Tymon\JWTAuth\Providers\LaravelServiceProvider` class to the `providers` array `config/app.php`.

[2017-03-06 14:15] yesterday679 commented on #634
you are so great
thanks for lot

[2017-03-06 20:47] zRosenthal commented on #1026
Try ` JWTAuth::setRequest($request)->getToken()` where `$request` is the Request object.
You can also use the Request facade to check if the Authorization header exists in Laravel.
You may have to adjust your .htaccess file to allow the Authorization header through

[2017-03-06 21:12] zRosenthal commented on #1016
If I am understanding your question correctly, you want to automatically update your UI when a users permissions are changed?
If thats the case you can do this a few different ways.

1)
   * When a permissions for any user is changed you can add their user id to your cache
     * if using redis you can have a set of user ids for users whose permissions have been changed
   * Then you can set up mi

[2017-03-06 21:19] zRosenthal commented on #1023
I don't believe you can. Tokens are only persisted (in cache) when they are blacklisted. Tokens are validated by checking there signature so it is not necessary to persist each token created.

If you want to revoke user token functionality (blacklist) you need to know the token. Im not sure what your use case is but it sounds like there is a better way to do what you are trying to do.

Idea: if yo

[2017-03-06 22:39] mtpultz commented on #1021
@mehrdaad it depends if you use the authorization guard (JWTGuard) in Laravel 5.3+ or the older version JWTAuth.  You can only use JWTGuard in v1.x/develop branches, but not in 0.5.x, which only offers JWTAuth.  I've been using 1.x/develop for over a year with almost no issues, and they tend to get cleaned up pretty quickly if there is one.  A lot of the confusion comes from the docs being complet

[2017-03-06 22:48] TimothePearce commented on #1021
@mtpultz Can you propose a PR to update documentation ? I spend a long time trying to configure jwt-auth 1.0.x without any success because of this obsolete wiki...

[2017-03-07 05:01] andrewmclagan commented on #1024
Agreed, i was about to raise the same issue before I found this.

- `400` denotes a mal-formed HTTP request.
- `401` denotes the the request was unauthorised

Logic would dictate a request failing to provide a token is `401` not authorised rather then `400` badly formed.

Clients accessing a RESTful resource expect response codes to explain correctly what has happened. In this case authentication

[2017-03-07 09:42] meritlouka commented on #1016
This is the case Thank you so much .
for the first solution i want to make sure i understand you well
i will compare changed permission person id with logged in user id and if the same i will update his permission list in my ui (angular)

[2017-03-07 09:42] #1016 closed

[2017-03-07 10:05] lednhatkhanh commented on #915
@MitchellMcKenna Hello, I'm facing this problem as well, could you please provide the details for the fix. I'm not so familiar with laravel. Thank you.

[2017-03-07 10:21] willgopublic commented on #1013
Tymon's JWT-Auth uses Namshi's library for encoding and decoding jwt's ( \Tymon\JWTAuth\Providers\JWT\Namshi::decode ).

See https://github.com/namshi/jose for more information. In your case you perhaps extra attention is needed for https://github.com/namshi/jose#unsecure-jwses since the JWT comes from another application.

[2017-03-07 10:27] willgopublic commented on #1001
JWTAuth & JWTFactory are facades that can be used from the laravel framework when they are loaded .

Search for Factory and JWTAuth in this library if you would like to use them without loading them.

[2017-03-07 11:23] willgopublic commented on #1015
I think that when you do the following the default/required claims are added :
[code]

Another option might be to change the required claims in the config .. ?

[2017-03-07 11:24] willgopublic commented on #1000
Do you try to refresh after the TTL, i.e. before exp is in the past?

[2017-03-07 20:04] mehrdaad commented on #1024
@andrewmclagan thanks, but this seems like a bug rather than a decision.
Issuing ``400`` status code for not providing token wrong at least for me.
Do you agree with me too?

[2017-03-08 00:19] jubairsaidi commented on #970
Same issue here, basically I need a way to push the current token expiration into the future, not generate a new token.

[2017-03-08 00:33] andrewmclagan commented on #1024
Sure i could do this.

[2017-03-08 01:20] jubairsaidi commented on #970
OK it looks like I may have found a solution for this.

Set your auth protected routes to use `jwt.refresh`.

in your config/jwt.php file go down to `blacklist_enabled` and set it to `true`, then next set your `blacklist_grace_period` to the period you want the TTL window on the refresh to be.  What this does, is basically allow you to continue using the same token as long as you're in the the gra

[2017-03-08 13:30] Mark-Hoog commented on #998
Isn't this on purpose so you can't indefinitely chain refresh tokens?

Here's what I did to try and fix this.

A token is set to a specific user through the custom claim, if I detect that the token is within three hours of expiring, I generate a new Token based on the JWTSubject.

You can still indefinitely chain refresh tokens but by setting this time period to a low number you mitigate some risk

[2017-03-08 18:07] imranali1 opened #1029 "Only authenticates from default Model"
Hi,
I've implemented JWT for Laravel 5.4 & its working fine with users model.
I need JWT to work for other table "app_users" not users.
I've changed "user model namespace" to app_users under config/jwt.php
`'user' => 'App\Models\AppUsers',`
Following is authenticate function:
`try {
            // verify the credentials and create a token for the user
            if (! $token = JWTAuth::attempt($c

[2017-03-08 18:14] WillymarJ commented on #1029
me to same problem

[2017-03-08 20:00] imranali1 commented on #839
Any luck guys I am having same issue.
If I change api guard driver to jwt-auth or token I get following error respectively:
`Auth guard driver [api] is not defined.`
`Call to undefined method Illuminate\Auth\TokenGuard::attempt()`
But it working fine with session driver i.e.
`'api' => [
            'driver' => 'session',
            'provider' => 'app_users',
        ],`
What token should I use fo

[2017-03-08 20:20] uscamayta1986 opened #1030 "Conflict timezone Laravel 5.1 with JWT and dependency Carbon"
I'm using jwt.auth 0.5.10 in Laravel 5.1 , when I change 'timezone' => 'America/Latina' in (app/config) of Laravel. And then I try to use invalidate() method of jwt eg:

In Laravel
[code]
The following error occurs:

Here the image of the error:
[https://goo.gl/photos/VR5JbwXpaJuiWLRk7](https://goo.gl/photos/VR5JbwXpaJuiWLRk7)

**Note:**
With the timezone => 'UTC' that comes by default in laravel,

[2017-03-09 08:25] Walk-Code commented on #831
You can override the GetUserFromToken middleware, refresh it when the token expires, and correct it if there is an error.

[2017-03-09 09:52] #1023 closed

[2017-03-09 15:16] rgerovski opened #1031 "Does not work with Lumen 5.4"
I'm using Lumen v5.4.5 with JWTAuth 1.0.0-beta.2 and getting the following error:

I am trying to access the login method within my Controller that looks like:
[code]

My bootstrap/app.php file looks like:
[code]

In my config/ folder I have auth.php:
[code]
and jwt.php which is basically the default config file that comes with JWTAuth library.

Following is the full stack trace of the error:

[co

[2017-03-09 16:58] #1031 closed

[2017-03-09 20:40] mehrdaad commented on #1024
@andrewmclagan appreciated.

[2017-03-10 01:56] andrewmclagan commented on #1024
@mehrdaad Just finding time to fix the issues with the PR now

[2017-03-10 15:06] KelvinWanyama commented on #403
@jeffdupont  thanks I had also forgotten to have the slashes at the beginning.

[2017-03-10 16:28] jchapple commented on #1027
Hi @Walk-Code

Would you mind explaining what steps you went through to resolve this issue?

I am having the same issue with ::refresh hanging, using Lumen framework in Homestead environment.

Cheers

[2017-03-10 17:35] wallacemaxters opened #1032 "Parameter $driver of NamshiAdapter not found in ServiceProvider"
In this line of NamshiAdapter is always instantiated JWS:

[code]

In `JWTAuthServiceProvider`, not has the parameter 3

[code]

How to change `$driver` parameter?

This is a 0.4.* library version.

<sub>my english is bad</sub>

[2017-03-10 19:39] lukashl opened #1033 "laravel 5.4 invalid_credentials"
hi
when i try login with:

`!$token = $this->auth->attempt($request->only('user_name', 'pass'))`

i get error: invalid credentials.

I set database, model with this items, so what could be wrong?

[2017-03-11 02:53] jubairsaidi commented on #886
The solution I've come up with (I'm not a fan of doing it this way though) is fire the events in the auth controller on the different stages of auth (attempt, login success, logout). but jwt-auth really should fire events.

[2017-03-11 03:27] mrABR commented on #1029
Same problem, bump

[2017-03-11 09:18] Walk-Code commented on #1000
@Mahmoudz I have the same problem, may I ask you?

[2017-03-11 09:45] Walk-Code commented on #1030
@uscamayta1986 Can you tell me your solution? Cheers

[2017-03-11 11:01] Walk-Code opened #1034 "Some of the problems of composer update are in laravel5.2"
When I execute the composer update and manually refresh the token, there is an error: DateTime :: setTimezone (): Can only do this for zones with ID for now.
I guess it is missing some configuration

[2017-03-11 23:24] yurik94 commented on #811
Yup same issue, my token was empty without get()

[2017-03-12 02:32] Walk-Code commented on #1030
Cheers, it worked.

[2017-03-12 02:35] Walk-Code commented on #1034
Check for some time, find a solution in #1030.

[2017-03-12 02:35] #1034 closed

[2017-03-12 02:37] Walk-Code commented on #999
You can see this # 1030, hope it can help you.

[2017-03-12 02:37] Walk-Code commented on #1027
@jchapple You can see this # 1030, hope it can help you.

[2017-03-12 08:46] 2010abinas commented on #260
Please correct the below line it will work.
$user=User::where(['email'=> 'abc@gmail.com'])->first();

[2017-03-13 07:26] jchapple commented on #1030
Unfortunately I don't have a `timezone` declaration anywhere in Lumen.

It does seem that the issue has emerged after running `composer update`, however.

Seems strange but it was working before. Guess I will have to pull back the `composer.lock` and `vendor` folder manually from my working production environment until more info on a fix / cause is understood.

[2017-03-13 11:53] newkillerbeast2017 opened #1035 "Not expiring token on Lumen 5.4"
In my Lumen 5.4 application, I am using JWT for Auth. However, I cannot expire tokens for some reason but rest all works fine.

Here is my code:

	class UserController extends Controller
	{
		protected $jwt;
		public function __construct(JWTAuth $jwt)
		{
        	$this->jwt = $jwt;
    	}

		public function LogoutUser(Request $request){
        	$token = $this->jwt->getToken();

        	if($this

[2017-03-13 12:00] catalinux commented on #1035
Do you get any error? Blacklisting works with a memcached storage

[2017-03-13 13:35] jubairsaidi commented on #1035
Not sure if it's the same with Lumen but I use Auth::guard which exposes `$jwt->attempt($creds)` and `$jwt->logout(true)` where true forces invalidation of the token.

[2017-03-13 13:57] phpnets opened #1036 "JWT Refresh - old token not expiring"
Hi,
In my laravel 5.3 project, I have written my own middleware to check Authentication and a controller function to get refresh token (when ever we call). But recently I found the old token is not expiring even after the new token is generated. Please see my codes below:

Middleware:

[code]

I have written a function in my controller to manually refresh the token when ever required. Please see t

[2017-03-13 15:51] newkillerbeast2017 commented on #1035
@jubairsaidi could you give an example on where and how to use auth guard?

[2017-03-13 18:08] jubairsaidi commented on #1035
I'm familiar with the Laravel way of doing it, but not Lumen.  a quick search for Lumen auth guard resulted in this https://github.com/arubacao/http-basic-auth-guard.

You should keep in mind though, using JWTAuth is what gets passed to Auth guard so you should be able to use the method directly.

[2017-03-14 11:28] aramirez92 commented on #403
'jwt.auth' => \Tymon\JWTAuth\Middleware\GetUserFromToken::class,
        'jwt.refresh' => \Tymon\JWTAuth\Middleware\RefreshToken::class,

[2017-03-14 16:26] newkillerbeast2017 commented on #1035
@jubairsaidi thanks for your tips. However, I havnt used the same package but implemented something very similar. The config files and the service providers are typically equivalent. It doesn't give any errors on invalidating but the fact is the token is never invalidated. This thing has been driving me nuts.

[2017-03-15 21:32] MostafaAttia opened #1037 "jwt.refresh middleware works fine but jwt.auth is not working!"
When I use:

` $api->get('/events/all', [ 'middleware' => 'jwt.auth',
        'as'   => 'getAllEvents',
        'uses' => 'App\Api\V1\Controllers\EventController@getAllEvents',
 ]); `

I get:

`
{
    "error":"user_not_found"
}
`

It works fine if I change middleware to jwt.refresh, but I have to set JWT_BLACKLIST_ENABLED to false !

Any help would be appreciated, Thanks!

[2017-03-16 11:20] bachras opened #1038 "Unable to publish, Class 'Tymon\JWTAuth\Providers\LaravelServiceProvider' not found"
Hi all,

I have installed "tymon/jwt-auth":"1.0.0-beta.1" on Lararel 5.3.22. tymon folder was created under vendors folder, but I still received this message
``
 [RuntimeException]
 Could not scan for classes inside "tests/TestCase.php" which does not appear to be a file nor a folder
``

I have followed instructions in https://github.com/tymondesigns/jwt-auth/issues/513 and added
`Tymon\JWTAuth\Pr

[2017-03-16 15:37] TomKeyte commented on #1038
You need to also add the alias to config/app.php like so:

[code]
and then include it at the top of the PHP file you want to use it in, like

[code]

[2017-03-16 15:54] bachras commented on #1038
@TomKeyte Thank you for reply, I forgot to mention that I had included aliases as well. Still trying to figure what the problem is.

[2017-03-17 05:52] yanshinian commented on #731
use Illuminate\Http\Request;

[2017-03-17 13:22] dwoldo commented on #1038
@bachras I hit the same error. I removed all references to jwt-auth, then removed the package from composer, ran `composer update`. After success I added jwt-auth, tagged at `1.0.0-beta.2`, ran `composer update` and then re-added references to `app.php` and ran `composer update` (just to be sure).

Finally, I ran: `php artisan vendor:publish --provider="Tymon\JWTAuth\Providers\LaravelServiceProvid

[2017-03-17 14:28] #1035 closed

[2017-03-17 15:18] AeonDave commented on #972
I got the same unhandled exception:
Whoops, looks like something went wrong.
2/2 UnauthorizedHttpException in BaseMiddleware.php line 71: Token has expired

instead of my json
if ($e instanceof \Tymon\JWTAuth\Exceptions\TokenExpiredException) {
            $data['code'] = -1;
            $data['message'] = 'token_expired';
            return response()->json($data, $e->getStatusCode());

[2017-03-18 05:23] NaPsTeRScofielD commented on #915
I had the same issue

the solution is what jycr753 have said... "setting the api secret in jwt.php"

in fact on config/jwt.php, there is the line'secret' => env('JWT_SECRET'),,

Generate the key with this helper php artisan jwt:generate (for some reason I dont know why it doesnt set in the .env file itself like php artisan key:generate).
Copy the key (jwt-auth secret [DSvO98YtJ0204mBu9zqWN9QOMX7Tm

[2017-03-18 09:41] Lauriy commented on #915
`env('DSvO98YtJ0204mBu9zqWN9QOMX7Tmvr9')` <- remove the env() function then.

Also, there are installation instructions here: https://github.com/tymondesigns/jwt-auth/wiki/Installation

[2017-03-19 03:12] myprogo opened #1042 "for laravel 5.4 has bug"
"message": "Class 'Tymon\\JWTAuth\\Providers\\JwtGuard' not found",
  "status_code": 500,

[2017-03-19 08:29] ratanakpek commented on #533
same error as me, did anyone find out?

[2017-03-19 08:35] mydisha commented on #1042
same here, latests commit give jwt error
Class 'Tymon\JWTAuth\Providers\JwtGuard' not found",

[2017-03-19 09:38] raniesantos commented on #379
Is `Authenticate` a drop-in replacement?

If I change this line I added in Laravel's `Kernel.php` file
[code]
will it work just the same?

[2017-03-19 11:11] jhivan commented on #1042
In `vendor/tymon/jwt-auth/src/Providers/AbstractServiceProvider.php`, add:
`use Tymon\JWTAuth\JWTGuard;`.

[2017-03-19 20:28] tymondesigns commented on #1042
This was introduced as part of #1039 and has now been fixed. Thanks for reporting

[2017-03-19 20:28] #1042 closed

[2017-03-20 07:12] newkillerbeast2017 opened #1045 "Keep token alive indefinitely"
@tymondesigns is there any way to keep the token alive indefinitely until logged off manually?

[2017-03-20 08:44] tronghiep92 opened #1046 "How I can change default App\User ?"
Hi all,

I changed `config/jwt.php` but still was using the model set at` auth.php`.

I haved tried adding `Config::set('auth.providers.users.model', \MyCustom\User::class);` before
`JWTAuth::attempt` but when I using `JWTAuth::parseToken()->authenticate();` it working incorrect, query using the model set at `auth.php`?

Please help me? Thanks!!!

[2017-03-20 08:45] jayantsolanki commented on #822
I need the user attributes, but I am not able to parse the token inside the authenticate function, though I am able to parse it in another controller methods where token is explicitly passed via request. I dont know if it is an issue or parseToken() requires request data for it to work.

[code]

[2017-03-20 09:48] ChaimaeELL commented on #937
how you have solved the problem because i have the same and i don't know how solve it

[2017-03-20 11:05] lukashl opened #1047 "omikuj"

[2017-03-20 14:40] bachras commented on #1038
@dwoldo Thanks for response. I have tried installing beta 2, but i hit the same problem. I don't want to update all composer components as some packages may stop working with newer versions( I already have similar issues in the past). Do you know any other way without updating all composer packages. Thanks.

[2017-03-21 02:56] tronghiep92 commented on #1029
Same problem, bump

[2017-03-21 05:39] #1045 closed

[2017-03-21 14:25] #1047 closed

[2017-03-21 21:36] 2010abinas commented on #972
The same issue is happening for lumen 5.4 also.
I have written all the providers, class_alias and routeMiddleware also.
i am getting the same error.

**ReflectionException in Container.php line 681:
Class jwt.auth does not exist**.
If you have solved it could you please help me out of this.
Thanks in Advance

[2017-03-22 04:31] CHOMNANP commented on #1013
Hi @willgopublic,

Thank you for your guideline. It's been a while that I haven't work on this.
I have managed to get it work by following your guideline.

1. Create static method: decode3rdparty() in class Tymon\JWTAuth\Providers\JWT\NamshiAdapter

`public static function decode3rdparty($token_string)
    {
        try {
          $result =  JWS::load($token_string, true);
        } catch (Except

[2017-03-22 04:32] #1013 closed

[2017-03-22 07:47] newkillerbeast2017 commented on #1036
@tymondesigns I have been experiencing the same problems as well. Old tokens are still valid after invalidating them.

[2017-03-22 09:39] newkillerbeast2017 commented on #860
@mtpultz I had a fresh Lumen 5.4 installation and followed this [tutorial](https://iwader.co.uk/post/tymon-jwt-auth-with-lumen-5-2). Login and others work fine but the logout doesn't seem to work properly. What I mean is, if I try to expire a token it doesn't give me an error but if the same token is re-used, it should say expired but still goes through. In simple terms, I believe it is not expiri

[2017-03-22 09:39] AeonDave commented on #972
i've solved in a dirty way for now

`
if($e instanceof JWTException || str_contains($e->getMessage(), 'Token not provided')){
            $data['code'] = -104;
            $data['message'] = 'token_not_provided';
            return response()->json($data, $e->getStatusCode());
        } else
        if ($e instanceof TokenExpiredException || str_contains($e->getMessage(), 'Token has expired')) {

[2017-03-22 10:19] bernierayxu commented on #1036
@phpnets @newkillerbeast2017
I just had the same problem but finally work it out.

Change cache driver to file and you need to restart "php artisan serve" to make it listen again.
Then you'll be able to invalidate the token.

However, "Entrust" package requires "tagging" and make cache driver array.

So the solution is to choose a different version of entrust

change your composer as follows:

"zi

[2017-03-22 14:21] michel3vb opened #1049 "Lumen 5.4: Call to undefined method Tymon\JWTAuth\Blacklist::setGracePeriod()"
Hi,

I'm try to build a microservice to save notifications in our system. I'm using Lumen 5.4. Before I can save something I need to validate the provided JWT token.
But for some reason I get the following error after installing tymon/jwt-auth: "1.0.0-beta.2"

Call to undefined method Tymon\JWTAuth\Blacklist::setGracePeriod()
in AbstractServiceProvider.php line 235
at AbstractServiceProvider->Tymo

[2017-03-22 17:44] newkillerbeast2017 commented on #1036
So we need to change entrust version and use cache array to get it working?

[2017-03-22 19:28] fredroo opened #1051 "Error composer update"
my composer.json

"tymondesigns/jwt-auth": "0.5.*"

show this error in composer update:

![image](https://cloud.githubusercontent.com/assets/6863089/24216844/81005754-0f1c-11e7-8bb6-c80a52de4795.png)

[2017-03-22 19:28] fredroo commented on #1051
@tymondesigns please help me

[2017-03-22 19:28] Mahmoudz commented on #686
I submitted a PR that fixes this #1050

[2017-03-22 19:49] ellisio commented on #1051
Looks like you ran:

[code]

When you should have ran:

[code]

[2017-03-22 19:51] fredroo commented on #1051
composer require tymon/jwt-auth
show this error
![image](https://cloud.githubusercontent.com/assets/6863089/24217767/bae886dc-0f1f-11e7-9e98-6a3cfb261418.png)

[2017-03-22 20:13] fredroo commented on #1051
solved: use this in my composer.json:
        "tymon/jwt-auth": "1.0.0-beta.2"

[2017-03-22 20:14] #1051 closed

[2017-03-22 20:27] fredroo commented on #1038
changed Class 'Tymon\JWTAuth\Providers\JWTAuthServiceProvider' to Tymon\JWTAuth\Providers\LaravelServiceProvider::class

run: php artisan vendor:publish --provider="Tymon\JWTAuth\Providers\LaravelServiceProvider"

[2017-03-22 22:10] blakethepatton opened #1052 "Unable to get tokens during tests."
For some reason, when I'm writing and running tests in laravel and attempting to authenticate with jwt-auth, I am unable to authenticate without getting the error: `The token could not be parsed from the request`

In my debugging process I've found that:
`JWTAuth::getToken() == false`
But at the same time:
`$request->header('Authorization') == 'Bearer full.token.here'`

So I know that I'm sending

[2017-03-22 22:56] blakethepatton commented on #1052
Duplicate of #772

[2017-03-22 22:56] #1052 closed

[2017-03-23 08:59] dmoreno opened #1053 "How to support clock skew among servers?"
I'm experiencing an issue due to an inevitable clock skew between servers. If I have 2 servers:

- First server receives login request and generates JWT token
- Second server receives next requests and responds with 'Invalid value provided for claim [iat]'. For this server, token has been generated one second in the future.

These servers are in a PaaS provider (Microsoft Azure) and I can not solv

[2017-03-23 09:51] anilskalyane opened #1054 "Interface 'Tymon\\JWTAuth\\Contracts\\JWTSubject' not found"
Hi,

After installing the 0.5.10 version of jwt-auth in my Lumen 5.4 project.
I'm getting the below error
Interface 'Tymon\\JWTAuth\\Contracts\\JWTSubject' not found

my Auth controller:

use Illuminate\Auth\Authenticatable;
use Laravel\Lumen\Auth\Authorizable;
use Illuminate\Database\Eloquent\Model;
use Illuminate\Contracts\Auth\Authenticatable as AuthenticatableContract;
use Illuminate\Contracts

[2017-03-23 17:02] iannazzi commented on #1026
Dang same issue here... I see Authorization in the headers, and I can pull it to a variable, then set the token manually...

` $token = JWTAuth::getToken();
        echo 'token: ' . $token; //no token

        JWTAuth::setRequest($request);
        echo 'token: ' . $token; //no token

        $header_token = $request->header('Authorization');
        $form_token = $request->token;

        JWTAuth

[2017-03-23 21:16] shalomabitan commented on #931
Can it be that you set the `identifier` to the `id` field of your database and that field is an int so it clashed. make sure your `identifier` is set correctly

[2017-03-24 14:11] henriqueweiand opened #1058 "Token has expired -> status code 500"
![captura de tela 2017-03-24 as 10 29 43](https://cloud.githubusercontent.com/assets/6539492/24297664/5550f2a0-1082-11e7-8a63-0cdc06b2e807.png)

My token is expiring in the correct way, but I need the expired error to be at least json so I can handle it later.

`
$this -> group(['prefix' => 'v1'], function() {

    $this -> post('auth', 'Auth\AuthApiController@authenticate');
    $this -> post('au

[2017-03-24 15:04] #1058 closed

[2017-03-24 21:09] francisrod01 commented on #860
I'm using Laravel 5 and angularjs web and api routes at the same time and I need to implement retrieving of data to both. My answer is: Is it safe to send the jwt-auth token as an angularjs variable so that queries can be made through the javascript client?

[2017-03-25 09:05] bernierayxu commented on #1036
@newkillerbeast2017 I'm afraid so [face palm]

[2017-03-25 18:59] isaackearl commented on #1036
doesn't work for me, I'm still able to refresh blacklisted tokens...

[2017-03-25 19:04] isaackearl opened #1060 "After Blacklisting a token I can still refresh it."
I discovered what I think of as a Critical issue with the development branch.  If I blacklist a token (logout), I can refresh it and then use it again without re-authenticating...

Here is the series of things I'm doing to reproduce.

login

hit a protected route (jwt.auth) -> let's me in

logout (blacklist/invalidate the token)

hit the protected route again (401 unauthorized your token has been

[2017-03-25 20:15] tymondesigns commented on #1060
Just looked at this again, and you're correct. The regression was introduced [here](https://github.com/tymondesigns/jwt-auth/commit/6c9e05c10ba812481f2d83073d44a4b634547c46)

Going to push a fix now and do some more investigation

[2017-03-25 20:17] tymondesigns commented on #1060
Could you pull in the latest and check that it fixes the problem for you please?

[2017-03-25 20:19] isaackearl commented on #1060
@tymondesigns pulling it in now, I will report back soon.

[2017-03-25 20:24] isaackearl commented on #1060
@tymondesigns Ya that seems to have fixed this.  Thanks!  I was really scratching my head trying to debug it.

[2017-03-25 20:24] #1060 closed

[2017-03-25 20:25] tymondesigns commented on #1060
Awesome thank you for raising 👍

[2017-03-25 20:53] isaackearl commented on #1060
@tymondesigns I may open another issue, but wanted to tell you here first.  I think fixing that issue, causes another one.

I am now unable to use the refresh middleware to actually refresh the token (even during the refresh_ttl because it checks the blacklist.  and I get the error about the token being on the blacklist.  I'll see if I can find an easy fix and make a pull request however I'm not s

[2017-03-25 22:28] tymondesigns commented on #1036
this should now be resolved as per recent fixes, Thanks guys

[2017-03-25 22:28] #1036 closed

[2017-03-25 22:29] tymondesigns commented on #1024
merged :)

[2017-03-25 22:29] #1024 closed

[2017-03-25 22:31] tymondesigns commented on #1053
This is a very good point.. I'll look into it

[2017-03-26 08:00] rohan-deshpande opened #1065 "Attempting to refresh token, getting token_expired error"
Hi,

I've had a look through a lot of issues here relating to this. Right now I am a bit stuck because I'm not sure what I'm doing wrong.

Here's what's happening;

I have my `config/jwt.php` setup like this for testing

[code]

Then I have an `ApiAuthController` that applies the `jwt.refresh` middleware in the constructor

[code]

Then I have a simple `refresh` method in this controller

[code]

[2017-03-26 09:37] kaloczidev commented on #1033
Have you store your user with hashed password?

[2017-03-27 01:57] raniesantos commented on #53
@vikramparihar  Hi, can you help me understand why `use JWTAuth` throws an error when I try to use `toUser()` even though I configured it in the `config/app.php` aliases.

Also, why does `use Tymon\JWTAuth\Facades\JWTAuth` work, what's the difference?

[2017-03-27 19:14] jeswinder-logiciel opened #1066 "Status code 500 upon no token, invalid token or Expired token"
Using jwt with lumen 5.1

facing issue while invalid token or expired token. App returns status code 500 server error. tried to make middleware GetUserfromtoken, but still getting error

message": "The token could not be parsed from the request",
  "status_code": 500,
  "debug": {
    "line": 204,
    "file": "/var/www/staging/aaa/vendor/tymon/jwt-auth/src/JWTAuth.php",
    "class": "Tymon\\JWTAut

[2017-03-27 20:06] kohenkatz commented on #1012
No, the whole point of JWT is that it does not store this information on the server-side.  If you want to keep a list of logged-in users, you need to implement that yourself (or perhaps JWT is not the solution for your needs).

[2017-03-27 20:11] kohenkatz commented on #1014
No, it treats the word `null` as a string `"null"`, which is not a valid token. By default, if you want to use a query parameter, you need to make sure you are not sending an `Authorization` header.

If you want to change this behavior, you can write your own version of `Tymon\JWTAuth\Http\Parser\AuthHeaders` which checks for the word `null` and ignores it. You will also need your own version of `

[2017-03-27 21:39] kohenkatz commented on #1054
You need to use the new v1.0.0 beta version in order to work with 5.4.

[2017-03-28 01:50] anilskalyane commented on #1054
It's resolved now.
@kohenkatz Thanks a lot for your reply :)

[2017-03-28 01:50] #1054 closed

[2017-03-28 07:35] newkillerbeast2017 commented on #1036
@tymondesigns I used beta 3 but still have to use `file` as the cache driver. Doesn't work with the default `array` cache driver.

[2017-03-28 09:49] jake142 opened #1067 "refresh ttl null in"
Hi,

I have these settings in my cfg:

    'ttl' => env('JWT_TTL', 60),
    'refresh_ttl' => env('JWT_REFRESH_TTL', 20160),

And these in my .env (Laravel Lumen)

    JWT_TTL=60
    JWT_REFRESH_TTL=null

Even though I get "Token has expired" when I try to refresh a token with TTL>60

I use 1.0.0-beta.3

[2017-03-28 15:01] andersonrocha0 opened #1068 "How to upgrade?"
How to upgrade from 0.5.9 to 1.0.0-beta.3.

Tks.

[2017-03-28 18:02] danieluyo commented on #1029
@tymondesigns :/

[2017-03-28 18:03] tymondesigns commented on #1029
What version of jwt-auth are you guys using?

[2017-03-28 18:19] tymondesigns commented on #1029
There is no guard support for 0.5.*. You will need to use one of the latest 1.0.0-* versions.

The official docs for 1.0.0 are not complete just yet, but there is a quick setup guide lurking in the issues. I'll link to it when I'm not on my phone...

[2017-03-29 07:32] newkillerbeast2017 commented on #1067
@tymondesigns facing the same issue after the new update. Was working in beta 2 previously.

[2017-03-29 07:41] newkillerbeast2017 commented on #1067
@jake142 #340 solves the issue. I forgot about this. Might be worth mentioning in the wiki @tymondesigns

[2017-03-29 13:18] Englbach opened #1078 "The newest version instead of JwtManager.GetPrincipal"
using newest version but don't see it  JwtManager.GetPrincipal on .NET(Web api)

[2017-03-29 13:25] tymondesigns commented on #1078
Think you might have the wrong repo?

[2017-03-29 14:25] kvlknctk commented on #993
+1

[2017-03-29 15:31] tymondesigns commented on #993
Not sure what the issue is here?

[2017-03-29 18:56] amirpiri opened #1079 "I set ttl and refresh ttl to one year but still token is expired!"
I don't know why but my token should not expire for one year but it was expired yesterday. :-(

[2017-03-29 19:04] jonecir commented on #651
Hello, how can I log the user out?

[2017-03-30 00:15] wemersonjanuario commented on #1026
having same problem

[2017-03-30 00:16] wemersonjanuario commented on #1026
using nginx

[2017-03-30 05:34] d3radicated opened #1080 "User not found on multiple domains"
Let's say I have 3 serves: one for CP, one for extranet, and one for the API. Both CP and extranet fetch data from the API. With the recent changes in the `develop` branch (specifically #1010), how can I handle two users accessing the same API?

[2017-03-30 07:30] JamshadAhmad commented on #651
@jonecir It has been discussed above in words, you can invalidate a token.

`WTAuth::invalidate(JWTAuth::getToken()));`

[2017-03-30 11:58] jeffersonsouza commented on #1046
Hi, @tronghiep92!

I had to change the user model in config/auth.php and config/jwt.php to get the stuff done.

The second file is generated when you run:

`php artisan vendor:publish --provider="Tymon\JWTAuth\Providers\JWTAuthServiceProvider"`

Did you try that?

[2017-03-30 12:11] maximenko commented on #1046
Hi, please find or add this rows in your config/jwt.php:
    /*
    |--------------------------------------------------------------------------
    | User Model namespace
    |--------------------------------------------------------------------------
    |
    | Specify the full namespace to your User model.
    | e.g. 'Acme\Entities\User'
    |
    */

    'user' => 'App\Staff',

[2017-03-30 13:35] kofikwarteng opened #1081 "Undefined index: model with multi-auth guards using version 1.0.0-beta.1"
Hello guys,

I have created 2 guards all using the JWT driver. One for called users and another called tutors. I am using Laravel 5.3. Authentication works perfectly with the users middleware when I declare it in my route like this and I am able to access protected routes using the token returned through authentication:
<pre>
 Route::group([
            'middleware' => 'auth:api',
        ], funct

[2017-03-30 13:57] jonecir commented on #651
Hi @JamshadAhmad thanks for your prompt response. I have a Vue component (Navbar) with two links (Login and Logout). When I click the Login link, a form is shown and when I hit the "Sign In" button I call a method and then inside it I make a call lo Laravel this way:

               axios.post('login',this.loginData)...

Now, I'm wondering how I can handle the Logout link. Can you give me an idea

[2017-03-30 15:04] JamshadAhmad commented on #651
Hi, sorry, I'm not familiar with Vue or axios. Maybe somebody else can guide you better in this case.
But the idea is that
**1)** (Just like login) You should have a route/controllerAction in Laravel to handle logout.
In that controllerAction you'll put
`JWTAuth::invalidate(JWTAuth::getToken());`
or
`JWTAuth::invalidate($token);`
**2)** Hit that route from front-end on logout and pass the logged i

[2017-03-30 16:17] xcaptain opened #1082 "update install wiki"
[https://github.com/tymondesigns/jwt-auth/wiki/Installation](https://github.com/tymondesigns/jwt-auth/wiki/Installation) this wiki is outdated, I want to contribute but have no permission, so if anyone can update this?  Below are the changes.

use `php artisan vendor:publish --provider="Tymon\JWTAuth\Providers\LaravelServiceProvider"` instead `php artisan vendor:publish --provider="Tymon\JWTAuth\P

[2017-03-30 19:56] artalisa opened #1083 "Potential security breach in JWT validation using multiple User models"
In current validation scheme for JWT only "sub" is used to validate JWT against particular User model (e.g. model primary key). So if model exists by primary key, then ticket is valid. However in situations, when project uses multiple Laravel Guards (e.g "web" and fore example "api"), developer is free to choose a different User model for each of Guards. However generated JWT for one Guard will be

[2017-03-30 20:44] b12k opened #1084 "[Help needed] Invalidate multiple Users tokens."
Greetings!
First of all thanx for an awesome module!
I have a question:
How can I invalidate tokens of multiple users?
I have a collection of User entities and need to sign them off, and I found this part a bit tricky.
Plese advice me how can I do that.
Thanx in advance!

[2017-03-30 21:12] jonecir commented on #651
Hi @JamshadAhmad, my login function is like this:

public function login(Request $request) {
        $this->validate($request, [
            'email' => 'required|email|max:255',
            'password' => 'required|min:6',
        ]);

        //grab credentials from the request
        $loginData = $request->only('email','password');
        try {
            if (!$token = JWTAuth::attempt($loginD

[2017-04-02 01:56] rohan-deshpande commented on #240
The above answer from @pespantelis no longer seems to work. I get a `JWTException` saying `A token is required`.

Currently using the `develop` branch. The `toUser` method doesn't seem to take an argument anymore... so I'm really unsure of how to get the user from the token I've just created with `JWTAuth::attempt($credentials)` anymore.

[2017-04-03 20:04] mediaceh opened #1085 "jwt.auth and auth middleware common use"
Is it possible use it common in controller constructor as

    public function __construct()
    {
		$this->middleware(['auth','jwt.auth']);
    }
?

[2017-04-04 09:42] superbiche commented on #1085
Yes. I use it this way (but without the auth middleware that is useless to me).
[code]
You can even use it partially like explained [in Laravel docs (5.2)](https://laravel.com/docs/5.2/controllers#controller-middleware)

[code]

[5.3 way](https://laravel.com/docs/5.3/controllers#controller-middleware)  (I'm still using the 5.2 way which is OK)

[code]

[2017-04-04 17:41] gm-ghanover opened #1087 "invalid_token using refresh tokens in the same second"
JTI is an md5 of 'sub' and 'nbf'. The problem is if you have a user that makes multiple requests in 1 second, they have the same 'nbf' timestamp, so you end up returning a refresh token that is blacklisted (blacklist being based on JTI).

\Tymon\JWTAuth\PayloadFactory::jti() should return something more unique, either by changing 'nbf' to include microseconds or simply using a randomly generated g

[2017-04-04 18:09] gm-ghanover commented on #1087
looks like this is already fixed in develop (via b3c7c991be39c9402d35b518332ce883b4948167, later updated with 965df4dc6ed2670d8512acaacf67ad2cb47c0472). is it possible to get a 0.5.10 build (we will never get a beta build approved for production release) with just this change?

[code]

[2017-04-05 01:47] Drakota opened #1089 "Where to put 'auth' => [ 'jwt' => 'Dingo\Api\Auth\Provider\JWT', ] Laravel 5.3"
Hi,  right now I have this problem where I can generate a token just fine, but I get this message
`Failed to authenticate because of bad credentials or an invalid authorization header.`
I searched a little and found out people got this problem fixed by adding
`
'auth' => [
      'jwt' => 'Dingo\Api\Auth\Provider\JWT',
    ],
`
in config/api.php, but I don't have this file.
I'm using Laravel 5.3
Th

[2017-04-05 03:13] nizam27391 commented on #396
Hi.
I am also having this problem.

In my app, yes I do have multiple request at once. But it is vital for my app to work. Which is necessary to check for the user is logged in or not, then for the table plugin and extra request.

You guys have any idea on how to fix this issue?

Thanks

[2017-04-05 07:38] Vishal0203 commented on #396
I couldn't solve this.
I had to turn off my idea of refreshing token on every request.

[2017-04-05 12:11] dargoan commented on #860
Hi, step 2 is telling me "class auth does not exist". Did someone already encountered that ? I pulled in :
`
"tymon/jwt-auth": "dev-develop"
`

[2017-04-05 13:46] dargoan opened #1090 "Version 0.5.10 bug"
Hi,

I can't make that work...

- I've configured my provider (JWTAuthServiceProvider) + Aliases (JWAuth + JWFactory) correctly.
- I've published everything so that I get a config/jwt.php file & generated a key for my secret.
- I've even added the middlewares & tried that way.

BUT: I only get the message **"Class auth does not exist**".

After investigation, it seems that the alias "auth" for the

[2017-04-05 17:54] ujjaldey commented on #205
worked after clearing config cache.

[2017-04-05 21:07] BafS opened #1091 "Custom user identifier seem to not work"
Hi !
It's maybe related to the #501 issue but when I change the `identifier` field for something different than `id` (ex: `'identifier' => 'email'`) the authentication works but not the other routes and I can't see how I can change anything about this bug, do you have an idea ?

Thanks in advance.

[2017-04-06 08:01] Joosshhhh commented on #1029
I'm having the same issue for Lumen. Using 1.0.0.* For some reason the JWTAuth::attempt($credentials) keeps giving me a invalid_credentials for a Model that's not having the default users table (my database table is user).

[2017-04-06 09:16] ahmadbadpey commented on #804
@ynixt , have you arrived to any solution ?

[2017-04-06 14:54] Joosshhhh commented on #1029
Nevermind I'm trollin, my password in my database wasn't minimum 60 characters was 45. WOrks fine thanks for making this for Lumen and Laravel @tymondesigns

[2017-04-06 20:47] amandiobm opened #1093 "Authentication using RS256"
I've updated my version to `dev-develop` to be able to create token using `RS256`. But when I try it to use I get this error.

[code]
I'm usign Laravel 5.4.*

My `.env` file
[code]

My `jwt.php` file is exactly as this [jwt.php](https://github.com/tymondesigns/jwt-auth/blob/develop/config/config.php)

The controller implementation is exactly as this [controller](https://github.com/tymondesigns/jwt

[2017-04-06 23:01] amandiobm commented on #1093
Reading along all the issues.... I found this [#860](https://github.com/tymondesigns/jwt-auth/issues/860).

Pretty nice tutorial...

I guess the wiki has to be updated!

[2017-04-07 11:07] pavinthan opened #1094 "Type error: Argument 1 passed to Tymon\JWTAuth\JWT::fromUser() must be an instance of Tymon\JWTAuth\Contracts\JWTSubject, instance of App\User given"
Type error: Argument 1 passed to Tymon\JWTAuth\JWT::fromUser() must be an instance of Tymon\JWTAuth\Contracts\JWTSubject, instance of App\User given

[2017-04-07 13:04] amandiobm commented on #1094
Hi there, i was having the same problem...

Reading along all the issues.... I found this [#860](https://github.com/tymondesigns/jwt-auth/issues/860).

Pretty nice tutorial... will save your day!

[2017-04-07 14:47] dargoan commented on #1090
By the way, I did correct this. It was a bad configuration to my Kernel.php file. Nothing to do with your package. Sorry for the trouble.

[2017-04-07 14:48] #1090 closed

[2017-04-07 16:06] ftaurino opened #1095 "Caching authentication in Redis"
Hi all,

We use this package without problems with Lumen, but -every- single request to the urls protected
with JWT authentication, generate a query to the user model, with a query like

"select * from "users" where "users"."id" = $1 limit 1"

It would be possible to instruct jwt to cache, say in Redis and with an appropriate key for every user,
this query result?

Many thanks,

Francesco

[2017-04-07 18:10] ynixt commented on #804
@ahmadbadpey I kept the tokens in database, so I can get all tokens from specif user

[2017-04-08 22:48] b12k commented on #1084
I need to use that to force other User to logout.
Is there any possibility to get all tokens issued for a specific user?
The User may be signed in at multiple devices - so multiple valid tokens are issued.
How can I invalidate that tokens?

[2017-04-08 22:54] fredroo opened #1099 "New version for Laravel 5.4"
when new version compatible with laravel 5.4

0.5.* not work

[2017-04-09 00:04] harkenn commented on #1099
Looking at other tickets it looks like 5.* is supported but the installation instructions are wearily out of date.

[2017-04-09 05:54] telmen commented on #1099
I'm running on Laravel 5.4 and it works.

[2017-04-09 12:01] fredroo commented on #1099
@telmen how?

[2017-04-09 12:04] telmen commented on #1099
Just followed the instruction. Can you show me the code or error?

[2017-04-09 12:14] fredroo commented on #1099
![image](https://cloud.githubusercontent.com/assets/6863089/24837206/f007a2a6-1d04-11e7-84c2-e8a993f1d830.png)
@telmen look this print

[2017-04-09 12:22] telmen commented on #1099
Hmm, that's odd. Could you insert a package manually into composer.json and run composer install?
![image](https://cloud.githubusercontent.com/assets/6022423/24837250/a48dc70e-1d6a-11e7-90dc-0a8ff27e00ae.png) this is my composer.json for now.

[2017-04-09 12:30] fredroo commented on #1099
![image](https://cloud.githubusercontent.com/assets/6863089/24837286/1cf9b6da-1d07-11e7-94c8-2aba8386e834.png)
my composer, but not work same erro phpseclib error

[2017-04-09 12:32] fredroo commented on #1099
![image](https://cloud.githubusercontent.com/assets/6863089/24837296/7181341c-1d07-11e7-9cbb-c1344ef334f6.png)
same error phpseclib

[2017-04-09 12:38] fredroo commented on #1099
@harkenn look

[2017-04-09 13:12] fredroo commented on #1099
![image](https://cloud.githubusercontent.com/assets/6863089/24837548/00d7fe70-1d0d-11e7-95f0-8756f10033cd.png)

[2017-04-09 13:12] fredroo commented on #1099
![image](https://cloud.githubusercontent.com/assets/6863089/24837555/10d64228-1d0d-11e7-99bb-a1fdff1753cd.png)

[2017-04-09 13:23] fredroo commented on #1099
"require": {
        "php": ">=5.6.4",
        "FortAwesome/Font-Awesome": "*",
        "barryvdh/laravel-cors": "^0.9.2",
        "laravel/framework": "5.4.*",
        "laravel/passport": "^2.0",
        "laravel/socialite": "^3.0",
        "laravel/tinker": "~1.0",
        "phpseclib/phpseclib": "^2.0",
        "tymon/jwt-auth": "0.5.*"
    },
![image](https://cloud.githubusercontent.com/assets/

[2017-04-09 14:40] fredroo commented on #1099
last version from laravel/framework
last version from phpseclib/phpseclib

![image](https://cloud.githubusercontent.com/assets/6863089/24838189/633c7d8c-1d19-11e7-9cfa-add0b31786c3.png)

[2017-04-09 15:03] fredroo commented on #1099
@telmen look

use version:
![image](https://cloud.githubusercontent.com/assets/6863089/24838331/8936a870-1d1c-11e7-8d0a-055ab920891b.png)

this error:

![image](https://cloud.githubusercontent.com/assets/6863089/24838313/5f895018-1d1c-11e7-8f58-c39159ef2477.png)

providers:
 Tymon\JWTAuth\Providers\JWTAuthServiceProvider::class,

aliases:
        'JWTAuth' => Tymon\JWTAuth\Facades\JWTAuth::class,

[2017-04-09 15:04] fredroo commented on #1099
version 0.5.* not install well

[2017-04-10 03:31] wemersonjanuario commented on #1008
This happens with me sporadically with no explanations When I send too many request to api some callbacks having this error "Token Signature could not be verified". If you request again everything goes ok.

I could work around this passing jwt_secret code directly on jwt.php config file instead of env('JWT_SECRET').

Do you knows if laravel middlare has a BUG using .env variables on middlares? som

[2017-04-10 04:11] paolog22 commented on #1008
@wemersonjanuario i fixed my problem with NBF . do double check your NBF .
hope it helps :)

[2017-04-10 04:27] Blackops404 commented on #766
i had the same problem,in database i used uuid v4 for primary key and column was binary(16)
 so i changed that to int, and every thing is ok.

[2017-04-10 04:35] wemersonjanuario commented on #1008
Sorry NBF?

[2017-04-10 04:43] wemersonjanuario commented on #1008
How?

[2017-04-10 09:18] paolog22 commented on #1008
@wemersonjanuario  please refer here
https://github.com/tymondesigns/jwt-auth/wiki/Creating-Tokens

[2017-04-10 10:56] ashishbansal-kmc opened #1100 "Target [Illuminate\Contracts\Routing\ResponseFactory] is not instantiable while building [Tymon\JWTAuth\Middleware\GetUserFromToken]."
I got this error Target [Illuminate\Contracts\Routing\ResponseFactory] is not instantiable while building [Tymon\JWTAuth\Middleware\GetUserFromToken].
and my composer.json file is
{
    "name": "laravel/lumen",
    "description": "The Laravel Lumen Framework.",
    "keywords": ["framework", "laravel", "lumen"],
    "license": "MIT",
    "type": "project",
    "require": {
        "php": ">=5.5.9",

[2017-04-11 08:30] tanshiqi opened #1101 "How to use both jwt.auth and auth middleware"
In my scene, I want user authentication from jwt token, if not valid then redirect to login page. How to do this?
It doesn't work:
`Route::group([
    'middleware' => ['jwt.auth', 'auth']
], function () {
    ...
});`

[2017-04-11 09:37] thanhtutoo commented on #205
omg, @jcaillot  u saved me ,thanks

[2017-04-11 12:01] sukhpreetmcc commented on #860
Hi, I am using 2 different guards to authenticate user i.e one for the customer and one for the admin
 'customer' => [
            'driver' => 'jwt',
            'provider' => 'customer',
        ],
        'admin' => [
            'driver' => 'jwt',
            'provider' => 'admin',
        ],
I have two different tables and Models.  I implemented the JWTGuard as mentioned in this post and I am

[2017-04-11 18:27] francisrod01 commented on #1060
I had the same problem, but in this case in `dev-develop` branch.
It is was solved there also. :+1:
Thanks!

[2017-04-11 23:22] tremby opened #1102 "Guide for setting up with Lumen?"
Where's the current guide to setting up a recent version of jwt-auth (I'm trying to use 1.0.0-beta.3) with a recent version of Lumen (5.4)?

I've looked through various threads in the issue tracker (such as https://github.com/tymondesigns/jwt-auth/issues/376) and it's really not clear what the best practice is.

[2017-04-12 00:31] tremby opened #1103 "JWTAuth doesn't work when getJWTIdentifier is returning something other than id"
I want to use a [hashid](http://hashids.org/) rather than the plain primary key as the JWT's subject. As such, I'm returning a hashid from `getJWTIdentifier` in my user model.

Authentication then fails, since as far as I can tell, the `JWTAuth` class and everything it depends on is hardcoded to check against this against the primary key.

Is there a way for me to specify how a user model is retur

[2017-04-12 01:23] tremby commented on #1103
I solved this in the following way:

Add a new class `app/Providers/HashidUserProvider.php`:

[code]

(My `User` model has [a suitable static method `findHashid($string)`](https://github.com/tremby/laravel-hashids/blob/eloquent/src/Eloquent/HashidTrait.php).)

Add to the `boot` method of my `app/Providers/AuthServiceProvider.php` the following:

[code]

Change the `config/auth.php` `providers.user

[2017-04-12 02:18] tremby opened #1104 "Document the difference between the provided middlewares"
In 1.0.0-beta.3 there are the following middlewares:

- Authenticate
- AuthenticateAndRenew
- Check
- RefreshToken

What's the difference between Authenticate and Check?

What's the difference between AuthenticateAndRenew and RefreshToken?

When should I use each?

[2017-04-12 03:12] tremby opened #1105 "Access tokens vs refresh tokens?"
Is there any concept of access tokens vs refresh tokens in the context of jwt-auth?

[2017-04-12 06:36] Janbsi commented on #1091
Hello,
We are in the same situation.
I have seen a lot of topics and none have been able to give solution.
Already change `config / jwt.php`
` 'user' => 'App\Models\UsuarioModel',
  'identifier' => '_ID_SEG_USUARIO',`
Also my providers  `config /auth.php`
`'users' => [   'driver' => 'database', 'table' => 'seg_usuario', 'model' => App\Models\UsuarioModel::class,]`

It also does not work, when I se

[2017-04-12 06:45] pankitgami opened #1106 "Support for laravel UserProvider and GenericUser"
Currently, your repository only supports the Model for `User`. Laravel itself has given the power to a developer to extend its authentication with help of [`UserProvider`](https://github.com/laravel/framework/blob/5.4/src/Illuminate/Contracts/Auth/UserProvider.php) and [`Authenticatable`](https://github.com/laravel/framework/blob/5.4/src/Illuminate/Contracts/Auth/Authenticatable.php) interface.

W

[2017-04-12 13:22] telmen opened #1107 "Non expiring token till user logs out"
jwt-auth  "tymon/jwt-auth": "0.5.*"
laravel 5.4
In version 0.5.* how can I have non expiring token till users log out?

[2017-04-12 13:30] gandra opened #1108 "Can token from one backend can be used in another?"
Hi!
I do not know where to ask questio so I am here.
I have following situation:
- 1 frontend in angualr
- API backend 1 in laravel 5.4
- API backend 2 in laravel 5.4

When user logs in he fill credentials and backend 1 returns token. The same token is used to call API from backend 1. I am wondering if the same token could be used from the backend 2?

Both backend 1 and 2  will use custom user pro

[2017-04-12 16:48] deathkillz commented on #341
watch out with postman?

with postman:
| POST |  http://myapp/api/authenticate |
| key -> email | val  -> myemail@domain.tld |
| key  -> password | val  -> password |

array (size=2)
  'email' => null
  'password' => null

with curl:
$ curl --request POST 'http://myapp/api/authenticate' --data "email=myemail@domain.tld" --data "password=password"

array (size=2)
  'email' => myemail@domain.tld
  '

[2017-04-12 18:57] kofikwarteng commented on #1081
Is this project abandoned? Looks like no one is here to help. This looks like a bug that needs fixing.

[2017-04-13 05:23] kmrifat opened #1109 "Token will not expire when user is online"
Is that possible to to not expire token when user is online ?
sometime token expire when user is online and sudden he feel he has been logged out.

Is there any way to extend token expire time by particular user last activity ?

[2017-04-13 06:16] pankitgami commented on #1109
You can increase your TTL or you can refresh the token at the specific interval.

[2017-04-13 12:43] mikemillers commented on #1095
Had similar issue, you need to implement a custom user provider and add the cache to the retrieve functions of the \Illuminate\Contracts\Auth\UserProvider interface

[2017-04-13 14:03] bachmay commented on #640
was this solved somehow? I have the same problem:

`Tymon\JWTAuth\Exceptions\TokenBlacklistedException: The token has been blacklisted in /home/forge/pelv2.stage/vendor/tymon/jwt-auth/src/JWTManager.php:84`

[2017-04-13 14:04] bachmay commented on #640
@kbchandiran how did you solve it?

[2017-04-13 14:51] leongpeng commented on #640
@bachmay See here [#831](https://github.com/tymondesigns/jwt-auth/issues/831)

[2017-04-14 02:14] philperron commented on #983
Encountered the same problem, @njt1982 don't konw if this is still a problem, but for anyone else in this situation.

From the wiki

This middleware will again try to parse the token from the request, and in turn will refresh the token (thus invalidating the old one) and return it as part of the next response. This essentially yields a single use token flow, which reduces the window of attack if a

[2017-04-14 03:54] wemersonjanuario commented on #886
Any official JWT Event? still need a built in solution

[2017-04-14 05:22] wemersonjanuario commented on #1008
I've understood what nbf means. But How to modify It ? I have token create automaticaly by attempt method. Can you make It more clear? Thanks

[2017-04-14 06:01] pankitgami commented on #1108
If this is the case then yes you can use the same token in both the backend.

But you need to use the same JWT_SECRET in both the backend.

[2017-04-14 08:51] ftaurino commented on #1095
thanks mike. and can you give me some hints on where to put the code?

[2017-04-14 10:02] mikemillers commented on #1095
Sure.. follow this to make your CustomUserProvider.
https://laravel.com/docs/5.4/authentication#adding-custom-user-providers

Make your CustomUserProvider extend the out-of-the-box \Illuminate\Auth\EloquentUserProvider and override the retrieve functions to use whatever cache mechanism you like.

eg something a bit like...

    class CustomUserProvider extends EloquentUserProvider{

         //stu

[2017-04-14 20:30] amandiobm commented on #1095
Theres a way to make this code to be part of this repository?? I guess this will be a good modification in performance.

[2017-04-15 08:07] mikemillers commented on #1087
Just out of interest as the JTI is supposed to be a unique ID what is wrong with using:

    protected function jti()
    {
         return uniqid(Str::random(),true);
    }

This seems like a stronger guarantee of uniqueness when generating a lot of tokens. This is how I had fixed the issue in my code.

[2017-04-15 13:23] fredroo opened #1110 "JWT with SOCIALITE (LARAVEL)"
Someone know how work with socialite laravel

i neeed social login for my app IONIC 3

[2017-04-15 14:02] gm-ghanover commented on #1087
Str::random() uses openssl_pseudo_random_bytes, if I recall

[2017-04-15 14:55] mikemillers commented on #1087
Yup you recall correctly. A collision is unlikely I know but as uniqid is based on microtime, with the random string prepended, plus the additional entropy option passed.. you see where I am going with that. My concern is not uniqueness of the tokens (the timestamp claims etc result in similar outcome for token uniqueness) but of the JTI's themselves. It appears similar thinking led to the origina

[2017-04-17 09:08] sandipsapkota1 opened #1111 "Authorization Bearer is not working"
Hello, i setup with everything fine. Also works fine but , while requesting , Header Authorization and bearer with token key is not working.
I checked with Get method and , ?token=   URL works fine.
Why Header request not supported?

[2017-04-17 09:17] pankitgami commented on #1111
Please post your token and Request Header.

[2017-04-17 09:38] sandipsapkota1 commented on #1111
Authorization    Bearer Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOjEsImlzcyI6Imh0dHA6XC9cL2xvY2FsaG9zdFwvbDVcL2FwaVwvYXV0aGVudGljYXRlIiwiaWF0IjoxNDkyNDE5ODMyLCJleHAiOjE0OTI0MjcwMzIsIm5iZiI6MTQ5MjQxOTgzMiwianRpIjoiSnA5cGowR2pZTUdFZHE1YyJ9.rpoicp3nJimVErflmDIQwRfrsbAosJHX4jFB7Yj26lw

these are my token and request header.

[2017-04-17 09:40] #1081 closed

[2017-04-17 09:41] pankitgami commented on #1111
You have bearer twice in the request header.

[2017-04-17 09:46] sandipsapkota1 commented on #1111
Sorry, this was twice while posting in comment only, I am using it once and not working.
Authorization Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOjEsImlzcyI6Imh0dHA6XC9cL2xvY2FsaG9zdFwvbDVcL2FwaVwvYXV0aGVudGljYXRlIiwiaWF0IjoxNDkyNDE5ODMyLCJleHAiOjE0OTI0MjcwMzIsIm5iZiI6MTQ5MjQxOTgzMiwianRpIjoiSnA5cGowR2pZTUdFZHE1YyJ9.rpoicp3nJimVErflmDIQwRfrsbAosJHX4jFB7Yj26lw

[2017-04-17 09:50] sandipsapkota1 commented on #1111
Key is ok, while but it throws, 401 unauthorized.

[2017-04-17 09:56] pankitgami commented on #1111
Are you using `FormRequest` ? If so check `authorize` function. If it is returning `false`. Change it to return `true`.

[2017-04-17 09:58] kofikwarteng opened #1112 "Multiple API guards throwing error"
I've created 2 api guards for multi-auth login on Laravel 5.3 and it is throwing this error:
ErrorException in CreatesUserProviders.php line 65:
Undefined index: model
in CreatesUserProviders.php line 65

What is wrong?

[2017-04-17 10:05] sandipsapkota1 commented on #1111
Yes i am using authenticate function in laravel 5.4
[code]

[2017-04-18 05:23] kofikwarteng commented on #1106
I'm facing this exact problem and I've raised an issue but looks like nobody cares. I have a multi-auth setup using 2 JWT drivers and authentication only works for the User model, it doesn't work from the other model. At first I thought it was just a bug but upon doing lots of debugging today, I realized the package just supports the User model. Can you help me out @pankitgami?

[2017-04-18 05:39] kofikwarteng commented on #1101
If you follow the tutorial for the new JWT guard, you will understand you don't need to do this. The application looks at the header of the request and responds with the appropriate resource. If it is a json request, it responds with a token, else it redirects you to the login page.

[2017-04-18 05:47] telmen commented on #1107
You mean JWT_TTL in .env file? There is no JWT_TTL in config/jwt.php. If you meant that, when I set TTL to null. Token became invalid right after authentication. Hmm. Which version do you use? 0.5*? Or

[2017-04-18 06:19] kofikwarteng commented on #860
@sukhpreetmcc How did you get the jwt multi-auth guard to work. I've implemented something similar but the only guard that works is the one with the User model. The other guard doesn't work, it throws an error.

[2017-04-18 06:39] sukhpreetmcc commented on #860
@kofikwarteng I used Laravel Mutil Guard to login
**auth.php code**
'guards' => [
        'web' => [
            'driver' => 'session',
            'provider' => 'users',
        ],
        'customer' => [
            'driver' => 'jwt',
            'provider' => 'customer',
        ],
        'admin' => [
            'driver' => 'jwt',
            'provider' => 'admin',
        ],
    ],
    'prov

[2017-04-18 07:34] kofikwarteng commented on #860
@sukhpreetmcc I still faced the same problem but I solved it by adding this line to CreateUsersProvider.php on like 65. The problem was due to the fact that the index was called 'table' instead of 'model':
<pre>
    /**
     * Create an instance of the Eloquent user provider.
     *
     * @param  array  $config
     * @return \Illuminate\Auth\EloquentUserProvider
     */
    protected function cr

[2017-04-18 09:21] sukhpreetmcc commented on #860
@kofikwarteng That's great, your problem is solved. Right, we need to find the solution for the second problem. I am trying to solve this. Do post here if you find any solution before me. I also expecting other more experienced developers to help as well.

[2017-04-18 11:57] kmrifat commented on #1107
@telmen you may find `ttl="60"` in `config/jwt.php`  @akkhan20  just try to tell you to null JWT Token time limit(TTL) for non expiring token till user logs out.

[2017-04-18 13:48] akkhan20 commented on #1107
@telmen you need to remove the variable 'exp' from required_claims too which saves the time when the token will expire if you don't remove that then your token will expire as soon as you create one.

[2017-04-18 13:51] akkhan20 commented on #1031
Works like a charm with lumen 5.4 just for the reference follow this guide:
http://www.akaita.com/post/json-web-token-authentication-for-lumen-5-tymon-jwt-auth/

[2017-04-18 13:59] telmen commented on #1107
It seems not working. When I set TTL to null, with or without 'exp' removed from required_claims, my token just expires as soon as I login.
``
'ttl' => null,
'required_claims' => ['iss', 'iat', 'nbf', 'sub', 'jti'],
``
this is my current config/jwt.php

[2017-04-18 14:05] telmen commented on #1107
Is there any additional configuration or did I mess up something else?

[2017-04-18 14:11] akkhan20 commented on #1107
for me its like this in jwt.config
`'ttl' => env('JWT_TTL', 60),`
`'required_claims' => ['iss', 'iat', 'nbf', 'sub', 'jti'],`
in .env
`JWT_TTL=60`

and it works fine

[2017-04-18 14:22] telmen commented on #1107
and you're on Laravel 5.4?

[2017-04-18 14:24] akkhan20 commented on #1107
yes Laravel 5.4 and implemented in Lumen 5.4 too

[2017-04-18 14:25] telmen commented on #1107
and you followed the installation instruction? hmm

[2017-04-18 14:27] akkhan20 commented on #1107
yes of course if it works with ttl=60 then there is no other issue then this.

[2017-04-18 15:59] telmen commented on #1107
Thanks but these didn't work. So I had to hard code the vendor, remove all 'exp' claims and token expired exceptions etc. Now it works.

[2017-04-18 15:59] #1107 closed

[2017-04-18 17:42] nachodd commented on #1022
For those who are wondering, where are them defined:

**Tymon\JWTAuth\Providers\AbstractServiceProvider**

and the middlewares are:
[code]

[2017-04-18 20:11] nachodd opened #1114 "[ENHANCEMENT] Option to return a JSON on error instead of an exception"
- add an option to return a JSON instead of an exception, like the responses of the 0.5.* branch.
i.e. from **GetUserFromToken**
[code]

[2017-04-19 07:50] hauthorn commented on #1103
I've done a similar setup. Using custom [user providers](https://laravel.com/docs/5.4/authentication#adding-custom-user-providers) is quite normal.

I've just changed by default providers for my JWT-guard.

[2017-04-19 07:55] hauthorn commented on #501
Have you tried adding a customer [user provider](https://laravel.com/docs/5.4/authentication#adding-custom-user-providers) for the jwt guard? Which version of JWTAuth are you using?

[2017-04-19 16:25] akkhan20 commented on #1104
plus i believe the documentation is not updated too because no reference to these middlewares

[2017-04-19 17:31] akkhan20 opened #1115 "jwt.refresh middleware not working"
Version: "1.0.0-beta.3"
when jwt.refresh middleware is set on route this error is thrown
`Fatal error: Call to undefined method Tymon\JWTAuth\Exceptions\TokenBlacklistedException::getStatusCode()`
if i remove the method getStatusCode from the catch statement which is:
`catch (TokenInvalidException $e) {
return ['status' => false, 'message' => $e->getMessage(), 'code' => $e->getStatusCode()];
}`
th

[2017-04-19 18:57] akkhan20 commented on #1115
Error on my side sorry!

[2017-04-19 18:57] #1115 closed

[2017-04-19 19:06] akkhan20 opened #1116 "Exception default status code '0' error"
i Suggest setting the default status code from 0 to anything in constructor like 522 etc in:

at
`
public function __construct($message = 'An error occurred', $code = 0, Exception $previous = null)
    {
        parent::__construct($message, $code, $previous);
    }
`
to
`public function __construct($message = 'An error occurred', $code = 522, Exception $previous = null)
    {
        parent::__co

[2017-04-19 19:51] akkhan20 opened #1117 "jwt.refresh on middleware problem"
if i apply jwt.refresh on a middleware then how do i get the user from token in a controller as it throws tokenBlacklisted exception.

it looks like jwt.refresh invalidate the current token with the request and pass the control to the controller but when in controller runs this
`JWTAuth::parseToken()->authenticate()`
it throws tokenBlackListed exception. do i need to do something different to get

[2017-04-19 20:12] shibby opened #1118 "Refresh claims on PayloadFactory"
Hello,

I'm getting trouble with custom claims. If i generate more than one jwt token, each token gets previous one's claims too, if not overridden. Here is an example:

[code]
What do i suggest? I've added refreshClaims() function. (Not tested)

[code]
This removes all claims used before. I'm not sure should it be used in `make` function always. Or is it a good idea generating many token in one r

[2017-04-19 20:33] tymondesigns commented on #1118
This has already been fixed on the upcoming release via a parameter - https://github.com/tymondesigns/jwt-auth/blob/develop/src/JWT.php#L94

I'm not accepting any non security patches to the current master branch.

Thanks though

[2017-04-19 20:33] #1118 closed

[2017-04-19 20:38] akkhan20 commented on #1117
is in version 0.5 the RefeshToken class is:

        try {
            $newToken = $this->auth->setRequest($request)->parseToken()->refresh();
        } catch (TokenExpiredException $e) {
            return $this->respond('tymon.jwt.expired', 'token_expired', $e->getStatusCode(), [$e]);
        } catch (JWTException $e) {
            return $this->respond('tymon.jwt.invalid', 'token_invalid', $e->

[2017-04-19 21:14] akkhan20 commented on #1117
if i use the AuthenticateAndRefresh middleware it works for now but i believe it is bypassing the checks as in  RefreshToken middleware try/catch block..

[2017-04-20 03:36] woisk opened #1120 "1.0.0-beta.3 wiki Where? or How to use"
1.0.0    wiki Where? or How to use

[2017-04-20 08:05] akkhan20 commented on #1120
its beta right now wait for stable

Sent from iPhone

On 20 Apr 2017, 8:36 AM +0500, 栗枫林 <notifications@github.com>, wrote:

[2017-04-20 11:47] wemersonjanuario commented on #1120
Em 20/04/2017 5:05 AM, "Muhammad Akbar" <notifications@github.com> escreveu:

its beta right now wait for stable

Sent from iPhone

On 20 Apr 2017, 8:36 AM +0500, 栗枫林 <notifications@github.com>, wrote:

tymondesigns/jwt-auth/issues/1120), or mute the thread (https://github.com/
notifications/unsubscribe-auth/AYvvsl0uRJq0K3Zc-t6sv-
EepiL6ElOHks5rxtK_gaJpZM4NCgFe).

—
You are receiving this because

[2017-04-20 11:49] wemersonjanuario commented on #1120
Is there any public date for release?

[2017-04-20 18:35] gigmaps commented on #1116
if you look in the [src code](https://github.com/tymondesigns/jwt-auth/blob/develop/src/Exceptions/InvalidClaimException.php#L28) (for develop) it doesn't actually have status codes defined
unlike the [master branch](https://github.com/tymondesigns/jwt-auth/blob/master/src/Exceptions/InvalidClaimException.php#L19) which defines a $statusCode for each exception type
...not sure why these were remov

[2017-04-20 19:46] akkhan20 commented on #1120
i dont know about that but i have implemented it in lumen 5.4 using the current docs and it works fine for now its just that there are some changes not updated in the doc for beta version

Sent from iPhone

On 20 Apr 2017, 4:49 PM +0500, Wemerson Januario <notifications@github.com>, wrote:

[2017-04-20 19:57] diego-betalabs opened #1121 "Was tymon.jwt.valid event removed from v1.0.0?"
It was fired at Tymon\JWTAuth\Middleware\GetUserFromToken on v0.5.* but I can't find it in v1.0.0. It was permanent removed or was updated?

[2017-04-21 09:36] progammer-rkt opened #1122 "Cannot Use latest release : `JTI improvement` due to `namshi/jose` dependency"
Hi it seems latest release: ` JTI improvement` is not downloading due to composer is not updated with `namshi/jose` latest package.

It currently point towards `^5.0` version. But it needs to be pointed towards `^7.0`. Please do needful.

[2017-04-21 09:57] progammer-rkt opened #1123 "Wiki Needs to be updated."
Current service provider which we need to add in `config\app.php` as per wiki is :

But the actual one working now is :

Similary, as per wiki, the token can be created by using the command

But the actual command that works now is :

Please note I am currently using the version : `1.0.0-beta.3`.

So I request to kindly update wiki as per these working data.

[2017-04-21 13:07] akkhan20 commented on #1123
the document refers to stable version and not beta version

Sent from iPhone

On 21 Apr 2017, 2:57 PM +0500, Rajeev K Tomy <notifications@github.com>, wrote:

[2017-04-21 14:46] progammer-rkt commented on #1123
@akkhan20 So do you mean it will use the same service provider and token generation command which are specified in wiki once it comes to a stable release ?

[2017-04-21 14:52] abolinhas opened #1124 "Laravel 5.4 - Token Signature could not be verified."
Hi,
I'm building an api to authenticate my users through my mobile application
The login controller return me the correct token.

[code]

Postman result
[code]

Now when I tried to get the current user by token I get the signature error
User controller
[code]

[code]

I already try by pass the token by url domain.com/api/auth?token=token_key and by header Authorization Bearer token_key

Also I hav

[2017-04-21 14:57] akkhan20 commented on #1123
no i believe all those things will change according to the source code and may be 2 wikis for both the versions

Sent from iPhone

On 21 Apr 2017, 7:46 PM +0500, Rajeev K Tomy <notifications@github.com>, wrote:

[2017-04-21 17:15] gandra opened #1125 "JWTAuth::attempt($credentials, $customClaims) not works"
Accordiong to [docs](https://github.com/tymondesigns/jwt-auth/wiki/Creating-Tokens) there is a second parameter where you can pass an array of custom claims. e.g.
[code]

I have tried and this not work as expectd. After decoding token back I can not find my custom claims. So I have checked [source code](https://github.com/tymondesigns/jwt-auth/blob/develop/src/JWTAuth.php) and there is no such met

[2017-04-21 17:27] akkhan20 commented on #1125
the document is for version 0.5 and i believe u got 1.0.0-beta-3

Sent from iPhone

On 21 Apr 2017, 10:15 PM +0500, Dragan Mijatovic <notifications@github.com>, wrote:

[2017-04-21 18:08] gandra commented on #1125
Thanks @akkhan20 !
You are right. In the version 0.5.11 there is a such method: [0.5.11/src/JWTAuth.php](https://github.com/tymondesigns/jwt-auth/blob/0.5.11/src/JWTAuth.php)
So in order to use this I have to downgarde it?
Why in newer version this functionality is revoked?