[2017-10-10 13:31] fureszk commented on #1125
@ThomasRalee
Here is how you do it:

        $payload = JWTFactory::customClaims([
            'sub' => Auth::user()->email,
        ])->make();

        $token = JWTAuth::manager()->encode($payload)->get();

[2017-10-11 02:43] angel8731 commented on #1326
find you jwt.php of config file, update three part
1.  'jwt' => 'Tymon\JWTAuth\Providers\JWT\Namshi',
2. 'auth' => 'Tymon\JWTAuth\Providers\Auth\Illuminate',
3. 'storage' => 'Tymon\JWTAuth\Providers\Storage\Illuminate'
i have fixed it and it worked

[2017-10-11 06:34] maximilianfixl commented on #1316
I updated composer with this requirement `"tymon/jwt-auth": "^1.0.0-rc.1"`
Works like a charme with laravel 5.5

[2017-10-11 11:45] jampack opened #1340 "Doc for version 1.0.0-rc.1"
is there any documentation available for version 1.0.0-rc.1 if we want to implement the latest version?

[2017-10-11 14:28] flxxyz commented on #1298
good job @Milos0110

[2017-10-11 15:18] kinyou commented on #1340
1.   composer require tymon/jwt-auth 1.0.0-rc.1
2.   add  something just like this  config/app.php
      Tymon\JWTAuth\Providers\LaravelServiceProvider::class,

      #aliases - array
     'JWTAuth' => Tymon\JWTAuth\Facades\JWTAuth::class,
     'JWTFactory' => Tymon\JWTAuth\Facades\JWTFactory::class,

3. php artisan vendor:publish --provider="Tymon\JWTAuth\Providers\LaravelServiceProvider"

4. php

[2017-10-11 16:40] jampack commented on #1340
@kinyou and rest of the document applies the same for newer version? i dont think so.

[2017-10-12 00:47] kinyou commented on #1340
@akkhan20 yes you are right , the <tymon/jwt-auth 1.0.0-rc.1> version is only use in laravel 5.5+

[2017-10-12 10:07] nueko commented on #1333
you need more specific question.

[2017-10-12 12:17] jampack commented on #1333
public function authenticate(Request $request)
    {
        // grab credentials from the request
        $credentials = $request->only('email', 'password');

        try {
            // attempt to verify the credentials and create a token for the user
            if (! $token = JWTAuth::attempt($credentials)) {
                return response()->json(['error' => 'invalid_credentials'], 401);

[2017-10-12 14:59] wapnen commented on #1316
hi guys, i tried to make the token last forever by changing the ttl to null and removing the 'exp' from required claims but when i try to authenticate (create a token via a login request) i always get a 'token has expired' exception.
anyone know a way out?

[2017-10-12 15:25] mbezhanov commented on #1316
@wapnen In `.env`, set `JWT_TTL=null`, and also in `config/jwt.php` remove `exp` from `required_claims`, so that it's defined like this:

[code]

Finally do:

[code]
...and it should work (tested and working on the `1.0.0-rc1` version)

[2017-10-13 10:20] elb98rm opened #1341 "Token can't be decoded - Laravel 5.5"
I'm setting up an authentication route with my API.
I am using laravel 5.5 with 1.0.0-rc.1 and Postman to interact with the API.

The authentication route/method seems to work:
[code]
A Postman API post request returns (what seems to be) a valid response, For example:

[code]

To begin with, for basic testing purposes, I am feeding this to an action using GET, with the following suffix:

`?token=e

[2017-10-13 10:25] elb98rm opened #1342 "Documentation clarification"
The wiki/Configuration or Installation pages don't actually tell you where the config files is/are.

You are told how to create them on the Installation page, which is great. I would suggest an edit that simply explains the location of the new config file.

I would also recommend that this is recapped in the Configuration page.

.. this may seem obvious but I lost a fair amount of time trying to w

[2017-10-13 21:04] timfogarty-deluxe commented on #1304
in 1.0.0-rc.1, the contents of jwt-auth/src/Providers/ is very different than 0.5.12.  In RC 1, there is no JWTAuthServiceProvider, and it throws error

Class 'Tymon\JWTAuth\Providers\JWTAuthServiceProvider' not found

[2017-10-14 08:40] zhangwei900808 commented on #872
I want to save the new jwt token in redux store how can I do it

[2017-10-14 09:23] zhangwei900808 opened #1343 "I want to save a refresh jwt token in my reducer store how can I do it?"
[code]

[code]

[code]
![image](https://user-images.githubusercontent.com/4385154/31574541-6e791946-b097-11e7-8dc9-275a9f1e9efd.png)

In fact when I used jwt.auth middleware then is response a json msg,but I want to refresh a new jwt token and response to save in my reducer store. I must remove the jwt.auth middleware? or I written a method to handle the entired jwt token not used jwt.auth middlew

[2017-10-14 09:48] meeplagm commented on #889
Anybody knows why custom claims where removed from attempt method? Wiki is still using such example. Do I need create whole token from the scratch if I want just to extend lifetime conditionally ("remember me" option)?

[2017-10-14 10:48] jampack commented on #889
@meeplagm may be because you define them in user model already

[2017-10-14 12:54] ojasseh commented on #1298
woow..Thanks @tijanmdr this works for me...

[2017-10-14 18:06] jampack opened #1344 "prv claim?"
What is the new "prv" parameter in the token?

[2017-10-14 18:28] jampack opened #1345 "No exceptions in Lumen 5.5"
Lumen: 5.5
JWT-Auth: 1.0.0-rc.1
### Issue
earlier is used to handle ***invalid token, token blacklist exception*** etc in exception handler now im trying to catch the exceptions related to JWT but its not throwing any exceptions just straight away ***Illuminate\Http\Response*** 401 with a body of "Unauthorized.", do i need to write my own middleware to check the token validity before the 'auth' mi

[2017-10-14 23:59] jampack commented on #1345
The response is coming from `App\Http\Middleware\Authnticate` and i tried in its handle method:

  $user = $app('auth')->user();
} catch (\Tymon\JWTAuth\Exceptions\TokenBlacklistedException $e) {
  return response()->json(['error' => 'token_blacklisted'], 401);
} catch (\Tymon\JWTAuth\Exceptions\TokenExpiredException $e) {
  return response()->json(['error' => 'token_expired'], 401);
}

and the $u

[2017-10-15 07:49] zhangwei900808 opened #1346 "I used the last jwt-auth doc but it no workd!"
the doc is [quick-start](https://github.com/tymondesigns/jwt-auth/blob/docs/docs/quick-start.md)

there is my config file with the last doc.
api.php
[code]
AuthController.php

[code]
User.php
[code]
auth.php
[code]
![image](https://user-images.githubusercontent.com/4385154/31582816-511c09dc-b153-11e7-8927-782d4451e553.png)

All of files is base on the last doc but is only response html not json.wh

[2017-10-15 09:01] zhangwei900808 commented on #1346
I had resolve this problem

![image](https://user-images.githubusercontent.com/4385154/31583256-475ded7a-b15d-11e7-89ba-fe190563ecff.png)

1、Remove namespace in Route::group like this:
[code]

2、the route is /api/auth/login not /auth/login

when you update above list now you can get the jwt token

[2017-10-15 09:01] #1346 closed, assigned to nobody

[2017-10-15 12:53] nsanzumuhire commented on #111
to change config of the user model to be authenticated is working for example i have Drivers and Passengers tables which are different because driver will have too much info and in my AdminController i have a function to login driver so i have to set Config before $token = JWTAuth::attempt($credentials)

             Config::set('jwt.user' , "App\Driver");
             Config::set('auth.providers.

[2017-10-15 13:58] zhangwei900808 opened #1347 "I visit /api/auth/logout why it tip me :Unauthenticated."
AuthController.php
[code]

api.php
[code]
![image](https://user-images.githubusercontent.com/4385154/31585431-fb92ac8a-b186-11e7-8a16-8614b0f28128.png)

[2017-10-15 14:12] jampack commented on #1347
Info?

[2017-10-15 14:22] akkhan20 commented on #1345
anything wrong on my side or is that normal and i have to approach a different way?

[2017-10-15 14:41] jampack commented on #1337
@karam94 i dont think it has anything to do with clients time or anything unless explicitly done.
'iat' is the time on server the token is issued at.
'exp' is the time on server that the token will expire on.
'nbf' is the time on server that the token cant be used before.
by package defaults 'iat' & 'nbf' are exactly the same and exactly the current time on server so that the token can be used rig

[2017-10-15 14:44] jampack commented on #1337
@karam94 and for the security risk if the time had to be calculated based on clients machine then they can always alter their time to make use of a token that has expired long ago according to 'exp'

[2017-10-15 14:56] jampack commented on #1332
it has to do with type of middleware i.e either middlewares run before the request or after the the request, the middleware that runs after the request fails to execute because there was an exception during the process of controllers or anything then that middleware wont run at all.
for refresh token its something like this:
`$response = $next($request);`
which shows it simply runs after the reque

[2017-10-15 15:09] slashsbin commented on #1344
It seems it's the Hash of the User Provider Class, See https://github.com/tymondesigns/jwt-auth/pull/1167.

[2017-10-15 17:02] jampack commented on #1344
@slashsBin  Thanks alot :)

[2017-10-15 17:02] #1344 closed, assigned to nobody

[2017-10-16 00:40] mubashirhanif commented on #1102
I am getting error while setting up for MultiUser/Table Authentication.

I've also posted [this question](https://stackoverflow.com/questions/46761419/multiple-table-authentication-with-lumen-and-jwt-auth-jwtguard-missing-paramete) on stackoverflow

_**auth.php**_
[code]

I think the problem seems to be with the initialisation of the `JWTAuth` instance, I can't remove this because I need `JWTAuth`

[2017-10-16 01:37] zhangwei900808 commented on #1347
what?

[2017-10-16 07:00] jampack commented on #1102
@mubashirhanif your user model needs to implement
`Tymon\JWTAuth\Contracts\JWTSubject`

Make it:
[code]

and add these two methods to the user model:

[code]

[2017-10-16 07:03] jampack commented on #1347
@zhangwei900808 framework version package version etc..

[2017-10-16 09:52] mubashirhanif commented on #1102
@akkhan20 I've already done that the problem seems to come from the Controller.

[2017-10-16 12:30] rajitha-bandara commented on #824
JWTAuth::invalidate($token);

[2017-10-16 14:32] gabeta commented on #245
Thanx, man i solve my problem

[2017-10-16 18:50] akkhan20 commented on #1345
no clue?

[2017-10-17 00:28] dinho19sp opened #1348 "No Method Tymon\JWTAuth\Commands\JWTGenerateCommand::handle()"
Don't have the method handle();
return Exception in Laravel 5.5.

My solution is add the method in the file Tymon\JWTAuth\Commands\JWTGenerateCommand.php

public function handle(){
   $this->fire();
}

pelase check this..

[2017-10-17 01:13] zhangwei900808 commented on #1347
[code]

[2017-10-17 03:18] abovetempo opened #1349 "Error on login with laravel 5.4 but register works"
Type error: Argument 1 passed to Tymon\JWTAuth\Blacklist::__construct() must be an instance of Tymon\JWTAuth\Contracts\Providers\Storage, instance of Tymon\JWTAuth\Providers\Storage\IlluminateCacheAdapter given, called in /var/www/html/abovetempo_laravel/vendor/tymon/jwt-auth/src/Providers/AbstractServiceProvider.php on line 249

register works in my controller:
public function register(Request $r

[2017-10-17 11:59] ramumaheswaran commented on #1329
Rambhidaran - any luck with this issue?

[2017-10-17 15:30] ramibadran commented on #1329
yes i had issue with my environment/htaccess and now its working fine
thanks for asking

[2017-10-17 15:30] #1329 closed, assigned to nobody

[2017-10-17 16:14] ramumaheswaran commented on #1329
Can you please share what was the .htaccess change?

Thanks & Regards,
Mahesh

Sent from my iPhone

[2017-10-17 18:28] ramumaheswaran commented on #1329
Can you please share what was the environment &  .htaccess change? We have been breaking our heads for quite sometime.  We tried Angular JS,PHP, jquery and javascript.

[2017-10-17 19:43] SilverLearn commented on #1348
please check this URL 👍
http://laravelcode.com/post/method-tymonjwtauthcommandsjwtgeneratecommandhandle-does-not-exist

[2017-10-17 23:18] philliperosario commented on #872
@dhayanithims the **refreshed token** is created only if the **expired token** have a expiration time less than **refresh_ttl** minutes. The refresh_ttl value is defined on path "config/jwt.php".

`    /*
    |--------------------------------------------------------------------------
    | Refresh time to live
    |--------------------------------------------------------------------------
    |

[2017-10-18 09:24] elb98rm commented on #1342
Also, now 1.* is out, I suggest you update the recommended versions on the home page.

[2017-10-18 10:01] elb98rm commented on #1341
There's been no response for 5 days, so I'm adding this to Stack Overflow.
If you want the SO reputation there, I'll mark correct answers and copy back to here.

[2017-10-18 10:23] OleksandrZnaidiuk commented on #1341
Here is my way to obtain user, I did't remember why, but my parseToken() fails, so I use other option:

[code]

[2017-10-18 10:35] elb98rm commented on #1341
Thanks, I still get `bool(false)` with a freshly generated token.

My only thought about this is that I am using a UUID, not a numeric ID. Could this be a problem?

[2017-10-18 11:12] elb98rm commented on #1341
Possible clue: the UUID is a binary(16).
Thus, it may have "text based transmission" problems. For example, I use a translated UUID (id_text) which is a text representation of this when using forms.

Is there a way of using another unique field, for example, email?

[2017-10-18 11:19] elb98rm commented on #1341
Update: I found this, but it didn't help:

* https://github.com/tymondesigns/jwt-auth/issues/834

I set the identifier to be:

`'identifier' => 'email',`

And it still returns false.

[2017-10-18 11:27] elb98rm commented on #1342
Also suggest this is merged with:

* https://github.com/tymondesigns/jwt-auth/issues/1340

[2017-10-18 15:41] hyperflux commented on #182
Use this instead:

`use Tymon\JWTAuth\Facades\JWTAuth;`

[2017-10-18 22:01] elb98rm commented on #1341
I have raised this on stack overflow here:
https://stackoverflow.com/questions/46809043/laravel-tymondesigns-jwt-auth-problems/46819476#46819476

You will notice that I have found the problem, and a possible solution.

* `tymon\jwt-suth\src\JWTAuth::authenticate` uses `id`, even with `'identifier' => 'email'` set

So. It turns out I need to override this. I have created the following ServiceProvid

[2017-10-19 08:21] akkhan20 commented on #1345
still no response from the community :(

[2017-10-19 12:23] kasra-appscore opened #1350 "How to change the default table/model (User) for JWT authentication in Laravel and Dontrine"
Hi guys,
I am working on a project that was built on Laravel 5.4.24 and integrated with Symfony component and Doctrine. I need to authenticate staffs on request from **_site_staffs_** table (**_SiteStaff_** model) and return the token.
site_staffs table has these columns: (id, **site_id**, code, number,..). Some columns have different names in the SiteStaff entity (id, **site**, code,..).
There is

[2017-10-19 12:57] davidspiess commented on #400
Wouldn't it make sense to provide the `JWTUserProvider` inside the package?

[2017-10-19 15:45] philliperosario commented on #1340
The 1.0.0-rc.1 version requires you to implement Tymon\JWTAuth\Contracts\JWTSubject on your user model too. You must then add the required methods, which are getJWTIdentifier() and getJWTCustomClaims().

[code]

See: #260

[2017-10-20 08:47] shov commented on #1026
[code]
The key moment in this solution is
`
JWTAuth::setRequest($request)->parseToken();
`
Now you've got the token from the header of the given request
`
$token = JWTAuth::getToken();
`

[2017-10-20 13:44] packytagliaferro opened #1351 "refresh token stored in localstorage"
So I started using Tymon JWT package for Laravel for my SPA. Its all going good ( adding user, signing in, getting Auth user) but when I make an API request it only works for an hour. I understand that the token I stored on login expires so when I make a request to the API after 60 minutes it doesn't work. My question is how do I refresh the token and restore it in my local storage? On a new reque

[2017-10-20 19:07] jinoantony opened #1352 "JWTAuth::parseToken()->authenticate() always return user_not_found exception"
I recently ran into a problem where jwt middleware always return user_not_found exception.
I replaced the function call `JWTAuth::parseToken()->authenticate()` with `JWTAuth::toUser(JWTAuth::getToken())` in the jwt middleware and its work perfect. But the problem is it is not a good method to edit the vendor files. Is there any solution to this other than editing the middleware ?

[2017-10-20 20:55] packytagliaferro commented on #872
I have tried @cristianpontes solution but after the token expires I get the code ` 101` which means there api an auth error in the api? I used the code from the Laravel 5 in the wiki (https://github.com/tymondesigns/jwt-auth/wiki/Creating-Tokens). What could cause this?

Also I am using Vue so I did an interceptor to get every response. Do I just reassign the token there to localStorage and the he

[2017-10-20 21:05] philliperosario commented on #872
@packytagliaferro

[code]

[2017-10-20 21:41] packytagliaferro commented on #872
@philliperosario Thats perfect! Solved two of my issues. I will just extend the token time a little. Once thing I did notice is my `axios.interceptors.response` doesnt catch the `error` on the first call, but if I refresh and it makes the call again, it works and logs my user out.

[2017-10-20 22:21] philliperosario commented on #872
@packytagliaferro Since you've solved two of your problems, I'm going to give you a third problem. Try submit **simultaneously** two requests to server.

[2017-10-20 23:27] packytagliaferro commented on #872
@philliperosario  Hmmm, sorry I am not sure what you mean. Shouldnt the interceptor run on every call? Here is my code

auth.js

[code]

[2017-10-21 00:05] philliperosario commented on #872
@packytagliaferro First, do not set the token statically at the beginning of the code, it will always be changing and being replaced by refreshed_token. So use a function that returns the token (so I call a getter of vuex) otherwise the axios will always send the old token.

I meant that there is a hidden problem in this whole discussion. If your client submits two requests at the same time to the

[2017-10-21 10:30] jampack commented on #1345
Intercepting the response through a 'run after' middleware i see this:

so even if i intercept the response in middleware how would i know the cause of HTTP: 401 response caused by a token issue?

[2017-10-21 10:44] jampack opened #1353 "Global exception handling in Lumen 5.5 for 1.0.0-rc.1 release?"
Can someone please help me with global exception handling for the latest version(1.0.0-rc.1) im unable to do so in Lumen 5.5
Please see the issue im facing currently: #1345

[2017-10-21 13:46] jampack commented on #1003
I think Lumen support is not of much priority on the package

[2017-10-21 23:10] philliperosario opened #1355 "Laravel 5.5 + Vue.js 2 + JWT Auth 1.0.0-rc.1"
Since I lost tons of time doing **tymon/jwt-auth** work in my application, I decided to share my code in this walkthrough.

**FOR LARAVEL:**

Add `"tymon/jwt-auth": "1.0.0-rc.1"` to **composer.json** and run `composer update`

Add the service provider to the providers array in **config\app.php**:
`Tymon\JWTAuth\Providers\LaravelServiceProvider::class`

Add the facades to the aliases array also in

[2017-10-21 23:11] philliperosario commented on #1342
#1355

[2017-10-21 23:12] philliperosario commented on #1340
#1355

[2017-10-21 23:13] philliperosario commented on #1351
@packytagliaferro #1355

[2017-10-21 23:15] philliperosario commented on #1352
@jinoantony See my middleware in #1355

[2017-10-21 23:23] philliperosario commented on #1349
@abovetempo post your **config/jwt.php** file here.

[2017-10-21 23:30] philliperosario commented on #1350
@kasra-appscore your **App\Entities\SiteStaff** class should extend **Illuminate\Database\Eloquent\Model**

[2017-10-21 23:31] philliperosario commented on #872
#1355

[2017-10-22 13:10] edwinhuish opened #1356 "how can I get the user with hasmany information?"
Hi, I want to know, if there have some way to get user info with hasmany information?

Just like below:

**User model**
[code]

**Controller**
[code]

## Is there have a easy way to get the user info with hasmany ??

[2017-10-22 18:18] jampack commented on #1356
my friend you have posted the issue on wrong repository or i would say the package doesn't provide any such methods to do that. Query wise the code in your controller is the shortest easiest snippet

[2017-10-22 19:42] eleftrik commented on #1348
@silverlearn thank you for the link.
@tymondesigns WIKI is not updated about latest version supporting Laravel 5.5

[2017-10-23 09:38] ralbear commented on #1355
When i set in composer the "tymon/jwt-auth": "1.0.0-rc.1" and go to the "composer update" i have this error:

Problem 1
    - The requested package tymon/jwt-auth 1.0.0-rc.1 exists as tymon/jwt-auth[0.1.0, 0.2.0, 0.3.0, 0.3.1, 0.3.10, 0.3.11, 0.3.12, 0.3.2, 0.3.3, 0.3.4, 0.3.5, 0.3.6, 0.3.7, 0.3.8, 0.3.9, 0.4.0, 0.4.1, 0.4.2, 0.4.3, 0.5.0, 0.5.1, 0.5.2, 0.5.3, 0.5.4, 0.5.5, 0.5.6, 0.5.7, 0.5.8, 0.

[2017-10-23 11:35] jampack commented on #1353
Nobody used the latest package with lumen 5.5?

[2017-10-23 11:55] Kyslik commented on #1355
I guess `dev-develop`

[2017-10-23 14:02] ralbear commented on #1355
Yep i try `dev-develop` too and i have a big issue too

Problem 1
- Installation request for laravel/framework 5.5.* -> satisfiable by laravel/framework[v5.5.18].
- tymon/jwt-auth dev-develop requires illuminate/support 5.1.* || 5.2.* || 5.3.* -> satisfiable by illuminate/support[v5.1.1, v5.1.13, v5.1.16, v5.1.2, v5.1.20, v5.1.22, v5.1.25, v5.1.28, v5.1.30, v5.1.31, v5.1.41, v5.1.6, v5.1.8, v5.2.0

[2017-10-24 05:38] akkhan20 commented on #1355
@ralbear why would you go for dev branch when you are not expert? it doesn't make sense

[2017-10-24 09:17] Rafeethu commented on #1355
@philliperosario how can i implement the same for a non User class. my issue is the the mobile API should be authenticated against the \App\Customer class (not user class). I'm using Laravel 5.4.

[2017-10-24 09:19] Rafeethu commented on #1355
hi @philliperosario how to implement the same against some other class. In my app the mobile api should be authenticated using the \App\Customer class (not User class). I'm using Laravel 5.4

[2017-10-24 12:37] philliperosario commented on #1355
@Rafeethu see in **config/auth.php** the providers['users'] array.

[2017-10-24 13:47] Rafeethu commented on #1355
@philliperosario my app has web module for internal users and api for mobile users (customers). So in config/app.php the guards array has paras for web and api separately (laravel 5.4 has this)

I need web section to use \App\User model and api section to use \App\Customer model. So I set the providers for api accordingly. But when calling through api route, it still use the web guard section (tha

[2017-10-24 13:50] ajiagahari commented on #978
use this after generating token

`JWTAuth::user()`

[2017-10-24 16:46] philliperosario commented on #1355
@Rafeethu put here your **config/auth.php** file

[2017-10-25 01:01] Rafeethu commented on #1355
This is my config/auth.php file
`

return [

    /*
    |--------------------------------------------------------------------------
    | Authentication Defaults
    |--------------------------------------------------------------------------
    |
    | This option controls the default authentication "guard" and password
    | reset options for your application. You may change these defaults
    |

[2017-10-25 02:32] philliperosario commented on #1355
@Rafeethu

[code]

and as said in [this post](https://mattstauffer.com/blog/multiple-authentication-guard-drivers-including-api-in-laravel-5-2/):

[2017-10-25 02:47] Rafeethu commented on #1355
Yes, i tried
`$token = JWTAuth::guard('api')->attempt($credentials)`

in login controller but it throws

(1/1) BadMethodCallExceptionMethod [guard] does not exist.
--
in JWT.php (line 399)
at JWT->__call('guard', array('api'))in Facade.php (line 221)
at JWTAuth->guard('api')in Facade.php (line 221)
at Facade::__callStatic('guard', array('api'))in AuthController.php (line 38)
at JWTAuth::guard('api

[2017-10-25 02:51] philliperosario commented on #1355
use the guard on your routes

[2017-10-25 03:00] Rafeethu commented on #1355
You mean like this
`Route::middleware('jwt:api')->get('/user', function (Request $request) {
	return ['name' => 'test'];
});`

still no luck :-(

[2017-10-25 15:09] HiradRoshandel commented on #1348
Don't forget to do this aswell #1326

[2017-10-25 16:17] AugmentBLU opened #1360 "Illuminate\Contracts\Auth\Guard is not instantiable"
Hello,

I'm having issues trying to integrate JWT-Auth with October CMS which uses Laravel 5.5. I am getting the following error whenever I try to use a route with JWT-Auth.

```Target [Illuminate\Contracts\Auth\Guard] is not instantiable while building [Tymon\JWTAuth\Providers\Auth\Illuminate].```

I have tried both the 1.0.0-rc.1 and the dev-develop branch but both give the same error.

My integ

[2017-10-26 17:10] ralbear commented on #1355
@akkhan20 Because the master version is not compatible with laravel 5.5 at the moment, and the dev one looks like they have the laravel 5.5 compatibility issues solved

[2017-10-26 17:42] ralbear commented on #1355
@Rafeethu I think the guard must be called like this
[code]

[2017-10-26 18:03] jampack commented on #1355
@ralbear you can download 1.0.0-rc.1 and u can certainly find some docs for that and its compatible with L5.5 too

[2017-10-26 18:06] ralbear commented on #1355
@akkhan20 If you read my first comment, when i try with the 1.0.0-rc.1 version in composer i get an error, composer says that version is not available.

[2017-10-26 18:35] achchu93 commented on #1038
@cieniurobot Thanks alot worked with "tymon/jwt-auth": "^0.5.12" also.

[2017-10-26 18:44] achchu93 commented on #1316
@maximilianfixl thanks man..it worked..thanks alot!

[2017-10-26 21:19] webloper opened #1361 "Class 'Tymon\JWTAuth\Providers\LumenServiceProvider' not found"
Hi,

Here is my composer.json snippet

            "php": ">=7.0",
        "laravel/lumen-framework": "5.5.*",
        "vlucas/phpdotenv": "~2.2",
        "tymon/jwt-auth": "^0.5.12"
    },

and I'm getting this error

Class 'Tymon\JWTAuth\Providers\LumenServiceProvider' not found

I followed [this](http://jwt-auth.readthedocs.io/en/docs/lumen-installation/#bootstrap-file-changes) url for setup. I

[2017-10-27 13:16] aqib-git commented on #502
You can create your own middleware e.g JWTAuth  then copy code from Tymon\JWTAuth\Middleware\GetUserFromToken like this

[code]
then change middleware in Kernel.php to your custom middleware.

[2017-10-28 13:04] faruqisan opened #1362 "customClaims not added into token"
I use `Laravel 5.5` and `"tymon/jwt-auth": "dev-develop"` version
I try to add custom claims using this code

`$customClaims = [
      'name' => $user->name,
      'username' => $user->username,
      'role'=> $user->userRole->role->name,
      'timestamp'=>'test',
    ];`

`$token = \JWTAuth::attempt($credentials, $customClaims)`

But when i try to encode the token it just have default payload li

[2017-10-28 13:24] jampack commented on #1362
try adding the claims through User model

[2017-10-29 00:24] kobidkunda commented on #1038
use this working
Tymon\JWTAuth\Providers\LaravelServiceProvider::class,

[2017-10-29 00:44] feelinc commented on #887
I'm having the same problem with Europe/London timezone, working correctly when setting a different timezone.

Can someone explain why using "Carbon::createFromTimeStampUTC" in "Tymon\JWTAuth\Utils"?

[2017-10-29 00:45] ekstremedia commented on #887
Time changed tonight and now im getting the same error too.

[2017-10-29 00:49] ekstremedia commented on #887
@feelinc Changing to
`return Carbon::createFromTimestamp($timestamp);`
in Utils.php temporarly fixed the problem for me

[2017-10-29 01:00] feelinc commented on #887
@ekstremedia yes done that too, thanks.

[2017-10-29 08:37] ramibadran commented on #1030
Guys

any fix here, i also face same problem

[2017-10-30 21:18] sumit22 commented on #1149
@mihailo-misic looks like this is not invalidating old token

[2017-10-31 06:09] zengsuyi commented on #1361
same

[2017-10-31 10:41] fisharebest commented on #702
Since September 2017, the entire pacakge `namshi/jose` became deprecated - https://github.com/namshi/jose

[2017-10-31 10:42] josericardomcastro opened #1364 "In the release "1.0.0-rc.1", how do i create a token by user?"
In the release "1.0.0-rc.1", how do i creating a token based on a user object?

I read the documentation [http://jwt-auth.readthedocs.io/en/docs/quick-start/](http://jwt-auth.readthedocs.io/en/docs/quick-start/) and only explains the token generation using the attempt method.

``$this->guard()->attempt($credentials)).``

I need to validate my user like this:

[code]

[2017-10-31 11:25] imslepov commented on #1364
[code]

[2017-10-31 12:36] sdfiteng opened #1365 "login to SSO server out box of laravel- send username and pass to SSO server and get token and login in laravel"
Hi
my User table is in SSO server out of my laravel.
when user login in my laravel, i want send username and password to the SSO server and if those are correct get token from server. this token will assigned to the user to get user info from SSO server.for every request that needs auth in laravel we must check the token and if token has been expired we need refresh token.
How can I do that by JWT

[2017-10-31 12:52] Ugluth opened #1366 "Laravel 5.2 multiple authentication models"
Hello, I've been busy with trying to implement the RC version of the plugin in our laravel 5.2 project for quite a while. There are a lot of tickets open for it already and I've been trying out different things based on those tickets, but unfortunately without a lot of success. So I decided to just make a brand new laravel 5.2 project on a public repo, so you can also have a look and tell me if I'

[2017-10-31 14:16] Pederytter commented on #872
Had some issues with the response coming back with "Token has been blacklisted". Seems like it's because the header wasn't set properly before it meet the next middleware.

Anyway changing:
`  header('Authorization: Bearer ' . $refreshed);`

to:
`  $response->headers->set('Authorization', 'Bearer '.$refreshed);`

fixed my problem. In case anyone else runs into the same issue.

[2017-10-31 16:19] josericardomcastro commented on #1364
When i use the attempt() method i receive this error:

`ErrorException: Undefined index: password in file /sysadm/vendor/laravel/framework/src/Illuminate/Auth/EloquentUserProvider.php on line 131`

I don´t have a "password" column in my user´s table.

[2017-10-31 21:52] james2doyle commented on #915
I was getting this in Laravel 5.5 randomly. I ran `php artisan key:generate` and it was gone.

[2017-10-31 23:23] Manfred047 opened #1367 "access_token value = true, Laravel 5.5 and jwt-auth 1.0.0-rc.1"
On success login, the access_token value is "true".

The login method:

   `public function login(Request $request)
    {
        $credentials = $request->only('email', 'password');

        if ($token = $this->guard()->attempt($credentials)) {
            return $this->respondWithToken($token);
        }

        return response()->json(['error' => 'Unauthorized'], 401);
    }`

The response (suc

[2017-11-01 03:18] kinyou commented on #1367
edit the config/app.php  aliases
   'JWTAuth' => Tymon\JWTAuth\Facades\JWTAuth::class,
   'JWTFactory' => Tymon\JWTAuth\Facades\JWTFactory::class,

`public function login(Request $request)
	{
		$credentials = $request->only('email', 'password');

		if ($token = JWTAuth::attempt($credentials)) {
			return $this->respondWithToken($token);
		}

		return response()->json(['error' => 'Unauthorized'], 4

[2017-11-01 09:41] ReneRautenbach commented on #1361
Hi
I had the same issue - I then ran the following and it sorted out the issue
composer require tymon/jwt-auth:"^1.0@dev"

[2017-11-01 15:01] okt-pcournoyer opened #1368 "How to refresh token in 1.0.0-rc1"
Hi!

In v0.5.*, I was used to refresh token using the middleware route "jwt.refresh". But it seems to not working in the new version.

How can I do that?

[2017-11-01 15:41] Manfred047 commented on #1367
Ok, it works. Thanks

[2017-11-02 18:20] ulisescarreonalvarez commented on #1362
@akkhan20 Hi, how can we do that? i have de dev version and i need to set the claims but on the JWTAuth.php doesn't have for more parameters.

[2017-11-03 04:56] kasra-appscore commented on #1350
@philliperosario sorry for the late reply and thank you for your comment. I tried many different ways but no luck. I decided to create a custom encrypted token and authenticate staffs manually.

[2017-11-03 12:55] Ugluth commented on #1366
I wasn't able to find a really nice solution for this, but I managed to make it work. What I do is check the guard on the Authenticate middleware and depending on what kind of guard it is, make the corresponding user provider.

I'm not sure if this is the best way for this to be implemented though. I have pushed the solution I mentioned in the public repo that I made. If anyone has a nicer way of

[2017-11-03 22:55] klytron commented on #1281
works now

[2017-11-03 22:55] #1281 closed, assigned to nobody

[2017-11-06 15:44] XavierTecBr opened #1372 "commit: 6c1ec9a generated this bug [Illuminate\Contracts\Encryption\DecryptException] The payload is invalid."
commit: 6c1ec9a generated this bug [Illuminate\Contracts\Encryption\DecryptException]   The payload is invalid.

when i running php artisan migrate.

my solution was specified the commit on composer json. "tymon/jwt-auth": "dev-develop#b17f573",

[2017-11-06 16:09] koenhoeijmakers commented on #1372
I have already addressed this issue in PR [#1371](https://github.com/tymondesigns/jwt-auth/pull/1371)

[2017-11-06 17:38] XavierTecBr commented on #1372
The error was on my migration, i did in a new branch, that dind't has cookie, see:

i beleave to be this method, bellow:
public function insertSuperUser()
    {

        $this->user = new App\Models\User();

        $this->user->fill([
            'name' => 'Admin',
            'email' => 'super@company.com.br',
            'password' => bcrypt('secret'),
            'remember_token' => str_random

[2017-11-06 18:07] #1372 closed, assigned to nobody

[2017-11-06 18:51] koenhoeijmakers commented on #1372
Ah my bad, but the error was coming from the same part :)

[2017-11-07 16:26] nicoburns commented on #1368
There may be a built in solution, but we decided to roll our own middleware (based on [this blog post](https://medium.com/@3lpsy/apis-and-laravel-part-2-jwt-tymon-3e7f365af81c)). Feel free to copy/modify if you want:

[code]

[2017-11-07 16:54] incon commented on #1368
My AuthController, the `jwt.refresh` middleware will add the refreshed token to the response header (Authorization).
[code]

[2017-11-07 23:59] gopalkumar315 commented on #1054
@kohenkatz Thanks a lot

[2017-11-08 00:55] arctican opened #1374 "Token gets created without email"
I'm having an issue, where a token is created if I don't send an email parameter. If I send only a password, then a token is successfully created from the first user in the DB with that password.

If I send an incorrect password, or supply both the email and password, with either incorrect, it fails as it should.

I have tried this with both the 0.5.* and 1.0.0-rc1 releases.

I am using Laravel 5.

[2017-11-08 09:28] Kyslik commented on #1374
Do you even validate?

[code]

[2017-11-08 14:04] pedrogaldino opened #1375 "How to get token by user on 1.0.0-rc.1"
I just want to know how i can generate a token only passing the user instance or their id

Something like:

$user = User::first();
$token = $this->guard()->login($user)

(i've tried this, but only getting null on return)

[2017-11-08 15:10] arctican commented on #1374
Apologies, for some reason the email wasn't marked as required.

Thanks

[2017-11-08 15:10] #1374 closed, assigned to nobody

[2017-11-08 16:26] markshust commented on #1366
in `AuthServiceProvider.php`, add this to the bottom of the `boot` method:
[code]

you can then add the api guard to the route group as so:
[code]

[2017-11-08 18:58] air-guillaume commented on #1038
I personnaly managed to cleanely install it by using `"tymon/jwt-auth": "1.0.0-rc.1"` in my composer.json. With Laravel 5.5.20.

Hope it helps!

[2017-11-09 03:31] trexanhvn opened #1376 "Refresh token when password change and revoke all tokens existed for User"
Have any way to refresh token when user change password and of course all old tokens will be not affected?
Below is my `change_password` function with customClaims `pws`:
[code]

[2017-11-09 09:23] Naxam-AnNguyen opened #1377 "[1.0.0-rc.1] request->user returns null"
Hi,

I am trying to use your latest version, 1.0.0-rc.1.

Authentication works well; however, `$request->user` returns null.

I guess we must set value for that key in our middleware if authentication is ok.

Thanks.

[2017-11-09 09:47] Naxam-AnNguyen commented on #1377
I found my issue. It must be `$request->user()` :(

[2017-11-09 09:47] #1377 closed, assigned to nobody

[2017-11-09 10:16] Bonobomagno commented on #1375
something is not working on your code.
try this on tinker:
`$user = App\User::first()`
`Auth::guard()->login($user)`

[2017-11-09 10:25] Bonobomagno commented on #1341
i think that is better if you check 1.0 documentation.
Tymon suggest to use laravel auth handling. so Auth::guard for generate the token. (setting on guard, driver jwt)

[2017-11-09 11:18] Bonobomagno commented on #1274
confirm @RJustice solution for v1 on laravel 5.5

[2017-11-09 21:38] bdebever commented on #687
Hi guys,

I have the same issue here with the version 1.0.0-rc.1 - dependency injection isn't working.

Any suggestion?

thanks;

[2017-11-10 00:12] bmbBAMBUS opened #1378 "Token Signature could not be verified"
Each time when I want to poke(GET) my protected route with header with token I get: "Token Signature could not be verified in BaseMiddleware.php" . Also my generated tokens don't match at jwt.io
I have the same 'secret' in jwt.php as JWT_SECRET in .env

I tried to php artisan key:generate

I have custom claims in User model:
 public function getJWTCustomClaims()
    {
        return ['firstname' =

[2017-11-10 07:45] billsion commented on #1316
when I run:
`php artisan vendor:publish --provider="Tymon\JWTAuth\Providers\LaravelServiceProvider"`

I've got the following error:
`[Symfony\Component\Debug\Exception\FatalThrowableError]
  Class 'Tymon\JWTAuth\Providers\LaravelServiceProvider' not found`

Laravel 5.5, jwt-auth 0.5.12

Any ideas?

thanks in advance

[2017-11-10 08:01] lxiaoxiang commented on #1298
@Milos0110 Thanks

[2017-11-10 08:06] billsion commented on #1316
When I call:

`JWTAuth::attempt($credentials)`

I've got the fowling error:
`Class 'Tymon\JWTAuth\Providers\JWT\NamshiAdapter' not found`

why is that?

thanks  in advance

[2017-11-10 11:36] maximilianfixl commented on #1316
Do you have `use JWTAuth;` and `use Tymon\JWTAuth\Exceptions\JWTException;`?

[2017-11-10 15:51] Frondor commented on #1361
Lumen support should be removed from this package. Actually, it's a pain in the ass to set up.

[2017-11-10 15:55] jampack commented on #1361
@Frondor well if you cant support at least you should not suggest such things

[2017-11-10 22:12] ricardo-lobo opened #1379 "Type error: Argument 1 passed to Tymon\JWTAuth\JWTGuard::login() must be an instance of Tymon\JWTAuth\Contracts\JWTSubject, instance of App\User given"
I tried to follow the unfinished docs for 1.0.*

When I try to login I always get this error:

Type error: Argument 1 passed to Tymon\JWTAuth\JWTGuard::login() must be an instance of Tymon\JWTAuth\Contracts\JWTSubject, instance of App\User given, called in /Users/ricardolobo/Sites/backend/vendor/tymon/jwt-auth/src/JWTGuard.php on line 124

I'm using Laravel 5.5 and PHP 7.1

[2017-11-11 00:16] ricardo-lobo commented on #1379
I "solved" this by removing **JWTSubject** type hinting on the following files:

vendor/tymon/jwt-auth/src/JWT.php
vendor/tymon/jwt-auth/src/JWTGuard.php

[2017-11-11 00:31] janva255 commented on #1355
php artisan vendor: publish --provider = "Tymon\JWTAuth\Providers\LaravelServiceProvider"
should be
php artisan vendor: publish --provider "Tymon\JWTAuth\Providers\LaravelServiceProvider"
no =

also: remove spaces vendor:publish - php artisan jwt:secret

[2017-11-11 06:55] mochlutfifauzi opened #1380 "Please change public function fire()"
Please change public function fire() to public function handle. in file vendor/tymon/jwt-aut/src/Commands/JWTGenerateContent.php.

So user can easily php artisan jwt:generate without error
Thanks

[2017-11-11 08:10] fireynis opened #1381 "How can I create a token with custom claims from a user"
In the previous version all I had to do was:

`JWTAuth::fromUser($user, ['exp' => Carbon::now()->addYear()->timestamp, 'typ' => 'refresh'])`

In the 1.0.0-rc.1 version all of this is gone. Is there a simple way for me to reproduce what I did? It would save me from re-writing a ton of already implemented and tested code.

[2017-11-11 15:34] Hesesses commented on #422
Should "jwt.check" work on v0.5.12? or is it a new feature for 1.0.0?

[2017-11-12 17:13] core01 commented on #1355
If you are using CORS  -  do not forget to expose response header "Authorization" to give JS allow getting header.
If you are using Laravel CORS, then In `config/cors.php` specify expose header:
[code]

[2017-11-13 07:48] bmbBAMBUS commented on #1381
You can make it directly from User model, example:
public function getJWTCustomClaims()
{
return ['firstname' => $this->firstname,
'lastname' => $this->lastname,
'email' => $this->email];
}

[2017-11-13 12:22] bencun commented on #1298
Do what @tijanmdr suggested, just remember to remove the service provider and all aliases from app.php before trying to pull the latest version with composer. It works 100%.

[2017-11-13 12:27] philliperosario commented on #1355
@core01 well remembered, I updated my answer

[2017-11-13 14:08] LakshmanKatragadda opened #1385 "How implement remember me functionality or how to set different expire time to each token"
i  done lot of research on this  but i am not get solution for this  ..is there any possibility do this ?

[2017-11-13 15:30] alanwillms opened #1386 "`namshi/jose` is deprecated"
`namshi/jose` is deprecated, consider moving to `firebase/php-jwt` or `lcobucci/jwt`:

https://github.com/namshi/jose

[2017-11-13 15:34] fireynis commented on #1381
@bmbBAMBUS I use that function to create the main token, but what I need to do is create a separate token with different custom claims than what is in getJWTCustomClaims()

[2017-11-14 14:23] riccardo993 opened #1387 "Doc v1 AuthController errors"
Hi, in the [quick start](http://jwt-auth.readthedocs.io/en/docs/quick-start/#create-the-authcontroller
) the AuthController has some mistakes:

1. The constructor **except** array it should contains also the **refresh** method because if you want to refresh an expired token, the middleware will stop you with "Unauthorized" error even if the token is still in the 2 weeks gap.

2) Why is the **guard

[2017-11-14 16:23] rafaelrenanpacheco commented on #1387
The Request namespace is also missing.

[2017-11-14 18:00] cinilak commented on #1362
@faruqisan Did you resolve this issue and if so, how? Thanks

[2017-11-14 19:03] jmdavid opened #1388 "custom claim not working as expected"
Hello,

based on documentation, the following code is supposed to work:
`
$credentials = $request->only('email', 'password');
$customClaims = ['sCustomercode' => '1234', 'sActivesessionID' => 'abcd'];
if (!$token = app('auth')->guard($this->guard)->attempt($credentials, $customClaims)) {
    return response()->json(['error' => 'invalid_credentials'], 401);
}
`

but when token is decoded, I have no

[2017-11-15 03:43] #1046 closed

[2017-11-15 09:48] patrikalbertsson commented on #887
Hi,
Im getting this error with only some request, not all. So strange.

Is there a way to fix this? Without editing the vendor-files..

[2017-11-15 11:34] ahmadbadpey commented on #1316
How can I inject generated token to authenticated user and then response it ?

[2017-11-15 17:18] ulisescarreonalvarez commented on #1362
@cinilak on the model User, on the properties just add the attributes that you want

[2017-11-15 17:48] mbezhanov commented on #1316
@billsion assuming you are using version `1.0.0-rc1`, along with the things @maximilianfixl mentioned, maybe try refreshing your autoload classmap via `composer dumpautoload` (if you haven't done so already)

However, it looks to me that you may be having an issue with an older version, as `Tymon\JWTAuth\Providers\JWT\NamshiAdapter` was present until version `0.5.12` and removed since `1.0.0-alpha

[2017-11-15 21:56] kulturman commented on #1352
@jinoantony: thanks for the tip(replacing JWTAuth::parseToken()->authenticate()). To avoid editing the file in vendor I copied it to App\Http\Middleware\CustomGetUserFromToken.php. Finally I added this line in Kernel.php
`'jwt.auth' => \App\Http\Middleware\CustomGetUserFromToken::class,`

[2017-11-16 02:07] izopstropp commented on #1361
@ReneRautenbach this version old?

[2017-11-16 08:10] cinilak commented on #1362
@ulisescarreonalvarez Could you give me an example? I'm not sure what you mean. Thanks!

[2017-11-16 11:31] bmbBAMBUS commented on #1378
Any help? I still did not resolve this.

[2017-11-16 14:20] Broutard commented on #1372
Why it is closed ? Issue is still valid in the last "^1.0@dev" (fixed to switching to "^1.0@RC").

The bug was introduced in https://github.com/tymondesigns/jwt-auth/commit/eb5cd7eb7be867f740546596f3a16b5806106890

Oh, sorry I have miss the new config option `decrypt_cookies`, but I don't understant :
my cookie is crypted by default (not setted in EncryptCookies middleware $except), but I must set

[2017-11-16 17:59] richardjwinter opened #1389 "New token not being parsed from request in Unit Test"
Hi all, I'm having an issue with my Unit Tests using the jwt.auth middleware. Below is a snippet of a unit test.

[code]

The problem is that on the second get request I am getting the response from the first user. The issue is that the JWTAuth class sets the token after the first request and on the second request checks if the token exists in the getToken() method

[code]
Since the token is set,

[2017-11-16 22:56] ulisescarreonalvarez commented on #1362
@cinilak on` app/User.php` you set de attributes that will appear on the Claim of the token.
Like this:

[code]

When you decode the token, that attribute will appear on the claims data.

[2017-11-17 02:07] ulisescarreonalvarez commented on #1388
I added the claims through User model.

[2017-11-17 15:44] rafaelrenanpacheco commented on #1379
@ricardo-lobo did you read the quick-start guide?

http://jwt-auth.readthedocs.io/en/docs/quick-start/

There's an item called "**Update your User model**" with the following code:

`class User extends Authenticatable implements JWTSubject`

This should solve that error you got.

[2017-11-17 20:14] neilb01 commented on #1378
try removing `exp` from the `required_claims` array in your jwt.php file

[2017-11-18 13:45] bmbBAMBUS commented on #1378
It didn't help. I also set TTL time to null.

[2017-11-18 14:36] gavinliu6 commented on #677
Do you have resolved the problem? @vfsoraki

[2017-11-18 14:45] #1220 closed, assigned to nobody

[2017-11-18 14:46] subalee commented on #1220
@craigcartmell thanks, closed

[2017-11-20 07:29] tijanmdr commented on #1298
Do anyone have the solution for this. The JWT has overridden default `Auth`. While doing
[code]
This gives me `Bearer token`

[2017-11-20 07:47] tijanmdr commented on #1298
Do anyone have the solution for this.JWT has overridden default `Auth` functionality. While doing
[code]
This gives me `Bearer token`

[2017-11-20 17:06] jgrossi opened #1393 "Changing the JWT token in runtime for test purposes"
Hi, first, thanks for this amazing package, really. 😉

I'm using it with Lumen 5.5 and everything is working fine, btw. I'm returning custom JSON for the expired token, checking for `UnauthorizedHttpException` and `TokenExpiredException` exceptions, which is working fine.

I'd like to test this behavior with PHPUnit to make sure the returned JSON is according to what I'm expecting. This would be i

[2017-11-20 19:01] vfsoraki commented on #677
I do not recall, sorry @gavinliu6 .

I think I solved it by doing things manually, or using something else, but I really don't know how I did it. This issue is considered old now :wink:

[2017-11-20 19:36] jgrossi commented on #1353
@akkhan20 maybe this works for you:

[code]

[2017-11-20 19:40] jgrossi commented on #1003
@alihasanzaade I'm using Lumen 5.5 and everything is working as expected. Check this issue #1353  😉

[2017-11-20 20:04] SergioFloresG commented on #1380
https://github.com/tymondesigns/jwt-auth/blob/614ee3410a1cc18ef13c8d5ffd491b5608afabd8/src/Commands/JWTGenerateCommand.php#L39

[2017-11-21 06:17] tijanmdr opened #1395 "Cannot use both Session and JWT Auth in Laravel 5.5"
Hello, I am using Laravel 5.5 with JWT `dev-develop`. I have also set my auth drivers for web.

[code]

But, the above configuration doesn't give me JWT Bearer Token. When I replace `web` with `api`, `Auth::attempt($credentials)` gives me JWT token instead of session.

Any ideas how to use both at the same time?

[2017-11-21 10:50] rafaelrenanpacheco commented on #1389
The workaround is to do a `post` to `api/logout` (or something like that) before you run your second test.

[2017-11-21 15:04] rafaelrenanpacheco commented on #1262
If you are using Passport, I don't see why you need to use JWT.

Passport has the OAuth2 "Password Grant" method, as you can see [here](https://laravel.com/docs/5.5/passport#password-grant-tokens). In Password Grant method you can send to the login API a fixed client_id and client_secret, as well the user's login and password.

[2017-11-21 19:10] jmdavid commented on #348
It doesn't work:
`$factory = JWTAuth::factory()->setDefaultClaims(['iat', 'exp']);
        $payload = $factory->aud(...`

I still have nbf and jti.

[2017-11-21 20:15] devfrey commented on #1395
Specify the guard name like so ([straight from the docs](https://laravel.com/docs/5.5/authentication)):
`Auth::guard('api')->attempt($credentials)`

[2017-11-22 02:59] gabmaxs commented on #1322
Did you find the solution? I have the same problem

[2017-11-22 13:15] richjansen commented on #814
I also had a token_invalid. When I debugged Tymon\JWTAuth\Token I saw the $value contains a ": " before the actual token string. So i removed that and now it seems working (so far). In the __construct(): $value = str_replace(": ", "", $value); But why?

When validating my token on jwt.io it seems that the token is "Invalid Signature". What does that mean?

[2017-11-22 15:16] rafaelrenanpacheco commented on #548
Yes, this has nothing to do with jwt authentication.

In the backend, yes. The backend has the private key to decode the encrypted token, which was encrypted with the public key.

In the frontend, no. The frontend doesn't have and should not have the private key to decode the JWT. If you need to send some additional information to the frontend, you can add them to the JSON that is sent to the fron

[2017-11-22 20:54] casivaagustin-zz commented on #1124
I solve this issue running

php artisan jwt:secret

[2017-11-22 20:54] casivaagustin-zz commented on #915
I solve this issue running

php artisan jwt:secret

[2017-11-23 06:02] fengerwoo opened #1396 "Laravel5.5选择Passport更好还是Jwt-auth"
我个人更倾向于JWT，但是网上都建议使用Passport

[2017-11-23 13:16] mrjnamei commented on #1313
need csrf_tokens .

[2017-11-24 00:23] muresanandrei opened #1397 "Token not provided"
All api routes from jwt middleware route group worked but for some reason now I am getting {"error":"token_not_provided"}. I send authorization Bearer also added ?token=... to url and still not working on postman even though it work just a few moments ago.

[2017-11-24 14:14] sivakumarraju89 commented on #1094
you need to update the User Model.

Check the link
http://jwt-auth.readthedocs.io/en/docs/quick-start/#update-your-user-model

[2017-11-26 09:45] tushark1 commented on #1367
As in the official docs for 1.0.0 <br/>
Change this in auth.php

[code]

then copy the controller from [controller](http://jwt-auth.readthedocs.io/en/docs/quick-start/#create-the-authcontroller)

just change this part in the controller
[code]

This works for me and should definitely work for you too :)

[2017-11-26 11:50] aldyson opened #1398 "ParseToken returns details of a different account"
I created 2 accounts with different email addresses and passwords. I have a HTTP request that sends the token (stored in local storage after signin) like this:

`http://apiurl/api/projects/getProjects?token=tokenString`

Inside the method, I used the following line to retrieve the authenticated user based on the token:

`$authenticatedUser = JWTAuth::parseToken()->authenticate();`

This retrieves

[2017-11-27 06:52] tradzero commented on #795
+1

[2017-11-27 06:54] tradzero commented on #1083
Sounds a big issue...

[2017-11-27 07:12] tradzero commented on #795
@tymondesigns

[2017-11-27 07:45] tradzero commented on #860
if i have two guard `merchant` and `user`,  both use `jwt` driver, what can i distinguish them?

[2017-11-27 07:47] tradzero commented on #860
`user` and `merchant` have same identifier. when `user` got token, `Auth::guard('merchant')->check()` will still pass when use `user`'s token

[2017-11-27 10:28] davemin opened #1399 "The payload is invalid"
Possible issue?

[code]

This function return always true so there is always an exception also if i remove '!'. Very strange behaviour.

This is my payload:

[code]

For your info i don't use for api but for web app so i store my token in a cookie but if i use non encrypted cookie this works.

any ideas?

[2017-11-27 11:46] victor-ponamariov commented on #1397
+1 this happened for me for options request, moreover not for every options request but for those who goes before post

This works:
 - options
 - get

This not:
 - options (400, token_not_provided)
 - should be post

[2017-11-27 11:57] tymondesigns commented on #1083
Whoops forgot to close this... It was fixed a while ago, no issues anymore

[2017-11-27 11:57] #1083 closed

[2017-11-28 16:51] FrankCastelijns commented on #1397
Got the same problem, but for me it occurred when i switched to https, all of a sudden it just stopped seeing the token, despite the fact that the token is set correctly in Authorization: Bearer *token*

[2017-11-28 19:36] samphp90 opened #1400 "How do i can pass authorization header in Swagger UI 3?"
Need help with the authorization header. How I can pass the authorization header in swagger UI 3 like we pass in Swagger UI 2.

[2017-11-29 05:08] zhekaus commented on #1094
@sivakumarraju89 ,
I have updated User Model, however the same problem persists.

[2017-11-29 07:31] zhekaus commented on #1355
@philliperosario , thanks for tutorial. however, what about the signing up?

[2017-11-29 07:48] philliperosario commented on #1355
@zhekaus sorry, I did not implement the sign up

[2017-11-29 07:54] tijanmdr commented on #1395
@artaex Thank you so much

[2017-11-29 07:54] #1395 closed, assigned to nobody

[2017-11-29 08:04] core01 commented on #1355
@zhekaus try this:
[code]

[2017-11-29 08:31] TinsaeFekadu opened #1401 "Hey, i am a beginner in laravel so i need someone to help me"
After installing the 0.5.12 version of jwt-auth in my Laravel 5.3 project.
I'm getting the following error Interface 'Tymon\JWTAuth\Contracts\JWTSubject' not found

[2017-11-29 11:08] zhekaus commented on #1355
@core01 , many thanks indeed!
However, I've got this:
[code]
at the line `$token = JWTAuth::attempt($request->only('email', 'password'));`

However, I did implemented it as described above.

[2017-11-29 11:16] core01 commented on #1355
@zhekaus please check if you are using the right facade inside AuthController it should be `use Tymon\JWTAuth\Facades\JWTAuth;`

[2017-11-29 11:20] zhekaus commented on #1355
yes, I am

[2017-11-29 12:43] Frondor commented on #1355
Your `User` model must implement `Tymon\JWTAuth\Contracts\JWTSubject` interface

[2017-11-29 19:53] mistre83 commented on #614
From today, i'm having the same problem. Just one user receive a wrong user id. I tried to make login again and again and every time the user_id is wrong.

The "funny" part is that this happen with just one user!

[2017-11-29 22:02] gregorskii commented on #1379
Make sure if you move your User model into say App\Models\User that you update the config/auth model:

[code]

I made this mistake... few hours of debugging. :)

[2017-11-29 22:04] gregorskii commented on #1367
The answer by @tushark12345 is correct. If you don't change the guard types in auth.php it uses the regular auth flow, which returns a simple `true` in `attempt` to indicate the authenticated content can be run on the next line (view return, redirect, etc).

[2017-11-30 05:46] zhekaus commented on #1355
@Frondor ,
As I said before, I did it. There is no problem with a fresh Laravel project. I just can't make it work with the real one.

[2017-11-30 09:52] Katuva commented on #1386
I did the following:

Add a Firebase provider:

[code]

Then in the jwt config under providers, added:

[code]

[2017-11-30 15:34] zhekaus opened #1403 "Declaration of Tymon\JWTAuth\JWTGuard::setUser(Illuminate\Auth\AuthenticatableContract $user) must be compatible"
When I hit the secured route, I get an exception:
[code]

[2017-11-30 15:57] zhekaus commented on #1403
Something interfered in GuardHelpers.php ...
fixed.

[2017-11-30 15:57] #1403 closed, assigned to nobody

[2017-11-30 20:07] zhekaus commented on #1355
Finally I’ve solved my problem. Tracing led to wrong config. I had user provider driver set to 'database' before I cached configuration following the tutorial.

I changed it to 'eloquent' according to the docs, but hadn’t run `php artisan config:clear` since that.
Caching step is definitely superfluous for this tutorial. :-)

Also you don’t need aliases for JWT’s facades.

[2017-11-30 22:10] chilio opened #1404 "Auth methods not working with sentinel on laravel 5.5"
Unfortunately I'm getting error:
Type error: Argument 1 passed to Illuminate\\Auth\\EloquentUserProvider::validateCredentials() must be an instance of Illuminate\\Contracts\\Auth\\Authenticatable, instance of App\\User given, called in /vagrant/Code/vendor/laravel/framework/src/Illuminate/Auth/SessionGuard.php on line 379

I've tried some solutions from the web, like for example changing:

But unf

[2017-12-01 10:32] llioor commented on #792
@fercho9212 did you find any solution for this security issue?

[2017-12-01 10:52] llioor commented on #825
@mtpultz I read all your posts and comments, I think you have the most experience with this package... could you tell us how to solve this security issue when "client" can access "admin" routes?

@chuajose Did you find any solution?

[2017-12-01 13:11] u1r1val opened #1405 "Get token in middleware"
Hey tymon,

When I use GetUserFromToken.php middleware, all goes fine.
When I create a custom middleware, and trying to use JWTAuth facade to get the token inside the Middleware::handle() function, it retrieves an empty token.

Do you have any idea why?

[2017-12-01 16:41] williansmartins commented on #968
I have a similar issue, but the strange is when I run the server with "php artisan serve" it is ok, I can signin and logout, but when I put my code inside a Apache I can login but I get FALSE when I try logout

dd($JWTAuth->getToken()); //false

Anyone have a idea?

[2017-12-01 21:02] mtpultz commented on #825
@chuajose @llioor

This seems like more of a StackOverflow question since this issue isn't related to JWT Auth, but a lack of understanding on how Laravel Guards work.  In your controller you're using `Auth::guard()->user();`, but that just uses the default guard equivalent to `Auth::guard(null)->user();` which uses the `defaults['guard']` in `auth.php`.  You'll want to do something like `Auth::gu

[2017-12-02 15:17] llioor commented on #825
@mtpultz Martin, I knew I can trust you!!!
Thank you very much for the answer! you are amazing!
Lior.

[2017-12-02 15:29] renanpro03 commented on #240
@rohan-deshpande same problem here, but $user = Auth::user(); is safe to use? it will retrive the correct autenticated user ?

[2017-12-02 17:30] llioor commented on #860
@tradzero This is the solution #825 , thanks for @mtpultz for the answer

[2017-12-02 20:33] llioor commented on #1404
Make sure you are implementing "Illuminate\Contracts\Auth\Authenticatable" and using "Illuminate\Auth\Authenticatable"
#1264

[code]

[2017-12-03 05:42] rohan-deshpande commented on #240
@renanpro03 Yes it should since you've just made an auth attempt with their credentials.

[2017-12-03 15:35] #1094 closed

[2017-12-03 16:27] llioor opened #1406 "$request->user() return null on middleware"
I'm getting null on $request->user(); in my middleware

[code]

My user model is Sentinel:

[code]

The config is correct, I can login etc..
Why null? probably $this->getUserResolver() is not working...

[2017-12-04 04:19] chilio commented on #1404
Thanks for the hint @llioor, it is working now in my test env with sentinel, dingo, jwt and laravel 5.5.
So you were absolutely right, about this...
Now I need to figure out, why do I get 500 with "Method factory does not exist." while invoking "Auth::guard()->factory()->getTTL()" , but that's definitely another topic....

[2017-12-04 09:58] llioor commented on #1404
@chilio with pleasure... we have to help each other ;)
About ur new issue, try to search online... try to use `composer dump-autoload` and try again.

[2017-12-04 14:47] jerguslejko commented on #1405
Are you registering that middleware after or before the JWT middleware? I would assume that order matters in this case.

[2017-12-04 14:50] jerguslejko commented on #1401
Hey @TinsaeFekadu. The version that you are using (`v0.5.12`) does not have the `Tymon\JWTAuth\Contracts\JWTSubject` interface. This interface was introduced in `v1.0.0`.

I hope that helps.

[2017-12-04 14:52] jerguslejko commented on #1400
hello @samphp90. You might want to follow this issue https://github.com/swagger-api/swagger-ui/issues/2915

[2017-12-04 15:00] jerguslejko commented on #1398
hello @aldyson. can you please specify the exact version of `jwt-auth` you have installed?

[2017-12-04 15:32] jerguslejko commented on #1200
hello @TheAkashRajput. have you managed to solve this?

[2017-12-04 16:36] williansmartins commented on #968
I discover the diference, I was send token like "Authorization Bearer {{token}}" this is not ok. When I send the token in URL= ".../api/v1/logout?token={{token}}" it works!. The strange is why is not possible send the token like anothers assignature? ("Authorization Bearer {{token}}")

[2017-12-04 16:49] williansmartins commented on #968
I understood What happens, was about routes and midlewares configuration

[2017-12-04 20:31] ftrotter opened #1409 "Wiki is wrong for custom claims"
The "attempt" function does not accept a second argument, as the wiki indicates.

Instead we needed to call the "customClaims" function, before the attempt.

The code works fine but the documentation is wrong.

Thanks for the excellent project.

Regards,
-FT

[2017-12-05 01:51] chilio commented on #1404
@llioor thanks for the hint.
Actually I did that before and googled and unfortunately have not found a solution yet.
Maybe you will see something in my LoginController, where I get errors from...
[code]
Btw I get $token=TRUE instead of real value via dd in this code. And the code errors in response() where factory method is invoked...

[2017-12-05 03:16] ashutoshSce commented on #1137
Plz have a look.

empty claims before creating payload if resetClaims flag is true.

[2017-12-05 13:59] zhekaus opened #1410 "What exactly and where is stored on server side to be able to blacklist token?..."
... And how tokens can still be valid if the server is restarted?

[2017-12-05 17:58] pbvarsok commented on #1355
I have a question.
I have several public pages. Those pages are in (laravel) a different group and I don't use the refresh middleware. That means that if the user doesn't call the routes that does have the refresh middleware, the used token will be the same... The token will change only if the user request for those "middlewared" routes... so.. if the token is expired, will be refreshed. If the us

[2017-12-05 20:00] pbvarsok commented on #1404
Same issue here. After upgrading to Laravel 5.5 and jwt 1.0.0-rc1
:(
I get an error... factory doesn't exist.
If I change Auth::guard()->factory()->getTTL() to a number (random), all works.
WEIRD. Any idea?

[2017-12-06 02:23] chilio commented on #1404
@pbvarsok  please note that token is not right also, $token = TRUE (absolutely wrong, and causes security flaws).
So this is definitely no go for production....

[2017-12-06 02:43] pbvarsok commented on #1404
I know.. Im just saying that I have a problem with that... the factory() method... I will not go in production with that.

[2017-12-06 11:31] aldyson commented on #1398
@jerguslejko this is the version shown in my composer.json file:

`"tymon/jwt-auth": "0.5.*",`

[2017-12-07 14:56] cboisen commented on #1410
See the configuration section about [Storage](https://github.com/tymondesigns/jwt-auth/wiki/Configuration#storage---providersstorage). It depends on the storage provider you use. This might be files on disk.

[2017-12-07 15:02] #1410 closed, assigned to nobody

[2017-12-08 00:56] chilio commented on #1404
I have finally solved this problem, with tips from @llioor.
Use `use Illuminate\Support\Facades\Auth;` in your controllers to get more info in your ide.
Unless you change your defaults in config/auth.php, which in my case needed to be `web`, you'll need to select the proper guard ('api') in all of your api controllers, in order for this to work.
You can achieve this by `Auth::guard('api')->...`
Ot

[2017-12-08 17:19] raniesantos commented on #1362
@ulisescarreonalvarez @akkhan20
What if I want to set the 'exp' claim conditionally based on the value of `request('remember')` (boolean) ?

In the 0.5.* version I was easily able to do this since the custom claims can be set in the same controller.

But if the custom claims are in the User model in the latest version then how would I achieve this?

[2017-12-10 18:11] #1404 closed, assigned to nobody

[2017-12-10 18:13] chilio opened #1413 "token reissue on each login"
Let's consider this scenario...
The same user logins via api from 2 different devices.
On each subsequent login other device gets unauthenticated...
Wouldn't be better, if these 2 devices, could use 2 different tokens?
Then each device could also logout separately, without unauthorizing other device.
I'm not sure if I'm not missing something?
Any thoughts in this area?

[2017-12-11 12:30] usamamuneerchaudhary commented on #1246
Another trick on what could be done is instead of passing Auth through the headers. Directly pass the token in your URI. I'm not sure if its the right approach but this works for me.
For eg, in my FooTest.php

`$token = \JWTAuth::fromUser( $user );
$this->call("POST","api/endpoint/?token=".$token);`

[2017-12-11 15:20] simplenotezy opened #1414 "Decode JWT Token"
How to decode a JWT token in it's raw format?

Say I'd like to run:

   JWTAuth::invalidate('some_token');

Outputs an error: `A token is required`

[2017-12-12 02:09] SamHz opened #1415 "I tried other fields to login to JWTAuth. It's amazing"
i am using jwt (version:0.5.12) in my project.
I tried other fields to login to JWTAuth. It's amazing...
my code:
[code]
i think it's error, but look at this:
![image](https://user-images.githubusercontent.com/13477017/33863697-032a6f4e-df24-11e7-8417-b3a95c8cca72.png)
it's login success!!!
and use token to get user info
![image](https://user-images.githubusercontent.com/13477017/33863738-3ac3685c

[2017-12-12 11:39] pralhadstha commented on #1399
The issue is due to the addition of this decrypt method in the library.

https://github.com/tymondesigns/jwt-auth/pull/1363

I am not sure how to remove the decrypt method as the

[code]

neither works with the `false` configuration.

@tymondesigns  How could we solve this issue? Could i get your eye on this issue??

[2017-12-12 11:50] davemin commented on #1399
@tymondesigns up :)! have you an idea on this issue?

[2017-12-12 21:11] santiagazo commented on #915
@ElliottJRo Man thanks so much! removing the brackets in postman worked for me!

[2017-12-13 05:31] virgiliopedrosa commented on #1169
thank you... <3

[2017-12-14 03:16] ElijahGM commented on #1360
DId anyone solve this issue?

[2017-12-14 13:18] jass-trix commented on #1355
I'm following this setup for the middleware yet i always get blacklisted token....
i don't know why. I have already return the response back with the new token and give an interceptor if there is any new token.

It is always caught in exception when arrived at this line
`$this->auth->refresh();`
Blacklisted Token.

[2017-12-14 13:20] jass-trix commented on #1316
@mbezhanov  so the workflow to do the refresh is when it is caught as unauthorized (401) by the interceptor then we're just gonna do a refresh with the token? then re-set the default authorization header for the next request

[2017-12-14 13:28] TinsaeFekadu commented on #1401
Wow thanks bro it works now!
be blessed!!!

[2017-12-14 16:17] ghost commented on #1404
I'm also getting the 'Method factory does not exist.' exception when trying to log in with Postman.

In my project I'm using a custom guard called 'admins'. Might that be the cause of the problem?

[2017-12-14 17:10] jerguslejko commented on #1401
Glad to help! Feel free to close the issue

[2017-12-14 17:54] chilio commented on #1404
Yes definetely.
You should change it in all your api controllers to Auth::guard('api')->logout(); for example

[2017-12-14 19:20] rfberaldo commented on #1355
@philliperosario maybe you can clear my mind on something, I also have a setup very much like yours (with vue).

I need to keep track of my user's active tokens (in case I have to blacklist them), so I have a database table having every user ID and their active tokens, every time the user access a protected route I have to update my database to edit the token? Is there a better way to do it (even

[2017-12-15 01:36] philliperosario commented on #1355
@rafaelpimpa you can create a table on database with "user_id" and "logged_until". When a new token is generated for user you UPDATE_OR_CREATE a registry with user id and the timestamp of expiry date. Users actives = logged_until > now.

[2017-12-15 06:44] ghost commented on #1404
Thanks! That fixed it. :)

[2017-12-15 07:29] jass-trix commented on #1142
@seandelaney finally i could figured out how this is work!
But anyway how did the refresh link work? should we do a request to the refresh link
because i'm a little bit confuse, i don't think that link will be triggered automatically.

[2017-12-15 07:35] seandelaney commented on #1142
@jass-trix

Yes you will need to call the refresh endpoint.

[2017-12-15 07:54] seandelaney commented on #1142
@jass-trix

More info to help you out...

In your code where you check for a token but your authenticated call returns false, we know the token has expired. Let the response continue and let your HTTP interceptor catch the 401 and call the refresh token endpoint. The endpoint will send back a new token, you grab it, save it, set authenticated to true and allow the user continue to the page they we

[2017-12-15 10:21] Arkanius opened #1416 "How to use public key"
Is there a way to set and validate JWT public key ?

I'm using 0.5.* version and the only config that I have is the `secret`in `config/jwt.php`

I'd like to give the public key to other users of app.

I know that it's possible with `JWT` in other packages like:  `xaamin/jwt`

[code]

Is there a way to do this here (any version)?

[2017-12-15 10:40] rfberaldo commented on #1355
@philliperosario makes sense, but you think should be better if I set the token's ttl to a higher number and do not refresh them, or just use like your setup and update database for every request? I do have some sensitive data, not sure if the first option is secure enough.

Thanks for your insight :)

[2017-12-15 14:57] Frondor commented on #1355
The idea behind JWTokens relies on its payload. If you need to query a DB to validate/invalidate a token, then you probably have to reconsider your authentication mechanism.
Short-lived tokens and an in-memory cache'd blacklist should be enough.

[2017-12-15 20:59] axul commented on #1381
I'm having the same issue, I need 2 different tokens, one for normal authentication and another, with different duration, for different purposes, I'm struggling with trying to figure out the source code on my own to add custom claims to make my own custom token.

[2017-12-15 21:02] axul commented on #1362
I'm having the same issue, I need different types of tokens, with custom exp dates

[2017-12-15 21:03] axul commented on #1388
I'm having the same issue, I need different types of tokens, with custom exp dates. Adding hte claims through User model is not a solution

[2017-12-15 22:23] fireynis commented on #1381
To be honest, you are likely better off just rolling with a basic JWT library and creating a class to do what you need.

I actually ended up just switching to Laravel Passport as it did what I needed for the most part, and it is supported quite well.

[2017-12-16 00:29] chrisbbreuer commented on #1414
You need to set the token first since ^1.0.0. If you check the source you would realize that `invalidate()` does not accept a token value. Stick to a stable release I would recommend.

In your case `JWTAuth::setToken('some_token')->invalidate();` would work though!

[2017-12-16 10:08] ghost opened #1417 "config/jwt.php is not being read"
As you can see in this image

I am trying to change the values in the jwt config file (left)

Then I am dumping the value (middle)

But the output is still clearly the default/original value (right)

I've tried deleting `jwt.php` and using the publish command again
I've tried changing other config keys and dumping them.

![screenshot from 2017-12-16 18-04-47](https://user-images.githubusercontent.

[2017-12-16 10:42] ghost commented on #1417
Closing issue.
Fixed with `php artisan config:clear`

[2017-12-16 10:42] #1417 closed, assigned to nobody

[2017-12-16 13:23] williansmartins opened #1418 "Get user logged in controller"
How can I get the user logged in controller?

I tried this code:

but I recieve:

[2017-12-16 14:01] williansmartins commented on #1418
I resolved, I put jwt in constructor of controller and it is ok now

[2017-12-16 14:01] #1418 closed, assigned to nobody

[2017-12-18 10:25] ghost commented on #1267
@tymondesigns I saw in the code that you use the same type of exception to throw token expiration based on `ttl` and expiration where it can no longer be refreshed `refresh_ttl`. Shouldn't they be more specific and throw different types of exceptions?

Relevant code:

#### IssuedAt.php

[code]

#### Expiration.php

[code]

[2017-12-19 04:56] jass-trix commented on #1142
@seandelaney sorry for the late reply! Well that makes more sense. But however everytime i request  a new refreshed token. My Old Token always already blacklisted.
Should i just turn off the blacklist feature?

[2017-12-19 06:21] callect opened #1419 "when i delete the files storage/framework/cache/data/* I always got 401"
a misstake ,  I deleted the files: storage/framework/cache/data/*
then, I can get the token ,but I alway got  401.
How to solve this?

jwt version is 1.0.0 rc-1

[2017-12-19 06:52] callect commented on #1419
It worked. run
`php artisan jwt:secert`

[2017-12-19 06:52] #1419 closed, assigned to nobody

[2017-12-19 07:37] chrisrocco commented on #1246
I was getting a 401 `token_invalid`. Turns out I hadn't set my application key yet, which the library requires to work.

[2017-12-19 10:59] robcaa opened #1420 "Class 'Memcached' not found"
Lumen: 5.5
tymon/jwt-auth: 1.0.0-rc.1

In the env file:
CACHE_DRIVER=file

This line of code:
[code]
sometimes produce this error:
`Class 'Memcached' not found`

Hoever I dont use memcached.

[2017-12-19 15:14] LexBel-co commented on #1142
Let me share my implementation, this intercepts the response, and if there is a new token in the Authorization Header, the interceptor take it and store it in localStorage, in case you need to refresh the token, you can do it in the error.status == 401

`import { Injectable } from '@angular/core';
import { Router } from '@angular/router';
import { HttpInterceptor, HttpHandler, HttpRequest, HttpEve

[2017-12-20 05:08] chillcaw opened #1421 "Failing to decode token using $this->authenticate($request) in JWTAuth Middleware"
What can cause this kind of issue? This have been working for months, but has suddenly started giving this error.

[code]

[2017-12-20 09:29] petersontubini opened #1422 "Soft delete and JWT doesn't work!"
We need to add a filter for that or at least have an option on config.

[2017-12-20 10:21] normanaranez opened #1423 "How to create registration and connect to jwt authentication in laravel 5.5"
I follow all the instruction and its working what i need right now is how to register user and generate a token and login using jwt

[2017-12-20 10:23] jampack commented on #1423
what has registration to do with JWT?

Sent from iPhone

On 20 Dec 2017, 3:21 PM +0500, normanaranez <notifications@github.com>, wrote:

[2017-12-20 15:01] normanaranez opened #1424 "basic laravel auth not working on laravel 5.5"
the basic laravel auth not working anymore after some changes in config.app but the jwt login works fine.

[2017-12-20 22:11] paparyku opened #1425 "jwt:generate broken!"
**php artisan jwt:generate** - is broken!
[code]

[2017-12-21 10:25] Gardezi1 opened #1426 "Trying to generate a access token but getting error JWT payload does not contain the required claims"
Hello guys,

I'm trying to create a access token using your JWT library but the problem is it keeps on throwing me the above error mentioned in the subject.

I was able to create the access token with this online tool : https://jwt.io/

in the payload data we need to give this

{
  "iss": "<api_key>",
  "exp": 1496091964000
}

and in secret I gave the secret

but when I use your library to create

[2017-12-21 10:26] helpceo commented on #1425
me too

[2017-12-21 11:54] helpceo opened #1427 "$customClaims = ['foo' => 'bar', 'baz' => 'bob']; $payload = JWTFactory::make($customClaims);这能用吗?"
laravel5.5 jwt 1.0,* 对任意进行加密这个不能使用.

[2017-12-22 05:29] normanaranez commented on #1423
Done solving. thanks for the response

[2017-12-22 05:30] #1423 closed, assigned to nobody

[2017-12-22 05:34] normanaranez opened #1428 "Basic laravel 5.5 auth not working anymore after the jwt configuration"
How to make basic laravel 5.5 auth work along JWT authentication?

[2017-12-22 11:15] Frewen commented on #1427
有什么其他解决方案吗？

[2017-12-22 11:21] rdarcy1 commented on #1425
This is because the command class adheres to the Laravel 4 command interface, which uses a `fire()` method instead of `handle()`. As a quick and dirty fix you can add the following to `Tymon\JWTAuth\Commands\JWTGenerateCommand`:

[code]

Alternatively, the issue is fixed in the development version so you could pull in that version and use the [new docs](https://jwt-auth.readthedocs.io/en/docs/lara

[2017-12-22 12:20] marcellopato commented on #1094
This works like a breeze!

DAMN! Suddenly it does not work anymore! ERROR!

 "message": "Call to undefined method Illuminate\\Auth\\TokenGuard::once()",

[2017-12-24 03:22] yoosuf opened #1429 "please update to make it available for package auto discovery."
Laravel 5.5 has feature of package auto discovery, please incorporate that feature.

[2017-12-25 08:30] wonder-wu commented on #1102
Very useful.

[2017-12-25 09:33] boorcode opened #1430 "怎么检查token是否过期？"
怎么检查token是否过期？

[2017-12-25 09:35] boorcode opened #1431 "hi,How do I check that token is expired?please."
Hi,please,How do I check that token is expired?

[2017-12-25 10:07] boorcode commented on #1162
I have the same question, can you post the code of solution?

[2017-12-25 10:52] ghost commented on #1429
It's already there, use the `1.0.0-rc.1` version not `0.5.*`

[2017-12-26 10:23] imajinyun commented on #1322
I have the same problem too.

[2017-12-26 16:38] dmoreno commented on #1053
@tymondesigns, could you look into this issue? Any chance to have a leeway support in tymon/jwt-auth?

I think this would be a very relevant feature to get a greater scalability. We could stop using affinity cookies.

[2017-12-26 19:42] taufpate opened #1432 "Guide to use 1.0.0-rc.1 with custom model & laravel 5.5"
Have any one a guide to use 1.0.0-rc.1 with multiple custom model & laravel 5.5?

[2017-12-27 01:04] Seaony commented on #1355
thanks! :)

[2017-12-27 05:21] yuebanliu commented on #1396
passport给你初始化一堆权限表，看着就烦

[2017-12-27 18:34] jampack commented on #1105
@tremby he is referring the new Date/Time on the client side as client can not decode the token and can only know how long the token will live which also has to be disclosed by the server

[2017-12-28 02:02] #1429 closed, assigned to nobody

[2017-12-28 05:31] AhsanShabbir opened #1433 "How to generate token other than User credentials?"
Hello I want the JWT tokens to be completely separate from users table.  I mean want to create another table called Client which simply has Key and Hash field. How can I implement that?

[2017-12-28 07:40] yuebanliu opened #1434 "Can not get user when using mongodb"
**Packages**
[code]
**configurations**
*auth.php*, using mongodb
[code]

*app.php*

[code]

*config/api.php*

[code]

And in *routes/api.php*,enable *api.auth*
[code]

*App\Models\User.php*
[code]

Now,It can generate token , but when I get user data with token, something wrong.

**postman returned**
[code]

It seems like that *byId()* method can't deal with mogno model.

**JWTAuth.php**

[code]
I

[2017-12-28 11:43] adsa95 commented on #1426
Have you removed the other claims from the required claims in the configuration file?

This is how the config file looks by default (in v1.0.0-rc.1)
[code]

[2017-12-28 19:07] tremby commented on #1105
@akkhan20: I think I must be misunderstanding you. I don't know why you're saying the client cannot decode the token. The client can absolutely decode the token. I pointed out how a couple of messages back.

[2017-12-28 19:31] josemiguelq commented on #1355
I has some troubles to implement to, but I solved them.
1 - Exactly the same @philliperosario
2 - I create a App\Http\Middleware\BaseJWTMiddleware.php with

`<?php

/*
 * This file is part of jwt-auth.
 *
 * (c) Sean Tymon <tymon148@gmail.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

namespace TradeAppOne

[2017-12-28 23:47] lorenzowoodridge commented on #1189
Ran into this issue again (probably our 5th or so time) with another developer on my team and I figured this would have been fixed by now

[2017-12-29 10:49] Suroor-Ahmmad opened #1435 "JWT-Auth always responds token not provided for Angular4 http post."
*I searched and tried many solutions but none worked for me, so this post. If this issue is solved please redirect me!*
**Methods tried:** Adding .htaccess in the public folder.
**Working approach:** Sending token along with url works perfectly.
I have been working on Angular 4 and Laravel 5 application.  I'm successful in authenticating the user and the JWT-Auth responds with the token, but the p

[2017-12-29 11:41] Suroor-Ahmmad commented on #1435
This is how my HTTP Request header looks like:
[code]

[2017-12-30 04:26] tom2drum opened #1436 "Method [viaRemember] does not exist."
I'm trying to get current user using Auth::guard()->user() method and providing token via header, but i'm getting error: "BadMethodCallException  Method [viaRemember] does not exist." Does anybody have any ideas why?

[2017-12-31 18:34] AlaaSwedan commented on #536
hi I had the same error what i can do

[2018-01-01 04:27] askkaz commented on #1053
+1

[2018-01-01 11:45] usmanhafeez147 commented on #784
@tdhsmith I used your method to generate token, but its giving an error for me "should not be called statically"

[2018-01-02 07:19] chbro commented on #69
but i reinstalled it in vain.
then i replaced  "use JWTAuth" with "use Tymon\JWTAuth\Facades\JWTAuth", only to get
[code]
my test code is as follow:
[code]
and this is the only changed config line in jwt.php:
[code]

[2018-01-02 07:49] chbro commented on #69
it turned out to be my config/auth.php.
[code]
......

[2018-01-02 15:13] pschaub commented on #1429
Please update the documentation to explain that it's already possible through `package auto discovery` instead of manual loading of the provider.

[2018-01-03 09:19] yuebanliu opened #1438 "what's the "driver" when using "jenssegers/mongodb ^3.3""
The default value of driver in **config/auth.php**
[code]
 I used mongodb as my application's db ,used "jenssegers/mongodb  ^3.3"  and the User model extended *Jenssegers\Mongodb\Eloquent\Model*.

Should I change the value of driver to anything else?

Besides , when I used the jwt token to get other routes, the validatation failed.

[code]
when it came there, I got the $id's value like string *5a2

[2018-01-03 12:09] Quadriphobs1 opened #1439 "Using token for sub domain authentication"
I currently have an issue with an app which uses this package for auth `composer create-project --prefer-dist cretueusebiu/laravel-vue-spa`

So in my vue app i am going to be using sub domain for the app which i have successfully set up using laravel mix and laravel sub domain routing to achieve that in one project file, but now when i loggin on the any one of the domain, the login attempt is supp

[2018-01-03 15:20] pierrocknroll commented on #1386
Please see https://github.com/pierrocknroll/jwt-auth-firebase

[2018-01-04 07:50] GuihaiHU opened #1441 "Cannot get payload after login"
After  login, I can get token normally.
However, I need to get payload to calculate something like this
[code]
And it cannot get payload and complains
[code]
So I have to add the token to request like this
[code]
Is this a bug or a feature? In my understanding, after logining, I can get every jwt info as I wish without set token to request manually

[2018-01-04 11:11] luukhoeben opened #1442 "Refresh not working when token is expired but still within the refresh ttl"
Hey 🙂

I have set up a installation of laravel 5.5 with `tymon/jwt-auth:1.0.0-rc1` and everything works great, except for 1 thing it seems (or maybe I don't understand it quite right).. I have had everything at the default settings and just followed the 1.0 wiki.

I create a token, then wait around 2 hours (to make sure the token is expired) and then when I try to refresh the token it responds wit

[2018-01-05 12:12] zolo2hin commented on #601
@tymondesigns  as I can see this is not working correctly.

[2018-01-07 15:48] muhx opened #1443 "Malformed token on Laravel 5.5 using Binary UUID as Primary key ID for User"
Been trying to use JWT through this package for my Laravel apps, and get error like this:

[code]
This is my composer.json:
[code]
This is my user migration and database structure:

[code]

<img width="1214" alt="screen shot 2018-01-07 at 22 36 45" src="https://user-images.githubusercontent.com/10384675/34650918-8ab89698-f3fb-11e7-9963-d46d3fa1d064.png">

This is my router:
[code]
This is my **Aut

[2018-01-08 07:30] babakzarrinbal opened #1444 "wrong installation instruction on http://jwt-auth.readthedocs.io/en/docs/laravel-installation/"
on http://jwt-auth.readthedocs.io/en/docs/laravel-installation/
what the fu*** ???
i nearly gone mad over this ...
wrong typo in "add service provider" section
    Tymon\JWTAuth\Providers\**LaravelServiceProvider**::class,

 LaravelServiceProvider should be JWTAuthServiceProvider
please fix it.

[2018-01-08 09:03] tymondesigns commented on #1444
No it shouldn't. You are reading the docs for the wrong version. Look at the readme https://github.com/tymondesigns/jwt-auth

[2018-01-08 09:03] #1444 closed, assigned to nobody

[2018-01-08 12:55] hhsadiq commented on #1079
@amirpiri did you find any solution?

[2018-01-08 19:27] 1e4 commented on #1425
Since we are doing dirty hacks you can also just change the method `fire()` to `handle()` within `\vendor\tymon\jwt-auth\src\Commands\JWTGenerateCommand.php`

[2018-01-09 13:07] luukhoeben commented on #1442
I have made some progress, although I don't really know if it is the proper way to do it..

In the docs for `1.0.0-rc1`:
[code]
So the refresh route is protected, but ofcourse it doesn't get through the auth middleware when the token is expired, so I added the refresh route like this:
[code]

I don't know if this has negative side effects or maybe they have forgotten to add it in the docs?

[2018-01-09 18:29] vaggelis2018 commented on #1435
@Suroor-Ahmmad did you found any solution? I have the same error with vuejs

[2018-01-10 08:15] marczahn opened #1445 "Remove field from token"
Hi,

I login with a token and want to create a new one. Unfortunately it is appearently not possible to remove or even overwrite it.

JWTFactory::make adds the existing ones (JWTFactory::$claims) in any case and as soon as you have the payload it is declared immutable.

Is there a way around it without creating a custom factory?

[2018-01-10 14:34] alanmtk opened #1446 "jwt.refresh not returning a new token when a FormRequest validation fails"
I'am using:
Laravel (5.3.30)
Dingo (1.0.0-beta8)
JWT-Auth (^0.5.12)

I have an endpoint to create a new Post. This endpoints has two possible ways.

The first one, you send all the required params by the backend to create the Post so it's created and a 200 response is returned with the created Post **and the new token is returned**.

The second possible way, you DO NOT send all the required params

[2018-01-10 17:32] lbottoni opened #1447 "Gate error un AuthServiceProvider"
Hi, i use fine the jwt auth, but when i try use a Gate::define in AuthServiceProvider i have this error:

I have create a User Model separated

### this is my user Model
`namespace App\Models;

use Illuminate\Notifications\Notifiable;
use Illuminate\Foundation\Auth\User as Authenticatable;
use App\Models\Project;

class User extends Authenticatable
{
	use Notifiable;

	/**
	 * Questi attributi pos

[2018-01-10 17:42] lbottoni commented on #1447
resolved without Model definition in define callback
`Gate::define("manage-project",function( $user, $project){`

[2018-01-11 09:25] lbottoni opened #1448 "Interface 'Tymon\JWTAuth\Contracts\JWTSubject' not found"
Hi,
i have tried use the guide
[quick-start.md](https://github.com/tymondesigns/jwt-auth/blob/develop/docs/quick-start.md)

**version in composer**: "tymon/jwt-auth": "0.5.*"

### User Model
`<?php

namespace App\Models;

use Tymon\JWTAuth\Contracts\JWTSubject;
use Illuminate\Notifications\Notifiable;
use Illuminate\Foundation\Auth\User as Authenticatable;
use App\Models\Project;

class User  exte

[2018-01-11 09:42] lbottoni opened #1449 "Logout??!?!?!?!?!?!?!"
After 2 DAYS i can not understand how to do a logout method!!!

[code]

or get always a user autenticated or get a exception in all test!?but, the documentation don't say nothig about logout method!!!!

[2018-01-11 09:46] lbottoni commented on #1449
$token=JWTAuth::getToken();JWTAuth::invalidate($token);

[2018-01-11 11:56] julianpoma commented on #1449
This is working for me

`public function logout(Request $request) {
        $token = JWTAuth::getToken();
        JWTAuth::invalidate($token);
        return response()->json(['message' => 'The token has been blacklisted'], 200);
    }`

[2018-01-11 11:59] julianpoma commented on #1435
Same problem here.

[2018-01-11 12:41] ozdemir08 commented on #1431
There is no direct method to do that. You should first try to make an authentication and if token is expired, then you can catch it by `TokenExpiredException`.
Note that if `refresh_ttl` ends, it will also caught by `TokenExpiredException`

[code]

[2018-01-11 13:51] ozdemir08 commented on #970
@jubairsaidi like you said, I set
`blacklist_enabled` `true`
 and added
`'blacklist_grace_period' => 120,`
next to it. But in my case, it did not work.  Do you have an idea why it might happen?

[2018-01-12 06:32] IrawanNugroho opened #1450 "JWT-Auth using illuminate/auth v5.4.36."
Hi!
I want to use this JWT-Auth for my project on lumen 5.4. I had installed illuminate/auth v5.4.36. I got problems during installation like these:

/composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Installation request fo

[2018-01-12 11:21] muralivenkatesh commented on #1166
I have the same problem

[2018-01-12 13:00] leandroruel commented on #205
nothing is working to me... it's a fresh install and i followed all steps of the wiki... i will remove and install again from developer branch.

[2018-01-12 18:35] andrey-bahrachev commented on #1444
@tymondesigns Well, the thing is if you install the package by `composer require tymon/jwt-auth` command it installs 0.5.* version which is the latest stable, not just the latest one as the doc says, so that's misleading.

[2018-01-13 23:41] #158 closed

[2018-01-13 23:42] #178 closed

[2018-01-13 23:42] #186 closed

[2018-01-13 23:43] #342 closed

[2018-01-13 23:43] #358 closed

[2018-01-13 23:44] #359 closed

[2018-01-13 23:44] #376 closed

[2018-01-13 23:44] #461 closed

[2018-01-13 23:45] #393 closed

[2018-01-13 23:46] #451 closed

[2018-01-13 23:46] #378 closed

[2018-01-13 23:47] #496 closed

[2018-01-13 23:47] #501 closed

[2018-01-13 23:49] #513 closed

[2018-01-13 23:49] #519 closed

[2018-01-13 23:49] #535 closed

[2018-01-13 23:50] #539 closed

[2018-01-13 23:50] #543 closed

[2018-01-13 23:50] #549 closed

[2018-01-13 23:50] #548 closed

[2018-01-13 23:50] #583 closed

[2018-01-13 23:51] #611 closed

[2018-01-13 23:51] #612 closed

[2018-01-13 23:51] #629 closed

[2018-01-13 23:52] #603 closed

[2018-01-13 23:52] #550 closed

[2018-01-13 23:53] #640 closed

[2018-01-13 23:53] #644 closed

[2018-01-13 23:54] #647 closed

[2018-01-13 23:54] #648 closed

[2018-01-13 23:54] #649 closed

[2018-01-13 23:56] #604 closed

[2018-01-13 23:56] #659 closed

[2018-01-13 23:57] #560 closed

[2018-01-13 23:58] #735 closed

[2018-01-13 23:59] #706 closed

[2018-01-13 23:59] #698 closed

[2018-01-14 00:02] #713 closed

[2018-01-14 00:02] #710 closed

[2018-01-14 00:44] cage-is commented on #1169
I realize that I am late to this party but I just wanted to say that you can accomplish the same thing by specifying the provider but the reason it didn't work for you is because the provider name changed.

`php artisan vendor:publish --provider="Tymon\JWTAuth\Providers\LaravelServiceProvider"`

[2018-01-15 12:32] tymondesigns commented on #1053
@dmoreno I have added this functionality in - there is a new config option (so you will need to re-publish or copy it over). `JWT_LEEWAY`

https://github.com/tymondesigns/jwt-auth/blob/develop/config/config.php#L210

No release published yet though, just on `develop` atm

[2018-01-15 12:32] #1053 closed

[2018-01-15 13:41] leandroruel commented on #1094
came here because of this error... what now?

edit: my bad, i forgot the: "implements JWTSubject" at User Model

`class User extends Authenticatable implements JWTSubject`

[2018-01-15 15:43] Suroor-Ahmmad commented on #1435
Yeah I resolved this issue. I was working in local Apache server, and as mentioned many sites and even in documentation the Apache server was blocking some header options with no encoding. Adding some piece of code (As mentioned in the documentation) to my Apache Config file solved my issue.

[2018-01-15 19:31] #480 closed

[2018-01-15 19:32] #341 closed

[2018-01-15 19:39] tymondesigns commented on #702
Since `namshi/jose` has been abandoned, I have now added a Lcobucci driver which uses https://github.com/lcobucci/jwt

It's currently on develop, but will be tagged soonish

[2018-01-15 19:39] #702 closed

[2018-01-15 20:32] #561 closed

[2018-01-15 20:32] #563 closed

[2018-01-15 20:32] #677 closed

[2018-01-15 20:33] #579 closed

[2018-01-15 20:33] #595 closed

[2018-01-15 20:34] #608 closed

[2018-01-15 20:34] #600 closed

[2018-01-15 20:35] tymondesigns commented on #687
@bdebever how doesn't it work?

[2018-01-15 20:35] #678 closed

[2018-01-15 20:36] #683 closed

[2018-01-15 20:36] #686 closed

[2018-01-15 20:36] #690 closed

[2018-01-15 20:37] #783 closed

[2018-01-15 20:37] #780 closed

[2018-01-15 20:37] #777 closed

[2018-01-15 20:38] #779 closed

[2018-01-15 20:39] #776 closed

[2018-01-15 20:39] #774 closed

[2018-01-15 20:52] tymondesigns commented on #751
Sorry for the immensely late reply.. but though i'd let you know this functionality has been added

[2018-01-15 20:52] #751 closed

[2018-01-15 20:54] tymondesigns commented on #1443
couldn't you use `$user->uuid_text` for the sub claim instead?
https://github.com/spatie/laravel-binary-uuid#getting-a-human-readable-uuid

[2018-01-15 20:56] tymondesigns commented on #1448
looks like you are looking at the docs for version `1.0.0` instead of `0.5.*`.. You will either need to update to `1.0.0` or see the wiki for `0.5` docs

[2018-01-15 20:56] #1448 closed, assigned to nobody

[2018-01-15 22:05] tymondesigns commented on #661
Sorry no plans to add this behaviour

[2018-01-15 22:05] #661 closed

[2018-01-15 22:05] #666 closed

[2018-01-15 22:05] #668 closed

[2018-01-15 22:06] mehrdad-shokri commented on #661
@tymondesigns but if I'm not misunderstood, this functionality is implemented already!

[2018-01-15 22:06] #804 closed

[2018-01-15 22:08] tymondesigns commented on #808
This should be working as expected now

[2018-01-15 22:08] #808 closed

[2018-01-15 22:08] #813 closed

[2018-01-15 22:09] #814 closed

[2018-01-15 22:09] #784 closed

[2018-01-15 22:12] psychonetic commented on #814
@tymondesigns Why did you close this issue? Is it solved in Version 1.0? Any comment about this would be great and I don't know if you version 1.0 was entirely rebuilded, but how this issue was caused?

[2018-01-15 22:15] #944 closed

[2018-01-15 22:15] #941 closed

[2018-01-15 22:15] #898 closed

[2018-01-15 22:17] tymondesigns commented on #1420
This package does not use memcached directly, so it must be something with your setup

[2018-01-15 22:19] tymondesigns commented on #1424
much more info is needed, versions of laravel, this package, what exact errors etc

[2018-01-15 22:19] tymondesigns commented on #1430
I have no idea what this means

[2018-01-15 22:19] #1430 closed, assigned to nobody

[2018-01-15 22:19] tymondesigns commented on #1427
I have no idea what this means

[2018-01-15 22:19] #1427 closed, assigned to nobody

[2018-01-15 22:21] tymondesigns commented on #1434
looks like you're using laravels token guard instead of the jwt guard. post your `config/auth.php` file

[2018-01-15 22:25] tymondesigns commented on #1396
some people need/want the power of a full oauth2 system, and others can't be bothered to write all that code required and prefer the jwt approach

[2018-01-15 22:25] #1396 closed, assigned to nobody

[2018-01-15 22:29] #1401 closed, assigned to nobody

[2018-01-15 22:29] tymondesigns commented on #1401
Thanks @jerguslejko

[2018-01-15 22:29] #1400 closed, assigned to nobody

[2018-01-15 22:32] tymondesigns commented on #1386
@Katuva @pierrocknroll nice! I will be sure to link this somewhere.

I have now added a Lcobucci provider to replace `namshi/jose` https://github.com/tymondesigns/jwt-auth/blob/develop/src/Providers/JWT/Lcobucci.php

[2018-01-15 22:32] #1386 closed, assigned to nobody

[2018-01-15 22:35] tymondesigns commented on #1381
You can simply use the `claims()` setter:

[code]

[2018-01-15 22:35] #1381 closed, assigned to nobody

[2018-01-15 22:38] tymondesigns commented on #661
maybe I misunderstood your question then.. I read it as: a delay in when the token _enters_ the blacklist.

If you were referring to the grace period thing, then yea we're all good!

[2018-01-15 22:38] #726 closed

[2018-01-15 22:39] #736 closed

[2018-01-15 22:40] #718 closed

[2018-01-16 00:02] miczed commented on #540
@pankajkachhwaye after a couple of hours I finally found a solution to make JWT auth work with  username or email:

[code]

[2018-01-16 05:06] jackengine commented on #1314
Hi @FrancoisH I did those all most obvious things already, but it couldn't solve.
Thanks.

Hi @spirant you might be right, that Dev Branch may solve this. But we have changed login policy, so we are not going to upgrade this for now.

Thanks

[2018-01-16 05:06] #1314 closed, assigned to nobody

[2018-01-16 05:45] yuebanliu commented on #1434
My config/auth.php
`<?php

return [

    /*
    |--------------------------------------------------------------------------
    | Authentication Defaults
    |--------------------------------------------------------------------------
    |
    | This option controls the default authentication "guard" and password
    | reset options for your application. You may change these defaults
    | as requ

[2018-01-16 05:50] yuebanliu commented on #1434
And the default value of `providers=>users=>driver`  is `eloquent`   , I think it's not right ,but I don't know what should it is.Should I change it to something else?

[2018-01-16 06:03] mehrdad-shokri commented on #661
@nope, I meant grace period. tnx

[2018-01-16 06:45] robcaa commented on #1420
Yes, I realized.
Thank you for your answer.

[2018-01-16 06:45] #1420 closed, assigned to nobody

[2018-01-16 08:11] grantholle commented on #1421
I'm having the same issue. Lots of people say `php artisan jwt:secret` fixes it, but it doesn't.

It's working locally, but I'm trying to deploy and I can't get past the `Token Signature could not be verified`

[2018-01-16 08:18] grantholle commented on #1421
The full stacktrace

[code]

[2018-01-16 09:30] jampack commented on #1105
@tremby jwtDecode(accessToken) will never give you a decoded token with its parameters though u can give it a try and please report if it do coz that will be a massive security issue.

[2018-01-16 09:34] tremby commented on #1105
What are you talking about? JWT payloads are just base64url-encoded, not encrypted. https://jwt.io/introduction/#payload

[2018-01-16 10:51] ghostvar commented on #1355
for Lumen walkthrough ?

[2018-01-16 14:21] matteoerrera opened #1454 "Error in time to live time unit"
In this file:
`jwt-auth/config/config.php
`
at row 93 there is a comment that say
`
    | Specify the length of time (in minutes) that the token will be valid for.
`

But the real time unit used by jwt-auth are the seconds.

So if I write 10 minutes, after 10 seconds the token expire

[2018-01-16 14:36] jampack commented on #1105
@tremby the access token generated by this package is encrypted with a secret key on the server that client would never know about so it cant be decrypted on the client and what's the point of an access token that a client can read, isn't it that anyone can generate one alike if they know what information it consists of?
![image](https://user-images.githubusercontent.com/25948082/34994327-f007b13c

[2018-01-16 17:03] jacmkno commented on #967
I had the same issue, and changing the name worked :) but for me it was also working fine before the change from outside phpunit. Does this mean that the library is loaded twice (with the old name and the new name) for calls outside phpunit? This worries me a little. Can someone help us find out why it was working from outside phpunit with the old name?

BTW. With the new name it works fine form c

[2018-01-16 20:35] tremby commented on #1105
Go and read the specifications, both of JWT and of HMAC. The only thing happening cryptographically is signing the token. The payload is not encrypted. There's nothing wrong with the client reading their own access token; they already know who they are. No, a user cannot modify or create a new valid access token, because they don't have the secret key and so can't *sign* the access token. This is

[2018-01-16 21:27] tymondesigns commented on #1105
@tremby so as it stands at the moment, a refresh token IS an access token, so there are no tangible "refresh tokens".. just that you can _refresh_ a token using an existing token (given it's within the required refresh_ttl)

Having said that, I have been thinking a while that this would be better to have a distinctly separate "refresh_token" that is merely used to retrieve an access token. And I'l

[2018-01-16 21:30] tymondesigns commented on #1231
think you have the wrong package

[2018-01-16 21:30] #1231 closed, assigned to nobody

[2018-01-16 21:31] tymondesigns commented on #1232
need some more info here

[2018-01-16 21:31] #1232 closed, assigned to nobody

[2018-01-16 21:32] tymondesigns commented on #1233
@cedricdhooge sorry for the late reply, do you still need help with this?

[2018-01-16 21:37] tymondesigns commented on #1454
I can't really see how this would happen tbh.. since lots of other people would have raised this issue. Also It clearly adds minutes when creating the exp claim - https://github.com/tymondesigns/jwt-auth/blob/develop/src/Claims/Factory.php#L140

[2018-01-16 21:37] #1454 closed, assigned to nobody

[2018-01-16 21:37] tremby commented on #1105
Sounds good. I suppose it might be possible to hack it in right now, by adding a custom "refreshable" claim to a token, and refusing to refresh it if that claim is not present. But yeah, it'd be great if this were built in.

[2018-01-16 21:38] tymondesigns commented on #1238
as @zRosenthal has said, the only way your users could logged out is if your secret changed or your server's time is waayy out of sync

[2018-01-16 21:38] #1238 closed, assigned to nobody

[2018-01-16 22:02] tymondesigns commented on #1244
no idea i'm afraid, but closing as not to do with this package

[2018-01-16 22:02] #1244 closed, assigned to nobody

[2018-01-17 00:33] grantholle commented on #1421
Ok, I got mine working. It was a combination of cache in my case, but the root of it was rerunning `jwt:secret`... 🤥

I deleted the vendor directory and re-ran `composer install`, but this is probably unnecessary.

[code]

I suspect that my config was cached and after running `jwt:secret`, the new key wasn't getting picked up because the old one was cached.

[2018-01-17 07:49] gausam commented on #1226
@chrishessler @zanjs Isn't it better if this is configured somehow by the package out of the box, considering the package is used in API contexts more often than not. I could be wrong though!

[2018-01-17 07:54] gausam commented on #1226
My bad. I see in the Laravel source it's actually

[code]

Which means you're safe if your consumer has appropriate headers.

Carry on with your wonderful new year :tada:

[2018-01-17 08:42] dmoreno commented on #1053
it sounds great! Thanks for your work @tymondesigns!

[2018-01-17 10:07] jenkins-specialisterren commented on #1102
@mubashirhanif can you elaborate? I seem to have the same issue.

[2018-01-17 11:24] pdrolima opened #1455 "Best way to handle online users using JWT"
Hello!

I'm using your package in a project and I fall in a question. Since we can't use the `sessions` table to save session data without create our own handle (I can be wrong). If I'm not wrong. It's this solution above, okay?

I see the laravel_session cookie in Requests Headers so I just copy the class and change few things `Illuminate\Session\DatabaseSessionHandler.php` and now I can see the

[2018-01-17 12:01] #1455 closed, assigned to nobody

[2018-01-17 14:18] aimensasi commented on #79
Having the same problem

My Code

[code]

I am not importing these in the top of the class.

[2018-01-17 14:46] lbottoni opened #1456 "Handler.php TokenExpiredException is a instanceof Exception"
Hi, i want change the message from JWT and i have rewrited the 2 middleware, but i have a problem in my handle.php

`Handler class{
//....
public function render($request, Exception $e){
dd(($e instanceof TokenExpiredException),($e instanceof Exception),(get_class($e)),$e);
`
- ($e instanceof TokenExpiredException) = false
- ($e instanceof Exception) = true
- (get_class($e)) = "Tymon\JWTAuth\Excep

[2018-01-17 15:27] lbottoni commented on #1456
resolved with inclusion use JWT Excpetion in my middleware

[2018-01-17 19:43] samoilenkoevgeniy commented on #1444
@babakzarrinbal @andrey-bahrachev they are right.

[2018-01-18 08:12] normanaranez commented on #1424
it was fixed now. i just change the default guard to web not api. and declare the guard api to the controller of the jwt

[2018-01-18 10:13] tymondesigns commented on #1416
you need to use `file://path/to/file.pem`

quite shocking to see https://github.com/xaamin/jwt has plagiarised this package by copying and pasting about 90% of the code, and claiming authorship of it

[2018-01-18 10:13] #1416 closed, assigned to nobody

[2018-01-18 21:53] thecodemill commented on #1322
+1

[2018-01-19 06:08] asnike commented on #1322
let's use check() method instead of attempt() method. This is worked well.

[2018-01-19 14:40] simplenotezy commented on #1404
Thanks, changing to 'api' guard fixes it.

[2018-01-19 16:38] #1456 closed, assigned to nobody

[2018-01-19 16:43] tymondesigns commented on #1446
The reason is that Laravel will validate the request early on before it hits any other middleware or your controller method. Which means your previous token is still valid since it hasn't been invalidated yet

[2018-01-19 16:44] tymondesigns commented on #1425
Yes I'm aware of this.. version `0.5.*` doesn't have full support for Laravel 5.5. You would need to use the newer release

[2018-01-19 16:44] #1425 closed, assigned to nobody

[2018-01-19 22:01] #1249 closed, assigned to nobody

[2018-01-20 11:02] simplenotezy commented on #1404
But I would actually like to use 'web' guard. So how is this possible?

[2018-01-20 16:13] chilio commented on #1404
@simplenotezy for api routes you need to use 'api' guard.
You need to define separate routes for web and api, since you cannot use both guards on the same route.

[2018-01-21 00:25] gregorskii commented on #1367
I think it makes sense to update the documentation to leave the default guard as web... it makes more sense to specify it on the routes, and define the Auth::guard('api'); in the JWT controller.

[2018-01-21 02:18] gamelife1314 opened #1457 "You must unsign before making changes"
what does it mean?

[code]

[code]

[2018-01-21 04:26] muhx commented on #1443
Sorry for late reply, I already try it, but still no luck.
[code]

Is there another option to change default sub claim?

[2018-01-21 14:12] bradroberts commented on #1449
You may want the extra security of invalidating the token on the server, but for many (simple) applications, removing the token from the client will effectively logout the user. In my apps, that usually looks something like this in Javascript: `localStorage.removeItem('auth_token');` replacing "auth_token" with whatever variable you're using.

[2018-01-21 15:16] re1naldo opened #1458 "Cannot Invalidate Token"
I use dev-develop branch and after following the [Quick Start guide](http://jwt-auth.readthedocs.io/en/docs/quick-start/), login and access permission work well. The only problem is token cannot be invalidated even after `$this→guard()→logout()` is called. I logged out and tried using the old token, but it’s still valid.

Blacklist-related attributes have been set:
[code]

How to invalidate token?

[2018-01-21 15:24] jeffryjdelarosa commented on #1348
This Worked for me 👍

[2018-01-21 17:17] Illusionist3886 commented on #1094
@leandroruel
after doing that

`Interface 'App\JWTSubject' not found`

[2018-01-21 17:38] anggakes commented on #1457
@tymondesigns
I found that \Lcobucci\JWT\Builder must be unsign() before you encode the token.

this will happen if you check the token (decode) then encode the token

this happen too if you generate refresh token

[2018-01-21 18:23] tymondesigns commented on #1457
Thanks I'll take look

[2018-01-21 19:12] tymondesigns commented on #1457
@gamelife1314 @anggakes This should now be resolved

[2018-01-21 19:12] #1457 closed, assigned to tymondesigns

[2018-01-21 19:13] tymondesigns commented on #1458
@re1naldo Could you pull again, this may have been fixed as part of another issue

[2018-01-21 22:28] #1414 closed, assigned to nobody

[2018-01-21 22:30] tymondesigns commented on #1409
The wiki is for version `0.5.*` only.
Now it is done with a setter e.g. `auth()->claims(['foo' => 'bar'])->attempt();`

[2018-01-21 22:30] #1409 closed, assigned to nobody

[2018-01-21 22:35] #752 closed

[2018-01-21 22:35] #750 closed

[2018-01-21 22:35] #749 closed

[2018-01-21 22:35] #737 closed

[2018-01-21 22:36] #733 closed

[2018-01-21 22:36] #728 closed

[2018-01-21 22:36] #618 closed

[2018-01-21 22:37] #652 closed

[2018-01-21 22:37] #669 closed

[2018-01-21 22:37] #708 closed

[2018-01-21 22:37] #714 closed

[2018-01-21 22:37] #693 closed

[2018-01-21 22:37] #719 closed

[2018-01-21 22:38] #727 closed

[2018-01-21 22:38] #773 closed

[2018-01-21 22:38] #785 closed

[2018-01-21 22:39] #885 closed

[2018-01-21 22:40] #883 closed

[2018-01-21 22:40] #881 closed

[2018-01-21 22:41] #877 closed

[2018-01-21 22:42] #876 closed

[2018-01-21 22:42] #871 closed

[2018-01-21 22:42] #864 closed

[2018-01-21 22:44] #859 closed

[2018-01-21 22:44] #854 closed

[2018-01-21 22:44] #852 closed

[2018-01-21 22:45] #920 closed

[2018-01-21 22:45] #919 closed

[2018-01-21 22:45] #912 closed

[2018-01-21 22:47] #899 closed

[2018-01-21 22:47] #892 closed

[2018-01-21 22:48] #901 closed

[2018-01-21 22:48] #903 closed

[2018-01-21 22:48] #904 closed

[2018-01-21 22:48] #909 closed

[2018-01-21 22:48] #908 closed

[2018-01-21 22:48] #910 closed

[2018-01-21 22:49] #897 closed

[2018-01-21 22:49] #753 closed

[2018-01-21 22:51] #786 closed

[2018-01-21 22:52] #1011 closed

[2018-01-21 22:52] #1008 closed

[2018-01-21 22:53] tymondesigns commented on #1422
I don't know what you mean?

[2018-01-22 01:48] re1naldo commented on #1458
@tymondesigns Thanks for the update, but this issue still exists.

[2018-01-22 06:31] #1250 closed, assigned to nobody

[2018-01-22 08:47] roydekleijn opened #1459 "Questions generate token"
I use version 1.0.0

Normally I create a token like this: Auth::attempt($credentials)
With username and password.

I also have the case that users can login with their social account (google/twitter), in this case I only have the social_id. How can I generate a token based on this social_id? which is also stored in my DB.

Thanks,
Roy

[2018-01-22 08:52] tymondesigns commented on #1458
I've just checked this myself, and it works for me. I suspect that you have `JWT_BLACKLIST_ENABLED` or `JWT_BLACKLIST_GRACE_PERIOD` somewhere in your env file

[2018-01-22 09:33] roydekleijn commented on #1433
anyone?

[2018-01-22 10:48] re1naldo commented on #1458
I didn’t see `JWT_BLACKLIST_ENABLED` or `JWT_BLACKLIST_GRACE_PERIOD` in my .env file. Is there other configuration that is related to this issue?

[2018-01-22 11:05] tymondesigns commented on #1459
You could get the user object from the social id and use `$token = Auth::login($user);`

[2018-01-22 11:05] #1459 closed, assigned to nobody

[2018-01-22 11:29] roydekleijn commented on #1459
thanks, which is better?

Auth::fromUser or Auth::login

[2018-01-22 12:03] tymondesigns commented on #1459
you should use `Auth::login()`

[2018-01-22 16:49] shah-newaz opened #1460 "Class 'Lcobucci\JWT\Builder' not found"
### Subject of the issue
First, I'm sorry for reporting a bug on 1.0.*@dev . Looks like that's the widely used branch for some of the shortcomings on releases.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | yes
| New Feature?      | no
| Framework         | Laravel
| Framework version | 5.5.32
| Package version   | 1.0.0-dev
| PHP version       | 7.1.

[2018-01-22 17:01] shah-newaz commented on #1460
Okay, for anyone facing the same issue, looks like I traced and solved the issue for the time being by changing the jwt provider back to Namshi
Change this on your config/jwt.php (you may need to publish the config by "php artisan vendor:publish" first).
[code]

[2018-01-22 17:25] tymondesigns commented on #1460
That's odd, since [the package is required](https://github.com/tymondesigns/jwt-auth/blob/develop/composer.json#L31)

Did you see anything weird when requiring jwt-auth ?

[2018-01-22 17:27] shah-newaz commented on #1460
Hi Tymon!
Not exactly weird. Just a normal composer suggestion
lcobucci/jwt suggests installing mdanter/ecc (Required to use Elliptic Curves based algorithms.)

[2018-01-22 18:42] gregorskii commented on #1424
I am running into this issue as well, except I am finding that other methods in the JWT controller will use the default guard when logged out, or at least try to redirect to the laravel /login screen.

I found the documentation states:

[code]

Is the correct way to setup the JwtAuthController http://jwt-auth.readthedocs.io/en/docs/quick-start/

Swapping it with:

[code]

fixes it.

Seems like aut

[2018-01-22 19:11] tymondesigns commented on #1224
Please provider more detail

[2018-01-22 19:11] #1224 closed, assigned to nobody

[2018-01-22 19:13] tymondesigns commented on #1200
This would better asked over on the dingo/api repo, since it is their auth logic

[2018-01-22 19:13] #1200 closed, assigned to nobody

[2018-01-22 19:15] tymondesigns commented on #1216
This is most likely due to clock skew on your server(s)

[2018-01-22 19:15] #1216 closed, assigned to nobody

[2018-01-22 19:15] tymondesigns commented on #1140
Not sure what you mean?

[2018-01-22 19:16] tymondesigns commented on #1144
this is now fixed

[2018-01-22 19:16] #1144 closed

[2018-01-22 19:17] tymondesigns commented on #1146
Sorry for the late reply.. There is no way to do this out of the box I'm afraid

[2018-01-22 19:20] #1131 closed

[2018-01-22 19:21] #1109 closed

[2018-01-22 19:22] tymondesigns commented on #1082
closing as the wiki is intended for v0.5.* only

[2018-01-22 19:22] #1082 closed

[2018-01-22 19:22] tymondesigns commented on #1089
This question belongs on dingo/api

[2018-01-22 19:22] #1089 closed

[2018-01-22 19:23] #1078 closed

[2018-01-22 19:27] #788 closed

[2018-01-22 19:27] #789 closed

[2018-01-22 19:28] #791 closed

[2018-01-22 19:29] #793 closed

[2018-01-22 19:36] tymondesigns commented on #795
This should be resolved, since we now include a hashed model claim (`prv`) into the token by default. This ensures that the subject that originally created the token is the only one that can consume it.

Although you shouldn't use the `check()` method (right now). Use `Auth::user()` & `Auth::guest()` instead.

I might tweak the check method to support this actually...

[2018-01-22 19:36] #795 closed

[2018-01-22 19:45] tymondesigns commented on #1424
The middleware is `auth:api` in the docs. github's formatting is much easier to read https://github.com/tymondesigns/jwt-auth/blob/develop/docs/quick-start.md

[2018-01-22 19:45] #1424 closed, assigned to nobody

[2018-01-22 19:54] tymondesigns commented on #874
also now with the new version you can do something like
`$token = auth()->setTTL(120)->login($user)`

[2018-01-22 19:54] #874 closed

[2018-01-22 21:07] gregorskii commented on #1424
I see, but that's what I am saying. `auth:api` does not appear in my middleware list. Also when I update to this the auth methods start to hit the web redirects on auth failure.

[2018-01-22 21:12] tymondesigns commented on #1424
It is the one at the top of array you posted
`'auth' => \Illuminate\Auth\Middleware\Authenticate::class`

the `:api` bit is a middleware parameter to specify the auth guard.

And the reason you are receiving html unauthorized responses is because you need to send the `Accept` header to indicate that it's ajax (json) request.

`Accept: application/json`

[2018-01-22 21:17] gregorskii commented on #1424
Ah... apologies not as familiar with laravel middleware.

I was getting thrown off because of the full arrays:

[code]

It looked like api:auth did not exist, I thought that was the standard web auth mechanism.

I will swap it back and add the accept header.

[2018-01-22 21:49] gregorskii commented on #1424
Yep, this appears to work better, however, I had to leave the default guard to `web` to keep regular Laravel auth working.

[2018-01-23 00:49] andrewmclagan commented on #1426
Also seeing this since 1.0.0-rc1 creating a token with `JWTFactory` prior to RC1 I was able to do this. Now I recieve the above error also. We are doing the following:

[code]

our config shows:

[code]

[2018-01-23 01:01] andrewmclagan commented on #1426
We resolved this issue by changing the method called to build the custom token, previously before RC1 we made our custom token as such:

[code]

When upgrading we received the error that @Gardezi1 was seeing:

[code]
# Solution
the resolution was simply changing the factory calls to build the token as such

[code]
Change `addClaims` to `customClaims`.

# For interest

We create custom "service-acc

[2018-01-23 01:03] andrewmclagan commented on #1364
see https://github.com/tymondesigns/jwt-auth/issues/1426

[2018-01-23 01:04] andrewmclagan commented on #1015
Yes see https://github.com/tymondesigns/jwt-auth/issues/1426

[2018-01-23 05:32] re1naldo commented on #1458
Token can be invalidated after `CACHE_DRIVER` is set to `file`.

[2018-01-23 05:32] #1458 closed, assigned to nobody

[2018-01-23 07:10] medz commented on #1442
I think it should be forgotten to add to the document, because it does correct the `refresh` is correct.

[2018-01-23 07:13] luukhoeben commented on #1442
@medz Are you not supposed to be able to refresh after the token has expired then? Or what do you mean?

[2018-01-23 07:20] PrathimaJReddy opened #1461 "TokenInvalidException exception if the payload has special characters"
### Subject of the issue
TokenInvalidException exception.
hash_equals($known, $input) - fails if the payload contains any special character(like '&').

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              |  yes
| New Feature?      | no
| Framework         | Laravel
| Framework version | 5.2.45
| PHP version       | 5.6.31

### Steps to reproduce
add an ampers

[2018-01-23 07:20] medz commented on #1442
@luukhoeben Your code is success, The docs is wrong.

[2018-01-23 07:23] luukhoeben commented on #1442
@medz Ah okay haha I thought you meant it is correct in the docs, sorry about that 🙂 I don't really know if there is a better way to do this though but this works at least. If someone knows a better way, I'd like to know ^^

[2018-01-23 09:27] #819 closed

[2018-01-23 09:28] #832 closed

[2018-01-23 09:28] #833 closed

[2018-01-23 09:28] #836 closed

[2018-01-23 09:29] #842 closed

[2018-01-23 10:26] tymondesigns commented on #1364
You can do something like:

[code]

[2018-01-23 10:26] #1364 closed, assigned to nobody

[2018-01-23 10:33] tymondesigns commented on #1426
@andrewmclagan I made the `addClaims` method protected as it was causing some issues, so yea you are correct to use `customClaims` (or just `claims()` works too) instead.

This should work too..
[code]

Note that the `JWTAuth` class will be deprecated in the next major release, and everything will go through Laravel's Guard

[2018-01-23 10:33] #1426 closed, assigned to nobody

[2018-01-23 15:24] #1447 closed, assigned to nobody

[2018-01-23 15:24] #1446 closed, assigned to nobody

[2018-01-23 15:26] tymondesigns commented on #1441
This has been fixed on develop

[2018-01-23 15:26] #1441 closed, assigned to nobody

[2018-01-23 15:27] #1435 closed, assigned to nobody

[2018-01-23 15:32] tymondesigns commented on #1431
You can call `JWTAuth::parseToken()->check()` (for v0.5.*) which will return a boolean or `auth()->check()` for v1.0.*

[2018-01-23 15:32] #1431 closed, assigned to nobody

[2018-01-23 20:36] jamesh38 commented on #1436
I'm having the same issue @tom-aglow have you had any luck resolving? @tymondesigns Have you heard of this?

[2018-01-23 21:31] dhixson commented on #766
I had this same issue. It all came down to a false sense of security in the jwt:generate function. This function for me was generating a secret, but not saving it to the env. If you manually copy the secret to the env it works.

[2018-01-24 01:42] seekcx commented on #1449
Perhaps you should look at this document. http://jwt-auth.readthedocs.io/en/develop/auth-guard/

[2018-01-24 03:38] tom2drum commented on #1436
@jamesh38 unfortunately, no :( i'll let you know if i can solve the problem somehow.

[2018-01-24 05:11] hazaveh commented on #1263
i assume your route is protected by token to change the password. if it is why don't you just get the header authorization and use that to pass it to invalidate token function?

[2018-01-24 08:03] anndaramola commented on #1322
@thecodemill @imajinyun @Max618 @arturcesarmelo Make sure you've defined the authentication guards for the app by creating an `auth.php` file in the `config` directory of your app. Here's what mine looks like:

[code]

[2018-01-24 11:51] #1449 closed, assigned to nobody

[2018-01-24 12:41] tymondesigns commented on #1436
The `viaRemember` method only exists on the session guard, not the jwt one. what does your `config/auth.php` look like?

[2018-01-24 17:16] tom2drum commented on #1436
[config/auth.php](https://github.com/tom-aglow/board_buddies/blob/master/config/auth.php) - this is mine. should i use api driver as default then? /feel stupid/

[2018-01-24 17:26] jamesh38 commented on #1436
[Here is mine](https://hastebin.com/eyayudezop.xml). I have multi auth on mine but I'm simply using the eloquent driver on a different Model. My items are globally name spaced btw.

[2018-01-24 17:57] tymondesigns commented on #1436
@tom-aglow Yes you should specify the `api` guard or set it to be the default `Auth::guard('api')->user()`

@jamesh38 should work just fine if you use the `api` guard

[2018-01-24 17:57] #1436 closed, assigned to nobody

[2018-01-24 18:08] jamesh38 commented on #1436
Yah that's where I'm stumped I'm getting this error when going through any route that is protected by the JWT (api) guard.

![error](https://i.gyazo.com/b6a22c4df1916a856cd6f23fc0342bcb.png)

[code]
There are my routes with the token controller having this in the constructor.

[code]

Any ideas?

Thank you by the way for the help.

[2018-01-24 18:21] tymondesigns commented on #1436
Hmm well it looks like the error is being caused by the AuthenticateSession middleware here https://github.com/laravel/framework/blob/5.5/src/Illuminate/Session/Middleware/AuthenticateSession.php#L42

in your `app/Http/Kernel.php` file.. what middleware is being loaded where? specifically `\Illuminate\Session\Middleware\AuthenticateSession::class,`

[2018-01-24 18:23] tom2drum commented on #1436
thanks @tymondesigns. so sorry for stupid question 😊

[2018-01-24 20:49] jamesh38 commented on #1436
[Here is my Http Kernel](https://hastebin.com/guficajaye.tex)

Thanks for the help here. I realize this isn't your code at this point. Ha.

[2018-01-24 22:43] tymondesigns commented on #1436
No worries, have you tried commenting out `\Illuminate\Session\Middleware\AuthenticateSession::class,` ?

[2018-01-24 22:59] tymondesigns commented on #1209
Sometimes proxies strip some headers, so sounds like it may be stripping `Authorization`

[2018-01-24 22:59] #1199 closed, assigned to nobody

[2018-01-24 23:00] #1179 closed

[2018-01-25 00:34] jamesh38 commented on #1436
I have. Same result. Completely out of the application or just out of the
web stack of middleware?
On Wed, Jan 24, 2018 at 5:43 PM Sean Tymon <notifications@github.com> wrote:

[2018-01-25 01:19] genyded commented on #1298
Is anyone going to update the docs to reflect this??

[2018-01-25 03:01] genyded commented on #260
Update the flippin docs

[2018-01-25 17:14] njofce opened #1463 "Token refresh issue"
I am using the following method to refresh JWT token. Testing it from Postman returns "Token has been blacklisted" message. Any suggestion why this is happening.

Thanks

`
        public function refreshToken(){
        $token = JWTAuth::getToken();

        if (! $token) {
            return response()->json('', 404);
        }

        try {
            JWTAuth::invalidate($token);

[2018-01-26 05:09] BAN1ce opened #1464 "JWTAuth::payload can't get token ,happened exception."
### Subject of the issue
use `JWTAuth::payload` happened exception. exception message `A token is required`,in my controller nothing to do before payload.

    file src/JWT.php
    public function getPayload()
    {
        //fixme this is what I append
        $token = $this->parser()->parseToken();

        $this->setToken($token);

        //fixme

        $this->requireToken();

        return

[2018-01-26 17:50] alejoloe007jb commented on #1007
update the App\Exceptions\Handler@render() method to handle UnauthorizedHttpException.

[code]

[2018-01-27 03:50] Insua commented on #874
how work with  1.0.0-rc.1? @sleenen

[2018-01-27 07:58] vjrngn commented on #1246
I modified the `parseAuthHeader` method in `JWTAuth.php` from `$header = $this->request->headers->get($header)` to `$header = request()->headers->get($header);`. This has fixed the problem.

[2018-01-27 20:41] beatwiz commented on #1355
@jass-trix

same here.. ended up disabling the blacklist in .env

JWT_BLACKLIST_ENABLED=false

[2018-01-28 11:20] roydekleijn opened #1465 "login except doesn't seems to work."
I want to use the auth middleware except for one endpoint, but middleware excepts doesn't seem to work.

Versions I use:
laravel/lumen-framework   v5.5.2
ymon/jwt-auth            1.0.0-rc.1

[bootstrap/app.php]
[code]

[config/auth.php]
[code]

[routes/api.php]
[code]

[AuthController.php]
My understanding is that for all endpoints the auth middleware is used, except for login.

[code]

It doesn't

[2018-01-28 13:32] alhaji-aki commented on #1187
Has someone been able to solve this problem?

[2018-01-28 15:53] roydekleijn commented on #1465
well, it only works when moving the 'login' route outside the group...

[2018-01-29 03:08] ghost commented on #1463
I am too facing the problem with refresh token to authenticate my react native app.

[2018-01-29 08:55] jaypotato commented on #184
@jidesakin I have samme problem, did you find the answer?

[2018-01-29 10:20] tymondesigns commented on #1465
looks like it's because you have `'middleware' => 'auth:api'` on your route group

[2018-01-29 10:20] #1465 closed, assigned to nobody

[2018-01-29 12:04] roydekleijn commented on #1465
ok but that is the same as the documentation says, right ?

http://jwt-auth.readthedocs.io/en/develop/quick-start/

[2018-01-29 13:13] stefanheimann commented on #1355
@ralbear
I came across the same problem, the solution to this is to set minimum-stability in composer.json file.

`{
  "minimum-stability": "dev",
  "prefer-stable": true
}`

[2018-01-29 18:29] jamesh38 commented on #1436
Well it looks like commenting that out did the trick. I do have a custom provider I am adding to the app that has to be what is cuasing the issue.

[2018-01-30 02:44] Arkanius commented on #1416
Thaks!

I figured out by using JOSE (included in your package). I didn't see that https://github.com/xaamin/jwt was just an copy/paste (an not a good one)...

That is really an absurd.

[2018-01-30 09:42] yl commented on #1322
+1

[2018-01-30 10:03] Astract9 commented on #896
Having same issue can any one help out

[2018-01-30 15:49] prodigy7 opened #1468 "Small sample for exception handling"
After some hours I get my installation now working with multiple guards and laravel 5.5.
Finally https://github.com/tymondesigns/jwt-auth/blob/develop/docs/laravel-installation.md helped me implement it on a way, its working. Now I want implement custom exception handling but the documentation (https://github.com/tymondesigns/jwt-auth/blob/develop/docs/exception-handling.md) is currently empty.
Is

[2018-01-30 19:07] stevebauman commented on #1422
@petersontubini, you really need to provide a ton more information if you're actually looking for a resolution.

[2018-01-30 19:51] gcjbr commented on #1355
I wish I could slowly kiss you on the lips!

Thanks for this great contribution, sir!

[2018-01-30 23:17] Akumzy commented on #1355
Am really frustrated right now if anyone can help
`Route::any('{all}', function () {
    return view('index');
})
->where(['all' => '.*']);`
I've this route in route/web.php
which except all path and return the home page
but all my
site.com/api/* requests are still going the web instead of api am I missing anything here
I have changed my default guard to api still they're still going to web

[2018-01-31 13:37] gcjbr commented on #1355
@Akumzy , your api calls should go to the routes defined on api.php by default. You shouldn't have to mess with web.php routes at all.

[2018-01-31 15:06] Akumzy commented on #1355
Am handling my routing with vue-router

[2018-02-01 02:58] KazukiSadasue commented on #1355
Hello.There is something I don't know.
Maybe my program is running to add 'routes\api.php' step.
But, I don't know add 'Authenticate method' and 'Axios interceptor' step.
I want an example on a simple login vue.
Is this example using vuex?

[2018-02-01 05:11] yhylord commented on #1468
Second this. It's very annoying when there even isn't a list of possible exceptions.

[2018-02-01 05:30] core01 commented on #1355
@KazukiSadasue login.vue - https://gist.github.com/core01/e10ded8de504d8bb919797c0d536c53f; Axios interceptor's step - https://gist.github.com/core01/9cb3c292576049e3be5cca0889ed3e52

[2018-02-01 06:31] KazukiSadasue commented on #1355
@core01
Thank you!
What is store file imported in connection.js?
I don't have such a file.

[2018-02-01 06:56] core01 commented on #1355
@KazukiSadasue this is my vuex store:

[code]

[2018-02-01 07:11] KazukiSadasue commented on #1355
@core01
Thank you !
I will try !

[2018-02-02 01:46] #1093 closed

[2018-02-02 06:21] seatechdev opened #1471 "Refresh Token - How to make it work?"
I am using 0.5 version of the JWT.   For some reason, I cannot send use the refreshed token to get my user details.  I get the token_expired message even though it is commented out here.    Following is my code:

        try {

            if (! $user = JWTAuth::parseToken()->authenticate()) {
                return response()->json(['user_not_found'], 404);
            }

        } catch (Tymon\J

[2018-02-02 08:20] seatechdev commented on #1471
Figured out.  You have to make a separate API call just to refresh it.

[2018-02-02 08:20] #1471 closed, assigned to nobody

[2018-02-02 14:19] loreberti89 opened #1472 "Error 400 on Refresh token when set Null on refresh_ttl"
### Subject of the issue
I'm trying to set the infinite time for refresh token.

| Bug?              | yes
| New Feature?      | no
| Framework         | Laravel
| Framework version | 5.1
| Package version   | 0.5.9
| PHP version       | 5.6.30

### Expected behaviour
have always the possibility to refresh token

### Actual behaviour
I read this issue https://github.com/tymondesigns/jwt-auth/issue

[2018-02-02 22:55] seatechdev opened #1473 "has anyone been able to successfully use blacklist grace period in 0.5?"
I am on Laravel 5.1 and using 0.5 version of this.   Has anyone been able to successfully use 'blacklist_grace_period' => env('JWT_BLACKLIST_GRACE_PERIOD', 0) ?  If yes, can someone please post some sample code?

[2018-02-02 23:51] ctadlock commented on #1406
Pretty sure this change between beta1 and rc1 broke it...

![image](https://user-images.githubusercontent.com/1539397/35759818-f8afa80a-0830-11e8-8dd8-cc688a2a145a.png)

[2018-02-03 00:01] ctadlock commented on #1406
Who writes code like this anyways? Variable assignment and function setting in the middle of a multi operand if statement. Jesus this is bad.

[2018-02-03 07:29] jampack commented on #1105
@tymondesigns thanks for the reference i get it now and @tremby thanks for pointing out the incorrect concept

[2018-02-03 11:31] cuca24 commented on #1246
I was using custom middelware and i was accessing JWTAuth facade directly which faced me with the issue @emersonbroga mentioned in second comment.

What i did is i simply extended the ```Tymon\JWTAuth\Middleware\BaseMiddleware``` which accepts JWTAuth in constructor and stores in the ```$auth``` variable. Than in handle function i set the request to the $auth ```$this->auth->setRequest($request);`

[2018-02-03 15:54] tymondesigns commented on #1406
@llioor what version of jwt-auth are you using?

@ctadlock Me, that's who 😉

Why is variable assignment, or using a setter within an if bad?

[2018-02-03 20:22] roydekleijn commented on #1465
Is the documentation wrong with this ?

[2018-02-04 02:55] rgwsk65 commented on #1310
I'm having the same issue. As you said, replacing the `line 77 in JWTGuard.php`
from `$this->jwt->checkProvider($this->provider->getModel())`
to `$this->jwt->checkProvider(config('auth.providers.users.model'))`
seems to fix this issue.

[2018-02-04 07:36] rezasys2 commented on #1298
thanks @Milos0110.
Why they didnt add this function? and require it!!

[2018-02-04 18:34] Walterisimo commented on #1348
It also worked for me.
The file path: /vendor/tymon/jwt-auth/src/Commands/JWTGenerateCommand.php

Thanks.

[2018-02-04 22:17] djasnowski commented on #1404
If you're _still_ having trouble with `Method factory does not exist`,

try adding in `api` into the `respondWithToken` method in `AuthController`:
[code]

A closer look reveals in the Laravel framework that `auth()` does accept an argument with an appropriate `guard` if given one:

https://github.com/laravel/framework/blob/6a5eb9023b1353abdb36d52d5e6ae3290f477af1/src/Illuminate/Foundation/helpers

[2018-02-05 10:12] Tamn9208 commented on #872
The actual application to refresh the token, there will be two problems:
 one is the current request requires the use of token to obtain user information, but this token has actually been added to the blacklist, at least in the controller which can not be used, so the need to transform middleware The first request under the current request header;
 The second problem is the problem of concurrency,

[2018-02-05 17:58] opannapo commented on #1298
@Milos0110 excelent 💯 . Create the handle() function then execute fire()

[2018-02-05 20:18] onxssis commented on #1322
Got this same issue too, auth.php file is correct also, anyone found a solution?

[2018-02-06 05:33] crossmaya commented on #896
`<?php

namespace App\Libraries;

use Tymon\JWTAuth\Contracts\Providers\Auth;

// @todo 后期考虑使用中间件的方式
class ApiAuthProvider implements Auth
{
    /**
     * The authentication guard.
     *
     * @var \Illuminate\Contracts\Auth\Guard
     */
    protected $auth;

    /**
     * Constructor.
     *
     * @param  \Illuminate\Contracts\Auth\Guard  $auth
     *
     * @return void
     */
    public

[2018-02-06 06:07] bigzoo opened #1474 "Token generation failing: Type error: Argument 2 passed to Lcobucci\\JWT\\Signer\\Hmac::createHash() must be an instance of Lcobucci\\JWT\\Signer\\Key, null given"
### Token generation failing
Login was previously working but seems to have been been broken.

### Environment
| Bug?              |  yes
| Framework         | Laravel
| Framework version | 5.5.*
| Package version   | dev-develop 60103d1
| PHP version       | 7.2

### Steps to reproduce
Set up jwt  auth set up as explained [here](https://github.com/tymondesigns/jwt-auth/blob/develop/docs/quick-sta

[2018-02-06 14:33] 13dev opened #1475 "How invalidate token by user id ?"
### Subject of the issue
How i can invalidate token by user id ?

I know that to invalidate the token is `JWTAuth::invalidate();`

[2018-02-07 01:00] redolivedev commented on #1474
Try running `php artisan jwt:secret`

[2018-02-07 01:05] gcjbr commented on #1355
@philliperosario how do you avoid axios from creating an instance without the token when it's first loaded (assuming the user is not logged in yet)

[2018-02-07 07:25] bigzoo commented on #1474
Worked like a charm. Thanks @redolivedev  I recently switched computers so I didn't have the key.

[2018-02-07 07:25] #1474 closed, assigned to nobody

[2018-02-07 07:48] nicklaunches opened #1477 "|"

[2018-02-07 09:13] stefan94antonic opened #1478 "No $token"
### Subject of the issue
JWTAuth:attempt($credentials) returns nothing; not true, not false.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              |  yes
| New Feature?      | no
| Framework         | Laravel
| Framework version | 5.5
| Package version   | 1.0.0-rc.1
| PHP version       | 7

[2018-02-07 10:53] dev-erem commented on #1330
I seem to have found a fix. The default User model is extending Illuminate\Database\Eloquent\Model, where it has to extend Jenssegers\Mongodb\Eloquent\Model to work with MongoDB. By changing the User model in app/User.php, this can be resolved. Replace app/User.php with the code from the following gist:

https://gist.github.com/bramnauta/513ca76f4ff7811583fe91372ce6ddab

[2018-02-07 15:40] sushilsth commented on #889
@meeplagm  Hi did you found a way around for extending lifetime conditionally like remember me option.

[2018-02-07 16:27] Belphemur opened #1479 "Support laravel 5.6"
### Subject of the issue
Laravel released the 5.6, it would be nice to have this packet support it

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | no
| Framework         | Laravel
| Framework version | 5.6.0
| Package version   | 1.0.0
| PHP version       | 7.2.2

[2018-02-07 18:35] MithrandirDK commented on #1463
JWTAuth::invalidate($token);

doesn't that blacklist the token?

try with
[code]

[2018-02-07 20:00] njofce commented on #1463
@MithrandirDK I tried that as well and nothing changed.

[2018-02-07 22:28] EskimoLemon commented on #1187
So I had the same issue
I want basic web auth to work with users (of backoffice dashboard) default laravel's table
but for customers (of funnels) i want to use another table
I decided to use  method [creating token based on user object](https://github.com/tymondesigns/jwt-auth/wiki/Creating-Tokens#creating-a-token-based-on-a-user-object)
So this is the code :
`
     	// return validation erros

[2018-02-07 22:34] bkremenovic commented on #1479
I have already created pull request, and he approved it and merged. We just need to update packagist.

[2018-02-08 06:24] leoskyrocker commented on #1263
@hazaveh I think by comparing the iat you will be able to logout all devices, while what you're proposing isn't capable of logging every devices out but just that particular token that was passed along to the protected route.

[2018-02-08 08:02] marlag commented on #889
@sushilsth Somehow - included to user model as hinted; but I've dropped the idea as refresh functionality is going another way I had no time to investigate. So finally I am refreshing on FE side when detected expired (or before in advance; depending on app activity).

[code]

[2018-02-08 12:51] bitfumes commented on #1479
Not working with laravel 5.6. Its giving this error
![screen shot 2018-02-08 at 18 20 39](https://user-images.githubusercontent.com/26225409/35973813-d0deb624-0cfc-11e8-8780-3720dd45efc5.jpg)

Please update it soon

[2018-02-08 13:18] seth-shi opened #1480 "Unclear place in use"
Hello, recently learning this bag, easy to use, thank you for your efforts.
Want to know where the generated token is stored? I tracked down the source code and didn't find the storage token. it was just a piece of data stored in`/storage/cache/framework/cache/data`

[2018-02-08 15:14] JBtje commented on #1479
Use: "tymon/jwt-auth": "dev-master" and it works. "1.0.0-rc.1" does indeed not (yet) work.

edit: ignore that... the dev-master on composer != the dev-master on git... and doesn't work

[2018-02-08 17:04] bitfumes commented on #1479
Okay thanks for this, it included properly but
`php artisan vendor:publish --provider="Tymon\JWTAuth\Providers\JWTAuthServiceProvider"`
this command not publishing anything

[2018-02-08 21:55] bogumilkorek commented on #1479
Try to use "tymon/jwt-auth": "dev-develop" in composer.json, it worked in my case.

[2018-02-09 05:27] bitfumes commented on #1479
Ohh got it, I have to publish via this command
`php artisan vendor:publish --provider="Tymon\JWTAuth\Providers\LaravelServiceProvider"
`

not with this

`php artisan vendor:publish --provider="Tymon\JWTAuth\Providers\JWTAuthServiceProvider"
`

Thanks everyone.

[2018-02-09 08:44] micheleangioni commented on #1479
`"tymon/jwt-auth": "dev-develop"` should fix the problem for everyone, but really looking forward for a new tagged release :)

[2018-02-09 10:16] tymondesigns commented on #1479
`1.0.0-rc.2` tagged 👍

[2018-02-09 10:16] #1479 closed, assigned to nobody

[2018-02-09 10:17] bitfumes commented on #1479
thanks @tymondesigns

[2018-02-09 10:21] micheleangioni commented on #1479
@tymondesigns good job, thanks! :)

[2018-02-09 22:15] aldyson commented on #614
I'm having the same issue where the wrong user is retrieved, and this only happens with one specific account.

Does anybody know a solution to this?

[2018-02-10 08:53] rezamax commented on #1298
thanks @Milos0110

[2018-02-10 14:18] mehdiDalvand commented on #1169
https://github.com/tymondesigns/jwt-auth/issues/1316

[2018-02-10 14:19] daalvand commented on #1169
https://github.com/tymondesigns/jwt-auth/issues/1316#issuecomment-330018396

[2018-02-11 06:46] #1477 closed, assigned to nobody

[2018-02-11 10:45] boukeversteegh commented on #1105
Man this is so confusing. The JWT specification doesn't even include the concept of a refresh token, yet many resources talk about it as if its part of JWT. Apparently refreshing tokens is a custom job, and can be done in many ways.

I came to this package assuming there exist "refresh tokens", but couldn't find it after digging and digging through the source code, and documentation (although smal

[2018-02-11 12:24] boukeversteegh commented on #158
@osteel Thanks, that helped me get my tests working!
I am running $this->refreshApplication(); in between the two requests, that works

[2018-02-11 13:04] boukeversteegh commented on #1000
In case this problem occurs within unit tests, when performing two requests in the same test:

try to run `$this->refreshApplication()`, to clear the Request object that was stored by JWT from the first request

[2018-02-13 06:40] mohamed-atef opened #1481 "Exception with php artisan jwt:generate"
### Exception while generating the secret key
While executing the command `php artisan jwt:generate` an exception has been thrown that method handle doesn't exist in JWTGenerateCommand class
`Method Tymon\JWTAuth\Commands\JWTGenerateCommand::handle() does not exist`.

The solution was to change the name of the method "fire" in the same class to "handle" and it worked just fine.

### Your environme

[2018-02-13 10:14] kumardinkar9 commented on #540
if there is need to login with username or email:
[code]

[2018-02-13 12:25] psychonetic commented on #1481
Hi, I can confirm this error. Having the same issue then running `php artisan jwt:generate`

[2018-02-13 16:10] jakewtaylor opened #1482 "JWT Custom Claims are persisted"
### Custom Claims are persisted
When creating a JWT with custom claims, everything works as expected. However, when creating a new JWT without custom claims, the custom claims still appear.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | yes
| New Feature?      | no
| Framework         | Laravel
| Framework version | 5.4
| Package version   | 0.5.9
| P

[2018-02-13 18:27] jmdavid commented on #1388
@tymondesigns
Hey, any update on that?

[2018-02-13 18:37] tymondesigns commented on #1388
See here for v1.0.0 http://jwt-auth.readthedocs.io/en/develop/auth-guard/#adding-custom-claims

[2018-02-13 18:37] #1388 closed, assigned to nobody

[2018-02-13 19:38] jmdavid commented on #1388
Still not working with LUMEN.

$token = app('auth')->attempt($credentials)
or
$token = app('auth')->guard('api')->attempt($credentials)

Always return false.

[2018-02-13 19:53] jmdavid commented on #1388
Just to clarify:

$credentials = $request->only('email', 'password');
$user = User::where('email', $request->get('email'))->first();
$valid = Hash::check($request->get('password'), $user->getAttribute('password'));

$valid is true.

$test = JWTAuth::attempt($credentials);

$test is false.

So there is something with attempt.

[2018-02-14 01:29] goodjun commented on #1482
@jakewtaylor
example:

**user.php Model**

[code]

[2018-02-14 09:14] jakewtaylor commented on #1482
That doesn't really help, I don't always want custom claims. The problem is that they still appear when I no longer want them.

[2018-02-14 11:52] SzymonLisowiec opened #1483 "Auth::attempt() without generating token?"
### Auth::attempt() without generating token?
Can I use `Auth:attempt($data)` without getting token? I need few steps:
1. `if(Auth::attempt($data)){` //here without generating token. Currently `attempt` returning token :|
2. Check user status
3. only to generate token by `JWTAuth::fromUser(Auth::user())`

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              |

[2018-02-14 12:54] qazihamayun commented on #176
@trousers and @eness Really Thankful to you guys. It solved issue

[2018-02-14 15:27] akinolu52 commented on #205
same here also any help @leandroruel

[2018-02-14 17:40] leandroruel commented on #205
@akinolu52 i already solved my problem. just get the lastest release on develop branch and be happy

[2018-02-15 14:06] tymondesigns commented on #1483
you can use `Auth::validate($credentials)`

[2018-02-15 14:06] #1483 closed, assigned to nobody

[2018-02-15 14:41] SzymonLisowiec commented on #1483
but `Auth::validate` don't setting `Auth::user`

[2018-02-15 15:33] tymondesigns commented on #1483
If you want the user to be set aswell then use `Auth::once($credentials)`

[2018-02-15 15:43] SzymonLisowiec commented on #1483
Ok, Thanks :D

[2018-02-15 16:28] nivanmorgan commented on #1481
@psychonetic @mohamed-atef   With Laravel 5.5 you use php artisan jwt:secret command..

[2018-02-15 16:33] nivanmorgan commented on #1481
@psychonetic @mohamed-atef  with laravel 5.5 you use the command php artisan jwt:secret

and better use version 1.0.0 of this package

[2018-02-16 03:19] dancherb commented on #1263
what about saving the last few digits of the hashed password in the token and checking this when checking the token?

[2018-02-16 07:20] samanmohamadi opened #1484 "Method factory does not exist."
getting this error when logging in.
**Method factory does not exist.**

**AuthController**
[code]

**auth.php**
[code]

Setting default guard to `api` fix the issue but I want default guard to  be the `web`

[2018-02-16 12:09] iamnimnul commented on #1310
It's fixed with laravel-doctrine 1.4.3 released 8 days ago `composer update` should do the job now ;)
Missing `getModel()` function is added https://github.com/laravel-doctrine/orm/blob/1.4.3/src/Auth/DoctrineUserProvider.php#L140

[2018-02-16 14:10] baguskah opened #1485 "Can't Run API Laravel in Heroku but not in localhost"
### Success run API Laravel in Localhost but in Heroku doesn't
I use JWT for auth api, when hit with postman in localhost, it work but when deploy in heroku token jwt always invaild and always turn "message": "Unauthenticated."

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | no
| Framework         | Laravel
| Framework version

[2018-02-16 14:14] baguskah commented on #1485
just got the problem, JWT_SECRET in .env wasn't deployed to heroku server, i have to add JWT_SECRET manually in Setting Application Dashboard in Heroku. Solved

[2018-02-16 14:14] #1485 closed, assigned to nobody

[2018-02-16 16:34] theissn commented on #814
@psychonetic @tymondesigns

Any updates on this one?

[2018-02-16 17:56] psychonetic commented on #1481
@nivanmorgan I thought I had version 1.0* installed, but when installing it like provided in the new documentation `composer require tymon/jwt-auth` it still installs the old version (yeah, I know it's an unfinished documetation, but writing such basic things does not take a whole day).

And yes when using version 1.0.0-rc2 `php artisan jwt:secret` works as expected. Thank you!

[2018-02-16 20:09] gogromat commented on #1473
Version 0.5 does not have this defined in config/config.php,
so it should not work for you.
https://github.com/tymondesigns/jwt-auth/blob/0.5.12/src/config/config.php
Compare to v1.0.0-alpha1
https://github.com/tymondesigns/jwt-auth/blob/1.0.0-alpha1/config/config.php

[2018-02-16 21:31] brandav commented on #1482
I've run into the same issue. Is there a workaround for this? I've tried emptying the claims, but the previous claims still show up.

[2018-02-17 14:18] Wolrab1 commented on #1355
Hi all, I've followed the instructions and it's worked well! thank you.

I'm coming to test the refresh token, I can see in the middleware above we have the functionality for creating the refresh token however I'm wondering from POSTMAN when testing I would see the new token? As of now I see

I'm guessing I've missed the token on a previous request but I just want to check.

[2018-02-17 19:14] faxterol commented on #1484
I fixed it changing this protected function: respondWithToken

replace
`'expires_in' => auth()->factory()->getTTL() * 60`
by
`'expires_in' => auth('api')->factory()->getTTL() * 60`

and in the config/jwt.php change by jwt, auth and storage key values by this:

'jwt' => 'Tymon\JWTAuth\Providers\JWT\Namshi',
'auth' => 'Tymon\JWTAuth\Providers\Auth\Illuminate',
'storage' => 'Tymon\JWTAuth\Providers\S

[2018-02-19 02:37] amanullah-1 opened #1486 "not supporting laravel 5.6.4"
### Subject of the issue
I ma trying to install it on laravel 5.6.4 but not being able

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      |yes
| Framework         | Laravel
| Framework version | 5.6.4
| Package version   | 0.5.12
| PHP version       | 7.x.y

### Steps to reproduce
running the command:
composer require tymon/jwt-auth

[2018-02-19 07:43] Chathula commented on #1482
i have tried to change exp with newest version. but it didn't change it. then i had to do a some hack.i changed config file ttl before create token. i thinks the issue is, custom claims are overwritten with config values.

i am using lumen 5.4 with this.

[code]

this is what i did for my old project,it changed exp time well.now it doesn't.

[code]

version `"tymon/jwt-auth": "^1.0"`

[2018-02-19 09:42] bayubimantarar commented on #670
Can i see your route? are you using BaseMiddleware? @unabomber87

[2018-02-19 13:11] aldyson opened #1487 "Token provides wrong user"
I created 2 accounts with different email addresses and passwords. I have a HTTP request that sends the token (stored in local storage after signin) like this:

`http://apiurl/api/projects/getProjects?token=tokenString`

Inside the method, I used the following line to retrieve the authenticated user based on the token:

`$authenticatedUser = JWTAuth::parseToken()->authenticate();`

This retrieves

[2018-02-19 14:29] lCHECHOl opened #1488 "how to send the token by the header and not by the url"
### My environment

| homestead | vagrant
| Bug?              | no
| New Feature?      | no
| Framework         | Laravel
| Framework version | 5.5
| PHP version       |  7.1

thanks in advance

[2018-02-19 16:17] masterawss commented on #1486
https://github.com/tymondesigns/jwt-auth/issues/1038

I used the command "tymon / jwt-auth": "1.0.0-rc.2" and it worked fine for the @cieniurobot solution

[2018-02-19 16:53] i1990jain commented on #1474
I am still having the same problem on laravel v5.6.* . running artisan jwt:secret did not help, I have followed the same instructions as in the page specified above

[2018-02-19 20:19] josh9060 commented on #1486
JWT 0.5.* is only supported on Laravel versions 5.5 or less. Check out the 0.5.* docs. If you want to use JWT with 5.6.*, use JWT 1.0.*.

[2018-02-19 20:25] josh9060 commented on #1488
Use Laravel's response helper to return the token in the header.

[code]

Is this what you are trying to achieve?

[2018-02-19 21:40] lCHECHOl commented on #1488
This is my code, how would it be?

what I want is that all the tokens that I use are sent by the header for security, none should be for the url

public function signin(Request $request)
    {
      $this->validate($request,[
        'user_email' => 'required|email',
        'password' => 'required|min:6',
      ]);

      $user_email = $request->input('user_email');
      $password = $request->in

[2018-02-19 21:42] dellamina commented on #1486
I was facing the same issues, reinstalling directly with composer and not laravel installer fixed it for me.

[2018-02-19 22:54] josh9060 commented on #1488
I believe you could so something like this:

[code]

Double check with the docs - but I think that should work!

But, in most situations I would just return the token in the response body.

[2018-02-20 06:20] samanmohamadi commented on #1484
@faxterol Thanks

[2018-02-20 06:20] #1484 closed, assigned to nobody

[2018-02-20 07:43] jampack commented on #1480
The tokens are stateless that means they are not stored anywhere on the server but the token itself contains all the information necessary to identify a user.

[2018-02-20 07:47] jampack commented on #1468
if you want to handle the exceptions globally in handler.php
[code]

[2018-02-20 08:50] abkrim opened #1489 "vendor:publish not copy anything. (Estable version and dev.master)"
### Subject of the issue
Describe your issue here.
[code]
### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              |  yes
| New Feature?      | no
| Framework         | Laravel
| Framework version | 5.6.3
| Package version   | dev-master 614ee34 & 0.5.12
| PHP version       | 7.1.4

### Steps to reproduce
Fresh install laravel
Composer install package
Run command

[2018-02-20 14:24] alexeycrystal commented on #1355
@philliperosario, awesome, thanks! All is working fine. Already tested this on "1.0.0-rc.2" version.
Very usefull solution!

[2018-02-20 19:25] lCHECHOl commented on #1488
try placing the code as you say but this one says this
![image](https://user-images.githubusercontent.com/13172977/36444604-c124eefa-1649-11e8-9249-69ceb01e99df.png)
![image](https://user-images.githubusercontent.com/13172977/36444642-debe3b42-1649-11e8-9608-1af7e2d79dad.png)
I'm using postman to prove everything, what am I doing wrong?
The only thing I saw about passing the token via http with th

[2018-02-20 19:48] lCHECHOl commented on #1489
according to other problems that I have seen is not supported for laravel 5.6 but you can try the following, it worked for me in laravel 5.5

Add "tymon/jwt-auth": "dev-develop" to your require in composer.json then run composer update

but first notice that in the file boostrap / cache / services.php or boostrap / cache / config.php you do not have the following provider:

'Tymon \ JWTAuth \ Prov

[2018-02-20 20:12] ouraios opened #1490 "Auth attempt with password as md5 ?"
I'm using a legacy and database and for now we cant change the users password to something else than md5, how can i use JWTAuth attempt method with an md5 password since apparently it always hash incoming password with bcrypt ?

[2018-02-20 21:19] lCHECHOl commented on #1488
I already knew how to send the token by the header in the following way:
![image](https://user-images.githubusercontent.com/13172977/36449617-4ea1b272-1659-11e8-8360-2812f20345ab.png)

![image](https://user-images.githubusercontent.com/13172977/36449646-655127b4-1659-11e8-9694-159e3da28679.png)

but I get another question, how do I recover the token in another view so that I do not mark the token

[2018-02-21 16:40] atach opened #1491 "How to set another ttl value for a specific user."
How to set another "TTL" (JWT time to live token) value for a specific user?

[2018-02-21 19:03] williansmartins commented on #536
me too

[2018-02-21 20:18] revalgovender opened #1492 "JWT payload does not contain the required claims"
### Subject of the issue
I don't want to use Laravel's user credentials to create a token so I am trying to create based on anything. I tried to follow the instructions from the wiki under the the heading "Creating a Token based on anything you like" and I get an error.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | Yes
| Framework         | Laravel
|

[2018-02-21 20:42] revalgovender commented on #1426
I running into the same error with 0.5.*
The following code does prevent the error:
[code]

However the token I get cannot be validated by jwt.io. It claims the "signature is invalid".

[2018-02-21 21:01] #1492 closed, assigned to nobody

[2018-02-21 21:02] revalgovender commented on #1492
Had to use this:

[code]

[2018-02-22 08:08] leon0399 commented on #1478
THis methond should return token, not a bool

UPD: Read - https://jwt-auth.readthedocs.io/en/develop/auth-guard/#attempt

[2018-02-22 13:51] rojonunoo commented on #1298
handle() { $this->fire() } worked for me. Did the Trick! Thanks buddy God bless you @Milos0110

[2018-02-22 18:13] #1488 closed, assigned to nobody

[2018-02-23 13:38] #1480 closed, assigned to nobody

[2018-02-23 21:16] artembatura opened #1494 "[Question] Quick start with Lumen"
I'm trying to start using `jwt-auth` with `Lumen`. The first problem i met: in  `jwt-auth docs`(quick start), paragraph [#configure-auth-guard](http://jwt-auth.readthedocs.io/en/develop/quick-start/#configure-auth-guard) tells about change `config/auth.php` file. But Lumen doesn't have this file as and he doesn't have group middlewares(like an `api`)

![image](https://user-images.githubusercontent

[2018-02-24 06:21] maneeshms commented on #1038
Always getting In ProviderRepository.php line 208:

  Class 'Tymon\JWTAuth\Providers\LaravelServiceProvider' not found in Laravel 5.6

[2018-02-24 14:13] artembatura commented on #1494
Problem solved :)
Really helped me [this example with Lumen & jwt-auth](https://github.com/akaita/json-web-token-authentication-for-lumen-5)

[2018-02-24 14:13] #1494 closed, assigned to nobody

[2018-02-24 16:28] colorful-bubbles commented on #1489
For Laravel 5.6 you will need version 1.0.0 of jwt-auth.
After you update the package to the higher version commands you tried to run should work fine.

[2018-02-24 21:34] hadikmsh opened #1495 "Non-static method Tymon\JWTAuth\JWTAuth::fromUser() should not be called statically"
### Non-static method Tymon\JWTAuth\JWTAuth::fromUser() should not be called statically
Hi
thanks for your great package. I recently update my packages and after that i got this exception when use  JWTAuth::fromUser() ;
how can i fix this?
thanks.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              |  yes
| New Feature?      | no
| Framework         | Larave

[2018-02-25 10:39] mdeprezzo opened #1496 "Attempt with custom fields always fails"
### Subject of the issue
After upgrade to 1.0.0-rc.2, if i tried to check the 'active' field for users, i get always **invalid credentials**.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | no
| Framework         | Lumen
| Framework version | 5.6.1
| Package version   | 1.0.0-rc.2
| PHP version       | 7.1.13

### Steps to repr

[2018-02-25 16:55] #1495 closed, assigned to nobody

[2018-02-25 16:56] hadikmsh commented on #1495
its because of use wrong namespace Tymon\JWTAuth\JWTAuth instead of  JWTAuth ;

[2018-02-27 16:20] durancu commented on #1347
Did you solve it? Had same issue

[2018-02-28 10:16] sanjukaniyamattam opened #1498 "Method Illuminate\Auth\RequestGuard::attempt does not exist"
### Method Illuminate\Auth\RequestGuard::attempt does not exist
I am new to both laravel and lumen. I was creating a login api with oauth2.0, i have installed passport and generated token. Below is my login controller function and it is working fine. It returns token.

public function login(Request $request)
        {
            global $app;
            $proxy = Request::create(
                '

[2018-02-28 18:59] jarnix commented on #1484
I have the same issue (the workaround of using defaults guard api works indeed but it's not logical).

The documentation (on mkdocs) should be updated with the example that gives @faxterol . It seems although that changing the config/jwt.php is useless, just modify the function:

respondWithToken

[code]

[2018-02-28 19:00] jarnix commented on #1484
and the refresh function obviously :
[code]

[2018-02-28 19:07] faxterol commented on #1484
Yes, Changing "auth()" by "auth('api')" in all auth controller for jwt.

[2018-03-01 01:42] JenteVH commented on #940
Wondering also for laravel 5.6 and jwt-auth 1.0.0-rc2
Can't get policies to work together with this.

[2018-03-01 17:20] jakewtaylor commented on #1482
@Chathula that's an entirely different issue.

[2018-03-01 19:01] timvdalen commented on #1491
When creating a token, you can call `setTTL($ttl)` on the `JWTGuard`.
If you then `attempt` a login on it, the generated token will have the given TTL.

[2018-03-01 19:05] timvdalen opened #1499 "Unable to create never-expiring token due to PayloadValidator"
### Subject of the issue
If TTL is set to `null` by any means (config file, `setTTL` on guard), the Factory will remove the `exp` claim from the payload as expected.
However, the `exp` payload is required in the PayloadValidator, so the generated payload doesn't pass validation.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | yes
| New Feature?      |

[2018-03-01 22:50] ghost opened #1500 "Where are tokens stored?"
Hello all,

That's not really a bug or an issue, but more a technical question.
Where does `jwt-auth` store tokens on the server side?
I mean they are not in the database, and I couldn't find them persisted on the disk..?

Thanks

### Environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | no
| Framework         | Lumen
| Framework version | 5.6

[2018-03-02 03:29] rzlyp commented on #1298
thanks you.

[2018-03-02 11:21] jakewtaylor commented on #1482
#1228 is also this issue.

[2018-03-02 11:28] seth-shi commented on #1500
look here.
https://github.com/tymondesigns/jwt-auth/issues/1480

[2018-03-02 11:48] alainbelez commented on #1480
@akkhan20 i tried running the invalidate() method and the token is not valid anymore. how is that?

[2018-03-02 13:52] ghost commented on #1500
@DavidNineRoc Brilliant, thanks.

If someone is having the same question, **the tokens are stateless**, which means they contain the information necessary to identify a user. **The is no need to store them**.

[2018-03-02 13:52] #1500 closed, assigned to nobody

[2018-03-02 22:20] lCHECHOl opened #1502 "how can I generate a token if the user is not authenticated only with his mail"
### Subject of the issue
how can I generate a token if the user is not authenticated only with his mail, is to recover the password of the api with the email, some idea to do it

Thanks in advance
### Your environment
| Homestead                 | Vagrant
| ----------------- | ---
| Bug?              | no
| New Feature?      | no
| Framework         | Laravel
| Framework version | 5.5
| Package ve

[2018-03-03 15:30] lukebrandonfarrell commented on #1428
Did you find a fix to this?

[2018-03-05 02:05] jehadja opened #1503 "Change import provider on Documention"
### Subject of the issue
[code]
TO
[code]

[2018-03-05 14:22] victorelu commented on #1481
Laravel 5.5 renamed the `fire` function to `handle`. A temporary rename in the vendor folder made this work, but perhaps a PR is in order that checks the laravel version and uses the appropriate function.

[2018-03-05 14:26] rodrigobendia commented on #1486
@amanullah-1 In your case, the issue seems to be with the barryvdh/laravel-cors package. The installed version (v0.8.2) is forbidding composer to install Laravel 5.6. Try running _composer update_ before requiring this package.

[2018-03-06 01:22] readfordna opened #1509 "Error updating and publishing package"
### Subject of the issue
Describe your issue here.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | yes
| New Feature?      | no
| Framework         | Laravel
| Framework version | 5.6.7
| Package version   | 1.x.y
| PHP version       | 7.1.3

### Steps to reproduce
updated composer.json to include the following require package: "tymon/jwt-auth": "1.0.*

[2018-03-06 12:30] hari-web commented on #1036
@tymondesigns  do we have any possible solution for this?

[2018-03-06 20:46] victorrss commented on #79
I am using
`
   "php": ">=7.0.0",
        "fideloper/proxy": "~3.3",
        "laravel/framework": "5.5.*",
        "laravel/tinker": "~1.0",
        "tymon/jwt-auth": "1.0.0-rc.1"
`

Add the following code to the render method within app/Exceptions/Handler.php
`
public function render($request, Exception $e)
    {
        if($e instanceof \Symfony\Component\HttpKernel\Exception\UnauthorizedHttpExc

[2018-03-06 20:50] victorrss commented on #848
I am using

[code]

it worked here
Add the following code to the render method within app/Exceptions/Handler.php

[code]

[2018-03-06 20:51] victorrss commented on #1267
I am using

[code]

it worked here
Add the following code to the render method within app/Exceptions/Handler.php

[code]

[2018-03-06 20:51] victorrss commented on #1355
I am using

[code]

it worked here
Add the following code to the render method within app/Exceptions/Handler.php

[code]

[2018-03-06 20:52] victorrss commented on #1353
I am using

[code]

it worked here
Add the following code to the render method within app/Exceptions/Handler.php

[code]

[2018-03-06 20:52] victorrss commented on #1468
I am using

[code]

it worked here
Add the following code to the render method within app/Exceptions/Handler.php

[code]

[2018-03-06 20:53] victorrss commented on #1003
I am using

[code]

it worked here
Add the following code to the render method within app/Exceptions/Handler.php

[code]

[2018-03-07 04:02] djbobbydrake commented on #1509
Got the same issue. Followed the docs (http://jwt-auth.readthedocs.io/en/develop/laravel-installation/). Worked fine thereafter. I replaced `Tymon\JWTAuth\Providers\JWTAuthServiceProvider::class,` with `Tymon\JWTAuth\Providers\LaravelServiceProvider::class` in my app.php.

[2018-03-07 07:59] johncloud200 opened #1510 "ask : How to set Expire?"
I used dev-develop,
How to set expire?
Let's say I have one custom claims, and want to make it expire in 2 hours.

[2018-03-07 13:26] readfordna commented on #1509
Thanks for the help, djbobbydrake. that solved the problem.

[2018-03-07 13:26] #1509 closed, assigned to nobody

[2018-03-07 15:07] pierremartins507 opened #1511 "API + JWT + Forgot Password"
### Subject of the issue
Hi,

Which is the best solution to implement Forgot  password in API enviroment ?
In Front, I have an Angular5 App which consume the API on Laravel 5.5.

Thanks

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | yes
| New Feature?      | no
| Framework         | Laravel
| Framework version | 5.5.38
| Package version   | 1.x.y
| PH

[2018-03-07 18:12] musman92 commented on #1361
@ReneRautenbach i got this when i try

  [InvalidArgumentException]
  Could not find package tymon/jwt-auth in a version matching 1.0@dev

[2018-03-07 23:28] remipelhate commented on #1368
Hi everyone! I'm trying to refresh a token but I'm slightly confused by the fact that the refreshed token has the same `iat` as the original one (which is both mentioned in the docs and the [blog post](https://medium.com/@3lpsy/apis-and-laravel-part-2-jwt-tymon-3e7f365af81c)).

Because of this, the refreshed token expires at the same moment as the original one, right? At least, that's what I'm exp

[2018-03-08 09:55] musman92 commented on #1486
yes, i tried to, but stuck, i am unable to use web/api guards. donot know what to do now,

also get this error
Method Illuminate\Auth\SessionGuard::factory does not exist.

[2018-03-08 15:13] LarrySul commented on #968
here i have a problem which is when i try to access a protected route middle ware , I get token not provided , am doing a get request to get request which will then allow me fetch a specific user detail

	public function hostel()
	{
		{
		$user = JWTAuth::parseToken()->toUser();
		return response()->json( [
			'user' => $user
		], 200);
	}

here i have my route file

Route::get('/hostel', [
		'use

[2018-03-08 15:38] bigdevlarry opened #1512 "{"error":"token_not_provided"}"
### Subject of the issue
error:token not provided

### Your environment
php version "php": ">=7.0.0",
tymon version "tymon/jwt-auth": "0.5.*"

### Expected behaviour
at the end am trying to fetch the authenticated logged user column and also i dont know how to  avoid the token not provided error

### Actual behaviour
i can console.log the user token but i dont know why i get token_not_provided , a

[2018-03-09 04:37] seatechdev opened #1513 "Basic Auth with JWT without Dingo or Passport"
### Subject of the issue
I am looking for some help to enable Basic Auth with JWT without Dingo or Passport support. This is done to build a web client without using Angular or another javascript framework.  Right now in every controller, I am using the middleware as follows:
class SomeController extends Controller
{
public function __construct()
   {
     $this->middleware('jwt.auth', ['except' =

[2018-03-09 04:59] knvpk commented on #1195
Hi @pvanhemmen and @abosami2000 , There is already an invalidate system using the cache storage. but it uses the `jti` as the unique number to invalidate the token (i.e., blacklist the token up to grace period time.)
You can accomplish the feature you require by storing all the `jti` and `subject` in the database (persistence storage) using middlware and you can blacklist the token when a new toke

[2018-03-09 11:19] jakewtaylor commented on #1482
We've found a solution for version 1.0.0.

The claims are persisted because the Factory class is bound as a singleton, so any claims that exist when authenticating the user will be carried through when creating a new token.

You can empty the claims by doing:
[code]
before you generate a new token.

I'm not going to close the issue because I still think this is a bug; in my eyes, a factory class s

[2018-03-09 12:51] airguillaume commented on #1513
Hi there :)

`
Route::group(['middleware' => ['jwt.auth']], function() {
    Route::get('logout', 'AuthController@logout');
    Route::get('test', function(){
        return response()->json(['foo'=>'bar']);
    });
});
`

[2018-03-09 14:30] josh9060 commented on #1513
I don't understand?

You want to use JWT Auth and Laravel's basic Auth?

[2018-03-09 19:17] seatechdev commented on #1513
Yes.  The reason is that I don't want to use a javascript based framework such as angular for my desktop.  Even though it is much easier for it to do it at this point.

[2018-03-09 19:35] seatechdev opened #1514 "Is JWT 1.x compatible with Laravel 5.1?"
### Subject of the issue
I went through the documentation for the latest release but couldn't determine the minimum Laravel version required to use JWT 1.x  I am currently using JWT 0.5 but would like to upgrade to 1.x because of the additional features.

[2018-03-10 02:53] tom2drum commented on #872
@cristianpontes, i've implemented your middleware solution, but i'm getting "The token has been blacklisted" in response to every request after token expiration time. None of the suggestions listed above doesn't solve the issue. Do you have any ideas how I can fix it?

[2018-03-10 11:10] websanova opened #1516 "Keep getting "Token has expired" exception when generating token?"
It keeps throng a `Tymon\JWTAuth\Exceptions\TokenExpiredException`  when calling `$token = JWTAuth::attempt($req->only('email', 'password'));`.

I'm not even sending a token, just trying to generate one.

Bug: yes
framework: laravel
version: 5.4.30
package version: 1.0.0-rc.2, 1.0.0-beta.3
php version: 7.1.3

Was working before but I updated to the latest rc version and then it just keeps giving m

[2018-03-10 11:36] websanova commented on #1516
I found out that it has something to do with the `JWT_LEEWAY` value.

[code]

The default is 0, I had to set this to 1 second, bit strange...

[2018-03-10 14:03] Mr-Anonymous commented on #1068
I have the same question. I have been using `"tymon/jwt-auth": "0.5.*"` in Laravel 5.3 and now I am upgrading Laravel to 5.6 and jwt-auth to `1.0.0-rc.2`. How do I do the upgrade for jwt-auth from `0.5.*` to `1.0.0`?

Do I need to:

1. Remove the `JWTAuthServiceProvider` from `providers` array, `JWTAuth`  from `aliases` and `JWTFactory` from `Facade`  in `config/app.php`

2. Delete the old `jwt.ph

[2018-03-10 18:31] johnef opened #1518 "Multi-auth on two tables one works the other not"
### Subject of the issue
I have application with two authentications API one is customers and the other is drivers each one has it's own table.

now let me describe shortly JWT package installation and the updates I did on it.
I installed the package as described in the JWT documents exactly.
Now comes to the quick start here I updated two Models one is the `User` and the second `Driver`.

Comes h

[2018-03-11 10:05] Mr-Anonymous opened #1519 "Issues when updating from 0.5.* to 1.0.0*"
I am currently using jwt-auth version 0.5.* on Laravel 5.3. For frontend I use Angular 1.3 with Satellizer.

My question is: when I upgrade my jwt-auth to version 1.0.0 and Laravel to 5.6, will the existing users be unable to login anymore until they update their app? From what I read I understand that with 1.0.0, the token is encrypted. So, what happens after I update this plugin and when users w

[2018-03-11 10:26] websanova commented on #1434
Having same issue here, Auth::user() seems to not be using the correct model or something.

[2018-03-12 03:36] lucastoneatto commented on #1498
I am testing with laravel 5.5. and I get the same error, I do not know what it can be. Until a few days ago it worked well for me.

[2018-03-12 10:46] darrynten commented on #614
Why was this closed without any other info?

Pretty serious issue.

[2018-03-12 10:52] aldyson commented on #614
@darrynten I agree. I still have no solution to this and have no idea why this is occuring.

[2018-03-12 11:40] johnef commented on #1031
@akkhan20 dead link

[2018-03-12 11:46] darrynten commented on #1036
This is a serious issue and it got closed?

It doesn't seem that the maintainers are very security conscious.

[2018-03-12 11:54] darrynten commented on #1487
I've seen this problem intermittently but have not yet figured it out.

@aldyson do you have any extra info on this?

[2018-03-12 11:55] tymondesigns commented on #1036
You cannot use the array driver to blacklist tokens and expect the token to remain blacklisted across requests. It has no persistence, by definition.

@darrynten It was an issue, until it was fixed and closed. The only issue that is left here is that people are not using a persistent cache driver

[2018-03-12 11:59] aldyson commented on #1487
@darrynten I have noticed that it only ever happens with one account - i.e. if I create 10 accounts, just one of them will retrieve the incorrect user id, emai land all other details from the token.

Clearing the database and re-creating the accounts **doesn't** resolve the issue, as it re-occurs on another random account.

It could be version related, as I believe i'm running an older version of

[2018-03-12 12:01] aldyson commented on #1487
@darrynten The version shown in my composer.json file is `"tymon/jwt-auth": "0.5.*",`

[2018-03-12 14:40] anikethsaha commented on #1038
i have the same problem as jwt-auth 0.5.12 doesnt create any

 so kindly go to

 and check for any

and paste the .php file in

 and do composer update and then do the
`php artisan vendor:publish --provider="Tymon\JWTAuth\Providers\LaravelServiceProvider" `

[2018-03-12 14:42] anikethsaha commented on #749
i have the same problem as jwt-auth 0.5.12 doesnt create any

 so kindly go to

 and check for any

and paste the .php file in

 and do composer update and then do the
`php artisan vendor:publish --provider="Tymon\JWTAuth\Providers\LaravelServiceProvider" `

[2018-03-12 18:39] imilakovic commented on #614
My workaround to hopefully eradicate the issue was to set very short token duration (e.g. 4 hours). Therefore by the time a (possibly) duplicate token could have been generated, the previous one was for sure expired.

[2018-03-12 18:49] aldyson commented on #614
@imilakovic My token ttl is currently set at 24 hours, but even after the token expires, re-authenticating with the same user results in the problem re-occurring.

It seems that for me at least, the issues with the two accounts are persisting regardless of what happens with the token.

[2018-03-13 02:31] MarkVilludo commented on #1498
same for me, i get same error. how to fix this?

[2018-03-13 07:53] josh9060 commented on #1512
Use the 'auth:api' middleware on your route and pass the hostel the User instance as a Param. Then return the user that's been injected in your response.

[2018-03-13 09:29] Snake231088 opened #1522 "auth()->payload() not work with refresh middleware and blacklist enabled"
### auth()->payload() not work with refresh middleware and blacklist enabled
If blacklist is enabled and the refresh middleware is used, in the method is impossible to use auth()->payload() (or \Auth::guard('jwt')->payload()) because the token in the request is already blacklisted from Refresh middleware and the response is:
The token has been blacklisted

[2018-03-13 23:22] #1514 closed, assigned to nobody

[2018-03-14 00:40] preciousgeorge commented on #1518
If you have not already figured this out. Please check your if statement at userLogin() Method after the try { , you would find that you did not negate the variable setting and check for $token, hence the you would always get the error.  So a simple ! might suffice ;) . Just like you did for driverLogin() method. You have :
        if ( $token = $this->guard()->attempt( $credentials ) ) {}
instead

[2018-03-14 05:30] robcaa commented on #1322
I have the same problem. Did you find a solution?

[2018-03-14 09:54] shafikhaan opened #1524 "Can login and gets token but Auth::check() is false"
### Subject of the issue
I can get authenticated a user on login and also i am getting the object of authenticated user and sending it off in the response.

But when i do Auth::check(), It gives me false.

Following is my config/auth.php

[code]

### Your environment
I am using laravel 5.5.

### Expected behaviour
Auth::check() should be true after login is what i am expecting.

[2018-03-14 19:56] kieranbarlow commented on #1474
Same here @i1990jain any joy sorting?

Just sorted - run

php artisan cache:clear
php artisan config:clear

[2018-03-15 14:33] johankladder commented on #1519
Had some experience today. Also upgraded to the 1.0.0-rc version.

In my experience the old tokens are not valid anymore (in my situation). I think this happened because the token is signed with other variables (like the JWT-secret etc) then the previous ones.

In my case, the users needed to log in again because of this, but this wasn't a big deal for me.

[2018-03-15 14:39] johankladder commented on #1499
Did you disable this:

[code]
in the `config/jwt.php` file?

[2018-03-15 14:40] Mr-Anonymous commented on #1519
Hi @johankladder Thank you for confirming that. I guess I might need to make sure proper http interceptors are set in my app so soon after the update, as soon as the old token becomes invalid, they are redirected to login again. As long as I can upgrade this on the server without needing to change anything in the frontend, it should be fine I guess. Thanks again for confirming that.

When you did

[2018-03-15 14:56] johankladder commented on #1519
Just install the new version by requiring the rc version. The installation should be documented in the version 1.0.0 docs, but to answer your questions:

1. Indeed, but I think this is only in 5.6. Also make sure you update http/kernel.php route middleware if you have any:

[code]

2. I think you need to, a new formatted one is generated (it has some new keys en variables, make sure you read them

[2018-03-15 15:10] Mr-Anonymous commented on #1519
Thanks heaps for that info. It helped heaps. I was searching for this specific info for a few days now.

I will give your suggested steps a try and hope it goes well. Since after testing in dev server I will need to update a live production server, so I am just a bit nervous as the update changes the login method a bit.

Regarding the unlimited tokens for user, do you mean a limit on how many toke

[2018-03-15 16:09] spawnia commented on #1226
In Passport 5.0.3, a bug was fixed which prevented the correct error response on JSON calls with incorrect authentication. This now works as intended.

[2018-03-15 17:33] #1519 closed, assigned to nobody

[2018-03-15 18:37] sgtpepper9907 commented on #1510
There is an option to set the time to live of the token in minutes. It defaults to 1 hour

config/jwt.php
[code]

Just add
 `JWT_TTL=120` to your `.env` file

[2018-03-16 05:59] DoDSoftware commented on #1105
@boukeversteegh  agreed. This odd concept was by far the largest hurdle to using this package. There should be solid examples and explanations in the docs.

[2018-03-16 08:38] leewanvu commented on #1490
Hi @ouraios
You should create a custom hasher(md5).
Like that: https://github.com/typetokrish/Laravel-Custom-Hashing
Hope that link will help you.

[2018-03-16 17:54] GizzmoShifu commented on #1486
Setting the dependencies to the following worked for me:

`"tymon/jwt-auth": "1.0.0-rc.2",`
`"barryvdh/laravel-cors": "^0.11.0"`

[2018-03-16 19:44] arcifius opened #1529 "About blacklisted tokens"
I just wanted to know when blacklisted tokens storage is flushed... Can you explain how it works?

[2018-03-17 21:27] #1240 closed, assigned to nobody

[2018-03-18 02:53] dambrogia commented on #205
For anyone running Laravel >=5.5 make sure you have `"tymon/jwt-auth": "^1.0"` in your `composer.json`. [In the WIKI](https://github.com/tymondesigns/jwt-auth/wiki) it states version compatibility.

[2018-03-18 16:13] timvdalen commented on #1499
@johankladder I didn't, I'm using Lumen and hadn't created the config file.
This does suggest that I should be able to load the `PayloadValidator` singleton and call `setRequiredClaims`, which should fix my issue.
Feel free to close this.

However, I still think that a TTL of null should disable the `exp` claim in the `PayloadValidator`.

[2018-03-19 06:46] johncloud200 commented on #1510
how if some token need to expire in 2 week, and some token need to expire in 2 hour?

[2018-03-19 06:49] sgtpepper9907 commented on #1510
Please refer to issue #1491

[2018-03-19 16:00] ferdousulhaque commented on #1379
Usually it is due to Tymon\JWTAuth\Contracts\JWTSubject which needs to be added in User Model. Also as JWTSubject implements in the User model, JWTSubject methods must be declared inside the model as below. After that BINGO !! you will get token as expected.

[code]

[2018-03-20 02:14] digitalrep commented on #1162
I too am running into a brick wall with this. If you had posted your solution it might have been helpful to others.

[2018-03-20 08:44] izor commented on #1352
me too, on local server (mac), it's work, but on beta server (ubuntu), always return user_not_found exception,
i try method from @philliperosario but still not working.

i use method from doc, its work, but when token expired, always redirect route login.
i try use middleware jwt.auth from middleware jwt authenticate or refreshtoken, still return uer_not_found.

[2018-03-20 09:27] preciousgeorge commented on #1479
I keep getting this error must Symfony\Component\Debug\Exception\FatalThrowableError: Type error: Argument 1 passed to App\Http\Controllers\API\Auth\NewLoginController::__construct() must implement interface Tymon\JWTAuth\Contracts\Providers\Auth, null given in file /Users/soullounge/Development/php_devs/EazyTender/app/Http/Controllers/API/Auth/NewLoginController.php on line 31

Somebody please he

[2018-03-20 10:14] nayram commented on #1512
Hi @Joshgallagher your suggestion didn't work.
@LarrySul Have you made any headway on this?

[2018-03-20 12:59] bigdevlarry commented on #1512
@Nayram i didnt ...

On Tue, Mar 20, 2018 at 11:15 AM, Nayram <notifications@github.com> wrote:

[2018-03-20 13:27] Belphemur commented on #1479
You should open a new issue for that.
And I don't see why you want your controller to implement the interface
Tymon\JWTAuth\Contracts\Providers\Auth
On Tue, 2018-03-20 at 09:27 +0000, nativity wrote:

[2018-03-20 13:57] preciousgeorge commented on #1479
@Belphemur I sorted it out by running
php artisan config:clear
php artisan cache:clear
The problem was that i had an older version installed before and when i decided to use this version i did not clear the config and cache. Thanks for the reply. Meanwhile, i don't know if you can help me with. I am trying to implement multi authentication using 2 tables. I currently am running "tymon/jwt-auth": "

[2018-03-20 14:24] preciousgeorge opened #1530 "URGENT!!!!. Having issues creating multi auth, please help, it is urgent"
i don't know if anyone can help me with. I am trying to implement multi authentication using 2 tables. I currently am running "tymon/jwt-auth": "1.0.0.rc-2". i have done everything i found online but it still defaults to the User model.
`Config::set( 'jwt.user', 'App\Model\Vendor');`
`Config::set('auth.providers.users.model', App\Model\Vendor::class);`
`$credentials = $request->only( ['email', 'pa

[2018-03-20 15:35] sleenen commented on #874
@Insua haven't tried it yet, but I will soon work on implementing latest version when upgrading to L5.6

[2018-03-21 04:15] jslim89 opened #1531 "Single device login"
### Subject of the issue
I want to allow 1 user can only login via 1 device.
e.g.
User 1 login from device 1
User 1 login from device 2 (system will force the device 1 to logout)

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | yes
| Framework         | Laravel
| Framework version | 5.5
| Package version   | dev-develop
| PHP ve

[2018-03-21 08:11] gaojishu opened #1532 "It can only be authenticated with other tables that are brought by the user table."
It can only be authenticated with other tables that are brought by the user table.
![image](https://user-images.githubusercontent.com/28795328/37699486-b58e5aaa-2d22-11e8-81b6-846d2af22f91.png)
![image](https://user-images.githubusercontent.com/28795328/37699501-c3a04216-2d22-11e8-8953-c43afffc0f39.png)

[2018-03-21 08:15] gaojishu commented on #1532
![image](https://user-images.githubusercontent.com/28795328/37699571-140cd75a-2d23-11e8-8543-adab8056f921.png)

[2018-03-21 08:18] gaojishu commented on #1532
Use token to send requests not to pass

[2018-03-21 10:30] altaraven opened #1533 "ver. 2.0 is incompatible with php 7.2"
### Composer json wrong requirement in version 2.0
"php": "^7.0"

when running
composer require tymon/jwt-auth:2.0

[InvalidArgumentException]
  Package tymon/jwt-auth at version 2.0 has a PHP requirement incompatible with yo
  ur PHP version (7.2.3.0)

[2018-03-21 19:08] lCHECHOl commented on #1511
I have the same doubt, I have not found the way

http://blog.nasrulhazim.com/2017/01/reset-your-password-from-api/?utm_source=learninglaravel.net

I tried this and it worked, but I do not know how to do it with the JWT token and I do not know how to handle the emails either, if you know how you can tell me

#1502  try to do the same, and take out this issue

[2018-03-21 21:39] tymondesigns commented on #1533
Version 2.0 is very bleeding edge, and I wouldn't use it just yet. but thanks for pointing out

[2018-03-21 21:39] #1533 closed, assigned to nobody

[2018-03-22 09:14] crossRT commented on #1530
Have you resolved this issue?
Following is my solution, kindly put this into your controller's contructor.
[code]

[2018-03-22 09:35] altaraven commented on #1533
Yep, I see, but new documentation is pointing to "JWTSubject" contract which is present only in 2.0
http://jwt-auth.readthedocs.io/en/develop/quick-start/

[2018-03-22 09:43] tymondesigns commented on #1533
It's present in all `1.*` releases and on the develop branch

[2018-03-22 10:14] mehrdad-shokri opened #1534 "Is version 2 stable and installable on production app?"
### Subject of the issue
I see branch 2 is available and 2.0.x-dev tag available on packagist.
Can it be installed on prodction app?
How is it different from v1?
Also how to install it?

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | no
| Framework         | Laravel
| Framework version | 5.6.y
| Package version   | 2.x.y
| PHP

[2018-03-22 20:03] kabelo2ka commented on #1094
@Illusionist3886
You should also import `JWTSubject` like so:

`use Tymon\JWTAuth\Contracts\JWTSubject;`

[2018-03-22 21:53] gbryant200 commented on #773
I can't get the config/jwt.php to show up either.  Tried all of the above.  Laravel 5.6.12; jwt version 0.5.12; the publish command indicates it's published but the file isn't there.  Can you just add the file manually?  Even tried sudo php artisan vendor: . . . no dice

[2018-03-23 03:31] iqbalme opened #1536 "How do we know that token is refreshable"
Hello, I am building laravel rest api with this jwt auth, and I found that there is condition the token can be refreshed when expired and sometimes it cannot be refreshed.
So, i want to ask about is there any code to determine if the token is refreshable or not, so we can make custom respond in the exception and it is easier to use it in our api apps.

Can anyone help me? @tymondesigns
Thank you.

[2018-03-23 08:57] SimeonDominiq commented on #240
I stayed on this error for a day which took most of my development time. Just like @rohan-deshpande , I'm using the **dev-develop version** .

I kept on using
`$user = JWTAuth::toUser($token);`
Which kept throwing error "A token is required" Until I used @rohan-deshpande solution.

@tymondesigns You should try to provide recent documentation both the dev-develop version and the other versions.

Th

[2018-03-23 12:00] SimeonDominiq commented on #1199
I'm using the dev-develop version. I have tried the various solutions provided still shows

I want to return a json error instead of the HTML error

Thanks

[2018-03-23 12:44] SimeonDominiq commented on #1199
I had it working like this

`<?php

namespace App\Http\Middleware;

use Closure;
use JWTAuth;
use Exception;
use Tymon\JWTAuth\Http\Middleware\BaseMiddleware;
use App\Http\Traits\ApiTrait;

class authJWT extends BaseMiddleware
{
    use ApiTrait;

    /**
     * Handle an incoming request.
     *
     * @param  \Illuminate\Http\Request  $request
     * @param  \Closure  $next
     * @return mixed

[2018-03-24 07:39] ans-4175 commented on #1030
@Walk-Code whats the solution?

[2018-03-24 08:12] SimeonDominiq commented on #176
@trousers  & @eness You saved my time. It solved the issue after much hours of debugging. Thank God

[2018-03-25 03:45] ngfizzy commented on #1536
It would be easier to help you added more context to your question.

Assuming you intend to do what you described above from a controller you can do the following:

[code]

`jwt->check()` returns false when the token has expired.

You can also do the same when you are using this package as a `guard`

both `JWTAuth` and `JWTGuard extends ` `JWT` class which contains the `check()` method.

[2018-03-25 15:50] iqbalme commented on #1536
I mean that token in in specific time after it's expired, it still can be refreshed, but after longer time, it cannot be refreshed anymore so it needs to authenticate again with login. I don't know what time exactly it is, but i tried it more than one and found that in short time after expired, it still can be refresh and at a slightly longer time, it is not valid anymore to refresh and required t

[2018-03-26 07:46] ye7iaserag commented on #1036
I'm sorry but the bug still exists in rc1
I tested today, with cache driver file
The token gets added to the cache with expires in timestamp
Then it is removed from the cache the first time the refresh request is made
So the first time it will say token is invalid then the cache gets removed an viola, it's working again in the next refresh

How to repeat:
1- get a token issued
2- make sure the tok

[2018-03-26 13:10] lawrence615 commented on #1267
Hello @victorrss,

Your solution actually works, thanks for sharing.

But I was wondering, if you get "Token has expired and can no longer be refreshed", how do you then proceed to getting a valid token to access the API? Considering that logout route has jwt.auth middleware.

[2018-03-26 13:31] ghost commented on #1267
@lawrence615 Just sharing how I did it with this package... you should have code in your frontend that will *catch* that error.

I created an interceptor using axios. If the interceptor catches an expired token error from Laravel, it will send another request to the `/api/refresh` route.

If the token was refreshed successfully, the original request is repeated. In this situation the flow of the a

[2018-03-26 14:12] mohamednagy opened #1537 "Exceptions are converted to HttpException with 500 status code"
When an exception is fired from the package, it's fired as `Exception` not `HttpException` so laravel converts it to `HttpException` with 500 status code which is not the status code that should be returned.

The  following is copied from the `Illuminate\Foundation\Exceptions\Handler.php`
[code]

I don't know if this is an issue with the package or laravel should handle these types of exceptions o

[2018-03-26 15:43] ghost commented on #1484
Thanks @faxterol, it worked.
If you still have problems, cancel `php artisan serve` and then:
Si aún tienen problemas, cancelen `php artisan serve` y luego
[code]
[code]