[2015-08-03 07:46] ddewit opened #203 "Remove closures from config to allow config:cache artisan command"
When using config:cache on deployment, a fatal error is thrown (or, if debugging is disabled, a white page is shown). This is caused by a few config settings using a closure to instantiate a new class.

Using callbacks of some sort should be able to fix this.

[2015-08-04 15:31] fligen commented on #202
I have solved this issue, it is not a JWTAuth issue but a satellizer, if anyone else is having this issue a simple:

skipAuthorization: true,

in the request will not send the auth header.

[2015-08-04 15:31] #202 closed

[2015-08-04 17:00] martinlindhe commented on #117
+1

[2015-08-06 05:49] ltiisidii opened #205 "There are no commands defined in the "jwt" namespace (error)"
I follow the steps as is explained in the wiki. But I have this error when generating the secretkey.

"  [InvalidArgumentException]
  There are no commands defined in the "jwt" namespace."

My version of laravel is laravel Framework version 5.1.9 (LTS)

as I can fix it?

[2015-08-06 11:10] abhiyadav001 commented on #125
sdaddddfasdfds svsdfdfdsdfsd

[2015-08-07 09:19] geoah commented on #111
Is there an example of how this (the multi table auth) could be achieved using subjects?
Sounds like just what we need here! :) Thanks.

[2015-08-07 13:16] frenetic opened #206 "Cant pass token on tests (also, please add how to test to the Wiki)"
Hello amazing community.
This week I got a new project and I decided to give this bundle a try.
As a good dev should do, Im testing everything I can.
But, unfortunately, I cant perform a basic test, and I dont know why (not sure if Im doing wrong or if its a problem with the bundle).
Also, Id like to suggest to update the Wiki, adding a section for "testing best practices", since we all need to kn

[2015-08-07 16:33] frenetic commented on #206
Im on Laravel 5.1

[2015-08-08 01:45] mrgodhani commented on #186
Also one more note I am not really to refresh expired token using middleware. If it's expired it won't refresh but would throw expired error.

[2015-08-10 12:42] jadjoubran commented on #147
Graham mentioned that they will not fix it
https://github.com/laravel/framework/issues/9625

[2015-08-10 13:30] fredrkr opened #207 "Token still valid after credentials change"
Unless I'm missing something obvious, I've found that password- or username-changes after a token has been issued does not affect that token's validity. Shouldn't there be a mechanism for invalidating existing tokens once a user changes his/her credentials? Currently, only the user's id matters in this regard.

Thanks!

[2015-08-10 14:08] hilnius commented on #147
@mofodojodino 's answer actually fixed it.

[2015-08-10 14:10] frenetic commented on #207
IMHO, this is the correct behavior.

Im stating that based on how OAUTH works.
If you have an account in a website that uses OAUTH (like Facebook), and you use this account to sign in to another service (like Spotify), if you modify your password on Facebook, do you get logged out from Spotify?

I understand JWT should behave similar to OAUTH.

Anyways, I do agree with you.
It would be really good

[2015-08-10 14:15] frenetic commented on #205
Just did a fresh install here, and everything seems to be working fine.
Are you sure you didnt missed one step from the Wiki?

If so, please, paste the code/commands you are trying to execute, so we can try to help.

[2015-08-10 14:17] frenetic commented on #203
+1

[2015-08-10 14:19] frenetic commented on #200
@fligen @tymondesigns If this does not apply, please close :smiley_cat:

[2015-08-10 14:20] BRupholdt commented on #207
I've worked around this by not using the id field as the subject. In my
case I have a uuid field that I only use for token authentication. I have a
logouteverywhere function which changes the uuid this invalidating all
tokens issued for that user. In your case, you could update the alternate
field value when a user changes their password.

IMHO, this is the correct behavior.

Im stating that based

[2015-08-10 14:23] frenetic commented on #207
@BRupholdt YOU ARE A GENIOUS!!!
Im copying this idea :smiley_cat:

@tymondesigns This should be on a "tips and tricks" section in the Wiki!!!

[2015-08-10 14:40] fredrkr commented on #207
@BRupholdt Yeah, that seems like a viable solution. If I were to implement this, I'd probably fire an event when the user changes credentials / logs out.

How did you change which table-column jwt-auth compares the subject to, though?

[2015-08-10 14:50] BRupholdt commented on #207
In the config/jwt.php, you can set the user identifier field.
On Aug 10, 2015 10:40 AM, "fredrkr" <notifications@github.com> wrote:

[2015-08-10 14:54] frenetic commented on #200
Also, Im facing a problem that may be related to this:
https://github.com/tymondesigns/jwt-auth/issues/206

[2015-08-11 09:32] edbentinck opened #208 "Uncaught TypeError: Illuminate\Exception\WhoopsDisplayer when hosted on Heroku"
My set-up is as follows:
* AngularJS front-end,
* Laravel back-end,
* hosted on Heroku (PHP 7, Apache 2.4.10)

I've been hosting a current project on Heroku for some time with no problems. Up until now I've been using Laravel's basic `Auth` quite successfully, and only recently decided to try out `JWT-Auth`. It works just fine on my local setup, but I just pushed my repo up to Heroku and disaster

[2015-08-11 11:58] edbentinck commented on #208
Urgh. Should've known. I forgot to add `JWTAuthServiceProvider` and the `JWT-Auth` alias to my production environment's `app.php`, didn't I?

I love Laravel, but sometimes the error messages are ridiculously unhelpful.

Hope this helps other numpties like me avoid a lot of wasted time.

[2015-08-11 11:58] #208 closed

[2015-08-12 08:57] am3000 opened #209 "Can I use a laravel session with jwt-auth?"
I tried to use session('key', value') but it seems it does not work.
Not sure if it´s supposed to work with jwt at all?
If not, what is the best way to save user-dependent temp data on the server side?

[2015-08-13 08:17] whoishoward opened #210 "Class tymon.jwt.auth does not exist"
I just follow the instruction, but I got this error.

[code]

this is the code I use.
[code]

I just search this error in my project and I can't fix that:(  plz help me

Also, when I tried php artisan vendor:publish --provider="Tymon\JWTAuth\Providers\JWTAuthServiceProvider"
It says: Nothing to publish for tag [].
And I tried:--tag=config, --tag="config"
I got same tips.

[2015-08-13 15:59] swayok opened #211 "Bug: JWTAuth->setToken() nests tokens"
Version: 0.5.4

How to test:
`$token = \JWTAuth::parseToken(); // $token->token->value is string`
`$token->authenticate() // $token->token->value is Token Object`

Reason:
in `JWTAuth->requireToken()`
JWTAuth line 285: `$token = $token ?: $this->token`
then on JWTAuth line 289: `$this->setToken($token);` where `$token` is already a `Token` object

Fix:
JWTAuth line 269 (setToken method):
`$this->t

[2015-08-14 05:46] oldskool73 commented on #189
Just an FYI for anyone else that might hit this, looks like the order is important if you have any other packages that provide their own auth, e.g. I found ...

[code]

...gives the above error, but

[code]

...doesn't.

[2015-08-14 10:59] Gummibeer commented on #197
We got another problem with the attempt() function. We also use email & password but the attempt always give ```false``` - we created our own Model, called Account, but changed it everywhere (auth & jwt config). If we get the Model the "normal" way, chach the password with the Hash class and than generate the token from User-Model it works. A very strange bug - and no idea where the problem is.

[2015-08-14 12:11] Gummibeer opened #212 "Authenticate a Model by it's foreign key from a token without changing the primary key"
We got a problem - the authenticate function calls the ```byId()``` method so it ignores the _jwt.identifier_ config setting. It would be better if this function looks in the identifier column for the given sub and not fixed in the primary key column.

[code]

[2015-08-14 12:46] Gummibeer opened #213 "Exceptions instead of json response"
It would be nice if you can throw an Exception instead of response with a json cause exception can get handled by the app developer and after that he can response with a json, error page or whatever he want.
It's better for debug, loging and render. You don'T know how i want to handle the exceptions. We wrote our own RestApi Response macro and use this inside the exception handler to format every

[2015-08-14 15:32] pfazzino opened #214 "Date values should be numeric"
Taking **exp** as an example, from the spec

*Its value MUST be a number containing a NumericDate value (see https://tools.ietf.org/html/rfc7519#page-9).*

Currently these are returned as strings in the token which causes a problem for certain jwt client libs which explicitly parse these as numerics.

[2015-08-14 16:26] nickrouty commented on #127
@osteel I was totally in line with your response as to a preferred flow, but am a bit caught up as to how to then best handle the potential of async requests. I guess what would happen is whichever request came in first with the token that had expired (but had a refresh/renew) available, would then get its refreshed token in the response header, save it on the client, and the other async requests

[2015-08-15 14:19] jadjoubran commented on #203
The solution suggested [here](https://github.com/tymondesigns/jwt-auth/issues/147) is not working for me..
Here's how I fixed it:

'auth' => 'Tymon\JWTAuth\Providers\Auth\IlluminateAuthAdapter',
'storage' => 'Tymon\JWTAuth\Providers\Storage\IlluminateCacheAdapter'

It's being used in [laravel5-angular-material-starter](https://github.com/jadjoubran/laravel5-angular-material-starter)

[2015-08-17 04:12] mtpultz opened #216 "Invoking jwt:generate doesn't refresh the secret"
I pulled in JWT-Auth and ran the install, but when I tried to regenerate the token it always remains the same in config/jwt.php, and if I included JWT_SECRET within .env where I would have expected the token to be set it doesn't get rewritten there either.  Is there a way to reset the token from the command line, I've set it up in my .env and just copied the new secret there from the command line,

[2015-08-17 10:37] lkoenigsberger commented on #214
Thats already merged into develop but not released yet. #166

[2015-08-17 10:47] pfazzino commented on #214
thanks

[2015-08-17 10:47] #214 closed

[2015-08-17 14:34] zerojargon opened #217 "Custom JWT as per documentation - requiring User"
I'm trying to build a custom JWT as per the documentation in the wiki.

If I do the following:

    $payload = JWTFactory::make(['sub' => url()]);
    $token = JWTAuth::encode($payload);

Then I get the error

    Class App\User does not exist

the project in question doesn't require / use a User model, and I'm using JWT-auth just to generate the JWT, not to authenticate (on this service at least)

[2015-08-17 19:54] Destreyf commented on #210
This is caused by a missing setup in the setup, i had the same issue with "Nothing to publish for tag []" it ended up being that my app config needed this in the service provider section.

[code]
After adding that, running
[code]
worked, and my code worked with it.

[2015-08-17 21:08] tdhsmith commented on #143
:+1:

[2015-08-17 21:43] tdhsmith commented on #216
Based on previous discussion at #138:

The default functionality is to change the value present in `config/jwt.php`, but only when the key there matches what key `artisan` sees. If you're using env files, then the current intent is that you use the show command `php artisan jwt:generate --show` and copy-paste the value, like you said.

If you have an environment file, the config file won't get upd

[2015-08-17 22:05] tdhsmith commented on #201
Isn't this the intended functionality? We set the window of time (`refresh_ttl`) from an initial login (`iat`) that a user can refresh *within*, not the time from the last refresh. Otherwise the user could chain refreshes forever and never revalidate their credentials.

Maybe there is a use-case for this but I prefer the current form, because otherwise I would have to manually force a user to log

[2015-08-18 21:33] jopereyral commented on #186
Hi  @mrgodhani, this works for me:

[code]

[2015-08-18 21:37] mrgodhani commented on #186
@jopereyral  I was referring to middleware. Using middleware it won't refresh expiredtoken.

[2015-08-19 16:29] tdhsmith commented on #217
I haven't tested it yet, but it looks like this was already changed on the develop branch:  945024d087deea8e2c46324d20cc44d6ea41e54c (`removing User Provider`). Try installing with composer version to `dev-master` and see if that fixes it?

[2015-08-19 20:45] tdhsmith commented on #217
Ok, I tried it out and it does work, but the format for `JWTFactory::make` changed slightly on the develop branch. Now you'll need something like this:

[code]

Slight tangent, but while these changes are being discussed: @tymondesigns, will package users be expected to implement the `JWTSubject` interface on their user models, or is there some mechanism to automatically fill in sane defaults (e.g

[2015-08-20 20:06] tdhsmith commented on #211
I think this is already fixed on the develop branch, see [`JWTAuth->requireToken()`](https://github.com/tymondesigns/jwt-auth/blob/3799b2ac1da279606a0fab668fae77fffb67b747/src/JWTAuth.php#L270). The function no longer even bothers trying to set the token, which I think is a good separation of concerns. (though your solution would've worked as well)

Also note that `parseToken()` is just returning

[2015-08-20 21:02] tdhsmith commented on #213
The responses all come from the default middleware, which also catches and unsets the exceptions. The middleware is completely optional, and the rest of the package entirely uses exceptions, so all you need to do is write your own middleware.

[2015-08-20 21:03] tdhsmith commented on #213
You can even take the existing [`GetUserFromToken`](https://github.com/tymondesigns/jwt-auth/blob/master/src/Middleware/GetUserFromToken.php) script and tear out the `catch` clauses and add some new exceptions where the `token_not_provided` and `user_not_found` responses are, and you're basically done. :smiley:

[2015-08-21 00:34] tienkhoi opened #220 "$app['Tymon\JWTAuth\JWTAuth'] Get into a forever loop"
Hi All,

Im trying to setup dingo and JWT so I have setup like this
[code]
It keep giving me
[code]

I find out that this line
[code]
leads into an infinity loop.

Any ideas to get around this issue?

Thank you

[2015-08-21 10:41] tommy7600 opened #221 "Using VerifyCsrfToken gives 500 error"
Hi,
I'm adding JWT to existing project. Is there any good solution to work with this package and with VerifyCsrfToken middleware? For now I commented it out.

[2015-08-21 19:30] Gummibeer commented on #213
Ok, thank you. I will have a look.

[2015-08-21 19:30] #213 closed

[2015-08-21 20:26] lucianovns opened #222 "Remember Me with token"
Hi, is there a way to keep "logged in" the user ? like a remember me function

I need to generate a unique token that is going to be associated to a device_uuid and a device_os . This will keep me logged in permanently, and on each request i will send the token and the uuid if it matches with the token and uuid associated for the user it will allowme to interact with the others api services.
Can i

[2015-08-22 18:33] #200 closed

[2015-08-22 18:35] tymondesigns commented on #203
I have now removed closures on the develop branch. And as @jadjoubran mentioned, you can simply switch to a string, if you want to cache the config

[2015-08-22 18:35] #203 closed

[2015-08-22 18:36] tymondesigns commented on #205
Yep, must be something else going on. Make sure you have set up the service provider etc

[2015-08-22 18:36] #205 closed

[2015-08-22 18:40] tymondesigns commented on #207
Good way of solving that issue :+1: @fredrkr not a bad idea :)

[2015-08-22 18:40] #207 closed

[2015-08-22 18:41] #210 closed

[2015-08-22 18:42] tymondesigns commented on #211
@tdhsmith is correct... I'm hoping things are a little simpler and clearer in the new version

[2015-08-22 18:42] #211 closed

[2015-08-22 18:45] tymondesigns commented on #212
You could always implement your own Auth provider and query any field you like under the `byId()` method. That make sense?

[2015-08-22 18:45] #212 closed

[2015-08-22 18:47] tymondesigns commented on #216
No plans to change this at the minute.

@tdhsmith thanks for helping out on these issues :+1:

[2015-08-22 18:47] #216 closed

[2015-08-22 18:51] tymondesigns commented on #217
Yep, lots of changes coming in the new release! For the better I think.

@tdhsmith yes, it will be required to implement the interface.. I don't think it wouldn't be possible right now to have fallbacks, since various methods require an instance of said interface. However, I think I'll be adding a trait which would have defaults in there.

[2015-08-22 18:51] #217 closed

[2015-08-22 18:53] tymondesigns commented on #217
Think it should be possible to create a token without a user. But I will need to double check

[2015-08-22 18:54] tymondesigns commented on #220
Not sure what could be causing this.. I think it's likely that something else is affecting your issue though, since I haven't seen anyone else with this issue

[2015-08-22 18:54] #220 closed

[2015-08-22 18:54] tymondesigns commented on #220
Not sure what could be causing this.. I think it's likely that something else is affecting your issue though, since I haven't seen anyone else with this issue

[2015-08-22 19:15] zerojargon commented on #217
Looking forward to the new version :)

If you could check that, it'd be great! I realise the main functionality of the application is for auth, but using the same API for non-user-based services as well would be awesome.

[2015-08-22 20:51] Al3xR0 opened #223 "Second users table, that is not the main auth."
I have two tables and models for users.

One is Admin (table:admins) for the backend users and the other is User (table:users), for the application (api) users. The model Admin the default auth and it`s in the config/auth.php.

In config/jwt.php, the user is set to 'App\User', but it`s still related to the Admin model.

What can i do to make it work for the Model User (table:users) ?

[2015-08-22 21:08] #223 closed

[2015-08-22 23:50] KennedyTedesco commented on #91
@tymondesigns You are doing an amazing job here! Congrats! :) Did you have any idea about how to implement "JWT as a Service" (like you said before, running exclusively as an authentication server for issuing and revoking tokens etc) with Lumen?

[2015-08-23 04:25] kylestev commented on #221
For routes that use a JWT for authentication, there is no need for CSRF tokens if you are following best practices -- i.e. [make sure your `GET` requests are idempotent](http://restcookbook.com/HTTP%20Methods/idempotency/). CSRF tokens are generally used when your authentication is stateful (read: cookies, php sessions, etc.).

See this answer on StackOverflow for more information: https://stackov

[2015-08-23 04:48] stevenmyhre commented on #165
Any chance you'll have a stable/tagged release soon that will include this? It's blocking some interoperability with some of my node server libraries that require these claims be integers.

[2015-08-23 05:05] kylestev commented on #209
I would avoid using `session()` as it creates a php session which results in a cookie being sent to the client which the server will expect to receive the next time it wants to fetch something specific about the "session" for the user. So if you're writing an API, for example, and you aren't sending back the cookies you receive from the server, your session data won't be available.

As an alternat

[2015-08-23 05:49] kylestev commented on #186
@mrgodhani The middleware is working as intended:

[From the docs](https://github.com/tymondesigns/jwt-auth/wiki/Authentication#laravel-5-1):

---

If you have the `jwt.auth` middleware applied to a route before you apply the `jwt.refresh` and your token is expired, the `jwt.auth` middleware is called before the `jwt.refresh` middleware and will not append the `Authorization` header with the new t

[2015-08-23 07:21] am3000 commented on #209
thanks I´ll try that!

[2015-08-23 07:22] #209 closed

[2015-08-23 08:02] chiragparekh commented on #18
@tymondesigns how to enable token blacklist?

and I also have other question that how can I refresh token?

[2015-08-24 04:33] astroanu opened #224 "Fatal error: Call to undefined method Closure::__set_state()"
When i run artisan config:cache i get this. Without caching it works well

[code]

this is what my cached config file looks like around line 316

[code]

[2015-08-24 06:22] kylestev commented on #224
duplicate of #147

This is an issue with Laravel and it will not be fixed: https://github.com/laravel/framework/issues/9625#issuecomment-121339093

There is a workaround to get this package to work with Laravel's config caching if you take the config from the development branch. Take a look at this reply: https://github.com/tymondesigns/jwt-auth/issues/147#issuecomment-123103861

[2015-08-24 06:52] #224 closed

[2015-08-24 08:15] astroanu commented on #224
That did the fix, however default config.php of this repo should not use closures then.

[2015-08-24 08:45] kylestev commented on #224
Agreed. There hasn't been a release of the package with the new config yet, unfortunately.

[2015-08-24 10:51] kennyyap92 opened #225 "Could not create token: The algorithm 'ECDSA' is not supported for OpenSSL"
Dear all, I would like to check if anyone is facing any issue when creating a token and being prompt with not supported algorithms? I have tried with the base algo HS256, HMAC, ECDSA and all return me with invalid algorithm.

I also have a running question in [stackoverflow](http://stackoverflow.com/questions/32175890/php-jwt-algorithm-is-not-supported-for-openssl) on the related issue. Hopefully

[2015-08-24 17:02] tdhsmith commented on #225
Hrm, that error is stemming from within Namshi/JOSE, specifically [`JWS->getSigner()` on line 189](https://github.com/namshi/jose/blob/master/src/Namshi/JOSE/JWS.php#L189). That seems to indicate that it can't find the class `Namshi\JOSE\Signer\OpenSSL\ECDSA`, despite that it's [included with the package](https://github.com/namshi/jose/blob/master/src/Namshi/JOSE/Signer/OpenSSL/ECDSA.php).

I'm ki

[2015-08-24 17:49] th3m477 commented on #167
Hi @tymondesigns

I see that this should support RS256 (Public<>Private key pair), however no tests are currently available. To try to decrypt a valid JWT I'm setting the config secret to my public key as "----BEGIN PUBLIC KEY---------........----END PUBLIC KEY------", and the algo correctly. I'm getting a "token_invalid" response. I also tried using openssl_pkey_get_public() to provide a resource

[2015-08-24 19:11] tymondesigns commented on #225
looking at your SO post, it appears you trying to use `HMAC`.

The reason you get the error is becuase it is an abstract class, and so is `ECDSA` in fact.

You would need to use the algorithms that extend those sub classes, e.g. `ES256` and `HS256`.

Maybe try HS256 again. Seems weird that wouldn't work for you

[2015-08-24 19:11] #225 closed

[2015-08-25 03:13] kennyyap92 opened #226 "Custom token claim with additional payload"
Hello tymon, would like to apologies at first because i am not very familiar with jwt but I have managed to solve my previous invalid algo problem, but i face another problem whereby i understand that in the jwt config file i can manually specify the user identifier, which is all fine and i can manage to create a token and get the user by using JWTAuth::toUser($token). What I would like to ask is

[2015-08-25 06:07] tdhsmith commented on #201
![image](https://cloud.githubusercontent.com/assets/1791252/9459832/860d7370-4ac5-11e5-9b01-d4f78751209f.png)

[2015-08-25 18:55] tdhsmith commented on #226
You can attach the UUID as a custom claim before the token is generated. Assuming you're using `fromUser`...

For **≤ 0.5.4**:
[code]
For **develop**:
[code]

If you're using the factory directly, similar methods exist (eg `$payloadFactory->addClaim('uuid',$uuid);`).

Once the token is received and decoded by your javascript JWT library, you'll find the UUID in the resulting JSON payload under the

[2015-08-25 23:09] kennyyap92 commented on #226
@tdhsmith Thank you so much. This is what I really needed. One more question, can i check with you, if I understand the module correctly, whenever the server receive a request that has to be processed and authenticated by the jwt module, it uses the 'sub' field of the token which is technically the user_id and then using the default laravel authentication to authenticate a user by their user_id ri

[2015-08-26 02:18] tdhsmith commented on #226
Yes you are correct!  And it sounds like you should really be using the UUID as your subject claim and not include the primary key anywhere, if you want to keep the id secure. By setting `identifier` (and potentially `user`) in the JWT configuration, you can change what field and model the helper methods use in subject claims.

Once you change that, `toUser`, `fromUser`, and `attempt` should all w

[2015-08-26 02:38] jimmck opened #227 "Doc for Custom Authentication drivers"
Hi,
Is there any extended doc for writing my own driver?  I don't want to use Laravel Eloquent or its User tables.  Also any doc on the various claims etc??

Nice stuff.  Got it basically working, can create, authorize and refresh a token.  Strictly Proof of Concept.

Using a token to guard a GET call to get a new CSRF token for the dreaded token mismatch exception.  Plays havoc with single page a

[2015-08-26 03:42] kennyyap92 commented on #226
Alright @tdhsmith I will try to implement it and then update you the results...

[2015-08-26 07:03] tymondesigns commented on #227
You should find some basic information about the claims in the [wiki](https://github.com/tymondesigns/jwt-auth/wiki/Creating-Tokens). As for more on custom Auth drivers, that will come with the new release when I finish the documentation.

But to put it simply, you just need to implement the [Auth Contract](https://github.com/tymondesigns/jwt-auth/blob/master/src/Providers/Auth/AuthInterface.php)

[2015-08-26 12:47] tommy7600 commented on #221
I used this answer: https://laracasts.com/discuss/channels/laravel/laravel-51-disable-session-and-cookies-for-some-routes

[2015-08-26 12:47] #221 closed

[2015-08-26 14:47] shivekkhurana commented on #186
@kylestev : I tried the suggested workflow but it gives a 400 error. (I generated a new token and tried to refresh it)

Here's the route :
[code]
and response :
[code]

[2015-08-26 18:59] tdhsmith commented on #226
You should be able to override the default by passing it in as a custom claim, just like I did in with the `uuid` claim in the first response.
[code]
I don't think JWTAuth uses that claim for anything, so you should be able to set it to whatever you like without repercussions on this side. ([The spec](https://self-issued.info/docs/draft-ietf-oauth-json-web-token.html#rfc.section.4.1.1) says the us

[2015-08-26 20:37] #143 closed

[2015-08-26 22:33] #227 closed

[2015-08-26 23:09] jimmck commented on #227
Thanks for the response Sean!

[2015-08-27 01:09] kennyyap92 commented on #226
@tdhsmith  sorry for the late reply, it takes me some time to figure out how the workflow is but i somehow came up with this. The code is pretty much a modification of the base middleware but i've added support to send the user their new refreshed tokens via response headers so they can catch it in the client side application. I am not very sure if this is the best approach and if it has any secur

[2015-08-27 15:17] ken8203 opened #229 "Class jwt-auth does not exist"
Hello,

I put 'jwt.auth' in the middleware of api's controller like:
[code]

But when I request the api, I got an error:
[code]

I've modified  `Kernel.php`. Did I miss any configuration?

Thanks a lot!

[2015-08-27 16:07] tdhsmith commented on #229
Did you add `'Tymon\JWTAuth\Providers\JWTAuthServiceProvider'` to your providers array in app.php?  (bottom of first section on the [installation page](https://github.com/tymondesigns/jwt-auth/wiki/Installation))

[2015-08-31 18:30] francoismart opened #232 "bcrypted password"
Hello
For a mobile app, I would like to store the password as bcrypted inside Keychain to avoid sending in plain text (even over https) on first attempt to login. I say bcrypt because inside laravel I can see the user's password creation is bcrypt($data['password']).
So now inside AuthController, you propose to use :
if (! $token = JWTAuth::attempt($credentials)) {
...
} I suppose JWT uses Auth bu

[2015-08-31 19:54] SeBuDesign commented on #197
@Gummibeer I have the same issue have you found a fix for it? Thanks!

[2015-09-01 17:50] Murwa opened #233 "Blacklist issue"
Guys, I just ran into this after updating

[2015-09-01 18:31] tymondesigns commented on #233
Which version?

[2015-09-01 19:36] photoart-mtlwebdev commented on #232
Hi,

I'm facing the same problem here with Laravel 5.1.

I've migrated my users with bcrypt() first, and then I tried with Hash::make().
The JWT::attempt() method fails and I get the "401 invalid_credentials" exception in both cases.

Any clue on this issue ?
Thanks a lot.

[2015-09-01 19:42] Murwa commented on #233
Dev

Sent from my iPhone

[2015-09-01 20:38] tdhsmith commented on #233
Did you re-publish the configs? If not, you may still have an old copy (which uses closures in the provider settings).

[2015-09-01 20:46] tymondesigns commented on #233
yea that will be it I think

[2015-09-01 21:55] Murwa commented on #233
Yep, working thanks!

[2015-09-01 21:55] #233 closed

[2015-09-02 05:15] ghost opened #234 "How to pass token from client to server on ajax requests and regular page requests"
Hi everyone,

I'm trying to implement this amazing package in my app but I'm having a hard time figuring out how to handle both ajax requests and full page requests.

Let me explain the situation:
I have a Laravel 5.1 based Rest API that handles authentication against a MySQL database.
I'm successfully generating and returning tokens. It resides at https://api.domain.com
I properly protect some ro

[2015-09-02 20:38] Gielert opened #235 "0.4.* Package refreshFlow issue."
When I tried to refresh an expired token that was within the refresh_ttl time, it still gave me an expired token exception. After some digging I found out that when a refresh occured that the refreshFlow on the decode was not set. I don't know if this was meant to be, but I fixed it by editing JWTManager.php on line 63, 67 and 84

[code]

[2015-09-03 19:22] tymondesigns commented on #198
this is now done on dev

[2015-09-03 19:22] #198 closed

[2015-09-04 13:25] nivv commented on #235
I have the same issue. This seems to fix it :+1:

[2015-09-05 14:16] pavankumarkatakam opened #237 "Same as \Auth::guest() or \Auth::user()"
In normal laravel application we can check the user is guest or logged in by using \Auth::guest() and \Auth::user(), is there any same functionalities in this lib like \Jwt::guest() and \Jwt::user(). if not can we implement this function by own. please tell me.

[2015-09-06 17:03] jadjoubran commented on #68
Hope this helps, in my TestCase.php I setup the token that I needed to use inside `$this->token`
and then I setup helper methods
authGet, authPost, authPut & authDelete which would call get, post, put & delete with authentication.

The trick was to append `?token=$this->token` to the url for all of these methods (as mentioned [here](https://github.com/tymondesigns/jwt-auth/wiki/Authentication))

[2015-09-07 18:24] #229 closed

[2015-09-07 18:26] tymondesigns commented on #186
@shivekkhurana are you using the latest version on this package?

[2015-09-08 14:51] francoismart commented on #232
i will never store the password
i will never store the password
i will never store the password
i will never store the password
i will never store the password
.....

[2015-09-08 14:51] #232 closed

[2015-09-08 18:45] felipedeaguiar commented on #186
Hi,
I am having the same problem , I'm using laravel 4 and have a method that updates the token but is returned token_expired , someone has been there ?

[2015-09-09 19:00] yateeshr12 opened #238 "Token generated does not have token type ["typ":"JWT"] in the header"
I followed the usage guide and generated a token after login. I checked token for validity on jwt.io debugger. It said "Invalid Signature" because the jwt header is missing token type [typ : JWT]. Could you tell me where might be the issue?

[2015-09-09 19:24] tymondesigns commented on #238
this shouldn't be possible, as seen here - https://github.com/tymondesigns/jwt-auth/blob/develop/src/Providers/JWT/Namshi.php#L36

which version are you running?

[2015-09-09 19:29] yateeshr12 commented on #238
Running Laravel 5.1

[2015-09-09 19:54] tymondesigns commented on #238
Sorry which version of this package

[2015-09-09 20:01] yateeshr12 commented on #238
It's 0.5.*

[2015-09-09 20:33] tymondesigns commented on #238
That really is strange. What code are you using to generate the token?

[2015-09-09 21:24] thenovacreator opened #239 "Reponse Codes are not correct set"
Hello Folks,

i got a bunch of issues right here. First of all i want to response with an 401 HTTP Code if no token is in the header, but i do not found a way to do this. After that i thought to just put an invalid Token if i do not have one to get this behavior. But on invalid tokens i get a HTTP 400 too.

Following your instructions to add this code:

        if ($e instanceof \Tymon\JWTAuth\Exc

[2015-09-09 22:00] thenovacreator opened #240 "Get user after auth"
Hello Folks,

after authenticating the user successfully in my application with:

    $token = JWTAuth::attempt($credentials)

I want to get the User object. I tried it the following way:

    $token = JWTAuth::attempt($credentials)
    JWTAuth::setToken($token);
    $user = JWTAuth::parseToken()->authenticate();

But it does not work. Any ideas?

[2015-09-10 05:06] yateeshr12 commented on #238
It's JWTauth::fromUser(). I'm passing a user object.

[2015-09-10 05:29] tdhsmith commented on #240
`JWTAuth::parseToken()` retrieves the token **from the request** (either the header or the URL parameters). Since you don't seem to have a request going on, that's just going to throw an exception.

Once you've set the token, `JWTAuth::authenticate()` should work alone. Or you can explicitly pass it a token with `JWTAuth::authenticate($token)`; then you wouldn't even need to set the class internal

[2015-09-10 17:14] shivekkhurana commented on #186
@tymondesigns : My composer.json shows `"tymon/jwt-auth": "0.5.*"` and I see the packagist version is 0.5.4. I set my project up just two weeks ago and 0.5.4 was released on 2015-06-23. So I guess I have the latest stable version.

[2015-09-10 17:41] tdhsmith commented on #239
While tokens _are_ authorization keys in a sense, their presence (`token_not_present`) and well-formedness (`token_invalid`) don't tell us anything about whether a user is actually authorized. Instead they are failures of communication, and fall under `HTTP 400 Bad Request`.

If you are interested in using non-standard status codes, your approach is fine. The provided middlewares are only consider

[2015-09-11 00:17] yisyang opened #241 "Getting decoded claims in the application"
##### Sorry if this question is actually trivial, but I'm not able to find instructions on how to actually use the (custom) claims added into the token.

So far I'm using
[code]
But I'm sure there must be a better way.

---

##### More details on what I have at the moment (using Lumen):

* app/Http/routes.php
[code]

* app/Http/Controllers/Test/TestController.php
[code]

[2015-09-11 01:22] tdhsmith commented on #241
Instead of `\JWTAuth::decode(\JWTAuth::getToken())`, you can just call `JWTAuth::getPayload()`. You don't have to pass it a token, because the JWTAuth class has a local copy that the middleware parsed from the request.

If you're only using one or two custom claims, it's probably simpler to get them with `$payload->get('claim_name')`. This method uses Laravel's [`array_get()`](http://laravel.com/d

[2015-09-11 05:32] yisyang commented on #241
Thank you so much for the quick and detailed response!

Would you happen to have access to the wiki? I think others may find this helpful too.

[2015-09-12 03:53] pespantelis commented on #240
You could use the `toUser` method:

[code]

[2015-09-12 18:26] itarafath opened #243 "Token expired"
token was automatically expired in approximately 30 min.how to extend the time?

[2015-09-13 06:03] pavankumarkatakam commented on #243
Just change ttl in jwt.app (config file), if you dont have config file, use `php artisan vendor:publish` command to publish packages configuration files.

[2015-09-13 06:13] pavankumarkatakam commented on #238
Yes, in my case also there is no `typ:jwt` in header part. i just checked the generated token in the [jwt](http://jwt.io/)

[2015-09-13 07:31] pavankumarkatakam opened #244 "can we invalidate a token when user logout?"
First of all, thanks to amazing work by @tymondesigns , Im using this package and it is fine, but only one question i want to invalidate token when user logout manually from the UI, so can i use code like this
[code]

So that if anybody who has previous token, if sent to server it will be in the blacklist , so it raises an exception, Am i correct? if not please tell me who to logout a user?

[2015-09-13 08:35] pavankumarkatakam commented on #244
And another question is, are you checking the token is in blacklist or not when processing the request. because in code i didn't found any code regarding checking the incoming token is in blacklist or not.

[2015-09-13 11:11] #243 closed

[2015-09-13 11:15] tymondesigns commented on #244
Yes you can use the invalidate method to add a token to the blacklist. And that is checked each time a token is decoded.

The code you are looking for is in `Manager.php` in the decode method.

Thanks

[2015-09-13 11:15] #244 closed

[2015-09-13 11:16] tymondesigns commented on #238
I will have to dig and try this out myself

[2015-09-13 15:51] itarafath commented on #243
thanks.

[2015-09-13 16:29] dorin-niscu opened #245 "ErrorException on login attempt"
I got an error on login attempt:

"Argument 1 passed to Tymon\JWTAuth\JWTAuth::fromUser() must be an instance of Tymon\JWTAuth\Contracts\JWTSubject, instance of App\User given, called in /vendor/tymon/jwt-auth/src/JWTAuth.php on line 84 and defined"

// grab credentials from the request
$credentials = $request->only('email', 'password');

try {
    // attempt to verify the credentials and create a

[2015-09-13 16:56] hoshomoh commented on #153
You should update the wiki with these information.  Almost thought the mistake was from me after wasting 6hours of my life.

[2015-09-13 17:15] tymondesigns commented on #153
@hoshomoh the wiki is being updated to coincide with the 0.6 release. Nothing is 100% final at this point, since it is still in the development phase

[2015-09-13 17:17] tymondesigns commented on #245
The user model needs to implement `Tymon\JWTAuth\Contracts\JWTSubject` in the new version. This is where you define the subject claim, and any custom claims

[2015-09-13 17:17] #245 closed

[2015-09-13 19:33] dorin-niscu commented on #245
Well, it works fine now. Thanks!

<?php

namespace App;

use Cartalyst\Sentinel\Users\EloquentUser;
use Tymon\JWTAuth\Contracts\JWTSubject;

class User extends EloquentUser implements JWTSubject
{
    /**
     * Get the identifier that will be stored in the subject claim of the JWT
     *
     * @return mixed
     */
    public function getJWTIdentifier()
    {
        return $this->getUserId();

[2015-09-14 07:16] marvinosswald opened #246 "token_not_provided when testing on AWS"
It's seems that my token never gets passed to my laravel application...

Any Ideas ? Known Issues with AWS ?

[2015-09-14 07:28] marvinosswald commented on #246
WSGIPassAuthorization On wasn't set in EB Apache Config...

http://stackoverflow.com/a/25862505/1577384

[2015-09-14 07:28] #246 closed

[2015-09-14 16:04] pavankumarkatakam opened #247 "How to use refresh token middleware."
Im creating a project with laravel and angular, by wiki if we keep refresh token middleware, each token is valid for only one request, but in my angular app there may be 2 or more requests to laravel asyncronusly, in that case what i want to do, but i want to use refresh token to avoid user always authenticating.

[2015-09-14 19:34] tdhsmith commented on #247
It sounds like you want to have multi-use tokens, but that would require not refreshing on every request.

Why? To avoid querying the DB?

[2015-09-14 19:36] pavankumarkatakam commented on #247
I mean, i dont want to show every time login page to user.

[2015-09-14 19:43] tdhsmith commented on #247
I'd recommend starting out with this flow then:

1. Use the `GetUserFromToken` middleware on all protected routes.
2. After `ttl` time, this will return `token_expired`.
3. When the client receives `token_expired`, have it connect to a special route (for example, `/refreshToken`) that uses the `RefreshToken` middleware.
4. When the client receives the new token, save it and retry all the failed re

[2015-09-15 16:34] pavankumarkatakam commented on #247
Yeah, now i understood that we want to make `refresh url` seperatly and make use of it.

[2015-09-15 20:19] SeoRoman opened #248 "Capitalization on Mac throws error of invalid token?"
Line 215-216 of JWTAuth.php

protected function parseAuthHeader($header = 'Authorization', $method = 'Bearer')
    {
        $header = $this->request->headers->get($header);

       if (! starts_with(strtolower($header), $method)) {
            return false;
        }

        return trim(str_ireplace($method, '', $header));
    }

You drop the header to lowercase, but the $method remains "Bearer"

[2015-09-15 20:46] yateeshr12 commented on #238
I found that *typ:jwt is not present in the file named NamshiAdapter.php located at \vendor\tymon\jwt-auth\src\Providers\JWT\ . Only 'alg' => $algo is present. The version I installed is " 0.5.* " for Laravel 5.1

[2015-09-15 21:23] tymondesigns commented on #238
ah yes, you are right, looks like this this was somehow left in.

It's fixed now in version `0.5.5`

[2015-09-15 21:23] #238 closed

[2015-09-15 21:28] #247 closed

[2015-09-15 21:28] #240 closed

[2015-09-15 21:30] tymondesigns commented on #239
As @tdhsmith has said, the included middleware simply offers an example use case, and thus is definitely not a perfect fit for every application. So you should implement your own

[2015-09-15 21:30] #239 closed

[2015-09-15 21:33] #226 closed

[2015-09-15 21:35] tymondesigns commented on #117
You guys will need to implement your own middleware for this. Just catch the exceptions and return responses as you see fit

[2015-09-15 21:35] #117 closed

[2015-09-15 21:36] tymondesigns commented on #127
closing as lots changed over on develop.. things should be simpler and clearer in the new release

[2015-09-15 21:36] #127 closed

[2015-09-15 21:37] tymondesigns commented on #161
will be updating docs regarding testing methods coinciding with the new release

[2015-09-15 21:37] #161 closed

[2015-09-15 21:40] #183 closed

[2015-09-16 00:18] codeorganic commented on #127
nice

[2015-09-16 09:42] marvinosswald opened #249 "Use custom url parameter"
Is it possible to use a custom url parameter as argument to parseToken ?
I'm trying to pass a custom token from laravel to angular to laravel, which has nothing to do with user authentication but is needed to auth a user to claim ownership of an element.

So the endpoint /assignElement gets the Authorization Header and a url parameter called `assignToken`.

Now I just need to decode that `assignTo

[2015-09-16 18:28] tymondesigns commented on #241
i'll make sure this stuff is covered :+1:

[2015-09-16 18:28] #241 closed

[2015-09-16 19:37] kmassada opened #250 "Class Tymon\JWTAuth\Providers\JWT\Namshi does not exist"
app.php has service provider

[code]
and aliases

[code]

I'm attempting to login by setting up this route
[code]

and this function
[code]

and I get the following error
ReflectionException in Container.php line 736: Class Tymon\JWTAuth\Providers\JWT\Namshi does not exist

[code]

**Version**
[code]

[2015-09-16 20:01] kmassada commented on #250
was using ::class in my config, renamed config name, and ran

[code]

[2015-09-16 20:01] #250 closed

[2015-09-16 21:39] jlien-calwater commented on #237
@pavankumarkatakam this is already built in.

https://github.com/tymondesigns/jwt-auth/wiki/Configuration#user-model-path---user

If you have name the User model differently you can update it in the jwt.php configuration.

![image](https://cloud.githubusercontent.com/assets/3473846/9919222/49afe72e-5c80-11e5-90ba-53262edead36.png)

To retrieve the authenticated user after logging.

[code]

Taken f

[2015-09-17 04:44] Deno028 opened #251 "Is there a way to store token in db for more persistent and update ttl every request?"

[2015-09-17 07:32] tymondesigns commented on #251
This is something you would have to implement yourself, as it goes against the fact that jwt's are meant to be stateless.

Why do you think is this necessary?

[2015-09-17 08:13] villaloboswtf opened #252 "Documentation error"
While implementing JWT in Laravel 5, I was trying to catch exceptions by the not-global way, as documented [here](https://github.com/tymondesigns/jwt-auth/wiki/Authentication), but for some reason, the exceptions were never caught. After research I found out that documentation is missing a backslash, so instead of
[code]
a backslash is needed before declaring the exception class, so it would becom

[2015-09-17 10:45] Deno028 commented on #251
Thanks Tymon but I want to store the refresh token in db. How do you think? How can I get the refresh token after login successfully? Thank you!

[2015-09-17 21:06] rlugge commented on #206
I've experienced the same issue.

Route works when manually tested, headers are sent in testing, but JWT-Auth mysteriously never read them.  Did a bunch of debugging, determined that for some reason the request wasn't being properly set insite JWT-Auth.

Workaround was to add this to my controller:

    public function __construct(){
    	if ((\App::environment() == 'testing') && array_key_exists(

[2015-09-17 21:09] rlugge opened #253 "Invalidation call breaks tests"
I'm building up a decent test suite for my app, and I just got around to my logout route.  Unfortunately, the logout route breaks a random selection of my other tests.

	public function logout(){
		$this->authenticate();
		\JWTAuth::Invalidate(\JWTAuth::getToken());
		return response()->json(['status'=>'logged out']);
	}

The route performs properly, but causes my other tests to break.  If I comme

[2015-09-18 06:26] IvanKalinin commented on #81
I added
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]
into my .htaccess in public, but
token not provided still

[2015-09-19 21:24] tdhsmith commented on #253
How exactly are the other tests breaking?

The Blacklist uses whatever Cache driver you have configured, which defaults to `file`. I'm not sure whether Laravel test cases clear this or not between tests; it's possible there's some data sticking around and you may need to find a way to clean it in your tear down. (If this is true and you're giving tokens with the exact same `jti` claim in later tes

[2015-09-20 05:49] LiamHaworth opened #254 "JWT Configuration breaks config caching"
The laravel app I am currently developing makes use of route and config caching to boost performance but we started running into problems once I introduced the `jwt-auth` dependence.

I have run the command suggested in the wiki to produce the JWT config file and that work all fine and dandy. But once it is deployed to the server and the config cache is generated it bails with the following error

[2015-09-20 15:46] tdhsmith commented on #254
You should be able to replace the closures with string or `::class` format names. Copy [the config file on the develop branch](https://github.com/tymondesigns/jwt-auth/blob/develop/config/config.php#L106), but substitute class names as necessary (`...\Auth\Illuminate` and `...\Storage\Illuminate` on the develop branch are called  `...\Auth\IlluminateAuthAdapter` `...\Cache\IlluminateCacheAdapter`

[2015-09-21 01:20] skcin7 opened #255 "How can I make it so protected route will continue as usual, if a user is not logged in?"
One of my routes is protected with the "jwt.auth" middleware. However, there are circumstances in my app where the route will be accessed by a user that is not logged in. Normally, JWTAuth returns HTTP 400 error with JSON that says "token_not_provided". How can I make it so that the route will continue as usual, if a user is not logged in?

[2015-09-21 01:52] skcin7 commented on #255
Nevermind. I figured out a solution to this answer, with help from [what mmichaelbiz posted here](https://github.com/tymondesigns/jwt-auth/issues/103).

I added my own middleware to app/Http/Kernel.php:

[code]

Then, I added the file app/Http/Middleware/JwtCheck.php that mmichaelbiz wrote:

[code]

Now, I have the 'jwt.check' middleware available whenever I want to check to see if a user is logge

[2015-09-21 02:15] #255 closed

[2015-09-21 16:23] rlugge commented on #253
This turned out to be exactly the issue.  Thanks.  Just had to add a call to `Cache::flush();` in my setup method.

[2015-09-21 16:23] #253 closed

[2015-09-21 18:01] #254 closed

[2015-09-21 18:02] tymondesigns commented on #255
`jwt.check` has already been added on the develop branch [here](https://github.com/tymondesigns/jwt-auth/blob/develop/src/Middleware/Check.php)

Thanks for the sentiment :)

[2015-09-21 18:04] tymondesigns commented on #253
@rlugge It would be better calling `JWTAuth::getBlacklist()->clear();` to keep the abstraction in place. Meaning you wouldn't have to refactor if you no longer wanted to use laravel's caching system to drive the blacklist

[2015-09-21 18:14] rlugge commented on #253
Thanks.  Wish the documentation better covered this and other testing issues!

[2015-09-21 18:36] tymondesigns commented on #253
Its coming

[2015-09-21 18:37] tdhsmith commented on #253
Ah didn't know about that method; should've poked around Blacklist more. Thanks @tymondesigns!

[2015-09-21 20:03] skcin7 commented on #255
Are you planning to add it to the master branch?

I did a 'composer update' but I'm not sure how to get the develop branch version into my project.

[2015-09-23 07:21] DesmondPang opened #256 "Why session is created when login?"
Token authentication is designed for authentication without storing session in server. I found that there is a session file created in storage/framework/sessions directory. Is it the same kind of session as basic auth or default auth in Laravel?

[2015-09-23 07:24] tymondesigns commented on #255
Afraid not. You can install the dev version by requiring `0.6.*@dev` in your composer.json though

[2015-09-23 08:05] tymondesigns commented on #256
jwt-auth doesn't do anything with a traditional session. You will need to disable laravel's session, see here - https://laracasts.com/discuss/channels/general-discussion/api-disabling-sessions-and-csrf?page=1

[2015-09-23 08:05] #256 closed

[2015-09-23 08:07] DesmondPang commented on #256
Thank you so much!

[2015-09-23 14:42] ruscon commented on #186
bug +1

[2015-09-24 16:44] botke opened #257 "Update a JwtCheck middleware"
Could be worth updating a JwtCheck middleware. This can be included on routes where you do not want to exclude guests so do not want to throw the exceptions if there is not authentication token provided, but if it is continue with authentication and in both cases continue with request.

Once this middleware has been added to Laravel controller you will be able to check if token is provided or not

[2015-09-24 18:09] tymondesigns commented on #257
This has already been added on the develop branch, see #255

[2015-09-24 18:09] #257 closed

[2015-09-24 19:49] oleynikd opened #258 "[Question] Max tokens per user"
Hi,

First of all thank you guys for such a great tool!

Is there any way to limit number of valid tokens per user? I need to implement feature to disallow users to login more then 10 times simultaneously...

Thanks.

[2015-09-24 23:28] jlien-calwater opened #259 "Is there a way to return token generated from 'jwt.refresh' middleware?"
Something like this?

[code]

[2015-09-25 04:06] tdhsmith commented on #259
You could create your own version of [the RefreshToken middleware](https://github.com/tymondesigns/jwt-auth/blob/master/src/Middleware/RefreshToken.php) that refreshes _before_ the action (i.e. before `$next()`) and sets the local token. Haven't tested it, but something like:

[code]

With something like that, the token would then be available within the controller through `JWTAuth::getToken()`.

[2015-09-25 16:44] jlien-calwater commented on #259
@tdhsmith thanks for the response!

I've been having trouble extracting the new authorization token that is being returned from the jwt.refresh from angular $http. So I am returning the token in the response body instead.

[code]

Which is really dumb of me (was in a hurry) since a new token is being returned with jwt.refresh. Digging into the angular documentation I found that I was calling the h

[2015-09-25 16:44] #259 closed

[2015-09-25 17:58] tdhsmith commented on #259
I totally understand. I'm working with an Angular front-end too, and getting our interceptors to catch the new token and replace the local copy in the right way was a pain, especially when you factor in trying to resend all the requests that failed due to expired token...  :dizzy_face:

[2015-09-25 20:28] tdhsmith commented on #258
There isn't a built-in mechanism, but you could add your own logic to store tokens to a table of user tokens and check that table every time someone attempts a new log-in (you'd want to check the Blacklist periodically too, depending on how you want to handle expired tokens).

[2015-09-25 20:57] jlien-calwater commented on #259
@tdhsmith did you get that working?

I thought about your route, but decided to avoid it due to it's complications. However, I did come up with a different approach.

JWT token requires a client request where the server side validate the credentials.
With that said, the same is true for refreshing the token.

The solution I came up with is to refresh to token 1 minute before the token actually exp

[2015-09-27 10:09] TheGhoul21 commented on #186
using PHPUnit the Request of JWTAuth goes missing. I needed to make a manual call to

[code]
in order to have the refresh flow work.

[2015-09-28 08:01] kcalliauw opened #260 "JWTAuth::fromUser() must be an instance of Tymon\JWTAuth\Contracts\JWTSubject"
Hi,

I'm currently testing out the develop branch, as it was referenced in a ticked #127

When hitting the attempt method (through the Facade) with basic credentials, I'm getting an ErrorException thrown:

[code]

Am I doing something wrong or is the current state of the develop branch broken?

Cheers,
K

[2015-09-28 08:57] tymondesigns commented on #260
The new version requires you to implement `Tymon\JWTAuth\Contracts\JWTSubject` ([here](https://github.com/tymondesigns/jwt-auth/blob/develop/src/Contracts/JWTSubject.php)) on your user model. You must then add the required methods, which are `getJWTIdentifier()` and `getJWTCustomClaims()`

[2015-09-28 08:57] #260 closed

[2015-09-28 08:58] kcalliauw commented on #260
aha, ok, makes sense, I'll try that!

[2015-09-28 09:02] shraddhabanerjee opened #261 "Remember Me and Forgot Password functionality in JWT Auth"
Hi,

I have used JWT Auth for logging in my users to the application. But there is no information about how to give facility to users to remember them on the site and how to reset password when password is forgotten. There are ways to do this with laravel inbuilt authentication, but cant figure out how to do the same with JWT Auth. Does JWT Auth use Auth\Guard.php or is there anything else I need

[2015-09-28 14:27] BrettTrotter opened #262 "Lumen not picking up Authorization header"
I'm using Lumen 5.1 behind Apache 2.4 over HTTPS.

$request->headers did not have the Authorization header in it. I found http://stackoverflow.com/questions/26256730/slimframework-request-headers-don%C2%B4t-read-authorization/26285310#26285310 which lead me to look at the apache request headers, which does have the header.

I ended up editing the classes locally to account for that, but was wonder

[2015-09-28 14:49] BrettTrotter commented on #262
Hm.

https://github.com/laravel/framework/issues/6482

[2015-09-28 16:24] youyi1314 commented on #251
Hi @Deno028 ,
You may get the refreshed token from header
![image](https://cloud.githubusercontent.com/assets/8391468/10141680/78ff16a2-6640-11e5-9b91-ba4aea71118a.png)

[2015-09-28 19:27] gweiss27 opened #263 "ParseUser Adapter for this repository"
I use your repository with the Parse.com platform and right now it does not support ParseUser tokens.  I have created a very simple ParseUserAdapter that works with the Parse API to allow creating tokens.  I am submitting this issue and would like to submit my provider to add to the overall project.

Thanks,

Greg

[2015-09-29 05:40] webkenny commented on #240
I've tried every combination of possible token retrieval to get a user and it always comes up false. I'm using it in a constructor function for a parent Endpoint class in an API like so...

[code]

I've also tried: `JWTAuth::toUser(JWTAuth::getToken())`

As well as a few others I'm forgetting at this point. :)

The token returns fine. When I dump the contents of the getToken call or the parseToken

[2015-09-29 05:43] webkenny commented on #188
FWIW, this doesn't seem to work in my install. I use the middleware but calls to `Auth::user()` return null. The only exception here is I am doing this in a controller class that is a parent of other controllers to house common methods and properties.

[2015-09-29 07:19] tymondesigns commented on #240
@webkenny What version of this package are you using ?

[2015-09-29 13:04] #258 closed

[2015-09-29 14:15] rleger commented on #83
:+1:

[2015-09-29 14:49] youyi1314 commented on #83
same here, sometime it work perfect , but sometime it become invalid, may i know where is the problem?

[2015-09-29 15:34] BrettTrotter opened #264 "Request: add function to return JWTAuth's $this->auth"
I'd love a function that would let me get at ->auth or ->auth->user() from the JWTAuth instance.

If I could call JWTAuth::user() or something to that effect, that would be fantastic.

Your function could be something pretty simple (or something more readable):

[code]

Do you have a philosophical objection that caused it to be left out in the first place, or is there another way to access that?

[2015-09-29 15:43] tymondesigns commented on #264
this has already been added on the develop branch [here](https://github.com/tymondesigns/jwt-auth/blob/develop/src/JWTAuth.php#L240-L248), so you can expect that with the next release :+1:

[2015-09-29 15:43] #264 closed

[2015-09-29 15:46] BrettTrotter commented on #264
Beautiful sir, thanks!

[2015-09-29 18:01] tdhsmith commented on #259
That'll work okay, but there are a few edge cases, like a user returning to the site with less than a minute on their token. Then you aren't going to catch the error. Also you're not initiating your second refresh attempt immediately, so if a user navigates to a new page (or any action requiring an api call) after the first failure but before a minute has elapsed, you'll also be in an invalid toke

[2015-09-29 18:11] tdhsmith commented on #259
Yes we did get ours working, but it certainly has some complexity underneath. Our front-end is completely dumb to the JWT contents, so we're not using any token library. Thus we already had to use an interceptor to attach the token to our requests. From there we figured it would be best to have a single unit / point-of-failure (the interceptor) handle all token logic. We also didn't want to use ti

[2015-09-29 18:31] tdhsmith commented on #83
@TrustOkoroego Isn't it sufficient to set the `ttl` to a very high number? For example, 6 million minutes is over 10 years, and it's unlikely anyone would be frustrated with logging in once a decade. You don't have to use refreshing if you don't wish to, but permanent tokens are less secure for users because it means that if a device is lost, the account is completely compromised (_unless_ you kee

[2015-09-30 00:06] athad opened #265 "Same JTI for Different Tokens"
I'm currently using the jwt.refresh middleware with Dingo API. I have a problem in that JWT Auth seems to be generating the same JTI in two different contests. I set up a logging message in the JWTManager::decode method and I see this:

[2015-09-29 23:52:53] local.INFO: {"iss":"http:\/\/192.168.56.102\/api\/files", <redacted, same in both tokens>, "exp":"1443574373","iat":"1443570747","nbf":"14435

[2015-09-30 00:12] athad commented on #265
I just found that the JTI only depends on the sub and nbf fields; this seems wrong, it basically says that requests for two different API pages will blacklist each other!

[2015-09-30 00:14] athad commented on #265
There should also be some randomness involved since multiple API requests by the same user might arrive in the same second and generate the same timestamp - refreshing the same page quickly does that.

[2015-09-30 04:24] bwaaaaaa commented on #192
@tymondesigns thanks for adding this on the next release. This feature is needed on mobile apps  :+1:

[2015-09-30 07:14] tymondesigns commented on #265
This has been fixed on the develop branch. New release coming as soon as I finish the documentation.

Thanks

[2015-09-30 07:14] #265 closed

[2015-09-30 07:15] tymondesigns commented on #265
You can use it now via `0.6.*@dev`. Things won't change much now

[2015-09-30 07:35] youyi1314 commented on #186
Hi @tymondesigns
Laravel version is 5.1
JWT-auth version is 0.5.5
I facing same problem with :
middleware'=> ['before'=>'jwt.auth','after'=>'jwt.refresh'],
it work refresh for 1 or 2 time, than it refresh an invalid_token.
Thanks

[2015-09-30 13:32] jadjoubran commented on #192
Is there another issue to track the progress of this feature?

[2015-09-30 15:44] #179 closed

[2015-09-30 17:26] mirague opened #267 "Cannot Invalidate Token in Test environment"
The test
[code]

The logout endpoint
[code]

However, the `api/me` endpoint actually returns the user linked to the token, but this does not happen when I execute these calls manually using Postman.

When I do `$this->get('api/me', $headers)->dump();` instead, it shows me the below instead of giving a `TokenBlacklistedException ` exception:
[code]

Any idea what I'm doing wrong?

[2015-09-30 17:32] mirague commented on #261
JWT is not responsible for this; it provides "stateless authentication" for a User but the actual authentication is still handled by Laravel under water.

[2015-09-30 17:46] tdhsmith commented on #267
Quick questions that might help answer:

- What version are you on? 0.5.5?
- What middleware do you have on `api/me`?
- How is your auth controller calling `invalidate`?

[2015-09-30 19:52] beardyco opened #268 "Check if Token exists & is valid"
I want to detect in my Controller if a token that is passed to a Route (that does not require Authentication) is valid.

[code]

If I try the script above with a valid Token, it works and returns ` $token = str_replace("Bearer ", "", $request->header('Authorization'));`

But if I send an invalid Token I get an error:

Is there another way of checking if a token has been passed and if it is actuall

[2015-09-30 20:20] mirague commented on #267
Thanks for your amazingly swift reply! I appreciate it tremendously.

* I use version `"tymon/jwt-auth": "^0.5.5"`.
* The `api/me` endpoint is covered by the `api.auth` and `jwt.refresh` middleware.
* I posted a snippet with the controller method `logout` that handles the `invalidate` method in the first post.

[2015-10-01 07:05] shraddhabanerjee commented on #261
@mirague Thanks for the reply.
So you mean I need to use Laravel authentication if I need remember users functionality on my site?
Or I can use JWT Auth for login and use the laravel inbuilt authentication for remember me functionality.

I have:
 if (! $token = JWTAuth::attempt($credentials)) {
                return response()->json(['error' => 'Please check the username and password'], 401);

An

[2015-10-01 11:44] mirague commented on #261
The client needs to store the token locally, in for example a cookie or local storage.

This is the API-endpoint I use in one of my projects. With the client I `post` to `api/auth` with the user's `email` and `password`, if successful it will return a JSON response with `"token": "ey.."`, this is what you store locally and on every request after you send the token with the `Authorization: Bearer <

[2015-10-01 12:37] MnMTech opened #273 "Default Claims overriding Required Claims config"
I am unable to remove the exp() claim by changing the required_claims value in the jwt configuration file. It appears as if in PayloadFactory->buildClaims() the configuration is never read and the hardcoded set of default claims are always used.

[2015-10-01 12:39] MnMTech opened #274 "No way to change the TTL value or the expiry date on a custom token"
When using the JWTFactory facade its not possible to change the expiry on a per token basis. Would be good to pass a value to exp() to amend this.

[2015-10-01 12:56] MnMTech commented on #274
Solution to this is to adjust the ttl via Config before calling JWTFactory::make();

[2015-10-01 12:56] #274 closed

[2015-10-01 13:36] tymondesigns commented on #274
just fyi... this is possible on the develop branch, any custom claims will overwrite the default ones

[2015-10-02 02:15] jepezi opened #275 "Avoid query DB"
This is not really an issue but a question about strategy for protected route. I'm using Laravel for api server and have a react app on the front on my personal project for learning purpose. I use the `GetUserFromToken` middleware for protected routes. Everything works great. From my understanding, every time auth user hits the protected route, the middleware finds token in the request and queries

[2015-10-04 04:45] BrettTrotter commented on #262
I just changed servers and even the above doesn't work with the new server that's substantially similar. I'm not sure what the responsible difference is.

[2015-10-04 04:51] BrettTrotter commented on #262
https://github.com/tymondesigns/jwt-auth/wiki/Authentication

Solved it for me. Just discovered your wiki.

[2015-10-04 04:51] #262 closed

[2015-10-04 08:56] francoismart opened #276 "refresh, blacklist, logout"
Hello

From a mobile app as client, I use a laravel api as server with 1 route group having [jwt.auth, jwt.refresh]. it works.

To be able to login, I've put the /login, /logout and /refresh outside the group.

If it's non standard and I need a better way please let me know.

My question then is this

If I put  JWTAuth::invalidate(JWTAuth::getToken()); inside my logout, then the token is blacklist

[2015-10-04 22:02] deepslux opened #277 "Maximum function nesting level of '100' reached"
Hi,

I am having an issue of "Maximum function nesting level of '100' reached" for below cases:
1. Upon calling JWTAuth::parseToken() withn DB::transaction(function() { .... });
2. Upon calling $user->save() or User::create([$user_array]) which somehow lead to JWTAuth::parseToken() as well.

It was working fine previously. I suspect it could be due to after a composer update from any of the vendor

[2015-10-04 22:11] tymondesigns commented on #277
which version of this package are you using?

[2015-10-04 23:02] deepslux commented on #277
I tried both 0.5.5 and 0.5.4 but both giving me same issue. From my stack trace, do you notice anything wrong with my setting?

[2015-10-05 10:21] ValdasK opened #278 "0.5.5 - invalidated token can be refreshed"
I'v noticed that tokens which are created and invalidated can be refreshed, and this is a bug.

`Blacklist` class, method `add`: blacklists token only for its lifetime, not lifetime with refresh duration included, therefore scenarios like that are available:

(1 min ttl, 20160 refresh_ttl)

token created -> invalidate token -> wait for 1 minute -> ask for token refresh -> new token.

This case sho

[2015-10-05 17:49] tymondesigns commented on #192
@jadjoubran I have now added this on the develop branch, you simply need to set `null` as the ttl, and as a result the token will not contain an `exp` claim

[2015-10-05 17:55] tymondesigns commented on #278
This has been fixed on the develop branch, which will be the upcoming `0.6` release. Of course you're free to test it out now via `0.6.*@dev` version

[2015-10-05 17:55] #278 closed

[2015-10-05 20:14] jadjoubran commented on #192
@tymondesigns that's great news!

1. Let me know if you want me to test a certain aspect of this
2. Would you mind briefly explaining the security behind this? Does it make it insecure if we're setting the ttl to null? Maybe there's a way to refresh the token everyone and a while?
3. I'm working on an out of the box integration with your package [here](https://github.com/jadjoubran/laravel5-angula

[2015-10-06 11:46] shraddhabanerjee commented on #261
Thanks a lot for the reply @mirague.

My authenticate function is just same like yours.

But I need something like this,

public function authenticate(Request $request)
    {
        $credentials = $request->only('email', 'password', 'remember_token');

        try {
            if (! $token = JWTAuth::attempt($credentials)) {
                return response()->json(['error' => 'Please check the u

[2015-10-06 12:14] jidesakin commented on #184
@tymondesigns I'm having a similar issue with @OFranke. I'm using a different model which I have set in jwt.php. However, credentials exist in the database - "vendors" table but JWTAuth::attempt($credentials) keeps returning false.

Kindly help with troubleshooting.

   /*
     * Authenticates the vendors | login  */
    public function login (request $request) {
        // Gets the vendors creden

[2015-10-06 12:21] OFranke commented on #184
If you are using Laravel make sure that the user passwords stored in the database are hashed with the Laravel algorithm.
Also make sure that you defined your custom user table in the laravel config.

Best regards,
Oliver

[2015-10-06 12:25] jidesakin commented on #184
Thanks for your prompt reponse @OFranke I actually used bcrypt for the password and Config::set('auth.model', 'App\Vendor');
        Config::set('auth.table', 'vendors'); sets the model and table. I've checked all I need to do but all it's still not authenticating.

[2015-10-06 13:17] Fossil01 opened #279 "Can this package be used for the client side? Using external API which provides the token."
I'm using Laravel 5 for a front-end app and need to be able to log users in using an external API which returns a JSON Web Token.

Could anyone give me some pointers on where to start? I guess I would need a custom auth driver/provider?

[2015-10-06 14:41] #279 closed

[2015-10-06 14:42] Fossil01 opened #280 "Get payload without signature?"
It should be possible to look inside the token to get the payload without having the signature. Just like JWT.io does.

How is this done with jwt-auth because it keeps complaining it could not verify the signature when trying to decode it but it doesn't even need one.

[2015-10-07 17:00] jasmad commented on #261
Hi, this library is awesome.
I am searching for the *Remember Me* approach.
I have seen in JWTAuth class that the method *attemp* has a second param, *$customClaims*
[code]
It can be used to make the call as said in the docs? http://laravel.com/docs/5.0/authentication#authenticating-users
[code]

[2015-10-08 21:54] Hebilicious opened #281 "jwt.io says that token got 'Invalid Signature'"
I'm using Postman to test out this package.
Everything is working correctly, except for this bug on the jwt.io debugger.

I'm using JWTAuth::attempt($credentials) to issue the token.
Dumping credentials return this array :  [ "email" => "usermail@yahoo.com", "password" => "secret"].

The token works fine, only the signature is invalid.

I'm using the latest versions :
tymon/jwt-auth v5.5, laravel/

[2015-10-08 22:21] juniorov commented on #261
did anyone fix this functionality?

[2015-10-09 01:04] CLOUGH opened #282 "Invalidating all token for a User"
Hi, I was wondering if it is possible to invalidate all the tokens associated with a user. Im trying to have the user be logged into one place at a time. So if the user submits their credentials/login again it should invalidate all the other tokens associated with that user and create a set of new valid tokens for this new login. This would happen only when user log in.

[2015-10-09 02:14] tdhsmith commented on #282
There isn't a built-in method to do this, but you could store each user's most recent token in a DB and invalidate it when a new one is generated. (#258)  See also the discussion at #97 (though as they conclude, the secret-changing idea wouldn't work)./

[2015-10-09 05:11] karan83 opened #283 "Get custom claim from token"
Hi Tymon, Is there a way to get value of custom claim from token ? Like
[code]
How get value of `foo` from token ?

[2015-10-09 07:08] tymondesigns commented on #283
[code]

[2015-10-09 07:08] #283 closed

[2015-10-09 09:04] shraddhabanerjee commented on #261
@juniorov & @jasmad
Nope. I didn't fix the functionality yet.

[2015-10-09 09:25] karan83 commented on #283
Thanks. It's working..

[2015-10-09 14:10] deepslux commented on #277
Nobody got clue?

[2015-10-09 15:20] tdhsmith commented on #281
Are you pasting your secret key into the form? The field isn't very obvious on [jwt.io](http://jwt.io), but in the blue "verify signature" section on the right there's a small box that says "secret".

[2015-10-09 15:32] Hebilicious commented on #281
I didn't notice that field, my bad.
The key is the one generated by the artisan command : jwt:generate.
Thanks @tdhsmith, I'm closing the issue :)

[2015-10-09 15:32] #281 closed

[2015-10-09 15:43] tdhsmith commented on #281
Yeah I miss it pretty much every time, haha.

[2015-10-11 00:42] Deleugpn opened #284 "Getting token_not_provided when using Authorization Header"
I read [this tutorial](http://blog.nedex.io/create-an-api-server-for-mobile-apps-using-laravel-5-1/) and I managed to make it work perfectly. The only problem is that when I switch from **?token={token_here}** to **Authorization Bearer {token here}** it stops working.
I'm using Postman and I'm writing **Authorization** in the Header field and **Bearer{white space}{token}** in the value.

I read in

[2015-10-11 10:28] argb commented on #277
I have the same issue too,don't know why,https://laracasts.com/discuss/channels/general-discussion/l5-maximum-function-nesting-level-of-100-reached-aborting/?page=1

[2015-10-11 10:33] argb commented on #220
I have the same problem too,even I use JWTAuth facade,this issue occour.

[2015-10-11 10:54] argb commented on #277
I flowed the code flow,go here $auth = new JWTAuth(
                $app['tymon.jwt.manager'],
                $app['tymon.jwt.provider.user'],
                $app['tymon.jwt.provider.auth'],
                $app['request']
            ); ,error happened ,JWTAuth constructor function.

[2015-10-11 17:02] ken8203 opened #285 "How to make a permanent token?"
Hello,

I need a permanent token for testing, how can I do it?
Thanks!

[2015-10-12 01:49] Deleugpn commented on #275
I don't know if I got it right and (also) my experience with e rest api is limited, but being stateless makes your API require to make sure that everything is in order. From my understanding, each request is a new unrelated communication. It's like the server doesn't even know what's your token is about. I see it like those places you buy a storage box, people there give you a key and you go away.

[2015-10-12 02:26] jepezi commented on #275
Thanks for your opinion. To further discuss, let's continue with your keyhole example but with my slightly different view.

What if the keyhole job is the token verification process? i.e. Key (token) is considered invalid when the verification fails (key is expired, signature is invalid, ..) In other words, I think keyhole job is about verifying the token, not the auth attempt. You have the valid

[2015-10-12 14:56] brazorf commented on #83
Experiencing this "token_invalid" issue as well.

[2015-10-12 18:17] tymondesigns commented on #235
Sorry guys, I don't have time to support laravel 4 I'm afraid

[2015-10-12 18:17] #235 closed

[2015-10-12 18:18] tymondesigns commented on #237
`JWTAuth::user();` has been added to the next release, currently `0.6.*@dev`

[2015-10-12 18:18] #237 closed

[2015-10-12 18:19] #251 closed

[2015-10-12 18:24] tymondesigns commented on #252
Fair point... I will try to make the new wiki more friendly to beginners. Thanks

[2015-10-12 18:24] #252 closed

[2015-10-12 18:26] tymondesigns commented on #268
There will be a `jwt.check` [middleware for this](https://github.com/tymondesigns/jwt-auth/blob/develop/src/Middleware/Check.php) in the new version, if you can wait a little

[2015-10-12 18:26] #268 closed

[2015-10-12 18:32] tymondesigns commented on #282
as @tdhsmith has said, this is something you would need to implement yourself.

Possibly by keeping a registry of token's issued for a user, and checking the records on each request. This is essentially the opposite of a blacklist, if you get what I mean.

[2015-10-12 18:32] #282 closed

[2015-10-13 07:13] liyu001989 opened #286 "How can I use it with lumen"
is there anyone use it with lumen?

[2015-10-13 15:01] grischka commented on #286
Yes. This worked for me: http://laravelista.com/json-web-token-authentication-for-lumen/

[2015-10-13 18:08] brazorf commented on #186
There's definitely something weird with the jwt.refresh Middleware. Like @youyi1314 said, it works sometimes, and sometimes it wont. I've followed @kylestev advice with an explicit refresh action and it seems to work fine.

[2015-10-13 19:08] tdhsmith commented on #186
Just to clarify 2 things about the intended behavior:

- The version 5.x `jwt.auth` and `jwt.refresh` middlewares are **not designed to work together on a single route**. Auth is implemented as a 'before' and refresh is implemented as an 'after', so auth will reject all expired tokens, including those that are still refreshable, before they get a chance to be refreshed. Also because it's an after,

[2015-10-14 04:03] liyu001989 commented on #286
it works, thank you very much @grischka

[2015-10-14 18:52] james-daddies commented on #284
Try setting this in your apache host config:

`Header set Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept, Authorization"`

I didn't set anything in my .htaccess file for my implementation.

[2015-10-14 19:38] Deleugpn commented on #284
Thank you very much. You saved me. I've been stuck at this for ages now. I don't remember from where I took the .htaccess configuration, but as in my post, it was missing a `*` character at `RewriteCond %{HTTP:Authorization} ^(.)`

Copying your .htaccess configuration solved my problem. No need to change anything else.

[2015-10-14 19:42] #284 closed

[2015-10-14 20:48] james-daddies commented on #206
Not sure if this is relevant in your case, but I was having the same sort of issue with a Dingo API.

In my phpunit.xml file I had to specify localhost for the API domain and then my auth headers would be picked up.

I fear that your other tests where giving false positives by checking for the response status. To be safe, I would change your asserts to `$this->seeJsonContains()` and check a messag

[2015-10-14 21:54] james-daddies commented on #284
Good to hear. The apache config I now recall was for CORS.

[2015-10-14 22:05] james-daddies commented on #261
Your API doesn't store the session (at least it shouldn't), that is where the "remember" information would be stored. JWTAuth validates username and password only and then generates a token to send back.

If you want your client application to remember the user, you have to store the token in a permanent cookie or local storage for your client application to look for and then skip the login page i

[2015-10-14 22:34] james-daddies commented on #285
You would have to set the `exp` claim to a unix-timestamp way into the future. I am sure that would cause problems at some point.

I would generate a token based upon a user object in a setUp() method in your TestCase class, then use that for your tests.

[2015-10-15 04:21] kyrenator commented on #206
+1

[2015-10-15 06:07] adkazakov opened #287 "What is the release date for package?"
Hi guys, I want to know, on what date planned the release of a new version of the package?

We really need fix type conversion for fields 'exp', 'iat' and etc.

[code]

[2015-10-15 07:31] npx commented on #280
If you want to look inside the payload, you can easily decrypt it with base64.

But why would you want to look into the payload of a token of which the signature cannot be verified?

If you are going to do any sensitive operation based on the payload that was not signed properly, I can send you a bunch of tokens and use your app without ever the need to get a valid token from your server.

[2015-10-15 07:52] npx commented on #222
I think you have misunderstood how JWTs work in general.

The beauty of the JWTs is that you do not store them in a database.

The token is created on the server (by using a secret only the server knows) and a user by some means needs to authenticate to get their hands on that token. The token only exists for the time the user is holding onto it (and until it is not valid anymore).

In your case,

[2015-10-15 09:42] beardyco commented on #268
@tymondesigns Thanks. I've altered my code for the moment to the following

[code]

[2015-10-15 13:47] imbrj opened #288 "GetUserFromToken handle function return the boolean false"
Hello ,
I am developing the user authentication system using the Laravel and Angular JS. I am facing one problem that Handle function of the GetUserFromToken  return false that is means user not found while there is user inside the table User.
Have any one faced the same problem ? Please help me for this. I came to know my toke is not containin the sub. It is having null . Can you please let me kn

[2015-10-15 14:39] renoguyon opened #289 "JWTException thrown in command line"
Hi,

I just installed a fresh new Laravel 5.1 setup with JWT-Auth 0.5.5 and I got an exception thrown every time I run a command in console.

Here is my composer.json file:

[code]

The command output:

[code]

And every time I run a command I get something like:

[code]

It seems like JWT is looking for a token for each request, even if its not in API context.

Any idea?

Thanks for your support

[2015-10-15 15:03] #288 closed

[2015-10-15 15:04] imbrj commented on #288
Problem was about that token was not having the SUB and that is due to i had change the ID to CID and due to that token was not having the SUB

[2015-10-15 21:03] Destreyf opened #290 "Class jwt.auth does not exist"
I just updated my Laravel instance and had to roll some stuff back to get it upgraded, once i finished the upgrade everything seems to be working except when i use a route that is in a group with a middleware of jwt.auth assigned, i am not sure if i broke something in the process of rolling back and forward or if there's something incompatible since the new 5.1.11 upgrade.

I am just dumping this

[2015-10-15 22:01] jlien-calwater commented on #237
@tymondesigns do you have roadmap or timeline on when the next release is going to happen?

[2015-10-15 23:36] alexw23 opened #291 "Grace period for blacklists"
I've encountered an error when you follow up with a HTTP request too quickly a already blacklisted token will be reissued.

Look at the following scenarion:
(0ms) POST /auth/session (issues token #a)
(1000ms) GET /users (token issued #b)
(1100ms) GET /users (uses token #b, refresh, server sends back the same token as #b).
(1300ms) GET /users (uses token #b - error blacklisted).

I assume this is b

[2015-10-15 23:48] alexw23 commented on #291
Nevermind just found it in dev-master :+1:

[2015-10-15 23:48] #291 closed

[2015-10-16 01:03] RushNetMx opened #292 "Token Expiration"
Hello!

I have an app that connects to an api in laravel, but I have some troubles whit the token expiration, what is the best way to keep login a user with lo limit or expiration time? Thanks for any help you could provide me. If you can please give me a clue with some code thanks.

[2015-10-16 03:26] rogeryu23 opened #293 "Refresh token can refresh expired token?"
I got a token and then wait till its expiration and pass to the following function
I found that the token is refreshed as long as it is within refresh_ttl
But if the refresh token itself is over refresh_ttl, then I will get TokenExpiredException which makes sense
I saw in other places that refresh token only works with not expired token, seems not the case? I can always refresh token no matter if

[2015-10-16 18:53] gweiss27 commented on #287
Hi there, I would also like to know if there is a targeted release date to migrate the develop branch to master.  Thanks!

[2015-10-17 07:08] abcsun opened #294 "how to change the token cache driver from memcached to redis in Lumen?"
anyone knows how to change the token cache driver from memcached to redis in Lumen, thanks

[2015-10-17 10:30] emilianobovetti commented on #83
I'm experiencing this issue too. Looking at the token refresh flow, I found a potential cause:

The `jti` of the refreshed token is built as follows: `md5(sprintf('jti.%s.%s', $sub, $nbf))`, with the same `sub` of the old token (of course!) and a new `nbf`, but the old one and new one could be produced within the same second. In this case the refreshed token has exactly the same `jti` of the old o

[2015-10-17 10:49] francoismart commented on #186
To follow up on @tdhsmith  would you mind let me know how you can do this feature : " If you need to bypass this, consider simply generating a totally new token instead of utilizing the refreshing mechanism. "  without storing credentials on client side ?
in case of mobile app where I would like to never keep the password stored, only maybe user name and jwt token

[2015-10-17 12:05] mytholog commented on #287
+1

[2015-10-17 18:30] tdhsmith commented on #294
Did you follow the instructions in the Lumen docs? http://lumen.laravel.com/docs/cache#configuration

(...and then change your env file to have `CACHE_DRIVER=redis`.)

I don't run Lumen, but I was under the impression JWTAuth's current contract/provider setup should accept that change without a problem.

[2015-10-17 18:40] tdhsmith commented on #293
Yes, tokens having an _expired-but-refreshable_ period is the intended default functionality. It forces tokens to be repeatedly invalidated in the short-term (`ttl`) but allows front-end users to stay logged in over the medium term (`refresh_ttl`).

If you don't like this functionality, you can change the config (i.e. set the two values to be equal).

Other libraries and set ups may use the meanin

[2015-10-17 18:56] tdhsmith commented on #289
That's odd.

One unlikely guess: did you accidentally put the middleware into your kernel's `$middleware` instead of `$routeMiddleware`? The former runs on **every** request.

Otherwise I think I'd have to see some more detail. Is there a stack trace in your log file? Does verbose mode say anything (add `-v` or `--verbose` to your artisan command)?

[2015-10-17 19:09] tdhsmith commented on #83
@emilianobovetti I agree that could be problematic. Luckily it has already been addressed [on the develop branch](https://github.com/tymondesigns/jwt-auth/blob/develop/src/Factory.php#L197):

[code]

The new `jti` function uses the entirety of the claims (so `nbf` changes will yield a new `jti`) as well as a random component.

That said, note that the current `jwt.refresh` is designed to be used _

[2015-10-17 19:21] tdhsmith commented on #292
You can set the expiration time to a very high number with the `ttl` config setting. If you absolutely need a truly limitless token, you can use the develop branch, which allows you to set `ttl` to null.

But an important question is **why?** Making permanent tokens is, in most cases, a security risk that defeats the point of having tokens. If anyone else gets a hold of that token, they can perman

[2015-10-17 19:41] tdhsmith commented on #290
What Laravel version did you upgrade _from_? And perhaps a silly question: have you tried running `composer dump-autoload`? I know my autoload/bootstrap stuff always gets funky after an update.

[2015-10-17 19:45] tdhsmith commented on #186
@francoismart You want to be able to chain refreshes forever, without logging in again?

[2015-10-17 20:23] tdhsmith commented on #276
Yes, it is stored in your cache. A blacklisted token is simply a token whose `jti` claim is listed in the cache. The location/type of your cache depends on Laravel's configured _cache driver_ (usually `file` by default).

You probably have 2 main options here:

1. Like you said, when the user logs out, set a `logged_out` flag in the DB. However this requires you to either:
 - Check for that flag o

[2015-10-17 20:54] tdhsmith commented on #273
I think @tymondesigns' intent was that `required_claims` sets what claims are required for _validation_, not construction. I'm not sure if he would want to use the same setting to determine which claims are given defaults by the payload factory. Maybe a new setting would be necessary?

Regardless, `exp` is pretty important to the function of JWTAuth in determining token lifetimes. The develop bran

[2015-10-17 21:03] tdhsmith commented on #263
Are ParseUser tokens JWTs? As far as I can tell from the documentation, they are arbitrary strings without any decodeable information... please correct me if I'm wrong!

JWT, despite its vague name, is [a very specific, well-defined format](https://tools.ietf.org/html/rfc7519) that allows transmission of small amounts of data ('claims') within the token string.

(But even if the code isn't appropr

[2015-10-17 21:21] emilianobovetti commented on #83
Oops, my bad, I thought `jwt.refresh` should be used on every request, thanks for the pointer!

[2015-10-17 21:39] tdhsmith commented on #83
Yeah it's a frequent point of confusion, because the usage changed a bit over time. You can still implement a basic 'single-use' flow by running `refresh()` and `setToken($newToken)` before `$next`... but the default flow is to put `jwt.refresh` on a single endpoint and have the client use it infrequently.

[2015-10-18 09:59] francoismart commented on #186
yes  like outlook app on iOS or whatsapp or Facebook. maybe there's another better way to have the user feel secure in using the app but also connected ?
If i need to store credentials and re-login from time to time I can do it. In this cas, what's exactly the concept of refresh token ?

[2015-10-18 13:22] agoransson opened #295 "Custom User model extending NeoEloquent failing."
I get the following error trying to use this package. I've followed the instructions, and I use a standard config (the only change is the model namespace).

The custom model extends [NeoEloquent](https://github.com/Vinelab/NeoEloquent)s model, not standard Eloquent model. I've tried with both "clean" model without the auth traits, and following the standard Laravel model (with the auth traits). Bo

[2015-10-18 17:24] pavelmalai commented on #184
I spent hours trying to figure out the same problem, thanks @OFranke !

[2015-10-18 19:11] andrepibo opened #296 "More than one token per user"
Hello guys,

I am building an API that is gonna be consumed by a website front-end and an APP, and I am using jwt to perform authentication.

My question is how could I use this lib to have multiple token per user? For instance, the same user is logged in two differents PCs and in his smartphone (through the app). How could I manage separately his different logins in such a way that when he logs o

[2015-10-18 21:38] Destreyf commented on #290
@tdhsmith Thank you very much for mentioning dump-autoload, this fixed my issue.

I was on Laravel 5.1.4

[2015-10-18 21:47] #290 closed

[2015-10-19 00:13] tdhsmith commented on #296
Actually this is effectively "built-in". The server by default has no knowledge of what tokens currently exist (other any that are blacklisted), so if your user logs in from a new client, the server will issue a new token. There is no "state" or "session" saved on the server; the token is the only session that exists. Unless you add something yourself, logouts are going to only apply to the curren

[2015-10-19 00:26] tdhsmith commented on #290
At this point I run that command all the time, haha. In theory, it should only be necessary when you're adding and removing classes, but I've seen it fix mysterious stuff.

[2015-10-19 00:30] tdhsmith commented on #295
What are you calling when it fails?

Have you set `'model'` in `config/auth.php` to your new model? JWTAuth relies on Laravel's `Auth` for some functions.

Can you successfully call `Auth` functions? Like `Auth::loginUsingId($id);` or `Auth::attempt($credentialArray);`?

If there's something breaking in the Auth/User interfaces, you could fix it with a custom provider. But first we need to know _w

[2015-10-19 01:01] tdhsmith commented on #295
I just noticed you're using `uuid` as your identifier. I'm not very knowledgeable at changing that sort of thing, but there could definitely be some hiccups there, because that detail has to get passed to a lot of different classes. Is `uuid` your primary key? If not, you might have to do override `getAuthIdentifier()` or something like that... And if so, are you setting `$primaryKey` in your user

[2015-10-19 01:11] abcsun commented on #294
it works, and thank you.

[2015-10-19 01:11] #294 closed

[2015-10-19 09:34] Krlinhos opened #297 "Get CustomClaims from payload"
Hello,

I had created a custom payload:

[code]
But before when I try to get rol not show 'player', it shows a complete payload object...
[code]

How can I retrive the custom claims?

[2015-10-19 16:05] jlien-calwater commented on #277
@deepslux are you using this in conjunction with dingo/api?

If so, then did you register JWT package as a service provider?

[2015-10-19 16:40] tdhsmith commented on #297
The method you're looking for is on `JWTAuth`, not `JWTFactory`:

[code]

The factory doesn't have that method signature, so you trip [the magic method that adds custom claims](https://github.com/tymondesigns/jwt-auth/blob/0.5.5/src/PayloadFactory.php#L232). `$rol` is just going to be an instance of `PayloadFactory` with the extra claims `'getPayload' => $token` and `'get' => 'rol'`.

Yeahhh magic

[2015-10-19 16:53] tdhsmith commented on #297
Also BTW, `JWTAuth::parseToken()` will save a copy of the token in the class, and it _does_ look at the `token` input param by default. Then it would work to call `JWTAuth::getPayload()` and other methods without a token argument.

Plus, **GetUserFromToken** and [the upcoming **Check**](https://github.com/tymondesigns/jwt-auth/blob/develop/src/Middleware/Check.php) already call the parsing functio

[2015-10-19 17:00] agoransson commented on #295
I tried now with a fresh install of Laravel 5.1.19 (some breaking changes in 5.1.20 for NeoEloquent) and NeoEloquent 1.2, and jwt-auth 0.5.5 and I do **not** get the same builder exception - which is odd. It might be that some other package is messing the installation up.

The UUID, as you pointed out, does cause an issue unless the authentication mechanism in laravel knows that it should change t

[2015-10-19 17:03] #295 closed

[2015-10-19 17:10] tdhsmith commented on #295
Well I'm glad it seems to be working, though it's always a little frustrating if you don't figure out what had been wrong!

Not sure if you figured out the jwt.io issue or just took the key out of your post for security reasons, but note that the form on that site has a tiny box to paste your secret key into on the bottom right. (No one ever sees it.) If you don't do that, it'll always tell you "I

[2015-10-19 17:32] tdhsmith commented on #277
Hitting 100 isn't necessarily a bug, but it definitely should be scrutinized. You can raise the limit in your `php.ini` at the `xdebug.max_nesting_level=100` line, but we should figure out this situation because it sounds a little weird.

I'm a little surprised initializing the JWTAuth IoC container takes 20 levels, but it's not absurd.

@deepslux What's in your `BaseModel.php`? Did you write it,

[2015-10-19 17:35] agoransson commented on #295
I just noticed the "hidden" box for the secret =) No security issues.

[2015-10-19 21:00] Krlinhos commented on #297
Okk! Thanks! Yes, I use middleware GetUserFromToken for some functions. Other functions can be accessed by anyone. But should send a token that was previously generated and must have a specific role. These users do not have to be registered.

Once more time, Thanks! :)

[2015-10-19 21:00] #297 closed

[2015-10-20 01:42] ssi-anik commented on #186
@kylestev Thanks for your approach. It just took 3 hours of my life. Couldn't invalidate the token for log out.

[2015-10-20 07:46] ssi-anik opened #298 "refresh token on available"
Some routes doesn't need the token and some routes does need the token. but if I apply middleware jwt.auth it will validate if the token is a valid authenticated user or not. and jwt.refresh will refresh the token on available. They both throw some exceptions and halt the program.

Now if we visit those pages without any middleware & move back to authentication required pages then few minutes late

[2015-10-21 08:43] mikkokut commented on #267
Hi,
I have exact same problem. Did you get it working?

[2015-10-21 09:43] mirague commented on #267
@mikkokut  I never did get it working :(

Ping @tdhsmith

[2015-10-21 19:15] ssi-anik opened #299 "Issue with refreshed token"
Hours ago, I tried logging into my account with creds. Then got a token. requested few routes, went good.
Hours later, I then tried to request with the previous token. said token has expired. This is good. but when I tried to refresh the token and found a new one then I again requested with the new token. the middleware was firing token expired?

Can anyone explain?

Footnote: Now I'm trying with

[2015-10-23 11:00] jtrupina commented on #163
what was the issue?

[2015-10-23 11:54] JeremyGreaux commented on #163
I created a new config file in config/jwt.php with this : " <?php return []; "

[2015-10-23 14:56] deepslux commented on #277
No, i don't use dingo/api.

I removed all the jwt-auth and make sure it is clean. Then I put back everything from scratch again. It works now!

[2015-10-23 14:56] #277 closed

[2015-10-23 23:33] chenkie opened #300 "Blacklist Based on User ID"
Is there a way to blacklist any JWTs that have been issued to a user, based only on that user's ID? Looking to put in a kind of "log out on all devices" feature for admins.

[2015-10-25 16:18] renoguyon commented on #289
I've found the problem. Good news, it's not on your side :)

In addition to JWTAuth middleware, I had a line like that in my API Base Controller:

[code]

And for a reason I do not understand, it seems that my API Base Controller is loaded on every request, even artisan commands. API routes are handled by Dingo.

[2015-10-25 17:46] tdhsmith commented on #277
Strange! Well it's possible a weird configuration problem could've been involved... Hrm.

Well thanks for the update. :+1:

[2015-10-25 17:50] tdhsmith commented on #289
Ahh thanks for the update; glad you figured it out!

[2015-10-25 18:38] tdhsmith commented on #300
With the default set-up, no. The server maintains no record of what JWTs have been issued or not. This is a big part of the "statelessness" of JWT authentication systems, because it allows multiple services to use the same tokens without having to communicate or keep track of sessions or users. Since the blacklist runs on a per-token basis, it wouldn't be possible to add entries without knowing wh

[2015-10-25 18:46] tdhsmith commented on #299
Are you positive you used the new token? If the refresh attempt was within the `refresh_ttl` (default 2 weeks from initial token creation) the new token should not be expired.

I can't come up with a reason that a shorter `ttl` would make the refreshed token work. Do you have an example you can share?

[2015-10-25 19:26] intositeme commented on #161
Don't seem to find the documentation on testing.

[2015-10-25 19:34] chenkie commented on #300
Thanks! I was quite certain there wasn't any default tracking of JWTs, but good to have it confirmed. I'll check out the discussions you linked.

[2015-10-25 19:34] #300 closed

[2015-10-25 19:45] tdhsmith commented on #267
Sorry! Some other questions:
- What cache driver are you using in your test environment?
- Are you modifying time at all in your unit tests?

Then try seeing if the token is actually being blacklisted:

[code]

If that assertion fails, then the problem is with the logout/blacklist-adding. If it passes, the problem is with the route/middleware/blacklist-checking.

Also I don't think it's affecting

[2015-10-26 10:09] mikkokut commented on #267
I tested that and the token will be blacklisted successfully. The last api request which needs authentication still returns 200 after logout even it should not. With external api tester logout works well.

[2015-10-26 12:44] Phunky commented on #189
Cheers for the headsup @oldskool73, sticking JWTAuthServiceProvider as the first in the array got rid of the error for me.

[2015-10-27 06:10] pavankumarkatakam opened #301 "About refresh token with more than one async requests from client."
Problem: using the built in refresh token flow (i.e., one token for one request) , im not able use because my angular js app can do more than one request at a time, so i wan to make refresh middleware with the concept below?

my solution: generally we will add the token to blacklist every time it hit the server, but my solution is to delay the process by one minute (i.e., add the token to blacklis

[2015-10-27 16:03] mrgodhani commented on #206
Have exactly same issue. Infact keep getting following:

2015-10-27 16:02:49] testing.ERROR: exception 'Tymon\JWTAuth\Exceptions\JWTException' with message 'The token could not be parsed from the request' in /vagrant/clip-team/vendor/tymon/jwt-auth/src/JWTAuth.php:195

[2015-10-27 16:09] jadjoubran commented on #206
@mrgodhani @hootlex you can add the following to your `testCase.php` file

[code]
Also call `$this->setClientToken()` in the `createApplication` function.

And then in your tests, you can simply call `$this->clientGet()`..

[2015-10-27 16:18] mrgodhani commented on #206
@jadjoubran using your method I get following:

[2015-10-27 16:17:49] testing.ERROR: exception 'Symfony\Component\HttpKernel\Exception\UnauthorizedHttpException' with message 'Failed to authenticate because of bad credentials or an invalid authorization header.' in /vagrant/clip-team/vendor/dingo/api/src/Auth/Auth.php:113

[2015-10-27 16:20] jadjoubran commented on #206
@mrgodhani  Do you have the fix in your `.htaccess`?

[2015-10-27 16:21] jadjoubran commented on #206
@mrgodhani https://github.com/tymondesigns/jwt-auth/wiki/Authentication
Under note to Apache users

[2015-10-27 16:22] mrgodhani commented on #206
@jadjoubran well I use nginx. It works fine when using postman. It just doesn't work from testsuite.

[2015-10-27 16:27] mrgodhani commented on #206
ye still get same when passing as query string ?token= . I get following:

[2015-10-27 16:26:15] testing.ERROR: exception 'Tymon\JWTAuth\Exceptions\JWTException' with message 'The token could not be parsed from the request' in /vagrant/clip-team/vendor/tymon/jwt-auth/src/JWTAuth.php:195

[2015-10-27 16:28] jadjoubran commented on #206
@mrgodhani sorry mate can't help:/
I'm using it right now in a project and I have over 100 test cases there. I have tymondesigns/jwt-auth 0.5.5
Make sure your have this version in your composer.lock

Btw I am not trying to read the token from the tests though. All I care about is to see if the `api.auth` middleware is working (which is provided by `dingo/api`)

I don't mean to advertise, but if yo

[2015-10-27 16:43] ssi-anik commented on #299
it's six days ago & I forget what happened. :(

[2015-10-27 17:17] mrgodhani commented on #206
@jadjoubran Found the solution. You need to add         $this->refreshApplication(); under clientGet before requesting. As referenced here:

https://laracasts.com/discuss/channels/testing/laravel-testig-request-setting-header
https://laracasts.com/discuss/channels/testing/laravel-testcase-not-sending-authorization-headers

[2015-10-27 17:23] JustinLien commented on #301
@pavankumarkatakam the latest have the ability to give the blacklist a time buffer: Check out the configs [here](https://github.com/tymondesigns/jwt-auth/blob/develop/config/config.php#L100). By default is is giving a 1 min grace period.

[2015-10-27 17:51] maxiwheat opened #302 "How to fix this or allow to not use Eloquent User"
I've used `jwt-auth` to allow authentication with Json Web Tokens to my API built with `dingo/api` and Lumen. I followed a [simple tutorial](http://laravelista.com/json-web-token-authentication-for-lumen/) to help familiarize myself with JWT.

Our app is kinda special in the way we connect to the database (we use SQL Server), so we dont really use Eloquent and we make our app with custom classes t

[2015-10-27 19:22] vukasin0 opened #303 "Consider changing to - lcobucci/jwt - JWT library"
I've just check and you are using **namshi/jose** JWT backend.

If you check http://jwt.io/#libraries **namshi/jose** lib isn't up to 100% of spec but it is **lcobucci/jwt**.

[2015-10-28 04:10] vukasin0 opened #304 "Correct documentation"
Package | Versions:
--------------- | ---------
"laravel/framework" | "5.1.*"
"tymon/jwt-auth" | "0.5.*"

Refresh token codeblock section should be corrected from:

[code]

to:

[code]

[2015-10-28 11:34] pavankumarkatakam commented on #301
is it in released versions, or only in the develop branch.

[2015-10-28 15:25] tdhsmith commented on #301
The grace period is only available in develop atm.

FYI: the built-in refresh middleware is actually not sufficient for "single-use" tokens (one token for one request). [See comments here.](https://github.com/tymondesigns/jwt-auth/issues/186#issuecomment-147816841) It is designed for multiple-use tokens that are only refreshed as needed.

You are free to choose "single-use" or "multi-use". Though

[2015-10-28 16:41] tdhsmith commented on #302
*All of this assumes JWTAuth 0.5.x. (A lot of this will be different in develop!)*

The issue you're seeing is [in the main service provider](https://github.com/tymondesigns/jwt-auth/blob/master/src/Providers/JWTAuthServiceProvider.php#L114):

[code]

The SP is always going to try to `$app->make()` your configured user class. To circumvent this, you can create your own subclass `MyJWTAuthServicePr

[2015-10-28 16:56] tdhsmith commented on #303
Interesting. Do you know what the failing claim checks (`sub`, `aud`, `jti`) are? I don't see an explanation anywhere. Is it something about necessary constraints or validation on their values?

[2015-10-28 17:56] tdhsmith commented on #206
In general, Laravel+PHPUnit isn't very compatible with sending multiple requests in a single test. The application does not create new `Request` objects (among other things) because the testing environment handles Laravel's IoC container different than other environments do. This is [a known issue](https://github.com/laravel/framework/issues/9369), but not one likely to change. Automatically refre

[2015-10-28 18:04] tdhsmith commented on #267
Derp derp derp I'm pretty sure this is the same issue [I describe here](https://github.com/tymondesigns/jwt-auth/issues/206#issuecomment-151932258).

Sorry I didn't think of that earlier!

So you can probably get by with an inserted `$this->refreshApplication()`, but to me that's an unclean solution. I'd advocate for splitting the test:

[code]

[2015-10-28 19:47] maxiwheat commented on #302
Great thank you, I will try that

[2015-10-28 19:48] #197 closed

[2015-10-28 20:18] tymondesigns commented on #222
As @npx has mentioned, "remember me" functionality is intrinsically at odds with stateless authentication. But that's not to stop you implementing your own business logic around this package, as long as you are aware of the drawbacks and security implications of said implementation.

The upcoming release will have support for non expiring tokens, and the ability to blacklist them indefinitely, so

[2015-10-28 20:18] #222 closed

[2015-10-28 20:19] tymondesigns commented on #263
I think Parse.com token are a different thing, correct me if I'm wrong?

[2015-10-28 20:19] #263 closed

[2015-10-28 20:28] tymondesigns commented on #267
I think @tdhsmith has this resolved :+1:

btw @tdhsmith Thanks so much for your impeccable issue solving skills over the last few weeks. I've been mad busy, but slacking nonetheless :clap:

[2015-10-28 20:28] #267 closed

[2015-10-28 20:30] tymondesigns commented on #273
Yes, the `required_claims` are purely for validation, not payload hydration :+1:

[2015-10-28 20:30] #273 closed

[2015-10-28 20:32] #276 closed

[2015-10-28 20:34] tymondesigns commented on #285
the upcoming release will support non-expiring tokens, fo situations such as this. Just set the ttl to null in the config, and your good to go

[2015-10-28 20:34] #285 closed

[2015-10-28 20:34] tymondesigns commented on #286
will be documenting lumen usage soon

[2015-10-28 20:34] #286 closed

[2015-10-28 20:36] tymondesigns commented on #287
almost done with the new docs.. I can't commit to a specific date, but I definitely want this release out there asap myself

[2015-10-28 20:36] #287 closed

[2015-10-28 20:36] #289 closed

[2015-10-28 20:36] #292 closed

[2015-10-28 20:37] #302 closed

[2015-10-28 20:45] tymondesigns commented on #303
`namshi/jose` is fully spec compliant.

jwt.io is referring to the validation of those claims (`sub`, `aud`, `jti`) not being part of the package.

Which is ok, since they are optional claims, and the validation of the claim values is offloaded to this package.

I would accept a PR to add `lcobucci/jwt` support though!

[2015-10-28 20:45] #303 closed

[2015-10-28 20:48] vukasin0 commented on #303
OK fair enough

[2015-10-29 03:19] pavankumarkatakam commented on #301
When the develop branch i going to releasae, @tymondesigns

[2015-10-29 04:01] gweiss27 commented on #263
I'm using your package with Parse for application validation.  Parse.com tokens are different, but you can still validate a user with credentials and then generate a Laravel JWT that works across the app (ie: Angular on the front-end and Laravel for an API.

In this case, I needed to create my own ParseUserAdapter to validate my Parse.com user object.  So I just created a very simple one using you

[2015-10-29 04:03] gweiss27 commented on #287
That’s fantastic.  We all appreciate your hard work.  As I mentioned on another thread, I am already migrated to your dev-develop branch and its working great.  Plus it solved the problems I was having using the current 0.5.5 build.

From:  Sean Tymon <notifications@github.com>
Reply-To:  tymondesigns/jwt-auth <reply@reply.github.com>
Date:  Wednesday, October 28, 2015 at 1:36 PM
To:  tymondesigns

[2015-10-29 05:05] vukasin0 commented on #299
Works fine for me with default configuration so I can confirm that default miss-configuration isn't case here.

[2015-10-29 06:20] mikkokut commented on #267
That works. Thanks!

[2015-10-29 16:26] tdhsmith commented on #267
@tymondesigns No problemo! Responding to issues is my way of procrastinating on other stuff lately.

[2015-10-29 17:54] mirague commented on #267
Thanks a bunch @tymondesigns @tdhsmith !

[2015-10-30 05:41] JustinLien commented on #301
The answer is probably something like... as soon as he finishes his sandwich.

[2015-10-30 11:44] pavankumarkatakam commented on #301
ok, i have seen the code, is there any breaking changes ? one i found is ServiceProvider name is changed. like that?

[2015-10-30 20:17] tdhsmith commented on #301
Yes, quite a few.

A lot of the method signatures are subtly different. For example, most of the `JWTAuth` class' functions no longer take a `$token` parameter. They instead assume the class-internal copy is updated (e.g. from `parseToken()` or `setToken`). A new middleware is provided for running this parsing without validity checks. The payload functions also change format a bit, especially with

[2015-10-30 20:22] tdhsmith commented on #301
Most of these are really just fixes that people won't notice. But on a technical level, the behavior does change, so it needs to be handled carefully. ;)

For most people I think you will only need to worry about SP name change, implementing `JWTSubject`, and new middleware names and behaviors.

[2015-11-01 07:25] JustinLien commented on #245
:+1:

[2015-11-01 12:49] shealan opened #305 "Forced redirect on store request"
I followed this tutorial https://scotch.io/tutorials/token-based-authentication-for-angularjs-and-laravel-apps and it works great.

JWT works as expected because when I use Auth::id() it gives me the correct user the token was generated for.

However, when I added a form request to my controller store method, or use controller validation it gives me a redirect page even when I pass the token. It s

[2015-11-01 17:43] pavankumarkatakam commented on #301
I have just seen the code, its quite reverse implementation than expected (that i mentioned at the top), the current develop code is, after the first token when we refresh it, the old token is immediately added to blacklist but with the "valid_untill" key with grace period, but hen checking the blacklist it also checks the valid_until.

problem: with the current approach the old  tokens are still

[2015-11-01 20:57] belisarh commented on #305
Because Laravel's Illuminate\Foundation\Http\FormRequest, which is extended by App\Http\Requests\Request, which is what you extend in your form request. So you might be right in your case about the 302 you might be getting. I have encountered this when trying to override how the form request handled the failed validation response in an API as I was writing a test for it. The case however, is that

[2015-11-01 20:58] tdhsmith commented on #301
The cache's `add` method [will not update entries that already exist](http://laravel.com/docs/5.1/cache#storing-items-in-the-cache), so you cannot continuously refresh an old token. It will invalidate after one `grace_period`, regardless of how often we try to invalidate/refresh it.

Or am I not understanding what your concern is?

Generally it is a lot more complicated to implement "scheduled" ta

[2015-11-01 21:11] shealan commented on #305
Thank you so much for offering a helping hand. Sadly this is something I have tried already. Setting the authorize() to false returns a response of "Forbidden" with an error 403. Setting to true gives the unexpected redirect response I mentioned in my original post. Does that narrow down things at all?

[2015-11-02 00:46] chenkie commented on #305
I haven't encountered this myself before, sorry :(

Found a couple notes here, maybe some will be helpful: https://www.reddit.com/r/laravel/comments/32ms18/is_it_possible_to_disable_the_redirect_in_laravel/

[2015-11-02 09:07] shealan commented on #305
Aha. That clears up exactly what's happening. Now I understand it more I can code accordingly. Thanks!

[2015-11-02 09:07] #305 closed

[2015-11-02 11:10] harshitdkanodia commented on #261
@shraddhabanerjee
Hey !
So , the thing is **JWT Auth doesn't come with any thing to handle Remember Me or Forgot Password** functionanlity , it's something that you will have to handle

### 1) About Remember Me
What you can do is use the JWTAuth and set time to expire to a really long time if the user selects Remember Me .. that way the token will not expire and you can reuse the token anytime , y

[2015-11-02 15:04] shraddhabanerjee commented on #261
@harshitdkanodia
Thanks for the reply, I have done the forgot password functionality using the Laravel inbuilt functionality, just overridden the methods.

Still stuck with remember me functionality. Either you can use JWT Auth or Laravel Auth. So Laravel Auth attempt function provides $remember flag for remember me functionality, but in JWT Auth its not possible. Will try to use the solution you

[2015-11-02 18:00] JustinLien commented on #301
@tdhsmith I had to look into the dev version after your long post, but informative post. =D Are you using this for production by any chance?

The biggest changes is probably the need to update your User Model. You need to implement JWTSubject with getJWTIdentifier and getJWTCustomClaims methods.

You will also need to replace "Tymon\JWTAuth\Providers\JWTAuthServiceProvider::class" with "Tymon\JWTA

[2015-11-02 18:36] tdhsmith commented on #301
@JustinLien No, it's not in production yet, but that has to do with our project timeline and not JWTAuth in particular.

Which I believe is primarily why 0.6 hasn't been released yet. The maintainer is working on documentation. :wink: (I didn't give a complete summary because I didn't think I could do a good job.)

[2015-11-03 14:34] mujdatcicek commented on #81
@IvanKalinin
you must change like that ;

RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

[2015-11-03 22:53] jasmad commented on #261
@harshitdkanodia, thanks for the reply, I understand your reasoning with the first bullet point, and will be sure to follow your advice.

[2015-11-04 09:41] harshitdkanodia commented on #275
We can use custom attributes set the user info in the token itself , but its not good practice !
Say for example  you have a field in your database that indicates whether the user has certain rights .
Let's say your user logged in and his information is in the token, now he's using it and someone changes his rights in the database ..
Now the token and database are not in sync .
In my opinion it's

[2015-11-04 10:32] bendbennett opened #307 "Could not create token: openssl_pkey_get_details() expects parameter 1 to be resource, boolean given"
Hi,
I've set-up JWTAuth for an API using this guidance - https://scotch.io/tutorials/token-based-authentication-for-angularjs-and-laravel-apps

Everything works as expected when using any of the HS algorithims (i.e., HS256, HS384, HS512).
But switching to any of the ES or RS algorithims causes an exception to be thrown:
`Could not create token: openssl_pkey_get_details() expects parameter 1 to be

[2015-11-04 13:01] tymondesigns commented on #307
Yea, this is the last thing I wanted to get into the upcoming `0.6` release.

I will try and get it done soon as I can.

[2015-11-04 13:02] tymondesigns commented on #304
new version will cover this. It is actually done for you in the service provider in the upcoming release

[2015-11-04 13:02] #304 closed

[2015-11-04 14:50] bendbennett commented on #307
Thanks for the feedback.

[2015-11-04 14:58] laitedliang opened #308 "User Model namespace not working"
Hi,

How can I define the user model for jwt authentication?
I have followed your wiki "Configuration" and "Creating Tokens" tutorial, but the "User Model namespace" assigned in config\jwt.php will always be overridden by the "Authentication Model" inside config\auth.php.

This is what my jwt.php and auth.php look like
[code]

[code]

The table used for my jwtUser model is "jwt_users", while the t

[2015-11-04 16:02] aleemb opened #309 "Anyway to get the User object after authentication?"
I may be missing something obvious here but the User is queried and setup in `GetUserFromToken` middleware. I can't see any methods to expose the user object so that I can access it in other middleware downstream without having to query the DB again.

[2015-11-04 16:03] csprocket777 commented on #290
What does your routes entry look like for the refresh endpoint?

[2015-11-04 16:27] csprocket777 commented on #81
IvanKalinin, I think you're missing some asterisks

[2015-11-04 17:10] tymondesigns commented on #309
If you are using the default laravel auth provider, then you can simply reference `Auth::user()` anytime after the middleware is run.

Although note that this will change to `JWTAuth::user()` in the upcoming release

[2015-11-04 17:10] #309 closed

[2015-11-04 18:28] tjdavenport commented on #206
I've just encountered this problem. I thought it would be helpful to share exactly what code is at fault. The root of the problem is coming from both Laravel and jwt-auth.

On the Laravel side of things, you'll only encounter this problem if you try to use the request methods from ``` Illuminate\Foundation\Testing\CrawlerTrait ```. The various request methods on this trait (post, get, patch) are r

[2015-11-04 18:43] tymondesigns commented on #206
@tjdavenport thankyou for looking in to that.. Could you test with the `0.6.*@dev` release to see if it has been resolved there? Since you can set the request on the class that parses the request - [see here](https://github.com/tymondesigns/jwt-auth/blob/develop/src/Http/TokenParser.php#L110-L122).

This is accessible via the `JWTAuth` instance as it's [passed through appropriately](https://github

[2015-11-04 20:08] tjdavenport commented on #206
@tymondesigns I'll test when I get some time.

For now, this is the best bandaid solution I can come up with

[code]

[2015-11-07 17:35] digitlimit commented on #229
I am having same issue. I have added Tymon\JWTAuth\Providers\JWTAuthServiceProvider::class to config/app.php, still same issue

[2015-11-09 16:46] tdhsmith commented on #229
Have you run the command `composer dump-autoload` since making the changes? It's often necessary to update the classmap.

[2015-11-10 03:02] ryanwinchester commented on #154
@rleger how are you setting the cookie? if i set one in laravel it's encrypted.

[2015-11-10 03:03] ryanwinchester commented on #154
+1

[2015-11-10 03:23] tdhsmith commented on #154
Not sure what OP's implementation is, but [you *can* set particular cookies to be unencrypted](http://laravel.com/docs/5.1/responses#attaching-cookies-to-responses) by adding their names to the `$except` array in `App\Http\Middleware\EncryptCookies`.

That said, it's possible they are simply setting the cookies with Laravel as well, so it wouldn't matter. (Though that approach wouldn't work in env

[2015-11-10 04:50] digitlimit commented on #229
@tdhsmith thanks for responding. Dough I am using Laravel 5.1 I have done composer dump-autoload severally but issue persists

[2015-11-10 06:00] ryanwinchester commented on #154
@tdhsmith thanks, that helped a lot

[2015-11-10 11:43] digitlimit commented on #206
There are two ways to send a token to our API, If header is not working simply append to your URL.
Example:

     http://api.mysite.com/me?token={yourtokenhere}

So you could do this:

In your TestCase

 public function signIn($data=['email'=>'youremail@yahoo.com', 'password'=>'password'])
    {
        $data['token'] = $this->token;
        $this->post('/auth/signin', $data);
        $content = j

[2015-11-10 23:13] aejnsn commented on #165
I second this @stevenmyhre.

[2015-11-12 09:30] SuperlativeEntity commented on #229
In app\Http\Kernel.php

Have you added this to the route middleware?

'jwt.auth'      => \Tymon\JWTAuth\Middleware\GetUserFromToken::class,
'jwt.refresh'   => \Tymon\JWTAuth\Middleware\RefreshToken::class,

[2015-11-12 11:23] digitlimit commented on #229
Yes it's working now. Thanks. The issue is I was using jwt-auth instead of jwt.auth .. I think jwt-auth  is for laravel 4.

[2015-11-13 09:36] SuperlativeEntity commented on #127
@tymondesigns Do you perhaps have some sample code to use in your authInterceptor when the token expires to refresh it?

[2015-11-13 13:21] SuperlativeEntity commented on #83
Not sure if this would help or not, but I eventually got it working by doing the following:

[code]

[2015-11-13 15:04] csprocket777 commented on #83
I'm writing a single-page-app using EmberJS and am using ember-simple-auth with a JWT addon for authentication. Is there an example somewhere that shows how to setup a token refresh route / routine / best practice? My tokens aren't being refreshed and I'm getting the "token_invalid" error when it tries.

[2015-11-13 20:34] dukejib commented on #308
if you want to use your own table for authentication.

auth.php

jwt.php

Using different tables for both jwt.php and auth.php will result in 500 internal server error.

And make sure, your passwords are hashed.

I don't know about the internals of JWT-Auth, but it seems that it authenticates the users via Auth.php and then creates a token for it (it makes sense, why would some one require 2 diffe

[2015-11-16 18:14] tdhsmith commented on #308
Yes @dukejib has it right. The default provider setup in v0.5 uses Laravel's `Auth` to support the authentication methods. The `jwt.user` setting only affects the `toUser()` function, but it will be necessary for it to match the `auth.model` setting if the functions are to work together properly.

(If you're using custom providers, this may or may not still apply.)

[2015-11-17 02:22] andrepibo opened #310 "How to invalidate an user's token after he reseted his password?"
Hello guys, I small doubt here.

An user logs in, he gets a token. That token is used to perform a serie of actions.
The user loses his password and resets it. A new password is created and when the user logs in again a new token is created.

In this scenario, how to invalidate all old token of that user? Is it necessary? Does JWTAuth check whether a token is still valide whenever the token is use

[2015-11-17 08:05] tdhsmith commented on #310
Check out [the discussion here.](https://github.com/tymondesigns/jwt-auth/issues/300#issuecomment-150953800).

Token-based authentication is "stateless" -- it does not keep track of what tokens have been issued. If you want to invalidate tokens before they expire, you will need to add your own way to track them. In the link above I suggest two options:
- storing all of a user's tokens in the datab

[2015-11-17 23:16] jadjoubran opened #311 "Is it okay to commit jwt_secret?"
Shouldn't the `jwt_secret` be moved to `.env`?
If so, the `artisan jwt:generate` needs to be fixed as well

[2015-11-18 04:46] tdhsmith commented on #311
The `jwt:generate` command can be run with flag `--show` to output the value directly (which you can then paste into your `.env`). I could've sworn this became the default at some point, but it doesn't appear to be now.

I agree that the secret should not get committed to version control. The current config value _does_ read from the env file though, so it would just be a matter of changing either

[2015-11-18 08:19] tymondesigns commented on #311
That's correct, you can simply drop your secret into your .env file across your environments. The generate command is just a convenience really, but I get that the docs should be updated to make that clearer.

What are your thoughts on changing the command so that it updates the .env if one exists, instead of updating the fallback in the config file directly?

[2015-11-18 08:21] tymondesigns commented on #311
Also I was considering changing the command name to `jwt:secret` or something, maybe with an extra command to maintain backwards compatibility

[2015-11-18 08:28] jadjoubran commented on #311
@tymondesigns I think it makes sense to update the command since people assume that what they just installed is following best practices
So if you put it in the fallback, it sounds as if it's better than `.env`
I'd be happy to send a pull request if you wish. I just need to know the details (command name: new/old? - additional options?)

Thanks for your quick reply

[2015-11-18 14:36] jidesakin opened #312 "Could not authenticate with JWTAuth::attempt"
This is what my auth.php looks like

/*
    |--------------------------------------------------------------------------
    | Authentication Model
    |--------------------------------------------------------------------------
    |
    | When using the "Eloquent" authentication driver, we need to know which
    | Eloquent model should be used to retrieve your users. Of course, it
    | is often j

[2015-11-18 15:12] NorthWish commented on #229
I encountered the same problem, I ask you how to solve it

[2015-11-18 20:33] tymondesigns commented on #311
Ok, I think I've sorted it.

The behaviour now is to check if a `JWT_SECRET`` has been set in the `.env` file.
If it has then it will replace the key with a new one, otherwise it will add the key to the end of the file.

Oh and I've renamed the command to `jwt:secret` as I think it makes more sense symantically.

What do you guys think? [link](https://github.com/tymondesigns/jwt-auth/blob/develop/

[2015-11-18 21:01] jadjoubran commented on #311
Sounds great, thanks! :D

[2015-11-19 01:21] harveyslash commented on #154
Could you send the full file for this ? I want to check for auth token in cookies as you. Can you tell what things exactly I need to modify? It would be great if you could upload the files somewhere

[2015-11-19 17:38] aejnsn opened #316 "Release with exp, iat, nbf as Integers"
@tymondesigns Can you make a release that includes this PR?:
https://github.com/tymondesigns/jwt-auth/commit/50c69ff3087b136b3b2c0986d3daf433c334af39

We've used Fractal to construct an API, and at this moment, I do not see a way to set up JSON_NUMERIC_CHECK on my response. I see that I would have to override a method in Fractal's Scope class, but that seems to be a difficult approach.

Thanks! :s

[2015-11-19 19:14] cvinothkumar commented on #155
Thanks. I got the same error. but, fixed it by overriding the $primaryKey variable with my custom db field in my user class like,
File: app\Models\User.php
class User extends Model implements AuthenticatableContract, CanResetPasswordContract {
...
/**
     * The primary key for the model.
     *
     * @var string
     */
    protected $primaryKey = 'userID';

[2015-11-20 11:33] derdida opened #317 "user not found exception"
Hello,

first thanks for this great authentication module, but ill got some problems integrating it as middleware in Laravel5.x

When a user authenticates over active directory, ill update my local user with an table column called "token" - and insert the created token.

.......
$token = JWTAuth::fromUser($user);
$user->token = $token;
$user->save();

So there is now i token, and i would like to c

[2015-11-22 00:57] o15s19 commented on #316
+1

[2015-11-23 10:23] cwhite92 opened #318 "Token caching causing issues in acceptance test"
I'm writing an acceptance test for an API endpoint. The test calls the same endpoint twice, with two different users. The cut-down version looks like this:

    public function testClientCanRequestAndAcceptFriendships()
    {
        $users = factory(\Lykit\Models\User::class, 2)->create();

        // Call #1
        $this->json('POST', $endpoint, $payload, ['Authorization' => JWTAuth::fromUser($

[2015-11-23 10:41] cwhite92 commented on #318
I've managed to work around this issue by doing the following between my two calls:

    $this->app = $this->createApplication();

This seems to basically reboot the framework (including jwt-auth) and it then successfully forgets the previous token and parses the new one from the second request.

While this workaround works, I still think it's important that the package works without it, since thi

[2015-11-23 18:31] tdhsmith commented on #318
Check out [this conversation](https://github.com/tymondesigns/jwt-auth/issues/206#issuecomment-151932258). I haven't done any followup yet, so I can't attest to the other solutions provided, but in general the issue has to do with how PHPUnit passes requests that makes multiple requests in a single test fail. As noted there, the `$this->refreshApplication()` command is a shorter form of the soluti

[2015-11-24 10:17] jsartisan commented on #81
tried the answer by @donald-slagle. It worked ! Thanks a lot :)

[2015-11-24 13:51] dani3l commented on #316
This is already been taken care of in the develop branch.
I wish tymon would push that fix to the master in the meantime so I can stop customizing external libraries inside the scope of my project

thank for the hard for tymon! this is much appreciated!

[2015-11-24 15:18] aejnsn commented on #316
I feel your pain Daniel. I'm going to fork and rework. This isn't meeting the JWT spec, yet Tymon has one of the better libraries.

[2015-11-24 15:25] tymondesigns commented on #316
I guess I could patch this on master for you guys.. is it just the `iat` `exp` etc, not casting to an int that's causing your issues?

[2015-11-24 15:37] aejnsn commented on #316
That's pretty much it. Thanks man!

[2015-11-24 15:59] tymondesigns commented on #316
Ok, no worries.. I'll get that up when I get home later

[2015-11-24 15:59] #316 closed

[2015-11-24 20:04] tymondesigns commented on #316
`0.5.6` released

[2015-11-24 20:08] tymondesigns commented on #312
Is the primary key for your user table `id` ?

[2015-11-24 20:10] tymondesigns commented on #310
@tdhsmith is spot on :+1:

[2015-11-24 20:10] #310 closed

[2015-11-24 20:10] #308 closed

[2015-11-24 20:15] tymondesigns commented on #299
Assuming this is resolved

[2015-11-24 20:15] #299 closed

[2015-11-24 20:17] tymondesigns commented on #298
I've added a new [Check middleware](https://github.com/tymondesigns/jwt-auth/blob/develop/src/Middleware/Check.php) in the new version that somewhat achieves what you describe. Although I would encourage you to implement your own business specific middleware to get exactly the behaviour your app requires

[2015-11-24 20:17] #298 closed

[2015-11-24 20:18] tymondesigns commented on #280
not something I think needs to be implemented

[2015-11-24 20:18] #280 closed

[2015-11-24 20:18] #261 closed

[2015-11-24 20:25] ashutoshjha88 opened #319 "Tymon\JWTAuth\Providers\JWTAuthServiceProvider is missing in 0.5.6 version"
Todaay i just update package through composer in my Laravel Project and i got this error

[Symfony\Component\Debug\Exception\FatalErrorException]
  Class 'Tymon\JWTAuth\Providers\JWTAuthServiceProvider' not found

[2015-11-24 20:33] df-jablan commented on #319
Not missing, re-namespaced.

Poor judgement doing so in a minor revision (0.5.6 vs 0.6.0). I'm sure many people's applications are now broken. :(

[2015-11-24 20:45] yadakhov commented on #319
We got the same problem.. Rolling it back to 0.5.5 for now.

[2015-11-24 20:52] tymondesigns commented on #319
Woops my bad.. I targeted the wrong branch!

Release now deleted

[2015-11-24 20:53] tymondesigns commented on #319
@df-jablan not done intentionally. Will release revised version now

[2015-11-24 20:57] tymondesigns commented on #319
Ok, version `0.5.6` released as per the master branch :sweat:

Don't know what's with me today...

[2015-11-24 20:57] #319 closed

[2015-11-24 21:01] #154 closed

[2015-11-24 21:02] tymondesigns commented on #167
closing as tracking in #307

[2015-11-24 21:02] #167 closed

[2015-11-24 21:03] o15s19 commented on #316
Thx

[2015-11-24 23:15] dani3l commented on #316
woohoo! thank you :)

[2015-11-25 13:15] ashutoshjha88 commented on #319
@tymondesigns  Thanks buddy :+1:

[2015-11-25 14:19] ashutoshjha88 commented on #319
In 0.5.6 version  File Name: JWTAuth.php    Line No. 194
[code]
I think you should use
[code]
to support for POST Method for passing token

[2015-11-25 16:12] lulzimfazlija commented on #81
@donald-slagle saved my day :+1:

[2015-11-26 08:48] jidesakin commented on #312
Yes it is.

[2015-11-26 09:16] tymondesigns commented on #312
What is returned from `JWTAuth::attempt()` ? Is an exception thrown ?

[2015-11-26 19:07] devswert opened #320 "Error to compiled config"
Hi!,
I used this package for make an API on Laravel 5.1, when I push my commits in production server,it make an optimization of Laravel and caching files, between the process it exec `php artisan config:cache`. But when I do a request I get `Fatal error: Call to undefined method Closure::__set_state()`. This message occurred in the config when instance auth and cache how an anonymous function.

[2015-11-26 19:09] jadjoubran commented on #320
Hi @devswert
This is a duplicate of #203
You can apply my fix in the comment

[2015-11-26 19:13] devswert commented on #320
Oh, thanks @jadjoubran! It's works

[2015-11-26 19:16] Donatello-za commented on #138
This issue should really not be closed. If keeping it as is then it means that I have to explain to every developer in the team to use php artisan jwt:generate --show and then paste the entry manually into a .env file instead of it being generated in the .env file as it should. I am worried that if it is committed to the repository due to it being in jwt.php that a developer's key end up on a prod

[2015-11-26 19:18] jadjoubran commented on #138
Hi @Donatello-za
This is issue has been resolved here #311
So the fix will be available in the upcoming release (0.6)

[2015-11-26 19:20] Donatello-za commented on #216
Wouldn't it be better to keep things standard, i.e. the same way that Laravel writes to the .env file when running `php artisan key:generate`?

[2015-11-26 19:45] tymondesigns commented on #138
@jadjoubran is correct. Also note that the name of the command has changed to `jwt:secret`

[2015-11-26 19:48] Donatello-za commented on #138
Thanks! It is much appreciated!

[2015-11-26 19:49] tymondesigns commented on #216
@Donatello-za it is effectively the same now as mentioned in https://github.com/tymondesigns/jwt-auth/issues/138#issuecomment-159979197.

There are some slight differences, but that's because laravel's command can safely assume that a `APP_KEY` will already be present in the `.env` file. SO some some extra checks are needed for this package

[2015-11-26 19:51] Donatello-za commented on #216
Thanks, I missed the fact that you actually did work on this, as mentioned in my other comment, it is much appreciated!

[2015-11-26 19:51] tymondesigns commented on #216
No worries :smile:

[2015-11-26 22:01] edgarnadal opened #321 "Get token expiration after JWTAuth::attempt"
Hi,

Is there a way to get the expiration time of a recently created token?

[2015-11-28 16:39] Vishal0203 opened #322 "JWT Authenticate to use guid instead of id"
Hi,

I changed the `identifier` configuration in jwt.php to `user_guid` a column in my Users table as I don't want to expose the `id` column. The jwt generated is fine and has correct value for the `sub`

However, the authenticate method uses `id` to authenticate, hence I always get `user_not_found` error. Any resolution for this?

[2015-11-30 04:05] nsioo opened #323 "Toke"
Token not provided

[2015-11-30 10:01] #323 closed

[2015-11-30 10:01] tymondesigns commented on #323
this means nothing :confused:

[2015-11-30 16:35] ayyobro commented on #260
What actually goes into those methods? I'm unsure what is meant by 'Claims' or 'Identifier'. Are claims essentialy relationships? Is the identifier an Eloquent of the user, the user's PK, or some custom user attribute?

[2015-11-30 17:31] tdhsmith commented on #260
For a high-level summary of claims, checkout the [Wikipedia](https://en.wikipedia.org/wiki/Claims-based_identity) and [MSDN](https://msdn.microsoft.com/en-us/library/ff359101.aspx) articles on claims-based security.

**Claims** are simply properties of a key/user communicated from one system to another. For the purposes of JWT and this library, we tend to only care about a few of the [core claims

[2015-12-02 09:57] Gigha opened #324 "Token expires after an hour when settting TTL to null"
Do I need to have the development branch for the token to not expire? Because I set the TTL to null in my project and it still expires after an hour. I tried to check the code but I found that the setTTL method in the PayloadFactory sets it to null when it is null.

Thanks in advance.

[2015-12-02 10:00] tymondesigns commented on #324
@Gigha yes this is only available on develop atm.

[2015-12-02 10:00] #324 closed

[2015-12-03 21:50] paulocoghi commented on #88
I have changed the identifier to `_id` and, still, when I applied the `jwt.auth` middleware it returns the `user_not_found` exception.

[2015-12-03 22:32] paulocoghi opened #326 "JWTAuth can't retrieve users from mongodb database"
## Scenario / Laravel 5
I am using [jenssegers/laravel-mongodb](https://github.com/jenssegers/laravel-mongodb) and its custom Eloquent class within models:

[code]

Mongo operations are working fine.

To JWTAuth, I configured `'identifier' => '_id'` and `'jwt.auth'` middleware in some routes.

## The issue

JWTAuth can't retrieve users from database.

_Methods like `JWTAuth::attempt` and `JWTAuth:

[2015-12-04 00:24] paulocoghi commented on #322
Maybe my issue #326 is related to this smaller one. One key aspect of my issue is that I am using a custom identifier (like you), the token is correctly generated, but authenticate methods fail to find the user from the same token JWTAuth generated before.

[2015-12-04 08:08] ValdasK opened #327 "Long lived tokens as API keys"
I'd like to create tokens for users as API keys, while still using same system for regular web authentication.

My plan is to create custom `audience` tags, and if token contains audience "api", skip expiration validation, but I cannot do that as `PayloadValidator` throws exception in any case if token TTL or global TTL is exceeded.

Any suggestions how to do this the other way?

[2015-12-04 13:41] munteanalexandru opened #328 "Cannot use password in $hidden array in model"
When i put password in the $hidden array in laravel model, it doesn't work anymore. I think because this works like select * from user where email = email , so when i hide the password, it cannot compare it anymore. Shouldn't be something like select * from user where email = email and password = password ?

Also, there is a $this->password variable which i think it should be in the jwt.php config

[2015-12-04 17:32] tdhsmith commented on #327
You're right, the validator is always going to trip on expired tokens, but it only checks the token's internal `exp` claim and not the current `ttl` settings. Therefore you could supply a custom (longer) `exp` claim for the API tokens when you create them.

[code]

(I have no idea if that Carbon command is formatted correctly, but it's the general idea.)

[2015-12-04 17:34] tdhsmith commented on #327
You should still implement an `aud` check in your middleware to make sure `api` tokens aren't being used for user-facing pages and vice versa.

Also I think v0.6 will require you to use the payload factory directly (because custom claims for the helper methods come directly from the `JWTSubject` interface).

[2015-12-04 19:59] tdhsmith commented on #328
`$hidden` should only affect which fields are visible in a model's array/JSON format; it doesn't affect whether a field can actually be queried/retrieved/mutated.

What method are you using? `JWTAuth::attempt()` already allows you to pass whatever credential key-value pairs you like, so you can use `['Password' => $password]`. None of the other methods involve credentials.

[2015-12-05 00:59] fe-slewis opened #329 "Create JWTs without expiration"
Is there a built-in method to not force a token to have an expiration? Its seems that the required_claims config var is only for validation and does not get used for creation of tokens, so there's no way to create a token without an exp claim. I've worked around the problem by overriding the tymon.jwt.validators.payload binding in my own provider, then extended the PayloadValidator class and redef

[2015-12-05 01:24] tdhsmith commented on #329
Already included on the develop branch. (#192, #273, #285)

(I think all of the claims are *technically* optional [according to the spec](https://tools.ietf.org/html/rfc7519#section-4.1.4), but many 3rd-party services require at least `iss`, `iat`, and `exp`.)

[2015-12-05 05:22] fe-slewis commented on #329
@tdhsmith Thanks for the info, and thanks to @tymondesigns and contributors for the great package. Cheers!

[2015-12-05 05:22] #329 closed

[2015-12-05 11:25] andrzejkupczyk opened #330 "Cannot use dependency injection"
I'm trying to "type-hint" the `JWTAuth` dependency in the constructor of an event subscriber.
Something like this:
[code]
gives me:

Any ideas? Is there a bug in the `JWTAuthServiceProvider`?

*Edit:*
Resolving it from the container with `make` method works fine but I would prefer to use DI :sweat:

[2015-12-05 14:26] andrzejkupczyk commented on #330
Turns out that there is a fix in the `develop` branch.

[2015-12-05 14:26] #330 closed

[2015-12-05 19:39] jtthomas10 commented on #322
You probably need to override the default User model to set the primary key.

Something like this in User.php:

[code]

The identifier set in jwt.php is simply a name for the field that is in "sub" portion of the token.  I made the same assumption and it took me a day to sort through it, as I was also using a custom table and model not User.

Hope this helps.

[2015-12-05 19:58] Vishal0203 commented on #322
@jtthomas10 Thanks a lot Jeff, that worked. I had dropped the plan of hiding id from front end, you saved it.

[2015-12-05 20:12] paulocoghi commented on #322
I will also try this solutions to see if it solves the mongodb problem ( informed in #326 ).

[2015-12-05 20:13] tdhsmith commented on #322
Yes sorry I missed this issue somehow.

To give a deeper explanation, the `JWTAuth::authenticate` method relies on Laravel's `Auth::onceUsingId`, which will call `<UserModel>::find`. You can get this to use your custom identifier one of two ways:

1. Set your user model to use the custom identifier as its `$primaryKey`. Then all `::find()` lookups will check this field instead of the default `id`.

[2015-12-05 20:16] paulocoghi commented on #322
@tdhsmith Thanks for the explanation!

[2015-12-05 20:22] Vishal0203 commented on #322
@tdhsmith I was thinking of following the 2nd step, but I thought it may break something, somewhere else. So are you going to add this enhancement?

[2015-12-05 20:35] Vishal0203 commented on #322
Changing the primary key is breaking my relations. I will go for second step.

[2015-12-05 20:50] dwietecha commented on #196
How can I change header globaly?
In my app had been used jwt-auth filter. There is no parseToken method induction in controllers. So I can't  parameterize token parsing.

[2015-12-05 20:53] tdhsmith commented on #322
@Vishal0203 The provider I am talking about in step 2 is local to the JWTAuth package, so it should not affect anything else.

You will also need to configure JWTAuth to use your new provider [in the config](https://github.com/tymondesigns/jwt-auth/blob/develop/config/config.php#L134). Additionally if your new implementation of `byId` does not update `Auth`'s cached user, you will need to call som

[2015-12-05 21:44] Vishal0203 commented on #322
@tdhsmith Thanks a lot for the detailed explanation. Was able to solve this with a custom `byId` implementation. Closing it now.

[2015-12-05 21:44] #322 closed

[2015-12-06 00:22] tdhsmith commented on #196
You can certainly create your own copy of the `jwt.auth` middleware that only changes the `parseToken` call.

[2015-12-06 09:09] dwietecha commented on #196
Ok, thanks
6 gru 2015 1:22 AM "t d h smith" <notifications@github.com> napisał(a):

[2015-12-07 01:32] df-jablan commented on #319
@tymondesigns I did not mean to insinuate it was done on purpose. Apologies if taken as such. As they say, feces occurs. :)

[2015-12-07 01:41] df-jablan commented on #319
@ashutoshjha88 I thought about your above request regarding capturing the POSTed value versus query string. While that's beneficial, it too is limiting.

Another approach to consider would be to provide a mechanism that injects a token retriever/resolver. This allows the consumer to decide from whence the token came.

In either case, you should create a new issue since this one is closed.

[2015-12-07 10:42] Mindstormer619 opened #332 "Documentation error?"
In here: https://github.com/tymondesigns/jwt-auth/wiki/Creating-Tokens

There's the first example for Laravel 5 where this line appears:
(this also appears in the example for Laravel 4)

[code]

Now here, wouldn't the correct response line be this?

[code]

As written in the documentation right now, I would expect `compact('token')` to transform the string "token" into an array for the response. H

[2015-12-07 11:41] dukejib commented on #332
no need to use compact with json. just send json or compact , both convert data into json format.
personally, i use my own custom response, with objects like respons;error;type etc

[2015-12-07 15:04] vivex opened #333 "Modifying header key from "Authorization" to "anything""
Any config option to do so?

[2015-12-07 15:43] jadjoubran commented on #333
Curious question: why?

[2015-12-07 17:13] tdhsmith commented on #333
Yes actually, [you can pass arguments in to `parseToken`](https://github.com/tymondesigns/jwt-auth/blob/master/src/JWTAuth.php#L191). Something like:

[code]

[2015-12-07 17:28] tdhsmith commented on #332
PHP's `compact` is an unusual command. ([Check out the official docs.](http://php.net/manual/en/function.compact.php))  It converts a list of variable **name** arguments into an array of key-value pairs:

[code]

Notice the *string* `'pet'` returns the value of `$pet`, while the *variable* `$pet` returns the value of the variable with name equal to the *value* of `$pet` (`$cat`).
The command in th

[2015-12-07 17:28] tdhsmith commented on #332
To be technical about it, `compact` only returns array data. It's Laravel that's automatically converting your responses with array data into JSON. This is robust enough to rely on (I've been known to return unwrapped arrays and Eloquent models as responses myself), but it might be important to remember if you switch to another framework that doesn't do it. :stuck_out_tongue:

[2015-12-07 17:38] tdhsmith commented on #321
If you don't have access to the token itself, no. (Though you could certainly create your own database table to store this information as you create tokens!)

If you *do* have access to the token:

[code]

The `exp` claim is stored as a Unix timestamp.

[2015-12-07 19:33] dukejib opened #334 "500 Internal Server Error"
Updated jwt-auth today , previously working system is now broken.

Freshly fetched Token via post is returning 500 Internal Server Error upon get request.

[2015-12-07 19:37] tdhsmith commented on #334
Can you identify the exception or provide a stack trace? What versions did you update from & to?

[2015-12-07 19:55] tdhsmith commented on #317
The standard usage is that you transmit the JWT *from the front-end client*, either as an HTTP header or as a query string parameter. The `jwt.auth` middleware calls `parseToken` with default arguments: it will first check for a header of the format `Authorization: Bearer %s` and then for a URL parameter named 'token' (`?token=%s`). If it finds neither it will fail.

You don't *have* to use header

[2015-12-07 20:02] dukejib commented on #334
i am using it with android app and test it with firefox extension "Http Requester" and both are returning
500 Internal server error.
When i post with credentials, i get my token, but that token isn't usable for any other post or get.

Exact Error Data:
HTTP/1.0 500 Internal Server Error
Date: Mon, 07 Dec 2015 19:55:43 GMT
Server: Apache/2.4.12 (Ubuntu)
Content-Length: 0
Connection: close
Content-T

[2015-12-07 20:15] tymondesigns commented on #334
We need the stack trace to provide any meaningful help here...

[2015-12-07 20:18] dukejib commented on #334
no stack trace (laravel is on debug) just this error.

[2015-12-07 20:21] tymondesigns commented on #332
@tdhsmith is right.. there are many ways to return a response.. `compact` is just a convenience to form an array of a matching key/variable.

It's just a simple example in the docs. Personally I would use slightly more robust response methods. As @dukejib hinted at. But of course it is project dependent :smile:

[2015-12-07 20:21] #332 closed

[2015-12-07 20:23] tymondesigns commented on #334
You are probably suppressing the exception somewhere, so you would need to remove that behaviour temporarily to let the exception bubble up, if you know what I mean?

[2015-12-07 20:26] tymondesigns commented on #321
@tdhsmith is correct, or another way could be

`$exp = JWTAuth::setToken('foo.bar.baz')->getPayload()->get('exp');`

[2015-12-07 20:26] #321 closed

[2015-12-07 20:29] dukejib commented on #334
i do understand what you are saying. but no exception is getting suppressed.

Anyway, i totally removed the laravel app folder and used an earlier backup (with older jwt-auth) and now its working fine.
I guess , the latest update was messing up.
Thanks for your time.

[2015-12-07 20:29] #334 closed

[2015-12-07 20:31] tymondesigns commented on #333
@tdhsmith other way around :smile:

[code]

Note that this will change in the upcoming release, and you would have to update this in a service provider, e.g.

[code]

[2015-12-07 20:31] #333 closed

[2015-12-07 22:12] tdhsmith opened #335 "Finer-grained exception-catching in default auth provider"
@tymondesigns what kinds of exceptions are you trying to avoid in the Illuminate auth provider [here](https://github.com/tymondesigns/jwt-auth/blob/develop/src/Providers/Auth/Illuminate.php#L56)?

I ask because I just debugged a situation where we stopped implementing `Authenticatable` on our User model, which caused an exception in Guard (`ErrorException: Argument 1 passed to Illuminate\Auth\Guar

[2015-12-08 01:36] weblee opened #336 "Last Token Blacklisted using token.refresh on middleware"
I cant for whatever reason get past the token being blacklisted after the second request. I am using latests version 5.* for Laravel.

I have a web login form which on success returns my token. I then perform a second requested to get the users data with example below code which works fine. It only fails after I perform a refresh on the page getting some user data.

[code]

I have console.log the

[2015-12-08 07:17] kbchandiran opened #337 "How to get the token in POST method"
jwt-auth middleware read the token in url only? I need to configure it also need to read it in post method also..

[2015-12-08 07:55] tdhsmith commented on #337
It reads the `Authorization` header looking for a value formatted like `Bearer $token` first before checking the url. The HTTP headers are by far the most commonly used way to pass JWTs.

See [the docs on authentication](https://github.com/tymondesigns/jwt-auth/wiki/Authentication) and [the `parseToken` function](https://github.com/tymondesigns/jwt-auth/blob/master/src/JWTAuth.php#L191) for more d

[2015-12-08 12:06] kbchandiran commented on #337
Thanks for your time...

[2015-12-08 12:06] #337 closed

[2015-12-08 23:39] cviebrock opened #338 "Error handling in dev-master branch?"
I've recently converted from the stable branch over to develop, in order to take advantage of the blacklist grace period feature.

However, all the code I had in place previously in order to send "nice" error messages to consumers of my API doesn't work the way it used to.

I realize that you're in the middle of the 0.6 release and things may not be finalized yet.  But is there any chance of provi

[2015-12-08 23:40] cviebrock commented on #338
FWIW, I was previously using this in my `EventServiceProvider.php`:

[code]

And that class basically contained a subscribe method and other methods such as:

[code]

Not the most elegant of solutions, but I planned on refactoring it at some point.

[2015-12-09 15:57] kelvinrolex opened #339 "JWT Auth is blocking Laravel Form Request"
I am new to Laravel 5,
I am building a web app, I have set up the Tymon JWT Auth and its working well when a user logs in, so now am trying to create the registration for the app, i created a new RegisterController to handle the registration process without adding the Tymon JWT Auth anywhere in that controller, if i pass the values without validations the form works well, so for the validation i c

[2015-12-09 19:28] cviebrock opened #340 "JWT_TTL=null means I can't create a token"
I'm using the "0.6@dev" branch, and I've set `JWT_TTL=null` in my `.env` file.  In my authentication controller, after the sign in via credentials (user, pass), I want to add a JWT to the response headers:

[code]

This block fails with a TokenInvalidException: "JWT payload does not contain the required claims".  Indeed, there is no "exp" claim, and therefore the call to `Tymon\JWTAuth\Validators\

[2015-12-09 19:32] cviebrock commented on #340
Gah ... if you want non-expiring tokens, you need to set `JWt_TTL=null` in your environment file, _and_ you need to remove 'exp' from the list of required claims in your configuration file:

[code]

Hopefully that gets documented. :)

[2015-12-09 21:08] tymondesigns commented on #335
It was a while ago :smile: there was a reason but can't think what it was atm.

Anyways I can't think of a reason not to change it off the top of my head. I will have a dig around to try and refresh my memory

[2015-12-09 21:11] tymondesigns commented on #336
Firstly, what middleware (if any) do you have applied to your routes ?

[2015-12-09 21:14] weblee commented on #336
I have.

[code]

The ttl (60) & refresh_ttl (20160)  standard

[2015-12-09 21:19] tymondesigns commented on #338
The reason your code is no longer working is that the events have been removed in the new version.

Depending on your middleware, you would still be able to catch the exceptions (as described in the current Global exception handling section of the wiki)

Using the new `Authenticate` [middleware](https://github.com/tymondesigns/jwt-auth/blob/develop/src/Middleware/Authenticate.php) as an example. I

[2015-12-09 21:21] tymondesigns commented on #339
I think you must have something in your request lifecycle, that is triggering jwt-auth. Are you sure there is no middleware running?

[2015-12-09 21:22] tymondesigns commented on #340
Yep I will be sure to mention that, Thanks

[2015-12-09 21:22] #340 closed

[2015-12-09 21:24] tymondesigns commented on #336
I mean what routes are they being applied to? For example do you have both middlewares applied to the same route?

[2015-12-09 21:27] weblee commented on #336
Here ya go.

[code]

[2015-12-09 21:35] tymondesigns commented on #336
ok, and does the `UsersController` have the `jwt.auth` middleware added?

Sorry for the repetitive questions, but I am trying to determine whether your issue is in-fact the same as described in #186 & #83 and that was fixed in #218

[2015-12-09 21:44] weblee commented on #336
OK so no I have not added the middleware in the construct.  Are you meaning like.

[code]

If so this could be the issue!

[2015-12-09 21:50] tymondesigns commented on #336
Yes if both `jwt.auth` and `jwt.refresh` run on the same route, then you will experience the issue described here https://github.com/tymondesigns/jwt-auth/issues/186#issuecomment-147816841. and you will need to use the `0.6.*@dev` release to get around that.

[2015-12-09 21:53] weblee commented on #336
Well if so thats not the problem then as I have stated I didn't add the extra middleware. So I am just running the refresh middleware.

Im going to run with the dev branch I think. Can you describe the setup for it please?

[2015-12-09 22:11] tymondesigns commented on #336
I misunderstood you there then..

So first step is to implement the [`JWTSubject`](https://github.com/tymondesigns/jwt-auth/blob/develop/src/Contracts/JWTSubject.php) Contract on your User model and implement the required methods. Also you should delete the config and re publish it.

The rest is dependent on what methods you are using. But I would start there and see if everything works as expecte

[2015-12-09 22:27] weblee commented on #336
OK,

Thanks for your time. I will close this off for you and try the dev branch.

[2015-12-09 22:27] #336 closed

[2015-12-09 23:13] kelvinrolex commented on #339
I have checked and there is no middleware running, I couldn't find any solution online so I used the default laravel validation instead of form request. Thanks

[2015-12-10 03:11] cviebrock commented on #338
Works for me!  Any timeframe on the 0.6 release (or even some documentation on it)?

[2015-12-10 09:54] r0bin51 opened #341 "I get always "Invalid Credentials""
Hello. I'm having some issues with my laravel api server using JWT.
First of all: I already implemented the same api server and I remember it worked fine.
in this moment it doesn't (I made the old version some months ago).
Basically, I need to implement a register/login functionalities, and the code is the same that worked months ago (it's the common basic-example code for authentication with jwt)

[2015-12-10 10:19] dukejib commented on #341
try to check if the passwords are hashed or not?
Also, are you using same model for authentication or not.

[2015-12-10 10:21] r0bin51 commented on #341
the pwd are hashed (and the user created) in this way:

else if ($validation->passes()){
		$newuser['email'] =  $email;
		$newuser['username'] =  $username;
		$password=Hash::make('password');
                $newuser['password'] = $password;
                return User::create($newuser);

the login is this:
 $credentials = $request->only(['email', 'username', 'password']);

        $validator = V

[2015-12-10 12:34] kbchandiran opened #342 "How to use the token for asynchronous api call"
I need to call Api in asynchronous also at the time how could set the token for that Api call?
In Laravel route middleware i have added
Route::group(['namespace' => 'Api', 'middleware' => ['jwt.auth', 'jwt.refresh']], function () {
if i remove the jwt.refresh means it will work and also it's secured?

[2015-12-10 14:42] r0bin51 commented on #341
update: this is my app/User.php ... i read online that the problem could be here

<?php

namespace App;

use Illuminate\Auth\Authenticatable;
use Illuminate\Database\Eloquent\Model;
use Illuminate\Auth\Passwords\CanResetPassword;
use Illuminate\Foundation\Auth\Access\Authorizable;
use Illuminate\Contracts\Auth\Authenticatable as AuthenticatableContract;
use Illuminate\Contracts\Auth\Access\Authori

[2015-12-10 15:45] matiux opened #343 "Problem with Doctrine"
I use Laravel-Doctrine package (https://github.com/laravel-doctrine/orm) so, I don't use Eloquent model, but Doctrine entities.

This is my jwt.php

[code]

This is a test:

[code]

I get this error:

Cannot access protected property Acme\Entity\User::$id in /var/www/Adrias/MailWin/Lando/vendor/tymon/jwt-auth/src/JWTAuth.php on line 84

obviously, $id is protected. I should use $user->getId();

[2015-12-10 17:40] mrgodhani opened #344 "On token expire returning wrong status code."
Hi

On token expire it is returning wrong status code. Instead of returning 401 it is returning 400 bad request. Any idea how to fix?

[2015-12-10 21:11] r0bin51 commented on #341
return User::create(['email' => $email, 'password' => bcrypt($password)]);

with this row it works correctly. I cannot understand why, I already tried with bcrypt...

[2015-12-11 21:59] tdhsmith commented on #335
Maybe at one point the Auth retrieval methods threw an exception instead of returning false when they couldn't find a user? (I don't really feel like digging in Laravel git history just to find out though... at least not on a Friday, ha.)

[2015-12-11 22:36] tdhsmith commented on #343
Yes it's definitely due to the `$id` being protected. On the develop branch this access doesn't happen directly. Instead you implement the `JWTSubject` interface with a `getJWTIdentifier()` function, which in your case could simply return `$this->getId()`.

On v0.5, I'm not as sure. You might be able to get by with a dynamic attribute on your user model? Set the `jwt.identifier` to something unuse

[2015-12-11 22:57] tdhsmith commented on #344
Well, I would actually argue that 400 is the correct status code. Having an expired token says nothing about whether you *as a user* are authorized or not (which would be a 401), it merely says you could not communicate your authorization correctly on this attempt (your request was bad).

That said, if you want to change the messages, just create your own copy of the relevant middleware and replac

[2015-12-11 22:59] mrgodhani commented on #344
Hm so I can just use same code and create middleware. FYI I also use dingo api.

[2015-12-12 04:20] ganeshghalame commented on #47
I also have the same problem, i.e I have created a separate namespace for models as `App\Models\User` and even though I have changed model name in **jwt config.php** as below :

 `'user' => 'App\Models\User'`

I am getting below error:

[code]

[2015-12-12 09:27] jerryhanks opened #345 "Wrong Expiry Date For JWT"
My Jwt always has its expiry date set to the past -1970 when i am using my local server for testing and this makes the jwt always expired, what can i do to solve this problem as it always forces a user to login all the time.

[2015-12-12 14:23] rajabishek opened #346 "Wrong class refernce for jwt.auth middleware in docs."
The wiki ( docs ) is still referencing the jwt.auth middleware to the class GetUserFromToken, but that class doesn't exist instead in should reference the Authenticate class.

[2015-12-12 15:05] tymondesigns commented on #346
That is because the docs do not yet reflect the develop branch. They will once I tag the 0.6 release. Thanks

[2015-12-12 15:05] #346 closed

[2015-12-12 15:07] tymondesigns commented on #345
I suspect your local server time is incorrect, or something else with your setup is misconfigured. This package simply uses the current timestamp as returned by php

[2015-12-12 15:07] #345 closed

[2015-12-12 15:08] tymondesigns commented on #344
Yep.. Just implement your own middleware and return any response code you like

[2015-12-12 15:08] #344 closed

[2015-12-12 15:09] #343 closed

[2015-12-14 00:03] ajoslin103 commented on #301
@pavankumarkatakam I had the same problem (with Laravel 4 and Angular) I implemented a queue of promises for the requests (I'm using angular-jwt and it can handle a promise being returned from the tokenGetter), then not resolving the next one until the previous one had come back and updated the jwt in local storage.  That was working fine, but [irregularly] the newly jwt token would be blacklisted

[2015-12-14 08:30] matiux commented on #343
I have solved using dev branch.

in jwt.php I have setted
[code]

and my User Entity implements JWTSubject, AuthenticatableContract

[2015-12-14 11:02] alvassin opened #348 "jwt-auth creates claims i have not included in my token."
I config i specified some claims i would like to see.

Then, using http://jwt.io/ i have created jwt token with only fields `uid` (my custom claim) and `exp` and tried to see, why it is processed as valid.

I found that there are a lot of optional claims (iss, iat, nbf, jti) created automatically (which i did not have in token). Why?! It would be very likely to have ability to disable this behavio

[2015-12-14 12:11] ruscon commented on #339
@kelvinrolex, @tymondesigns
May be, I have the same problem.
When i send form as Content-Type:application/json, I have error "The token could not be parsed from the request" (vendor/tymon/jwt-auth/src/JWTAuth.php#195), but this is backend (admin panel) and jwt middleware not used for it.

[2015-12-16 05:50] kylestev commented on #348
You have a good point. That validator is accepted in the `Factory` class however [it is not referenced outside the constructor](https://github.com/tymondesigns/jwt-auth/blob/8298edc879ef5f97ccb3d805260d7c2e1123fbcf/src/Factory.php#L41) and is a protected member. I think that's the root cause.

[2015-12-16 21:45] igostavro opened #351 "JWTAuth refresh"
Getting an exception when trying to refresh a token manually or via the middleware:

[code]
[code]
the debugger shows that $this->claims["sub"] is an array

Laravel Framework version 5.1.26 (LTS)
In my composer.json:
"tymon/jwt-auth": "0.5.*"

Thanks in advance!

[2015-12-17 12:12] Al3xR0 opened #352 "How can I refresh or remove all the tokens generated by an user id?"
I saw that if I refresh the current token, the token cannot be used anymore.

Can I do this for all tokens that have an specific user id?

I want to make a single login, so If a user logins will refresh/remove the other one token.

[2015-12-17 18:22] tdhsmith commented on #352
See my responses in #310, #300.

The system doesn't know which tokens exist, so you can't invalidate them with only the user id.

You'll either need access to all of a user's tokens, probably by storing them, or you'll have to impose an additional security restriction, for example saving a `last_login` time and using custom middleware to require that all tokens are issued after this date to be val

[2015-12-17 23:58] edemauro opened #353 "Composer Issues with Laravel 4.2"
I added "tymon/jwt-auth": "0.5.*" to composer.json. However, when I run "composer update," I get the following error:

Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Conclusion: remove laravel/framework v4.2.0
    - tymon/jwt-auth 0.5.0 requires illuminate/http ~5.0 -> satisfiable by illuminate/http[v5.0.0, v5.0.22, v5.0.25, v5.0.26, v5.0.28, v5.0.33,

[2015-12-18 00:00] edemauro commented on #353
Nevermind. Switching to .4 fixed the issue. Should have checked the compatibility table before. Sorry.

[2015-12-18 00:00] #353 closed

[2015-12-18 13:09] HeyHugo opened #354 "Refresh-token blacklist question."
Hi, I'm looking at some different JWT solutions and maybe I have not quite understood how the flow with refresh token and blacklist works. But I'm thinking it would be better to just keep a "white-list" of long lived refresh tokens that are valid instead of adding invalidated ones to a growing blacklist?

[2015-12-18 14:13] Al3xR0 commented on #352
:+1: This is a great idea. Thank you very much.

I will use the solution with the last_login field because is more cleaner than having a database table with all the tokens.

[2015-12-18 14:13] #352 closed

[2015-12-19 10:47] ekaitzastiz opened #355 "the session closes suddenly"
Hi, I am using your package, an it seems to work fine, so I am not sure if it's something wrong in server-lumen side, or in angular-client side...
I did an app that works with angular, and it works against an API developed with lumen, where I put your package. But sometimes, when I am working in the admin planel, it takes me out from the panel, I mean, session is closed. I don't know why, no idea.

[2015-12-21 09:13] adiachenko commented on #186
I think that refresh middleware is confusing in it's current form. It's only logical that you'll want to apply it on a route that utilizes token authentication functionality to refresh the expired token but in this case  request will fail before it even fires. This kind of invalidates the point of it being the middleware and looks more like a latent behavior of a separate route.

[2015-12-21 20:49] humbleBeginner opened #356 "I keep getting errors when verifying a user."
My users table is not using the default field e.g. username, password, email. Instead every field has a str appended to them, e.g. strUsername, strPassword. And I keep getting 'Undefined index password'

Here's my login controller for the API I'm building.
![err2](https://cloud.githubusercontent.com/assets/7194216/11940676/1d232168-a865-11e5-811d-758e60e20e5f.PNG)

Here's the user model.
![err3](h

[2015-12-21 20:56] jadjoubran commented on #356
Lucky guess: have you tried renaming `strPassword` to `password`?

[2015-12-21 21:12] tdhsmith commented on #356
Laravel's default `Auth` provider uses providers (i.e. `EloquentUserProvider`) that expect your credential array to always have a `password` field. However [this will still get compared with the correct field](https://github.com/laravel/framework/blob/5.1/src/Illuminate/Auth/EloquentUserProvider.php#L114), as long as you've set up the `getAuthPassword` method correctly.

So yes, changing/duplicati

[2015-12-21 21:48] humbleBeginner commented on #356
I am not allowed to modify the database because it was used by an existing website. And I'm developing a hybrid mobile for it to share with the same database. @tdhsmith and @jadjoubran thanks for the help, I have tried you're suggestions but still no luck. I have also changed <a href="https://github.com/laravel/framework/blob/5.1/src/Illuminate/Auth/EloquentUserProvider.php#L114">this</a> to strPa

[2015-12-21 22:00] tdhsmith commented on #356
Sorry I didn't notice you are using the `Authenticatable` trait on `User`. You should be overriding the `getAuthPassword()` function to `return $this->srcPassword`. [Otherwise it will try to return the nonexistent password field.](https://github.com/laravel/framework/blob/5.1/src/Illuminate/Auth/Authenticatable.php#L24) (That's what I meant by setting it up.)

[2015-12-21 22:06] tdhsmith commented on #356
But something should've changed about the error either way, since that was the exact line mentioned in the error?

[2015-12-21 22:09] humbleBeginner commented on #356
The error now was `{error: 'invalid credentials'}`, returned by the controller. I am pretty sure that my creds are correct.

[2015-12-22 08:18] jasonz1987 commented on #155
@cvinothkumar

protected $primaryKey = 'userID';

works for me,tks.

[2015-12-22 20:44] LukasMa opened #357 "Key generation not working"
Hi, the "artisan jwt:generate" command does not work. It says "jwt-auth secret [xxxx] set successfully", but I can't see that the key is actually set anywhere. Not in the config, nor in the .env file.

[2015-12-22 23:48] efriandika commented on #338
Hi, can you provide me how to use dev-develop Middleware.? i want to take advantage of the blacklist grace period feature.

[2015-12-23 15:14] loreberti89 opened #358 "User_not found ajax call"
Hello,
I'm using a Laravel Api and AngularJs frontend.
I have a problem with a middleware JWT.auth because if I do multiple asynchronous request from my frontend angularjs to backend api Laravel, sometimes (yes not always return error), return a 404 error "user_not_found" by middleware.

But doesn't return error in all request but in some.
I have no idea why this happens.

I have 4 ajax call from

[2015-12-23 21:41] #356 closed

[2015-12-24 06:35] khlipeng opened #359 "In dingo/api, /app/Exceptions/Handler.php can not catch the exception"
In dingo/api,

 /app/Exceptions/Handler.php can not catch the exception

[2015-12-24 10:19] Deno028 commented on #359
By this way, I can handle the exceptions. Hope it's helpful for you.

In this function, I return json format. You can change it by your own.

 public function render($request, Exception $e)
    {
           if($e instanceof \Tymon\JWTAuth\Exceptions\TokenInvalidException) {
                return response()->json(['error'=>'token_invalid','error_description'=>'The token is invalid']);

[2015-12-24 15:57] mohamed-haboubi-itgrapes opened #360 "Uuid and JWT"
Hello,

I have a prom in using Uuid as Primary Key in my database. So when i authenticate a user the web service returns a token but when i use it to retrieve some data using the token it returns "user_not_found'

I changed an id of one of my users from char containing lettres and numbers to one containing only number. And i keep the id column to char. And it work normaly

I want to use Uuid as id

[2015-12-25 01:39] khlipeng commented on #359
I did it, it is still not.

[2015-12-25 01:57] khlipeng commented on #359
My project ，In exception handling, he would skip  /app/Exceptions/Handler.php

[2015-12-25 08:24] mohamed-haboubi-itgrapes commented on #360
I have resolved the problem. The issue was in attempt function in JWTAuth class when it reteive the user data, it only get the first numbers in the id column (I tested it with JWT decoder and i saw this is 'sub'). so i changed the attempt function to this :
[code]

[2015-12-25 08:24] #360 closed

[2015-12-28 08:40] loreberti89 commented on #358
I believe there is a Bug on middleware, because sometimes when there are multiple ajax call, middleware return 404, even if the calls are the same:
example:
if in my controller I do 10 calls equals:
 User.findAll().then(.... );
On some of this calls backend middleware return error 404, so I think it is a bug.

[2015-12-28 10:05] matiux opened #361 "Call to a member function parameter() on null"
I use development branch to use package with doctrine and its private properties.
Since last update I get this error:
[code]

This is the code that trown this error
[code]

[2015-12-28 18:43] diogoazevedos opened #362 "Custom attempt fileds"
Is possible attempt with other credentials combination? Example

[code]

[2015-12-29 11:00] MnMTech opened #364 "JTI claim and therefore tokens are not unique"
I am having an issue when creating multiple tokens which have the same sub and nbf claim (as the tokens are being created in the same second).

    Tymon\JWTAuth\PayloadFactory

    /**
     * Set a unique id (jti) for the token
     *
     * @return string
     */
    protected function jti()
    {
        $sub = array_get($this->claims, 'sub', '');
        $nbf = array_get($this->claims, 'nbf',

[2015-12-29 12:22] LukasMa commented on #357
Okay quick update: I fucked up. I modified my jwt-config file and set the default hash to NULL. However, I would prefer, if the ´´´jwt:generate ´´´ command would set the hash in the env file. Changing the hash in the config file, will always break my git repository on my webserver because git won't let me pull if local changes are detected. Sure, I could work around that, but I think that's not ho

[2015-12-29 13:41] jadjoubran commented on #357
Hi @LukasMa
This has been fixed here #311
It'll be available as of version 0.6

[2015-12-29 13:56] LukasMa commented on #357
Thanky @jadjoubran ! I looked through the closed issues, but I missed this one :)

[2015-12-29 13:56] #357 closed

[2015-12-30 22:07] Skyback opened #365 "dev-develop - Expired ttl makes token not refreshable"
Hi! I've implemented your dev-develop branch on my project because I really needed to handle multiple async calls to the API while refreshing the tokens. After reading through some of your code I finally managed to configure everything and it's up and running, but I have an issue with the token TTL.

 Here are my settings:
[code]

So the token expires in 2 minutes, but has a window of 2 weeks to b

[2015-12-30 23:45] jonagoldman commented on #362
Yes, it's explained in the docs. https://github.com/tymondesigns/jwt-auth/wiki/Creating-Tokens

[2015-12-31 00:11] matiux opened #366 "Type problem"
Problem with "tymon/jwt-auth": "dev-develop@dev"

  Argument 3 passed to Tymon\JWTAuth\JWTAuth::__construct() must be an instance of Tymon\JWTAuth\Http\TokenParser, instance of Tymon\JWTAuth\Http\Parser given, called in /Project/vendor/tymon/jwt-auth/src/Providers/LumenServiceProvider.php on line 144 and defined

[2015-12-31 10:13] tymondesigns commented on #366
Thanks for reporting. should be fixed now

[2015-12-31 10:13] #366 closed

[2016-01-02 08:04] ClemChuang opened #367 "In 0.6.*@dev + L5.1, there is a problem about cache tag."
An error occurs.
"message": "This cache store does not support tagging."
The problem was found, in vendor/tymon/jwt-auth/src/Providers/Storage/Illuminate.php:103, the cache() function.

[code]
The $this->cache is \Illuminate\Cache\Repository and it always has a tags() function. The method_exists() should be applied to $this->cache->getStore(). But after the modification, the test case failed becau

[2016-01-02 09:07] ClemChuang commented on #367
Laravel 5.1.28 has the problem, and the below versions may work well.

[2016-01-03 09:29] efriandika commented on #367
i got this problem too.. how to solve them ?

[2016-01-03 16:15] clorichel opened #368 "[solved] Maximum function nesting level on NamshiAdapter.php on line 10"
I've run into troubles with your package, used with [dingo/api](https://github.com/dingo/api) in a laravel v5.1.28 application when runned on `PHP 5.6.14`.

Worked like a charm with `PHP 5.5.30`, as soon as I switch to `PHP 5.6.14` I was getting a `Maximum function nesting level of '100' reached, aborting! in /clorichel/vendor/tymon/jwt-auth/src/Providers/JWT/NamshiAdapter.php on line 10`

Here is

[2016-01-04 00:51] valera33 commented on #67
+1

[2016-01-04 15:11] ricomonster opened #369 "ParameterBag::get is deprecated"
im having an error when I'm submitting to a route which is:

Using paths to find deeper items in Symfony\Component\HttpFoundation\ParameterBag::get is deprecated since version 2.8 and will be removed in 3.0. Filter the returned value in your own code instead.

I'm really not sure if this is an error on my part because I'm using Laravel 5.2 but then error goes thru JWTAuth that's why I put this iss

[2016-01-04 16:31] tymondesigns commented on #369
This is caused by [this line](https://github.com/laravel/framework/blob/5.2/src/Illuminate/Http/Request.php#L513) in laravel's Request class. Looks like a bug, maybe i'll send a PR

[2016-01-04 16:31] #369 closed

[2016-01-04 17:20] ricomonster commented on #369
thanks!

[2016-01-04 21:06] tymondesigns commented on #369
this was indeed a bug, and has now been merged by Taylor, so expect it in the next framework patch release https://github.com/laravel/framework/pull/11675

[2016-01-04 22:40] drecken commented on #367
adding `JWT_BLACKLIST_ENABLED=false` to `.env` fixed it for me

[2016-01-05 02:17] ricomonster commented on #369
again @tymondesigns, thank you!

[2016-01-05 19:39] jasonspick opened #370 "vendor:publish Nothing to publish for tag []"
Running: php artisan vendor:publish --provider="Tymon\JWTAuth\Providers\JWTAuthServiceProvider"

is returning Nothing to publish for tag []. I am not getting config.

laravel 5.2

[2016-01-05 20:09] jadjoubran commented on #370
Just to make sure, did you add the service provider in your app config?

[2016-01-05 21:01] jasonspick commented on #370
That was it............

[2016-01-05 21:01] #370 closed

[2016-01-05 22:31] tdhsmith commented on #367
It looks like tagging hasn't actually been working for a while, because Repository hadn't had a `tags` method until 5.1.28... probably a mix up between the repo and the manager APIs at some point.

Anyway it's easy to fix the error but I'm not certain what should be done for earlier releases. I guess it doesn't matter much since there is no behavior change, haha.

[2016-01-05 23:01] tdhsmith commented on #367
I'm thinking something like this:

[code]

[2016-01-06 08:02] Brave-Cheng opened #371 "API routing conflicts with the background, annotation VerifyCsrfToken is required"
routes.php

[code]

and i send a request from postman: http://l.weipei.local/api/auth

it's reponse

[code]

how to get not conflicts

[2016-01-06 09:51] daronjay commented on #312
I have had a similar problem with a 500 internal server error thrown by calling JWTAuth::attempt(). In my case the issue was due to having moved my user class into a Models directory, and not updating BOTH auth.php and jwt.php so that they could find it.

[2016-01-06 15:22] sagaio commented on #371
Have you tried adding api as an exception in file `Middleware\VerifyCsrfToken.php`?

Like this:
[code]

[2016-01-06 16:13] Brave-Cheng commented on #371
@sagaio ，my local .env setting here

[code]

so, as you see i don't set `APP_PREFIX`, but how i do ? please tell me detail

[2016-01-06 16:21] Brave-Cheng opened #372 "How to Specify the User model to other table"
config/jwt.php code here

[code]

and my Driver model is

[code]

Authenticate.php

[code]

so , changed to drivers,  the code `        $credentials = $request->only('phone', 'password');` remain use table 'user'. how to fix this.  please

[2016-01-06 19:29] #146 closed

[2016-01-06 19:35] tymondesigns commented on #201
I still might pinch this illustration :smile:

[2016-01-06 19:35] #201 closed

[2016-01-06 19:36] #206 closed

[2016-01-06 19:37] tymondesigns commented on #248
cannot reproduce this

[2016-01-06 19:37] #248 closed

[2016-01-06 19:39] tymondesigns commented on #249
The way to do it with the current release would be to pass the relevant params to the `parseToken()` method e.g.

[code]

Although note that this will change in the upcoming release

[2016-01-06 19:39] #249 closed

[2016-01-06 19:41] #296 closed

[2016-01-06 19:41] tymondesigns commented on #312
I'll assume this is resolved then

[2016-01-06 19:41] #312 closed

[2016-01-06 19:42] #301 closed

[2016-01-06 19:42] #293 closed

[2016-01-06 19:44] tymondesigns commented on #326
looks to be solved now based on answers in #322 ?

[2016-01-06 19:44] #326 closed

[2016-01-06 19:45] tymondesigns commented on #317
assume this is resolved

[2016-01-06 19:45] #317 closed

[2016-01-06 19:50] tymondesigns commented on #354
The blacklisted tokens are purged automatically when their exp time is reached (unless you blacklist a token forever).

So I think its more likely that a token "whitelist" would grow quicker than the blacklist does right now, obviously that's dependant on your config

[2016-01-06 19:50] #354 closed

[2016-01-06 19:50] tymondesigns commented on #364
This has been fixed on the develop branch

[2016-01-06 19:50] #364 closed

[2016-01-06 19:53] tymondesigns commented on #335
So I've removed the try catch block and all looks good on my end, allowing the exception to bubble up now :+1:

[2016-01-06 19:53] #335 closed

[2016-01-06 19:54] tymondesigns commented on #368
Thank you for your explanation and your sentiments. All the best :smile:

[2016-01-06 19:54] #368 closed

[2016-01-06 20:02] HeyHugo commented on #354
Ah of course, I didn't think about the redis purging. Thanks for your answer.

[2016-01-06 20:28] tdhsmith commented on #367
Ok I think I have an approach that might work for all releases and testing, but I probably won't be able to test it on all combinations for a day or so.

Decided to set the result on a flag, since the test was getting a little silly to run every time we do a cache operation.

[code]

[2016-01-06 21:26] tdhsmith commented on #372
Auth needs to be configured to be using your model for authentication. In `config/auth.php`:

[code]

[2016-01-06 21:30] tdhsmith commented on #365
That shouldn't be happening. Do you have any other middleware applied?

[2016-01-06 22:56] tdhsmith commented on #361
The offending method is:
[code]
`Request` has no route available when you create it manually.

JWTAuth could probably throw a check in there to make sure route exists before calling that method, but it seems like an unusual use case. Is there a reason you're creating the request with `new`, rather than something like `Request::create(...)`? That kind of class instantiation usually doesn't work wit

[2016-01-06 22:59] tdhsmith commented on #361
If you're doing this in testing, [Laravel has a number of helpers for HTTP requests](https://laravel.com/docs/5.1/testing#application-testing), like `$this->visit(...)`, `$this->{VERB}(...)`, `$this->call(...)`, etc...

[2016-01-06 23:15] tdhsmith commented on #362
Welllll `JWTAuth::attempt($credentials)` will mirror whatever you can plug into Laravel's `Auth::once($credentials)`. For default <= 5.1 set-ups, and 5.2 with the session driver, this will successfully retrieve the user, but [it's gonna require the credentials to contain a password for validation](https://github.com/laravel/framework/blob/5.1/src/Illuminate/Auth/EloquentUserProvider.php#L112). :di

[2016-01-06 23:23] tdhsmith commented on #348
The `array_diff` change has [already been fixed on develop](https://github.com/tymondesigns/jwt-auth/commit/4fc23d2b8632546255956ff1ad2723851f0967f5).

The extra claims are necessary to establish timelines and unique identifiers for the tokens. It is true that they are not _technically_ required by the JWT standard, but in this package they are used to handle expiration and validation. You will fi

[2016-01-07 14:33] jasonspick opened #374 "Authorization not being set in header nginx"
Everything is working great, except Authorization is not being set in return header. I see most issues related to this is apache, not much for nginx. Any thoughts?

![image](https://cloud.githubusercontent.com/assets/4552494/12172899/4f9f3666-b519-11e5-84ef-a8d2f0f9685f.png)

[2016-01-07 17:36] jasonspick commented on #374
Solved* add add_header 'Access-Control-Allow-Headers' 'Authorization'; to nginx sites-available/

[2016-01-07 17:36] #374 closed

[2016-01-07 22:24] JustinLien commented on #371
@Brave-Cheng there's 2 questions here, your 2nd question is unrelated to the main question.

sagaio, suggested that you turned off VerifyCsrfToken for all your routes that starts with "api".

You can either do that or comment out this middleware if you are not using it anywhere else in your app.

As for your api_prefix in your .env leave set it as the default API_PREFIX=api.

Hope this helps.

[2016-01-08 03:01] Brave-Cheng commented on #371
@JustinLien ,Thanks

Now i have turned off VerifyCsrfToken to fixed that.

My main question is When API and Admin app in a same project used Laravel5.1.  how to fixed it

[2016-01-08 04:05] JustinLien commented on #371
@Brave-Cheng your main question? You mean a new one?

I don't understand your new issue if you are having a new issue. What is wrong with your API and Admin app are used in L5.1?

[2016-01-08 06:32] syropian opened #375 "Lumen: 502 Bad Gateway using jwt.auth middleware"
Been working on a little API today using Lumen, but when I enable the `jwt.auth` middleware in my controller, if the `jwt.auth` middleware is active, nginx throws a 502 Bad Gateway error. If the token isn't included, I get the proper `token_not_provided` response. I confirmed the everything works fine unless the `jwt.auth` middleware is being used. Has anyone come across this? I'm stumped.

Using

[2016-01-08 07:26] Brave-Cheng commented on #371
@JustinLien

I'm very sorry, failed to express clearly, make you confused.

What I mean is like this:

I have two apps are based on Larvel5.1 framework. One is the management background applications based on the admin app. Based on the api app is another API application.

Now the admin app requires VerifyCsrfToken middleware, whereas api app based on JWT - Auth don't need VerifyCsrfToken middlewar

[2016-01-08 08:07] sagaio commented on #371
@Brave-Cheng

If your `api`is located at `http://l.weipei.local/api/*` then you can make api/* an exception to the middleware by entering it as an exception in `App\Http\Middleware\VerifyCsrfToken.php`.

This is my file:

[code]
All other URIs will be going through VerifyCsrfToken

[2016-01-08 08:13] rajabishek commented on #375
@syropian Check you nginx logs to get a better detailed view on the error. It can give a clear idea on where exactly the problem might be.

[2016-01-08 08:26] rajabishek opened #376 "Add support & documentation for integrating with Lumen 5.2"
Since Lumen does not support session state, incoming requests that we wish to authenticate must be authenticated via a stateless mechanism such as API tokens. This package is really going to be helpful for resolving out the authenticated user from the request through API token.
https://lumen.laravel.com/docs/5.2/authentication

[code]

It would be really helpful if we have another section in the w

[2016-01-08 08:56] Brave-Cheng commented on #87
@Maykonn ,It's not work with JWT-Auth in Laravel5.1. Please tell me how to fixed it

[2016-01-08 09:13] Brave-Cheng commented on #371
@sagaio

I understond. but now `api` configuration is `API_PREFIX=`.  and last is like this `http://l.weipei.local/*`. how to do?

[2016-01-08 09:20] bravist opened #378 "How to use refresh token (RefreshToken Middleware)"
routes.php

[code]

jwt.php

[code]

After 1 minute, token does not expired, but after 3 minutes, token can also be used.Don't know how to solve, please help to explain why

[2016-01-08 13:08] softwareok1 opened #379 "Where's the 'jwt.auth' => \Tymon\JWTAuth\Middleware\GetUserFromToken::class"
hi,
i am using jwt-auth dev-develop
theres no GetUserFromToken-class anymore at  ../src/Middleware.
Could you explain the circumstances short?
Greetz

[2016-01-08 14:40] syropian commented on #375
@rajabishek It's the same error every time:

[code]

I tried adding

[code]

and restarted nginx, but that didn't work.

[2016-01-08 15:50] syropian commented on #375
Ah, rookie mistake, I needed to uncomment `$app->register(App\Providers\AuthServiceProvider::class);` in `bootstrap/app.php`.

Getting some more problems where the user isn't being found but it doesn't pertain to this ticket so I'm closing it up.

[2016-01-08 15:50] #375 closed

[2016-01-08 15:58] syropian commented on #376
@rajabishek Where do we put this `Auth::viaRequest` function? And what exactly is `api` here?

[2016-01-08 16:28] Brave-Cheng commented on #372
@tdhsmith ,thanks, fixed it now

[2016-01-08 16:28] #372 closed

[2016-01-08 17:39] syropian commented on #376
Weird, $user always return `null ` for me. It's the `null` from the `if` statement, not the `catch` though.

[2016-01-08 18:07] rajabishek commented on #376
@syropian The AuthServiceProvider in Lumen 5.2 already has a call to Auth::viaRequest method that accepts a Closure which will be called when the incoming request needs to be authenticated ( if auth middleware is used ). Within this Closure, we may resolve out App\User instance however we wish. If no authenticated user can be found for the request, the Closure should return. So what I was suggesti

[2016-01-08 22:59] tdhsmith commented on #379
The `Authenticate` middleware is closest to the old `GetUserFromToken`. `Authenticate` will only continue if there is a valid token on the request. However there are some key differences:

- `Authenticate` throws exceptions on failure. It is your role to catch them in your `Handler` and provide a response / act as necessary (whereas the old middleware would generate a stock response for you).
- No

[2016-01-08 23:04] #367 closed

[2016-01-08 23:23] imrealashu commented on #378
just use middleware `jwt.auth`. it will work well

[2016-01-09 00:23] markusjwetzel opened #383 "Get payload of expired token"
Is it possible to get the payload or at least the `jti` claim of an expired token?

[2016-01-09 03:59] tdhsmith commented on #383
It isn't straightforward because it doesn't come up that often (and you don't really want people to be able to do it by accident). But you can certainly access Namshi, the package that currently handles all the encoding and decoding:

[code]

That'll output an array of the token's claims, including its `jti`.

[2016-01-09 04:24] markusjwetzel commented on #383
That's exactly what I was searching for, thank you! :)

[2016-01-09 04:24] #383 closed

[2016-01-09 05:23] tdhsmith commented on #351
That's pretty strange. Did you ever figure this out? Was `sub` an array before that point?

You might be able to coerce the payload factory into building a token with an array-valued claim (probably easier in 0.5 than 0.6 anyway), but it's strange that this would only happen on refresh. Maybe Namshi parses strings into arrays if they're JSON style? That would be odd too...

[2016-01-09 05:23] tdhsmith commented on #351
In any case, if you have an example token that does this, it might help.

[2016-01-09 05:24] irazasyed opened #384 "Lumen 5.2 Issues!"
So I've been testing this package in Lumen 5.2 and i came across the following issues:

**1. Class cache.store does not exist**
**Path:** `Tymon\JWTAuth\Providers\Storage\Illuminate`

**2. Fatal error: Call to undefined method Illuminate\Auth\RequestGuard::onceUsingId()**
**Path:** `Tymon\JWTAuth\Providers\Auth\Illuminate`

Is anyone else facing these issues? Is there a solution?

[2016-01-09 06:32] tdhsmith commented on #384
Hrm I'm not sure what's up there; I know very little about Lumen but they both should be using the same Cache module. I guess it could just be a difference in bindings/DI? In any case, you should probably be using `app('cache.store')` because `cache` alone points to the cache _factory_ interface, and I'm pretty certain that's going to break once you rely on it.

Path: Tymon\JWTAuth\Providers\Auth\

[2016-01-09 06:35] tdhsmith commented on #384
I think the long-term solutions to the second problem are:

1. Native support as an 5.2 auth driver
2. Packaging up an "auth provider" for jwt that actually sidesteps the whole auth system. (I've been kicking that around for a while since this keeps coming up. In fact, we could even do something crazy like shift the `byId` method to the `JWTSubject` interface.)

[2016-01-09 10:39] GrahamCampbell commented on #384
You need make the cache repository contract instead of container alias exclusive in laravel.

[2016-01-09 11:40] irazasyed commented on #384
@tdhsmith

I tried this already and it fails. Ends up throwing same "does not exist" error. Hence, I'm using the `cache` alias which seems to be working. Again this is still weird, since the repo is type hinted and it was supposed to work.

Yeah, I figured this after i posted the issue here and like you suggested, The long-term solution would be to have a native support. For the time being, I'll p

[2016-01-09 15:23] syropian commented on #376
@rajabishek I tried setting mine up just like your example above, but `JWTAuth::parseToken()->authenticate()` is always null. I verified that the jwt token is present in the request but the authenticate method can never seem to fetch a user. Any ideas?

[2016-01-09 15:29] rajabishek commented on #376
@syropian If you had used a similar code in the AuthServiceProvider that I had written above, then probably null might be returned because there is some exception beign thrown. Just remove the exception handler and probably we can get to see where the error is. Give this a try.

[2016-01-09 15:35] syropian commented on #376
@rajabishek I actually tried that by just doing a really simple version like so:

[code]

but it's not returning a user (or a useful error). It's weird because I am able to generate the token for a given user no problem, but just can't get it to work the other way around! :c

[2016-01-09 16:00] rajabishek commented on #376
@syropian Try doing this.
[code]
Just to run a check whether the package is actually able to grab the token from the request. If ```$token``` happens to be null, then we now know that there is some problem with the getting the token from the request headers, if so we can try setting the token explicitly by grabbing the Authorization header first and then the token value from that. Then we can set

[2016-01-09 16:04] syropian commented on #376
@rajabishek Yup, I did check for that, the token is indeed present in the header.

Anyway, I changed my code up a bit to ensure it returned null if the user wasn't present, and I get a 401 (unauthorized) response now. Very strange. Just to reiterate I have:

[code]

and in my routes I have:

[code]

I've made sure to enable the auth middleware in my `app.php` file.