[2019-01-01 07:06] Zubair-Iftikhar commented on #1712
@feeh27 you fix this Issue?

[2019-01-01 07:19] feeh27 commented on #1712
@zu007 No, can you help me?

[2019-01-01 07:30] Zubair-Iftikhar commented on #1712
$this->jwt->parseToken()->invalidate(); Work For me

[2019-01-01 07:34] Zubair-Iftikhar commented on #1712
[code]

[2019-01-01 07:41] Zubair-Iftikhar commented on #1712
Lumen : 5.7.7
jwt-auth: 1.0@dev

[2019-01-01 07:57] feeh27 commented on #1712
I will use this code and put the result here

[2019-01-01 08:04] Zubair-Iftikhar commented on #1712
Auth::logout(); Working
$this->jwt->invalidate($this->jwt->getToken()); Working
$this->jwt->parseToken()->invalidate(); Working
These 3 statement one by one test. they are destroy token..Successfully logout Perform

[2019-01-02 14:09] rginnow commented on #234
@tymondesigns

This user has been deleted & the question is outdated. Suggest cleaning up and closing some of these super old issues.

[2019-01-03 09:12] ereztdev opened #1733 "`JWTFactory` instantiates the same payload and token from a previous call to the function."
### Subject of the issue
`JWTFactory` instantiates the same payload and token from a previous call to the function.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | yes
| New Feature?      | no / yes
| Framework         | Laravel
| Framework version | 5.7
| Package version   | 1.0.x-dev ef07317
| PHP version       |  7.2.12

### Steps to reproduce
creat

[2019-01-03 11:01] ghost commented on #1732
Add this function to your class
[code]

You can then use `$this->guard` instead of `auth()`:
[code]

[2019-01-03 22:45] Tarasovych opened #1734 "php artisan jwt:secret --env=testing set JWT to .env instead .env.testing"
### Subject of the issue
`JWT_SECRET` doesn't set while working with `.env.testing`.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | yes
| New Feature?      | no
| Framework         | Laravel
| Framework version | 5.7
| Package version   | 1.0.0-rc.3
| PHP version       | 7.1

### Steps to reproduce
1. Create `.env.testing` in the framework root folder

[2019-01-04 13:13] rienheuver commented on #1657
Should you have that exception? In the documentation the exception is not used.

[2019-01-04 15:57] tommie24 commented on #1678
Run
composer require tymon/jwt-auth:dev-develop --prefer-source

[2019-01-04 15:57] tommie24 commented on #1479
Run
composer require tymon/jwt-auth:dev-develop --prefer-source

[2019-01-06 11:17] ereztdev commented on #1482
@antonioreyna 's recipe works :)

[2019-01-07 18:06] arianitu commented on #1500
Can I get a confirmation that because they're stateless, upon a server migration, the tokens will not expire a users existing session. (with an expiration time of never, since this is a mobile app session.)

I don't need to copy anything over from storage/cache to move over to a new server?

@DavidNineRoc

[2019-01-08 01:46] seth-shi commented on #1500
@arianitu If you set the expiration time long enough and you have to make sure that`JWT_SECRET`is consistent, you can try the test.

[2019-01-08 10:47] helderferrari2 commented on #1566
Yes it worked perfectly, I used it like this:

In config/auth.php:

[code]

[code]

thank you for your support

[2019-01-08 16:53] nielspeen commented on #1361
Using a more recent version fixes this. Check the **releases** page.

Currently using _"tymon/jwt-auth": "^1.0.0-rc.3"_ which works fine.

[2019-01-09 01:40] jameswagoner opened #1735 "How to authenticate user with custom sub claim"
I have an overly complicated setup that I stubbornly pushing through issues; API, Client app(s), and separate auth server. Short version is the client app will send creds to auth server returning a token that then the client app will make requests to api.

Auth DB has email and password users table. Api DB has email only (no authenticating, just authorization). To "link" this all up, I am using em

[2019-01-09 16:28] AliRezaBeitari opened #1736 "Remove all default claims"
### Subject of the issue
I removed all claims from `required_claims` in `config/jwt.php`:
[code]
But in the payload, only `exp` is removed!
I want to remove all of the default claims. How can I do that?

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | yes
| New Feature?      | no
| Framework         | Laravel
| Framework version | 5.7.*
| Package versio

[2019-01-10 10:50] jellybobbin commented on #677
Because of this problem, I gave up.

[2019-01-10 12:57] robinpreetam commented on #1707
### How to invalidate all the existing tokens and logout all the already logged in user

1. Generate a new jwt secret.
[code]

This will generate a new random key, which will be used to sign your tokens.

2. Update the newly generated key in the .env file
[code]

3. Clear the application configuration and cache
[code]

[2019-01-10 16:50] arianitu commented on #1500
I did the server migration and no sessions expired, the Stateless feature is very cool!

Cheers.

[2019-01-10 16:58] tariksari commented on #1615
if (!$token = auth('device-api')->attempt($credentials)) {
    return response()-> .....
}

[2019-01-13 11:43] balinux commented on #1566
@helderferrari2
i got error
`"Argument 2 passed to Illuminate\Auth\SessionGuard::__construct() must be an instance of Illuminate\Contracts\Auth\UserProvider, null given, called in C:\laragon\www\usdimobile\vendor\laravel\framework\src\Illuminate\Auth\AuthManager.php on line 123"`

[2019-01-14 21:35] danatemple opened #1737 "JWTException not going to Handler.php"
I have just upgraded to 1.0.0-rc.3 and Laravel 5.7.

In regression testing some of the tests that should throw errors are causing a problem in that they now throw a JWTException, but they does not seem to be processed by Handler.php.

Whereas tests with valid tokens pass, and a test with no token now throws an UnauthorizedHttpException, which is a behavior change from 0.5, but is caught by Handler

[2019-01-15 03:37] evansnguyen0104 opened #1738 "How to revoke all old tokens after change password ?"
### How to revoke all old tokens after change password ?

I need revoke all old tokens after user change password.I had try refresh token but it not working !

### Environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | no
| Framework         | Laravel
| Framework version | 5.7
| Package version   | 1.0.0-rc.3
| PHP version       | 7.2

[2019-01-15 18:43] orhanbhr commented on #1712
Thanks @feeh27

[2019-01-16 00:09] sebastianhelbig commented on #1738
- Store the timestamp of last password change server side.
- Compare `iat` of the token with the saved timestamp.
- If `iat` is older than saved timestamp, the token should not be accepted by your server.

[2019-01-16 13:27] hudsontavares commented on #1298
For the guys coming with newer versions of Laravel (I guess 5.5+), the issue is that by simply running

`composer require tymon/jwt-auth`

You'll obtain the 0.5-based version, that is not immediately compatible, interface-wise, with the latest versions of Laravel (that's why so many people says that renaming `fire` by `handle` did the job).

In order to fix that (assuming you already have installe

[2019-01-18 06:27] jiayuanpulto opened #1739 "Call to undefined method Tymon\JWTAuth\JWTAuth::encode() in Laravel 5.5"
### Subject of the issue
Call to undefined method Tymon\JWTAuth\JWTAuth::encode()

### Your environment
| Framework         | Laravel
| Framework version | 5.5
| Package version   | ^1.0.0-rc.1
| PHP version       | 7.1

### Steps to reproduce
"tymon/jwt-auth": "^1.0.0-rc.1"
Tymon\JWTAuth\Providers\LaravelServiceProvider::class,
'JWTAuth' => Tymon\JWTAuth\Facades\JWTAuth::class,
'JWTFactory' => Ty

[2019-01-21 13:31] ioteducation commented on #1712
Hello,

Sorry for the delay in posting, I was on vacation and returned last week.

My logout still doesn't work, I upgraded my Lumen to version 5.7.7 and jwt-auth to version 1.0.x-dev.

Below is the function I'm currently using:

[code]

The success message appears, but the token remains authenticated.

[2019-01-21 13:32] ioteducation commented on #1712
Hello,

Sorry for the delay in posting, I was on vacation and returned last week.

My logout still doesn't work, I upgraded my Lumen to version 5.7.7 and jwt-auth to version 1.0.x-dev.

Below is the function I'm currently using:

[code]

The success message appears, but the token remains authenticated.

[2019-01-21 13:37] ioteducation commented on #1712
The complete file can be founded in this link in my "Intranet" repository (http://github.com.br/feeh27/intranet).
File link: https://github.com/feeh27/intranet/blob/master/html/api/app/Http/Controllers/JWTAuthController.php

@zu007 Do you have any idea what that might be?

[2019-01-21 13:39] feeh27 commented on #1712
Hello,

Sorry for the delay in posting, I was on vacation and returned last week.

My logout still doesn't work, I upgraded my Lumen to version 5.7.7 and jwt-auth to version 1.0.x-dev.

Below is the function I'm currently using:

[code]

The success message appears, but the token remains authenticated.

[2019-01-21 13:40] feeh27 commented on #1712
The complete file can be founded in this link in my "Intranet" repository (http://github.com.br/feeh27/intranet).
File link: https://github.com/feeh27/intranet/blob/master/html/api/app/Http/Controllers/JWTAuthController.php

@zu007 Do you have any idea what that might be?

[2019-01-21 16:52] baderAmmoun opened #1740 "the respond Always 401 "Unauthorized""
### Subject of the issue
Describe your issue here.

I followed all the configuration in the documentation but always I get the same respond from the server even I send a valid  credentials

[2019-01-22 05:22] Mapteg34 commented on #1561
+1

[2019-01-22 10:43] LastxTemplar commented on #1740
Give us more information about your issue. How do you make the call, how does your controller look like, etc.
What you described here is not enough to help you with anything.

[2019-01-22 11:12] baderAmmoun commented on #1740
my call on the postman :
http://127.0.0.1:8000/auth/login
the body is:
{
"email":"baderfull@hotmail.com",
"password":"1234"
}
the rout as following:
Route::group([

    'middleware' => 'api',
    'prefix' => 'auth'

], function ($router) {

    Route::post('login', 'AuthController@login');
    Route::post('logout', 'AuthController@logout');
    Route::post('refresh', 'AuthController@refresh');

[2019-01-22 11:20] LastxTemplar commented on #1740
Try to change your login function to use guard() instead of auth(). I had a lot of trouble making this work, but in the end, this solution worked for me:
[code]

[2019-01-22 11:21] LastxTemplar commented on #1740
If that works, change all instances of `auth()` to `$this->guard()` in your code.

[2019-01-22 19:28] baderAmmoun commented on #1740
I tried like this but the method does not exist

[2019-01-22 19:29] baderAmmoun commented on #1740
I''m thinking that the problem with hashing password But I don''t know how  can I fix it

[2019-01-23 05:57] #1739 closed, assigned to nobody

[2019-01-23 07:03] 469231308 opened #1741 "使用JWT报错 框架是lumen Non-static method Tymon\JWTAuth\JWT::factory() should not be called statically"
### Subject of the issue
Describe your issue here.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no / yes
| New Feature?      | no / yes
| Framework         | Laravel / Lumen
| Framework version | 5.x.y
| Package version   | 1.x.y
| PHP version       | 5.x.y / 7.x.y

### Steps to reproduce
Tell us how to reproduce this issue.

### Expected behaviour

[2019-01-23 15:01] Alexxosipov opened #1742 "TOKEN_EXPIRED after second refresh"
### Subject of the issue
Describe your issue here.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | probably
| New Feature?      | no
| Framework         | Laravel
| Framework version | 5.7.y
| Package version   | 1.0.0-rc.3
| PHP version       |  7.1.y

### Steps to reproduce
1. The user logged in and received a token
2. TTL of the token is expired, bu

[2019-01-23 23:53] mugisham commented on #1038
Go to config/jwt.php file change following provider : for  "tymon/jwt-auth": "1.0.0-rc.3"
NamshiAdapter to Namshi
IlluminateAuthAdapter to Illuminate
IlluminateCacheAdapter to Illuminate

[2019-01-24 14:27] Cperbony commented on #1742
Hy Dude.
Try to use AuthenticatesUsers trait from Laravel to get the users autenthicated,
`use AuthenticatesUsers;`

In your Login, Logout e refresh methods use the \Auth\guard facade ('api'), once you had properly published your JWTconfig, cause Laravel will uses config/auth.php for web sessions and api.

`'guards' => [
        'web' => [
            'driver' => 'session',
            'provider'

[2019-01-25 02:54] BiznessM commented on #1742
@Cperbony I'm sorry, I incorrectly described the problem, I'll re-create this issue with truly information now

[2019-01-25 03:06] BiznessM opened #1743 "Refresh token works incorrectly"
### Subject of the issue
Describe your issue here.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | yes
| New Feature?      | no
| Framework         | Laravel
| Framework version | 57.y
| Package version   | 1.0.0-rc.3
| PHP version       | 7.1.y

### Issue description
When user refreshes the token, he gets a new one. But REFRESH_TLL of the new token no

[2019-01-25 03:08] BiznessM commented on #1742
@Cperbony I incorrectly described the problem. Check #1743 for correct issue. Sorry for this mistake

[2019-01-25 13:57] NDDT-B5 commented on #1724
I have a similar issue. I want to give the token just to recognize when somebody is coming back. I tryed writing my own UserProvider. But failed.

What would be a good approach to use this package without a database?

[2019-01-25 15:40] victorighalo commented on #81
This worked for my own case. I had to enter the token as a query string.

[2019-01-26 19:02] narendrachoudhary1995 commented on #1632
its giving error UNAUTHORIZED_REQUEST

[2019-01-27 00:50] StevieDC commented on #1705
I'm getting this error. All working fine on local dev but not live. Any suggestions please?

[2019-01-27 12:08] shantudas commented on #1705
Sorry @StevieDC I did not find any solution either. if you found any solution please let me know

[2019-01-27 12:52] KonstantinLapkovsky commented on #1705
@shantudas @StevieDC I met with a similar problem too. I changed the 'JWT Provider' to `'jwt' => Tymon\JWTAuth\Providers\JWT\Lcobucci::class` in the jwt.php file and cleared the config cache.

Controller constructor:
[code]

[2019-01-27 15:53] NikolaGavric94 opened #1744 "must be an instance of Tymon\JWTAuth\Contracts\Providers\Storage, null given"
### Subject of the issue
I have `redis` setup as my caching driver and I have an instance running and it is working because I have tests to check if the cache is being retrieved in timely manner and with correct values. Any help would be appreciated, btw I have the latest config file and I have setup the interface on the User class properly and changed the driver to jwt

### Your environment
| Q

[2019-01-28 08:38] aomini commented on #1038
I was having the same problem after clone...  Then i commented out
`        Tymon\JWTAuth\Providers\LaravelServiceProvider::class,`
on my `config\app.php`
then published the vendor and uncommented it and it worked fine

[2019-01-28 10:37] NikolaGavric94 commented on #1744
Nvm, this was an issue on my end, closing it

[2019-01-28 10:37] #1744 closed, assigned to nobody

[2019-01-28 23:30] b0janix commented on #1298
This works, thank you. The problem is the version of the package that you get with "composer require tymon/jwt-auth"

[2019-01-30 12:48] triplevoid commented on #1006
@kyoukhana how do you solve this in the end?

[2019-01-31 15:50] nelson6e65 commented on #1500
And how are the tokens blacklisted? How works the `invalidate()` and  `logout()` methods? :thinking:

[2019-01-31 15:55] aomini opened #1745 "Unable to authenticate user after a refresh although sending bearer token"
### Subject of the issue
Describe your issue here.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | no
| Framework         | Laravel

| PHP version       |  7.*

### Steps to reproduce
I'm saving a user auth token in local storage.  I want to do something like  auth()->check() and see if the user is authenticated. here authentic

[2019-02-01 07:33] aomini commented on #1669
@shirshak55  @LastxTemplar  I was stuck at this as welll... but now what happened is I have auth::api() in my middleware. If I pass token the it works fine ... but i have a route whose controller checks if user is authenticated() or not..  If I pass auth:api it will authenticate and I can check for auth() in my controller if I dont pass authorization it blocks it what should I do ?

[2019-02-01 07:53] shirshak55 commented on #1669
@rakeshshubhu  pass api middleware so you can use `auth()->check()`. i mean `api` not `auth:api`

[2019-02-01 16:18] garbinmarcelo commented on #1498
any news? same error here when i use` guard => 'api'` =/

[2019-02-01 16:38] PrafullaKumarSahu commented on #1404
@naknode but in that case, you will not get access token, you will get a boolean value for access token, any solution for that?

[2019-02-01 18:00] PrafullaKumarSahu opened #1746 "Using both api and web guard"
### API and Web Guard
I want to sue both web and API guard parallelly, but the solution I could find out not solving my issue.
### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | yes
| Framework         | Laravel
| Framework version | 5.7.19
| Package version   | dev-develop
| PHP version       | 7.2.10

### Steps to reproduce
In co

[2019-02-01 18:22] garbinmarcelo commented on #1663
@shirshak55 I return to that question. Would you have any idea how to do this? Is it something with a database record?

[2019-02-01 23:33] djasnowski commented on #1404
@PrafullaKumarSahu 	Not sure. But you can take a look at this project where I have that solution: http://github.com/delaford/website

[2019-02-02 04:04] shirshak55 commented on #1663
yea it has to be stored in db or redis i prefer later one for speed

[2019-02-02 11:57] ghost opened #1747 "Refresh token ttl"
Please @tymondesigns is there any update on how to override refresh token ttl like you said you are thinking of adding that feature on this [issue](https://github.com/tymondesigns/jwt-auth/issues/1185#issuecomment-306004642)

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | yes
| Framework         | Laravel
| Framework version |

[2019-02-02 17:05] seyidaniels commented on #403
The best thing to do is to go to the Kernel.php file and change

        'jwt.auth' => Tymon\JWTAuth\Middleware\GetUserFromToken::class,  to

        'jwt.auth' => \Tymon\JWTAuth\Middleware\GetUserFromToken::class,

[2019-02-03 22:26] julianpoma commented on #1727
Same issue

[2019-02-04 07:41] PrafullaKumarSahu commented on #1404
@naknode, Thank you so much for your kind help.

I am able to make both API and web work now, but if I am changing

[code]

to

[code]

It is giving me response "unauthenticated", but I want to retrieve the records only when user is authenticated, how this will work.

[2019-02-04 09:08] dagenius007 commented on #1705
Did this work? I am stuck.

[2019-02-04 09:49] shantudas commented on #1705
nope @dagenius007

[2019-02-04 10:10] dagenius007 commented on #1705
@shantudas  Do you have a jwt.php in your config?

[2019-02-04 13:18] PrafullaKumarSahu commented on #1404
@naknode
Changing `Route::middleware('auth')->post('me', 'Auth\AuthController@me'); `to `Route::middleware('jwt.auth')->post('me', 'Auth\AuthController@me');` solves the problem.  If it is not the correct way, please let me know, how I should progress.

[2019-02-04 13:26] PrafullaKumarSahu commented on #1746
I solved this by changing the `AuthController `to

[code]

and in api.php

[code]

Please let me know, if there is any better solution.

[2019-02-04 13:26] #1746 closed, assigned to nobody

[2019-02-04 23:13] djasnowski commented on #1404
@PrafullaKumarSahu 	Not sure why you changed the last to have `middleware('auth')` since it's all covered. It should be either `GET/POST` and then you should have your appropriate guard.

[2019-02-05 05:18] PrafullaKumarSahu commented on #1404
@naknode I was getting `unauthenticated` for `auth` middleware, Could you please tell me, what I should have done there?

[2019-02-05 13:22] josuecamelo commented on #1107
I solved the problem with a simple implementation.

https://github.com/josuecamelo/jwt-token-quase-eterno/blob/master/Implementacao.php

[2019-02-05 13:23] josuecamelo commented on #329
Try

https://github.com/josuecamelo/jwt-token-quase-eterno/blob/master/Implementacao.php

[2019-02-05 16:37] chenweibo commented on #1737
@danatemple  Hello, I also encountered this problem with multi-user authentication, directly throwing 500 errors, with dingo how do you deal with it? Capture this error protected function unauthenticated method does not take effect

[2019-02-05 17:31] yoyTeam commented on #1474
Work perfectly!! :D Thanks so much!

[2019-02-05 18:52] StevieDC commented on #1705
As mine was working locally I decided to bypass Git and Ftp everything up to the server (except .env). It then worked on the live server!

[2019-02-06 16:12] daniel0101 commented on #1226
Got this to work by setting the Accept Header to application/json ..Laravel automatically sends you Json Error Responses

[2019-02-08 13:58] kennyhorna commented on #267
The @tdhsmith solution doesn't worked that well for me but it out me in the right path. I tried in Laravel [5.7] to test and endpoint for my API but I had to modify it slightly.

If anyone else is having trouble setting this up, try the below configuration to test if the token is invalidated:

[code]

[2019-02-09 20:16] tibinvpaul commented on #1747
Thanks, @kelvinrolex for adding this issue. This is one of the features I am eagerly waiting for. Hoping it will be added soon!

[2019-02-10 10:09] codekeyz opened #1748 "Extend token expiry into future each time it is used to hit the server"
### Subject of the issue
I am building a backend to serve both web & mobile frontends using Lumen. JWT Authentication and logout works fine but user gets kicked out after the default token expiry. Is there any way i can extend the expiry into the future anytime a request hits the server with the token ?

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | n

[2019-02-10 12:13] mmteyrek opened #1749 "life time ( JWT_TTL)"
### Subject of the issue
I'm trying to change the time life of my token so I set JWT_TLL in .env to 43800 but the life time remains to 1 hour.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | yes
| New Feature?      | no
| Framework         | Laravel
| Framework version | 5.4.36
| Package version   | dev-develop
| PHP version       | php7.2.14

### Step

[2019-02-11 09:11] kjostling commented on #176
@ereztdev you got any insights to share? I believe I just got the same issue as you...

[2019-02-11 09:52] hoangmy92 commented on #1748
JWT token will consistency through its lifetime.
So you need to re-generate new token and save the new generated token again in your local.
If so, just use the refresh feature https://jwt-auth.readthedocs.io/en/develop/auth-guard/#refresh

[2019-02-11 12:57] codekeyz opened #1750 "Call to undefined method Tymon\JWTAuth\Facades\JWTAuth::factory()"
### Subject of the issue
Heads up @tymondesigns. There seem to be no clear way of using this package with lumen. I have tried to setup with lumen.

### Your environment
| Q                 | A
| ----------------- | ---
| Framework         | Lumen
| Framework version | 5.7.*
| Package version   | 1.0@dev
| PHP version       | 7.1.3

### Steps to reproduce
Check my app.php file here [app.php](https:

[2019-02-11 17:24] #1748 closed, assigned to nobody

[2019-02-12 01:40] hoangmy92 commented on #1749
Try to access **tinker** and type **config('jwt.ttl')**, what is the returned value?

[2019-02-12 09:48] ajmakoni commented on #1298
Summary of working solution:
1)  composer require "tymon/jwt-auth": "^1.0"
2)  composer update
3)  php artisan vendor:publish (selection Tymon\JWTAuth\Providers\LaravelServiceProvider)
4)  php artisan jwt:secret

Advantage of this solution is you **don't have to manualy add classes to config/app.php file**

[2019-02-13 01:16] pandeptwidyaop opened #1753 "Always return Unauthenticated in multiple auth guard"
### Subject
I have followed all the steps in the JWT documentation, when I login and get access_token and try to access the route I always get an Unauthenticated message.

### Environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | no
| Framework         | Laravel
| Framework version | 5.7.25
| Package version   | 1.0.0-rc.3
| PHP version

[2019-02-13 05:38] marataziat commented on #1298
```- The requested package tymon/jwt-auth ^1. 1.0 exists as tymon/jwt-auth[0.1.0, 0.2.0, 0.3.0, 0.3.1, 0.3.10, 0.3.11, 0.3.12, 0.3.2, 0.3.3, 0.3.4, 0.3.5, 0.3.6, 0.3.7, 0.3.8, 0.3.9, 0.4.0, 0.4.1, 0.4.2, 0.4.3, 0.5.0, 0.5.1, 0.5.10, 0.5.11, 0.5.12, 0.5.2, 0.5.3, 0.5.4, 0.5.5, 0.5.6, 0.5.7, 0.5.8, 0.5.9, 1.0.0-alpha.2, 1.0.0-alpha.3, 1.0.0-alpha1, 1.0.0-beta.1, 1.0.0-beta.2, 1.0.0-beta.3, 1.0.0-rc.

[2019-02-13 09:24] #1750 closed, assigned to nobody

[2019-02-14 04:09] ghost opened #1754 "Add warning for README.MD or wiki pages that default configuration is not safe for production!"
### Subject of the issue
I think you should warn developers that their jwt hashes can be easily cracked with default configuration and their user accounts can be easily compromised!

### Your environment
| Q                 | A
| ----------------- | ---
| New Feature?      |  yes

### Expected behaviour
Say with big text on the README.MD "DONT RUN JWT-AUTH WITH THE DEFAULT CONFIGURATION ON THE PRO

[2019-02-14 11:37] ahmedguesmi opened #1755 "Issue token and refresh token : Laravel /jwt"
### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | no / yes
| Framework         | Laravel
| Framework version | 5.6
| Package version   | 1.x.y
| PHP version       | 7.x.y

I am in the course of developing an API, I have a refreshing token problem, at this moment I do a controller that receives the refreshing request with the valid

[2019-02-14 11:46] ahmedguesmi commented on #1755
@tymondesigns

[2019-02-14 12:55] mmteyrek commented on #1749
60

![image](https://user-images.githubusercontent.com/17122420/52788031-fa3f7580-305f-11e9-87fa-52ef302ea4c5.png)

![image](https://user-images.githubusercontent.com/17122420/52788435-37583780-3061-11e9-8f88-81f905ca8367.png)

![image](https://user-images.githubusercontent.com/17122420/52788082-1f33e880-3060-11e9-92a7-590c53965315.png)

[2019-02-14 16:09] danshou commented on #1668
@TheSachin did you find a way to do this?

I'm trying to do the same, verify if a JWT token expired (not the authenticated user's token).

[2019-02-14 17:10] mmteyrek commented on #1749
I found the issue.
I intialise my cach using this command et it's working now 👍

php artisan config:cache

[2019-02-15 09:14] aiventimptner commented on #940
Problem with Policies still exists for me. Authentification with JWT works seamless but Policy never gets called and returns always an 403 http status code.

https://laracasts.com/discuss/channels/laravel/policy-gets-never-called

[2019-02-17 20:19] MOHAMMED-ABD-RAZAQ commented on #1695
me too

[2019-02-18 10:16] tsogi commented on #1038
<h1>For Laravel 5.7:</h1>
<h>
<h3>1) composer.json (note we need version 1.0.0-rc.3 for laravel 5.7) </h3>

[code]

<h3>2) update composer</h3>

`composer update`

<h3>3) publish vendor</h3>

`php artisan vendor:publish --provider="Tymon\JWTAuth\Providers\LaravelServiceProvider"`

<h3>4) generate key</h3>

`php artisan jwt:secret`

<h3>4) add aliases in config/app.php</h3>

[code]

[2019-02-18 11:27] oleksandr-mykhailenko opened #1757 "what cache key format ?"
Hello, I'm use a Redid store to save black list, but I have 2 API clinet, and my second API should check the redis store.
And how I have this format https://imgur.com/6hqiDuG
laravel_cache:8418d3c17340bff59466c6dafd59211d5dc9fd34:14xBRF0jEsvCUkPl
 where created a hash (8418d3c17340bff59466c6dafd59211d5dc9fd34) before jti param ?
Thank you

[2019-02-18 13:19] varichs opened #1758 "Class jwt does not exist"
### Subject of the issue

### Your environment
| Q                 | A
| ----------------- | ---

| Framework         | Laravel
| Framework version | 5.5.*
| Package version   | 1.0.0-rc.1
| PHP version       |  7.1

![jwt](https://user-images.githubusercontent.com/22510514/52953578-e2028a00-33c2-11e9-9ad8-3741c73058ba.JPG)

[2019-02-19 07:05] #1758 closed, assigned to nobody

[2019-02-19 18:31] russofinn opened #1759 "JWT Auth not working in Lumen 5.7"
Hi,
I configured it according to the documentation (https://jwt-auth.readthedocs.io/en/develop/lumen-installation/ and https://jwt-auth.readthedocs.io/en/develop/quick-start/), but when trying to login, api always returns the error 500 Internal Server Error

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | no
| Framework

[2019-02-20 02:27] Metainy commented on #1759
It's working for me on Lumen 5.7. Using release1.0.0-rc.3 as well.
I am not even sure I got this right, but that's my current setup anyway

### **bootstrap\app.php**
[code]
### **config\auth.php**
[code]
### **Middleware\Authenticate.php**
[code]
### **Models\User.php**
[code]
### **Controllers\AuthController.php**
[code]
### **routes\api.php**
`$router->get("user", ["middleware" => "auth:api", "u

[2019-02-20 10:54] hemantsan commented on #1321
It says ```Call to undefined method App\Http\Middleware\authJWT::apiCheck()```

[2019-02-21 20:31] lofye commented on #1721
I'm about to upgrade to 5.8.x-dev for an upcoming release, but we are heavily dependant on jwt-auth. Looking forward to this compatibility update :)

[2019-02-23 09:33] andela-mallan commented on #839
Hey @jelkevdh you need to update your config/auth.php file to look like this
[code]
Remember to change the api driver from `token` to `jwt`.

[2019-02-24 02:14] josegus commented on #1355
why is the v1.0 (final) taking so long?

[2019-02-24 10:11] grgsllnd opened #1760 "JWT usage in web routes"
### Subject of the issue
Describe your issue here.
Trying to secure images in storage with auth:web middleware
Route::get('media/{filename}','MediaController@fetchMedia')->name('get.file');
class MediaController extends Controller{
	public function __construct(){
        $this->middleware('auth');
        //$this->middleware('auth:web');
        //$this->middleware('auth:api');
    }
...
### Your

[2019-02-24 11:44] larabhdr commented on #1666
I have the same issue with version 1 of this package
I use lumen version 5.7
php version 7.1

[2019-02-24 14:38] juanpscotto commented on #1737
How is your middleware configuration? @chenweibo

[2019-02-24 20:42] AmirrezaNasiri commented on #1666
The issue is still there however it's mostly happening on development environment. In production however, I'm not faced with it yet.
@larabhdr Something to note is that in the development environment, trying to disable any extra requests like requests related to BrowserSync was useful to reduce the problem occurrences.

[2019-02-25 03:44] osaigbovoemmanuel1 commented on #184
The problem causing this is:
In your database your user password is been stored as plain text. Ensure to hash or bcrypt your password before storing in your database.

[2019-02-25 11:48] WebDev27 commented on #1640
not working

[2019-02-26 06:44] xiaohuilam commented on #1721
It's time to make compatible.

[2019-02-27 03:08] Jozaguts commented on #1640
@SantosDavid  is right
 run:  php artisan jwt:secret
I worked on laravel 5.8

[2019-02-27 04:48] ajcastro commented on #1721
Waiting for a release compatible with laravel 5.8. When will it be available?

[2019-02-27 08:03] zoulux opened #1763 "How handle dingo custom guard？"
### Subject of the issue
Describe your issue here.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no / yes
| New Feature?      | no / yes
| Framework         | Laravel / Lumen
| Framework version | 5.x.y
| Package version   | 1.x.y
| PHP version       | 5.x.y / 7.x.y

### Steps to reproduce
Tell us how to reproduce this issue.

### Expected behaviour

[2019-02-27 13:16] mits87 commented on #1721
Actually Laravel 5.8 was released and jwt-auth package is still not compatible:

`Installation request for laravel/framework (locked at v5.8.0, required as 5.8.*) -> satisfiable by laravel/framework[v5.8.0].`

[2019-02-27 15:25] selmo47 commented on #896
in Your User class model add the following:
`protected $table = 'your_table_name;'`

[2019-02-27 15:31] akr4m commented on #1721
Waiting for Laravel 5.8 Compatibility.

[2019-02-27 15:42] akr4m opened #1764 "JWT Auth doesn't have Laravel 5.8 Compatibility and Carbon 2"
https://github.com/tymondesigns/jwt-auth/releases/tag/1.0.0-rc.3

Please release Larvel 5.8 compatibility package with nesbot/carbon: v2.* require

[2019-02-27 16:17] eleftrik commented on #1764
Any temporary workaround?
Thank you

[2019-02-27 16:58] mathieutu commented on #1764
https://github.com/tymondesigns/jwt-auth/pull/1762

[2019-02-27 17:36] mathieutu commented on #1721
See https://github.com/tymondesigns/jwt-auth/commit/34d8e48b2a3dd779f37e53fcb76f37e69e8cdd25

[2019-02-27 17:36] mathieutu commented on #1764
See https://github.com/tymondesigns/jwt-auth/commit/34d8e48b2a3dd779f37e53fcb76f37e69e8cdd25
And #1765

[2019-02-27 17:38] mathieutu commented on #1764
Just wait for a new tag.

[2019-02-27 22:34] Mabs2001 opened #1766 "auth()->attempt() cant make login"
### Subject of the issue
I'm using a Laravel Api with Jwt authentication but the credentials arrive correctly by the api routes but always gives fail in login with the correct credentials.

`public function login()
    {
        $credentials = request(['email', 'password']);
        $token = NULL;
        if (!$token = auth()->attempt($credentials)) {
            return response()->json(['error' =

[2019-02-28 08:22] mathieutu commented on #1764
Hi @tymondesigns could you make a minor tag with the last commits, so we can use them in our projects?

Thanks!

[2019-02-28 14:35] MaximeMaillet commented on #1499
You can set JWT_TTL to null + comment `exp` in required_claims

`JWT_TTL=null`

From : https://github.com/tymondesigns/jwt-auth/issues/1107

[2019-03-01 09:28] owen4comes opened #1767 "Can't login user except the id =1"
### Subject of the issue
Can't login user except the id =1

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | I dont know
| New Feature?      | no
| Framework         | Laravel
| Framework version | 5.5
| Package version   | 1.0.0.rc-1
| PHP version       |  7.1.5

### Steps to reproduce
At first , I login the user (id=1) ,it works. But when I logout and

[2019-03-01 09:59] ibrainventures opened #1768 "No bug but Question for Laravel 5.8 -> cache ttl changed from minutes to seconds"
Hi,

with 5.8.:

https://laravel.com/docs/master/upgrade#cache-ttl-in-seconds
[code]
Has this any impact on:
[code]

?

[2019-03-01 21:22] dhcmega commented on #1721
Hi, how do I install the compatible version? Thanks!

[2019-03-02 13:10] gdespirito commented on #1764
+1

[2019-03-02 18:20] leeovery commented on #1721
Until it's tagged you can install from the git commit hash using composer:

`"tymon/jwt-auth": "dev-develop#34d8e48 as 1.0.0-rc.3.2"`

[2019-03-02 18:56] dhcmega commented on #1721
It worked, thanks a lot!

[2019-03-02 19:35] leeovery commented on #1721
I made a mistake though. Use dev-develop. Edited comment.

[2019-03-02 19:38] dhcmega commented on #1721
Ok, changed it and I think it's better, because nesbot was downgraded to v1.36.2, and now it's back to v2.14.2.
Thanks again!

[2019-03-02 22:55] lukepolo commented on #1754
What seems to be wrong with it? The install does say to assign the `JWT_SECRET`, i guess if they don't enter one it could be an issue.

[2019-03-03 02:22] ghost commented on #1729
voy a volverme loco, no consigo una solucion

[2019-03-03 04:11] ghost commented on #1754
jwt-auth uses unsecured HS256 algorithm by default! It must use RS256 which impossible to crack! https://github.com/lmammino/jwt-cracker

[2019-03-03 08:20] ldiebold commented on #1764
+1

[2019-03-03 10:49] tymondesigns commented on #1764
I'll have a tagged release for you guys in the coming days, Thank you for your patience!

[2019-03-03 11:05] tymondesigns commented on #1768
Yea I plan on adjusting the value dynamically, based on the laravel version, so it will be invisible to the user and always use minutes. This will be resolved when I officially tag the 5.8 compatibility version

[2019-03-03 14:04] lukepolo commented on #1754
You should make a PR to change the default. But really it says with weak secrets

`Effective only to crack JWT tokens with weak secrets`

[2019-03-03 16:34] ibrainventures commented on #1768
sounds great, any timeline for this adjusting ?

[2019-03-03 18:19] zakulqi opened #1769 "Subject lock not works"
### When using \Tymon\JWTAuth\Http\Middleware\Authenticate middleware, it not checking prv parameter, to verify model.

| Q                 | A
| ----------------- | ---
| Bug?              | yes
| New Feature?      | no
| Framework         | Laravel
| Framework version | 5.8.2
| Package version   | 8dfa7952bf752ea1867fcb038a92e01e4b0d8668
| PHP version       | 7.3.2

### Steps to reproduce
Create

[2019-03-03 19:43] amr commented on #1705
You might need to clear your cache after running `php artisan jwt:secret`. I clear laravel cache using `php artisan clear-compiled && php artisan optimize`

[2019-03-04 10:23] valehasadli commented on #1764
guys, my composer.json for jwt-auth ->  "tymon/jwt-auth": "^1.0.0-rc.1" and I want to update Laravel version 5,7 to 5.8, now is everything okay or have some issues?

[2019-03-04 10:26] valehasadli commented on #1768
btw what's the stable version this package.  "tymon/jwt-auth": "^1.0.0-rc.1" my composer.json is look like this, and that guy mention before about Cache class minutes to second. We still waiting stable version.

[2019-03-04 10:53] atapatel commented on #1764
Duplicate of https://github.com/tymondesigns/jwt-auth/issues/1721

[2019-03-04 20:19] dhcmega commented on #1484
Also, you can add this to your LoginController.

[code]

[2019-03-04 21:05] dhcmega commented on #1500
Hi, I have the same question. Will I have a huge directory full of invalidated tokens? Thanks.

[2019-03-05 02:26] seth-shi commented on #1500
@nelson6e65 @dhcmega The use of tokenis not required to store it, but when you use the blacklist feature, you need a storage material to save these. The blacklist, may be file, db, redis. depends on your system, so that the use of the cache will be more and more, and this is inevitable, unless you can find a better solution.

[2019-03-05 09:18] tymondesigns commented on #1754
@marataziat The minimum recommended key length for HS256 (HMAC + sha256) is 32 bytes or 256 bits. Since one character is 1 byte, the secret key that is generated by default is sufficient at 32 characters long.

Ultimately we will all be long dead before any successful brute forcing could occur

Here are some links on the subject
https://security.stackexchange.com/questions/95972/what-are-requireme

[2019-03-05 09:18] #1754 closed, assigned to nobody

[2019-03-05 11:48] dhcmega commented on #1500
Hi @DavidNineRoc, thanks for your answer. Once a token expired and it's not renewable, will still be kept in the store? I think it would make sense to delete tokens that aren't valid anymore themselves.

[2019-03-05 15:23] dhcmega commented on #1568
@ogisusu Hi, how is your auth file? Because your solution gave me a "class not found".

[2019-03-05 16:07] akr4m commented on #1764
`"tymon/jwt-auth": "dev-develop#f72b8eb as 1.0.0-rc.3.2"`

Try this and update.
This is solution for:

- chore(deps): Allow Laravel 5.8
- ci: remove xdebug
- Add Carbon 2 compatibility. (#1765)
- fix(storage): Convert minutes to seconds for Laravel 5.8
- fix(carbon): Fix for carbon issue
- test: Fix for other carbon issue
- increase secret key length to 64

[2019-03-05 16:07] #1764 closed, assigned to nobody

[2019-03-05 16:13] Ademking commented on #1668
@danshou i've found what you want.. 👍
i've made this middleware.. it will get the token from the header using `$request->header('Authorisation')` then i remove the "Bearer" thing..
and i test it with  `JWTAuth::setToken($token);`

Hope this will help..

[code]

[2019-03-06 13:42] luongs3 commented on #1159
I got the same issue, so what's your solution?

[2019-03-06 17:24] hoangcao10 commented on #1727
Same issue

[2019-03-07 17:19] dmason30 commented on #1768
@tymondesigns A possible backwards compatible version is to use `now()->addMinutes($minutes)`

[code]

[2019-03-08 02:11] fanybook opened #1770 "satisfiable by laravel/framework[v5.8.3]."
[code]

[2019-03-08 15:37] suretarget commented on #1770
You can install from the git commit hash using composer.

`"tymon/jwt-auth": "dev-develop#f72b8eb as 1.0.0-rc.3.2",`

[2019-03-08 19:03] ibrainventures commented on #1768
there was some commit progress in the last few days 👍

https://github.com/tymondesigns/jwt-auth/commit/9ec301bae5dd7f95f020860f5105346106eccb91

works with:

composer require tymon/jwt-auth:dev-develop#f72b8eb

[2019-03-08 19:27] jadsalhani commented on #1760
If you're using Ajax then the `content-type` and `accept` headers should both be set to `application/json` for laravel to detect that it's an API request

[2019-03-09 15:49] egiesemka commented on #1705
stop php artisan serve, and start again

[2019-03-11 05:29] jonaths commented on #1640
What worked for me is to set manually JWT_SECRET in Heroku. I generated a new key locally using php artisan jwt:secret and pasted it into Heroku config vars.

[2019-03-11 10:22] AucT opened #1771 "Make 0.5 for laravel 5.8"
Is there any chance for appearing 0.5 or 0.6 version that support laravel 5.8 ?

I've tried 1.0 but it is like version for fully replacing auth to jwt. And the hack ($token = auth('api')->attempt($credentials);)  didn't work. Also it doesn't say anything why user can't login.

[2019-03-11 17:11] zabaala commented on #1187
The @JamesPoel solution work fine for me on 0.5 version.

[2019-03-11 23:19] Sonargroup commented on #1770
Also works for Lumen 5.8

[2019-03-12 13:26] yadurvt commented on #872
public function handle($request, Closure $next)
    {
        $success_status = 200;
        try{
            $user = JWTAuth::toUser($request->header('Authorization'));
        }catch (JWTException $e) {
            if($e instanceof \Tymon\JWTAuth\Exceptions\TokenExpiredException || $e instanceof \Tymon\JWTAuth\Exceptions\TokenBlacklistedException) {
                try {
                    $new

[2019-03-12 13:30] yadurvt commented on #872
public function handle($request, Closure $next)
    {
        $success_status = 200;
        try{
            $user = JWTAuth::toUser($request->header('Authorization'));
        }catch (JWTException $e) {
            if($e instanceof \Tymon\JWTAuth\Exceptions\TokenExpiredException || $e instanceof \Tymon\JWTAuth\Exceptions\TokenBlacklistedException) {
                try {
                    $new

[2019-03-12 13:39] yadurvt commented on #186
Hi. I use this middleware for all the api requests. Its working. New token is passed to the front end and old token from localstorage is updated before next request.

[code]

[2019-03-12 15:52] gaelreyrol commented on #1770
How can a package so important like that can still not be released with laravel 5.8 and has such bad release plan ...
It is so inadecuate to use for production ...
If you need help, ask for it. You can't let a such package in that state.

[2019-03-12 19:09] LeonAlvarez commented on #1770
Any update on this, im up for helping if something needed

[2019-03-12 19:12] LeonAlvarez commented on #1767
I suggest to try new rc.

[2019-03-12 19:15] LeonAlvarez commented on #1771
Did you try "tymon/jwt-auth": "dev-develop#f72b8eb as 1.0.0-rc.3.2"
Im using it with laravel 5.8
`$token = auth()->attempt($credentials)`

I got the api as default guard but it should work also if u specify a guard.

[2019-03-12 19:34] tymondesigns commented on #1771
No plans to touch the `0.5.*` releases with the exception of any possible security patches

[2019-03-12 19:34] #1771 closed, assigned to nobody

[2019-03-12 19:35] tymondesigns commented on #1770
Release has been tagged https://github.com/tymondesigns/jwt-auth/releases/tag/1.0.0-rc.4

[2019-03-12 19:35] #1770 closed, assigned to nobody

[2019-03-12 19:35] tymondesigns commented on #1768
Release has been tagged https://github.com/tymondesigns/jwt-auth/releases/tag/1.0.0-rc.4

[2019-03-12 19:35] #1768 closed, assigned to nobody

[2019-03-12 19:37] #1749 closed, assigned to nobody

[2019-03-12 19:38] tymondesigns commented on #1767
I would also suggest upgrading to the latest version and report back if still an issue, but I'm doubtful this is an issue with the package

[2019-03-12 19:38] #1767 closed, assigned to nobody

[2019-03-12 19:39] tymondesigns commented on #1766
Please provide more detail

[2019-03-12 19:39] #1766 closed, assigned to nobody

[2019-03-12 19:39] tymondesigns commented on #1769
I will put this at the top of my list of things to look into :+1:

[2019-03-12 19:40] tymondesigns commented on #1763
Please provide more detail

[2019-03-12 19:40] #1763 closed, assigned to nobody

[2019-03-12 19:46] tymondesigns commented on #1757
This is how the laravel framework stores cache keys in redis. You can access the blacklisted items by doing the following
[code]

[2019-03-12 19:46] #1757 closed, assigned to nobody

[2019-03-12 19:48] tymondesigns commented on #1741
`Tymon\JWTAuth\JWT` is not a facade if that's what you mean

[2019-03-12 19:48] #1741 closed, assigned to nobody

[2019-03-12 19:53] tymondesigns commented on #1738
What @sebastianhelbig said 😄

[2019-03-12 19:53] #1738 closed, assigned to nobody

[2019-03-13 04:40] yadurvt commented on #872
I used a jwt-auth middleware and it is called for all the routes in api.php.

[code]
If the access token validity is timed out, then a refresh token is generated which us then set as header for the current request. As the api response i send the token back to front end with every api resposne. This need to be replaced with the old token which is present in the local storage. This need to be done i

[2019-03-14 00:32] ricardoperovano commented on #1758
hey, did you solved this issue @varichs ?

[2019-03-14 06:54] xiaohuilam opened #1773 "Travis.ci tests multiple version laravel"
### Subject of the issue
Travis.ci tests multiple version laravel

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | yes
| New Feature?      | yes
| Framework         | Laravel && Lumen
| Framework version | 5.x

### Expected behaviour
Hope to see compatibilities with every 5.* version laravel from travis.ci in the readme.

[2019-03-14 10:21] jcalosor commented on #1498
Was this resolved? It's been over a year, I'm having the same issue

[2019-03-14 10:36] xiaohuilam opened #1774 "String typehint will cause php 5.6 exception"
## Environment
- Laravel 5.3
- PHP 5.6.3
- [tymon/jwt-auth 1.0.0-rc.4](https://github.com/tymondesigns/jwt-auth/releases/tag/1.0.0-rc.4)

## Error
[code]

## Code
https://github.com/tymondesigns/jwt-auth/blob/d0d67c052bc13db84ce910aa8b89145b342c8e6d/src/Providers/Storage/Illuminate.php#L147-L148

--

and as another issue https://github.com/tymondesigns/jwt-auth/issues/1773 referenced, travis phpun

[2019-03-14 20:16] tymondesigns commented on #1774
ah my mistake! Been so long since I've worked with php 5. Will push up a fix

[2019-03-14 20:18] tymondesigns commented on #1774
Closed by 1ce697e1fa280bf22196bc397b324bc9997b90b3

[2019-03-14 20:18] #1774 closed, assigned to nobody

[2019-03-14 20:20] tymondesigns commented on #1721
Forgot to close this one. Release has been made for this

[2019-03-14 20:20] #1721 closed, assigned to nobody

[2019-03-14 20:21] tymondesigns commented on #1728
I believe is fixed by #1775

[2019-03-14 20:21] #1728 closed, assigned to nobody

[2019-03-14 20:22] tymondesigns commented on #1734
Can you give an example of other packages doing this? Doesn't seem worth it

[2019-03-14 20:23] tymondesigns commented on #1730
Not really a concern of this package

[2019-03-14 20:23] #1730 closed, assigned to nobody

[2019-03-14 20:28] tymondesigns commented on #1719
@Oleg-Arkhipov you can return the token in any way you like. The clients might not care to decode the token to discover the expiration so it's just an example, it has nothing to do with oauth, only resembling the typical oauth response format

[2019-03-14 20:28] #1719 closed, assigned to nobody

[2019-03-14 20:38] #687 closed

[2019-03-14 20:39] tymondesigns commented on #716
Closing old issues. If still an issue please re-open

[2019-03-14 20:39] #716 closed

[2019-03-14 20:39] tymondesigns commented on #234
Closing old issues. If still an issue please re-open

[2019-03-14 20:39] #234 closed

[2019-03-14 20:39] tymondesigns commented on #396
Closing old issues. If still an issue please re-open

[2019-03-14 20:39] #396 closed

[2019-03-14 20:40] tymondesigns commented on #422
Closing old issues. If still an issue please re-open

[2019-03-14 20:40] #422 closed

[2019-03-14 20:40] tymondesigns commented on #500
Closing old issues. If still an issue please re-open

[2019-03-14 20:40] #500 closed

[2019-03-14 20:40] tymondesigns commented on #536
Closing old issues. If still an issue please re-open

[2019-03-14 20:40] #536 closed

[2019-03-14 20:40] tymondesigns commented on #559
Closing old issues. If still an issue please re-open

[2019-03-14 20:40] #559 closed

[2019-03-14 20:41] tymondesigns commented on #625
I think this simply warrants a warning in the docs

[2019-03-14 20:41] #625 closed

[2019-03-14 20:41] tymondesigns commented on #766
Closing old issues. If still an issue please re-open

[2019-03-14 20:41] #766 closed

[2019-03-14 20:41] tymondesigns commented on #769
Closing old issues. If still an issue please re-open

[2019-03-14 20:41] #769 closed

[2019-03-14 20:41] tymondesigns commented on #787
Closing old issues. If still an issue please re-open

[2019-03-14 20:41] #787 closed

[2019-03-14 20:42] #794 closed

[2019-03-14 20:42] tymondesigns commented on #798
Closing old issues. If still an issue please re-open

[2019-03-14 20:42] #798 closed

[2019-03-14 20:42] tymondesigns commented on #799
Closing old issues. If still an issue please re-open

[2019-03-14 20:42] #799 closed

[2019-03-14 20:43] tymondesigns commented on #802
Closing old issues. If still an issue please re-open

[2019-03-14 20:43] #802 closed

[2019-03-14 20:43] tymondesigns commented on #806
Closing old issues. If still an issue please re-open

[2019-03-14 20:43] #806 closed

[2019-03-14 20:43] tymondesigns commented on #816
Closing old issues. If still an issue please re-open

[2019-03-14 20:43] #816 closed

[2019-03-14 20:44] Tarasovych commented on #1734
@tymondesigns it's default Laravel behavior (when you run `php artisan migrate --env=testing` for example), so I thought it might work as expected.

[2019-03-14 20:44] #1734 closed, assigned to nobody

[2019-03-14 20:45] tymondesigns commented on #1298
I think it's clear now that the newer version of the package is the way to go :)

[2019-03-14 20:45] #1298 closed, assigned to nobody

[2019-03-14 20:45] tymondesigns commented on #947
Closing old issues. If still an issue please re-open

[2019-03-14 20:45] #947 closed

[2019-03-14 20:45] tymondesigns commented on #950
Closing old issues. If still an issue please re-open

[2019-03-14 20:45] #950 closed

[2019-03-14 20:45] tymondesigns commented on #954
Closing old issues. If still an issue please re-open

[2019-03-14 20:45] #954 closed

[2019-03-14 20:46] #949 closed

[2019-03-14 20:46] #948 closed

[2019-03-14 20:47] tymondesigns commented on #956
Closing old issues. If still an issue please re-open

[2019-03-14 20:47] #956 closed

[2019-03-14 20:47] #952 closed

[2019-03-14 20:48] tymondesigns commented on #958
Closing old issues. If still an issue please re-open

[2019-03-14 20:48] #958 closed

[2019-03-14 20:48] tymondesigns commented on #966
You can catch the exceptions instead

[2019-03-14 20:48] #966 closed

[2019-03-14 20:49] #992 closed

[2019-03-15 09:11] mattmcdev commented on #799
@tymondesigns Is the behaviour of the `AuthenticateAndRenew` middleware meant to combine the behaviour of the `Authenticate` and `Refresh` middlewares?

[2019-03-15 09:48] Pravinslk commented on #834
@Arkanius only need to change in user model ? cause i added but its not working

[2019-03-15 15:48] oshindeveloper3 commented on #1759
Did you check the logs? You're getting an application error, maybe is something no related to the package.

[2019-03-16 09:46] ixperiencenl commented on #1498
If anyone experiences this, please also make sure your middleware route uses the correct provider.
My case I had the provider 'customers' and in my middleware route I set ``['middleware' => ['jwt.auth:customer']]`` which obviously was a typo. Changing the provider to customer fixed this issue at least :)

[2019-03-18 07:49] sadi304 commented on #1747
+1

[2019-03-18 09:46] ghost commented on #917
@3lpsy did you by any chance was able to do a 2FA with JWT? I'm looking to implement this kind of authentication as well

[2019-03-18 14:56] zagreusinoz opened #1776 "Get secret key based on issuer"
### Subject of the issue
I want to be able to assign tokens based on the iss claim.  I'm using that to indicate a users' team.  I see in #503 that I can set the secret with ```JWTAuth::getJWTProvider()->setSecret('foobarbaz');```, however it's not clear to me where I can set that in the auth lifecycle so that the token is already parsed and I can retrieve the team model to get the secret key.

Has

[2019-03-19 17:10] linkjian commented on #1769
@tymondesigns Hi, I also encountered this problem, but I need to use multiple users. After I try to delete the code of JWTGuard:L74-L76, multi-user can work. Can I temporarily delete this code to use? like this:
![Screenshot from 2019-03-20 01-02-16](https://user-images.githubusercontent.com/48601161/54626365-fc0bb700-4aab-11e9-863a-963989014205.png)

[2019-03-19 17:14] zakulqi commented on #1769
It solves my problem
https://gist.github.com/zakulqi/5f3e34638c169114a75de704df4b7d2c

[2019-03-20 01:30] Arkanius commented on #834
@andrealune Try to change the `$keyType = 'string';` to `$keyType = 'char';`

[2019-03-20 02:36] specialtactics commented on #834
All you need to do for UUID keys is this in your "base" model

[code]

And in your User model, there shouldn't be any reason to do anything fancy - ie;

[code]

If it still doesn't work, maybe try setting the actual **$primaryKey**  on your Model

[2019-03-21 09:29] Lorca-R commented on #1103
For any one wasted hours of life on this problem, here is another solution:

In your `User` Model, rewrite the `getAuthIdentifierName` method like this
[code]
Works fine for me in laravel 5.7 / jwt-auth 1.0.0-rc.3.

[2019-03-21 15:19] CodyFortenberry commented on #1640
I was having a problem on Fortrabbit. The fix for me was to upload my .env file. It was in the .gitignore so it was not committed. At the bottom of the .env file is the JWT_SECRET.

[2019-03-21 15:21] CodyFortenberry commented on #1705
I was having a problem on Fortrabbit. The fix for me was to upload my .env file. It was in the gitignore so it was not committed. At the bottom of the .env file is the jwt secret.

[2019-03-22 08:32] Frozire commented on #1436
I am running into the same issue, did you find any workarounds? Or did you disable the AuthenticatesSession middleware too?

[2019-03-22 08:46] shingsoso opened #1780 "Is there any way to stop multiple login ?"
I want to invalidate the old token once there s a new device login with same credentials

[2019-03-22 09:29] shingsoso commented on #1084
Hi , Have you found any solution to achieve that ?

[2019-03-22 11:45] tymondesigns commented on #1705
This error happens when JWT_SECRET is not defined

[2019-03-22 11:45] #1705 closed, assigned to nobody

[2019-03-24 19:40] Vagmacker commented on #1764
Hi guys

I tried to follow the instructions given above but I did not succeed, I'm using the dev-develop#63698d304554e5d0bc3eb481cc260a9fc900e151 (last version until today)

can you help me ?

[2019-03-24 19:44] ibraah88 commented on #1764
this one works for me
` "tymon/jwt-auth": "dev-develop#f72b8eb as 1.0.0-rc.3.2",
`

[2019-03-24 19:46] Vagmacker commented on #1764
This does not work for me. Am I doing something wrong?

[2019-03-24 19:56] ibraah88 commented on #1764
can you paste the block **require**  of your composer.json

[2019-03-24 20:03] Vagmacker commented on #1764
"require": {
    "php": "^7.1.3",
    "barryvdh/laravel-cors": "^0.11.0",
    "canducci/zipcode": "1.1",
    "fideloper/proxy": "^4.0",
    "guzzlehttp/guzzle": "5.3.2",
    "illuminate/contracts": "5.8.*",
    "illuminate/filesystem": "^5.8",
    "illuminate/support": "5.8.*",
    "laravel/framework": "5.8.*",
    "laravel/tinker": "^1.0",
    "mdanter/ecc": "^0.5.2",
    "phpseclib/phpseclib": "

[2019-03-24 20:10] akr4m commented on #1764
[code]

[code]

Brother, do it. I think, This will work for you

[2019-03-25 06:49] Xiaocge commented on #1159
I got the same issue, so what's your solution?

[2019-03-25 07:07] Andy-Yuen commented on #1159
参考 https://segmentfault.com/a/1190000014788672

[2019-03-25 07:10] Andy-Yuen commented on #1159
https://laravelacademy.org/post/9815.html

[2019-03-25 07:29] AndyYuenOk commented on #1159
参考 https://segmentfault.com/a/1190000014788672
https://laravelacademy.org/post/9815.html
https://learnku.com/laravel/t/2811/laravel-52-uses-jwt-to-complete-multi-user-authentication

[2019-03-25 16:18] Vagmacker commented on #1764
Which middleware should I use?
Even with the changes still continues with this bug

[2019-03-25 16:22] Vagmacker commented on #1764
My route:

Route::group(['middleware' => ['auth:api', 'jwt.refresh']], function () {

        Route::post('/logout', 'AuthController@logout')->name('logout');
        Route::get('/auth/user-logged', 'AuthController@userLogged')->name('user.logged');

        Route::apiResources([
            'roles' => 'RoleController',
            'cells' => 'CellController',
            'churches' => 'ChurchCont

[2019-03-26 11:25] hanbz opened #1783 "Customer Authentication and Nonce method"
### Subject of the issue
Is it possible to change the Authentication from the "Authorization: Bearer {yourtokenhere}" to "X-Auth-Token: {yourtokenhere}" ?

And another question , is any way to do the nonce method ?

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | no
| Framework         | Laravel
| Framework version | 5.7
| Packa

[2019-03-27 02:00] varichs commented on #1758
yes,  I just used the wrong middleware name

[2019-03-27 13:07] OAmor opened #1784 "There are no commands defined in the "jwt" namespace problem"
### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              |  yes
| New Feature?      | no
| Framework         | Laravel
| Framework version | 5.7.28
| Package version   | 1.x.y
| PHP version       |  7.1.27

### Steps to reproduce
i followed the same docs steps but when i run
`php artisan vendor:publish --provider="Tymon\JWTAuth\Providers\LaravelServiceProvider"
`

[2019-03-27 13:11] veronesecoms opened #1785 "Cors in routes that i apply jwt.auth middleware"
When i try to make a http request in a middleware group with the jwt.auth i receive:

| Bug?               yes
| Framework         | Laravel
| Framework version | 5.6
| Package version   | Try using         "barryvdh/laravel-cors": "^0.9.2", and "tymon/jwt-auth": "^0.5.12"
| PHP version       | PHP 5.6.36 (cli) (built: Apr 25 2018 16:45:32)

I have this routes without the jwt middleware:

[code]

[2019-03-28 07:36] veshraj commented on #1480
@akkhan20  agree with you. But I have one doubt. Suppose token issued at login and this should not work after refreshing the token. In this scenario how jwt determine token before refresh is invalid.

[2019-03-28 10:57] tuanpht commented on #1480
@veshraj
If blacklist is enabled[1], old token will be stored in blacklist storage [2], which actually is Larave Cache storage [3]

[1] https://github.com/tymondesigns/jwt-auth/blob/63698d304554e5d0bc3eb481cc260a9fc900e151/config/config.php#L223

[2] https://github.com/tymondesigns/jwt-auth/blob/63698d304554e5d0bc3eb481cc260a9fc900e151/src/Manager.php#L131-L132

[3] https://github.com/tymondesigns

[2019-03-28 16:47] willystadnick commented on #1678
Got into this problem too :disappointed:

Merely running [1]

[code]

Was not being enough to solve it for me.

I had to rollback versioning and execute `composer install` to have a working app again.

Then I executed [1] again and got composer dependency of tymon/jwt-auth set to ^1.0 and the publishing success, as expected.

[2019-03-28 23:36] zagreusinoz commented on #1569
I know this is old, but this shows a fundamental misunderstanding of JWTs.

If you need to you _could_ encrypt before creating the custom claims, but really @ColinLaws is right, just don't put sensitive info into your jwt.   If you have sensitive info then use your jwt to authorize the retrieval of that info in your app.

[2019-03-29 07:45] shijisaroop commented on #910
Hi ,

In my authenticated routes in controller, i am not able to fetch the user details from bearer token.
I am working with latest lumen -> 5.8 and tymon/jwt-auth->1.0.0-rc.4.1
I have tried the following,
JWTAuth::toUser(JWTAuth::getToken());//token is valid .Also tried to pass the bearer token from request header
@tymondesigns

[2019-03-29 11:41] amcsi commented on #1569
Except when it's storing your user's key to his encrypted cryptocurrency private key that we don't want to store for security purposes.
But I get it; it's our responsibility to do the encryption.

[2019-03-29 16:46] GoGurtPrime commented on #1569
@amcsi You should not be storing sensitive information in your JWT. It should only describe who the JWT claims to be. If you need to transport sensitive data, use the JWT as a form of authentication to access the information from a protected back-end.

[2019-03-29 16:52] amcsi commented on #1569
@ColinLaws How should I be storing e.g. credit card information in a secure way then? I don't want to store it in the DB in plaintext, nor do I want the decryption key to be in my DB if I do encrypt the credit card numbers. Thus I want the client to keep sending me the credit card decryption key (encrypted of course) so I wouldn't need to store it.

[2019-03-29 17:31] shijisaroop commented on #155
Yea right. If the primary key is different then set primary key name in the user model.
 protected $primaryKey = "UserId";

So that the below function will return the value of the primarykey,

    public function getJWTIdentifier()
    {
        return $this->getKey();
    }
So the jwt token claim "sub" will contain the user id value. Which is used to fetch the user information from the token.

Al

[2019-03-29 19:42] GoGurtPrime commented on #1569
Sensitive information should be stored encrypted in the database. You wouldn't store the encryption key in the database you're storing the encrypted data in (I hope it's obvious why, that's like putting locks on your doors and keeping the key next to your door).

Another problem is that if you're decrypting data on the front end. If someone stole encrypted data from your front end, wouldn't they j

[2019-03-29 19:45] GoGurtPrime commented on #1569
Please research security more in depth. You are putting users at serious risk by the methods you are describing. I suggest closing this thread, as the OP is not clear on the properly implementing JWTs.

[2019-03-29 21:24] lucianobragaweb commented on #1705
For me works only run:

`php artisan jwt:secret`

and after:

`php artisan clear-compiled && php artisan optimize`

Works Fine!!
Thanks!!

[2019-03-29 23:42] jfeliubadalo commented on #1581
Same here.

My trace problem if below....

![image](https://user-images.githubusercontent.com/11096845/55267769-5b0ec000-5252-11e9-9e25-0513b339c757.png)

[2019-03-30 12:59] tom-frost opened #1787 "Laravel v5.8 Middleware issue"
### Subject of the issue
Got error on  'jwt.auth'  & jwt.refresh' middlewares
"message": "Call to undefined method Illuminate\\Events\\Dispatcher::fire()",

**According to**  https://laravel.com/docs/5.8/upgrade#events
The fire method (which was deprecated in Laravel 5.4) of the Illuminate/Events/Dispatcher class has been removed. You should use the dispatch method instead.

I moved middleware and

[2019-03-31 10:26] OAmor commented on #1784
finally find the solution
we should update the version manually in `composer.json` to for laravel >=5.5 to `"tymon/jwt-auth": "^1.0"` and then run `composer update`

[2019-03-31 10:26] #1784 closed, assigned to nobody

[2019-04-01 00:14] abcdleandro commented on #1747
+1

[2019-04-01 03:50] 1236897 commented on #81
deploy the app in apache24 and added config as below in .htaccess file, but not work, should I add any something in apache24 ?

Options +FollowSymLinks
RewriteEngine On

RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]

[2019-04-01 03:54] 1236897 opened #1788 "About token not provide"
Laravel5.5 app deploy the app in apache24 and added config as below in .htaccess file, but not work, should I add any something in apache24 ?

Options +FollowSymLinks
RewriteEngine On

RewriteCond %{HTTP:Authorization} ^(.)
RewriteRule . - [e=HTTP_AUTHORIZATION:%1]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]

[2019-04-01 06:41] rizkyarlin opened #1789 "[Recommendation] Integrate jwt-auth with Golang"
[Recommendation] Integrate jwt-auth with  Golang

Hi guys. My team has been using jwt-auth for almost every project that we did.
Now we are trying to build a big application which forces us to use Laravel and Golang for the REST Service. What is your recommendation for me to approach this?

Just build the Laravel with JWT Auth and build a middleware on Golang that call the API on Laravel which wil

[2019-04-01 11:43] jschneiderPatinfo opened #1790 "Laravel custom user table and JWT authenticate"
Try to implements a custom user class in Laravel JWT authentication

I'm trying to implement an application that use a custom table for the user's informations.

My table _user looks like that

[code]

When i create a new user, everything works and i get back a token

[code]

Here the result

[code]

But after that, when i try to login with this new user, i can't get a token. The result is always

[2019-04-01 19:13] Leopandro opened #1791 "How to block user, or set his token invalid?"
I want to block user from admin panel, what should i do to disable user?

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | no
| Framework         | Laravel
| Framework version | 5.x.y
| Package version   | 1.x.y
| PHP version       | 7.2

[2019-04-01 19:28] mikekamornikov opened #1792 "Required custom claims are not applied on refresh"
### Subject of the issue
Required custom claims are not applied on refresh

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | yes
| New Feature?      | no
| Framework         | Laravel
| Framework version | 5.8.8
| Package version   | 1.0.0-rc.4.1
| PHP version       | 7.1.27

### Steps to reproduce
1. Add some required claims (config):
[code]
**NOTE:** `

[2019-04-01 19:35] mikekamornikov commented on #1792
I have 2 custom middlewares which do `refresh` besides other things. So implementing some hacky workaround like "get user id from token, get user by id, get custom claims from user and apply them right before refresh" is not an option. I'll have to copy that several times.

[2019-04-02 07:09] deniwerikmartins commented on #1705
THIS WORKS!!!

[2019-04-02 12:25] AndreiMireichyk commented on #1199
При отправке запроса необходимы два заголовка, для ответа сервера в формате json
Content-Type : application/json
Accept: application/json

[2019-04-02 15:35] olivernagy commented on #235
In case someone still has to deal with Laravel 4 like I do, the following workaround seemed to have fixed this issue:
[code]

It sets the `refreshFlow` on the `PayloadFactory` before even starting to refresh the token, fixing the validation in `decode`.

[2019-04-02 15:38] olivernagy commented on #113
In case someone still has to deal with Laravel 4 like I do, the following workaround seemed to have fixed this issue:
[code]

It sets the `refreshFlow` on the `PayloadFactory` before even starting to refresh the token, fixing the validation in `decode`.

[2019-04-02 18:14] spacenate commented on #1641
I don't think this is a bug, this is how the default UserProvider works (take a look in `Tymon\JWTAuth \JWTGuard::attempt()`, it ends up calling `$this->provider->validateCredentials()`.) You need some way to ensure the user is who they say they are ("authenticating" the user's credentials), and the default way of doing that is through a password.

If you are using "passwordless" authN (eg [DarkGh

[2019-04-02 21:40] mike-src commented on #1615
I managed to get that same functionality working using https://medium.com/@OlabodeAbesin/multi-user-authentication-with-laravel-and-jwt-dcbe0e4b4fbf

[2019-04-02 22:57] b12k commented on #1084
@shingsoso Hello, I solved this issue by migrating to Laravel Passport.

[2019-04-03 01:05] #1615 closed, assigned to nobody

[2019-04-03 17:30] Maharramoff commented on #1771
@LeonAlvarez Thanks. It worked!

[2019-04-04 00:01] mike-src commented on #926
I've tried @tymondesigns suggestion and it does not fix the issue... something isn't working correctly or the docs don't cover the proper process.

[2019-04-04 10:33] aron9forever commented on #1569
god damn @amcsi  I hope I don't end up using your cryptocurrency software. Have you even read the specification behind JWT and what the point is before blindly assuming what it does? Most JWT implementations will not use encryption for anything besides signature verification. You should know this because cryptocurrency works the same way, transaction information is not encrypted, not even on priva

[2019-04-04 13:58] sharuman commented on #1791
Hi there,
have you tried using the [invalidate()](https://jwt-auth.readthedocs.io/en/develop/auth-guard/#methods)?

[2019-04-04 17:21] amcsi commented on #1569
I haven't actually read JWT's specification, indeed. I can only be disappointed at the JWT specification now I suppose, because I feel like there's little performance penalty for using symmetrical encryption, and the spec could have taken the signature bit a step further and demanded symmetric encryption too.

I know that transaction information is just signed, but this is a different situation, b

[2019-04-04 19:15] GoGurtPrime commented on #1569
This is what everyone is trying to say:
**You are using JWT wrong.**

For example, imagine you want to send someone an item in the mail. You wouldn't mail someone an item in a plastic grocery bag, would you? That's analogous to what we're saying. You are using JWTs incorrectly.

If you are working for somebody, I would let them know to have someone change your code immediately before you're liable

[2019-04-04 19:21] GoGurtPrime commented on #1569
@aron9forever Made my point again, if someone has your JWT, **they have access to your account.** You have way bigger problems if an attacker is able to retrieve information from your client or information that was transmitted over the wire.

[2019-04-04 21:32] amcsi commented on #1569
The whole thing I'm doing is precisely to not leak anything. Storing the private keys encrypted on the server, while only allowing having access to the decryption keys by the user sending them each time with the JWT request. I don't see a better secure way of doing this; I hope you're not suggesting I keep the decryption keys on the server.

[2019-04-06 09:39] mennovanhout opened #1795 "nestbot/carbon"
I was seeing some issues here that are closed because this issue should be solved.
However i'm still having this issue with a brand new Laravel 5.8 installation.

Problem 1
    - Installation request for tymon/jwt-auth ^0.5.12 -> satisfiable by tymon/jwt-auth[0.5.12].
    - Conclusion: remove nesbot/carbon 2.16.2
    - Conclusion: don't install nesbot/carbon 2.16.2
    - tymon/jwt-auth 0.5.12 requ

[2019-04-07 09:34] chaucachavez commented on #1758
@varichs  I have the same error, can you specify how you solved it? please

[2019-04-07 20:48] StudiosKelemy commented on #1795
Carbon 2 is officially supported by Laravel since the version 5.8, if you want to use it on a lower version, you can follow those steps:

Set explicitly the Carbon version and add the adapter in your composer.json:

{
    "require": {
        "nesbot/carbon": "2.16.3 as 1.34.0"
        "kylekatarnls/laravel-carbon-2": "^1.0.0"
    }
}

[2019-04-07 20:49] StudiosKelemy commented on #1795
Use 1.25.0 alias for Laravel 5.6, 1.34.0 for other versions as each version of Laravel has its own range of Carbon compatibility, you have to take 2.3.0 as the real used version, then pick an alias among versions Laravel supports. You may have other dependencies with other Carbon restrictions. If so, we cannot ensure Carbon 2 will works with them as Carbon 1 did, but you can still try an other ver

[2019-04-07 22:06] mytuny commented on #205
use `php artisan jwt:secret` instead to generate the key.

[2019-04-08 18:01] Niush commented on #1480
@tuanpht
That means,
`php artisan cache:clear `
will clear all the blacklisted tokens ? or Not ?

[2019-04-09 07:46] sasokovacic commented on #1618
I'm having the same problem. I'm building a multi-tenancy app and I can use the same token in all of the tenants despite setting different jwt secret for each tenant

[2019-04-09 08:35] jschneiderPatinfo commented on #1790
Can someone help me please ?

[2019-04-09 09:36] sasokovacic commented on #1618
I found a solution... it's a little bit hacky but it solves the problem..
@tymondesigns can you check if this is a bug?

Source: https://stackoverflow.com/questions/55589533/how-to-change-jwt-secret-in-tymons-jwt-auth-package-at-runtime-to-encode-token/55589534#55589534

[2019-04-09 17:00] DanielSoCra commented on #1791
use a middleware function that resolves the jwt for users email/username and check it with a blacklist, then invalidate the token

[2019-04-10 21:50] tylernathanreed commented on #1234
+1 on this

[2019-04-11 09:28] ajaymarathe commented on #1484
thanks :) it works..

[2019-04-11 09:29] ajaymarathe commented on #1484
I was having the issue after change all above stuff, as clear the cache, it works <3 thanks.

[2019-04-11 12:27] JBtje commented on #1790
Your error has nothing to do with JWT, but with the custom naming in the table that differ from the default in Laravel.
Have a look at this topic: https://stackoverflow.com/a/39382427/1125532

Basically, you need to tell laravel to use different fields when checking the user/pass. Once that is done, JWT should provide a valid code.

[2019-04-11 13:43] jschneiderPatinfo commented on #1790
Ok, thanks i'll try this.

[2019-04-12 09:00] cmanna commented on #1721
how i could not get you

[2019-04-12 14:58] jschneiderPatinfo commented on #1790
I can't find the solution...

I had this to the User class

[code]

And when I try to authenticate, I get `Invalid Token`

[code]

[2019-04-13 19:07] StudiosKelemy commented on #1740
Hi, all about this are not a problem with password hashing or guard or also token. It's about EXCEPTION ERROR HANDLER : You must put this in your laravel hander.php exception :

[2019-04-13 19:07] StudiosKelemy commented on #1740
// exception for UnauthorizedHttpException
        if ($exception instanceof UnauthorizedHttpException) {
            return response()->json([
                "error" => "not authorized"
            ], 401);
        }

        // exception for TokenBlacklistedException
        if ($exception instanceof TokenBlacklistedException) {
            return response()->json([
                "error" => "

[2019-04-16 06:36] mubassirhayat commented on #1753
@tymondesigns I am having the very same issue. any help on this would be very much appreciated. I am using version 0.5 in an app built with Laravel 5.3 and it has a key `user` in JWTconfig file but that key doesn't work for me in Laravel 5.8. I am using version `dev-develop#f72b8eb as 1.0.0-rc.3.2` as mention on an issue #1765

[2019-04-17 17:31] realadilet commented on #1195
you can create user_access_tokens table and save jti

[2019-04-17 18:27] leonardlib commented on #1435
@Suroor-Ahmmad would you please share the solution?, I have the same problem

[2019-04-18 02:36] SelectOne commented on #1729
Thanks

[2019-04-18 18:19] iamirfanfaiz commented on #1486
The following approach worked for me.

On **composer.json** file enter the latest version of **jwt-auth**:
`"tymon/jwt-auth": "1.0.0-rc.4.1"`

and run:
`composer update`

[2019-04-19 03:36] #1529 closed, assigned to nobody

[2019-04-19 06:11] misterpancn opened #1798 "When token expires, you can still get users information. Why is that?"
### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              |  yes
| New Feature?      | no
| Framework         | Laravel
| Framework version | 5.7
| Package version   | 1.*
| PHP version       | 7.1

####
Background:
Web socket is embedded in laravel. When the WS server receives the specified message, it sends a post request to a validation interface of laravel (mai

[2019-04-19 09:39] AnimalInstinct commented on #1721
"laravel/framework": "5.8.0"

"tymon/jwt-auth": "dev-develop#34d8e48 as 1.0.0-rc.3.2"

php artisan vendor:publish
In ProviderRepository.php line 208:
Class 'Tymon\JWTAuth\Providers\JWTAuthServiceProvider' not found

[2019-04-19 09:51] cmanna commented on #1721
Use latest tymon and replace the fire function by dispatch. fire function has been deprecated in new version laravel 5.8..

[2019-04-20 07:30] commentatorboy commented on #1740
Try and take a look at my repo.
I have successfully created a Test driven development environment with laravel 5.8 and jwt.
Try and take a look inside app/User.php and app/AuthController.php and other related things.
https://github.com/commentatorboy/testttdlaravel/commit/69aad299eac458a873e04d56a18a399e8a85992e

I can say that I DID NOT use the solutions mentioned in this issue.

[2019-04-21 18:12] MCFreddie777 commented on #1753
You are using that middleware twice - once in router, second time in controller itself. Either remove middleware group from router - because you have it in controller constructor, or use that route outside of that group.

[2019-04-22 05:11] Jovanie25 commented on #1764
moi j'ai toujour un petiit souci
avec  composer require tymon/jwt-auth 1.0.0-rc3.2
sa m'affiche
[InvalidArgumentException]
  Could not find package tymon/jwt-auth in a version matching 1.0.0-rc3.2

[2019-04-22 05:17] ibraah88 commented on #1764
use : **"tymon/jwt-auth": "^1.0"** in your **composer.json** and run **composer update**

[2019-04-22 12:55] buildsomethingdifferent commented on #1759
@Metainy  is there any config/auth.php in lumen ?

[2019-04-22 20:17] Jovanie25 commented on #1764
merci pour la reponse

[2019-04-22 20:20] Jovanie25 commented on #1764
comment faire un systeme d'authentification sur laravel en utilisant firebase auth

[2019-04-22 20:21] eleftrik commented on #1764
@Jovanie25 Please use English language.

[2019-04-22 20:25] Jovanie25 commented on #1764
how to make an authentication system on laravel using auth firebase

[2019-04-22 20:26] Jovanie25 commented on #1721
how to make an authentication system on laravel using auth firebase

[2019-04-22 20:27] Jovanie25 commented on #1770
how to make an authentication system on laravel using auth firebase

[2019-04-22 20:37] eleftrik commented on #1764
Please search on Google. This thread is an issue and is not about Firebase auth. Thank you

[2019-04-22 20:38] Jovanie25 commented on #1764
ok

[2019-04-23 08:00] misterpancn commented on #1798
I've found a solution by adding the following code after the token refresh
[code]

[2019-04-23 08:01] #1798 closed, assigned to nobody

[2019-04-23 10:36] Enoliu opened #1800 "最新的laravel多用户表认证，亲写，求支持"
不是广告，not ad！
https://zhuangbi.iamphper.cn/archives/220/

[2019-04-25 16:28] tnbcc commented on #1727
Same issue

[2019-04-26 02:47] L-Y commented on #1795
My use lumen5.8 and My question is:
[code]
My set the Carbon version in my composer.json and Solved.
[code]

[2019-04-29 13:00] hi-rad commented on #1499
I did this, but on creating token with custom claim it throws "Token has expired" error
vendor/tymon/jwt-auth/src/Validators/PayloadValidator.php:
[code]

[2019-04-29 13:22] gjae commented on #1038
Now in 2019, this work

[2019-04-30 02:00] jampack commented on #1726
`app\Exceptions\Handler.php` in render method:
[code]

[2019-04-30 02:13] jampack commented on #1568
@dhcmega its a middleware so u need to register it first

[2019-04-30 19:29] jampack opened #1801 "Problem with document's example"
The quick start guide for version 1.0.0 suggests in the AuthController to apply the 'auth:api' middleware in the constructor in this manner:
[code]
that means this route: `Route::post('refresh', 'AuthController@refresh');` and this method:
[code]
has to pass through auth middleware. It works fine when the token is valid but when the token is expired and refreshable it fails because auth middleware

[2019-05-02 11:28] ghost commented on #267
hey. I just simply change my cache driver from array to file then it works.

[2019-05-02 12:09] rel0aded opened #1802 "auth()->id() returns the value of the JWT 'sub' attribute, rather than User model's $primaryKey"
### Subject of the issue
When using the JWTAuth guard `auth()->id()` (which is used by various packages, such as wildside\userstamps when setting the created_by field in https://github.com/WildSideUK/Laravel-Userstamps/blob/master/src/Listeners/Creating.php) return the value set in the 'sub' attribute of the JWT rather than model's primaryKey.

This breaks using an incremental 'id' value as the se

[2019-05-02 14:09] rel0aded commented on #1802
This may be a bug in Wildside\Userstamps instead, if it's decided that auth()->id() is working as intended here.

I have temporarily resolved this in my code by overriding each model's registerListeners() method, and using my own Listener methods to return `auth() ->user() -> id` instead.

I still think this is a bug in jwt-auth though, I can see other libraries using the same call, presuming it t

[2019-05-05 05:33] atwandev commented on #1669
Hi, My Friend
When you using "default" guard for "web" and you want to user "api" for api routes, in ApiAuthController, you must use auth('api) to get true result!

[2019-05-05 05:59] shirshak55 commented on #1669
@mratwan Yes saying same if u use default guard as jwt u can use `auth()->check()`.

But most people use web as guard so I recomment using `auth()->guard('api')` Or `auth('api')`

By the way we will need to set middleware to api otherwise we may get unexpected result.

[2019-05-05 18:56] garbinmarcelo commented on #1355
My method for refreshToken is this. But if I uncomment that first if what is to add the token to the blacklist I always get error 498. Would I have some way around this and add the old token in a blacklist/invalidate it?

[code]

[2019-05-05 21:22] chojnicki commented on #1795
Why this weird carbon workaround? It's not carbon fault...

Error is caused simply by old version of jwt-auth. "tymon/jwt-auth ^0.5.12"

Install latest with   composer require tymon/jwt-auth "^1.0"

It's shame that 1.0 after 3 years is still not released as stable. Because of this almost everyone that is starting with this package (including me) is installing wrong version, and big surprise why it

[2019-05-06 19:46] furatamasensei opened #1803 "Package does not work on Lumen 5.8?"
### Subject of the issue
I'm trying to install this package for my react native authentication trough Lumen but I can't get this package installed.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no / yes
| New Feature?      | no
| Framework         | Lumen
| Framework version | 5.8.4
| Package version   | 0.5.12
| PHP version       | 7.3.2

### Steps

[2019-05-06 19:49] samuelkristianto7 commented on #1102
im using lumen 5.8 with jwt-auth  1.0.0-rc.4.1, none of them work.
and tutorial for lumen still incomplete.
the response i got always token false or unauthorized

edit: ahh, its because im using postman with raw plain text, i changed it to application/json, and it works.

[2019-05-06 19:54] furatamasensei commented on #1803
Just looking toward this issue #1764 .

Got it worked by using this command: `"tymon/jwt-auth": "dev-develop#f72b8eb as 1.0.0-rc.3.2"`

[2019-05-06 19:54] #1803 closed, assigned to nobody

[2019-05-06 22:08] samuelkristianto7 commented on #1759
@buildsomethingdifferent no, you need to create the file.

im using lumen 5.8, works fine, for more guide read here: https://github.com/tymondesigns/jwt-auth/issues/1102

[2019-05-07 02:17] samuelkristianto7 commented on #1102
i made a repo, a short guide to use tymon jwt auth, [jwt auth guide](https://github.com/samuelkristianto/jwt-auth)

[2019-05-07 02:18] samuelkristianto7 commented on #1759
i made a repo, a short guide to use tymon jwt auth, [jwt auth guide](https://github.com/samuelkristianto/jwt-auth)

[2019-05-07 02:19] samuelkristianto7 commented on #1712
@feeh27 i made a repo, a short guide to use tymon jwt auth, [jwt auth guide](https://github.com/samuelkristianto/jwt-auth)

[2019-05-07 20:00] lnpbk commented on #1743
I could be wrong, but I'm pretty sure that's how it's meant to work. The `REFRESH_TTL` is a fixed length of time in which the token can be refreshed. Once that time has passed, the user needs to re-authenticate.

This prevents the user being able to refresh indefinitely

[2019-05-08 04:02] giancarlobianchi12 commented on #1759
This found for me ! I'm using lumen 5.8. Thank you :D

[2019-05-08 15:08] feeh27 commented on #1712
Thank's @samuelkristianto, I'll follow the guide to your repository and see if I can perform the steps

[2019-05-08 21:25] ash-jc-allen commented on #1780
If you're still trying to solve this, you can maybe try the following:
- When a token is issued (I'm assuming when a user logs in), store it in the database along with the user ID.
- Next time the same user logs in, check if a token already exists in that database table for the user. If one does, invalidate the token. You might want to delete it from the database as well but that's up to you?

To

[2019-05-10 07:23] tirthbodawala commented on #1795
Totally agree with @chojnicki
use the following instead:
[code]

[2019-05-10 08:20] realtebo opened #1806 "Can we access to low-level JWT functions?"
I use succesfully your package, so thanks a lot.

We'd like to be able to read payload from jwt sent in the body, or aside to the auth header.

Is there some way to do a simple thing like this?

    $payload = JwtAuth::payload($jwt_token_string);

and

    $signature_ok = JwtAuth::check_signature($jwt_token_string);

?

[2019-05-10 09:05] mohamoha6200 commented on #1485
Could you please tell me if you are using any specific buildpack in Heroku are you using PHP buildPack ?

[2019-05-11 08:48] ciarlystreet commented on #1038
I had the same problem, I solved this way

I removed provider from **'config/app.php'**:
[code]
I removed aliases in the same file **'config/app.php'**:
[code]
I removed **'tymon/jwt-aut'** from composer require and i runned command in console:
`composer update`

I installed **'tymon/jwt-aut'** with this command:
`composer require tymon/jwt-auth dev-develop`

I added provider in **'config/app.php'

[2019-05-11 13:37] RahulMaurya02 commented on #1753
Any update or solution on this... I am facing similar issue

[2019-05-11 13:45] ghost commented on #1600
Same issue to me.

Where can I get the refresh_token? or How?

[2019-05-11 13:58] ghost commented on #1600
I think I've found an answer on the following issue. Just got it. :sweat_smile:

#1105

[2019-05-12 21:15] spetrey commented on #1795
I second your method @chojnicki. FWIW, some may need to adjust their `composer.json` file to permit dev non-stable releases:
[code]

[2019-05-13 07:00] robin-dongbin opened #1808 "Refresh token should keep ttl"
### Subject of the issue
When use refresh, the new token should keep the ttl which I set first time.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | yes
| Framework         | Laravel
| Framework version | 5.8
| Package version   | 1.0.0-rc4.1
| PHP version       | 7.2

### Steps to reproduce
[code]

### Expected behaviour
When

[2019-05-13 23:19] Efrat19 commented on #860
@mtpultz you saved me an awful lot of time thanks!!

[2019-05-14 02:52] cosmini commented on #1808
If you wish to override TTL defined in config, why don't you set TTL in your refresh method, same as when you do attempt?

For example in your case:
`
    $refreshedToken = auth()->setTTL(7200)->refresh());
`

[2019-05-14 08:28] #1191 closed, assigned to nobody

[2019-05-15 09:33] robin-dongbin commented on #1808
I suggest do this in default refresh middleware

[2019-05-15 15:54] hopeseekr commented on #1795
I really regret adopting tymondesigns/jwt-auth for my startup project in early 2016, on the then-assurances that a stable 1.0 would be "right around the corner." Three years later, all I have to do is say, shame.

SHAME!!! You have 396 open issues. No version 1 in 3 years. People installing the wrong version by default. NO README with installation instructions to be found ANYWHERE on the master br

[2019-05-15 15:58] hopeseekr opened #1810 "No v1.0 in 3+ years, 400+ issues, only 1 project member"
I really regret adopting tymondesigns/jwt-auth for my startup project in early 2016, on the then-assurances that a stable 1.0 would be "right around the corner." Three years later, all I have to do is say, shame.

You have 396 open issues. No version 1 in 3 years. People installing the wrong version by default. NO README with installation instructions to be found ANYWHERE on the master branch. The

[2019-05-15 18:22] tymondesigns commented on #1810
Wow, where do I start. I really shouldn't bother replying to this, but I will since I have a few minutes.

I aint leading a team of people here, nor is this any kind of business endeavour.

Yes it's true, a tagged v1.0.0 has been a long time coming. This package has grown massively over the last couple of years and obviously so have the number of issues, support requests and questions which is obv

[2019-05-15 21:55] aarabmed commented on #1502
its 2019 and i'm at the same spot as you where lol , i'm using React Ant admin with an `api` built with api platform,  in order to use `PUT`,  `POST` , `UPDATE` or  `DELETE`  request a token must be generated a  with username and password and paced on the header, for now everything works great, but when i arrived to phase of making a Forgot password functionality , i did some research and found so

[2019-05-15 21:56] aarabmed commented on #1502
its 2019 and i'm at the same spot as you were lol , i'm using React Ant admin with an `api` built with api platform,  in order to use `PUT`,  `POST` , `UPDATE` or  `DELETE`  request a token must be generated a  with username and password and paced on the header, for now everything works great, but when i arrived to phase of making a Forgot password functionality , i did some research and found som

[2019-05-16 00:35] lCHECHOl commented on #1502
This worked for me

routes/api.php

`
[code]

ForgotPasswordController.php

`<?php

namespace App\Http\Controllers\Auth;

use App\Http\Controllers\Controller;
use Illuminate\Foundation\Auth\SendsPasswordResetEmails;
use App\Transformers\Json;
use App\User;
use Illuminate\Http\Request;

class ForgotPasswordController extends Controller
{
    /*
    |-------------------------------------------------

[2019-05-16 23:19] benvoide opened #1811 "Token never expires."
### Subject of the issue
Token never expires.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | yes
| New Feature?      | no
| Framework         | Laravel
| Framework version | 5.8.*
| PHP version       | 7.2.11

### Steps to reproduce
Using default config.

Once you hit the `login endpoint`, the controller creates a new token... following this implement

[2019-05-17 10:43] hopeseekr commented on #1810
I'll donate $500 and 50 hours of time to get this 1.0. Give me instructions.

Need me to write a detailed tutorial on how to implement v1.0? Say it, and it'll be done before Monday.

[2019-05-17 12:23] athallarizky commented on #1102
Hi @samuelkristianto ! I followed your instruction and trying to following your code on github. But I always have same problems, its : Method Illuminate\Auth\RequestGuard::**attempt does not exist**. Do you have any solution? I tried many tutorials but no one works. Thanks!

I also using Lumen 5.8 with jwt-auth 1.0

[2019-05-17 21:04] athallarizky commented on #1669
Hi @shirshak55 ! Do you know about error **Method Illuminate\Auth\RequestGuard::attempt** does not exist ? I think it's _related_ with this thread, I cannot access that method, do you have any solution? I already read it in other thread but no one can fix it. Thanks!

[2019-05-17 21:19] piperiver commented on #1187
Especificaciones de mi proyecto:
"php": ">=5.6.4",
 "laravel/framework": "
 "tymon/jwt-auth": "0.5.*"

La solucion esta en el archivo: config/auth.php

En el array de providers => users => model (especificar el modelo de usuarios que desean consultar)

'providers' => [
        'users' => [
            'driver' => 'eloquent',
            'model' => App\usuario::class,
        ],
    ],

Luego en es

[2019-05-18 00:43] #1811 closed, assigned to nobody

[2019-05-18 03:13] shirshak55 commented on #1669
@athallara check ur config auth file and what is the value?

[2019-05-18 03:59] athallarizky commented on #1669
@shirshak55 Here it is..

`<?php
return[
  'defaults' => [
    'guard' => env("AUTH_GUARD", "api"),
    'passwords' => 'users',
  ],
  'guards' => [
      'api' => [
          'driver' => 'jwt',
          'provider' => 'users',
      ],
  ],
  'providers' => [
    'users' => [
        'driver' => 'eloquent',
        'model' => App\User::class,
    ],
  ],
  'passwords' => [
    'users' => [

[2019-05-18 05:52] shirshak55 commented on #1669
it looks good. did u use middleware: api?

[2019-05-18 08:45] athallarizky commented on #1669
@shirshak yeah sir, I already do that :(

[2019-05-18 10:13] shirshak55 commented on #1669
@athallara hmm can u show me how is ur routes files?

[2019-05-18 10:48] athallarizky commented on #1669
@shirshak55 here sir, fyi i'ts rest api using lumen 5.8.6 .. is there any different configuration for it?

`$router->group([
    'prefix' => 'v1',
    'middleware' => 'api'  //if this commented still doesn't work
], function () use ($router){

    //Authentication
    $router->post('register', 'Auth\AuthController@register');
    $router->post('login', 'Auth\AuthController@login');

});`

[2019-05-18 10:55] shirshak55 commented on #1669
do `composer dump-autoload -o`.

'middleware' => 'api' //if this commented still doesn't work

don't comment that though if u are using api route

And `auth()->guard('api')->attempt` should work

[2019-05-18 12:33] athallarizky commented on #1669
@shirshak55 thanks sir! it's worked! I don't know why, I already do dump-autoload before but still doesn't work, but it's work this time! Thanks! :)

[2019-05-18 14:08] imqishi commented on #1806
I'm looking for the solution too, I want to use jwt-token string which generated from laravel-jwt to verify user not in laravel, I trace to src/Validators and find PayloadValidator.php, but I still don't get the way to use it...

[2019-05-18 14:54] imqishi commented on #1806
Finally I find the way!
[code]

[2019-05-18 18:55] fleabitten232 commented on #1810
Well, *I* need someone to write some docs that actually work. On a previous project I pieced it together from clues scattered around the web and it's tedious to have to do it again.

[2019-05-19 02:22] callect commented on #1800
有毛病

[2019-05-20 09:28] #1197 closed, assigned to nobody

[2019-05-20 10:32] realtebo commented on #1806
Another way is to use the packages that are been used by this.

[code]

[2019-05-20 10:32] #1806 closed, assigned to nobody

[2019-05-20 13:13] ArtNous commented on #1787
I have the same issue, I'm gonna change that method on the source code myself, I guess that's the solution temporaly for now.

[2019-05-20 16:07] vedmant commented on #1298
So it's still not working? For version 1.0 it says: "Your requirements could not be resolved to an installable set of packages." means it's still under development?

[2019-05-20 18:28] vesper8 commented on #1298
which version of Laravel are you using @vedmant ? You have to be specific in what version you add in composer. I don't think it works if you just add ^1.0

For example if you're using Laravel 5.7 you have to add
`"tymon/jwt-auth": "1.0.0-rc.3",` and if you're using 5.8 then add `"tymon/jwt-auth": "1.0.0-rc.4.1",`

edit: scratch that, just tested, `"tymon/jwt-auth": "^1.0"`works fine and installs t

[2019-05-20 18:37] vesper8 commented on #1810
I've been using this projects for over 2 years. I've upgraded from 0.5 to 1.0rc. It's true there was a bit of a learning curve, mostly to do with learning how JWT works in general. I had to do some digging and searching to find what worked, but now that I know, it's been super stable and it just WORKS. Haven't had a single problem that I couldn't solve, been using it in production. I can't say I h

[2019-05-22 00:02] golinmarq commented on #821
I have the same problem but in production. When I tried in development it works, but it fails in production

[2019-05-22 00:28] fleabitten232 commented on #1810
Once everything is up and running, I haven't had any problems with the code itself either.

But I think it's undeniable that the project needs a cleanup. Close out all the open issues that wont be fixed, make sure that the version composer pulls actually works without needing to get the solution from the issue tracker, clean up the documentation for whatever the current version is and ensure it a)

[2019-05-22 08:44] minux84 opened #1815 "Installation failed (namshi/jose no package found)"
### Subject of the issue
I'm trying to install jwt-auth package, but i get this error

[code]

I tryied to install various version, but the error remain the same...

How can I solve? I'm using Laravel 5.5

Thank you!

[2019-05-22 22:39] dhcmega commented on #1068
Hi, did you upgrade? Are old tokens still working? I need to upgrade from 0.5 to 1 and of course I cannot tell all my users to relogin.
Thanks!

[2019-05-24 08:01] nullifiedaccount3 commented on #1480
@Niush Yes, once the cache is cleared, blacklisted tokens are cleared as well.

[2019-05-25 16:18] uzwebline commented on #1725
Try to change CACHE_DRIVER=file in .env file, in array mode I also had trouble with logout

[2019-05-26 01:38] KieronWiltshire opened #1817 "Feature: tokens only valid after specified iat"
In the past, rather than blacklisting tokens, I’ve used a “validAfter” value which specified that tokens generated after a specific date time are valid.

This is generally a column on the users table, and I use it as a “logout” mechanism.

If a user hits logout, it updated the time in that column which essentially makes all tokens generated before that time, invalid.

Right now I’m using middlewar

[2019-05-28 07:28] mangoTV-lab commented on #1284
when using lumen5.4, i defined a middleware  like this
``public function handle(Request $request, Closure $next, $guard = null)
    {
        try {
            if (!$user = JWTAuth::parseToken()->authenticate()) {
//            if (!$user = $this->auth->authenticate()) {
                return response()->json([
                    'ret'   => -401,
                    'info'  => 'token not provide

[2019-05-28 07:41] vedmant commented on #1298
@vesper8 I use Laravel 5.7, I actually have following message: "The requested package tymon/jwt-auth ^1.0 is satisfiable by tymon/jwt-auth[1.0.0-alpha.2, 1.0.0-alpha.3, 1.0.0-alpha1, 1.0.0-beta.1, 1.0.0-beta.2, 1.0.0-beta.3, 1.0.0-rc.1, 1.0.0-rc.2, 1.0.0-rc.3, 1.0.0-rc.4, 1.0.0-rc.4.1, 1.0.x-dev] but these conflict with your requirements or minimum-stability."

Which means there is no stable 1.0 v

[2019-05-28 14:07] michael-basweti commented on #1795
Thanks man, this helped a lot.

[2019-05-29 15:48] RafaelBotas commented on #926
You could try this
https://github.com/Blog-Ecommerce/jwt-auth/

[2019-05-29 22:13] enzonotario commented on #1729
Run `php artisan jwt:secret`, that works for me

[2019-05-30 00:13] innerspirit commented on #1795
That didn't work for me, but this did: `composer require tymon/jwt-auth:1.0.0-rc.4.1`

[2019-05-31 13:42] Nicholas003 opened #1819 "If you have laravel 5.8 install issues look here"
5.8 install problem of 80%  the solution
`# composer require tymon/jwt-auth:^1.0`

[2019-06-01 03:01] vinpearl1508 commented on #1094
cc

[2019-06-01 11:09] Nicholas003 commented on #1636
I use -v 1.0
You have test :
encode: `auth()->claims(['foo' => 'bar'])->login($user);`
decode `$payload = auth()->payload(); $payload->toArray();`
use `auth()->userOrFail()` only decode $user don`t claims(['foo' => 'bar'])
My english is bad , haha.

[2019-06-01 21:00] WesVicent commented on #1678
### To solve:
_Make sure_ that you're using the **last version of Tymon/JWTAuth**, if you not just run:
`composer require tymon/jwt-auth:1.0.* --prefer-source`

Then go to `config/app.php` and change "JWTAuthServiceProvider" line (below)
[code]

to
[code]

Then run:
`php artisan vendor:publish --provider="Tymon\JWTAuth\Providers\LaravelServiceProvider"`

### What it happens?
Tymon just changed the

[2019-06-02 08:34] Thirdwrist commented on #1819
Yes, this was resolved in #1795
check it out

[2019-06-02 08:36] Thirdwrist commented on #1795
Why not fork and maintain the project, it's opensource you know.

[2019-06-03 03:28] hopeseekr commented on #1810
I just need v1.0 so that my clients will rest easier.

I mean, I really did take a risk in early 2016 when this project wasn't even in the rc state. Try telling your client that this is the only unstable dependency even though it's one of the absolute most essential for site security. It does not go well, ever.

[2019-06-03 07:27] thewasta commented on #1395
First: Apologize for my question. Where do I write the line?
I have the same problem.
Thanks.

[2019-06-03 10:23] thewasta opened #1820 "Middleware Api not working well"
### My environment
| Q                 | A
| ----------------- | ---
| Framework         | Laravel
| Framework version | 5.5.*
| Package version   | dev-develop
| PHP version       | 7.3.3

### Subject of the issue
I'm trying to protect access to routes with JWT, which means that users should add header with the auth provided by login with API (JWT Token).
#### First question:
My website has a log

[2019-06-03 15:01] roman-briazgalov commented on #1531
@ngocnd0242, @TroyRay
Hi!
I have the same problem.
Could you please tell what version of JWT-auth you use? And where exactly should i add this code to make users be logged in only from one device?

[2019-06-04 03:03] zingimmick commented on #1820
About second question: you can use `Auth::shouldUse($guard)` set the default guard, it will set the default guard to `api` by your way.
About first and third questions: needs more info about class `AuthController`

[2019-06-04 07:47] thewasta commented on #1820
The AuthController was the same from the official website [jwt-auth](https://jwt-auth.readthedocs.io/en/develop/quick-start/)

[2019-06-04 07:51] thewasta commented on #1820
I already fixed the problem. It's pretty long text.
When I'm not busy I'll write the quote. Give me a minute.

[2019-06-07 21:49] assadullahchaudhry commented on #1678
Thanks. It worked for me. I'm using Laravel 5.8. :)

[2019-06-08 16:29] kingeke commented on #184
Hello i'm facing a 401 Unauthorized Error, it worked fine in my localhost environment, then when i uploaded the code to my live server i get the error after authentication and getting the token to use to make api calls. But the confusion is, it works fine in my other domain hosted by another hosting site, ( i used this to test it before uploading to my main hosting site). But now it's uploaded to

[2019-06-11 02:46] keke122765 opened #1824 "How to handle exceptions in Dingo/Api?"
The documentation about "Exception Handling" is unfinished.

app\Exception\Handler.php is invalid in Dingo/api.

[2019-06-11 18:47] philbenoit-ibsa commented on #1820
@thewasta In relation to your first question, about log out.

Be sure to update your logout controller to invalidate the token. See here - https://jwt-auth.readthedocs.io/en/develop/auth-guard/#invalidate

As the JWT token is stored on the front end and no session is created the token will stay live for the duration set within the config/jwt.php file, the ttl value.

If your happy that you have al

[2019-06-11 19:11] philbenoit-ibsa commented on #1824
@keke122765 It looks like you might need to create a custom exception response. Have a look at this doc from the Dingo/Api docs - https://github.com/dingo/api/wiki/Errors-And-Error-Responses#custom-exception-responses

Then handle the exception thrown, you can find the list of exceptions from this package here. https://github.com/tymondesigns/jwt-auth/tree/develop/src/Exceptions

[2019-06-11 19:17] philbenoit-ibsa commented on #1801
@akkhan20 Why would you be refreshing an expired token?

Allowing this would open up a number of security issues. How far back to you allow the token to be refreshed? What users are allowed to refresh expired tokens etc?

Expired tokens should remain expired and uses with expired tokens should login again.

You have the ability to refresh a token at any time so I suggest you build it into you app

[2019-06-11 20:52] RaulCorreia opened #1826 "Dealing with the refresh in api"
### Subject of the issue
I made my class exactly the same as the documentation, but to check if this need to update the token I do this:
[code]
the token expiration time is 4 days and when it is 2 days to expire I send a message to the client to refresh the token, the client calls the refresh function that returns the following:
[code]
But I get the following error
**Token has expired and can no l

[2019-06-12 20:44] alexarros commented on #1758
@chaucachavez

I fixed, making this change

AuthController.php

old

public function __construct()
    {
        $this->middleware('jwt', ['except' => ['login']]);
    }

new

public function __construct()
    {
        $this->middleware('auth:api', ['except' => ['login']]);
    }

[2019-06-13 06:37] #1820 closed, assigned to nobody

[2019-06-14 02:10] keke122765 commented on #1824
@philbenoit-ibsa Thanks!

[2019-06-14 02:10] #1824 closed, assigned to nobody

[2019-06-14 07:39] Zubair-Iftikhar commented on #1712
@feeh27  is Fixed?
Token can be invalidated after CACHE_DRIVER is set to file.
Go To .env and Set CACHE_DRIVER=file

[2019-06-14 16:50] Zubair-Iftikhar opened #1827 "This cache store does not support tagging"
i'm Using  Entrust Package this is use Cache driver array.Working Fine With JWT..when i'm implement Logout it's not Work
then i've change CACHE_DRIVER array to file.. Then JWT Logout Working Fine it invalidate token...otherwise after Logout same token can used..
Problem is for JWT i need CACHE_DRIVER=file & For Entrust CACHE_DRIVER=array.How to fix it..

### Your environment
| Q                 |

[2019-06-14 16:51] #1732 closed, assigned to nobody

[2019-06-15 04:37] ghost commented on #1678
Heyyy thanks, work in L5.8 <3

[2019-06-17 13:55] sustained opened #1829 "Why no dedicated refresh_token?"
Isn't that the way this usually works? You get an `access_token` AND a `refresh_token`? It seems like this library is doing things differently to most others, how come?

[2019-06-17 14:09] sustained commented on #1829
Well, I found [this](https://github.com/tymondesigns/jwt-auth/issues/1105) discussion on the topic.

[2019-06-18 10:44] hhxiaohei opened #1830 "how to destroy jwt token,use JWTAuth::invalidate($token) not work"
### Subject of the issue
how to destroy jwt token,use JWTAuth::invalidate($token) not work

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | no
| Framework         | Laravel
| Framework version | 5.7
| Package version   | 1.0.0-rc.3
| PHP version       | 7.2.12

### Steps to reproduce
JWTAuth::invalidate function need the paramet

[2019-06-19 14:57] shaunthegeek opened #1831 "noeol: .env lost end of line after run jwt command"
### Subject of the issue
`.env` lost end of line after run jwt command

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | yes
| New Feature?      | no
| Framework         | Laravel
| Framework version | 5.8.18
| Package version   | 1.0.0-rc.4.1
| PHP version       | 7.2.19

### Steps to reproduce

1. delete "JWT_SECRET=xxx" if it exists in `.env`
2. run "

[2019-06-20 14:50] philbenoit-ibsa commented on #1829
@sustained Do you need more info on this or should this be closed?

[2019-06-20 14:55] philbenoit-ibsa commented on #1826
@RaulCorreia Have you updated the token expiry (ttl) within your config>jwt.php file?

[2019-06-20 15:00] philbenoit-ibsa commented on #1830
@hhxiaohei Have a look at these docs.

https://jwt-auth.readthedocs.io/en/develop/auth-guard/#invalidate

You don't pass the token, just the param for forceForever.

[2019-06-20 15:07] philbenoit-ibsa commented on #1787
@tom-frost @ArtNous There does not appear to be a pull request for this. Would either of you like to write one?

[2019-06-20 15:11] philbenoit-ibsa commented on #1776
@zagreusinoz Are you trying to get the users team when they complete other secure actions on the API? Is it not possible to set this within a custom claim on the model and then retrieve with the payload call?

https://jwt-auth.readthedocs.io/en/develop/auth-guard/#payload

[2019-06-20 15:16] philbenoit-ibsa commented on #1760
@GregoireSailland Are you checking the JWT is sent through on the media request? Also, double check your auth on the route to ensure its setup correctly to use JWT.

The default Laravel web route does not supply back the JWT so you would need to ensure the user has this before hitting any route secured by the token.

[2019-06-20 17:25] RaulCorreia commented on #1826
Yes, I put it for 4 days to expire, and I order to update every 2 days

[2019-06-21 03:59] infomanR commented on #1753
MCFreddie777 you are right, thanks!!

[2019-06-21 06:01] #1830 closed, assigned to nobody

[2019-06-21 13:53] sustained commented on #1829
Well the discussion was somewhat enlightening. I too thought refresh tokens were an inherent part of the JWT spec. I didn't realise they are a custom thing that most implementations add.

But one of the comments in there has me wondering...

Like, if a "hybrid" access/refresh token from this library leaks then they can refresh forever. However, in an implementation where the concept of access and

[2019-06-22 21:28] geneowak commented on #1480
@Niush Does that mean that once cleared then the formerly blacklisted tokens become active again?
If so; is there another way of invalidating a token without waiting for it to expire?

[2019-06-23 08:41] alalfakawma commented on #1625
Yeah, but then you will have to send the Bearer token with each call right? So, I log in my user with Web Guard, then what will happen if I want to use the api from within? Let the user type his username and password again?

[2019-06-23 13:43] rafaelxavierborges commented on #1705
composer update
php artisan vendor:publish
php artisan jwt:secret

Verify if JWT_SECRET is defined in your ENV file or even in config/jwt.php

php artisan config:clear
php artisan cache:clear
php artisan clear-compiled && php artisan optimize
composer dumpautoload

This worked fine for me.
=)

[2019-06-23 15:42] nullifiedaccount3 commented on #1480
@geneowak store the blacklisted keys in a DB like MySQL. Or change your JWT signing key.

[2019-06-24 16:09] bdemirpolat commented on #1720
Hi, you need set JWT_SECRET.
You can use this command php artisan jwt:secret

[2019-06-25 03:41] yeningxi opened #1834 "claims"
### Subject of the issue
Describe your issue here.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no / yes
| New Feature?      | no / yes
| Framework         | Laravel / Lumen
| Framework version | 5.x.y
| Package version   | 1.x.y
| PHP version       | 5.x.y / 7.x.y

### Steps to reproduce
Tell us how to reproduce this issue.

### Expected behaviour

[2019-06-25 03:42] #1834 closed, assigned to nobody

[2019-06-26 16:12] khooz opened #1835 "Token has expired on `login` and `attempt`"
### Subject of the issue
Describe your issue here.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no / yes
| New Feature?      | no
| Framework         | Laravel
| Framework version | 5.8.26
| Package version   | 1.0.0-rc.4.1
| PHP version       | 7.2

### Steps to reproduce
DigitalOcean's vanilla LEMP, config to run Laravel, set Laravel to use Redis,

[2019-06-26 21:36] usamamuneerchaudhary commented on #1712
``$token = $request->header( 'Authorization' );
$this->auth->parseToken()->invalidate( $token );``
This worked for me

[2019-06-26 23:54] dhcmega commented on #1787
Hi, I have never created a PR, but I will try.
Should I git clone, then checkout 0.5.12, modify the fire->dispatch part and upload it? Should I change version to 0.5.13?
Thanks.

[2019-06-27 05:29] Dhayllin commented on #1795
worked for version 5.8.x of laravel

[2019-06-27 05:29] MayThazinKhin commented on #931
<p>dkdj</p>

[2019-06-27 18:35] khooz commented on #1835
My bad! I feel stupid.

I have changed the TTLs, setting `JWT_TTL` and `JWT_REFRESH_TTL` in the `.env` file; when changing back to the default config, instead of removing the key-value pairs from `.env` file, I just removed the values only. That being said, the value for both TTLs were set to `''` (an empty string which is `0` when interpreted as `int` in PHP). Though, I suggest an exception other

[2019-06-27 18:35] #1835 closed, assigned to nobody

[2019-06-27 21:21] Division1MediaCorp opened #1836 "n"
### Subject of the issue
Describe your issue here.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no / yes
| New Feature?      | no / yes
| Framework         | Laravel / Lumen
| Framework version | 5.x.y
| Package version   | 1.x.y
| PHP version       | 5.x.y / 7.x.y

### Steps to reproduce
Tell us how to reproduce this issue.

### Expected behaviour

[2019-06-30 18:55] thebachtiarz commented on #1795
nice this is work for me, im using v.5.8 'composer require tymon/jwt-auth:1.0.0-rc.4.1'

[2019-07-01 02:06] connecteev commented on #1764
can we please fix this for laravel 5.8? Not sure why this was closed :(

[2019-07-01 08:25] mfn commented on #1764
@connecteev the latest https://github.com/tymondesigns/jwt-auth/releases/tag/1.0.0-rc.4.1 works with 5.8, I'm running it.

If you've any specific problems, please create a new issue, thanks!

[2019-07-01 14:34] kilvn commented on #1632
very good

[2019-07-01 19:43] ansuedev commented on #1347
very late answer but this could help someone:

Route::post('logout', 'AuthController@logout');

since the route is "post" you must send the token, and another string, for example with axios

 Axios.post("/api/me", "POSTDATA",{headers:{"AUTHORIZATION":`Bearer ${sessionStorage.jwt}`}})

check that there is an array after the route, if you dont use it, the server will asume that the payload is the to

[2019-07-03 05:06] Naveen95 opened #1837 "Token didn't expire even after a day which is supposed to in one hour"
### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | yes
| New Feature?      | no
| Framework         | Laravel
| Framework version | 5.8
| Package version   | 1.0.0
| PHP version       | 7.3.1

### Expected behaviour
The token must expire in one hour.

### Actual behaviour
The token didn't expire even after a day. and still works fine. the cache driver is s

[2019-07-03 06:14] mfn commented on #1837
How did you set the expiration? Did you set the `ttl` via `config/jwt.php`?

[2019-07-03 07:39] Naveen95 commented on #1837
@mfn Yes i did via config/jwt.php. still it is not working.

[2019-07-03 13:19] mfn commented on #1837
When you paste the token to https://jwt.io/ (the debugger), what does it say? Is the expire correct? Please paste the outcome here

[2019-07-04 05:28] Naveen95 commented on #1837
Yes i have set the time to expire as one min and the exp also denotes the same.
{
  "iss": "http://127.0.0.1:8000/api/auth/login",
  "iat": 1562217784,
  "exp": 1562217844,
  "nbf": 1562217784,
  "jti": "85stFvYA1Frh3NKl",
  "sub": 1,
  "prv": "87e0af1ef9fd15812fdec97153a14e0b047546aa"
}

But the token works even after a day. Not sure what is causing the problem

[2019-07-04 07:27] soliangD opened #1839 "Lumen 5.8 + Blacklists do not work completely"
### Subject of the issue
Lumen 5.8 + Blacklists do not work completely

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              |  yes
| New Feature?      | no
| Framework         | Lumen
| Framework version | 5.8.4
| Package version   | 1.0.0-rc.4
| PHP version       | 7.1.13

### issue

In Lumen 5.8.*, cache expiration is changed from minutes to seconds

But jw

[2019-07-04 07:28] soliangD commented on #1839
Look forward to the update as soon as possible

[2019-07-04 20:34] phalconVee commented on #1468
This solved the issue for me

[2019-07-05 01:52] chan-dev commented on #1764
why does JWT specific exceptions doesn't have their own status code such as `TokenInvalidException`?

[2019-07-05 16:08] orkhanahmadov opened #1840 "Add "no" as an option to secret generate command if it already exists"
In our application we recently switched to JWT token authentication and we are deploying application to multiple environments. To prevent running command in multiple environments manually we want to add `php artisan jwt:secret` to our deployment pipeline so that secret generated automatically if it's not available in that environment.

But right now if the secret is already exists in .env it asks

[2019-07-05 16:27] mfn commented on #1840
I suggest something more descriptive like `--always-no`.

Btw, can you work it around by echoing `n` into the command?

[2019-07-05 16:34] orkhanahmadov commented on #1840
@mfn

I created PR with "always-no" option

[2019-07-05 16:52] Pehotin opened #1842 "How to get current authenticated user in the current request after refreshing token."
[code]

[code]
ERROR Trying to get property 'id' of non-object","status_code":500 ....

[2019-07-09 11:42] pereiracinthiag opened #1843 "The GET method is not supported for this route. Supported methods: POST - Laravel 5.8"
### The GET method is not supported for this route. Supported methods: POST

I am trying to get a response in dev.site.com.br/api/auth/me and I have the error
Symfony\Component\HttpKernel\Exception\MethodNotAllowedHttpException: The GET method is not supported for this route. Supported methods: POST. in file C:\xampp\htdocs\rnlinked\api\vendor\laravel\framework\src\Illuminate\Routing\RouteCollecti

[2019-07-09 12:13] lucashtc commented on #1843
I've done a similar problem, when I created a route in GET and then I went to POST it cleans the laravel cache
Try using the following code in your project:
[code]

[2019-07-09 15:01] mbabker commented on #1787
https://github.com/tymondesigns/jwt-auth/pull/1844 should address the 5.8 compat issues.

[2019-07-09 18:22] pereiracinthiag commented on #1843
Thanks for the tip. But it didn't work for me =/

[2019-07-09 22:00] #1831 closed, assigned to nobody

[2019-07-10 07:40] ajaymarathe commented on #1784
updating `composer.json` helps me :) thanks !!

[2019-07-10 08:34] #1840 closed, assigned to nobody

[2019-07-10 10:04] digitlimit commented on #1484
Replacing `'expires_in' => auth()->factory()->getTTL() * 60`
solved the problem for me

[code]

Remember to use `api` guard

[code]

[2019-07-11 06:24] saurabhshukla123 commented on #910
// Login for user
    public function login(Request $request)
    {
        $input = $request->only('email', 'password');
        $jwt_token = null;
        if (!$jwt_token = JWTAuth::attempt($input)) {
            return $this->responseHelper->error(
                Response::HTTP_UNPROCESSABLE_ENTITY,
                Response::$statusTexts[Response::HTTP_UNPROCESSABLE_ENTITY],
                co

[2019-07-11 06:26] saurabhshukla123 commented on #910
In user controller dont forget to enter below code:

  public function getJWTIdentifier()
    {
        return $this->getKey();
    }

 public function getJWTCustomClaims()
    {
        return [];
    }

it would work for you

[2019-07-14 01:35] brazenvoid commented on #1829
I think its more implementation dependent.

Like in my projects the web token is limited to the server side and never gets exposed or sent in anyway to the front end. I store it in a memory store and the encrypted session has a randomized password to access it.

[2019-07-14 06:55] alalfakawma commented on #1633
Sorry to bump this old thread but, can you explain what data is stored in the token?

[2019-07-14 07:07] mfn commented on #1633
@alalfakawma this is explained very well in the specs => https://tools.ietf.org/html/rfc7519

[2019-07-14 21:49] dalejodc commented on #1758
Thanks a lot @alexarros ! :clap: It worked for me.

[2019-07-15 00:34] alexyapp opened #1847 "Could not create token: You must inform a valid key file"
### Subject of the issue
Describe your issue here.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | no
| Framework         | Laravel
| Framework version | 5.8.*
| Package version   | dev-develop
| PHP version       | 7.3.2

### Steps to reproduce
#### Generate keypair
[code]

#### Add to .env
[code]

### Expected behaviour
Packa

[2019-07-15 10:12] najaram commented on #1001
Have you found resolution for this missing JWTAuth::encode ? @RotateAt60MPH

[2019-07-15 13:09] keyboardSmasher commented on #1102
@athallara Didi you comment out `$app->register(App\Providers\AuthServiceProvider::class);` in `bootstrap/app.php`

[2019-07-15 16:00] kalemdzievski commented on #1267
I am experiencing the same issue. @tymondesigns

[2019-07-15 16:22] kalemdzievski opened #1848 "Same type of exception ins thrown for token expired and token can no longer be refreshed"
Same type of exception is thrown for  token expiration based on `ttl` and expiration where it can no longer be refreshed `refresh_ttl`. I have a case where I need to respond with different status code for those two errors, and there is no way to differentiate them.

#### IssuedAt.php
[code]

#### Expiration.php
[code]

Version 1.0.0-rc.4.1

@tymondesigns

[2019-07-15 17:44] RotateAt60MPH commented on #1001
Nope.  No word.  Appears this project is stale/dead.

[2019-07-15 23:32] necrojan commented on #1001
It appears that it should be on the `JWTAuth` namespace not on the `Tymon\JWTAuth\JWTAuth`

[2019-07-16 17:15] RuslanKasymov commented on #1442
Write in /app/Exceptions/Handler.php in render():

`if (($exception instanceof TokenExpiredException)) { `
`return response()->json(['error' => 'Token has expired and can no longer be refreshed'],
 Response::HTTP_UNAUTHORIZED); `
`}`

in frontend: if 401 -> redirect to login

[2019-07-17 01:37] soamazyng commented on #1705
php artisan jwt:secret. I clear laravel cache using php artisan clear-compiled && php artisan optimize
This work! Thank you!!!

[2019-07-17 03:51] reishou opened #1850 "Missing function logoutOtherDevices"
### Subject of the issue
Missing function logoutOtherDevices

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | yes
| Framework         | Laravel / Lumen
| Framework version | 5.x.y
| Package version   | 1.x.y
| PHP version       | 7.2

[code]

### Expected behaviour
I want logout (invalidate) all old token.

### Actual behaviour

[2019-07-17 11:53] lorisleiva commented on #1755
What you're describing is implementing the access/refresh token pair from OAuth2. Here is the difference between an access token and refresh token from [stackoverflow](https://stackoverflow.com/questions/3487991/why-does-oauth-v2-have-both-access-and-refresh-tokens):

However, JavaScript and mobile applications live in userland and, therefore, are **public clients**. Public clients are clients tha

[2019-07-19 20:03] felipepanegalli commented on #1759
How do I use it with fields "login" for email and "senha" for password? I have a legacy database and the table users use for authenticate the fields login and senha and not the default email and password. Thank's.

[2019-07-21 06:26] AmirRezaAzizi commented on #1747
+1
@tymondesigns

[2019-07-21 06:34] AmirRezaAzizi commented on #1546
any news?
@tymondesigns

[2019-07-21 17:35] kalemdzievski commented on #1848
@tymondesigns can you please respond?

[2019-07-22 07:43] nauman555 commented on #1341
thankyou working perfactly

[2019-07-25 13:23] vishalinfyom commented on #1636
@gileneusz
In User Model define method if not

[code]

[2019-07-25 23:58] ash-jc-allen commented on #1850
Hi, I might be wrong. But if I remember rightly JSON web tokens are stateless and by default aren't stored in the database. The default Laravel behaviour for this in the 'web' sessions is done by changing a cookie.

You could add this functionality yourself temporarily by storing the tokens in the database. You could then write a middleware to check if the token exists in the database on each requ

[2019-07-26 00:04] ash-jc-allen commented on #1837
@Naveen95 I'm not sure if you're still having any problems with this. But I used to get similar issues with tokens due to time drift on my virtual machine. Usually resyncing the VMs time worked. I don't know if this will be at all useful?

[2019-07-26 09:09] kalemdzievski commented on #1267
@raniesantos having the same problem, and nobody responds ...
https://github.com/tymondesigns/jwt-auth/issues/1848

Did you had any luck solving this issue. I had to hard code an if statement checking the message of the exception ... Very very bad.

[2019-07-26 10:26] xAqweRx opened #1851 "Invalid value provided for claim [iat]"
### Subject of the issue
I'm facing problem with IAT parameter on different servers. there is no possible way to understand Why this happens. Adding this info. May be someone will help me.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              |  yes
| New Feature?      | no
| Framework         |  Lumen
| Framework version | 5.7.8
| Package version   | 1.0.0-rc

[2019-07-26 10:26] xAqweRx commented on #1851
As additional info. Server and client are in different time zones ( 5 hours differences )

[2019-07-26 20:21] dhcmega opened #1852 "Trying to install v1.0"
I have one project that is working ok with this in it's composer.json:
[code]

On another project I cannot install it:
[code]
If I don't include version, it tries to install v0.5

How can I install v1.0?
Thanks!

[2019-07-27 04:38] mfn commented on #1852
Try an explicit version: `require tymon/jwt-auth:1.0.0-rc.4.1`

[2019-07-27 05:09] dhcmega commented on #1852
It worked, thanks.
But will it update to the stable release? or I have to specify always version?

[2019-07-27 12:31] mfn commented on #1852
With that explicit version you will not receive any update.

Not sure how to do it correctly, sorry; not an composer expert.

OTOH you can subscribe to github notifications only for releases:
![image](https://user-images.githubusercontent.com/87493/61994489-2cc3b480-b07b-11e9-93b8-e50b5f465b97.png)

[2019-07-27 14:04] dhcmega commented on #1852
Ok, will do. Thank you for your help.

[2019-07-27 14:04] #1852 closed, assigned to nobody

[2019-07-28 20:02] dhcmega commented on #1568
@ogisusu please let me know which middleware where you using.

I have `'auth' => \App\Http\Middleware\Authenticate::class` registered, that's why I have `'auth:api'` for my routes.
It doesn't matter if I use `jwt` or `auth`, the important thing (I think) is the middleware actually used.

Thanks!

[2019-07-28 20:36] dhcmega commented on #1568
@napoleon-na please let me know how you handled the response, as using your fix triggers an exception that is never catched and status code is 500, not 401 nor 419. Thanks!

Edit: I have for now catched it at Handler::render.

[2019-07-29 12:36] outrowender commented on #1344
Actually, it's the hash of the `namespace` of User Provider Class

[2019-07-29 13:04] drakulovski commented on #1848
Having the same issue @tymondesigns.

[2019-07-30 15:08] harrysbaraini commented on #1851
What is the error exactly? Post the exception too.

[2019-07-30 20:23] xAqweRx commented on #1851
Tymon\JWTAuth\Exceptions\InvalidClaimException: Invalid value provided for claim [iat] in /var/www/html/rest/vendor/tymon/jwt-auth/src/Claims/IssuedAt.php:37

[2019-07-31 19:56] mwleinad commented on #851
Is this even possible with the new version 1.0?
`JWTAuth::fromUser;` is not taking $customClaims
and
`JWTFactory::make($customClaims);` is only taking a boolean :/

thanks

I actually found the solution mere minutes after I posted.
[code]

[2019-08-01 01:44] mohanlar96 commented on #1705
Thank you :) working good

[2019-08-01 14:44] jbnv commented on #1729
I ran `php artisan jwt:secret` but I'm still getting the error.

[code]

[2019-08-02 05:47] lun324 commented on #1800
访问不了。。

[2019-08-02 11:29] lun324 commented on #1565
this is a great solutio

https://github.com/matt-allan/blog/blob/f978a651902766d7f37578c32479058145325941/content/posts/setting-the-guard-per-route-in-laravel.md

[2019-08-02 22:59] tiag00liveira commented on #1541
hi @macecchi , does this problem persists?

[2019-08-04 00:08] murilolivorato opened #1854 "Multiple Type of USers"
### Subject of the issue
Describe your issue here.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | no
| Framework         | Laravel
| Framework version | 5.x.y
| Package version   | 1.x.y
| PHP version       | 7.x.y

Hello , I wold like to know how I work with JWT Auth + Laravel + Multi Authentications .

 I mean , in a big pro

[2019-08-05 06:40] allaghi commented on #1850
I am facing same problems @reishou

[2019-08-05 17:05] IgnacioYanjari commented on #1854
I don't know how to apply to web view, but if the case is realize an API you can use policies and gates depending on roles in specific user for filter access.

[2019-08-06 12:24] lindyhopchris commented on #1843
@pereiracinthiag in your `routes/api.php` you've set up all the routes as `POST` routes... which is why it is not allowing `GET`. If you want to use `GET` for `me`, you'd have to change it to this:

[code]

It's pretty standard to use `POST` for logout.

[2019-08-06 12:43] lindyhopchris commented on #1801
So I've also encountered this issue. the problem is the config implies that you should be allowed to refresh an expired token - because the default `ttl` (1 hour) is before the default `refresh_ttl` (2 weeks).

This means that as @akkhan20 says, you can't do the refresh during the period between expiry and refresh expiry, because the `auth` middleware rejects the request.

In this scenario, the re

[2019-08-06 12:45] lindyhopchris commented on #1801
Or alternatively, if this is a strategy we should not be using, then the default values and the doc blocks in the config should be changed accordingly.

[2019-08-07 15:19] VinayKumarMedikonda commented on #1632
Simply, Change the request type to "post" and pass the "{token: (jwt auth token)}"

[2019-08-07 20:03] connecteev commented on #1795
defeats the purpose of the OSS community pulling together in one direction versus having 1000s of forks. there's enough complexity as-is and while @hopeseekr 's language is rather strong for software that is gratis, I tend to agree with him. There are better ways to manage this project than to let things just sit there and rot.

[2019-08-07 21:35] harrysbaraini commented on #1851
Did you add any custom claim?

I'd recommend you to create a new Laravel project, install JWT and try it without any further modification on your code.

[2019-08-08 08:04] xAqweRx commented on #1851
No. No custom claim

[2019-08-08 18:20] thiagolinoz commented on #1729
php artisan jwt:secret worked for me too. it set a key

[2019-08-12 07:18] gayanhewa commented on #1581
Did you manage to find a solution for this? I am getting the same error, just for 1 selected users over and over again.

[2019-08-12 07:25] gayanhewa commented on #354
How does the purging happen? Do I need to have something scheduled for this to get triggered?

[2019-08-12 13:42] kalemdzievski commented on #1848
@tymondesigns do you even open your project ???

[2019-08-12 13:45] Chingoski commented on #1848
I am having the same issue @tymondesigns. Please reply fast its urgent.

[2019-08-12 13:51] tymondesigns commented on #1848
Feel free to open a PR guys to create a new exception that extends `TokenExpiredException`.

Maybe `TokenFullyExpiredException`

A dirty hack for right now could be to check the exception message

[2019-08-14 06:35] omitobi commented on #1395
@thewasta it means when you want to authenticate a user when login in e.g
[code]

[2019-08-15 21:03] wangfei800 opened #1857 "Allows for disabling signature verification"
### Disable signature verification in Config
Sometimes we want to decode the JWT token without verifying signature.
This is useful when we forward JWT token inside a secured network.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      |  yes
| Framework         | Laravel / Lumen
| Framework version | 5.x.y
| Package version   | 1.x.y

[2019-08-15 23:14] Elshaden commented on #1498
for any one that comes across this post
The function ( Auth::attempt ) this is only available for routes with web guard so if you are using another middleware to access this function you need to use the web guard.
A simple solution is to insert guard('web') ,  Auth::guard('web')->attempt
like so

[code]

This should give you access to the Auth class without using the web guard in your request.

so

[2019-08-16 03:26] parvinshi opened #1859 "When config('auth.defaults.guard') is web, the authenticate() method in middleware returns false"
###
When config('auth.defaults.guard') is 'web', the authenticate() method in middleware returns false, But when changing 'auth.defaults.guard ' to 'api', $this->auth->parseToken()->authenticate() in middleware returns user model

### Your environment
| Q                 | A
| ----------------- | ---
| Framework         | Laravel
| Framework version | 5.8.31
| Package version   | 1.0.0-rc.4.1
| PH

[2019-08-16 07:26] parvinshi commented on #1859
[code]

[2019-08-16 07:28] parvin92 commented on #1859
[code]

[2019-08-20 01:11] tennessine commented on #1800
人家老外的项目，你用中文提问合适吗？别太随意了

[2019-08-21 06:24] damnguy commented on #1795
This worked for me too.

[2019-08-22 11:08] ajaymarathe commented on #1705
This helps.. thanks :)

[2019-08-22 11:09] StevieDC commented on #1094
I had to do this as well.
https://africalocals.com/?/question/375

[2019-08-22 11:10] StevieDC commented on #1094
In case it has gone ...

add the folowing 2 methods in your User model

/**
     * Get the identifier that will be stored in the subject claim of the JWT.
     *
     * @return mixed
     */
    public function getJWTIdentifier()
    {
        return $this->getKey();
    }

    /**
     * Return a key value array, containing any custom claims to be added to the JWT.
     *
     * @return array

[2019-08-23 12:06] alvarodicopgroup commented on #1758
it works thanks!

[2019-08-23 15:29] MatanYadaev opened #1860 "Laravel v6 support"
Please support Laravel v6.

[2019-08-23 23:10] ajpsp5 commented on #1860
Pretty please

[2019-08-24 01:42] ghost opened #1862 "Where store keys?"
Hi, I've created my private/public RSA keys.
But now, where I need to store them? Them should be in a different folder? What is the best practice?
And how to access them with the path in dotenv? With file:// im able to access only the public folder.

Thanks in advance.

[2019-08-24 10:03] itsensepk commented on #1531
@TroyRay @ngocnd0242 @jslim89 @roman-briazgalov @MitchellMcKenna
Hi,
How & where do you implement this ? I couldnt figure it out in Laravel 5.7,

I have basic login controller, tried implementing there but failed. help needed

[2019-08-24 11:31] Amelbo3 commented on #1531
Hello there,
I am new here and i have a question. Is is possible to get token from 2
different variables other than email and password? Please help!

On Sat, Aug 24, 2019, 6:04 AM Ayaz <notifications@github.com> wrote:

[2019-08-24 13:03] abbood commented on #887
@tymondesigns the leeway variable of `DatetimeTrait.php` is acting up. It is randomly reset to 0 sometimes. See more details in this [SO question](https://stackoverflow.com/questions/57638188/how-to-debug-updating-an-instance-variable-of-a-php-trait-without-using-setters)

[2019-08-24 15:50] jamiehd commented on #887
@abbood were you using refresh tokens? I don't think those have the leeway passed in from the config. I reported this in #1714

As for your stackoverflow post - traits are not static. They do not share their state among all instances - each one binds its properties to the class that uses it.

[2019-08-24 18:30] abbood commented on #887
@jamiehd No i'm using the Authenticate middle ware not the refresh token one.

I'm using this for my unit tests, and my tests some times pass and sometimes fail randomly on authentication (i specifically migrated my jwt from 0.5.4 to 1.0.0-rc just for the leeway config)

I put these logs in the code.. notice the pattern:

       │ string(96) "method setleeway exists for iat setting leeway to 5000o

[2019-08-24 18:49] abbood commented on #887
The above is the failing example, here is a successful example from the same unit test:

[code]
](url)so unlike the failing example, we are calling leeway with a 5000 seconds from the same object `Tymon\JWTAuth\Claims\IssuedAt` where we instantiated it with. In the failing example we are calling a 0 leeway on a `Tymon\JWTAuth\Claims\Expiration` class. So it seems there is a race condition or somet

[2019-08-24 19:57] abbood commented on #887
Now that i'm researching online, I think i'm going over this the wrong way. For unit testing I should just [impersonate the user](https://laravel.com/api/5.3/Illuminate/Foundation/Testing/Concerns/ImpersonatesUsers.html) or [mock auth](https://github.com/laravel/framework/issues/848#issuecomment-16006985)

[2019-08-25 10:05] meteopark commented on #1843
I'm getting the same error too.

[2019-08-25 10:39] meteorpark commented on #1843
@pereiracinthiag Try to solve your problem like this.

1. app > Http > Middleware > Authenticate.php
- redirectTo func in route('login') to route('change route name')

2. routes > api.php
make route
Route::get('change route name'), function (){
return response()->json(['error' => 'unauthenticated']);
});

[2019-08-27 04:06] f3cp commented on #1851
I been getting the same exception occasionally also.

`Tymon\JWTAuth\Exceptions\InvalidClaimException: Invalid value provided for claim [iat] in /var/www/html/rest/vendor/tymon/jwt-auth/src/Claims/IssuedAt.php:37`

I have observed a few things which may be relevant to this issue.

It's the 'isFuture' check in the 'validateCreate' method of the 'IssuedAt' claim which is causing the exception.

I no

[2019-08-27 04:43] wrheinheimer commented on #1860
We could really use support for Laravel v6 as well.

[2019-08-27 07:53] xAqweRx commented on #1851
@f3cp Thank you for your comment. I've made couple of tests. And yes. This situation is connected with PHP version that I have on server side.
Here I'm posting `time()` and `Carbon` behaviour
[code]
this is `PHP 7.2.15-1+0~20190209065123.16+stretch~1.gbp3ad8c0 (cli) (built: Feb  9 2019 06:51:24) ( NTS )`

[2019-08-27 08:49] xAqweRx commented on #1851
Same problem after PHP update to version ` 7.2.21-1` So this is server problem

[2019-08-28 11:04] roman-briazgalov commented on #1531
Hi!
i made it by Laravel methods:
https://laravel.com/docs/5.8/authentication#invalidating-sessions-on-other-devices

I have just added this code in LoginController:
`public function authenticated(Request $request)`
`{`
`        Auth::logoutOtherDevices($request->password);`
`}`

[2019-08-28 18:14] xAqweRx commented on #1851
Problem was connected with debian time synchronisation process.

[2019-08-28 18:14] #1851 closed, assigned to nobody

[2019-08-29 06:19] f3cp commented on #1851
Thanks @xAqweRx  - I believe my problem is also due to time synchronisation on the host machine. I think this only became a problem since upgrading to carbon 2 which introduced microsecond precession.
It would be ideal if 'leeway' was actually applied as part of the IAT validateCreate isFuture check, but I understand that few people would be using tokens so rapidly after creation that they would b

[2019-08-29 06:22] xAqweRx commented on #1851
Currently I have Carbon 1 and this is not connected with Carbon at all.
Because I've tested native time() php method and this problem present there

On Thu, Aug 29, 2019, 08:19 f3cp <notifications@github.com> wrote:

[2019-08-29 16:35] bert-w opened #1863 "JWT_TTL vs JWT_REFRESH_TTL"
### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | maybe
| New Feature?      | maybe
| Framework         | Laravel
| Framework version | 5.8
| Package version   | ^1.0.0-rc.3
| PHP version       | 7.3

What is the difference between `JWT_TTL` and `JWT_REFRESH_TTL`? It seems like the library is missing some access_token/refresh_token logic.

I cant figure o

[2019-08-30 10:29] itsensepk commented on #1531
@roman-briazgalov hey, can you share your auth controller, I dont know why i'm failing to do that..
may be my brain is exhausted by continuous work,
Really appreciate it!

[2019-08-30 11:43] bert-w commented on #1755
@lorisleiva that made some sense to me thanks. So this basically means the `JWT_REFRESH_TTL` in `config/jwt.php` is of no use in these situations? I dont see how this variable is of any use when `refresh_token`s are not in use.

#1863

[2019-08-31 11:58] oknixus commented on #978
@ajiagahari `JWTAuth::user()` gets user info from the database ?

[2019-08-31 17:36] shirshak55 commented on #1860
is this project alive?

[2019-09-01 08:50] specialtactics commented on #1860
@shirshak55 I think you'll find it more updated than most others, just have patience :) Laravel 6 isn't even out yet.

[2019-09-01 22:39] usafhassan commented on #1081
Thank you so much @hafizu97 You saved my life 😀

[2019-09-02 05:34] mrinal975 commented on #556
use Tymon\JWTAuth\Facades\JWTAuth;
or
use JWTAuth;
This could solve this problem.

[2019-09-03 13:46] Kamalito75 commented on #1860
Laravel 6 is out ;)

[2019-09-04 03:21] scriptmint commented on #1860
Waiting for L6 support!

[2019-09-04 07:11] atapatel commented on #1860
Waiting for L6 Support.

[2019-09-04 07:22] tymondesigns commented on #1860
Currently on vacation guys. I will get it updated as soon as I can

[2019-09-04 07:38] MgHtinLynn commented on #1860
Waiting for L6 Support.

[2019-09-04 08:39] mtanmay commented on #1860
Waiting for L6 Support++

[2019-09-04 08:42] joelwmale commented on #1860
@tymondesigns is this project still in active development or are you just in `keep it alive` mode?

[2019-09-04 11:25] MatanYadaev commented on #1860
@joelwmale In my opinion, this project is not in active development, it is very popular and has very nice test coverage, but it's definitely not in active development, the project is on release candidate for 2 years, 4 years with the alpha versions, and version 1.0 didn't release yet.

Docs aren't fully, releases seem to be only for bumping Laravel's version, tests fail on `develop` branch...

[2019-09-04 18:58] vhanla commented on #1860
Uninstalling, using an alternative.

[2019-09-04 20:06] shirshak55 commented on #1860
I think we can use Laravel Passport :)

[2019-09-04 20:20] joelwmale commented on #1860
@shirshak55 Laravel Passport and JWT Auth are not the same thing :).

[2019-09-04 22:23] o2-web commented on #1860
<details>
  <summary>Click to expand</summary>

[code]
</details>

[2019-09-04 22:37] danielroe commented on #1860
If people urgently need Laravel 6 support, remember you can use @MatanYadaev's fork.

[code]

@tymondesigns - enjoy your holiday!

[2019-09-05 03:36] scriptmint commented on #1860
@MatanYadaev thanks for your fork. But this is not a permanent solution. Is there any good alternative for this package? I used this in all my projects but didn't notice any active developments since the last couple of years. I am stuck just because of this package & looks like its better to move to some alternatives.

[2019-09-05 04:09] dtmichel commented on #1860
The maintainer wrote that he is on vacation, so please be patient.
As a temporary solution I forked the project and updated the composer.json file. Once this project is updated I can easily switch back.

[2019-09-05 05:42] zishang520 opened #1866 "Hello, when can I get support for laravel6?"
### Subject of the issue
Hello, when can I get support for laravel6?

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | yes
| Framework         | Laravel
| Framework version | 6.0
| Package version   | 2.0.x-dev
| PHP version       | >7.2

### Steps to reproduce
Install laravel6.

### Expected behaviour
Can be installed successful

[2019-09-05 05:47] zishang520 commented on #1866
Duplicate problem [#1860 ](https://github.com/tymondesigns/jwt-auth/issues/1860)

[2019-09-05 05:47] zishang520 commented on #1866
Duplicate problem [#1860 ](https://github.com/tymondesigns/jwt-auth/issues/1860)

[2019-09-05 05:47] #1866 closed, assigned to nobody

[2019-09-05 06:21] mfn commented on #1860
There's an easier temporary solution btw, not requiring someones fork. I'm not saying to advocate this, but maybe you want to upfront test this package, so here:

1. add the following "repositories" key
[code]
2. change the "require" version to the same as in the snippet above:
[code]

As said, this is just a temporary thing but you don't need a fork for this.

[2019-09-05 07:26] Kamalito75 commented on #1860
@mfn thanks for this solution, it worked and I was able to upgrade to Laravel 6. After the upgrade, the connexions of registered users are rejected as unauthorized. Do you think it's related to the rc4.2 or to Laravel 6?

[2019-09-05 07:39] joelwmale commented on #1860
@Kamalito75 it's not going to be Laravel 6's fault. It is because the package needs to be updated properly. The updates people are posting here are not the true solutions.

[2019-09-05 09:04] Kamalito75 commented on #1860
@joelwmale thanks for your advice. I'll wait for the proper update then.

[2019-09-05 09:11] mfn commented on #1860
It's just temporary, yes; if it's not working, everyone has to wait. And everyone deserves to be on vacation 😄

Interestingly, my use case of this package worked but I'm only using a very limited subset of it.

[2019-09-05 09:14] dtmichel commented on #1860
So does mine. It also depends which version of PHP you are running. There is an issue with 7.3, but 7.2 seems to work.

[2019-09-05 09:35] Arsiirasheed commented on #1038
just follow
remove vendor folder
run: **composer install**

[2019-09-05 11:18] Faiz52 opened #1867 "composer require tymon/jwt-auth:^1.0"
i am using laravel 5.8 and it's not working
 [InvalidArgumentException]
  Could not find package tymon/jwt-auth in a version matching 1.0

[2019-09-05 11:19] Faiz52 commented on #1819
it is not working for me

[2019-09-05 11:59] manjiriparab commented on #675
hello i'm just upgrading laravel from 5.8 to 6 and in my composer namshi/jose this package is not mentioned yet while updating composer i got error
`Problem 1
    - namshi/jose 5.0.2 requires phpseclib/phpseclib ~0.3 -> no matching package found.
    - namshi/jose 5.0.1 requires phpseclib/phpseclib ~0.3 -> no matching package found.
    - namshi/jose 5.0.0 requires phpseclib/phpseclib ~0.3 -> no m

[2019-09-05 12:58] david1001tv opened #1868 "Can you add getting LEEWAY from config file?"
### Subject of the issue
I have some problems with IAT Exception. Token is generated by another service. And when I validate it I have IAT Exception. I looked at the source code and noticed that you didn't get LEEWAY from config file and only set it default to zero in **DatetimeTrait**. But if I change it manually to 1 - it solves my problem. Pleas, add getting Leeway from config file.

### Your e

[2019-09-05 13:50] #1868 closed, assigned to nobody

[2019-09-06 01:31] kennethtomagan opened #1869 "JWT Auth doesn't have Laravel 6 Compatibility"
I install a fresh Laravel 6 project. but when I install tymondesigns/jwt-auth package
`composer require tymon/jwt-auth`
or
`composer require tymon/jwt-auth:dev-develop`

but it shows an error
[code]

how to resolve this?

[2019-09-06 01:32] kennethtomagan commented on #1867
In order to install JWTAuth in Laravel 5.8 you need to use following

`composer require tymon/jwt-auth:dev-develop`

[2019-09-06 04:10] realprabs commented on #1869
There is no working solution. Discussion is happening at https://github.com/tymondesigns/jwt-auth/issues/1860

[2019-09-06 08:38] aoeng commented on #1795
so laravel 6.0 use
[code]
hah

[2019-09-06 09:11] Mapteg34 commented on #886
+++

[2019-09-06 09:51] #1867 closed, assigned to nobody

[2019-09-06 11:14] nappa0326 commented on #1860
waiting for L6 support.

[2019-09-07 01:01] TNChalise commented on #1869
@tymondesigns Every one is eager to use with laravel 6, multiple issues has been created. Can you reference accordingly and close ?

[2019-09-07 04:54] yohangdev commented on #1860
I'm confirm that @MatanYadaev's fork is worked on Laravel 6 with PHP 7.3, maybe update your PR https://github.com/tymondesigns/jwt-auth/pull/1861 ?

[2019-09-07 11:22] byjml commented on #1860
@Kamalito75

I had similar problem but it turned out Laravel was not auto discovering the service provider. Adding `Tymon\JWTAuth\Providers\LaravelServiceProvider::class` to the `config/app.php` file solved my issue.

[2019-09-07 20:31] murilolivorato opened #1870 "GET the user Detail from the controller , when CREATE a POST"
| Q                 | A
| ----------------- | ---
| Bug?              | not
| New Feature?      | no / yes
| Framework         | Laravel
| Framework version | 5.8
| Package version   | 1.0.0
| PHP version       | 7.2

Hello , I am using SWT + Laravel + VUE .
I loggin in with my credentials like this -
[code]
IT is working , but I need to access the user information in the controller . when I creat

[2019-09-09 01:08] noecs commented on #1860
Every morning to see if there is any adaptation laravel6.0

[2019-09-09 01:59] kennethtomagan commented on #1819
@Faiz52  In order to install JWTAuth in Laravel 5.8 you need to use following

`composer require tymon/jwt-auth:dev-develop`

[2019-09-09 02:52] zishang520 commented on #1854
You can add in Model

[code]

Add a custom middleware

[code]

Your router middleware can be set to the middleware name: admin or customers

[code]

Only need to get user information

[code]

or

[code]

You can
So, the jump address, you can handle it in middleware

[2019-09-09 03:00] zishang520 commented on #1860
🙃

[2019-09-09 04:00] tymondesigns commented on #1860
I have made the necessary changes on the develop branch which can be tested via `1.0.x-dev` for the time being. I want to do some real testing with Laravel 6 for myself to make sure everything is good and then I will tag a release.

Let me know if anyone has any issues with latest on develop

[2019-09-09 07:04] tymondesigns commented on #1869
See https://github.com/tymondesigns/jwt-auth/issues/1860#issuecomment-529290860

[2019-09-09 07:04] #1869 closed, assigned to nobody

[2019-09-09 07:18] yohangdev commented on #1860
@tymondesigns i'm have tested `1.0.x-dev` on my package https://github.com/cleancode-id/laravel6-api-boilerplate, it works with Laravel 6.

[code]

[code]

Great, thank you! 🚀

[2019-09-09 07:25] MatanYadaev commented on #1860
@tymondesigns It's not related to the issue, but I am interested to know if there are plans to publish v1 of this package? Any roadmap? Open tasks?

[2019-09-09 07:49] tymondesigns commented on #1860
@yohang88 great 👍

@MatanYadaev Yes I plan on dedicating some real time to cleaning up everything now. I have some unpushed documentation that I have been working on recently that will include a proper upgrade guide from 0.5.x too.

[I have created a github project](https://github.com/tymondesigns/jwt-auth/projects/2) that I will be adding issues to over the coming days, then it's clear what is le

[2019-09-09 21:02] fernandopioli opened #1871 "Authentication with subdomains"
### Subject of the issue
How can I manage jwt auth with subdomains?
There are 2 domains
cliente1.example.com
cliente2.example.com

If I authenticated in cliente1, the token is valid for both. How can I validate in only one subdomain?

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | yes
| Framework         | Laravel / Lumen
| Fra

[2019-09-10 03:43] hizmarck commented on #1732
This is my implementation for Lumen 5.8 for UnitTest JWT.

[code]

[2019-09-10 07:20] ardianzack commented on #1094
Work for me
Laravel version 5.7.28
"tymon/jwt-auth": "~1.0.0-rc.2"

[2019-09-11 11:47] valdev-fs commented on #1081
cool, u saved my time @hafizu97

[2019-09-11 11:51] RaulCorreia commented on #1826
no one has an idea? i still have this problem

[2019-09-11 16:41] realadilet commented on #1802
I have to no problems. I use `Laravel Framework 5.8.35`

[2019-09-12 09:02] aligajani commented on #1870
Try `$id = $data->save()->id;`

[2019-09-12 16:43] felipesmendes opened #1873 "Support Laravel 6.0"
### Subject of the issue
I cant use jwt-auth in laravel 6.0 because it not has support.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | no
| Framework         | Laravel
| Framework version | 6.0
| Package version   | 1.0.0-rc.4.1
| PHP version       | 7.2^

### Steps to reproduce
Update laravel/framework to 6.0
composer update.

[2019-09-12 17:08] tymondesigns commented on #1860
Version now tagged

[2019-09-12 17:08] #1860 closed, assigned to nobody

[2019-09-12 17:08] tymondesigns commented on #1873
I have just tagged a new version

[2019-09-12 17:08] #1873 closed, assigned to nobody

[2019-09-13 14:45] ibrainventures commented on #1870
try:
$userId = auth()->user()->id;

[2019-09-15 21:20] munnaweber commented on #1869
Hey guys, use this. Its working
composer require tymon/jwt-auth ^1.0.0

[2019-09-16 04:47] Kuppusamy-R commented on #1367
Hi, I'm using Laravel 5.8. I am getting an error "Argument 1 passed to Tymon\JWTAuth\JWT::fromUser() must be an instance of Tymon\JWTAuth\Contracts\JWTSubject, instance of App\User given, called in **ProjectPath**\vendor\tymon\jwt-auth\src\JWTAuth.php on line 54"

[2019-09-16 04:49] thusithawijethunga commented on #1562
Change the App\Exceptions\Handler.

[code]

[2019-09-16 07:25] Kuppusamy-R opened #1874 "I raised wrong issue - closed"

[2019-09-16 09:12] #1874 closed, assigned to nobody

[2019-09-17 01:21] DesKevinMendez commented on #1869
Since when? I actuality using that version, but, not working :c I cannot update jwt whit that version

[2019-09-17 06:56] munnaweber commented on #1869
composer require tymon/jwt-auth "^1.0.0"
#DesKevinMendez  just use "^1.0.0" instead of ^1.0.0
I'm sure it will be working because i'checked it now and its working. Thank you

[2019-09-17 17:33] Messhias commented on #1795
After 2 months looking in the core and etc I decide to move myself doing my own laravel JWT auth token, unfortunately I cannot and I'll not downgrade any version of I have in my project since everything is connect each other.

3 years for a stable version is too much, but I could understand you since it's an open-source project and you're doing that alone.

I hope in future your project became big

[2019-09-18 05:55] chitanok commented on #1869
#MunnaAhmed is right. it's working for me also

[2019-09-18 14:28] khalilst commented on #1246
@jgrossi  didn't worked for me.
The `jwt request` doesn't contain any `authorization key`.
But the `request()->header('authorization')` is valid!

[2019-09-19 12:29] dillingham commented on #1873
@tymondesigns when are you tagging a 1.0 / stable release?

Kind of not great when you have to dig through issues to know how to install.

[2019-09-19 12:37] dillingham commented on #1860
@tymondesigns looks like the todo is empty.. is it ready? 👼

[2019-09-19 13:31] araymoises opened #1875 "Support for Laravel 6?"

[2019-09-19 13:39] araymoises commented on #1875
- Installation request for laravel/framework (locked at v6.0.1, required as ^6.0) -> satisfiable by laravel/framework[v6.0.1].

[2019-09-19 13:48] #1875 closed, assigned to nobody

[2019-09-19 18:08] jwarshaw commented on #1753
I encountered this error (although my default guard was 'web') and it turned out my token, passed as a param, was wrapped in quotes thereby preventing authentication. I removed the quotes before making the request and authentication worked as expected.

[2019-09-20 08:37] iml885203 commented on #1030
update nesbot/carbon to ^1.39.

[code]

it work for me.

[2019-09-21 11:42] aligajani opened #1876 "How to ensure token never expires so I don’t have to refresh it ?"
### Subject of the issue
Describe your issue here.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no / yes
| New Feature?      | no / yes
| Framework         | Laravel / Lumen
| Framework version | 5.x.y
| Package version   | 1.x.y
| PHP version       | 5.x.y / 7.x.y

### Steps to reproduce
Tell us how to reproduce this issue.

### Expected behaviour

[2019-09-23 07:18] sollyu opened #1877 "redis cache always use database 1"
### Subject of the issue
我的`.env`配置`CACHE_DRIVER=redis`和`REDIS_DB=3`，但是jwt-auth的缓存仍旧使用`DB1`
my `.env` config `CACHE_DRIVER=redis` and `REDIS_DB=3`, but jwt-auth still use redis database `1`
[code]

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | may be
| New Feature?      | no
| Framework         | Laravel
| Framework version | 6.0.3
| Package version

[2019-09-24 04:06] clugg commented on #1876
Set `JWT_TTL=null` in your `.env` file and remove `exp` from `required_claims` in `config/jwt.php`.

https://github.com/tymondesigns/jwt-auth/blob/103739700dc0358039a33b5bc91247570bb83529/config/config.php#L96-L104

https://github.com/tymondesigns/jwt-auth/blob/103739700dc0358039a33b5bc91247570bb83529/config/config.php#L150-L157

[2019-09-24 05:07] clugg commented on #1863
Let's go on a quick trip through the library's code. I will be ignoring any tests throughout this, and since we are operating within normal context, I'll also be ignoring any blacklist-related code. You are welcome to skip to the bottom for a summary, this was more to log my own train of thought.

`JWT_REFRESH_TTL` is only referenced in one spot, setting the config key `refresh_ttl`:

https://gith

[2019-09-24 08:30] Kwenziwa commented on #1869
This one worked for me :)

[2019-09-24 16:03] aligajani commented on #1876
Is that all?

On Tue, Sep 24, 2019 at 5:07 AM James Dickens <notifications@github.com>
wrote:

--

Ali Gajani
Founder at Mr. Geek
www.mrgeek.me
www.aligajani.com

[2019-09-24 17:10] clugg commented on #1876
I edited my answer after you received the email, sorry! You also need to remove `exp` from `required_claims` in `config/jwt.php`.

[2019-09-24 20:21] SaberMuthanna commented on #1869
Hey guys,  If you are using Laravel version 5.5 or above, run the following command to require a dev-develop version of jwt package.
composer require tymon/jwt-auth:dev-develop --prefer-source

[2019-09-26 06:45] lkloon123 commented on #1877
this package use cache db, not default db.
u should set `REDIS_CACHE_DB=3` instead of `REDIS_DB = 3`

[2019-09-26 08:53] sukhoy94 commented on #1860
I used simple https://github.com/firebase/php-jwt with laravel 6.0, it's not so hard to implement it :)

[2019-09-26 09:37] lvandyk opened #1878 "Auth using Client Credentials Flow"
I have my React SPA users authenticating perfectly. Now I want "Companies" to be able to use my API. The JWT token they receive using the Client Credentials flow now does not have a `sub` claim but rather a `client_id`.

I tried implementing the `Authenticatable` and `JWTSubject` but it felt wrong as its not actually a user.

Am I correct in saying that I will have to build my own middleware to ma

[2019-09-27 01:55] sollyu commented on #1877
非常感谢，问题解决了。
Thank you very much. The problem has been solved.

[2019-09-27 01:55] #1877 closed, assigned to nobody

[2019-09-27 08:04] lvandyk commented on #1878
So after browsing some of the issues, I came up with the following middleware that seems correct:

[code]

Now in my controllers I can get the authenticated company for that request!

[2019-09-27 08:19] abishekrsrikaanth commented on #1863
@clugg, A very clear answer with the code walkthrough. Since we are talking about refreshing tokens here, could you also help clarify my below question.

I use the defaults on the config set by this package and the token expires every 60 minutes, so the user has to login again to refresh the token. What is a good strategy so the user doesn't have to login frequently to refresh the token. I can cal

[2019-09-28 13:14] Mknan-fms commented on #1843
@pereiracinthiag I came across this issue before in 5.8, consider specifying request method type in your html tag `<html method="POST">` rather than using @method('POST').

[2019-09-29 04:49] clugg commented on #1863
Refreshing the token doesn't require logging in again (or shouldn't) - the idea is that you pass the existing token to receive a fresh one. Logging in would pass credentials in to receive a fresh one, not the same process. Personally I hit my refresh endpoint on an interval in the frontend code to keep the token up-to-date, but another option that I have seen is to hit the endpoint whenever you ge

[2019-09-29 10:16] sergeynilov opened #1879 "JWT Token Signature could not be verified error with external API login"
Hello,
In Laravel 5.8 / vuejs / vuex / mysql app I use jwt-auth and when I login into
the system (standart auth with mysql users table) I use method :
[code]
and it worked ok.

Next I  remade SignUp/SignIn to use external API for SignUp/SignIn operations.
So my app needs to make SignUp/SignIn  with external API , but also I have requests for controls of my app to read/write data from/to mysql.

I

[2019-09-29 13:22] osymo opened #1880 "Can't get token with Laravel 6.0 and jwt-auth 1.0.0-rc.5 when trying to authenticate"
### Token value is always **false**
Hello. I used jwt-auth 1.0.0-rc.5 to handle authentication with laravel 6.0.
My AuthController code is pasted below.

When registering a new user with the method **_register_** in AuthController, I succesfully get a jwt token.

But when trying to **_athenticate_** the user I created earlier, token value is always **_false_**

`<?php

namespace App\Http\Controlle

[2019-09-29 13:52] sergeynilov commented on #1879
Some more detalizations :
flow is:
1) User open login page
2) enter his credentials and run external api login request with user details
3) on success in the system O keep token and logged user info
4) user can open any app page, but some of them have search functionality
5) When user select search criteria and click search axios request '/personal/search-results' is run with mentioned error

In r

[2019-09-29 22:31] BeardKoda commented on #1678
Thanks This worked!! laravel 5.8

[2019-09-30 04:22] sergeynilov commented on #1879
Reading jwt docs I found here https://github.com/tymondesigns/jwt-auth/wiki/Authentication :

So In my login control when I recieved token from external API I wrote :

[code]
But running this login method and refering control's action when I read data from db I got the same error :

`JWT Token Signature could not be verified.
`
I found method in vendor/tymon/jwt-auth/src/JWT.php :
[code]
and see t

[2019-09-30 20:50] moofik opened #1881 "Package cannot be installed via composer on latest Laravel version"
### Subject of the issue
Package cannot be installed via composer on latest Laravel version

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | yes
| New Feature?      | no
| Framework         | Laravel
| Framework version | 6.0.4
| Package version   | latest
| PHP version       | 7.3.9

### Steps to reproduce
Install lastest version of laravel and then tr

[2019-10-01 06:48] kimprosh commented on #1235
You can try:
[code]

[2019-10-01 14:10] heryvandoro commented on #1881
Attach latest version tag when installing via composer.
`composer require tymon/jwt-auth ^1.0.0`

[2019-10-01 15:58] franklinlugo commented on #1355
Axios interceptor to handle refresh token and retry the same call with refreshed token

[code]

[2019-10-01 17:10] ianmustafa commented on #1880
Looks like I don't find any sign of password hashing in `AuthController@register`. Maybe that's the case?

I'm able to authenticate the user just fine, using the quick start guide

[2019-10-01 22:14] sublime392 opened #1882 "Missing persistent_claims throw token exception with php 7.3"
Missing persistent_claims no longer ignored with php 7.3

I have a persistent  claim defined in jwt.php that is not always present.
The description in jwt.php says 'Note: If a claim does not exist then it will be ignored.'

However, php has the following note added to the 'compact' method:

So now I get a token exception when I am missing the persistent claim.

I know this isn't a problem that you

[2019-10-02 00:55] osymo commented on #1880
Hello ianMustafa.

Thank you for your answer.

Password is hashed in the User class by defining a setter.

Please  see code below.

`<?php

namespace App;

use Hash;
use Illuminate\Notifications\Notifiable;
use Tymon\JWTAuth\Contracts\JWTSubject;
use Illuminate\Contracts\Auth\MustVerifyEmail;
use Illuminate\Foundation\Auth\User as Authenticatable;
use Illuminate\Database\Eloquent\SoftDeletes;

cla

[2019-10-02 09:46] alsmani-developer commented on #1869
you must update your composer first
run this command : composer update
and then run :composer require tymon/jwt-auth
I think that will work

[2019-10-02 22:21] dt-jegomez commented on #1729
estoy trabajando en Laragon.  con servidor apache y e realizado php artisan jwt:secret y php artisan config:cache y no e optenido solucion
-----------------------------------------------
I am working in Laragon. with apache server and done php artisan jwt: secret and php artisan config: cache and no and opted solution

[2019-10-02 22:22] dt-jegomez opened #1883 "Lcobucci\JWT\Signer\Hmac::doVerify() .I am working in Laragon. with apache server and done php artisan jwt: secret and php artisan config: cache and no and opted solution"
### Subject of the issue
Describe your issue here.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no / yes
| New Feature?      | no / yes
| Framework         | Laravel / Lumen
| Framework version | 5.x.y
| Package version   | 1.x.y
| PHP version       | 5.x.y / 7.x.y

### Steps to reproduce
Tell us how to reproduce this issue.

### Expected behaviour

[2019-10-02 22:35] chrisbbreuer commented on #1883
Please provide some more info

[2019-10-03 07:18] dmitrymalys commented on #1599
Have you tried this approach [ link](https://medium.com/@JinoAntony/multi-user-api-authentication-using-laravel-jwt-8ae572b0c4cf)? It seems much more cleaner.

[2019-10-03 07:34] begimov opened #1884 "auth()->attempt() returns boolean on Laravel 6"
### Subject of the issue
`$token = auth()->attempt($request->only(['email', 'password']));`
Returns **true** on Laravel 6, and not token.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | yes
| New Feature?      | no
| Framework         | Laravel
| Framework version | 6.0.0
| Package version   | 1.0.0-rc.5
| PHP version       | 7.2.4

### Steps to reprod

[2019-10-03 09:29] #1884 closed, assigned to nobody

[2019-10-03 13:23] dt-jegomez commented on #1883
a continuación describo el mensaje de error residido  por console:

**Argument 3 passed to Lcobucci\JWT\Signer\Hmac::doVerify() must be an instance of Lcobucci\JWT\Signer\Key, null given, called in C:\laragon,**

cabe destacar que estoy usando Laragon servidor apache 2.4,
laravel/framework": "5.8.*,
tymon/jwt-auth": "^1.0.0-rc.4.1,
ademas el error es aleatorio.

[2019-10-03 13:53] dvlpr91 opened #1885 "cant install on laravel 6.*"
thanks

[2019-10-03 14:17] dvlpr91 commented on #1885
composer require tymon/jwt-auth ^1.0.0

[2019-10-03 14:17] #1885 closed, assigned to nobody

[2019-10-03 14:17] dvlpr91 commented on #1885
solved.

composer require tymon/jwt-auth "^1.0.0"

[2019-10-03 15:56] chrisbbreuer commented on #1883
I don't really understand, but did you run `php artisan jwt:secret`?

[2019-10-03 16:01] dt-jegomez commented on #1883
yes. also run php artisan config: clear. and the problem still persists

[2019-10-03 16:05] chrisbbreuer opened #1886 "auth driver [jwt] for guard [api] not defined"
### Subject of the issue
When running a post request inside a unit test,

`$response = $this->post(route('teams.store'), ['name' => $teamName]);`

 it would throw an error saying

`auth driver [jwt] for guard [api] not defined`

For some reason, it appears that the service provider was not loaded that extends to include the JWT functionality. After I manually include

`Tymon\JWTAuth\Providers\Lara

[2019-10-03 16:07] chrisbbreuer commented on #1883
`php artisan config: clear` should be
`php artisan config:clear`

You seem to keep including a whitespace. Not sure if you have noticed that?

[2019-10-03 16:16] dt-jegomez commented on #1883
Actually, I do not know. but I just performed the operation and I still choose the error.
"Argument 3 passed to Lcobucci \ JWT \ Signer \ Hmac :: doVerify ()"

[2019-10-03 16:18] chrisbbreuer commented on #1883
what does your `.env`-file say for the variable `JWT_SECRET=`?

[2019-10-03 16:29] dt-jegomez commented on #1883
JWT_TTL=1440
JWT_SECRET=r3T0nRHJM8j28r3nxPm76O4FS9MQ3Ri4y79vuedvay9fzPv9RQdVqgjZlQ9ZTkck

[2019-10-03 16:31] chrisbbreuer commented on #1883
That looks good.

How can I reproduce this issue you are having? Your description is not enough to figure this one out. In fact, there is no description at all besides the title 😃

[2019-10-03 16:39] dt-jegomez commented on #1883
okay. I'm using windows 10, and laragon, apache httpd-2.4.35-win64-VC15,
laravel / framework ":" 5.8. *,
tymon / jwt-auth ":" ^ 1.0.0-rc.4.1.

post: in linux I do not present the same error with the same repository.

[2019-10-03 16:47] chrisbbreuer commented on #1883
Still not enough. How can I reproduce it? Provide some minimal example please

[2019-10-03 17:14] dt-jegomez commented on #1883
In performing the following procedure and opting for a successful result.

composer update
php artisan vendor: publish
php artisan jwt: secret
php artisan config: clear
php artisan cache: clear
php artisan clear-compiled
php artisan optimize
composer dumpautoload

[2019-10-03 17:19] #1883 closed, assigned to nobody

[2019-10-03 18:35] chrisbbreuer commented on #1883
there are still issues
this:
[code]

should be

[code]

You may want to go over some Laravel fundamentals. Laracasts is a great resource

[2019-10-04 11:41] kilvn commented on #1800
抱歉，此网站暂时无法访问
zhuangbi.iamphper.cn 拒绝了我们的连接请求。

[2019-10-04 11:53] kilvn commented on #1859
我也遇到了同样的问题，尝试设置 config('auth.defaults.guard', 'api'); 或者 auth(‘api’) 都没用。

[2019-10-04 11:57] kilvn commented on #1769
我也遇到了这个问题，不得不说JWT-Auth是真的坑，差评。

[2019-10-04 15:23] kilvn commented on #1366
测试成功，通过创建一个中间件，定义auth()->setDefaultDriver($routeGuard);
在路由中 jwt.auth 之前执行这个中间件，最终实现了多表认证。

[2019-10-04 15:33] jeremynikolic commented on #1886
Encountered the same issue, after a bit of research it seems to be related to test config files being cached, files are located in bootstrap/cache:
- config.phpunit.php
- events.phpunit.php
- packages.phpunit.php
- services.phpunit.php

Have a look here for further info :
https://github.com/laravel/framework/issues/13374

Personnaly, manually deleting those files and running tests again fixed the

[2019-10-04 17:11] chrisbbreuer commented on #1886
Thank you @jeremynikolic ! That was the solution to the problem

[2019-10-04 17:11] #1886 closed, assigned to nobody

[2019-10-05 05:42] mintzhao commented on #1881
Could not find package tymon/jwt-auth in a version matching 1.0.0

[2019-10-05 14:23] dt-jegomez commented on #1883
cual es la diferencia ?

[2019-10-05 19:54] sahsuraj commented on #1729
awesome, its worked using below command

php artisan jwt:secret

[2019-10-06 22:28] hopeseekr commented on #1431
This is somethign that should be in the library. I mean, come on.

[2019-10-06 22:40] hopeseekr commented on #1431
I figured it out! @boorcode:

[code]

It will throw `TokenExpiredException` if the token is expired.

[2019-10-07 05:41] webblufter commented on #1107
That worked for me to set infinite time in Laravel 5..8 , change in **config > jwt.php**
// 'ttl' => env('JWT_TTL', 60),
'ttl' => env('JWT_TTL', **null**),
and
// 'required_claims' => [ 'iss', 'iat', 'nbf', 'sub', 'jti', **'exp'**, ],
'required_claims' => [ 'iss', 'iat', 'nbf', 'sub', 'jti', ],

[2019-10-07 05:44] webblufter commented on #1499
That worked for me to set infinite time in Laravel 5..8 , change in **config > jwt.php**
// 'ttl' => env('JWT_TTL', 60),
'ttl' => env('JWT_TTL', **null**),
and
// 'required_claims' => [ 'iss', 'iat', 'nbf', 'sub', 'jti', **'exp'**, ],
'required_claims' => [ 'iss', 'iat', 'nbf', 'sub', 'jti', ],

[2019-10-07 16:59] Soulriser commented on #1707
Regenerating the jwt secret is the nuclear option. Preferably it should be possible to invalidate all tokens, or a subset of user tokens, without generating a new secret.

[2019-10-08 06:07] parvinshi commented on #1859
$this->auth->parseToken()->authenticate()的$this->auth就是auth()，也可以写成auth()->parseToken()->authenticate()，默认解析的是auth.php配置下的defaults数组的guard键对应的Authentication Guards，laravel默认是'web'，然后通过guards数组找到身份认证使用的provider model。你把defaults配置数组的guard值改为'api'，provider对应providers配置数组的model对应好，然后再试试

[2019-10-08 06:26] parvinshi commented on #1859
这个包里面对laravel的Auth进行了扩展，具体代码如下：
[code]

这里$this->app['auth']就是上面说的$this->auth、auth()或者Auth::guard()，它进行的拓展是在laravel的auth.php中defaults配置数组guard值基础上，如果默认为web，自己定义的jwt如果和默认web定义的provider model不一样就会找不到认证的用户

[2019-10-08 10:48] aktechtalks commented on #1632
thanks its working but its getting as  a parameter not header?

[2019-10-09 05:39] davidjohns1124 commented on #457
Nice working for me

[2019-10-09 05:40] AhmadDastageer commented on #457
great answer

[2019-10-10 09:11] kai-xx opened #1888 "laravel 6.0+"
### Subject of the issue
Does not support laravel 6.x

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | yes
| Framework         | Laravel
| Framework version | 6.x
| Package version   | 1.x.y
| PHP version       | 7.2.22

[2019-10-10 09:14] #1888 closed, assigned to nobody

[2019-10-10 20:04] murilolivorato opened #1889 "JWT multh Auth , with different models ( User Model , Customer Model )"
Hello  I use JWT Auth , and I am trying to make a multh auth with JWT  with 2 Models . (USER Model AND CUSTOMER Model ) .

Like this -

[code]

in the User model I have this code , It works -

[code]

BUT in the  modal CUSTOMER , I CAN NOT  do that -

[code]

[2019-10-11 09:49] dream800 commented on #1839
+1

[2019-10-12 17:39] maverick504 commented on #1869
Yeah, it works for me too! Thank you! ( ^^)b

[2019-10-13 09:53] iulianmids commented on #1827
same issue here, any solution?

[2019-10-13 18:42] lowerends commented on #1707
@Soulriser Can you explain why you call that a "nuclear option"? Are there any consequences with generating a new jwt secret?

[2019-10-13 20:44] Soulriser commented on #1707
Hi @lowerends. Regenerating the secret blows away all tokens, but the questioner asked about invalidating a subset (such as for a specific user or group of users). I don't mean to say it's bad or that there are specific negative consequences, so long as you know all of your users will have their sessions destroyed. It does seem to me, though, that having more programmatic control over token invali

[2019-10-13 22:05] lxandrexl commented on #1869
Thanks it works

[2019-10-14 09:37] Except10n opened #1890 "Blacklist not compatible with laravel 6.X"
### Subject of the issue
Describe your issue here.

https://github.com/tymondesigns/jwt-auth/blob/develop/src/Blacklist.php#L103
[code]

version after 5.8 、6.0
TTL is measured in seconds

[2019-10-14 09:49] #1890 closed, assigned to nobody

[2019-10-14 09:50] Except10n commented on #1890
#1839

[2019-10-14 14:59] ghost commented on #1668
@Ademking this one also works okay for me:
[code]

[2019-10-14 15:42] eknowlton opened #1891 "Custom Identifier Field for User"
### Subject of the issue
I'm trying to setup JWT Auth to use the `App\User`'s email field as a identifier instead of the user ID.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | yes
| Framework         | Laravel
| Framework version | 6.0
| Package version   | 1.0.0-rc.5
| PHP version       | 7.3.8

### Steps to reproduce
Since

[2019-10-14 15:59] eknowlton commented on #1891
So after looking into the package a little more I was able to accomplish this myself with a custom auth provider configured in `config.jwt.providers.auth`.

The initial solution I found was to just change the `byId` method to something a little more custom...
(starting from https://github.com/tymondesigns/jwt-auth/blob/1.0.0-rc.5/src/Providers/Auth/Illuminate.php )
[code]

This could probably be a

[2019-10-14 15:59] #1891 closed, assigned to nobody

[2019-10-14 17:25] Fellzo opened #1892 "Unexpected behavior of auth()->attempt()"
### Subject of the issue
Doesn't return token from auth()->attempt() if I pass remember parameter too.
### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | yes
| New Feature?      | no
| Framework         | Laravel
| Framework version | 6.0.4
| Package version   | 1.0.0-rc.5
| PHP version       | 7.3

### Steps to reproduce
Try to call auth()->attempt() with

[2019-10-15 10:12] francoism90 commented on #1669
Anyone got authentication to work with Laravel Horizon?
[code]

I tried getting the user in `boot`, but `auth()->guard()->user()` always returns `null`.

Thanks.

[2019-10-15 11:05] NightfallSD opened #1894 "Invalidate tokens for specific user / all users"
### Subject of the issue
I'm trying to imlpement super administrator user that would have an option to invaldate tokens of any other user within the system. I saw that in version 1.0 of ywt there is a method tokenById(), but project I'm working on atm is quite large and it would be quite the job to uppgrade everything to newer version. Is there any way to do this on version 0.5.*?

### Your enviro

[2019-10-15 14:39] shirshak55 commented on #1669
why would u use jwt for horizon it should work perfectly on session based
auth

On Tue, Oct 15, 2019, 3:57 PM François M. <notifications@github.com> wrote:

[2019-10-16 00:02] Amer-Oqlah commented on #1860
guys , i was struggling with this error :
"
symfony\component\debug\exception\fatalthrowableerror: argument 1 passed to tymon\jwtauth\blacklist::__construct() must be an instance of tymon\jwtauth\contracts\providers\storage, null given, called in c:\users\user\todolist\vendor\tymon\jwt-auth\src\providers\abstractserviceprovider.php on line 288 in file c:\users\user\todolist\vendor\tymon\jwt-auth\s

[2019-10-16 03:28] fingersandmind commented on #1669
@shirshak55 I'm still having issues even if I'm using the same as what example you have given. I'm getting error in my postman saying

 Method Illuminate\Auth\SessionGuard::factory does not exist.

[2019-10-16 03:37] fingersandmind commented on #1669
My bad. I just missed to modify this part also

'expires_in'   => $this->guard()->factory()->getTTL() * 60
//used auth() instead of the example above

[2019-10-16 05:49] fingersandmind commented on #1669
@shirshak55  Can you please explain to me sir, why both my login and register function works if excluded on middleware('auth:api')?

[2019-10-16 06:45] shirshak55 commented on #1669
@fingersandmind sir are u using web.php file or api.php file inside routes? By default api uses api middleware and web uses web middleware . So horizon etc can only work on web middle as per as I know.

Regarding login u must only use api middleware and do have to configure guards etc properly so it wont collide sir.

[2019-10-16 10:17] francoism90 commented on #1669
I 'solved' it by using a custom `basic.auth` with the `web` guard:
https://github.com/francoism90/mediadb/blob/master/src/app/Http/Middleware/AuthenticateWithBasic.php#L24
https://github.com/francoism90/mediadb/blob/master/src/config/horizon.php#L67
https://github.com/francoism90/mediadb/blob/master/src/app/Providers/HorizonServiceProvider.php#L16

Both Horizon and Telescope are now protected usin

[2019-10-17 06:04] srikanthmaggidi commented on #1894
**Invalidating the requested token**

`$token = $request->bearerToken();` // Request with token
`Auth::setToken($token)->invalidate(); `// Invalidate the requested  token

**Get payload by using requested token **
`$token = $request->bearerToken();` // Request with token
`Auth::setToken($token)->payload()`; // Get the payload information, "sub" -> user identity

** Invalidate all tokens **
`php ar

[2019-10-17 06:07] srikanthmaggidi commented on #1894
**Invalidating the requested token**

`$token = $request->bearerToken();` // Request with token
`Auth::setToken($token)->invalidate();` // Invalidate the requested  token

**Get payload by using requested token **
`$token = $request->bearerToken();` // Request with token
`Auth::setToken($token)->payload()`; // Get the payload information, "sub" -> user identity

** Invalidate all tokens **
`php ar

[2019-10-18 12:46] andrefigueira93 commented on #1869
Thank you!

[2019-10-18 12:56] paulyay commented on #1892
Have you updated `defaults.guard` to `api` in `config/auth.php`? I was having the same issue and making this change resolved it.

[2019-10-18 14:06] Fellzo commented on #1892
It's my config/auth.php
[code]

[2019-10-18 15:15] yannick-milanetto commented on #1863
Thx @clugg it helped me a lot too. Too bad that it is not properly documented.
Having one token used for both authentification and refresh is not that common, and would deserve a chapter in the doc. Not sure if I can help to update this doc, if so i'm more than happy to do it.

[2019-10-19 09:27] bsam2019 commented on #1869
composer require tymon/jwt-auth "^1.0.0" has worked for me,

[2019-10-19 11:37] bert-w commented on #1863
@yannick-milanetto  i agree, from my understanding the current single token implementation actually defeats the purpose of the whole refreshing flow, since you can just refresh your token at any time with literally the same JWT token. The whole idea behind a separate refresh token is that it is actually separate, and only to be sent when you are about to refresh your token.

Therefore you might ju

[2019-10-19 23:04] yannick-milanetto commented on #1863
@bert-w Well, this was not my understanding, and my latest tests seem to confirm that.
Based on clugg's answer, what I understood is that there is a Refresh workflow, but this workflow works by using a single token, call it as you want (access token, jwt token, id token, etc...)
The way it works is the following : you set a TTL for the JWT token, let's say 15 minutes. You set the TTL for the refre

[2019-10-20 13:04] clugg commented on #1863
@bert-w

Please note that `localStorage` is not secure. If you are running any third-party scripts on your page, which is very likely unless you are writing all of your JS alone without any third-party libraries, then all of those scripts have the ability to access `localStorage` and, as such, can access your user credentials.

The idea of a having multiple tokens (access and refresh) is that you

[2019-10-20 15:01] bert-w commented on #1863
@clugg @yannick-milanetto

I dont see how a 15m access token and a 30m refresh token does any good for your app security, when both of them reside in the same JWT. They are bound to eachother, and the loss of the JWToken results in 30m access (assuming the attacker knows the `POST /auth/refresh` route).

Yes a HttpOnly cookie might be better; note that this must be set from PHP since it cant be se

[2019-10-20 21:41] VladPavliuk opened #1895 "Problem with Laravel HTTP tests writing"
### Subject of the issue
Hi!
I tried to add a few test methods each of which tests - is user's auth status.
After successfully received jwt token I've faced with the next problem - I get `false` each time when JWTAuth::getToken() is called in the tested method though, `Authorization` header with `Bearer {token}` value is present in the request to the tested api endpoint.

### Your environment
| Q

[2019-10-21 01:52] clugg commented on #1863
@bert-w I absolutely agree. This package lacks a secure and practical implementation of refresh tokens. The current implementation doesn't make much sense - if you have the token, you have it forever if you know the refresh endpoint.

[2019-10-21 12:25] NightfallSD commented on #1894
@srikanthmaggidi hi mate, tried all of that. Unfortunatelly that enables me to invalidate token for currently logged in user. And I want for that user to be able to invalidate tokens for other users within the project, not himself. When trying to do something like that I get this message:

[2019-10-22 08:34] tvpeter commented on #1880
Having the same issue with Laravel 6.3.0.

[2019-10-22 13:16] specialtactics commented on #1880
I just upgraded one of our projects to Laravel 6.3, we have millions of tests and haven't had any auth issues at all, so I find it highly unlikely there's a specific problem with this package.

I don't see any problems in your code, and I even tried it locally (we do our auth a bit different), and it works fine.

Really not sure what the underlying issue for you is, but it's gonna be something wei

[2019-10-22 15:49] yinkuzej opened #1896 "InvalidArgumentException Auth driver [jwt] for guard [api] is not defined."
### Subject of the issue
Describe your issue here.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              |  yes
| New Feature?      | no
| Framework         | Laravel
| Framework version | 6.3.0
| Package version   | dev-develop
| PHP version       | 7.2.4

### Steps to reproduce
Hello I get this error after upgrading to laravel 6.3

my config/auth.php
`<?php

[2019-10-23 00:53] tvpeter commented on #1880
@specialtactics Thank you for offering to help fix the issue. I haven't written tests for the project yet, but here's the repo  [link](https://github.com/tvpeter/laravel-jwt-auth).

I am returning the token in a json response along with the bearer and expiration time.

[2019-10-24 07:33] tvpeter commented on #1880
I have finally understood why it was failing. After registration, the emails were not verified and it requires emails to be verified before login.

[2019-10-24 10:08] osymo commented on #1880
Hello Guys.
@specialtactics  like @tvpeter  said, in the code posted above I'm returning the token in a json response using respondWithToken() method.

@tvpeter I'm at work now but will try your solution later at home.

Thanks to all.

[2019-10-24 22:54] davepoirier-toptal commented on #1792
This issue seems to still be in 1.0-dev as of 2019-10-24.  Whenever I do a refresh() if I reset the claims the getJWTCustomClaims() function is never called, yet a new token is returned.  That token is smaller in size (fewer characters).

[2019-10-24 23:32] stoi2m1 opened #1898 "Get User Path Issue (It Acts Relative When Refreshing Pages a Few Layer Deep)"
### Not retrieving user data properly after navigating a few layers within the site. Was also having the same issue with logging in from within a few sub directories within the site.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | I dont think so
| New Feature?      | no
| Framework         | Laravel
| Framework version | 5.8.35
| Package version   | 1

[2019-10-25 00:17] davepoirier-toptal commented on #1792
If it helps anyone, after setting the `persistent_claims` in config/jwt.php my custom claims persists on a refresh. I still cannot do a resetClaims() otherwise I lose them; but at least I can ensure they persists.

[2019-10-25 04:02] stoi2m1 commented on #1842
This is the method I use to get the Current Authenticated User.

[code]

[2019-10-25 14:25] davepoirier-toptal opened #1899 "Non-persistent claim persisted on refresh"
### Subject of the issue
When a token is issued with claims 'a', 'b' & 'c', with configuration to persist only 'a' & 'b', if this token is later refreshed the new token obtained will have claims for 'a','b' & 'c' when only 'a' & 'b' are expected.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | yes
| New Feature?      | no
| Framework         | Laravel

[2019-10-25 18:23] aneira92 opened #1900 "Creating a Token based on anything you like"
I am working with query builder and I need to generate a token with personalized information without a model and I have not been able to do it. some help?

[2019-10-28 09:37] NuclearGear opened #1901 "Auth:api is not working"
### Subject of the issue
I created a new laravel project and do the requirement steps that listed in the "quick start" of documentation. But I use PostMan or CUrl post a request to any endpoint in AuthController such as localhost:8000/api/auth/logout or localhost:8000/api/auth/me then got a result of login page and redirected to http://localhost:8000/login. But localhost:8000/api/auth/login is wor

[2019-10-28 14:00] sentrychris commented on #1344
This might be a stupid question but just to confirm, what does "prv" stand for in this instance? I assume it's short for "provider"?

[2019-10-29 02:23] caleboki commented on #1901
Check the headers of your request in Postman. Specifically set the 'Accept' key to the value 'application/json'

[2019-10-29 08:01] Larsklopstra commented on #1881
I experience the same issue, this package is not properly documented at all; the provided solution does not work. I'd rather write my own JWT logic.

[2019-10-29 10:10] manuel-84 commented on #1024
I'm having this issue again with latest v

[2019-10-29 11:08] slashsbin commented on #1344
Yes, you assumed correctly.

[2019-10-29 14:48] NuclearGear commented on #1901
Hi @caleboki , thanks for your reply, I set the Accept Field to "application/json" in the Request then I get a json result, but the endpoint always result  "message": "Unauthenticated.".

[2019-10-29 19:03] wilcorrea commented on #1896
+1

[2019-10-29 19:45] caleboki commented on #1901
It returns "message": "Unauthenticated." because you are not logged in. What result do you expect from it?  to log in, send a POST request to the login endpoint passing in your login credentials

[2019-10-29 20:22] wilcorrea commented on #1896
In my case if I change
[code]
to framework's default (as below) it works
[code]
Now I'm testing to look if the changes crash anything

[2019-10-30 07:14] NuclearGear commented on #1901
I get the details of result that "user not found" when I replace "Auth:api" to "jwt.auth" in controller,

[2019-10-30 12:43] BelTeamProjects commented on #1869
The new version JWT package was tagged for laravel 6!
Guys, use this. Its working:

composer require tymon/jwt-auth:1.0.0-rc.5

[2019-11-03 13:29] HristijanTintar opened #1902 "headers ignored when sending with curl"
### Subject of the issue
i have the correct token for the user, and when trying to post to a route , i get unauthorized. i use curl to do the post. here is what i am sending:

 $url = "some url here/api/user/getStuff";

$fields_string = http_build_query($fields);
$ch = curl_init();

curl_setopt($ch,CURLOPT_URL, $url);
curl_setopt($ch, CURLOPT_HEADER, true);
curl_setopt($ch,CURLOPT_POST, true);
cur

[2019-11-04 07:03] dv336699 commented on #1753
I just had this exact same scenario when testing a copy of the web app.
Login would return the token, but any subsequent call to a guarded route resulted in `Unauthenticated`.

Running `php artisan jwt:generate` created JWT_SECRET on .env and all was good.

[2019-11-05 10:50] marijnhurkens commented on #614
Why is this closed? We're experiencing the same issues and it's a big security hole. I found another ticket with the same symptoms which is also lacking a solution.

https://github.com/tymondesigns/jwt-auth/issues/1487

@tymondesigns

[2019-11-05 17:41] code-reflex opened #1903 "TokenBlacklistedException results in 500 Internal Server Error"
### Refresh Token sequence results in HTTP 500 error
As per procedure, when the token has expired, you request for a refresh by sending the expired token in the header. The server should respond back with a "Blackisted the token" and send back the a refreshed/new token in the response header. This process triggers a TokenBlacklistedException error and the default laravel exception handler picks it

[2019-11-06 15:45] noecs opened #1904 "I can't use token through middleware"
### Subject of the issue
Describe your issue here.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | yes
| New Feature?      | no
| Framework         | Laravel
| Framework version | 6.5
| Package version   | 1.0
| PHP version       | 7.3

### Steps to reproduce
I created a minimal example that reproduces the problem.
`php artisan migrate`
Need to insert

[2019-11-06 18:13] flavio-alves commented on #1904
Did you generate the secret?
`php artisan jwt:secret`

[2019-11-07 01:26] noecs commented on #1904
@flavio-alves
Yes, I am sure I executed and generated the secret

[2019-11-07 09:49] noecs commented on #1904
Sorry, I can't stand the bug that this package brought me.

[2019-11-07 09:49] #1904 closed, assigned to nobody

[2019-11-07 12:58] vishytk commented on #1896
I am creating auth/usermanagement code as Laravel package using Orchestra/TestBench and I get the same error when I run test in the package tree.

Tests run fine when I run them inside a separate Laravel tree (containing my package).

[2019-11-07 12:59] vishytk commented on #1896
Error when test run inside the package tree.

pf user_can_login_with_valid_credentials
PHPUnit 8.4.3 by Sebastian Bergmann and contributors.

Illuminate\Foundation\Testing\TestResponse^ {#1186
  +baseResponse: Illuminate\Http\Response^ {#1216
    +headers: Symfony\Component\HttpFoundation\ResponseHeaderBag^ {#1217
      #computedCacheControl: array:2 [
        "no-cache" => true
        "private"

[2019-11-07 13:00] vishytk commented on #1896
When same test run inside Laravel tree instead:

pf user_can_login_with_valid_credentials
PHPUnit 8.4.3 by Sebastian Bergmann and contributors.

Illuminate\Foundation\Testing\TestResponse^ {#404
  +baseResponse: Illuminate\Http\JsonResponse^ {#1302
    #data: "{"access_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwOlwvXC9sb2NhbGhvc3RcL2F1dGhcL2xvZ2luIiwiaWF0IjoxNTczMTMwODcwLCJleHAiO

[2019-11-07 16:42] vikalstha opened #1906 "JWT special app-based token without User/any modal."
### JWT token for webapp api
i have no issue implementing JWT token based authentication using User guard. create a user modal guard>attempt credentials>generate token> use bearer token for api usage.

But for certain routes i would like to have a special api-token without user authentication for internal web-app api usage. Yes i found creating token with anything using custom claims. i get a toke

[2019-11-08 03:55] ayoub-bousetta commented on #1843
Error still not fixed

[2019-11-08 06:26] modavidc commented on #1869
It's working for me. Thanks!

[2019-11-13 18:50] lucasres commented on #540
I try all but when my credentials is username and password dont work :(

Any help?

[2019-11-14 06:10] benrobey commented on #1880
I bet you have done what I did and double hashed your password. If you follow the documentation and use the default laravel registration function (which includes password hashing) you will end up double hashing your password by putting this into your User model:

[code]

Make sure that you are not hashing your password in your registration controller!

[2019-11-14 22:03] frknasir commented on #1498
Awesome!

[2019-11-15 08:20] pergsify commented on #1869
With Laravel 6.5.1, this is working. Thanks.

[2019-11-15 09:23] I2C-RoyYou commented on #1753
Hi, I'm using the same way "jwt:secret" , but still get 401 Unauthorized , anyone can help?
It can run on my localhost , but I put it into gcp then turns 401 ...  someone can help?

[2019-11-15 09:48] I2C-RoyYou commented on #1860
Hi, I'm using `"tymon/jwt-auth": "^1.0.0-rc.5"` ,but still get `401 Unauthorized` , I can get the token , but use it to Bearer will get the 401 , is there anyone can help?

[2019-11-15 09:51] I2C-RoyYou commented on #1880
Hi, I'm using `"tymon/jwt-auth": "^1.0.0-rc.5"` ,but still get `401 Unauthorized` , I can get the token , but use it to Bearer will get the 401 , is there anyone can help?