[2016-01-09 16:33] rajabishek commented on #376
@syropian You have the AuthServiceProvider service provider uncommented in your bootstrap/app.php file right ?

[2016-01-09 16:41] syropian commented on #376
@rajabishek yup!

[2016-01-09 19:12] syropian commented on #376
@rajabishek There isn't something internal that relies on the User model being in in the `App\User` namespace is there? I prefer to keep all my models in `App\Models\User`. I've updated the `jwt-auth` config to use this, and also updated the namespace in `AuthServiceProvider`.

[2016-01-09 21:20] irazasyed opened #389 "Packagist has old commit"
Hey!

Is there a problem with the Packagist's setup? Because it seems like the dev-develop / 0.6.x-dev is stuck in this commit - https://github.com/tymondesigns/jwt-auth/commit/d9bef95263a39355929d502a54c4f0a15dc215f4

Can you please take a look @tymondesigns ?

[2016-01-09 21:32] tymondesigns commented on #389
It should auto update :S

I've just updated manually for now anyways, but I'll take a look at the hooks when I can

[2016-01-09 21:33] irazasyed commented on #389
Thanks and yes, please do check when you can.

[2016-01-09 21:46] #389 closed

[2016-01-10 17:58] tdhsmith commented on #376
Yeah check out my response in #384. You're using the stock Lumen setup, which creates an auth driver called `api`, which will be supported by `RequestGuard` (and the callback you pass to it in `viaRequest`). But the default jwt-auth setup has `authenticate()` calling `Auth::onceUsingId()`, which is not supported on `RequestGuard`, so you're going to get some sort of illegal method error.

There ar

[2016-01-10 18:00] tdhsmith commented on #376
Actually you might even be able to get by with changing the auth driver to `session` and then using the provided middleware as normal... jwt-auth doesn't actually require any of the session-y aspects of the driver, so I don't _think_ it would fail...?

[2016-01-11 00:40] koofah commented on #229
thanks , it is now working like magic

[2016-01-11 07:35] irazasyed commented on #376
Here's a package i created (Auth Driver) - https://github.com/irazasyed/jwt-auth-guard

For this package. Took me some time to play around with the code due to lot of various issues but at the end it was worth it.

Works like a charm.

P.S Obviously it would be good if the official package implements the Auth Driver.

[2016-01-11 07:38] irazasyed commented on #384
I ended up creating a package with a custom Auth Driver for this package: https://github.com/irazasyed/jwt-auth-guard

Works good for me :)

[2016-01-11 09:37] softwareok1 commented on #379
Thx

[2016-01-11 09:37] #379 closed

[2016-01-11 14:36] syropian commented on #376
@irazasyed That's awesome! Thanks a lot :)

@tdhsmith I ended up parsing the payload manually, and that worked just fine, thanks for the help :)

[2016-01-11 18:36] irazasyed commented on #376
@syropian No problem, please leave your feedback/report any issues (if any) :)

[2016-01-11 22:43] joshbodine21 commented on #341
This same issue is happening to me using the code in the documentation.

[2016-01-11 23:04] jadjoubran commented on #341
@joshbodine21 are you doing auth against your App\User model?

[2016-01-12 00:16] tymondesigns commented on #376
@irazasyed I've added the JWTGuard class now, although I don't have the time to test it properly right now. Feel free to give a spin guys :smile:

And note that it's a first stab, so not *everything* is in there just yet

[2016-01-12 17:49] jake142 commented on #376
Could you please give some guidance on how to use the JWTGuard. Im trying to get jwt 0.6-dev to work with lumen 5.2 to but run into the 'Call to undefined method Illuminate\\Auth\\RequestGuard::once()'

I also have problem with the 'Class cache.store does not exist' in Tymon\JWTAuth\Providers\Storage\Illuminate (works if you use app('cache')).

Thank you for a great work.

[2016-01-12 18:47] irazasyed commented on #376
@tymondesigns Looks good, I can see some errors just by looking at it though. Will try it out soon, Thanks :)

@jake142 You're having the same problems that i had reported before #384. There's some issue.
And the once undefined issue that you're seeing is because that method doesn't exist. @tymondesigns should probably implement some of those common methods, Like I've done in my package. I can sen

[2016-01-12 19:17] tdhsmith commented on #376
It might be easier to cut out the middleman and have `JWTGuard` implement `Tymon\JWTAuth\Contracts\Providers\Auth` directly? It doesn't really make a ton of sense for a stateless guard to implement `once` anyway, except to fulfill the requirements imposed by that intermediate provider.

At the very least there should probably be an auth provider specially for `JWTGuard`. That could be fixed right

[2016-01-12 19:18] jake142 commented on #376
@irazasyed Ah, ok, I thought that JWTGuard fixed the errors. Is the purpose of the JWTGuard to "replace" the default "guard"? If so, how do I configure my project to use the JWTGuard instead (sorry about the newbie questions)

[2016-01-12 19:25] Skyback commented on #365
Sorry for the late response. The situation has changed a bit but I'm stuck with a problem that I can't get my head around. I hope someone can help me.

My current (exaggerated) settings are:

    JWT_TTL=1
    JWT_REFRESH_TTL=2
    JWT_BLACKLIST_ENABLED=true
    JWT_BLACKLIST_GRACE_PERIOD=60

So TTL is 1 minute, REFRESH_TTL is 2 minutes and the grace period is 60 seconds. I'm working with an angul

[2016-01-12 20:26] tdhsmith commented on #376
@jake142 Yes you are correct. The guard forms the basis of what becomes the `Auth` facade, and the center of the overall auth system. There are issues with Lumen because it has a very different default driver than Laravel does.

You would change it by setting in `config/auth.php`:
[code]
In 5.2+, there will be an entry like that in the `guards` array for every corresponding label in the `defaults`

[2016-01-12 22:08] tdhsmith commented on #201
No problemo! I was crafting it for the docs, but obviously that got lost on the sidelines. (the code is in [this gist](https://gist.github.com/tdhsmith/9c64d84fd77801dc782f))

[2016-01-12 22:12] tdhsmith commented on #335
Thanks for looking into that!

[2016-01-12 23:08] tdhsmith commented on #365
Are you sure you're sending a new token to the client? What does the login controller do?

It can be easy to accidentally send the old token. For example, `JWTAuth::fromUser($user)` only returns a new token, it doesn't change the internal one, so if you later call `JWTAuth::getToken()` it's just going to return the one attached to the original request.

Also with some client frameworks it can some

[2016-01-13 01:19] irazasyed commented on #384
So this PR should fix the number 1 issue i had: https://github.com/laravel/lumen-framework/pull/324

[2016-01-13 02:25] tdhsmith commented on #384
Aha! Great news, I was wondering what could be going on there.

[2016-01-13 14:53] Skyback commented on #365
Yes because the procedure is identical to the first login attempt that I make, so if the first authentication works well, after the token as expired beyond expired_ttl and I try to login again it "works" (on the console I output the expiration date of the received token and if the login attempt is successful) but after a couple of requests I receive an old token... Anyway I'm posting some code to

[2016-01-13 15:02] Skyback commented on #365
These are my console outputs after the first authentication:

[code]

After it as expired I go to the login page, try to login and see the following output:

[code]

If i hit F5, I can login as the first time... I'm really lost here. :confused:

[2016-01-13 16:08] Hammad51 commented on #81
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]
put this into my project .htaccess but still "token_not_provided" :(

[2016-01-13 16:14] mcblum commented on #81
@Hammad51 Did you put it in the .htaccess in your public directory?

[2016-01-13 16:15] Hammad51 commented on #81
yes, i did..
here is my .htaccess
Options +FollowSymLinks
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

[2016-01-13 16:18] mcblum commented on #81
Try putting it as the first thing. I don't know if that will help, but that's how mine is and it works:

## Rewrite ##
<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes...
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Fix authentication headers
    RewriteCond %{HTTP:Authorization} ^(.*)
    R

[2016-01-13 16:20] Hammad51 commented on #81
still {"error":"token_not_provided"}

[2016-01-13 16:22] mcblum commented on #81
I'm 99% sure it's not a bug since I have this used in about 10 different Laravel apps, of all versions, and it works great. Did you check the request to make sure it includes the header when the browser makes it?

[2016-01-13 16:27] Hammad51 commented on #81
it is all i have in POSTMAN under "Headers"
Cache-Control →
Cache-Control
Tells all caching mechanisms from server to client whether they may cache this object. It is measured in seconds
no-cache
Connection → close
Content-Length → 30
Content-Type → application/json
Date → Wed, 13 Jan 2016 16:23:30 GMT
Server → Apache/2.4.7 (Ubuntu)
X-Powered-By → PHP/5.5.9-1ubuntu4.14

[2016-01-13 16:29] Hammad51 commented on #81
This is my request header
Accept:text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8
Accept-Encoding:gzip, deflate, sdch
Accept-Language:en-US,en;q=0.8,ms;q=0.6,ur;q=0.4
Cache-Control:max-age=0
Connection:keep-alive
Cookie:_ga=GA1.1.1250682879.1451633371
Host:localhost
Upgrade-Insecure-Requests:1
User-Agent:Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Geck

[2016-01-13 16:30] mcblum commented on #81
There's no auth in that request header.

[2016-01-13 16:31] mcblum commented on #81
You'll need to add the Authorization: Bearer {{key}}

[2016-01-13 16:33] Hammad51 commented on #81
have a look at my routes.php
$api->group([
    'version' => 'v1',
    'namespace' => 'App\Http\Controllers\api',
    'middleware' => 'jwt.auth',
], function($api){
    $api->get('users', ['uses' => 'UsersController@getUsers']);
    $api->get('/user/{id}', ['uses' => 'UsersController@getUser', 'as' => 'singleUser']);
    $api->post('/user', ['uses' => 'UsersController@saveUser', 'as' => 'saveUser']

[2016-01-13 16:34] mcblum commented on #81
I don't think you understand how this works. Please re-read the tutorial. What you're looking for in your headers (in Postman or Chrome when actually testing) is the Authorization header:

Accept:application/json, text/plain, */*
Accept-Encoding:gzip, deflate
Accept-Language:en-US,en;q=0.8,de;q=0.6,es;q=0.4,pt;q=0.2
Authorization:Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOjEsImlzcyI6Imh0

[2016-01-13 16:38] Hammad51 commented on #81
hmm thank you for your kind response.. but i don't know how to include this into headers.
i configured jwt with my lument by following this tutorial step by step and i double check everything, jwt configured correctly but something is wrong with headers http://laravelista.com/json-web-token-authentication-for-lumen/

[2016-01-13 16:40] mcblum commented on #81
Ok not to be a jerk, but then that's why it won't work. Learn how to do that and then it will work :)

[2016-01-13 16:49] Hammad51 commented on #81
Thank you very much for your prompt replies, really appreciated.
I'm going to take a look at jwt again.

[2016-01-13 16:51] mcblum commented on #81
It's right there in the name: Javascript Web Token. You have to use JS to put the header in. We use Angular but any JS will work, you just have to learn how to do it for whichever framework you're using. Good luck.

[2016-01-13 19:34] dani3l commented on #384
irazasyed, nice package! would love to see all those methods ending up in tymon's driver :)

[2016-01-13 19:49] irazasyed commented on #384
@dani3l Thanks and yep, Would love to see that happening as well :)

[2016-01-13 20:10] tymondesigns commented on #384
I think I will need to look at some of the points raised by @tdhsmith [here](https://github.com/tymondesigns/jwt-auth/issues/376#issuecomment-171021156), specifically around the fact that it feels a bit weird to add `once()` & `onceById()` methods to an already stateless auth driver. But I do appreciate that it is necessary right now, given that the JWTAuth instance requires those methods (oooh in

[2016-01-13 20:25] tdhsmith commented on #365
I don't have time to examine this super well right now, but a few questions first:

- Are you sure all of your requests and responses match up? In your example, there are two requests made at `14:55:53`, but only one response. If the second response was hanging or blocked, it could account for the bad token later, since it has the expected refreshed expiry of `14:55:54`. A 5 minute delay would be

[2016-01-13 20:42] irazasyed commented on #384
@tymondesigns Sure! I can send a PR. Would you like me to add those `once()` & `onceById()` methods too? As you can see, I also have other methods like `logout()` (Which btw is more like a wrapper around invalidate but since the other guard too have this, So it's quite common for people to be using such method), `generateTokenById()`, `refresh()`, `invalidate()`, etc. some of which are just wrappe

[2016-01-13 20:58] tymondesigns commented on #384
@irazasyed I've already added the [logout method](https://github.com/tymondesigns/jwt-auth/blob/develop/src/JWTGuard.php#L103), so I think we definitely need `once()` and `onceUsingId()` (and I get your point on this btw, as I say, I just want to have a think to see if there might be a better way at some point), oh and the `refresh()` method would be good.

I guess i'm saying add everything in the

[2016-01-13 21:10] tdhsmith commented on #384
On the route params stuff, #361 has an example where it fails because there's no associated `route()` whatsoever (when a request is created manually rather than naturally), so there should probably be more configuration or safety there anyway.

[2016-01-13 21:15] tdhsmith commented on #384
With configurable parser chain, Lumen users could sub in something like this until a change makes it to core:
[code]
(That magical 2 makes kittens cry. :crying_cat_face:)

I guess _technically_ we can already configure the chain by abusing `$parser->setChainOrder($arr)`...

[2016-01-13 21:15] tymondesigns commented on #384
@tdhsmith great point! Didn't think of the testing stuff

[2016-01-13 21:17] tdhsmith commented on #384
Well the PHPUnit helpers run everything through Kernel correctly, but who knows what other things exist in the wild, so we probably shouldn't assume `route()` works.

[2016-01-13 21:27] tymondesigns commented on #384
I guess we could just throw a try catch around the damn thing and be done with it 😁  who uses the route parameters for this anyway? amirite

[2016-01-13 21:31] irazasyed commented on #384
@tymondesigns Sure. I'll do that soon :)

As far as the route param issue is concerned, Since as @GrahamCampbell said, they're open for PRs. So i think we should just focus on fixing the root cause of this issue rather than making several changes in this project and making it more confusing for people (Though flexibility is good but too much of it also makes it look like its too complicated, it's

[2016-01-13 22:43] tdhsmith commented on #384
@tymondesigns Unfortunately it's a fatal error, not an exception, so we can't actually take the easy way out. :expressionless:  But we can do some `method_exists` checks and other things...

@irazasyed Yes I agree rapid changes and configuration bloat can be issues. As a compromise there could merely be programmatic access to the parsers through `JWTAuth::getParser()` and `$parser->getChain()`..?

[2016-01-13 22:50] irazasyed commented on #384
@tdhsmith That's doable and sounds good. For more advance developers who really want to dig into it and customize in depth, that should be good enough :+1:

[2016-01-14 19:40] Skyback commented on #365
First of all thank you for your patience! Yes, all of the client navigation is made within a SPA.
The $localStorage library is [ngStorage](https://github.com/gsklee/ngStorage).

Here is a nicer look to the problem

# First login
[code]

# Second login
[code]

[2016-01-14 20:05] tdhsmith commented on #358
What are you using for your database & auth user provider? Not to pass the blame, but without further evidence it seems more likely that you're having some sort of intermittent Auth/DB issues. It would be very strange to have errors within jwt-auth occurring randomly on multiple attempts with the exact same token, because the library is effectively stateless.

Due to #335, the master branch suppre

[2016-01-14 21:34] tdhsmith commented on #365
So the rogue token has the first login's `iat`. There's no way the new token could get "converted back" to the old `iat`, and there's _almost_ no way that the old token could stick around in server memory (the only thing we save is the blacklist, and it doesn't sound like you've added in any other behavior). The only other possibility that comes to mind is the off-hand comment I made above -- that

[2016-01-14 21:36] tdhsmith commented on #365
(Also there are some quirks with ngStorage, e.g. needing a digest cycle before things are saved to localStorage, but it doesn't look like that's an issue because there are definitely plenty of digests between the offending pair and also you're using an SPA so the JS `$localStorage` object should be existing continuously through the whole exchange anyway.)

[2016-01-14 21:43] #361 closed

[2016-01-15 00:03] Skyback commented on #365
Ok, I've debugged on the PHP side and added this to the "jwt.refresh" middleware:

[code]

[2016-01-15 02:56] tdhsmith commented on #365
Ohhhh they're just view requests? Well that changes things for sure. I had assumed, foolishly, that they all were API calls. It's very possible that the tokens could get cached in Angular somewhere, but I'm not sure where or why.

With stock Angular, templates will get saved into the `$templateCache` after their first load, and subsequent requests will be fulfilled from there. But AFAIK that only

[2016-01-15 03:00] tdhsmith commented on #365
Maybe try specifying `cache: false` for your views to see if that changes things?

If the problem is that some _frontend_ service is returning a bad token, then the simple solution would be to modify your response interceptor to only update the token if the response is actually coming from the server. You should be able to do that pretty easily just by comparing URLs/routes.

[2016-01-15 03:23] aejnsn opened #392 "Working without sessions"
I am constructing a backend API (no need for sessions) that will communicate via JWT. I see in the classes within Tymon\JWTAuth\Providers\Auth that sessions are necessary in order to retrieve the user. However, JWT authentication is premised upon being stateless, yet this package is using sessions (state) in order to retrieve the current user.

[2016-01-15 07:24] sagaio commented on #355
+1
Also experiencing similar issue. I'm using brower-sync and sometimes when it refreshes I'm suddenly in a logged out state, no errors or anything. This usually happens after being logged in for about 2-10 minutes.

[2016-01-15 07:48] loreberti89 commented on #358
Thanks for reply.
I'have "solved" the problem by not using middleware CheckToken,   and using a middleware CHECK that i've found in dev branch but using parsetoken.

mi middleware CHECK now is:
[code]

[2016-01-15 08:18] tymondesigns commented on #392
This package does not create any sessions, and is indeed stateless. It will be the default laravel auth system that it is creating any sessions.

You just need to remove all the session related middleware from the kernel

[2016-01-15 08:19] #392 closed

[2016-01-15 11:03] ekaitzastiz commented on #355
After writing here, last week, I read the next information, but is not exactly the same, because as I said, I don't see any error, the time when it happens it's when short time is passed from session start...So, I updated satellizer, now I see there it happening few times, but It happens...may be, I will have to implement the solution of buffering request...but I am not sure, because I as said, I

[2016-01-15 11:20] Skyback commented on #365
Spot on! :+1:

Last night I continued my quest to solve this issue and arrived to the same conclusion as you did. The templates are cached by Angular but somehow it "simulates" a response from the server when it fetches the template from cache... Therefore my response interceptor was catching headers from the cached response headers and blowing up my logic.

Damn! Need to sleep now...

One more qu

[2016-01-15 14:10] Hammad51 commented on #81
Hello again,  i get it working.. i'm sending my generated token to get response from protected routes but all i get in response is
{
  "error": "user_not_found"
}
This is how i'm generating token
$user = Auth::user();
return $token = JWTAuth::fromUser($user);
I'm sorry, i'm new to JWT

[2016-01-15 14:39] EwanValentine commented on #290
I'm still getting
[code]

[2016-01-15 16:25] MateEke opened #393 "error: "user_not_found" on multiple async api calls"
Hi!

I have the same problem as in this stackoverflow question:
http://stackoverflow.com/questions/34451540/jwt-tymon-laravel-5-1-angularjs-multiple-async-call-error-user-not-found

The sent authorization header is the same in all of the requests, but some of them returns {"error":"user_not_found"}.

[2016-01-15 18:09] aejnsn commented on #392
Okay. I understand the package is not actively using sessions. However, the structure of AuthInterface and its usages seem to be geared towards the use of sessions--at least insofar as relying on Guard or Sentinel to persist the current user somewhere within their objects' life cycle.

Furthermore, there has not been a release including the adapter for Sentinel since it was constructed...6 months

[2016-01-15 19:42] Hammad51 commented on #155
Hi,
i ran into the same problem, i generate my token using
     public function login(Request $request)
    {
       $user = Auth::user();
// return $user = Users::first();

return $token = JWTAuth::fromUser($user);

when i pass this generated token in url to get protected route it allway's return
{"error":"user_not_found"}

[2016-01-15 21:23] tymondesigns commented on #384
@irazasyed So i've gone ahead and added the missing methods. Should work as expected now I think

[2016-01-16 00:08] tdhsmith commented on #392
I don't want to speak for @tymondesigns, but I think the intent of relying on `Auth` was just to avoid reimplementing its credential operations, configs, and user providers. And the methods used are deliberately those that do not access or save anything to/from session.

Do the lifecycles of `JWTAuth` and `Auth` differ in a meaningful way? I will readily admit I'm not an expert in the details of t

[2016-01-16 00:44] tdhsmith commented on #365
I'll start this out by saying: I'm not a security expert, I just happen to use this library!

It depends on how important to you it is that the templates are hidden. I personally tend to do all projects with the assumption that a competent attacker could somehow get the full source code. (e.g. social engineering, browser history, malicious extensions, accidental git commits, my own stupidity) In t

[2016-01-16 10:12] fillit commented on #81
Hi there

I am struggling with the same error token_not_provided when calling a request through Postman.  My .htaccess file is:
RewriteEngine On

RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

RewriteCond %{REQUEST_URI} !^public
RewriteRule ^(.*)$ public/$1 [L]

Looking at dev tools I can see I am passing through the Authorisation Bearer:
Authorization: Bearer

[2016-01-16 12:55] sagarjethi opened #394 "Maximum function nesting level of '100' reached, aborting!"
in Container.php line 698

at Application->handleShutdown() in RegistersExceptionHandlers.php line 55

at Application->Laravel\Lumen\Concerns\{closure}()

changeinh in php.in then also getting same error

    //$credentials = $this->getCredentials($request);
          $credentials = $request->only('email', 'password');

        try {
            // attempt to verify the credentials and create a to

[2016-01-16 13:15] GrahamCampbell commented on #394
That's not a very large number. Try increasing xdebug's limit to more like 1024.

[2016-01-16 14:04] sagarjethi commented on #394
[xdebug]
zend_extension=/usr/lib/php5/20121212/xdebug.so
xdebug.remote_enable=1
xdebug.remote_handler=dbgp
xdebug.remote_mode=req
xdebug.remote_host=127.0.0.1
xdebug.remote_port=9000
xdebug.remote_autostart=0
xdebug.remote_connect_back=0
xdebug.max_nesting_level = 5000

[2016-01-16 14:38] crynobone commented on #394
If 5000 is your max, the error should say 5000 and not 100

[2016-01-16 14:39] jadjoubran commented on #394
You're probably reading the wrong config file
Make sure you're reading the CLI's config if you're running from the CLI

[2016-01-16 18:07] ilvalerione opened #395 "Change User class implementation"
I set user config variable with my User implementation class called "Business"

'user' => 'App\Business'

but when i call api i receive

Class '\App\User' not found

Can i change "User" class with my "Business" class?

[2016-01-16 18:23] GrahamCampbell commented on #395
You forgot to run `php artisan config:cache`.

[2016-01-16 18:26] ilvalerione commented on #395
Hello Graham, thanks for reply

i just run this artisan command, and there is a new exception

Call to undefined method Closure::__set_state() in C:\xampp\htdocs\laravel\api\bootstrap\cache\config.php

[2016-01-17 00:12] crynobone commented on #395
Are you using 0.5 or 0.6?

[2016-01-17 00:15] ilvalerione commented on #395
0.5.*

[2016-01-17 08:17] sagarjethi commented on #394
@crynobone I have change that  after getting error.

[2016-01-17 13:10] Vishal0203 opened #396 "Token Invalid error on multiple and frequent requests"
Hi,

I am  using jwt-auth library with laravel and angular. I've written my API's to refresh token on every request. However my calls are working perfect only for certain times after which the API throws invalid token.

Please take a look at my question on stackoverflow. I'm sure I'm sending the refreshed token for each request I make. Please take a look at this

http://stackoverflow.com/questions

[2016-01-17 21:13] lukeed commented on #384
so is Lumen 5.2 officially supported now?

[2016-01-18 00:01] ilvalerione commented on #395
In wiki installation page end on compatibility table i see only 0.5.* version. Is there 0.6.* ready to use with some bug fix?

[2016-01-18 00:11] crynobone commented on #395
You can't use `php artisan config:cache` with 0.5.x as the config includes closures. So  your issue is not related with @GrahamCampbell response.

[2016-01-18 00:14] naerymdan commented on #384
I've been trying to setup your latest code on latest Lumen 5.2.3, but the function extendAuthGuard in LumenServiceProvider,php creates an infinite loop trying to satisfy the $app['tymon.jwt.auth'] dependency for JwtGuard.

All of it seems to come from AuthServiceProvider wanting to instantiate the guard to finish building the auth provider, specifically in function registerAuthenticator.

Any idea

[2016-01-18 00:29] ilvalerione commented on #395
thanks a lot @crynobone ! I deleted config cache and all works fine.

When i introducing jwt middleware (jwt.auth, jwt.refresh) i receive this exception

Class '\App\User' not found

The class that represent user of my application is called "Business", not User.

Is there a method to register my implementation or it's mandatory to use User for eloquent model?

[2016-01-18 01:06] ilvalerione commented on #395
Ok, i change my eloquent model name in "User" instead of "Business" and i resolved prev exception.

Now the routes after jwt middleware return everytime "user_not_found".

1) Primary key of User object is "id" how to standard config of jwt.

2) I tried to send token via HTTP Header and into GET request

[2016-01-18 06:02] aejnsn commented on #392
I don't know if I expressed my idea as much as I griped about the gist with bad code in my last post. Auth is just one of Laravel's facades, and I am not proposing the wholesale removal of the reliance on an external authentication facility. I am proposing only the removal of the reliance upon the authentication facility (Guard/Senintel) to store the current user within its state/life cycle upon a

[2016-01-18 09:23] #395 closed

[2016-01-18 09:24] ilvalerione opened #397 "everytime user_not_found"
The routes after jwt middleware return everytime "user_not_found".

1) Primary key of my User object is "id" how to standard jwt configiguration.

2) I tried to send token via HTTP Header and into GET request but i get always the same response => "user_not_found"

3) When user logged-in I create a token with "fromUser" method

[2016-01-18 14:51] Skyback commented on #365
Ok, I really just wanted an opinion! ;) Thank you very much for your help!

[2016-01-18 14:51] #365 closed

[2016-01-18 17:40] tdhsmith commented on #365
Then my opinion is don't bother, haha. :wink:

[2016-01-18 21:21] mcblum commented on #81
@fillit What is this?

RewriteCond %{REQUEST_URI} !^public
RewriteRule ^(.*)$ public/$1 [L]

[2016-01-18 21:22] mcblum commented on #81
@Hammad51 How are you instantiating that Auth object? If you to Log::info(Auth::user()) what do you get?

[2016-01-18 22:50] andrewmclagan opened #399 "error when caching config [5.2]"
When running `php artisan config:cache` any subsequent operation throws an error `Fatal error: Call to undefined method Closure::__set_state()` within the cached config file at `bootstrap/cache/config.php`.

This occurs because in the published `tymondesigns/jwt-auth` config file a closure is assigned to a config variable. e.g.

[code]

This can be fixed by simply returning a class constant:

`'au

[2016-01-18 22:51] crynobone commented on #399
Most of this changes are available under `0.6` (alias of `develop` branch).

[2016-01-18 22:55] andrewmclagan commented on #399
hmm seems after more investigation this is already being addressed in develop branch...?

[2016-01-18 22:55] andrewmclagan commented on #399
haha beat me to that comment..!

[2016-01-18 22:56] #399 closed

[2016-01-19 05:45] fillit commented on #81
@mcblum the api is a subdomain i.e. api.subdomain.com.  This code:
RewriteCond %{REQUEST_URI} !^public
RewriteRule ^(.*)$ public/$1 [L]

is to be able to access the subdomain.

Do you know of an alternate method for this?

[2016-01-19 07:01] Hammad51 commented on #81
@mcblum i get authenticated user by Auth::user(); then i generate my token by following the docs https://github.com/tymondesigns/jwt-auth/wiki/Creating-Tokens#creating-a-token-based-on-a-user-object

$user = Auth::user();
return $token = JWTAuth::fromUser($user);

i'm using lumen 5.2

[2016-01-19 10:59] #397 closed

[2016-01-19 15:58] jfoliveira commented on #376
Hi @tdhsmith
I have this in my `config/auth.php`:
[code]

And this is the error message I have when accessing an endpoint that requires authorization:
[code]

Am I missing something in my `config/auth.php` file?

[2016-01-19 17:01] naerymdan commented on #376
I added this so it knows that we the default guard is the api guard defined:

[code]

But then in my case it fails at trying to instantiate AwtGuard from within JwtAuth, which causes a circular call, eventually crashing.

[2016-01-19 17:05] jfoliveira commented on #376
@naerymdan thanks!
After adding the defaults I'm now facing the same issue as you: the circular reference is crashing my local Nginx. :-(

[2016-01-19 17:08] naerymdan commented on #376
@jfoliveira yeah I've been trying to migrate a laravel+angular tutorial to Lumen, but a lot of dependencies have only partial support for Lumen, especially without Facades (why would anyone re-enable Facade, or worse, Eloquent on Lumen? Kinda defeats the purpose of using it in the first place).

https://github.com/naerymdan/lumen5-angular-material-starter <- if you are curious

[2016-01-19 21:43] jfoliveira commented on #376
@irazasyed @tymondesigns any idea on why/where is the circular reference happening leading the application to crash?
I tried debugging the package for a few hours but it's still not clear to me what's the root cause of the issue.

[2016-01-19 22:17] tymondesigns commented on #376
@jfoliveira I've just pushed an update which might solve the issue you mention. I wasn't happy with the implementation so far, so hopefully this will kill 2 birds with 1 stone. Let me know if the issue persists

[2016-01-20 01:00] naerymdan commented on #376
@tymondesigns The newest code did resolve the circular reference on boot, but I'm getting it again when I try to use the JWTAuth instance in my controller:

[code]

Mostly, it seems to circle around in the protected function extendAuthGuard() in LumenServiceProvider.php, when it tries to create the JwtGuard

[2016-01-20 01:19] naerymdan commented on #376
@tymondesigns I was able to move forward by registering the JWT base class itself to use in the JwtGuard instantiation.

[code]

[2016-01-20 01:31] jfoliveira commented on #376
@tymondesigns thanks for pushing this new update!

I've just updated and I am seeing this Fatal Error:
[code]

Changing `Manager.php` on line 17:
[code]

Leads to:
[code]

[2016-01-20 09:15] tymondesigns commented on #376
@naerymdan @jfoliveira If you are using the Auth Guard feature in 5.2 then you don't need to use the `JWTAuth` facade at all. It's one or the other basically.

So just use the methods defined on the [Guard instance](https://github.com/tymondesigns/jwt-auth/blob/develop/src/JWTGuard.php) and you should be golden. e.g.

[code]

[2016-01-20 10:10] jfoliveira commented on #376
@tymondesigns thanks for commenting. I must be doing something really stupid then, as no matter what I do I'm getting PHP error:
[code]

The route I'm using for testing is exactly that, with hardcoded credentials:

[code]

In the routes file I'm just using `use Illuminate\Http\Request`. Should I reference `JWTAuth as Auth`?

My `config/auth.php` file:

[code]

My `bootstrap/app.php` file:
[code]

[2016-01-20 18:42] tymondesigns commented on #376
Whoops my bad. I forgot to update the service provider (it was late :smile:)

try running a `composer update`

also see #394 #368 #277

[2016-01-20 19:21] jake142 commented on #376
I'm getting 'Undefined index: provider' in LumenServiceProvider.

[2016-01-20 19:26] naerymdan commented on #376
It works for me, but requires me to enable both Eloquent and Facades.

Without Facades I can't use the Auth::function() and simply injecting JWTGuard in my constructor fails  at building it.

Without Eloquent (using 'database' driver), it fails because GenericUser does not implement JWTSubject.

Is there any way to make this work without either Facades and Eloquent?

[2016-01-20 19:41] jake142 commented on #376
Ah, thanks. I just noticed that. Now I get:
Argument 1 passed to Tymon\\JWTAuth\\JWT::fromUser() must be an instance of Tymon\\JWTAuth\\Contracts\\JWTSubject instance of App\\Models\\User given.

I use both facedes and eloquent. What am I doing wrong?

[2016-01-20 19:42] naerymdan commented on #376
I personally added the interface and function to my User class, but there might be a better way:

[code]

[2016-01-20 19:49] jake142 commented on #376
Thank you, got it working now

[2016-01-20 19:54] jfoliveira commented on #376
@tymondesigns working like a charm!
Thanks for your high quality support!

[2016-01-20 20:28] naerymdan opened #400 "JWTSubject interface does not work with DatabaseUserProvider"
If I am not using Eloquent, the DatabaseUserProvider return me a GenericUser which only implements "Illuminate\Contracts\Auth\Authenticatable".

This already contains a function for getting a uniqueId "getAuthIdentifier()".

Can we relax the need to implement JWTSubject by leveraging the pre-existing "getAuthIdentifier()" and assuming an empty array of custom claims?

[2016-01-20 20:52] jake142 commented on #376
I use the middleware:

    'jwt.auth' => Tymon\JWTAuth\Middleware\Authenticate::class

If I change the user id in my database (seed a new database) and try to submit a valid token it passes through the middleware. It seems as if $this->auth->parseToken()->authenticate() returns false so that the unauthorized exception is never thrown:

    try {
        $this->auth->parseToken()->authenticate();

[2016-01-21 02:20] jfoliveira commented on #275
I'm new to JWT and as @jepezi I was also under the impression that querying the DB on every request could be avoided.

Quoting http://jwt.io/introduction/:

I see the value of checking the id on DB, to make sure the token and database are in sync, but ...

1. Isn't the `exp` claim supposed to be set to the shortest amount of time that an `out of sync` situation would be allowed?
2. As any attribut

[2016-01-21 06:40] jake142 commented on #376
I ran into 2 more problems.

When I do Auth::getPayload() I get 'A token is required' (JWTAuth::getPayload() works).

If I change the user ID after I issued the token (for example do a DB seed) the middleware Tymon\JWTAuth\Middleware\Authenticate and Tymon\JWTAuth\Middleware\Check doesn't throw an UnauthorizedHttpException but instead the $this->auth->parseToken()->authenticate() returns false

[2016-01-21 17:11] tymondesigns commented on #376
@jake142 56f98aae78336e63bad3f2fa80279726a732f983b should have fixed that

[2016-01-21 17:18] jfoliveira commented on #376
@tymondesigns I've just updated and `Auth::getPayload()` is now working. Thank you very much!

Another issue that might be related: calling `Auth::tokenById` as in:
[code]

Returns HTTP 400:
[code]

Is a token needed to retrieve the token based on existing userId?
I also tried `Auth::fromUser` but it doesn't seem to be available on Lumen's `Auth` façade, so I guessed `tokenById` was the way to go.

[2016-01-21 20:44] jfoliveira opened #401 "0.6-alpha pre-release?"
Any plans on releasing something like `0.6-alpha-unstable-use-at-your-own-risk-dont-blame-us` pre-release?

One could certainly use `dev-master`, but if the application is being automatically deployed (e.g. using Envoyer.io) every deploy could download new commits that haven't been tested in dev time.

An alpha release - even an unstable one - at least is bound to a specific commit so one knows wh

[2016-01-21 22:19] Murwa commented on #401
:+1:

[2016-01-21 22:29] tymondesigns commented on #401
Yea its a fair point. I'll get an alpha release out soon

[2016-01-21 22:31] tymondesigns commented on #401
I'm actually considering going all in and kicking it off with `1.0.0-alpha`

[2016-01-21 22:32] jadjoubran commented on #401
:fireworks:

[2016-01-21 22:34] crynobone commented on #401
Why would each deployment use a new commit, deployment should run `composer install` and not `composer update`, and it would be based on your `composer.lock` file.

[2016-01-21 23:28] jfoliveira commented on #401
@crynobone you're right! If `composer.lock` is added to version control that is true.

[2016-01-21 23:57] jfoliveira commented on #400
@naerymdan :+1: +1

[2016-01-22 08:38] MallardDuck commented on #401
@tymondesigns

Nice.

Awesome! I love using this library with laravel5, I noticed on GH recently there were options for blacklist grace periods and attempted to start using them with what I had gotten from composer. I quickly realized I wasn't on the right code base.

Long story short, I just started toying with the newer code-base, after a bit I was pretty happy but wondering when an official rel

[2016-01-22 16:36] kontrollanten opened #402 "Laravel PHPUnit Error Event Dispatacher"
When I use expectsEvents function i Laravel PHPUnit the jwt auth middleware throws an error.

This is the test:

[code]
 And this is the response:

[code]

This issue seems like a similar https://github.com/cartalyst/sentinel/issues/166 which they solved in this commit https://github.com/cartalyst/sentinel/commit/3f2e7e89c5f85bd755b38875f6810bcfb0bf015c

[2016-01-22 17:58] hamalatifa opened #403 "Class Tymon\JWTAuth\src\Middleware\GetUserFromToken does not exist"
hi,
i m developping an project with laravel5,  and i try to include JWTAuth in this project

i follow this tuto http://laravelista.com/json-web-token-authentication-for-lumen/ who is in laravel 4
and i'm trying to change their instructions  to laravel 5, I arrived to generate a secret key
but i am blocked in step : Authentication,
 after i change middleware in route:
$router->group(['prefix' => 'a

[2016-01-22 18:28] bayssmekanique commented on #28
Thank you @denaje for the code.  That helped a ton.  Here is a slightly revised version that functions more like the parent `call` method.

Extend the TestCase class with:
[code]

Then use in tests like any other method:
[code]

[2016-01-22 20:26] tdhsmith commented on #400
Could you temporarily get around this by subclassing?  Untested, but something like...

[code]
[code]
Then you can use `Auth::extend` with Laravel or `Auth::setProvider` with  JWTGuard...

[2016-01-22 21:14] tdhsmith commented on #376
@naerymdan What's failing in the constructor? Could you just use `app('auth')` or am I misunderstanding Lumen?

[2016-01-22 21:27] tdhsmith commented on #402
Ahh yes it looks like `expectsEvents` [mocks the contract](Illuminate\Contracts\Events\Dispatcher) and we're [requiring the implementer](https://github.com/tymondesigns/jwt-auth/blob/master/src/Middleware/BaseMiddleware.php#L33). I'll double-check if there's any important discrepancies or side effects between the two later today and see if I can get a simpler test case going.

[2016-01-22 21:27] naerymdan commented on #376
@tdhsmith Nope, you got it right, I was originally trying to inject JWTGuard directly in my constructor, which failed, but I succeeded in doing the following:

[code]

And now i simply tried app('auth')... and it works -_-' I feel kinda... yeah.

[2016-01-22 21:28] naerymdan commented on #384
Nevermind, seems like the latest modifications have fixed the guard provider and the JWTGuard can be accessed with app('auth').

[2016-01-22 21:39] lukeed commented on #401
:+1:

Including a simple installation guide would be perfect too, since the entire authentication system setup changed in laravel/lumen

[2016-01-22 21:44] tdhsmith commented on #376
Haha no problem! I'm still not completely comfortable with the service container, so I frequently make silly mistakes with facades and singletons and injection and... :disappointed_relieved:

[2016-01-22 23:34] tdhsmith commented on #403
Did you follow [the instructions here on the wiki](https://github.com/tymondesigns/jwt-auth/wiki/Authentication#laravel-5-1)? You likely have an issue with your kernel where you configure the middleware names.

Class Tymon\JWTAuth\src\Middleware\GetUserFromToken does not exist

There probably shouldn't be a `\src\` in there. That's part of the file structure, but it isn't reflected in the namespac

[2016-01-23 00:33] kontrollanten commented on #402
I couldn't contribute to the repo so I've attached a diff that uses the contracts instead. It solves my problem and it works with the phpunit tests :-)

[#402.diff](https://github.com/tymondesigns/jwt-auth/files/101628/402.txt)

[2016-01-23 04:26] isometriq commented on #81
Nice fix, saved me too!
BTW it appears that this fix is not needed with "artisan serve", likely related to an earlier apache version.

[2016-01-23 04:31] isometriq commented on #81
@fillit change this:
RewriteCond %{HTTP:Authorization} ^(.)
RewriteRule . - [e=HTTP_AUTHORIZATION:%1]

for this:
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

(asterisks "*" are missing, regex stuff)

[2016-01-23 04:35] isometriq commented on #81
Seems to be a config thing
https://httpd.apache.org/docs/2.4/en/mod/core.html#cgipassauth

[2016-01-23 04:52] pavankumarkatakam opened #404 "Seperate cache driver for token blacklist"
I have many users so blacklisted token number is huge so i want to store this tokens in seperate redis instance rather than the default instance,It is very usefull to make configuration for changing the cache driver instance from the jwt.php config file other wise fallback to default cache driver set at cache.php config file.

[2016-01-23 05:32] tdhsmith commented on #81
@Hammad51 - The stable releases of jwt-auth don't yet support Lumen 5.2. It first started getting fixed on the dev branch a couple days ago. You can see #384 & #376 for details.

@isometriq - I think the asterisks were in @fillit's original code, but they got removed by GitHub's markdown parsing. (Yours are missing too and both of you have italics in your messages.) You can escape them with backsl

[2016-01-23 06:38] isometriq commented on #81
@tdhsmith oops, you're damn right

[2016-01-23 08:27] MallardDuck commented on #401
:+1:  I'll thumbs up that for sure too. After further testing I am still not quite sure what else needs tweaking in the code or configs to play nice with the new version. Even very simple docs showing the changes from previous docs would be awesome.

[2016-01-24 05:38] irazasyed commented on #384
@tymondesigns I was away for sometime. Just saw, Everything seems to be good :+1:

I'm closing this ticket now. Since all the issues mentioned seem to have been resolved in last few commits.

[2016-01-24 05:38] #384 closed

[2016-01-24 09:55] fillit commented on #81
@tdhsmith I found my issue - I wasn't updating the /public/.htacess file as well (what an idiot!!!)

Thanks!

[2016-01-25 10:23] hamalatifa commented on #403
for \src\ i detecte that and i change it but still some place where i forget it,
 thantks @tdhsmith now i have an other problem
{"error":"token_not_provided"}

[2016-01-25 15:13] hamalatifa commented on #403
where can i set Authorization: Bearer {yourtokenhere} !!!

[2016-01-25 15:19] tucq88 commented on #83
@csprocket777  I got similar problem with you, only difference is i'm using AngularJS. Does anyone know a properly way to solve this problem ?

[2016-01-25 18:02] SuperlativeEntity commented on #83
I used the following when messing around with angularjs.

[code]

[2016-01-25 20:46] tdhsmith commented on #403
You must set it in the client. JSON Web Tokens are for exchanging information between a client app and server app.

How you set it will depend on what you are using for your client. For example, many people are using AngularJS, where you can create an http interceptor that attaches the header to requests (many people use the Satellizer library which does most of this for you). In plain JS you can

[2016-01-25 21:42] tdhsmith commented on #404
Hrm interesting question; I'm not sold yet on the added complexity. The library already has a few custom providers and they seem to confuse people as much as benefit them. :laughing: Why do you have so many blacklisted tokens?

Potential temporary solution: You could make your own 'intermediary' cache driver that returns your special redis instance when trying to access the `jwt` tag and the stand

[2016-01-25 21:55] tdhsmith commented on #394
In general these maximum nesting issues have little to do with jwt-auth. Laravel's container takes around 50-60 method levels alone. Add some routing/controller logic and maybe some middleware or package use, and it's pretty easy to hit 100. It just happens that this limit might get hit during one of jwt-auth's method calls.

Ultimately, when using XDebug with Laravel, you should increase that nes

[2016-01-25 21:59] tdhsmith commented on #378
@Brave-Cheng Sorry for missing this issue. Are you saying 3 minutes after a refresh, or 3 minutes from the initial token creation? I made a diagram [here](https://github.com/tymondesigns/jwt-auth/issues/201#issuecomment-131978407) about how refreshes are supposed to work in relation to `ttl` and `refresh_ttl`.

[2016-01-25 22:33] tdhsmith commented on #404
Okay I was confusing myself! :dizzy_face:

jwt-auth already provides this as an option in the configs. You simply have to create your own class implementing `Tymon\JWTAuth\Contracts\Providers\Storage`, and then set it in `jwt.providers.storage`.

Look at the default `Tymon\JWTAuth\Providers\Storage\Illuminate` class and then just modify it so that it only uses your special Redis instance.

[2016-01-26 04:20] tucq88 commented on #83
@SuperlativeEntity that means you don't use jwt.auth when processing refresh token ? In that way it would prevent token blacklisted, doesn't it ?

[2016-01-26 08:51] hamalatifa commented on #403
thanks a lot @tdhsmith for your responses, as client i use blades templates( blade.html )

[2016-01-26 10:56] pavankumarkatakam commented on #404
Well it's  valid point but if you just make use of config for getting the disk and use of it. rather than writing the whole class again and again just give a option for users to have a storage disk. the code alrewady you has minial amount of change thats it. anayway it your call.

[2016-01-26 11:39] SuperlativeEntity commented on #83
Like I said, I have just been messing around with it. I set the refresh ttl to a minute then made multiple calls. If the token expired, I would renew it and continue making the calls. If I made no calls within the minute, the token would expire and be blacklisted.

[2016-01-26 15:41] mcblum commented on #83
I'm pretty sure the problem is just related to the refresh middleware blacklisting the old token immediately. If it's possible to add something to the refresh middleware to allow old tokens to be used for 60 seconds, that would most likely eliminate all issues that people are having with their JS apps. It breaks because the new token isn't sent back to the client before a new request comes in, so

[2016-01-26 15:43] BenjaminOwlient opened #419 "Unlimited refreshes during refresh_ttl ?"
Hi,
I'm beginning with jwt and I wonder if this behaviour is normal :

When your token is expired (> ttl) but still in refresh window (< refresh_ttl) you are able to refresh it as many times as you want. Nothing blocks you, as only unexpired tokens are put in blacklist when refreshing.

Shouldn't you be able to refresh it only once ?

[2016-01-26 16:10] sefsinalas opened #420 "passwords stored in md5"
Hi. I have an old system (in another framework, not laravel) that store the passwords using MD5('the_pass'). And i want to use jwt-auth to login the users. It this possible? I tried changing

[code]

But doesnt seem to work

[2016-01-26 17:59] tdhsmith commented on #403
`header(...)` is going to set the HTTP header going from server to client (the **response**). You need to set the header going from the client to server (the **request**). Though I'm not sure if Laravel even provides a way to do that... Blade generates your views, but it isn't really a "client". Your *client* would be the HTML that Blade generates (in this case an empty document).

Also to be clea

[2016-01-26 18:27] tdhsmith commented on #83
@tucq88 No you don't want to apply `jwt.auth` on a route that refreshes the token because it will catch expired tokens and stop execution before the refresh can take place. This would totally wreck a "refresh-as-needed" flow, because the client would only try to refresh when it received an expired token and then it *couldn't* refresh it anymore. It would greatly hinder other flows as well, since a

[2016-01-26 18:29] tdhsmith commented on #83
Tangent: I am realizing there is a bug in the cache lifetime code that got fixed on develop and not on master. It would cause some blacklisted tokens to become refreshable again (which I know I've seen an issue about around here somewhere...). PR incoming later today.

[2016-01-26 18:33] mcblum commented on #83
@tdhsmith How would someone use the refresh thing, then? If you can't refresh an expired token, which makes sense, how would the client know when to do it? Also, couldn't that also cause errors because if it happened to do a refresh at the same time as the user made another request, there could still be an sync issue.

I think grace periods is exactly what I'm looking for. Going to check out the d

[2016-01-26 19:02] tdhsmith commented on #420
`algo` sets the algorithm for hashing the _tokens_. You're probably gonna want to leave that as the default. The password hashing is all handled by Laravel, and not this library.

You're gonna need to change the hasher used by Auth, or more specifically its user provider. There _should_ be a guide out there somewhere on this, though I'll bet you'll run into a lot of people saying "don't use MD5".

[2016-01-26 19:05] tdhsmith commented on #420
Might involve implementing and binding your own version of `Illuminate\Contracts\Hashing\Hasher`, but maybe there are some shortcuts.

Reimplementing the user provider seems harder, though you could probably get by subclassing your existing one and then using the built-in `Auth::extend($providerFactoryCallback)`.

Just mumbling to myself really... I've never done this, so it's best to find someone

[2016-01-26 19:17] tdhsmith commented on #419
Are you on master? I just uncovered an issue like this in #83. Hope to have a PR for it today.

[2016-01-26 19:18] tdhsmith commented on #404
Well it's up to tymon really. I understand it's annoying to have to create a whole class to change a line or two, but providing that option is the most flexible way to support the different cases that come up without having to include a vast array of configuration options.

Plus I'm not certain it's as easy as you say, because you're coming from the perspective of already having a specific cache d

[2016-01-26 19:29] tdhsmith commented on #83
No I'm saying you _should_ be able to refresh an expired token. Using `jwt.auth` on a refresh route interferes with that, because of the timings of befores & afters. Here's a diagram I made previously:

![image](https://cloud.githubusercontent.com/assets/1791252/9459832/860d7370-4ac5-11e5-9b01-d4f78751209f.png)

I'm not entirely sure what kind of sync issues you're describing. In normal use, the w

[2016-01-26 20:01] mcblum commented on #83
@tdhsmith Got it, thank you for such a thorough explanation. A Google search didn't turn up any alternatives to the current refresh middleware for a single-use-token flow, which is ideally what we'd want to go to. Really, in this case maybe a custom middleware would be the right choice, I just have no idea how to tell the package to refresh the token while still allowing access to the old token fo

[2016-01-26 20:21] sefsinalas commented on #420
The team decided to stop using md5 and reset all the passwords.

[2016-01-26 20:21] #420 closed

[2016-01-26 20:35] tdhsmith commented on #420
:tada:

[2016-01-26 20:55] tdhsmith commented on #83
I've been holding back on submitting one until I can provide docs on different flows (because this has been a sticking point for people). But maybe I should just submit it anyway.

If you can't wait until 0.6 stabilizes, you could have a middleware that runs a check of the current token, and if it passes, issues a new token generated immediately using the old `sub` claim and spawns a delayed queue

[2016-01-26 21:10] mcblum commented on #83
I think that would be tremendously helpful. I assume I'm not the only person who wants to use a token once but still accept the old one for a minute or so. Also you seem to know exactly what you're doing which is rare.

I can wait. I'll just set the token expiration for a week or something and remove the refresh middleware from the routes for the time being. I know how much work goes into somethin

[2016-01-26 22:07] cviebrock commented on #401
:+1: here too!

[2016-01-27 00:12] cviebrock opened #422 "Issue with "jwt.check" middleware and/or Auth::guest()?"
[This is using the `0.6@dev` version.]

I'm looking for a way in my routes to let both authenticated users and guests in, but to be able to handle authenticated users slightly differently.  As a simple example:

[code]

If I try that (with or without the middleware), I get:

[code]

Am I doing this wrong? Or is there not a way to gracefully check for an optional user (without wrapping all my code

[2016-01-27 05:19] pavankumarkatakam commented on #404
@tdhsmith , Sorry I though you are the owner, okay its up to @tymondesigns .

Its very simple just keep the driver option in the config and in the Illuminate/Storage constructor check the config storage disk option and change the code to

    $this->cache=$cache->disk('configuationnoption');

Any way i will submit PR if possible.

[2016-01-27 13:33] hamalatifa commented on #403
thanks @tdhsmith ,  i know that i must replace {mytoken} by my token,
for the raison why i use jwt my application will comunicate with mobile apps

[2016-01-27 14:21] hamalatifa commented on #403
now i have this problem
TokenInvalidException in NamshiAdapter.php line 58: Could not decode token: The token "expzsveQMSNvz.UXpHcWH2gv9.vydRGpMXd6a" is an invalid JWS

[2016-01-27 14:45] BenjaminOwlient commented on #419
I'm not totally sure we are talking about the same issue.
My concerns are those lines in Blacklist.php :
[code]
It means an expired token (isPast = true) stil under refresh_ttl can be used again and again for refreshing, because it is never put in blacklist. Which is very strange, because it means refreshing with an expired token is more permissive than with a valid one, as a valid one (isPast = f

[2016-01-27 16:52] pdiveris opened #435 "Problem with multiple database connections"
Hi

It appears that jwt-auth will attempt to use the default database connection, rather than the one specified in the model with

```protected $connection = 'myconnection';```

which means that I am getting a 'Base table or view not found' not found. If I set the default connection to the DB with the users then all works brilliantly.

[2016-01-27 17:56] pdiveris commented on #435
Apologies for wasting your time - the issue arose from making use of the wrong model (App\User) as defined in config/auth.php - I thought that the model defined in config/jwt.php was used instead. Setting the connection in App\User works!

[code]

[2016-01-27 17:56] #435 closed

[2016-01-27 20:40] tdhsmith commented on #83
True, but I suspect banks will also still have a maximum time period you could do this in (i.e. you have to login after a week even if you've been making requests every minute). I'll open up an issue in the next week for discussing the split idea I proposed to support this though.

Sorry, what I was talking about then was disabling the expired-but-refreshable period. To get around the sync issues

[2016-01-27 20:54] tdhsmith commented on #419
That was what I was talking about (also the way the cache lifetime is set is an issue, depending on how often your cache gets cleaned). It had been fixed on develop but never brought back to master. I just submitted a PR to address it.

[2016-01-27 20:55] tdhsmith commented on #422
No, the `JWTGuard` code is very very new, and it's likely no one has tested the `Auth::guest` function yet. Are you on Lumen?

[2016-01-27 21:11] tdhsmith commented on #404
Yes but this isn't a method on `Illuminate\Contracts\Cache\Repository` (or `...\Store` ) so there's no guarantee that a particular implementation will support it.

In fact I'm having a hard time finding any cache types with that method... this works for redis?

[2016-01-27 22:57] cviebrock commented on #422
No, I'm on Laravel 5.2.

[2016-01-28 02:30] pavankumarkatakam commented on #404
Of course, if config option is null then we can fallback to default in this case its not a breaking
 change or big change every on can continue.

[2016-01-28 04:30] mikebronner commented on #375
@syropian Would you be willing to share your `/bootstrap/app.php` file? I am banging my head against the desk all day long trying to get this to work. I have uncommented the AuthServiceProvider you mentioned (and commented out the JTWAuthServiceProvider), but whenever I try Auth::attempt() I get the same 502 Gateway with the same entry in the nginx error logs.

[2016-01-28 04:45] mikebronner commented on #401
I could definitely use a guide for getting jwt-auth set up and running in Lumen 5.2. I tried following the comments in issue #376, but they are all over the place, and its not clear which steps are valid and which are not.

It seems everythime I try to use Auth::attempt() I get a 502 Gateway error as described in issue #375.

[2016-01-28 07:14] jake142 commented on #376
I'm not sure if this is an error or if Im doing something wrong. If I do the following:
1. Login my user and receive a token
2. Change the user id of that user (db seed for example)
3. Try to access a resource with the middleware Tymon\JWTAuth\Middleware\Authenticate::class

The filter doesn't throw an error (it passes through the middleware). I guess this is since the token is valid. If I remembe

[2016-01-28 11:30] jfoliveira opened #451 "Non expiring token as API Key - how manage multiple guard settings?"
I'm using latest `0.6.*@dev` with `Lumen 5.2` and I trying to figure out how could I support two token types on my API:

1) User token: that will be retrieved every time an user "logs into the API" and will be blacklisted when the users logs out.

2) API Key: that should be issued once and given to a third party. This one should never expire as a regular API Key.

**Question:**
If I remove `exp` c

[2016-01-28 14:09] BenjaminOwlient commented on #419
Awesome, thank you !

[2016-01-28 15:23] nathenapse commented on #395
@ilvalerione is it mandatory to use User?? what was the solution?

[2016-01-28 15:57] ilvalerione commented on #395
The error was caused by the presence of both middleware. To perform authentication you must use "jwt.auth", to perform refresh you must use "jwt-refresh" separately.

In any case it's mandatory to call your user class "User". Into eloquent model you can setting table_name corresponding.

[2016-01-28 19:37] sotnaspina opened #455 "It can use JWTAuth and MultiAuth together?"
MultiAuth: for admin users and JWTAuth: form website users.

I use Laravel 5.2 and am using MultiAuth (Kbwebs\MultiAuth\MultiManager), how will I login via Web Service I installed JWTAuth and gave this error:

"Argument 1 passed to Tymon\JWTAuth\Providers\Auth\IlluminateAuthAdapter::__construct() must be an instance of Illuminate\Auth\AuthManager, instance of Kbwebs\MultiAuth\MultiManager given"

[2016-01-28 21:31] juniormc opened #457 "Exception TokenBlacklistedException not working"
I am using Laravel 5.1 and I a'm trying to use Exception: TokenBlacklistedException and TokenExpiredException but it does not work. Rest Using Advanced Client for Chrome,
returns the following error.
 ![screen shot 2016-01-28 at 3 28 36 pm](https://cloud.githubusercontent.com/assets/14990543/12659393/2826a828-c5d4-11e5-8b59-f48b5c97dd49.png)
does not return the message in the catch.

try {

[2016-01-28 21:40] tdhsmith commented on #457
Are you in a namespace? You'll either need leading slashes on the exceptions to escape them to the global namespace, or else `use` them so they're available in the file.

[2016-01-28 21:45] juniormc commented on #457
Yes, I am using:

use JWTAuth;
use Tymon\JWTAuth\Exceptions\JWTException;
use Tymon\JWTAuth\Exceptions\TokenExpiredException;
use Tymon\JWTAuth\Exceptions\TokenInvalidException;
use Tymon\JWTAuth\Exceptions\TokenBlacklistedException;

I'm not sure if I will need something to set

[2016-01-28 21:53] tdhsmith commented on #403
Well according to http://jwt.io, that _isn't _a valid token. (Even without the validator, it looks too short to have any of the expected content.)

How did you generate it?

[2016-01-28 21:58] tdhsmith commented on #422
Then I'd recommend using the default `session` guard for now. If you're behind `jwt.check`, then `Auth::guest` should work as expected.

The `jwt` guard should eventually stabilize (for both Laravel and Lumen), but right now it's an incomplete driver for people on Lumen who would otherwise be totally unsupported...

[2016-01-28 22:12] tdhsmith commented on #455
This package is set up to allow you to swap in other auth libraries, but you will have to write your own custom provider class to connect JWTAuth to your auth service.  This class must implement `Tymon\JWTAuth\Contracts\Providers\Auth`. Once you've done that, you just need to set its class name in the config value `jwt.providers.auth`.

You can look at [an existing implementation](https://github.c

[2016-01-28 22:14] juniormc commented on #457
Thanks for you comment.

I am use:

use Tymon\JWTAuth\Exceptions\JWTException;
use Tymon\JWTAuth\Exceptions\TokenExpiredException;
use Tymon\JWTAuth\Exceptions\TokenInvalidException;
use Tymon\JWTAuth\Exceptions\TokenBlacklistedException;

and:

try {

            if (! $user = JWTAuth::parseToken()->authenticate()) {
                return response()->json(['user_not_found'], 404);
            }

[2016-01-28 22:17] tdhsmith commented on #457
Yep sorry I wasn't clear. That's what I meant by the second option. :wink: Glad it worked out!

[2016-01-28 22:34] tdhsmith commented on #451
I'm not sure what happens when multiple guards are supported by the same driver... do they reference different instances, or is it the same singleton? Maybe someone better at container majjycks can come up with a trick there.

However you should still be able to do this by accessing the payload factory. It's not as clean, but something like `JWTAuth::factory()->setDefaultClaims(['iss', 'iat', 'nbf

[2016-01-29 11:05] jfoliveira commented on #451
@tdhsmith Thanks a lot for pointing me in the right direction!

I tried
[code]
but it throws

[code]
because `exp` is defined in `config/jwt` `required_claims`.

The only way that removed the `exp` claim from the token was:
[code]

Now that I have a token that does not expire I now have to find a way to workaround #275 (Avoid query DB).

My token has a subject id related to the API consumer, which

[2016-01-29 11:13] jfoliveira commented on #451
Please ignore my last comment about catching db exceptions, as the `catch` block is only catching `JWTException`.
It seems `authenticate()` is called as a shorthand as it will trigger `getPayload()`, `requireToken()`, etc.
Fine!

My challenge now is only try to avoid querying the DB when the token is an API key instead of user token.

[2016-01-29 11:23] f0und3r opened #461 "Laravel 5.2 supported?"
Hello guys, actually laravel 5.2 supported?

`PHP Fatal error:  Call to undefined method Closure::__set_state() in /bootstrap/cache/config.php on line 543`

[2016-01-29 16:22] jfoliveira commented on #461
Could you post more details of how your environment/app is set up and which code block trigger this exception?

I'm running `jwt-auth` with Lumen 5.2 and it works fine, so chances are that Laravel 5.2 should is also supported.

[2016-01-29 16:57] tdhsmith commented on #461
Yes there's an issue with the config files because they relied on closures at one point but then Laravel officially dropped support. (#147 and many others)

If you're on develop you'll just have to republish your vendor config for jwt-auth. If you're on master, just copy [the provider classnames from the develop branch's config](https://github.com/tymondesigns/jwt-auth/blob/develop/config/config.p

[2016-01-29 17:09] jaesung2061 opened #463 "Question: Is there a way to blacklist all previous tokens?"
How can I make it so all tokens made before a certain date/time are blacklisted?

[2016-01-29 18:39] tdhsmith commented on #451
If you're not gonna check the DB, are you just going to assume that any valid API token has permission?

Then you could just run a `$payload = JWTAuth::getPayload()`. That won't do any user checks on its own, but will throw an exception on invalid/expired tokens.

[2016-01-29 18:54] tdhsmith commented on #463
The server has no idea what tokens exist, so you can't blacklist any tokens you don't currently "have" in a given request.

- If this is a thing you think you will be doing _only in emergencies_, then just change the jwt secret key. This will effectively invalidate every token you issued with the old key, but it will also make them all unreadable and it's a rather extreme measure.

- If you think

[2016-01-29 20:16] jfoliveira commented on #451
Hey @tdhsmith
I might check the DB, I just think that - as mentioned in #275 (Avoid query DB) - perhaps this check should not be automatically performed by `jwt-auth`.

The way I see JWT flow is:
* The token is self-contained, so it can itself tell me who the subject is and which claims (including my custom ones) were added to the token, so:
* If i use on a route `['middleware' => 'jwt:auth']` I w

[2016-01-29 20:46] jfoliveira commented on #451
I've just created a new PR #464
Please review it.

[2016-01-29 20:46] jfoliveira commented on #275
I've just created a new PR #464
Please review it.

[2016-01-29 21:49] brianseitel commented on #401
+1 on Lumen 5.2 instructions. Also tried following the comments in #376, like @mikebronner.

[2016-01-29 21:57] lukeed commented on #376
+10 for all the requests coming from #401 for Lumen 5.2 instructions.

If nothing else, getting everyone "up & running" the same way will help ensure new issues coming in are actual issues & not installation errors.

[2016-01-29 22:36] GrahamCampbell opened #467 "Headers"
I propose that you update StyleCI's config from `This file is part of jwt-auth` to `This file is part of jwt-auth.`. i.e. including the needed fullstop.

[2016-01-29 22:37] cviebrock commented on #422
Well, to be fair, I seem to have gotten Laravel 5.2 working well with the JWTGuard (apart from my guest issues).  I'll try to look into what's going on and make a PR if I find anything.

[2016-01-29 22:54] tymondesigns commented on #467
:+1:

[2016-01-29 22:54] #467 closed

[2016-01-29 22:55] #457 closed

[2016-01-29 23:13] jaesung2061 commented on #463
Thank you, checking them out now.

[2016-01-30 03:21] XBTdev opened #472 "See issue with JWT auth and dingo"
See issue with JWT auth and dingo api

https://github.com/dingo/api/issues/833

[2016-01-30 19:41] zackify commented on #83
Why is this closed? This problem is not fixed. It may be with the stuff on dev, but since it is not on the stable branch, so if it could be reopened, that would be great. @tdhsmith seems to have the correct solution for this. Any timeline on when the grace period will be stable?

[2016-01-31 01:54] mcblum commented on #83
@zackify I think the original question was different from where we ended up. Sounds like a fix is coming soon for the issue. Just be patient!

[2016-01-31 01:56] zackify commented on #83
I'll check out develop and confirm that the grace period works, which I'm
sure it will. And hopefully there's a new release soon :)
On Sat, Jan 30, 2016 at 20:54 mcblum <notifications@github.com> wrote:

[2016-01-31 10:34] hetunandu commented on #290
I am getting this error too! Any solutions?

[2016-01-31 10:39] Destreyf commented on #290
The solution for my issue was to this to run composer dump-autoload, this fixes the dependency issues for me.

As for the error Ewan is getting, i have not run into this, if you're having this issue you should open a new issue (as this one was resolved/closed).

[2016-01-31 13:47] hetunandu commented on #290
I solved it buy deleting the JWT config file and publishing a new config file. The problem was that the class names had changed.

[2016-01-31 23:48] GrahamCampbell opened #475 "Invalid header"
You cannot use phpdoc tags in a non-phpdoc comment.

[2016-02-01 08:18] tymondesigns commented on #475
Apparently its allowed if the `@package` keyword is present (i'll need to add that)

See https://en.m.wikipedia.org/wiki/PHPDoc

Under heading "Page-level DocBlocks"

[2016-02-01 09:08] thabung commented on #81
@mcblum Here is my header at client side
`Accept:application/json, text/plain, */*
Accept-Encoding:gzip, deflate, sdch
Accept-Language:en-US,en;q=0.8
Authorization:Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOjE1LCJpc3MiOiJodHRwOlwvXC9zZXJ2ZWFzZW1lLmxvY2FsXC9pbmRleC5waHBcL2FwaVwvYXV0aGVudGljYXRlIiwiaWF0IjoxNDU0MzE1NDAyLCJleHAiOjE0NTQzMTkwMDIsIm5iZiI6MTQ1NDMxNTQwMiwianRpIjoiNTU2MzYzMmRjNjVk

[2016-02-01 15:02] hamalatifa commented on #403
i generate it with this instruction

$credentials = [
            'email' => $request->email,
            'password' => $request->password,
        ];
 $token = JWTAuth::attempt($credentials);

[2016-02-01 15:22] mehrdaad commented on #95
Hi, I was thinking of this feature. which found this thread.
I checked the source of projetc but commit of @reshadman hasn't been pushed to the project.
why?! How can I add it manually?

[2016-02-01 16:00] gil0mendes opened #478 "dev-master goes to stable"
Hey,

I'm trying implement JWT on a new API who I and my team we are developing. Once we are using Laravel 5.2 we want take advantage of new Guards API, for that, we using [jwt-auth-guard](https://github.com/irazasyed/jwt-auth-guard) but that package needs the dev version for your package.

I'm using this entry on the composer.json file: `"tymon/jwt-auth": "dev-master"`, but composer download the

[2016-02-01 16:17] pgbastante commented on #478
You can try this

"tymon/jwt-auth": "0.6.*@dev"

[2016-02-01 16:34] gil0mendes commented on #478
Thats works... thanks :)

[2016-02-01 16:34] #478 closed

[2016-02-01 17:24] #475 closed

[2016-02-01 17:28] tymondesigns commented on #371
If there are any issues outstanding here, then open an issue on dingo/api instead

[2016-02-01 17:28] #371 closed

[2016-02-01 17:29] tymondesigns commented on #472
Im afraid this has nothing to do with this package

[2016-02-01 17:29] #472 closed

[2016-02-01 17:30] #463 closed

[2016-02-01 17:33] tymondesigns commented on #404
I think this is out of scope for this package tbh.

I am wary of adding too many config options that serve very specific use cases

[2016-02-01 17:33] #404 closed

[2016-02-01 19:40] gil0mendes opened #479 "Session check throws an exception"
Hey,

I'm using this piece of code to check if the user is logged `Auth::guard($guard)->check()`, but every time I call it an exception is thrown. `JWTException in JWTGuard.php line 328 - Token could not be parsed from the request.`

It's my problem?

[2016-02-01 21:33] mehrdaad opened #480 "Refreshing tokens"
Hi, sorry for opening a new issue, but I couln't find an answer for my question.
I've read [this](https://github.com/tymondesigns/jwt-auth/issues/301), [this](https://github.com/tymondesigns/jwt-auth/issues/186) but not getting totatally satisfied.
I'm developing an api using Laravel 5.1 and jwt-auth 0.5.
I'm facing several issues that makes me confused.
First of all I wanna create a 'single-use'

[2016-02-01 22:34] GrahamCampbell commented on #475
No, it's not. It it physically tokenized as a comment, not phpdoc.

[2016-02-01 22:35] GrahamCampbell commented on #475
`@package` is deprecated, and wikipedia is frankly, a load of shit here.

[2016-02-01 22:35] GrahamCampbell commented on #475
The only purpose of `@package` was to emulate namespaces on  php 5.2 and below.

[2016-02-01 22:36] GrahamCampbell commented on #475
See how `/**` is `T_DOC_COMMENT` and `/*` is `T_COMMENT`.

[2016-02-01 23:09] tymondesigns commented on #475
So the following would be valid, because it is parsed as `T_DOC_COMMENT` right ?

[code]

And I do see that StyleCI uses `T_COMMENT`

[code]

What's the reason to use `T_COMMENT` over `T_DOC_COMMENT ` ?

[2016-02-01 23:12] GrahamCampbell commented on #475
`T_DOC_COMMENT` is not widely accepted yet, and there are technical issues regarding the placement of whitespace following phpdoc that need fixing before we can allow users to choose what to use.

I'd recommend adopting the same format symfony uses for headers since that's the most widely accepted style. Basically, what you had before you changed it.

[2016-02-01 23:17] tymondesigns commented on #475
Fair enough, I do prefer the syntax as traditional tags though, which is what led me to change it.

I'll change it back shortly

[2016-02-01 23:25] juniormc opened #483 "Token in method POST, MethodNotAllowedHttpException in RouteCollection.php line 219:"
I'm trying to send token via a query string with method POST.
You can send that? or should it send ?

[2016-02-02 07:48] amilgaul opened #484 "JWT + Entrust"
Hi Tymon,

Is there a chance that Entrust can integrate to jwt? jwt for authentication and Entrust for role based permission? How can i do it?

Thanks.

[2016-02-02 20:50] w0rd-driven commented on #483
Do you need it to be sent via a query string or could it be part of the POST body? Including a key (of any sort, be it JWT or api) is a bad security practice because most web servers log query strings in access logs. Conveniently I can't find the link where I saw this as I've been doing way too much research on all of this lately. It should still be allowed though.

Having said that, I do believe

[2016-02-02 21:02] tdhsmith commented on #483
Yeah, it's very unlikely this has to do with the jwt-auth package, which doesn't use `MethodNotAllowedException`. More likely your routes are misconfigured somewhere.

Also I agree with @w0rd-driven, query strings are a little more "visible" than headers or bodies. However the jwt-auth parser does support them out of the box so you should have no problems there.

[2016-02-02 21:06] tdhsmith commented on #484
I am not familiar with Entrust, but it doesn't _look_ like there should be any major issues or overlap. Just use jwt-auth to get your user model from a token, and then call your role/ability checks upon that user?

[2016-02-02 21:23] tymondesigns commented on #484
Or even better imo, just use Laravel's Gate Authorization functionality https://laravel.com/docs/5.2/authorization :smile:

Then you could do things like:

[code]

[2016-02-02 21:24] tymondesigns commented on #483
indeed nothing to do with this package, you have a routing issue somewhere

[2016-02-02 21:24] #483 closed

[2016-02-02 21:33] tdhsmith commented on #480
Sorry I don't have a lot of time right now, but to give you quick replies:

No the package overall is perfectly fine for single-use tokens. The _middleware_ however imply a specific way of using the package which does not cover all cases, and may have unclear side effects if used in different way (like the one I mention there: using `GetUserFromToken` and `Refresh` together will end up rejecting _

[2016-02-02 21:38] tdhsmith commented on #479
I haven't looked into this yet, but an FYI (from #422):

So if you're on Laravel I'd recommend sticking with the session guard for now.

I think you have brought up an important point with the new code though: the auth methods depending on `JWTGuard::user()` (like `check`) are going to throw exceptions when the token is invalid or nonexistent, which probably isn't the expected behavior, at least n

[2016-02-02 21:50] gil0mendes commented on #479
Yap, the JWTGuard not have the expected behaviour, for now I'm using try...catchs to handler with this issue... thanks for the attention :)

[2016-02-02 22:00] tymondesigns commented on #479
Are you sure that a token is present in the request?

[2016-02-02 22:02] tdhsmith commented on #451
I'll eventually respond to #275, sorry. I'd like to do some research first on history of JWT though. I'm currently inclined to believe that most of what you quoted from jwt.io is in reference to expensive calls to 3rd-party authentication services, not cheap calls to local databases, since the authors of jwt.io (Auth0) built a product around identity services.

However I do agree trying to reduce

[2016-02-02 22:02] tymondesigns commented on #479
Can you check the result of `Auth::getToken()` ?

[2016-02-02 22:04] gil0mendes commented on #479
The response is `false`

[2016-02-02 22:07] gil0mendes commented on #479
The token are not present if the login has not been done... This can't throws an exception saying `Token could not be parsed from the request.` if I'm just making a session check. Right?

[2016-02-02 22:08] tdhsmith commented on #479
@tymondesigns I don't think he said there was always a token. I think the confusion is that `Auth::check` with another driver would simply return false in a similar situation (e.g. the session was empty).

[2016-02-02 22:09] gil0mendes commented on #479
@tdhsmith  Yap... that is the expected behaviour.

[2016-02-02 22:09] tymondesigns commented on #479
Ok, there's your issue.

You need to provide a token either by setting it in the Authorization header - `Authorization: Bearer foo.bar.baz`

Or just pass it in via a query string - `http://example.com/auth?token=foo.bar.baz`

[2016-02-02 22:09] tdhsmith commented on #484
:+1:

I'm not sure how I'd gone this long without learning about `Gate`... :disappointed:

[2016-02-02 22:13] tymondesigns commented on #484
@tdhsmith haha 💥😀

[2016-02-02 22:18] tymondesigns commented on #479
Oops looks like ilI jumped the gun there (commenting from my phone = missed replies)

I see your point. I will see if I can fix that

[2016-02-02 22:51] #479 closed

[2016-02-02 22:56] tymondesigns commented on #479
Think i've fixed it. @gil0mendes could you give it a try ?

[2016-02-02 22:56] gil0mendes commented on #479
Yap... give me a second

[2016-02-02 23:14] gil0mendes commented on #479
Yap... it's working now... tks ;)

[2016-02-02 23:24] tymondesigns commented on #479
Awesome :+1:

[2016-02-03 03:36] amilgaul commented on #484
@tdhsmith I have a small problem regarding role/ability checks. When I trying to check if the user has a role of administrator using entrust middleware, the request has always thrown a 403 status or access denied. It seems that I was login as guest only even though the user has an administrative privilege. Please refer to the code below:

Route::group(['middleware' => ['role:administrator']], func

[2016-02-03 13:38] CraigLovelock commented on #150
@tymondesigns Was the forever option ever implemented? thanks

[2016-02-03 19:35] tdhsmith commented on #150
On develop/0.6 you can set `'ttl' => null` and tokens will not expire.

[2016-02-03 19:49] tdhsmith commented on #403
That is very weird, and something else must be happening. Are you doing any string operations on the token, or manipulating it in any way? What happens when you try to generate a token with hardcoded credentials? What about with `JWTAuth::encode(JWTAuth::getPayloadFactory()->make());`?

[2016-02-03 20:00] capitaladot commented on #355
+1
Session seems to be empty. spare "_token", after something like 100 requests (video conferencing application doing polling of hardware on the server and reporting it to an Angular.js front end).

[2016-02-03 20:13] tdhsmith commented on #484
Laravel Auth doesn't automatically know how to parse tokens, so your `Auth::user()` is null. You have to call something to parse the token from the request and store its user in Auth. There are several options, but I'd recommend using middleware because it is likely simpler:

- If you only want these pages accessible by those with valid tokens, you can wrap the route in the `GetUserFromToken` (0.5

[2016-02-03 20:14] tdhsmith commented on #484
`Check` isn't available in 0.5, but you can approximate it with your own, something like:

[code]

[2016-02-03 21:58] CraigLovelock commented on #150
@tdhsmith Makes sense, thanks :)

[2016-02-03 22:33] lucasmichot opened #496 "Humbug"
Humbug indicates 20 undetected mutants:
https://gist.github.com/lucasmichot/060ba21c4898ae9e0f1f

[2016-02-03 22:37] lucasmichot commented on #496
[code]

[code]

`humbug.json.dist`:
[code]

[2016-02-03 22:45] tymondesigns commented on #496
Looks like a useful tool!

I'll take a closer look tomorrow. 83% MSI not too shabby it seems right

[2016-02-04 03:54] amilgaul commented on #484
@tdhsmith I prepared your first suggestion and I want to know on how I can store the parse token in user Auth. It will be more easy for me to use the role/ability checks of entrust. Can you show me an example of storing parse token to user Auth. I'm just a beginner in Laravel and jwt and I really want to achieved this goals.

[2016-02-04 05:17] tdhsmith commented on #484
Calling `JWTAuth::authenticate()` will already do that for you because, with the default settings, it in turn calls `Auth::onceUsingId($id)`, [which will set it internally](https://github.com/laravel/framework/blob/5.2/src/Illuminate/Auth/SessionGuard.php#L488).

If you're just looking for a manual way to set it, you can use `Auth::setUser($user)`.

There are plenty of other ways, too. Check out [

[2016-02-04 07:31] amilgaul commented on #484
@tdhsmith Thanks for the help it's working now. The only thing I miss is the jwt.auth middleware to include it on route.

[2016-02-04 10:30] Mahmoudz opened #497 "Is there a function that attempt to authenticate a user, then return its object with the token?"
The thing is, I want to attempt to authenticate a user and return the user object and its token with single query.

Currently I am attempting to authenticate the user (as shown in the line 1), to get the token.
Then I am asking for the user from that token (as shown in line 2), to get the user object.

[code]

The problem is: that cost 2 queries for basically 1 task:

[code]

So is there any funct

[2016-02-04 11:05] MallardDuck commented on #497
I could be wrong but I don't believe there would be an easy way to get around this in a way that doesn't generate 2 SQL queries. I mean you could do this:

[code]

But I'm almost certain it's still doing 2 SQL queries in the above code. Another point to consider is that any performance hitches in this could be offset by a number of means. For example: Optimizing MySQL for caching, Memcache, and et

[2016-02-04 13:06] Mr-Anonymous opened #498 "JWT Default Expiry and Increasing TTL"
I have installed jwt-auth in my Laravel 5.1. Couple of questions if someone can help please:

1) What is the default expiry time for a new token that is generated after login? Is it 1 hours, 1/2 hour or 15 mins?

2) How do I change the expiry time for the token when they are generated? Say, if I want to increase the token validity to 24 hours from the time they login?

At the moment, the tokens ar

[2016-02-04 14:08] Mahmoudz commented on #497
I appreciate your answer but I disagree with you as the queries are pretty much the same.
The `JWTAuth::attempt($credentials)` already queried the required user but after validating the credentials it throws it away and only generate a token out of it, to return it. While at this point it could inject the token into the object `$user->token = $token;` and return the entire object.

[2016-02-04 14:54] capitaladot opened #499 "When using the config cache: PHP Fatal error: Call to undefined method Closure::__set_state()"
v. 0.5.6
Upon running php artisan cache-clear, as suggested here https://github.com/laravel/framework/issues/8172 to resolve a "lost session" issue (reported here: https://github.com/tymondesigns/jwt-auth/issues/355).

[2016-02-04 17:14] w0rd-driven commented on #498
The default is 60 minutes and it should be in your `config/jwt.php` file under the `ttl` option. 1440 minutes is one day so if you change it to that, users will have a valid token for up to a day.

[2016-02-04 17:21] Mr-Anonymous commented on #498
Fantastic. Thank you so much Jeremy for pointing that out. It helps heaps! Cheers!

[2016-02-04 17:21] #498 closed

[2016-02-04 17:37] w0rd-driven commented on #497
I'm unsure of which version you're on but take a look at the attempt function:
https://github.com/tymondesigns/jwt-auth/blob/master/src/JWTAuth.php#L106
If you follow the chain, $this->auth->user() is set at the moment it's authenticated.

toUser() is just an alias to authenticate(). authenticate() is meant for your protected routes that accept the token as input and populates $this->auth->user()

[2016-02-04 18:27] tdhsmith commented on #497
Yeah agreed with @MallardDuck and @w0rd-driven. The initial `attempt` call will save the resulting user instance within the `Auth` driver (which can be retrieved and reflected by `$authProvider->user()`) for the rest of the request lifecycle.

Following the chain in Laravel 5.2, you can see that `$authGuard->lastAttempted` gets set [here](https://github.com/laravel/framework/blob/5.2/src/Illuminat

[2016-02-04 18:48] tdhsmith commented on #355
Session on the front-end or the back-end? Though in either case it's almost certainly doesn't have to do with this library. JWT-Auth doesn't use Laravel sessions and issues with Satellizer should be redirected to them.

[2016-02-04 18:49] capitaladot commented on #355
Figured out my issue was actually too short a cookie payload field.

[2016-02-04 18:50] capitaladot commented on #499
Figured out my problem was actually too short a cookie payload field... nothing to do with JWT-auth.

[2016-02-04 18:50] #499 closed

[2016-02-04 19:02] tdhsmith commented on #355
Thanks for the follow-up! :smiley:

[2016-02-04 21:18] w0rd-driven opened #500 "API key as a user"
Laravel's TokenGuard is pushing me in a specific direction and the best tutorial for applying that is [here](https://gistlog.co/JacobBennett/090369fbab0b31130b51).

I use Sentinel and I like the idea of marrying a user to an api key for a few reasons:
1. As a user, they can use a normal token to login to a mechanism that generates a longer-lived api key.
2. I can apply roles to this user and using

[2016-02-04 21:18] w0rd-driven commented on #498
You're welcome :>

[2016-02-05 03:04] #484 closed

[2016-02-05 14:34] christianbartels commented on #178
I'm interested in this as well to be able to generate different tokens with different claims. Currently custom claims get included in all subsequent generated payloads and there doesn't seem to be a way to remove a claim, once it has been added to JWTAuth. Something like `$jwtAuth->manager()->clearPayload()` would really help...

[2016-02-05 19:54] rochapablo commented on #343
Hey...

I'm really trying to understand this, but I'm stuck in this error:

I'm chancing from Eloquent to Doctrine and this is my auth.php

[code]
'user' => 'App\Sistemas\Aplicacao\Base\Models\User',
[code]

[2016-02-05 20:47] tdhsmith commented on #343
Since you aren't using Eloquent, you'll need to change JWT's "user provider" to a custom class (that satisfies `Tymon\JWTAuth\Providers\User\UserInterface`). Just take [the existing `EloquentUserAdapter`](https://github.com/tymondesigns/jwt-auth/blob/master/src/Providers/User/EloquentUserAdapter.php) and modify it so that `getBy` returns an instance of the user.

Afterwards, change your config val

[2016-02-05 21:05] tdhsmith commented on #343
This is a *total* guess because I'm not that familiar with Doctrine, but I think the class would generally be like this:

[code]

In 0.6, this is all irrelevant because the user provider is gone, and it's instead handled by the auth provider and the `JWTSubject` interface.

[2016-02-06 07:56] Mahmoudz commented on #497
Thanks @All that's exactly what I needed, I replaced `$user = $this->toUser($token);` with `$user = Auth::user();`.

[2016-02-06 07:56] #497 closed

[2016-02-07 13:19] alvassin commented on #348
@tdhsmith Them problem is you don't care about integration with legacy / non-laravel systems.

It is ok to validate such claims - but if it is required. I can't get why it is not possible to configure claims i want to see present & to be validated, it is obvious issue.

It is very confusing, that you get fatally different object, with invalid (yeah, why do you set issued time for example?) data. Y

[2016-02-07 14:28] alvassin commented on #348
@tdhsmith thanks for fix information. When it will be available via composer?

[2016-02-08 17:58] tdhsmith commented on #348
I agree with you that the current settings aren't enough to support those situations. How much should this library cover, though? I'm not sure. People with advanced/legacy needs are still able to use the underlying Namshi library (or any of the other JWT encoding/decoding libraries for PHP).

I would love to see something more elegant & configurable for how claim validations and defaults are handl

[2016-02-08 19:26] joniham commented on #341
I am having this same problem with my new laravel 5.2 installation (jwt-auth 0.5.6).

My users table (in postgresql) is located at: database.schema.members and registering users are working just fine and they appear in DB with hashed passwords. But logging in does not seem to work.

However if i change my app to use database.users the register and login are working just fine.

Could not get it to

[2016-02-09 15:32] unamix opened #501 "Custom identifier for token"
I want to hide the user_id in the token payload, so i want to identify by email.
When i set identifier to email in the jwt config file, the sub gets set to the user's email when i create a token. So that's working fine. But, when i use JWTAuth::parseToken()->authenticate() in a follow up request it doesn't work because it's expecting an id as the sub:

`if (! $this->auth->byId($id)) {`
    `return

[2016-02-09 17:03] bayssmekanique commented on #339
I ran into the same issue, and it turned out to not have anything to do with JWT Auth.  By default, FormRequests return 302 redirects to the application root ("/") on an invalid request unless the request comes in with an accept header asking for JSON `Accept: application/json` or comes in as an XHR Request.  So when I was testing with POSTMAN, it was just making a basic request, so Laravel was re

[2016-02-09 19:52] tdhsmith commented on #501
Are you always using email as your identifier, outside of JWT? If so, you can set your user model's `$primaryKey = 'email'`, which will fix everything magically.

If you can't go that route, things get a little dicier. The challenge is that Laravel's `Auth` facade, which this library tries to integrate with, doesn't expose a way to retrieve a user by arbitrary query _without_ also forcing a passwo

[2016-02-09 20:12] unamix commented on #501
@tdhsmith In #484 they're discussing permissions on the API side, not the client.
So if I'm not going to store the permissions in the jwt payload, will this work and is this safe:

User posts credentials to API and receives token if valid. With the received token a new request gets send asking for the user permissions. The permissions from the response will be stored in a javascript variable. Menu

[2016-02-09 20:44] tdhsmith commented on #501
Whoops sorry! I missed the all-important word "client" in your post. :flushed:

I think it's somewhat reasonable to store permissions information in the token if it's being communicated from the server to the client. The reason I recommended against it for the server is that I prefer the server to handle all its own checks (and to avoid being tricked by a token or introduce any errors by expecting

[2016-02-09 23:57] jeffdupont commented on #403
Ok, so this is an easy fix. In the Kernel.php file you need to add slashes to pull from the root namespace.

        'jwt.auth' => \Tymon\JWTAuth\Middleware\GetUserFromToken::class,
        'jwt.refresh' => \Tymon\JWTAuth\Middleware\RefreshToken::class,

[2016-02-10 11:36] hamalatifa commented on #403
@jeffdupont :  I've already done that;

thanks a lot @tdhsmith  : i have question can i create the token  when the user do the registre in my website !
because i want to save the value of token in database after register of user
and i did some test :
-when i create the token after login

public function postLogin(LoginRequest $request)
    {
        $credentials = [
            'email' => $request

[2016-02-10 16:52] jeffdupont commented on #403
@hamalatifa That fixed the error from the OP for me and I didn't see any reference to that in the comments, so I wanted to make sure that anyone finding this gets the correct solution.

Second, the postRegister method, you're trying to attempt to login a user that was just created? The code doesn't show that the Register is creating a user first, so the JWTAuth::attempt is probably failing. I thin

[2016-02-10 21:47] tdhsmith commented on #403
@hamalatifa - There shouldn't be any reason for `attempt` to behave differently in those situations. I suspect your user provider must not be finding your new user for some reason. Can you try updating to the most recent master branch? It has a fix (#398) that isn't in 0.5.6 that should let you see if there are any exceptions happening in `attempt`.

I'd guess something is slightly different in yo

[2016-02-10 22:20] timbroder commented on #104
@jfadich Thank you! This helped me

[2016-02-11 06:58] Harrrrry opened #502 "How to customize the token expired message"
Hi, I am using laravel web service and when token is expired web service return an error like
 {"error":"token_expired"} but i want to generate message like  {"succes":0,"error":"token expired, please login again."}

[2016-02-11 07:16] tdhsmith commented on #502
Create your own version of the middleware, [change this line](https://github.com/tymondesigns/jwt-auth/blob/master/src/Middleware/GetUserFromToken.php#L35), and apply it to your routes.

[2016-02-11 07:18] Harrrrry commented on #502
ok, but i can change the message but how to include the success = 0 part
return $this->respond('tymon.jwt.expired', 'token expired, please login again.', $e->getStatusCode(), [$e]);

[2016-02-11 07:34] mallardduck commented on #502
Bruh, it seems like you just need to familiarize yourself further with Laravel. Cause the question your asking doesn't seem to be specific to JWT.

Personally I think this should be implemented in your Handler.php file like this:

[code]

But it seems that you want something more like....

[code]

The specifics of where you put this if you're not familiar can be found here: https://laravel.com/doc

[2016-02-11 08:44] Harrrrry commented on #502
@mallardduck, @tdhsmith  Thanks

[2016-02-11 08:44] #502 closed

[2016-02-11 08:52] hamalatifa commented on #403
@tdhsmith  yes User::first()  get the first sequential user
@jeffdupont  i will try your proposition thanks

[2016-02-11 14:25] pgbastante commented on #206
@tymondesigns Sorry to post here in this closed issue but I'm having the same problem but in my case in Lumen. If you prefer, I can open a new issue.

I have the 0.6.*@dev version of jwt-auth and everything works fine outside the test environment but when I try to run the tests with phpunit I get a exception 'Tymon\JWTAuth\Exceptions\JWTException' with message 'A token is required' in JWT:237.

My

[2016-02-11 18:01] skorlir opened #503 "Multiple/Custom Secrets"
I want to use JWT-Auth, but I don't always want to use the same secret - my API will be used by at least two different types of client application, and it would be ideal if every client application could have its own secret (that way I don't invalidate the admin panel client if the embeddable client misbehaves, and vice versa). While I could abuse the "jti" or "aud" claims to accomplish this, I'd

[2016-02-12 16:01] Fossil01 opened #506 "How to see token payload?"
I have this test token which I can paste into the box at http://jwt.io and it then shows what the payload is and if the signature is correct. How do I validate the token and then see the payload with JWTAuth/Laravel 5.2?

``eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE0NTUyOTYyMjUsImZpcnN0bmFtZSI6IlRlc3QgVXNlciIsImlkIjoiYWRtaW5AdGVzdC5pbyIsImlkZW50aXR5X2lkIjoiMmRlNjI2NWUtNThkMy00ZWY5LWEzYjYtYTg

[2016-02-12 17:08] #506 closed

[2016-02-14 10:57] hetunandu opened #508 "Class Tymon\JWTAuth\Providers\Storage\Illuminate does not exist"
I had a problem of closure in config file so i followed instructions in this thread

https://github.com/tymondesigns/jwt-auth/issues/147

and copied the config file which made the storage file point to the Tymon\JWTAuth\Providers\Storage\Illuminate class.

I am on 0.5.6 and I have run composer update.

Any ideas what i am doing wrong?

[2016-02-14 18:36] joearcher opened #509 "JWTAuth::parseToken() always returns nothing;"
I have the token in my header, the auth middleware allows access to my routes (and denies it when a token is not present or is invalid), but I cannot parse the token from the request.

`$token = JWTAuth::parseToken();` returns an empty object, and yet I can look at the request object and see the token in the header.

I am utterly stuck.

[2016-02-14 19:19] #509 closed

[2016-02-14 22:10] tdhsmith commented on #508
Sorry you shouldn't change the actual class, just update to the new format. (The class names change between 0.5 & 0.6)  So your storage line should be:
[code]

[2016-02-15 11:59] hamalatifa commented on #403
finally i resolved this problem by getting the token after  the registre of user

here is the code :

 public function postRegister(RegisterRequest $request)
    {

        app('Modules\User\Services\UserRegistration')->register($request->all());

        flash()->success(trans('user::messages.account created check email for activation'));
        $credentials = [
            'email' => $request->

[2016-02-15 13:47] lucasmichot opened #510 "Proposal : allows payload construction with \DatetimeInterface"
I think it would make sense to allows the construction of the payload using either `int` for timestamps, either `\DatetimeInterface` (for the specific claims)

[2016-02-15 15:52] hetunandu commented on #508
that solved it! thanks

[2016-02-15 15:52] #508 closed

[2016-02-15 16:56] josenicomaia commented on #401
+1

[2016-02-15 20:58] tdhsmith commented on #503
Seems like giving [`Tymon\JWTAuth\Providers\JWT\Provider`](https://github.com/tymondesigns/jwt-auth/blob/develop/src/Providers/JWT/Provider.php#L19) a getter and setter for `$secret` would be sufficient to make this change. Then you could switch the key by calling `JWTAuth::getJWTProvider()->setSecret($secret)`.

I'm not a maintainer, so I can't rule on acceptability of the PR. But certainly you c

[2016-02-15 20:59] tdhsmith commented on #503
The change does sound reasonable to me though. It seems like there are a few others wanting to maintain multiple distinct JWT relationships through a single Laravel app.

I guess there could be a can of worms around the corner if people want _every_ config value to be toggleable, because that might not be feasible or clean... But on a single-case basis this feels fine to me?

[2016-02-15 21:46] tymondesigns commented on #503
Yep I actually added this a few days ago but hadn't pushed until now (https://github.com/tymondesigns/jwt-auth/commit/5d2fa1997c142c1c573f19a01bcc5ae74123827d)

as @tdhsmith has said you can now set the secret by doing the following

[code]

[2016-02-16 00:07] mtpultz opened #513 "Feature: Laravel 5.2 Custom Authentication Guard and Driver"
The docs indicate it is possible to create your own implementation of Illuminate\Contracts\Auth\Guard and registering it as a driver in a service provider.

I was reading about the new stateless token authentication that was added in 5.2 in a [JacobBennett Gist](https://gistlog.co/JacobBennett/090369fbab0b31130b51) (the docs are really vague), but it doesn't appear to be the same as JWT tokens.  T

[2016-02-16 10:45] essivision opened #514 "How to integrate ngAA to Laravel jwt-auth"
Hi
I use ngAA to integrate Angularjs and Laravel jwt-auth. In AuthenticateController of Laravel I use this code:
[code]
but ngAA in angularjs need to this format for response:
[code]
How to generate this format of token and user object in Laravel?

[2016-02-16 10:48] massi81 opened #515 "Wrong instance response on Laravel 5.2.16"
I upgraded Laravel to v5.2.16, the package that was working fine with v5.2.15 then did stop working with the following error:

[2016-02-16 10:57] mallardduck commented on #514
Bruh this is just a basic laravel question not one that is about JWT, or this package.
But I'll give you your cake anyway:

Let's start at the response, it doesn't really have much going on but we're still making a change:

[code]

That becomes:

[code]

Ok, cool but how do we define `$data`? Well we define it how you need it to be:

[code]

And finally, the last detail to tackle; how do I get the

[2016-02-16 11:04] mallardduck commented on #515
That seems to be identifying conflicts with two things that are related to Laravel, as you may notice they are all Illuminate packages that are conflicting. I might suggest trying to clear out your vendor folder and doing a fresh `composer install` to get all the packages again.

I've not used 5.2 much at all really, so I can't say much about this issue, specifically, but it seems to me that it's

[2016-02-16 11:26] massi81 commented on #515
Thank you for your advice, unfortunately I already tried that way but it didn't fix the issue. However if i revert back to v5.2.15 everything re-start to work as expected.

[2016-02-16 13:53] essivision commented on #514
+1 Thanks

[2016-02-16 14:36] skorlir commented on #503
Awesome! @tymondesigns that's exactly what I need :smile:

[2016-02-16 15:06] skorlir commented on #503
I'm relatively new to `composer` - do I need to wait for a tagged release in order to start using this, or is it "safe" to tell composer to track the `develop` branch? It seems to me like the former is preferable.

[2016-02-16 16:17] tdhsmith commented on #515
Looks like a small bug in Laravel framework, as described in laravel/framework#12309. A fix was already pushed at laravel/framework#12313 and should be available in the next version (5.2.17) whenever that releases.

[2016-02-16 17:40] daviestar commented on #513
+ 1

[2016-02-16 17:57] tdhsmith commented on #513
This is already being worked on on the develop branch. (cf. [JWTGuard.php](https://github.com/tymondesigns/jwt-auth/blob/develop/src/JWTGuard.php))

If you're interested, there are some discussions on the matter at #376, #384, and #479, among others.

[2016-02-16 20:22] mtpultz commented on #513
Thanks @tdhsmith, I'm very interested.  Thanks for the links.  Are there any areas that you need help on to make this usable for early stages of development using Laravel 5.2?  From the links it appears that Laravel 5.2 has a lot of methods implemented, but I'm not familiar enough with it to tell how far along it is.  Most of the issues are related to Lumen integration.  Trying to time this with o

[2016-02-16 20:44] mtpultz commented on #513
@tdhsmith are there steps to setup the use of the JWTGuard to test it out?

[2016-02-16 21:07] tymondesigns commented on #510
what exactly would you propose? I can't really think of a nice way to do it atm

[2016-02-16 21:07] #514 closed

[2016-02-16 21:07] #515 closed

[2016-02-16 21:08] tymondesigns commented on #515
Thanks for identifying that @tdhsmith :+1:

[2016-02-16 21:08] tymondesigns commented on #503
I will be tagging an alpha release soon

[2016-02-16 21:08] #503 closed

[2016-02-16 21:09] tymondesigns commented on #480
0.5.7 is now released :smile:

[2016-02-16 21:13] tdhsmith commented on #513
Well I haven't personally worked on any of the new guard stuff, so I don't have a good sense myself. Perhaps @tymondesigns has suggestions. I think the main goals are just to test it thoroughly (are there unit tests for everything?) and then evaluate which other methods on `SessionGuard` might be useful to adapt for it.

Not yet. I think it should be sufficient to set your auth driver to `jwt` (as

[2016-02-16 21:15] tymondesigns commented on #461
@tdhsmith oops, yea I forgot about this.. (it is laravel 5.1) I might make 0.5.8 now to remove closures from the config

[2016-02-16 21:22] tymondesigns commented on #455
what @tdhsmith said :smile:

[2016-02-16 21:22] #455 closed

[2016-02-16 21:27] tymondesigns commented on #400
@naerymdan If I were to remove the `JWTSubject` contract then it would remove the flexibility to use any non-laravel providers, which I'm not keen on tbh.

I do think the suggestion that @tdhsmith has made is perfectly viable

[2016-02-16 21:27] #400 closed

[2016-02-16 21:28] tymondesigns commented on #402
merged and bundled with `0.5.7`

[2016-02-16 21:28] #402 closed

[2016-02-16 21:32] tdhsmith commented on #513
These are some other thoughts I've had on ways forward. They might not be exactly related to your question, but I figured I would share them here as long as I have them:

- There're some interesting questions on how the auth provider should be adapted, because right now there is an odd cycle in the call stack `JWTGuard --> JWT --> auth provider --> JWTGuard --> user provider`. In any case, I think

[2016-02-16 21:37] lucasmichot commented on #510
Create an abstract TimestampClaim which will allow either timestamps either DatetimeInterface
Or simply modify the validator of the date related claims
In JWT the timestamp is immediately converted to a Carbon instance; so it wouldn't change much IMO

[2016-02-16 21:41] tdhsmith commented on #461
Awesome! I just peeked at 0.5.7 and wondered that. :stuck_out_tongue:

[2016-02-16 21:50] tymondesigns commented on #513
@tdhsmith on your first point, I removed the `JWTAuth` dependency from the `JWTGuard` so there is no weird auth call stack now, only `JWTGuard --> JWT --> Laravel's AuthManger`. Or did I miss something?

And you second point, It has been on my mind for a while, that it would be great to have concrete examples where people can see how things plumb together. Once I get this next release out of the w

[2016-02-16 21:55] tymondesigns commented on #510
Ok i see what you mean.. ill throw something together

[2016-02-16 21:56] lucasmichot commented on #510
I'll make a WIP PR

[2016-02-16 22:01] tdhsmith commented on #513
Nope you're totally right. I was simultaneously looking at pre-guard code and the new code, and not keeping them separate in my mind. The JWT / JWTAuth split keeps that cycle stuff from happening. Smart choice! :+1:

[2016-02-16 22:50] daviestar commented on #513
This is the L5.1 demo app that led me here: https://laracasts.com/discuss/channels/laravel/starter-application-vuejs-laravel-dingo-jwt

[2016-02-17 03:05] mtpultz commented on #513
I haven't been able to make this work yet using a set up that if the middleware group web is used appears to work.

**Setup Steps**
1. Removed the old provider in app.php that I had added earlier today and replaced it with the new `Tymon\JWTAuth\Providers\LaravelServiceProvider::class,`
1. Removed the old facades as they aren't required if your using JWTGuard
1. Artisan'ed in the updated config fi

[2016-02-17 11:54] matiux opened #519 "Problem with Laravel 5.1"
I get this error when call composer install or update in a project with Laravel 5.1

I'm using "tymon/jwt-auth": "dev-develop@dev"

Argument 3 passed to Tymon\JWTAuth\JWTAuth::__construct() must be an instance of Tymon\JWTAuth\Http\TokenParser, instance of Tymon\JWTAuth\Http\Parser given, called in /vendor/tymon/jwt-auth/src/Providers/LumenServiceProvider.php on line 144 and defined

[2016-02-17 17:16] pabloleone commented on #52
I'm facing this issue and I've the right path.

[2016-02-18 00:24] aixeiger opened #530 "class Class Tymon\JWTAuth\Providers\Storage\Illuminate does not exist"
I made an application with laravel and jwt, following the instructions here in the wiki of jwt-auth, I have this error when I try to Authenticate:

`ReflectionException in Container.php line 738:
Class Tymon\JWTAuth\Providers\Storage\Illuminate does not exist`

The configuration is the same as the wiki

`public function postLogin(Request $request){

    	$credentials = $request->only('email','pass

[2016-02-18 15:30] rochapablo commented on #343
Thanks, took me a little but i finally did and worked.

[2016-02-18 19:16] fevaldez commented on #530
Use this as jwt.config :
[https://github.com/scotch-io/laravel-angular-token-authentication/blob/scotch/config/jwt.php](url)

They already mentioned the solution in one of the threads but I can't remeber which one.

[2016-02-18 19:25] preciouslogic opened #533 "use JWTAuth Undefine Class"
Hi,

I have follow the whole process from the document but in the end when i try to use

use JWTAuth;
use Tymon\JWTAuth\Exceptions\JWTException;

it show that there are no classes or undefined classes kindly solve my issue. I am using laravel 5.2.19 version and this is very disturbing situation.

thanks

[2016-02-18 19:54] tdhsmith commented on #530
Actually it was just a temporary bug with 0.5.8, it's already been fixed in [0.5.9](https://github.com/tymondesigns/jwt-auth/releases/tag/0.5.9).

The long standing "config closures" issue that I believe @fevaldez is referring to is also fixed, so now there should be no need to override any config settings... unless you're actually configuring something. :wink:

[2016-02-18 20:03] fevaldez commented on #530
Thank you @tdhsmith, I figured there was a new version to be released soon. :D

[2016-02-18 20:53] mallardduck commented on #533
This doesn't sound like an issue we can solve for you, this seems like an issue that could be caused my multiple things; the root of them being a misunderstanding on how it should be setup.

If you've gotten the package with composer properly and the composer autoloader is being used correctly, then it should be able to find those classes in the package. Knowing what JWT package version your own m

[2016-02-19 05:33] mtpultz opened #534 "Laravel 5.2.x Setup Using JWTGuard"
This is just a post of the steps to get the [JWTGuard](https://github.com/tymondesigns/jwt-auth/blob/develop/src/JWTGuard.php) in place for an API using Laravel 5.2.x to possibly help with starting the documentation of this feature, but also to see if this is the best way to implement JWTGuard.

Using JWTGuard with Laravel 5.2.x
=====

1. `config/app.php` - add `Tymon\JWTAuth\Providers\LaravelServ

[2016-02-19 06:37] #534 closed

[2016-02-19 06:38] mtpultz commented on #513
This is just a post of the steps to get the [JWTGuard](https://github.com/tymondesigns/jwt-auth/blob/develop/src/JWTGuard.php) in place for an API using Laravel 5.2.x to possibly help with starting the documentation of this feature, but also to see if this is the best way to implement JWTGuard.

Using JWTGuard with Laravel 5.2.x
=====

1. `config/app.php` - add `Tymon\JWTAuth\Providers\LaravelServ

[2016-02-19 07:12] mtpultz commented on #461
An example implementation for Laravel 5.2.x using the JWTGuard can be found at [#513](https://github.com/tymondesigns/jwt-auth/issues/513#issuecomment-186087297)

[2016-02-19 07:29] MitchellMcKenna commented on #513
Thanks @mtpultz, would someone be able to post a similar guide to using JWTGuard with Lumen as well?

[2016-02-19 08:38] preciouslogic commented on #533
Thank for quick response i have attach the screen shot of all of my steps with error kindly take a look.

![img_4304](https://cloud.githubusercontent.com/assets/6730214/13170071/e9f85dc2-d702-11e5-8ff1-afe13c7a80b2.JPG)
![img_4305](https://cloud.githubusercontent.com/assets/6730214/13170067/e85d9efa-d702-11e5-86e3-4118c767be1e.JPG)
![img_4307](https://cloud.githubusercontent.com/assets/6730214/131

[2016-02-19 08:54] bkintanar opened #535 "Sentinel Persistence with JWT"
Is it possible?

I was able to use Cartalyst Sentinel as the Auth Provider, and it creates entries in the `persistences` table. But if I try to re-authenticate on a different machine, and then continue my previous session, I dont get kicked out.

[2016-02-19 09:04] mallardduck commented on #533
Hey, this might help next time you need screenshots: https://support.apple.com/en-us/HT201361

At this point I'm still not sure, but if you haven't you may want to try this out. Change this:
[code]

To:
[code]

[2016-02-19 10:00] preciouslogic commented on #533
Still getting the same error not library detect or found.
<img width="1616" alt="screen shot 2016-02-19 at 2 00 01 pm" src="https://cloud.githubusercontent.com/assets/6730214/13172365/26d0a37c-d711-11e5-9b2b-d06896b77c33.png">

[2016-02-19 23:28] tymondesigns commented on #533
try adding the service provider above your app specific ones, as seen here

![screen shot 2016-02-19 at 23 27 03](https://cloud.githubusercontent.com/assets/1801923/13192079/71eb7590-d760-11e5-90b4-e5ef70cdad55.png)

[2016-02-19 23:29] tymondesigns commented on #533
However ignore the fact that the service provider path is different here (this example uses the dev branch)

[2016-02-19 23:30] #530 closed

[2016-02-19 23:31] #510 closed

[2016-02-19 23:31] #355 closed

[2016-02-19 23:34] tymondesigns commented on #348
@alvassin This is already possible using the `setDefaultClaims()` setter on the `Factory` instance. e.g.

[code]

[2016-02-19 23:34] #348 closed

[2016-02-20 19:12] carlosalaniz commented on #200
I had the same issue, I just used the native php function to retrieve the header I needed

`getallheaders()["Authorization"] !==null`

[2016-02-22 19:07] ingspadavecchia commented on #359
HI, I have a similar problem. I'm using the middleware, so, no exceptions are thrown. Instead that, I'm catching Events and then I'm throwing the exceptions

check my EventServiceProvider:

[code]

I hope that can help you.

[2016-02-22 22:39] gfviegas commented on #261
I got here after several months searching for something similar to this issue and I had to comment to appreciate @jasmad kindness and patience. God I wish web environment was full of jasmad's..

[2016-02-25 03:23] akimo4 opened #536 "JWTException in JWTAuth.php line 295: A token is required"
hi .
I want get token value, but i can't
`$token = JWTAuth::getToken();
   return response()->json(['token' => $token],200);`
 error JWTException in JWTAuth.php line 295: A token is required.
i'm sure. my header store TOKEN.
i'm using laravel 5.1

[2016-02-25 13:19] AhmadAudeh opened #537 "composer installation exception"
I have problem with installing this package, when I run composer update I got this :

Is there a way to solve this ??

[2016-02-25 13:33] AhmadAudeh commented on #537
problem solved.
I added this to the composer :
[code]

[2016-02-25 13:33] #537 closed

[2016-02-25 16:22] stuartm opened #539 "Invalid signatures"
I'm generating the token with jwt-auth but verifying it in a different application - both this application (using node-jsonwebtoken) and jwt.io are indicating the signature is invalid.

The secret I started with was generated by "php artisan jwt:generate" but I've subsequently tried other secrets, including some simple strings just to exclude any possibility of copy/paste type issues.

jwt-auth is

[2016-02-25 17:27] stuartm commented on #539
Going to close this I as verified the signature myself and it is correct, so the probably, unlikely though it seemed is that both jwt.io and node-jsonwebtoken are wrong.

One thing to note is that jwt-auth is not setting the correct type in the header of the token.

In the constructor for JWS the second argument 'JWT' needs to be specified otherwise it will default to JWS.

[2016-02-26 00:53] pituseligmann opened #540 "Change authentication type from email to username?"
Hello folks, I've been reading up the issues and searching for the terms 'email', 'user' and 'username' to see if I found anything like this. Unfortunately there are some posts that may held some info but those are for older versions of this package that worked with Laravel 4.

Im running **Laravel 5.1.*** and **jwt-auth 0.5.***, and basically what I'm trying to do is after modifying the relevant

[2016-02-26 08:25] EricKwan2014 opened #543 "Handling previous token."
Dear Sir,

I am trying to blacklist all previous token when I having a new login request.

But Unfortunately, after I have new token, the new token only can use one time and blacklisted.

I would be appreciate if someone figure the problem .

Sorry for the interruption.

[2016-02-26 11:20] stuartm commented on #539
Re-opening - this is a bug in jwt-auth. Although it's not in generating the signature but in encoding the payload. The url in the iss field is incorrectly being escaped -e.g. http:// becomes http:\/\/

jwt.io and other clients decode the payload, then re-encode without re-applying this escape resulting in signatures not matching. This much is a bug with jwt.io (ticket filed).

Per the JWT RFC - 'i

[2016-02-26 11:33] stuartm commented on #539
For the record, the reason signatures fail to verify on jwt.io is due to json_encode() escaping forward slashes in the iss field. jwt.io and other applications decode the payload then rebuild the token before verifying the signature. In doing this they don't escape the forward slashes and the generated signature changes.

JSON doesn't require forward slashes to be escaped, it's optional. jwt-auth

[2016-02-26 12:59] stuartm commented on #539
With apologies for the red herrings (now deleted). This is definitely a bug - the signatures created are invalid. It's converting a hex value as an ascii/utf8 string to base64. Instead it should be converting from hex directly to base64. The bug seems to be in the Namshi/JOSE library so I'll file it upstream.

[2016-02-27 17:17] donnygunawan93 opened #545 "How to make whitelist IP?"
Hello Buddy ^_^,
I want my API only can access from my server,
I don't want other people to access my API,

so I need something like whitelist IP? how do that?

[2016-02-27 19:37] mallardduck commented on #545
You should be researching on how to do that by configuring the webserver
for that, this isn't something JWT should be involved with.

Figure out if you use Apache or Nginx and then Google 'Apache IP
whitelist', or Google for Nginx if you use that.
On Feb 27, 2016 12:17 PM, "tono kurniawan" <notifications@github.com> wrote:

[2016-02-27 19:47] tymondesigns commented on #545
as @mallardduck has said, it has nothing to do with this package. But I will point you in the right direction :) -> https://github.com/antonioribeiro/firewall

[2016-02-27 19:48] #545 closed

[2016-02-27 19:54] tymondesigns commented on #533
I'll assume this is resolved?

[2016-02-27 19:54] #533 closed

[2016-02-28 12:47] preciouslogic commented on #533
noop it was not resolved  as i am just not using it any more. I tried every possible step to resolve but no use so it good that ticket should be close as it is nota problem to me any more :)

[2016-02-28 13:35] sidevcloudsys opened #547 "how to configure this with sentinel package?"

[2016-02-28 16:03] alireza2281 opened #548 "multiple roles"
Hello i want to implement multiple role system with jwt. My question is if this is possible. and my other question is if i can extract the username of the authenticated account from the token

[2016-02-28 17:43] shanavas786 opened #549 "Use multiple user models for authentication"
jwt-auth uses a user model for authentication defaulted to App\User. How is it possible to use request specific user model ?. ie, to use Model1 for controller1 and Model2 for controller2 ..etc ?

[2016-02-29 23:20] mirageisme commented on #339
The same happens to me I cant use validation for example when I use the following:

[code]

This will give me:
[code]

but when I remove the validation it work fine:
[code]

I'm using the middleware as following:
[code]

and even when I remove the middleware completely still not working, any idea what could be the problem?

[2016-03-01 09:50] matiux opened #550 "Protected property"
Hi,
I need to use the branch 0.5.\* because the refresh token is better documented (compared to dev-master). But with 0.5.\* I have a problem with laravel-doctrine package. My "User" entity has a protected $id, so I get this error:

Cannot access protected property Vendor\Entity\User::$id

generated by vendor/tymon/jwt-auth/src/JWTAuth.php in fromUser() method.

With dev-master I don't have this e

[2016-03-01 09:59] matiux commented on #550
This is my controller action:

[code]

[2016-03-01 16:01] bayssmekanique commented on #339
Does it only not work when invalid data is provided or for valid requests as well?

[2016-03-02 09:35] lloy0076 opened #556 "JWTAuth Class - Not Found"
Relevant composer.json:

[code]

Here is the code (line numbers are only for reference - I have them set on in my editor settings):

[code]

Notice that it's fairly much what is here: https://github.com/tymondesigns/jwt-auth/wiki/Creating-Tokens

"php -l" doesn't find any errors in it.

However, when I go to that code (via /authenticate setup like this) in Http/routes.php:

[code]

(Note: this is

[2016-03-02 09:37] lloy0076 commented on #556
PS That optimised autoload looks correct to me - the composer is probably doing stuff right as if it weren't the whole Laravel framework would come crashing down with 'class not found errors' before it got here.

[2016-03-02 09:38] mirageisme commented on #339
I'm using Angular as my front-end framework so after re investigation I find that it fails when the validation fails because Laravel redirects you rather that return the validation error if its not a valid AJAX request. and **that triggered the JWT Auth middleware**. I debugged further more I found that both `$request->ajax()` and `$request->wantsJson()` both return false.
but when I did set the h

[2016-03-02 09:38] lloy0076 commented on #556
GAH! Missed the JWTAuth façade in app/config.php.

Ignore me :(

[2016-03-02 09:38] #556 closed

[2016-03-02 15:33] hopewise opened #557 "TokenMismatchException"
When I try login using web guard, I get this error:

[code]

Although, login route has no conflicts with any of api routes, so, why is that?

[2016-03-02 17:10] tdhsmith commented on #557
That's not an error from this library, it's from the CSRF (Cross-Site Request Forgery) middleware that comes with Laravel. [See the official Laravel documentation for more details.](https://laravel.com/docs/master/routing#csrf-protection)

[2016-03-02 17:45] kelvinrolex commented on #339
@mirageisme how did you set the header, please can you paste the code on how you set the header.
Thanks

[2016-03-02 18:09] hopewise commented on #557
But if you look at call stack #2, it's coming from Dingo .. so, is my
conclusion about Dingo as the source of error still valid?
On 2 Mar 2016 19:10, "t d h smith" <notifications@github.com> wrote:

[2016-03-02 18:36] tdhsmith commented on #557
Well the whole Laravel stack passes the request instance around quite a bit, so you're going to see your Request class (which Dingo replaces) all over the stack trace regardless.

I don't _know_ it's not Dingo, but I would check your CSRF settings.

Bigger question: Do you even want CSRF tokens? I would say you generally don't want to use them *and* JWT, unless you're trying to run multiple servic

[2016-03-02 20:35] bayssmekanique commented on #339
@kelvinrolex, if you are using Angular REST libraries (like Resource or Restangular) it will automatically handle applying the appropriate headers.  If you are making raw request calls, then you just need to add a header `Accept: application/json`.
[code]

[2016-03-03 04:34] saurini opened #558 "Token only valid on homestead"
I've been wrestling with this one for a few hours now. I'm testing the validity of the token by using the jwt.io debugger. When the token is created in homestead, it is verified with the secret. The production (pre-prod at the moment) environment produces a token that doesn't work. It's the exact same code and nearly (7.0.1 vs 7.0.2) same version of PHP. What could be the cause?

php -m on homeste

[2016-03-03 07:02] tdhsmith commented on #558
In what way is it not working? Are you able to share an example of each token?

[2016-03-03 07:05] tdhsmith commented on #519
Have you tried updating and running again since? There was a similar issue with some of the class names a couple weeks ago on develop...

[2016-03-03 07:09] saurini commented on #558
Actually... this is really embarrassing. So, JWT_SECRET was spelled JWT_SECRT. I'll just show myself out.

![](http://i.imgur.com/nVFh5tr.gif)

[2016-03-03 07:09] #558 closed

[2016-03-03 07:13] tdhsmith commented on #543
See #463, #352, among many others.

[2016-03-03 07:22] tdhsmith commented on #558
No problem! We've all been inside of that cube at times...

[2016-03-03 07:58] hopewise commented on #91
@osteel many thanks

[2016-03-03 11:52] hopewise commented on #557
I am using CSRF in $middlewareGroups only at web group,
Any way, I decided to use lumen to power my APIs, although it has a problem currently https://github.com/tymondesigns/jwt-auth/pull/532#issuecomment-191650706 it would be great if you have a solution there..

[2016-03-04 08:53] ranjitnadar opened #559 "One to Many login"
Hi,  Is it possible in one to many login in JWT
One user Multiple device  login can you please guide me

[2016-03-04 10:33] Sopamo opened #560 "Add method, header & query parameters to getToken"
Currently the getToken method calls the parseToken method with default parameters. I would like to have the possibility to call the getToken method with specific parameters as well.
Should I submit a pull request?

[2016-03-04 17:12] MitchellMcKenna commented on #559
I was wondering this as well, I need to have multiple valid tokens per user, one for user's iPhone and one for their iPad, etc

[2016-03-05 15:36] #557 closed

[2016-03-06 10:49] hopewise opened #561 "Unresolvable dependency resolving $app in AuthManager"
I am wondering why would I get such an error if I tried to jwt.auth ?

`{"message":"Unresolvable dependency resolving [Parameter #0 [ <required> $app ]] in class Illuminate\\Auth\\AuthManager","status_code":500,"debug":{"line":839,"file":"\/share\/vendor\/illuminate\/container\/Container.php","class":"Illuminate\\Contracts\\Container\\BindingResolutionException","trace":["#0 \/share\/vendor\/illum

[2016-03-06 15:30] intrepido commented on #540
I have the same problem, I need the authentication by username not email. Is there any way?

[2016-03-07 04:55] anasceym commented on #540
Yes. There is a way, you can create a user token using JWTAuth facade credentials() method. Here is the workaround.

[code]

[2016-03-07 15:36] driesvints commented on #401
Any chance we can get an alpha release soon for 0.6? We're currently requiring specific commit hashes but a dedicated alpha release would be nicer :smile:

[2016-03-07 16:53] engAhmad commented on #401
+1

[2016-03-07 20:21] tymondesigns commented on #401
Just tagged `1.0.0-alpha1` (https://packagist.org/packages/tymon/jwt-auth#1.0.0-alpha1)

Going to throw a little quick start guide in there when I get a sec, prior to the full docs

[2016-03-07 21:09] pituseligmann commented on #540
Thank you @anasceym , that's a beautiful solution.

[2016-03-07 21:09] #540 closed

[2016-03-07 22:38] driesvints commented on #401
Awesome! Thanks @tymondesigns :)

[2016-03-08 03:56] pensacola1989 opened #563 "something confused about the auth.php"
does jwt-auth use config/auth.php,
seems if a set default guard to api,
everything crashed...

[code]

but If I don't make any change on the auth.php,Everything works fine!,
So what's the problem?thx

[2016-03-08 07:12] abcsun opened #564 "question with Lumen 5.2"
anyone knows which version works well with Lumen 5.2 ?

when i tried to use  the JWTAuth facade, an exception was logged as below
[code]
and my composer.json
[code]

[2016-03-08 07:46] hopewise commented on #561
Ok, I found the solution by:

[code]

but then I got this error:

`{"message":"Undefined index: provider","status_code":500,"debug":{"line":152,"file":"\/share\/vendor\/illuminate\/auth\/AuthManager.php","class":"ErrorException","trace":["#0 \/share\/vendor\/illuminate\/auth\/AuthManager.php(152): Laravel\\Lumen\\Application->Laravel\\Lumen\\Concerns\\{closure}(8, 'Undefined index...', '\/share\/v

[2016-03-08 08:49] driesvints commented on #401
I guess this can be closed.

[2016-03-08 09:07] patrickdronk commented on #564
Got the same problem. And i'm not that skilled to solve this xD. Have been searching for a while no succes :(

[2016-03-08 09:47] patrickdronk commented on #564
in your config/jwt.php replace existing code with

      'auth' => function ($app) {
          return new Tymon\JWTAuth\Providers\Auth\IlluminateAuthAdapter($app['auth']);
      },

      'storage' => function ($app) {
          return new Tymon\JWTAuth\Providers\Storage\IlluminateCacheAdapter($app['cache']);
      }

[2016-03-08 20:49] #401 closed

[2016-03-09 00:55] mtpultz commented on #513
@tymondesigns seems worth adding a login action to the guard to allow for easy registration (this is more of a note).  If I have time on the weekend I'll have a look at it.

[2016-03-09 00:59] mtpultz opened #565 "Laravel 5.2 JWTGuard Ability to Add Conditions to Authentication"
Seems like most of our applications check the active-level of the user prior to login, but this doesn't seem to be easy to implement into attempt, which only goes off $credentials.  It would be nice to have an easy way to verify other user attributes during authentication.

[2016-03-09 01:04] abcsun commented on #564
@patrickdronk my jwt.php is the same as you posted. any other suggests, thanks

[2016-03-09 01:05] #565 closed

[2016-03-09 01:06] dtirer opened #566 "Getting User After Initial Middleware Authentication"
After applying the `jwt-refresh` (or auth) middleware to a group of routes, the user validates successfully and the request proceeds.  However, In a Controller, if I then want to retrieve the User that I just authenticated via the Middleware, how do I do that?  I suppose I could call `JWTAuth::parseToken()->toUser();`, but that seems redundant because the Middleware presumably just ran the same co

[2016-03-09 01:24] abhimanyusharma003 commented on #566
You need to set `Authorization Bearer {token}` as header. Also make sure that token get change after every request because you are using jwt-refresh.

[2016-03-09 02:33] dtirer commented on #566
@abhimanyusharma003 Thanks for the info, but like I said, I am successfully accomplishing this.  The middleware is authenticating the User.  However, my question is, after the middleware passes and the user is routed to my controller, how do I retrieve the User which the middleware successfully authenticated without running `authenticate` again?

[2016-03-09 03:36] gerob commented on #566
@dtirer You would use `Auth::user()`

[2016-03-09 04:15] dtirer commented on #566
@gerob thanks but that doesn't seem to work, it just returns NULL.  I know the token works though because if I `dd(JWTAuth::parseToken()->toUser())`` it returns a User model.  But applying the middleware and then trying to retrieve the User in a Controller with `Auth::user()` just seems to return Null

[2016-03-09 04:25] gerob commented on #566
@dtirer You must have something else interfering with your user info.

I basically have this.

[code]

[code]

[2016-03-09 04:28] dtirer commented on #566
@gerob as I just discovered, `Auth::user()` seems to work with `jwt.auth`, but not with `jwt.refresh`.  My  route group is setup as follows:

 `Route::group(['middleware' => ['jwt.refresh']], function () {`

Am I going about this incorrectly?

[2016-03-09 04:36] gerob commented on #566
What the `jwt.refresh` does is send back a new token if your old one has expired. You would need to make another request to be able to retrieve the user.

`Route::group(['middleware' => ['jwt.auth', 'jwt.refresh']], function () {`

[2016-03-09 04:38] dtirer commented on #566
@gerob Ok I think I figured it out.  You can use both Middleware on the route group, however, it seems that `jwt.refresh` has to be before `jwt.auth`:

` Route::group(['middleware' => [ 'jwt.refresh', 'jwt.auth']], function() { `

Now, I can use `Auth::user()` to access my User, and my token will regenerate with every request!

[2016-03-09 04:42] gerob commented on #566
I don't know that you should have to refresh the token on every request. The refresh middleware has a check for an expired token where it returns an error.

https://github.com/tymondesigns/jwt-auth/blob/master/src/Middleware/RefreshToken.php#L33

[2016-03-09 04:47] dtirer commented on #566
@gerob hm, but per the docs, It seems the idea is that it should be on every request, so that it functions as a single use token:

"This middleware will again try to parse the token from the request, and in turn will refresh the token (thus invalidating the old one) and return it as part of the next response. This essentially yields a single use token flow, which reduces the window of attack if a

[2016-03-09 04:49] gerob commented on #566
That makes sense. I'm glad you got it figured out. :)

[2016-03-09 04:49] dtirer commented on #566
@gerob thanks for your help!

[2016-03-09 04:49] #566 closed

[2016-03-09 08:37] matiux commented on #550
Ping!

[2016-03-09 11:24] nareshnraj opened #570 "AngularJS Remember me functionality using JWT Auth"
Hi All,

I have developed an Spring Web application using Angular JS. For the current project the client side authentication is using Cookies.
After learning the advantage JWTs, I wish to rewrite the application Authentication using JWTs.

My concern is How to handle "Rember Me" Functionality using JWT in AngularJS.

If anyone of you experts can share me suggestion or code. It would be really help

[2016-03-09 11:25] djoks opened #571 "How do I install this?"
I want to be able to use the BLACKLIST_GRACE_PERIOD feature, I updated to the lastest with composer:

""tymon/jwt-auth": "5.*","

However this feature did not appear to be in it, it only appears to be in the "dev-develop@dev"
and when i change to that and then try to publish it I get an error:

" [Symfony\Component\Debug\Exception\FatalErrorException]
  Class 'Tymon\JWTAuth\Providers\JWTAuthServic

[2016-03-09 14:15] abhimanyusharma003 commented on #571
It is tagged as `1.0.0-alpha.1` so you can use ` "tymon/jwt-auth": "1.0.0-alpha.1",`
Also you have to use
[code]
There are many more things that are change little bit, you have wait for docs if you don't know what you are doing or you will break things.

[2016-03-09 15:24] BrettTrotter commented on #376
I started out with Lumen and 0.5 of your JWTAuth and had gotten everything working with some fiddling, but now that your project has evolved, I've struggled a bit to convert my project to use the new version of things. I don't suppose I could add an additional request specifically for documenting the conversion from 0.5 to present with Lumen in mind?

[2016-03-09 16:54] djoks commented on #571
Oh okay, thank you very much, good to know. :D

[2016-03-09 19:33] #571 closed

[2016-03-09 19:34] tymondesigns commented on #563
We'd need to see your error stack trace

[2016-03-09 19:46] mateusjatenee commented on #570
You have to implement it. JWT will just return you a token — it's up to you to save that token in your application and use it later. Just set the right expiration time.

[2016-03-09 20:07] tdhsmith commented on #570
Yeah it's up to you to supply this. Generally the choice for webapps is between cookies and the various HTML storage APIs (i.e. `localStorage`, `sessionStorage`). Cookies have the potential to be much more robust to XSS attacks, but they make front-end manipulation of the token challenging-to-impossible, compared to the storage APIs.

If you're building a mobile or desktop application you'll have

[2016-03-09 20:17] tdhsmith commented on #561
Version 0.5.* really has no solid Lumen support. It depends on a number or Laravel-specific assumptions.

You might be able to continue down this route injecting the necessary dependencies, but it will be much easier to move to the 1.0.0-alpha1 branch. There you can use the `jwt` auth driver which works much more smoothly with Lumen.

[2016-03-09 20:26] tdhsmith commented on #564
You're going to have a hard time getting it to work with 0.5. Try the new 1.0.0-alpha1 tag. @mtpultz made a great guide on setting it up Lumen with that branch in https://github.com/tymondesigns/jwt-auth/issues/513#issuecomment-186087297.

[2016-03-09 20:40] tdhsmith commented on #550
Are you still wishing to use the ID as your JWT's subject field?  Do you have some sort of ID getter method on the User?  If so, you can just repurpose [the internals of the `fromUser` method](https://github.com/tymondesigns/jwt-auth/blob/0.5.9/src/JWTAuth.php#L91):

[code]

If you want to use a different JWT subject, you'll want to change the `identifier` config value to that field.

Care to expa

[2016-03-09 23:49] jonsa commented on #564
@abcsun  Here is a [gist](https://gist.github.com/jonsa/90a8bf9b4ecac7f9dd2d) I made with the changes I needed to make to get JWT working on a fresh lumen project. You should be able to download the ZIP and just paste the files into the project directory.

[2016-03-10 01:09] jonsa commented on #564
I didn't see at first that you used Dingo aswell. Here is a similar [gist](https://gist.github.com/jonsa/ab3a07ab8938375a6c9f) but using Dingo to create the API routes. Unfortunately this [commit](https://github.com/dingo/api/commit/5775a31f887ac52999bcac5e589af6cb6c64bae9) broke the authentication process when using the dev branch of jwt-auth. Which is why there is a hardcoded commit reference in

[2016-03-10 06:16] abcsun commented on #564
Thanks for your [gist](https://gist.github.com/jonsa/ab3a07ab8938375a6c9f) @jonsa , it works well.
@tdhsmith thanks for you link to #513

[2016-03-10 06:16] #564 closed

[2016-03-10 06:47] hopewise commented on #561
Nice to see the new branch :+1:  Would I still need to write a guard to authenticate laravel users via jwt? what about middleware in this case? is there an example?

[2016-03-10 09:20] pensacola1989 commented on #563
sorry, no more logs or tracks I was got, just crash, but when I leave the config clean,which just set "defaults" guard to "web", it works as expected...So I just keep guard "web" now, I haven't see your source code yet, but Is jwt-auth works without "auth.php"?

[2016-03-10 09:24] pensacola1989 opened #579 "some confuesd about the refresh token(not a issue, just for discussing)"
as We know, like facebook, twitter's mobile app, jsut need to login once,(never need login again)
**Except**
"you haven't open the app for a long time(for example: 1 week or other)"

and I figure that , In jwt.php

[code]

does this mean "If user reached the 'refresh_ttl(notice not ttl :D)', the user is required to be logged in again with their pass? and does "JWT-Auth" consider this scene? thanks

[2016-03-10 09:53] Brave-Cheng commented on #579
Thanks @pensacola1989 . i have same problem with it.  i'm alse confused how to do with the refresh_ttl

[2016-03-10 10:13] tymondesigns commented on #275
See above PR for more discussion on this

[2016-03-10 10:13] #275 closed

[2016-03-10 10:14] tymondesigns commented on #307
This is done, and is currently part of the 1.0.0-alpha1 release

[2016-03-10 10:14] #307 closed

[2016-03-10 10:15] tymondesigns commented on #318
A recent change in the service provider might have solved this.

[2016-03-10 10:15] #318 closed

[2016-03-10 10:15] #320 closed

[2016-03-10 10:16] #327 closed

[2016-03-10 10:16] #328 closed

[2016-03-10 10:17] tymondesigns commented on #338
Docs coming soon. It will now be a 1.0.0 release

[2016-03-10 10:17] #338 closed

[2016-03-10 10:19] tymondesigns commented on #351
@igostavro did you resolve this?

[2016-03-10 10:19] #351 closed

[2016-03-10 10:20] #394 closed

[2016-03-10 10:21] #403 closed

[2016-03-10 10:22] #419 closed

[2016-03-10 10:27] tymondesigns commented on #422
@cviebrock have you successfully gotten the Guard working as expected now? I think everything should be OK with the `1.0.0-alpha1` release

[2016-03-10 10:30] tymondesigns commented on #539
@stuartm any update on this? Did you raise it with namshi/jose

[2016-03-10 10:32] tymondesigns commented on #539
Ah I see that you did https://github.com/namshi/jose/pull/85 :+1:

[2016-03-10 10:34] tymondesigns commented on #547
A sentinel provider is included on the develop branch so you could use that or back port it for `0.5` if you like

[2016-03-10 10:34] #547 closed

[2016-03-10 10:59] pensacola1989 commented on #579
@Brave-Cheng I think
I think jwt-auth already handle with it ,but we misunderstand *"within a 2 week window of the original token being created"* which means if you haven't refresh for 2 weeks, that required to login again ,am I right?
@tymondesigns

[2016-03-10 14:04] igostavro commented on #351
Never seemed to happen again. Not sure what caused it.

Thanks for the help though:)

Sent from my iPhone

On Mar 10, 2016, at 4:19 AM, Sean Tymon <notifications@github.com<mailto:notifications@github.com>> wrote:

@igostavro<https://github.com/igostavro> did you resolve this?

-
Reply to this email directly or view it on GitHub<https://github.com/tymondesigns/jwt-auth/issues/351#issuecomment-1947

[2016-03-10 14:13] matiux commented on #550
What do you mean with "you can just repurpose" ?
in my controller I can't use makePayload because in 0.5 version is private.

In dev branch, the behavior is right also with private property beacuse my User class implements the interfaces with getJWTCustomClaim() and getJWTIdentifier()

[2016-03-10 15:04] matiux opened #583 "Namshi problem after dev-develop@dev update"
After dev-develop@dev update, I get this error:

Argument 3 passed to Tymon\JWTAuth\Providers\JWT\Namshi::__construct() must be of the type array, null given

[2016-03-10 15:06] mirageisme commented on #339
Sometimes you might need to add it manually when `$resource ` is not sending `X-Requested-With` correctly

[code]

[2016-03-10 15:44] cviebrock commented on #422
I'll try upgrading to the `alpha` release later this week and see what (if anything) breaks.

BTW, do you have any new documentation to go along with this release?

[2016-03-10 20:32] tdhsmith commented on #579
Yes. The token can be refreshed until `refresh_ttl` minutes have passed *from the original token creation*.

![image](https://cloud.githubusercontent.com/assets/1791252/9459832/860d7370-4ac5-11e5-9b01-d4f78751209f.png)

[2016-03-11 02:21] Brave-Cheng commented on #579
@tdhsmith  you have not reply above problem.

if usere reached the 'refresh_ttl', so the user must be logged in again?

[2016-03-11 03:46] pensacola1989 commented on #579
@Brave-Cheng  refresh_ttl means "if you haven't refresh your token for a long time"

[2016-03-11 03:50] pensacola1989 commented on #579
@tdhsmith  thx for the reply，still some questions about the “jwt.refresh” middleware， I think "jwt.refresh" middleware for the "refresh route" is to solve (if you want get the old token, you need privoder the token, but "jwt.auth" will throw a "expiredExceptin", so we need "jwt.refresh"," is that correct?

[2016-03-11 05:18] jsiebach commented on #395
@ilvalerione @nathenapse It's not mandatory to use User, you just need to change your user class in config/auth.php as well

[2016-03-11 17:20] CLOUGH commented on #83
I would really love if i could get some information about install the dev or alpha version so I can use the the grace period for blacklisted tokens. I having major issues in my angular application with asyn calls when the token is being refreshed.  I would just love some docs or a few instruction on how to install the dev/alpha since there are some changes that are not compatible with 5.9

[2016-03-12 11:56] jonlambert commented on #179
Hi, I'm having this issue with a fresh Lumen install and Dingo API. How can I rectify it?

[2016-03-14 12:26] rakesh-ideal opened #595 "class 'Illuminate\Auth\SessionGuard' does not have a method 'createJwtDriver'"
Can anybody please help me to get rid out of this error -
call_user_func_array() expects parameter 1 to be a valid callback, class 'Illuminate\Auth\SessionGuard' does not have a method 'createJwtDriver'

[2016-03-14 14:13] rakesh-ideal opened #598 "Class 'TymonJWTAuthProvidersJWTAuthServiceProvider' not found"
Did anyone face this error? Please help me if you resolved it.I am getting this error when running following command -
php artisan vendor:publish --provider="TymonJWTAuthProvidersJWTAuthServiceProvider"

Class 'TymonJWTAuthProvidersJWTAuthServiceProvider' not found

Thanks!

[2016-03-14 14:15] tymondesigns commented on #598
What version of this package are you using?

[2016-03-14 14:16] tymondesigns commented on #595
What does your `config/auth.php` look like?

[2016-03-14 15:00] ayyobro opened #599 "Reflection Exception when trying to publish the config"
Here's my setup:
- Homestead on vagrant
- Laravel 5.2
- using JWT Auth 0.5.*

Ran composer update, went fine.
Added the service provider and facade items to the app.php config.

Everything went fine until I tried to run this command:
[code]
This is the stack trace that I get back after the error is thrown:
[code]

Any ideas?

[2016-03-14 15:03] ayyobro commented on #599
Ignore this one fellas, definitely was a typo in the app.php file.

I'll just be on my way.

[2016-03-14 15:03] #599 closed

[2016-03-14 21:13] mateusjatenee commented on #570
I think this issue should be closed, no?

[2016-03-14 21:49] tymondesigns commented on #570
Yup

[2016-03-14 21:49] #570 closed

[2016-03-14 22:30] tymondesigns commented on #583
is this issue present when requiring `1.0.0-alpha1` ?

[2016-03-15 05:10] gemox94 commented on #598
I'm not sure but maybe is beacause the slashes are missing

[2016-03-15 09:19] c-mccarthy opened #600 "Lumen exception handling in 1.0.0-alpha1"
I noticed that one change in the alpha version is errors now throw a Symfony-type exception rather than returning a json response.

Example: https://github.com/tymondesigns/jwt-auth/blob/develop/src/Http/Middleware/BaseMiddleware.php#L45

If I'm using this with Lumen, do I need to add global exception handlers for all error classes? If so, do you have an example handy that I can copy?

[2016-03-15 14:16] nerijunior opened #601 "Throw error instead json response"
I'm working on an API with a default response pattern, but the middlewares doesn't throw exceptions they return json responses:

`Tymon\JWTAuth\Middleware\GetUserFromToken`
[code]

If I need to change the default response how can I do it?
The only way is rewriting the middleware?

[2016-03-15 22:15] akanevsky opened #602 "JWTAuth::refresh generates an already blacklisted token"
I am working on a solution that ensures that there are no concurrent token refresh requests. As a result, I was able to identify and verify a problem, which is that the `jti` of a refreshed token occasionally seems to end up in the blacklist before anyone had a chance to use it in a subsequent request. After spending the entire day on this problem, I wasn't able to determine the root cause. My cod

[2016-03-15 23:14] jrmadsen67 commented on #179
a quick fix for Lumen:
in app/config.php add:

$app->alias('cache', 'Illuminate\Cache\CacheManager');
$app->alias('auth', 'Illuminate\Auth\AuthManager');

[2016-03-15 23:15] kylesquared commented on #179
+1 @jrmadsen67

[2016-03-15 23:46] akanevsky commented on #602
It further seems that the `jti` of the new token is equal to the `jti` of the old token. How can this be?

[2016-03-16 00:29] akanevsky commented on #602
I see that the `jti` can be the same when two requests are very close in time. This is because of how `jti` is generated in the current version of the package. I temporarily circumvented the problem by implementing a custom refresh process that forces a unique `jti` in every new token. I see that this has been solved (#364) in the `develop` branch, so I'm closing the issue.

[2016-03-16 00:29] #602 closed

[2016-03-16 09:22] deepslux opened #603 "Best Practice for detect anonymous or authenticated"
This is not an issue. But instead, I would like to find out what is the best practice to detect if current connection is whether anonymous or authenticated user.

Let me describe how I did mine first.

I have a `BaseEloquent` class (inherit from `Eloquent`) with a static method called `user()` like below

[code]

So, everywhere in my Eloquent classes (e.g. Department, Company) can immediately call

[2016-03-16 09:45] aschwin opened #604 "JWT and Codeception teardown problem"
Hi all,
I have really have no idea where to put this, since it is a combination of several parts working together.

I'm unit testing Laravel 5.2 with Codeception. Laravel 5.2 is used for a REST back-end (yes, I know of Lumen). I use JWT-Auth to generate tokens.

It works quite smoothly, since the API tests in Codeception work fine. Now, in Codeception the teardown is done on all the modules that i

[2016-03-16 09:55] tymondesigns commented on #604
It looks to me that the package you are using, makes various assumptions that you are using session based authentication.

I think it needs to be refactored and decouple the Auth inline with laravel 5.2.

I't sure what the exact error you're seeing is, since I haven't added the logout method to the guard since it is [not required by the contract](https://laravel.com/api/5.2/Illuminate/Contracts/Au

[2016-03-16 09:56] tymondesigns commented on #603
what version of laravel and this package are you running?

[2016-03-16 09:58] tymondesigns commented on #601
Rewriting the your own middleware is an option.

Or you could catch the symfony http exceptions globally and return responses from there, since the exception contains everything you would need to know to return a decent & informative response

[2016-03-16 09:58] #601 closed

[2016-03-16 09:59] tymondesigns commented on #598
if that is exactly the command you entered then yes the lack of slashes is your issue

[2016-03-16 09:59] #598 closed

[2016-03-16 10:18] aschwin commented on #604
So, you are saying that in JWTGuard line 115-128:
[code]
Is not actually there?

[2016-03-16 10:21] tymondesigns commented on #604
sorry brain fart there... my point stands on the codeception package anyways

[2016-03-16 10:30] deepslux commented on #603
Appreciate for your fast response.

I am currently using Laravel 5.1.15 and tymon/jwt-auth is 0.5.* (which i believe is 0.5-dev)

[2016-03-16 11:23] deepslux commented on #603
What I would like to have is something like below, but just don't know what's the coding for it.
[code]

Or anyone could recommend on how you achieve similar like above without try catch?

[2016-03-16 18:12] bgarrison25 commented on #340
@tymondesigns I realize this has been closed and I apologize for bringing this up but I have a situation where I need both. We have a one-off user that wants a one time non-expiring token while everybody else will just authenticate and get a new token every time. This fix seems to be a one or the other method. Is there any way to implement both within the same application?

[2016-03-16 18:37] angelmartz opened #605 "How use Policies Laravel 5.2 + JWT"
I'm trying use Policies
https://laravel.com/docs/5.2/authorization#policies

But dependency injection , inject current user auth

public function update(User $user, Post $post)
    {
        return $user->id === $post->user_id;
    }

[2016-03-17 07:26] JustinLien commented on #536
re: "i'm sure. my header store TOKEN"

Prove it. It should have "Authorization:Bearer ..."

[2016-03-17 08:17] geea789 commented on #111
why not use \Config::set('jwt.user' , "App\\Customer"); for different tables
in middleware ?

[2016-03-17 08:58] pankajthakur007 opened #608 "FatalErrorException in ProviderRepository.php line 146: Class 'Tymon\JWTAuth\Providers\JWTAuthServiceProvider' not found"
I am following all these step still i am getting error during run the command :

**php artisan vendor:publish --provider="Tymon\JWTAuth\Providers\JWTAuthServiceProvider"**

error : Class 'Tymon\JWTAuth\Providers\JWTAuthServiceProvider' not found
Install via composer - edit your composer.json to require the package.

"require": {
    "tymon/jwt-auth": "0.5.*"
}

Then run composer update in your ter

[2016-03-17 19:29] angelmartz opened #609 "NamshiAdapter does not exist"
Laravel : 5.2
"tymon/jwt-auth": "0.6.*@dev",

I get

ReflectionException in Container.php line 738:
Class Tymon\JWTAuth\Providers\JWT\NamshiAdapter does not exist

[2016-03-17 19:30] tymondesigns commented on #609
You need to republish the config

[2016-03-17 19:30] #609 closed

[2016-03-17 20:17] mtpultz opened #610 "Incoming Requests with JWT in Header Occuring within Guest Middleware Route Fail"
If a user is authenticated and sending a JWT up in the header with each request, but the routes being hit are within a guest middleware route group they don't invoke the controller action associated with the end point and instead return `{ token: {} }`.

During testing of an endpoint I kept getting a 200-level response with `{ token: {} }`.  I spent about an hour making sure the data, route, heade

[2016-03-17 23:01] tymondesigns commented on #610
Specifically what is the code in your guest middleware?

Also what versions of laravel/jwt-auth are you using?

[2016-03-18 07:45] akimo4 opened #611 "2 Token with 2 exp time diffirence"
Hi all

I need create 2 token, and each 1 token has 1 exp time.

[2016-03-18 08:00] deepslux commented on #603
Anyone helping? Or you guys are also using try catch like how I did?

[2016-03-18 09:13] KhaingWah opened #612 "Session token expire after ttl limit"
@tymondesigns

I got issues about token expire after ttl time.
I can not do refresh token, why?
Can let me know that resolved?
 in my composer, I used "tymon/jwt-auth": "0.4.*", how can i resolve?
Pls help me resolved result.

With Thanks
Khaing

[2016-03-18 09:23] matiux commented on #583
"tymon/jwt-auth": "dev-develop@dev",

[2016-03-18 11:47] crynobone commented on #583
Di you have the updated config schema?

[2016-03-18 18:27] angelmartz commented on #605
With dev jwt-auth version working fine

[2016-03-18 18:27] #605 closed

[2016-03-19 11:28] rakesh-ideal opened #614 "Token provide wrong user id"
I am using laravel 5.2 with jwt auth for making API, it was working fine and suddenly

```$user = JWTAuth::parseToken()->authenticate();```
gives me wrong user from database. does anyone help to get out from this issue, is there any problem in my model?

I only added
``` use SoftDeletes;```
in my model.

but i do not use it with Users model.

[2016-03-20 12:04] Fakeronline opened #615 "When the 1.0 version of the official release?"
When the 1.0 version of the official release?

[2016-03-20 12:08] jonagoldman commented on #615
I see there is an alpha release already. Will be great to get basic documentation in the meanwhile so we can  start playing with it.

[2016-03-20 23:44] rawbknalb commented on #341
anything new with this issue? i get the same problem

[2016-03-21 09:38] #614 closed

[2016-03-21 09:58] MohamedQabbani opened #616 "Token Invalid Error"
After i got token value then make get request as ?token=value, i got {"error":"token_invalid"} in the second request.

[2016-03-21 19:42] AdnanNuruddin opened #617 "Overriding required claims."
I was hoping to override the default 'exp' value for laravel jwt. I am using this way,

[code]
But when i read the payload, exp is set to the default value instead of the custom one I just gave. Is there a way to override this?

[2016-03-21 20:12] akanevsky commented on #617
You have an extra space after `exp`. That is likely to be the cause of the issue.

[2016-03-21 20:18] akanevsky commented on #616
Can you post some of the relevant code that handles your token value?

[2016-03-22 09:47] MohamedQabbani commented on #616
Route::group(['middleware' => ['jwt.auth', 'jwt.refresh']], function() {
        Route::get('test', function(){
            return response()->json(['foo'=>'bar']);
        });
    });

[2016-03-22 13:07] akanevsky commented on #616
There is an issue in the 0.5.* branch when using both jwt.auth and jwt.refresh middleware on the same route. Please refer to https://github.com/tymondesigns/jwt-auth/issues/336#issuecomment-163405382 for more information.

[2016-03-22 16:17] MohamedQabbani commented on #616
Thank you

[2016-03-22 16:17] #616 closed

[2016-03-22 18:44] YasserHossam opened #618 "How to Invalidate previous tokens after a second authenticate"
When i authenticate for my second time(sent a request with credentials twice), i've tried to send the old token that i've got from the first authenticate and it worked (That means the second authenticate didn't invalidate the first token), how can i invalidate the first token after the second login

[2016-03-22 20:37] mtpultz commented on #610
Sorry @tymondesigns, looks like this is an issue on our end due to some changes to the default guest middleware.

[2016-03-22 20:37] #610 closed

[2016-03-23 04:52] cristianmartinez commented on #179
+1 @jrmadsen67

[2016-03-23 08:18] thorne51 commented on #356
@humbleBeginner How did you get around the 'invalid credentials' error? I've been struggling with this for a day now and can't seem to figure out why JWTAuth::attempt() isn't working. I've even loaded the model through tinker and manually verified that the values are correct.

[2016-03-23 09:24] KrisTemmerman commented on #539
The changes in namshi/jose#85  don't work for me, any fixes?

[2016-03-23 14:31] boedy opened #625 "Memcached: refresh_ttl > 30 days"
When using Memcached as storage provider: having a refresh_ttl greater then 30 days means it will convert the expiry value to an unix timestamp instead of minutes relative to the current time. This may cause tokens not te be blacklisted.

[code]

Source: http://php.net/manual/en/memcached.expiration.php

[2016-03-23 20:15] bgarrison25 opened #628 "Laravel 5.2 / jwt-auth 0.5.9 - Looking for App\Users even though config is changed and config cache cleared"
So I installed your package on a laravel 5.2 api of mine and am creating a method in the users controller called authenticate like so:

[code]

When I run this I get `Fatal error: Class '\\App\\User' not found in /var/www/famsapi/vendor/laravel/framework/src/Illuminate/Auth/EloquentUserProvider.php:130`. I would assume that this has to do with the config but i've updated it to point to `App\Models

[2016-03-23 20:22] #628 closed

[2016-03-23 20:22] bgarrison25 commented on #628
NM....this was an issue in auth.php still using App\User::class

[2016-03-23 21:17] michelecurletta opened #629 "Add the possibility to store token into response's cookie"
What do you think about adding the possibility to choose from a token sent via Json (as is) to a token stored into a response's cookie?
According to [this article](https://stormpath.com/blog/where-to-store-your-jwts-cookies-vs-html5-web-storage/) both are valid alternatives with different pros/cons.

[2016-03-23 21:20] michelecurletta commented on #615
Why don't include this type of authentication into Laravel framework, enriching its auth systems?

[2016-03-23 21:40] tymondesigns commented on #629
I'll take a look into it, thanks for the link

[2016-03-23 21:42] tymondesigns commented on #625
I will look into it, thanks!

[2016-03-23 21:44] jonagoldman commented on #615
@michelecurletta my guess is because Laravel is a general purpose framework, and JWT is a very specific auth method. But I could be wrong.

[2016-03-23 21:51] michelecurletta commented on #615
@jonagoldman actually Laravel provides 2 auth methods out of the box: cookie based and token based.
JWT could be another alternative: this package could simply enrich Laravel with another auth method.
Three available auth methods are better than two ;)

[2016-03-24 14:37] ashleigh-hopkins opened #631 "QueryString Parser does not do what it says it does."
The QueryString parser seems to indicate that it will parse a token out of the query string, when in fact it's taking the token out of any provided input.

`public function parse(Request $request)
{
    return $request->input($this->key);
}`

This is causing conflicts in my development environment when specifying 'token' as an input field by JSON, and also as a query string (I want it to use the t

[2016-03-24 23:28] morfin commented on #343
Just to clarify @matiux Doctrine solution.

If you're using latest 0.6.*@dev, you don't need to override the auth property.

@matiux suggested:
[code]
With latest code you can leave the default:
[code]

You just need to implement Tymon\JWTAuth\Contracts\JWTSubject in your User Entity, and then define the interface methods like this:
[code]

[2016-03-26 22:34] nuledgm opened #633 "Call to undefined method Tymon\JWTAuth\JWTAuth::encode()"
Trying to call JWTAuth::encode(), and am receiving the following error:

`public function generateToken(){

        $customClaims = ['foo' => 'bar', 'baz' => 'bob'];

        $payload = app('tymon.jwt.payload.factory')->make($customClaims);

        $token = JWTAuth::encode($payload);

        die(var_dump($token));

    }`

Service Providers:

`
        Invisnik\LaravelSteamAuth\SteamServiceProvi

[2016-03-26 22:37] #633 closed

[2016-03-27 16:26] sergeikretov opened #634 "JWTSubject is not given via user() method"
I am trying to use 1.0 alpha.
When I try to authenticate user via credentials, I get:

`ErrorException in JWT.php line 57: Argument 1 passed to Tymon\\JWTAuth\\JWT::fromUser() must be an instance of Tymon\\JWTAuth\\Contracts\\JWTSubject, instance of App\\User given, called in SOMEPATH/vendor/tymon/jwt-auth/src/JWTAuth.php on line 48 and defined.`

And I did not find any helper class to convert a m

[2016-03-28 22:37] tymondesigns commented on #634
Your User class must simply implement the [JWTSubject](https://github.com/tymondesigns/jwt-auth/blob/develop/src/Contracts/JWTSubject.php) interface

[2016-03-28 22:37] #634 closed

[2016-03-28 22:38] tymondesigns commented on #631
merged

[2016-03-28 22:38] #631 closed

[2016-03-29 18:33] adilsaeed31 opened #637 "Not work into Laravel 5.2 version, DI not bind resolution error"
Further more JWTAuth::atempt() called statically while this method didn't have the static keyword.

If you fixed this error via adding private property then you have new error which is resolution bind container error.

Please let me know what to do ?

Thanks
Adil

[2016-03-29 20:28] mateusjatenee commented on #637
Are you importing the correct class?

[2016-03-29 21:17] adilsaeed31 commented on #637
Yes You can try yourself in laravel 5.2 this library doesn't work with it.

[2016-03-29 22:01] tymondesigns commented on #637
@adilsaeed31 I can guarantee this library works with laravel 5.2. You evidently have something misconfigured something.

But before anyone can help you, you need to provide more information. What does your routes/controller look like etc..

[2016-03-30 03:32] mateusjatenee commented on #637
I just created a fresh install of 5.2.27 and everything works fine. Have you registered the aliases and service provider? Are you importing the correct class?

Please share your code with us. ping @tymondesigns

[2016-03-30 07:52] kbchandiran opened #640 "refresh token"
perform the token refresh the token using the function
`$token    = JWTAuth::getToken();
 $newToken = JWTAuth::refresh($token);`
option with
`'blacklist_enabled' => true`
 i got this error
`<span class="exception_title"><abbr title="Tymon\JWTAuth\Exceptions\TokenBlacklistedException">TokenBlacklistedException</abbr> in <a title="/vendor/tymon/jwt-auth/src/JWTManager.php line 84" ondblclick="var f=

[2016-03-30 09:05] adilsaeed31 commented on #637
@tymondesigns and @mateusjatenee  Hi Guys,

Below are the steps.

1) I have added the tymon/jwt-auth package into laravel after doing composer require tymon/jwt-auth
2) Then I added the Provider and aliases to config/app.php file.

provider = 'Tymon\JWTAuth\Providers\JWTAuthServiceProvider'

Aliases = 'JWTAuth' => 'Tymon\JWTAuth\Facades\JWTAuth' , 'JWTFactory' => 'Tymon\JWTAuth\Facades\JWTFactory'

[2016-03-30 12:18] brazenvoid commented on #640
me too!

[2016-03-30 17:50] shanavas786 opened #641 "Add custom field as payload"
Is there a way to add custom payload from table fields ?
Now payload has only `id` field in `sub` key. Is is possible to add other fields ?

[2016-03-31 01:03] ddouble commented on #640
you must use the latest token to refresh, once you get new token, the old token will  be blacklisted immediately.  Next time, you must use the new token to get next new token ...  and so forth

[2016-03-31 02:04] phoenixg opened #642 "JWT-auth custom user implementation"
Here is my route:

[code]

/app/Api/Controllers/AuthController.php

[code]
This returns `{"error":"invalid_credentials"}`

My db user table is: `User`, my fields are `usr_email` and `usr_password`

My attempt method is my own design, which use salt and md5 to verify password, how can I modify `attempt` function to make it work? And how can I use my custom field rather than default field?

[2016-03-31 02:35] ddouble commented on #618
**JWTAuth::invalidate()**,  modify **blacklist_enabled=true**  in config/jwt.php

[2016-03-31 03:38] mtpultz commented on #637
@adilsaeed31, you're using JWTAuth, which definitely works for Laravel 5.2 as @tymondesigns mentions, but with Laravel 5.2 you can take advantage of Guards and use this packages JWTGuard.  There is a guide posted on how to set it up at: https://github.com/tymondesigns/jwt-auth/issues/513.

Hope this helps.

[2016-03-31 07:04] kbchandiran commented on #640
@ddouble i have used the new token only but before i got the refreshed token the old token get blacklisted so only i could not generate the refreshed token
@brazenvoid i have tried `\JWTAuth::parseToken()->refresh()`
but i got this error
`<span class="exception_title"><abbr title="Tymon\JWTAuth\Exceptions\JWTException">JWTException</abbr> in <a title="/vendor/tymon/jwt-auth/src/JWTAuth.php line 20

[2016-03-31 10:46] AdnanNuruddin commented on #617
What a silly mistake. Thanks for the quick reply.

[2016-03-31 10:46] #617 closed

[2016-03-31 13:09] jonaholsson opened #644 "How to authenticate from __construct instead of route?"
I have a fully working authentication using middleware in the routes, but I would also like to be able to control authentication within `__construct` of a controller.

I have tried to call the JWTAuth middleware that is being extended to Dingo Auth in this case during bootstrap, but nothing happens. I've also tried to register the JWTAuth middleware outside Dingo, but that isn't being picked up in

[2016-03-31 13:49] jonaholsson commented on #644
I just noticed that users are actually authenticated when providing a correct bearer, but unauthorized users are being let through anyway (when using the middleware in `__construct`). Shouldn't this be restricted by the JWTAuth middleware automatically? Am I missing something vital here, such as verifying authenticated user in `__construct`?

[2016-03-31 18:27] rennanfelipe commented on #644
Use "middleware" method in your "__construct".

 Apply the jwt.auth middleware to all methods in your controller
 except for the authenticate method. We don't want to prevent
 user from retrieving their token if they don't already have it
<?php
...
use JWTAuth;
...
public function __construct(){
           $this->middleware('jwt.auth', ['except' => ['authenticate', 'viewRegistrar', 'register']]);

[2016-03-31 19:18] jonaholsson commented on #644
Thanks, but that's what I'm doing. I have tried both the build-in provider in Dingo ("api.auth" in my case) as well as the JWTAuth provider ("jwt.auth"). Both works just fine when used in routes.php, but doesn't do anything to restrict unauthorized users when used in `__construct`.

My bootstrap:
[code]

My controller:
[code]

This works just fine if used in routes.php:
`$api->version('v1', ['name

[2016-03-31 19:22] YasserHossam commented on #618
thanks that helped me (Y)

[2016-03-31 22:55] mtpultz opened #645 "JWTGuard Token Refresh Race Conditions"
I can see how to refresh the authentication token and that it requires the previous token, but how are race conditions avoided if the about to expire token is refreshed and then invalidated/blacklisted?  This seems to be a ongoing issue for us with regards to AngularJS applications as the API is handling a lot of concurrent requests.

Also, is there any suggestions on how to implement middleware f

[2016-04-01 07:48] #645 closed

[2016-04-01 08:09] mtpultz opened #646 "Laravel 5.2 JWTGuard TokenExpiredException Throws 502 Error - No Exceptions in Development Branch"
I setup global exception handling, but it seems to be throwing a 502 error when the token TTL has expired, as well as the refresh TTL.  From the logged errors it appears to be the handler with a call to an undefined method TokenExpiredException::getStatusCode, which when I looked the exceptions aren't in the development branch.  Is it possible to have them included in this branch?  Or are they bei

[2016-04-01 15:27] valVk commented on #420
in case if someone need custom password verification it just may use custom auth provider.

[2016-04-01 21:15] #339 closed

[2016-04-02 15:49] valVk commented on #642
You have to extend auth method, instead of eloquent implement your own.
http://stackoverflow.com/questions/32243363/how-to-create-laravel-5-1-custom-authentication-driver

https://laracasts.com/discuss/channels/laravel/replacing-the-laravel-authentication-with-a-custom-authentication

I've started from these two links.

JWT is using default auth.

[2016-04-02 20:21] djoks opened #647 "JWT Token That Never Expires For A Specific Route Group"
I have a laravel web application. Several 3rd parties connect to the APIs on my server, the website uses those same APIs and so does my mobile app. Now for the website I am fine with the token expiring after a certain time preferably 1 hour. However for my mobile app I do not want the token to expire at all.

I know with this I can do this in the config file or my .env file but this applies to the

[2016-04-03 02:10] djoks opened #648 "Unable to override claim"
Hello I have tried to override **exp** with the following code:

[code]

However when I check the token it always defaults to the default value set in my **.env** file.

[2016-04-04 04:05] 0plus1 opened #649 "Multiple configuratons"
Hi, is it possible to have two or more parallel JWT configuration running. Specifically a different JWT_SECRET and JWT_TTL?

Thank you

[2016-04-04 04:07] 0plus1 opened #650 "JWT_REFRESH_TTL can be set as null?"
Hi, just like JWT_TTL can we have null JWT_REFRESH_TTL for tokens that can be refreshed at any time?

Thanks

[2016-04-04 04:38] mattboban commented on #560
I second this. I would actually need it on a project in the next day or so. Is this beeing worked on by somebody or should look at the implementation from my end?

[2016-04-04 08:00] Sopamo commented on #560
I worked around the issue by calling parseToken manually prior to the getToken call. This way the token is already stored and used by getToken:

    JWTAuth::parseToken("bearer","X-MY-AUTHORIZATION");
    $token = JWTAuth::getToken();

[2016-04-04 12:18] mattboban commented on #560
Did you implement this within a custom Middleware? And if so, could you share sample code, thanks.

[2016-04-04 12:20] Sopamo commented on #560
No, I just use it at the point where I need the token to fetch the user from the database. This is my code

[code]

[2016-04-04 12:32] mattboban commented on #560
The difference is that I need a middleware implementation. It turns out its simplistic. Create new middleware (copy from vendor folder and modify), with one line change.

[code]

This should possibly be included in the documentation.

[2016-04-04 14:40] mabilbao opened #651 "Logout implementation"
Hi guys,

Is the first time that I use JWT. Is very interesting but I have a question:
* If I want to implement a logout, is correct if I use "JWTAuth::invalidate()" for put the token on the blacklist? or I have the blacklist concept wrong?

Because the other alternative that I thought is create a field on the user table that save "last_logout" and compare the dates (between last_logout and now).

[2016-04-04 20:31] josoroma opened #652 "Using our own PEM file as a way of encoding/decoding data"
Hi Hackers!

I need to dig more about this awesome package, but I was wondering what do I have to configure or invoke in order to create a JWT into a JWS, using our own PEM file as a way of encoding/decoding data?

This is what I am currently using in my own helper to respond with an encoded token back to the client:

[code]

Thanks in advance!

[2016-04-05 09:23] phoenixg commented on #642
Thanks!

[2016-04-05 09:23] #642 closed

[2016-04-05 09:23] phoenixg commented on #642
Thanks!

[2016-04-05 09:23] phoenixg commented on #642
Thanks!

[2016-04-05 09:23] phoenixg commented on #642
Thanks!

[2016-04-05 09:23] phoenixg commented on #642
Thanks!

[2016-04-05 09:24] phoenixg commented on #642
Thanks!

[2016-04-05 09:24] phoenixg commented on #642
Thanks!

[2016-04-05 09:24] phoenixg commented on #642
Thanks!

[2016-04-05 09:24] phoenixg commented on #642
Thanks!

[2016-04-05 11:14] jonathanlundstrom opened #653 "How do I fetch and destroy all the current tokens?"
Hi!

I'm building an application and need to perform some security tests.
How would I go about fetching all the active tokens and destroying them?

I want to see what happens to all the users as the tokens are validated. They should be logged out, but I currently have no way of testing this.

Also, where are the tokens stored? I can't find them anywhere...

Regards,
Jonathan

[2016-04-05 18:29] mottihoresh opened #654 "Should timestamps be returns as numbers instead of strings?"
I came across this issue while trying to implement jwt authentication on iOS, it seems like the open source decoders are expecting those values to be number

[2016-04-06 01:58] zjien commented on #47
why have to update laravel auth.php `'model' => App\Models\User`,doesn't laravel use JWT to authenticate?

[2016-04-06 11:09] JamshadAhmad commented on #651
You can set token validity/expiry time-span in Config/jwt.php file at line # 36 (most probably)
'ttl' => 60
default is 60 minutes there, but you can extend it instead of comparing dates manually.

Also, in my opinion , yes you can do invalidate(). This will put that token (not the user) to the blacklist which means that token can not be used anymore. Every time you get a different token on authent

[2016-04-06 13:29] mabilbao commented on #651
@JamshadAhmad Thanks!

I setted my 'ttl' => 60 but I need to assure that when the user click on logout, the token will be disable.

For manage the blacklist, this api use a laravel cache, right?

[2016-04-06 14:43] JamshadAhmad commented on #651
No, tokens are not stored in laravel cache, **clearing laravel's cache does not affect tokens** and sessions. My personal guess is that they are not stored in any file, they are in memory like session or may be they are stored in session object.

[2016-04-06 15:44] mabilbao commented on #651
@JamshadAhmad Thanks for your help!

[2016-04-07 11:42] HawiCaesar commented on #608
Have you solved this? I have the same error

[2016-04-07 14:17] josoroma commented on #117
For token expiration fits: 440 Login Timeout - The client's session has expired and must log in again.

https://en.wikipedia.org/wiki/List_of_HTTP_status_codes

[2016-04-07 17:48] whyspark opened #656 "k"

[2016-04-07 17:48] #656 closed

[2016-04-07 18:28] tymondesigns commented on #654
we'll continue the discussion at #655

[2016-04-07 18:28] #654 closed

[2016-04-07 18:29] tymondesigns commented on #653
JWT's are stateless, so they are not stored anywhere. Unless they are blacklisted, in which case they will be stored via laravel's cache system until they expire naturally

[2016-04-07 18:29] #653 closed

[2016-04-07 18:33] tymondesigns commented on #651
@mabilbao

@JamshadAhmad is incorrect. When a token is blacklisted, it is stored (by default) using Laravel's cache system.

They are NEVER stored in any kind of session, since jwt's are stateless.

You are correct in that, blacklisting a token is a good way to mitigate the token being used after the fact.

[2016-04-07 18:33] #651 closed

[2016-04-07 18:34] tymondesigns commented on #650
This was added in #619

[2016-04-07 18:34] #650 closed

[2016-04-07 18:41] mabilbao commented on #651
Thanks @tymondesigns.

I readed the API logic yesterday and I am using the laravel cache for the blacklist at this moment.

[2016-04-07 18:41] tymondesigns commented on #646
I decided to remove any http specific stuff from the "service layer" exceptions. Since technically they shouldn't have any knowledge about http. That is handled further down the chain we get to controller/middleware level.

So the idea is the code that consumes the JWT services can react and respond however they like (in most cases return a http response, but that is not enforced)

Have I made tha

[2016-04-07 18:42] #646 closed

[2016-04-07 18:43] tymondesigns commented on #641
yes see https://github.com/tymondesigns/jwt-auth/wiki/Creating-Tokens#creating-a-token-based-on-anything-you-like

[2016-04-07 18:43] #641 closed

[2016-04-07 18:44] #637 closed

[2016-04-09 11:43] mehrdaad commented on #480
@tymondesigns with version 0.5.7 is it possible to assign a delay time for black listed tokens?

[2016-04-09 17:58] SibLiant opened #659 "Error: Class 'Tymon\JWTAuth\Test\Stubs\JWTProviderStub' not found"
running on 5.9

me@me-virt-ultra-15-10:/var/www/myapp$ phpunit vendor/tymon/jwt-auth/tests/
PHPUnit 4.8.24 by Sebastian Bergmann and contributors.

...........................................................E..... 65 / 79 ( 82%)
..............

Time: 481 ms, Memory: 16.00Mb

There was 1 error:

1) Tymon\JWTAuth\Test\Providers\JWT\JWTProviderTest::it_should_set_the_algo
Error: Class 'Tymon\JWTAuth\

[2016-04-10 01:42] akanevsky commented on #659
From the current version of `composer.json` for this package:
https://github.com/tymondesigns/jwt-auth/blob/0ea9a9faaf97678373b19b7be9befcf10fbade2b/composer.json#L43

[code]

From `composer` documentation (https://getcomposer.org/doc/04-schema.md#autoload-dev):

This means that the autoloader of your root application does not have the path for files in the `Tymon\JWTAuth\Test` namespace, and that

[2016-04-10 02:09] akanevsky commented on #648
What does the `.env` file have to do with the `exp` value in your token? Also, `getTimestamp()` in your code will return `false`. This is due to the year 2038 problem (https://y2038.com/). The year you are setting your date to cannot be represented by as 32-bit Unix timestamp. The value will become `0` after it is cast to an `int`. I haven't tested this, but I doubt that the package will allow you

[2016-04-10 07:54] shanavas786 commented on #641
Thank you, I have went through it already. I meant adding a payload dynamically from the authentication table in the same way `sub` key is added.

[2016-04-10 11:19] phamduong opened #660 "Auth guard driver [api] is not defined."
Hi. Greate package. Thanks for hard work

I got this error when try to use it with Lumen:
[code]

I followed this link: https://github.com/dingo/api/issues/958
Create new auth.php config file:

[code]

After debugging i found that there is no driver for **jwt**.

And in **AuthManager** class only support 2 driver: session and token.

I tried to use both of them in the **auth.php** config file. But

[2016-04-10 18:44] JPeer264 commented on #660
Hey it seems that you followed [this tutorial](https://laravelista.com/json-web-token-authentication-for-lumen). I also had troubles with this and had the same issues. I started from zero and found #564

At the end of #564 you can find some gist either with or without using dingo. The one without dingo worked perfectly for me.

[2016-04-10 23:01] mehrdaad opened #661 "Specify token black list timeout time"
Is there a way to specify a timeout before a token gets into black list.
I mean token gets black listed. but within an interval of timeout, the token is still valid.
I use the dev branch.
Tnx

[2016-04-11 02:55] phamduong commented on #660
@JPeer264 thanks a lot.

[2016-04-11 02:55] #660 closed

[2016-04-12 13:36] GuillaumeValadas commented on #615
I'm looking for a Lumen installation guide or any help i could follow.

They're not many sources from web :(

[2016-04-12 14:37] jonagoldman commented on #615
@GuillaumeValadas Check [this one](https://gist.github.com/jonsa/90a8bf9b4ecac7f9dd2d). Haven't tried it yet.

[2016-04-12 14:43] GuillaumeValadas commented on #615
Do we have an idea of the 1.0 release date ? :)

[2016-04-13 19:45] ctadlock commented on #513
How is this coming along? I have it working but Im forced to use `dev-develop` so that I can use the JWTGuard login method.

[2016-04-13 20:56] ctadlock opened #666 "calling Auth::refresh() with blacklist enabled using redis causes WRONGTYPE operation"
In `dev-develop`, if `Auth:refresh()` is called with the blacklist feature enabled it causes this exception to be thrown when using Redis for cache.

`WRONGTYPE Operation against a key holding the wrong kind of value`

![image](https://cloud.githubusercontent.com/assets/1539397/14509030/2cbdfa4e-017f-11e6-9a15-b59e6e3c6b12.png)

![image](https://cloud.githubusercontent.com/assets/1539397/14509058/

[2016-04-13 22:01] ctadlock commented on #666
After further analysis we found that this is caused by a corrupted value in the cache. We dont know what the bad value was or how it got there. We had several developers see this issue, and when we flushed our development caches it went away. Maybe this will trigger something to who wrote this related code...

[2016-04-13 22:51] crynobone commented on #666
Are you using laravel/framework between version 5.2.24 to 5.2.27?

[2016-04-14 01:18] jnuc093 opened #667 "Problem 1 - Installation request for tymon/jwt-auth ^0.5.9 -> satisfiable by tymon/jwt-auth[0.5.9]"
### with this tutrial [json-web-token-authentication-for-lumen](https://laravelista.com/json-web-token-authentication-for-lumen/)  the code is [here treeline-lumen](https://github.com/laravelista/treeline-lumen)

### how can i resolve this dependency.

[2016-04-14 04:07] NguyenTheSon opened #668 "Problem 1 - "message": "Failed to authenticate because of bad credentials or an invalid authorization header.""
![image](https://cloud.githubusercontent.com/assets/12813174/14516818/1acb6bca-0231-11e6-997c-2bcd1cb2a390.png)

[2016-04-14 06:01] evivz commented on #261
@harshitdkanodia I couldn't find a way to increase expiry time for particular user. Can you guide me on that?

[2016-04-14 09:44] khlipeng opened #669 "In lumen5.2 create token error"
## Code:

[code]
## Errmsg：

[code]

[code]

[2016-04-14 09:56] unabomber87 opened #670 "catch exception to json"
Hi everybody,
I have installed a fresh laravel installation V5.2, and implemented jwt. Everything works fine for testing credential of user and returning a valid token.
My problem is when i try to check the token following the documentation

`try {
			if (!$user = JWTAuth::parseToken()->authenticate()) {
				return response()->json('user_not_found');
			}

		} catch (Tymon\JWTAuth\Exceptions\Token

[2016-04-14 17:58] feeekkk commented on #179
why is this closed? I'm still having this issue

[2016-04-14 19:03] feeekkk commented on #583
Once I updated the config schema this error went away

[2016-04-15 10:53] jycr753 opened #675 "Issues installation " Conclusion: remove phpseclib/phpseclib 2.0.1""
Hey I keep getting this error when I install try to install

[code]

[2016-04-15 10:59] GrahamCampbell commented on #675
You need to upgrade to namshi/jose 6.x or 7.x.

[2016-04-15 10:59] GrahamCampbell commented on #675
No bug. This package already uses 6.x. Conclusion: you are trying to install, an out of date version of this package.

[2016-04-15 11:00] GrahamCampbell commented on #675
Make sure you use the latest dev version of this, and not the alpha one.

[2016-04-15 11:02] jycr753 commented on #675
Yes you are right, looks like one packages have as decencies the same library with different versions...

[2016-04-15 11:03] jycr753 commented on #675
Because when I do that I get this:

[code]

[2016-04-15 11:09] jycr753 commented on #675
My required packages are:

[code]

[2016-04-15 11:11] jycr753 commented on #675
And the full error is:
[code]

[2016-04-15 11:17] jycr753 commented on #675
and if I try to install 	`"namshi/jose": "dev-master",` still get the same error:

[code]

[2016-04-15 15:08] Luddinus commented on #513
+1

[2016-04-15 17:25] JPeer264 commented on #648
It is the same for me. I am working with Lumen 5.2. This is my simplified code:

[code]

I followed the guides but when I decode my token, everything is set to default as well.

[2016-04-16 08:20] westhacker commented on #549
Modifier vendor/tymon/jwt-auth/src/config/config.php, change` 'user' => 'App\User',` to `'user' => 'App\Models\User'`.

More configuration is in [wiki](https://github.com/tymondesigns/jwt-auth/wiki/Configuration)

[2016-04-16 08:49] JPeer264 commented on #667
Please have a look at my answer at #660
This may solve your problem.

[2016-04-16 10:00] HawiCaesar commented on #370
I added the service provider in the app config but I still get the same

Nothing to publish for tag []

[2016-04-16 19:35] vfsoraki opened #677 "Problem with multiple guards for authentication"
There is a problem when I have multiple guards defined for authentication.
Consider I have two guards, one for normal web authentication (`User` model) and one for api authentication (`ApiToken` model).
The default guard is set to `web`.
My login route works fine, and gives back token. Though I have to fetch `ApiToken` model myself (I will tell why). Now, I set up a middleware for token-based auth

[2016-04-17 22:33] thelastblack commented on #677
I have searched and read the source a bit. I think the problem also relates to #563.
By using `token` driver in `auth.php`, I get this error :
`call_user_func_array() expects parameter 1 to be a valid callback, class 'Illuminate\Auth\TokenGuard' does not have a method 'onceUsingId'`

[2016-04-18 04:51] Sakpal opened #678 ""jwt.refresh" middleware functionality bug/feature"
When "jwt.refresh" is used as middleware for routes, the middleware refreshes the token even if it is a valid one and TTL is within expiry limit (TTL is set to 10 mins).

Is this a feature or a bug, because dont you think the TOKEN should only be refreshed if the token is expired else not.
It makes no sense to keep refreshing the token on every request that we make. Just trying to implement the ge

[2016-04-18 09:02] unabomber87 commented on #670
i fanally found the solution i'm missing a root slash when calling the exception so the catch became

`catch (\Tymon\JWTAuth\Exceptions\TokenExpiredException $e)`

[2016-04-18 09:02] #670 closed

[2016-04-18 09:11] shooka commented on #675
It is because the `laravelcollective/remote` package uses a newer version of `phpseclib` than `jwt-auth` does. The `composer.json` should be updated to use the newest stable version of `namshi/jose`.

[2016-04-18 12:02] michelecurletta commented on #513
+1, is that included into next first stable release (1.0)?

[2016-04-18 12:08] shooka commented on #675
#679

[2016-04-18 18:53] stueynet opened #683 "Using JWT in the browser and passing the Bearer header with every request"
Trying to figure out how we can use JWT in our normal browser routes as well as our API routes. With the API its easy as you can just construct the request. However with the browser we are having trouble getting the header to be available to the methods. Tried using middleware but it doesn't getting added and JWT fails when trying to parse the token. Any thoughts on using this for normal browse ro

[2016-04-18 19:54] ayyobro opened #684 "Class Tymon\JWTAuth\Providers\JWT\Namshi does not exist"
All I'm doing is trying to verify the creds and get a token:

[code]

but I keep getting this error
[code]

Stack Trace:
[code]

Also, here is my jwt.php config file. All of it is the default:
[code]

[2016-04-18 20:31] ayyobro commented on #684
I fixed it! Well... it feels more like a bandaid but what I did was remove the key/value pair for 'providers' in the config file. This must have made it use the defaults, which it turns out work just fine for what I need.

[2016-04-18 20:32] ayyobro commented on #684
I fixed it! Well... it feels more like a bandaid but what I did was remove the key/value pair for 'providers' in the config file. This must have made it use the defaults, which it turns out work just fine for what I need.

[2016-04-18 20:32] #684 closed

[2016-04-19 04:47] Fakeronline commented on #669
@khlipeng 5.2版本不支持。所以你还是用5.1吧，表示我也被坑过。

[2016-04-19 09:14] JPeer264 opened #685 "What happened with version 0.6.*@dev"
When I want to install this version I got an error that this package does not exist.

composer.json version:

[code]

bash error:

[code]

Also on [packagist](https://packagist.org/packages/tymon/jwt-auth) the `0.6.*@dev` is gone. Is it now required to update to version `1.0.*@dev` ?

[2016-04-19 10:33] tymondesigns commented on #685
Yes 0.6 will now be `1.0.*@dev`

[2016-04-19 10:33] #685 closed

[2016-04-19 13:39] Mahmoudz opened #686 "php artisan jwt:generate is not replacing the default value"
in my published config file I have this:

[code]

and in my `.env` file I have this

[code]

when I run

[code]

it prints this on the terminal screen

[code]

But didn't replace the the default value in the .env file

Note: even if I leave it empty it doesn't place it!!

[2016-04-19 13:57] JPeer264 commented on #564
@jonsa  - please update your composer.json in your gist from `"tymon/jwt-auth": "0.6.*@dev"` to `"tymon/jwt-auth": "1.0.*@dev"` since the `0.6.*@dev` is no longer available. #685

[2016-04-19 16:44] TomSta commented on #81
Same thing happened to my... on Safari, using Laravel as I wanted to return redirect to different's controller action, looks like safari looses auth header when getting redirected. returning view directly helped so...

this didn't work (just on safari):
redirect()->action('UiController@showLoggedIn')

this works though:
return view('php.showLoggedIn')

[2016-04-20 02:30] khlipeng commented on #669
@Fakeronline 好吧~~，修复了请告知一下~3Q

[2016-04-20 14:39] cj-schultz commented on #678
It is a feature. The refresh middleware is to ensure that, if the token is compromised, it can't be used by malicious users. In other words, it's to ensure that even if a token get compromised, it does not matter because it will be refreshed.

[2016-04-20 20:29] belohlavek opened #687 "jwt-auth and dependency injection?"
How could I inject jwt-auth into my controller? My aim is to be able to use the package without facades.

Thanks for reading.

[2016-04-21 05:48] Sakpal commented on #678
Okay. Thanks.

Is there a way where we can modify this so that the middleware will only refresh the TOKEN if it is expired else not?

[2016-04-21 09:05] jonagoldman commented on #678
jwt is a security standard and you should follow it. the token is automatically refreshed and that's a good thing. you can still authenticate the user so it doesn't really matters.

[2016-04-21 09:06] ErvinLlojku commented on #675
@shooka You are right. @tymondesigns needs to update the package dependencies.

[2016-04-21 09:18] shooka commented on #675
@ErvinLlojku It seems to have been fixed in #681. Now we just need this to be released.

[2016-04-21 11:15] jycr753 commented on #675
Yes all will be fixed, we hope it doesn't #Campbell on us

[2016-04-21 13:32] belohlavek commented on #179
I had this problem today too.
@jrmadsen67 your solution worked, thanks! Can you explain what exactly is going on and why that works?

[2016-04-21 17:31] 3amprogrammer commented on #513
Can someone explain me what is this parameter doing / what is going on in this line ?

[code]

[2016-04-21 18:19] tymondesigns commented on #513
@3amprogrammer by default the method will return a token, but if you pass false as the second param then a boolean will be returned, indicating whether the credentials are valid

[2016-04-22 00:28] MitchellMcKenna commented on #666
Hitting this issue as well. laravel/lumen-framework v5.2.6

[2016-04-22 02:18] 3amprogrammer commented on #513
@tymondesigns thanks for explanation. It is kinda strange cause when this method returns either a token or a boolean true we can be sure that the credentials where valid.

[2016-04-22 12:10] Cheezykins opened #688 "JWTAuth::make() and JWTAuth::encode() calls produce previously invalidated token."
Hi,
I'm not using users within the laravel app itself, but rather an upstream authentication provider.

because of this I have the following middleware which invalidates and regenerates each token on use, this is to allow it to ping the upstream provider to keep the session alive.

In my route middleware I am getting the payload of a token then invalidating it with the code:

[code]

Then within t

[2016-04-22 17:03] Cheezykins commented on #688
I am more certain that this is a bug now.

I created a new service provider that overrode the manager and extended the JWTManager::refresh() method with my logic, then modelled my middleware after the included RefreshToken middleware.

Here's the code I have used:

https://gist.github.com/Cheezykins/7f6f3238c61dc2a8feca30169f988816

I am still experiencing the bug, so it looks like the logic in th

[2016-04-22 21:02] JPeer264 opened #689 "Unauthorized for actually valid tokens"
I developed a Lumen API on my Mac locally with xampp and the whole system with login and stuff worked perfectly.

So I uploaded everything on my Linux production server. I logged in with my credentials and received the token and set a bearer token into my authorization header, as always, for those paths where it is necessary. But I always get an '401' back, for the paths where the token is necessa

[2016-04-22 22:49] salarAsadi opened #690 "check if a jwt token is expired or invalid"
I want to check manually if a provided token is expired or invalid. which functions should I use?

[2016-04-22 23:16] jonagoldman commented on #690
https://github.com/tymondesigns/jwt-auth/wiki/Authentication

[2016-04-22 23:20] salarAsadi commented on #690
No I should not use authenticate(), because I'm not using "\App\User" model.

[2016-04-22 23:22] jonagoldman commented on #690
Maybe ```JWT::checkOrFail()``` or ```JWT::check()``` ?

https://github.com/tymondesigns/jwt-auth/blob/7e4b73e4324b02622306a2af2df1bf76af77b9be/src/JWT.php#L100

[2016-04-23 10:50] JPeer264 commented on #689
#81 solved it !

[2016-04-23 10:50] #689 closed

[2016-04-24 02:13] thelastblack commented on #686
I have encountered the bug too.

[2016-04-24 02:15] thelastblack commented on #683
You can try saving token in a cookie. Then write a middleware to read that cookie before `jwt.auth` middleware, and set the `Authorization` header there.

[2016-04-25 08:54] jycr753 opened #691 "Is alpha version 2 missing JWTAuthServiceProvider?"
For some reason every time try to use this version I get the following error:

[code]

did you remove it?

[2016-04-25 09:15] jycr753 commented on #691
For those people looking for it, you need to update the configuration file to look like the one, also the provider has change to

[code]

[2016-04-25 09:15] #691 closed

[2016-04-25 10:03] Cheezykins commented on #688
This seems to be a race condition somewhere, although I have not identified where. If I put a gap between the requests then it works fine. Same result if I put a sleep within the refresh token middleware.

[2016-04-25 16:10] Cheezykins commented on #688
Ok, I narrowed it down to PayloadFactory::JTI only using second resolution in the hash and not using any form of random element. Meaning two requests in quick succession could have the same JTI.

I went to do a PR and note this is already [fixed in develop](https://github.com/tymondesigns/jwt-auth/blob/develop/src/Factory.php#L210) and the alphas of 1.0.0

So I was wondering if there are any ETAs