[2014-09-21 02:06] bingalls opened #2 "enhancement: event injection"
Please add an event to inject auth into controllers in routes.php, as described in
http://laravel.io/forum/05-04-2014-add-additional-filter-class-to-composer-package
The simplified example below could be moved into an event

If you implement this as documentation instead, please add info on expiring & refreshing tokens.

[code]

[2014-10-01 21:29] #2 closed, assigned to nobody

[2014-10-13 03:15] damacisaac opened #5 "function fromUser expects type User"
Since fromUser() expects a type User, I'm unable to move my user class into my own directory i.e. Application\User\User. I think it's common to want to move your models into your own application directory and it might be useful to accept different types.

[2014-10-13 21:34] #5 closed, assigned to nobody

[2014-10-23 21:00] cwhite92 opened #6 "Returning custom response from events"
First, thank you for a great library! Made my life a lot simpler.

I'm attempting to return my own response when a user sends an invalid token in order to have my API consistent. I've created an `events.php` file under app/ and hooked into the appropriate event:

[code]

However this doesn't seem to change anything, I'm still getting this response returned:

[code]

I know the event is firing beca

[2014-10-24 18:45] #6 closed, assigned to nobody

[2014-10-27 16:47] hfalucas opened #7 "[Question] Laravel 5 compatibility"
Do you have any plans to make this awesome package compatible with Laravel 5 while it still in development?

[2014-10-30 02:10] alexw23 opened #8 "Laravel 4.1"
It seems you've locked in Laravel 4.2 as the dependency is it possible to have this as ~4 so it will support 4.0 and 4.1 also?

[2014-10-30 11:18] NetanelBasal opened #9 "Getting weird response token"
hey when im trying to do this:
public function postLogin()
    {
        $credentials = Input::only('email', 'password');

[code]

the respone that i get is this:
php artisan jwt:generate{"token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwOlwvXC9sb2NhbGhvc3RcL2FuZ3VMYXJhdmVsJTIwYm9pbGVycGxhdGVcL3B1YmxpY1wvYXV0aFwvbG9naW4iLCJzdWIiOjMsImlhdCI6MTQxNDY2NzgxMywiZXhwIjoxNDE0NzU0MjEzfQ.bv5C1S6

[2014-10-30 13:28] #8 closed, assigned to nobody

[2014-10-30 14:45] #9 closed, assigned to nobody

[2014-10-31 13:05] NetanelBasal opened #10 "Call to a member function toUser() on a non-object"
Hey after im login the user and set the token in the header im trying to get some route like in your example:

public function getTest()
    {
        try
        {
            $user = JWTAuth::getToken()->toUser();
        }
        catch(Tymon\JWTAuth\Exceptions\TokenExpiredException $e)
        {
            // token has expired
            return Response::json(['error' => 'token_expired'], 40

[2014-10-31 15:28] #10 closed, assigned to nobody

[2014-11-12 11:12] marijang opened #11 "Refresh token"
What about refresh token?

I m using angular and i want to refresh token. How to do this?

[2014-11-21 09:13] sakoh opened #12 "[RuntimeException]"
I added it to the composer.json file and ran `composer update` and I got this error:

`[RuntimeException]
  Could not scan for classes inside "app/models" which does not appear to be
  a file nor a folder`

[2014-11-21 09:51] #12 closed, assigned to nobody

[2014-11-24 11:15] ghost opened #13 "Laravel5 publish config"
Hi,

Thanks for the great package! The only thing I found different so far is the command to publish config file in Laravel 5.0. You have to do:

`php artisan publish:config tymon/jwt-auth`

[2014-11-24 11:23] #13 closed, assigned to nobody

[2014-11-27 18:42] felnne opened #14 "Expired token raising wrong exception"
Hi,

I'm trying to combine jwt-auth with regular session based auth such that if either are present/valid the user is allowed through.

I've created a custom filter to do this since I don't think this is something I could do out of the box (but please correct me if i'm wrong, I would _love_ not to have to do this ;) ).

Everything seems to working fine, I can check if either a session is authentic

[2014-12-01 17:39] felnne opened #15 "[Suggestion] Exceptions extending HttpException"
Hi,

Since you mentioned you were refactoring I have a, hopefully, small suggestion that would help me with dealing with exceptions.

I use the [JSON Exception Formatter](https://github.com/Radweb/JSON-Exception-Formatter) package to return niceish errors for an API. By default all exceptions return a `500 Internal Server Error` status code, unless the exception being handled defines something els

[2014-12-01 17:57] MaicolBen opened #16 "[Question] Authorization header work?"
I'm test the authentication with [Postman](http://www.getpostman.com/), when I send the token as querystring work, but as Authorization header not.

![screen](https://cloud.githubusercontent.com/assets/3474627/5250341/3fe56e68-7972-11e4-8ae6-53c4c06a89f2.png)

There is a problem with my header config?

Thanks

[2014-12-02 09:05] #7 closed, assigned to nobody

[2014-12-02 12:16] #16 closed, assigned to nobody

[2014-12-02 14:25] #14 closed, assigned to nobody

[2014-12-03 18:47] MaicolBen opened #18 "[Suggestion] Remove token"
Hi!

Would be good the token could be purged by some function called `JWTAuth::removeToken($token)`

Thanks!

[2014-12-03 19:05] #18 closed, assigned to nobody

[2014-12-10 09:33] Foxandxss opened #21 "Example / More doc"
Hello, as I said before (on twitter), really nice library, does much much more than simply encoding / decoding tokens which is nice, but that leaves more questions in the air, more for me that I just got started with Laravel.

I see that your implementation is very tight to a model (that is not bad eh!), I guess that the `UserInterface` is the contract needed to make it work.

My question is, what

[2014-12-16 04:56] whcmark opened #22 "MultiAuthManager package compatibilities"
tymon,
i am using mutli auth package.
https://github.com/ollieread/multiauth

for now, i have to edit AuthManager to MultiManager manually in auth files if got update version

[2014-12-28 01:24] toddrimes opened #24 "Token is immediately expired?"
Not sure what I'm doing wrong.  Been using this great package for about two weeks, but today, the token it issues on login is immediately throwing an "expired" Exception when I next try

    $decode = JWTAuth::decode($token);

It seems like I'm using it the same way I have been.  What could I be doing wrong?

Thank you,
~Todd

[2014-12-29 20:41] #22 closed, assigned to nobody

[2014-12-29 20:47] #15 closed, assigned to nobody

[2015-01-07 18:33] marijang opened #26 ""tymon/jwt-auth": "dev-master""
"tymon/jwt-auth": "dev-master" it is not working:(

i m using laravel 5

[2015-01-07 19:23] tymondesigns commented on #26
Laravel 5 is not supported on the master branch. Also there is currently an issue with L5, not supporting any packages...

see here: https://laracasts.com/discuss/channels/general-discussion/l5-latest-commit-breaks-if-using-waygenerators-or-image-internvention

I can assure you though, that I have Laravel 5 in mind, and will be updating that package to when I release 0.4

Thanks

[2015-01-07 19:23] #26 closed

[2015-01-07 23:34] aenciso opened #27 "Call to a member function toUser() on a non-object"
Hi,

When I call

$user = JWTAuth::getToken()->toUser($token);

I get

Call to a member function toUser() on a non-object

Any ideas why?

Thanks

[2015-01-08 00:11] tymondesigns commented on #27
the `getToken()` method will parse the token from the request and return it (as a string).

You will need to call `JWTAuth::parseToken()->toUser();` instead.

[2015-01-08 00:11] #27 closed

[2015-01-08 14:51] aenciso commented on #27
Thanks. Is there any way we can add some extra data to the payload? or perhaps a way of returning the user encrypted?

Thanks

[2015-01-13 09:36] hfalucas opened #28 "[Question] Generate a Token when testing with PHPunit"
Hello,

I would like to know if you can give a little hand here. Im using your package (L5 branch) to secure some of my API uri's.
So now decided to dive in the testing world(nood here) and I can't seem to get this right when testing a protected uri.

[code]
If I hard code the token in the call method it works fine but off course I first wanna get a User from my testing DB and then generate a toke

[2015-01-13 15:07] #28 closed

[2015-01-19 02:03] yanilkr commented on #11
I wrote a simple "after" filter that generates a new token and sets it in the response header.

    $token = JWTAuth::getToken();
    $user = JWTAuth::toUser($token);
// accepts a User, and returns a token
    $newToken = JWTAuth::fromUser($user);

    $response->headers->set('Authorization','bearer'+$newToken);

In every successful response that needs authorization, this new header is added.

On

[2015-01-26 08:40] marijang commented on #11
i agree with yanilkr :D

[2015-01-28 18:55] Foxandxss commented on #21
To not open a new issue, is there any ETA for the new version? Will it come with L5 support? (I check your commits regularly and I think you decided to postpone the L5 support).

Now with L5 around the corner, I would like to do that article :+1:

[2015-01-29 16:03] tymondesigns commented on #21
Ok, so to clarify.. I will be removing the laravel 5 specific stuff from the `0.4` release asap, as I think it needs to be it's own release, which will be `0.5` as there are lots of changes relating to how package development can be done, amogst other things.

So going forward, I have almost completed development on the 0.4 release, and once I am happy with that, then I will port it over to larave

[2015-01-29 16:06] Foxandxss commented on #21
I see, thank you. I am also looking forward for that article. I am afraid that I sold the `JWT` idea a lot on the IRC (angular) and a couple or laravel users are expecting me to write an article about how to combine both :P

[2015-01-29 16:09] tymondesigns commented on #21
Good stuff, of course I'll be available to offer any assistance if needed :+1:

[2015-02-04 12:06] JDqv commented on #7
I see @tymondesigns is updating laravel-5 branch - nice. Whats your take on missing config publishing command. How do you publish it?

This command is not there anymore

     php artisan publish:config tymon/jwt-auth

[2015-02-04 12:09] JDqv commented on #13
I see @tymondesigns is updating laravel-5 branch - nice. Whats your take on missing config publishing command. It should be clear by now how its intended, imho, but I cant find anything on it. How do you publish it?

This command is not there anymore

     php artisan publish:config tymon/jwt-auth

[2015-02-04 12:50] tymondesigns commented on #13
yea this command has now been removed.. The way to do it now is:
[code]
as seen here - http://laravel.com/docs/master/packages

This will create a file called `jwt.php` in the config directory (there is no more packages folder)

I still have some work to do on the documentation, but hoping to have that done asap

Thanks

[2015-02-04 13:27] JDqv commented on #13
tnx
that means, that line 71 must change in JWTGenerateCommand. It points to old config path.
this should look something like

    $contents = $this->files->get($path = base_path()."/config/jwt.php");

instead of

    $contents = $this->files->get($path = $this->laravel['path']."/config/packages/tymon/jwt-auth/{$env}config.php");

[2015-02-04 13:32] tymondesigns commented on #13
yep.. still have to update that. Not sure whether to update the .env file instead, the same as laravels key:generate command

[2015-02-05 14:13] Foxandxss opened #33 "How to create the user"
In the meantime you release a new version, I am playing with it (v0.3.x on Laravel 4.x) and since I am not really a Laravel user, I am having a harsh time creating the user model.

I deleted the default one (because it is too tied to session auth) and I created one which inherits from Eloquent, something dummy:

[code]

And when I attempt to validate those credentials it needs the `UserInterface`

[2015-02-05 14:36] tymondesigns commented on #33
Ok, so the `0.3.*` release is utilising laravel's Auth system to check the users credentials and return the user object (which implements `Illuminate\Auth\UserInterface`). This is just a means to get the authenticated user via some credentials, but annoyingly it does force some things such as remember tokens etc.

Note that the session is never touched since I use the `once()` method as seen [here

[2015-02-05 14:47] Foxandxss commented on #33
I see, thank you.

I am just playing with it, will try to implement the interface ignoring the remember token (returning null or something on the methods) and if not, I will create a migration, it is a demo after all.

For a real application I would prefer to have a provider which doesn't force you to create stuff you don't need for JWT.

Laravel is really good but in its core is really really ori

[2015-02-05 14:47] #33 closed

[2015-02-05 17:05] Foxandxss commented on #33
@tymondesigns learning about sentry. Isn't Sentinel a new better option? Or am I mistaken? I guess your abstraction would make possible the usage of any of them

[2015-02-05 17:16] tymondesigns commented on #33
Yep, Sentinel is the latest and greatest, evolved from Sentry - https://cartalyst.com/manual/sentinel/1.0#sentry-vs-sentinel

And yes, any adapter can be used, it just has to adhere to the [AuthInterface](https://github.com/tymondesigns/jwt-auth/blob/master/src/Providers/Auth/AuthInterface.php) :smile:

[2015-02-05 19:14] Foxandxss commented on #33
Bah, Sentinel is paid and Sentry doesn't allow stateless logins. So one option forces you to have a rememberme token and the other will create a session you want it or not. Laravel keeps on disappoint me, really really inflexible if you want to step out of what they do.

Sorry for the rant.

[2015-02-05 20:11] tymondesigns commented on #33
Oh yea, I totally forgot that Sentinel wasn't open source :-1:

I hear what you're saying about Laravel Authentication being too opinionated towards traditional methods. And I agree that it could be tweaked to provide a nicer way to integrate stateless auth. (I think I might open a discussion about this topic)

But the main annoyance here is that it is forcing you to implement those extra methods

[2015-02-05 20:23] Foxandxss commented on #33
You have to implement those extra methods for nothing, maybe return null and pray it won't break. I am not ranting because there is no clean way to implement JWT, I am ranting because Laravel is too opinionated on classic apps and I only see walls when I try my frontend stuff on it.

And it is not about the tutorial itself, I am looking for a good backend for my Angular apps and so far Laravel is

[2015-02-05 20:36] tymondesigns commented on #33
Ah ok, I get ya...

When building APIs in Laravel, I tend to use dingo/api (https://github.com/dingo/api). It actually has [in-built integration](https://github.com/dingo/api/wiki/Authentication#json-web-tokens-jwt) with this jwt-auth package, and also oauth2.

Any initial thoughts?

[2015-02-06 11:07] drawmyattention opened #34 "Can't install via Composer for Laravel v5.0.*"
Doesn't look like the package can be installed for the newly released Laravel 5 release.

    Your requirements could not be resolved to an installable set of packages.

     Problem 1
    - Conclusion: remove laravel/framework v5.0.0

This is with a fresh install of Laravel 5, with no other dependencies defined in Composer except this package.

[2015-02-06 11:25] tymondesigns commented on #34
you're using the `dev-laravel-5` release right?

[2015-02-06 12:44] drawmyattention commented on #34
*blush* well that's embarrassing. I am however stuck at the config:publish step (i'm trying to use publish:config, as I think the command was changed in L5), but it results in a 'There are no commands defined in the "publish" namespace' error

[2015-02-06 13:06] tymondesigns commented on #34
No worries ;)

About the command. I'm in the process of writing up some new documentation to go with the new releases when I do send them out. Currently the way to publish the config is via:
`php artisan vendor:publish` - see https://github.com/tymondesigns/jwt-auth/issues/13#issuecomment-72849052

[2015-02-06 13:06] #34 closed

[2015-02-06 15:10] drawmyattention opened #35 "L5 - Call to a member function toUser() on boolean"
I've created a barebones controller that has the demo code in to fetch a user from a token, but i'm getting an error 'Call to a member function toUser() on boolean' when I try to run the toUser() method.

My code to replicate:

    try
		{
			$user = JWTAuth::parseToken()->toUser();
		}
		catch(Tymon\JWTAuth\Exceptions\TokenExpiredException $e)
		{
			// token has expired
			return Response::json(

[2015-02-07 09:57] rut4 opened #36 "Error in cache driver while getting user by token"
Hello.
When I use JWTAuthMiddleware in routing the following exception throws:
[code]
I read the same [issue](https://github.com/GrahamCampbell/Laravel-Throttle/issues/13).
It's because I use a file cache driver. The same thing for database cache driver.
What should I use for cache driver?
When I set it to array, I get a token once more, but the 'user_not_found' error occurred.

Package versions:

[2015-02-07 10:04] agentk commented on #36
Hi rut4,

I've just hit the same error too, submitted pull request #37 .

It was just a missed return statement when abstracting the eloquent query.

[2015-02-07 10:14] agentk commented on #35
Hi drawmyattention,
Looks like it's caused by JWTAuth returning false when it's unable to parseToken().

You could check for token parsing success before fetching the user, ie:

[code]

[2015-02-07 10:22] agentk commented on #36
Also if you want to skip the blacklist checking to be able to use the 'file' cache drive again, you can specify in `.env`:

    JWT_BLACKLIST_ENABLED=false

[2015-02-07 10:32] rut4 commented on #36
Hi agentk,
Thank you.
But now I have another error.
I installed a memcached, try to use it and I have a 'token_expired' error.
I rollback all changes but error still appearing similarly in the issue #24

[2015-02-07 10:44] agentk commented on #36
Hmmm. I'm not actually using memcached or the JWTAuthMiddleware at all in the application I'm testing as it's just a simple API.
If you want to dig into it more, a good place to start would be vendor/tymon/jwt-auth/src/Middleware/JWTAuthMiddleware.php:46
And start with something simple by inserting `dd($token);` to see if it's picking up as expected to start with.

[2015-02-07 12:02] rut4 commented on #36
I did it.
The first I set `CACHE_DRIVER=memcached` (or one can add `JWT_BLACKLIST_ENABLED=false` as agentk wrote).
Next I change file as well as in the pull request #37 .
And the last one, in my case:
[code]
I should use `JWTAuth::toUser(JWTAuth::getToken())` instead of `JWTAuth::getToken()->toUser()` or `JWTAuth::parseToken()->toUser()`.

[2015-02-09 09:16] drawmyattention commented on #35
You were right, it wasn't able to parse the token from a POST parameter. I had to set the token in a header (my mistake).

However, now when I send a request with an Authorisation bearer {token} header, the parseToken() method no longer kicks out an error, but the toUser() method results in

    'Wrong number of segments'

I'm generating the token using:

    $user = User::find(1);
    $token = JW

[2015-02-10 13:21] tymondesigns commented on #35
Thanks, I will have a look into this.

Note: I think I will change it so that parse token will throw an exception instead of returning false if the token cannot be extracted from the request.

[2015-02-10 13:24] tymondesigns commented on #36
@rut4 Glad you sorted it :)

@agentk thanks for chipping in there :+1:

I need to look over the token extraction behaviour, to make sure everything is as it should be (with tests!)

[2015-02-10 13:57] tymondesigns commented on #11
Thanks guys, I think I will implement this into a separate middleware, so it will be the developers choice to use it

[2015-02-11 08:32] sebestenyb opened #40 "L5 - Class tymon.validators.payload.factory does not exist"
Hello

I have the following problem with a pretty much from-scratch L5 project.
Any idea?

Cheers, Sebi

[code]

[code]

[2015-02-11 08:56] tymondesigns commented on #40
Ahh my bad.. I think I broke this last night.

This should now be fixed as of - b7d4731e3b4f6047d7ba999501df53857348e4eb

just run composer update until the new code is pulled in

Thanks

[2015-02-11 08:56] #40 closed

[2015-02-11 18:05] sebestenyb commented on #40
Ah, that's what's called good service :+1:
Fixed the issue, thanks!

[2015-02-11 19:06] aniljailta opened #41 "Laravel 5.0.x installation"
Hello . Not able to install this package for laravel 5 . Please update or suggest any solution
Using
    "minimum-stability": "dev",
    "prefer-stable": true

Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Conclusion: don't install laravel/framework v5.0.3
    - Conclusion: remove laravel/framework v5.0.2
    - Installation request for atticmedia/anv

[2015-02-11 19:27] tymondesigns commented on #41
Which version of the package are you attempting to install?

[2015-02-11 19:32] aniljailta commented on #41
i am trying to install  version 0.3.x

      "tymon/jwt-auth": "0.3.*"

[2015-02-11 19:38] tymondesigns commented on #41
You will need to use the `dev-laravel-5` release for laravel 5.

I am almost done with the new release (it will be `0.5` when I tag it). Alongside that release I will be publishing the new documentation

[2015-02-11 19:38] #41 closed

[2015-02-11 21:22] denaje opened #42 "Cannot reauthenticate with a different token"
(FYI, I am testing things on your develop branch.)

In some of my tests, I login as two different users to make sure that things behave properly. I do this like so:

[code]

However, the second login never worked. I traced the issue to the `JWTAuth@getToken`:

[code]

I'm sure there's a good reason for the outer if statement `if (! $this->token) {`, but this is what prevents multiple logins during

[2015-02-12 08:30] tymondesigns commented on #42
I see what you mean.

It's because the `getToken()` method is not a basic getter, and adds the convenience of calling `parseToken()` to grab the token from the request if no token has been previously set.

I suppose this somewhat couples the http layer together with the actual nuts and bolts service layer and I will have a think about that...

On the other hand, I'm also thinking that it might be

[2015-02-12 08:40] tymondesigns commented on #42
Ah just noticed you mentioned that this was in your tests. I guess the real world scenarios for this case are few and far between

[2015-02-17 15:40] angelmartz opened #44 "How add custom Claims?"
I am trying with JWTAuth::encode();

Argument 1 passed to Tymon\JWTAuth\JWTManager::encode() must be an instance of Tymon\JWTAuth\Payload, array given

[2015-02-17 15:43] tymondesigns commented on #44
which version are you using?

[2015-02-17 15:51] tymondesigns commented on #44
It looks like you're `dev-laravel-5` ? If so..

You can pass an array of custom claims via the second parameter on the `attempt()` method, and also the `fromUser()` as seen [here](https://github.com/tymondesigns/jwt-auth/blob/laravel-5/src/JWTAuth.php#L80-L101)

Alternatively if you are manually creating the token via the `encode()` method, then you will need to create a Payload instance as follow

[2015-02-17 15:54] angelmartz commented on #44
Yes I'm using dev-laravel-5

Thank you

[2015-02-17 16:41] #44 closed

[2015-02-17 21:25] olso opened #47 "Model not detected in namespace"
Hey,

when I want to use namespaced model

**config.php** from tymon/jwt-auth
[code]

it says

[code]

and doesn't work until I add alias to

**app.php**
[code]

what might be the problem?

[2015-02-17 22:01] tymondesigns commented on #47
What code are you running to trigger the exception?

[2015-02-19 09:12] sechosebio commented on #47
Hi, I have the same problem, I googled a lot, but I didn't find anything useful

[code]

In file config.php of this library, I have the same namespace than auth.php

config.php
[code]

[code]

The piece of code that is returning this error is like the example in the docs
[code]
Am I missing something in the configuration of JWT?
Thanks

[2015-02-19 09:43] tymondesigns commented on #47
ok, thanks for the extra info. I will try to reproduce this later today

[2015-02-19 20:53] SKTheo opened #49 "0.4 release?"
Hi, first: you're doing an awesome job!!... I've implemented your 0.3.12 version successfully with L4.2 (in development enviroment), but I see that your next release will have new features and awesome things, so I wonder, are you going to release the new version soon? can I use it safely before release? or should I stay with 0.3.12? I'd like to implement 0.4 in my production enviroment... thanks f

[2015-02-19 22:41] #42 closed

[2015-02-19 22:43] tymondesigns commented on #11
[RefreshToken](https://github.com/tymondesigns/jwt-auth/blob/laravel-5/src/Middleware/RefreshToken.php) Middleware added :)

[2015-02-19 22:43] #11 closed

[2015-02-19 22:51] tymondesigns commented on #49
I am aiming for a release by this weeks end, so I would definately recommend holding on for that

Thanks! :smile:

[2015-02-19 22:51] #49 closed

[2015-02-20 12:06] joearcher commented on #24
@toddrimes is this a timezone offset which is only set on MySQL server not the PHP server? If so the timestamps will always be at least 8:00 hours in the past as far as the PHP server is concerned.

We could do a `SELECT @@global.time_zone, @@session.time_zone;` query to get the MySQL box's timezone offset but is this edge case worth an additional database round trip? Would it not make more sense

[2015-02-21 07:58] toddrimes commented on #24
My PHP server and MySQL server are the same machine, but I gave up on the token long ago.  Is there some way to turn this issue "off"?

Sent from my iPhone

[2015-02-22 20:17] tymondesigns commented on #36
the following should work:

[code]

it may be preferable to set the request instance if available:

[code]

[2015-02-22 20:17] #36 closed

[2015-02-22 20:46] oddz opened #50 "Blacklist incompatible with database and file cache driver due to reliance on cache tags"
The jwt auth cache driver uses tags to resolve blacklisted tokens. However, the database and file cache driver don't support tags. Therefore, when the blacklist is enabled any attempt to use the base middle ware that verifies tokens throws in an exception as seen below. The obvious quick solution to this is to use a driver other than file or database. The long term fix is change implementation of

[2015-02-23 08:18] tymondesigns commented on #50
Ok, I have added a fallback for this. If the tags method is unavailable, then the key will be added to the root.

I will make a note of this in the docs, as most of the time it will be better to use tags if available.

Thanks

[2015-02-23 08:18] #50 closed

[2015-02-23 09:33] joearcher commented on #24
Um, mark it as closed?

[2015-02-23 19:38] tymondesigns commented on #24
Looks like this is an external issue then

[2015-02-23 19:38] #24 closed

[2015-02-26 00:10] jrm2k6 commented on #18
Any news on this? How would you do to invalidate tokens right now? Like on a logout, you want to remove the token for example. Are the tokens stored anyway btw?

[2015-02-26 08:32] tymondesigns commented on #18
You can now invalidate tokens via using the `invalidate()` method. E.g.

[code]

This will add the token to a laravel cache driven blacklist until it has expired - when it be purged automatically.

I'm almost done with the new docs writeup.. So watch out for that.

[2015-02-26 16:26] hotrush commented on #11
Hi. What method can help me to generate refreshed token manualy?

[2015-02-26 16:47] tymondesigns commented on #11
@hotrush You can do the following:

[code]

[2015-02-26 17:04] jrm2k6 commented on #18
Oh ok. So, the tokens are stored in a laravel cach somehow? I was trying to find out where they are stored but no cuess so far.

[2015-02-27 08:50] tymondesigns commented on #18
I am referring to versions `0.4` (for laravel 4) and `0.5` (for laravel 5)

Out of the box, the default storage provider for blacklisted tokens uses laravel's cache system - see [here](https://github.com/tymondesigns/jwt-auth/blob/master/src/Providers/Storage/IlluminateCacheAdapter.php).
But any key/value store will do. You can simply point the [config option](https://github.com/tymondesigns/jwt-a

[2015-02-27 12:11] Charkhan opened #51 "[L5] How to use included middlewares ?"
hi,

I'm trying to use your package and got stuck with the usage of JWT middleware (Seems like docs aren't updated yet , or did I missed it ?)

I don't know what class(es) to add in the `app/Http/Kernel.php`...

Did anyone face this problem ?

[2015-02-27 12:38] JDqv commented on #51
@Charkhan just add to Kernel.php

    'jwt' => 'Tymon\JWTAuth\Middleware\GetUserFromToken',

At least thats what I did atm.

[2015-02-27 12:45] Charkhan commented on #51
Thanks for the quick answer ! It worked.

Hope this will be officially documented soon :)

[2015-02-27 15:18] jrm2k6 commented on #18
Yes, it does. But this is for blacklisted tokens only, or the tokens in general? That would be great to include it in the documentation.

Also, invalidate is still not working, are you going to release a new version soon, or it is probably me not doing the right thing?
[code]
invalidate is not a function.

[2015-02-27 15:49] tymondesigns commented on #18
Tokens are only stored in the blacklist, if they have been previously invalidated. I will try to make that clear in the docs.

Could you confirm what version you are using ?

[2015-02-27 16:12] jrm2k6 commented on #18
version: "tymon/jwt-auth": "0.3.*"
But what about the non-blacklisted tokens, the active ones, where do you store them? Sorry if it is a stupid question.

[2015-02-27 16:21] tymondesigns commented on #18
You will need to upgrade to version `0.4` (for Laravel 4) and `0.5` (for Laravel 5) as I only introduced the token blacklisting in the these versions and the invalidate() method indeed does not exist in `0.3`.

I will try and illustrate the flow below

- Client sends login credentials to jwt api.

[2015-02-27 16:23] tymondesigns commented on #18
You will need to upgrade to version 0.4 (for Laravel 4) and 0.5 (for Laravel 5) as I only introduced the token blacklisting in the these versions and the invalidate() method indeed does not exist in 0.3.

I will try and illustrate the flow below

- Client sends login credentials to jwt api.
- If credentials are good, then api responds with the jwt (it is not stored anywhere, just sent to the clien

[2015-02-27 16:27] jrm2k6 commented on #18
Got it.
Thanks! I was just confused about the fact we don't store the token
anywhere. We just check against the token, and verify the credentials by
decoding the token.
Thanks, will upgrade then.

On Fri, Feb 27, 2015 at 8:23 AM, Sean Tymon <notifications@github.com>
wrote:

--
Jérémy Dagorn
www.jeremydagorn.com

Android apps I developed:
https://play.google.com/store/apps/developer?id=JumyApps

[2015-02-27 16:27] tymondesigns commented on #18
You will need to upgrade to version 0.4 (for Laravel 4) and 0.5 (for Laravel 5) as I only introduced the token blacklisting in the these versions and the invalidate() method indeed does not exist in 0.3.

I will try and illustrate the flow here

- Client sends login credentials to jwt api.
- If credentials are good, then api responds with the jwt (it is not stored anywhere, just sent to the client

[2015-02-27 16:28] tymondesigns commented on #18
Sorry my post got cut off.. accidently hit return on the comment button

[2015-02-27 16:46] jrm2k6 commented on #18
Just one more thing, upgrading seems to cause some issues. Do you have an
updated readme for migrating to 0.4?

PHP Fatal error:  Class 'Tymon\JWTAuth\JWTAuthServiceProvider' not found in
/home/vagrant/pocketderm.dev/PocketDerm/vendor/laravel/framework/src/Illuminate/Foundation/ProviderRepository.php
on line 157

On Fri, Feb 27, 2015 at 8:28 AM, Sean Tymon <notifications@github.com>
wrote:

--
Jér

[2015-02-27 16:58] tymondesigns commented on #18
I don't have an upgrade at the moment i'm afraid, but don't think there are many breaking changes
The new path for the ServiceProvider is

[code]

And the `login()` method is now `authenticate()`.

Also you will need to republish the package config using the following command:

[code]

[2015-02-27 17:06] jrm2k6 commented on #18
Thanks! It works.

On Fri, Feb 27, 2015 at 8:58 AM, Sean Tymon <notifications@github.com>
wrote:

--
Jérémy Dagorn
www.jeremydagorn.com

Android apps I developed:
https://play.google.com/store/apps/developer?id=JumyApps

[2015-02-27 23:58] barbazul opened #52 "Installation in Laravel 5.0.13"
I just found and followed the explanation in #41 regarding the dev version and could complete the composer installation.

However, whenever I try to run artisan I get the following:

[code]

I am running:

PHP 5.4.6
LinuxMint 14
Composer 1.0-dev

I am not sure what additional info might be helpful.

I am new to Laravel so I am sorry if this is the typical noob question.

[2015-03-01 22:03] NickvdMeij opened #53 "Class 'App\Http\Controllers\Api\JWTAuth' not found"
Hi,

After installing the 0.5.0 version of jwt-auth in my Laravel 5 project.
I get the error

[code]

when I access my route.

Here is my code in the controller:

[code]

I did follow the wiki, and added the provider and alias

[2015-03-02 01:36] sugeng commented on #52
On app.php change Tymon\JWTAuth\JWTAuthServiceProvider to Tymon\JWTAuth\Providers\JWTAuthServiceProvider.

To publish the config file use php artisan vendor:publish

[2015-03-02 16:02] gdg87 opened #54 "Cache error using toUser()"
I update to version 0.4 and when call

    JWTAuth::toUser($token)

I have this error

    call_user_func_array() expects parameter 1 to be a valid callback, class 'Illuminate\Cache\FileStore' does not have a method 'tags'
The error start at JWTMAnager at line 69.

[2015-03-02 22:39] tymondesigns commented on #54
this is because the file and database cache drivers do not have the ability to add tags.

I have published a release `0.4.1` so that this falls back silently to not use tags, so either swap your cache driver to something other than file/database or you can update to `0.4.1`

Thanks

[2015-03-02 22:39] #54 closed

[2015-03-02 22:40] tymondesigns commented on #52
please see the recently added [wiki](https://github.com/tymondesigns/jwt-auth/wiki/1.-Installation) for installation instructions (I was a bit late on this)

Thanks

[2015-03-02 22:40] #52 closed

[2015-03-02 22:41] #35 closed

[2015-03-02 22:42] tymondesigns commented on #51
docs now _mostly_ done :) [here](https://github.com/tymondesigns/jwt-auth/wiki)

[2015-03-02 22:42] #51 closed

[2015-03-03 08:27] tymondesigns commented on #53
Looks like you need to import the class because you are within a namespace.

Either by prefixing JWTAuth (`\JWTAuth`) with a backslash where you using it or adding the use statement at the top of your class:

[code]

[2015-03-03 08:28] #53 closed

[2015-03-03 08:55] tymondesigns commented on #53
or you could always inject the instance via the constructor:

[code]

[2015-03-03 09:47] NickvdMeij commented on #53
That worked, nice!
I'd suggest adding this to the documentation, so other wont encounter the same problem ;-)

[2015-03-04 15:46] SKTheo opened #55 "Remove claims from tokens"
Hi !! Is it possible to remove a claim from a previously created token? (Or create tokens with different default claims?) If so, how?
For example, I want to have tokens without expiry time. I know I can create a token with custom claims, but in this case I'm doing this:
$token = JWTAuth::fromUser($user);
and that is way easier than:
$customClaims = [(all the default claims except exp)];
$payload =

[2015-03-04 16:48] JDqv commented on #55
You could set exp time in far far future...
Have you considered using refresh tokens?
You can't remove or alter claim for previously created token as it wont decode properly and will become invalid.

[2015-03-04 19:25] tymondesigns commented on #55
yea, I wouldn't recommend a non-expiring token, can you describe your use-case for that?

I might make the default claims configurable, since [the spec](http://self-issued.info/docs/draft-ietf-oauth-json-web-token.html#expDef) states that no claims are mandatory. I'll have think about that

[2015-03-04 20:23] barbazul commented on #52
The Wiki link is a blank page :)

[2015-03-04 20:35] tymondesigns commented on #52
Whoops, I changed the page URL after posting. Fixed :)

[2015-03-04 22:09] SKTheo commented on #55
You're right, I know it's a bad idea, but I was requested to do that for a mobile app (they don't want to try the refresh token =/ )... I might set the expiry time to a year better

[2015-03-05 22:41] #55 closed

[2015-03-06 13:04] tymondesigns commented on #47
struggling to reproduce this tbh... there's only one place that this is [referenced](https://github.com/tymondesigns/jwt-auth/blob/master/src/Providers/JWTAuthServiceProvider.php#L120). And it seems that this would have been raised by others.

Is this still an issue for you ?

[2015-03-07 08:46] numnine opened #56 "Method [login] does not exist."
Hi,

I'm using v0.4.1 and get this error:

[code]

My request header is "Authorization: Bearer {access token}'

[2015-03-07 10:08] tymondesigns commented on #56
The login method has been renamed to authenticate

[2015-03-07 10:08] #56 closed

[2015-03-07 10:16] numnine commented on #56
I see. Thanks!

[2015-03-07 11:46] marijang opened #57 "Storing Token"
Are you storing user token?
I use redis for cache?
Can i see who is online?
It will be good to track last time active user

[2015-03-07 12:41] tymondesigns commented on #57
No the tokens are only stored in the blacklist, until they expire. JWT's are meant to be stateless, so storing them always would be a bad idea i think.

I think a better way would be to update a user `last_logged_in` in the db everytime a token is issued or something

[2015-03-08 14:18] marciomansur opened #58 "How to logout?"
I need to logout and remove the token from session. How can I do this?

[2015-03-08 17:33] ZengineChris commented on #58
It is hard to say without any informations about your use case. There is no logout in a jwt auth system. You can set the expiration time lower or overwrite the token in the session with a invalid default. Laravel has the Session. One of the benefits of jwt is that you don't store any sessions or tokens in a database. I hope this is helpful.

[2015-03-08 17:42] tymondesigns commented on #58
Depending on your client implementation. You should remove the token from the client. E.g. delete it from localStorage or something (if you are running a single page app for example). Alongside this you should invalidate the token, so it can no longer be used e.g.

[code]

[2015-03-09 16:25] pkhodaveissi opened #59 "How to use Cartalyst\Sentry instead of Illuminate\Auth?"
sorry to ask this here!

I've seen you have created a file named IlluminateAuthAdapter.php, I wanted to know how could I accomplish having a SentryAuthAdapter.php file

thanks dear

[2015-03-09 16:51] #57 closed

[2015-03-09 16:51] #58 closed

[2015-03-09 17:16] marciomansur commented on #58
Thanks. @tymondesigns ! When the user logs out, I need to "detroy" (or invalidate) the token, so he can't do anything in the app while not logged in. This method clears the token in session? Thanks.

[2015-03-11 13:02] kthnxbye opened #60 "Can't install in L4"
Hey im getting this error where running composer update

Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Conclusion: remove laravel/framework v4.2.17
    - Conclusion: remove barryvdh/laravel-cors v0.2.3
    - Installation request for tymon/jwt-auth 0.5.* -> satisfiable by tymon/jwt-auth

[2015-03-11 13:48] kthnxbye commented on #60
Nvm i just found out the problem i was installing 0.5.* (silly me)

btw bro

YOU ARE THE REAL MVP! it's just lovely

[2015-03-11 14:34] kthnxbye opened #61 "Crossdomain broken"
I got a new issue, when i pass the token via query (?token= ...) it brokes the crossdomain setting and i got the no origin allow and bla bla ..

is there a way to resolve this? am i missing something?

Also can you provide an example about the "Authorization: Bearer {yourtokenhere} header" approach?

ty

[2015-03-11 18:57] tymondesigns commented on #60
:smile:

[2015-03-11 18:57] #60 closed

[2015-03-11 19:26] hackel commented on #59
This is not a bug, it is a support request.  Please never do this again.

I just did this for my own project.  See here:
https://gist.github.com/hackel/00a2b5a43d5007eceaa1

[2015-03-11 19:34] hackel opened #62 "JWTAuthServicePovider forces injection of Laravel AuthManager into AuthAdapter"
The service provider forces injecting Illuminate\Auth\AuthManager into whatever custom AuthAdapter you may have defined, by passing $app['auth'] as a parameter below.
[code]
This is not necessary, as when using $app->make(), it will automatically inject the type-hinted dependencies in the constructor.  I suggest simply removing that parameter entirely.

My workaround simply ignores this variable.

[2015-03-11 19:43] tymondesigns commented on #59
@pkhodaveissi you can go ahead and use @hackel's link there.

@hackel I think I may change the way providers are passed in via the config so that dependency injection is possible

[2015-03-11 19:43] #59 closed

[2015-03-11 19:52] tymondesigns commented on #62
just noticed this after commenting on #59

Yea, you are right about `$app->make()` not needing an explicit param.
That being said, I think I will do it like this in the next release: (like [dingo/api](https://github.com/dingo/api/blob/master/src/config/config.php) does it)

[code]

and then in the service provider use something like [this method](https://github.com/dingo/api/blob/master/src/Provid

[2015-03-11 23:07] hackel commented on #62
That would definitely work too.  In my mind using type-hinted dependency injection is simpler, but this is probably more flexible.

[2015-03-12 15:07] msantang78 commented on #11
I cant recresh the token if it's expired. maybe I 'm wrong , but it would have to be able to refresh the token while refresh_ttl time is not expired ?

[2015-03-12 19:32] #47 closed

[2015-03-13 23:54] jossemarGT commented on #61
Hello!

It sounds pretty weird that passing the query param `token` triggers CORS preflight. But implementing the bearer token is easy as:

- Register jwt auth middlewares in `Kernel.php`
[code]
- Add `jwt.auth` middleware to the privileged controllers or routes.
- Add `Event::listen('tymon.jwt.valid')` hook in the boot function of the `EventServiceProvider.php`, like this.
[code]
- Use `Auth::get

[2015-03-14 17:57] mmichaelbiz opened #63 "refresh_ttl config not considered when refreshing the token via RefreshToken middleware"
Hi Sean,

First off let me say this is a great package!

It seems that the RefreshToken middleware does not consider the 'refresh_ttl' but only the 'ttl' config.

For example set the config as (just for testing):
- ttl  = 1 minute
- refresh_ttl = 5 mins

I get the new token on every response and use that for the next request which is fine.

But the token can only be used for 1 minute as per the tt

[2015-03-17 04:01] ndnam90 commented on #56
Sr. how to fix it. thanks

[2015-03-17 06:57] numnine commented on #56
Use 0.3.* can fix it.

On 17 March 2015 at 11:01, ndnam90 <notifications@github.com> wrote:

[2015-03-17 11:48] kitensei commented on #63
Have same issue, for now I have done the test myself:

**The listener that intercepts the 'expired' token event**
[code]

** The filter **
[code]

[2015-03-17 16:33] mattmcdonald-uk commented on #63
I have the same issue with asynchronous requests when using the refresh method.

I'm also having problems with parsing the token to get a user. The refresh middleware runs before the controller runs, and I then use this within the controller:

    JWTAuth::parseToken() -> toUser();

This throws a blacklisted exception, presumably because the token just got blacklisted by the refresh middleware?

I

[2015-03-18 07:33] kitensei commented on #63
Same problem here with laravel 4.2

[2015-03-18 19:57] marijang opened #64 "Get user"
Can you give me advice.
How to avoid code like "$user = JWTAuth::parseToken()->toUser()"
Is it posible to get something  like JWTAuth::getUser()?

Because JWTAuth::parseToken()->toUser() will parse token twice. FIrst in middleware then into controller.

[2015-03-19 10:42] lucadegasperi opened #65 "Authenticating using L5 Auth"
Hello Tymon!

I'm reading trough the docs and was wondering why there's no mention of the authenticate method.

I would like to use the L5 Auth Guard together with this package.

[2015-03-19 17:16] gerob commented on #64
If you've already parsed your token in the middleware then there is no reason to do it again as token has been parsed and has passed the User into `Event::listen('tymon.jwt.valid');`.

Just set the auth'd user off of this event.

[2015-03-19 19:07] tymondesigns commented on #63
@mmichaelbiz Thanks for highlighting this. It looks like I need to look at the refresh flow properly, and I guess I need to bulk out the token refreshing tests aswell.

Apologies for the slow response, been mega busy lately.

Thanks! :+1:

[2015-03-19 19:10] tymondesigns commented on #64
@gerob is correct, you could set the authenticated user on that event as seen here -> https://github.com/tymondesigns/jwt-auth/issues/61#issuecomment-79538721.

Alternatively I may consider caching the auth user object on the instance instead, but i'll have a think about that.

Thanks

[2015-03-19 19:10] #64 closed

[2015-03-19 19:16] tymondesigns commented on #65
Hi Luca,

That's a good question :smile:

I need to do some more work on the docs if i'm honest - gonna try to carve some time out to do that soon.

You're refering to L5's built in Auth right?

[2015-03-19 19:20] tymondesigns commented on #61
@kthnxbye did you resolve this ?

[2015-03-19 19:26] marijang commented on #64
Thanks. That is it:D

[2015-03-19 19:31] marijang opened #66 "Iphone refresh token"
I need advice. We are building ios app so i have question about refreshing tokens.
we use 3 minute token exp. What is the best way to buid refresh token functionality

Does Client need to go for new token each 3 minute if i set token exp 3 min.
Or just use refrestoken middleware and send each request with new token?
Or create listener on ios side and in 2:40 min and sec go for new token with store

[2015-03-19 19:45] tymondesigns commented on #66
Ok, I will try and explain the refresh flow as I envisioned it:

Given these settings:
- `ttl => 3`
- `refresh_ttl => 60`

If a token is issued at `09:00` then it will expire at `09:03` as expected.

The `refresh_ttl` indicates that this token can only be refreshed for 60 minutes (in this case) after it's initial creation. So it is impossible to refresh the token after `10:00` and a brand new toke

[2015-03-19 21:11] mmichaelbiz commented on #63
No sweat. I have an angular service set up and listening out for any refreshed tokens so as soon as you get it sorted let me know to test it out!

On another note, how do we handle cross device tokens? i.e. User logs in via their desktop browser and gets a JWT, then logs in via their mobile / tablet. Should be able to get a new token for the additional device without invalidating the first.

[2015-03-19 23:11] kthnxbye commented on #61
Yes sr i did, i'll post the answer in github just in case someone else is
having the same problem, actually it was a 'conflict' i dont know where
with another library, I was using a third-party lib to handle the cors but
i switched back the app/filter.php $request approach and it's been working
like a charm since then.

On Thu, Mar 19, 2015 at 2:20 PM, Sean Tymon <notifications@github.com>
wrote:

[2015-03-20 09:32] lucadegasperi commented on #65
Yes I am!

[2015-03-20 11:45] Rep2 commented on #66
Does that mean that token is being refreshed automatically on any user request without app sending credentials again? If so isn't the whole point of token expiring to limit what stolen token can do.

My way of doing it was that, if the token is about to expire, server appends warning to user request. For example http status code 282. Then user app automatically sends credentials requiring new toke

[2015-03-20 22:18] artemverbo commented on #63
+1 please, having similar issues with L5 and Angular front-end. Thank you, great project!

[2015-03-21 11:40] mmichaelbiz opened #67 "GetUserFromToken middleware to return 401 status code not 400 on token not provided"
GetUserFromToken middleware could return 401 status code not 400 on token not provided:

[code]
Technically it could be considered a 400 bad request for jwt_auth seeing as there is data missing / not as expected, but seeing as the intention is usually to check if the user is authenticated / authorised or not then 401 could be more appropriate?

Trivial I know, but having it implemented this way wo

[2015-03-22 11:24] Gwynnbleid1 opened #68 "[phpunit] Missing info in doc about unit testing."
Hi there.

I'm trying to make tests for Authentication part but I'm stuck. Could you provide some info how to mock GetUserFromToken Middleware? Or maybe there is a way to generate token for tests which will always return true for validation and return existing user from database ? Sorry for lack of more info, but I'm still new to Lavarel, phpunit and tdd for php. I have tried Slim framework but co

[2015-03-22 14:18] hotrush commented on #11
@tymondesigns thanks, i will try

[2015-03-23 01:27] nathanmarks commented on #67
@mmichaelbiz You can also intercept this with a controller abstraction of your own. I use one in conjunction with `League/Fractal` to handle my API responses.

[2015-03-23 12:38] Gwynnbleid1 commented on #28
Hi. Did you managed to get your tests working ? I have the same problem and could use some help.

[2015-03-23 13:35] denaje commented on #28
Not OP, but here's how I did this in my code.

For most tests, I need to be logged in but I don't want to test auth, so I have this function in my base `TestCase` class that logs in as a specific user that I call before running each test:

[code]

For testing auth itself, I do this:

[code]

`$this->callRoute` and `$this->assertOk` are custom shortcut functions that I wrote to avoid lots of boiler

[2015-03-23 19:17] frohlich opened #69 "The use statement with non-compound name 'JWTAuth' has no effect"
Hi, when i try publish JWT files with:
 - php artisan vendor:publish --provider="Tymon\JWTAuth\Providers\JWTAuthServiceProvider"
Return:
- [ErrorException]
  The use statement with non-compound name 'JWTAuth' has no effect

Configs[config/app.php]
Providers:
  - 'Tymon\JWTAuth\Providers\JWTAuthServiceProvider'

Alias:

  - 'JWTAuth' => 'Tymon\JWTAuth\Facades\JWTAuth'

Compose.json:

  - "tymon/jwt

[2015-03-24 15:32] frohlich commented on #69
Forget it, i reinstalled from the scratch and it works beautifully.

[2015-03-25 12:16] jishcem opened #71 "If GetUserFromToken middleware throws exception, how to refresh the token"
hi,

I am a bit new to laravel and its terminologies.

I am building an API, and It has a verifyphone method in one of its controllers. like this

`$this->middleware('jwt.auth', ['only' => ['verifyphone']]);`

If the token is not expired and is valid, everything works fine.

But, if its invalid or expired, what should I do from the API side ? Just throwing the response would be fine ?

If so, what

[2015-03-25 17:04] FoxxMD opened #72 "Authorization Header not populated by symphony"
This is related to #16

The apache rewrite rule fix is not enough to get the authorization header included in the request. In some configurations (mine..has something to do with fastcgi) apache adds a `REDIRECT_` prefix to rewritten environmental variables.

[Take a look at the way Symfony's HttpFoundation](https://github.com/symfony/HttpFoundation/blob/master/ServerBag.php#L60-80) parses the auth

[2015-03-26 19:28] #61 closed

[2015-03-26 19:29] tymondesigns commented on #21
this post might prove useful http://www.toptal.com/web/cookie-free-authentication-with-json-web-tokens-an-example-in-laravel-and-angularjs

[2015-03-26 19:50] tymondesigns commented on #67
ok I see what you mean.. I will have a think about it..

Alternatively, I guess you could do it this way:

[code]

[2015-03-26 19:51] #69 closed

[2015-03-26 20:01] tymondesigns commented on #71
By default the `GetUserFromToken` middleware will return a relevant response for you. Although, you can override these if you like ([see here](https://github.com/tymondesigns/jwt-auth/wiki/Authentication#middleware-and-filters))

If you would like to refresh tokens then you can use the `RefreshToken` middleware or do it yourself, using the `refresh()` method:

[code]

hope that helps

[2015-03-26 20:01] #71 closed

[2015-03-26 20:03] #65 closed

[2015-03-27 03:27] jasonmag opened #73 "How can I shorten the length of the token ?"
My first try of the token returns a 386 of length, how can we shortened it like below 100?

Generated token:
eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXUyJ9.eyJjb21wYW55IjoiRnV0dXJlRWQiLCJzdWIiOjEsImlzcyI6Imh0dHA6XC9cL2Z1dHVyZWVkLmRldlwvYXBpXC92MVwvc3R1ZGVudFwvbG9naW5cL3VzZXJuYW1lIiwiaWF0IjoiMTQyNzQyNjc3MSIsImV4cCI6IjE0Mjc0MzAzNzEiLCJuYmYiOiIxNDI3NDI2NzcxIiwianRpIjoiNmFlZDQ3MGFiOGMxYTk0MmE0MTViYTAwOTBlMTFlZT

[2015-03-27 08:02] mmichaelbiz commented on #67
Thanks Sean, no biggy it is purely a preference thing and is easily fixed..

As I see it most front end apps would have some sort of global http interceptor in place that would be based on the status code (and / or error code if the API returns one) to be able to handle responses.

Note that an API could return 400 for an "actual" bad request which is not related to an authorisation issue and we w

[2015-03-27 12:39] tymondesigns commented on #67
Yea I was thinking of adding the middleware/filter messages to the laravel language system.
I'll see what I can do, regarding configuring the status codes

[2015-03-27 12:39] #67 closed

[2015-03-27 13:53] tymondesigns commented on #73
JWT's are generally pretty long as they are an encoded representation of the payload that you provide, and so directly relate to the number of claims that you have.

Having said that, I doubt it will be possible to get it below 100 chars, without removing some claims that really should be left intact for various reasons.

And as a result you should be careful how many claims you add to the token.

[2015-03-27 14:22] jasonmag commented on #73
Why is it using sha256 and not sha1?

[2015-03-27 20:19] wagonerwebworks commented on #33
I am using Sentinel and the Dingo API package. I am not needing the ability to create users via the API so I am just in this for the authentication. I assume I can authenticate via Sentinel and upon success, issue a token. All theory, but I am hoping it will do what I am expecting.

[2015-03-27 22:00] wagonerwebworks commented on #33
Theory proved correct. Sentinel provides a stateless auth that returns a user object. Then I can generate the token from the user object with `JWTAuth::fromUser($obj)`

[2015-03-27 22:07] tymondesigns commented on #33
@wagonerwebworks Glad to hear..

Also you could implement the [AuthInterface](https://github.com/tymondesigns/jwt-auth/blob/laravel-5/src/Providers/Auth/AuthInterface.php) for further integration.

E.g. then you could run:

[code]

an example with Sentry #59

[2015-03-27 22:15] wagonerwebworks commented on #33
That is interesting, might give it a try. My login controller method is at 3 lines current and pretty happy with that.

[2015-03-27 22:37] tymondesigns commented on #73
I guess the short answer is that the spec seems to dictate it https://tools.ietf.org/html/draft-jones-json-web-token-00#section-8

This library utilises https://github.com/namshi/jose/ and sha1 is not available for use

[2015-03-28 18:49] tymondesigns commented on #72
Thanks for investigating this.. will take a proper look soon

[2015-03-28 18:50] #73 closed

[2015-03-29 03:57] BRupholdt opened #74 "Multi-tenant custom secrets"
Is there a way to create a variable secret?

I want to provide a custom secret by concatenating the jwt secret with a tenant secret.  This way I can invalidate tokens app-wide by changing the jwt secret or for a single tenant by changing the tenant secret.

[2015-03-30 20:52] bellierjonathan opened #75 "Token empty ?"
Hello,

I work on laravel 5.0. everything has been installed.. but when I try this example code.. I got empty token:

Controller:

$payload = app('tymon.jwt.payload.factory')->sub(123)->aud('foo')->foo(['bar' => 'baz'])->make();
$token = JWTAuth::encode($payload);
return Response::json(['success' => 1, 'message' => 'User is already register.', 'token' => $token], 200);

{"success":1,"message":"Use

[2015-04-01 23:14] DeanWard opened #76 "Error: Method [authenticate] does not exist after composer update"
Good Evening!
I Issued composer update command today and now I'm getting this error when trying to authenticate a user:

[code]

[2015-04-02 03:21] jrm2k6 commented on #18
Hi,

Does this
https://auth0.com/blog/2015/03/31/critical-vulnerabilities-in-json-web-token-libraries/
apply for jwt-auth?

Cheers,
Jeremy

On Fri, Feb 27, 2015 at 9:06 AM, Jeremy Dagorn <jeremy.dagorn@gmail.com>
wrote:

--
Jérémy Dagorn
www.jeremydagorn.com

Android apps I developed:
https://play.google.com/store/apps/developer?id=JumyApps

[2015-04-02 07:55] tymondesigns commented on #76
what version of the package are you using ?

[2015-04-02 07:57] tymondesigns commented on #18
Hi Jeremy,

Yea it does, since I am using `namshi/jose`

I will get a patch release out asap

Thanks

[2015-04-02 08:00] DeanWard commented on #76
My composer.json has: "tymon/jwt-auth": "0.3.*",

[2015-04-02 08:38] tymondesigns commented on #76
Upgrading to 0.4.1 should fix the issue

[2015-04-02 13:23] jrm2k6 commented on #18
Thanks a lot for answering.!
On Apr 2, 2015 12:57 AM, "Sean Tymon" <notifications@github.com> wrote:

[2015-04-03 04:05] trisc opened #77 "Interoperability with standard Laravel Auth functions"
To make your plugin more of a drop in replacement for those who use `Auth::check()` and `Auth::user()` throughout their codebase, would it not be possible to have your middleware call `Auth::login($user)` if the token is successfully parsed?

Additionally on routes where hard authentication isn't required (i.e. it's acceptable for public or authorised access, it simply returns more detail for an a

[2015-04-03 18:48] olso commented on #47
It's totally fixable... You have to change the model in Laravel auth.php to Namespace\User
Then it will work

[2015-04-04 11:52] #76 closed

[2015-04-06 08:38] DangerLifter commented on #63
+1 please, having similar issues with L5

[2015-04-06 09:41] DangerLifter commented on #63
As I see JWTManager::refresh() Should call setRefreshFlow() before decode to prevent "expire" validation.

[2015-04-07 20:24] tymondesigns commented on #62
this is done, as of `0.5.1` :)

[2015-04-07 20:24] #62 closed

[2015-04-07 20:26] tymondesigns commented on #75
what output do you get when you call `dd($token);` before returning the response ?

[2015-04-07 20:28] tymondesigns commented on #74
I think that would be possible by simply performing your concatenation logic within the config file.

I believe it's outside of the scope of this package though

[2015-04-07 20:32] #21 closed

[2015-04-07 20:38] tymondesigns commented on #63
@mmichaelbiz Just pushed out `0.5.1`, think this might solve the issue (was more concerned about the security issue raised [here](https://auth0.com/blog/2015/03/31/critical-vulnerabilities-in-json-web-token-libraries/))

don't have time to test it properly right now, but feel free to give it a go :+1:

[2015-04-07 21:29] mmichaelbiz commented on #63
Awesome, thanks for the heads up. Will aim to give it a go this week!

[2015-04-08 17:44] paulocoghi opened #79 "Can't handle JWTAuth Exceptions"
JWTAuth : Tested in 0.5.0 and 0.5.1
Laravel : Tested in 5.0.20 and 5.0.27

I have a functional implementation of JWTAuth with everything fine, except the JWTAuth Exceptions.

For example, when I [try to validate an already used token and it expires](https://github.com/tymondesigns/jwt-auth/wiki/Authentication#retreiving-the-authenticated-user-from-a-token), my `catch (Tymon\JWTAuth\Exceptions\Toke

[2015-04-08 17:53] tymondesigns commented on #79
Make sure your namespace isn't messing with the Exception paths.

Since you have imported the exceptions, you should remove the `Tymon\JWTAuth\Exceptions\` portion.

[code]

[2015-04-08 17:57] paulocoghi commented on #79
That's it. Solved and closed

[2015-04-08 17:57] #79 closed

[2015-04-08 22:12] Murwa opened #80 "user_not_found on auth middleware"
Hey @tymondesigns great stuff. I just pulled in the new version(0.5.1) - should have the vulnerability patch- and realised that all my initially working requests are failing on the jwt-auth middleware. Is there something I should change in the requests?

Cheers

[2015-04-10 15:12] bbrink68 commented on #77
`JWTAuth::parseToken()->authenticate();`  or `JWTAuth::parseToken()->toUser();`
Either will return the User model to you I believe.

[2015-04-10 15:21] cjmaio commented on #72
I also encounter a possibly similar error when using this package in conjunction with mod_shib.

When taking a look at `apache_request_headers()` or `getallheaders()` or even dumping `$_SERVER[]` I see the authorization bearer header, both with `HTTP_AUTHORIZATION` and `REDIRECT_HTTP_AUTHORIZATION` however, for some reason `$request->headers->get('authorization')` in the `parseAuthHeader` function

[2015-04-10 15:29] cjmaio commented on #72
FYI - for Laravel 4 the following works in `filters.php` to get around this issue...

    App::before(function ($request) {
            if(isset($_SERVER['REDIRECT_HTTP_AUTHORIZATION'])){
                $request->headers->set('AUTHORIZATION',$_SERVER['REDIRECT_HTTP_AUTHORIZATION']);
            }
    });

[2015-04-10 18:42] mcblum commented on #80
I can't get it to work, either. I see the header listed as Authorization: Bearer {token} but the response I get is token_not_provided. Might be the same issue?

[2015-04-10 19:57] RMFogarty commented on #77
Not sure if this is the best way to do it, for Laravel 5 in the
EventServiceProvider Boot function I listen for the valid token event and
call the login function as you suggested:

Event::listen('tymon.jwt.valid', function($event)
{
Auth::onceUsingId( \JWTAuth::toUser( \JWTAuth::getToken() )->id );
});

This will allow you to continue to use the Auth::check and Auth::User
functions.

On Fri, Apr 1

[2015-04-10 20:16] mmichaelbiz commented on #63
@tymondesigns, I took some time to test this out:

1. When using the refresh middleware there is something blacklisting the refreshed token that is sent, and on subsequent requests it gets blocked. (similar to as mentioned by @mattmcdonald-uk)

I commented out JWTManager.php line 70 to work around this in order to continue tests.

2. Initial test have proven successful however in that as long as y

[2015-04-10 20:55] mcblum opened #81 "Token Not Provided"
Hello.

I've added the following header to all of my requests in Angular:

    Authorization: Bearer eyJhbGciOiJI...

and I can see that it's working. On the Laravel side I'm using:

    public function __construct()
	{
		$this->middleware('jwt.auth');
	}

No matter what I do I'm getting 400 bad request, token_not_provided. Any idea what might be going on?

Thank you for your work on this package.

[2015-04-10 21:02] FoxxMD commented on #72
@cjmaio In my post I linked to `ServerBag.php` which is where headers are first populated. Symfony's HttpFoundation does account for the redirect prefix [but only when using basic auth](https://github.com/symfony/HttpFoundation/blob/master/ServerBag.php#L68).

[2015-04-11 07:13] donald-slagle commented on #81
I ran into the same issue. It turns out apache removes the authorization header by default. (A little ridiculous in my opinion). By dropping the following in your .htaccess file in your public folder fixes the issue:

    RewriteCond %{HTTP:Authorization} ^(.*)
    RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

[2015-04-11 12:49] Murwa commented on #80
seems like the issue is with the authenticate function

[2015-04-11 14:20] mcblum commented on #81
Thank you! I had it in my .htaccess file for the app root directory but not the public directory. That fixed everything. Great work on this!!!

[2015-04-11 17:39] atinder90 opened #82 "works like 1 out of 20 times."
i have setup it as per wiki with Laravel 5, using jwt.auth middleware.

Token generates fine but when i try to use that token it always says token_invalid.

surprising thing is, it actually works sometimes.

[2015-04-13 08:52] donald-slagle commented on #81
No problem. Glad that fixed it for you. I use Apache on my local dev environment and Nginx in production. Nginx does not remove the header so there is no need for extra configuration. This might be something nice to add to the installation wiki to prevent someone from running into the same issue.

[2015-04-13 19:54] marijang opened #83 "Refresh token"
I use refresh token middleware

Route::group(['prefix' => env('API_VERSION', 'dev'),'middleware' => ['jwt.refresh','jwt.auth','user.lastseen']], function()

I always get token invalid message (token_invalid)?

thanks:D

[2015-04-14 07:42] devmark opened #84 "auto refresh token"
use old access token to get new refresh token
that means auto refresh token is still good for practice?

[2015-04-14 07:44] #84 closed

[2015-04-14 14:55] Maykonn opened #85 "Impossible to verify if a token is blacklisted(invalid)"
How to verify if a token is blacklisted? Or how to correct implement an user "logout"? I try to found on API but not exists a getToken()->isBlacklisted() or parseToken()->isBlacklisted(), and ever token is invalid parseToken() throws a TokenBlacklistedException, so an isBlacklisted method is a good way to verify if token is valid.

UPDATE:

If used the bellow code to verify if payload is invalid,

[2015-04-14 18:36] tymondesigns commented on #63
@mmichaelbiz Thank you for the feedback!

I'm about to spin up a fresh install, so I will look into the issues you raised

Thanks! :+1:

[2015-04-14 18:38] Maykonn opened #86 "Empty token with /? at end of url: myresource/?filters=myfilter:123"
I'm getting a Tymon\\JWTAuth\\Exceptions\\JWTException with message: "The token could not be parsed from the request" when call a resource with this exact format:

api.com/users/1/talks***/?***filters=with_user:19

If change talks/?filters to  talks***?***filters all works fine.

I capture the log info from request and Authorization header is empty when resource is called with ***/?*** at end of r

[2015-04-14 18:41] tymondesigns commented on #72
@FoxxMD I am thinking about abstracting the request parsing further within the package. So I can have a dedicated place to put this logic. Taking a look now...

[2015-04-14 18:41] #74 closed

[2015-04-14 18:41] #75 closed

[2015-04-14 19:01] tymondesigns commented on #77
@trisc The plugin isn't really intended to be a drop in replacement for Laravel's Auth. It merely utilises it to retrieve the authenticated user via some of the methods it provides.

I am only using the methods that are stateless and do not invoke any session handling. e.g. [`once`](https://github.com/illuminate/auth/blob/master/Guard.php#L254-L264) and [`onceUsingId`](https://github.com/illuminat

[2015-04-14 19:06] tymondesigns commented on #80
I think the main issue a few people are having is surrounding the request parsing portion of the package. Which I think is what is happening here..

Hope to resolve the issues soon

[2015-04-14 19:08] tymondesigns commented on #81
Glad you sorted it.. I will b looking at the whole request parsing system soon, as I think it needs tightening up a bit.

Thanks

[2015-04-14 19:08] #81 closed

[2015-04-14 19:08] tymondesigns commented on #82
hmm strange.. I will see if I can reproduce

[2015-04-14 19:09] tymondesigns commented on #83
looking into this

[2015-04-14 19:12] tymondesigns commented on #85
Thanks for the suggestion on adding a convenience method for that.. should be a helpful addition.

I expect you are using a middleware or filter, since, simply calling `parseToken()` will never throw a `TokenBlacklistedException`

[2015-04-14 19:13] tymondesigns commented on #86
are you using apache?

[2015-04-14 19:21] tymondesigns commented on #68
I think you will find an answer (if you haven't already) over at [Laracasts](https://laracasts.com/discuss)

[2015-04-14 19:21] #68 closed

[2015-04-14 19:42] Maykonn commented on #85
In my tests no, but now I'm using. Thanks!

[2015-04-14 19:43] Maykonn commented on #86
Yes.

[2015-04-15 01:32] lewiswharf commented on #63
@tymondesigns I have found similar re: @mmichaelbiz points 1 & 3.

Thank you! :thumbsup:

[2015-04-15 08:26] kistank commented on #83
I am having the same problem since I updeted. The normal auth is working fine. After I authenticate I get the token, save it. When I send it for the firs time I can get trough the middleware. Refresh token sends the header with the new token but that refreshed token gives me back an ivalid token message.

[2015-04-15 15:44] Maykonn commented on #86
Is there any incompatibility with apache? I do not understand.

[2015-04-15 18:42] antoinerey commented on #83
Same for me.

Tried to manually refresh the token with `JWTAuth::setToken($token)->refresh()`. Can't get it working either. It sends me a new token but it throws a `token_invalid` exception when attempting to authenticate with this new one.

[2015-04-15 23:38] Maykonn opened #87 "Token never Refresh"
My route group:

[code]

But the token never is refreshed. Never entry in Tymon\JWTAuth\Middleware\RefreshToken.
My Kernel:
[code]

[2015-04-16 07:40] pbohny commented on #83
Same Problem here. Any help on this?

[2015-04-16 17:43] tymondesigns commented on #83
could you try the `dev-laravel-5` release to see if that resolves it?

[2015-04-16 17:49] tymondesigns commented on #86
Apache can sometimes strip the Authorization header.

see #81 and [here](http://stackoverflow.com/questions/11990388/request-headers-bag-is-missing-authorization-header-in-symfony-2)

[2015-04-16 18:52] Maykonn commented on #86
Authorization token comes on request with .htaccess correction, but if has a ? on querystring Apache remove the token. Very very bizarre.

[2015-04-16 19:01] tymondesigns commented on #86
I think in your case the trailing slash is affecting it. Not sure why that is happening..

You could add a rewrite rule to remove all trailing slashes I guess

[2015-04-16 19:11] Maykonn commented on #86
Yes, is it. Thanks for help! =)

[2015-04-16 19:12] tymondesigns commented on #86
:+1:

[2015-04-16 19:12] #86 closed

[2015-04-16 21:08] pbohny commented on #83
Can not install "tymon/jwt-auth": "dev-master" with laravel v5.0.27, conflict on composer update

[2015-04-16 21:12] tymondesigns commented on #83
`dev-master` is for laravel 4, you would have to install `dev-laravel-5`

[2015-04-16 21:18] marijang commented on #83
now i get {"error":"token_expired"}

[2015-04-16 23:45] robsoncombr opened #88 "Problem when using with mongodb driver."
Hello,

I use MongoDB as database on my Laravel 5 application, implemented with https://github.com/jenssegers/laravel-mongodb

While trying to implement tymondesigns/jwt-auth on my project, based on demo https://github.com/ttkalec/laravel5-angular-jwt I had some problems, related with User retrievement, I resolved all problems, however, I would like someone more experienced colleague could bless m

[2015-04-17 01:00] robsoncombr commented on #88
Hello,

I just found an identifier field to be changed on config/jwt.php

I changed:
    //'identifier' => 'id',
    'identifier' => '_id',

Since MongioDB uses _id and not id, and it worked.

So, discard the mentioned change 'a'
a) JWTAuth.php - toUser():
//if (! $user = $this->user->getBy($this->identifier, $payload['sub'])) {
if (! $user = \App\User::find($payload['sub'])) {

It is not needed,

[2015-04-17 01:03] robsoncombr commented on #88
Hello,

I also reverted all mentioned changes to original, and everything worked perfectly!

So, it was my fault, I forgot to change the identifier and that is why it was not findings the User.

Closing this issue, thank you!

[2015-04-17 01:03] #88 closed

[2015-04-17 11:19] pbohny commented on #83
This is what I experience now:

I use 'middleware' => 'jwt.refresh' on my api routes. For testing I have set ttl' => 1 and 'refresh_ttl' => 5. So I would expect that the token will be refreshed in the 5 minute window. What I experience though is if I not request within the first minute I will get a
"Token has expired" TokenExpiredException in PayloadValidator.php line 74 error.

When I request wit

[2015-04-17 11:42] kitensei opened #89 "Adding multiple columns as custom claims"
Is it possible to add multiple model columns as claims ?
I would like to add a second column from the model to the token payload (for instance: "role")
I found a post here: http://stackoverflow.com/questions/29014681/add-the-user-role-to-the-jwt-laravel-5-jwt-auth but I don't like the idea of hitting the database twice, is there another way of achieving this ?

[2015-04-17 17:07] Maykonn commented on #87
I change the group filter to ['middleware' => ['before' => 'jwt.auth', 'after' => 'jwt.refresh']] and now works. Isn't a bug. Sorry for this.

[2015-04-17 17:26] Maykonn commented on #83
token_invalid here, on same problem here.

[2015-04-17 19:32] Maykonn commented on #83
I guess that I found what happens. Note that in the refresh method, old token is added to blacklist cache case enabled:

[code]

And note that in add to blacklist method the key is the jti param from old token payload:
[code]

Thus, when has on blacklist method is called, the old token jti param is the same that the new, so the new token is in blacklist:
[code]

[2015-04-17 20:00] tymondesigns commented on #83
@Maykonn You've hit the nail on head the head there... not sure how I missed that... maybe I was drunk at the time :)

[2015-04-17 20:02] tymondesigns commented on #83
I will fix this and tag a release as soon as I can

[2015-04-17 20:04] Maykonn commented on #83
Haha! Ok! Thanks!

[2015-04-18 01:01] engwan opened #90 "Laravel 4 Docs for token refresh and invalidate"
Hi,

I'm using Laravel 4 and I don't see any docs for refreshing or invalidating a token.

Currently I'm trying to do it like this:

    $token = JWTAuth::parseToken()->refresh();

A new token gets generated with an updated "exp" value.

The problem is, when I use the new token on the next request, the token is invalid. Maybe JWTAuth is somehow invalidating it?

I know JWTAuth invalidates the old

[2015-04-18 03:26] devmark opened #91 "lumen"
hello tymon, any plan for lumen?

thanks

[2015-04-18 10:55] tymondesigns commented on #91
Don't have anything specifically in mind.

Although I guess it could be useful to have a lumen installation running exclusively as an authentication server for issuing and revoking JWT's etc..

I'm open to any ideas though!

[2015-04-18 10:57] tymondesigns commented on #90
The issue has been recently identified in #83

I will be tagging a patch release shortly.

And yes I need to work on the docs some more!

Thanks

[2015-04-18 14:41] engwan commented on #90
Oops, I didn't see that. Saw the recent commit that fixes this. Thanks!

[2015-04-18 19:21] photoart-mtlwebdev opened #92 "Help using this package in a web app architecture"
Hi everyone,

I'm not reporting an issue here but looking for some help implementing this feature in my specific architecture. Nothing fancy but I'm just having trouble to picture how/where to store the generated token on client side, my clients being browsers, PHP web apps and iOS native app.

I know this isn't the place to discuss this but I was thinking maybe I could find the proper audience fo

[2015-04-18 23:10] emars commented on #91
Is it possible to use this package with Lumen as is?

[2015-04-19 00:55] devmark commented on #91
it is possiable to do it, bcz tymod got a custom token function, so need to  remove "auth" function for lumen

[2015-04-19 01:06] devmark commented on #92
JWT-Auth is similar than session but that can solve more problems like cors.
so if we use jwt-auth, we have to store token on client side for each request what u said.

the token will expiry(ext) automatically by api server.

[2015-04-19 01:24] devmark commented on #89
it is  possible.
 but u have to pay attention for token length. that means it should add too much columns .

[2015-04-19 11:56] godbout opened #93 "Column not found: Unknown column '_token' in 'where clause'"
Hi there!

I'm lost. Not sure where I'm getting it wrong. I register a user and return the token. This works. But when I want to authenticate the user with JWTAuth::attempt(), I have this error message about the _token field missing in MySQL. But I haven't touched anything about the cache config and it should be caching by file.

Any idea?

[2015-04-19 12:01] godbout commented on #93
Doh. It's the CSRF token coming from the form... I'm getting back the credentials wrongly. Ok, nevermind.

[2015-04-19 12:01] #93 closed

[2015-04-19 12:33] godbout opened #94 "Should jwt-auth be linked with the built in auth of Laravel or not at all?"
I'm having a hard time understanding how these auth systems work together.

I am currently using the register and login pages built in Laravel to send the data but the controllers receiving the data are ones I've made, and I use jwt-auth for authentication. I haven't been able to make that work yet as the attempt method always returns false. I assume it's because my users are saved with unencrypte

[2015-04-19 13:01] godbout commented on #94
I was able to get something working by encrypting the password by adding a setPasswordAttribute method to my User class. Not sure why I need that now to encrypt the password as I've never had to add this before. Also, I don't understand how does the JWTAuth::attempt() method knows it needs to decrypt the password? Is it extending or using something auth thing from Laravel? OMG I'm so lost.

[2015-04-19 20:45] reshadman opened #95 "Multiple concurrent api calls with refresh token enabled"
First of all thanks for great high quality package you have made.

The idea of refreshing an access token and adding the old one imidiately to the blacklist may cause some problems when the api is used by many concurrent requests with same token.
The problem is that when the first request is sent with the JWT named A it is refreshed with the new B one, the second call is concurrently performed wit

[2015-04-20 06:56] kitensei commented on #89
How should I implement the custom columns without hitting the database twice ?
At moment I log my user in without using JWTAuth, and create the token manually with my custom claims as I have a model, but is it possible to do it by using directly the JWTAuth::attempt() ?

[2015-04-20 07:20] tymondesigns commented on #89
@kitensei you should use the attempt method from JWTAuth. As it utilises laravel Guard to verify the credentials, and also allows you to pass an array of custom claims as the second param. E.g.

[code]

[2015-04-20 07:24] tymondesigns commented on #89
Also by using the attempt method on Laravel's Guard class, you are unnecessarily creating a session entry.

Guard's `once()` method is intended for stateless authentication. And is what is used under the hood for JWTAuth.

[2015-04-20 07:38] reshadman commented on #95
I Also made a [PR](https://github.com/reshadman/jwt-auth/commit/ef7b25e1fe5a53e6947e5ab67ddf5f442da60301) for this.

[2015-04-20 07:56] kitensei commented on #89
I am aware of this problem, but the problem is that, by using
[code]
I cannot add custom claims from the user modle that I'm trying to authentify, as I don't have an instance yet, the only way would be to instantiate user from database with a simple `find()` and then authenticate with credentials, which mean hitting the database twice

[2015-04-20 07:59] kitensei commented on #89
Thanks for pointing out the session entry, I didn't know that, the problem doesn't change.
Ideally I think we should be able to pass custom claims that JWT retrieve from the model instead of a simple array of previously computed data, is this feasible in your opinion ?

[2015-04-20 08:53] reshadman opened #97 "Ability to expire all user tokens"
Sometimes it is needed to invalidate all tokens of a user. for example when the password is changed.

This requires to store each token in an storage with an expiration time equal to the token exp time.

What is your idea ?

[2015-04-20 14:02] calebeaires commented on #91
Have someone used this with lumen?

[2015-04-20 18:27] tymondesigns commented on #94
@godbout Firstly, JWTAuth is not a drop in replacement for Laravel's Auth system - See https://github.com/tymondesigns/jwt-auth/issues/77#issuecomment-93020931

Also I think you may benefit from researching a little more about why and when you might use JWT's. Maybe look at a few blog posts around the web.

Here is one that uses this exact package, and should give you more of an insight: http://ww

[2015-04-20 19:15] diaspar commented on #77
@tymondesigns is there a way to have the auth user analyzed after the middleware finishes?

\Tymon\JWTAuth\Middleware\BaseMiddleware

Doing this at the controller level: $user = JWTAuth::parseToken()->authenticate() , does not run again all the token verification process?

[2015-04-21 05:16] godbout commented on #94
I'm clear about a few things: the why and the when (I do APIs with Laravel and frontend with Angular (with no use of session), though I'm new to both) and also what is JWT. I've also checked many articles (like the one you provide) and many screencasts, but I'm lost in the magic of Laravel I think.

So I was not sure if the default Auth controllers (AuthController and PasswordController) coming wi

[2015-04-21 08:29] yunidbauza opened #98 "Changes in required_claims configuration variable are not being reflected"
Hi Tymon,

Not sure what's happening but after changing the **required_claims** variable to this:
`'required_claims' => ['sub','iat','exp'],`
and verifying the generated token using [jwt.io](http://jwt.io), I'm still seeing all claims there:
[code]
I verified if for some reason it was not reading the published configuration (config/jwt.php). In the config file I changed the identifier to a differe

[2015-04-21 13:14] devmark opened #100 "retrieved decode jwt data for the current request"
just like a auth function
store data after decode, we can return it on other places.

[2015-04-21 13:17] #100 closed

[2015-04-21 15:41] ykenny opened #101 "how to use Token refresh in L5"
when i got tips it says "token expire" , how can i refresh and got new token?
 i have been use JWTAuth::refresh($oldToken) but it doesn't work .

[2015-04-21 19:44] photoart-mtlwebdev commented on #92
Hi @devmark,

thanks for your input. You're right about the short expiry of the token.

What I meant was: should I store the token in a specific cookie in the browser ? Or should I keep it in the web app ?

What I ended up doing is storing the token in session. This way the relation is stateless between the API and the web app, and statefull (session cookie) between the web app and the browser.
No

[2015-04-22 04:37] jfadich commented on #101
This is an issue with the package. In the refresh method when decode is called the token is validated automatically, but the refreshFlow defaults to false so a token expiration exception is thrown.

I submitted a pull request that fixes the issue. You can look at it and use the changes, or wait to see if the pull request is accepted.

[2015-04-22 18:56] #90 closed

[2015-04-22 18:56] tymondesigns commented on #90
`0.4.3` released :)

[2015-04-22 18:58] tymondesigns commented on #82
could you try updating to `0.5.2` to see if it resolves it?

[2015-04-22 18:58] #87 closed

[2015-04-22 19:29] tymondesigns commented on #98
Hi @yunidbauza

The required claims in the config simply dictate what claims must be present in the payload and not what is added to the payload by default I'm afraid.

To change what is included in the payload you would have to manually build the payload, using the PayloadFactory, as described [here](https://github.com/tymondesigns/jwt-auth/wiki/Creating-Tokens#creating-a-token-based-on-anything-

[2015-04-22 19:29] #98 closed

[2015-04-23 03:41] jfadich commented on #63
This issue should be fixed in pull request https://github.com/tymondesigns/jwt-auth/pull/102 as @DangerLifter suspected, the  setRefreshFlow wasn't set before the token was decoded.

[2015-04-23 17:40] mmichaelbiz opened #103 "Add a JwtCheck middleware"
Could be worth adding a JwtCheck middleware. This can be included on routes where you do not want to exclude guests so do not want to throw the exceptions if they are not authenticated, but want to handle some additional logic in the cases where an authenticated user is making the request.

Seeing as your authenticate function is already setting the Laravel authenticated user object, once this mid

[2015-04-24 07:52] pbohny commented on #90
What about L5? Is it still "dev-laravel-5"?

[2015-04-24 08:37] tymondesigns commented on #90
`0.5.2` is the equivalent for laravel 5

[2015-04-24 08:39] pbohny commented on #90
of course it is, stupid me. Thanks a lot for your incredible work!

[2015-04-25 07:08] ykenny opened #104 "Can put it in Controller ?"
I want to build secure api application consult of http://www.toptal.com/web/cookie-free-authentication-with-json-web-tokens-an-example-in-laravel-and-angularjs

As far as  work great in my routes.php, but when i move this code in my controller
   if ( ! $token = JWTAuth::attempt($credentials)) {
       return Response::json(false, HttpResponse::HTTP_UNAUTHORIZED);
   }

it throw exception like thi

[2015-04-25 15:08] devmark commented on #104
can show all code in yr controller?

[2015-04-26 06:45] jfadich commented on #104
You're tying to call attempt() on the JWTAuth class and not the facade. You probably have "use Tymon\JWTAuth\JWTAuth" at the top of your controller. Either remove the use statement or qualify the JWTAuth call from global scope like \JWTAuth::attempt($credentials).

You should also either use the provided middleware/write your own. Or make an Api controller with the check and have all your api clas

[2015-04-26 07:06] jfadich commented on #97
You could accomplish the same thing without storing tokens on the server by appending the secret with the users hashed password. That way if the password changed the tokens should automatically invalidate. Of course this would only be useful if password changes were the only event you want to invalidate on

I would be happy to implement this but before I do I would defer to @tymondesigns to see if

[2015-04-26 13:04] ykenny commented on #104
@devmark @jfadich yes
tThe problem is  "use Tymon\JWTAuth\JWTAuth" at the top of controller
When it change that of "use JWTAuth;" , it work!
Thank you very much ！

[2015-04-26 21:55] tymondesigns commented on #63
Closing as main issue resolved (as of `0.5.3`), will be looking at custom responses/status codes soon

[2015-04-26 21:55] #63 closed

[2015-04-26 21:57] tymondesigns commented on #77
@diaspar I will look into adding another middleware that only verifies the token is present and valid

Thanks

[2015-04-26 21:57] #77 closed

[2015-04-26 21:58] tymondesigns commented on #82
should be fixed as of `0.5.3`

[2015-04-26 21:58] #82 closed

[2015-04-26 21:58] tymondesigns commented on #83
should be fixed as of `0.5.3`

[2015-04-26 21:58] #83 closed

[2015-04-26 21:58] #85 closed

[2015-04-26 22:00] tymondesigns commented on #101
should be fixed as of `0.5.3`

[2015-04-26 22:00] #101 closed

[2015-04-26 22:01] tymondesigns commented on #103
Yea this is a good idea.. will look to add this soon

[2015-04-26 22:01] #104 closed

[2015-04-29 07:32] carousel opened #106 "The token could not be parsed from the request"
Hi,

I am getting this error, when I try to use token on server. I am using Laravel4, and cookies to store token.

Before every request, in App::before filter I have

If(\Cookie::get("Bearer")){
    $token = \Cookie::get("Bearer");
    header("Authorization: Bearer $token");
};

Cookie with token is returned from server

after authentication like this:

return Response::make(compact('token'))

[2015-04-30 13:11] rscafi commented on #89
I have this problem too and I think that it could be resolved if we passed closures as custom claims, that would be resolved **after** the user is retrieved, so it could be injected. The above then would be possible:

[code]

What you guys think?

[2015-04-30 13:42] markmooibroek commented on #97
I would be happy to see this feature implemented. My use-case is the same: Invalidate all tokens based on password change.

[2015-05-03 16:46] davidbin commented on #83
Hi, I'm using version 0.5.3 but I still having the refresh token issue, after the first successful request I will get token_invalid error.

[2015-05-05 08:39] MPJHorner commented on #47
Did you get to the end of this? Im getting the same error on Lara 5

[2015-05-05 08:41] MPJHorner commented on #47
.ignore - I just needed to amend config/jwt.php line 67 amended the User path. Sorted.

[2015-05-05 11:01] uberzhilkin opened #109 "Getting exception while parseToken() in Laravel 4.2 (token passed by POST)"
Hello, this is my first  issue at GitHub, sorry for any mistakes. Didn't find the exact problem in open/closed issues so decided to start a new one.

My setup is Laravel 4.2 and JWTAuth 0.4.3. I'm building an API for a mobile app and I've decided to use tokens for authenification. The scenario is simple: first, the app provides user email/password pair (and the app key) to get the token. Next, the

[2015-05-05 13:38] MPJHorner commented on #97
@reshadman Why not have something that updates the secret, that would make them all expire no?

[2015-05-05 20:28] jfadich commented on #97
@MPJHorner This issue is related to individual user tokens, not site wide. If we just updated the secret then all tokens would be invalidated whenever a single user changed their password. Obviously that would be a user experience nightmare because it would force users to reauthenticate frequently and unpredictably with no explanation.

[2015-05-06 01:40] rohan-deshpande commented on #83
I'm also still getting this error, my composer is requiring `"tymon/jwt-auth":"0.5.*"` and I just updated yesterday so I should have the latest version. Is there some way of knowing if a token will be invalid and to force a refresh?

[2015-05-06 08:58] ykenny opened #110 "How to post token ?"
when i use get method add token in url  , it work!

but  when i use post method and  try to post token to route, it told me "Not allowed."

So, can you tell me what's wrong? Thanks!

[2015-05-06 11:13] uberzhilkin commented on #110
Wonder if it is the same issue as mine: https://github.com/tymondesigns/jwt-auth/issues/109

What version of JWT-auth are you using?

[2015-05-06 11:14] ykenny commented on #110
@uberzhilkin laravel5 and jwt-auth0.5.3

[2015-05-06 12:03] jeroenbourgois commented on #106
I came accross this too. In my first setup (without the `jwt-auth` package) I needed to parse the `Authorization` header and found that Laravel 5 was not allowing the header to be found. If I got the headers using the PHP built-in `getallheaders()` I could see the Authorization header...

So this is more of a Laravel 5 bug, @tymondesigns are you accepting a PR for this? I am willing to take a look

[2015-05-06 12:12] jeroenbourgois commented on #106
@carousel Proposition (and fix for me), inside the `vendor/tymon/jwt-auth/src/JWTAuth.php` file:

[code]

I only added the `if(is_null)` check, that should do it without changing the rest of the method.

Any thoughts @tymondesigns ?

[2015-05-06 14:42] uberzhilkin commented on #110
@ykenny I would suggest using a simple method of passing the token through the hidden field

[code]

The token handling should take place at the dedicated 'named.route' controller function then.

[2015-05-06 15:17] mcblum commented on #103
This is great! Thanks @mmichaelbiz.

[2015-05-07 19:23] Ascanius commented on #95
+1 on this feature, would greatly enhance this package.

[2015-05-07 20:07] mckibbe commented on #83
I am also using version 0.5.3 and am having the same refresh issue.

[2015-05-07 20:14] Maykonn commented on #83
When I get this issue, the solution that found to get my project working was to generate a new token with data from older token on each new request. Ex:

Request 1 (GET /login):
   Some guest data

Request 2 (POST /login reponse):
    User data merged with guest data

This is bad and can generate more issues when you have many async requests and your API(or business core) server is slow.

I will i

[2015-05-07 22:20] tymondesigns commented on #83
Ok thanks guys, looks like I will have to look at this again

[2015-05-07 22:23] tymondesigns commented on #106
I'm going to extract the token parsing logic out of this class, to enable a more comprehensive aproach, without bloat

[2015-05-07 22:31] carousel commented on #106
@tymondesigns that is great. I like you package, but found difficult to make it work in Laravel(4,5) because of token parsing.

[2015-05-08 11:16] dixitchopra opened #111 "Multiple table authentication"
I have two different tables user_credentials and merchant_credentials. How can I authenticate one table at a time based on login. Merchant login will be different than User login.

[2015-05-10 10:58] tw3eX opened #113 "Refresh tokens not working in laravel4."
I try this:

And get this:

The version for laravel 5, as far as I know, was repaired. And what about laravel 4?)

[2015-05-10 15:39] wannymiarelli commented on #83
I have the same error, solved by turning off the blacklist option.
Then i looked inside the src and noticed that after giving full read/write permission to the storage folder the token is refreshed without any problem.

Hope this can help.

Excuse me for typo.

[2015-05-11 07:53] marijang commented on #95
+1

[2015-05-12 16:40] pfazzino commented on #111
This isn't really a jwt-auth concern, you need to implement a custom UserProvider and decide at request time how you want to authenticate the request. All jwt does is delegate to the UserProvider and authenticates based on the identifier in the token by calling retrieveById on your UserProvider. Take a look here for help on extending Laravel authentication - http://laravel.com/docs/5.0/extending#a

[2015-05-12 16:42] pfazzino commented on #110
Why would you pass the token in the form and not in the Authorization header?

[2015-05-12 16:59] pfazzino opened #114 "Support for JWE Encryption"
It doesn't look like the namshi/jose package used supports encryption so I'm considering changing provider to use https://github.com/nov/jose-php. Before I do this I wanted to check if there was immediate plans to add support for JWE coming up in jwt-auth?

[2015-05-12 17:11] ykenny commented on #110
@pfazzino cause i haven't set virtual host, so ,should i set virtual host and retry it?

[2015-05-12 20:13] pfazzino commented on #110
I'm not sure I understand the question regarding setting in virtual host. Are you referring to the mod_rewrite rule to pass the Authorization header to the php process?

[2015-05-13 08:40] ykenny commented on #110
@pfazzino
![d514e609-84a0-4f4e-9fe2-57a90b0992cf](https://cloud.githubusercontent.com/assets/3362710/7606793/a3f84fb4-f98e-11e4-92af-041b27633fbd.png)

I post them in header but it does't work?Do you know what's wrong?

[2015-05-13 09:20] tymondesigns commented on #110
What server are you using here?

[2015-05-13 09:29] ykenny commented on #110
@tymondesigns I use apache , so i have been try to add Rewrite rule in apache  httpd.conf , but after that i try to restart apache and it can not start , what is happened?
![3e4f1548-78b8-4c4e-90a1-f19d0ab7558e](https://cloud.githubusercontent.com/assets/3362710/7607632/85cb8f2c-f995-11e4-8cc0-b83eb1a55ab4.png)

[2015-05-13 09:48] pfazzino commented on #110
Why do you have AllowOverride None?

On 13 May 2015 at 10:29, ykenny <notifications@github.com> wrote:

[2015-05-13 09:52] ykenny commented on #110
i try to delete AllowOverride None this line or modify AllowOverride  All , both doesn't work!

[2015-05-13 09:52] ykenny commented on #110
@pfazzino i try to delete AllowOverride None this line or modify AllowOverride All , both doesn't work!

[2015-05-13 10:08] tymondesigns commented on #110
Since this is an issue with your Apache configuration.. I would suggest also posting on stackoverflow or server fault.

[2015-05-13 10:26] uberzhilkin commented on #110
@tymondesigns, hi Sean! Could you please take a look at my problem: https://github.com/tymondesigns/jwt-auth/issues/109 ?

Thank you!

[2015-05-13 12:41] tymondesigns commented on #110
@uberzhilkin Yep, I will take a look at your issue as soon as I can! probably later today

[2015-05-13 15:29] uberzhilkin commented on #110
@tymondesigns, very much appreciated, thank you!

[2015-05-13 20:49] tymondesigns commented on #113
I will patch laravel 4 to match soon

[2015-05-13 20:51] tymondesigns commented on #114
@pfazzino can't see it being in the next release tbh, probably one for the one after, as it is something I want to implement at some point

Thanks

[2015-05-13 20:51] #114 closed

[2015-05-13 20:51] #110 closed

[2015-05-13 20:52] tymondesigns commented on #109
Are you using apache?

[2015-05-13 21:04] iolson commented on #91
Would love to see some code of this implemented into Lumen for User Auth and other auth methods.

[2015-05-13 21:15] tymondesigns commented on #109
If you are then #81 and [here](http://stackoverflow.com/questions/11990388/request-headers-bag-is-missing-authorization-header-in-symfony-2) should help

[2015-05-13 21:21] tymondesigns commented on #72
Added this over on [develop](https://github.com/tymondesigns/jwt-auth/tree/develop) :)

[2015-05-13 21:21] #72 closed

[2015-05-13 21:21] tymondesigns commented on #72
specifically [here](https://github.com/tymondesigns/jwt-auth/blob/develop/src/Http/TokenParser.php)

[2015-05-13 21:22] tymondesigns commented on #80
will be resolved when new release drops - see [here](https://github.com/tymondesigns/jwt-auth/tree/develop)

[2015-05-13 21:22] #80 closed

[2015-05-13 21:23] tymondesigns commented on #106
will be resolved when new release drops - see [here](https://github.com/tymondesigns/jwt-auth/tree/develop)

[2015-05-13 21:23] #106 closed

[2015-05-13 21:27] tymondesigns commented on #111
@pfazzino is right.. although I have made this slightly easier over on [develop](https://github.com/tymondesigns/jwt-auth/tree/develop).

In the new version you will have to implement the [JWTAuthSubject](https://github.com/tymondesigns/jwt-auth/blob/develop/src/JWTAuthSubject.php) interface and specify the identifier and any custom claims. Meaning this can be done on multiple entities/models

[2015-05-13 21:27] #111 closed

[2015-05-13 21:29] tymondesigns commented on #89
This will be improved when the new release drops - see [develop](https://github.com/tymondesigns/jwt-auth/tree/develop)

[2015-05-13 21:29] #89 closed

[2015-05-13 21:36] pfazzino commented on #111
When do you plan to roll develop into a new release? Nice to see the token
parsing pulled into jwt-auth directly. Having to add middleware to fix this
was easy once I realised what was going on but I'll be happy to throw it
out.

On 13 May 2015 at 22:27, Sean Tymon <notifications@github.com> wrote:

[2015-05-13 21:46] uberzhilkin commented on #109
No, I'm using nginx with a common Laravel configuration

[code]

Still will read the post you mentioned - maybe it will help

[2015-05-13 21:56] tymondesigns commented on #109
oh ok.. next thing to try is the solution described here #72

[2015-05-13 21:57] tymondesigns commented on #109
This will be part of the next release btw

[2015-05-13 21:58] tymondesigns commented on #111
roughly in the next couple of weeks I think.. need to fix some of the tests and make sure everything is tight

[2015-05-13 22:20] uberzhilkin commented on #109
@tymondesigns, this worked for me:

*filters.php*
[code]

Now I'm able to pass the token from my mobile app. Thanks a lot!

[2015-05-13 22:21] #109 closed

[2015-05-14 05:07] iolson opened #115 "Authenticate with Third-Party Package to Create Token?"
I'm currently running into an issue when using the method of:
[code]

The error is the following:
[code]

I'm currently using Cartalyst's Sentinel Package for Authentication and Registration. I was wondering if there was another way I can handle this to create the token and be able to Parse the token correctly in the future.

Package Docs: https://cartalyst.com/manual/sentinel/2.0

[2015-05-14 07:21] tymondesigns commented on #115
This is possible right now.. You just have to implement the AuthInterface in the providers directory.

#79 should help

[2015-05-14 07:31] #115 closed

[2015-05-14 07:44] pfazzino commented on #92
If you're not doing a SPA and want the token to go up the wire on every request you will have to store it in a cookie or have it included in all urls as a query param.

If you're using jwt for sessions, one suggestion is go the whole way and make the session the token and remove any notion of server side session state. Include any session data you need directly in the token (encrypting if necessar

[2015-05-14 07:50] pfazzino commented on #66
In the iOS app it should be pretty straightforward, when you next need to make a server request if the token has expired use the refresh token to get a new token first. You don't need a listener or some automatic process and I don't see why the server needs to send http status codes to warn the user. This is completely transparent to the user.

The only time the user needs to get involved in when

[2015-05-14 07:59] marijang commented on #66
JWT does not have refresh token

On 14 May 2015 at 09:50, pfazzino <notifications@github.com> wrote:

--
Marijan Greguric

[2015-05-14 08:37] pfazzino commented on #66
Your choice is to generate a token for refresh purposes which you present at a separate refresh endpoint of use the refresh_ttl built into jwt-auth. None of these are any concern of JWT.

[2015-05-14 09:09] Murwa commented on #80
Thanks

[2015-05-14 12:27] FoxxMD commented on #72
:+1:

[2015-05-15 20:03] forgottencreature commented on #91
Would also appreciate this.

[2015-05-16 12:25] tymondesigns commented on #91
Usage should be the same... You will just need to enable auth in lumen first - http://lumen.laravel.com/docs/authentication

[2015-05-18 11:58] Neoglyph opened #117 "jwt.auth middleware - returning status code 400 on TokenExpiredException"
Hey everyone,

I have stumbled across a problem, where the jwt-auth middleware (the ```Tymon\JWTAuth\Middleware\GetUserFromToken``` class) on an ```ExpiredTokenException``` would keep returning me a status code of 400, instead of the correct 401, all while returning the correct response - ```["token_expired"]```.

I have got it working, by adding namespaces before the Exceptions, which seemed to r

[2015-05-19 19:23] photoart-mtlwebdev commented on #92
Hi @pfazzino,

It looks like I've missed your message...I just saw it a few minutes ago.
Thanks for your suggestions.

I still can't see how you would "make the session the token". Where would you store this token on the server if not in session ? I never intended to use jwt for sessions, I just wanted to avoid storing the token in the browser so I left it in the server session. This way the Larav

[2015-05-19 19:58] pfazzino commented on #92
Why do you need to store the token in session? One of the points of jwt is that it's stateless. By storing it in session you immediately tie to a server or at least some form of backend storage. Also why are you concerned about storing the token in the browser? Are you putting senstivie data in the token? If you are you should encrypt it otherwise I'm not sure where the concern is.

When I say mak

[2015-05-19 20:15] photoart-mtlwebdev commented on #92
I get what you mean by losing the stateless part of the concept. But as the webapp then acts as a client to the API, it is exactly the same as having an iOS app storing the token and sending it directly to the API, isn't it ?

I didn't store the token in session initially but then I had to store it in the browser (cookie), send it to the web app, that would send it to the API. It didn't seem "clea

[2015-05-19 20:29] pfazzino commented on #92
I'm not seeing the connection between storing the token in the session and storing it in the browser as a cookie.

For a browser based client, you generally have two models, either you're building a javascript heavy/single-page-app (SPA) webapp, in which case all of the html is delivered on first load and from there on it's all client side js making ajax calls (http://www.toptal.com/web/cookie-fre

[2015-05-20 21:51] #66 closed

[2015-05-20 21:52] tymondesigns commented on #91
Next version (`0.6.*`) will have more considered lumen support

[2015-05-20 21:52] #91 closed

[2015-05-20 21:52] #94 closed

[2015-05-22 17:53] smaxwellstewart opened #118 "Escaped slashes causing errors"
Hi,

First off thank you for writing such a useful library and open sourcing it. Really appreciated.

I started using your library to issue tokens, to be consumed by services written in other languages. I could not get tokens to verify the signature. I then tried verifying them on http://jwt.io, also had the same problem.

On closer inspection I noticed the problem was escaped backslashes in the t

[2015-05-22 18:13] #118 closed

[2015-05-22 18:13] tymondesigns commented on #118
Merged

[2015-05-23 08:24] zolekm opened #122 "'App\Providers\Auth' not found - on before filter - jwt.auth L5"
When try to use middleware -> before with jwt.auth there is error

So i try this:

And get this:

The version is laravel 5

[2015-05-23 08:52] #122 closed

[2015-05-23 08:53] zolekm commented on #122
It's solved now, just need to add use uth; in EventServiceProvider

[2015-05-26 09:26] rathesDot commented on #117
Had the same problem and fixed it the same way as @Neoglyph described. Works well and should be updated.

[2015-05-26 10:48] mani95lisa opened #123 "how to customise JWTAuth::attempt ?"
Thanks!

I have readed this article : http://www.toptal.com/web/cookie-free-authentication-with-json-web-tokens-an-example-in-laravel-and-angularjs .

I'm a little confused about this method `JWTAuth::attempt`, please help me out, thanks again.

[2015-05-26 13:21] mani95lisa commented on #103
@mmichaelbiz Hi, I'm new to Laravel and JwtAuth, could you please give me any informations about that? any demo or article is ok, thanks!

[2015-05-26 14:01] tymondesigns commented on #123
What are you trying to customise?

You would simply pass in the login credentials and a token will be returned, which you can use to make subsequent authenticated requests

[2015-05-26 14:18] mani95lisa commented on #123
@tymondesigns Thanks, I'm new to use Laravel and JwtAuth. I mean how can I customize the behaviour of `JWTAuth::attempt($credentials)`. Because I have to verify password and mobile by Model. For example, I have to `User::find()->first()` and compare the password.

Maybe it's the question of Laravel, thanks!

[2015-05-26 14:24] tymondesigns commented on #123
You shouldn't ever have to manually compare the password, as laravel's authentication system handles that - http://laravel.com/docs/5.0/authentication

There's lots of material online, so just dig in! Laracasts.com is a good start if your looking to learn more

[2015-05-26 14:24] #123 closed

[2015-05-26 14:25] mani95lisa commented on #123
@tymondesigns ok, thanks!

[2015-05-26 14:41] mmichaelbiz commented on #103
sure @mani95lisa.

Check out Laravel's official docs on middleware here: http://laravel.com/docs/5.0/middleware

You can use this middleware code to to attempt to authenticate a user. If no valid JWT then it will ignore and continue as if the request was made by a 'guest' user.

If a valid JWT was passed with the request, for a given user the authenticated user object that Laravel uses will be set

[2015-05-26 15:19] mani95lisa commented on #103
@mmichaelbiz thanks!

[2015-05-26 16:29] mani95lisa commented on #103
@mmichaelbiz I have learned everything about that now, but I have a little question : can I use `JWTAuth::attempt` without password? It seems that function is provided by a Provider, but I don't know how to change that. If you know that, please let me know, thanks!

[2015-05-26 21:35] codeorganic opened #124 "Not Creating Valid Tokens"
I have tried a few times now in order to create a signed token, verified with jwt.io.

The issue is that my tokens are created with a valid signature, but even if I type in my signing key they tokens still appear to be unsigned.

[2015-05-26 23:18] tymondesigns commented on #124
This seems to be related to https://github.com/namshi/jose/issues/35

I will be sure update the dependencies on the next release, since it has been released in`5.0.0`

[2015-05-26 23:18] #124 closed

[2015-05-26 23:37] tymondesigns commented on #124
I just confirmed this is indeed the issue.. having tested it using the develop branch

[2015-05-27 00:00] #92 closed

[2015-05-27 03:33] eablokker opened #125 "How to get current user id in Laravel 5?"
Simple question. I know how to get it in Angular, but I don't want to send the user id over the post to create a new resource because then any user can create a resource for any other user!

I see there's a getUserFromToken middleware, and I can protect a route with it, but can I get it to give me the user id of the current user?

[2015-05-27 07:04] mmichaelbiz commented on #125
@eablokker think of the getUserFromToken middleware acting as your Auth:attempt(), but instead of True and False will return an exception and block the request.

Once you have passed through getUserFromToken middleware you should be able to do the familiar Auth::user() and get the authenticated user.

Check this out for some more info on the Laravel side: http://laravel.com/docs/5.0/authentication

[2015-05-27 12:49] mattmcdonald-uk opened #127 "Using refresh middleware, token is invalid"
On my route I'm using the jwt.refresh middleware.

I set the ttl to 1 to make sure refresh was working correctly, and encountered an issue.

When I try to get the current user (JWTAuth::parseToken() -> toUser()) in my controller, because the token hasn't yet been refreshed the token is invalid and it throws an exception.

Another issue I encountered here was that instead of it throwing an exceptio

[2015-05-27 13:07] mattmcdonald-uk commented on #95
+1

[2015-05-27 15:42] geoffs3310 opened #128 "Exceptions not caught and thrown gracefully"
I have copied the code from the example to make my own middleware to check that the user is authenticated:

    <?php namespace App\Http\Middleware;

	use Closure;
	use Auth;
	use URL;
	use JWTAuth;

	class ApiUserAuth {

		/**
		 * Handle an incoming request.
		 *
		 * @param  \Illuminate\Http\Request  $request
		 * @param  \Closure  $next
		 * @return mixed
		 */
		public function handle($reques

[2015-05-27 15:48] geoffs3310 commented on #128
Its ok turns out this is an issue with my namespaces not being right, my bad.

[2015-05-27 15:48] #128 closed

[2015-05-27 18:19] codeorganic commented on #124
Could this also be part of the unit tests on our end?

Also when will the next release be for us?

[2015-05-27 19:31] tymondesigns commented on #95
I have pushed a draft of this up on the develop branch.

Thanks @reshadman

[2015-05-27 19:31] #95 closed

[2015-05-27 19:36] tymondesigns commented on #125
As @mmichaelbiz has mentioned, you can use laravel's `Auth::user()->id` any time after JWTAuth's `authenticate()` method has been called in the same request lifecycle. This includes after getting through the GetUserFromToken middleware.

[2015-05-27 19:36] #125 closed

[2015-05-27 20:10] tymondesigns commented on #124
Not sure what you mean regarding your unit tests?

I am aiming to release within the next week or 2

[2015-05-27 22:04] eablokker commented on #125
Thank you, that works!

[2015-05-27 22:39] codeorganic commented on #127
Yes I believe you are saying:
"->refresh()" should not just blindly invalidate a token and it should check to make sure that it needs a refresh before"

This would fix the main issue with using ->refresh() in the current supplied middleware.

[2015-05-28 09:05] mattmcdonald-uk commented on #127
@codeorganic The issue here is that the token is already invalid, but can be refreshed. But because of the order the middleware is run in, the expired token is used to get the user before it's refreshed.

As it's an expired token, getting the user isn't possible.

[2015-05-28 18:15] osteel commented on #91
- Manually copy `vendor/tymon/jwt-auth/src/config/config.php` to `app/config/jwt.php` (and make changes in there as necessary)
 - Create `app/Providers/CustomJWTAuthServiceProvider.php`:

[code]

 - Install the `illuminate/routing` package:

[code]

 - In `bootstrap/app.php`, register `App\Providers\CustomJWTAuthServiceProvider` instead of `Tymon\JWTAuth\Providers\JWTAuthServiceProvider`:

[code]

[2015-05-29 17:05] osteel commented on #83
Hi,

I am slightly confused about what is supposed to happen when using `ttl`, `refresh_ttl` and the `RefreshToken` middleware, to be honest.

Here is how I understand this at the moment, theorically:

 - `ttl`: pretty straightforward. The time for which a token will be valid, i.e. using the token before the end of this time will allow the request to be performed, otherwise a *non authorized* resp

[2015-05-29 20:53] jdsingh commented on #117
@Neoglyph Had the same problem. Status code should be 401 for this package.

It returns 404 for user_not_found where it should return 401 when using `GetUserFromToken` middleware.

[2015-05-31 08:19] osteel commented on #127
As for the non caught exception, make sure you're trying to catch `\Tymon\JWTAuth\Exceptions\TokenExpiredException` and not `Tymon\JWTAuth\Exceptions\TokenExpiredException` (mind the backslash at the beginning)

[2015-05-31 16:41] osteel opened #130 "Refresh an expired token still within its refresh_ttl"
Hi,

This is not an issue *per se* (a priori), but more a question about the *refresh token flow*.

I understand that a token having passed its `ttl` (expired) but still within its `refresh_ttl` should still be *refreshable*, but I am confused about whether or not this should be done by the middleware (it doesn't seem to be the case).

Whenever a token is expired, it doesn't get through the `GetUs

[2015-06-01 04:12] rogeryu23 opened #131 "How to prevent the man-in-the-middle"
Hi seems, the token is just put in the http header which is not secure
Does it have support to do generating the signature and send only the signature over the wire and valided at the server side?

Thanks
Roger

[2015-06-01 14:29] tarunhere opened #132 "res is null. $scope.signup angular error"
![jwt error](https://cloud.githubusercontent.com/assets/4122496/7915046/918cdbf6-0898-11e5-839b-92015e2be228.png)
I have setup this project in local, but on submitting I am getting this error from the angularjs.
Please help me understand this.

Also, I have implemented roles and permission from Entrust package, How can I implement JWT to work with Entrust roles package?
Any help/guide will be high

[2015-06-02 04:36] npx opened #133 "[Question] jwt-auth with custom User implementation"
Is anyone out there?

I am using Laravel 5 and I have a custom User/Auth implementation.

I (think I) successfully built:
* WLAuthMiddleware
* WLAuthProvider
* WLGuard
* WLUser
* WLUserProvider

and I set up my jwt config (hopefully) appropriately:

    'user' => 'App\WLAuth\WLUser',
    ...
    'providers' => [
        'user' => 'App\WLAuth\WLUserProvider',

        'auth' => function ($app) {

[2015-06-02 09:31] npx commented on #133
Okay after a bit more struggling, I will now sum up all the steps to make this work with a custom implementation for user/auth in Laravel 5.

_Maybe some day, someone out there might need this as much as I needed it. Afterwards you're always a bit smarter, huh_

**Step 1**
Install the package and create the configuration, pretty much like on the Github page.

**Step 2**
Set up the config to match

[2015-06-02 09:31] #133 closed

[2015-06-02 15:31] spawn-guy opened #134 "Update JOSE Library"
so, this library uses JOSE of version 2.
apparently, tokens, generated by that version do NOT pass validation on http://jwt.io
as well as tokens generated by NodeJS OAuth server are not accepted by JOSE.
there is a version 4.0.0 of JOSE and 5.0.0 in development.

in my case i quick-implemented FirebaseAdaptor for https://github.com/firebase/php-jwt and now everything is working like a charm.

[2015-06-02 17:17] tymondesigns commented on #127
@mattmcdonald-uk just to clarify, are you applying both the middlewares to the same route, or just `RefreshToken` ?

[2015-06-02 17:29] tymondesigns commented on #131
Hi Roger,

Firstly, you should never add any sensitive information to the token claims.

Having the token sent as a header doesn't raise any security concerns to me.

To answer your question though. No that's not how JWT's work.

The package currently uses JSON Web Signature (JWS).
Although I will be looking to add JWE support after the next release is out of the way.

See http://self-issued.info/

[2015-06-02 17:29] #131 closed

[2015-06-02 19:00] tymondesigns commented on #132
Looks like CORS is the cause of your issue.

This package is great for this https://github.com/barryvdh/laravel-cors

[2015-06-02 19:00] #132 closed

[2015-06-02 19:03] tymondesigns commented on #134
This was done in #126 and b0d64636edf1b0718dfa97face9e9227909012c6

[2015-06-02 19:03] #134 closed

[2015-06-02 19:04] tymondesigns commented on #134
Will release patch soon

[2015-06-03 08:35] jasanmiguel commented on #117
I have the same problem. Status should be 401

[2015-06-03 09:17] mattmcdonald-uk commented on #127
@tymondesigns I'm just applying the refresh middleware. I originally applied both, but that didn't work as the first middleware was failing because the token was invalid (pre-refresh). Same problem the parseToken method is having.

@osteel Yes - spot on with the missing backslash (docs here also missing it: https://github.com/tymondesigns/jwt-auth/wiki/Authentication but perhaps the presume you've

[2015-06-03 09:36] osteel commented on #127
@mattmcdonald-uk  You basically have the same "problem" as the one I'm describing [here](https://github.com/tymondesigns/jwt-auth/issues/130). The token is expired but still *refreshable*, but when using both middlewares on the same route, the `GetUserFromToken` one prevents the `RefreshToken` one to be run through as the former throws an exception.

Like I'm saying in the other issue, I'm not sur

[2015-06-03 09:48] osteel commented on #127
@tymondesigns oh and by the way, I confirm that even using the `RefreshToken` middleware alone on a route, if the token is expired but still refreshable, it doesn't get resfreshed (tested with `ttl` of 1 minute and `refresh_ttl` of 2 weeks to make sure).

[2015-06-03 09:49] mattmcdonald-uk commented on #127
@osteel But I'm just using a single middleware. I originally presumed both middleware should be used together - but then they're an either/or. Happy for them to be either/or - BUT even when using just the RefreshToken middleware, there's a problem because it's not refreshing the token until after your controller logic has run.

So the flow that I presume should be there (and the way I've modified

[2015-06-03 10:04] osteel commented on #127
@mattmcdonald-uk yeah I agree, as confirmed in my previous comment ;)

The thing that would make me raise an eyebrow with the flow you describe tho (when using both middlewares), is if you get the `RefreshToken` one to refresh the token *before* the request gets through the `GetUserFromToken` one, why just not get rid of `refresh_ttl` and simply set `ttl` to 2 weeks straight away? It seems to me i

[2015-06-05 15:33] Doncode opened #136 "short token"
I want short token without iat, exp, nbf, iss, jti
Can i do it?

[2015-06-05 18:01] croshim opened #137 "Lumen"
Can I use this module in Lumen app?

[2015-06-05 19:21] thomasschiet opened #138 "Secret key stored in config/jwt.php"
When I generate a new secret key using ```php artisan jwt:generate```, it is stored in ```config/jwt.php```. Why is this? Wouldn't it be better if it were stored in ```.env```, just like ```APP_KEY```? Now git wants me to commit my key, this doesn't seem like a good practice.

[2015-06-05 19:39] schettino commented on #137
that would be great.

[2015-06-07 00:58] aligajani commented on #138
Correct, thought the same.

[2015-06-07 01:08] aligajani opened #139 "How does this package work internally?"
I need to know a bit more about how this package works, considering security is an important issue.

[2015-06-07 10:09] jayhealey opened #140 "Fatal error due to references to old interfaces (includes fixes)"
Installing `0.6.*`, it looks like there's some references to old interfaces that have moved into a contracts namespace. Two interfaces (Storage & JWT) are being referenced and they've recently moved.

Replace `Tymon\JWTAuth\Providers\Storage\StorageInterface` with `Tymon\JWTAuth\Contracts\Providers\Storage` in `Tymon\JWTAuth\Blacklist`.

Replace `Tymon\JWTAuth\Providers\JWT\JWTInterface` with `Tym

[2015-06-07 12:23] tymondesigns commented on #127
Ok, here goes..

Firstly, let me say that I never intended the middlewares to be used on the same route, and instead I would advocate a separate endpoint for each purpose. i.e. One for retreiving the authenticated user and one for simply refreshing tokens.

The Client would then marshall the token refreshing process. For example within an AngularJS SPA, you could implement a transparent token refr

[2015-06-07 12:27] tymondesigns commented on #127
I will also look at the possible bug you guys raised with the refresh_ttl aswell, and hopefully get that resolved asap

[2015-06-07 12:28] tymondesigns commented on #130
I guess we'll continue the discussion here #127

[2015-06-07 12:28] #130 closed

[2015-06-07 12:30] tymondesigns commented on #136
Not quite at the moment i'm afraid, I would need to add a setter for the default claims -  https://github.com/tymondesigns/jwt-auth/blob/laravel-5/src/PayloadFactory.php#L39

Will look to add this in the next version, (develop branch)

[2015-06-07 12:30] #136 closed

[2015-06-07 12:32] tymondesigns commented on #137
I am looking to add (thought out) Lumen support to the next version. But the honest answer is that I havent tried it yet.

You would need to enable Auth support first, and just try it out... Although I think the service provider will throw up some errors

[2015-06-07 12:32] #137 closed

[2015-06-07 12:37] tymondesigns commented on #138
In the same way that Laravel [has a default value](https://github.com/laravel/laravel/blob/master/config/app.php#L81) of `SomeRandomString`, this is only meant as a fallback if a key has not been set in the env vars. Which it should have been in production and other non local environments.

If you add the `--show` flag to the command then, it will simply output it to the console.

[2015-06-07 12:37] #138 closed

[2015-06-07 12:39] tymondesigns commented on #140
Looks like packagist didn't update to the latest commit hash, as I fixed this in 811392db0799eed56cd120825e51b11c3be24074

Should be updated now though

Thanks

[2015-06-07 12:39] #140 closed

[2015-06-07 12:41] tymondesigns commented on #139
Can you narrow it down a little? Which flow do you want to know about..

[2015-06-07 13:25] thomasschiet commented on #138
The point is that it doesn't set the env var, and if it is set, it will try to update the fallback value set in ```config/jwt.php```.

For example, when my ```.env``` file contains
[code]
and ```config/jwt.php```
[code]
The command does not work. It will search for "oldkey" in ```jwt.php``` and change it to the newly generated key. Obviously, the old key isn't present and thus nothing will be chan

[2015-06-07 20:21] aligajani commented on #138
It works for me if I put in just this :

'secret' => env('JWT_SECRET')

And then JWT_SECRET in my .env

On Sunday, June 7, 2015, Thomas Schiet <notifications@github.com> wrote:

--

Ali Gajani
Founder at Mr. Geek
www.mrgeek.me
www.aligajani.com

[2015-06-07 20:22] aligajani commented on #139
Well, a user wants to login via Larqvel socialite, how would that be done.
Such as handling the callback redirect.

On Sunday, June 7, 2015, Sean Tymon <notifications@github.com> wrote:

--

Ali Gajani
Founder at Mr. Geek
www.mrgeek.me
www.aligajani.com

[2015-06-07 21:53] tymondesigns commented on #139
The way in which a user is created/registered is outside of the scope of this package.

To use your example, you handle the callback as you normally would and register them if they aren't already. Then simply create a token for that user, using the relevant method
(in the current version that would be `$token = JWTAuth::fromUser($user);`)

[2015-06-07 21:54] aligajani commented on #139
Cool. I was just wondering. How secure is your implementation of the JWT.

On Sunday, June 7, 2015, Sean Tymon <notifications@github.com> wrote:

--

Ali Gajani
Founder at Mr. Geek
www.mrgeek.me
www.aligajani.com

[2015-06-07 22:04] tymondesigns commented on #139
it uses HMAC SHA-256 out of the box, but many other algorithms are available.

The heavy lifting is done by another package - https://github.com/namshi/jose

some other jwt libs use it too

[2015-06-07 22:04] #139 closed

[2015-06-07 22:05] aligajani commented on #139
Okay, I saw on JWT's site (jwt.io) that that package, /namshi/jose has
vulnerabilities.

Have you looked at it?

On Sun, Jun 7, 2015 at 11:04 PM, Sean Tymon <notifications@github.com>
wrote:

--

Ali Gajani
Founder at Mr. Geek
www.mrgeek.me
www.aligajani.com

[2015-06-07 22:07] tymondesigns commented on #139
yes many libraries had the vulnerability at the time, but was addressed soon after it was discovered

[2015-06-08 00:33] adrianopiro opened #141 "token not provided"
somebody can help me?
I'am new in Laravel and i'm trying to authenticate by jwt-auth, but I'm having problems.
when i trying to access some controller that have the construct middleware, like request below...
[code]

i get the error >>>  {"error":"token_not_provided"}

i read the wiki, but not find a solution for this issue.

[2015-06-08 07:17] tymondesigns commented on #141
The `jwt.auth` middleware requires that a token is present in the request. Since it will attempt to retrieve the authenticated user from it.

The response you are seeing comes from the middleware

[2015-06-08 07:17] #141 closed

[2015-06-08 14:34] hgokturk opened #142 "The token could not be parsed from the request"
I read the similar issues but seems like it exists.

Header set: Authorization Bearer .......
Apache .htaccess no problem.

Tymon \ JWTAuth \ Exceptions \ JWTException
HELP
The token could not be parsed from the request
Open: /home/sicakmarka/www/vakademi/vendor/tymon/jwt-auth/src/JWTAuth.php
     * @param  string  $query
     * @return JWTAuth
     */
    public function parseToken($query = 'toke

[2015-06-08 22:36] adrianopiro commented on #141
@tymondesigns ... thanks for reply. Can you give me an example hoe do it? I'am new with laravel and i'm getting some difficulties. How will be the route and controller with jwt-auth? Please, help me... kkkkk

[2015-06-08 23:04] adrianopiro commented on #141
@tymondesigns i think that i'am understand somethings. I thought the authentication was made by jwt-auth, but actually it is made by auth controller, alright? I read in wiki "Creating a Token based on the users credentials" and thought was necessary a specific controller based in jwt-auth to authenticate. But don't need yap? We can use the default auth controller from laravel. This is it?

[2015-06-09 07:01] tymondesigns commented on #141
You cannot use the laravel's AuthController, in its default form anyway.

This package is intended to be used when building an api, as a way of authenticating an incoming request.

I think you would benefit from some laravel training to be honest. I can highly recommend laracasts.com

[2015-06-09 08:27] Henri85 commented on #83
+1 for comment of @osteel.

Refresh after every request is great, but with (multiple) async requests it goes wrong (token invalid).

[2015-06-09 09:24] osteel commented on #83
@Henri85 regarding my questions above, you'll find some clarification [over here](https://github.com/tymondesigns/jwt-auth/issues/127)

[2015-06-09 09:56] osteel commented on #127
Hi @tymondesigns, thanks for your answers. A few comments:

Hmm ok, I think that would make sense tho? I can easily imagine using both of them, `GetUserFromToken` to control the validity of the token *before* the request is processed, and then `RefreshToken` to pass a refreshed token to the response, in order to use a single-use token flow.

That's actually what I'm doing.

This confuses me a tad.

[2015-06-09 10:22] mattmcdonald-uk commented on #127
That's basically the flow I use, except if a token is refreshable then it gets refreshed and the request is processed as before without returning a 401.

I would agree with @osteel that I'd prefer not to have a separate endpoint for refreshing tokens. My application flow is such that the frontend expects a new token in the header of every response, and replaces its existing saved token each time.

[2015-06-09 10:57] tymondesigns commented on #127
Thanks for your feedbackl guys, I will digest and get back to you when I'm not in work :+1:

[2015-06-09 15:11] thomasschiet commented on #138
If I do that, and run the command to generate a new secret, nothing happens because ```$path``` defined [here](https://github.com/tymondesigns/jwt-auth/blob/laravel-5/src/Commands/JWTGenerateCommand.php#L38) points to ```config/jwt.php```.

[2015-06-09 18:34] kiwina commented on #127
From what i grasped of the concept it does make sense to me just the way it is!

You make a request with an expired token you should be informed that it's expired and not refreshed automatically.

The middleware is there to increase the security of the token therefore RefreshToken may be a misleading name for it. better say (RenewToken)

A token should be refreshed after the client acknowledgement

[2015-06-09 20:12] kiwina opened #143 "Token Refresh / Expiry / Invalidation"
Found and strange behavior!

I refresh a token with blacklist enabled witch is expired!

$token = JWTAuth::parseToken()->refresh();

Now this token should be invalidated for any further requests but since it's expired it's not added to the invalidation list, so i could use it to get a new token witch is i think a little odd

[2015-06-09 22:28] Exelord opened #144 "Laravel 5.1"
Its not installing with Laravel 5.1 :/  - Composer error

[2015-06-09 22:45] tymondesigns commented on #143
Yea looks like something I will need to fix.

I will need to add some extra logic around blacklisting tokens, since this is because an expired token is never added to the blacklist, disregarding the fact that it can be refreshed.

Thanks!

[2015-06-09 22:45] tymondesigns commented on #144
which version are you attempting to install ?

[2015-06-09 22:47] tymondesigns commented on #142
It's highly likely that this is a problem with your apache configuration i.e. stripping out the `Authorization` header.

Have you tried adding:

[code]

to your apache `.conf` file ?

[2015-06-10 06:26] hgokturk commented on #142
Thank you for your response. I had already tried it and didn't work. I just switched to sending token as parameter ?token={token} and all is fine now.Have a good day.Thanks.
Date: Tue, 9 Jun 2015 15:47:32 -0700
From: notifications@github.com
To: jwt-auth@noreply.github.com
CC: h.gokturk@windowslive.com
Subject: Re: [jwt-auth] The token could not be parsed from the request (#142)

It's highly likel

[2015-06-10 06:28] #142 closed

[2015-06-10 09:31] WilsonFpz commented on #144
+1 tymon/jwt-auth dev-master requires illuminate/http ~4.0

[2015-06-10 10:16] osteel commented on #11
Hi @yanilkr, rather old issue I know but any chance to see what your **response** interceptor looks like in AngularJS?

I am using the `RefreshToken` middleware to pass refreshed tokens to every response (I can confirm its presence from the network panel of my browser) but for some reason I can't find it in the headers of my response in my interceptor:

[code]

My research's been unsuccessful so f

[2015-06-10 10:17] Exelord commented on #144
yup, I just run "composer require 'tymon/jwt-auth:dev-master'" and there is a problem. But version 0.5.3 works very well

[2015-06-10 10:33] tymondesigns commented on #144
dev-master is intended to target laravel 4, please use `0.5.*` or `0.6.*@dev` for laravel 5 and 5.1

[2015-06-10 10:33] #144 closed

[2015-06-10 10:34] tymondesigns commented on #144
You should avoid using `dev-master` in any case since it's prone to change at any time

[2015-06-10 11:43] osteel commented on #11
Never mind, finally found the answer.

When using CORS, you need to specify to which headers the client will have access, using the `Access-Control-Expose-Headers` header.

http://stackoverflow.com/questions/25673089/why-is-access-control-expose-headers-needed

[2015-06-10 22:34] doberlion commented on #143
it will work with Laravel 5.1?

[2015-06-10 23:16] rogeryu23 opened #146 "How to get caching support when use authenticate based on token and generate token by user"
Right now seems it reads the database by using model class,
but in real production, seems reading db each time for validate a token or generate a new token is expensive

I hope can read user info from memcache. Is there any easy way of doing this

[2015-06-10 23:55] mofodojodino opened #147 "Exception due to closure in config when using artisan config:cache"
When caching the laravel config via artisan cache:config command I am getting errors due to laravel not supporting closures in the config cache.

[code]

config/jwt.php is the standard one in the documentation and fails on the lines https://github.com/tymondesigns/jwt-auth/blob/laravel-5/src/config/config.php#L149-L151 and https://github.com/tymondesigns/jwt-auth/blob/laravel-5/src/config/config.p

[2015-06-11 09:31] tymondesigns commented on #147
If you are not customizing the providers then you can simply pass a class path as a string and laravel's iOC will build the instance

[2015-06-11 10:33] balintant commented on #91
@osteel, Works like charm! Thanks!

[2015-06-12 07:33] nschirmer opened #148 "Any plans to support Lumen?"
Hi,

I'm building a backend API using Lumen and will be using JWT for authentication. Came across your package, which looks perfect, but it seems we can't just drop any Laravel package into Lumen like I thought...

Basically the config_path function is not available in Lumen as it doesn't support publishing via artisan yet, which breaks things. :)

Thanks for any help you can provide!

**edit: oop

[2015-06-12 07:41] tymondesigns commented on #148
No worries.. Hope to get something together over the weekend

[2015-06-12 07:41] #148 closed

[2015-06-12 09:56] vincent-herlemont opened #149 "Issues with laravel 5.1 and middleware"
Hello,

In laravel 5.1 there aren't 'before' in the Route API, we need to use 'middleware' but laravel doesn't arrive to find a 'jwt-auth' (it's normally)
[code]

[code]
It's possible to create a new middleware for communicate but what it the best practice for make it ?

[2015-06-12 09:59] tymondesigns commented on #149
Please see the wiki https://github.com/tymondesigns/jwt-auth/wiki/Authentication#middleware-and-filters

[2015-06-12 09:59] #149 closed

[2015-06-12 17:15] boriswexler opened #150 "Questions about refresh and refresh ttl"
Hi - I am somewhat new to this topic, so sorry if my questions are naive.
I am developing a mobile app where the desired behavior is for the user to login once and stay logged in afterwards. My questions:
- as I understand the wiki, the refresh ttl is mandatory and means that there will be a certain period of time after which tokens will not be refreshable without the user logging in again. Is tha

[2015-06-12 19:07] james-daddies opened #151 "Unable authenticate with invalid token"
I am getting `Unable authenticate with invalid token.` 401 responses when I am accessing protected API routes (using DIngo with JWT auth). I login successfully and get a token returned. I can't find that error string so I don't know if this is on JWT side or Dingo side.

    $auth = Sentinel::stateless(Input::only(['email', 'password']));

    if (!$auth) throw new UnauthorizedHttpException('JWTAu

[2015-06-14 19:42] kfirba opened #152 "Question: encrypting the token - security concern"
Hello.

I've been playing with this for a while, unfortunately the documentation is rather poor so I had to dig-in and try to find out what's going on and what methods are available.

Are the tokens safe? If I'm planning to attempt a user login, I would like to have the token encrypted so even if a 3rd party intercept the token, they won't be able to know what was the data without some hard-to-obt

[2015-06-16 02:54] jossemarGT commented on #152
Hello! I think that you can find your answer at the wiki and the jwt specification draft.

But the short answer is a jwt token is already [encoded](https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32#page-6), but as always the threat is the communication channel, because anyone who intercepts a request and extract the token. Other weak point is in the API client (your application) if th

[2015-06-16 03:36] jossemarGT commented on #150
Hey! Just wanted to help and these are my suggestions:

- For this question, read the other two answers.
- I haven't tried with long ttl's, but, by definition if you make a request to refresh your token the only thing that you need is the old one and the issuer (your backend) will send you a new one, this process doesn't require the user's credentials.
- As said before, the client needs to explici

[2015-06-16 03:42] boriswexler commented on #150
Thanks a lot, very helpful.
Just to be clear - am I correct in rephrasing what you are saying as follows: if the ttl has expired and the client makes a request passing the expired token, the backend will automatically generate a new one and send over with the request without having to manually request a new one. If the refresh ttl has expired however the client will receive a 401 but will be able

[2015-06-16 05:09] jossemarGT commented on #150
Yes, if you have a token (even expired) and its living time (ttl) is lesser than ttl_refresh your client still can ask for a new one, just with the expired one and without the user's credentials.  The module (jwt-auth) itself won't auto refresh your token, the client application has to know what to do if receives a 401 response and still have an old token.

[2015-06-16 05:48] boriswexler commented on #150
I see, thanks again.
So what is the practical application of ttl_refresh? As per what you are saying it only has a practical impact if its value is less than the ttl? (in which case the user will have to reauthenticate when tokens expire?). I think what's confusing me is the mention in the wiki: "Refresh time to live - refresh_ttl - This is the length of time, in minutes, that you can refresh a to

[2015-06-16 05:54] boriswexler commented on #150
Following up on this I found the following post http://stackoverflow.com/questions/26739167/jwt-json-web-token-automatic-prolongation-of-expiration - so it seems that this validates that the refresh ttl will force the user to log in again. I guess my question is whether there is a way to eliminate the refresh ttl completely using jwt-auth (otherwise I suppose I could set it for 10 years or so).
Th

[2015-06-16 08:12] Murwa opened #153 "JWTAuth from user - Laravel 5.1"
In case anyone gets into an issue with `JWTAuth::fromUser()` for 0.6.*, the user model needs to implement `Tymon\JWTAuth\Contracts\JWTSubject`

If I'm not wrong @tymondesigns

[2015-06-16 13:13] jossemarGT commented on #150
Yes, as far as can see your approach is quite risky (because we use low ttl just in case that someone else "in the middle" took that token) but it might work as you expect, so, go on!

BTW Just to clarify a little bit more, you can see how does `jwt-auth` use the `ttl` and `refresh_ttl` [here](https://github.com/tymondesigns/jwt-auth/issues/66).

Happy coding :octocat:

[2015-06-16 14:05] boriswexler commented on #150
Thanks again, this clears up all my questions.
I do believe that a feature allowing for turning off the refresh ttl would be useful as most mobile apps that don't handle super sensitive data never request refresh ttl. I'm going to ask Symon if he'd be opposed to me adding that to the repo.

[2015-06-16 19:39] tymondesigns commented on #147
Going to look at adding closure serialization via `SuperClosure` or similar

[2015-06-16 19:40] tymondesigns commented on #146
validating a token will not touch the database (unless you have cache driver set to db and have blacklist enabled)

Could you post your code, So I can better understand what you are trying to achieve?

[2015-06-16 19:47] tymondesigns commented on #150
@boriswexler Apologies for the late response. Looks like you have figured out the flow here then.

I will have a think about adding the "forever" option, as I appreciate your use case for it

[2015-06-16 19:50] boriswexler commented on #150
Thanks Sean - please let me know. I do think it would be very useful in
some scenarios.

On Tuesday, June 16, 2015, Sean Tymon <notifications@github.com> wrote:

[2015-06-16 20:02] tymondesigns commented on #152
You should read up on the pros and cons of json web tokens. Lots of material online going through this stuff. Also note this library currently uses JWS (JSON Web Signature) to encode the tokens via [namshi/jose](https://github.com/namshi/jose).

The token payload is readable by any third party if they get their hands on it. Since base64 is used to encode the claims. The signature that goes along w

[2015-06-16 20:04] tymondesigns commented on #153
yes you are correct :+1:

[2015-06-16 22:45] tymondesigns commented on #113
Sorry but it turns out I don't have the time to maintain both major versions of laravel.

I guess try and upgrade to L5 when feasible

[2015-06-16 22:45] #113 closed

[2015-06-17 05:19] rogeryu23 commented on #146
i pretty much copy the middleware code and change a bit1 ) are you saying    $user = JWTAuth::setToken($token)->authenticate($token); does not call db, it is just decoding? If so then no problem at all.
2) The other question i have is each time user logins in,          return JWTAuth::fromUser($user);is called,  what does this fromUser do?  how many fields of user does it grab to construct the tok

[2015-06-17 07:37] rleger opened #154 "Retrieve Token saved in cookie"
Hi,

I'm using cookies to store my token (L5.1). I'm building an app using vuejs. The user authenticates via a login form and the cookie gets saved. From there on, all my calls to the API routes use the GetUserFromToken middleware to authenticate the user. If the token is invalid or expired or so, the user gets redirected to the login page.

I should mention I'm building my app as a standard http

[2015-06-17 09:54] Murwa commented on #153
Thank you!

[2015-06-17 10:21] #153 closed

[2015-06-17 19:51] TrustOkoroego opened #155 "Returns ["user_not_found"] on authentication with user"
After generating a token on user registration and using it to authenticate user,returns this: `["user_not_found"]`

i am using laravel 5.1

[2015-06-21 22:18] ajoslin103 opened #156 "need refresh token example"
Would someone be kind enough to post an example of refreshing a token passed in a param 'refresh token'

I've gotten this far:

    /**
     * Attempt to do token refresh
     *
     * @return  JWT Token
     */
    public function doRefresh()
    {
        // grab credentials from the request
        $expiredToken = Input::only('refresh_token');

        try {

            // attempt to refresh t

[2015-06-22 00:28] Murwa commented on #155
@TrustOkoroego  try passing the token as a parameter in your url. Looks like  it's not picked at the moment when passed via the authorization header

[2015-06-22 04:05] devmark commented on #156
1. refresh token each time you call api .  return new toekn or reset header
that let you make sure it is single user.

2. call refresh token even expired token.
it is just let "this user" dont need to fill the username&password again. after refreshed token, the old one token could not use anymore.

if mobile app, it should be use first option.
for now, i may go to second option to do that.

btw, i

[2015-06-22 07:08] tymondesigns commented on #155
What code are you using to generate the token?

[2015-06-22 10:51] ajoslin103 commented on #156
to be more clear -- my attempt to refresh the token is failing with this line

(I am using Laravel 4 so I don't have access to the middleware)

        // attempt to refresh token for the user
        if (! $token = JWTAuth::parseToken($expiredToken)->refresh()) {
            return Response::json(['error' => 'invalid_token'], 401);
        }

[2015-06-21 23:04:57] local.ERROR: exception 'BadMetho

[2015-06-22 20:51] Murwa commented on #155
[code]

[2015-06-23 01:01] TrustOkoroego commented on #155
This actually worked for me. `$authuser = JWTAuth::toUser(JWTAuth::getToken());`. I still passed the token through Authorization header. But this `$user = JWTAuth::parseToken()->authenticate();` as found in the documentation did not work.

[2015-06-23 13:13] alsofronie commented on #97
The purpose of the JWT token is to make an auth mechanism independent from the user model. That's why we use this. If you want the functionality you suggest, just use database to store a login token and authenticate the user based on that token. It's simpler and you can use the same headers.

[2015-06-23 13:14] alsofronie opened #157 "Feature request"
Is there a reason why you do not use app.key to encrypt the payload?

[2015-06-23 17:20] ajoslin103 commented on #156
$newToken = '';

	    try {

	        $token = Input::get('token');
	        Log::info("old_token: $token");

	        $newToken = JWTAuth::refresh($token);
	        Log::info("new_token: $newToken");

	    } catch (TokenExpiredException $e) {
	        Log::info("TokenExpiredException: ".$e->getMessage() );
	        $newToken = $e->getMessage();
	    } catch (JWTException $e) {
	        Log::info(

[2015-06-23 17:20] #156 closed

[2015-06-23 19:17] dani3l opened #158 "When I use the jwt.refresh it returns the same token (and invalidating it)"
Weird thing
I tried the jwt.refresh middleware but it returns the same token (after invalidation) so the next request throws unauthorized.

Any idea?

I'm using L5.1

[2015-06-23 19:33] tymondesigns commented on #157
It was a conscious decision to keep them separate because some people may want the flexibility of them being independent from each other.

And of course you could do the following :)
[code]

[2015-06-23 19:33] #157 closed

[2015-06-24 10:55] elsodev commented on #152
@tymondesigns great work you have done here, i have a question.

As mentioned by @jossemarGT communications channel is always the threat, SSL is the current solution to it, but yet again SSL may fail (it did happen), we still need the data passing around to be secured,

 Is there any way we can encrypt the json JUST in case SSL failed(highly unlikely), json is still unreadable.

Just reaching out

[2015-06-24 14:05] kfirba commented on #152
@elsodev just don't include any sensitive data. By default it will include the ID of the user which isn't sensitive at all.

Even if the SSL fails, the token is only valid for a specified amount of time. You can make the token expire in an hour, or expire it manually at every request and generate a new one for the user. The package comes with a token refresh middleware which will simply generate a

[2015-06-25 09:47] osteel commented on #158
No idea if it's related but I had the problem in testing context: basically if you make several requests using the refresh middleware in the same test method, the PayloadFactory will still use the `Request` object of the first request (as it is not re-instanciated), hence will reissue the same token as using the same payload data (after invalidating it).

Might be something to investigate accordin

[2015-06-25 12:09] EduardoOliveira opened #160 "Missing Authorization header"
Hello, I'm using jwt-auth with the laters laravel5.1 build but I'm getting some troubles authentication via header, I always get a JWTException.
Here's my middleware implementation:

    public function handle($request, Closure $next)
    {

        try {

            if (! $user = JWTAuth::parseToken()->authenticate()) {
                return response()->json(['user_not_found'], 404);

[2015-06-26 07:11] tymondesigns commented on #152
@elsodev this library currently uses JWS (JSON Web Signature) to create the tokens, which, as the name suggests, means the tokens are 'signed'.

I think in the major release after `0.6` I will introduce an option to use JWE (JSON Web Encryption) which will indeed encrypt the token

[2015-06-26 07:16] tymondesigns commented on #152
Also note that you could implement it yourself by implementing your own version of `Tymon\JWTAuth\Contracts\Providers\JWT` and passing that into the config

[2015-06-26 18:56] desertwinds opened #161 "$this->token being persisted on phpunit tests"
I'm testing my laravel 5.1 rest api with phpunit and somehow the token gets persisted. On one of my tests I have 2 different calls using 2 different tokens for users which I previously authenticate using the uri for doing so. However when I make the second call, the getToken() function retrieves the token set by the first call and so the "authenticated" user is the one from the first call. Is ther

[2015-06-26 19:05] tymondesigns commented on #161
You could call `$jwtAuth->setToken('foo');` or `$jwtAuth->setRequest($request);` before each test

[2015-06-26 19:19] desertwinds commented on #161
Hey thank you, I think that is going to work, but I have no idea how to execute it. If I call $jwtAuth->setToken('foo'); I get an undefined variable error, which is logical. I really don't know how to use your library from the test file. I suppose I could implement a web service to do the setting for the tests but that seems sketchy

[2015-06-26 19:28] tymondesigns commented on #161
no you don't need a service for this.. do you have any code to post?

[2015-06-26 19:38] desertwinds commented on #161
<?php
    use Illuminate\Foundation\Testing\WithoutMiddleware;
    use Illuminate\Foundation\Testing\DatabaseMigrations;
    use Illuminate\Foundation\Testing\DatabaseTransactions;

    class FriendshipTest extends TestCase{

        use DatabaseMigrations;
        public function testAcceptFriend(){
           //creating users with factories
            $user1 = factory('App\User')->create();

[2015-06-26 21:08] solvire commented on #155
IDK if this will help anyone else out but I was having a similar issue and stumbled on this thread.
I had to set the identifier because we use unorthodox naming conventions.

[code]
It was looking for an _id_ field so it would not set the _sub_ header

[2015-06-26 21:17] tymondesigns commented on #155
don't forget you can set this in the config ;)

[2015-06-26 21:22] solvire commented on #155
@tymondesigns Yes I did forget that. Or neglected to notice it when I was originally scanning it.
Thanks for pointing that out.

[2015-06-28 02:50] dani3l commented on #158
It doesn't work well when jwt.auth is also applied to the routes so I create a refresh route and only call it when token expired.

This is ok for now , buy is there any way to return a new token every request?

[2015-06-29 19:11] desertwinds commented on #161
Just to add a little more of context, I know exactly what is triggering the "error" on the testing enviroment. This function in JWTAuth.php

    public function getToken()
    {
            if (! $this->token) {
                try {
                    $this->parseToken();
                } catch (JWTException $e) {
                    return false;
                }
            }

        return

[2015-07-01 08:24] npx commented on #117
Can we keep this open as this is not fixed in 0.5.3?

[2015-07-01 08:28] csrui commented on #160
I'm having the exact same issue.

I've also added to my apache config (as documented)
[code]

[2015-07-01 08:38] csrui commented on #160
Correcting my last post. It works after all.

Just add the following to public/.htaccess

[code]

[2015-07-01 08:46] EduardoOliveira commented on #160
Sorry forgot to close the issue, arrived the the same conclusion 2 days ago.
https://github.com/lexik/LexikJWTAuthenticationBundle/issues/23#issuecomment-51714234

But thank you for the reply!

[2015-07-01 08:46] #160 closed

[2015-07-01 15:36] osteel opened #162 "On blacklisting"
Hi,

I'm using the single-use token flow with the `RefreshToken` middleware along with the `GetUserFromToken` one.

Playing around with an Angular front-end to test my API,  I started experiencing weird regular `401` responses, the `GetUserFromToken` middleware refusing tokens that had just been refreshed by the `RefreshToken` middleware.

Digging a bit, I realised that sometimes, even though the

[2015-07-01 22:34] tymondesigns commented on #162
You are right in your conclusion that the unix timestamp is really the only thing that keeps the jti's unique.

I will, as you say, add another value to compensate for this

[2015-07-02 08:48] osteel commented on #162
Cool cheers!

[2015-07-02 11:56] JeremyGreaux opened #163 "Class Tymon\JWTAuth\Providers\JWT\Namshi does not exist"
Hi,

After the installation, I wanted in my controller generate a token.
I end up with this error:

Class Tymon\JWTAuth\Providers\JWT\Namshi does not exist

Is this normal ?

regards

[2015-07-02 12:15] #163 closed

[2015-07-02 12:17] JeremyGreaux commented on #163
Sorry, I made an error in the configuration file ...
You can deleted this issue...

Sorry again

[2015-07-02 12:24] jasonspick opened #164 "Please Change Documentation for *Note to Apache users*"
In my error, I was making changes to my apache configuration file 000-default.conf. After struggling with this for about a week I found it is the .htaccess file that needs to be updated. Could you please update the documentation to help avoid confusion in the future?

Note to Apache users

Apache seems to discard the Authorization header if it is not a base64 encoded user/pass combo. So to fix thi

[2015-07-03 09:30] lkoenigsberger opened #165 "exp, nbf and iat change value from string to int"
Hi,
I have a problem with the given claims: exp,nbf,iat. All these values are returned as a string.
Is there a way to change the values from a string to an integer value??

Update: read the specs here https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32#section-4.1.4

and all these claims should be an integer!!

Thanks

[2015-07-03 12:55] lkoenigsberger opened #167 "implementing token signing with certificates"
As shown here it would be nice if we can switch to private key signing.

https://github.com/namshi/jose#usage

[2015-07-03 21:04] #165 closed

[2015-07-03 21:05] #155 closed

[2015-07-03 21:06] #152 closed

[2015-07-03 21:06] #97 closed

[2015-07-03 21:07] #150 closed

[2015-07-04 20:05] tymondesigns commented on #162
https://github.com/tymondesigns/jwt-auth/commit/82a0b5a12dd339183955f83dc2ed599ab740e58d#diff-deaffdc80700298d7be656b353c40eb8R192 should fix it

[2015-07-04 20:05] #162 closed

[2015-07-04 20:11] tymondesigns commented on #147
Switching to using string namespace paths for now. I think this may be resolved on the Laravel side.

[2015-07-04 20:11] #147 closed

[2015-07-04 20:12] tymondesigns commented on #164
Yea I don't mind clarifying that in the wiki. Although I have somewhat solved this issue in the coming release

[2015-07-04 20:12] #164 closed

[2015-07-04 20:17] tymondesigns commented on #103
done :) 0b9060d86cb11ec9fab9eb7987fcd1d39fbd0f53

[2015-07-04 20:17] #103 closed

[2015-07-05 09:15] mmichaelbiz commented on #103
Sweet! Thanks Sean!

[2015-07-05 11:00] osteel commented on #162
Looks good!

[2015-07-06 01:00] TrustOkoroego commented on #83
I am trying to get this to work. My native android app does no need to prompt a user to login after the first log in or registration. How can i set the generated token ttl to infinity(similar to a forever cookie unless a user clears his browser cache). If the user looses his phone, uninstall the app or formats his phone, he will only need to log in again and a new token will be generated and store

[2015-07-07 04:08] jwigal commented on #68
Banged my head for a while trying to get some basic functional / integration tests written. Here's what I came up with that seems to be working for Laravel 5.1:

[code]
Our routes.php file looks something like this:
[code]

[2015-07-08 10:00] ChristianGiupponi opened #168 "Custom length"
Hi,
I'd like to use this package to generate token to use as api key, there is any way to set the length?
I tried:

[code]

but the length is 255 char that is too much for a simple apy key

[2015-07-08 12:01] tymondesigns commented on #168
I think you may have misunderstood how JWT's are constructed. The length is not directly configurable. But there is a direct relationship between the length of the token and the number of claims. - see [here](https://github.com/tymondesigns/jwt-auth/wiki/Creating-Tokens#creating-a-token-based-on-a-user-object)

You can find out what claims exist in your token by pasting it on http://jwt.io/

[2015-07-08 12:01] #168 closed

[2015-07-08 12:28] sarpdoruk opened #169 "Redis as Cache Driver Won't Work"
Hey there,

I am currently using this library with `Laravel 5.1`.  There are no problems when I use `array, file, memcached or database` as `cache drivers` but when I assign redis as cache driver whatever request I make to the server with the token, a new `tymon.jwt.invalid` is thrown.

P.S. I use redis in the same application to store other types of data, there is no problem with the redis connec

[2015-07-08 15:04] nickrouty commented on #148
+1 - I came here via dingo/api, but can't seem to get this package configured. Would be great!

[2015-07-08 15:26] nschirmer commented on #148
@nickrouty I came across a tutorial recently for easily integrating JWT-Auth with Lumen. I had already gotten it integrated before finding it, but it may very well help you out a lot! http://laravelista.com/json-web-token-authentication-for-lumen/

In the end, especially after reading the end of that tutorial (and speaking with the author), I decided to just switch over to Laravel 5.1 instead of u

[2015-07-08 15:30] nickrouty commented on #148
@nschirmer Thanks for the reply, much appreciated. I may end up going that route. For the time being, I'm trying to keep it simple and was hoping Lumen vs. Laravel would help with that simplicity.. that may not be the case ;)

[2015-07-08 15:37] nschirmer commented on #148
Yeah, Lumen really does _sound_ nice but I'm afraid it's not fully there yet. For one, I was really struggling trying to get route groups to work properly (when embedding them within other groups). Couldn't figure out what I was doing wrong until the suggestion to just use Laravel came up. Once I switched, my routes started working as-is without any modifications (besides switching from $app-> to

[2015-07-08 16:50] #169 closed

[2015-07-08 20:51] nickrouty opened #170 "Running into a 500 error"
Setting up a fresh install of Laravel with dingo/api package. I am getting the error:

PHP Fatal error:  Wrong parameters for Exception([string $exception [, long $code [, Exception $previous = NULL]]]) in .../vendor/symfony/http-kernel/Exception/HttpException.php on line 29

 PHP Fatal error:  Uncaught exception 'Symfony\Component\Debug\Exception\FatalErrorException' with message 'Wrong parameter

[2015-07-09 07:23] tymondesigns commented on #167
Shouldn't be much work to get this in.

I'll see what I can do

[2015-07-09 07:24] tymondesigns commented on #151
Not sure what could be the issue here. I have a feeling it's on the dingo side. A composer update might solve this

[2015-07-09 08:52] wind930 opened #171 "middleware use jwt.refresh return "Function () does not exist""
Hi @tymondesigns
I Follow and step by step on the document, but the dingo / api routing when using jwt.refresh, but given "Function () does not exist"

I do not know whether my understanding is biased, I wrote three routes, namely,
1. Log Interface (returning after a successful login generated token)
2. The first step in the return token, http head on request "Authorization Bearer token"

The abov

[2015-07-09 09:25] wind930 commented on #171
###Screen shots

![Route](https://zhaiyonggang.com/software/1.png)

---

![login](https://zhaiyonggang.com/software/2.png)

---

![refresh](https://zhaiyonggang.com/software/3.png)

[code]

[2015-07-09 12:25] theatrain opened #172 "L5.1 "JWT payload does not contain the required claims""
I keep getting this error message when using

    \JWTAuth::attempt($request->only(['email','password']));

I have tried to trace the problem through the JWTAuth lib and the only thing I can come up with is that when it gets to JWTAuth.php line 187, the user identifier is passed through but not received in PayloadFactory.php Line 71.

If I put

    dd(func_get_args());

in PayloadFactory.php Line

[2015-07-09 13:14] wind930 commented on #172
use JWTAuth;
use Tymon\JWTAuth\Exceptions\JWTException;

[2015-07-09 14:08] theatrain commented on #172
I ended up removing and re-installing and it works. Think I must have messed something up when upgrading.

[2015-07-09 14:08] #172 closed

[2015-07-09 14:44] donnygunawan93 opened #173 "Error 401 ?"
I have code on my angular.

$scope.getNewToken();

Thats function send old token to server then receive a new token from jwt.refresh middleware.

When i do loop with interval 2 sec.

$scope.getNewToken();//delay 2 sec,
$scope.getNewToken();//delay 2 sec,
$scope.getNewToken();//delay 2 sec,
$scope.getNewToken();//delay 2 sec,
$scope.getNewToken();//delay 2 sec, infinite, like so

thats works fine,

[2015-07-09 14:55] albrethandoyo commented on #173
oh sorry thats issue on my angular not on server LoL

[2015-07-09 16:19] kz commented on #33
@Foxandxss @tymondesigns FYI guys, Sentinel has been open source for a couple weeks now, and they're holding an Indiegogo campaign: https://www.indiegogo.com/projects/sentinel-open-source

[2015-07-09 16:20] Foxandxss commented on #33
@kz Interesting, but sadly I am not interested anymore.

[2015-07-09 16:56] drawmyattention opened #174 "RefreshToken middleware sends refreshed token even if expired"
Given I have an expired token, and I make a request to an endpoint that has the ```jwt.refresh``` middleware, I would expect the an exception to be thrown but to not automatically receive a refreshed token.

Currently, the middleware sends back a refreshed token. It's easy enough to change this behaviour but I wanted to see what the logic behind this was before making any changes or submitting a P

[2015-07-09 18:12] mtpultz commented on #18
When the token is decoded on each request I noticed that the base Auth of Laravel is set with the information so we can keep using Auth::user() etc, but it doesn't appear that Auth::logout() invalidates the token.  Would this be a useful feature request that Auth::logout() invalidated the token?

[2015-07-09 20:14] valiknet18 opened #175 "Undefined method isDeferred"
Hello, after install this package, and add path in package config file, i am getting error

[code]

how to fix this?

[2015-07-09 23:12] Murwa opened #176 "JWT payload does not contain the required claims"
Hey @tymondesigns, just updated and got

[2015-07-10 02:43] albrethandoyo commented on #173
oh yes, i was checking my angular, thats was ok, i think this is server issues, any one help?

[2015-07-10 06:53] tymondesigns commented on #174
This is expected behaviour. A token can be refreshed up until the `refresh_ttl` has expired, regardless of the expired state of the token

[2015-07-10 06:56] tymondesigns commented on #176
Which version?

[2015-07-10 06:57] tymondesigns commented on #175
Where is this error error thrown from.. Can you paste a stack trace?

[2015-07-10 07:05] tymondesigns commented on #173
This is probably related to to #162

And should be resolved in the next version

Not sure why you'd do this in a real app though?

[2015-07-10 07:06] tymondesigns commented on #171
You don't need the `jwt.auth` middleware here. Let dingo handle the authentication

[2015-07-10 07:06] #171 closed

[2015-07-10 07:40] Murwa commented on #176
The dev-develop branch - 0.6.@dev

Sent from my iPhone

[2015-07-10 07:53] tymondesigns commented on #176
Hmm.. this hasn't changed. Are you sure that your config matches whats in your token?

[2015-07-10 08:09] Murwa commented on #176
I have default config; I get the error coz 'sub' is not provided: I get a token if I remove 'sub' from config, but now it's useless coz there won't be user infor 😐

Sent from my iPhone

[2015-07-10 08:37] tymondesigns commented on #176
that's weird.. I will take a look when I'm back at my machine.

could you post your code your using to create the token

[2015-07-10 08:55] Murwa commented on #176
Here is my config
[code]

Then my auth code
[code]

[2015-07-10 09:34] donnygunawan93 commented on #173
actually i just want to chain some promises,
so code above just for trace where is the problems hahaha.

ok i will wait for the next version thx buddy ^_^

[2015-07-10 09:46] tymondesigns commented on #173
No worries

[2015-07-10 09:46] #173 closed

[2015-07-10 10:21] SnehalAmbab commented on #18
I want to invalidate all the tokens assigned to a particular user on re-login.

How can we do it?

[2015-07-10 10:29] valiknet18 commented on #175
[code]

[2015-07-10 16:24] tymondesigns commented on #18
@mtpultz Not a good idea I'm afraid.

Most of laravel's auth system assumes session/cookie based authentication. So it wouldn't work.

@SnehalAmbab there is no concept of tokens assigned to a user; meaning they are not stored anywhere. Hence the term stateless authentication

[2015-07-10 17:18] Mr-Anonymous commented on #125
I dont understand. How can I get the userId of the currently authenticated user? I am new to Laravel 5.1 and I am doing this:

First Route goes through jwt-auth Middleware:
[code]

Now, inside the movies controller, I only want to show the list movies that are created by that user. So I have something like this:
[code]
So basically, I am just using parseToken to get the userId. Is that a secure wa

[2015-07-10 18:38] #176 closed

[2015-07-10 18:39] tymondesigns commented on #170
looks like something specific to the way dingo/api handles exceptions.. I would open an issue there instead

[2015-07-10 18:39] #170 closed

[2015-07-10 19:17] tymondesigns commented on #175
Could you try a composer dump-autoload or if that doesn't work, post your config/app.php specifically where you include the service provider and alias

[2015-07-10 19:36] valiknet18 commented on #175
composer dump-autoload doesn't help me
config/app.php
[code]

[code]

[2015-07-10 20:11] tymondesigns commented on #175
You have added the facade to the providers array.

Replace that with the path to the service provider `Tymon\JWTAuth\Providers\JWTAuthServiceProvider::class`

[2015-07-10 20:15] #175 closed

[2015-07-10 20:23] valiknet18 commented on #175
thanks :)

[2015-07-11 07:29] mmichaelbiz commented on #125
@Mr-Anonymous, if you are successfully passing through the middleware to the index method then seems you are almost there!

You do not need to parseToken again in your index method, the jwt.auth middleware has already checked the token, and thanks to the way Sean has written this package, the Laravel user object gets set up for you which you can access through Laravel's Auth::User().

So you do no

[2015-07-11 07:55] Mr-Anonymous commented on #125
@mmichaelbiz  Thank you so much!! Yesterday, I couldnt get it to work using `Auth::User();` for some reason but today after you have explained it again so clearly, I tried it again and it worked! Thank you so much for that. Now all I need to do is:

Step 1: Pass route through jwt middleware
[code]
Step 2: And have this inside MoviesController:
[code]
Its so easy.. I didnt need to add the extra cod

[2015-07-11 07:59] mmichaelbiz commented on #125
Glad I could help! :) Good luck with the rest of your app!

[2015-07-11 10:40] tymondesigns commented on #125
Just FYI.. In the next version (0.6)

You will be able to use `JWTAuth::user()` to decouple from laravel's auth system. E.g. if you want to use Sentinel or something.

[2015-07-11 10:44] Mr-Anonymous commented on #125
wow... thats even better. How long for 0.6? Also would `Auth::User();` in the above method still continue to work or will I need to change them to `JWTAuth::user()` after the update?

[2015-07-11 10:55] tymondesigns commented on #125
Using Auth::user() would still work in 0.6 yes.

However if you decided to swap your authentication provider at some point then you would have to change all the references to the new one.

I'm hoping to release it soon, just a few more things to add. It's updating the wiki that will take the most of my time, as quite a few things have changed slightly.

Thanks!

[2015-07-11 11:05] mmichaelbiz commented on #125
Very cool :+1:

[2015-07-11 11:41] Mr-Anonymous commented on #125
great news! Thanks @tymondesigns

[2015-07-11 19:57] privatmamtora opened #178 "Seprerating the Payload and the Auth"
I am wondering if the Payload part of this package could be separated from the Authentication.
So dependency wise it could be
jwt-auth
     |_ jwt-payload
                  |_ namshi/jose

It seems the jwt-payload would be a very valuable package. Out of the 7 libraries that depend on namshi none implement just the payload part of the jwt.

[2015-07-11 20:09] tymondesigns commented on #178
When you say Payload, which parts exactly do you mean?

Tbh I've been thinking of splitting out this package so its truly framework agnostic.

Are you suggesting that other jwt packages may want to require the payload aspect alone?

[2015-07-11 20:17] privatmamtora commented on #178
Yes

So the following in a separate package
Payload.php
PayloadFactory.php
Token.php
Validators/*
Facades/JWTFactory.php

Almost everything directly connected to namshi/jose

[2015-07-11 20:44] privatmamtora commented on #178
Is it ok if I send a pull request (Need it now, I am already half way done)?

[2015-07-11 20:51] tymondesigns commented on #178
Not sure how you could achieve this with a PR?

It's something I'll consider though for sure

[2015-07-12 13:46] privatmamtora opened #179 "CacheManager dependency resolving error"
On the dev branch I am getting the following error:
`Unresolvable dependency resolving [Parameter #0 [ <required> $app ]] in class Illuminate\Cache\CacheManager`

[code]

[2015-07-12 15:14] dani3l opened #180 "Payload timestamps are strings - should be integers"
Hi guys
I'm using socket.io in my app and there's an npm package called socketio-jwt by auth0 to validate tokens for socket connections.

The package uses another package called jsonwebtoken and one of the checks is:
`if (typeof payload.exp !== 'number') { return done(new JsonWebTokenError('invalid exp value')); }`
(https://github.com/auth0/node-jsonwebtoken/blob/master/index.js#L169)

So I checke

[2015-07-12 16:30] privatmamtora commented on #180
This was solved with 622f6c39cdcbba86bd4540aa611327ffe6357e3d, but currently on develop branch

[2015-07-12 20:19] privatmamtora commented on #179
This happens in Lumen environment only.

[2015-07-12 20:25] tymondesigns commented on #179
You will need to add caching support to lumen (via illuminate/cache)

[2015-07-12 20:28] privatmamtora commented on #179
Not required, lumen already depends on it.

[2015-07-12 20:33] privatmamtora commented on #178
I have done it. But I havn't been able to completely test it because of https://github.com/tymondesigns/jwt-auth/issues/179, and other things (dev branch changes)

The auth lib: https://github.com/privatmamtora/jwt-auth/tree/jwt-payload
The payload lib: https://github.com/privatmamtora/jwt-payload
It is just a starter. (I added you as collaborator)

[2015-07-12 20:42] tymondesigns commented on #179
Oh I see.. Haven't played around much with lumen tbh

[2015-07-13 06:12] jayhealey commented on #176
This is still an issue. It looks like the custom claims aren't being passed to `make` function in the `PayloadFactory` class.

See line 183 in `JWTAuth`:
[code]

The `make` function from `PayloadFactory` doesn't receive parameters:
[code]

My suggestion would be to replace it with:
[code]

[2015-07-13 07:11] tymondesigns commented on #176
Apologies.. Didn't post back here... This has changed as described in https://github.com/tymondesigns/jwt-auth/pull/177#issuecomment-120417203

[2015-07-13 19:49] waqasiqrar commented on #127
Hi @osteel Its great explanation. Can you further explain this point i.e.

If not valid, GetUserFromToken raises an exception (or triggers an event if you stick to the original behaviour) that is caught by a handler, and the handler checks if the token is still refreshable

How can we catch exception raised by GetUserFromToken without overriding the middleware itself? Is there a way to hook respon

[2015-07-13 22:49] osteel commented on #127
@waqasiqrar I actually extended the middleware so it throws exceptions instead of triggering events ;)

[2015-07-14 00:19] jayhealey commented on #176
I can see - but that's not solving the problem when using `JWTAuth::fromUser`.

As of the latest commit, using `"tymon/jwt-auth": "0.6.*`, I still receive this error using `JWTAuth::fromUser`:

[code]

This used to work before the claims were reworked.

__*Whilst the `makePayload` function in `JWTAuth` is passing forward the claims, the `make` function being called does not receive the claims*__.

[2015-07-14 06:53] tymondesigns commented on #176
Ah yea, I see what you mean.. Will fix this shortly, and also I'll need to look at my tests for this, as they were not failing :/

My fix would be slightly different than your suggestion (although that would indeed work) but I'm only on my phone ATM, so can't illustrate that easily right now

Thanks

[2015-07-14 09:33] drawmyattention opened #181 "Exceptions can't be handled when using middleware"
I'm globally handling exceptions within my ```Handler.php``` file. However, as the ```GetUserFromToken.php``` file wraps the authentication attempt in a try / catch block, the Exceptions can't be handled by my own handler.

An alternative method is required to allow for our own exception handling.

[2015-07-14 10:48] hfalucas commented on #161
I'm also having a bit of trouble using this package in my tests. Specially when trying to hit a url protected by jwt.auth middleware. Have no idea how to do it tbh. Any guidance?

[2015-07-14 12:17] mouradsm opened #182 "Non-static method Tymon\JWTAuth\JWTAuth::attempt()"
Non-static method exception on Laravel 5.1

Non-static method Tymon\JWTAuth\JWTAuth::attempt() should not be called statically, assuming $this from incompatible context

[2015-07-14 12:20] mouradsm commented on #182
solved in https://github.com/tymondesigns/jwt-auth/issues/104

Thanks!

[2015-07-14 13:06] pfazzino opened #183 "Token Auth / Stateless / DB Lookup"
Just some general comments regarding this implementation, helpful and excellent as it is.

Although the JWT spec makes no claims in terms of statelessness or what you actually do with the token on receipt in any real detail, one of the claimed advantages of a token based approach compared with session based is the fact that the token is stateless, able to be easily verified on any endpoint without

[2015-07-15 07:11] #182 closed

[2015-07-15 21:15] #174 closed

[2015-07-16 09:46] loginwashere commented on #181
You always have an option to extend GetUserFromToken and change handle logic as it suits your needs.

Also GetUserFromToken::handle directly and indirectly (via response method)  fires events and you can subscribe to them in for example EventServiceProvider and try to throw exception again to catch it in your Handler.php or call handler method in EventServiceProvider.

[2015-07-16 17:02] gvhuyssteen commented on #161
In my Controller __construct method, I have these few lines of code that is running that sorts out this issue.

[code]

Is there a better solution?

[2015-07-17 17:46] OFranke opened #184 "Problem with authentication"
Hi,
I have a problem using following code:

       public function authenticate(Request $request)
    {
        $credentials = $request->only('email', 'password');

        try {
            // verify the credentials and create a token for the user
            if (! $token = JWTAuth::attempt($credentials)) {
                return response()->json(['error' => 'invalid_credentials'], 401);

[2015-07-17 18:11] acmitch commented on #184
I had a similar issue when migrating an existing database scheme to use this library. My issue was related to the database scheme differences on the User table.  Laravel was Hashing the passwords differently with a longer lenth than my database column was able to hold.

I imagine you have a similar issue that when retrieving from the database it's blowing up.

Here's a couple of things to try:

1.

[2015-07-18 17:28] hfalucas commented on #184
If you moved your User model don't forget to also update the *user* key in  `config/jwt.php`.
`'user' => '<your User Model>',`

[2015-07-20 09:18] geoah commented on #133
@npx Would it be possible to create a gist with the files you had to create for this to work?
Thank you (so very much) in advance, and I do apologise if I'm asking too much! :)

[2015-07-20 09:49] OFranke commented on #184
Hey guys,
thanks for the help. What you mentioned brought me on the right track. Im building a new authentication from scratch without migrations of any existing users. So what I did for testing was to create users with non hashed passwords in the database, e.g. username: test, password: 123
It seems like the jwt authentication is just working with the laravel Hash::make function since it hashes t

[2015-07-20 09:54] amilgaul commented on #143
@tymondesigns  any update for refresh token.

Thanks.

[2015-07-21 00:14] hilnius commented on #147
I'm having this error. Ways to fix ?

[2015-07-21 00:17] mofodojodino commented on #147
@hilnius you just need to replace your config/jwt.php with what is in the develop branch here https://github.com/tymondesigns/jwt-auth/blob/develop/config/config.php#L113-L148 and that fixes the issue.

[2015-07-21 03:49] npx commented on #133
@geoah which files do you mean? The one of my custom auth?
As for using this package I did not create any files except for the config maybe, which can be created with the respective artisan command.

[2015-07-21 16:27] acmitch commented on #184
Awesome! Glad you figured it out.

[2015-07-21 19:35] mrgodhani opened #185 "Getting user info along with Token right away"
HI,

How do we get user info along with token when user signs into the application without doing any additional request to api ?

Currently we are using React and Flux with Laravel along with this jwt package.

In below code I will get user id and token. But in order not to do another request can we add user info in same token on login?

[code]

[2015-07-21 22:21] tymondesigns commented on #143
Will work on this soon

[2015-07-21 22:22] #184 closed

[2015-07-21 22:22] #180 closed

[2015-07-22 18:18] mrgodhani opened #186 "How do you refresh Token ?"
Hi

Is there any documentation on how to refresh token after it gets expired ?

Also there is conflict if you use both refresh and blacklist for all protected routes.

[2015-07-23 09:39] selvin007 opened #187 "Unable to parse token in post calls"
whenever token is part of post parameters and not specified in url or header it is unable to parse token from request

/tymon/jwt-auth/src/JWTAuth.php

it works if we change

 public function parseToken($method = 'bearer', $header = 'authorization', $query = 'token')
    {
        if (! $token = $this->parseAuthHeader($header, $method)) {
            if (! $token = $this->request->query($query, fa

[2015-07-23 12:53] neeilya opened #188 "Get authenticated user"
Hi, this package is great, thank you!

Could you implement functionality similar to Laravel built in `Auth::user()`?

Right now I have to retrieve user by chain of methods
[code]

And each time I retrieve a user variable it makes request to database.
Could you make it cache or something.

And if you will do this, please keep in mind that it is convenient to have power to change user retrieving que

[2015-07-23 16:07] rockymontana opened #189 ""Target [Tymon\JWTAuth\Providers\JWT\JWTInterface] is not instantiable." on v0.5.4"
I've followed the guide on the wiki regarding Laravel 5(.1), when I do
```$ php artisan vendor:publish --provider="Tymon\JWTAuth\Providers\JWTAuthServiceProvider"```
I get:
[code]

I updated the class definition to fit the rest of the Provider config like this:

[code]

and the Facades as well:

[code]

Any ideas why that don't bind?

[2015-07-23 17:20] tymondesigns commented on #151
Assuming resolved

[2015-07-23 17:20] #151 closed

[2015-07-23 17:22] james-daddies commented on #151
Wasn't resolved, but ended up removing auth requirement anyways. Agree that dingo might be the problem.

[2015-07-23 17:28] tymondesigns commented on #181
I'm planning on adding some more generic middlewares in the next release. But the truth is, middleware is usually application specific and devs are bound to have differing requirements. If you need to catch any specific exceptions or handle something specific, then I would always advise that you write your own middleware for that. Not much to it really :smile:

[2015-07-23 17:28] #181 closed

[2015-07-23 17:30] tymondesigns commented on #187
No reason :smile: , in-fact I will probably change it to `request->input`

Thanks!

[2015-07-23 17:30] #187 closed

[2015-07-23 17:32] tymondesigns commented on #189
hmm.. strange, you tried `composer dump` ?

[2015-07-23 17:34] rockymontana commented on #189
Yup!
That however failed as well with the same errors as above.
But I updated to dev-master, which worked just fine.
Might it be related to 5.1 maybe?

[2015-07-23 17:34] tymondesigns commented on #151
Ah ok.. You might be interested to know i've added Sentinel support out of the box in the next release - https://github.com/tymondesigns/jwt-auth/blob/develop/src/Providers/Auth/Sentinel.php

[2015-07-23 17:35] tymondesigns commented on #189
what version of `jwt-auth` were you using prior? because if it was `0.6.*@dev` then the path for the service provider is different

[2015-07-23 17:36] james-daddies commented on #151
Ohh, might be useful for another project. Thanks!

[2015-07-23 17:38] rockymontana commented on #189
0.5.4 (I put it in the topic =) ).
The paths were correct (I checked them before I updated).
Since I got it sorted with dev-master I’m all set, but it could be nice for others with the same issue to see that the dev-branch works in case they interested.

[2015-07-23 18:37] tymondesigns commented on #189
Ah, missed that :+1: .. Must be something else going on since `0.5.4` and master are [identical](https://github.com/tymondesigns/jwt-auth/compare/0.5.4...master)

[2015-07-23 18:37] #189 closed

[2015-07-23 20:47] privatmamtora commented on #178
Actually the only code that needed to change involves the "Custom Claims".
Remove it from JWTAuth and only allow the "Factory" to manipulate claims.
The JWTAuth class will be responsible for "custom claims" (user claims).
Once that is done the payload (claims) and the JWTAuth will be decoupled.
(Users that only use the payload would have to update the required claims, because the current validator

[2015-07-24 15:28] mrgodhani commented on #186
When using jwt.refresh token and Blacklist enabled both together. It just blacklists token after one request ? So what's solution for that.

[2015-07-24 15:49] mrgodhani commented on #83
Any update on this ? jwt.refresh actually doesn't invalidate previous token. But if we have blacklist enabled it just keeps on blacklisting on each request.

[2015-07-24 18:36] tymondesigns commented on #186
what version of the package are you using?

[2015-07-25 20:39] kfirba opened #190 "authenticated user attributes are all string"
Hello.

When I use the `jwt.auth` middleware and later then in my application I try to get the user from the request object the attributes are ALL casted to string. The ID which suppose to be an integer is now a string, any boolean field is "1" or "0" which really sucks. Why is that happening?

[2015-07-26 14:30] Mr-Anonymous commented on #117
I thought the OP's report was fixed looking at the linked issue but I still got the same error where `400 {"error":"token_not_provided"}` is returned for token expired reason.

[2015-07-26 14:37] Mr-Anonymous commented on #67
I agree with OP. I do think `token_not_provided` has to be a 401 unauthorised error. Reason for me being the `http-auth-interceptor` from the angular frontend which picks on 401 can show the modal so users are allowed to login and get a new token again. So 401 for that does make more sense.

[2015-07-26 14:53] Mr-Anonymous commented on #117
Just now I noticed that even `{"error":"token_invalid"}` is returned as 400. Isint that supposed to be 401 too?

[2015-07-27 15:32] dani3l commented on #188
If you use `GetUserFromToken` middleware you can use Auth::user()

[2015-07-27 15:37] dani3l commented on #183
Actually I think that the out-of-the-box middleware is pefrect for the vast majority of developers
If someone need to just validate the token, he can create a custom middleware like you did.

I, for example, created a custom middleware to check if user changed login credentials (user_model.credentials_updated_at >= payload.iat)

[2015-07-27 15:38] dani3l commented on #180
any chance you can merge this one to master for the time being?

[2015-07-27 18:26] tymondesigns commented on #190
This is because the default behaviour of `json_encode` will cast all values to a string.

This is done in the underlying library [here](https://github.com/namshi/jose/blob/master/src/Namshi/JOSE/JWT.php#L59)

[2015-07-27 18:27] #190 closed

[2015-07-27 18:33] kfirba commented on #190
@tymondesigns Then why not use a regex to deal with it? I know that there is an option you can pass to the `json_encode` function to `JSON_NUMERIC_CHECK `  but it might be dangerous as there were reports of string like `'+33123456789'` casted to `33123456789`.

There is a suggestion in SO to do something like:

[code]

which will simply convert and "{NUMBER}" to {NUMBER}.

[2015-07-27 18:34] tymondesigns commented on #183
Sorry, forgot to reply to this.

I understand where your coming from here. However I do feel that it's probably beyond the scope of the package to offer such, arguably, bespoke functionality.

I am re-thinking a few things at the moment, one being out of the box middlewares. So may well figure something out in regards to this (no promises :smile:)

I have also added some little helper methods that

[2015-07-27 18:37] tymondesigns commented on #185
You can add custom claims to your token of course.. but I wouldn't advise that if you require lots of detail about the user.

Caching the user info on the client (e.g localStorage) is another option

[2015-07-27 18:37] #185 closed

[2015-07-27 18:39] tymondesigns commented on #188
@dani3l is correct.

Also note that in the next version (0.6) it will be advisable to use `JWTAuth::user();` since that wraps the authentication provider

[2015-07-27 18:39] #188 closed

[2015-07-27 18:45] tymondesigns commented on #190
Yep, that's what i'd do if I had control over it.

The point is that I don't. Since it's the 3rd party [namshi/jose](https://github.com/namshi/jose) library that this package uses to do the heavy lifting of encoding and decoding the tokens, and no matter how I pass the payload to it, it will always call `json_encode` in it's standard form, resulting in everything being cast to strings.

Is there a

[2015-07-27 18:48] kfirba commented on #190
@tymondesigns Well I can do that. I just thought it would be better if you could add it, one less thing to worry about. I just had some "gotcha" moments where I wrote some tests and my tests failed and I didn't understand what was going on cause I was anticipating an integer and my tests asserted against an integer and then I realised that the package returns a string :)

Well you may want to ment

[2015-07-27 18:49] tymondesigns commented on #190
No worries, it's not ideal I know.. Maybe it would be worth a PR on namshi/jose

Cheers

[2015-07-28 01:47] aronduby opened #191 "Compatibility with existing custom authentication"
I'm just diving into Laravel 5.1 and have created a custom authentication driver, following the steps at http://laravel.com/docs/5.1/authentication#adding-custom-authentication-drivers, which I'd like to use with this class now. I was hoping it would be quick and easy, but that doesn't seem to be the case (at least from a Laravel noob's standpoint). It would be sweet if it would just use whatever

[2015-07-28 06:53] tymondesigns commented on #191
Firstly, is there a particular issue you're trying to solve by adding a custom auth driver?

You only need to satisfy the Auth contract [here](https://github.com/tymondesigns/jwt-auth/blob/master/src/Providers/Auth/AuthInterface.php) for it to work (which is laravels Auth by default)

[2015-07-28 11:32] KudlaiViktor opened #192 "ttl without expiration time."
How to set up token without expiration time?

[code]
It's not working. Thanks.

[2015-07-28 13:56] aronduby commented on #191
It looks like I got it figured out. I think I was getting pretty confused dealing with the Guard stuff.

Short version is I have some additional checks and an additional service provider that need to be involved for authentication, so I created my own driver. I was attempting to use that as the user provider for JWT which was failing miserably since I have some additional construction parameters.

[2015-07-28 16:08] tymondesigns commented on #191
Cool. Just so you know, the user provider is deprecated in the next release. Meaning the Auth system must be used to retrieve the authenticated user

[2015-07-28 16:08] #191 closed

[2015-07-28 21:41] tymondesigns commented on #192
this is not currently possible, but I will be adding it in the next release

[2015-07-28 21:41] #192 closed

[2015-07-29 02:16] aronduby commented on #191
Nice. Any idea on when that will be ready to go?

[2015-07-29 05:12] fligen commented on #125
I have not been able to get Auth::user()->id to work with jwt. I have jwt authentication working and posting my token and user data to local storage.  I am trying to user Auth::user()->id in one of my laravel models with no luck.  Any help on this would be much appreciated.

[2015-07-29 05:15] fligen opened #195 "Unable to get Auth::user->id to work in laravel 5 model"
I have not been able to get Auth::user()->id to work with jwt. I have jwt authentication working and posting my token and user data to local storage. I am trying to use Auth::user()->id in one of my laravel models with no luck. Any help on this would be much appreciated.

[2015-07-29 07:06] tymondesigns commented on #195
Could you post your code where your trying to access it

[2015-07-29 07:57] fligen commented on #195
return $this->hasMany('App\Fav')->where('user_id','=', \Auth::user()->id);

[2015-07-29 08:06] fligen commented on #195
I have also tried to use {{Auth::user()->id}} in a view as well with no lucj.

[2015-07-29 08:52] vikasddun commented on #192
Is there any way we can extend token expiry date when catching TokenExpiredException in the Middleware

[2015-07-29 13:59] KudlaiViktor opened #196 "Change token name in header."
I'm using nginx basic auth for my API.
Nginx has same header name **"Authorization"** as this library.
My token example:
[code]
Is it possible to change header name, or how to figure out in this situation? Thanks.

[2015-07-29 21:35] fligen commented on #195
I am using GetUserFromToken middleware,

App\Http\Kernel.php

<?php

namespace App\Http;

use Illuminate\Foundation\Http\Kernel as HttpKernel;

class Kernel extends HttpKernel
{

    protected $middleware = [
        \Illuminate\Foundation\Http\Middleware\CheckForMaintenanceMode::class,
        \App\Http\Middleware\EncryptCookies::class,
        \Illuminate\Cookie\Middleware\AddQueuedCookiesToResp

[2015-07-30 01:30] ducnvhn opened #197 "Jwtauth::attempt not woking with my posgresql"
I have a very strange problem cannot figure it out.

I try to authenticate user using JWTAuth::attempt($credentials) using user email and password. Everything work fine with MySQL but when I switch the my database to Postgresql it cannot work anymore.The error is always "invalid credentials". Anyone can point me out pls.

[2015-07-30 01:49] biblicalph commented on #186
Using 0.5.4 with laravel 5.1. As indicated by @mrgodhani token is blacklisted after one request when using jwt.refresh token and blacklist together. Can you advise on that? Thanks

[2015-07-30 01:59] biblicalph commented on #183
@pfazzino I am not sure how you are verifying the payload but I believe yes verifying the signature adheres to the JWT standard. In my own case however, I find that half the time, requests involve looking up some records from the DB which means authentication flow is required nonetheless.
I will be however grateful if you can share some code from your implementation - will be useful in strictly AP

[2015-07-30 02:16] pfazzino commented on #183
I'm away at present and won't have access to the code for a couple of weeks
but the general approach we're using is to use jwt-auth in custom
middleware to just parse/verify the jwt payload, not trigger the whole auth
via the user lookup by id which normally occurs. This means no store lookup
is required to authenticate requests.

We have a custom auth provider which also overrides check/user func

[2015-07-30 02:21] biblicalph commented on #183
@pfazzino Thanks for the prompt response. I am quite new to JWT and get the part about authenticating the signature but not so much the part about authenticating the payload.
So yes, I'll look forward to some code on your return. Have fun.

Regards,
KB

[2015-07-30 07:33] tymondesigns commented on #186
@biblicalph Hmm.. sounds like a bug.. One that keeps rearing it's head incidentally. I will check it out when I'm back at my machine

[2015-07-30 07:37] tymondesigns commented on #197
Not used postgres myself. But it shouldn't make a difference, given that Laravel's Auth already abstracts this away. I will check it out when I can

[2015-07-30 08:57] ntd1712 opened #198 "Should we set up route middleware in Tymon\JWTAuth\Providers\JWTAuthServiceProvider instead?"
For example, add these 2 lines to $this->bootBindings() in Tymon\JWTAuth\Providers\JWTAuthServiceProvider;

[code]

[2015-07-30 09:25] tymondesigns commented on #198
Yep, not a bad idea. May well add it in the next release

[2015-07-30 10:37] ducnvhn commented on #197
thank you for your response.

I'm now looking at the Collation and Character type settings on both DB but couldn't figure it out yet.

[2015-07-30 10:58] amilgaul opened #199 "How to invalidate a token string"
hi,

I just want to ask if there is a way to invalidate token string which is being get from post data calls.

Example:
//in backend ( laravel )
Route::post('/invalidate',function() {
    $token = Request::input('token');
    $token->invalidate();
});

[2015-07-30 11:47] tymondesigns commented on #199
There is a invalidate method on the JWTAuth instance e.g.

[code]

[2015-07-30 11:47] #199 closed

[2015-07-30 18:17] fligen opened #200 "Unable to get Authorization header with laravel 5.1"
When looking at the header on developer tools I see that it is in place but when requesting it with Request::header('Authorization') all I get is string(0) ""

I have added:
RewriteEngine On
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

to my .htaccess

I am using MAMP for my local environment with php 5.6.7

I sure my previous issue #195 is directly related t

[2015-07-30 22:30] tymondesigns commented on #200
what do you get if you run this:

[code]

Still an empty string?

[2015-07-30 22:41] fligen commented on #200
Call to a member function get() on boolean

[2015-07-30 22:49] fligen commented on #200
if i pull the get() off I get "false".

[2015-07-30 22:52] tymondesigns commented on #200
Ok, just one more to try
[code]

[2015-07-30 22:53] fligen commented on #200
false

[2015-07-30 22:54] fligen commented on #200
and if i run it in a view i get

The token could not be parsed from the request

[2015-07-30 22:57] fligen commented on #200
I am using satellizer in my angular app, if that makes any diff.

[2015-07-31 01:22] ntd1712 commented on #198
:+1:

[2015-07-31 06:54] tymondesigns commented on #196
The `parseToken()` method accepts some parameters to change this. E.g.

[code]

[2015-07-31 06:54] #196 closed

[2015-07-31 06:55] tymondesigns commented on #195
Closing in favour of #200

[2015-07-31 06:55] #195 closed

[2015-07-31 06:57] tymondesigns commented on #200
If you dump all headers from the request can you see the token?

[2015-07-31 13:21] fligen commented on #200
no, shows an empty string in laravel, but can see the header on each request in dev tools.  I'm really banging my head against the wall on this one.

[2015-07-31 15:32] fligen commented on #200
ok, this is an apache issue, I respun the app with nginx and it worked like a champ.

[2015-07-31 15:40] mrgodhani commented on #186
Any update on this ? It's really annoying. I had to separate out my all get requests to another route group without jwt.refresh.

[2015-08-02 15:32] dani3l opened #201 "Refreshed token `exp` can be older than `iat` + refresh_ttl - that would force the user to login again in some cases"
Hi
I noticed that `exp` timestamp can be older than `iat` + refresh_ttl
Let's say the user haven't logged in two weeks-1min and tries to refresh the token
token is being refreshed, but the next time he tries to refresh it, it would throw a TokenInvalid since the `iat` timestamp is not renewed.

Is there something I'm missing or should I implement this use case myself?  (check for iat + refresh_ttl

[2015-08-02 22:24] fligen opened #202 "Is there a way to exclude header from certain URLs?"
When using amazon S3 posting an image fails dew to the auth header being passed.  Is there a way to disable the auth header from being passed on certain posts?

[2015-08-03 06:19] oriceon commented on #179
I have the same error on Lumen. There is a fix for that? :| (I tryed privatmamtora fix but not workin`)