[2019-11-15 15:49] meesudzu commented on #1843
It work for me. Change the 'middleware' => 'api', to 'middleware' => 'jwt.auth'

[2019-11-15 18:26] mycarrysun commented on #1860
@I2C-RoyYou that is not a bug with this issue - can you post on stackoverflow?

[2019-11-16 19:35] BelTeamProjects commented on #1860
Hi there, I'm using "composer require tymon/jwt-auth 1.0.0-rc.5" . It's working for me

[2019-11-17 00:14] benrobey commented on #1880
@I2C-RoyYou Can you show your controller functions for registration, your config file and your User model?

[2019-11-18 02:57] I2C-RoyYou commented on #1880
Hi @brobey8  ! here's my code:

config/auth.php:
[code]
AuthController:
[code]
routes/api.php:

[code]
Both my localhost and server can get token, but server call api/category will get `401 Unauthorized` ...
don't know where the error is ...

P.s. my .env file has jwt_secret too!

[2019-11-18 03:19] benrobey commented on #1880
@I2C-RoyYou I noticed that you have your guards configured like this:

[code]

But only your api guard is configured with jwt:

[code]

Your default guards should look like this (from the docs):

[code]

You may need to go through the docs again, specifically this page: https://jwt-auth.readthedocs.io/en/develop/quick-start/ and make sure your setup is inline with the docs.

[2019-11-18 03:24] I2C-RoyYou commented on #1880
Hi @brobey8  but this website has web login page , user can login to maintain some data, and also provide api , that frontend can get article , so I that the default keep to web !

[2019-11-18 03:34] benrobey commented on #1880
@I2C-RoyYou Have you tried making the api/category requests when the default guard is set to api?

[2019-11-18 03:39] I2C-RoyYou commented on #1880
@brobey8
QQ  still same error...

[2019-11-18 03:49] benrobey commented on #1880
@I2C-RoyYou  Have you checked that you are not double hashing your password and made sure that your requests are formatted correctly? What does your user model and registration function look like?

[2019-11-18 04:14] I2C-RoyYou commented on #1880
Hi @brobey8  here is my User.php :
[code]
but if I have double hashing problem , why my localhost can work? and if password is wrong, then I can't get the token , right? now my error is I can get the token by login api , but when I add this token to header , my server return `401 Unauthorized` ! so confused QQ

[2019-11-18 04:24] benrobey commented on #1880
@I2C-RoyYou does the header look like this?

[code]

[2019-11-18 04:25] I2C-RoyYou commented on #1880
yes~

[2019-11-18 04:32] benrobey commented on #1880
@I2C-RoyYou :( Can you commit your code somewhere so I can have a look?

[2019-11-18 04:40] I2C-RoyYou commented on #1880
@brobey8  newest discover !!!   my original frontend and backend is using the same gcp vm , but i create a new vm on gcp , and move frontend to it , then everthing work!!! , now I need to find what reason cause this problem!

[2019-11-18 04:44] I2C-RoyYou commented on #1880
sorry , it's company's code , I can't .

[2019-11-18 08:15] I2C-RoyYou commented on #1880
@brobey8  I got a temporary solution , I change token position, put it to url parameters. like doc says ,
use `http://<your api url>?token=<your token>` , and cancel bearar auth , then the auth pass , still don't know why, but let's do it first! thanks your help!!!

[2019-11-19 02:06] ahmadsyamim commented on #1901
similar situation right now

[2019-11-21 21:32] sortinousn commented on #1881
This tag will allow the module to run for Laravel 6

    composer require tymon/jwt-auth ^1.0.0-rc.5

[2019-11-22 16:34] bosz commented on #1729
Awesome `php artisan jwt:secret` worked for me. Thanks

[2019-11-22 19:13] dsandrade commented on #1860
Version 1.0.0-rc.5 worked for me too.

[2019-11-23 02:40] mhabib555 commented on #1869
composer require tymon/jwt-auth "^1.0.0"
is working with laravel 6.5.2

[2019-11-24 17:56] theigwe commented on #79
Implemented auth:api guard middleware.
But if a send a request omitting Authorization token, Tymon\\JWTAuth\\Exceptions\\JWTException is thrown in the response
I was expecting that JSON response will be returned to the calling endpoint

[2019-11-25 03:10] ajcastro commented on #1830
if ever you need to invalidate a different token, for example you are tracking a list of tokens in a database and you want to invalidate them..

[code]

[2019-11-25 08:36] Digital4design commented on #1744
I am also facing this issue. Can you please let me know how you fix this issue on your end?
Thanks.

[2019-11-26 09:46] ghost commented on #383
Did someone found a solution yet?

[2019-11-26 23:30] EdwardNelson commented on #383
@xVanjaZ Here is an example of accessing the payload in a middleware.

[code]

We retrieve the token via the parse instance, so that we bypass any expiration checks. Then we get the instance of the JWT provider that is bound to the IoC container and use it to decode the token we retrieved.

[2019-11-28 16:13] manuel-84 commented on #1880
Same problem here. I can autenticate the first user I created but not new ones... and they are stored the same way with Hash::make
Then I moved the Hash::make function from the controllers to the model and recreated the users again... and it works.. without a good reason for me

[2019-11-29 11:11] ricardoboss opened #1907 "Argument 3 passed to Lcobucci\JWT\Signer\Hmac::doVerify() must be an instance of Lcobucci\JWT\Signer\Key, null given"
### Subject of the issue
This is the original issue: #1729
It was closed because it could be fixed by executing `php artisan jwt:secret` followed by `php artisan config:cache`.

But my question is: why does this happen initially? I created a repository to reproduce this error. Why does this happen on a clean installation? I did execute the commands and then it worked but I think it should work "ou

[2019-12-01 01:06] praditha commented on #1729
This is what worked for me:
`php artisan jwt:secret`
`php artisan config:clear`
`php artisan config:cache`

[2019-12-01 08:26] Kistlak opened #1908 "return true instead of JWT token"
I successfully created a JWT token in one of the applications in cloud hosting using Tymon/jwt-auth. But, another app that has the same project that is in the same cloud hosting returns true for JWT instead of a token. How can I Fix this ??

Here is my config/app.php.

[code]

[code]

[2019-12-01 09:49] prosatya commented on #1869
Yes , It's working for me Also. thank you so much!!!

[2019-12-01 22:06] robertolyra commented on #1564
Thanks I had the same problem. It was happening because the 'jwt.auth' mas not mantained on the Kernel.php. I mantained it on the Kernel, I adjusted the routes and I regenerated the token key with :

php artisan jwt:secret

and it worked. Thanks!

[2019-12-02 06:22] matheenulla6 opened #1909 "How to change response messages in laravel jwt package"
### Subject of the issue
Hi I want to change the response message like If I am fetching data with Invalid token I am getting message like this

"message": "Invalid token.",

and I need to change instead message I want
"errors":"invalid token:

How to do this one?

thank you

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no / yes
| New Feature?      |

[2019-12-02 07:45] #1909 closed, assigned to nobody

[2019-12-02 07:47] yusrilfadillah commented on #1869
Thank you, it's working for me

[2019-12-03 06:10] AhmadDastageer commented on #1908
In config/app.php change your default guard

[2019-12-03 06:11] AhmadDastageer commented on #1908
In config/app.php change
'defaults' => [
        'guard' => 'web',
        'passwords' => 'users',
    ],
to
'defaults' => [
        'guard' => 'api',
        'passwords' => 'users',
    ],

[2019-12-03 11:11] Kistlak commented on #1908
I have added a new guard and provider to config/app.php like below.

'admin' => [
            'driver' => 'jwt',
            'provider' => 'admins',
        ],

'admins' => [
            'driver' => 'eloquent',
            'model' => App\Admin::class,
        ],

But, the ting is it works find in one sever and doesn't work in other sever. Why is that ??

[2019-12-03 11:31] laravel10 commented on #1038
This worked for me: https://jwt-auth.readthedocs.io/en/docs/laravel-installation/

[2019-12-03 11:32] laravel10 commented on #1038
just follow the steps in the documnetation

[2019-12-03 15:56] dayio commented on #1908
`auth('api')->attempt($credentials)`

Instead of

`auth()->attempt($credentials)`

you have to set the guard 'admin' in your case in the auth helper in order to get the correct behavior

[2019-12-05 00:01] lounging-lizard commented on #1889
This is not supported by this package, you should reconsider your database design/structure, I'd suggest looking at using roles and permissions and having a single users table.

[2019-12-05 20:00] gregorskii commented on #1810
Don't want to stir the pot, but if you are running a startup you should probably fork this and have your team fix whatever doesn't work for you. Other options would be to build an auth layer thats not integrated into your application.

A fairly robust solution is express passport. You can simply provide the same JWT secret to php and node, then have your PHP layer check the user and scopes of the

[2019-12-05 23:45] guilherme90 commented on #540
@mandala21 i have same problem. =/

[2019-12-07 02:05] noperman commented on #1632
add params ?token="your_api_key"

[2019-12-10 12:41] denitsa-md commented on #1903
We also just observed this behavior.

Getting this exception `Tymon\JWTAuth\Exceptions\TokenBlacklistedException: The token has been blacklisted` with a 500 error.

Our front-end basically blocks because of this until you bust cache or open an incognito window.

[2019-12-11 02:32] julyamba commented on #1843
i have the same error but in my case, the error only occurs when i Clicked the URL and pressing enter. the error shows, but if hitting f5 the page refreshes normally no error at all. how to fix this error please help. im using POST method.

[2019-12-12 11:23] far1din commented on #1843
Go to vendor>Laravel>framework>src>illuminate>routing>Router.php

Change line 1154:
$this->post('logout', 'Auth\LoginController@logout')->name('logout');

to
$this->get('logout', 'Auth\LoginController@logout')->name('logout');

This solved the problem for me!

[2019-12-13 00:05] julyamba commented on #1843
@konte21 Sir still doesn't work, maybe because my vendor folder greyed and when i changed the line 1154 it didn't take effect.

my scenario is like this, i have blade template and has a form and uses post method action="home/something", after clicking submit, the current page is in /home/something and displays some information but when i click the url bar and the url is all selected then pressing

[2019-12-15 23:05] ervan23 commented on #1869
Working like a charm. thx

[2019-12-16 13:00] lucasres commented on #1687
I try it but a get the erro
Tymon/JWTAuth/Exceptions/TokenInvalidException with message 'Could not decode token: The JWT string must have two dots'

But my token have 2 dots

[2019-12-16 13:10] lucasres opened #1910 "token must have 2 dots but token have 2 dots"
### Subject of the issue
Describe your issue here.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | yes
| New Feature?      | no
| Framework         | Laravel
| Framework version | 6.0
| Package version   | 1.0.*
| PHP version       | 7.3

### Steps to reproduce
$r = new \Tymon\JWTAuth\Token('eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkw

[2019-12-17 20:23] razapoonja commented on #1025
Facing same issue on laravel 6 using version 1.0.0-rc.5. @yehiasalah solution helped.

[2019-12-18 10:52] kaungsattpai commented on #824
fhgh

[2019-12-20 21:39] victor-ilichev commented on #1246
Hello everyone, sorry for my english.

1 JWT set a response on boot app and parse it
2 Test can send request after 1 step
3 JWT does not pay attention on test request (2 step)

the following describes how I solved this problem

create new middleware

[code]

in kernel.php

[code]

move the below code into trait Tests\LoginAPITrait;

[code]

and test

[code]

[2019-12-20 23:46] sdalmeida opened #1912 "actingAs() does not set a token"
### Subject of the issue
When using `"$this->actingAs($user)"` from `"browser-kit-testing"` (https://github.com/laravel/browser-kit-testing), the `"Auth::guard()->setUser($user)"` function is called, but the token is not generated nor is it set

![image](https://user-images.githubusercontent.com/1103528/71298884-39adb100-2358-11ea-88d2-d1741b18b82e.png)

As you can see in the image above, `actingA

[2019-12-20 23:53] sdalmeida commented on #1912
Ideally, `setUser()` should also set the token. @tymondesigns is this the expected behaviour?

[2019-12-23 08:39] prod-broke-again commented on #1903
![image](https://user-images.githubusercontent.com/57440510/71346374-ce8ef500-2578-11ea-94be-1df757084102.png)

![image](https://user-images.githubusercontent.com/57440510/71346402-dc447a80-2578-11ea-8444-3f88f0a0d10e.png)

[2019-12-25 13:31] boussara commented on #1869
Thank you, it's working for me

[2019-12-27 07:06] devdict opened #1913 "Laravel default auth login not wariking after set up jwt auth."
### JWT auth and Laravel default auth
My auth.php is look like.

` 'defaults' => [
        'guard' => 'api',
        'passwords' => 'users',
    ],`

If i make it like this
`    'defaults' => [
        'guard' => 'web',
        'passwords' => 'users',
    ],
`
It work in web but not work in api.
I want to keep both authentications system.

`

[2019-12-28 11:00] devdict commented on #1913
I got solution just add guard name in

`auth()->attempt($credentials))`
to
`auth('api')->attempt($credentials))`

[2019-12-28 11:00] #1913 closed, assigned to nobody

[2019-12-28 11:03] christoph-kluge opened #1914 "Allow a different blacklist key via config"
### Subject of the issue

In my scenario I need to use a different blacklist key which is unique across multiple generated JWT tokens but it cannot be the user id (because as user can login 1:n times).

I've discovered the following piece of code which could be easily extended with `setKey`.

[code]

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
|

[2019-12-28 11:05] christoph-kluge commented on #1914
Is there any need for someone to have this? Since it's a singleton I'm setting the key with `$container->afterResolving()`. I'm up to contribute if this is little extension is wanted.

[code]

[code]

[2019-12-29 13:31] toramanlis commented on #189
Turns out not registering the service provider at all also produces errors. Who would have known. Cheeers

[2019-12-30 00:44] saulo1212 commented on #834
@specialtactics specialtactics
I'm using laravel 6.2 and I did what you mentioned, but it didn't work for me

[2019-12-31 03:33] SaldanhaASCS opened #1916 "Solução: Laravel 6 tymon/jwt-auth:1.0.0-rc.5 Method Illuminate\Auth\SessionGuard::factory does not exist."
**config/auth.php**

    'defaults' => [
        'guard' => 'web',
        'passwords' => 'users',
    ],

    'guards' => [
        'web' => [
            'driver' => 'session',
            'provider' => 'users',
        ],

        'api' => [
            'driver' => 'jwt',
            'provider' => 'users',
        ],

**routes/api.php**

    Route::post('auth/login', 'Auth\JwtAuthController@log

[2019-12-31 11:27] grafikkaos commented on #1907
I too seem to be experiencing the same issue.  The strange thing on my end its that the error appears when trying to get the user details.  The authentication phase works well enough.  So any idea on how to fix this issue would be useful.

I am using Laravel 6.9.0 and my PHP version is 7.4.

I have however found something strange. I am using Laradock as my dev environment and everything is working

[2020-01-02 06:26] matheenulla6 opened #1917 "how to create a token encoded with role"
### Subject of the issue
Describe your issue here.

Hi

I am totally new to this package. I want to create a token with a user role. By seeing the documentation I have tried, I am not getting any error. And not getting a token also.
I am using Laravel 5.8 and jwt package  "tymon/jwt-auth": "^1.0.0-rc.2"

what  I have tried
controller file
[code]

[2020-01-03 03:01] specialtactics commented on #834
What specifically does not work @saulo1212 ? I suspect you must have some other customisations on top, I have been using that type of setup since version 5, and it's never broken.

[2020-01-03 07:56] zishang520 commented on #1907
If you do not execute `php artisan config:cache`, the keys will be loaded from the .env file and you need to lock it when calling the file read function to read the `.env` file, so reading may fail during high concurrency.

[2020-01-03 08:30] specialtactics commented on #540
If you want to do that you actually need to use an associative array when you pass it to the attempt() function, it doesn't magically know which field you want to find the user by.

Have a look at **Illuminate\Auth\EloquentUserProvider::retrieveByCredentials()**

You want to pass it this:
[code]

You can form the credentials array differently based on whatever circumstance you desire, just specify

[2020-01-03 08:33] specialtactics commented on #1889
Agreed, there are many ways to design this database and app wise, but you are muddying the concerns of users logging in, and types of users in your system.

[2020-01-04 05:17] #1917 closed, assigned to nobody

[2020-01-04 07:28] specialtactics commented on #1912
You can just override these functions to do it yourself. For example;

[code]

You can do the same for user object I'm pretty sure, there is a function called fromUser

[2020-01-07 11:36] dipenparmar12 commented on #1869
composer require tymon/jwt-auth ^1.0.0

Above command perfectly working fine in laravel 6.5
but it not work in verion laravel 5.2 or more

[2020-01-08 10:21] iambasilk commented on #1484
WOrked

[2020-01-08 10:29] rossjcooper commented on #1729
If you get this error in your CI tools when running tests be sure to set `JWT_SECRET` to something in `phpunit.xml`

[code]

[2020-01-09 11:21] bbprojectnet opened #1921 "Branch 2.0 and Laravel 6"
### Subject of the issue
Hi,
could you add support for the Laravel 6 in the branch `2.0` like in `develop`?
Is the branch `2.0` safe to use and up-to-date towards `develop`?

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | no
| Framework         | Laravel
| Framework version | 6.9
| Package version   | 2.0
| PHP version       |

[2020-01-09 12:42] alexey-mihaylov opened #1922 ""It was not possible to parse your key, reason: " and "Could not create token: You must provide a valid key file" errors."
### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              |  yes
| New Feature?      | no
| Framework |  Lumen
| Framework version | 6.10.0
| Package version   | 1.0.0-rc.5
| PHP version       | 7.3.11

Hello, it seems like this component has a few problems:

1) If path to the encryption file (JWT_PUBLIC_KEY | JWT_PRIVATE_KEY )  is set in the .env file, component s

[2020-01-09 13:23] alexey-mihaylov commented on #1922
Solved the problem

[2020-01-09 13:23] #1922 closed, assigned to nobody

[2020-01-13 16:52] Christophvh commented on #1921
Use the pre-release https://github.com/tymondesigns/jwt-auth/releases/tag/1.0.0-rc.5

[2020-01-15 06:00] efraim14 commented on #1922
@alexey-mihaylov hello can you tell how do you resolve this issue?

i am getting the second error :
When it finds the encryption file, I get "Could not create token: You must provide a valid key file" error.

I have ubuntu server and placed the token in `/var/www/token/jwtRS256.key`, and store in my .env `JWT_PRIVATE_KEY="file:///var/www/token/jwtRS256.key"`

tried to run `curl file:///var/www/tok

[2020-01-15 08:21] msaguindang commented on #1843
Any update to this? I am also experiencing the same issue.

[2020-01-15 09:09] alexey-mihaylov commented on #1922
@efraim14

First, you will need to have a _pair_ of keys - not only private, but public aswell. Second, you must make sure that in config/jwt.php you are giving the correct parameters: for example, like this:

        'public' => env('JWT_PUBLIC_KEY', 'file://' . storage_path('app/public/jwtRS256.key.pub')),

        'private' => env('JWT_PRIVATE_KEY', 'file://' . storage_path('app/private/jwtRS25

[2020-01-16 03:13] efraim14 commented on #1922
Took me 3 hours looking what is wrong in my configuration just to realize that i didn't set the correct permission to the key, i have 600 on the key.

Thank you so much.

[2020-01-16 14:40] williamdes commented on #1912
`$token = JWTAuth::fromUser($user);`

[2020-01-20 15:53] williamdes opened #1923 "Unable to login twice using a different user"
### Subject of the issue
Describe your issue here.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | yes
| New Feature?      | no
| Framework         | Laravel
| Framework version | 5.8
| Package version   | 1.0.0-rc.4.1
| PHP version       | 7.2

### Steps to reproduce

In my E2E tests I have:
[code]

If I use ->actingAs(user1); for all the test if work

[2020-01-21 14:35] felipesmendes commented on #1581
Same here, there is no way to handle this Exception and redirects user to login page?

[2020-01-22 21:36] Christophvh commented on #1900
This packages uses another package for the jwt generation. You can look at there docs to see how to manually generate tokens. I used this approach to generate a refresh token

https://github.com/lcobucci/jwt/blob/3.3/README.md

[2020-01-22 21:37] Christophvh commented on #1906
you can use the underlying package to create any type of jwt token you like
https://github.com/lcobucci/jwt/blob/3.3/README.md

[2020-01-23 10:04] dnitavm opened #1928 "Custom Header"
### Subject of the issue
I have next header
{
  "typ": "JWT",
  "alg": "RS512"
}
How can I add new entry? something like
{
  "typ": "JWT",
  "alg": "RS512",
  "kid": "something"
}

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no / yes
| New Feature?      | yes
| Framework         | Laravel
| Framework version | 6.x.y
| Package version   | "dev-develo

[2020-01-24 19:25] saffabook opened #1929 "How do you verify a signed JWT?"
UPDATE
Ok it seems to get the token to read the files you need to change the JWT_ALGO to RS256 then it will sign it. Could not find this in the docs.

However how do I verify a token that has been signed? For example, if you sign a token and I have your public key, how do I use this library to verify that token against a public key?

old questions ---------------------------------------

How do I

[2020-01-27 05:42] XenitXTD commented on #1669
For anyone that wants to handle this better...

I used the following.

https://medium.com/@JinoAntony/multi-user-api-authentication-using-laravel-jwt-8ae572b0c4cf

It does a better job of this by creating a middleware that assigns a guard

This way you dont have to change your Auth config only add a provider and then use the assign guard middleware on the route to selectively assign the guard you

[2020-01-27 18:03] saffabook commented on #1929
Ok so this is how you do it.

Do your installation as docs say

Then, go to this page https://travistidwell.com/jsencrypt/demo/
Create a private and public key (**remember to use key size 1024 - this is what got me)**

Save the private key to the project/micro-service where you generate the token.

Then in that project go to your config->jwt.php file

 1. Set your as `'algo' => env('JWT_ALGO', 'RS

[2020-01-27 18:03] #1929 closed, assigned to nobody

[2020-01-28 06:16] jjba23 commented on #1830
Why didn’t you just mention that it is easier to invalidate with the auth helper, in the following way:
`auth()->invalidate(true)`
In my case my guard is called store_user so
`auth(“store_users”)->invalidate(true)`
The true will forever invalidate the token

[2020-01-29 11:22] Nataanthoni commented on #1729
I came across this error when I deployed my application after testing and everything else worked well on the local server.

I noticed the following;

 - It's possible that you are getting this error when you uploaded the applications before implementing the JWT and re-uploaded directly via the Cpanel upload without reuploading the .env file.

- if this is the case, the simplest way to solve this i

[2020-01-29 11:23] Nataanthoni commented on #1705
Simply add the below JWT_SECRET from your local .env file at the bottom of your remote .env file

Something like;
JWT_SECRET=roCZauuldMpw5i4039393939393372y98bEWumqd9ls7Uk8DEpr0gIZ6WIWB

Hope this helps :)

[2020-01-30 03:20] beitomartinez commented on #1843
This happened to me today and it was a really silly mistake... I was using http instead of https on my API requests

[2020-01-31 12:51] gaurav783 commented on #1843
Symfony \ Component \ HttpKernel \ Exception \ MethodNotAllowedHttpException
The GET method is not supported for this route. Supported methods: POST.

I am using the Stripe payment gateway when I click on Pay then I am getting this error also-
my controller cose here-
form route-<form role="form" action="{{url('/stripe')}}" method="post" class="require-validation" data-cc-on-file="false" data-stri

[2020-02-02 10:27] antonioreyna commented on #843
did you solve it?

[2020-02-02 10:31] antonioreyna commented on #660
did you solve it?

[2020-02-02 10:47] antonioreyna commented on #1197
did you solve it?

[2020-02-02 10:48] antonioreyna commented on #937
did you solve it?

[2020-02-02 10:52] antonioreyna commented on #860
hello guys, im getting this error, any idea? ```Auth guard driver [api] is not defined.```

[2020-02-02 14:20] cgarrotti commented on #1917
My Return:

{
    "success": true,
    "access_token": {},
    "token_type": "bearer"
}

What´s goes wrong ? my token access appear null

[2020-02-03 04:39] antonioreyna commented on #564
i have this same problem on laravel, any solution?

[2020-02-03 06:40] #1491 closed, assigned to nobody

[2020-02-03 07:13] Arafatul-Rahman commented on #1518
@

[2020-02-04 11:50] Rasoul-Karimi opened #1930 "cant install on lumen 6"
hi I get an error when installing on lumen 6

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no / yes
| New Feature?      | no / yes
| Framework         | Lumen
| Framework version | 6
| Package version   | 0.5.12
| PHP version       | 7.x.y

`  Problem 1
    - Installation request for tymon/jwt-auth ^0.5.12 -> satisfiable by tymon/jwt-auth[0.5.12].

[2020-02-05 11:31] ibraheem9 opened #1931 "jwt auth with laravel multi guard"
Is jwt auth support laravel multi guard

[2020-02-05 16:05] SiebeVE opened #1932 "Use different cookie name"
### Subject of the issue
At the moment it doesn't look like I can use a custom cookie name to store my JWT token in it.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      |  yes
| Framework         | Laravel
| Framework version | 6.14.0
| Package version   | 1.0.0-rc.5.1
| PHP version       | 7.4

### Steps to reproduce
Have a custo

[2020-02-05 18:43] sergiy-petrov commented on #1910
@mandala21 try ->decode($r->get()); instead of ->decode($r);

[2020-02-06 11:36] PatSpiegel opened #1934 "Cant install 1.0.0-rc.5.1on laravel 6"
not there

[2020-02-06 11:38] #1934 closed, assigned to nobody

[2020-02-06 17:50] flayshon commented on #1199
Faced this issue in Laravel 6.2 and tried using @nsulistiyawan code, but using

[code]

always returns null. Probably because something changed in Laravel's Router implementation. So I modified the code to use `UnauthorizedHttpException` messages and it got the job done.

[code]

But it would be nice to modify the message according to the exception type. Does anyone know how to solve this now?

[2020-02-07 19:38] pr1s10n3r commented on #1930
Try this:

`composer require tymon/jwt-auth:1.0.0-rc.5.1`

Support for Laravel 6 was added on 1.0.0-rc.5

[2020-02-07 20:19] ibraah88 commented on #1931
+1

[2020-02-08 17:40] AhmedAbdeen11 opened #1935 "I faced an issue with the library not sure how this happened."
..

[2020-02-08 17:44] #1935 closed, assigned to nobody

[2020-02-09 06:06] ekfinbarr commented on #1907
I had to run all of those commands before I could get it working.

[2020-02-09 14:48] #1518 closed, assigned to nobody

[2020-02-09 21:57] JohanSchobben commented on #1884
For people having the same problem use:
`$token = auth('api')->attempt($request->only(['email', 'password']))`
instead of:
`$token = auth()->attempt($request->only(['email', 'password']));`

[2020-02-10 10:04] ariel1995cr commented on #1931
+1

[2020-02-11 04:16] hoangmy92 commented on #1931
It does. You just need to add a **new guard** with the corresponding **provider** in config/auth.php
If you need to add more authentication logic, let change Authenticate middleware

![image](https://user-images.githubusercontent.com/4986602/74210807-d2f5a580-4cbf-11ea-95c5-364235e692a3.png)

[2020-02-11 13:12] marcosrocha85 commented on #1551
For further reference, you can achieve custom passwords using JWTSubject contract on your user model like so:

**Your user model**
[code]

**config/auth.php**
[code]

**YourAuthProvider.php**
[code]

**on AuthServiceProvider.php**
[code]

Finally on **config/auth.php**
[code]

Just make sure you extend your AuthProvider from DatabaseUserProvider or EloquentUserProvider, otherwise AuthManager will

[2020-02-11 16:11] gargashwani commented on #1250
Hi Jafar, Is this issue solved, Can you please share the solution.

[2020-02-12 03:27] flayshon commented on #1246
For @jgrossi solution to work, I had to use this as route middleware in ^1.0:

[code]

[2020-02-12 04:17] gargashwani commented on #1250
Hey, I have solved this my self, here is the solution, https://medium.com/@akgarg007/laravel-6-jwt-multi-model-authentication-d5b416c4cdb4

[2020-02-12 11:19] zubairIftikharKwe commented on #1827
@iulianmids `CACHE_DRIVER=file` will fix ur issue

[2020-02-12 14:21] ajarti commented on #1744
Hi @NikolaGavric94 ,
                                      I am going mad trying to solve this, do you mind sharing what had gone wrong for you?

Thanks.

[2020-02-13 09:39] ajarti opened #1936 "Laravel Passport (Personal Access Tokens) and JWT Auth are basically the same thing."
@shirshak55 @joelwmale Actually Passport's personal access tokens are pretty much the same thing.

[2020-02-13 09:40] ajarti commented on #1936
Opps was supposed to be a comment.

[2020-02-13 09:40] #1936 closed, assigned to nobody

[2020-02-13 09:40] ajarti commented on #1936
Please delete.

[2020-02-13 09:44] ajarti commented on #1744
Ok I solved it for me ... had to have redis:latest in my docker compose and not redis:3.2 as the image.

Hope that helps someone.

[2020-02-13 10:14] shirshak55 commented on #1936
@ajarti no actually.  see this : https://jwt.io/ . Yea they have same purpose but they are completely different. Laravel passport is supposed to be for Oauth purpose.

[2020-02-13 11:56] ultrono commented on #289
To add to this I had a similar problem to @renoguyon. I was trying to parse the JWT token within my app service provider:

[code]

I needed to do a check to ensure the app wasn;t running in the console via `$this->app->runningInConsole()`.

[2020-02-14 07:46] ajarti commented on #1936
@shirshak55 Agreed they are not **exactly** the same thing, but for the majority of people that want to use tokens to auth their SPA against their Laravel API .. Passport (personal tokens) do the same basic function, I.E. Takes a Username/Password .. returns a token, use the token in the Bearer header after that.  You do not HAVE to use the Oauth2 sections of Passport see: [Personal Access Tokens]

[2020-02-14 08:21] shirshak55 commented on #1936
@ajarti yeah i used to use laravel passport for passwordless token. But after finding it takes like 6+ queries etc I stopped using it. I would recommend to use Airlock.  I have moved on and don't use laravel anymore due to Rust/Typescript so don't know much in detail but Airlock looks better for most people use case.

[2020-02-14 08:43] ajarti commented on #1936
OK cool ... Airlock?

[2020-02-14 11:10] shirshak55 commented on #1936
https://github.com/laravel/airlock

[2020-02-14 12:10] ajarti commented on #1936
Oh nice ... thanks @shirshak55 :)

[2020-02-14 15:59] relliv commented on #1668
This is mine, don't forget 401 and http codes

[code]

[2020-02-16 12:36] lava0208 commented on #1326
Good article.

[2020-02-17 01:18] cwilby commented on #1581
Having this issue testing `auth()->logout();`, diving in at the minute and looks like my error is happening here:

https://github.com/tymondesigns/jwt-auth/blob/f57a0ff33f20d2a0c3ebc9e13ce8382a83f921a8/src/JWT.php#L175-L189

[2020-02-17 03:05] humblecoder commented on #1916
@SouKBit per the docs, you need to adjust your `auth.php` like so:

[code]

[2020-02-17 04:07] tiagooliveira1 opened #1937 "Generate sub null"
### Subject of the issue
Describe your issue here.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              |  yes
| New Feature?      | no
| Framework         | Laravel
| Framework version | 5.7.28
| Package version   | 1.0.*
| PHP version       | 7.2.18
### Steps to reproduce
Try to log in with a generated token. If possible, analyze in jwt.io to verify that th

[2020-02-17 04:34] tiagooliveira1 commented on #1937
Solved and it was not a bug. GetJWTIdentifier method was not informed the correct Id field.

[2020-02-17 04:34] #1937 closed, assigned to nobody

[2020-02-17 12:16] FallenNoir commented on #1884
`
/**
* Attempt to authenticate a user using the given credentials.
*
* @param  array  $credentials
* @param  bool  $remember
* @return bool
*/
public function attempt(array $credentials = [], $remember = false);
`
How does changing the guard make it return something different to the bool field?

[2020-02-17 16:17] omajaqui commented on #1715
I can solve it, I have the same problem, help.

[2020-02-20 03:59] onyashed commented on #1843
The problem is with authentication. The routes are fine..See the auth type you are using and provide the credentials for you to hit that Get or Post end point.
https://laracasts.com/discuss/channels/laravel/routing-in-laravel-6-methodnotallowedhttpexception

[2020-02-20 12:56] ghost commented on #1916
From the docs:
[code]

[2020-02-21 00:27] wimil opened #1938 "not support laravel 6.2"
Installation request for laravel/framework (locked at v6.15.1, required as ^6.2) -> satisfiable by laravel/framework[v6.15.1].

[2020-02-21 04:23] #1938 closed, assigned to nobody

[2020-02-22 08:50] DartedMonki commented on #1880
I got the same problem too, can't figure the problem out. I have tested the 1.0.0.rc5.1 and still doesn't work for me. What I do is I just followed this tutorial EXACTLY with new laravel project (6.13) but the problem still persists. Does the problem is because of my OS (Windows?), or because the XAMPP? [Tutorial Link](https://www.youtube.com/watch?v=iQv2mdktmzE&list=PLfdtiltiRHWF1jqLcNO_2jWJXj9Ru

[2020-02-22 08:56] DartedMonki commented on #1901
Very same problem with me, can't figure this out until now. Can someone help? Thanks

[2020-02-23 13:48] innoflash commented on #1901
Instead of ```auth:api``` use ```auth``` middleware.

I dont know whats happening though

[2020-02-23 14:44] williamdes commented on #1923
@tymondesigns ?

[2020-02-23 15:26] shihabshahriar commented on #1234
hello @tymondesigns , please tell the way to do this , it is quite important for me now.

[2020-02-24 03:08] I2C-RoyYou commented on #1880
have you try this?  I use this and success auth!

use `http://<your api url>?token=<your token>` , and cancel bearar auth

[2020-02-24 12:32] eboujlal commented on #1746
show your config file, please.

[2020-02-27 12:53] Everyways opened #1939 "Can't make it works on Lumen v6"
### Subject of the issue
Describe your issue here.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | no
| Framework         | Lumen
| Framework version | 6.x.y
| Package version   | 1.x.y
| PHP version       |  7.x.y

### Steps to reproduce
Tell us how to reproduce this issue.

### Expected behaviour
Tell us what should happen

#

[2020-02-27 12:53] Everyways commented on #1939
Is there any guideline that show integration process on Lumen v6 ?
I can't find what am I doing wrong...
I use "tymon/jwt-auth": "^1.0"
and `Handle ` function of `Authenticate ` middlware always return true to `$this->auth->guard($guard)->guest()`

[2020-02-28 12:57] rupesh-tech opened #1940 ""message": "Argument 3 passed to Lcobucci\\JWT\\Signer\\Hmac::doVerify() must be an instance of Lcobucci\\JWT\\Signer\\Key, null given, called in C:\\easy-test-web\\vendor\\lcobucci\\jwt\\src\\Signer\\BaseSigner.php on line 44", "exception": "Symfony\\Component\\Debug\\Exception\\FatalThrowableError", "file": "C:\\easy-test-web\\vendor\\lcobucci\\jwt\\src\\Signer\\Hmac.php", "line": 29,"
### Subject of the issue
Describe your issue here.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no / yes
| New Feature?      | no / yes
| Framework         | Laravel / Lumen
| Framework version | 5.x.y
| Package version   | 1.x.y
| PHP version       | 5.x.y / 7.x.y

### Steps to reproduce
Tell us how to reproduce this issue.

### Expected behaviour

[2020-02-28 13:06] rupesh-tech commented on #1940
[New Microsoft Word Document.docx](https://github.com/tymondesigns/jwt-auth/files/4267163/New.Microsoft.Word.Document.docx)

[2020-02-29 04:55] #1940 closed, assigned to nobody

[2020-02-29 08:40] rupesh-tech opened #1941 "WriteCodeOnline - laravel | write and run laravel code online"
### am i use any online laravel editor

Describe your issue here.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no / yes
| New Feature?      | no / yes
| Framework         | Laravel / Lumen
| Framework version | 5.x.y
| Package version   | 1.x.y
| PHP version       | 5.x.y / 7.x.y

### Steps to reproduce
Tell us how to reproduce this issue.

### Expe

[2020-03-01 04:58] ErriourMe opened #1942 "Can't get information about user without auth:api, if token was sent"
### Subject of the issue
I have thread page in my forum. If thread was deleted, I must check permission (from spatie/laravel-permission package). If it's ok, thread information is sending, else 404 error. But I can't get information about user even if token was sent. I can set `auth:api` middleware, but I'm blocking all threads for unauthorized users then.

### Your environment
| Q

[2020-03-01 09:12] kovalenkos commented on #1830
`
\JWTAuth::manager()->invalidate(new \Tymon\JWTAuth\Token($tokenString), $forceForever = false);
`
when using this design an error occurs

PHP error Non-static method Tymon\\JWTAuth\\JWT::manager() should not be called statically

[2020-03-01 10:51] polipones commented on #1632
Hi,
my problem was, that Apache by default removes Auth header :man_facepalming:. Found fix here: https://github.com/tymondesigns/jwt-auth/issues/81#issuecomment-91782074

[2020-03-01 15:47] fadhiilrachman commented on #1632
Works for me with edited app/exceptions/Handler.php
Here the code for the top:

[code]

And code for Handler:

[code]

[2020-03-02 11:55] automatonatm commented on #182
*use Tymon\JWTAuth\Facades\JWTAuth;*

[2020-03-03 04:15] iforwms opened #1943 "Add Laravel 7 support"
### Subject of the issue
Current dependencies not satisfied by Laravel 7.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | yes
| Framework         | Laravel
| Framework version | 7.0.0
| Package version   | 1.0.0-rc5.1
| PHP version       | 7.4.0

### Steps to reproduce
Try and upgrade Laravel to version 7.0.0.

### Expected beh

[2020-03-03 04:27] ahmedsafadii commented on #1490
have the same issue :( the top solution is not working anymore

[2020-03-03 07:11] prayphale opened #1944 "Refresh API returning iss which is different from the authenticate API"
### Subject of the issue
I am using this library for authentication purposes.
I am a newbie to this library.
When I generate the token for the first time for authentication, I use customClaims to set iss value of my choice. But when I use the refresh call, I get the default instead of the value I set while first generating the token.
I am not sure if this is actually a bug or I am missing somethin

[2020-03-03 07:46] lihusha opened #1945 "Optional auth identifier"
What about a possibility to make authentication by different with `sub` field?

For example, if in the [line](https://github.com/tymondesigns/jwt-auth/blob/develop/src/JWTGuard.php#L82) will be changed `$payload['sub']` to something like `$payload[config('jwt.auth_identifier_name', 'sub')]`, it will give a possibility to make authentication by custom claim field, different with `sub` (something li

[2020-03-03 10:32] #1941 closed, assigned to nobody

[2020-03-03 19:18] aljamzd commented on #1943
Please add Laravel 7 support or provide a temporary solution.

[2020-03-03 19:51] erikn69 commented on #1943
Please add Laravel 7 support

[2020-03-03 21:21] p4scu41 commented on #1943
I wanted to test the new Laravel 7 but I wasn't able, it would be great to add the support.

[2020-03-04 09:40] gerardnll commented on #1943
Please @tymondesigns it would be great if you can merge any of the PRs about this, Thanks.

[2020-03-04 11:21] #1943 closed, assigned to nobody

[2020-03-04 11:52] rcerljenko opened #1948 "Laravel 7"
raise the version flags for laravel 7

[2020-03-04 11:57] malohtie commented on #1948
he merged #1947 , you can use it now for laravel 7

[2020-03-04 12:30] tymondesigns commented on #1948
Release coming later today

[2020-03-04 12:30] #1948 closed, assigned to nobody

[2020-03-04 12:30] tymondesigns commented on #1945
why would you want to change this?

[2020-03-05 12:30] avdb commented on #1948
@tymondesigns  When is the release coming?

[2020-03-05 12:51] #1945 closed, assigned to nobody

[2020-03-06 09:45] malohtie commented on #1948
@avdb it been release 21 hours ago please check release tab

[2020-03-07 05:35] #1942 closed, assigned to nobody

[2020-03-07 06:46] codetestmg opened #1949 "Laravel 4.2 refresh token not working"
I am using laravel 4.2 and JWT 0.4.3
Access token generating properly.
invalid token works fine

Issue
When  i try to generate refresh token using expired token then it always return Token has expired.

    $refreshed = JWTAuth::refresh(JWTAuth::getToken());

if  i try to generate refresh token using valid access token then it return new token.

[2020-03-07 09:47] islamMaruf commented on #1843
Just make sure headers accept value set to  application/json.
![content](https://user-images.githubusercontent.com/42338037/76141043-e7dd1300-608a-11ea-8c58-b9fcf250b8bf.PNG)

and now everything works fine.

[2020-03-08 08:40] kanfur commented on #1843
I think you haven't set token while sending a request so you should be sure to send with token for requests such as logout, me, refresh

[2020-03-09 07:36] Zen0x7 opened #1950 "[6.x] Integration test can't be passed"
### Subject of the issue
One of my written unit tests for the integration with this package cannot be passed.

https://github.com/Alimentalos/Backend/blob/06c4e7a5358ee66aa128e9def5eb10383d4b2403/tests/Feature/Api/TokenTest.php#L13-L34

Package is implemented using a simple Tokenizer class to implement this package.

https://github.com/Alimentalos/Backend/blob/52b9f3211a39e92a0c7d4a924d1ebe0ed9c41

[2020-03-09 08:38] #1950 closed, assigned to nobody

[2020-03-09 10:59] bert-w commented on #1863
@tymondesigns care to elaborate on this post?

[2020-03-10 17:11] aligajani commented on #1436
I fixed this using the following custom middleware:

[code]

[2020-03-10 21:03] pr1s10n3r commented on #1939
Try this:

composer require tymon/jwt-auth:1.0.0-rc.5.1

Support for Laravel 6 was added on 1.0.0-rc.5

[2020-03-10 22:25] techieoriname opened #1951 "Expired Token Returning 500 error"
Looks like the exception isn't working, have added the global exception as well, still not returning the right json response. am using NUXTJS for my frontend, anytime to token expires, it simply returns 500 internal server error

[2020-03-11 10:39] graphicmist commented on #1626
This is an issue with package. You need to extend BaseMiddleware  and use your guard passed from routes to authenticate.

[2020-03-11 14:36] bert-w commented on #1951
If you want to report a bug please elaborate on the error you are getting. There is like no info in this post except that "it doesnt work".

[2020-03-11 18:29] mattmcdev commented on #1899
There is a bug which means custom claims aren't updated when refreshing a token. There's an [open PR for this](https://github.com/tymondesigns/jwt-auth/pull/1619).

In the meantime you could [adapt this gist](https://gist.github.com/mattmcdonald-uk/cce530a90b00bdb3ed05ac4f826dae1c) which behaves like the `AuthenticateAndRenew` middleware, but updates custom claims.

[2020-03-11 18:29] mattmcdev commented on #1792
There is a bug which means custom claims aren't updated when refreshing a token. There's an [open PR for this](https://github.com/tymondesigns/jwt-auth/pull/1619).

In the meantime you could [adapt this gist](https://gist.github.com/mattmcdonald-uk/cce530a90b00bdb3ed05ac4f826dae1c) which behaves like the `AuthenticateAndRenew` middleware, but updates custom claims.

[2020-03-11 18:31] mattmcdev commented on #1228
There is a bug which means custom claims aren't updated when refreshing a token. There's an [open PR for this](https://github.com/tymondesigns/jwt-auth/pull/1619).

In the meantime you could [adapt this gist](https://gist.github.com/mattmcdonald-uk/cce530a90b00bdb3ed05ac4f826dae1c) which behaves like the `AuthenticateAndRenew` middleware, but updates custom claims.

[2020-03-11 18:31] mattmcdev commented on #891
You could [adapt this gist](https://gist.github.com/mattmcdonald-uk/cce530a90b00bdb3ed05ac4f826dae1c) which behaves like the `AuthenticateAndRenew` middleware, but updates custom claims.

[2020-03-12 10:12] emris97 opened #1952 "Logout route doesn't working."
### My environment
| Q                 | A
| ----------------- | ---
| Bug?              | yes
| Framework         | Laravel
| Framework version | 5.5.*
| Package version   | 1.0.0-rc.2
| PHP version       | >=7.0.0

When i try to logout user i get this error:
ReflectionException: Class jwt does not exist in file `C:\OSPanel\domains\ios.asu.edu.ru\vendor\laravel\framework\src\Illuminate\Container\

[2020-03-12 10:13] emris97 commented on #1952
But the rest of the functionality is working fine.

[2020-03-12 16:51] mustafat0k opened #1953 "I had working with package but anymore its brings an error. 405 method not allowed"
I did write lot thing correct but i don't know why its throwing an error anymore "The GET method is not supported for this route. Supported methods: POST."
Method and request is POST already.

I removed clojure uses for to use command "php artisan route: cache"
still didn't work.
At the local it's working but when push out to the server doesn't work ?  Why could it be are you guess ?
Everythings i

[2020-03-12 16:58] mustafat0k commented on #1953
I created new project for test and i tried again and when i push to the server, result is same
I don't have much time and i cant interest with source of project i searching short way

[2020-03-12 17:35] w5m commented on #1591
Thanks @Zolak94 - your solution helped me correct some old v0.5 code a colleague had written.

[2020-03-13 00:31] specialtactics commented on #1953
If it works locally, then it would be your .env config most likely.

[2020-03-13 11:45] rupesh-tech opened #1954 "There is some problem with your token"
### Subject of the issue
Describe your issue here.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no / yes
| New Feature?      | no / yes
| Framework         | Laravel / Lumen
| Framework version | 5.x.y
| Package version   | 1.x.y
| PHP version       | 5.x.y / 7.x.y

### Steps to reproduce
Tell us how to reproduce this issue.

### Expected behaviour

[2020-03-13 11:51] rupesh-tech commented on #1954
[git_hub.docx](https://github.com/tymondesigns/jwt-auth/files/4329365/git_hub.docx)

[2020-03-13 13:00] mustafat0k commented on #1953
.env is working properly and there is JWT_SECRET.

[2020-03-14 01:11] ihamzehald commented on #1480
@geneowak Changing the  JWT signing key will invalidate all your active keys, I don't recommend to do that, what I recommend is to store your blacklisted tokens in a DB not in the cache.

[2020-03-14 21:20] geneowak commented on #1480
@ihamzehald, do Tymon tokens support timestamp expiry? For example, can one specify that a given token should expire `x mins` so that whether it is blacklisted or not, it's no longer valid after the given time (I think that would mean that the time of expiry is part of the information put in the token). That would be greatly helpful security wise since you don't have to worry about storing all the

[2020-03-15 02:21] Niush commented on #1480
@geneowak Yes, there is expiry date (exp) that can be set when creating the jwt token. But, storing the active tokens or invalidated tokens in DB or Redis is the best way to go.
And, password changes does not affect the token (which does not store the password anyway). You could manually invalidate all the tokens this user has when changing the password.

_Sent from my Desire 830 dual sim using [F

[2020-03-15 09:31] nilsir opened #1955 "don't work on laravel7"
### Don't work on laravel7
When will it support laravel7?

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | no
| Framework         | Laravel
| Framework version | 7.x
| Package version   | 1.x
| PHP version       |  7.3.x

[2020-03-15 09:52] mfn commented on #1955
I'm running it with L7. What's you actual problem? Error message? Stacktrace?

[2020-03-15 09:58] nilsir commented on #1955
when exec
[code]
I got
![image](https://user-images.githubusercontent.com/15967737/76699216-556dec80-66e6-11ea-86ec-60887b3f7c0f.png)

Which version should I choose?
3q for answer

[2020-03-15 10:09] specialtactics commented on #1955
You should use 1.0.0 not rc

[2020-03-15 10:14] nilsir commented on #1955
3q. I installed it.

[2020-03-15 10:15] #1955 closed, assigned to nobody

[2020-03-16 06:16] bhuvneshgalaxy commented on #1653
so issue still not resolved

[2020-03-16 15:59] ibrainventures commented on #1954
@rupesh-tech

!! a undocumented .docx !! for download ...
in time of word-virus etc. i would bet you to write something about your issue ..

@tymondesigns ... may this is a security issue .. backdoor catching ...

[2020-03-16 16:07] #1954 closed, assigned to nobody

[2020-03-17 03:01] pokemonhan opened #1956 "how to change redis default db to specific redis db."
### Subject of the issue
now it save inside the default redis db.
because I want to store its data to specific db inside to be tidly to my redis db inorder not to mess with other data in default db.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | yes
| Framework         | Laravel
| Framework version | 7.1.3
| Package version

[2020-03-17 03:47] trungim commented on #1881
the composer install result is ,Could not find a matching version of package tymon/jwt-auth.my laravel version is 5.5.Tried some attempt such as composer require tymon/jwt-auth ^1.0.0 and composer require tymon/jwt-auth 1.*@rc,but none is work.

[2020-03-17 10:48] monica-mateescu opened #1957 "Invalidate tokens for a specific user"
### Invalidating tokens for a specific user is not working

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | no
| Framework         | Lumen
| Framework version | 5.1.*
| Package version   | 0.5.6
| PHP version       | 7.2.*

[code]

### Steps to reproduce
Following the documentation https://jwt-auth.readthedocs.io/en/develop/auth

[2020-03-17 11:01] andrzejkupczyk opened #1958 "JSON Object Signing and Encryption library deprecation"
The JWT Auth requires the `namshi/jose` package meanwhile maintainer strongly recommends looking for a long-term alternative. Would you accept a PR which replaces deprecated dependency?

[2020-03-18 11:41] MehdiAghighi opened #1959 "invalidate all other sessions"
### Invalidating All Other tokens for user except the current one using

Laravel Framework auth provides something called [Invalidating Sessions On Other Devices](https://laravel.com/docs/7.x/authentication#invalidating-sessions-on-other-devices)

which for example when i change my password with my laptop, it stays logged In at my current session but all other sessions are invalidated and logged o

[2020-03-18 16:07] SiebeVE commented on #1932
This can be achieved in a different way: https://github.com/tymondesigns/jwt-auth/pull/1933#issuecomment-590861435

[2020-03-18 16:07] #1932 closed, assigned to nobody

[2020-03-18 18:46] Viking0607 opened #1960 "Laravel 7 bug"
### Subject of the issue
Describe your issue here.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | yes
| New Feature?      | no
| Framework         | Laravel
| Framework version | 7.0
| Package version   | 1.0.0
| PHP version       |  7.2.5

### Steps to reproduce

I am trying to log in using the following method

[code]
But the token gets false

As yo

[2020-03-18 22:16] MikeCraig418 commented on #1871
@fernandopioli , did you make any progress on this one?

[2020-03-19 12:09] mattmcdev commented on #1959
You can create a custom claim of the last updated timestamp and invalidate all tokens which don't match the current value.

[2020-03-19 12:12] MehdiAghighi commented on #1959
@mattmcdonald-uk can you please help me how to set a custom dynamic claim like timestamp ?
i searched for that a lot but didn't find any thing ...

[2020-03-19 12:17] ripu123 opened #1961 "JWT PHP Login Failed"
I am getting 401 response in php jwt auth as it showing login failed. even I have put correct user name and password in test API also even my inputs are correct. It always says 'Login failed. mobile or password is incorrect.'. Could you please help me fix this? Thank you very much.I have seen reference from https://www.techiediaries.com/php-jwt-authentication-tutorial/

### Your environment

[2020-03-19 14:30] mattmcdev commented on #1959
As an example, assuming a column called `password_last_updated` you were casting to a `datetime`, you could add this to your User model:

[code]

As a separate issue, there's a bug which means custom claims like this aren't updated when refreshing tokens. So if refreshing tokens is part of your flow you can ensure custom claims are updated by adapting [this example middleware](https://gist.github.

[2020-03-19 17:35] MehdiAghighi commented on #1959
thank you for your great idea

[2020-03-19 17:35] #1959 closed, assigned to nobody

[2020-03-20 10:18] ihamzehald opened #1962 "How to store blacklisted tokens in a database table instead of a cache directory?"
### Subject of the issue
How to store blacklisted tokens in a database table instead on cache directory?

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | no
| Framework         | Laravel
| Framework version | 6.x
| PHP version       |7.x

[2020-03-20 11:06] ihamzehald commented on #1480
@Niush I've been searching all over the internet on how to store the blacklisted tokens in a database and i didn't find a way yet, can you please help me in that.

[2020-03-20 17:14] Lapinskas commented on #1851
Hi @xAqweRx ,

Could you please post details how have you resolved the issue?
I've faced the same issue with Laravel Nova and single sign-on, where auth token issued and instantly checked after the redirect.

[2020-03-20 17:22] xAqweRx commented on #1851
My issue was connected with server settings of time synchronization. So, token was generated in one moment and after time sync - this was "in future". So, first of all - check how you're `time()` working and what data is shown. After this - you can do your conclusion

[2020-03-20 17:35] leonardo-vales opened #1963 "Laravel Unauthorized Get Routes"
Laravel Unauthorized Get Routes
I'm using Laravel 7 and the latest update to the JWT library made available for my project. I integrated Laravel to JWT and I'm managing to generate the token perfectly.

However, routes of type GET return unauthenticated. Only POST routes are undergoing authentication.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | yes

[2020-03-20 18:33] Niush commented on #1480
Personally, I like to store **Active tokens** in the Database/Redis (rather then all the invalidated tokens).
- When user authenticates, token is generated, and stored in the database table (user_id, token, expiry etc.)
- And, on each request some sort of middleware will check if the passed token is valid (i.e. stored in the database, along with other verifications as required)
- Then, on Logout,

[2020-03-21 09:47] geneowak commented on #1480
@Niush, I think that could be the best way of doing it because over time one may end up with thousands of tokens especially if the system has very many users. One also doesn't have to worry if for some reason the database is cleared, the user will just have to login again and any old or stolen tokens can never be used again. This approach can also help in scenarios where you want the user to be lo

[2020-03-21 19:59] pgruziel opened #1964 "[Question] Where generated access tokens are stored"
### [Question] Where generated access tokens are stored
I suppose that they should be somewhere in cache or in database, but I can't see them there.
Is there a possibility to clear them and logout all users?

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | no
| Framework         | Laravel
| Framework version | 7.0
| Package vers

[2020-03-23 14:28] Poupoule opened #1965 "Token retrieving user always return false"
### Subject of the issue
I'm trying to get back user from a token but it always returning me false. In facts it was working untill i deleted email and password in the User table. I've tried adding an identifier, or also several potential fixes found on similar problem. The fact is i'm doing a SSO ADFS connexion afterwards i send a JWT token to my front (laravel is only my backend). But when my fro

[2020-03-24 07:37] #1965 closed, assigned to nobody

[2020-03-24 11:29] mikebarlow commented on #1964
Generated access tokens are not stored anywhere by this package.

This package simply generates the token, usually this token would then be returned from an API to a frontend that is consuming the API. The frontend itself would store the token in something like a Cookie or js local storage depending on your preferences.

[2020-03-24 17:15] dhcmega opened #1966 "How is a user with a token actually being logged in?"
Hi! I know this is not a bug, but I definitely need help with this.
I can follow the process when a user logs in, as I'm using the example controller from the docs and my own user provider.
But I totally fail to understand how is the user with a token being authenticated.

I see that my user's provider class is used, as my retrieveById is being called.

What I need to achieve is to generate a 1 ti

[2020-03-25 15:26] MehdiAghighi opened #1967 "custom claims"
### using custom claims
i want to build tokens with only phone number and user id claims not anything else like username or email or ... how can i do that ?

[2020-03-25 15:43] #1967 closed, assigned to nobody

[2020-03-25 15:48] MehdiAghighi opened #1968 "authenticating with custom credential and claims"
### authenticating with custom credential and claims
my website's registration and login is a little different, i have some codes in users_verify table and when the user enter the code it reaches out to database and check if this code is correct then i find the user from database and i wanna make a json web token from the phone and user id and give it back to user.

so i should generate the token

[2020-03-25 16:58] phidvss55 commented on #896
`dsgsdgdfg`

[2020-03-25 20:13] jamal-rahimzadegan commented on #1753
I have laravel v7 and jwt v1.0.0 same issue

[2020-03-26 00:54] Zannier7 commented on #1480
@geneowak, Did you manage to have only one session per user?. I am working with lumen and I want to enable that functionality of only one session per user. If you managed to develop that functionality, I don't know if it would be too much to ask you to share how you did it.

[2020-03-26 14:30] Egzonrexhepi commented on #1498
Hey Guys, i am using laravel/lumen-framework": "^7.0" and i am still facing "Method Illuminate\Auth\RequestGuard::attempt does not exist." when i try Auth::attempt($credentials), i have followed all the tips and hints above but still not sure why i am getting this, anyone else found any other fix?

[2020-03-26 20:07] Elshaden commented on #1498
@Egzonrexhepi
there is no Illuminate\Auth\RequestGuard as you mention, or maybe I don't know about,
there is : Illuminate\Support\Facades\Auth

and you can use it in Auth::attempt($credentials),
if you use 'web ' middleware , this should work, if not try use  Auth::guard('web')
->attempt($credentials)

hope this work.

[2020-03-26 22:59] mustafat0k commented on #1953
I solved the problem and you can close issue. The cause of the error was the server configurations.
 Also i should say packagist repositories are confused between versions and branches. Its affecting composer caches. When you update it that coming with different version.. Anyway i fixed it.
Thanks for answer @specialtactics

[2020-03-27 17:36] wemersonrv opened #1969 "Third party generated JWT compatibility"
### Subject of the issue
JWT compatibility

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | no
| Framework         | Laravel and Lumen
| Framework version | 7.0
| Package version   | 1.0.0
| PHP version       | 7.3 / 7.4

Hi, this is just a question if it's possible to use this package with tokens generated for other tools.

My

[2020-03-28 09:06] xwiz commented on #1863
I'm going to be a bit different here considering how other system works --- I think JWT should spend more time on extra authentication steps and remove the refresh token feature. I'm more concerned about an attacker gaining any type of access to the token for the first time.

For example, if a token was obtained from a particular IP, and is suddenly being used from a different IP in different subn

[2020-03-28 11:10] GonzaloGPF commented on #1478
I had same issue. I was facing this problem because I was using `auth()->attempt($credentials, $remember)`.
If you use the second argument ($remember) it will always use your **web** auth driver, despite of your defaults in **config/auth.php**. So, you must use `auth()->attempt($credentials)`.

[2020-03-28 22:26] bert-w commented on #1863
@xwiz I guess you can implement your use case with an extra claim in the JWT with the users' IP address. However changing IPs is not something I regard as a possible danger. It can simply be caused by switching from Wifi to 4G or using a VPN or proxy. So depending on how strict you want your security policy, it might limit your end-users a lot.

However your statement about you not believing in re

[2020-03-29 09:32] xwiz commented on #1863
@bert-w That's why I said it should be an optional setting. this feature is usually coupled with user agent, if your user agent and IP suddenly changes, most sensitive services you use will automatically log you out. Hence why I said it should be a feature, it's common enough to be a feature.

I might have missed the part about refresh tokens, my point about refresh tokens is simply that no matter

[2020-03-29 17:19] bert-w commented on #1863
@xwiz I'll show you how trivial your problem is:

Go to the place in your code where the JWT is generated after logging in:
[code]

Then simply create some middleware that checks these custom claims:
[code]

------------------

Read https://stackoverflow.com/questions/3487991/why-does-oauth-v2-have-both-access-and-refresh-tokens to have your question answered why refresh-tokens != access-tokens.

[2020-03-29 17:40] xwiz commented on #1863
@bert-w That's a different context, and I'm not saying there's no point in that. But let's be careful whether we're simply saying that a refresh token is the third part of the user's password. Normally in JWT scenario, you're expected to create tokens with username and password (the actual refresh token in this case), now if someone says, I don't want my users entering username and passwords all t

[2020-03-29 18:47] bert-w commented on #1863
@xwiz this package is not going to provide all that for you. The JWT implementation and the claims that come along with it are provided, which is the blueprint you need for whichever restrictions you need to add. You basically admitted yourself that it is out of scope of this package since you keep adding requirements (ip + subnet + user agent + ip locator + forwarded ips).

If you read the origin

[2020-03-29 18:57] gokulkhatiwada opened #1970 "Unauthorized 401 response with access token"
### Subject of the issue
I have been getting unauthorized 401 response on  logout route guarded with auth:api middleware

//route

`Route::group(['middleware'=>['auth:api']], function () {

    Route::post('logout','Auth\LoginController@logout');
});`

//controller
`public function logout()
    {
        $this->guard()->logout();
        return response()->json(['message' => 'Logged out successful

[2020-03-29 19:16] xwiz commented on #1863
Ah I see what you mean, sorry if I derailed your thread. I am sure I'm a bit rash in my judgment on refresh tokens, but it should definitely be a feature especially since there's already config related to it.

[2020-03-30 05:29] Gummby commented on #1957
Same issue, not sure if intended behaviour or not

[2020-03-30 06:24] AtomCutter commented on #1843
@pereiracinthiag
I also face similar error
"GET method is not supported for this route. Supported methods: POST."
I create the new route for that method/function with a different name and it works.

[2020-03-30 09:00] #1970 closed, assigned to nobody

[2020-03-30 15:30] chriskikoti commented on #1367
Worked for me. Thanks

[2020-03-30 17:49] marcos1262 commented on #1705
For me, using Heroku,
`heroku run php artisan jwt:secret  `
was not working, but
`heroku config:set JWT_SECRET=<your generated key>`
worked.
And then clear cache.

[2020-03-31 09:39] Egzonrexhepi commented on #1498
@Elshaden Thanks for reply, actually i forgot to register routes, and made some mistakes in the whole passport implementation, i got it working after registering routes.

[2020-04-01 13:58] dhcmega commented on #1420
Hi @robcaa
I have the same problem. Memcached works ok for WEB requets, but I get `Class 'Memcached' not found` for all API requests.
How did you solve your problem?
Thanks!

EDIT1: In my case the problem is that Dreamhost has php74 without memcached and php73 with memcached. It turns out that I was using php74 for api requests.

[2020-04-02 09:03] olecom commented on #1960
Hi! There is something wrong in the lib or its usage for sure.

To find out what,
[code]
I guess it is better to print out exception message and stack to know what failed.
If you use example from [documentation](https://jwt-auth.readthedocs.io/en/develop/quick-start/):
[code]
Then remove this handler line of code.
Thus there will be an Exception message like this:
[code]

[2020-04-02 14:54] ikubij commented on #1880
If working with Laravel and Vue uncomment require bootstrap on app.js

[2020-04-03 03:50] Gummby commented on #1957
A token is essentially a session, so when you invalidate a token it invalidates only that session. So tokens that have been refreshed from that first token will be invalidated, but newly generated tokens from the login route wont be invalidated. You unfortunately have to track the tokens your self to invalidate them. You can do this with claims, have a look at some previous closed tickets as there

[2020-04-03 07:01] Joseph-Logan commented on #1907
So, that's happens because you no specify the JWT_SECRET = your token here
And reject the resquest

The solution is, config your env variables or place where you have the JWT_SECRET request that will be good

[2020-04-03 08:14] glitterlip commented on #1551
Your solution works like a charm, but is there any method to only change
[code]

instead of change `user` driver?

[2020-04-03 19:39] marcosrocha85 commented on #1551
In theory, if you override getAuthPassword in your User model. It may work.
[code]

The problem of mine was that Illuminate\Auth\DatabaseUserProvider refers to 'password' key in order to get passwords from model, instead of using getAuthPassword. In my case, the field was written in ("Argh") portuguese instead of english, so I had to create my custom driver to make it work. That is the problem whe

[2020-04-06 07:08] monica-mateescu commented on #1957
Thank you for your response, but I still have a question:

To invalidate all tokens of a particular user, I keep a list in the database of all tokens. Everything works fine on a local server using `CACHE_DRIVER=file`, but on production server with `CACHE_DRIVER=memcached ` doesn't work, old tokens are still valid after invalidating them.
I looked at some previous closed tickets with the same probl

[2020-04-06 08:36] Ahmed-Aboud commented on #1869
for newer versions
 https://github.com/tymondesigns/jwt-auth/releases

[2020-04-06 17:50] salmanalee commented on #1294
use auth()->manager()->getJWTProvider()->setToken() for new version

[2020-04-07 01:43] Fudinand opened #1971 "invalidate() throws an error "No such file or directory""
### Subject of the issue
When I login I get token normally as I suppose and do only-auth stuff with success, but when I "invalidate()" with this token in header, php throws "file_put_contents(/var/www/html/app/storage/framework/cache/data/c4/fe/c4fe5fce1d4240bb3af2a32963bcd42f2f2e99d8): failed to open stream: No such file or directory". As i checked There is no files in this dir. What should I do?

[2020-04-07 16:06] germangamboa95 commented on #1969
You should be able to do it. You'll need to make sure the configs are the same for both the generating one and the reading one.

[2020-04-08 02:12] katongilang commented on #281
tes

[2020-04-08 03:51] khooz opened #1972 "`logout` and `invalidate` simply won't work"
### Subject of the issue
Hi,

As the title said, logout and invalidate does not work. The blacklisting is on but JWT does not record any token as blacklisted at all.

### Your environment
| Q                             | A
| --------------------- | ---
| Bug?                        | maybe
| New Feature?          | no
| Framework              | Laravel
| Framework version | 6.x
| Package version

[2020-04-08 13:44] wemersonrv commented on #1969
Are you talking about APP_KEY? O there are more configs to check ?

[2020-04-08 21:40] Rodolfo-XDR commented on #1531
@roman-briazgalov  I don't get how you managed to use normal LoginController methods implementing JWT. The authenticated function is only triggered if you don't override your login function, or if you return "sendLoginresponse()"

`return $this->sendLoginResponse($request);`

[2020-04-11 00:28] germangamboa95 commented on #1969
You are want to make sure the secret key is the same.
You can read more about it here (https://jwt.io/introduction/)

[2020-04-11 23:14] stefan-ma22 commented on #1581
My two cents I changed logout function to this and call it with GET method

`    public function logout(Request $request)
    {
        if (! $user = auth()->setRequest($request)->user()) {
            return $this->responseUnauthorized();
        }
        auth()->logout();
        return $this->responseSuccess('Successfully logged out.');
    }`

[2020-04-12 03:26] asjamsuri commented on #1912
As @specialtactics said, it worked for me with a little bit modifications (maybe due to different version usage).

I'm currently using `"tymon/jwt-auth": "^1.0"`, and  since `JWTAuth::fromUser` is now inaccessible, so I modify it to:

[code]

And it could be used like:
[code]

Didn't know if it was a good practice or not. But it worked for me.

Thanks to @specialtactics !

[2020-04-12 06:23] ArnoldLC commented on #1355
Hello, I tried config this middleware in lumen but don't work successful.
Someone has implemented this in lumen?

[2020-04-13 02:34] MarJose123 commented on #1972
yeah, I also encountered this issue.
here is the temporary solution for that:
use the composer stage : `dev-develop`
just use:
### for login
[code]
### for logout
[code]
### for refresh token
[code]

[2020-04-13 21:21] #1963 closed, assigned to nobody

[2020-04-15 14:09] sublime392 commented on #1882
I see that this has been fixed sometime between now and when I posted this issue.

[2020-04-15 14:09] #1882 closed, assigned to nobody

[2020-04-15 14:32] crismarucci opened #1973 "Public versus Private Routes"
### My environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | no
| Framework         | Laravel
| Framework version | 7.4.0
| Package version   | 1.0.x-dev
| PHP version       | 7.3.12

### Subject of the issue
I have followed all of the instructions but when I tried to register or even login, I get a 401 error (Unauthorized). Even when I don't

[2020-04-15 15:49] crismarucci commented on #1973
I found it! My problem was this line:

[code]
en `$middlewareGroups ` on app/Kernel.php file. I changed it for this line and it works:

[code]

[2020-04-15 15:49] #1973 closed, assigned to nobody

[2020-04-17 15:38] D0nVitalio opened #1974 "How to login with username or with phone and not with email?"
### Subject of the issue
I have:
$credentials = request(['email', 'password']);
and it works:
auth()->claims($customClaims)->attempt($credentials)
I want to login user with unique 'phone' from table users.
How to tell JWT to use another column when it make **attempt** ?

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | no
| Frame

[2020-04-19 14:15] Tsuintora opened #1975 "Access & Refresh tokens"
### Subject of the issue

Hello guys, sorry for bad english. Thanks for your time.

How can i make Access token and Refresh tokens? Refresh token will refresh Access token.
Need make access_token and refresh_token.
Thank you, i hope you understand this..

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | no
| Framework         | L

[2020-04-21 22:34] viniciusmelocodes commented on #1729
This is what worked for me:
`php artisan jwt:secret`
`php artisan config:clear`
`php artisan config:cache`
`sudo chmod 777 -Rf storage/`

[2020-04-22 09:06] BAN1ce commented on #1974
You can read the document this chapter [https://jwt-auth.readthedocs.io/en/develop/quick-start/](https://jwt-auth.readthedocs.io/en/develop/quick-start/) . Hope it could help you .

[2020-04-22 09:09] BAN1ce commented on #1968
You can read document [https://jwt-auth.readthedocs.io/en/develop/auth-guard/#login](https://jwt-auth.readthedocs.io/en/develop/auth-guard/#login)

[code]

[2020-04-22 09:16] BAN1ce commented on #1966
Hello , if you want token be invalid , you can add the token to blacklist or logout. you can add a middleware in your project to invalid token. [https://jwt-auth.readthedocs.io/en/develop/auth-guard/#userorfail](https://jwt-auth.readthedocs.io/en/develop/auth-guard/#userorfail)

[code]

[2020-04-22 15:21] khessels commented on #1669
This solved it for me..
https://laracasts.com/discuss/channels/laravel/jwt-auth-and-laravel-basic-auth-problem

[2020-04-22 16:11] Devamit2016 commented on #1487
still have this issue?if anyone has overcome this problem please provide solution

[2020-04-22 19:11] Shizzen83 opened #1979 "Regression about JWTs without TTL"
### Regression about JWTs without TTL
Because of PHP property type-hinting on `Tymon\JWTAuth\Builder::$ttl`, JWTs without TTL do not work longer. It's a cinch to fix by replacing `int` with `?int` in order to allow `null`.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | yes
| New Feature?      | no
| Framework         | Laravel / Lumen
| Package versio

[2020-04-22 20:20] scramatte commented on #714
Hi,

I need such feature too.   Solution explained here doesn't works for me

Regards

[2020-04-22 22:38] rodrigopa commented on #1880
protected $hidden = [
    'password', 'remember_token',
];

Remove 'password' from $hidden

[2020-04-23 00:06] ArnoldLC commented on #1355
I implemented this middleware in Lumen 6.2.0.
I did the same steps and write a [gist](https://gist.github.com/ArnoldLC/c499cbc86ab0078b9d332651d9420321). I hope it hep you.

[2020-04-23 14:54] aboyuosef opened #1980 "The GET method is not supported for this route. Supported methods: POST. send information"
### Subject of the issue
Describe your issue here.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no / yes
| New Feature?      | no / yes
| Framework         | Laravel / Lumen
| Framework version | 5.x.y
| Package version   | 1.x.y
| PHP version       | 5.x.y / 7.x.y

### Steps to reproduce
Tell us how to reproduce this issue.

### Expected behaviour

[2020-04-25 11:58] D0nVitalio commented on #1974
Solved by googling "validateCredentials". Found https://laravel.com/docs/6.x/authentication#the-user-provider-contract and the answer is
`$credentials = ['phone'=>$request->phone, 'password'=>$request->password];`

I think it will be usefull to add this info in QuickStart.

[2020-04-27 05:06] nikoz84 opened #1981 "How to install in laravel 7?"
###
I'm try to add this library for autheticate my users with laravel 7.5 i follow the documentation but when send the token via Authorization in my middleware the request header are null. The token is created when attempt the users credential, but when send the request i get this errors **Could not decode token: Error while decoding to JSON: Malformed UTF-8 characters, possibly incorrectly encode

[2020-04-29 15:04] atefehkianfar1 opened #1982 "Method Tymon\JWTAuth\Commands\JWTGenerateCommand::handle() does not exist"
### Subject of the issue
After installing the package I tried to run PHP artisan jwt:generate but I got the error :
Method Tymon\JWTAuth\Commands\JWTGenerateCommand::handle() does not exist
I used this package several times but it was the first time it happened by doing this the problems goes away:
add this function
public function handle() { $this->fire(); }
in Commands\JWTGenerateCommand: file

[2020-04-30 22:30] robsonware commented on #1759
@felipepanegalli put this in your User Model:
[code]

_This overrides the trait **Illuminate\Auth\Authenticatable** methods._

[2020-05-03 07:14] prookie commented on #1769
Hi!

This still seems to be bugged in the current version, which is a security dealbreaker if there are two distinct login areas for standard user accounts and admins for example like in my current project.

Any chance to get it fixed?

[2020-05-03 10:23] macist-m opened #1983 "Refresh Token Fails as Auth Unauthenticated"
I have a react app that uses laravel as backend. I do have all the config files as default. Yet when I try to refresh the token with the current access token after 60 mins. I get an unauthenticated error.

So do I need be authed in order to refresh?

I don't get this at all, when I log in there is only access token is being returned, there is no refresh token being returned.

Using latest jwt-auth

[2020-05-03 12:43] StefanosGiannakis commented on #1972
Laravel 7 . Not working

[2020-05-03 14:52] mhlanga-joseph commented on #1729
@Nataanthoni answer worked for me. Unfortunately, I had not set a JWT_SECRET in my .env. My bad!

[2020-05-03 18:29] prookie commented on #1769
FYI, my workaround at the moment is to fix the existing user assignment which does not validate the token subject beforehand. I extended the implementation of `\Tymon\JWTAuth\JWTGuard` and added the validation to the `onceUsingId()` method (like in the getter `user()`):

[code]

This class is registered as an additional auth guard driver and then used instead of `jwt`.

I am not entirely sure if t

[2020-05-05 08:35] egulhan commented on #1843
This solved my problem! Thanks!

[2020-05-05 16:31] jordillps commented on #1843
Can you explain how to change http to https on the API rest.
Thanks in advance!

[2020-05-06 03:28] Moustafa22 commented on #1896
I encountered the same issue, Basically, this issue is showing because JWT is not compatible with Laravel 6.3 and there is changes in Middlewares' flow of events.

So after tracing the error, I found a temp solution you can use while they are releasing 6.3 compatible release.

The main issue here is in `config/auth.php` setting the default guard to `api` while its' driver is not defined.

to solve

[2020-05-06 09:40] egulhan commented on #1843
I just replaced http with https in URLs.

[2020-05-06 12:55] blessingk commented on #1729
This is what worked for me:
[code]

[2020-05-06 14:12] gentritabazi commented on #1729
Lumen does not have **config:clear** or **config:cache** artisan command.

This error is still present in Lumen.

[2020-05-06 23:14] yordadev commented on #1484
Thanks m8. 🎉🎉🎉🎉🎉🎉🎉🎉

[2020-05-07 05:58] blessingk commented on #1729
l think its for laravel only

[2020-05-07 07:48] mr-chen-king opened #1984 "Call to undefined method Carbon\Carbon::diffInRealMinutes()"
### Subject of the issue
Call to undefined method Carbon\Carbon::diffInRealMinutes() in file D:\workspace\peiwang.com\vendor\tymon\jwt-auth\src\Blacklist.php on line 103

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | yes
| New Feature?      | no
| Framework         | Laravel
| Framework version | 5.5.39
| Package version   | 1.*@rc
| PHP version

[2020-05-07 13:30] jordillps commented on #1843
Thanks for your response. In fact,I am using https. The error appears when I do the laravel the validation of the form. So, at the end I decided do the validation using Jquery.

[2020-05-09 03:04] #1862 closed, assigned to nobody

[2020-05-12 05:46] ghost opened #1986 "Why can i again login with previous token?"
### Subject of the issue
Hi,
I made a simple jwt authentication in lumen but i'm think this has a problem, Because i can send login request and after get the token, I send another request but i can login with previous token although my token changed?

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | no
| Framework         | Lumen

[2020-05-12 07:06] faizananwerali commented on #1981
Following

[2020-05-12 13:30] mhlanga-joseph commented on #205
@philwamba worked for me. thanks

[2020-05-13 09:33] jamesbcn commented on #1484
I needed make the change for everything in AuthController related to JWT ( basically everything except me() and logout() ).

No changes required to jwt.php though.

Thanks!

[2020-05-13 14:12] kamil-kielczewski commented on #176
In file `config/jwt.php` from key

`'required_claims' => ['iss', 'iat', 'exp', 'nbf', 'jti', 'sub']`

I remove unused claims (in my case `'sub'`)

[2020-05-13 15:55] usulix commented on #1986
I am not a contributor to this package, but we have been using a custom JWT solution for years at speareducation.com and I was considering an attempt to move to this package when I saw your question.

Something very important to understand about JWT authentication schemes is that the token is a signed key that the server validates and extracts access rights from (potentially). It is not a session

[2020-05-14 15:11] imjad commented on #1740
just converter format password

ex 'password' => bcrypt($request->password),

[2020-05-15 21:02] philwamba commented on #1367
Try this:
[code]

[2020-05-18 08:40] dahyui commented on #1892
Also experienced the same issue. What worked for me was this solution - https://github.com/tymondesigns/jwt-auth/issues/1484#issuecomment-376212716

[2020-05-20 04:01] Q8root opened #1987 "Trying to set the token to not expire but it's expiring after 60 min"
### Subject of the issue
I tried to make the token never expire by changing the value of ttl to null but it's not effecting any changes.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              |  yes
| New Feature?      | no
| Framework         | Laravel
| Framework version | 5.8.38
| Package version   | 1.0.0
| PHP version       | 7.2.30

### Steps to reproduce

[2020-05-20 14:24] gitsmaster commented on #79
Seems that `TokenExpiredException`, `TokenInvalidException`, `JWTException` have no getStatusCode() function
Use getCode() instead

[2020-05-21 08:38] kevinfszu commented on #915
This saves me. I'm so stupid to misunderstanding the {} in the official documents.

[2020-05-21 15:36] #1987 closed, assigned to nobody

[2020-05-24 05:47] oknixus opened #1989 "The all token will be enabled by the last login for the same account."
### Subject of the issue
The same account login in the different browsers, when one of them login or logout, the others will be influence.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              |  yes
| New Feature?      | no
| Framework         | Laravel
| Framework version | 7.0
| Package version   | ^1.0
| PHP version       | 7.4.3

### Steps to reproduce
1.

[2020-05-25 05:15] agm1984 commented on #1246
I solved this by making a `getTokenForUser` method in TestCase that gets the token for arbitrary users.

**TestCase.php**

[code]

Then I can make authenticated requests in unit tests via syntax such as:

**SomeTest.php**

[code]

For me this is close enough to `$this->actingAs($user)->postJson()`. I will argue that it makes it easy for me to test specific middleware error statuses such as 401 exp

[2020-05-25 05:28] agm1984 commented on #1912
I added a comment related to this, in this thread: https://github.com/tymondesigns/jwt-auth/issues/1246

For me `JWTAuth::fromUser($user)` did work.

[2020-05-26 18:48] agm1984 commented on #321
This appears to be what I'm seeing now. In my `config/jwt.php` file, I have:

[code]

But `$this->guard()->getPayload()->get('exp') - time()` returns `60`, so it doesn't appear to be respecting the config setting. I also put `JWT_TTL=1` in my `.env` file and `->get('exp')` still returns 60.

I have a work-around though. Now I am doing this to pass the config expiry to the SPA client:

**spa.blade.

[2020-05-27 16:02] Yass-Gfx commented on #1094
For Laravel above 5.4
in my case i user laravel 7

# Install JWT package via composer
composer require tymon/jwt-auth

# Publish the config
php artisan vendor:publish --provider="Tymon\JWTAuth\Providers\LaravelServiceProvider"

# Generate secret key
php artisan jwt:secret

# Configure Auth guard inside the config/auth.php
'defaults' => [
        'guard' => 'api',    #use api as guard
        'pass

[2020-05-27 20:23] ajanini opened #1990 "Support for localization"
### Subject of the issue
Wrap strings in `__()` so that they can be easily localized.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | yes
| Framework         | Laravel
| Framework version | 7.10.2
| Package version   | 1.0.0
| PHP version       | 7.3.9

### Steps to reproduce
String such as "[The token could not be parsed from

[2020-05-27 21:03] agm1984 commented on #89
I might recommend making a reuseable utility method that outputs the claim set, something like:

[code]

You could add validation logic into the method, and it should also make it easier to mock arbitrary state in unit tests.

One of interest to me is generating tokens that expire near-instantly, so I can unit test error 401s during a database transaction while the refresh grace period is `0` to t

[2020-05-28 11:36] stepy22 opened #1991 "crudbooster"
### Subject of the issue
Describe your issue here.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no / yes
| New Feature?      | no / yes
| Framework         | Laravel / Lumen
| Framework version | 5.x.y
| Package version   | 1.x.y
| PHP version       | 5.x.y / 7.x.y

### Steps to reproduce
Tell us how to reproduce this issue.

### Expected behaviour

[2020-05-29 03:36] agm1984 commented on #1562
Here's some example code to wet your mojo:

[code]

Here is some Axios interceptors that function along with that middleware:

[code]

[2020-05-30 12:47] #1989 closed, assigned to nobody

[2020-05-31 12:55] karahan commented on #1916
Add "implements JWTSubject" in your user class.

```class User extends Authenticatable implements JWTSubject```

[2020-05-31 13:22] LionGon commented on #261
There is a great tuto for the FOrgot Password with Lumen 6

https://medium.com/@nbulian/lumen-6-laravels-reset-passwords-b5157d2d4717

[2020-06-03 11:24] Nilanth opened #1992 "Invalidate specific user token"
Hi,

How to invalidate another user token, In my app Admin user can **inactive** his teammate, so I need to invalidate the teammate JWT token if he has logged or else he will be accessing the app till he logouts, How to resolve this?

[2020-06-03 17:39] kalemdzievski commented on #1743
Having the same issue. Not sure if this is right or wrong.
@tymondesigns  can u please respond? Thanks!

[2020-06-04 18:08] satya-kr commented on #1753
@pandeptwidyaop pandeptwidyaop Your Route Should be like this.
------------------------------------------------------------------------------------------------

[code]

[2020-06-04 21:35] abduljeleelng commented on #1548
Thank so much, you save my times

[2020-06-07 03:26] LiXunGuan opened #1993 "support for cartalyst/sentinel"
### Subject of the issue
Version 1.0.0 does not support Cartalyst/Sentinel, but we need to use Cartalyst/Sentinel. Is there a solution

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | yes
| Framework         | Laravel
| Framework version | 7.10.2
| Package version   | 1.0.0
| PHP version       | 7.3.9

[2020-06-07 11:43] roydekleijn opened #1994 "test for endpoints that require authentication"
Hello,

This is more a request for help than a bug.

I have a few endpoints that require authentication. Deployed on a server it works fine, but now I like to create a unit test and that doesn't work.

Every time I get this error:

`InvalidArgumentException: Auth guard [] is not defined.`

My test look like this:

[code]

The configuration looks like this:

[code]

Am I missing something ? I hope

[2020-06-07 13:18] aligajani commented on #1992
Are you using LLT or on Refresh?

[2020-06-07 13:21] aligajani commented on #1981
Works for me

[2020-06-07 13:42] Nilanth commented on #1992
Token time to live - TTL

[2020-06-07 13:51] aligajani commented on #1992
Well, I suggest a solution where you have a column on your database called `lock_user` which is set to 0 by default. When set to 1, you can basically have a guard or a middleware which blocks user access to any authenticated route and throws a 403. This will force logout the user.

You can't invalidate a particular users token because you don't have that token stored anywhere. That would be the on

[2020-06-08 19:03] roydekleijn commented on #1994
It turns out that the defaults array is mandatory...

`$this->actingAs(factory(Customer::class)->create(), 'customer')->post('api/invoices', [], [])`
works

`$this->actingAs(factory(Customer::class)->create(), 'employee')->post('api/invoices', [], [])`
401 error

`$this->actingAs(factory(Employee::class)->create(), 'employee')->post('api/invoices', [], [])`
401 error

`$this->actingAs(factory(Empl

[2020-06-10 13:36] xwiz commented on #1579
I encountered a scenario where I get this error on high traffic only. I don't understand how it's possible.

[2020-06-11 21:11] astrO1 opened #1995 "Putting access token to take more time, don't work"
I'm put this in my jwt.php config file

'ttl' => env('JWT_TTL', 11520),

That equivalent for 8 days and is not working, the token always expires in less time why?

I made php artisan config:cache and clear and not working,

[2020-06-11 21:11] #1995 closed, assigned to nobody

[2020-06-16 06:28] mentamarindos opened #1996 "Undefined function Tymon\JWTAuth\Providers\config_path()"
### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | maybe
| Framework         | Lumen
| PHP version       | 7.2

### Subject of the issue

On a fresh Lumen installation, Postman throws this error:

[code]

I'v try to look for that function in other files but doesn't exists outside the line 23 in the `LaravelServiceProvider.php`

[2020-06-16 06:45] mentamarindos commented on #1996
My bad, sorry ( u_u)
I had to register `$app->register(Tymon\JWTAuth\Providers\LumenServiceProvider::class); ` instead of `$app->register(Tymon\JWTAuth\Providers\LaravelServiceProvider::class);`

[2020-06-16 06:45] #1996 closed, assigned to nobody

[2020-06-16 07:45] 0xAliRaza commented on #240
Solved it by implementing @omarnas ' answer ;)

[2020-06-17 03:15] lfelisiak opened #1997 "401 not found laravel 7.15.0"
### 401 not found laravel 7.15.0
Hi, no matter what I try, the generated token when used to request an endpoint throws 401 unauthorized, I'm using apache2 with php 7.2

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              |  yes
| New Feature?      | no
| Framework         | Laravel
| Framework version | 7.15.0
| Package version   | 1.0.0
| PHP version       |

[2020-06-17 07:47] rashivkp commented on #1584
for me, after setting up the `JWT_PUBLIC_KEY`, `JWT_PRIVATE_KEY` paths correctly, it worked.
Didn't removed the middleware.

[2020-06-17 07:57] rashivkp commented on #1975
you can use access_token to refresh token even after expiry.

`The user can refresh their token within a 2 week window of
  1     | the original token being created until they must re-authenticate.
  2     | Defaults to 2 weeks.
`

[2020-06-17 14:11] ShaileshInfyom commented on #1981
https://youtu.be/VtAxYez4ZdQ here is tutorial

[2020-06-17 22:12] jhgeluk opened #1998 "Guard not working on laravel 7.1"
### Subject of the issue
I've added JWT authentication to my laravel project, and I've followed all installation steps.
However when I navigate to a route that should be "protected" I can still access it without any issues.

It should instead give me a 401, because I didn't provide the authentication header.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?

[2020-06-18 12:01] yashaswini opened #1999 "Can I provide a custom name for the key?"
### Subject of the issue
I wanted to know if we can use a custom name for the key. By default it takes it as token which is defined in KeyTrait.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | no
| Framework         | Laravel
| Framework version | 7
| Package version   | 1.0
| PHP version       | 7

### Steps to reproduce
Since

[2020-06-18 17:15] zlanich commented on #1007
I can confirm @derekmd and @alejoloe007jb's solution worked for me, even as is in the `ApiExceptionHandler` in https://github.com/specialtactics/laravel-api-boilerplate

[2020-06-18 18:35] saadjatt commented on #896
Can anyone please tell me where to change the default User table of JWT in the yii2 framework. ?

[2020-06-19 02:45] alfaben12 commented on #1931
its not work in lumen 7,  jwt just read on defaults config

[2020-06-19 14:54] maxehhh commented on #1928
Using Smooch? Having same problem trying to integrate their SDK :)

[2020-06-22 03:08] kadekjayak commented on #1487
just have this issue on prod app..
i switch to passport immediately

[2020-06-22 08:34] baselbj commented on #1498
I think it it is confusing how Laravel implements the guards. There is a Guard interface (`Illuminate\Contracts\Auth\Guard`) that you should implement in all your guards, this is what you get when you use the `Auth::viaRequest` method.

At the same time the session guard implements more methods than the once in the Guard interface and those methods are the once they are using in the documentation

[2020-06-23 11:24] svkmedia opened #2000 "Laravel - Refresh token exception"
### Subject of the issue
I have implemented JWT auth into laravel project. Everything works as expected. I just want to get rid of exception when token refresh fail. Every time it fails it throws error code 500 and put error into log:

[2020-06-23 11:00:40] local.ERROR: Token has expired {"exception":"[object] (Tymon\\JWTAuth\\Exceptions\\TokenExpiredException(code: 0): Token has expired at /home/

[2020-06-23 16:50] Arup-paul commented on #1729
`php artisan jwt:secret

work for me. Thanks
`

[2020-06-23 16:51] Arup-paul commented on #1729
Work for me. Thanks

[2020-06-24 14:32] rheedwahn commented on #2000
I think what you can do is to catch the exception in your handler.php and return whatever message you want from there

[2020-06-24 14:33] rheedwahn commented on #1998
I think the middleware auth to have been 'auth:api'

[2020-06-24 14:35] rheedwahn commented on #1997
@lfelisiak how are you passing the token to the header of your request

[2020-06-24 16:02] Raghu-Kanchiraju opened #2001 "Composer require is failing."
### Composer require is failing.
I am trying to install JWT auth library for work, but I am unable to do so because of this exception. Kindly help.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | no
| Framework         | Laravel
| Framework version | 7.0
| Package version   | 1.0.0
| PHP version       | 7.2.5

### Steps to repr

[2020-06-24 22:08] alefemacedo commented on #90
Sorry, but when I tried to update the token in my event listener class, I received the error "The token has expired".
Someone can help me ?

[code]

My code:
[code]

The response stack trace:
[code]

[2020-06-25 05:44] Raghu-Kanchiraju commented on #2001
It was failing because I had this route defined in `routes/api.php`

[code]

I don't know what is wrong with it, but composer worked after removing this block.

[2020-06-25 05:45] #2001 closed, assigned to nobody

[2020-06-28 23:01] thaifani commented on #1981
not work with laravel 7

[2020-06-29 16:19] mr-Sepi0l opened #2002 "Token has been blacklisted"
### Subject of the issue
I was able to authenticate my user with th jwt and it work fine but as soon as i use the 'jwt.refresh' middleware, my next request answer is always `Token has been blacklisted`.
I guess the old token must be invalidated as soon as my request is done but actually i can't even perform my request.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?

[2020-06-30 15:12] lfelisiak commented on #1997
@rheedwahn I think it's solved, it was a web server related issue, neither nginx nor apache were passing the auth header.

[2020-06-30 15:13] rheedwahn commented on #1997
I see.

[2020-06-30 16:40] Emanuellvr commented on #1498
What I have to do if I want to use another guard ? like guard('admin'). I've already creted this guard

[2020-07-02 10:00] asyou99 commented on #961
for 2.0.1 is same bug, only @mhlsf comment true

[2020-07-03 05:24] sarankani commented on #1615
How to authenticate 2 different databases using jwt. I can connect 2 databases but in JWTAuth::attempt($credentials) always use one db.
could you please help me? Please refer my code

`public function authenticate(Request $request, $cid)
{
$validator = Validator::make($request->all(), [
'username' => 'required',
'password' => 'required',
]);
if ($validator->fails()) {
return response()->json(['suc

[2020-07-03 09:02] vijaysharma0757 commented on #1729
`php artisan jwt:secret`

Worked for me, Thanks.

[2020-07-05 12:00] baselbj commented on #1498
check my answer

[2020-07-07 01:35] #1203 closed, assigned to nobody

[2020-07-07 11:48] mnsuccess commented on #1678
Thank you !! worked using Laravel 7

[2020-07-08 08:23] antonyleme commented on #1636
If you want to add some user information to the payload, you can simply add this in the User model:

[code]

This way you will be able to take and pass user role through the token

[2020-07-08 09:05] anrei0000 commented on #1896
I seem to have this issue as well with `laravel/framework` `v6.18.13`.

My workaround works like this:
- set `web` default guard in `config/auth.php`
[code]
- create a new middleware `UseApiGuard.php` with this `handle` method:
[code]
- attach that middleware in the `api` middleware group in `app/Http/Kernel.php`
[code]
- use the `api` middleware to protect my routes
[code]

[2020-07-08 09:21] omidrezasalari commented on #1982
@atefehkianfar1 open this link
https://www.laravelcode.com/post/method-tymonjwtauthcommandsjwtgeneratecommandhandle-does-not-exist

[2020-07-09 07:12] usupsuparma commented on #1975
I same issues with you, I need an access token with use refresh token to generate new access token

[2020-07-09 15:49] richardudovich commented on #1851
we should be able to use leeway to address time inconsistencies, however i am seeing that at the time IssuedAt is checked leeway does not appear to be in the config

[2020-07-09 15:52] richardudovich commented on #1516
I noticed that this does not seem to have any effect on `IssuedAt` claim ... can anyone suggest why?

[2020-07-09 15:57] xAqweRx commented on #1851
This is not quite good way, cause it's the same server and on the same server while sync time "moves" in "wrong" way

[2020-07-09 16:35] richardudovich commented on #1851
Ok, I understand your case, in my case there are multiple servers behind the load balancer, and it seems some are 1 or 2 seconds ahead or behind. The problem is in `IssuedAt`
It validates the value on creation, as a result of custom `validateCreate` call, this happens before the leeway is set.
So in theory it's a bug in the sense
[code]
is actually not true in the case off `iat`

[2020-07-09 16:47] richardudovich commented on #1516
Hi, apologies for having multiple discussions, but the reason for this is outlined here
https://github.com/tymondesigns/jwt-auth/issues/1851#issuecomment-656230087

[2020-07-09 20:17] xAqweRx commented on #1851
I think this is not quite wright. So probably you should to provide more
info about you situation and where exactly you thin you have a bug.
Probably create new ticket

On Thu, Jul 9, 2020, 18:35 richardudovich <notifications@github.com> wrote:

[2020-07-10 04:04] fdai3105 opened #2004 "set infinity TTL token"
### Your environment
| Q                 | A
| ----------------- | ---
| Framework         | Laravel
| Framework version | 7.0.x
| Package version   | 1.x.y
| PHP version       | 7.2.y / 7.2.y

I want to set TTL token not expire
TTL=null is not working
![image](https://user-images.githubusercontent.com/43561662/87115272-f20f5800-c29c-11ea-9493-3e2ae1dda567.png)
![image](https://user-images.githubu

[2020-07-11 08:21] MrCrap commented on #1484
work's for me.
Thanks

[2020-07-11 17:37] nanswap opened #2005 "Symfony\Component\HttpKernel\Exception\MethodNotAllowedHttpException The GET method is not supported for this route. Supported methods: POST."
### Subject of the issue
Describe your issue here.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no / yes
| New Feature?      | no / yes
| Framework         | Laravel / Lumen
| Framework version | 5.x.y
| Package version   | 1.x.y
| PHP version       | 5.x.y / 7.x.y

### Steps to reproduce
Tell us how to reproduce this issue.

### Expected behaviour

[2020-07-12 11:53] breezyx28 commented on #1336
it works for me but not just deleting jwt provider as mentioned but also u have to delete it's aliases

[2020-07-13 14:09] danialdezfouli commented on #1992
@aligajani
So that you mean storing the full token in DB is the right way?
I've `login_sessions` table which included login_in_date.
I would like to let users `Terminate all other sessions` and keep the current token available.

I'm thinking about storing `jti` field in DB and log out the current user if this row included `jti` doesn't exist.
is it the right way?

[2020-07-14 09:29] alfaben12 commented on #1972
"A token is required" Iam work with lumen 7.x

[2020-07-15 03:40] mpandar commented on #1199
I have the same problem, $exception->getPrevious() get null in laravel 7, Does anyone know how to solve this now?

[2020-07-15 03:48] mpandar commented on #1199
Does this work in laravel 7?  $exception->getPrevious() get null

[2020-07-16 02:05] mhdiiilham commented on #176
Ah, thanks for this comment, finally I know where I did wrong

[2020-07-16 08:01] seniordev-ca commented on #1965
@Poupoule, did you solve the issue ?

[2020-07-16 08:32] Poupoule commented on #1965
Yeah i did if i remember well i was missing a code line somewhere but i don't have anymore my code so i can't check in the code how did i fix it. But if you have a similar issue i can try to find out where is the problem !

[2020-07-16 08:37] seniordev-ca commented on #1965
@Poupoule, thanks for your reply.
I have exactly same issue with you.

`$user = JWTAuth::parseToken()->authenticate();`

user returns always false.

[2020-07-16 09:07] seniordev-ca opened #2006 "JWTAuth::parseToken()->authenticate() always returns false in middleware"
### Subject of the issue
I've created middleware for api auth and get token exactly from request header.
I've tested with JWTAuth::getToken()->get(); and works fine.
I want to get user from token and pass it to every request so that I can get user from controlleres via $user = request('user');
But JWTAuth::parseToken()->authenticate(); always returns false.

### Your environment
| Q

[2020-07-16 13:06] Poupoule commented on #1965
What is your $user ? Because by reading my post it seems that i tried to used authenticate on an user without password and that what why it returns false. It seems i used something else or a password to fix that. I'm not sure... But if you have your inisialisation of your var or something maybe i can figure out (sorry 4 month i've been working on that project and i don't have access to the source

[2020-07-16 18:01] ghost commented on #1965
Well, @drizzle3023 I had an equal issue. Make sure you do not override the User properties, e.g. username/password. In case you do and you set them null or anything else, the Lumen/Laravel behind the scenes magic won't work and the JWT-Factory is going to return false.

[2020-07-16 20:41] Poupoule commented on #1965
Yeah as i told you need username/password properties in your $user object, else you should use another authenticate method, i know i did something else than authenticate, if you wish i can try to find out in the documentation the way i used.

[2020-07-16 21:13] ausafmughal commented on #1843
This Solution worked for me thanks

[2020-07-17 01:03] alfaben12 commented on #1972
Sorry my bad, I forgot to send token

[2020-07-18 05:05] Abdurozzaq commented on #2004
have you tried to run the ``php artisan config:clear``

[2020-07-18 09:33] ashoo2016 commented on #2005
Not able to generate the tokens,
![screencapture-127-0-0-1-8000-api-auth-login-2020-07-18-15_01_23](https://user-images.githubusercontent.com/26582829/87849625-af3a2980-c907-11ea-9c3c-8695e6827a92.png)

[2020-07-18 09:34] ashoo2016 commented on #2005
in the postman,the generated api says 'Unauthorized'

[2020-07-19 04:02] ChrGriffin commented on #1695
I'm here from Laravel 7. Following the instructions on https://jwt-auth.readthedocs.io/en/develop/quick-start/, to the letter, on a fresh install, results in the old error:

[code]

[2020-07-19 19:46] mitchglenn commented on #1999
I haven't tested this, but here's an idea.

The key called "token" is used in the chain of Parsers. You can create your own provider to extend (override) the default parser. Within your own parser, you can use the `setKey()` method to change the name of the key from "token" to whatever you want.

Here's an example

Create your own JWTParserProvider.php file and inside of the `register()` method ex

[2020-07-21 06:23] ridzria opened #2008 "Refresh Token throwing 500 Internal Server Error"
### Refresh Token throwing 500 Internal Server Error

I have recently updated my API to handle refresh token. So coded the logic and can get the refresh token without problem on my local dev code. However when I moved the codes to the production site, the API call seems to work fine as long as my token is still valid. Upon token expiry when trying to get the refresh token, it throws 500 Internal S

[2020-07-21 07:33] mr-Sepi0l opened #2009 "Class Tymon\JWTAuth\Middleware\GetUserFromToken does not exis"
### Class Tymon\JWTAuth\Middleware\GetUserFromToken does not exists

I'm trying to run tests in laravel with JWT-AUTH. I've been able to run test for the login, logout and refresh and everything works as intended.
But as soon as I wanna use an endpoint behind `jwt-auth` middleware I got this error.
I've tried several solution I've found on stack overflow but none of them fixes the issue. As far as

[2020-07-22 04:33] senmangit opened #2010 "token判断偶尔失效"
请求时带了token,但是在实际调试过程中发现调用$user = auth('api')->user();时会有拿不到用户信息，经查该方法调用了JWTGuard里的user方法，如下：
/**
     * Get the currently authenticated user.
     *
     * @return \Illuminate\Contracts\Auth\Authenticatable|null
     */
    public function user()
    {

        if ($this->user !== null) {
            return $this->user;
        }

        if ($this->jwt->setRequest($this->request)->getToken() &&

[2020-07-22 04:33] senmangit commented on #2010
php版本7.2

[2020-07-22 20:59] seniordev-ca commented on #1965
@Poupoule, @noxsbl I posted my exact issue here, can you help me please ?

https://github.com/tymondesigns/jwt-auth/issues/2006

[2020-07-22 21:31] nmindz commented on #1551
Just one thing that was key to me, which I found referred nowhere else, is that you what you might actually want to return is a **hash check** instead of a simple boolean comparison between your plaintext string from the request form and the bcrypt hash from the database.

[code]

So that it instead compares and validates the password string from the request to the bcrypt hash.

[2020-07-23 17:28] ghost commented on #1916
Solved for me, trying for this example:

` 'api' => [
            'driver' => 'jwt',
            'provider' => 'users',
        ],`

That line is the problem for the laravel 5.8 ^.

`'hash' => false,`

[2020-07-24 11:56] avinashseth commented on #540
Hi, i would like to check certain conditions also before letting user it!

[2020-07-25 02:29] juanaguillon commented on #1484
In the guards > api, remember remove `hash` key, for me not working con that key.

[2020-07-25 11:54] maicol07 opened #2011 "Can't login via web but only via API"
### Subject of the issue
Hi,
I've configured the [`tymon/jwt-auth`](https://github.com/tymondesigns/jwt-auth) package but I can't login via web (with laravel auth) but only via API.
I've already added to my `LoginController` the guard type:
[code]

But Web Auth still doesn't work. Can you help me?
Thanks

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              |

[2020-07-25 21:21] hopeseekr commented on #1810
Oh my God!

v1.0.0 of tymon/jwt-auth was released on 4 March 2020!!

https://github.com/tymondesigns/jwt-auth/commits/1.0.0

Frickin awesome!

[2020-07-25 21:21] #1810 closed, assigned to nobody

[2020-07-26 12:52] maicol07 commented on #2011
Fixed setting web as default auth guard and changing all occurences of `auth()` to `auth("api")` in the `AuthController`

[2020-07-26 12:52] #2011 closed, assigned to nobody

[2020-07-27 14:24] mahkassem commented on #186
I have a solution that I use, it is very simple but I don't know if it is secure or not (need your opinions), I simple use the middleware inside AuthController and add 'refresh' route in exceptions.
![image](https://user-images.githubusercontent.com/12067112/88553435-91ff0c80-d025-11ea-9aef-f4cd8653f2b8.png)

[2020-07-28 00:04] Vlad412 commented on #1548
Thanks man 👌

[2020-07-28 09:32] dev-techguy commented on #1326
|-_-| Thanks

[2020-07-28 15:07] Scyllaly commented on #1880
i have same problem ... i do not know why , i have been put the header  key `Authorization` , value `bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwOlwvXC9zc3JwYW5lbC50ZXN0XC9hcGlcL2NsaWVudFwvdjFcL2xvZ2luIiwiaWF0IjoxNTk1OTQ3MzU0LCJleHAiOjE1OTU5NTA5NTQsIm5iZiI6MTU5NTk0NzM1NCwianRpIjoidE41NVpNUTZFUU9nZGVITyIsInN1YiI6NSwicHJ2IjoiMjNiZDVjODk0OWY2MDBhZGIzOWU3MDFjNDAwODcyZGI3YTU5NzZmNyJ9.fI

[2020-07-28 17:51] Scyllaly commented on #1880
@I2C-RoyYou Hi,i has been sloved this problem. You can read the wiki from https://github.com/tymondesigns/jwt-auth/wiki/Authentication

It tell us , when you login by the api middleware(jwt), and then, if you want to refresh the user's token,you need to parsed the user's token in request headers or in input request params firstly.

LOOK AT THIS:
[code]

DO NOT READ THE `https://jwt-auth.readthedoc

[2020-07-29 12:49] ahmed126742 commented on #1705
Wooow greate jobe man this one works with me

[2020-07-31 12:14] #1916 closed, assigned to nobody

[2020-08-01 09:13] michabbb commented on #1758
in case someone finds this because of the error "Target class [auth.jwt] does not exist.": don´t forget to add:

[code]

[2020-08-03 08:24] kashtech79 commented on #182
If I use "use Tymon\JWTAuth\Facades\JWTAuth; I get  "message": "Class 'Tymon\\JWTAuth\\facades\\JWTAuth' not found",
& in case of use Tymon\JWTAuth\JWTAuth; i get  Non-static method Tymon\\JWTAuth\\JWT::parseToken() should not be called statically"

[2020-08-06 05:07] nal-ws-001 opened #2013 "Authentication for multiple laravel app with single database"
### Subject of the issue
Authentication for multiple laravel app with single database

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | no
| Framework         | Laravel
| Framework version | 7.0
| Package version   | 1.0
| PHP version       | 7.2.5

### Steps to reproduce
I have one database with two laravel app.

### Expected be

[2020-08-06 07:14] ermmak commented on #1498
Could you give us more detailed explanation of your solution please?

[2020-08-06 15:34] JackDPro opened #2014 "TypeError: Argument 1 passed to Tymon\JWTAuth\Manager::__construct() must be an instance of Tymon\JWTAuth\Contracts\Providers\JWT, null given"
### Subject of the issue
I installed the jwt-auth library according to the document, and wrote the program according to quick start, which was started with a blank laravel project. But when I visit any api url, an error will be reported ‘TypeError: Argument 1 passed to Tymon\JWTAuth\Manager::__construct() must be an instance of Tymon\JWTAuth\Contracts\Providers\JWT, null given’

### Your environme

[2020-08-06 16:09] JackDPro commented on #2014
I found it was caused by the missing `'jwt' => Tymon\JWTAuth\Providers\JWT\Lcobucci::class,` in jwt.php

[2020-08-06 16:09] #2014 closed, assigned to nobody

[2020-08-08 16:18] jansgescheit commented on #872
can someone give me a hint? Where is the difference or advantages between the jwt.refresh middleware and a token TTL of infinity? I just don't understand.

[2020-08-09 11:29] #2013 closed, assigned to nobody

[2020-08-09 11:30] nal-ws-001 commented on #2013
Solved by using jwt:auth middleware

[2020-08-09 15:34] yousefAK opened #2015 "Auth driver [jwt] for guard [api] is not defined"
### Auth driver [jwt] for guard [api] is not defined.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | no
| Framework         | Lumen
| Framework version | 6.3.5
| Package version   | 1.0.0-rc.5
| PHP version       | 7.2

My Application was working without any error, i am using lumen 6.3.5 and jwt 1.0.0-rc5
when i deploy the app

[2020-08-09 16:26] JorgeSivil commented on #1990
I don't think this should be handled that way.
Personally (personally) I think it should output a key and provide translations file.

for example: error: ERR_INVALID_TOKEN
then in your Front End use the translations file for that error.

Think it this way, this is an API, meant for machine consumption, not people.

[2020-08-10 00:30] HSkogmo commented on #872
@Jannnnnn:

You cannot easily revoke an infinitely valid token without checking some kind of database on each request, ie. if the user has been deactivated. However doing so kinda defeats the purpose of a stateless token like JWT. Having a token with a shorter lifespan solves this as we can check if the user is still allowed when it comes time to dispense a new token for them. When the token is be

[2020-08-10 14:08] marcelolaias commented on #1843
Try this,
Go to file vendor/laravel/framework/src/Illuminate/Routing/CompiledRouteCollection, line 159
Change tho code:

`        $trimmedRequest->server->set(
            /** CHANGE THIS LINE */
            //'REQUEST_URI', rtrim($parts[0], '/').(isset($parts[1]) ? '?'.$parts[1] : '')

            /* FOR THIS */
            'REQUEST_URI', $parts[0].(isset($parts[1]) ? '?'.$parts[1] : '')

[2020-08-10 14:15] marcelolaias commented on #1843
Try this, go to file
vendor/laravel/framework/src/Illuminate/Routing/CompiledRouteCollection, line 159

Replace the code with the following:
`$trimmedRequest->server->set('REQUEST_URI', $parts[0].(isset($parts[1]) ? '?'.$parts[1] : ''));`

It is not a good choice to change the vendor codes, but until the correction comes out this may be an alternative.

[2020-08-10 22:25] faridanthony commented on #2008
Hi, saw this too. Looks like something to do with a redirect. Try adding "name" to your routes then clear your route cache, e.g.

routes/api.php
[code]

then run $: `php artisan route:clear`

[2020-08-11 09:29] seth-shi opened #2016 "about blacklist_grace_period will be generate new token rather than reusing the old"
### about blacklist_grace_period will be generate new token rather than reusing the old
config about blacklist_grace_period description

    | -------------------------------------------------------------------------
    | Blacklist Grace Period
    | -------------------------------------------------------------------------
    |
    | When multiple concurrent requests are made with the same JWT,

[2020-08-12 04:24] CcSimple opened #2017 "token refresh bug"
### Refresh token bug.
when use refresh function, get user Always return null。
eg:
$token = auth($guard)->refresh();
$user = auth($guard)->user();
#### Token is available after refresh，But unable to get the user。

###  When use setToken，It can get user。
eg:
$token = auth($guard)->refresh();
auth($guard)->setToken($token);
$user = auth($guard)->user();

# I think the problem can be fixed here, Beca

[2020-08-12 14:19] kaibox-git commented on #1712
The file: vendor/tymon/jwt-auth/config/config.php contains the default:
 'blacklist_grace_period' => env('JWT_BLACKLIST_GRACE_PERIOD', 0),
where '0' - number of seconds for BLACKLIST GRACE PERIOD.
If you set 'blacklist_grace_period' > 0 (for example 30 seconds, as mentioned here https://github.com/tymondesigns/jwt-auth/issues/1355 ) you have to know that when you logout and run:
$this->jwt->parseT

[2020-08-13 00:16] VijeshDatt opened #2018 "User not found"
### Subject of the issue
Attempt to get user via bearer token says user not found when not using api guard

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | no
| Framework         | Laravel
| Framework version | 7.0
| Package version   | 1.0
| PHP version       | 7.2.5

### Steps to reproduce
I don't even know at this point.

###

[2020-08-13 09:04] parallela commented on #1843
Same issue here.

Here's my stackoverflow question: **https://stackoverflow.com/questions/63389765/api-405-method-not-allowed-on-laravel-7-with-tymon-jwt-auth?noredirect=1#comment112089868_63389765**

[2020-08-14 00:36] jamesbcn opened #2019 "Laravel 7 - Sessions do not expire"
### Subject of the issue
My expired tokens do not result in an error. You can only log out manually.

The config\jwt.php file is fine: `blacklist_enabled` is set to true, I have reduced the `ttl `to 1 and the `refresh_ttl` to 2. These new reduced values are reflected in the token and yet still I remained logged in.

The code was copied and pasted from your quick start guide.

### Your environment

[2020-08-14 07:42] damilarekoiki commented on #1395
@tijanmdr and @omitobi  How did you later solve it, you change your guard to api and then used this Auth::guard('api')->attempt($credentials) for the api login right? Does that mean you created two routes for login, one for the site and one for as an api endpoint.
I also have the same issue.

[2020-08-14 07:45] omitobi commented on #1395
@koiki13 that would be the ideal thing. To separate Web login from Api login

[2020-08-14 07:49] damilarekoiki commented on #1395
@omitobi Now one last thing, what would  guard be set to, api or web. That is another decision I'm not sure of.

[2020-08-14 07:56] omitobi commented on #1395
As I can tell,

api -> jwt
web -> session

@koiki13 If you have more routes that should be web, then you can set api guard when you need to do with any API endpoint.
But if you have more routes on each side, then using a middleware would be the best option.

You can just create `api` middleware, declare all `api` routes in a group attached with that middleware. In the middleware it should be possi

[2020-08-14 08:09] damilarekoiki commented on #1395
Thanks for your help but, I don't quite understand the last part. "Setting request guard in middleware". Will appreciate if you can explain here or give a link where I can read that up.

[2020-08-14 23:44] omitobi commented on #1395
@koiki13 Sure. https://laravel.com/docs/7.x/middleware#middleware-groups

Create a middleware group using that link. The idea is to attach a middleware to the group. [Create a middleware](https://laravel.com/docs/7.x/middleware#defining-middleware) and set the default guard there.

I think you could use this in the middleware`$this->auth->shouldUse('api');` Just check Laravel doc for more info.

[2020-08-15 05:42] damilarekoiki commented on #1395
@omitobi Thanks, this is nice. Appreciate it 👍

[2020-08-16 13:01] j5k commented on #2019
Same issue here with Laravel version 7.25. When I set up some month ago it works and all I've done since then were some composer package updates.

I think this is a major security problem of this package. I appreciate a fast fix.

[2020-08-16 20:18] BenceSzalai commented on #1585
If the JWT token is not stored in a cookie (which it should not be!) CSRF is overkill and not necessary. Once the JWT token is only available using JavaScript (stored in `localStorage` or `sessionStorage`) one cannot do Cross-site request forgery (i.e. forge an URL or FORM that can provide a valid authentication towards the API) **unless** they can run JS on your FrontEnd i.e. if you have an XSS v

[2020-08-17 05:41] VijeshDatt commented on #1626
How can i do that on a controller that already extends controller?

[2020-08-18 03:49] JorgeSivil commented on #2019
I don't think this package is maintained

[2020-08-18 04:03] jasonz1987 opened #2020 "get user model from middleware in controller"
api.php

[code]

controller

`$user = auth('api')->user()`

in telescope , we can see there are two same queries

![image](https://user-images.githubusercontent.com/7090036/90469142-9f05ac00-e14a-11ea-8e72-339e158fe710.png)

why?

is there a way to get user from middleware directly and not get it from db?

[2020-08-19 08:05] fabianmieller commented on #1983
i have the same problem

[2020-08-19 17:38] bert-w commented on #2020
Im not exactly sure what you mean, but this package lacks the JWT implementation you think you're getting:

even though you get a fully fletched JWT, it only contains an ID that is referenced to your user object (like `{"sub": 1}`). This means that the user object is retrieved from the database each time you need it. There is no signed user object in the JWT, only a signed user-id.

[2020-08-19 18:03] bert-w commented on #2017
I've noticed the same thing. Thanks for the fix as well.

[2020-08-19 21:40] nicolas-costa commented on #2015
Same issue here.

[2020-08-25 18:35] koteezy opened #2021 "Memory leak when use with Roadrunner?"
### Subject of the issue
I have already created an [Issue](https://github.com/spiral/roadrunner-laravel/issues/15) in a repository owned by RoadRunner, but I would also like to ask here if someone used JWT+Roadrunner, how can I avoid memory leaks.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | yes
| New Feature?      | no
| Framework         | Laravel

[2020-08-26 09:47] priya-concetto commented on #1729
it works for me

[2020-08-26 10:01] koteezy commented on #2021
@tarampampam Can be fixed by writing own service provider.

<details>
  <summary>CustomJwtServiceProvider</summary>

[code]

</details>

[2020-08-26 10:01] #2021 closed, assigned to nobody

[2020-08-27 12:29] Stuffa1991 commented on #1999
You can look at this pull request https://github.com/tymondesigns/jwt-auth/pull/1933

[2020-08-27 14:38] zubairIftikharKwe opened #2022 "user login TokenExpiredException exception"
On same EC2  instance we have deployed same project for 3 domains

- staging.domain.com
- api.domain.com
- acceptance.domain.com

all project working fine last day . but now api & acceptance  throwm TokenExpiredException  But staging working fine..
**Remember**:code is same
exception  on these lines
[code]
in env
`JWT_TTL=‭86400‬ `

**Note:** i've tried on new instance  with single project deploym

[2020-08-28 17:57] guice opened #2023 "Send token payload to model?"
### Subject of the issue

How do I send the token payload to the model? I'm building a localized user, using an aws cognito token. They are not within any database tables; user data is passed within the payload.

I've been doing all sorts of debug tracing, and I cannot find at point where you send the token payload. It doesn't look it's at all possible based on this generator:

[code]

### Your en

[2020-08-29 10:23] lokey1410 commented on #1498
Do Like this i Mentioned ..........

[2020-08-29 10:32] lokey1410 commented on #1498
Do Like This..............
Setp 1 : First Create Table .
Step 2 : Create Model.
Step 3 : Create Guard in Auth.php

### in Auth

    'guards' => [

        'delivery' => [
            'driver' => 'session',
            'provider' => 'delivery_boy',
        ],
    ],

###  mention "provider " same like db  table name  "delivery_boy"
    'providers' => [
        'delivery_boy'=> [
        'driver' =>

[2020-08-29 14:58] Dissociable commented on #2002
The same here in my project.
It happens sometimes. not always or even usually.

My project makes a jwt refresh request while loading and before making any other requests.
That sometimes gives Token is blacklisted message and usually works fine! TTL is set to 1Day and it happens several times in a day.
using https://github.com/websanova/vue-auth for my Laravel/Vue project.

[2020-08-29 18:47] devnaelson opened #2024 "Error: Call to undefined method Illuminate\Auth\TokenGuard::attempt()"
Version 7x laravel
Wha'ts it issue?

[code]

![Screenshot from 2020-08-29 14-46-47](https://user-images.githubusercontent.com/35904665/91644049-80cf6400-ea06-11ea-808d-e540810cbe96.png)

[2020-08-30 15:40] webleste commented on #1984
Hello, I had the same problem, but in the logout method.
In the Blacklist.php file in the getMinutesUntilExpired method, I switched from diffInRealMinute() to diffInMinutes(), and it's working now, see if this solution works for you.

[2020-08-30 23:48] bydavid1 commented on #1729
Estaba probando en heroku y me funcionó:

Obtener el secret key

`heroku run bash`
`php artisan jwt:secret`
`php artisan config:clear`
`php artisan config:cache`

Luego agregarla como variable (fuera de heroku bash)

`heroku config:add JWT_SECRET={your jwt secret key}`

[2020-08-31 12:44] devnaelson commented on #2024
I did solve it, i did make a erro in defined the guard like 'api'.
Solution re-define to default.

[code]
[+] Fix.
[code]

[2020-08-31 12:45] #2024 closed, assigned to nobody

[2020-09-01 00:36] devnaelson opened #2025 "JWT payload does not contain the required claims"
### Subject of the issue
I would like generate token

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | yes
| Framework         | Laravel
| PHP version       | 7.x

### Steps to reproduce

 "name" => "Naelson"
  "email" => "Naelson.g@gmail.com"
  "password" => "12345

$credentials = $this->resq->only(self::$data);
JWTAuth::attempt

[2020-09-01 00:48] devnaelson commented on #2025
Solve, reference [Link tymon JWT](https://github.com/tymondesigns/jwt-auth/issues/1492)

[2020-09-01 00:49] #2025 closed, assigned to nobody

[2020-09-03 18:42] gzai opened #2028 "Support JWK"
is there any support for JWK?

[2020-09-04 18:10] devnaelson opened #2029 "Error to installl in laravel 8"
### Subject of the issue
Anyone have to solution for this?

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              |  yes
| Framework         | Laravel
| Framework version | 8x
| PHP version       | 7.4

Using version ^1.0 for tymon/jwt-auth
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including r

[2020-09-04 21:39] mfn commented on #2029
https://github.com/tymondesigns/jwt-auth/pull/2026

[2020-09-05 12:34] devnaelson commented on #2029
I don't know how deploy it, i did trying several time, but was without success. I would like use it in laravel 8

[2020-09-05 16:51] nal-ws-001 opened #2030 "Use JWT from two domain"
I got Untrusted Host exception when generate token and auth middlewere.
I want to use one database from two applications.

PHP - 7.2.5
Laravel - 7.0

[2020-09-05 17:32] nal-ws-001 opened #2031 "Untrusted Host error when generate token"
I got Untrusted Host error when generate token. I need to use jwt for multiple auth.
PHP - 7.2.5
Laravel - 7.0

[2020-09-05 17:50] devnaelson commented on #2031
you do need descibre your applications versions, example PHPX, LARAVEL 7 or 8

[2020-09-06 13:54] devnaelson commented on #2031
Create a folder into of app folder, with name called jwt and insert it

`<?php

namespace App\jwt;

use \Tymon\JWTAuth\Facades\JWTFactory;
use \Tymon\JWTAuth\Facades\JWTAuth;

/**
 * @param author:Naelson
 * @param data:2020/09/31
 * @return credentials echo JWTProvider::key($token)->decode();
 * @return token echo JWTProvider::credentials(array("key"=>"x"))->encode();
 */

class JWTProvider
{

[2020-09-06 16:22] nal-ws-001 commented on #2031
I still got error.
It's ok in my local. I face with that issues in production.
I generated token from Domain One. I sent that token to Domain2 and check the token using the same database and same jwt secrete key.
I use that middleware in Domain Two. ('middleware' => 'jwt.auth')

Error Logs
[2020-09-06 16:16:57] production.DEBUG: Untrusted Host "domain-name".
[2020-09-06 16:16:57] production.DEBUG:

[2020-09-07 05:52] nal-ws-001 commented on #2031
I got it. I changed APP_URL in env.

[2020-09-07 05:52] #2031 closed, assigned to nobody

[2020-09-07 05:52] nal-ws-001 commented on #2030
I got it. I changed APP_URL in env.

[2020-09-07 05:52] #2030 closed, assigned to nobody

[2020-09-07 10:22] Crysalist opened #2032 "Using the middlewear does not work out fo the box"
### Using the middlewear does not work out fo the box
When I installed the latest version the middlewear does not work out of the box with the header refresh tokens. The middle is setup as
`Route::group(['middleware' => ['jwt.auth','jwt.refresh']], function () {`
The only way I could get it to work was to remove the 'Bearer ' prefix in https://github.com/tymondesigns/jwt-auth/blob/develop/src/Http

[2020-09-07 20:17] Sadeesha-Dias commented on #1843
@pereiracinthiag in your routes/api.php you've set up all the routes as POST routes... which is why it is not allowing GET. If you want to use GET for me, you'd have to change it to this:

Route::group([

    'middleware' => 'api',
    'prefix' => 'auth'

], function ($router) {

    Route::post('login', 'Api\AuthController@login')->name('login');
    Route::post('logout', 'Api\AuthController@logo

[2020-09-08 12:52] victorhugorch commented on #1687
Same problem as @mandala21

[2020-09-09 00:23] olliechick commented on #281
When you enter a secret key into the form, it will change your JWT to match that key. You should re-paste the JWT to make sure the signature is valid.

[2020-09-10 07:44] BehroozBvk commented on #1736
I have this problem too

[2020-09-11 00:29] fancytboy commented on #1487
Had the same issue with mine too. Apparently looking at the payload using JWTAuth::payload(), the "sub" claim was null. The sub claim is the value which contains the user id that matches the user primary key in the database. Since it was null, Laravel picked the first value that existed in the Database. First you need to fix this by adding

`public function getKey(){
        return $this->ID;

[2020-09-11 06:57] alecpl opened #2033 "Token issues under laravel-swoole"
### Subject of the issue
Token is not valid anymore after app restart if the app is running under swoole.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no / yes
| New Feature?      | no / yes
| Framework         | Laravel
| Framework version | 6.18.40
| Package version   | 1.0.1
| PHP version       | 7.4.9

### Steps to reproduce
1. Create an app wit

[2020-09-11 10:01] alecpl commented on #2033
Fixed by setting these in `config/swoole_http.php`:
[code]

[2020-09-11 10:01] #2033 closed, assigned to nobody

[2020-09-11 17:46] jd-patel commented on #1851
syntax error, unexpected '?', expecting function (T_FUNCTION) or const (T_CONST)

/vendor/tymon/jwt-auth/src/Claims/Claim.php26

php -v : PHP 7.4.10

Please give me solution for this.

[2020-09-12 08:52] asmabnouir commented on #1983
same issue here, did you find the solution please ?

[2020-09-12 18:31] dzung1nguyen commented on #2015
Laravel 8.0
PHP 7.4
tymon/jwt-auth: ^1.0

In laravel 8.0, same issue if i set default to "api", but if i use Auth::guard('api'), the error will be "Method Illuminate\\Auth\\SessionGuard::factory does not exist."

[2020-09-13 11:34] MdEahiaMondal commented on #1916
## Method Illuminate\\Auth\\SessionGuard::factory does not exist.

If you confirm there are no wrong on your project to implement jwt that time you  can do it...

php artisan config:cache
php artisan cache:clear
php artisan route:clear

.. it's work for me...

[2020-09-14 03:22] sotoh commented on #2017
Nice trick @CcSimple , I realized today about that, I follow this [guide](https://www.positronx.io/laravel-jwt-authentication-tutorial-user-login-signup-api/) and my tokens worked with the following:
[code]
So for refresh I use this
[code]

[2020-09-14 20:42] Dylvn commented on #1367
Hi

[code]

It worked for me

[2020-09-16 05:26] code-quantum commented on #1789
I see another solution of this problem. JWT does not need intermediate requests.  You can store the information you need in payload part of jwt token. I suppose it would be nice to give an example of using the jwt library for go in conjunction with laravel.

see for understanding https://en.wikipedia.org/wiki/JSON_Web_Token

[2020-09-16 08:58] Beekiper commented on #1974
Would like to know how to handle this in latest version.

1. How to authenticate via username?
2. How to authenticate via username or email at the same time?

[2020-09-16 12:36] MelMacaluso commented on #281
@olliechick thanks, was having an existential crisis

[2020-09-16 16:36] solidevolution commented on #1550
Dead

[2020-09-16 16:36] #1550 closed, assigned to nobody

[2020-09-17 07:10] ghulamikhsan opened #2034 "Cannot instantiate interface Lcobucci\JWT\Builder"
### Subject of the issue
how i fix this error?

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | no
| Framework         | Laravel
| Framework version | 7
| Package version   | -
| PHP version       | / 7.x.y

### Steps to reproduce
Tell us how to reproduce this issue.

### Expected behaviour
Tell us what should happen

### Actual

[2020-09-17 07:18] ghulamikhsan commented on #1460
same issue for me. anyone can help me?

[2020-09-18 11:32] Dexalt142 commented on #1769
This solution actually works. Thank you.

[2020-09-19 07:57] mobi35 opened #2035 "Laravel 8 - Call to undefined method Illuminate\\Auth\\TokenGuard::attempt()"
AuthController.php

[code]

[code]

api.php

`Route::post('/login','App\Http\Controllers\AuthController@login');`

error message

` "message": "Call to undefined method Illuminate\\Auth\\TokenGuard::attempt()", "exception": "Error", "file":`

I already managed to register but I can't login.

[2020-09-19 08:14] mobi35 commented on #2035
@tymondesigns sir

[2020-09-19 08:51] AurimasAng commented on #1360
any updates?

[2020-09-20 12:16] DevDast commented on #1729
Just
[code]
Worked for me, Big Thanks.

[2020-09-20 15:13] mrozbarry opened #2036 "Response status 401, even when passing correct token"
### Subject of the issue

I am unable to authenticate on a route that requires jwt authentication.
In both tests and manual testing with postman, I get 401 errors.
I'm guessing the setup documentation is outdated or expects special knowledge of laravel or this package.
I referenced #1912 for my tests, but I don't seem to get any better results than plainly using `actingAs`.
I also read through htt

[2020-09-21 17:37] JonayMedina commented on #2035
Hi, i folow this tutorial, all ready
[https://shabang.dev/laravel-8-rest-api-authentication-with-jwt-tutorial-by-example/](url)

reemplace this line: `$token = auth()->attempt($credentials)`
for `$token =  JWTAuth::attempt($credentials)`.
on controller top add uses: `use JWTAuth;`
`use Tymon\JWTAuth\Exceptions\JWTException;`

[2020-09-21 18:42] JonayMedina commented on #2035
apply
`Route::get('/ccache', function() {
    $exitCode = Artisan::call('config:clear');
    $exitCode = Artisan::call('cache:clear');
    $exitCode = Artisan::call('config:cache');
    return 'DONE'; //Return anything
});`
this save my life

[2020-09-22 05:42] zishang520 commented on #2036
+1

Unable to load data

My problem is solved

`$payload = Auth::manager()->getJWTProvider()->decode(Auth::getToken()->get())`

[2020-09-22 10:38] ssi-anik commented on #1863
Since this morning I had been debugging my code. Unfortunately, I had set `JWT_TTL`  to 2 months, and the `JWT_REFRESH_TTL` is set to 14 days. Before reading @clugg 's comment, I went through the codebase. And I strongly disagree with his comment.

Because, when the token is decoded from the request and goes through the Payload validation
https://github.com/tymondesigns/jwt-auth/blob/3af7ac13bf071

[2020-09-22 14:36] kunal4sd commented on #1830
@ajcastro is right with his solution, because auth()->invalidate($token) for few doesn't work.

[2020-09-22 14:37] kunal4sd commented on #1830
Thanks, it worked for me as compare to auth()->invalidate($token)

[2020-09-22 19:21] senter-logistics commented on #1625
+1 i think i found a good reason to use passport

[2020-09-23 03:15] zishang520 commented on #1687
[code]

[2020-09-23 05:54] ssi-anik commented on #1826
As you're calling the `auth('api')` method, the existing payload gets validated before reaching the next statement. To let the user refresh their tokens, you must define `JWT_REFRESH_TTL` value higher than the `JWT_TTL`. Otherwise, it won't work.

When refreshing the token, the following code gets executed, and the refresh ttl is set by the abstract service provider.
The processing order is below

[2020-09-23 18:42] DePalmo commented on #872
But if user can refresh expired token until refresh_ttl, doesn't this defeat the point of security? I do not see the difference between token_ttl and refresh_ttl from security point if someone steals the token, if they can use expired token (based on token_ttl) to get a new token until refresh_ttl expires.

Or am I missing something?

[2020-09-23 23:02] breezyx28 commented on #182
`use Tymon\JWTAuth\Facades\JWTAuth as JWTAuth;`

try

`JWTAuth::attempt($credentials)` or any function comes with JWTAuth

this will remove the error

[2020-09-30 17:39] Zile1 opened #2039 "Laravel 7.18.0 - Token Signature could not be verified."
### Subject of the issue
Cannot verify signiture from JWT created from another web application.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | yes
| New Feature?      | no
| Framework         | Laravel
| Framework version | 7.18.0
| Package version   | 1.0.0
| PHP version       | 7.4.8
| Docker environment | Laradock
| OS | Linux Ubuntu 16.04 LTS

###

[2020-10-01 14:50] SuperlativeEntity commented on #2035
What is the actual answer to this?

return $this->respondWithToken($token);

still returns an error:

Error: Call to undefined method Illuminate\Auth\TokenGuard::factory()

[2020-10-01 14:58] SuperlativeEntity commented on #2035
https://jwt-auth.readthedocs.io/en/develop/quick-start/

config/auth.php

Make the following changes to the file:

[code]

[2020-10-01 16:01] cooperate opened #2041 "Tymon\JWTAuth\Middleware\RefreshToken does not exist in Command line"
### Subject of the issue
Every time I open my IDE I receive this error:

Message
Uncaught ReflectionException: Class Tymon\JWTAuth\Middleware\RefreshToken does not exist in Command line code:1
Stack trace:
#0 Command line code(1): ReflectionMethod->__construct()
#1 {main}
 thrown
Level
ERROR
Exception
{
    "class": "Symfony\\Component\\ErrorHandler\\Error\\FatalError",
    "message": "Uncaught Re

[2020-10-02 17:09] #2041 closed, assigned to nobody

[2020-10-05 15:56] DerkJanSpeelman commented on #1347
@iAnthonyCoder :

`POSTDATA` did it for me

[2020-10-07 05:19] Hothi-Jimit opened #2042 "Lumen 7.0 token always return false"
### Subject of the issue
Lumen ^7.0 token always return false

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | no
| Framework         |  Lumen
| Framework version | 7.x
| Package version   | ^1.0
| PHP version       |  7.x.y

In my project **"laravel/lumen-framework": "^7.0"** and **"tymon/jwt-auth": "^1.0"**.
When I creating to

[2020-10-09 05:26] ndhalvad opened #2043 "JWTAuth: Manual test on wrong structure"
### Subject of the issue
Testing Case:
Use inserted wrong structured token test(Created using correct secret)
Actual Structure of token is: 'eyJ0eXAiOiJKV1Qi...'
Testing with wrong structure: 'yJ0eXAiOiJKV1Qi...'

Testing Code[Middleware]: if (!JWTAuth::decode($token)) {}

Getting Error: `Tymon\JWTAuth\Exceptions\TokenInvalidException: Could not decode token: Error while decoding to JSON: Syntax e

[2020-10-10 18:37] sn0rk64 commented on #1734
You can solve the problem using this:
`sed -i '/^JWT_SECRET=/d' .env.testing; echo "JWT_SECRET=$(php artisan jwt:secret --show)" >> .env.testing`

[2020-10-11 14:44] dhcmega commented on #1957
@MonicaAnt memcached is a temporal cache, not persisted. You cannot rely on it, you need to be sure that any invalidated token is remembered as invalid.

[2020-10-13 19:59] kezern opened #2044 "Issue when primary key is not int in sql server"
### Subject of the issue
I'm facing an issue because my primary key is not an integer value. In SQL Server database.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | no
| Framework         | Lumen
| Framework version | 8
| Package version   | 1.0
| PHP version       | 7.4

### Steps to reproduce
Set a primary key to a non intege

[2020-10-14 05:49] juankprz opened #2045 "Important Questions"
can jwt-auth coexist with other packages such as laravel passport and jetstream?

| Framework         | Laravel

[2020-10-15 10:44] iamyasiramjad commented on #1729
Run - php artisan jwt:secret - that's initially not work for me. then after i use this - php artisan config:cache - now its working.

[2020-10-16 06:21] exhum4n opened #2046 "Invalidate token not working"
### Subject of the issue
Invalidate token not working.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | yes
| New Feature?      | no
| Framework         | Laravel
| Framework version | 7.0
| Package version   | 1.0.1
| PHP version       | 7.2.5

### Steps to reproduce
After authorization i receive the token. I use it to authenticate and they work well.

[2020-10-16 06:48] bbprojectnet opened #2047 "JWT_MAX_REFRESH_PERIOD not null bug when login"
### Subject of the issue
When `JWT_MAX_REFRESH_PERIOD` is set (not null), then any login attempt throw `Token has expired` exception.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | yes
| New Feature?      | no
| Framework         | Laravel
| Framework version | 7.28.4
| Package version   | 2.0
| PHP version       | 7.4

### Steps to reproduce
Set `JWT

[2020-10-16 11:17] poria92 commented on #1843
Route::get('/logout', 'Auth\LoginController@logout');

[2020-10-18 15:20] miguel456 commented on #1843
That won't work very well for Laravel 8, see [Basic Routing](https://laravel.com/docs/8.x/routing#basic-routing)

[2020-10-18 15:30] miguel456 commented on #2045
I don't see why it wouldn't "coexist" with other packages.

Jetstream already has authentication implemented so you'd have to make changes if you really wanted to use JWT, and Laravel Passport uses Oauth which is an entirely different concept than JWT. You could definitely use them together.

Packages don't really conflict with each other until you start using them in the code. This package might

[2020-10-18 17:51] juankprz commented on #2045
Thanks

[2020-10-21 19:39] robertosviluppo opened #2048 "tokenById return a payload with sub of caller auth user instead of new user"
I want authenticate / get a new token for another user when I'm authenticated as admin (for example).
So, imagine a frontend where you click on an user and get the token for that user (if you are an admin).

So, this is my method:

[code]

You can see my attempts with `$token = auth()->tokenById($user_id)` and `$token = auth()->login($new_user);`.

In both cases, authenticated admin user has id ==

[2020-10-22 06:33] robertosviluppo commented on #2048
Edit:
The issue coming from some session. Because when I pre-authorize other user (admin), sub for new token has ID of first user, not the newly.
Without the previous auth, I have not this issue.
So, I need to eliminate all session... Or force Tymon/JWT to forget the current user (but with "logout" I get the blacklisted token exception)...

[2020-10-23 06:42] zulqarnain-99 opened #2049 "JWT doesn't does not install in Laravel 6.19 version"
I my laravel 6.16 project i want to install JWT but it gives the following error when i run the following commands
composer require tymon/jwt-auth
or
composer require tymon/jwt-auth:dev-develop

Warning from https://repo.packagist.org: You are using an outdated version of Composer. Composer 2.0 is about to be released and the older 1.x releases will self-update directly to it once it is released.

[2020-10-24 13:20] chanakaDe opened #2050 "Lumen installation is not complete"
I noticed that in the documentation (https://jwt-auth.readthedocs.io/en/develop/lumen-installation/), you have mentioned `Lumen installation is not complete`. I'm trying to use this with my Lumen (version 8) and just worried about this. Can you please explain this `not complete` statement.

Thank you in advance.

[2020-10-28 19:15] PadawanTony commented on #839
I have the same issue.
My api driver is set to `jwt` and my default guard is set to `web`.
I don't want to change my default guard.
Has anyone found a solution on this?

[2020-10-29 21:56] tm1000 commented on #2049
The answer is here: `Check https://getcomposer.org/doc/articles/troubleshooting.md#memory-limit-errors for more info on how to handle out of memory errors.`

This has nothing to do with this project. (This is also solved in composer 2.0)

[2020-10-30 13:50] tomcoonen commented on #2050
I guess he means the docs are incomplete..

[2020-10-31 00:02] afifalfiano commented on #1678
Thank you, it worked on laravel 7

[2020-10-31 01:14] afifalfiano commented on #1094
this is helpful to me. Thanks

[2020-10-31 04:05] #2045 closed, assigned to nobody

[2020-10-31 06:10] segunmicheal27 commented on #1573
Please can any one help with the method to force blacklist expired toke
for my own logic force reset the expired token and it need to be after the user has expired the token i need to force the token to blacklist

here is my code below:

`
        try {
            // the code is okay here
            $payload = $this->guard()->getPayload();
            $res = $userAuth->getAdminUserLoginDetails($

[2020-10-31 06:11] segunmicheal27 commented on #1573
Please can any one help with the method to force blacklist expired toke
for my own logic force reset the expired token and it need to be after the user has expired the token i need to force the token to blacklist

here is my code below:

``
[code]
try {
            // the code is okay here
            $payload = $this->guard()->getPayload();
            $res = $userAuth->getAdminUserLoginDetails($

[2020-10-31 06:13] segunmicheal27 commented on #1352
Please can any one help with the method to force blacklist expired toke
for my own logic force reset the expired token and it need to be after the user has expired the token i need to force the token to blacklist

here is my code below:

[2020-10-31 06:13] segunmicheal27 commented on #1352
`        try {
            // the code is okay here
            $payload = $this->guard()->getPayload();
            $res = $userAuth->getAdminUserLoginDetails($payload['email']);
            $token =  $this->guard()->claims(["email"=> $res->email, 'api_token'=> $res->api_token ])->login($userAuth);
            JWTAuth::invalidate(JWTAuth::getToken());
            return response()->json([$token])

[2020-10-31 06:15] segunmicheal27 commented on #1355
Please can any one help with the method to force blacklist expired toke
for my own logic force reset the expired token and it need to be after the user has expired the token i need to force the token to blacklist

here is my code below:

`
[code]

`

[2020-10-31 19:02] #2049 closed, assigned to nobody

[2020-11-02 17:14] Messhias commented on #1565
This is also isn't working with the new Laravel versions.

[2020-11-02 18:05] Bobach22 commented on #872
What happens if the refresh_ttl expires while user logged in  before or after he  makes the last  JWTAuth::refresh(expired_access_token)?

[2020-11-03 05:27] AAmeriyan commented on #2015
Same here!!!!!!Any answer???

[2020-11-03 08:30] darren19824 opened #2053 "How to prevent log out users when changing JWT secret?"
### Subject of the issue
I need to update the secret key and is there a way to update it without logging out every user? I presume it's not possible to reuse the old token once my secret key is changed. So all my users will be logged off and need to log in again. Is there any way to go around this?

If not, if for security reason, I need to update the secret monthly, that will be pretty troublesom

[2020-11-03 10:51] hembachrterran commented on #2015
Same problem here while installing Laravel Masterpass plugin.

[2020-11-04 05:49] shahid-hussain009 commented on #1573
sorry bro due to some important work i could not solve this if i get time i
will do

On Sat, Oct 31, 2020 at 11:12 AM Michael Codexz <notifications@github.com>
wrote:

[2020-11-04 05:52] #1573 closed, assigned to nobody

[2020-11-04 13:03] bbprojectnet commented on #2053
Hi, why You want to update secret?

[2020-11-04 16:42] mohamadrezapishdad commented on #2015
same here

[2020-11-05 00:52] segunmicheal27 commented on #1573
@dishcheng the issue still never solve because the above proposed solution still raised exception of two dot string and ability of improper of generating correct token please let give room for update
thank you

[2020-11-06 02:57] pgyf commented on #886
[code]
I triggered it manually. I can't get the current guard. I can only write it dead

[2020-11-07 02:23] Sunnepah commented on #1729
This works for me
[code]

[2020-11-07 15:56] #2039 closed, assigned to nobody

[2020-11-07 15:57] Zile1 commented on #2039
Cannot reproduce anymore, looks like some problem with JWT secret that I got
Works with other system

[2020-11-09 12:05] SherinBloemendaal commented on #2053
This is expected behaviour, its the concept of JWT. Thanks to the signature (secret) you can validate if the token is valid. Changing your signature will also invalidate all previously signed jwt tokens because the signatures does not match.

You can compare it with a door, it has the same principle. As soon as you change your lock, the key no longer works. So changing your signature wil invalidat

[2020-11-09 20:33] MichalFurman commented on #1246
@agm1984
It works perfectly, thx. :+1:

I'm only change `"User::generate"` to standard Eloquent:
[code]

[2020-11-11 21:51] yasming commented on #2009
Hello ! Maybe you already founded the solution but if not try this:
![Screen Shot 2020-11-11 at 6 49 45 PM](https://user-images.githubusercontent.com/12103035/98868349-b6ed8300-244e-11eb-8345-26c6a347893e.png)

the path for the classes changed, worked for me use the news paths on $routeMiddleware:

'jwt.auth' =>  \Tymon\JWTAuth\Http\Middleware\Authenticate::class,
'jwt.refresh' => \Tymon\JWTAuth\H

[2020-11-12 09:34] mohamadrezapishdad commented on #2015
no solutions yet ?

[2020-11-12 12:04] aadhar41 commented on #1256
Thanks man it works

[2020-11-13 09:53] #825 closed

[2020-11-13 10:59] tymondesigns commented on #1769
The issue here is that you are using the package Authenticate middleware, alongside using laravel guards. The Authenticate middleware that comes with this package was created before laravel had any concept of auth guards, and was kept for backwards compatibility with the `JWTAuth` facade.

If you are utilising laravel guards, you should use the laravel built in middleware which accepts a guard par

[2020-11-13 10:59] #1769 closed, assigned to nobody

[2020-11-13 10:59] #965 closed

[2020-11-13 11:00] #973 closed

[2020-11-13 11:04] #962 closed

[2020-11-13 11:04] #981 closed

[2020-11-13 11:04] #955 closed

[2020-11-13 11:09] #988 closed

[2020-11-13 11:11] #977 closed

[2020-11-13 11:11] #994 closed

[2020-11-13 11:43] pulkitjalan commented on #1665
Not enough steps to reproduce, feel free to reopen if its still an issue.

[2020-11-13 11:43] #1665 closed, assigned to nobody

[2020-11-15 16:28] jtthomas10 opened #2054 "Cannot use my own model class as provider - ID field locked"
### Subject of the issue
Trying to upgrade to jwt-auth 1.0.  In .5 I used a model class called Pilot as the provider and it let me set the primary key identifier to pull the pilot's id.

My auth.php's config
[code]

When I attempt to do the same in v1, I get the following error:
```SQLSTATE[42S22]: Column not found: 1054 Unknown column 'id' in 'where clause' (SQL: select * from `pilots` where `id`

[2020-11-16 17:01] ghost commented on #917
Hi @3lpsy @johnrobertsonsquid I'm looking into this too - did you get anywhere?

[2020-11-17 10:22] ampedweb opened #2055 "Possible Issue with Laravel "Quick start" documentation"
### Subject of the issue

I've been having problems with getting a token to reliably refresh in my Nuxt PWA application I'm writing.

I believe it's _possibly_ down to the documentation here:

https://jwt-auth.readthedocs.io/en/develop/quick-start/#add-some-basic-authentication-routes

[code]

I believe the above should be something more like:
[code]

Note the added middleware exclusions, mainly o

[2020-11-17 11:07] abhishekdeshkar opened #2056 "Refresh token is not working."
I'm not able to refresh the valid token.

When I try to refresh the token it says,

```401 Unauthenticated```

How do I fix the issue ?

Thanks!

[2020-11-17 12:14] abhishekdeshkar commented on #2055
I'm also facing the same problem. Don't know what could be the possible issue.

[2020-11-17 12:17] abhishekdeshkar commented on #2055
Also they haven't updated the document since long time.

[2020-11-18 05:27] maulayyacyber commented on #1965
sam problem

[2020-11-19 08:05] jamesriady commented on #1928
Found the solution?

[2020-11-19 08:43] dnitavm commented on #1928
in my case -  custom code for generating jwt

[2020-11-19 09:00] jamesriady commented on #1928
Can you please share your answer here if you have already found out the answer?

[2020-11-19 14:06] totymedli commented on #2015
For me this happened after I upgraded to Laravel 7. According to the upgrade guide `App\Exceptions\Handler` now uses `Throwable` instead of `Exception`. If you have traits used in this handler, update those too.

[2020-11-19 14:08] totymedli commented on #1896
For me this happened after I upgraded to Laravel 7. According to the upgrade guide `App\Exceptions\Handler` now uses `Throwable` instead of `Exception`. If you have traits used in this handler, update those too.

[2020-11-20 19:34] miladzarei92 commented on #1843
Route::get('/logout',[LoginController::class, 'logout']  );

[2020-11-21 07:00] Nilanth opened #2057 "How to generate a token with custom SECRET"
I want to generate a JWT token with a custom secret, Here I generate the token to pass to a third party service for single sign-on, they will decode the token based on the secret as the secret is given  by that service.

Could anyone help with this?

[2020-11-22 12:40] rummanrc opened #2058 "Mixed multi-auth with JWT - automatically logging in both LDAP and Eloquent based models with same token"
### Subject of the issue
Mixed (LDAP and Eloquent) multi-auth with JWT - automatically logging in both LDAP and Eloquent based models with same token

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | probably
| New Feature?      | no
| Framework         | Laravel
| Framework version | 8.15.0
| Package version   | 1.0.1
| PHP version       | 7.4.11

### S

[2020-11-23 13:30] P4Thi0ut commented on #1495
You actually have to define the facade in **app/config.php** in order to use just JWTAuth;
so yeah, use **JWTAuth;** or alternatively : **use Tymon\JWTAuth\Facades\JWTAuth;**

[2020-11-23 14:05] bbprojectnet commented on #2056
Did you use `JWT_MAX_REFRESH_PERIOD` (!== null)?

[2020-11-25 02:33] jxlwqq opened #2059 "Tymon\JWTAuth\Exceptions\JWTException: Could not create token: Implicit conversion of keys from strings is deprecated. Please use InMemory or LocalFileReference classes."
### Subject of the issue

"lcobucci/jwt": "3.4.0"

https://github.com/lcobucci/jwt/releases/tag/3.4.0

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | yes
| New Feature?      | no
| Framework         | Laravel
| Framework version | 8.x.y
| Package version  | 1.x.y
| PHP version       |  7.x.y

[2020-11-25 03:25] carloquilala commented on #2059
Please check this upgrading guide

https://lcobucci-jwt.readthedocs.io/en/latest/upgrading/#v3x-to-v4x

[2020-11-25 03:31] tai-it commented on #2059
EDIT by @tymondesigns
Please install [latest version](https://github.com/tymondesigns/jwt-auth/releases/tag/1.0.2) to address this issue instead of switching to namshi/jose

-----
In `config\jwt.php` file
Change  `'jwt' => Tymon\JWTAuth\Providers\JWT\Lcobucci::class,` to `'jwt' => Tymon\JWTAuth\Providers\JWT\Namshi::class,`
=> It works for me <3

[2020-11-25 04:50] xtongtong commented on #2059
lcobucci/jwt:3.4 has this problem, composer require lcobucci/jwt:3.3 can resolve it.

[2020-11-25 09:23] wasddsaw commented on #2059
How to fix for Lumen ?

[2020-11-25 10:07] mstaack commented on #2059
@wasddsaw publish jwt config file and load it in your bootstrap file with `$app->configure()`
-> https://github.com/laravel/lumen/blob/8.x/bootstrap/app.php#L62

[2020-11-25 10:35] louisfisch commented on #2059
In the meantime for those like me who uses `lcobucci/jwt` as a dependency of `leage/league/oauth2-server` or `laravel/passport` you can explicitly require the version 3.3.3 of the `lcobucci/jwt` package (until a better solution comes up) by executing:

    composer require lcobucci/jwt:3.3.3 && composer update

[2020-11-25 11:03] dcyou commented on #2059
https://github.com/thephpleague/oauth2-server/pull/1146

https://github.com/lcobucci/jwt/issues/550#issuecomment-733557709

[2020-11-25 13:52] henze-housepedia commented on #1907
The actual issue might have something to do with the env variables not being loaded or parsed during the config:cache command.
Try it out.
When not cached, echo env('JWT_SECRET') or env('APP_ENV'). Both will return something
When cached with config:cache, both will return null.

This is still going on in Laravel 8.15.0 and php 7.4.12 and I think a laravel bug.

[2020-11-25 13:54] felipemarques-rec commented on #2059
It's not working for me, the lib used is `"tymon/jwt-auth": "1.*"`

I received the error: Could not create token: Implicit conversion of keys from strings is deprecated. Please use InMemory or LocalFileReference classes

I change my php.ini adding in the `error_reporting = E_ALL & ~E_DEPRECATED & ~E_STRICT & ~E_NOTICE & ~E_USER_DEPRECATED` and keep not working.

[2020-11-25 14:04] dcyou commented on #2059
question is what are the content of your composer.lock for `lcobucci/jwt`

[2020-11-25 14:12] felipemarques-rec commented on #2059
Hi @dcyou , thanks for reply, my content in the composer.lock is:
[code]

[2020-11-25 14:19] dcyou commented on #2059
I think you don't run that command `composer require lcobucci/jwt:3.3.3` if you ran that command you also should have `"lcobucci/jwt": "3.3.3",` in your `require` of composer.json

[2020-11-25 17:45] toramanlis commented on #2059
You are now, officially my best friend

[2020-11-25 19:22] vesper8 commented on #2059
This works, make sure to run `php artisan config:clear` after

[2020-11-26 03:38] kerberus01 commented on #2050
Hey did it work?
Wanted to know before I start using it with lumen 8. Thanks in advance

[2020-11-26 07:05] bbprojectnet commented on #2059
Any solution for branch 2.0?

[2020-11-26 08:29] serdud commented on #2059
downgrade lcobucci/jwt to 3.3.3

[2020-11-26 09:08] specialtactics commented on #2059
Apart from downgrading, what's the longer term solution and does package author need help to implement?

Do we need to update the package for compatibility ?

[2020-11-26 13:28] danielefavi opened #2060 "jwt-auth crashes after the dependency lcobucci has been updated to v3.4.0: deprecated method"
### Subject of the issue
**jwt-auth** crashes after the dependency **lcobucci** recently has been updated to v3.4.0

I run the command `composer update` then the package **lcobucci** has been updated as per below:
`- Upgrading lcobucci/jwt (3.3.3 => 3.4.0)`

Then I run my phpunit test and I got the following error:

[code]

To solve this issue I had to pull in the old version of the *lcobucci* pac

[2020-11-26 14:17] codingstuff91 commented on #2059
Hi, i had the same issue and i tested this solutions and now it works fine !!! Thanks a lot for your help

[2020-11-26 15:08] nicesome commented on #2059
thanks, it's work!

[2020-11-26 15:27] b-water commented on #2060
Same problem here. Breaking Changes: https://lcobucci-jwt.readthedocs.io/en/latest/upgrading/#v3x-to-v4x

[2020-11-26 15:28] midota-phucdaivo commented on #2059
I changed this and it' work, But response throw 401 when call refresh token api

[2020-11-26 16:36] aslamdoctor commented on #2059
That worked. I am using Laravel 8 :+1:

[2020-11-27 00:00] lcobucci commented on #2059
All Laravel versions override the server `error_reporting` configuration. I've created https://github.com/laravel/framework/pull/35381 to address this issue and not break apps on deprecation messages from any library.

I really hope that gets merged and helps you all :+1:

[2020-11-27 06:23] hujianjian187 opened #2061 "Tymon\\JWTAuth\\Exceptions\\JWTException: Could not create token: Using integers for registered date claims is deprecated, please use DateTimeImmutable objects instead"
### Subject of the issue
Tymon\\JWTAuth\\Exceptions\\JWTException: Could not create token: Using integers for registered date claims is deprecated, please use DateTimeImmutable objects instead

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              |  yes
| New Feature?      | no
| Framework         | Laravel
| Framework version | 6.20.40
| Package version   | 1

[2020-11-27 06:46] dev-techguy opened #2062 "Could not create token: Using integers for registered date claims is deprecated, please use DateTimeImmutable objects instead."
Could not create token: Using integers for registered date claims is deprecated, please use DateTimeImmutable objects instead.

Happens on lcobucci 3.4.0 & 3.4.1

[2020-11-27 08:11] riteshsingh1 commented on #1729
good work for me

[2020-11-27 08:29] Frewen commented on #2061
I have the same problem

[2020-11-27 09:24] henzeb commented on #2062
If that happens, you can either require lcobucci 3.3.3, or you can switch to the Namshi provider. specified in the jwt.providers.jwt configuration key.

[2020-11-27 09:30] hellogirls opened #2063 "ErrorException: Implicit conversion of keys from strings is deprecated. Please use InMemory or LocalFileReference classes."
ErrorException: Implicit conversion of keys from strings is deprecated. Please use InMemory or LocalFileReference classes. in file xxxx/vendor/lcobucci/jwt/src/Signer/BaseSigner.php on line 57

Q | A
-- | --
Bug? | yes
New Feature? | no
Framework | Laravel
Framework version | 8.x.y
Package version | 1.x.y
PHP version  | 7.3.y

[2020-11-27 09:36] hujianjian187 commented on #2061
ok

[2020-11-27 09:37] hellogirls commented on #2063
Q | A
-- | --
Bug? | yes
New Feature? | no
Framework | Laravel
Framework version | 8.x.y
Package version | 1.x.y
PHP version  | 7.3.y

[2020-11-27 09:40] hellogirls opened #2064 "ErrorException: Implicit conversion of keys from strings is deprecated. Please use InMemory or LocalFileReference classes. in file xxxx/vendor/lcobucci/jwt/src/Signer/BaseSigner.php on line 57"
### Subject of the issue
ErrorException: Implicit conversion of keys from strings is deprecated. Please use InMemory or LocalFileReference classes. in file xxxx/vendor/lcobucci/jwt/src/Signer/BaseSigner.php on line 57

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no / yes
| New Feature?      | no
| Framework         | Laravel
| Framework version | 8.

[2020-11-27 10:07] tymondesigns commented on #2062
See https://github.com/tymondesigns/jwt-auth/issues/2059

[2020-11-27 10:07] #2062 closed, assigned to nobody

[2020-11-27 10:07] tymondesigns commented on #2061
See https://github.com/tymondesigns/jwt-auth/issues/2059

[2020-11-27 10:07] #2061 closed, assigned to nobody

[2020-11-27 10:07] tymondesigns commented on #2064
See https://github.com/tymondesigns/jwt-auth/issues/2059

[2020-11-27 10:07] #2064 closed, assigned to nobody

[2020-11-27 10:07] tymondesigns commented on #2063
See https://github.com/tymondesigns/jwt-auth/issues/2059

[2020-11-27 10:07] #2063 closed, assigned to nobody

[2020-11-27 10:22] tymondesigns commented on #2059
Just catching up on all this. Looks like an upgrade to v4 is necessary, so will work on that asap. Thanks all!

[2020-11-27 10:24] tymondesigns commented on #2060
See #2059

[2020-11-27 10:24] #2060 closed, assigned to nobody

[2020-11-27 10:26] tymondesigns commented on #2058
Is your `jwt.lock_subject` config set to true? https://github.com/tymondesigns/jwt-auth/blob/develop/config/config.php#L194

[2020-11-27 11:03] lcobucci commented on #2059
@tymondesigns feel free to ping on PRs about this, would gladly help reviewing them 👍

Please check your PHP version requirements, v4 is PHP 7.4+ only. If need to support older PHP versions, you'd need to use `^3.4 || ^4.0` as version constraint. https://lcobucci-jwt.readthedocs.io/en/stable/upgrading/ should help you to achieve that.

[2020-11-27 12:08] surajknanda10 commented on #1734
This error generally display when you install jwt package in laravel 5.5 version. then after you set service providers and run following command.

php artisan jwt:generate
then you seen this error message in terminal.

how to resolve it? simple follow this step

Step - 1 Re-install package

composer require tymon/jwt-auth:dev-develop --prefer-source
or the following is a new release package use la

[2020-11-27 12:31] tymondesigns commented on #2059
Thanks, I think the best course of action is to restrict the version to <3.4 for now. I can address the v4 upgrade in the 2.0 branch, where php 7.4 is the minimum.

[2020-11-27 18:23] iranagame opened #2067 "Revert back lcobucci/jwt version"
Since `lcobucci/jwt` has switched 3.4, now this library no longer workings:
Using integers for registered date claims is deprecated, please use DateTimeImmutable objects instead

[2020-11-27 18:41] tymondesigns commented on #2067
A new release has been tagged to prevent the installation of 3.4 and above https://github.com/tymondesigns/jwt-auth/releases/tag/1.0.2

[2020-11-27 18:41] #2067 closed, assigned to nobody

[2020-11-27 18:41] tymondesigns commented on #2059
Closing as release has been tagged to address this https://github.com/tymondesigns/jwt-auth/releases/tag/1.0.2

[2020-11-27 18:41] #2059 closed, assigned to nobody

[2020-11-27 19:05] tymondesigns commented on #1907
I will add a check for missing secret and throw an exception so this is clearer in future :+1:

[2020-11-27 19:05] #1907 closed, assigned to nobody

[2020-11-27 19:07] #990 closed

[2020-11-27 19:21] ahad-z commented on #2015
1 => This is my config/auth configuration
'api' => [
            'driver' => 'jwt',
            'provider' => 'users',
        ],
2 => This is my authController
<?php

namespace App\Http\Controllers;

use Illuminate\Http\Request;
use Tymon\JWTAuth\Facades\JWTAuth;
use App\Models\User;
use Auth;

class LoginController extends Controller
{
    public function __construct()
    {
        $this->middl

[2020-11-28 12:04] rummanrc commented on #2058
Yes it is set to true... It seems like for every Auth::attempt or Auth::guard()->attempt() the AdldapAuthServiceProvider class is being used, regardless of the guard. I mean even if I authenticate with my admin model (eloquent based), it logs in both admin and employee (who has the same id in a different table) at the same time with the same token.

Although it might not be a JWT specific issue, i

[2020-11-29 11:30] abhishekdeshkar commented on #2056
@bbprojectnet I don't see anything related to ```JWT_MAX_REFRESH_PERIOD``` in the official docs.

@tymondesigns  Please look into it.

[2020-11-29 11:55] rummanrc commented on #2058
So I had to override the Adldap2-laravel's DatabaseUserProvider class and put a condition on the retrieveById function.
I added custom claims on my models, and checked for the custom claim (which contains the role) to decide whether to return the model from that function or not.

This branch contains the code for this solution: https://github.com/rummanrc/laravelguardissue8/tree/bypass_ldap_auto_l

[2020-11-29 11:55] #2058 closed, assigned to nobody

[2020-12-01 10:06] specialtactics commented on #2059
Thanks @tymondesigns !

[2020-12-02 05:55] bosz commented on #1729
Thanks

[2020-12-02 06:22] dongmu101 opened #2069 "PHP8"
tymon/jwt-auth dev-develop requires php ^5.5.9|^7.0 -> your php version (8.0.0) does not satisfy that requirement.

[2020-12-02 10:22] fabioborella-smash commented on #886
+++

[2020-12-03 08:46] henzeb commented on #1105
For anyone landing on this page being confused as "the original specs did not specify a separate refresh token" . Apparently this was considered a major security issue. An access token is then stored in either cookie or localStorage, both are prone to CSRF attacks.  anyone can use this token to refresh when stolen and use it "forever".
@buglinjo is right: a refresh token is stored in a httponly co

[2020-12-03 14:24] ali-sharafi commented on #2035
You shoud just pass your guard to auth() or you can change deafult guard in config.

`if (! $token = auth('api')->attempt($credentials)) {
            return response()->json(['error' => 'Unauthorized'], 401);
        }`

[2020-12-04 03:13] media-ch opened #2070 "Illuminate\Auth\TokenGuard::attempt()"
### Subject of the issue
Describe your issue here.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no / yes
| New Feature?      | no / yes
| Framework         | Laravel / Lumen
| Framework version | 5.x.y
| Package version   | 1.x.y
| PHP version       | 5.x.y / 7.x.y

### Steps to reproduce
Tell us how to reproduce this issue.

### Expected behaviour

[2020-12-04 03:16] #2070 closed, assigned to nobody

[2020-12-04 03:17] media-ch commented on #2070
Sorry,I made it by mistake. Please delete this.

[2020-12-04 13:11] lgugliotta opened #2072 "Two systems that share the same JWT signature but the PK of their User Models are of different types"
### Subject of the issue
Hi, I have 2 systems that share the same jwt signature, the 1st system is a Laravel 5.7 and 2nd is NestJS, in a some point I need to migrate user from Laravel w MySQL DB (User Model with int id primary key). In NestJs, the Users Model primary Key is Uuid.

The problem is: A user Login in NestJs then, the generated token have a id as Uuid (suppose that Uuid is: **093715**bd

[2020-12-06 03:13] zinkyawmoe commented on #1379
https://github.com/tymondesigns/jwt-auth/issues/1094#issuecomment-357685921

[2020-12-06 03:15] zinkyawmoe commented on #1379
did you implements JWTSubject in User Model?
`class User extends Authenticatable implements JWTSubject`

[2020-12-06 14:18] nulele commented on #926
I had the same problem on user profile updating.
This worked form me!!!
Thanks @ralpdexterbongato !!!

[2020-12-09 10:37] LouisCapelle opened #2074 "Nesbot/Carbon Trailing data error, unexpected data found for login."
### Carbon\Exceptions\InvalidFormatException: Unexpected data found.
Hello guys, so, i deploy my working project on a VPS to publish my API. So I register a new user in database and its works fine. But when i want to login my user, i got a 500 internal error. It comes from jwt thats calls a package named Nesbot/Carbon.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?

[2020-12-09 19:07] LouisCapelle commented on #2074
I found a fix, if you have this error, check your TTL et check if he is not too high

[2020-12-09 19:07] #2074 closed, assigned to nobody

[2020-12-10 14:37] Mexidense commented on #2056
Hello guys!

I don't know if you fix or it fits you but I've created a custom middleware in order to refresh and auth with JWT:

Middleware:
[code]
Routes:
[code]
Refresh method from controller:
[code]

[2020-12-10 14:39] Mexidense commented on #2017
I've fixed that using a custom middleware: https://github.com/tymondesigns/jwt-auth/issues/2056#issuecomment-742560435

[2020-12-10 15:53] liamhao commented on #2069
Expect to be compatible with php 8.0 as soon as possible

[2020-12-10 17:55] sakuriki commented on #2055
There is a contruct in AuthController on the docs if you scroll down a little
[code]

[2020-12-11 05:43] dogeow commented on #2069
@liamhao I hope so too...

[2020-12-11 14:09] amasahara commented on #2056
I also make an custom middleware but seem it no work for me
Middleware:

[code]

Kernel.php

[code]
api
[code]
it alway return this error when token expried, i can not handle it
![Untitled](https://user-images.githubusercontent.com/5392719/101912370-3a3bf900-3bf4-11eb-9343-3683b6d60124.png)

Which way i wrong

[2020-12-11 14:46] Mexidense commented on #2056
IMO, I think it's because you are using the middleware `jwt.auth` and `jwt.refresh` for the whole of the route group... I think you should assign the middleware like this:

[code]
if you use both middlewares for refresh endpoint, it always will return a "Token has expired" exception because firstly it'll check if the token is valid and then try to generate the new one checking the last one...

Wha

[2020-12-11 17:53] sirkenedy commented on #1753
I am facing same issue. were you able to get it resolved? i need help

[2020-12-11 23:29] amasahara commented on #2056
i also make middleware like you but it still not working

[2020-12-14 02:07] #2069 closed, assigned to nobody

[2020-12-14 03:30] I2C-RoyYou commented on #1753
yes , I solved !   I put token in url parameters , like "http://xxx.com?token=<your token>" then all problem solved! you can try!

[2020-12-14 11:23] Mexidense commented on #2056
did you change the middleware for refresh endpoint?

[2020-12-15 14:17] oviniciusfeitosa commented on #1869
The command below works for me using Laravel version 8:

[code]

Reference [here](https://vinnyfs89.gitbook.io/knowledge/technology/programming-or-scripts-languages/php/laravel/known-issues-1#tymon-jwt-auth-0-5-12-requires-illuminate-support-5-0-greater-than-found-illuminate-support-v-5-0-0-5-8-x-dev-but-it-conflicts-with-your-root-composer-json-require-8-18)

Hope it helps! 👍

[2020-12-18 05:22] rsmmukesh opened #2077 "JWT:invalidate not working"
im trying to invalidate the token through the method invalidate but it is not working, im not getting the error "Token is blocklisted".
I can call the below code multiple times , every time I get the user details

**CODE
---------**

             $token = JWTAuth::parseToken();
             $user = $token->authenticate();
            JWTAuth::invalidate(JWTAuth::parseToken(),true);
            JWT

[2020-12-18 05:27] rsmmukesh commented on #2046
Yes, for me same problem

[2020-12-18 05:41] rsmmukesh commented on #1791
invalidate not working

[2020-12-21 04:49] arislanhaikal opened #2079 "Incompatible with PHP 8.0.0"
### Incompatible with PHP 8.0.0
Package tymon/jwt-auth at version 1.0.2 has a PHP requirement incompatible with your PHP version (8.0.0)

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | yes
| Framework         | Laravel
| Framework version | 8.19.0
| Package version   | 1.0.2
| PHP version       | 8.0.0

### Steps to reproduce
c

[2020-12-21 20:19] sbalex27 commented on #1753
As mentioned above a solution that works for me is to send the token: "http://xxx.com?token=" Now there must be a solution to send it by bearer token

[2020-12-22 18:07] realtebo commented on #2079
I got his

[code]

Probably related to underlying php v8?

I do not understand why is autoselecting a so old version

[2020-12-22 22:24] arislanhaikal commented on #2079
I have solved this problem using dev-develop

`composer require tymon/jwt-auth:dev-develop`

Thank you

[2020-12-22 22:25] #2079 closed, assigned to nobody

[2020-12-24 06:54] hamzakhan977 opened #2080 "Having conflict issues while installing jwt-auth in laravel 8.19.0"
**Having conflict issues while installing jwt-auth**
I don't know if the jwt-auth isn't compatible with my laravel version or is it something else. I'm pretty new at laravel.

PS C:\xampp\htdocs\myproj> composer require tymon/jwt-auth
Using version ^1.0 for tymon/jwt-auth
./composer.json has been updated
Running composer update tymon/jwt-auth
Loading composer repositories with package information

[2020-12-24 07:02] hamzakhan977 commented on #2080
**Tried again**
Laravel Framework 8.19.0
PS C:\xampp\htdocs\myproj> composer require tymon/jwt-auth 2.0.x-dev
./composer.json has been updated
Running composer update tymon/jwt-auth
Loading composer repositories with package information
Updating dependencies
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Root composer.json requires tymon/jwt-auth 2.0.

[2020-12-24 08:00] TonyyJp commented on #2077
I have the same problem. Does anyone know how to solve it！

[2020-12-24 08:34] opsquid commented on #1678
Thanks, it worked on laravel 8

[2020-12-25 05:20] brijesh1997 commented on #2033
Hello @alecpl ,

I added this in my swoole_http.php file but I fetch below fatal error please check below screenshot and tell me what I need to do for that.

https://prnt.sc/w9j5tr

[code]

[2020-12-25 05:22] brijesh1997 opened #2081 "Token issues under laravel-swoole #2033 (Class 'Symfony\Component\Debug\Exception\FatalThrowableError' not found in /var/www/html/lumen-JWT-SWOOLE/lumen/vendor/swooletw/laravel-swoole/src/Server/Manager.php:414)"
[code]

Hello @alecpl ,

I added this in my swoole_http.php file but I fetch below fatal error please check below screenshot and tell me what I need to do for that.

https://prnt.sc/w9j5tr

[code]

[2020-12-25 21:06] bert-w commented on #1951
This issue is still very relevant. What's blocking it? A response from the package author reviewing the original post, either defending the current implementation or acknowledging the misimplementation so we can start working on a solution.

[2020-12-25 21:06] HristijanTintar commented on #1902
still not stale. have the same problem still, to no revelation

[2020-12-25 23:11] purplenimbus commented on #967
This worked for me

`"laravel/framework": "^7.0"`
`"tymon/jwt-auth": "dev-develop"`

[2020-12-26 05:32] #2081 closed, assigned to nobody

[2020-12-26 11:26] #2004 closed, assigned to nobody

[2020-12-26 11:27] #1663 closed, assigned to nobody

[2020-12-28 07:25] TsheriSherpa commented on #1618
For me using different JWT_SECRET for each host like localhost, development server is working. Add JWT_SECRET in .env file to keep it different from each host. Set unique value of JWT_SECRET key in .env of each host. Generating jwt secret using artisan command php artisan jwt:secret will just add JWT_SECRET to config/jwt.php file so after push it to github or other version control system if we pul

[2020-12-28 11:06] Brenneisen opened #2082 "PHP 8.0 Compatibility"
PHP 8.0 is not supported.

Output from Composer:

Problem 1
- lcobucci/jwt is locked to version 3.3.3 and an update of this package was not requested.
- lcobucci/jwt 3.3.3 requires php ^5.6 || ^7.0 -> your php version (8.0.0) does not satisfy that requirement.

Problem 2
- tymon/jwt-auth is locked to version 1.0.2 and an update of this package was not requested.
- tymon/jwt-auth 1.0.2 requires php

[2020-12-28 12:58] roydekleijn commented on #1994
I got it covered, in: https://github.com/testsmith-io/test-application-api-docker/blob/sprint-4/tests/InvoiceTest.php

[2020-12-28 16:59] elb98rm commented on #1341
Closing as no longer relevant.

[2020-12-28 16:59] #1341 closed, assigned to nobody

[2020-12-28 17:06] JYang99 opened #2083 "Install failed."
Laravel version: 8.20.1
Php version: 8.0

When I am trying `composer require tymon/jwt-auth`, it return me that error below.

Below is my composer.json file.

[2020-12-29 13:02] peter842323 commented on #2083
This package does not support php 8.0 now :(
You can try use php 7.4 again

[2020-12-29 16:08] #1808 closed, assigned to nobody

[2020-12-30 05:34] mestartlearncode commented on #1678
thanks it works. before on Laravel 5.8

[2020-12-30 07:05] rsmmukesh commented on #2077
I temporarily fixed by setting CACHE_DRIVER=file in the .env file before it was "array".

[2020-12-30 20:14] rmncv commented on #2082
Yes. Also waiting for an update because I have another dependency which uses `"lcobucci/jwt": "^3.4 || ^4.0"`. Workarounds from closed issues (like this https://github.com/tymondesigns/jwt-auth/issues/2079) do not help

[2020-12-31 05:23] Ekenzy-101 commented on #2083
How do you go about it?

[2020-12-31 07:29] damonto commented on #2083
@Ekenzy-101 You can add `--ignore-platform-reqs` to force install it works well for me.

`composer require tymon/jwt-auth --ignore-platform-reqs`

[2020-12-31 19:27] rmncv commented on #2083
Doesn't help if project have same dependencies with different requirements to a minimum versions :(

[2021-01-01 11:05] JYang99 commented on #2083
Ohhh ... It successfully downloaded.

[2021-01-01 11:05] #2083 closed, assigned to nobody

[2021-01-01 15:44] #1789 closed, assigned to nobody

[2021-01-03 02:49] mrozbarry commented on #2036
I ended up switching to sanctum, but it looks like @zishang520 has a solution, so I'm going to close this.

[2021-01-03 02:49] #2036 closed, assigned to nobody

[2021-01-03 14:38] #1969 closed, assigned to nobody

[2021-01-04 04:55] guruprakashIT opened #2085 "PHP Warning: The use statement with non-compound name 'JWTAuth' has no effect in EmployeeServiceHelper.php on line 17"
### Subject of the issue
when is use JWTAuth class in helper file inside the laravel helper function. it throws warning .

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | yes
| New Feature?      | no
| Framework         | Laravel
| Framework version | 8.0
| Package version   | 1.0.1
| PHP version       |  7.x.y

### Steps to reproduce
I cannot use JWTAu

[2021-01-04 16:08] soliangD commented on #1890
#1839

[2021-01-05 15:03] YoussefKafa commented on #1843
just make sure that Headers accept application/json
and also make sure that the route grouping is
'middleware' => 'api',
    'prefix' => 'auth'
![image](https://user-images.githubusercontent.com/48362996/103661980-0a281180-4f78-11eb-8023-dd8e3d1272de.png)

[2021-01-05 19:29] quevlu opened #2086 "[Guide] [Fix] Middleware for handling authentication and refresh token"
### Middleware for handling authentication and refresh token

I have created a middleware for handling authentication and logic of refreshing token.

The process is the following :

1- The request has arrived and the middleware checks if the request has the token, and it's valid after that it continues with the process.
2- The request has arrived, but the token is invalid because it's expired, It

[2021-01-06 06:43] roneilbrews commented on #1395
this does not work in me, do you have any idea what is the issue is?

[2021-01-06 10:17] mod7ex commented on #1869
same problem in laravel 8 but `composer require tymon/jwt-auth ^1.0.0` worked fine

[2021-01-06 15:52] facueche commented on #2015
This worked for me https://github.com/tymondesigns/jwt-auth/issues/1886#issuecomment-538448309 on Laravel 6.0

[2021-01-07 07:36] #1735 closed, assigned to nobody

[2021-01-07 11:20] thgiang commented on #1983
Same here

[2021-01-08 14:19] #1084 closed

[2021-01-08 23:13] maicol07 commented on #1900
Hi, do you foundn a way to generate a JWT token manually? I would like to generate a JWT like when the users login via the api, but I want to do it manually

[2021-01-12 01:38] rfrkk opened #2087 "I am confused about the role of secret key"
### Subject of the issue

I want to know how the secret key is applied to making and verifing token, so i set two situation using different secret key.

user=jacknote, email=jacknote@test.com, pw=1234

step1.
change .ENV jwt_secret=NvNNLEI1Np...
after login ,it return token=eyJ0eXAiOiJK.....8E3mgbo-Zlpi9_ho
use this token to login and auth()->user(), get information successfully.

step2.
change .E

[2021-01-13 07:00] #1652 closed, assigned to nobody

[2021-01-15 13:27] borislav-itskov commented on #1618
Hey guys,

in the documentation, you have getJWTIdentifier() in your User.php model. Doesn't changing that to something unique resolve this conflict?

Let's say we have multi tenancy.
User john@doe.com with ID 1 is present at both tenants, foo and bar.
You have the same JWT secret for both tenants.
But in getJWTIdentifier(), you push the tenant name/ID along with the user email ( if it's unique ).

[2021-01-15 15:49] Oxbobby commented on #1618
After some hours, I finally got the answer:

- go to User.php
- add your tenant to the getJWTCustomClaims(), something like: return [ tenant_id => tenant()->id]; Make sure you retrieve the tenant from a singleton with a variable cache or you could suffer performance hits.
- create a middleware and make it global so it catches all authentication required requests
- check in the middleware if the to

[2021-01-15 18:45] AgustinV08 opened #2088 "Update lcobucci/jwt to ^4.0"
I'm trying to use the Socialite provider for Apple Sign In using the package  socialiteproviders/apple but it requires of the version 4.0 of lcobucci/jwt. Is there a way this package can be updated for both packages work in my laravel project?

[2021-01-16 22:16] brandonellis opened #2089 "tenant()->getTenantKey() is null"
### getTenantKey() during Token check is null?
After generating a token and hitting the impersonate route in your documentation the response causes a 500. In your UserImpersonation.php code we have a condition that is never matched.

`if (((string) $token->tenant_id) !== ((string) tenant()->getTenantKey())) {
            abort(403);
`
This could be an error in routing, maybe, however the docs are

[2021-01-16 23:31] #2089 closed, assigned to nobody

[2021-01-17 17:58] ElForastero commented on #1105
It's unsecure to store access_token persistent in the browser.

It should be stored in memory and requested on every app startup. The refresh_token is different and should be stored in the only one secure place in the browser - in the httpOnly cookie (better with path like /api/auth/refresh).

[2021-01-19 08:08] JenuelDev opened #2090 "Implementing jwt-auth in laravel/lumen mongodb is hard."
Implementing this library to a MongoDB is hard. Any thought? or any Idea how to make this possible in mongodb.

[2021-01-19 17:48] RichieMcMullen commented on #2077
You can invalidate a specific token using this:

[code]

[2021-01-19 22:52] Rho1and0 commented on #2006
The same happens to me

[2021-01-19 23:58] mrizkir commented on #2090
Create custom validation and then use `login($user)` method instead `attempt`.

[code]

[2021-01-20 04:08] JenuelDev commented on #2090
thanks for the reply and I really appreciate it,,, I was able actually to solve my problem, by following the docu on how to set up and it was very awesome, jwt-auth is the best.,,

[2021-01-20 04:08] #2090 closed, assigned to nobody

[2021-01-21 10:04] sotomskir opened #2091 "iat claim doesn't respect leeway"
### Subject of the issue
leeway is not respected when iat claim is in the future and InvalidClaimException is thrown

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | yes
| New Feature?      | no
| Framework         | Laravel
| Framework version | 5.8
| Package version   | 1.0.2
| PHP version       | 7.3

### Steps to reproduce
Set leeway parameter to 12

[2021-01-21 12:27] Messhias commented on #1565
Hello everyone, any news about that? It's almost 3 months and my guards is getting increase and this is start became a code smell.

Any clean solutions?

[2021-01-23 16:36] mwleinad commented on #2082
I can see PHP 8 was added to composer.json, when can we expect that release?

[2021-01-25 15:01] andrzejkupczyk commented on #1958
Yep, it is still relevant.

[2021-01-25 23:26] sergiy-petrov commented on #2082
@tymondesigns any plans to support php8?

[2021-01-26 14:49] guma256 commented on #1498
I had the same problem with Lumen,
I created folder **config** and created **auth.php**  file inside **config** folder and added the following code to auth.php

[code]
This solved my problem thank you

[2021-01-27 04:03] seniordev-ca commented on #2006
Hi, @Rho1and0
I used `auth('api')->user()` instead of `$user`.
So it will look like this:
[code]

[2021-01-27 04:04] #2006 closed, assigned to nobody

[2021-01-27 06:38] mrizkir commented on #2086
very nice.

Thank you.

[2021-01-27 08:38] baradhili commented on #1916
and use Tymon\JWTAuth\Contracts\JWTSubject;

eg

[2021-01-28 21:07] EDcasa opened #2094 "Password not found, my column called use_password"
### Issue subject
Describe your problem here.

### Your environment
| Q
| ----------------- | ---
| Error? | yes
| New feature? | No
| Frame | Lumen
| Frame version | 5.x.y
| Package version | 1.x.y
| PHP version | 7.4

### Steps to reproduce
when my field is called by another name to the different password

### Expected behavior
does not find in field and does not authenticate

### Real behavior

[2021-01-29 12:52] mkhuramj opened #2095 "refresh_ttl is Useless if the Token is Expired"
### 'refresh_ttl' Seems Useless When the Token is Expired
Suppose I have logged in and got a new token with _ttl_ of 60 minutes and _refresh_ttl_ is 2 weeks. But after an hour, when I send a request with the expired token the I get 401, that's OK. But if the request, with the expired token, is sent to the refresh route (a route with 'jwt.refresh' middleware), I don't get the new token but a 401 re

[2021-01-29 13:19] kushan2 commented on #1928
Any luck with custom entry on header?

[2021-01-29 16:28] LvcioT commented on #2082
good evening,
do you have any news?

[2021-01-30 07:31] fendis0709 commented on #1492
If you want to decode information from encoded string.
[code]

[2021-01-30 22:04] RichieMcMullen commented on #2015
Leave the default guard as it is and do this:

[code]

Then just call:

[code]

[2021-02-02 19:11] michelsouzafigueiredo commented on #2082
please, can we have any update on that ?

[2021-02-04 02:38] noor-ul-amin0 commented on #2083
How did you solve it?

[2021-02-04 02:43] damonto commented on #2083
Which version  are u using?

[code]

[2021-02-04 05:13] noor-ul-amin0 commented on #2083
version of what?

On Thu, 4 Feb 2021 at 07:44, Damon To <notifications@github.com> wrote:

[2021-02-04 09:32] SojebSikder commented on #1753
It's working !

[2021-02-04 17:59] kloshar4o commented on #768
You can hash your plain DB password before they get compared,
So lets say your attempt:
[code]
This will compare your plain db password like this:
[code]
add this to your `User` model:
[code]
Gladly this will do:
[code]

[2021-02-04 20:55] oviniciusfeitosa commented on #2083
[code]

[2021-02-05 13:38] derekrprice commented on #1912
None of these workarounds are working for me.  Anyone have any other suggestions?

[2021-02-05 13:38] derekrprice commented on #1912
/remove lifecycle stale

[2021-02-05 17:21] peppeg85 commented on #1678
hello, sorry but i still can't solve, any suggestions?, i tried also latest comment but nothing, i'm on laravel 8, it doesn't recgnixze JWTAuth

[2021-02-05 19:16] derekrprice commented on #1912
Used a mix of the above suggestions and a blog I stumbled on to get it working this way, in a single test:

    public function testCanLoginAndLogout()
    {
        $client = \App\Client::where(['password_client' => 1])->first();
        $response = $this->json("POST", '/oauth/token', [
            'client_secret' => $client->secret,
            'client_id' => $client->id,
            'grant_type

[2021-02-07 09:48] gotomark commented on #1843
class AuthController extends Controller
{

    public function __construct()
    {
        $this->middleware('auth:api', ['except' => ['login']]); //added to except your method ex. me,register
    }
    .......

[2021-02-07 10:02] gotomark commented on #1843
This worked for me
class AuthController extends Controller
{
    /**
     * Create a new AuthController instance.
     *
     * @return void
     */
    public function __construct()
    {
        $this->middleware('auth:api', ['except' => ['login',**'register','logout','me','refresh'**]]);
    }

[2021-02-07 12:16] ibrahimBougaoua commented on #1729
this work for me
php artisan key:generate
php artisan jwt:secret
php artisan cache:clear
php artisan config:clear

[2021-02-09 09:16] closca commented on #2095
+1

[2021-02-10 13:18] cedricve opened #2098 "Leeway documentation?"
I tried configuring leeway in the `jwt.php` config file but that doesnt do anything..

    'leeway' => 10,

[2021-02-10 13:23] cedricve commented on #1053
Doesnt work for me, using latest version 1.0.2.

[2021-02-10 13:26] cedricve commented on #2098
Even though the function is there, it is not taken into account apparently.

![Screenshot 2021-02-10 at 14 25 17](https://user-images.githubusercontent.com/1546779/107515831-d8741d00-6bab-11eb-91c4-2ad84ab7e775.png)

[2021-02-10 15:11] vicenterusso commented on #2077
I have the same problem. I tried @RichieMcMullen solution but didn't worked for me.

I'm using Redis for cache.

After invalidate, my token is still working

[2021-02-10 15:22] RichieMcMullen commented on #2077
@vicenterusso

I assume you are replacing ```$token->token``` with the actual token or variable of your own ?

[2021-02-10 16:27] vicenterusso commented on #2077
That's correct. @rsmmukesh and others (in another issues) are suggesting to change the cache driver to file. It seems there is a problem with storage not being file based

[2021-02-10 16:35] RichieMcMullen commented on #2077
Yes, the environment that I'm currently using in regard to the cache driver is "file" and the invalidate method works fine for me. Maybe try changing your cache driver, as a means of debugging the issue.

[2021-02-10 16:44] rsmmukesh commented on #2077
I tried a lot and didn't get the actual answer. Finally I had temporary fix with cache driver to file.. I hope there is issue with other cache drivers except file. Any team member should check and resolve it as soon as possible , it is a major issue...

[2021-02-11 11:37] parmonov98 opened #2099 "JWTAuth::toUser() returning null or false"
[code]

![image](https://user-images.githubusercontent.com/24564577/107631769-6113bb80-6c87-11eb-98dd-c6e2bad37637.png)

my api route
![image](https://user-images.githubusercontent.com/24564577/107631817-6ec94100-6c87-11eb-8e06-dbb5494db386.png)

Is it a bug?

[2021-02-12 14:25] parmonov98 opened #2100 "getting authed jwt user in another middlleware laravel"
### Subject of the issue
I'm using jwt. I created the middleware for jwt, and created another one isRecruiterAdmin.

in the jwt middlreware everything works well.

When I wanna get authed user in inner middleware, I get null. both haven't worked. why ? and how can I fix this?

I have tried `$request->user()` too. but no success.

An interesting part is when the route is store, the issue exists. on

[2021-02-12 14:25] #2099 closed, assigned to nobody

[2021-02-15 11:38] korimarik commented on #2082
Hi all,
I have the same issue. Would be appreciated for PHP 8 support

[2021-02-15 12:44] michelsouzafigueiredo commented on #2082
Guys, install the **dev-develop / 1.0.x-dev** package with composer, it has suport for **php: ^7.2|^8.0**;

[Composer package](https://packagist.org/packages/tymon/jwt-auth#dev-develop);

I was able to get it to work on the last version of Lumen and PHP 8 with audit.

[2021-02-15 15:43] JeroenvdV opened #2101 "Option to use other claims than 'sub' to authenticate a user"
### Subject of the issue
I would like to be able to customize the claim used to look for the user ID in an incoming JWT. Currently it is only possible to authenticate the user whose identifier or a function thereof exactly matches the subject claim ('sub'). In general it might be useful in more cases to be able to provide a custom function that returns a the user ID to look for from the JWT payloa