[2017-04-21 18:20] gandra commented on #1125
When trying top downgrade to ver 0.5.11 composer gives me error:
`Class 'Tymon\JWTAuth\Providers\LaravelServiceProvider' not found`

So now in v icious circles of version hell. Latest version do not have functionalites it claims to have on formal page. You count on that and then you are in problem.

[2017-04-21 19:56] gandra commented on #1125
I have found a way how to introduce custom claims. Via `JWTSubject` and `getJWTCustomClaims()`

[2017-04-21 20:24] akkhan20 commented on #1125
i think this error
''Tymon\JWTAuth\Providers\LaravelServiceProvider' not found'
is because u have the service this service provider registered in app.php

Sent from iPhone

On 22 Apr 2017, 12:56 AM +0500, Dragan Mijatovic <notifications@github.com>, wrote:

[2017-04-21 20:25] akkhan20 commented on #1121
u can use Middleware\Authenticate instead

[2017-04-21 21:33] gandra commented on #1125
Yes @akkhan20 ,
aftert switching to old version I forgot to publish conf:
[code]

anyway I have found a way how to add custiom claims via `getJWTCustomClaims()` so I will close this issue.

[2017-04-21 21:33] #1125 closed

[2017-04-21 21:40] gandra opened #1126 "Refresh token flow"
I have a problem with refresh token flow.
The problem is that refresh token by default, if blacklisted is enabled, invalidate current token and generates new one.
On the other side if blacklist is disabled there is no way to invalidate token.
I have situation where client APP in angular has multiple async calls. In one moment token is expired and client send request to refresh token. But in some s

[2017-04-21 21:47] tymondesigns commented on #1126
Simply set the `JWT_BLACKLIST_GRACE_PERIOD` in the config to something like `60` (seconds)

https://github.com/tymondesigns/jwt-auth/blob/develop/config/config.php#L188-L201

[2017-04-21 21:47] #1126 closed

[2017-04-21 21:48] akkhan20 commented on #1126
if you look at the config file you will see "blacklist_grace_period" parameter which you can set to non zero digit as grace time in minutes for a token to be blacklisted after

Sent from iPhone

On 22 Apr 2017, 2:40 AM +0500, Dragan Mijatovic <notifications@github.com>, wrote:

[2017-04-21 21:48] tymondesigns commented on #1123
the wiki refers to the `0.5.*` releases. New documentation is coming that will be for the `1.0.*` release

[2017-04-21 21:48] #1123 closed

[2017-04-21 21:50] tymondesigns commented on #1121
Events are no longer fired in the new version as they are not necessary any more

[2017-04-21 21:50] #1121 closed

[2017-04-21 21:51] tymondesigns commented on #1120
docs will come when the `1.0.0` release is done (soon)

[2017-04-21 21:51] #1120 closed

[2017-04-21 22:30] gandra commented on #1126
Thanks a lot!!!!

[2017-04-22 00:09] gsi-yunier opened #1127 "Possible security bug"
I'm using jwt-auth in two separate applications with Laravel 5.3. And I have verified that I can authenticate in one of the applications with a token generated by the other application, in that case the application authenticates me as long as I have a user with the same id.

I have reviewed the jwt-auth code and found that to authenticate it only verifies that the token can be decoded, and in that

[2017-04-22 03:26] pankitgami commented on #1127
In your .env file, do you have a two different JWT_SECRET?

[2017-04-23 16:46] bradders opened #1129 "User Model Relationships"
I'm implementing jwt-auth, `1.0@dev`, in a lumen project, `5.4`. I've can generate tokens, and use them to retrieve protected routes, but it seem like my User model (`$request->user()`) doesn't have it's associated relationships.

My User has an `organizaition()` relationship, that is pre-loaded using `$with`, but this comes though as null for my `$request->user()`.

Is there something I need to d

[2017-04-23 17:15] abolinhas commented on #1124
Fix it, I don't now why but after generate a new app key the jwt auth starts work properly.
`php artisan key:generate`

Best regards

[2017-04-23 19:45] #1124 closed

[2017-04-23 21:36] gsi-yunier commented on #1127
Sorry is an copy/paste issue. I just regenerate the JWT_SECRET and is working properly now.

Thanks !

[2017-04-23 21:36] #1127 closed

[2017-04-23 22:42] Fossil01 opened #1130 "phpseclib conflict with other packages"
I'm trying to install https://packagist.org/packages/laravelcollective/remote version 5.4.0 but it fails with the error below. AFAIK jwt-auth uses phpseclib 0.3.10.

How do I fix this, I'm on Laravel 5.4? I tried updating jwt-auth to 1.0.0-beta.3 by changing composer.json but that threw a crapton of errors so I switched back.

Is there some update guide from 0.5 to 1.0 beta? Or someone here who ca

[2017-04-24 03:21] kevinvdburgt commented on #1083
I can confirm this issue, the "sub" claim only contains an ID. (for example guards; `admin` and `user` using jwt).

Authenticated as an user (jwt claim)
[code]

[code]

This might be as better option as @artalisa proposed.
[code]

So the results are like:
[code]

@tymondesigns your thoughts on this?

[2017-04-24 13:40] juanvillegas commented on #1109
Just trigger an ajax ping to the server, that will refresh the token. The value you should look at is your _refresh_ttl_

[2017-04-24 14:08] juanvillegas commented on #1108
Even if your databases or user models were different, you could still share your tokens. Just include enough information in the token for you to be able to fetch the user when decoding the token. Your token decoder implementation will be a custom one of course.

[2017-04-24 14:22] dorelljames commented on #684
Use this one if you're using the latest beta as of this time of writing `php artisan vendor:publish --provider="Tymon\JWTAuth\Providers\LaravelServiceProvider" --force`

[2017-04-24 15:42] Szasza commented on #1102
There isn't a best practice as far as my knowledge goes but here is the step-by-step guide for version 1.0.0-beta.3 assuming that you want to use Eloquent as user driver:

1. Install the tymon/jwt-auth package version 1.0.0@beta.3 via composer.

2. In `bootstrap/app.php` uncomment the line `$app->withFacades();` and change it to
[code]

3. In `bootstrap/app.php` uncomment the line `$app->withEloqu

[2017-04-24 16:45] bradders commented on #1129
Disregard, I thought jwt-auth was botching my User model relationships, when in fact I was!

[2017-04-24 16:45] #1129 closed

[2017-04-24 17:37] tremby commented on #1102
Thanks for this. I just wish there were an "official" guide published somewhere, which could be trusted to be up to date -- there are already a lot of howtos posted in issues like this but it's never clear what's current and what isn't, and each guide differs quite a bit.

But I've actually managed to fumble my way through the setup by now. I think I took rather a lot more steps than this, and I w

[2017-04-24 18:40] tymondesigns commented on #1102
Since there is demand for it, here is an excerpt from the upcoming docs:

### Install via composer

Run the following command to pull in the latest version:

[code]

-------------------------------------------------------------------------------

### Bootstrap file changes.

Add the following snippet to the `bootstrap/app.php` file under the providers section as follows:

[code]

Then uncomment th

[2017-04-24 22:42] Szasza commented on #1102
@tremby the facades can be useful in case of wanting to do something like `JWTAuth::attempt(...)`.

Thank you @tymondesigns for the detailed instructions, much appreciated.

[2017-04-24 22:56] tymondesigns commented on #1102
@Szasza just a heads up, the JWTAuth facade should not be used anymore, over laravel guards. The only reason to use it is if  you are using <5.2

[2017-04-24 22:56] #1102 closed

[2017-04-24 22:57] Szasza commented on #1102
Fair enough, thank you.

[2017-04-25 08:31] sandipsapkota1 opened #1131 "Reduce Token Size"
please anybody help me how to reduce token size.

It is 268 character long now. I need only about  6 to 12  characters long

[2017-04-25 08:33] sandipsapkota1 commented on #1111
this issue was due to , JWT key missing.

[2017-04-25 08:33] #1111 closed

[2017-04-25 13:21] raniesantos opened #1132 "Make error response key configurable in config/jwt.php"
I found these lines in `tymon/jwt-auth/src/Middleware/BaseMiddleware.php` and I thought it would be useful if the `'error'` array key could be configured.

In my particular use case I'm catching most of the responses and errors with axios interceptors and I want to set a uniform key to identify them by.

[code]

[2017-04-25 14:05] akkhan20 commented on #1131
You will eliminate the whole purpose of it if you somehow get it to 6-12 characters

[2017-04-25 15:11] sandipsapkota1 commented on #1131
can u tell me , how to do it

[2017-04-25 22:34] bradders commented on #768
@tdhsmith @Frondor Apologies for digging up an ancient issue, but I think I'm having similar issues. When I pass a plain text password to `attempt()` it works, but passing a hashed password from my DB fails.

You mention this is a problem elsewhere the auth settings, could point to where?

I'm currently using: `$jwt->attempt($request->only(["email", "password"]))` and I'd like to be able to pass i

[2017-04-25 23:23] fredroo commented on #1130
same problem, for me use require in composer.json with:

"tymondesigns/jwt-auth": "1.0.0-beta.3"

[2017-04-25 23:28] fredroo opened #1133 "Laravel 5.4 work only with beta version"
for generate key is `php artisan jwt:secret`

[2017-04-25 23:41] fredroo commented on #1133
[Symfony\Component\Debug\Exception\FatalErrorException]
  Class 'Tymon\JWTAuth\Middleware\BaseMiddleware' not found

[2017-04-25 23:42] fredroo commented on #1133
@tymondesigns

[2017-04-26 00:33] fredroo commented on #1133
@lucasmichot

[2017-04-26 02:00] karmamaster opened #1134 "How to get created Token"
Hello,
Can I get tokens which created by JWT-Auth? I have tried to look at google but no luck to me.

Thanks

[2017-04-26 05:00] jonagoldman commented on #1134
Can you explain a bit more? Have you looked at https://github.com/tymondesigns/jwt-auth/wiki/Creating-Tokens

[2017-04-26 14:41] jonagoldman commented on #1131
JWT is an industry stardard. https://tools.ietf.org/html/rfc7519 you can't just somehow reduce the size of it.

[2017-04-27 03:45] ittikorns commented on #1036
I'm on the latest branch and experiencing the same problem. Manually refresh the token with default configuration doesn't invalidate the old token when cache driver is ARRAY. The only solution so far is to change the CACHE_DRIVE=file.

[2017-04-27 08:22] karmamaster commented on #1134
Yes, I took a look in jwt-auth Wiki.
My question means: I want to get the token currently available on server.
But can you told me how can I get the content of token string like this website: jwt.io?

[2017-04-27 12:31] gouravnema commented on #1134
Yes, I took a look in jwt-auth Wiki.
My question means: I want to get the token currently available on server.

          secret.
But can you told me how can I get the content of token string like this website: jwt.io?

[2017-04-27 13:53] jonagoldman commented on #1134
Well, as I said, to get a token like you see in that website you use one of the methods provided by this package:

[code]

but again, I get the feeling you don't completely understand how JWT works and you didn't read the docs. JWT is stateless, it is not saved in the database automatically for you, you can if you want but thats not the point of it.

[2017-04-27 15:24] rraspo commented on #1133
I'm using it with L5.4 and it works fine. Maybe you are having a namespace issue?

[2017-04-27 21:12] akkhan20 commented on #768
@bradders You dont provide the hashed password to
`$jwt->attempt($request->only(["email", "password"]))`
it is basically for authenticating the user so when you pass the plain text password it gets hashed and matched with the hash in db and you can proceed. if you pass a hashed password it will be rehashed as it is supposed to take plain text and it will fail for sure.

[2017-04-28 20:22] iamface opened #1135 "ttl => null results in ["token_invalid"]"
Hello,

I've been using this package and it has worked great with the default setting
`'ttl' => env('JWT_TTL', 60),`. When I try to remove the time to live and set it to null, the response is always `["token_invalid"]`. Is there something else in the config that needs to be changed as well?

Thanks

[2017-04-28 21:00] akkhan20 commented on #1135
yes you need to edit the token parameter in config that saves the expiry time

Sent from iPhone

On 29 Apr 2017, 1:22 AM +0500, Jared Ivory <notifications@github.com>, wrote:

[2017-04-28 21:45] iamface commented on #1135
Are you referring to the `ttl` parameter or something else?

[2017-04-28 21:49] akkhan20 commented on #1135
sorry i didn't remembered the exact parameter earlier it is 'required_claims' in the config and you need to remove 'exp' from that array

Sent from iPhone

On 29 Apr 2017, 2:45 AM +0500, Jared Ivory <notifications@github.com>, wrote:

[2017-04-28 21:53] iamface commented on #1135
Yep that did it. Thanks @akkhan20!

[2017-04-28 21:53] #1135 closed

[2017-04-28 21:56] #1116 closed

[2017-04-28 21:56] #1117 closed

[2017-04-30 03:32] codex-corp commented on #860
Thanks, very helpful guide.
the below works for me!
[code]

[2017-04-30 05:41] bahman2216 commented on #1130
Same problem.
I just install **"namshi/jose": "^7.2"** But have a new problem:
`- tymon/jwt-auth 0.5.11 requires namshi/jose 5.0.* -> satisfiable by namshi/jose[5.0.0, 5.0.1, 5.0.2] but these conflict with your requirements or minimum-stability.
`

[2017-04-30 08:42] rohan-deshpande commented on #880
Something I've JUST noticed about this, if you are using https://github.com/barryvdh/laravel-cors, make sure to your your `cors` middleware declaration BEFORE your `jwt` ones. This had me super confused for a while today

[code]

NOT

[code]

[2017-04-30 13:25] Martha-91 commented on #814
is there any solutions to this issue ?

[2017-04-30 14:49] mikepsinn commented on #814
@Martha-91 Actually, disabling blacklisting ended up not working for me either.  I had to just stop using JWT.

[2017-04-30 17:49] robertmain commented on #724
I'm just chipping here to say that I too, have been having this problem.

My "user" model lets users login just by typing in a 6 digit code. Therefore, Laravel is none too happy when I point it at the model for this...which doesn't include a password field.

Do I need to create a new UserProvider that somehow returns my model? I'm feeling a bit lost here.

[2017-04-30 18:17] Martha-91 commented on #814
@mikepsinn it works with me when token is valid but when credentials or token are not correct , it throw an error which I couldnot handle , but now I can handle YAY, what is blacklisting ?

[2017-04-30 19:16] mikepsinn commented on #814
@Martha-91 https://github.com/tymondesigns/jwt-auth/issues/814#issuecomment-246937791

[2017-05-01 14:19] kwinkel opened #1136 "[Help] Steam Login + JWT"
Hello,

I'm struggling with my following task:
I want to build an API which is restricted for different roles.
To authenticate a User, I want to use JWT in the request header to validate an user request.

Steps:
* User logs in with Steam Auth at API.MyApp/auth/steam (using "invisnik/laravel-steam-auth": "2.*")
* Redirect to Frontpage.MyApp/login/token/{Token} to safe this with user storage (angula

[2017-05-01 14:33] shah-newaz commented on #35
Hi! Any news on this?
When I'm doing a authentication and sending token as response to JS app, it works fine.
The JS app sets the cookie and sends it with header.

However, when I set it from Laravel using Laravel cookie helper, it gives me 'Wrong number of segments'

This is what fails currently

[code]
I can verify the token is being generated correctly and the JS app is returning the cookie gen

[2017-05-01 17:40] ashutoshSce opened #1137 "error in reset claims"
in file Factory.php
[code]

empty claims before creating payload based on $resetClaims flag

[2017-05-01 18:10] tymondesigns commented on #1136
Looking at your user model, you are not importing a few things such as `Authenticatable`, `Authorizable`, `CanResetPassword`, `Notifiable` etc.

See here for a clue https://github.com/laravel/framework/blob/5.4/src/Illuminate/Foundation/Auth/User.php

[2017-05-01 18:11] tymondesigns commented on #1137
not sure what your point is?

[2017-05-02 03:46] pipriles commented on #798
I have the same issue with the google api, namshi/jose 5 has a dependecy which uses a php 5 style of constructor and i have php 7, i need namshi/jose 7 but i cannot install it because the conflict.. :(

[2017-05-02 09:05] kwinkel commented on #1136
Thanks!

I've updated my gist to the actual setup.

Working now:
* Steam Login outputs token

Not working:
* when I try to authenticate a User with a Token (AuthController#index), the User Object stays empty..

[2017-05-02 13:44] adamtomat commented on #1122
Ran into the same conflict with `namshi/jose` when using Laravel's Passport package.

This is because `namshi/jose` at `^5.0` requires `"phpseclib/phpseclib": "~0.3"` (see https://github.com/namshi/jose/blob/5.0.2/composer.json#L24).

However Passport requires `"phpseclib/phpseclib": "^2.0"` (see https://github.com/laravel/passport/blob/v2.0.6/composer.json#L27).

This means that I am unable to in

[2017-05-02 18:12] caposaric commented on #1026
For the record, I ended up using jwt-auth development branch and setting up JWTGuard, as suggested in #860. The guide is written for Laravel 5.3, but worked well with 5.4. Now I'm able to use Authorization header and Laravel's Auth facade to access current authenticated user.

[2017-05-02 19:13] ashutoshSce commented on #1137
in file Factory.php

Current code
[code]

Expected Code
[code]

emptyClaims before creating payload...

This is my point bro :)

[2017-05-03 00:42] blakethepatton opened #1138 "Wiki Change [enhancement]"
On installation you advise to edit composer.json to add the dependency and then run `composer update`. Some people might not want to update all their dependencies due to possible project requirements. I'd supplement the wiki by saying that a user might just run the command: `composer require tymon/jwt-auth` in order to install jwt-auth.

Also the app service provider section could be changed to `T

[2017-05-03 13:43] hugo1337 commented on #935
Hi i followed your steps
1) is correct
2) is correct
3)
    'providers' => [
        'users' => [
            'driver' => 'eloquent',
            'model' => App\User::class,
			'table' => 'users',
        ],

and still invalid_credentials :(

[2017-05-05 15:27] 3lpsy commented on #917
I would like some advice on this approach.

Create two custom extra claims: mfr for multi-factor required, and mfs for multi-factor satisfied. When a user logins in with password, within the token, add the mfr required claim as either 'sms', 'email', 'totp', or 'authy', an array of these values if requireing more than 2, or false/empty array if mfa is disabled. Then add an mfs claim as false or em

[2017-05-06 07:34] sukhpreetmcc commented on #860
@kofikwarteng Hi, did you find any way out?

[2017-05-06 21:34] XcOdeTanzania commented on #841
@paxku Thank you very much for the share....

[2017-05-08 07:30] shamir92 opened #1140 "( ask ) Criteria Token is Invalidate"
Dear all , i like to ask, what is the criteria that a token is invalidate ?

thanks

[2017-05-08 07:31] sandipsapkota1 opened #1141 "Guys , Help Me how can i save last_login"
I need to store last_login timestamp
after the user logins through the jwt.auth  .

How can i save it to users table ,  last_login  column?

[2017-05-08 11:36] johannesschobel commented on #1141
Hey @sandipsapkota1 ,

you can do something like this in your `AuthController`. Look for your `authenticate()` method (wherever this method is located - i do not know your application).
However, this method should authenticate a `User` based on the provided credentials (e.g., via an `AuthRequest`).

When creating the JWToken (e.g., via `$user = JWTAuth::toUser($token)` you can do something like th

[2017-05-08 13:53] seandelaney opened #1142 "Another Token blacklisted issue using Laravel 5.4"
Using Laravel 5.4 with `"tymon/jwt-auth": "dev-master"`

I have a `/refresh` route setup as follows:

[code]

When a user has logged in, I get back a token so that all works fine.

However, when the token expires, my refresh endpoint is called but I get back a `TokenBlacklistedException`.

My controller refresh is as follows:

[code]

I've spent hours reading over everyone else's issue and Googlin

[2017-05-08 14:55] sleyther opened #1143 "ErrorException in IlluminateAuthAdapter.php line 26"
Argument 1 passed to Tymon\JWTAuth\Providers\Auth\IlluminateAuthAdapter::__construct() must be an instance of Illuminate\Auth\AuthManager, instance of EarthCam\Auth\Auth given

Is there any solutions

Thank you

[2017-05-08 15:37] MostafaAttia commented on #822
I use `$user = JWTAuth::parseToken()->toUser();` in my controller method to fetch the current user and it is working fine, while the route to this method is protected by jwt middleware.

[2017-05-08 16:05] SolidXnake commented on #1110
You have to get the user model or created if doesnt exist, after that, when you get the user class referred use the following method:  JWTAuth::fromUser($user), where $user, as I said before, is your user model

[2017-05-08 19:32] allanxp4 opened #1144 "Laravel 5.4 Incompatiblity: Illuminate\Foundation\Application::share()"
To reproduce:

- Start a new Laravel 5.4 Project.
- Follow the jwt-auth instructions.
- On the step "php artisan vendor:publish --provider="Tymon\JWTAuth\Providers\JWTAuthServiceProvider"
you get a exception "Call to undefined method Illuminate\Foundation\Application::share()"

Searching from this problem on other repositories (like https://github.com/willvincent/feeds/issues/24), it seems like th

[2017-05-08 21:45] tremby opened #1146 "Generate a token which cannot be refreshed?"
While allowing regular tokens to be refreshed within the amount of time listed in the config file (`refresh_ttl`) is there a way to generate a special token which cannot be refreshed?

[2017-05-09 12:13] kwinkel commented on #1136
[code]

results in a valid user and token response, but when I try to authenticate THIS token, I just receive an empty object (print_r prints "1")

using `JWTAuth::parseToken()->authenticate()`
token is set, checked with `JWTAuth::getToken()`

[2017-05-09 15:43] INGCRENGIFO commented on #281
@tdhsmith Thank you very much, I did not know that field was used, now everything makes sense. xD

[2017-05-09 17:24] Hretic opened #1147 "generated tokens on the localhost are valid on the server !"
im writing  api for a mobile app , the backend website is written in laravel .

so im JWTAuth for authentication like this

    function  auth()
    {
        try {
            if(!$user = JWTAuth::parseToken()->authenticate())
            {
                return  ('login or register');
            }
        }
        catch (JWTException $e )
        {
            return   ('token is invalid');

[2017-05-09 22:49] hpaknia commented on #769
Isn't this issue fixed yet?

[2017-05-10 05:48] north9527 opened #1148 "Token_not_provided"
![token_not](https://cloud.githubusercontent.com/assets/9986214/25884757/2d196e1e-3587-11e7-83af-cce124fce366.png)
[code]
[code]

[2017-05-10 09:21] xzones2014 commented on #1148
check your auth controller

[2017-05-10 14:33] rickshawhobo commented on #1142
@seandelaney Check your `refresh_ttl` config it may be un-refreshable if it's too short.

[2017-05-10 15:45] mihailomisic opened #1149 "JWT_BLACKLIST_GRACE_PERIOD not working when refreshing tokens"
#### I'm using:
- **Angular 4.1.1** (front-end)
- **Laravel 5.4.19** (back-end / api)

#### Situation:
Every HTTP Request in Angular is wrapped with a interceptor that checks the current token using [angular2-jwt](https://github.com/auth0/angular2-jwt) _(v0.2.3)_.
If the token has expired a new Request is sent to the API to refresh it using this package
_(v1.0.x-dev 9f759fe)_.
The problem starts w

[2017-05-10 16:41] #1136 closed

[2017-05-10 20:01] rickshawhobo commented on #1149
@mihailomisic Check your refresh endpoing. If you're seeing `JWTAuth::refresh(true)` then it means the blacklist is forever and the grace period is ignored.

[2017-05-10 21:46] rickshawhobo commented on #1147
If you have the same JWT_SECRET on local and live then yes the token is valid for that user id.

[2017-05-11 07:57] materliu opened #1150 "Make "Creating Tokens" wiki page clear"
at the wiki page last,  `Creating a Token based on anything you like`, if I really want to get the token string, I need to invoke token->get(), it's not clear there.

[2017-05-11 09:09] mihailomisic commented on #1149
Hmm it's a bit different. Let me explain the process I'm currently refreshing the token.

#### Ahhhh writing this I've solved my problem thanks to you pointing out the refresh part!

On each request Angular checks if the token is valid, if it's not my HttpService sends a request to my api targeting the `Route::post('refresh-token', 'Api\ApiLoginController@refreshToken')` endpoint with the token in

[2017-05-11 09:09] #1149 closed

[2017-05-13 01:31] rw3iss commented on #341
To solve this I just had to encrypt the created user's password, ie. within the signup() controller call:

[code]

[2017-05-13 16:19] sayber opened #1151 "Non-static method JWTAuth::attempt()"
`Non-static method Tymon\JWTAuth\JWTAuth::attempt() should not be called statically`

`
use Tymon\JWTAuth\JWTAuth;
....
 if (!$token = JWTAuth::attempt($credentials)) {
                return response()->json(['error' => 'invalid_credentials'], 401);
 }`

app.php
`'JWTAuth'      => Tymon\JWTAuth\Facades\JWTAuth::class,`

[2017-05-13 16:42] jonagoldman commented on #1151
You need to
[code]
instead of
[code]

because you have already added the ```JWTAuth``` alias to 'app.php'.

[2017-05-13 16:50] MartinPeverelli commented on #758
I know this is closed, but just wanted to add my 2cents.

This is how I resolved the `actingAs` in order to use it with jwt-auth.

https://gist.github.com/MartinPeverelli/73408c62c856897531950333ca378db4

Then, in a test, I can simply do as usual:

[code]

Hope it helps!

[2017-05-13 16:50] sayber commented on #1151
![Image of Yaktocat](https://2.downloader.disk.yandex.ru/preview/ae2862ecc55da9978e624694bc8f8615ecf20f7a677784747ffd27504cbda8b7/inf/OrGjIF2v_REC8MIeD1_feVz2ftvcJWN9H_EC4GJRWthdO2LQd8JseSGBuuaxhD3bqJKwXf8-sI_alyvt61RxaA%3D%3D?uid=0&filename=2017-05-13_19-49-46.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&tknv=v2&size=XXL&crop=0)

[2017-05-13 16:58] jonagoldman commented on #1151
Oh, are you using ```1.0.0-beta``` or ```0.5.11```?

[2017-05-13 16:59] timbroder commented on #758
@andreliem agree with you 100% there (sorry missed the notification for your message)

[2017-05-13 17:05] sayber commented on #1151
0.5.11

[2017-05-13 17:05] sayber commented on #1151
This works, then embarrasses the code highlighting

[2017-05-13 20:19] nook-ru commented on #891
Seems like it can be done in RefreshToken middleware replacing [`$token = $this->auth->parseToken()->refresh();`](https://github.com/tymondesigns/jwt-auth/blob/develop/src/Http/Middleware/RefreshToken.php#L35) with something like this:

[code]

[2017-05-13 21:40] giolf opened #1155 "Use keyTrait"
Hi all,

I saw in the last commit that was added a "cookie KeyTrait".
I don't understand how to use it ...

I would like to use the `jwt.auth`middleware with also the possibility to send the token by cookie and not just also in the header o by query string.

thanks

[2017-05-13 22:03] Hretic commented on #1147
thanx that explains it !

[2017-05-13 22:03] #1147 closed

[2017-05-14 07:56] giolf opened #1156 "jwt installation"
I follow the wiki ... to setup jwt-auth.
But ... i think i've an old version because if i check in the middleware folder i've for example this one:
- GetUserFromToken
So ... ho can i've the right version of jwt-auth ?
my current version is: `0.5.11`

[2017-05-14 11:54] TuHeri14 commented on #1156
@giolf add "tymon/jwt-auth": "dev-develop" to composer and update but first remove the jwt package before running it to prevent confliction of packages.

[2017-05-15 17:05] james2doyle commented on #206
I used this based on what @SomethingWrong posted:

[code]

[2017-05-15 17:54] yelnyaface opened #1157 "cannot remove this package, keep getting [Symfony\Component\Debug\Exception\FatalThrowableError] Class 'Tymon\JWTAuth\Providers\JWTAuthServiceProvider' not found"
[Symfony\Component\Debug\Exception\FatalThrowableError]
  Class 'Tymon\JWTAuth\Providers\JWTAuthServiceProvider' not found

FatalThrowableError in ProviderRepository.php line 146:
Class 'Tymon\JWTAuth\Providers\JWTAuthServiceProvider' not found

[2017-05-15 18:32] yelnyaface commented on #1157
I tried to upgrade from `"0.5.*"` to `dev-develop`, and then `composer update` the `composer.json`,

then everything turn to shit

this:

[Symfony\Component\Debug\Exception\FatalThrowableError]
Class 'Tymon\JWTAuth\Providers\JWTAuthServiceProvider' not found

wont go away, cant uninstall or remove it, because of this

[2017-05-15 18:37] yelnyaface commented on #1157
`Writing lock file
Generating autoload files

  [Symfony\Component\Debug\Exception\FatalThrowableError]
  Class 'Tymon\JWTAuth\Providers\JWTAuthServiceProvider' not found

Script php artisan optimize handling the post-update-cmd event returned with error code 1`

here is the `post-update-cmd`

`        "post-update-cmd": [
            "Illuminate\\Foundation\\ComposerScripts::postUpdate",

[2017-05-15 20:27] yelnyaface commented on #1157
I have a backup using `o.5.*`, and when I do `composer remove`

I still get:
[code]

this is my composer.json:

[code]

[2017-05-15 22:01] tremby opened #1158 "'exp' claim given in addClaims gets overridden by config in certain cases"
I'm trying to make a token with some custom claims, and no subject, as an email validation token.

This is the code I'm currently using:

[code]

I found that without the `'sub' => null` part it would fail, saying some of the required claims weren't present. That's OK -- passing null in this case is fine with me.

I expect the `exp` to work here, overriding the configuration, but it does not. The

[2017-05-15 23:10] tymondesigns commented on #1158
Just having a quick look, it looks like you also need to remove `exp` from the default claims using `$factory->setDefaultClaims()`

[2017-05-15 23:12] tremby commented on #1158
Shouldn't those in `addClaims()` override the defaults?

[2017-05-15 23:15] tymondesigns commented on #1158
Btw that method is only available in the 1.0 releases.

The reason they are not overridden in that case is because addClaims is called when make() is called, thus overwriting any previously added claims, if that makes sense

[2017-05-15 23:16] tymondesigns commented on #1158
And custom claims are added on top of that, which is why it works when using that setter

[2017-05-15 23:26] tymondesigns commented on #1158
Ultimately, the customClaims() method should be used to add claims, not the addClaims() method (I know that sounds weird). In fact I might make it protected in the next release so as to avoid confusion. I might also add a removeClaim() method or something to help with some situations

[2017-05-15 23:32] tremby commented on #1158
OK, the following works:

[code]

I could have sworn I had already tried this and that the `customClaims` method didn't exist at that point, but I guess I was trying to call it on the wrong object.

Go ahead and close this, unless you want to keep it as a reminder to make that method protected.

[2017-05-16 07:01] jackboys000 opened #1159 "multiple user auth, use Auth::guard not TokenExr"

[2017-05-16 07:07] jackboys000 commented on #1159
how to refresh when the token expired?
how check token expire use multiple auth

[2017-05-16 07:18] jackboys000 commented on #1159
I want to customize a middleware, extends BaseMiddleware, but auth.php defaults guard is users,I want both admins and users to use it

[2017-05-16 07:26] jackboys000 commented on #1159
[code]

[2017-05-16 07:36] jackboys000 commented on #1159
i use "tymon/jwt-auth": "^1.0@dev"

[2017-05-16 09:16] jackboys000 commented on #844
谢谢你的解决方案。

[2017-05-16 13:51] jackboys000 commented on #860
How did you get the jwt multi-auth guard to work. I've implemented something similar but the only guard that works is the one with the User model. The other guard doesn't work, it throws an error.
期待更好的解决方案

[2017-05-16 14:23] jackboys000 commented on #1159
ooo, It doesn't look very smooth.
How can I use JWT for both the tables in Laravel 5?
users and admins table identifier are all the same

[2017-05-16 14:32] jackboys000 commented on #1159
i know a little english , but not much
please forgive me for my unclear expression

[2017-05-17 16:06] francisrod01 commented on #186
@unnutz I use the same implementation bug the token always return `TokenExpiredException` throw.

My doubt is: *What else could I do to update an expired token?*

[2017-05-17 17:38] francisrod01 commented on #1151
@sayber this is solved?

[2017-05-17 17:57] francisrod01 commented on #83
No, this is not solved yet because doesn't possible generate new tokens while the old has expired.

[2017-05-17 18:00] francisrod01 opened #1160 "Refresh token Is stable with Laravel 5 master?"
I implement http interceptor with AngularJs to refresh token always that a call to anywhere request at API returned `401 Unauthorized` status code... but always that my application call to refresh token, a `TokenExpiredException` is returned. What's happening with refresh token? 0.o

**Step 1)** - I updated today the composer packages:

Package operations: 1 install, 0 updates, 0 removals
  - Inst

[2017-05-18 02:29] wisarmy opened #1161 "Unresolvable dependency resolving [Parameter #0 [ <required> $app ]] in class Illuminate\Cache\CacheManager"
![image](https://cloud.githubusercontent.com/assets/5906470/26183998/bb45812c-3bb4-11e7-8d1e-01500b19482b.png)
lumen 5.2

[2017-05-18 15:18] kwinkel opened #1162 "Middleware returns "Unauthenticated.""
When I enable the middleware `auth:api` I just get "Unauthenticated."

Tried with ?token={token} and via Header

without this `auth:api` middleware, I am able to manual check this with
[code]
This returns valid information and authentication.

Did I miss something related to enable this middleware?

config\auth.php
[code]

App\Http\Kernel.php
[code]

[2017-05-18 16:23] kwinkel commented on #1157
Maybe you forgot to remove the providers/aliases from your config\app.php

[2017-05-18 16:41] yelnyaface commented on #1157
I fixed it with manually deleting the cached config file in the folder, seems no other way can fix this

[2017-05-18 17:27] francisrod01 commented on #1160
I solved this with this issue: #700 and set correct values to the `jwt.php` file.
I was confuse and I added the same value to `ttl` and `refresh_ttl`. This was having wrong.

[2017-05-18 17:27] #1160 closed

[2017-05-20 11:00] aniljaiswal commented on #716
Have you guys found a solution yet? I too have disabled the `jwt.refresh` middleware and currently extended the life of token to 2 weeks.

[2017-05-20 12:33] rdpascua commented on #716
Still doesn't have a decent solution @aniljaiswal what I did is I extend the 30 days similar to oauth lifespan period. But I'm still looking for decent solution for this.

[2017-05-20 21:31] yammadev commented on #1133
@rraspo Could you share your code to figure it out how to use it with L5.4?

[2017-05-21 15:33] kwinkel commented on #1162
Got it, mistake in my user provider

[2017-05-21 15:33] #1162 closed

[2017-05-22 11:03] JesusGR4 commented on #1148
What kind of frontend are you using?
When I use Angular, I have to add a header like this ->
`'Authorization': "Bearer "+'{your token}'` for providing the token

[2017-05-22 12:28] pvanhemmen commented on #1105
Yes that's the thing that confuses me the most, too. While jwt-auth has the possibility to refresh the token if it's expired, it's not doing this by using a seperate refresh token, right? So all I can do is check the token itself for validity and issue another one with the response if it's expired.
In the Application I then have to set the token to whatever comes with the response. That's how I un

[2017-05-22 22:53] Mando-Chris commented on #1083
Just a note as to how we worked around this.  Added some middleware to our admin routes that changes the JWT secret. So tokens created for admin users and normal users are no longer interchangeable.

A quick fix for us.

[2017-05-23 11:08] hsander opened #1163 "Add an arbitrary token to the black list"
There is the possibility of authorization from different devices, it is necessary that when you enter from another device, the previously stored token of another device gets blacklisted. There is a method (JWTAuth::blacklist(); ), which adds the current token to the black list. But how to add an arbitrary token (stored in the database) to the black list.
`
JWTAuth::blacklist();
`
But how to do thi

[2017-05-23 11:41] BetaConnector opened #1164 "jwt-auth + lumen possible without memcashed?"
Hey, is ist possible to run jwt-auth without memcashed enabled on the server?

I have no chance to get memcashed running on php7 so I would like to use it without it.

Thanks in advanced :)

[2017-05-24 10:29] naneri commented on #935
I have the same problem

[2017-05-24 10:51] vishalVDevmurari commented on #1089
Execute:
php artisan vendor:publish --provider="Dingo\Api\Provider\LaravelServiceProvider"

In config/api.php

'auth'=>[], Add ['jwt' => 'Dingo\Api\Auth\Provider\JWT'],

[2017-05-25 10:28] renandiett commented on #1065
I have the same issue. I do not know how to get the new generated token and pass to final user.

[2017-05-25 18:25] Irfanbsse2060 opened #1165 "saving token in cookie"
I have a website . i am using  jwt in my website instead of express-session. i know we can store token either in local storage or cookie. I want to know how to store the token in cookie? should i have to use some front end technology like for this purpose or i can do it with node? Main question is how to store token in cookie ?

[2017-05-25 20:06] vlafranca commented on #540
Hi,
I know this is a old thread but there is an attribute in the config.php file to handle this :

[2017-05-26 22:15] jehadja opened #1166 "2 Frontend Issue"
First i am sorry for my English its not my native language .

I am using JWT-Auth on my project based on Laravel 5.2 it work perfectly thanks a lot for you works 👍
in my application i have notification + chat  (real time) i connected web frontend with NodeJs + Redis + socket.io to secure connection with Node Server and be sure from user who will receive notification and chat i connected socket.io

[2017-05-27 10:04] Blowedminds commented on #184
I have an issue about changing $primaryKey. After changing primaryKey in User Model to 'user_id, JWT creates a token but cannot authenticate the user as returning 'user_not_found'. When I look up the token, sub value is just my user's id, not user's user_id. Then I changed the jwt-auth\src\config\config.php file identifier from id to user_id. However still in the token, sub is my id column. Why is

[2017-05-28 00:17] n0490b commented on #1036
I'm using Lumen 5.4 and the latest jwt-auth beta and I am experiencing the same problem. I have to change it to `file` to get it to work otherwise the token doesnt get blacklisted

[2017-05-29 04:00] yash2code opened #1168 "How do i fetch data from related tables of user ?"
I am successfully getting the information from user table but what if I want to fetch data from friends table respect to user ? How do i do that?

[2017-05-29 17:26] Petronetto commented on #1168
If I understand what you want, you can simply do `$user = JWTAuth::parseToken()->authenticate();` and so `$user->friends`, as you can see here: https://github.com/tymondesigns/jwt-auth/wiki/Authentication

[2017-05-29 18:10] KawtharE opened #1169 "Laravel 5.4 publish command does not generate the jwt.php file"
Hi there,
I am trying to work with **jwt-auth** for my Laravel5.4-AngularJS application.
Steps i have done till now to add jwt-auth:
1- I have added: `"tymon/jwt-auth": "0.5.*"` to the` 'require'` section in **composer.json** .
2- Update composer:` composer update`
3- Edit **config/app.php** by adding:
' `Tymon\JWTAuth\Providers\JWTAuthServiceProvider::class,`' to `'providers' `array
and
[code]
to

[2017-05-30 08:54] KawtharE commented on #1169
I have solved the problem :)
In fact i did not work with other version of Laravel, but for Laravel 5.4 before typing in th command: `php artisan vendor:publish --provider="Tymon\JWTAuthProviders\JWTAuthServiceProvider"`
I have to type the same command without the provider parameter first : `php artisan vendor:publish`
And that solved my problem and now **jwt.php** is generated in the config folder

[2017-05-31 11:57] yeenotgithub opened #1179 "Access only page - avoid including token via a query string"
I want to access a page (basically a view page like admin dashboard after logging in) without including token via a query string like

http://api.mysite.com/me?token={yourtokenhere}

because every time I would access another page under admin would always require including token via a query string. Is there any alternative to avoid it? Are there any methods that would allow it? For me it would be u

[2017-05-31 14:12] stigfaerch opened #1180 "When refreshing token - the token size about doubles."
When I try to refresh the token, its size a little more than doubles. The third time I try to refresh I get Forbidden.

This is my login method in AuthController:
[code]

And this is my method for refreshing the token:
[code]

[2017-06-01 09:38] #1163 closed

[2017-06-01 17:51] springjk commented on #964
[code]

that work for me.

[2017-06-01 18:35] aftabnaveed commented on #675
I know this issue is closed. I did install the latest version namshi.jose 7.2.3, but still my dependencies are not resolved. Here is what I get.

[code]

[2017-06-01 18:53] aftabnaveed commented on #675
OK I was able to fix it by requiring ```"tymon/jwt-auth": "1.0.0-beta.3"```

[2017-06-02 00:32] KawtharE opened #1182 "JWTAuth::fromUser($newUser) does not work in jwt-auth 1.0.0-beta.3"
Hello,
I am using jwt-auth v1.0.0-beta.3 with Laravel 5.4 and AngularJs for registration action.
In the authentication controller in backend (Laravel) this is the registration function:
`      public function register(RegisterRequest $request)
      {
        $newUser = $this->user->create([
          'name' => $request->get('name'),
          'email' => $request->get('email'),
          'password

[2017-06-02 13:58] #1182 closed

[2017-06-03 00:00] NNBMon opened #1184 "Laravel 5.4 not working custom render function in Handler.php (Exception not called)"
Hello guys. I need help for this. I wrote this codes in Handler.php that is not working :

public function render($request, Exception $exception)
{
   console.log('Log here');
   $exceptionClass = get_class($exception);
   $exceptionMessage = $exception->getMessage();
   $exceptionCode = $exception->getCode();

   switch ($exceptionClass) {
    case 'Tymon\JWTAuth\Exceptions\TokenExpiredException'

[2017-06-03 20:26] user498452 opened #1185 "Does the refresh_ttl reset when the token is refreshed?"
For example, if I have these settings:

- `ttl => 5`
- `refresh_ttl => 60`

And the user initially logs in at `12:00`, then the token will expire at `12:05` and the user has until `13:00` to refresh the token.

If the user refreshes the token at `12:15`, does the `refresh_ttl` get reset, so that the user has until `13:15` to refresh the token, or does it stay at `13:00`?

Because currently, my cod

[2017-06-03 20:30] akkhan20 commented on #1185
obviously it will send a new token with changed 'TTL' are you getting the new token and attaching the new token with subsequent requests?

[2017-06-03 20:33] user498452 commented on #1185
Yes, I use the new token in every new request, but I think you might be confusing my question.

I'm asking if the `refresh_ttl` gets reset when the user refreshes their token?

So if the user initially logs in at `12:00` (which means that they have until `13:00` to refresh the token), and the user refreshes their token at `12:30`, does the `refresh_ttl` get set back to `13:30` or does it stay at `

[2017-06-03 21:26] akkhan20 commented on #1185
it gets to 13:30

[2017-06-03 21:28] user498452 commented on #1185
Okay, then that's my problem, and I'm not sure why.

For some reason, my `refresh_ttl` doesn't get reset when the user refreshes their token.

If a user initially logs in at `12:00`, and then refreshes the token at `12:55`, they will **still** be logged out at `13:00` and the server will return `token_expired`.

@tymondesigns Any ideas why this might be happening given my code?

[2017-06-03 22:16] tymondesigns commented on #1185
@akkhan20 is incorrect. Your experience is as expected (although I can see why you would think otherwise)

It's something I'm considering at the moment. I'm thinking of a few options.

One of which is making the behaviour follow your example, where after a refresh, the token `iat` claim is extended and further refreshes simply extend that time frame.

Another option is to have a totally separate r

[2017-06-03 22:19] tymondesigns commented on #1179
There are may ways to pass a token in the request besides query string. e.g. Auth headers, route params, cookies and post parameters.

Take a look here https://github.com/tymondesigns/jwt-auth/tree/develop/src/Http/Parser

[2017-06-03 22:20] #1169 closed

[2017-06-03 22:21] tymondesigns commented on #1168
this is a generic laravel question. see https://laravel.com/docs/5.4/eloquent-relationships

[2017-06-03 22:21] #1168 closed

[2017-06-03 22:21] user498452 commented on #1185
Thanks for the clarification.

It definitely makes more sense for the `iat` to extend after an auth token is refreshed. I'm surprised that that's not what it already does.

[2017-06-03 22:22] tymondesigns commented on #1164
memcached is not required. You can use any laravel cache driver

[2017-06-03 22:22] #1164 closed

[2017-06-03 22:22] user498452 commented on #1185
I don't really want to force my users to have to re-login unless absolutely required, so can `refresh_ttl` be set to `null`?

[2017-06-03 22:25] tymondesigns commented on #1185
@user498452 yes, you could set the `refresh_ttl` to null and your token will always be refreshable.

[2017-06-03 23:07] #1185 closed

[2017-06-05 17:02] russianryebread opened #1186 "RFC7519 specifies that "sub" should be a string"
While trying to integrate with a JWT library in Java, I ran into a problem where it was expecting `sub` to be a string, but this package encodes it as a `long` (numeric).

https://tools.ietf.org/html/rfc7519#section-4.1.2

[2017-06-05 17:09] russianryebread commented on #1186
I just realized that I could comply with this requirement by returning a string in the `getJWTIdentifier()` method on my User model.

    public function getJWTIdentifier()
    {
        return "{$this->id}";
    }

[2017-06-05 17:09] #1186 closed

[2017-06-06 03:30] andikas opened #1187 "Change User Model"
Hi all,

I'm using:
"php": ">=5.5.9",
"laravel/framework": "5.2.*",
"tymon/jwt-auth": "0.5.*"

Can I change user model from App/user to App/customer (for example)?
I've changed in config/jwt file, and not working.
I search in issues, but there's no valid answer. some people say it won't work, some say it work for them.
need some suggestion about this

Thanks,
Cheers,

[2017-06-06 05:33] jsdecena commented on #206
Instead of parsing the token in the `headers`, set it as a `query` param like `..?token={token}` then have a method in a class like:

[code]

Your controller can get the `token` by invoking: `$request->input('token');` and pass it on the class you created with the `isValidToken()` method.

Hope someone finds this useful!

[2017-06-06 06:11] andikas commented on #964
Hi @springjk,

Where do I put that config?

[2017-06-06 06:26] johannesschobel commented on #964
the first part of the key (e.g., `auth` or `jwt`) marks the respective config file..
So the first 2 keys are located within the  `auth.php` config file, the 3rd one in the `jwt` config file..

[2017-06-06 10:45] tprifti opened #1188 "Return authenticated user outside main controller"
I have implemented JWT Auth in my project and is working fine. Although I'm facing an issue it may be a mistake by me : So here is the code :
[code]

What I want to achieve is to get authenticated user outside controller that handles jwt logic.
**I would like to know if JWTAuth authenticates the user, saves a session of that user , so I can fetch that user without token.**

[code]

[2017-06-06 12:59] springjk commented on #964
@andikas if you want  permanent modification it, put it in `config/jwt.php` and `config/auth.php`, see [Configuration](https://github.com/tymondesigns/jwt-auth/wiki/Configuration), if you temporary modification it (set configuration values at runtime, just use in once request), see it [accessing-configuration-values](https://laravel.com/docs/5.4/configuration#accessing-configuration-values) and do

[2017-06-06 13:08] springjk commented on #964
this is my code demo.

[code]

[code]

[code]

PS: `auth_model` is my customClaims [customClaims](https://github.com/tymondesigns/jwt-auth/wiki/Creating-Tokens#creating-a-token-based-on-a-user-object) .

[2017-06-06 13:19] donnygunawan93 commented on #1184
I have this issue also.
I try to catch in Handler.php but still return default from vendor.
Awww.

[2017-06-06 16:27] #1188 closed

[2017-06-06 16:28] tprifti commented on #1188
Basically , it was my bad understanding how JWT really works.

[2017-06-06 18:31] williamcolbert opened #1189 "Required Claims not being checked"
I noticed that the expiration checks and required claims were not being enforced.  I generated a token that only included the following payload
`
{
  "sub": 1
}
`
And then used the following code to retrieve the authenticated user:
`
 try {

            if (! $user = JWTAuth::parseToken()->authenticate()) {
                return response()->json(['user_not_found'], 404);
            }

        }

[2017-06-07 08:09] #1033 closed

[2017-06-07 09:21] andikas commented on #964
Hi @springjk,

Thanks for your help.
1. If I want go permanent modification, What should I do at config/auth.php? what should I change there?

2. With that employee middleware above, how do I go login?
I put Config::set('auth.providers.users.model', Candidate::class); before attempt the credentials, I got 'Token type invalid'.

need your help on this.
Thanks,
Cheers,

[2017-06-07 09:42] mfn commented on #499
I was hit by this problem today and the origin in my case was that in the past, the suggested `config/jwt.php` used closures like this:
[code]

This will serialized into `boostrap/cache/config.php` like this:
[code]
And this will immediately fail any action you try to perform with the framework (just remove the broken config file btw.).

My solution was to adapt the config to what is also now the

[2017-06-07 21:39] tymondesigns commented on #1130
fixed via `0.5.12`

[2017-06-07 21:39] #1130 closed

[2017-06-07 21:40] tymondesigns commented on #982
fixed via `0.5.12`

[2017-06-07 21:40] #982 closed

[2017-06-07 21:40] tymondesigns commented on #1122
fixed via `0.5.12`

[2017-06-07 21:40] #1122 closed

[2017-06-07 21:40] tymondesigns commented on #1099
fixed via `0.5.12`

[2017-06-07 21:40] #1099 closed

[2017-06-08 02:26] springjk commented on #964
@andikas

if you only want  permanent modification token auth table, you need't use  dynamic config and create custom token middleware.

you only need modification:

[code]

[code]

[code]

Don't forget : after modification, you need create a new token to test.

BTW : this is for laravel 5.1.

[2017-06-08 06:23] codetestmg opened #1191 "Unable to use JWT in Lumen 5.4 latest version"
I have am facing an error

Call to undefined function Tymon\JWTAuth\Providers\config_path() in lumen 5.4

I have already asked a question stack overflow

https://stackoverflow.com/questions/44427730/call-to-undefined-function-tymon-jwtauth-providers-config-path-in-lumen-5-4

Thanks in advance

[2017-06-08 08:54] andikas commented on #964
@springjk ,

The problem is,
I have a website that use 3 middleware. 1 for web admin, and 2 web user.
And I want to inject a Rest Api to my controller for a mobile(android) (my web mobile version) Api.
So, I don't think I can change that config/Auth. I just affraid it'll effect my web to.

So, what if I want to go with creating a new middleware for this? define in kernel (with the second option yo

[2017-06-08 09:01] zanjs commented on #1187
I have also encountered

"php": ">=5.6.9",
"laravel/framework": "5.4.",
"tymon/jwt-auth": "0.5."

[2017-06-08 09:07] zanjs opened #1192 "Creating a Token response()->json token is null"
[code]

var_dump is ok

return token is null

[2017-06-08 09:09] springjk commented on #964
@andikas in your case, you need to use dynamic config in middleware.

create your middleware like [issuecomment-306480569](https://github.com/tymondesigns/jwt-auth/issues/964#issuecomment-306480569).

go for it

[2017-06-08 09:33] andikas commented on #964
@springjk
I've done implement your suggestion.
I've create a new middleware and include a middleware.
And when I use route group with middleware ''jwt.employee.auth', the response is not exist.
when I try change it with employee.oauth, the response is token_type_invalid.
What should I do with this?

Is this because I use config when login?
`try {
            // attempt to verify the credentials an

[2017-06-08 09:45] andikas commented on #1187
@zanjs have you tried to update to 1.0 version?

[2017-06-08 10:09] andikas commented on #964
@springjk

I think, the main problem is,
when I dd($request->token) at middleware/authJWT,
it keeps return null.

do you have any idea about this?

[2017-06-08 10:22] springjk commented on #964
@andikas `Candidate::class` need do this

[code]

and `token_type_invalid ` because `auth_model` is my customClaims customClaims .

this my token create function :

[code]

[2017-06-08 10:46] sc0Vu commented on #1191
Hi,

Maybe you need to use this service providor

[https://github.com/tymondesigns/jwt-auth/blob/develop/src/Providers/LumenServiceProvider.php](https://github.com/sc0Vu/lumtify/blob/master/app/Http/Middleware/JWTAuthenticate.php)

Or you can use middleware to validate token

See:

[https://github.com/sc0Vu/lumtify/blob/master/app/Http/Middleware/JWTAuthenticate.php](https://github.com/sc0Vu/lumti

[2017-06-08 13:43] zanjs commented on #1187
@andikas No

[2017-06-08 16:43] codetestmg commented on #1191
still not working

[2017-06-08 17:38] functionpointdaniel opened #1193 "Publish middleware for custom responses"
In the wiki under the Authentication section there is info for Middleware and Filters.

Now these are references i.e. as `'jwt.auth' => 'Tymon\JWTAuth\Middleware\GetUserFromToken'`

When this is used I have no way (other than making changes in the package) of modifying how the response is assembled. It's this i.e. in the BaseMiddleware@response:

     return $response ?: $this->response->json(['er

[2017-06-08 23:50] rimantoro opened #1194 "Lumen 5.2 Testing Always Failed with "A token is required""
Hi,

I'm using 1.0dev, my unit test always failed, even token was created successfully. This happen on this line. The token is, somehow not recognized.

[code]

I have try some solution including ```refreshApplication()``` method. Is anyone have same problem and have resolve it ?

[2017-06-09 05:23] ghost opened #1195 "store token in database"
Hi guys,

when the user access the profile in web , he will found all token are connected to his account , also , he will able to destroy the token and logout from other devices .

I'm thinking to store tokens after the user log in by jwt in database , and allow user to destory them by his web account.

but I'don't know if this package is supported this idea.

I'm sorry for bad English.
Thanks alo

[2017-06-09 13:33] verwilst commented on #889
dev-develop doesn't have the second $customClaims parameter for attempt(). 0.5.x has..

[2017-06-09 15:30] mmaedler opened #1196 "Authenticate against legacy database with Lumen"
Hi there —
first of all, sorry for posting this issue. I know there are numerous issues already here that are somewhat similar. However, none of them fully answers my question.

I am using Lumen 5.4, Dingo and JWT-Auth to provide an API using a legacy user database that contains salted hashed md5 passwords of users. I know md5 is somewhat bad, but it is currently not possible to change that.

Howe

[2017-06-09 19:42] codetestmg opened #1197 "Auth guard driver [api] is not defined"
I have posted issue in stackoverflow

https://stackoverflow.com/questions/44465581/auth-guard-driver-api-is-not-defined

Thanks

[2017-06-09 21:09] SteveEdson opened #1198 "Token Invalid - 0.5.12"
After updating to 0.5.12, from 0.5.11, I'm getting the error response:

[code]

Please let me know how I can help debug this issue, all I've had to do to recreate it is switch to 0.5.12.

I'm on Laravel 5.3.31.

Thanks

[2017-06-09 22:38] ThomasRalee opened #1199 "Laravel Middleware - Json Reponse"
Hi,

I was wondering if anyone knows how I can get JSON Response for "Invalid Tokens" or "Expired Token" instead of the full html response. I am not sure if this is the right place to ask this, please redirect me.

Appreciate your help.

[2017-06-10 02:47] liuzhaowei55 commented on #1187
@andikas you can try to edit the config/auth.php there is a config about customer user model

[2017-06-10 03:23] smujaddid commented on #1199
Look at the wiki https://github.com/tymondesigns/jwt-auth/wiki/Authentication section "Global exception handling".

Hope this helps.

[2017-06-10 20:10] AlanRezende commented on #341
When I create my users using Hash:make it all works fine. Nothing else to do!

[2017-06-11 03:29] Yeenot commented on #1179
Thanks tymon! I'll check this link.

[2017-06-11 06:36] Pashtunzoy commented on #1198
I have the same issue but for now I went back to 0.5.11 until this issue gets fixed.

[2017-06-11 20:07] prionkor commented on #872
FYI: When generating a token add another field along with token for expiration unix timestamp. That way your frontend framework knows when to resend for refresh token.

[2017-06-12 05:58] ghost opened #1200 "Laravel 5.4 JWT Authentication"
I'm trying to implement JWT auth with Dingo I'm able to get the token from the user. When I try to make a request using Postman both `Authorization: Bearer {token}` & in url token param does not work. it always shows this:
[code]
This is how my routes looks like.
[code]

I've added the HTTP conf to .htaccess and the server does **gets the headers**. At least it should work with `token` param in th

[2017-06-12 06:16] ghost commented on #1200
This is the stack trace I'm getting:
[code]

[2017-06-12 07:00] prionkor commented on #1102
Anyone who stumbled upon from search engine. After spending couple of days on this I have finally set it up correctly and without any error. Find the two links below. Those should help you get it right the first time!

https://iwader.co.uk/post/tymon-jwt-auth-with-lumen-5-2
https://stackoverflow.com/questions/37448883/lumen-method-handle-does-not-exist-with-jwt-auth-done-the-middleware

[2017-06-12 07:17] prionkor opened #1201 "The Complete List of ENV Variables for jwt-auth"
What are the list of env variables for this library I can set in the `.env` file?

I know `JWT_SECRET` is the one where you can set the secret key for JWT.

[2017-06-12 07:22] prionkor commented on #773
Can anyone paste the complete jwt.php file? I am using lumen and I can not generate the config file.

[2017-06-12 07:32] prionkor commented on #1201
Find the complete list of ENV variables. Note that you do not need to set them all. Only setting `JWT_SECRET` variable works for me.

ENV Variables
-----------

`JWT_SECRET` = Used to sign tokens

`JWT_PUBLIC_KEY` = A path or resource to your public key.

`JWT_PRIVATE_KEY` = A path or resource to your private key.

`JWT_PASSPHRASE` = The passphrase for your private key. Can be null if none set.

`

[2017-06-12 07:32] #1201 closed, assigned to nobody

[2017-06-12 10:59] engsamar opened #1202 "how to use jwt-auth with two tables users and another one"
i have two table of users and admin i want to use jwt with two tables

[2017-06-12 11:13] mmaedler commented on #1191
I had the same issue and fixed it using this: https://gist.github.com/mabasic/21d13eab12462e596120

I am pretty new to Lumen so I don't know for sure, but I think the error results of a package being developed for Laravel (which has the config_path()-function) and not for Lumen (which does not have it).

Hope it helps!

[2017-06-12 14:55] ChromaticMind commented on #968
hey @microdesign,

How did you solve this?

I have the exact same issue. after `$token  = JWTAuth::fromUser($user);`  when I do `dd(JWTAuth::getToken());` it returns `false`.

This is part of an API call so not sure how to recall the same endpoint now with the token - don't think that is good practice anyway.

It would be great if you can share how you solved this issue.

Many thanks!

[2017-06-12 15:08] microdesign commented on #968
I don't remember the problem already but I solve it by adding

$user = User::find($user_id);
$token = JWTAuth::fromUser($user);

and your token is in the $token variable not use the method getToken()

[2017-06-12 15:15] ChromaticMind commented on #968
Hey!

Yes that is precisely the problem @microdesign. I need `JWTAuth:: getToken();` to return the correct token. I am doing this

$user = User::find($id);
*$token = JWTAuth::fromUser($user);
JWTAuth::setToken($token);*
dd(JWTAuth::getToken());

setToken says "The token could not be parsed from the request" and that last part returns false.

This is happening because the token is created by JWTAut

[2017-06-12 16:22] microdesign commented on #968
I can`t be sure my case is different from your - maybe the creator can answer you this

[2017-06-12 18:05] BrijeshWebDevNew commented on #1198
Thanks bro.

[2017-06-12 22:46] whoan commented on #773
@prionkor You can see it here: https://github.com/tymondesigns/jwt-auth/blob/develop/config/config.php

[2017-06-13 08:13] bul-ikana commented on #1199
Tried that, but it seems that exceptions are instances of `Symfony\Component\HttpKernel\Exception\UnauthorizedHttpException`, not from jwt-auth exception classes. Is there any other way to check what is the cause of the exception and send a related message in json?

[2017-06-13 09:08] petterkj commented on #1198
Same issue, downgraded to 0.5.11, works again now.

[2017-06-13 09:33] godruoyi opened #1203 "Regenerate token, the previous token was not expired"
When login, I use `JWTAuth::fromUser($user)`  generate token , it's ok

But when I login again， the previous token was not expired

how to delete  the previous token if request not exists `Authorization: Bearer <token>`

[2017-06-13 21:31] allrore commented on #1198
This worked for me:

I was sending the authorization header like this:
`Authorization: Bearer: TOKEN`

Now I am sending like this, without the ':' after the 'Bearer':
`Authorization: Bearer TOKEN`

[2017-06-13 21:55] shibby commented on #1198
Please read: http://semver.org/

[2017-06-14 07:03] zeusservando opened #1204 "Custom Model"
Hi anyone here knows how to config custom model? i have a custom model which is admin with the field of admin_username and admin_password but everytime  ill try to login  it gives me an error of undefined index in EloquentServiceProvider

[2017-06-14 12:52] OmarMakled commented on #1020
try this

[code]

you should get an extra claims "admin, email" when decode token

[2017-06-14 15:16] RESP3CT88 commented on #839
I have this issue as well

[2017-06-14 15:17] GregKeaney commented on #1187
Also having an issue here.  I have made the change to my custom model in config/jwt.php but the attempt is still looking in the users table not my custom one.  This doesn't appear to be as simple as changing the config...

[2017-06-15 09:02] andikas commented on #1187
Hi @GregKeaney ,

Which laravel version do you use?
you can try with config before attempt the credentials with JWT.
Thats what I do to get it working

[2017-06-15 12:02] GregKeaney commented on #1187
5.3.  It works fine out of the box  with the user model.  I created a new model and tried using it by changing the 'user' => 'App\NewModel' in config/jwt.php but get an error (column not found in select) and could see it was still looking for the user model to auth.  Seems you need to do more than just change the config file?

[2017-06-15 15:58] seandelaney commented on #1142
My `refresh_ttl` is default value:

`'refresh_ttl' => 20160,`

[2017-06-15 17:43] #1142 closed

[2017-06-16 11:43] beliolfa opened #1209 "GET 401 from proxy"
I have a customer that is behind a proxy and gets 401 when it tries to log in. Is there some extra configuration that I could do to solve this? Anybody can explain what it is happening?

Thank you.

[2017-06-16 13:00] arturcesarmelo opened #1210 "'user' key on Config/jwt.php is not working with another table."
![captura de tela 2017-06-16 as 09 46 37](https://user-images.githubusercontent.com/18191910/27227642-abea3ce0-527a-11e7-85e2-dac994ee31db.png)

As you guys can see, the key 'user' in config/jwt.php file is commented, but everything is fine. I'm still doing login and logout. In other times peoples would find me thanking god for everything is working fine. But i need to change this user for another

[2017-06-16 13:21] arturcesarmelo commented on #1202
Well... i'll tell you what i learned reading out.

For more organization i did two routes pointing to two diferents controllers (ex.: Api\UserController and Api\ClientController). In both login/logout Conttroller's methods, before attempt to login/logout, overide the key user in config/jwt.php using (if you are using laravel 5.2+, Config::set('jwt.user', Another::class);

[2017-06-16 14:24] Givemore commented on #205
you can uncomment ：//$app->register(App\Providers\AppServiceProvider::class);
in bootstrap/app.php

[2017-06-16 17:00] alfredobarron opened #1212 "Custom Claims second param don't recieve"
First I want to thank for the excelent library.

I have a little question.

# In your documentation tells that we can pass two parameters in the JWTAuht::attemp function

![image](https://user-images.githubusercontent.com/2327016/27236331-3a450128-528a-11e7-9635-43821fdbe38d.png)

# But in the JWTAuht.php file just recive one parameter. How can I solve that?

![image](https://user-images.githubuse

[2017-06-16 18:05] JavoByte commented on #1165
I understand that you have your website apart from laravel right? That means, you are using Laravel as an API server, you should check #860 . Simply return the token from your Laravel API [attaching the cookie](https://laravel.com/docs/5.4/responses#attaching-cookies-to-responses) Your website should store the token automatically.

[2017-06-16 22:34] RESP3CT88 opened #1213 ""You must have the blacklist enabled to invalidate a token.""
I am using version the latest dev-develop version and I keep getting this error when logging out ($this->guard()->logout();)

My jwt config is configured correctly ( see below ), and my .env file doesn't have the blacklist variable declared.
`'blacklist_enabled' => env('JWT_BLACKLIST_ENABLED', true),`

[2017-06-17 04:04] RESP3CT88 commented on #1213
i just needed to clear my laravel config cache

[2017-06-17 04:04] #1213 closed, assigned to nobody

[2017-06-17 05:38] RESP3CT88 opened #1214 "Beta 1.0.0.3 Token Refresh"
I am using the beta 1.0.0.3 and it seems that it automatically invalidates the token after every request. Does it create a new token automatically? How can I get the value for the new refreshed token? I am using Laravel 5.4

[2017-06-17 09:37] johannesschobel commented on #1210
hey there.. i think, if you comment something out from the config, laravel retrieves the config file from the `vendor` folder instead.. the files in `config` only overwrite values in `vendor`..

[2017-06-17 13:15] psgganesh commented on #925
I agree with what @vperminov has mentioned, but also one thing pending is to the middlewareGroups array looks like this

[code]

Adding the jwt.auth and jwt-refresh, you do not have to do anything else with the route, the api route can look with a simple middleware which looks like so

`Route::middleware(['api'])->group(function () {`

[2017-06-17 13:15] psgganesh commented on #925
I think this issue can also be closed, everything works as expected in laravel 5.4.

[2017-06-17 15:44] #1214 closed, assigned to nobody

[2017-06-18 08:30] xbot opened #1215 "How to use a customized user provider in the latest 1.0.x version ?"
I need to implement a different password checking method, so I have to implement a new user provider, right ? How to set it in the config file ? I cannot find any useful information.

[2017-06-18 14:49] #1215 closed, assigned to nobody

[2017-06-19 05:04] ihd2911 opened #1216 "Invalid value provided for claim [nbf]"
I am using Laravel 5.1
Sometimes when i log in i get issue
InvalidClaimException in NotBefore.php line 32: Invalid value provided for claim [nbf]

Following is complete log
`

    in NotBefore.php line 32
    at NotBefore->validateCreate('1497848351') in Claim.php line 56
    at Claim->setValue('1497848351') in DatetimeTrait.php line 35
    at NotBefore->setValue('1497848351') in Claim.php line 42

[2017-06-19 11:14] andrealune commented on #834
Hi,
I'm having the same issue with Laravel 5.4, none of solutions above worked.
My **User** table has UUID as primary key, the column name is 'id' and this is my User Model:

[code]

Do you guys have any suggestion?

[2017-06-19 14:37] yilliot commented on #1105
im reading this https://auth0.com/blog/refresh-tokens-what-are-they-and-when-to-use-them/

[2017-06-19 18:46] tremby commented on #1105
I'm not sure how that helps. I already understand what the difference is, or I think I do. What I'm pointing out, and asking about, is that this package jwt-auth appears to only have refresh tokens and no regular tokens, unless I'm misunderstanding something. There aren't two different types of tokens it can generate as far as I can tell.

[2017-06-19 23:27] RESP3CT88 opened #1218 "The jwt middleware returns my jwtidentifier in response body"
Is it normal for this package to return the jwtidentifier (ie. subject claim) in the response of  every request (except login)? How can I turn this off? I am using beta 1.0.0.3

Posted my question here: https://stackoverflow.com/questions/44641661/jwt-auth-returns-subject-claim-in-response-body

[2017-06-20 00:47] #1218 closed, assigned to nobody

[2017-06-20 03:31] arturcesarmelo commented on #1210
@johannesschobel , Thank you for you help. I'm looking throughout for any solutions and i can't find anything but other peoples having the same problem: Even if i change the user key for another table different of \App\User, the JWT::attempt method still remains using the \App\User table.

[2017-06-20 04:13] arturcesarmelo commented on #1210
After many days looking for a solution for this issue on web, i just find now by myself the reason for that not working as the Tymon's documentation says and we expected. The problem starts on **vendor/tymon/jwt-auth/src/JWTAuth.php** file, at the attempt method.

![captura de tela 2017-06-20 as 00 59 07](https://user-images.githubusercontent.com/18191910/27316059-b69ea078-5553-11e7-8c1f-b29d9d99d

[2017-06-20 06:20] johannesschobel commented on #1210
Hey @arturcesarmelo ,
glad you solved the issue.

Actually, i do not think, that this is a *huge problem* as you said. Reading the docblock from the `/config/auth.php` it is quite clear:

[code]

However, you are right - it could be mentioned within the doc of `tymon/jwt` that one may need to change the config in `/config/auth.php` as well.

[2017-06-20 06:22] johannesschobel commented on #1141
hey @sandipsapkota1 , can you give a feedback on this issue? does my solution work?
if so, can you please close the issue?
Cheers

[2017-06-20 07:15] arturcesarmelo commented on #1210
@johannesschobel, thank you one more for your concern. But as i said before, i'm using Laravel 5.1. This version does not support multiple tables as the latest version do. So i guess that jwt-auth does not give support for multiple tables to any Laravel version over then 5.0 as this repository composer suggest.

[2017-06-20 07:51] olivecashlez opened #1219 "problem with lumen 5.4.27"
Hi,

I've been updated my lumen composer, to v5.4.27, before this I had v5.4.19 and It was good, I got no error. The error is:

The token could not be parsed from the request
in JWT.php (line 176)
at JWT->parseToken()

I'm using v1.0.0-beta.3
 "tymon/jwt-auth": "^1.0@dev",

Thank you.

[2017-06-20 07:56] arturcesarmelo commented on #1210
There's no way to solve that. It must be set a minimum Laravel version. I tried in vain to implement multi authentication in my project but i forgot about the ServiceContainer into vendor/Tymon. It tries to inject a Illuminate\Auth\AuthMenager and with the MultiAuth, this class change. It's impossible without a PR to adapter this.

[2017-06-20 08:43] sandipsapkota1 commented on #1141
Hello, thanks it worked.

[2017-06-20 08:43] #1141 closed

[2017-06-20 09:26] subalee opened #1220 "Unable to use dev branch with grace period"
Hi,

I've been using this package  (0.5.* ) with success. However in the app that consumes my API, I do parallel requests.

If i use the middleware that comes with the package, then by the time i get the response with new token the second request has already started with now blacklisted token.

I've tried using the dev-master branch, however the blacklist_grace_period is not there, I also tried us

[2017-06-20 12:50] johannesschobel commented on #1210
just to be sure - who do you directly address with this "fu**cking guy"?

[2017-06-20 13:17] chrisschaetzlein commented on #1219
Same problem here

[2017-06-20 14:54] arturcesarmelo commented on #1210
take it easy, man. The package owner.

[2017-06-20 15:00] johannesschobel commented on #1210
holy shit.. that is quite rude..

[2017-06-20 15:05] arturcesarmelo commented on #1210
i'll think about edit my own comments in a few hours. About 5 a.m. over then 16 hours working, every ones can lose the head.

[2017-06-20 15:14] johannesschobel commented on #1210
This is, however, not acceptible at at all. @tymondesigns works hard and provides an awesome package **for free**, the community (including me) tries to solve **YOUR** problems, and you start insulting the package owner..

"I have been working 16h" is not an excuse for this behaviour..

[2017-06-20 16:00] michielyat commented on #1219
It seems to be that the parser does not know the request variable anymore.

Edit: I forgot to mention that this solution is located in the JWTGuard.php file.

Before the following code snippet

[code]

Add the following code line:

`$this->jwt->parser()->setRequest($this->request);`

By this the parser that is looking for the request headers can now read the headers again. Somehow when the parser

[2017-06-21 07:22] mahdiasadi1 commented on #1151
i have same problem   please help

[2017-06-21 18:28] tymondesigns commented on #1210
@arturcesarmelo I saw the original comments before you removed them. I hope that means you realised what you said and how disrespectful it was.

Coming on here and acting entitled WON'T get you the support you want (not from me anyway). And also sending me a friendly worded email asking for help whilst referring to me as "this f**king guy" won't get you anywhere.

Anyways you might want to give th

[2017-06-22 06:23] johannesschobel commented on #1210
haha, it gets even funnier, when reading the e-mail part..
no problem ;)

[2017-06-22 07:21] scienceswork commented on #800
I have the same problem too, anybody help? And if the application is multi guard, how to setting?

[2017-06-22 14:17] zhongjixiuxing commented on #1151
me too for 0.5.*

[2017-06-22 15:22] miscbits commented on #1212
on the newest version, try this
[code]

[2017-06-22 15:33] miscbits opened #1221 "Claims array should override standard claims array"
In this function here:

![image](https://user-images.githubusercontent.com/8864479/27442083-47c0a26e-573d-11e7-8a1a-9a2746075417.png)

We are seeing that we can update our jwt custom claims by using the custom claims function, but the array merge is in such an order that the custom array has its values overwritten by the default array.

For our use case, we have a situation where we want to update

[2017-06-22 17:37] alfredobarron commented on #1212
Thanks @miscbits for your help, but...

I am use this version

![screen shot 2017-06-22 at 12 32 07 pm](https://user-images.githubusercontent.com/2327016/27447545-ed033e9a-5746-11e7-8aa1-a9d84b3d1842.png)

and get this error message

![screen shot 2017-06-22 at 12 31 49 pm](https://user-images.githubusercontent.com/2327016/27447549-f42aa30c-5746-11e7-9a6a-e83ff5c936bd.png)

this is my code

[code]

[2017-06-22 18:01] miscbits commented on #1212
ah I see. Well if you want to update your version to use this snippet, I am using
[code]

[2017-06-22 18:02] #1221 closed, assigned to nobody

[2017-06-22 18:09] miscbits commented on #1212
I looked into this on version 0.5.12

![image](https://user-images.githubusercontent.com/8864479/27448837-44f526f6-5754-11e7-9e3a-9251fa8edbed.png)

This is what I see in the source code.

https://github.com/tymondesigns/jwt-auth/releases/tag/0.5.12
got the code from this page

Maybe something is wrong with your installed version (happens often with composer.) you could try deleting your vendors f

[2017-06-22 19:06] alfredobarron commented on #1212
You have reason, I think that the fix is format date not is good for exp parameter.

This is my code.
[code]

[2017-06-22 19:08] miscbits commented on #1212
if you think thats the problem you can add Carbon::now()->addMinutes(1)->toDateTimeString();

[2017-06-22 19:15] miscbits commented on #1212
oh as a side note, carbon has the method addMinute() which is the same as addMinutes(1) so you could also just do

Carbon::now()->addMinute()->toDateTimeString();

[2017-06-22 20:02] abrarshareef commented on #1219
I have the same problem.

Adding the line to JWTGuard.php worked:
`$this->jwt->parser()->setRequest($this->request);`

Please fix.

[2017-06-22 20:26] alfredobarron commented on #1212
The error is "Could not create token"

[code]

[2017-06-22 20:31] alfredobarron commented on #1212
Solved!!!

[code]

[2017-06-22 20:31] #1212 closed, assigned to nobody

[2017-06-23 10:35] AlesRFK commented on #1184
Try this [approach ](http://www.expertphp.in/article/api-authentication-using-jwt-in-laravel-5-4-tutorial-with-example) by setting up new middleware.

[2017-06-23 14:19] chrishessler commented on #860
@mtpultz First of all thank you for this guide. It helped me setting up JWT with JWTGuard. However I can't seem to find any information on how to correctly implement refresh tokens.

Could you please guide me through implementation of refresh tokens?

[2017-06-24 07:00] zanjs opened #1224 "Can not use the email"
Can not use the email, I would like to use app_id and app_key

[2017-06-24 07:49] sandysong commented on #993
you should add
[code]
to your Http\Kernel::$routeMiddleware

[2017-06-24 15:19] jarvisphere commented on #341
@App\User add a method to set password

    public function setPasswordAttribute($value) {
        $this->attributes['password'] = Hash::make($value);
    }

@AuthController
  public function authenticate(Request $request)
    {
        $user = new User($request->all());
        $user->password = $request->get('password'); //this will call the setPasswordAttribute method of User class
        $use

[2017-06-24 17:20] bmf-san commented on #839
I have a same error too.

@imranali1  Is this worked fine??
`'api' => [ 'driver' => 'session', 'provider' => 'app_users', ],`

I couldn't authenticate by setting driver to session.

[2017-06-25 06:41] zanjs commented on #860
### route
[code]

### controlle

[code]

## run is error

[code]

[2017-06-25 09:19] zanjs opened #1226 "Middleware auth:api guard error"
laravel : 5.4
jwt-auth: 1.0.0-beta.3

auth.php

[code]

route/api.php

[code]

If token is wrong,  The error is as follows

[code]

[2017-06-25 23:49] chrishessler commented on #1226
This is happens when you try to reach a guarded route without being authenticated. It trows an exception, handled in app/exceptions/Handler.php

[code]

E.g. In my current project I only want the application to return JSON responses. I changed this to:
[code]

[2017-06-26 00:10] zanjs commented on #1226
@chrishessler Thank you 😱

[2017-06-26 00:10] #1226 closed, assigned to nobody

[2017-06-26 09:55] zerazeru commented on #1193
It seems to me that the only way to customize the response is by defining event listeners.

[code]

[2017-06-26 10:34] stoneworld commented on #1029
Same problem, bump bump. have any solution?

[2017-06-26 18:06] HiradRoshandel opened #1227 "getToken() doesn't get the proper token"
I have created a middleware that checks if token is expired and then it refreshes the token and update the header. But in my controller getToken() does not get the new token but returns the expired one. I have checked the value of header in my controller and it has the new token.

This is how I do it in my middleware:
`$new_token = JWTAuth::refresh($token);`
 `$request->headers->set('Authorization

[2017-06-26 19:07] HiradRoshandel commented on #1227
I fixed the issue by manually setting the token `JWTAuth::setToken($new_token);` I don't change the header value

[2017-06-26 19:07] #1227 closed, assigned to nobody

[2017-06-27 11:48] imranalii commented on #839
@bmf-san
Yes, it worked for me as a work around, but actually you should be using 1.0+ version of jwt-auth to authenticate using guards.
Check this thread.
https://github.com/tymondesigns/jwt-auth/issues/1029

Thanks.

[2017-06-28 03:53] quicktoolbox opened #1228 "Bug with custom claims (source included)"
Using custom claims.

After you call JWTAuth::parseToken()->getPayload->get(), the next time you generate a JWT token, you will have the old values polluting the new token.

For example, old value aud => 'test'.  Set a new custom claim to be aud => 'changed' and after you generate the token, viewing the actual payload you will see the old values are persisting.

Fresh laravel project;
Add JWTAuth

[2017-06-28 09:10] techabu opened #1230 "issues with cross domain validation"
Hi,

I am working on SSO between two application with different domains. Application1 is in Domain1 and Application2 is in Domain2. When the user log in to Application1 and access Application2, jwt is generated from the Application1 server and passed on to an api that is in Application2 to authenticate and access the Application2. When jwt is generated in Application1, the iss is set to https://do

[2017-06-28 12:03] mayurpatil1211 opened #1231 "responce error"
whenever i turnOff flask server and again try to access some authorised function/route with the last jwt token, it gives me 500 Internal server error. Instead of authentication failed.

[code]

[2017-06-28 12:18] techabu commented on #1230
Hi,

I fixed the issue. In the iss parameter the value was https://domain1.com which gets escaped when converted to json string in json_encode in generateSigninInput() function of JWT class. I changed the code to $this->encoder->encode(json_encode($this->getPayload(), JSON_UNESCAPED_SLASHES));

Is there any better way to do this. I tried extending the class without making any modification to the p

[2017-06-28 19:41] mtpultz commented on #860
Hi @chrishessler the refresh tokens are applied using the refresh middleware, and making sure they are turned on in your config.  I haven't used them in a bit, but I think that is it.  Let me know if that doesn't work and I can have a look at a previous project.

@zanjs not sure what your issue might be, but I'd check if you have a route named login by using artisan to display a list of your route

[2017-06-29 11:10] svolence opened #1232 "[Symfony\Component\Debug\Exception\FatalThrowableError] Call to undefined function Tymon\JWTAuth\Providers\config_path()"
[Symfony\Component\Debug\Exception\FatalThrowableError]
  Call to undefined function Tymon\JWTAuth\Providers\config_path()

[2017-06-29 14:11] cedricdhooge opened #1233 "JWTException with private key and public certificates"
When trying to generate a new token. There is a JWTException
=> Could not create token: Could not read key resource: error:0906D06C:PEM routines:PEM_read_bio:no start line

This is my key config
![image](https://user-images.githubusercontent.com/26735361/27691820-7fdf9e36-5ce5-11e7-8d8d-9e80e703dfe3.png)

[2017-06-30 01:52] mikkezavala commented on #1199
I had it working like:

[code]

and my ```App\Http\Kernel```
[code]
for my ```$this->tokenFailureHandler()``` I just handled as json

[code]

[2017-06-30 04:34] ansoncsh opened #1234 "How to change token key for Query String?"
I am using query string for authentication.
By default, it always check the query string "token".
I would like to change to other key (e.g. "access_token")

How can I change it?

I find that the key is set in **Http/Parser/KeyTrait.php** by default and there is a function "setKey".
But I have no idea how to where this function should be called.

[2017-06-30 06:38] jsdecena commented on #501
Just in case this is not yet resolved (setting the **email** as identifier instead of **id**), we can just create our own provider and do:

[code]

Just replace the:

[code]
to

[code]

in `App\Http\Kernel.php`

Hope someone find this helpful! 😃

[2017-06-30 07:12] jeroendp commented on #1198
Any news on this issue. I downgraded also to 0.5.11 as I had the same problem with invalid tokens on 0.5.12

EDIT
0.5.12  seems to be more strict on the bearer token in the authorization header. Just saw the developer surrounded the token with brackets. Removing them solved the problem.

[2017-06-30 15:07] daniel-mcassey-tmsuk commented on #1219
Yup, seems Lumen has lost access to the request in the function "registerTokenParser()" in "AbstractServiceProvider.php" the $app['request'] is empty.

Further testing shows that this is broken in 5.4.2 but works in 5.4.1, so another fix is to mark the laravel/lumen-framework in composer.json to stick to 5.4.1 then do composer update

[2017-07-02 03:46] seuaCoder opened #1235 "Get current authenticated user"
I would like to know if there is a method to get the current authenticated user but return false if not.

I tried :

$user = JWTAuth::parseToken()->authenticate()

But this is returning a response :

{ "message": "The token could not be parsed from the request", "status_code": 500 }

I would like to return true if there is the token match an user and false in any case else.

Any help ?

Thank you.

[2017-07-02 21:12] tjnapster555 opened #1236 "how to totally implement jwt with refresh in the middleware?"
can somebody give me the link of the tutorial in which show how to actually implement the jwt with refresh token. I don't know a lot i am stuck i have no idea how to properly implement the jwt with refresh and error in the middle ware.

[2017-07-02 21:13] tjnapster555 commented on #1235
how are you sending  the token in the request ? means like this **test.dev?token=dasdsdsadsa**

check this this might help you https://youtu.be/jWYqulDpZWo?t=5m40s

[2017-07-03 14:23] louis-marchant commented on #1235
How are you sending your token to the server? If, like me, you are putting the token in a cookie, you can't use `JWTAuth::parseToken()` as it will not find the token.

As mentioned in the docs [here](https://github.com/tymondesigns/jwt-auth/wiki/Authentication) you can set the token manually via `JWTAuth::setToken('foo.bar.baz');`, and subsequently use `JWTAuth::authenticate()` to get the user ins

[2017-07-03 14:58] louis-marchant commented on #1236
If you are sending the token to the server as indicated in the docs, then at the bottom of [this](https://github.com/tymondesigns/jwt-auth/wiki/Authentication) page there is information about some middleware to refresh the token.

You implement the middleware in the same way as you would implement any other middleware in Laravel, and a quick google will provide you with guides on how to do that.

[2017-07-04 03:13] arturcesarmelo commented on #1210
@tymondesigns, Yes, i realised how awful was my comments before. As a said before, i stated work at 8pm on a day, finishing about 5:30am a day after. Wasn't at my perfect mind. One more time: I'm sorry about that.

After find the problem, i call my supervisor and he told me about adapter pattern on Laravel. After know about that, was easy to solve the problem.

@johannesschobel, Thank you for make

[2017-07-04 05:20] bishoy7000 opened #1237 "Tokens are temporarily Blacklisted"
First I am using: "tymon/jwt-auth": "dev-develop"

I got Refresh and Authenticate Middlewares enabled.
Sending a Blacklisted token (Previously sent and invalidated) will pass through the middleware,
but when I call `JWTAuth::checkOrFail()` inside my controller it will throw the Blacklisted exception as the 'Renew' middleware did actually invalidate it (as far as I understand).

And on the next req

[2017-07-04 08:49] tymondesigns commented on #1210
@arturcesarmelo That's great, it's water under the bridge..
it's not good for anyone to burn themselves out doing this stuff.. take time out, it helps!

I'll close this then since you have your solution

[2017-07-04 08:49] #1210 closed, assigned to nobody

[2017-07-04 16:06] HiradRoshandel opened #1238 "Server restart logs everyone out"
Everytime I push to my server using bitbucket pipelines my server briefly restarts and that logs every user out (apparently the token is not valid anymore). Has anyone experienced this before or has managed to fix this issue? Thanks

[2017-07-04 17:00] mr-feek commented on #1238
Are you changing your `JWT_SECRET` in each new build?

[2017-07-04 17:58] HiradRoshandel commented on #1238
@feeekkk  no my jwt.php has this line:
`'secret' => env('JWT_SECRET', 'SOMEHASH'),`

[2017-07-05 10:24] locata-work commented on #104
I think we must use "Tymon\JWTAuth\\**Facades**\JWTAuth" instead of  "Tymon\JWTAuth\JWTAuth"
When it change that of "use JWTAuth;" , it work!
because we set it in config/app.php
      **'JWTAuth' => Tymon\JWTAuth\Facades\JWTAuth::class,**

[2017-07-05 11:03] fredroo opened #1239 "JWTGuard in version 0.5.12"
How works with last version 0.5.12

i use driver jwt

but new version not have JWTGuard.php

[2017-07-05 11:09] radicalloop commented on #779
@Crazyweed  You have to implement your own Authentication Provider instead of default in jwt-auth.
You can check this [gist](https://gist.github.com/radicalloop/163fb808618c0054baa47435ea18974c) where I'm using "user" provider (which is added in **auth.php 'multi-auth'** option).

After that you need to change **'auth'** option of **'providers'** in **jwt.php** file.
In my case: `'auth' => 'App\Pr

[2017-07-05 16:01] badrshs opened #1240 "token_not_provided problem"
Hi , I'm working on api project
between ionic framework  and laravel jwt-auth library

the problem is when i send the information from my app the result is always token_not_provided

I had print the parameter and everything is fine

I did the same on postman and it's work fine  without the error

I had print too the parameter with dd() on none token api and the same parameter as my ionic app there

[2017-07-05 19:52] jesperbjerke opened #1241 "Request headers empty in vendor/tymon/jwt-auth/src/Http/Parser/Parser.php"
Trying to use the parseToken() in a controller method but it keeps saying it couldn't retrieve the token from the request. Digging into that, the request in my controller method has headers:

[code]
produces
[code]

But in `vendor/tymon/jwt-auth/src/Http/Parser/Parser.php`
[code]
produces
[code]

Any idea what's wrong? I'm running this in Lumen 5.4 with Homestead and Nginx

[2017-07-05 20:34] gemins opened #1242 "Get "Unauthorized" in all router with middleware"
I'm using Tymon/Jwt-auth : 1.0@dev and Lumen 5.4.

After update my lumen from 5.4.19 to 5.4.27 was recive this message in all routes when is protected by middleware with JWT.

I'm using native AuthServiceProvider:
[code]

In bootstrap/app.php
[code]

Before update my lumen, i was login with the system normaly and haven't problem. Now can login and get the Token, but when try to enter in a route wi

[2017-07-06 08:59] prionkor commented on #732
Just wondering if there is any way of doing it on client side? I am currently sending and 2 extra fields to browser. expiration time for token, and expiration time for refresh.

[2017-07-06 11:45] sanderlooijenga commented on #860
@zanjs this probably means you're not logged and therefor tries to send you to a login route (which doesn't exist (yet)). This happens in the `App\Exceptions\Handler` class in its `unauthenticated` method.

If the request to `/me` would have the following header; `Accept: application/json` then it would have different output (a 401 response with an error indicating you're unauthenticated).

[2017-07-06 13:00] zanjs commented on #860
@sanderlooijenga Thinks !

[2017-07-06 23:08] functionpointdaniel commented on #1193
Thanks Zerazeru, I'll try this out and close the issue for now.

[2017-07-06 23:08] #1193 closed, assigned to nobody

[2017-07-07 08:36] johnboc opened #1244 "Edge giving incorrect authentication requirement compared to Chrome and Firefox"
Framework: Laravel 5.4
tymon/jwt-auth Version: 0.5.12
Windows 10

All routes are protected apart from the the login page and the route posting the user's login credentials. Everything works as expected using Chrome and Firefox on Windows, but Microsoft Edge and any browser on iOS returns a 404 error "The requested resource requires user authentication" when the user clicks the login button that po

[2017-07-08 06:25] ghost commented on #1012
thanks @kohenkatz

[2017-07-08 06:25] #1012 closed

[2017-07-09 12:32] ThomasRalee commented on #1125
@gandra

would you mind sharing how did you add custom claims?

[2017-07-09 18:37] brachycera commented on #1065
Maybe your routes also got the `auth` or `jwt.auth` middleware

https://github.com/tymondesigns/jwt-auth/issues/186#issuecomment-147816841

I also had problems with the "refreshed" token from the `Response Header`, I got my tests to pass with setting the token again https://github.com/tymondesigns/jwt-auth/issues/206#issuecomment-301538551

[2017-07-09 23:44] sandbox-services commented on #1242
confirmed: your lumen guide fails unless you set your lumen version to 5.4.1 (5.4.2->5.4.6) all return Unauthorized regardless if you're sending the jwt token via Authorize headers or token in query string

[2017-07-10 20:01] ghost opened #1245 "Auth returns Empty object."
The problem is with Auth, I use Account model instead of User model so I tweaked some files in order to get it work.
This is my Account model:

[code]
In jwt.php i have changed model to Account:
`    'user' => 'App\Entities\Account',` ,
but I still was not working so I has to uncomment
[code]
I had changed 'table' users to accounts (file: config/auth.php).
I generated my token with the code provid

[2017-07-10 20:14] ghost commented on #1240
Try to send it as an header

[2017-07-11 05:44] alihossein opened #1246 "how to test token JWT with phpunit in Laravel"
HI.
I want test login API in Laravel but instead of return 200 or 401, test return 302 always.

what is problem ??

thanks.

[2017-07-11 16:20] functionpointdaniel commented on #1193
Great, works.

The documentation didn't mention where to add this. After looking here it's clear: https://laravel.com/docs/5.4/events

Add these lines in app/Providers/EventServiceProvider.php

    Event::listen('tymon.jwt.invalid', function () {
        return \Response::make(['your_custom_error' => 'token invalid'], 400);
    });

Thanks again Zerazeru.

[2017-07-11 17:37] jafar690 opened #1249 "How to authenticate different models."

[2017-07-11 17:40] jafar690 commented on #1202
@arturcesarmelo would you mind giving an example code?

[2017-07-11 17:41] jafar690 opened #1250 "How to authenticate different models."
How can i use jwt authentication on two different models, e.g a Users model and an Admins model? I am using Dingo api with jwt.

[2017-07-12 11:57] max-bertinetti commented on #1232
you miss a colon in

Tymon\JWTAuth\Providers\JWTAuthServiceProvider::class

like

Tymon\JWTAuth\Providers\JWTAuthServiceProvider::class,

[2017-07-12 13:55] tymondesigns commented on #1242
closed by #1243

[2017-07-12 13:55] #1242 closed, assigned to nobody

[2017-07-12 13:55] tymondesigns commented on #1241
closed by #1243

[2017-07-12 13:55] tymondesigns commented on #1219
closed by #1243

[2017-07-12 13:55] #1219 closed, assigned to nobody

[2017-07-12 23:20] thiago-slb commented on #887
I still have this error, on my vps's it's working fine, but now I have to publish in the client's production server and I can't make it work

[2017-07-12 23:22] thiago-slb commented on #1250
Use App\Config;

Config::set('jwt.user', Client::class);

Config::set('auth.providers', ['users' => [
    'driver' => 'eloquent',
    'model' => Client::class,
]]);

* You have to change Client:: to your model

[2017-07-13 00:07] jafar690 commented on #1250
@ThiagoLovatine and what about in the routes that are protected with jwt?

[2017-07-13 00:09] thiago-slb commented on #1250
You put the same code in the base controller (Create a custom base controller for those routes)
Like this

class Controller extends BaseController
{
    function __construct()
    {
        Config::set('jwt.user', Client::class);
        Config::set('auth.providers', ['users' => [
            'driver' => 'eloquent',
            'model' => Client::class,
        ]]);
    }
}

[2017-07-13 00:10] thiago-slb commented on #1250
Or just create a middleware so you don't need the base controller

[2017-07-13 00:12] jafar690 commented on #1250
@ThiagoLovatine
i am using dingo api with jwt and this is how am trying to do it

    //police related routes
    $api->group(['middleware' => 'jwt.auth', 'prefix' => 'police'], function(Router $api) {
        //set jwt to use Police model instead of user.
        Config::set('auth.providers.users.model', \App\Police::class);
        $api->post('location','App\Http\Controllers\Api\LocationControll

[2017-07-13 13:25] Crysalist opened #1253 "Using jwt-auth to make multiple middleware"
I am trying to create middleware that utilizes this library but  using a different secret key to validate 3rd party tokens.

How would I use :
`setSecret('OIfidSLnzXKqAGFZbScVP34UKeoCW0cT')`
to authenticate/validate new request in middleware?

Can you maybe send me an example?

[2017-07-13 14:29] louis-marchant commented on #35
@shah-newaz I'm not sure if this is related to your issue, but I had a problem with the fact that laravel encrypts cookies. I have made a middleware that checks the token, and this middleware is (apparently) called before the `EncryptCookies` middleware has a chance to be called. Therefore instead of something like:

`JWTAuth::setToken($request->cookie('token'));`

It was necessary instead to writ

[2017-07-13 14:40] shah-newaz commented on #35
Hi @k4kuz0 !
Was exactly my issue :) I found it out thankfully and solved by adding the token to the `$except` array of Laravels EncryptCookies middleware (App\Http\Middleware\EncryptCookies.php)

`<?php

namespace App\Http\Middleware;

use Illuminate\Cookie\Middleware\EncryptCookies as BaseEncrypter;

class EncryptCookies extends BaseEncrypter
{
    /**
     * The names of the cookies that should

[2017-07-13 14:42] louis-marchant commented on #35
@shah-newaz Glad you found a solution! However note that if you use the solution I mentioned, you can keep the token encrypted, perhaps unnecessary, but extra security is always nice!

[2017-07-13 14:44] shah-newaz commented on #35
@k4kuz0 Hmm, I think you're decrypting the token by `Crypt::decrypt($request->cookie('token')`
The token is already encrypted. Laravel was double encrypting it. Which was the issue. I can be wrong.

Thanks again!

[2017-07-13 16:19] asolopovas opened #1254 "Token Not Provided"
Hi, I have an issue with `GetUserFromToken` middleware, it does not get the token from the authorization header.
If I do the following in `GetUserFromToken.php` in handle method `$this->auth->setToken($request->header('authorization'))` the middleware works as required, otherwise I get and error token_not_provided even though header authorization is present in each request.

[2017-07-13 16:20] lorenzowoodridge commented on #1189
I'm having the same issue as well because we wanted to get rid of the nbf claim.
We've resulted to editing the source code.

[2017-07-13 16:27] asolopovas commented on #1254
Ok I fixed my problem, I just needed to add 'bearer ' + token into my header and things started to work.

[2017-07-13 16:27] #1254 closed, assigned to nobody

[2017-07-16 02:46] DelphiWorlds commented on #814
I have jwt-auth version 0.5.12 installed, and I'm receiving the invalid_token error when attempting to use an Authorization header, i.e.:
  Authorization: Bearer <token>
(<token> replaced entirely with the actual token)

Using a query parameter, e.g.:
  http://example.com/someapi/somemethod?token=<token>
works.

jwt.io verifies that the token is valid

[2017-07-18 08:16] tijanmdr opened #1256 "Get token not giving token"
hello, I'm trying to get JWT token from headers using `JWTAuth::getToken()` and this is what i get `"authorization": {},` and while `dd(JWTAuth::getToken())`, it gives response as
[code]
Is there any way to access the above token or get token value

[2017-07-18 08:22] pralhadstha opened #1257 "Driver for Zizaco/entrust"
Hello,

I need to ask a question regarding the Entrust. Do you provide the support or is there any future plan to support the [entrust ](https://github.com/Zizaco/entrust)?
I can see the conversation on the entrust over here:
 https://github.com/tymondesigns/jwt-auth/issues/484

But the question is will there be the driver for entrust or not?

Thankyou

[2017-07-18 11:36] More4ever commented on #1102
Hello.
I'm tring to set up `Lumen 5.4.6` with `jwt-auth 1.0.0-beta.3`
I spent approx an hour to figure out why above instruction doesn't work with `auth` middleware.
I've found a problem:
- `AuthServiceProvider` - `viaRequest` method tries to find `api` driver, but in file `config/auth.php` setted up `jwt` driver, so callback never won't be fired and auth middleware always returns 'Unauthorized'
-

[2017-07-19 02:58] fercho9212 commented on #111
I worked with \Config::set('jwt.user' , "App\Dirver");
but when I log in I get the token from the table driver but that same token lets me log in to the other table as I can avoid that Thanks.

[2017-07-19 02:59] fercho9212 commented on #792
I worked with \Config::set('jwt.user' , "App\Dirver");
but when I log in I get the token from the table driver but that same token lets me log in to the other table as I can avoid that Thanks.

[2017-07-19 09:01] NightravenJames commented on #915
Followed this link ` https://github.com/tymondesigns/jwt-auth/wiki/Installation`  but when it comes to the getting the authenticated user am getting . The following error
`

TokenInvalidExceptionToken Signature could not be verified.
--
in NamshiAdapter.php (line 71)

`

[2017-07-20 04:31] larryu opened #1258 "Question about token refresh"
I wanna implement token refresh after each api request. However, I found that because at the same point of time, there will be lot of ajax requests sent to the server, and the requests will be processed one by one at the server side, if I refresh the token after the first request, then the other requests in the queue which hold the old token information cannot be processed correctly because the pr

[2017-07-20 08:53] kisuka commented on #1214
Having the same issue, did you figure it out?

[2017-07-20 11:08] wassimhattab opened #1259 "Exclude url from token"
Hello,

I'm using jwt in laravel and trying to submit reset password form where i don't have a token yet to send it.. i added the url in the verifycsrftoken in the middleware like this:
[code]

and still not working giving me : JWTException A token is required

Any help?
Thank you

[2017-07-20 19:30] helsont commented on #1108
This particular line of code is throwing an error on a multiple backend architecture with shared token secrets in the file Nashmi Adapter function `decode`.
[code]

[2017-07-20 21:32] MrTeapot commented on #670
Thank you for posting your solution, it really helped me!

[2017-07-21 03:43] AndikaR commented on #896
I have the same problem using laravel 5.3. I did the following and so far have no problem when login normally from my local:

config/auth.php
[code]
MemberLoginController.php
[code]
I don't know if this is the correct way to solve this problem

[2017-07-21 11:13] millerleo commented on #1253
Just like this
`config(['jwt.secret' => '******']);`

[2017-07-21 12:54] prionkor opened #1262 "How to use with oAuth"
Hello,

I need an example to use this library with oAuth (I am using laravel/passport for oAuth). I have implemented jwt using a login form. Now laravel/passport is added in the application. I have [issued access token](https://laravel.com/docs/5.4/passport#issuing-access-tokens) successfully.

No need to merge both together. Any help will be appreciated.

[2017-07-21 14:31] nisevi commented on #975
Installing "dev-master" solved the issue for me, since it was solved [here](https://github.com/orangehill/iseed/issues/97).

[2017-07-21 18:05] jampack commented on #934
+1

[2017-07-21 21:21] Magiranu commented on #934
+1

[2017-07-21 21:25] Magiranu commented on #1002
+1

[2017-07-22 02:52] zRosenthal commented on #1256
Yes, my guess is there is a different bug in your code. Can you add more code where this is happening?

[2017-07-22 02:56] zRosenthal commented on #1238
are you running `php artisan jwt:generate` anywhere in your build/deploy pipeline? This would reset the secret and is just about the only way I can imagine everyones tokens being invalidated on server restart.
A good place to check is in composer.json hooks.

[2017-07-22 13:05] spirant commented on #1258
This is a known issue. The v.1.0 beta versions include a blacklist delay method which will allow a token to remain valid for a given number of seconds after being blacklisted. Other users may be able to help with getting this functionality for the v0.5.12 currently released...? However, I am having the same issue and am yet to find a solution for this.

[2017-07-22 13:22] spirant commented on #1259
Hi @wassimhattab

It looks like you may be confusing CSRF tokens and JWT tokens. They are entirely unrelated. You need to ensure the route which resets passwords is not protected by the JWT middleware. You may well have nested the _/api/reset_ route in a route group?

[code]

If you post your routes file it will be more clear what you have done...

[2017-07-23 04:04] jonagoldman commented on #615
Any news on version 1 release date?

[2017-07-24 04:45] pankaj-garg opened #1263 "How to invalidate existing token on password change?"
If user updates the password, the JWT token continues to work. How can we stop accepting that token and asking for login again?

[2017-07-24 11:04] pralhadstha opened #1264 "Error Integrating with Sentinel and Need Documentation updated for Integration with Sentinel"
I am trying to integrate it with Sentinel and followed all the steps to configure from this guide.

https://github.com/tymondesigns/jwt-auth/blob/docs/docs/quick-start.md

But i am getting the issue as:

[code]

Also when i try to use the Sentinel Provider by setting to the `Tymon\JWTAuth\Providers\Auth\Sentinel`
I am getting the issue as:

[code]

If i implement the default `Illuminate\Contracts\

[2017-07-24 12:19] pralhadstha commented on #1264
Found the solution that is not mentioned in the docs.

We need to change the authentication provider from
 `Tymon\JWTAuth\Providers\Auth\Illuminate::class` to `Tymon\JWTAuth\Providers\Auth\Sentinel::class` in the `jwt.php` config.

[2017-07-25 03:27] ninet5269 opened #1265 "[question] release date for next stable release"
hi, may I know if there is going to be a stable version release after v1.0.0-beta.3 ? if yes, can you share the estimated time line for its release ? thanks!

[2017-07-25 11:15] ssbrewster commented on #1265
I'm interested in when [#1243](https://github.com/tymondesigns/jwt-auth/pull/1243) makes it in.

[2017-07-25 11:49] johannesschobel commented on #1263
you may need to manually invalidate the token in your `updatePassword()`..
Try `Manager::invalidate(Token $token)` (see [here](https://github.com/tymondesigns/jwt-auth/blob/develop/src/Manager.php#L151))

[2017-07-25 12:46] blacktemplar opened #1266 "Problems with Request in Lumen 5.4"
I use jwt-auth in my Lumen Application and everything worked fine so far. Today I tried to upgrade from Lumen 5.3 to Lumen 5.4 but this somehow breaks my authentication with jwt-auth.

After debugging the problem I see that in the Parser object when calling parseToken() the Request object is somehow empty and does not contain any headers or anything else. I googled the problem a little bit and fou

[2017-07-25 12:53] #1266 closed, assigned to nobody

[2017-07-25 12:54] blacktemplar commented on #1266
Sorry, just saw that this got already fixed with #1243, but is not yet in a current release.

[2017-07-25 14:03] jgrossi commented on #1102
@More4ever I had a similar issue using Lumen. It seems your `App\User` class should implements `JWTSubject` interface. Then you have to add two new methods: `getJWTIdentifier()` (which I'm returning `null`) and `getJWTCustomClaims()` (which I'm returning an empty array).

After that, the auth is working for me. Hope it helps!

[2017-07-25 22:13] jampack opened #1267 "Global Exception Handling 1.0.0-beta.3"
This piece of code is not working as supposed:

{
    if ($e instanceof Tymon\JWTAuth\Exceptions\TokenExpiredException) {
        return response()->json(['token_expired'], $e->getStatusCode());
    } else if ($e instanceof Tymon\JWTAuth\Exceptions\TokenInvalidException) {
        return response()->json(['token_invalid'], $e->getStatusCode());
    }
    return parent::render($request, $e);
}

usi

[2017-07-26 10:35] pvanhemmen commented on #1195
I have basically the same question. Is there a way to invalidate an old token if the user logs in on another device / browser / tab? This way we could log users out from previous logins to prevent editing outdated data etc.

[2017-07-26 14:22] ghost opened #1269 "Lumen 5.4 empty request parameters requires extra middleware to fix"
On Lumen 5.4 I'm seeing empty request parameters causing the authentication to always fail. It seems this might be caused by [this Lumen change](https://laravel-news.com/request-object-changes-in-lumen-5-4).

Functioning work-around is, as suggested in the Lumen post, to create a `$app->middleware` class  which sets the request object in the parser:

[code]

Would it be possible to add this to thi

[2017-07-26 14:29] ghost commented on #1269
Actually, it turns out I don't need _extra_ middleware; just adding it to the Authenticate middleware is enough, which now looks like this:

[code]

[2017-07-26 23:51] Gnative commented on #1198
Having brackets surrounding the token in the header causes this issue for me.

[2017-07-27 03:41] shamimhasan opened #1270 "Token absent on live server"
Getting this error when trying to live server
[code]

when running on local server it works fine.
Server has this htaccess
[code]

[2017-07-27 09:58] blacktemplar commented on #1269
I think this problem is solved in commit be9e15f0. After using the newest version of this repo including this commit I don't have this problem anymore.

[2017-07-27 10:02] pankaj-garg commented on #1263
@johannesschobel  Thanks for the tip!

Just curious to know, how does invalidation works in this case? I don't think we store the generated token anywhere, do we?

[2017-07-27 10:12] johannesschobel commented on #1263
They are stored in the `/storage` folder, I think. However, the token itself is "blacklisted" (i.e., it cannot be used any more to authenticate).
Cheers

[2017-07-27 11:26] murillobarata commented on #480
Resolved?

[2017-07-27 14:41] gfviegas commented on #89
@tymondesigns this still unknown.

Can we pass user data to be a custom claim on attempt method?

[2017-07-27 16:26] kohenkatz commented on #1263
What @johannesschobel says will only invalidate the token that was used for the password change request. If the user has multiple tokens, the others will not be invalidated.

You have two options to invalidate all tokens of a particular user:

1. Keep a list (in the database, using a Cache provider, etc) of all tokens. This is probably the easiest way to do it (I had to do this for one project), b

[2017-07-27 18:46] ragingdave opened #1271 "L5.5 Compatibility"
With the release of L5.5 around the corner, it would be nice to at least be able to install jwt-auth alongside L5.5, in order to help find new bugs (if any).
A suggestion might be to change the composer require version to ~5.1 which correct me if I'm wrong, should show support for L5.1 to L5.x. Another option would be to add another `||` check for 5.5.x-dev.

[2017-07-27 21:31] learnmove opened #1272 "please add when expired can refresh token"
I cant refresh when it expired,and it will be blacklist,

[2017-07-28 05:16] ricksonchew commented on #1142
I'm getting the same issue. Any resolution for this?

[2017-07-28 14:39] jackengine commented on #1148
With postman it works fine using token as parameter. While with application it needs 'Authorization' header. How to get it working using token as parameter.

[2017-07-28 15:24] raf202 commented on #125
Can't get it to work on Lumen, returns: Method [user] does not exist. on JWTAuth::user();

[2017-07-28 17:41] shaybix commented on #1192
Having the same issue.

[2017-07-28 18:17] jampack commented on #1267
no clue?

[2017-07-28 20:48] elliottjro commented on #915
Hey all.. for some reason this started working when I changed my auth header to be `bearer TOKEN` ie:

key:
`Authorization`
value:
`bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIU......Vlqb0AjEds`

Previously I used `bearer{djjdnskaF93jasdf.....FDSaM}` - using the brackets `{ }` - which was throwing this error.

My composer.json:
[code]

[2017-07-28 21:29] n0490b opened #1273 "How to use Gate authorization with JWT?"
I can't seem to get gate authorization to work. What am I doing wrong?

My controller method
[code]

TestPolicy.php
[code]

[2017-07-30 11:54] pkolovrat commented on #1102
I ran into the same problem as @More4ever with `Lumen 5.4.6` and `jwt-auth 1.0.0-beta.3`. The main problem is that `viaRequest` is asking for a **driver**, not the **guard**. If it's set to `api`, it never catches the request and returns null (unauthorized). Setting it to `jwt` causes fatal errors.

So after some frustrating trial and error attempts, finally I managed it with [irazasyed/jwt-auth-g

[2017-07-30 16:32] emersonbroga commented on #1246
Same problem here.

When I make a request from a browser or postman it works, but when I make a request from phpunit, the `$headers` property inside the `JWTAuth.php` on the method `parseToken` doesn't have the authorization key. (ONLY ON TEST ENV, when running phpunit).

![JWT](http://s3.emerson.link/prints/2017-07-30-hss4qgopoxhga4lm8j2b.jpg "JWT")

[2017-07-30 19:18] emersonbroga commented on #1246
Found this, `https://stackoverflow.com/questions/31309098/laravel-testcase-not-sending-authorization-headers-jwt-token`, not a definitive solution, but maybe it helps.

[2017-07-31 01:05] ricksonchew commented on #1272
Having this problem too

[2017-07-31 04:15] huy-tran commented on #1142
@seanclowdy @rickshawhobo
How did you store your JWT Token? In localStorage and request via client ajax?

I am thinking of you haven't updated your JWT Token, so it still requested with the old token which is blacklisted after refreshed...

[2017-07-31 13:46] victorhugorch commented on #937
How you solved your problem? Remove the two middlewares?

[2017-07-31 14:22] dmason30 commented on #1267
@tymondesigns How are we supposed to identify the reason for authentication failure if the events have gone and we are not getting the relevant exceptions?

[2017-07-31 19:12] francisrod01 commented on #937
The guard informed in `guards` array needs to exist in `providers` array also.
In my case, I used the `formAuth` guard that implemented with `FormAuth` model.

[2017-07-31 19:32] tymondesigns commented on #1267
@dmason30 you are getting the relevant exceptions. The package is still throwing the same exceptions as before.

The difference being now, that the middleware that are provided with the package, throw Symfony http exceptions, which are simply sensible defaults, that can be caught and converted into an appropriate http response.

So you are free to either:
- Use the middleware that come out of the

[2017-07-31 19:34] #1267 closed, assigned to nobody

[2017-07-31 19:47] jameybay commented on #915
Thanks so much. Removing the brackets '{}' worked.

[2017-07-31 20:29] francisrod01 commented on #860
It is not possible to inform which guard I'd like to use to retrieve user information.
https://github.com/tymondesigns/jwt-auth/wiki/Authentication

This error is occurring because I do not use the default guard because I'm implementing each one for a different social network.

[code]

So, I replace this line in my Middleware:

[code]

to:

[code]

and then:

[code]
... but you lose all control of

[2017-07-31 23:13] gfviegas opened #1274 "Is there any way to add user data in token payload on "attempt"?"
Basically, when authenticating, how can I pass a user data to the token payload?

For instance, what should I do in this piece of code to my token payload include the user name?

[code]

I know there's [Creating a Token Based on Anything You Like](https://github.com/tymondesigns/jwt-auth/wiki/Creating-Tokens#creating-a-token-based-on-anything-you-like), but you would hit the DB multiple times whic

[2017-07-31 23:15] gfviegas commented on #1274
Also, it would be just as bad to use laravel's default auth since it's not stateless and creates useless sessions and logs.... so, yeah.. i have no idea what to do.

[2017-07-31 23:33] gfviegas commented on #1274
My solution was to manually make all auth steps and forget about the attempt method.

In my case, the steps were: querying for the user email, checking the password hash, the active conditions then creating the token...

If anyone is interested:

[code]

EDIT: _PS: Don't forget to `use Illuminate\Support\Facades\Hash;`_

[2017-07-31 23:33] #1274 closed, assigned to nobody

[2017-08-01 06:35] sumit22 commented on #207
I am also using UUID field instead of id field in order to invalidate all issued tokens on event like password reset or a request for logging out from all devices. The problem I am facing is that I am getting http 500 error for a parallel session, because it token validates but fails to create an object for User Model.

[2017-08-01 07:28] RJustice commented on #1274
In App\User

add
`
public function getJWTCustomClaims() {
        return [
            'user_nickname' => $this->user_nickname,
        ];
    }
`

[2017-08-01 08:48] seandelaney commented on #1142
@rickshawhobo @huy-tran

It was nothing to do with the `refresh_ttl` values.

My issue was related to how I was using the end point. I guess I misunderstood how refresh tokens worked and after lots of reading, I finally got my head around it and was able to resolve my issue.

So I have this line in my `routes/api.php` file:

`Route::get('/authenticate/refresh', 'AuthenticateController@refreshToken

[2017-08-01 13:41] schwifty5 commented on #1272
Same problem here. Trying to refresh the expired token. When I try to refresh it manually with `$token->refresh()` it is unable to fetch the token to be refreshed. When I try to refresh it with the refresh middleware, it responds with a "token_invalid" and blacklists the token.

[2017-08-01 14:29] mehranhadidi commented on #1095
hello guys, @ftaurino could you do that successfully ? i want to do the same. do you have any hints?

[2017-08-01 16:32] LaurentChardin commented on #1272
By default, the grace TTL on blacklist is set to 0. Did you change the property : JWT_BLACKLIST_GRACE_PERIOD ?
If you keep it to 0, there will be no grace and expired token cannot be refreshed during the grace period.

[2017-08-01 17:44] murilobd commented on #802
+1

[2017-08-01 17:52] ragingdave commented on #1271
If it helps I could submit a PR to add the additional check @tymondesigns .

[2017-08-02 11:56] ghost commented on #1271
It would be great cause soon laravel 5.5 will be released.

[2017-08-02 12:37] dmason30 opened #1276 "[REQUEST][1.0.0-beta.3] Add parser chain to config"
@tymondesigns It would be nice if we could manage the parser chain in the `jwt.php` config as I would only like it to use cookie, plus I have a number of forms that post a `token` field which is causing issues.

I have had to create a new `ServiceProvider` extending yours in the mean time to override it.

[2017-08-02 16:20] MaeseppTarvo commented on #1158
I am having the exact same issue. I need to override the default exp which is in config. But it overrides the exp date to the one that is inside the config file. What is the workaround?  I do not want to put the exp into the above section "custom claims".

[2017-08-02 18:07] tremby commented on #1158
Why don't you want to use the `customClaims` method?

[2017-08-02 18:12] MaeseppTarvo commented on #1158
@tremby because I am creating some middle registration tokens for very short time like 5 minutes. But the main token has to be longer and I can't use different variables for that I think. If I can use that to check if it is valid then I can do it but I do not know how.

I create token like this:

[code]

I am using this to check the token validity:

[code]

but it sets the token exp date to the on

[2017-08-03 01:34] Dawnki commented on #1245
I use jwt-auth 1.0.0-beta.3 , I think your Account model need to extend Illuminate\Foundation\Auth\User(Authenticatable)  instead of the  Illuminate\Database\Eloquent\Model (model)

because user model(Account) need to implement this function(Illuminate\Contracts\Auth\Authenticatable)

[code]

[2017-08-03 06:30] masoudline commented on #940
can i use laravel policy and jwtAuth inside project?

and how?

[2017-08-03 06:52] therealmjk opened #1277 "Token has expired during login operation"
Hi i had no issues with my login but after pushing my service to google app engine any time i try to login i get this exception.

{
    "message": "operation failed",
    "detail_message": "Token has expired",
    "file": "/app/vendor/tymon/jwt-auth/src/Validators/PayloadValidator.php",
    "line": 83,
    "error": true
}

[2017-08-03 07:27] therealmjk commented on #1277
So i did some debugging and found out the user gets logged it but the error is from when i try to create the token using the fromUser() function please help me out

[2017-08-03 07:49] therealmjk commented on #1277
solved.. Sorry!

[2017-08-03 07:49] #1277 closed, assigned to nobody

[2017-08-03 08:18] karrarkazuya commented on #963
Same here

[2017-08-04 17:03] jampack commented on #1267
The issue is that how to identify the basic cause of the exception i.e invalid, blacklist, expired, cant be parsed...
The default exception throws a text response with a statusCode of '0' which is not a norm in APIs, how will a client identify what was the cause if we dont send a statusCode and statusText a general message can not became the source for identifying an issue like for token blacklist

[2017-08-04 19:23] tymondesigns commented on #1267
@akkhan20 It's pretty straightforward:

[code]

[2017-08-04 19:25] jampack commented on #1267
thats simple but i was referring to the exceptions in exception handler when exceptions are raised by the auth&refresh middleware

Sent from iPhone

On 5 Aug 2017, 12:23 AM +0500, Sean Tymon <notifications@github.com>, wrote:

[2017-08-04 19:28] tymondesigns commented on #1267
the exceptions that are raised in the package do not contain any http related things (and they shouldn't), so calling `$e->getStatusCode()` will fail

[2017-08-06 06:57] mehrdad-shokri opened #1279 "Where is Authenticate.php"
in version ``"1.0.0-alpha.3"`` there is middlewares such as  ``Authenticate`` , ``AuthenticateAndRenew``, ``Check``.
Updating to version ``"dev-master"`` these middlewares are gone.

What is alternative methods that these classes were removed in favor of them?

How can I authenticate a user with a middleware?

[2017-08-06 07:46] mehrdad-shokri commented on #1279
Apparently I was using version ``dev-master`` instead of ``dev-develop``.
Just a tiny question, is it recommended to use ``dev-develop`` of this package?

[2017-08-06 22:47] Aslam97 commented on #1081
U should check your guard in **config/auth.php** check the provider which is use for the table. here example
for **Model** `'administrators' => [
             'driver' => 'eloquent',
             'model' => App\Administrator::class,
         ],`
for table not use a model
`'administrators' => [
             'driver' => 'database',
             'table' => 'administrator',
         ],`

I hope its he

[2017-08-07 14:37] paulschwoerer commented on #1269
I seem to have the same problem with token refreshing, even after including be9e15f commit.
As erwinw proposed, I added a middleware, that sets the request on the JWT parser.

[code]

That solves the problem for now, but it's obviously just a workaround.

[2017-08-09 11:11] cdarken opened #1280 "Error in jwt:secret command on Lumen"
Sorry if it's too soon to post this bug, as it's based on code found on develop branch, but when running the command that generates the secret, I get this error:

[code]

[2017-08-09 11:24] huy-tran commented on #1272
@LaurentChardin Which version are you using to configure the **JWT_BLACKLIST_GRACE_PERIOD** ? I saw the latest beta has this config but not my version **0.5.12**.

[2017-08-09 20:45] klytron opened #1281 "Laravel 5.4 Binary Uuid Model."
The payload data returns
{
  "sub": 0,
  "iss": "http://scryba.com/connect",
  "iat": 1502309218,
  "exp": 1502312818,
  "nbf": 1502309218,
  "jti": "mNqT8hIwOJQmp6iM"
}

sub returns 0 instead of the Uuid since its binary how do i force bin2hex($value) on the sub to have it return from App/User

{
  "sub": 11e5fef7a59de46087ae2d0c4686f693,
  "iss": "http://scryba.com/connect",
  "iat": 1502309218,

[2017-08-10 11:03] mikedamoiseau commented on #1102
@jgrossi solution works perfectly. Update your User class to implement the interface `JWTSubject` and add these two methods to your class:
[code]

[2017-08-10 12:34] jgrossi commented on #1102
Awesome! Thanks @mikedamoiseau!

[2017-08-10 21:33] bloodblues commented on #1169
Thanks

[2017-08-13 04:57] mesqueeb opened #1282 "Get a refresh token. (not refreshing an access token)"
Hello community.
I'm really confused with the difference between 'refresh tokens' and "refreshing a token".

I think that refreshing a token just gives a new 'access token' which is short lived right?
But I wanna set my 'refresh tokens' to live for a year, and save them onto the local storage.

It's confusing in this library when it gives you an 'access token' and when it gives a 'refresh token'.

[2017-08-13 05:05] mesqueeb commented on #1258
I have this same problem!!!

[2017-08-14 11:52] mehrdad-shokri commented on #1246
Same problem here.
UPDATE:
I have found some mysterious behavior in my system, it might be specific for only my system but gonna give more info since any body else might encounter this type of problem:

the way I generated token in my tests for a specific user was like as follows:

     public function admin_can_get_all_degrees()
    {
        $token=JWTAuth::fromUser($this->adminUser);
        $t

[2017-08-15 07:47] nivolk commented on #886
+++

[2017-08-15 08:18] mehrdad-shokri opened #1283 "JWT remembers only the last token"
I'm developing some e2e tests, which includes authenticating users via jwt.
In my testcase I authenticate 3 users ( ``adminUser``, ``consultantUser``, ``studentUser``) via jwt, and generate tokens in a variable.
Although the generated tokens are different, When I execute ``JWTAuth::toUser()`` on tokens,
all of them point to the last user authenticated.
Is this a bug related to jwt or I'm doing som

[2017-08-15 08:31] mehrdad-shokri commented on #1283
@tymondesigns I think this is a bug related to this package. I'm using version ``dev-develop``

[2017-08-15 09:10] mehrdad-shokri commented on #1283
Found something interesting, When I visit login url, in the current session, ``Auth::user();`` points to the last authenticated user (Which is student).
So I started generating tokens without authenticating user completely.

Another problem I have right now is that:  ``BaseMiddleware`` identifies user via token,  but another middleware (which comes after ``jwt.auth`` in middlewared array) calls ``

[2017-08-15 20:10] henriqueweiand opened #1284 "Does it work with Lumen 5.4?"
I'm running a Lumen 5.4 install and it seems like it's not fully prepared to run with that version. Anyone got it? Existing git or tutorial (no other plugins, just updated lumen and jwt-auth)

[2017-08-16 11:11] shamshashmi commented on #1283
Hi, Yes i'm having the same issue. @tymondesigns can you please look at it?

[2017-08-16 11:58] ux-engineer commented on #1284
Thanks for posting this, I was just about to start with Lumen 5.4 and this package. But this package has suspiciously many open issues (although here is over 4300 stars given)... And issue open / close are 355 / 538.

[2017-08-16 11:59] ux-engineer commented on #1284
@henriqueweiand would this be helpful? https://github.com/tymondesigns/jwt-auth/issues/1102

[2017-08-16 14:41] henriqueweiand commented on #1284
@envision Thanks, I already followed these steps but the validation of the request by the auth middleware on the route seems to be in trouble ... Even using that other project commented by @franzi50

[2017-08-17 07:20] openrory commented on #1284
@henriqueweiand same problem here. I am using `Lumen (5.4.6)` and `tymon/jwt-auth 1.0.0-beta.3`. I also tried the proposed solutions, but to no avail. Strangely, however, HTTP requests work for GET, POST and DELETE, but fail for PUT or PATCH.

I tried to see where it fails, but I am new to Lumen. When I do a PUT, the HTML response is "Unauthorized.", which leads back to this piece of code in `Auth

[2017-08-17 11:30] hadigun commented on #205
Clearing of config, save my day.   php artisan config:clear

[2017-08-17 16:50] Lordkirin opened #1285 "Updating JWT Auth"
I have taken over an existing website that has JWT installed on it. I am having a few problems with it and so I would like to update it and se id the problem go away. The site uses Laravel 5.3 with homestead, vagrant, composer and artisan loaded on it. I have never used laraval before. Usually I use ubuntu servers with normal php code.

Is there a command to update to the new JWT. Or do I uninstal

[2017-08-18 15:29] jean-alex opened #1286 "Cannot use Dependency Injection anymore in User Provider (v0.5.12)"
Hello,
In v0.5.9, Laravel was able to inject my dependencies in my custom JWT User Provider. But since v0.5.12 (mandatory to use Laravel 5.4), Dependency injection is impossible because of this change in the JWTAuthServiceProvider :
v0.5.9
[code]
v0.5.12
[code]

Being able to inject dependencies in the User Provider was a good think for some people like me that use Service (API, external service,

[2017-08-18 20:13] jampack opened #1287 "Security related questions"
Latest Beta version of this package
1) In case of compromised token  we will be required to de-authenticate old tokens manually by the user by identifying active tokens based on IP, Location, Device Identifier and Browser etc.. is this correct?
2) If point number 1 is true then how can we store client related information for identification and how can we get all the active tokens in use by a user

[2017-08-18 23:07] lvegameza commented on #1102
Cuando ejecuto **php artisan jwt:secret** me sale el siguiente error:

`PHP Fatal error:  Class 'Tymon\JWTAuth\Providers\LumenServiceProvider' not found in C:\xampp\htdocs\lumenapi\vendor\laravel\lumen-framework\src\Application.php on line 162

Fatal error: Class 'Tymon\JWTAuth\Providers\LumenServiceProvider' not found in C:\xampp\htdocs\lumenapi\vendor\laravel\lumen-framework\src\Application.php

[2017-08-19 13:10] pankajkachhwaye commented on #540
its right but how to set credential for both email or user name

[2017-08-20 20:25] #1287 closed, assigned to nobody

[2017-08-21 13:31] vibrantBits opened #1289 "What to do to install with L5.5?"
No really an issue but a question: Is it a way to make it work with L5.5?
I guess it is just matter of modifying a couple of things in composer.json, is it not?

[2017-08-21 14:40] milosb793 commented on #81
I can't get token: `{"error":"token_not_provided"}` when trying to authenticate...

[2017-08-21 15:49] BafS commented on #1289
Yes it's just about the composer.json for the conflicts. I did a fork (https://github.com/tymondesigns/jwt-auth/pull/1288/files), you can try to use `bafs/jwt-auth` temporary.

[2017-08-21 17:25] vibrantBits commented on #1289
Great, I'll try it. Thanks!

[2017-08-22 05:45] jkunwar commented on #372
its not working in my case.
i changed everything as mentioned

[2017-08-22 07:41] fideliscode commented on #839
thanks i changed    'guard' => 'api', to    'guard' => 'web', and it worked
#deepu9

[2017-08-22 08:04] fideliscode opened #1290 "jwt aunthetication {"error":"user_not_found"}"
I am creating a backend of my app using laravel with jwt aunthetication and i keep getting this error "user not found" whenever i send a get request to my auntheticated route, i did not change the custom 'id' for the user...how can i solve this error?
here are the api routes
api.php
`Route::post('/user', ['uses'=>'userController@signup']);

Route::post('/user/signin', ['uses'=>'userController@sign

[2017-08-22 08:11] fideliscode commented on #155
same issue here @PsychicCat did you solve it

[2017-08-22 10:53] ThomasRalee commented on #800
Has anyone implemented this? Please share

[2017-08-22 11:57] openrory commented on #1269
I tried both solutions, and I even updated to the latest develop branch, but to no avail. @paulschwoerer Does your solution replace the Authentication middleware or should I add it (before or after) the Authenticate middleware?

[2017-08-22 13:46] awd22 opened #1293 "Questions about JavaScript Package & Authorization header"
I was just wondering, if 'Angular' is required to use this framework.  I don't have much experience with JavaScript and I'm trying to just use JQuery to pass authorization headers to HTTP requests.  I am having difficulty finding straightforward answers on how to do it in JavaScript.  I have included the two lines to the .htaccess file for Apache servers but when I data dump all of the headers, I

[2017-08-22 17:47] imranalii commented on #1290
You may have wrong auth guard for checking user. Share controller file to get more details.

Moreover, you can follow following guide to configure Laravel auth with JWT token.
[http://www.expertphp.in/article/api-authentication-using-jwt-in-laravel-5-4-tutorial-with-example](url)
Thanks.

[2017-08-22 23:44] tremby commented on #1282
I asked the same in #1105.

[2017-08-23 07:15] #1282 closed, assigned to nobody

[2017-08-23 07:16] mesqueeb commented on #1105
This is what I learned from playing around with it:

1. JWT auth has only 1 kind of tokens. Access tokens.
2. Set the ttl short to eg. 1 day.
3. you can refresh your token even after it's expired with something like:
[code]
4. Save the token request date: new Date() in your SPA together with the token.
5. In this case, if an api call is made and the token is expired (more than 24 hours has passed)

[2017-08-23 19:09] marcelo2605 commented on #872
@cristianpontes I'm looking for this. Thanks.

Testing my API in Postman, the URL return `{"code":103,"response":null}` after token expires.

[2017-08-24 08:25] truongquan1987 commented on #155
I have the same issue because i use 2 users model separate for web and api, it tooks me 2 days to figure out why.  This because jwt always use default guard was set in config/auth.php. In my situation default guards is web so when authenticate with jwt , although i was set user model in jwt config, jwt still use the model provider for web was set in config/auth.php.Here is what i'm doing:
- config

[2017-08-24 10:37] marcelo2605 commented on #1142
Hey @seandelaney. This is the most simple solution I have found.

But I'm having one problem: /authenticate/refresh is returning

[code]

[2017-08-24 11:55] openrory commented on #1284
Turned out m problem was caused by the simplest thing: I used `Authorization: <token>` in my POSt header instead of `Authorization: Bearer <token>`. Now it works, but I also used the solution suggested above.

@henriqueweiand did you include the middleware in the route or controller, like this (in the controller) for example?
[code]

Do you receive any error messages? Because some of them may be t

[2017-08-24 13:18] tahiryasin commented on #1054
@kohenkatz could you please explain how to install v1.0.0

[2017-08-24 13:32] awd22 commented on #860
When I initiate 'route:list' at the console, I still see web being the primary guard being used.  I've even changed all of the guards to 'jwt', but sessions are still being used.  Is there a way to hack the framework to just work with tokens?  There's not enough documentation on how to properly implement Tymon's jwt-auth framework.  I've used this tutorial to get past the [api] not defined error,

[2017-08-24 13:41] kohenkatz commented on #1054
Update your `composer.json` with this dependency:

[code]

[2017-08-24 13:54] kohenkatz commented on #1293
Show us some code:

 - `.htaccess` file
 - A sample request from jQuery

[2017-08-24 14:01] kohenkatz commented on #1286
I had a similar issue and I extended the service provider and overrode the method.

You just need to keep an eye on new versions as you upgrade and make sure that you don't break anything.

[2017-08-24 14:03] kohenkatz commented on #1285
It sounds like you need to read a bit more about how composer is supposed to work.

The `composer.json` that you shared is the one for *this project*, but that doesn't actually matter at all. The `composer.json` that matters is the one in the root of *your project*. It should have a section named `require` that lists which version of this code it wants to use.

[2017-08-24 14:07] kohenkatz commented on #1283
Calling `Auth::user()` only works if your *default* authentication provider is this package, as set in `config/auth.php` (`defaults.guard` setting). Otherwise, you need to call `Auth::guard('jwt')->user()` to specify that the JWT guard should be used.

[2017-08-24 14:07] jean-alex commented on #1286
Thanks @kohenkatz. It's what I did while hoping that the next version will put the feature back.

[2017-08-24 14:09] kohenkatz commented on #1289
See also: #1271, #1275, #1278

[2017-08-24 14:10] kohenkatz commented on #1271
PRs #1278, #1288, and #1275 (which is bad) all do this.

See also #1289

[2017-08-24 14:13] kohenkatz commented on #1286
1.x totally changes how it works - it uses Laravel's built-in [`createUserProvider`](https://github.com/laravel/framework/blob/54aa18a4e8495c4b6902d9665ec9fa4d3a1f3d2e/src/Illuminate/Auth/CreatesUserProviders.php#L24).

[2017-08-24 14:18] kohenkatz commented on #1258
I have been using the v1 beta which has support for this for many months with no issues - why don't you try it?

[2017-08-24 14:23] mesqueeb commented on #1258
Cool! When is the Beta going to be the official version?

[2017-08-24 14:36] kohenkatz commented on #1258
@mesqueeb 5 months ago - use `1.0.0-beta.3@dev` as your version code in `composer.json`.

[2017-08-24 14:38] awd22 commented on #1293
*.htaccess file

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

	RewriteCond %{HTTP:Authorization} ^(.*)
	RewriteRule .* - [e=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Cont

[2017-08-24 14:42] awd22 commented on #1293
I'm trying to look for a source on the web on how to pass the token with JavaScript.. I have had no luck finding a sample script that I could build off of.  I can see the header in developer tools after using this PHP command:
response()->json(['token'=>$token, ])->header('Authorization', 'Bearer ' . $token);
I just dont know how to grab the token, attach it to all of the requests after login is a

[2017-08-24 14:50] kohenkatz commented on #1293
Did you try the jQuery documentation or searching StackOverflow? There are dozens of examples.

Here's an example of how to do a jQuery `ajax()` request with JWT:

[code]

[2017-08-24 14:55] kohenkatz commented on #1293
Did you try the jQuery documentation or searching StackOverflow? There are dozens of examples.

Here's how to get the token when you log in:

[code]

Here's an example of how to do a jQuery `ajax()` request with JWT:

[code]

[2017-08-24 14:56] awd22 commented on #1293
I appreciate it.. I am going to try to implement it into my project... I will get back to you if I run into problems

[2017-08-24 18:40] mtpultz commented on #860
@awd22 it is definitely possible.  What version of Laravel are you using 5.3, 5.4, 5.5?  Where are you putting your routes web.php, api.php, etc?  Have you looked in the RouteProvider?

[2017-08-24 18:45] awd22 commented on #860
Laravel 5.4, The routes are in the default web.php file.  I haven't modified anything in the RouteServiceProvider file

[2017-08-24 18:47] mtpultz commented on #860
I think if you look in the RouteServiceProvider you'll see very quickly why putting your routes in web.php is using the web middleware.

[2017-08-24 18:49] awd22 commented on #860
yeah I saw that Route::middleware was set to web... So do you have any suggestions where I should insert ajax requests at?  Newby at JavaScript & HTTP stuff

[2017-08-24 18:57] awd22 commented on #860
when i change it to api.. the whole front end breaks and it can't even bring up the landing page without an error

[2017-08-24 18:58] mtpultz commented on #860
The route service provider is mapping middleware to a file.  You're putting your routes in web.php, which has web middleware automatically applied to it so your routes have it applied.  So you can either remove the middleware from mapWebRoutes (not advised since it can be used for views or responses that require cookies), put them in mapApiRoutes (api.php), or make up your own mapping.

Leave the

[2017-08-24 19:17] awd22 commented on #860
I'm trying to follow you... so do I change the Route::middleware line for mapWebRoutes()?  Because as soon as I change it from web to api, the whole app breaks and I get an error.  I have a template for ajax requests but not sure how to put them in Laravel

[2017-08-24 19:23] quantumhype commented on #860
@awd22 - I think the easiest way is to leave the web middleware alone. When you want to make ajax requests, use the /api/ route. If you followed this guide correctly, the api route should be protected by the 'api' guard, which means it's using Tymon's JWT middleware.

So, make ajax requests to: yourdomain.com/api/testRoute. (Notice /api/ in the name of your URL)

*Edit* Actually the middleware isn

[2017-08-24 19:27] awd22 commented on #860
yeah I understand the prefix part of the routeserviceprovider file.  I'm trying to have every user be authenticated through tokens, and not have any sessions being recorded.  Is that even possible in Laravel?

[2017-08-24 19:48] mtpultz commented on #860
So you're saying that using the api middleware provided through api routes in api.php and that is creating sessions?  I don't understand how that is possible.  The api middleware by default is a middleware group that just throttles and does bindings.  To create a session you'd have to be using the LoginController and then not making any JWTAuth changes listed above in the guide.  I think you shoul

[2017-08-24 19:56] awd22 commented on #860
namespace App\Http\Controllers\Auth;
use App\Http\Controllers\Controller;
use Illuminate\Foundation\Auth\AuthenticatesUsers;
use App\User;
use Illuminate\Http\Request;
use JWTAuth;
use Illuminate\Support\Facades\Redirect;
use Illuminate\Foundation\Validation\ValidatesRequests;
use Illuminate\Validation\ValidationServiceProvider;
use DB;
use Tymon\JWTAuth\Exceptions\JWTException;
class LoginControl

[2017-08-24 19:57] awd22 commented on #860
My validation methods work before and your methods work.. I just dont know how to get rid of the sessions.. I just want JWT auth for everything.

[2017-08-24 20:09] mtpultz commented on #860
And you've changed `/config/auth.php` to use the `jwt` driver for the `api` guard, and `api` is your default guard?  That is where the default Laravel authentication using sessions is removed and replaced with JWT.  After that you can use the `auth` middleware and it will default to the `api` guard.  If `api` is not set to be the default guard then you need to explicitly use `auth:api` middleware

[2017-08-24 20:17] awd22 commented on #860
'defaults' => [
        'guard' => 'api',
        'passwords' => 'users',
    ],
    /*
    |--------------------------------------------------------------------------
    | Authentication Guards
    |--------------------------------------------------------------------------
    |
    | Next, you may define every authentication guard for your application.
    | Of course, a great default configura

[2017-08-24 20:35] mtpultz commented on #860
So where are you seeing the session? and maybe provide the routes your using to login and then access authenticated routes.

[2017-08-24 20:38] awd22 commented on #860
when I open developer tools, there is a set-cookie in the response/request headers... so the session is being stored in cookies on the browser.. so that's why I know sessions are still being used

[2017-08-24 22:39] tremby commented on #1105
I'm not sure why you think you need to pass a date with the token. Tokens already have their expiry date stored within them.

One way to get it is with the [jwt-decode](https://github.com/auth0/jwt-decode) package:

[code]

And then just compare the current date with `expiresAt`.

But yes, I'm already using similar logic to transparently refresh a token if expired before making the API call.

[2017-08-24 22:42] tremby commented on #1105
I looked over the JWT specification and you're right that there's no such thing as a special refresh token.

So I think this ticket is actually asking exactly what I asked in #1146: how can I make a token which *cannot* be refreshed?

I guess it'd have to be a change to the logic in either the refresh functionality in this package, or a higher-level change to the logic in the refresh middleware, w

[2017-08-25 06:15] larryu commented on #1258
@mesqueeb Thanks, I will give it a try.

[2017-08-25 07:48] mtpultz commented on #860
Have you tried removing the session middleware from the web middleware group in Kernel.php?

[2017-08-25 13:15] awd22 commented on #860
when I comment out all of the lines with session under $middlewareGroups, the whole app breaks & error comes up when trying to display landing page

[2017-08-25 13:24] paulschwoerer commented on #1269
@openrory I set it as a global middleware in my `bootstrap/app.php` file:

[code]

I am then using the `jwt.auth` middleware in my routes.

[2017-08-25 15:07] LexBel-co commented on #868
@haydarai, did you find any solution for the reported issue?

[2017-08-25 15:43] openrory commented on #1269
Okay, great. Thanks!

[2017-08-25 16:00] LexBel-co commented on #1142
@marcelo2605 Have you tried with something like this?:

`return response($request->getContent(), 200)
            ->header('Content-Type', $type)
            ->header('X-Header-One', 'Header Value')
            ->header('X-Header-Two', 'Header Value');`

[2017-08-25 16:39] marcelo2605 commented on #1142
@LexBel-co

I'm using just `return response($request->getContent(), 200);`. This code return form me the new token in the HTTP header. So I don't known what `$this->headers` do.

[2017-08-26 03:43] haydarai commented on #868
@LexBel-co as far as I remember I disable the token blacklist. Haven't found a better solution for now.

[2017-08-28 16:41] awd22 commented on #1293
@kohenkatz So I have put 'jwt.auth' in the middleware on the mapWebRoutes function in the RouteServiceProvider file.. So now, basically my web app is broken because it requires a token on the index/landing page.  I don't want to use session data at all.  Is that possible with this package?  Where should I place the AJAX requests at in the project?

[2017-08-28 17:04] kohenkatz commented on #1293
@awd22 You should not be using `jwt.auth` on your `web` routes, because can't use JWT to load the web page itself unless you put the entire token in the URL as a query string parameter (which is highly not recommended). In general, you should use `jwt.auth` for `api` routes only. You have two options:

 1. Allow non-authenticated users to access the page but don't show them any data until they log

[2017-08-28 17:09] awd22 commented on #1293
I have configured session cookies so I'm hoping that is secure enough for all of my users.  I will be making an interface in the future for a medical device to connect with and send messages to my app.  so I'm going to keep this issue open until I'm ready to start on the medical device api

[2017-08-28 21:19] ranierif commented on #1100
I have same error, and I can not fix it. In the local environment runs right, but in the production of the same error:

`Target [Tymon\JWTAuth\Providers\JWT\JWTInterface] is not instantiable while building [Tymon\JWTAuth\Middleware\GetUserFromToken, Tymon\JWTAuth\JWTAuth, Tymon\JWTAuth\JWTManager].`

Any help for this?

[2017-08-29 10:07] alihossein commented on #1246
thanks @mehrdaad  @emersonbroga

[2017-08-29 18:41] paulschwoerer commented on #1280
I had the same issue with the develop branch and replaced the following (around line number 60) in `JWTGenerateSecretCommand`:
[code]
with
[code]
This will work fine for the default .env file in both Lumen and Laravel.
Maybe @tymondesigns, you are able to add a Lumen speacial case. Thanks :)

[2017-08-29 20:05] tymondesigns commented on #1280
Thanks for catching this, should be fixed as per 234648884b78e987686597964a6496cf78780cb5

[2017-08-29 20:05] #1280 closed, assigned to nobody

[2017-08-30 06:18] antonioreyna opened #1294 "Where should i set a custom secret?"
Where is the right place to set a custom secret to decode my jwt? i tried as a middleware before the auth middleware but its not working

[2017-08-30 08:04] seandelaney commented on #1142
@marcelo2605

Sorry for the confusion - the snippet I posted above was from a client project where I had defined headers in the constructor like this:

[code]

Obviously, this was specific to a project I was working so you can either remove `$this->headers`, replace `$this->headers` with an empty array or do what @LexBel-co has suggested.

Glad you found my solution easy to follow.

[2017-08-30 09:16] cspshadx commented on #1289
L5.5 is out, any updates on this?

[2017-08-30 10:57] marcelo2605 commented on #1142
Thanks @seandelaney !

[2017-08-30 18:32] tymondesigns commented on #1289
done via #1278

[2017-08-30 18:32] #1289 closed, assigned to nobody

[2017-08-30 18:32] tymondesigns commented on #1271
done via #1278

[2017-08-30 18:32] #1271 closed, assigned to nobody

[2017-08-30 18:36] tymondesigns commented on #1276
I don't really want to bloat the config out too much, it's simple enough to customize things through your AppServiceProvider or any other e.g.

[code]

[2017-08-30 18:36] #1276 closed, assigned to nobody

[2017-08-31 09:11] cboisen commented on #937
@francisrod01 Can you elaborate? How did you change your code from the code you posted initially?

[2017-08-31 11:52] francisrod01 commented on #937
@hauthorn try this https://github.com/tymondesigns/jwt-auth/issues/860

[2017-08-31 16:30] panovps commented on #1284
I temporary decided the problem.

In file /tymon/jwt-auth/src/Http/Parser/AuthHeaders.php I replaced function fromAltHeaders with it:
[code]

[2017-08-31 17:14] AlexBuitrago opened #1295 "tymon/jwt-auth 1.0.0-beta.3 not working in laravel/framework v5.5.0"
`  Problem 1
    - Installation request for tymon/jwt-auth 1.0.0-beta.3 -> satisfiable by tymon/jwt-auth[1.0.0-beta.3].
    - Conclusion: remove laravel/framework v5.5.0
    - tymon/jwt-auth 1.0.0-beta.3 requires illuminate/http 5.1.* || 5.2.* || 5.3.* || 5.4.* -> satisfiable by illuminate/http[v5.1.1, v5.1.13, v5.1.16, v5.1.2, v5.1.20, v5.1.22, v5.1.25, v5.1.28, v5.1.30, v5.1.31, v5.1.41, v5.1.6,

[2017-08-31 18:51] geekcom opened #1296 "Error while executing command php artisan jwt:generate - Laravel 5.5"
**Details:**

* Error while executing command **php artisan jwt:generate**
* Version: "tymon/jwt-auth": "0.5.*"
* Laravel 5.5

**Error:**

[ReflectionException]Method Tymon\JWTAuth\Commands\JWTGenerateCommand::handle() does not exist

[2017-08-31 18:58] tymondesigns commented on #1295
Just tagged a new release for 5.5 https://github.com/tymondesigns/jwt-auth/releases/tag/1.0.0-rc.1

[2017-08-31 18:58] #1295 closed, assigned to nobody

[2017-08-31 19:00] tymondesigns commented on #1296
Laravel 5.5 compatiblity is only available via https://github.com/tymondesigns/jwt-auth/releases/tag/1.0.0-rc.1

[2017-08-31 19:00] #1296 closed, assigned to nobody

[2017-08-31 19:03] geekcom commented on #1296
Thanks @tymondesigns

[2017-09-01 05:27] josevieirame commented on #1294
You can set your custom secret in .env file!
[code]

[2017-09-01 16:00] ismaelse13 commented on #782
Hi @buihoang91tin , I'm having the same error. Could help me with that?

[2017-09-02 03:43] fokosun commented on #1007
@derekmd thanks for this but what about the case of Token required?

[2017-09-02 14:23] mits87 opened #1297 "jwt:auth middleware bug"
Hi,

I found error in middleware jwt:auth.
When I add to Kernel.php lines:

[code]

and I run route with `jwt.auth` middleware then I got error:

[code]

I'm using packages:
[code]

Could you fix it?

[2017-09-02 16:05] tymondesigns commented on #1297
You need to re-publish your config

[2017-09-02 16:05] #1297 closed, assigned to nobody

[2017-09-03 10:28] Milos0110 opened #1298 "Laravel 5.5. jwt:generate issue"
Hi all,
I came upon one issue when I try to run `php artisan jwt:generate` I get the Reflection Exception saying "[ReflectionException]  Method Tymon\JWTAuth\Commands\JWTGenerateCommand::handle() does not exist"

Both Facades and service providers are entered properly and they are valid.

Also for people who have a struggle to make it work I can advise one solution. Go to **JWTGenerateCommand.php*

[2017-09-03 11:44] ameya-woxi opened #1299 "Login with different credentials"
Hello, I am new to lumen and to this package.. I have install Lumen 5.4. I have integrated this package successfully in my project. I wanted to know, is there any way by which I will be able to **_login with credentials other than email and password_**. My projects requirement is that user should be able to login with **_mobile and otp_**. So please guide me to use this package.  Thank you....

[2017-09-03 16:01] catalinux commented on #1299
Do you mean generating a jwt? You can generate it in a controller checking what ever data you want

[2017-09-04 09:53] roypritha commented on #1270
I'm also having the same issue. On login, the token generates fine, but on all other calls where I've passed the token in header, it always says "Token not provided". Can anybody please help?

[2017-09-04 13:44] hughsaffar commented on #1298
I guess this is already resolved by #1255.

[2017-09-04 16:55] hashk99 opened #1301 "Class 'JWTAuth' not found"
`Class 'JWTAuth' not found {"exception":"[object] (Symfony\\Component\\Debug\\Exception\\FatalThrowableError(code: 0): Class 'JWTAuth' not found`

Error occured in a laravel 5.5 project.
I've republished my configurations.

[2017-09-04 16:56] hashk99 commented on #1301
Seems like adding JWTAuth facade to app configurations missing in the document. please update it.
I've managed to fix this issue by adding `
        'JWTAuth' => Tymon\JWTAuth\Facades\JWTAuth::class,` into  `aliases` array in the app.php file.

[2017-09-04 17:15] tymondesigns commented on #1301
it's explained here https://github.com/tymondesigns/jwt-auth/wiki/Installation

[2017-09-04 17:15] #1301 closed, assigned to nobody

[2017-09-05 01:13] ghost commented on #1298
Acho que não foi.

[2017-09-05 03:05] mgoku commented on #1294
@antonioreyna : Do you mean custom JWT token as described in issue #503 ?

I also tried to implement it in a middleware, but not working as well

[code]

Got:
[code]

Issue #1253 also pretty much asking the same question.

[2017-09-05 03:55] ikristher opened #1302 "Argument 1 passed to Tymon\JWTAuth\JWT::fromUser() must be an instance of Tymon\JWTAuth\Contracts\JWTSubject, instance of App\User given"
Symfony\Component\Debug\Exception\FatalThrowableError: Type error: Argument 1 passed to Tymon\JWTAuth\JWT::fromUser() must be an instance of Tymon\JWTAuth\Contracts\JWTSubject, instance of App\User given. How do I authenticate with laravel 5.5

[2017-09-05 05:40] ikristher commented on #1302
I got it working, it seems that wiki hasn't been updated to reflect the 1.* version. What I did is create a custom guard

My AuthServiceProvider looks like this

[code]

Then in my auth.php config file:

[code]
Lastly on my Authentication Controller:

[code]

[2017-09-05 05:40] #1302 closed, assigned to nobody

[2017-09-05 06:04] garhbod commented on #983
I was having the same issue. Was able to overcome it not by setting
[code]
Like @njt1982 mentioned as that would open up a vulnerability but I set the `blacklist_grace_period` to `30` for 30 seconds
[code]

Solved the issue of tokens dying for me and kept the security of having a blacklist

[2017-09-05 09:47] timvdalen commented on #1102
@mikedamoiseau While it's fine to not add any custom claims, I'm pretty sure the identifier should be set to your user's unique identifier (like its `id`).

Without this, JWTAuth can't distinguish between users and I think all users will be able to authenticate as each other.

[2017-09-05 23:35] garhbod commented on #983
Okay this only fixed the issue for 30 seconds for me delaying the inevitable `401 - Token has been black listed`

I now have two options as I see it.
1) make a custom refresh middleware or closure where the refresh is called once and simple refreshes the token but doesn't blacklist it straight away
2) refresh after or before every request

Thoughts?

[2017-09-06 01:11] garhbod commented on #983
Okay the solution for me was the following. I was even able to change the `JWT_BLACKLIST_GRACE_PERIOD` back to `0`.

I changed my refresh api endpoint from
[code]

to

[code]

This prevents the endpoint being cached by the browser which means that the new/refreshed token is always received.

[2017-09-06 02:31] acidjazz commented on #983
having all of these issues as well, @garhbod's cache method sort of worked but I can still get my token blacklisted sometimes when trying to refresh it.

[2017-09-06 04:47] garhbod commented on #983
@acidjazz What frontend are you using? Are multiple requests happening at once?

[2017-09-06 06:14] acidjazz commented on #983
@garhbod nuxtjs, I don't think so, I can duplicate the blacklisting event by manually logging in, waiting for it to expire and hitting /refresh either with my browser or postman

[2017-09-06 09:25] jacinto-joao opened #1303 "jwt.php Config not working with Laravel 5.5"
Hi there!

I'm facing new issue with jwt with laravel 5.5

In my application i have multi authentication one is `App\Models\User` and another one is `App\Models\Merchant` everything was working fine, with laravel 5.4, so I have upgraded laravel from 5.4 to 5.5 then things started not working fine.

The JWT authentication is working, but not the way like it was before the upgrade.
Like if i specify

[2017-09-07 03:19] mikedamoiseau commented on #1102
@timvdalen Yes you are right, this modification allows the code to run, but the functionality is broken.

For several reasons, I had to switch my project to Laravel, and there I could easily include the package without any hack.

[2017-09-07 13:06] guduchango opened #1304 "JWTAuthServiceProvider not found"
Version Laravel 5.5
tymon/jwt-auth : 1.0.0-rc.1

I am in laravel 5.5 and when I add in app.php "JWTAuthServiceProvider" can not find it, as I should do to take it.
regards

[2017-09-07 15:25] Fershark commented on #1304
Here are the installation instructions:
https://github.com/tymondesigns/jwt-auth/blob/docs/docs/laravel-installation.md

[2017-09-07 20:52] guduchango commented on #1304
Thank you very much, you saved my day.

[2017-09-08 04:35] andycc77 opened #1305 "how can I decode the jwt-auth？"
hey brother how to use u r jwt-auth can i decode it teach me plz

[2017-09-08 07:05] alexjose opened #1306 "Unable to install with Lumen 5.5"
I am trying to install [jwt-auth](https://github.com/tymondesigns/jwt-auth) with Lumen 5.5 app.

Here is the output of composer require

[code]

[2017-09-08 08:12] cabromiley commented on #860
If like me you run into this issue but setting the default guard to api is not an option then i suggest following this guide: http://mattallan.org/2016/setting-the-guard-per-route-in-laravel/ to set your driver. This fixed it for me.

[2017-09-08 08:25] tymondesigns commented on #1306
The problem there is dingo/api not this package. Unfortunately Jason doesn't have the time to maintain it so is [looking for someone to take over](https://github.com/dingo/api/issues/1428)

[2017-09-08 08:25] #1306 closed, assigned to nobody

[2017-09-08 09:11] cabromiley opened #1307 "Laravel 5.5: fails to read auth header"
when running the following headers Authorization:Bearer XXX

I discovered that the following code fails in the baseMiddleware:
[code]

The has request function was recently updated in laravel 5.5 to retain the same functionality you should use: $request->filled

Source: https://laravel.com/docs/5.5/upgrade

Hope this helps

[2017-09-08 20:08] Chintan7027 commented on #1298
Any solution for this ? I am facing same problem

[2017-09-09 19:29] koslo opened #1308 "Check Middleware not working correctly"
`/tymon/jwt-auth/src/Http/Middleware/Check.php` on `1.0.0-rc.1`

Please remove the try catch or handle the exception.

[2017-09-11 03:04] #362 closed

[2017-09-11 07:14] marulitua commented on #1305
If use `jwt.auth` middleware and correctly passed the token you can decode it with
`app('auth')->payload()`
and you'll get
[code]
So yes, you can decode it.

[2017-09-11 07:29] marulitua commented on #1102
@mikedamoiseau @jgrossi
If you guys do that, `subject` will be `null` and you will not be able to retrieve user from token.
Instead return `null` you can do
[code]
So, you will be able to use `app('auth')->user()` to get user from token.
The same thing goes for `getJWTCustomClaims`, you can use it to add custom claims to token.
I learned it the hard way.

[2017-09-11 08:55] fengerwoo opened #1309 "Laravel 5.5 安装提示： [Symfony\Component\Debug\Exception\FatalThrowableError] Undefined constant 'Tymon\JWTAuth\Facades\JWTFactory'"

[2017-09-11 09:29] fengerwoo commented on #1298
非常感谢

[2017-09-13 20:42] #841 closed

[2017-09-13 20:42] #853 closed

[2017-09-13 21:37] iamnimnul opened #1310 "JWT 1.0.0-rc.1 with laravel-doctrine 1.4 and laravel 5.5 - User Provider getModel()"
Hi there.

In my current configuration I am using:
"laravel/framework": "5.5.*",
"laravel-doctrine/orm": "1.4.*",
"tymon/jwt-auth": "^1.0.0-rc.1"

After installing JWT I spotted an issue.
```Call to undefined method LaravelDoctrine\\ORM\\Auth\\DoctrineUserProvider::getModel()```

`Tymon\JWTAuth\JWTGuard` in line 77 https://github.com/tymondesigns/jwt-auth/blob/develop/src/JWTGuard.php#L77 says ```

[2017-09-13 21:39] MateuszKoguc commented on #1310
It's related to https://github.com/tymondesigns/jwt-auth/pull/1167/files made by @cappuc

[2017-09-14 01:22] wemersonjanuario commented on #1307
Any Workaround?

[2017-09-14 02:22] milobluebell commented on #1111
what? i saw you just said that your Key "is ok" in your comment on 17 Apr, so what's your meaning of "JWT key missing"? ( sry for my poor english:)

[2017-09-14 02:23] milobluebell commented on #1111
i have the same problems as this issue,but i have no idea how to fix this..

[2017-09-14 02:59] milobluebell commented on #1111
i fixed this problem with some native php codes,but i don't know if it is right or will causes some bugs in some other places . --- i modify the codes in authJWT.php on line.22 from `$user = JWTAuth::toUser($request->input('token'))` to `$user = JWTAuth::toUser(explode(" ",$request->header("authorization"))[1])`       AND my token info in my Request Headers is `Authorization:Bearer {token string}`

[2017-09-14 06:26] tijanmdr commented on #1102
@tymondesigns While using Lumen 5.5, I get following errors while generating new JWT secret token:

[code]

[2017-09-14 07:26] tijanmdr commented on #1102
@lvegameza use version `1.0^dev`. `5.0` doesn't work

`composer require tymon/jwt-auth:"^1.0@dev"`

[2017-09-14 09:18] mzjmc123 opened #1311 "laravel5.4 Dingo+jwt Operating system problems"
I developed API in version 5.4 using dingo+jwt to normal operation in windows, but in centos7 appeared in JWTAuth:: parseToken () can not resolve the problem, I verified with and without 10 times, in windows the following items uploaded to centos7 in the normal use, but as long as I will direct the development of not analysis by centos7, in front of the login registration, no problem, what is goin

[2017-09-14 09:30] xxRockOnxx opened #1312 "[Question/Help] Middleware + custom guards/table. How?"
I need a way to specify a guard to be used aside from setting a default guard. Haven't find anything helpful yet.

[2017-09-14 16:13] nicoburns commented on #1307
Unsure why this works, but a aorkaround seems to be to use `JWTAuth::getPayload($request->token);` instead of `JWTAuth::parseToken()`.

[2017-09-14 19:05] packytagliaferro commented on #1298
I just added this package to my Laravel 5.5 project

Composer:
`"tymon/jwt-auth": "0.5.*"`

added the following to the app config:

Providers
`Tymon\JWTAuth\Providers\JWTAuthServiceProvider::class,`

Aliases
[code]

then: `php artisan jwt:generate`

Error:

[code]

[2017-09-14 20:12] packytagliaferro opened #1313 "Post 419 (unknown status) error"
So I have removed all laravel 5.5 oringinal auth stuff so my Auth\LoginController now looks like this:

[code]

Route in Web.php
`Route::post('/authenticate', 'Auth\LoginController@authenticate');
`

In my login.vue file:
[code]

If I try to login I get this error:

[code]

I am new to Token Auth so not sure whats going on. The error seems pretty vague

[2017-09-14 20:35] packytagliaferro commented on #1313
For anyone facing this I had to put the route in API like

`Route::post('/authenticate', 'Auth\LoginController@authenticate');`

then post to

`/api/authenticate`

[2017-09-14 21:03] hughsaffar commented on #1298
The PR for this issue has been merged into `develop` branch.
Try `composer require tymon/jwt-auth:dev-develop --prefer-source`
For Service Provider, you need to check `docs` branch.

[2017-09-15 04:12] estenger commented on #1298
@Milos0110 `public function handle() { $this->fire(); }` worked for me. Thanks!

[2017-09-15 07:41] tijanmdr commented on #1298
I don't think messing with library is a good idea. Rather try

`composer require tymon/jwt-auth:dev-develop --prefer-source`

Delete `jwt.php` (if previous version is installed) file from config folder and then try `php artisan vendor:publish`. It'll list all the possible configurations to publish. You'll need to choose JWT.

and update provider in `config/app.php` as
- If line `Tymon\JWTAuth\Prov

[2017-09-15 08:29] nijil-v commented on #1277
@therealmjk How did you solve this? I am also getting the same error

[2017-09-15 11:33] jackengine opened #1314 "JWT_BLACKLIST_GRACE_PERIOD does not have any effect"
with jwt-auth 0.5.12, Laravel 5.4.28 this do not have any effect. refreshed token gets blacklisted immediately..

[2017-09-15 11:39] jackengine commented on #1270
Try adding this in htaccess
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

Or try using token as url parameter if it fits with you app.

[2017-09-15 13:54] okt-pcournoyer opened #1315 "Username and Password in different tables"
Hi,

How could I authenticate an user if the password is not in the same table as the permanent code? There's a relation One-To-One between these 2 tables.

Using 0.5.x version

User
----------
+ id
+ first_name
+ last_name
+ password
...

Student
---------
+ user_id
+ permanent_code (unique)
...

[2017-09-16 01:11] bkremenovic commented on #1308
I agree... Not working for me either.

By the way. what is the difference between Check.php and Authenticate.php ??

Authenticate.php does the thing for me, but what is Check.php ? Isn't it the same thing ?

[2017-09-16 17:15] eranshmil commented on #1270
Make sure you got mod_rewrite installed on your apache and change AllowOverride None to AllowOverride All in the configuration file of the virtual host.

[2017-09-16 18:30] johncloud200 opened #1316 "Any guide how to use on Laravel 5.5?"
HooOoo0ooW?

[2017-09-16 21:02] koslo commented on #1308
Authenticate is for all requests where you have to be logged in.
Check should only determine that the token is valid.
In most common APIs you have a GET route to check your login status and for this route i use this middleware.

[2017-09-17 04:12] andreolvr commented on #1316
I got it working by doing this:

Add `"tymon/jwt-auth": "dev-develop"` to your `require` in `composer.json` then run `composer update`

Add the service provider to the providers array in your app.php config:
`Tymon\JWTAuth\Providers\LaravelServiceProvider::class`

Next, also in the app.php config file,add the JWTAuth facade and JWTFactory facade:
[code]

Run:
`php artisan vendor:publish --provider

[2017-09-17 07:11] johncloud200 commented on #1316
how about Kernel.php? bytheway I guess dev branch already support auto discovery

[2017-09-17 08:10] taitai42 commented on #1312
if you use laravel 5.5, i and 1.0-rc1 i actually did it by renaming my middleware alias in something else than jwt.auth because it's used by laravel service provider to set the basemiddleware instead.

then in your own middleware you can decode the token and use the guard you want :

[code]

[2017-09-17 10:19] johncloud200 commented on #1267
How to use exception on Handler.php?

[2017-09-17 15:53] Onyekam commented on #1298
Neither adding `public function handle() { $this->fire(); }` nor doing `composer require tymon/jwt-auth:dev-develop --prefer-source` worked for me. I'm on build 423

[2017-09-17 19:29] lomholdt commented on #1298
Using `dev-develop` version worked for me on Laravel 5.5.4. The command for generating the key has changed from `jwt:generate` to `jwt:secret`.

[2017-09-18 06:32] DoDSoftware commented on #1105
@mesqueeb That seems correct. I really wish that were explained in the wiki. The tiny section on refreshing tokens doesn't really tell us much. Especially since this single token approach seems to unlike most other JWT services.

[2017-09-18 10:11] ghost commented on #1316
Note that on the newest version (rc1) you shouldn't need to add the ServiceProvider to the app.php file anymore since it's compatible with Laravel 5.5's automatic discovery feature.

[2017-09-18 17:47] andreolvr commented on #1316
And how do i install this new version?

[2017-09-19 03:09] donng commented on #1316
@andreolvr It really helps,but there is a little wrong.

-   JWTAuth facade  is  **"Tymon" not "'y"** ,
-  I generate jwt secret using : **php artisan jwt:secret**

 because command "jwt:generate" is not defined.

[2017-09-19 07:33] Punksolid commented on #1298
I did what @tijanmdr says and then jwt:secret and  worked.

[2017-09-19 07:34] tijanmdr commented on #1256
I'm sorry didn't reply then. I already fixed it by doing `(string)JWTAuth::getToken()` which successfully gives me my required `Authorization Code`

[2017-09-19 07:34] tijanmdr commented on #1256
I'm sorry didn't reply then. I already fixed it by doing `(string)JWTAuth::getToken()` which successfully gives me my required `Authorization Code`

[2017-09-19 07:34] #1256 closed, assigned to nobody

[2017-09-19 07:47] tijanmdr commented on #1298
@Onyekam after `composer require tymon/jwt-auth:dev-develop --prefer-source`, delete `jwt.php` file from `config` folder and then try `php artisan vendor:publish`. It'll list all the possible configurations to publish. You'll need to choose JWT.

Then follow the steps above. :)

[2017-09-19 12:06] andreolvr commented on #1316
Thanks, @Donng. Already edited it.

[2017-09-19 14:59] eranshmil commented on #1256
Instead, you can use JWTAuth::getToken()->get()

[2017-09-19 16:50] zagreusinoz commented on #1304
I had this issue even after following the instructions.  The issue was that the JWTAuthServiceProvider appeared in /bootstrap/cache/config.php .  When I removed that line, then it worked.

Hope this can help someone else.

[2017-09-19 18:06] coquer commented on #1303
Are you applying the contracts for it? `JWTSubject`

[2017-09-19 19:20] jacinto-joao commented on #1303
In which file or where I should Apply the Contracts `JWTSubject`?

[2017-09-20 01:41] chillcaw opened #1319 "addClaim is not adding claim values"
After a recent update the `addClaim()` function is no longer adding a `$name`, `$value` pair.

This code (This was working about a couple of weeks ago):
`$this->jwt->factory()->addClaim('aid', $request->get('application_id'));`

Is adding {`"addClaim" : "aid"`} to the payload of the token, rather than {`"aid" : aidValue`}

[2017-09-20 06:29] zagreusinoz opened #1320 ""Method factory does not exist.""
I'm running Laravel 5.5.7 with 1.0.0-rc.1 of jwt-auth.  When I try to get a token I get a "Method factory does not exist." error.

Any help would be much appreciated.

Here is the error from Whoops:
[code]

My user model:
[code]

My auth controller:
[code]

My routes:
[code]

[2017-09-20 06:31] zagreusinoz commented on #1320
I love it when you work for hours on an issue, and literally 30 seconds after posting a request for help you solve the issue! :)

I ran `php artisan config:cache` and now I can get the token.

[2017-09-20 06:31] #1320 closed, assigned to nobody

[2017-09-20 07:14] zagreusinoz opened #1321 "Alternative Middleware?"
Hi there,

My endpoints are all secure, however I want to secure them a couple of ways - users will authenticate with a JWT, while clients will authenticate by passing an API key.

The routes will fall into one of the following categories:

1. Protected by JWT
2. Protected by API key
3. Protected by **EITHER** JWT or API key

1 and 2 are easy, however I don't know how to implement # 3.

Any sugges

[2017-09-20 08:16] SwapnilEI commented on #1298
public function handle() { $this->fire(); } this worked for me. Thanks @Milos0110  👍

[2017-09-20 09:32] php2020 commented on #1316
"Type error: Argument 1 passed to Tymon\JWTAuth\JWT::fromUser() must be an instance of Tymon\JWTAuth\Contracts\JWTSubject, instance of App\User given, called in C:\xampp\htdocs\laravel55\vendor\tymon\jwt-auth\src\JWTAuth.php on line 54"

[2017-09-20 10:49] donng commented on #1316
@php2020  you should modify your App\User  , it should implement JWTSubject ,just see the second answer.

[2017-09-20 12:35] jgrossi commented on #1246
@emersonbroga @alihossein I'm having the same issue, but I'd like to use the `$this->actingAs($user, 'api')` method, but it's not working.

For now I created a `AttachJwtToken` trait, so inside the test class I just `use AttachJwtToken` and all calls send the JWT token for me. The trait code is here: https://gist.github.com/jgrossi/4b1364e20418eca3ca937e70550c1823.

Using it you can also do:

[cod

[2017-09-20 13:33] mbezhanov commented on #1316
@andreolvr

`composer require tymon/jwt-auth "1.0.0-rc1"`

[2017-09-20 14:38] jaksm commented on #1298
Why shouldnt you just rename fire() to handle()? I did this and all works fine.

[2017-09-20 14:43] SwapnilEI commented on #1298
@jaksa-m yup correct. I have renamed fire to handle now.

[2017-09-20 14:54] jaksm commented on #1298
I'm glad it helped!

[2017-09-21 01:20] acidjazz commented on #182
@GlenHughes are you using
[code]
in your class? I believe this overrides the facade `JWTAuth` and does not allow static calls

[2017-09-21 03:52] acidjazz commented on #1157
@yelnyaface 's suggestion of manually killing `bootsramp/cache/config.php` did it for me too

![image](https://user-images.githubusercontent.com/967369/30678227-6644a4c8-9e56-11e7-9279-0af6d47aa2dd.png)

[2017-09-21 04:59] php2020 commented on #1316
I can get token. but can't get $user,
Tymon \ JWTAuth \ Exceptions \ TokenInvalidException
Token Signature could not be verified.

[2017-09-21 05:00] php2020 commented on #1316
@Donng
Tymon \ JWTAuth \ Exceptions \ TokenInvalidException
Token Signature could not be verified.

[2017-09-21 05:26] mbezhanov commented on #1316
@php2020 When does that exception get thrown exactly? When a HTTP Request hits your middleware, or when you manually try to validate a token? Can you share some sample code please?

[2017-09-21 05:43] php2020 commented on #1316
@mbezhanov

`<?php

namespace App\Http\Controllers;

use Illuminate\Http\Request;
use Validator;
use JWTAuth;

class AuthController extends Controller
{
    /**
     * Authenticate an user.
     *
     * @param Request $request
     * @return \Illuminate\Http\JsonResponse
     */
    public function authenticate(Request $request)
    {
        $credentials = $request->only('email', 'password');

[2017-09-21 05:57] mbezhanov commented on #1316
@php2020 Have you set a "JWT_SECRET" in your .env file?

`php artisan jwt:secret`

e.g.

`JWT_SECRET=uYa1uW32fUt7k7MLD9zVRq5EoyaTC3u`

[2017-09-21 06:06] php2020 commented on #1316
@mbezhanov
`$ php artisan jwt:secret

 This will invalidate all existing tokens. Are you sure you want to override the secret key? (yes/no) [no]:

jwt-auth secret [Pq5nm2BLxo1sClPJhH65X3pTWfyXzh41] set successfully.`

My fault, before .env was not covered, I can get user!  thank you!

[2017-09-21 06:29] php2020 commented on #1316
@mbezhanov How do I write my own defined middleware to return some error information, such as token error, token expiration
I wrote it this way:
`<?php

namespace App\Http\Middleware;

use Closure;
use Exception;
use Tymon\JWTAuth\Facades\JWTAuth;

class authJWT
{
    public function handle(Request $request, Closure $next)
    {
        try {

            $user = JWTAuth::toUser($request->input('t

[2017-09-21 08:29] mbezhanov commented on #1316
@php2020 I personally use the built-in `jwt.auth` middleware in my API controllers like this:

[code]

With this middleware, if a JWT token is invalid or expired, a HTTP 401 status code will be returned. My JS clients (API clients) then react to the 401 responses, by attempting to obtain a new token, and redirecting to a login page upon failure, where the user is supposed to re-type her username a

[2017-09-21 12:23] oxodesign commented on #1273
As workaround you may use: `$this->authorize('update', $model);`, this worked for me.

But I had the same issue when tried to use `->can()`

[2017-09-21 22:13] n0490b commented on #1315
create a view or query both tables yourself and pass in the username and password after you have verified to attempt or  create token from user

[2017-09-22 07:42] tijanmdr commented on #808
This code gave me a valid token, without getting blacklisted
```$token = JWTAuth::parseToken()->refresh();```

Made my own middleware
[code]

[2017-09-22 11:47] hzburki commented on #53
This fix does not work for Lumen 5.5 ... I receive the following error

Please advice ...

[2017-09-22 18:36] andreolvr commented on #1316
I installed the newest version (rc1), but the config/jwt.php file wasn't created, and JWTAuth::attempt always returns false.

[2017-09-22 18:37] andreolvr commented on #1316
I installed the newest version (rc1), but the config/jwt.php file wasn't created, is it normal?

[2017-09-22 20:32] mbezhanov commented on #1316
@andreolvr did you run:

`php artisan vendor:publish --provider="Tymon\JWTAuth\Providers\LaravelServiceProvider"`?

This is what creates the `config/jwt.php` file.

[2017-09-23 02:13] arturcesarmelo opened #1322 "Method once does not exists."
[code]
I'm using Lumen at latest version, and **"tymon/jwt-auth": "^1.0@dev"**

Everything works fine, since registering the class at bootstrap/app.php until import classes into controllers and models. This dependency is well done on my project.

But, whenever i try to request a POST to a method (to authenticates an user), i receive this error.

![captura de tela 2017-09-22 as 23 11 41](https://us

[2017-09-23 19:54] lomholdt commented on #1316
@mbezhanov How exactly do you refresh a token? I followed @andreolvr example above, but now I have an expired token that can't be refreshed. I'm wondering how you do that?

[2017-09-24 07:46] sajjaadalipour opened #1323 "Problem with post request"
This is my code for pars token `JWTAuth::parseToken()->authenticate();` .
This worked fine when my request is `GET` but not worked fine when my request is **POST**.
My exception is  **The token could not be parsed from the request**

[2017-09-24 15:03] mbezhanov commented on #1316
@lomholdt Generally speaking, I use the `jwt.renew` middleware bundled with the library, but this won't work with expired tokens (for a solution with expired tokens, see the bottom part of my post)

[code]

What this does is that whenever you issue a request to `/auth/renew` with a valid JWT token, you will get a new token back. The new token is sent in the "Authorization" header of the HTTP Respo

[2017-09-24 16:02] arturcesarmelo commented on #1322
Please, somebody help me!

[2017-09-24 16:27] arturcesarmelo commented on #776
@tdhsmith I'm using this package at version **ˆ1.0@beta** and follow similar instructions that you recommended follow.

Here is my **bootstrap/app.php**

[code]
Here is my **config/app.php**

[code]

And the last one **AuthController@login** method.

[code]

What i'm doing wrong?

Whenever i request a POST to this login method, this throw this error on my face:

![captura de tela 2017-09-22 as 23

[2017-09-24 17:30] mbezhanov commented on #1309
@DreamboyA Are you using the latest version?

`composer require tymon/jwt-auth "1.0.0-rc1"`

[2017-09-24 17:33] mbezhanov commented on #1323
@smartdeath Are you sending an "Authorization" header with your HTTP request, containing the token?

[2017-09-25 05:01] sajjaadalipour commented on #1323
@mbezhanov I don't send any "Authorization" header but I didn't the problem when my method was **GET**

[2017-09-25 05:19] mbezhanov commented on #1323
@smartdeath This exception message indicates that the library cannot retrieve and parse the token from the request you are sending. How are you sending your token? Possible options are:

1. As an HTTP Request header (including `Authorization: Bearer YOUR_TOKEN_GOES_HERE` header when forming the request)
2. As a query parameter (e.g. submitting a request to `https://example.com/?token=YOUR_TOKEN_GO

[2017-09-25 05:29] sajjaadalipour commented on #1323
@mbezhanov Thank you for your help.

[2017-09-25 05:29] #1323 closed, assigned to nobody

[2017-09-25 18:10] lomholdt commented on #1316
@mbezhanov Thanks a million! This was really helpfull! I got the refresh working! Do you know if it's possible to refresh an expired token with the refresh middleware? Or will it only refresh a valid token.

[2017-09-25 18:25] mbezhanov commented on #1316
@lomholdt `jwt.refresh` allows you to use an expired token, while `jwt.renew` doesn't

[2017-09-25 20:26] lomholdt commented on #1316
@mbezhanov I have everything working now! Thanks a million! Very much appreciated.

[2017-09-25 21:16] shacall2 opened #1324 "Laravel 5.5: always getting 'invalid_credentials'"
I have been banging my head for a week now, trying to figure out what I'm doing wrong.  There are quite a few threads like this, so I was hoping I wouldn't have to post another "invalid_credentials" thread.  Unfortunately, I'm at a loss.

I generated 12 random users, using tinker.  All with the same generic password "secret".  I can't seem to get any user to log in via my REST client.  Any help wo

[2017-09-26 02:09] shacall2 commented on #1324
Should the attempt method in the JWTAuth facade be empty?  Here's what my JWTAuth facade looks like:

[code]

[2017-09-26 02:23] shacall2 commented on #1324
I should have mentioned the versions I'm running:
[code]

[2017-09-26 03:11] shacall2 commented on #1324
I finally got it all working.  I started fresh, and followed comment 2 in the thread below:

https://github.com/tymondesigns/jwt-auth/issues/1316

Everything works as expected now!

[2017-09-26 11:14] RalfF1 opened #1325 "GetUserFromToken() - Sometimes Token gets cut"
Following situation:
User is logged in and has a token

Within the request sometimes following error message occurs from the function GetUserFromToken(): {"error":"token_not_provided"}  400 Bad Request

Reason is that the token with around 276 characters is cut to around 146 characters.

E.g. Chrome Header has following content:
**BearereyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOjEsImlzcyI6Imh0

[2017-09-26 13:29] #1324 closed, assigned to nobody

[2017-09-26 22:17] Sheshkumar123 commented on #205
http://www.expertphp.in/article/api-authentication-using-jwt-in-laravel-5-4-tutorial-with-example. Here I am following each step as defined.  but in config folder there is no jwt.php existing and when trying to publish using php artisan vendor -- publish getting message : nothing to publish for tag [] ,if I think already publish ,then  in next step for command
php artisan jwt:secret
There  are no

[2017-09-27 07:37] CWallenberg opened #1326 "Class 'Tymon\JWTAuth\Providers\JWT\NamshiAdapter' not found"
[code]
The class is named Namshi.php instead of NamshiAdapter.php.

[2017-09-27 08:17] zulfaqarzahri commented on #851
You need to use `fromUser()`

[code]
then just `return $token`

[2017-09-27 09:58] pkitatta commented on #1298
`fire()` to `handle()` works just fine. Thanks @jaksa-m

[2017-09-27 12:56] przemyslaw-leczycki-valueadd commented on #1319
You should use `customClaims` method now.
I had similar issue after updating from 1.0.0-beta.3 to 1.0.0-rc.1. Method `addClaim` is protected now.
[commit](https://github.com/tymondesigns/jwt-auth/commit/ef4e5c9711c4d42ed581ddde6ffe341917f29607)
There is no error because it's muted by `__call` method.
[code]

[2017-09-27 13:18] tymondesigns commented on #1319
The way to do it is
[code]

[2017-09-27 13:22] przemyslaw-leczycki-valueadd commented on #1319
@tymondesigns can I use safely `customClaims` or should I change to `claims` alias? Do you plan to deprecate it in the future?

[2017-09-27 18:17] afshines commented on #1029
Another reason is to use the user object to create a license

$token = JWTAuth::fromUser($user)

  try {
                // attempt to verify the credentials and create a token for the user
                if (!$token = JWTAuth::fromUser($user)) {
                    return response()->json(['error' => 'invalid_credentials'], 401);
                }
            } catch (JWTException $e) {

[2017-09-27 18:17] afshines commented on #896
Another reason is to use the user object to create a license

$token = JWTAuth::fromUser($user)

  try {
                // attempt to verify the credentials and create a token for the user
                if (!$token = JWTAuth::fromUser($user)) {
                    return response()->json(['error' => 'invalid_credentials'], 401);
                }
            } catch (JWTException $e) {

[2017-09-27 18:17] afshines commented on #1187
Another reason is to use the user object to create a license

$token = JWTAuth::fromUser($user)

  try {
                // attempt to verify the credentials and create a token for the user
                if (!$token = JWTAuth::fromUser($user)) {
                    return response()->json(['error' => 'invalid_credentials'], 401);
                }
            } catch (JWTException $e) {

[2017-09-27 19:41] #1326 closed, assigned to nobody

[2017-09-29 13:43] mhrahul commented on #1240
I am sending it as header at Laravel 5.4.30 but still the same message arrived!

[2017-09-30 04:02] matriphe commented on #860
Worked like charm in Laravel 5.5 too.

[2017-09-30 05:14] sakibulalam commented on #1246
@jgrossi , I am also facing this issue. I found this as a good solution. Basically, It extends the TestCase class for use specifically with JWT and includes the token to the header

[Api Testing With Laravel 5.1 (jwt-auth)](https://gist.github.com/jwalton512/e3b320bef85be88e8bd5)

[2017-09-30 20:29] Punksolid commented on #1326
Where/how did you fixed it?

[2017-10-01 07:15] tamacroft commented on #1303
me too, I have to apply JWTSubject in Model but not affected

[2017-10-01 08:34] CWallenberg commented on #1326
I realized that I was using and old version of the config file. Deleted the old version of the config file and published the new one and it worked.

[2017-10-01 11:24] ramibadran opened #1329 "Authorization header not working wilth my API"
Hi Guys

When i add an Authorization header <Bearer xcxcxcxc> to my api call which used JWT token i got the following error: NotFoundHttpException:

note:

im using nginx
my htaccess file:
i can generate JWT token

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes If Not A Folder...
    Rewri

[2017-10-01 18:23] tymondesigns commented on #1319
@przemyslaw-leczycki-valueadd no deprecations planned for that 👍

[2017-10-01 18:23] #1319 closed, assigned to nobody

[2017-10-02 08:41] imadHafsi commented on #670
thank you @unabomber87, it's really  helped me

[2017-10-02 12:04] rushabhmadhu18121987 opened #1330 "Facing Issue in JWT::attempt() like Call to a member function prepare() on null"
Hello
I am facing one issue which is "Call to a member function prepare() on null".
We are using Laravel5.4+ MongoDB. This error is comming when we try to generate Token using
$credentials['email'] = $request->get('email');
$credentials['password'] = $request->get('password');
$token = JWTAuth::attempt($credentials);

I have not created seperate model for Users and using the default Users Controll

[2017-10-02 12:21] ghost commented on #281
Just to add a little context, there goes your secret key:
![image](https://user-images.githubusercontent.com/4084252/31076951-5008e3da-a785-11e7-8d5f-d60674ed4a46.png)

[2017-10-02 19:11] SeoRoman commented on #340
<retracted>

Was not using the rc-1

[2017-10-02 21:35] fredrabelo opened #1331 "Works local (php5.6), but not on AWS (php 7): Argument 1 passed to Tymon\JWTAuth\JWTManager::encode() must be an instance of Tymon\JWTAuth\Payload, instance of Tymon\JWTAuth\Token given"
Jwt is working fine on my local, but when used at the server (AWS) it gives me this error:

FatalThrowableError in JWTManager.php line 63:

Type error: Argument 1 passed to Tymon\JWTAuth\JWTManager::encode() must be an instance of Tymon\JWTAuth\Payload, instance of Tymon\JWTAuth\Token given

line 63 is function encode:

    public function encode(Payload $payload)
    {
        $token = $this->jwt

[2017-10-02 21:37] fredrabelo commented on #1331
The only difference between my local and the server is the php version:
5.6 on local, 7.0 on AWS. We just recently changed to AWS. The old server was also 5.6.
Does that mean JWT does not work on php 7.0 ?

[2017-10-02 22:58] kamihouse commented on #1316
Hi guys.
Do you know of any way to override the user model?

I'm trying to use multi-authentication, so in my controller on **constructor**, based on the routes, I add the code `Config::set('auth.providers.users.model', Models/Usuario::class)` so I can call the `JWTAuthmethod::attempt($credentials);` fine.

Is there any better way to do this?
Thanks!

[2017-10-02 23:04] kamihouse commented on #1250
In this way, the configuration that prevails is the last one entered in the router file

[2017-10-03 01:18] kamihouse commented on #1316
Updated doc: https://github.com/tymondesigns/jwt-auth/blob/docs/docs/quick-start.md

+ new URL: https://github.com/tymondesigns/jwt-auth/blob/develop/docs/quick-start.md

[2017-10-03 06:41] OscarSith commented on #1274
@RJustice
`public function getJWTCustomClaims() { return [ 'user_nickname' => $this->user_nickname, ]; }`
Doesn't work :/

[2017-10-04 06:20] arfanmukhtar commented on #839
User attempt() instead of check .. It's work for me.

[code]

[2017-10-04 08:21] spirant commented on #1321
Hi

Implementing option 3 may cause some confusion in your implementation, so it may be worth considering having one routes file for your users (web.php) and a separate routes file for your api (api.php). Where Option 3 would exist you would have those routes appear in **both** files. Your API would hit the API route and your users would hit the Web route. This would help keep both sets of routes

[2017-10-04 08:42] spirant commented on #1314
I believe that the Blacklist Grace Period was not implemented in 0.5.12. Using the the Dev branch (v1.x) may solve this issue.

[2017-10-05 01:14] chillcaw commented on #1319
If I use either of those factory methods i get an error:
'JWT payload does not contain the required claims'

NOTE: This was fixed by removing the ->make() method at the end. E.g:
$payload = factory()->aid($request->get('application_id'));

[2017-10-05 11:25] craigcartmell commented on #1220
Require the latest release candidate branch.

The provider was renamed to `Tymon\JWTAuth\Providers\LaravelServiceProvider::class` so just replace this in your `config/app.php` file.

Or `LumenServiceProvider` if you're using Lumen.

[2017-10-05 11:46] ecampoBS opened #1332 "Auth token not being send with the RefreshToken middleware(Laravel) with an error response"
I'm having a harsh time trying to get the single use token flow working.

I have set up the _RefreshToken_ middleware by adding the `'jwt.refresh' => 'Tymon\JWTAuth\Middleware\RefreshToken'` to the `Kernel.php` and I'm currently recieving the refreshed token after each successful request. The problem is that on error responses (such as the one handled with the HTTPException helper class provided b

[2017-10-05 12:22] FHoulbreque commented on #1314
Probably this is stating the obvious, but don't forget `php artisan config:cache` if you changed the .env file.

[2017-10-05 14:49] jowxavier opened #1333 "Validate as user credentials by email"
How can I validate user credentials by email?

Thank you

[2017-10-05 18:06] mycarrysun commented on #1008
@paolog22 I'm running into this issue as well and can't find a resolution anywhere, thinking maybe nbf could be another issue?

Can you explain what might be wrong with nbf?

[2017-10-05 22:26] usamamuneerchaudhary commented on #1298
handle() { $this->fire() } worked for me.

[2017-10-06 07:56] paolog22 commented on #1008
@mycarrysun hi can you show some logs ?
i fix my problem with the time
@wemersonjanuario hi sorry late reply been busy but do please check the time being include in the token..

[2017-10-06 10:31] Kyslik commented on #1246
@jgrossi `actingAs` or `loginAs` is not what you want to use, if your API does not use sessions you simply send token along all the time.

    protected function apiAs($user, $method, $uri, array $data = [], array $headers = [])
    {
        $headers = array_merge([
            'Authorization' => 'Bearer '.\JWTAuth::fromUser($user),
        ], $headers);

        return $this->api($method, $uri,

[2017-10-06 10:56] jgrossi commented on #1246
@Kyslik exactly... the trait I shared in gist does exactly that, sending the token in the header, but if the user is missing, it just creates one for me and sends his token.

[2017-10-06 11:47] dunin opened #1334 "Allow use own header for authentication"
Hi there!

Is it possible?

src/Http/Parser/AuthHeaders.php

`
protected $header = 'authorization';
`

[2017-10-06 13:01] mycarrysun commented on #1008
@paolog22 it was the format of the Authorization header....syntax was wrong. The package I got the starter template from was in `Bearer: [token goes here]` which did not work until I changed it to `Bearer : [token]` and worked the entire day. Something changed though because it stopped working and what fixed it was changing the format to `Bearer [token]`.

[2017-10-06 13:47] henriqueweiand opened #1335 "I need to create a different middleware"
I need to create a different middleware,

My need is to receive the request in the middleware, verify the presence of the token, validate the JWT format as secret only. The difference of this to the traditional method of auth according to WIKI, is that I am working as micro services, so I do not have the user base in the service consulted.

I started an implementation using the JWTAuth facade to r

[2017-10-08 09:20] zhangwei900808 opened #1336 "how to remove jwt-auth?"
when I used composer remove it but it error!
[code]

[2017-10-08 10:00] CWallenberg commented on #1336
Try and remove the reference to
[code]
in the `providers` array in app.php. Then clear config `php artisan config:clear` and then run `composer remove tymon/jwt-auth` and it should work.

[2017-10-08 10:13] zhangwei900808 commented on #1336
ok,thanks a lot

[2017-10-08 10:13] #1336 closed, assigned to nobody

[2017-10-08 12:38] dhayanithims commented on #872
@cristianpontes shouldn't we ask the user to re-login if the token is expired? if we refresh the token automatically, we might end up giving the user a never expiring page, isn't it? Please clarify me. Thanks.

[2017-10-08 20:44] karam94 opened #1337 "Token invalid for a minute... then becomes valid?"
Building a project as an API with Laravel, that utilises JWT-Auth.

On my dev machine, I never encountered this issue.
However after deploying to Heroku, this issue has become apparent.

Basically, I log in and my client receives a JWT token.
However, it takes a good 1-2 minutes before that JWT token is actually usable.

For example, I can keep sending the token I receive across using postman and

[2017-10-09 19:47] karam94 commented on #1337
Solved the problem.
Debugged the JWT being returned from Heroku and the 'iat' claim and others were all set in the future.
Obviously, my Heroku server was on the correct unix time otherwise it wouldn't return invalid token as the token was in the future.
So, I refreshed my Macbook Pro's time and it was brought back about 30 seconds and the problem no longer persists...

However, I do worry if any